USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientView_NotesHistory]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientView_NotesHistory](
	[PVNHID] [int] IDENTITY(1,1) NOT NULL,
	[PVID] [int] NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Notes] [varchar](2000) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[IsPinned] [int] NOT NULL,
	[IsHidden] [int] NULL,
	[PinnedBy] [varchar](50) NULL,
	[PinnedDate] [datetime] NULL,
	[HiddenBy] [varchar](50) NULL,
	[HiddenDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientView_NotesHistory] ADD  DEFAULT ('0') FOR [IsPinned]
GO
ALTER TABLE [dbo].[PatientView_NotesHistory] ADD  DEFAULT ((0)) FOR [IsHidden]
GO
