USE [MediTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientViewRefresh_ETL]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PatientViewRefresh_ETL]                                       
as                                         
begin                      
                  
drop table if exists #AllpatientsInfo                                        
                                        
select *,SSN+replace(DateOfBirth,'-','') SSN_DOB ,                                
PatientName+replace(DateOfBirth,'-','') Name_DOB                                
into #AllpatientsInfo                                
from                                 
(                                
select GlobalId,                                
replace(                                
case when SocialSecurityNumber like '%000000%' then '' else SocialSecurityNumber end                                
,'         ','')                                
as SSN                                        
,FirstName +' '+LastName as PatientName,DateOfBirth,                            
--LastName+' '+ FirstName as DisplayName ,                         
case when MiddleInitial<>'' then                        
Lastname+','+FirstName+' '+ MiddleInitial                         
else LastName+','+FirstName end as DisplayName,                        
LastName,FirstName,MiddleInitial,    MiddleInitial as Max_MiddleInitial ,                   
street,city ,state,zip ,Phone ,q.QueueName,p.PatientId,p.CustomField3   ,                            
case when q.QueueName like '%plus%pack%' then  1 else 0 end isPPMarked,p.Source_Indicator                            
,p.LastModified,p.Record_Updated_date  ,p.InActive  ,p.PrimaryAddressId,p.PatientPhone1Id,        
p.PatientPhone2Id        
from                   
pp_ods..rxqPatient p with(nolock)                       
left join pp_ods..rxqQueue q  with(nolock)                                        
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator                  
left join pp_ods..rxqPatient_DLT del with(nolock) on del.PatientId=p.PatientId                  
and del.Source_Indicator=p.Source_Indicator                  
where del.patientid is null                   
)abc          
  
update #AllpatientsInfo set SSN='' where SSN='999999999'  
                                                   
update a set a.QueueName=r.QueueName                                        
--select a.*                                         
from                                         
#AllpatientsInfo a                                        
join                                         
(                                        
select distinct globalid,QueueName from #AllpatientsInfo                                        
where QueueName like '%plus%pack%' and globalid<>''                                        
) r on r.globalid=a.globalid and a.globalid<>''                                        
where (a.QueueName is null  or                                         
a.QueueName not like '%plus%pack%')                      
                                                               
update a set a.QueueName=r.QueueName                                        
--select a.*  --distinct a.patientname                                         
from                                         
#AllpatientsInfo a                                        
join                                         
(                                        
select distinct SSN,QueueName,DateOfBirth from #AllpatientsInfo                                        
where QueueName like '%plus%pack%' and globalid='' and SSN<>''                                        
) r on r.SSN=a.SSN and r.DateOfBirth=a.DateOfBirth                                          
and r.SSN<>'' and r.SSN not in (                                        
'0000000  '                                        
,'00000000 '                                        
,'000000000')                                        
where (a.QueueName is null  or                                         
a.QueueName not like '%plus%pack%') and  a.globalid=''                                 
--order by SSN,patientname                  
                                
update a set a.QueueName=r.QueueName                     
--select a.*  --distinct a.patientname                                         
from         
#AllpatientsInfo a                                        
join                                         
(                      
select distinct PatientName,QueueName,DateOfBirth from #AllpatientsInfo                                        
where QueueName like '%plus%pack%' and globalid='' and SSN=''                                        
) r on r.PatientName=a.PatientName and r.DateOfBirth=a.DateOfBirth                                          
where (a.QueueName is null  or                                         
a.QueueName not like '%plus%pack%') and  a.globalid='' and a.SSN=''                                        
                                           
update a set a.QueueName='pluspack'                                        
---select distinct a.GlobalId                                        
--select a.*,p.*  --distinct a.patientname                             
from                                           
#AllpatientsInfo a                                   
join                                         
(                                        
select distinct GlobalId,SSN,DateOfBirth,PatientName                                        
from                                        
#AllpatientsInfo  with(nolock)                                         
where  QueueName like '%plus%pack%'                                        
)p                                        
on                                        
(                                              
--(p.GlobalId=a.GlobalId and p.GlobalId <>'' and a.GlobalId<>'')                                        
--  or                                              
  (                                         
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''                                              
and  a.SSN<>''                                              
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth                                 
  )                                              
or                                              
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )                                              
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName                                              
  )                                              
)                                              
where (a.QueueName is null  or                                           
a.QueueName not like '%plus%pack%')                  
                
update a set a.QueueName='pluspack'                                      
--select a.*                                       
from                                       
#AllpatientsInfo a                                      
join                                       
(                                      
select distinct globalid from                 
PatientView with(nolock) where ActiveStatus='active'                                      
 and globalid<>''                                      
) r on r.globalid=a.globalid and a.globalid<>''                                      
where (a.QueueName is null  or                                         
a.QueueName not like '%plus%pack%')                  
                
update a set a.QueueName='pluspack'                                     
--select a.*  --distinct a.patientname                                       
from                                       
#AllpatientsInfo a                                      
join                                       
(                                      
select distinct SSN,DateOfBirth                                     
from PatientView with(nolock) where ActiveStatus='active'                                       
and globalid='' and SSN<>''               
) r on r.SSN=a.SSN and r.DateOfBirth=a.DateOfBirth                                        
and r.SSN<>'' and r.SSN not in (                                      
'0000000  '                                      
,'00000000 '                                      
,'000000000')                                      
where (a.QueueName is null  or                                         
a.QueueName not like '%plus%pack%')  and  a.globalid=''                 
                
update a set a.QueueName='pluspack'                                
--select a.*  --distinct a.patientname                                       
from                                       
#AllpatientsInfo a                                      
join                                       
(         
select distinct PatientName,DateOfBirth                                     
from PatientView with(nolock) where ActiveStatus='active'                                     
and  globalid='' and SSN=''                                      
) r on r.PatientName=a.PatientName and r.DateOfBirth=a.DateOfBirth                    
where (a.QueueName is null  or                                         
a.QueueName not like '%plus%pack%')  and  a.globalid='' and a.SSN=''                
                
update a set a.QueueName='pluspack'                                    
---select distinct a.GlobalId                                    
--select a.*,p.*  --distinct a.patientname                                       
from                                       
#AllpatientsInfo a                                    
join PatientView p with(nolock)                                     
on                                    
(      (                                     
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''                                          
and  a.SSN<>''                                          
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth                                          
  )                                          
or                                          
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )                                
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName                                          
  )                                          
)                                          
where (a.QueueName is null  or                                         
a.QueueName not like '%plus%pack%')  and p.ActiveStatus='active'                
                
                                
--select * from #AllpatientsInfo a where PatientId='100659' and GlobalId='136632'                   
                
 delete a from                                  
--select distinct QueueName from                                 
 #AllpatientsInfo a                                        
where (QueueName is null or  QueueName not like '%plus%pack%'   )                                    
                                
                                
--select * from #AllpatientsInfo                                 
--where DateOfBirth in ('1969-12-19','2006-09-28')                                
                                
drop table if exists #Distinctdetails                                
                                 
select PatientName,DateOfBirth,max(GlobalId) GlobalId,max(ssn) ssn                                
into #Distinctdetails                                
from                                 
(select distinct GlobalId,ssn,PatientName,DateOfBirth                                
from #AllpatientsInfo                                 
)p                                
group by PatientName,DateOfBirth                                
                                
                                
                                
update p set p.GlobalId=d.GlobalId , p.ssn=d.ssn                                
--select d.GlobalId,d.ssn,p.*                                
from #AllpatientsInfo p         
join                                
#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth                                
where  (p.GlobalId='' or p.ssn='')                                
and (d.GlobalId<>'' or d.ssn<>'')                                
                                
update p set p.GlobalId=r.GlobalId                            
--select  r.* ,P.*                  
from                                 
(                            
select  ssn,DateOfBirth ,max(GlobalId)   GlobalId                            
from #AllpatientsInfo                               
where ssn<>'' and DateOfBirth is not null                             
group by ssn,DateOfBirth                            
having max(GlobalId) <>''                            
)r                          
join                             
#AllpatientsInfo p on p.SSN=r.SSN and p.DateOfBirth=r.DateOfBirth                            
where p.GlobalId=''                             
                                   
             
update p set Max_MiddleInitial=res.MiddleInitial                        
--select res.MiddleInitial,p.MiddleInitial,p.*                   
from #AllpatientsInfo p                         
join                         
(                        
select PatientName,DateOfBirth ,max(MiddleInitial) as MiddleInitial                        
from #AllpatientsInfo                        
where DateOfBirth is not null                         
group by PatientName,DateOfBirth                         
having max(MiddleInitial)  <> ''                        
) res on res.PatientName=p.PatientName and res.DateOfBirth=p.DateOfBirth                        
where replace(p.MiddleInitial,' ','')=''                    
                  
alter table #AllpatientsInfo                  
add PatientIdentifier varchar(200)                  
                  
                  
update #AllpatientsInfo set PatientIdentifier=                  
case when Globalid <> '' then  Globalid                                      
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                                        
when  Globalid = ''  and ssn=''                                       
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                   
                        
 update c set DisplayName= case when MiddleInitial<>'' then                        
Lastname+','+FirstName+' '+ MiddleInitial                         
else LastName+','+FirstName end                        
--select PatientName,DateOfBirth , MiddleInitial,*                        
from #AllpatientsInfo c                    
join PatientView v on c.PatientIdentifier=v.PatientIdentifier                  
                        
 update c set DisplayName= case when Max_MiddleInitial<>'' then                        
Lastname+','+FirstName+' '+ Max_MiddleInitial                         
else LastName+','+FirstName end                        
--select PatientName,DateOfBirth , MiddleInitial,*                        
from #AllpatientsInfo c                    
left join PatientView v on c.PatientIdentifier=v.PatientIdentifier                  
where v.PatientIdentifier is null                   
                                                
                                        
--drop table if exists #compliancePatients                     
                                     
--;With CTE as                                         
--(                                        
                                        
--select                                         
--GlobalId, SSN,PatientName,DateOfBirth, DisplayName,                         
--LastName,FirstName,MiddleInitial,                        
--street,city ,state,zip ,Phone ,QueueName,                                        
-- cast('No' as varchar(3)) as MediAssist,                                        
--  PatientIdentifier                                        
--,ROW_NUMBER() over(partition by                                         
--    PatientIdentifier                                    
----order by rtrim(ltrim(SSN)) desc ,street desc )RNK                                        
--order by a.isPPMarked desc,patientname ,isnull(try_cast(rtrim(ltrim(SSN)) as int),                            
--rtrim(ltrim(SSN))) desc ,street desc )RNK ,a.isPPMarked                                    
--from                                         
--#AllpatientsInfo a                                                 
--)                  
-----select *                                         
--select * into  #compliancePatients                                         
--from cte where RNK =1                                        
-----and PatientName='ANNA STEPP'                                        
                                                                        
                                        
--;with rec as                                         
--(           
--select * ,ROW_NUMBER()                                         
--over(partition by ssn,DateOfBirth order by isPPMarked desc,globalid desc,ssn desc )                                         
--Rnk2                                         
--from                                         
--#compliancePatients                        
--where  ssn<>''                        
--)                                        
                                        
--delete                                        
-----select *                                         
--from rec where Rnk2 > 1                                  
                                
                                      
--;with rec1 as                                         
--(                                        
--select * ,ROW_NUMBER()                                         
--over(partition by PatientName,DateOfBirth order by globalid desc,ssn desc )                            
--Rnk2                                         
--from                                         
--#compliancePatients                                         
--)                                        
                                          
--delete                                        
-----select *                                         
--from rec1 where Rnk2 > 1                                 
                                
drop table if exists #compliancePatients         
        
;With CTE as                                       
(                                      
select * , ROW_NUMBER() over(partition by                                       
    PatientIdentifier order by a.isPPMarked desc,patientname ,        
 isnull(try_cast(rtrim(ltrim(SSN)) as int),                            
rtrim(ltrim(SSN))) desc ,street desc ) Rnk_Pt                               
from                                       
#AllpatientsInfo a                                               
) ,addr as        
(        
select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                       
    PatientIdentifier order by ad.lastmodified desc) Rnk_addr        
 from #AllpatientsInfo a        
left join pp_ods..rxqAddress ad on ad.cAddressId= a.PrimaryAddressId         
and ad.Source_Indicator=a.Source_Indicator        
),        
ph1  as        
(select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                       
    PatientIdentifier order by ad.lastmodified desc) Rnk_ph1        
 from #AllpatientsInfo a        
left join pp_ods..rxqPhoneNumber ad on ad.cPhoneNumberId= a.PatientPhone1Id         
and ad.Source_Indicator=a.Source_Indicator)        
,        
ph2  as        
(select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                       
    PatientIdentifier order by ad.lastmodified desc) Rnk_ph2        
 from #AllpatientsInfo a        
left join pp_ods..rxqPhoneNumber ad on ad.cPhoneNumberId= a.PatientPhone2Id         
and ad.Source_Indicator=a.Source_Indicator)       
        
select c.PatientIdentifier,c.DisplayName,c.GlobalId,c.SSN,c.DateOfBirth,c.PatientName,        
c.LastName,c.FirstName,c.MiddleInitial,c.QueueName,c.isPPMarked        
,upper(addr.Street) Street,upper(addr.City) City     
,upper(addr.State) State  ,addr.Zip,addr.ZipPlus,cast('No' as varchar(3)) as MediAssist,        
--addr.LastModified as LastModified_addr,        
ph1.PhoneNumber PhoneNumber_ph1,        
--,ph1.PhoneNumberType PhoneNumberType_ph1        
--,ph1.LastModified LastModified_ph1,        
ph2.PhoneNumber PhoneNumber_ph2        
--,ph2.PhoneNumberType PhoneNumberType_ph2        
--,ph2.LastModified LastModified_ph2 --,Rnk_addr,Rnk_ph1,Rnk_ph2        
--,addr.Source_Indicator Source_Indicator_addr,ph1.Source_Indicator Source_Indicator_ph1        
--,ph2.Source_Indicator Source_Indicator_ph2         
into #compliancePatients        
from         
cte c         
left join addr on addr.PatientIdentifier =c.PatientIdentifier and addr.Rnk_addr=1        
left join ph1 on ph1.PatientIdentifier =c.PatientIdentifier and ph1.Rnk_ph1=1        
left join ph2 on ph2.PatientIdentifier =c.PatientIdentifier and ph2.Rnk_ph2=1        
where c.Rnk_Pt=1        
        
                                              
                                        
update P set MediAssist='Yes'                                        
--select p.*                                     
from #compliancePatients p          
join (select distinct GlobalId                                          
from pp_ods..rxqPatient with(nolock)                                        
where CustomField3 like '%MED%ASSIST%'                                        
and GlobalId<>''                                        
) a on p.GlobalId=a.GlobalId                                        
where p.GlobalId<>'' and MediAssist='NO'                                        
                                        
update p set MediAssist='Yes'                                        
--select p.*                                         
from #compliancePatients p                                        
join (select distinct SocialSecurityNumber,DateOfBirth                                     
from pp_ods..rxqPatient with(nolock)                                        
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber<>'' /*SSN Not blank*/                                        
and GlobalId=''                                        
--order by  SocialSecurityNumber                                         
) a on p.ssn=a.SocialSecurityNumber                                        
and p.DateOfBirth=a.DateOfBirth                                        
where p.GlobalId='' and  MediAssist='NO'                                        
                                        
update p set MediAssist='Yes'                                        
--select p.*                                         
from #compliancePatients p                                        
join (select distinct FirstName +' '+LastName as PatientName,DateOfBirth                                         
from pp_ods..rxqPatient with(nolock)                                        
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber=''                                         
and GlobalId=''                               
--order by  SocialSecurityNumber                                         
) a on p.PatientName=a.PatientName                                        
and p.DateOfBirth=a.DateOfBirth                                        
where p.GlobalId='' and  MediAssist='NO'                                        
                                        
                                                                      
                                        
update p set p.MediAssist=c.MediAssist                                         
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()                                        
--select p.*                                         
from                
#compliancePatients c              
join [PatientView] p on c.GlobalId=p.GlobalId and c.GlobalId<>''                                        
where  p.MediAssist <> c.MediAssist                                         
                                        
                                
                                
                                                       
update p set p.ssn=c.ssn                                         
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()                                        
,Remarks='ssn update'                                        
--select c.ssn,c.globalid,c.patientname,c.dateofbirth,p.*                                         
from                                         
#compliancePatients c                  
join [PatientView] p on c.GlobalId=p.GlobalId                                         
where  p.ssn='' and c.GlobalId<>'' and c.ssn<>''            
        
update p set p.street=c.Street,p.city=c.City,p.state=c.State,p.zip=c.Zip,p.Phone=c.PhoneNumber_ph1,        
p.Phone2=c.PhoneNumber_ph2 ,p.RecordModifiedDate=getdate()                                                   
,Remarks='PD update' ,p.RecordModifiedBy='SS_ETL_Job'             
--select c.Street , c.City,c.State,c.Zip,c.PhoneNumber_ph1,c.PhoneNumber_ph2,        
--p.street,p.city,p.state,p.zip,p.Phone,p.Phone2        
from #compliancePatients c         
join        
[PatientView] p         
on c.GlobalId=p.GlobalId and p.GlobalId<>''        
where CHECKSUM(c.Street , c.City,c.State,c.Zip,c.PhoneNumber_ph1,c.PhoneNumber_ph2)         
<> CHECKSUM(p.street,p.city,p.state,p.zip,p.Phone,p.Phone2)        
        
                                                                             
delete from                                         
#compliancePatients where GlobalId in (                                        
select [GlobalId] from [PatientView] p                                        
where [GlobalId]<>''                                         
)                                  
                                
update p set p.GlobalId=c.GlobalId                                         
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()                                        
--,p.PatientIdentifier =c.GlobalId                     
,Remarks='GlobalId update'          
--select p.* ,c.globalid                                        
from                                         
#compliancePatients c                                         
join [PatientView] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN                                        
where p.GlobalId='' and p.ssn<>'' and c.GlobalId<>''                                         
                                                                        
                                        
update p set p.GlobalId=c.GlobalId , p.ssn=c.SSN                                        
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                                        
--p.PatientIdentifier=                                        
--case when c.Globalid <> '' then  c.Globalid                                        
--when  c.Globalid = ''  and c.ssn<>'' then c.SSN+replace(cast(c.DateOfBirth  as varchar(15)),'-','')                                          
--when  c.Globalid = ''  and c.ssn=''                                         
--then c.PatientName+replace(cast(c.DateOfBirth  as varchar(15)),'-','') end ,                               
Remarks='GlobalId_SSN update'                                
--select p.* ,c.globalid,c.ssn                                        
from                                         
#compliancePatients c                                         
join [PatientView] p on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName                                        
where p.GlobalId='' and p.ssn='' and ( c.GlobalId<>'' or c.ssn<>'')                                        
            
                       
update p set p.GlobalId=c.GlobalId                                         
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                                        
--p.PatientIdentifier= c.GlobalId   ,                    
Remarks='GlobalId update'                                      
--select p.* ,c.globalid,c.ssn                                        
from                                         
#compliancePatients c                                         
join [PatientView] p                                 
on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName                                        
where p.GlobalId='' and p.ssn<>'' and ( c.GlobalId<>'' and c.ssn='')           
        
update p set p.street=c.Street,p.city=c.City,p.state=c.State,p.zip=c.Zip,p.Phone=c.PhoneNumber_ph1,        
p.Phone2=c.PhoneNumber_ph2 ,p.RecordModifiedDate=getdate()                                                   
,Remarks='PD update' ,p.RecordModifiedBy='SS_ETL_Job'          
--select c.Street , c.City,c.State,c.Zip,c.PhoneNumber_ph1,c.PhoneNumber_ph2,        
--p.street,p.city,p.state,p.zip,p.Phone,p.Phone2        
from #compliancePatients c         
join        
[PatientView] p         
on c.PatientIdentifier=p.PatientIdentifier         
where CHECKSUM(c.Street , c.City,c.State,c.Zip,c.PhoneNumber_ph1,c.PhoneNumber_ph2)         
<> CHECKSUM(p.street,p.city,p.state,p.zip,p.Phone,p.Phone2)        
                               
                                        
delete c from                                         
--select * from                                         
#compliancePatients c                                         
join [PatientView] p on c.GlobalId=p.GlobalId and p.GlobalId <>''                                        
                                        
delete c from                                  
--select * from                                 
#compliancePatients c                                    
join [PatientView] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN                                        
and  p.ssn<>''                                        
                                       
                                    
delete c from                                 
---select c.* from                                 
#compliancePatients c                                         
join [PatientView] p on c.DateOfBirth=p.DateOfBirth                                 
and c.PatientName=p.PatientName                                   
---and p.GlobalId='' and p.ssn=''                             
                                        
delete c from                                 
---select c.* from                                 
#compliancePatients c where DateOfBirth is null                                        
                                        
Insert into [PatientView]                                        
(                                        
    [GlobalId] ,                                        
 SSN ,                                        
 [PatientName],                            
 DisplayName,                          
 [DateOfBirth] ,                                        
 [street] ,                                        
 [city] ,                                        
 [state] ,                                        
 [zip] ,                                        
 [Phone] ,         
  phone2 ,        
 MediAssist ,                                        
 ActiveStatus ,                                        
 Queuename ,                                        
 RecordCreatedBy ,                                        
 RecordCreatedDate  ,                                        
 RecordModifiedBy ,                                        
 RecordModifiedDate,                                        
 PatientIdentifier,IsManualPull)                                        
                                        
select     
    [GlobalId] ,                                        
 SSN ,                                        
 [PatientName],                           
 DisplayName,                          
 [DateOfBirth] ,                                        
 [street] ,                                        
 [city] ,                                        
 [state] ,                          
 [zip] ,                                        
 PhoneNumber_ph1 ,          
  PhoneNumber_ph2,        
 MediAssist ,                                        
 'Active'ActiveStatus ,                                        
 Queuename ,                                        
 'SS_ETL_Job' CreatedBy ,                                        
 getdate() CreatedDate  ,                                        
 'SS_ETL_Job' ModifiedBy ,                                        
 getdate() ModifiedDate ,                                        
 PatientIdentifier, 0 as IsManualPull                                        
from #compliancePatients c                                         
order by [GlobalId] desc , ssn desc                                         
                   
                   
 drop table if exists #temp_PatientView_info                  
                  
select *,case when Globalid <> '' then  Globalid                                      
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                                        
when  Globalid = ''  and ssn=''                                       
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end as NewPatientIdentifier                  
into #temp_PatientView_info from patientview                  
where ActiveStatus='active'           
          
;with cte as           
(          
select *, ROW_NUMBER() over(partition by patientidentifier,Source_Indicator          
order by inactive,patientid /*inactive=0 means active patient */          
) Rnk          
from #AllpatientsInfo             
)          
          
delete c          
--select *           
from cte c           
where rnk > 1           
                             
                  
delete from #temp_PatientView_info  where PackPharmarcy is null and                   
HomePharmarcy is null                   
                  
                  
drop table if exists #temp_patientnames_pharmacies                  
                  
select pvid,p.DisplayName,p.NewPatientIdentifier,p.PatientIdentifier                  
,HomePharmarcy,PackPharmarcy,                  
pl1.DisplayName as DisplayName_PP,                   
---pl1.Source_Indicator as Source_Indicator_PP                   
pl2.DisplayName as DisplayName_HP                   
---,pl2.Source_Indicator as Source_Indicator_HP                  
into #temp_patientnames_pharmacies                  
from #temp_PatientView_info p                   
left join #AllpatientsInfo pl1 on pl1.patientidentifier=p.NewPatientIdentifier                   
and   p.PackPharmarcy=pl1.Source_Indicator                   
left join #AllpatientsInfo pl2 on pl2.patientidentifier=p.NewPatientIdentifier                   
and   p.HomePharmarcy=pl2.Source_Indicator                   
where (pl1.DisplayName is not null or pl2.DisplayName is not null )                  
                
                                   
insert into Displayname_HomePackPharmacies                  
(pvid,DisplayName,PatientIdentifier,HomePharmarcy,PackPharmarcy,DisplayName_PP,DisplayName_HP                  
,PharmacyConsidered,createddate,updateddate,DMLType)                  
                  
select                   
t.pvid,                  
case when t.DisplayName_PP is not null then t.DisplayName_PP else t.DisplayName_HP end                  
as DisplayName                  
,t.NewPatientIdentifier,t.HomePharmarcy,t.PackPharmarcy,                  
t.DisplayName_PP,t.DisplayName_HP,                  
case when t.DisplayName_PP is not null then t.PackPharmarcy else t.HomePharmarcy end                  
as PharmacyConsidered,getdate() as createddate,getdate() as updateddate,'Insert' DMLType                  
from #temp_patientnames_pharmacies t                  
left join                   
Displayname_HomePackPharmacies d on                   
( d.PatientIdentifier=t.PatientIdentifier or d.PatientIdentifier=t.NewPatientIdentifier)                  
where d.PatientIdentifier is null                   
                  
update d set d.HomePharmarcy=t.HomePharmarcy ,d.PackPharmarcy=t.PackPharmarcy,                  
d.DisplayName_PP=t.DisplayName_PP,d.DisplayName_HP=t.DisplayName_HP,                  
DisplayName = case when isnull(d.DisplayName_PP,'na') <> t.DisplayName_PP then                   
t.DisplayName_PP else t.DisplayName_HP end ,                  
PharmacyConsidered=case when isnull(d.DisplayName_PP,'na') <> t.DisplayName_PP then                   
t.PackPharmarcy else t.HomePharmarcy end,                  
updateddate=getdate(),DMLType='Update'                  
--select t.*                   
from                   
#temp_patientnames_pharmacies t                  
join Displayname_HomePackPharmacies d on t.PatientIdentifier=d.PatientIdentifier                  
where                   
( isnull(d.DisplayName_PP,'na') <> t.DisplayName_PP                   
or                   
isnull(d.DisplayName_HP,'na') <> t.DisplayName_HP                  
)                  
                  
update v set Prev_DisplayName=v.DisplayName , DisplayName=d.DisplayName                  
,RecordModifiedBy='SS_ETL_Job',RecordModifiedDate=GETDATE()                  
--select v.DisplayName,d.DisplayName,v.Prev_DisplayName,*                   
from Displayname_HomePackPharmacies d                   
join PatientView v on d.PatientIdentifier=v.PatientIdentifier                  
where d.updateddate  >=cast(GETDATE() as date )                  
and v.DisplayName<>d.DisplayName                  
                  
                                        
end 
GO
