USE [MediTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[sp_AllRxqPatientsMedicineInfo_ETL]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AllRxqPatientsMedicineInfo_ETL]                                             
as                                              
begin                                              
                                                                                                                                                 /*Libery Insert*/                                                      
drop table if exists #Libertymedicinedetails_Total                                                      
                                                      
select                                                      
DG.Name as Drug_name                                                      
,P.patientid                                                      
,(p.FirstName+' '+p.LastName) as Patientname_Liberty                                                      
,p.DateOfBirth as DOB_Liberty                                                      
---,p.Gender as Gender_Liberty                                               
,replace(                                
case when p.SocialSecurityNumber like '%000000%'  THEN ''    
WHEN p.SocialSecurityNumber = '999999999'     
then '' else p.SocialSecurityNumber end                                
,'         ','') as SSN                                               
----, P.MedicareBeneficiaryId                                              
,P.globalid                                                     
--,D.DoctorId as ProvideID                                                      
---,(D.LastName+','+D.FirstName) Prescriber                 
,(                
CASE          WHEN CHARINDEX(',', D.LastName) > 0          THEN LEFT(D.LastName, CHARINDEX(',', D.LastName) - 1)         ELSE D.LastName     END  /*added on 28th feb 2025  to restricted MD,APRN etc..s in lastname John,MD  */                
+','+                
D.FirstName                
) Prescriber                                   
--,MD.NDC_UPC_HRI as NDC_Number                                                      
--,MD.GenericProductIdentifier as GenericProductIdentifier                                                      
--,Md.GPIGenericName                                                      
,DG.NdcNumber                                       
--,DrugKey                                                      
,cast (st.DateDispensedSQL as date)  DateDispensedSQL                                                      
--,sb.RefillsAuthorized                                                      
----,sb.FullDispenseQuantity                                                      
,st.QuantityDispensed                                                      
---,st.DaysSupply                                                      
---,d.NPI                                                      
,st.RefillNumber                                                      
----,sb.AuthorizedQuantity,sb.AvailableQuantity                                                      
----,sb.RefillUntilDate,st.NextDispensedQuantity                
----,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B                                                
,st.ScriptNumber,sb.cScriptBaseId ,p.cQueueId,q.QueueName,                                              
ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId  ,                                              
---st.TimeStampAsOfDate,                                              
  st.LastModified st_LastModified,--st.sigs,                               
  st.DecodedSigs as sigs,                          
  ---st.IsValid,st.PromiseDateTime,                                              
  q.QueueName as st_queuename,                                              
  ---sb.LastRefillNumber,                                            
  ----sb.DateWrittenSQL,                                              
  sb.OnHold,sb.DateWrittenSQL DateWritten,st.cScriptTransactionId,                                 sb.LastModified as sb_LastModified,       sb.Source_Indicator,                       
  case when  OnHold='y' then cast(sb.DateWrittenSQL as date)                                              
else cast(DateDispensedSQL as date) end as Deriveddatedispensedsql                                             
INTO #Libertymedicinedetails_Total                                                      
From PP_ODS..rxqDoctor as D (nolock)                                                      
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                       
---INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator                                                      
---left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber                                       
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                                      
--inner join #AllpatientsInfo PAI on  P.PatientId=PAI.PatientId and P.Source_Indicator=PAI.Source_Indicator                                               
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                        
and SB.Source_Indicator=ST.Source_Indicator                     
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=ST.DrugId                     
and DG.source_indicator=ST.Source_Indicator                                                      
left join PP_ODS..rxqQueue q                                
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator                                              
where                                                       
--DateDispensedSQL >=cast(DATEADD(MONTH, -6, GETDATE()) as date)                                              
--and sb.LastModified >=cast(DATEADD(MONTH, -6, GETDATE()) as date)                                            
---and PAI.QueueName  like '%plus%pack%'                               
case when  OnHold='y' then cast(sb.DateWrittenSQL as date)                                              
when  OnHold='n' then cast(DateDispensedSQL as date) end                            
>=cast(DATEADD(MONTH, -6, GETDATE()) as date)                              
---and DateDispensedSQL<>'9999-09-09'                                            
                                             
truncate table [AllRxqPatientsMedicineInfo]                                              
                                              
insert into [AllRxqPatientsMedicineInfo](                                   
PatientName      
,DateOfBirth      
,Globalid      
,SSN      
,Drug_name      
,patientid      
,DateDispensedSQL      
,QuantityDispensed      
,cScriptTransactionId      
,ScriptNumber      
,Sigs      
,OnHold      
,Sb_LastModified      
,Pharmacy      
,QueueName      
,RecordCreatedDate      
,DateWritten      
,Prescriber      
,NdcNumber      
,RefillNumber      
 )                                               
                               
                                              
select       
 Patientname_Liberty PatientName      
,DOB_Liberty  DateOfBirth      
,Globalid      
,SSN      
,Drug_name      
,patientid      
,DateDispensedSQL      
,QuantityDispensed      
,cScriptTransactionId      
,ScriptNumber      
,Sigs      
,OnHold      
,Sb_LastModified      
,Source_Indicator as Pharmacy      
,QueueName      
,getdate() as RecordCreatedDate      
,DateWritten      
,Prescriber      
,NdcNumber      
,RefillNumber      
from                                               
#Libertymedicinedetails_Total l                                                        
order by Patientname_Liberty,DateDispensedSQL desc ,Sb_LastModified desc                                       
                                    
                                    
                          
end                                               
                                          
                                              
          
          
          
          
          
GO
