USE [MediTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[Usp_LibertyMedicationList_CompPack_Get]    Script Date: 8/4/2026 4:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                                                      
exec [dbo].[Usp_LibertyMedicationList_CompPack_Get]                                                      
'78911'                                                    
exec [dbo].[Usp_LibertyMedicationList_CompPack_Get]                                                      
'104422'                                                 
exec [dbo].[Usp_LibertyMedicationList_CompPack_Get]                                                      
'CARLA SMITH19670425'                                                 
*/                                                      
CREATE procedure [dbo].[Usp_LibertyMedicationList_CompPack_Get]                                                         
(                                                        
@PatientIdentifier varchar(200)                                                      
)                                                        
as                                                        
begin                                                  
                                                
Declare @GlobalId varchar(50),@ssn varchar(50)                                                
,@PatientName  varchar(200) ,@DateOfBirth date,@recordcreatedby varchar(200)                                            
,@IsManualPull int  ,@reviewdate date                                        
                                                
                                                
select @GlobalId=GlobalId ,@ssn=ssn,@PatientName=PatientName,@DateOfBirth=DateOfBirth,                                                
@recordcreatedby=RecordCreatedBy   ,@IsManualPull=IsManualPull                                             
from PatientView  with(nolock)                                               
where PatientIdentifier=@PatientIdentifier         
      
      
 SELECT  top 1  @reviewdate= ReviewedDate       
 FROM                  
    ( SELECT   PatientIdentifier, ReviewedBy, ReviewedDate         
 FROM [TimeSlotsReviewDetails] WITH (NOLOCK)                  
 WHERE PatientIdentifier = @PatientIdentifier             
 union all         
 SELECT   PatientIdentifier, ReviewedBy, ReviewedDate         
 FROM PatientMedReviewDetails WITH (NOLOCK)                  
 WHERE PatientIdentifier = @PatientIdentifier         
         
 )   abc        
 order by ReviewedDate desc       
                                                
                                                
if (@IsManualPull=1)                                                
begin                                                 
--Declare @GlobalId varchar(50),@ssn varchar(50)                                                
--,@PatientName  varchar(200) ,@DateOfBirth date,@recordcreatedby varchar(200)                                                
                                                
                                                
--select @GlobalId=GlobalId ,@ssn=ssn,@PatientName=PatientName,@DateOfBirth=DateOfBirth,                                                
--@recordcreatedby=RecordCreatedBy                                                
--from PatientView   with(nolock)                                              
--where PatientIdentifier=@PatientIdentifier                                                
                                               
 ;with cte as                                               
 (                                              
select                  
---(D.LastName+','+D.FirstName) Prescriber,           
(                
CASE          WHEN CHARINDEX(',', D.LastName) > 0                    
THEN LEFT(D.LastName, CHARINDEX(',', D.LastName) - 1)                   
ELSE D.LastName     END            
/*added on 28th feb 2025  to restricted MD,APRN etc..s in lastname John,MD  */                
+','+                
D.FirstName                
) Prescriber ,          
(p.FirstName+' '+p.LastName)  as [PatientName] ,   
 p.Globalid ,                                                        
 replace(                                
case when p.SocialSecurityNumber like '%000000%' then '' else p.SocialSecurityNumber end                                
,'         ','') SSN ,   p.DateOfBirth,                                                     
 DG.Name as [Drug_name] ,  dg.NdcNumber ,                                                              
 cast (st.DateDispensedSQL as date) as [DateDispensedSQL] ,                                                        
st.QuantityDispensed [QuantityDispensed] ,    st.RefillNumber,                                                  
 --st.sigs [Sigs],                       
 st.DecodedSigs as [Sigs],                   
 sb.[OnHold] ,                                                        
 sb.[LastModified] as [Sb_LastModified] ,                                             
 d.Source_Indicator as Pharmacy,st.ScriptNumber,st.cScriptTransactionId ,                                      
@PatientIdentifier as PatientIdentifier    , sb.DateWrittenSQL as DateWritten ,                            
case when sb.OnHold='y' then sb.DateWrittenSQL                                          
else st.DateDispensedSQL  end as DateDerived ,        
cast(st.ScriptNumber as varchar(50))+        
case when len(st.RefillNumber)=1 then '-0' else '-' end +        
cast(st.RefillNumber as varchar(5)) RX#        
                                                
From PP_ODS..rxqDoctor as D (nolock)                                                        
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                                                                                                                  
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                                        
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                          
and SB.Source_Indicator=ST.Source_Indicator 
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=st.DrugId and DG.source_indicator=st.Source_Indicator
left join PP_ODS..rxqQueue q  with(nolock)                                                  
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator                                               
                                              
where                                                         
--st.DateDispensedSQL >=DATEADD(MONTH, -6, GETDATE())                                                 
--and sb.LastModified >=DATEADD(MONTH, -6, GETDATE())                         
case when sb.OnHold='y' then sb.DateWrittenSQL                                          
when sb.OnHold='n' then st.DateDispensedSQL  end >=DATEADD(MONTH, -6, GETDATE())                        
and                                 
(                                                
  (p.GlobalId=@GlobalId and p.GlobalId <>'' and @GlobalId<>'')                                                
or                                                
  ( (p.GlobalId ='' or @GlobalId='') and p.SocialSecurityNumber<>''                                                
and  @ssn<>''                                                
and p.SocialSecurityNumber=@ssn and p.DateOfBirth=@DateOfBirth                                                
  )                                                
or                                                
  ( (p.GlobalId ='' or @GlobalId='') and (p.SocialSecurityNumber='' or  @ssn='' )                                               
and p.DateOfBirth= @DateOfBirth and (p.FirstName+' '+p.LastName) = @PatientName                                                
  )        
)                                                
                                              
)                                              
                                              
select                 
 c.Prescriber,                
 c.[PatientName] ,                                                               
 c.Globalid ,                                                        
 c.SSN ,  c.DateOfBirth,                                                      
 c.[Drug_name] ,                                                                
 c.[DateDispensedSQL] ,                                                        
 c.[QuantityDispensed] ,                                                      
 c.[Sigs],                                                        
 c.[OnHold] ,                                                        
 c.[Sb_LastModified] ,                                                        
 c.Pharmacy as Pharmacy,c.ScriptNumber,c.cScriptTransactionId ,c.PatientIdentifier,                            
'N' as IsExported,c.DateWritten  ,c.NdcNumber  ,c.RefillNumber,c.RX#                   
from cte c    with(nolock)                           
left join PatientMedicationList pm with(nolock)                                                       
on pm.cScriptTransactionId=c.cScriptTransactionId                                                        
and pm.ScriptNumber=c.ScriptNumber                     
--left join PatientMedReviewDetails V on v.PatientIdentifier=c.PatientIdentifier                    
--join PatientView v with(nolock) on                                                              
--isnull(v.LastPackDate ,'1900-01-01') <=  c.[Sb_LastModified]                                  
where   pm.cScriptTransactionId is null                      
and isnull(@reviewdate ,'1900-01-01') <=  c.DateDerived                                              
order by  c.Globalid,c.SSN,c.DateWritten desc,c.DateDispensedSQL desc,c.Drug_name                                 
                              
                                            
                                               
end                                          
                                                
else                                                 
begin                                                 
select                                                         
 c.[PatientName] ,                       
 c.Globalid ,                                                        
 c.SSN ,                           
 c.DateOfBirth,                            
 --FORMAT(CONVERT(DATE, c.DateOfBirth), 'MM/dd/yyyy') DateOfBirth,                          
 c.[Drug_name] ,                                              
 c.[DateDispensedSQL] ,                                                        
 c.[QuantityDispensed] ,                                                      
 c.[Sigs],                                                        
 c.[OnHold] ,                                        
 c.[Sb_LastModified] ,                                                        
 c.Pharmacy as Pharmacy,c.ScriptNumber,c.cScriptTransactionId ,c.PatientIdentifier ,                                      
 'N' as IsExported ,c.DateWritten    ,c.Prescriber  ,c.NdcNumber ,c.RefillNumber  ,        
 cast(c.ScriptNumber as varchar(50))+        
case when len(c.RefillNumber)=1 then '-0' else '-' end +        
cast(c.RefillNumber as varchar(5)) RX#        
from [LibertyMedicationList_CompPack] c  with(nolock)                                                         
left join PatientMedicationList p with(nolock)                                                       
on p.cScriptTransactionId=c.cScriptTransactionId                                                
and p.ScriptNumber=c.ScriptNumber                                                   
---join PatientView v with(nolock) on                                                              
--isnull(v.LastPackDate ,'1900-01-01') <=  c.Sb_LastModified                      
---left join PatientMedReviewDetails v on v.PatientIdentifier=c.PatientIdentifier                    
where                                                  
c.PatientIdentifier=@PatientIdentifier    and  p.cScriptTransactionId is null                     
and isnull(@reviewdate ,'1900-01-01') <=                
case when c.OnHold='y' then c.DateWritten                                          
else c.DateDispensedSQL  end                     
order by  c.Globalid,c.SSN,c.DateWritten desc,c.DateDispensedSQL desc,c.Drug_name                                                         
  end                                                 
                                            
end       
GO
