USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientView]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientView](
	[PVID] [int] IDENTITY(1,1) NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[LastPackDate] [date] NULL,
	[NextPackDate] [date] NULL,
	[MediAssist] [varchar](10) NULL,
	[ActiveStatus] [varchar](10) NULL,
	[Queuename] [varchar](100) NULL,
	[Notes] [varchar](2000) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[HomePharmarcy] [nvarchar](50) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[IsManualPull] [int] NULL,
	[Remarks] [varchar](200) NULL,
	[PackPharmarcy] [varchar](50) NULL,
	[DisplayName] [varchar](200) NULL,
	[Prev_DisplayName] [varchar](200) NULL,
	[Phone2] [varchar](50) NULL,
 CONSTRAINT [UQ_PatientView_PatientIdentifier] UNIQUE NONCLUSTERED 
(
	[PatientIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientView] ADD  CONSTRAINT [DF_PatientView_ActiveStatus]  DEFAULT ('Active') FOR [ActiveStatus]
GO
