USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[UserDetails_Backup]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails_Backup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[UserName] [varchar](200) NOT NULL,
	[PasswordHash] [binary](64) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [int] NULL,
	[Role] [varchar](50) NULL,
	[RoleDesc] [varchar](50) NULL
) ON [PRIMARY]
GO
