USE [MediTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[uspAddUser]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                  
DECLARE @responseMessage VARCHAR(250);                  
EXEC dbo.uspAddUser                  
    'Test User' /* Name */,                  
    'TestUserPD@primaryplus.net' /* Email ID */,                  
    'TestUserPwd@123' /* Password */,                  
 'Provider' /*Pharmacist,Technician*/,                  
 'Sai abhilash'/*User*/,                
 'Active'/*active status*/  ,              
    @responseMessage = @responseMessage OUT;                  
SELECT @responseMessage;                  
*/                  
CREATE PROCEDURE [dbo].[uspAddUser]                            
   @pName VARCHAR(40) = NULL,                            
    @pLogin VARCHAR(50),                             
    @pPassword VARCHAR(50) = null ,                    
 @Role VARCHAR(50) = Null ,                 
 @ModifiedUser VARCHAR(100) = Null ,                
 @ActiveStatus VARCHAR(100) = Null ,                
   @responseMessage VARCHAR(250) OUTPUT                            
AS                            
BEGIN                            
    SET NOCOUNT ON                            
                            
    BEGIN TRY     
     
 /*    
 AD ADMIN  PH Pharmacist  PPH  Pack Pharmacist  TCN  Technician  PD Provider  ITN Intern  */    
                   
 Declare @LV_Role VARCHAR(50) =                   
 case when @Role='Pharmacist' then 'PH'                  
 when @Role='Technician' then 'TCN'                  
 when @Role='Admin' then 'AD'         
 when @Role='Pack Pharmacist' then 'PPH'     
 when @Role='Provider' then 'PD'    
  when @Role='Intern' then 'ITN'    
  when @Role='In-Training' then 'TRNG'  
 else @Role                  
 end       
    
                  
Declare @Lv_activestatus int = case when @ActiveStatus='Inactive' then 0                 
when @ActiveStatus='active' then 1                 
else null end                 
                            
 if exists (select 1 from dbo.[UserDetails] where EmailID=@pLogin )                        
 begin                         
                        
 update dbo.[UserDetails] set           
 PasswordHash=isnull(HASHBYTES('SHA2_512', @pPassword),PasswordHash),                        
 Name=isnull(@pName,Name) ,RecordModifiedDate=getdate()  ,Role = isnull(@LV_Role,Role)  ,                  
 RoleDesc = isnull(@Role,RoleDesc) , RecordModifiedBy=isnull(@ModifiedUser,RecordModifiedBy),                
 IsActive = isnull(@Lv_activestatus,IsActive) ,DMLType='Modified'              
 where EmailID=@pLogin                        
                        
 SET @responseMessage='Success'                         
                        
 end                        
 else                         
 begin                        
        INSERT INTO dbo.[UserDetails] (Name,EmailID,PasswordHash,Role,RoleDesc,RecordCreatedDate                
  ,RecordCreatedBy,RecordModifiedBy,RecordModifiedDate,DMLType)                            
        VALUES(isnull(@pName,LEFT(@pLogin, CHARINDEX('@', @pLogin) - 1))                    
  ,@pLogin, HASHBYTES('SHA2_512', @pPassword),@LV_Role,@Role,GETDATE(),@ModifiedUser              
  ,@ModifiedUser,getdate(),'Insert')                            
                            
        SET @responseMessage='Success'                         
 end                        
                            
    END TRY                            
    BEGIN CATCH                            
        SET @responseMessage=ERROR_MESSAGE()                             
    END CATCH                            
                            
END         
  
  
  
  
  
GO
