USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientMedSigQuantity_Backup]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedSigQuantity_Backup](
	[PMSQID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity1] [decimal](10, 2) NULL,
	[Quantity2] [decimal](10, 2) NULL,
	[Quantity3] [decimal](10, 2) NULL,
	[Quantity4] [decimal](10, 2) NULL,
	[PMID] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](100) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[Drug_name] [varchar](200) NULL,
	[DMLType] [varchar](10) NULL
) ON [PRIMARY]
GO
