USE [MediTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[uspLoginCheck]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*    
DECLARE @responseMessage VARCHAR(250);    
EXEC [dbo].[uspLoginCheck]    
    'TestUser@primaryplus.net' /* Email ID */,    
    'TestUserPwd@123' /* Password */,    
    @responseMessage = @responseMessage OUT;    
SELECT @responseMessage;    
*/    
CREATE PROCEDURE [dbo].[uspLoginCheck]          
    @pLoginName VARCHAR(200),          
    @pPassword VARCHAR(200),          
    @responseMessage NVARCHAR(250)='' OUTPUT          
AS          
BEGIN          
          
    SET NOCOUNT ON          
          
    DECLARE @id INT;          
          
    IF EXISTS (SELECT TOP 1 id FROM dbo.[UserDetails] WHERE EmailID=@pLoginName and isactive=1)          
    BEGIN          
        SET @id=(SELECT id FROM dbo.[UserDetails] WHERE           
  EmailID=@pLoginName AND PasswordHash=HASHBYTES('SHA2_512',          
  @pPassword) and isactive=1  )          
          
       IF(@id IS NULL)          
           SET @responseMessage='Incorrect password'          
       ELSE           
           SET @responseMessage='Valid Login'          
    END          
    ELSE          
       SET @responseMessage='Invalid login'          
          
END          
GO
