USE [MediTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[uspChangePassword]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*        
DECLARE @responseMessage VARCHAR(250);        
EXEC dbo.[uspChangePassword]        
    'TestAD@primaryplus.net' /* Email ID */,        
    'TestUserPwd@123' /* Password */,        
 'TestUserPwd@143' /* Password */,        
    @responseMessage = @responseMessage OUT;        
SELECT @responseMessage;        
*/        
CREATE PROCEDURE [dbo].[uspChangePassword]          
    @Username NVARCHAR(250),          
    @OldPassword NVARCHAR(250),          
    @NewPassword NVARCHAR(250),          
    @responseMessage NVARCHAR(250) OUTPUT          
AS          
BEGIN          
    SET NOCOUNT ON;          
          
    -- Variable to store validation response          
    DECLARE @loginResponse NVARCHAR(250),@name varchar(100)          
          
    -- Step 1: Validate the old password          
    EXEC [dbo].[uspLoginCheck]          
        @Username,          
        @OldPassword,          
        @responseMessage = @loginResponse OUTPUT;          
          
    -- If the old password is incorrect, return an error message          
    IF (@loginResponse <> 'Valid Login')           
    BEGIN          
        SET @responseMessage = @loginResponse;          
        RETURN;          
    END          
          
   select @name = name from UserDetails where EmailID=@Username    
    
    -- Step 2: Update the password using the existing AddUser procedure          
    DECLARE @updateResponse NVARCHAR(250);          
    EXEC [dbo].[uspAddUser]          
        null,       -- Username remains the same          
        @Username,       -- Assuming email is the same as username          
        @NewPassword,    -- New password to be updated          
  null, -- role remains same       
  @name ,---change password user is modified user      
  null , -- active status remains same      
        @responseMessage = @updateResponse OUTPUT;          
          
   set @responseMessage =@updateResponse          
          
          
END;  
  
GO
