USE [MediTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientView_AllPatients_ETL]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PatientView_AllPatients_ETL]                  
as                   
begin                  
--CREATE TABLE [dbo].[PatientView_AllPatients](                  
-- [PVAPID] [int] IDENTITY(1,1) NOT NULL,                  
-- [GlobalId] [varchar](50) NULL,                  
-- [SSN] [varchar](50) NULL,                  
-- [PatientName] [varchar](200) NULL,                  
-- [DateOfBirth] [date] NULL,                  
-- [street] [varchar](50) NULL,                  
-- [city] [varchar](50) NULL,                  
-- [state] [varchar](50) NULL,                  
-- [zip] [varchar](50) NULL,                  
-- [Phone] [varchar](50) NULL,                  
-- [MediAssist] [varchar](10) NULL,                  
-- [RecordCreatedBy] [varchar](50) NULL,                  
-- [RecordCreatedDate] [datetime] NULL,                  
-- [HomePharmarcy] [nvarchar](50) NULL,                  
-- [PatientIdentifier] [varchar](200) NULL                  
-- )                   
                  
                  
drop table if exists #AllpatientsInfo                  
                  
select GlobalId,replace(              
case when SocialSecurityNumber like '%000000%' then '' else SocialSecurityNumber end              
,'         ','') as SSN                  
,FirstName +' '+LastName as PatientName,DateOfBirth,             
 --LastName+' '+FirstName as DisplayName,           
 case when MiddleInitial<>'' then          
Lastname+','+FirstName+' '+ MiddleInitial           
else LastName+','+FirstName end as DisplayName,          
 LastName,FirstName,MiddleInitial,          
street,city ,state,zip ,Phone ,p.PatientId,p.CustomField3 ,      
p.PrimaryAddressId,p.PatientPhone1Id,          
p.PatientPhone2Id    ,p.Source_Indicator      
into #AllpatientsInfo                  
from pp_ods..rxqPatient p with(nolock)                  
left join PP_ODS..rxqQueue q  with(nolock)                  
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator              
  
update #AllpatientsInfo set SSN='' where SSN='999999999'  
  
          
drop table if exists #Distinctdetails          
          
select PatientName,DateOfBirth,max(GlobalId) GlobalId,max(ssn) ssn                  
into #Distinctdetails                  
from                   
(select distinct GlobalId,ssn,PatientName,DateOfBirth                  
from #AllpatientsInfo            
where DateOfBirth is not null           
)p                  
group by PatientName,DateOfBirth           
          
---select * from #Distinctdetails          
          
update p set p.GlobalId=d.GlobalId                   
--select d.GlobalId,d.ssn,p.*                  
from #AllpatientsInfo p                   
join                  
#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth                  
where  p.SSN=d.ssn and d.ssn<>'' and p.GlobalId='' and d.GlobalId <>''           
          
update p set  p.ssn=d.ssn                  
--select d.GlobalId,d.ssn,p.*                  
from #AllpatientsInfo p                   
join                  
#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth                  
where            
--(p.GlobalId='' or p.ssn='')                  
--and (d.GlobalId<>'' or d.ssn<>'')           
p.GlobalId=d.GlobalId and d.GlobalId<>'' and p.ssn='' and d.ssn<>''           
          
--update p set  p.ssn=d.ssn                  
----select d.GlobalId,d.ssn,p.*                  
--from #AllpatientsInfo p                   
--join                  
--#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth                  
--where            
--(p.GlobalId='' or p.ssn='')                  
--and (d.GlobalId<>'' or d.ssn<>'')           
          
 update p set MiddleInitial=res.MiddleInitial          
--select res.MiddleInitial,p.MiddleInitial,p.globalid,res.globalid,p.*           
from #AllpatientsInfo p           
join           
(          
select globalid ,max(MiddleInitial) as MiddleInitial          
from #AllpatientsInfo          
where DateOfBirth is not null and globalid<>''          
group by globalid           
having max(MiddleInitial)  <> ''          
) res on res.globalid=p.globalid           
where replace(p.MiddleInitial,' ','')=''          
          
--select * from #AllpatientsInfo where globalid=''                  
                  
--select distinct SSN                   
--from #AllpatientsInfo                   
--where SSN<>'' and SSN not in (                  
--'0000000  '                  
--,'00000000 '                  
--,'000000000')                  
--order by SSN         
      
alter table #AllpatientsInfo                    
add PatientIdentifier varchar(200)      
      
update #AllpatientsInfo set PatientIdentifier=      
case when Globalid <> '' then  Globalid                  
when  Globalid = ''  and ssn<>'' and                   
ssn not in (                      
'0000000  '                      
,'00000000 '                      
,'000000000')                    
then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                    
when  Globalid = ''  and (ssn=''   or  ssn in (                      
'0000000  '                      
,'00000000 '                      
,'000000000') )                   
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end       
      
                  
---select * from #AllpatientsInfo where SSN like '%282-02-75%'      
      
--drop table if exists #compliancePatients                  
                  
--;With CTE as                   
--(                  
                  
--select                   
--GlobalId, SSN,PatientName,DateOfBirth, DisplayName,           
--LastName,FirstName,MiddleInitial,          
--street,city ,state,zip ,Phone ,                  
-- cast('No' as varchar(3)) as MediAssist,                  
-- case when Globalid <> '' then  Globalid                  
--when  Globalid = ''  and ssn<>'' and                   
--ssn not in (                      
--'0000000  '                      
--,'00000000 '                      
--,'000000000')                    
--then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                    
--when  Globalid = ''  and (ssn=''   or  ssn in (                      
--'0000000  '                      
--,'00000000 '                      
--,'000000000') )                   
--then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end  as PatientIdentifier                  
--,ROW_NUMBER() over(partition by                   
--case when Globalid <> '' then  Globalid                  
--when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                    
--when  Globalid = ''  and ssn=''                   
--then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                  
----order by rtrim(ltrim(SSN)) desc ,street desc )RNK                  
--order by                   
--PatientName,MiddleInitial desc,isnull(try_cast(rtrim(ltrim(replace(SSN,'-',''))) as varchar(50)),rtrim(ltrim(SSN))) desc           
--,street desc                   
--)RNK                   
--from                   
--#AllpatientsInfo a                  
--)                  
-----select *                   
--select * into  #compliancePatients                   
--from cte where RNK =1                  
-----and PatientName='ANNA STEPP'                  
                  
drop table if exists #compliancePatients           
          
;With CTE as                                         
(                                        
select * , ROW_NUMBER() over(partition by                                         
    PatientIdentifier order by patientname ,          
 isnull(try_cast(rtrim(ltrim(SSN)) as varchar(100)),                              
rtrim(ltrim(SSN))) desc ,street desc ) Rnk_Pt                                 
from                                         
#AllpatientsInfo a                                                 
) ,addr as          
(          
select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                         
    PatientIdentifier order by ad.lastmodified desc) Rnk_addr          
 from #AllpatientsInfo a          
left join pp_ods..rxqAddress ad on ad.cAddressId= a.PrimaryAddressId           
and ad.Source_Indicator=a.Source_Indicator          
),          
ph1  as          
(select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                         
    PatientIdentifier order by ad.lastmodified desc) Rnk_ph1          
 from #AllpatientsInfo a          
left join pp_ods..rxqPhoneNumber ad on ad.cPhoneNumberId= a.PatientPhone1Id           
and ad.Source_Indicator=a.Source_Indicator)          
,          
ph2  as          
(select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                         
    PatientIdentifier order by ad.lastmodified desc) Rnk_ph2          
 from #AllpatientsInfo a          
left join pp_ods..rxqPhoneNumber ad on ad.cPhoneNumberId= a.PatientPhone2Id           
and ad.Source_Indicator=a.Source_Indicator)          
          
select c.PatientIdentifier,c.DisplayName,c.GlobalId,c.SSN,c.DateOfBirth,c.PatientName,          
c.LastName,c.FirstName,c.MiddleInitial         
,upper(addr.Street) Street ,upper(addr.City) City ,upper(addr.State) State,    
addr.Zip,addr.ZipPlus,cast('No' as varchar(3)) as MediAssist,          
--addr.LastModified as LastModified_addr,          
ph1.PhoneNumber PhoneNumber_ph1,          
--,ph1.PhoneNumberType PhoneNumberType_ph1          
--,ph1.LastModified LastModified_ph1,          
ph2.PhoneNumber PhoneNumber_ph2          
--,ph2.PhoneNumberType PhoneNumberType_ph2          
--,ph2.LastModified LastModified_ph2 --,Rnk_addr,Rnk_ph1,Rnk_ph2          
--,addr.Source_Indicator Source_Indicator_addr,ph1.Source_Indicator Source_Indicator_ph1          
--,ph2.Source_Indicator Source_Indicator_ph2           
into #compliancePatients          
from           
cte c           
left join addr on addr.PatientIdentifier =c.PatientIdentifier and addr.Rnk_addr=1          
left join ph1 on ph1.PatientIdentifier =c.PatientIdentifier and ph1.Rnk_ph1=1          
left join ph2 on ph2.PatientIdentifier =c.PatientIdentifier and ph2.Rnk_ph2=1          
where c.Rnk_Pt=1                    
                 
                  
;with rec as                   
(                  
select * ,ROW_NUMBER()                   
over(partition by ssn,DateOfBirth order by globalid desc,ssn desc )                   
Rnk2                   
from                   
#compliancePatients          
where ssn<>''          
)                  
                  
delete                  
--select *                   
from rec where Rnk2 > 1           
      
      
--select * from #compliancePatients where LastName='KOEHLER' and DateOfBirth='1932-05-02'      
--and FirstName='A.J.' and LastName='KOEHLER'      
      
--select * from pp_ods..rxqPatient where SocialSecurityNumber='016499823'       
--and DateOfBirth='2016-05-24'      
         
---select * from #compliancePatients where patientname='ANGELA SCOTT'           
--and DateOfBirth='1973-05-18'          
                
;with rec1 as                   
(                  
select * ,ROW_NUMBER()                   
over(partition by PatientName,DateOfBirth order by globalid desc,ssn desc )                   
Rnk2                   
from                   
#compliancePatients                   
)                  
                  
                  
delete                  
---select *                   
from rec1 where Rnk2 > 1                   
                  
                  
--delete c                   
----select c.*                   
--from #compliancePatients c                   
--join                   
--(                  
--select ssn,DateOfBirth                  
----,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,                  
----sum(case when GlobalId='' then 1 else 0 end ) NGLID                  
--from #compliancePatients                  
--where ssn<>''                  
--group by  ssn,DateOfBirth                  
--having count(1)> 1 and sum(case when GlobalId<>'' then 1 else 0 end )=1                  
--and sum(case when GlobalId='' then 1 else 0 end )=1                  
--) res on res.ssn=c.SSN and res.DateOfBirth=c.DateOfBirth                  
--where c.GlobalId=''                  
----order by c.SSN,c.DateOfBirth,c.GlobalId                  
                  
                  
--delete c                   
----select c.*                   
--from #compliancePatients c                   
--join                   
--(                  
--select PatientName,DateOfBirth                  
--,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,            
--sum(case when GlobalId='' then 1 else 0 end ) NGLID                  
--from #compliancePatients                  
----where ssn=''                   
--group by  PatientName,DateOfBirth                  
--having count(1)> 1 and sum(case when GlobalId<>'' then 1 else 0 end )=1                  
--and sum(case when GlobalId='' then 1 else 0 end )=1                  
--) res on res.PatientName=c.PatientName and res.DateOfBirth=c.DateOfBirth                  
--where c.GlobalId=''                  
----order by c.SSN,c.DateOfBirth,c.GlobalId                  
                  
update P set MediAssist='Yes'                  
--select p.*                  
from #compliancePatients p                  
join (select distinct GlobalId                    
from pp_ods..rxqPatient with(nolock)                  
where CustomField3 like '%MED%ASSIST%'                  
and GlobalId<>''                  
) a on p.GlobalId=a.GlobalId                  
where p.GlobalId<>'' and MediAssist='NO'                  
                  
update p set MediAssist='Yes'                  
--select p.*                   
from #compliancePatients p                  
join (select distinct SocialSecurityNumber,DateOfBirth                   
from pp_ods..rxqPatient with(nolock)                  
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber<>'' /*SSN Not blank*/                  
and GlobalId=''                  
--order by  SocialSecurityNumber                   
) a on p.ssn=a.SocialSecurityNumber                  
and p.DateOfBirth=a.DateOfBirth                  
where p.GlobalId='' and  MediAssist='NO'                  
                  
update p set MediAssist='Yes'                  
--select p.*                   
from #compliancePatients p                  
join (select distinct FirstName +' '+LastName as PatientName,DateOfBirth                   
from pp_ods..rxqPatient with(nolock)                  
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber=''                   
and GlobalId=''                  
--order by  SocialSecurityNumber                   
) a on p.PatientName=a.PatientName                  
and p.DateOfBirth=a.DateOfBirth                  
where p.GlobalId='' and  MediAssist='NO'                  
                  
                  
--select p.*                   
--from #compliancePatients p                  
--where p.GlobalId=''                   
                  
--select  GlobalId,ssn,DateOfBirth                  
--from #compliancePatients p                  
--where p.GlobalId='' and ssn=''                  
                  
--select * from #compliancePatients                  
                  
delete from                   
#compliancePatients where GlobalId in (                  
select [GlobalId] from [PatientView] p                  
where [GlobalId]<>''                   
)                  
                  
                  
delete c from                   
--select * from                   
#compliancePatients c                   
join [PatientView] p on c.GlobalId=p.GlobalId and p.GlobalId <>''                  
                  
delete c from                  
--select * from              
#compliancePatients c                   
join [PatientView] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN                  
 and p.ssn<>''                  
                  
delete c from                
--select * from             
#compliancePatients c                   
join [PatientView] p on c.DateOfBirth=p.DateOfBirth                   
and c.PatientName=p.PatientName                  
---and p.GlobalId='' and p.ssn=''                  
                  
delete c from                   
#compliancePatients c where DateOfBirth is null                  
                  
delete a                   
--select a.*,p.*  --distinct a.patientname                     
from                     
#compliancePatients a                  
join                   
[PatientView] p                  
on                  
(                        
(p.GlobalId=a.GlobalId and p.GlobalId <>'' and a.GlobalId<>'')                  
  or                        
  (                   
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''                        
and  a.SSN<>''               
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth                        
  )                        
or                        
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )                        
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName                        
  )                        
)               
          
update c set DisplayName= case when MiddleInitial<>'' then          
Lastname+','+FirstName+' '+ MiddleInitial           
else LastName+','+FirstName end          
--select PatientName,DateOfBirth , MiddleInitial,*          
from #compliancePatients c          
                  
truncate table [PatientView_AllPatients]         
                 
Insert into [PatientView_AllPatients]                  
(                  
    [GlobalId] ,                  
 SSN ,                  
 [PatientName],            
 DisplayName,            
 [DateOfBirth] ,                  
 [street] ,                  
 [city] ,                  
 [state] ,                  
 [zip] ,                  
 [Phone] , phone2,                 
 MediAssist ,                  
 RecordCreatedBy ,                  
 RecordCreatedDate,                  
 PatientIdentifier)                  
                  
select                   
[GlobalId] ,                  
 SSN ,                  
 [PatientName],            
 DisplayName,            
 [DateOfBirth] ,                  
 [street] ,                  
 [city] ,                  
 [state] ,                  
 [zip] ,                  
 PhoneNumber_ph1 ,PhoneNumber_ph2,                  
 MediAssist ,                  
 'SS_ETL_JOB' RecordCreatedBy ,                  
 getdate() RecordCreatedDate,                  
 PatientIdentifier                  
from                     
#compliancePatients a                  
order by [GlobalId] desc , ssn desc                   
                  
                  
end 
GO
