USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientMedReviewHistory_Backup20241103]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedReviewHistory_Backup20241103](
	[Globalid] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](100) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [datetime] NULL,
	[Createddate] [datetime] NULL
) ON [PRIMARY]
GO
