USE [MediTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PatientMedSigQuantityUpdateBatch]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Sp_PatientMedSigQuantityUpdateBatch]                     
  @Medications PatientMedSigQuantityUpdateType READONLY  ,@user varchar(50)      
  --,  @Role varchar(100)=null        
AS                      
BEGIN                     
                  
Declare @Rowcount int = 0 , @PatientIdentifier varchar(200)            
--,@roledesc  varchar(50)            
--select @roledesc = roledesc from UserDetails d  where name=@user            
                  
select @PatientIdentifier = (                  
select top 1 PatientIdentifier                   
from @Medications order by PatientIdentifier)                  
                      
-- Update the MedicationSchedule table for all medications in the batch                      
  UPDATE ms                      
  SET                       
      ms.Quantity1 = m.Quantity1,                      
      ms.Quantity2 = m.Quantity2,                      
      ms.Quantity3 = m.Quantity3,                      
      ms.Quantity4 = m.Quantity4,ms.RecordModifiedDate=getdate() ,ms.RecordModifiedBy=@user  ,    
   ms.DMLType='Update' , ms.Drug_name=REPLACE(m.drug_name, '  ', ' ') ,  
   ms.Quantity0 = m.Quantity0   
  FROM PatientMedSigQuantity ms                      
  INNER JOIN @Medications m                      
  ON ms.PMID = m.PMID;                     
                    
  select @Rowcount=@@ROWCOUNT                  
                      
insert into PatientMedSigQuantity(PMID,PatientIdentifier,Quantity1,Quantity2,                    
Quantity3,Quantity4,RecordCreatedDate,                      
RecordModifiedDate,RecordCreatedBy,RecordModifiedBy,DMLType,Drug_name,Quantity0)                      
                      
select m.PMID,m.PatientIdentifier,m.Quantity1,m.Quantity2,m.Quantity3,m.Quantity4                    
,getdate(),getdate() ,@user,@user   ,'Insert' as DMLType    
,REPLACE(m.drug_name, '  ', ' ')   drug_name   ,m.Quantity0            
FROM @Medications m                      
left join                       
PatientMedSigQuantity ms with(nolock)                      
ON ms.PMID = m.PMID                      
where ms.pmid is null                       
                  
select @Rowcount=@Rowcount+@@ROWCOUNT                  
                  
if (@Rowcount > 0 --and isnull(@roledesc,'dummy') <> 'Intern'          
)                  
begin                   
                  
if not exists (select 1 from TimeSlotsReviewDetails p with(nolock)                          
where PatientIdentifier=@PatientIdentifier )                   
begin                   
                  
insert into TimeSlotsReviewDetails(                  
PatientIdentifier                  
,ReviewedBy                  
,ReviewedDate                  
,RecordCreatedBy                  
,RecordCreatedDate)                  
                  
select @PatientIdentifier PatientIdentifier                  
,@user ReviewedBy                  
,getdate() ReviewedDate                  
,@user CreatedBy                  
,getdate() CreatedDate                  
                  
end                   
else begin                   
                  
update p set ReviewedBy=@user ,ReviewedDate=cast(getdate() as date)                         
output                         
    deleted.[TSID] ,                  
 deleted.[PatientIdentifier] ,                  
 deleted.[ReviewedBy] ,                  
 deleted.[ReviewedDate],                  
 deleted.RecordCreatedBy,                  
 deleted.RecordCreatedDate  ,                      
getdate() ,                      
@user                  
 into [TimeSlotsReviewHistoryDetails](                  
    [TSID] ,                  
 [PatientIdentifier] ,                  
 [ReviewedBy] ,                  
 [ReviewedDate],                  
  RecordCreatedBy,                  
 RecordCreatedDate,                  
 HistoryCreatedDate,                  
 HistoryCreatedBy)                          
from TimeSlotsReviewDetails p                                  
where  PatientIdentifier=@PatientIdentifier    
and (                   
(p.ReviewedBy<> @user) or                   
(cast(p.ReviewedDate as date)<> cast(getdate() as date))                  
)                   
                  
end                  
                  
                  
            
end                   
                      
                        
END              
              
            
        
        
      
      
GO
