USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientView_NotesHistory_Backup13052026]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientView_NotesHistory_Backup13052026](
	[PVNHID] [int] IDENTITY(1,1) NOT NULL,
	[PVID] [int] NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Notes] [varchar](2000) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[HistoryRecordCreatedBy] [varchar](50) NULL,
	[HistoryRecordCreatedDate] [datetime] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[IsPinned] [int] NOT NULL
) ON [PRIMARY]
GO
