USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PrescriberMaster]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriberMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Prescriber] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrescriberMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
