USE [MediTrackerDB_PROD]
GO
/****** Object:  View [dbo].[vw_PatientSnapshotInfo]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_PatientSnapshotInfo]                    
as                     
select v.GlobalId as PatientId,v.*,     
case when     
DATEDIFF(DAY, CAST(GETDATE() AS DATE), v.NextPackDate) is null then 'N/A'  
when  
DATEDIFF(DAY, CAST(GETDATE() AS DATE), v.NextPackDate)-1 < 0     
then '0'     
else     
cast(DATEDIFF(DAY, CAST(GETDATE() AS DATE), v.NextPackDate)-1 as varchar) end    
AS DaysUntilNextPack,    
m.ProviderName,                  
m.NextAppointmentDate                  
from PatientView v with(nolock)                    
left join                     
MediTracker_PatientSnapshotInfo M with(nolock) on                     
(                     
   (v.PVID=m.pvid  )                    
or                    
  (v.PatientIdentifier=m.PATIENTID  )                          
  or                     
  (v.PatientIdentifier = m.Name_DOB)                    
  or                     
  (v.PatientIdentifier=m.SSN_DOB)                    
) 

GO
