USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[UserRecordIdMapping]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRecordIdMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Name] [varchar](50) NULL,
	[EmailID] [varchar](50) NULL,
	[RecordId] [varchar](4) NULL,
	[RoleDesc] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRecordIdMapping] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
