USE [MediTrackerDB_PROD]
GO
/****** Object:  View [dbo].[vw_GetPatientNotesForPDF]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view  [dbo].[vw_GetPatientNotesForPDF]  
as  
  
WITH Notes AS  
(  
    SELECT   
        PVNHID,  
        PinnedBy AS RecordModifiedBy,  
  
        CASE   
            WHEN IsPinned = 1   
            THEN 'Pinned Note'   
            ELSE 'Unpinned Note'  
        END AS UserAction,  
  
        PinnedDate AS RecordModifiedDate  
  
    FROM PatientView_NotesHistory  
    where PinnedBy <> RecordCreatedBy  
  
    UNION ALL  
  
    SELECT   
        PVNHID,  
        HiddenBy AS RecordModifiedBy,  
  
        CASE   
            WHEN IsHidden = 1   
            THEN 'Hidden Note'   
            ELSE 'Unhidden Note'  
        END AS UserAction,  
  
        HiddenDate AS RecordModifiedDate  
  
    FROM PatientView_NotesHistory  
    WHERE  HiddenBy <> RecordCreatedBy  
),  
  
LatestUsers AS  
(  
    SELECT  
        PVNHID,  
        RecordModifiedBy,  
        MAX(RecordModifiedDate) AS LatestDate  
    FROM Notes  
    GROUP BY PVNHID, RecordModifiedBy  
),  
  
Actions AS  
(  
    SELECT  
        PVNHID,  
        UserAction,  
        RecordModifiedDate  
    FROM Notes  
)  
,  
UserActions as  
(  
SELECT  
    U.PVNHID,  
  
    (  
        SELECT STRING_AGG(RecordModifiedBy, ';')  
        WITHIN GROUP (ORDER BY LatestDate )  
        FROM LatestUsers LU  
        WHERE LU.PVNHID = U.PVNHID  
    ) AS RecordModifiedBy,  
  
    (  
        SELECT STRING_AGG(UserAction, ';')  
        WITHIN GROUP (ORDER BY RecordModifiedDate )  
        FROM Actions A  
        WHERE A.PVNHID = U.PVNHID  
    ) AS UserAction  
  
FROM LatestUsers U  
GROUP BY U.PVNHID  
)  
  
  
select n.PatientIdentifier,  
n.PVNHID,GlobalId,SSN,PatientName,DateOfBirth,Notes,      
RecordCreatedBy,u.RecordModifiedBy,u.UserAction,  
   n.RecordModifiedDate,n.IsPinned, n.RecordCreatedDate, n.IsHidden  
from PatientView_NotesHistory n  
left join  
UserActions u    
on n.PVNHID=u.PVNHID  
  
  
  
  
  
  
  
GO
