USE [MediTrackerDB_PROD]
GO
/****** Object:  View [report].[vw_PatientTimeSlot]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [report].[vw_PatientTimeSlot]
as
select p.PatientIdentifier,
isnull(TimeSlot0,'7:00AM') TimeSlot0
,isnull(TimeSlot1,'8:00AM') TimeSlot1 
,isnull(TimeSlot2,'12:00PM')TimeSlot2 ,isnull(TimeSlot3,'4:00PM')TimeSlot3,
isnull(TimeSlot4,'8:00PM')TimeSlot4
from 
patientview p 
left join 
PatientMedTimeSlots t on p.PatientIdentifier=t.PatientIdentifier
GO
