USE [MediTrackerDB_PROD]
GO
/****** Object:  View [report].[vw_PackedMedsQuantity]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [report].[vw_PackedMedsQuantity]
as 
select PatientIdentifier,Drug_name,sigs,Quantity0,Quantity1,Quantity2,Quantity3,
Quantity4,PMID
from       
(      
      
SELECT      
                s.Quantity1,      
                s.Quantity2,      
                s.Quantity3,      
                s.Quantity4,      
    s.Quantity0,     
                m.Drug_name,      
                m.IsPacked,      
                m.sigs,      
                m.PatientIdentifier,      
                    
  m.ReviewedDate,      
                m.ReviewedBy      
                ,m.PMID      
                ,m.NdcNumber      
                ,m.QuantityDispensed      
                ,m.Prescriber      
            FROM      
                PatientMedicationList m WITH (NOLOCK)      
              JOIN      
                PatientMedSigQuantity s WITH (NOLOCK)      
            ON      
                m.PatientIdentifier = s.PatientIdentifier and m.PMID = s.PMID 
				where m.IsPacked='yes'
union all       
      
SELECT      
                abc.Quantity1,      
            
          abc.Quantity2,      
                abc.Quantity3,      
                abc.Quantity4,      
     abc.Quantity0,     
                m.Drug_name,      
                m.IsPacked,      
                m.sigs,      
                m.PatientIdentifier,      
                m.ReviewedDate,      
                m.ReviewedBy      
                ,m.PMID      
                ,m.NdcNumber      
                ,m.QuantityDispensed      
                ,m.Prescriber      
            FROM      
                PatientMedicationList m WITH (NOLOCK)      
              left JOIN      
                PatientMedSigQuantity s WITH (NOLOCK)      
            ON      
                m.PatientIdentifier = s.PatientIdentifier and m.PMID = s.PMID      
      
      left join       
            (      
            select drug_name,Quantity1,      
                Quantity2,      
                Quantity3,      
                Quantity4,PatientIdentifier,  Quantity0,    
    ROW_NUMBER() over(partition by PatientIdentifier,drug_name       
            order by historycreateddate desc ) RNK      
            from PatientMedSigQuantity_History where DMLType='delete'      
        ) abc  on abc.rnk=1 and abc.PatientIdentifier=m.PatientIdentifier      
   and abc.Drug_name =REPLACE(m.drug_name, '  ', ' ')      
    where  s.PMID is null    and  m.IsPacked='yes'   
      
    ) a    
GO
