USE [MediTrackerDB_PROD]
GO
/****** Object:  View [report].[vw_ImportMedicines]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [report].[vw_ImportMedicines]
as 
select                                                   
 --c.[PatientName] ,                 
 --c.Globalid ,                                                  
 --c.SSN ,                     
 --c.DateOfBirth,                                         
 c.[Drug_name] ,                                        
 c.[DateDispensedSQL] ,                                                  
 c.[QuantityDispensed] ,                                                
 c.[Sigs],                                                  
 --c.[OnHold] ,                                  
 --c.[Sb_LastModified] ,                                                  
 c.Pharmacy as Pharmacy
 --,c.ScriptNumber,c.cScriptTransactionId 
 ,c.PatientIdentifier ,                                
 --'N' as IsExported ,
 c.DateWritten    ,c.Prescriber  ,c.NdcNumber ,
 --c.RefillNumber  ,  
 cast(c.ScriptNumber as varchar(50))+  
case when len(c.RefillNumber)=1 then '-0' else '-' end +  
cast(c.RefillNumber as varchar(5)) RX#  
from LibertyMedicationList_CompPack c  with(nolock)                                                   
left join PatientMedicationList p with(nolock)                                                 
on p.cScriptTransactionId=c.cScriptTransactionId                                          
and p.ScriptNumber=c.ScriptNumber                                                            
left join report.vw_patientreviewdetails v on v.PatientIdentifier=c.PatientIdentifier              
where                                           
p.cScriptTransactionId is null               
and isnull(v.ReviewedDate ,'1900-01-01') <=                          
case when c.OnHold='y' then c.DateWritten                                    
else c.DateDispensedSQL  end               
 
GO
