USE [MediTrackerDB_PROD]
GO
/****** Object:  View [report].[vw_patientreviewdetails]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view  [report].[vw_patientreviewdetails]
as
----Reviewed By and Reviewed Date 
SELECT 
    t.PatientIdentifier,
    t.ReviewedBy,
    t.ReviewedDate
FROM (
    SELECT 
        PatientIdentifier,
        ReviewedBy,
        ReviewedDate,
        ROW_NUMBER() OVER (
            PARTITION BY PatientIdentifier 
            ORDER BY ReviewedDate DESC
        ) AS rn
    FROM (
        SELECT PatientIdentifier, ReviewedBy, ReviewedDate
        FROM TimeSlotsReviewDetails WITH (NOLOCK)
        UNION ALL
        SELECT PatientIdentifier, ReviewedBy, ReviewedDate
        FROM PatientMedReviewDetails WITH (NOLOCK)
    ) AS combined
) AS t
WHERE t.rn = 1


GO
