USE [MediTrackerDB_PROD]
GO
/****** Object:  View [report].[vw_NonPackedMedicines]    Script Date: 7/27/2026 6:29:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [report].[vw_NonPackedMedicines]  
as   
select PatientIdentifier,Drug_name 
from PatientMedicationList with(nolock)
where IsPacked='No'
GO
