USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PREPAYMENT]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PREPAYMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PREPAYMENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[TOTALAMOUNT] [numeric](22, 2) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[PROVIDERNAME] [varchar](max) NULL,
	[PLANNAME] [varchar](max) NULL,
	[PREPAYMENTTYPEID] [numeric](38, 0) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[DATEOFSERVICEDATETIME] [datetime2](7) NULL,
	[BALANCEDUEBYDATETIME] [datetime2](7) NULL,
	[PAYMENTAMOUNT] [numeric](22, 2) NULL,
	[PAYMENTPERIOD] [varchar](max) NULL,
	[DELETEDNOTE] [varchar](max) NULL,
	[PAIDINFULL] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
