USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[FAXPAGEGROUP]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FAXPAGEGROUP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[FAXPAGEGROUPID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[STATUS] [varchar](max) NULL,
	[CATEGORY] [varchar](max) NULL,
	[FROMFAXNUMBER] [varchar](max) NULL,
	[FROMREMOTE] [varchar](max) NULL,
	[ASSIGNEDTO] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[TYPE] [varchar](max) NULL,
	[TEAMPRACTICEGROUPID] [numeric](12, 0) NULL,
	[SOURCE] [varchar](max) NULL,
	[FPGWORKFLOWID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
