USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ClinicalEncounterDiagnosis]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ClinicalEncounterDiagnosis](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERDXID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[STATUS] [varchar](max) NULL,
	[LATERALITY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
