USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[FEESCHEDULEPROCEDURE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FEESCHEDULEPROCEDURE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[FEESCHEDULEID] [numeric](12, 0) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[OPERATIONID] [numeric](12, 0) NULL,
	[REVENUECODE] [varchar](max) NULL,
	[FEEAMOUNT] [numeric](12, 2) NULL,
	[MINANESTHESIATIMEUNITS] [numeric](12, 0) NULL,
	[MAXANESTHESIATIMEUNITS] [numeric](12, 0) NULL,
	[MINACCEPTABLETOTALPAYMENT] [numeric](12, 2) NULL,
	[MAXACCEPTABLETOTALPAYMENT] [numeric](12, 2) NULL,
	[ISDELETED] [bit] NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
