USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PAYMENTBATCH]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PAYMENTBATCH](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[DEPOSITBATCHID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[POSTDATE] [date] NULL,
	[CLOSEDDATETIME] [datetime2](7) NULL,
	[TYPE] [varchar](max) NULL,
	[CHECKNUMBER] [varchar](max) NULL,
	[BATCHMETHOD] [varchar](max) NULL,
	[TOTALCASHAMOUNT] [numeric](12, 2) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
