USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[TRANSACTIONBILLINGBATCH]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TRANSACTIONBILLINGBATCH](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[TRANSACTIONID] [numeric](12, 0) NULL,
	[TRANSACTIONBILLINGBATCHID] [numeric](12, 0) NULL,
	[BILLINGBATCHID] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DUNNINGLEVEL] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
