USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTMESSAGESOURCE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTMESSAGESOURCE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PATIENTMESSAGESOURCEID] [numeric](12, 0) NULL,
	[PATIENTMESSAGEREQUESTID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTTICKLERID] [numeric](12, 0) NULL,
	[GROUPCALLCAMPAIGNID] [numeric](12, 0) NULL,
	[PATIENTSTATEMENTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[QMCAMPAIGNID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
