USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTCOMMUNICATORDETAIL]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTCOMMUNICATORDETAIL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTCOMMUNICATORDETAILID] [numeric](11, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[FAILEDLOGINCOUNT] [numeric](12, 0) NULL,
	[FAILEDLOGINDATEDATETIME] [datetime2](7) NULL,
	[LASTFAILEDLOGINIP] [varchar](max) NULL,
	[LASTLOGINIP] [varchar](max) NULL,
	[LASTLOGINDATEDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[NOPORTALREASON] [varchar](max) NULL,
	[LASTHARDSTOPDATETIME] [datetime2](7) NULL,
	[NOPORTALREASONDATEDATETIME] [datetime2](7) NULL,
	[PROSPECTIVEPATIENTREVIEWEDDATETIME] [datetime2](7) NULL,
	[PROSPECTIVEPATIENTREVIEWEDBY] [varchar](max) NULL,
	[UNIQUEPATIENTRECORDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
