USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ORDERNOTDONEREASON]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ORDERNOTDONEREASON](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ORDERNOTDONEREASONID] [numeric](12, 0) NULL,
	[SNOMEDCODE] [numeric](38, 0) NULL,
	[CLINICALORDERTYPEGROUPID] [numeric](38, 0) NULL,
	[VACCINEREFUSEDREASONID] [numeric](38, 0) NULL,
	[ACTREASONID] [numeric](38, 0) NULL,
	[REASONDISPLAYTEXT] [varchar](max) NULL,
	[INPATIENTDISCHARGEYN] [varchar](max) NULL,
	[AMBULATORYYN] [varchar](max) NULL,
	[ORDERING] [numeric](38, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
