USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[INTERFACEMESSAGELOG]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[INTERFACEMESSAGELOG](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[INTERFACEMESSAGELOGID] [numeric](11, 0) NULL,
	[INTERFACEMESSAGELOGCONTEXTID] [numeric](12, 0) NULL,
	[INTERFACEMESSAGEID] [numeric](11, 0) NULL,
	[LOGTYPE] [varchar](max) NULL,
	[LOGTEXT] [varchar](max) NULL,
	[FIXTEXT] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[MAPKEY] [varchar](max) NULL,
	[FOREIGNID] [varchar](max) NULL,
	[FOREIGNINFO] [varchar](max) NULL,
	[PICKERTYPE] [varchar](max) NULL,
	[ATHENAID] [varchar](max) NULL,
	[ERRORSEVERITY] [numeric](11, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
