USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ROLEPERMISSION]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ROLEPERMISSION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[USERACCESSID] [numeric](12, 0) NULL,
	[USERACCESSSOURCE] [varchar](6) NULL,
	[ROLEPERMISSIONID] [numeric](12, 0) NULL,
	[ROLEPERMISSIONSOURCE] [varchar](6) NULL,
	[USERNAME] [varchar](max) NULL,
	[ROLE] [varchar](max) NULL,
	[ROLEDESCRIPTION] [varchar](max) NULL,
	[PERMISSIONNAME] [varchar](max) NULL,
	[PERMISSIONDESCRIPTION] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
