USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[COTORDERCODE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[COTORDERCODE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[COTORDERCODEID] [numeric](12, 0) NULL,
	[CODE] [varchar](max) NULL,
	[ENDDATEDATETIME] [datetime2](7) NULL,
	[STARTDATEDATETIME] [datetime2](7) NULL,
	[CODESYSTEMID] [numeric](12, 0) NULL,
	[CLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[CONCEPTMAPEQUIVALENCEID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
