USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[DEPARTMENT]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DEPARTMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[CHARTSHARINGGROUPID] [numeric](38, 0) NULL,
	[DEPARTMENTNAME] [varchar](max) NULL,
	[BILLINGNAME] [varchar](max) NULL,
	[DEPARTMENTADDRESS] [varchar](max) NULL,
	[DEPARTMENTADDRESS2] [varchar](max) NULL,
	[DEPARTMENTCITY] [varchar](max) NULL,
	[DEPARTMENTSTATE] [varchar](max) NULL,
	[DEPARTMENTZIP] [varchar](max) NULL,
	[DEPARTMENTPHONE] [varchar](max) NULL,
	[DEPARTMENTFAX] [varchar](max) NULL,
	[DEPARTMENTMEDICALPROVIDERID] [varchar](max) NULL,
	[GPCILOCATIONID] [numeric](38, 0) NULL,
	[GPCILOCATIONNAME] [varchar](max) NULL,
	[PLACEOFSERVICECODE] [varchar](max) NULL,
	[PLACEOFSERVICETYPE] [varchar](max) NULL,
	[SPECIALTYCODE] [varchar](max) NULL,
	[DEPARTMENTSPECIALTY] [varchar](max) NULL,
	[PROVIDERGROUPID] [numeric](38, 0) NULL,
	[DEPARTMENTGROUP] [varchar](max) NULL,
	[TYPEOFBILLCODE] [varchar](max) NULL,
	[TYPEOFBILL] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CAMPUSLOCATION] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DEPARTMENTGROUPID] [numeric](12, 0) NULL,
	[PATIENTFACINGCONTACT] [varchar](max) NULL,
	[RECURRINGYN] [varchar](max) NULL,
	[LONGITUDE] [numeric](20, 8) NULL,
	[ENTITYIDENTIFIER] [varchar](max) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[ROUNDINGLISTDEPARTMENTYN] [varchar](max) NULL,
	[COMMUNICATORDISPLAYNAME] [varchar](max) NULL,
	[DELIVERYSITEYN] [varchar](max) NULL,
	[PLCCITY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[OFFICEHOURS] [varchar](max) NULL,
	[FACILITYID] [varchar](max) NULL,
	[MERCHANTGROUPID] [numeric](12, 0) NULL,
	[SKIPCHARTREVIEWYN] [varchar](max) NULL,
	[COMMUNICATORDISPLAYADDR] [varchar](max) NULL,
	[SERVICEDEPARTMENTYN] [varchar](max) NULL,
	[PLCBILLINGNAME] [varchar](max) NULL,
	[PLCADDRESS] [varchar](max) NULL,
	[HIDEINPORTALYN] [varchar](max) NULL,
	[STATEMENTSPHONE] [varchar](max) NULL,
	[AUTOMATEBILLINGCYCLEYN] [varchar](max) NULL,
	[LATITUDE] [numeric](20, 8) NULL,
	[HOSPITALDEPARTMENTYN] [varchar](max) NULL,
	[PLCNAME] [varchar](max) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[TYPEOFBILLID] [numeric](12, 0) NULL,
	[CLIANUMBER] [varchar](max) NULL,
	[LOCALCLINICALPROVIDERID] [numeric](38, 0) NULL,
	[PATIENTDEPARTMENTYN] [varchar](max) NULL,
	[CALLERID] [varchar](max) NULL,
	[PLCADDRESS2] [varchar](max) NULL,
	[COMMUNICATORDISPLAYNAMENOTE] [varchar](max) NULL,
	[ROOTSSIPROJECTTASKID] [numeric](12, 0) NULL,
	[ENVOYSITEIDCODE] [varchar](max) NULL,
	[NOCHECKIN] [varchar](max) NULL,
	[AFTERHOURSCONTACT] [varchar](max) NULL,
	[SUPERVISINGPROVIDERATCHECKINYN] [varchar](max) NULL,
	[BATCHHEADERFLAGMISSINGYN] [varchar](max) NULL,
	[ECOMMERCEDEPARTMENTYN] [varchar](max) NULL,
	[CHARTHOMEDEPARTMENTYN] [varchar](max) NULL,
	[DIRECTIONSTOOFFICE] [varchar](max) NULL,
	[CONTRACTDEPARTMENTYN] [varchar](max) NULL,
	[SCHEDULINGDEPARTMENTYN] [varchar](max) NULL,
	[PATIENTFACINGWEBSITE] [varchar](max) NULL,
	[COMMUNICATORDISPLAYADNOTE] [varchar](max) NULL,
	[SCHEDULINGNOTE] [varchar](max) NULL,
	[COSTCENTERTYPEID] [numeric](12, 0) NULL,
	[BACKLINEPHONE] [varchar](max) NULL,
	[TRANSACTDEPARTMENTYN] [varchar](max) NULL,
	[PUBLICHOUSINGYN] [varchar](max) NULL,
	[BATCHHEADERFLAGHOLDREVIEWYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
