USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[Payer]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[Payer](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[SOURCETYPE] [varchar](7) NULL,
	[INSURANCEPACKAGENAME] [varchar](max) NULL,
	[INSURANCEPACKAGETYPE] [varchar](max) NULL,
	[NONINSURANCETYPE] [varchar](max) NULL,
	[INSURANCEPRODUCTTYPE] [varchar](max) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[INSURANCEREPORTINGCATEGORY] [varchar](max) NULL,
	[IRCGROUP] [varchar](max) NULL,
	[CUSTOMINSURANCEGROUPING] [varchar](max) NULL,
	[GLOBALALLOWABLECATEGORY] [varchar](max) NULL,
	[LOCALALLOWABLECATEGORY] [varchar](max) NULL,
	[EFFECTIVEDATE] [date] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[INSURANCEPACKAGESTATE] [varchar](max) NULL,
	[INSURANCEPACKAGEADDRESS] [varchar](max) NULL,
	[INSURANCEPACKAGEADDRESS2] [varchar](max) NULL,
	[INSURANCEPACKAGECITY] [varchar](max) NULL,
	[INSURANCEPACKAGEZIP] [varchar](max) NULL,
	[INSURANCEPACKAGEFAX] [varchar](max) NULL,
	[INSURANCEPACKAGEPHONE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
