USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[MEDICATION]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[MEDICATION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[MEDICATIONID] [numeric](12, 0) NULL,
	[MEDICATIONNAME] [varchar](max) NULL,
	[FDBMEDID] [numeric](12, 0) NULL,
	[MEDNAMEID] [numeric](8, 0) NULL,
	[RXNORM] [varchar](max) NULL,
	[NDC] [varchar](max) NULL,
	[HIC3CODE] [varchar](max) NULL,
	[HIC3DESCRIPTION] [varchar](max) NULL,
	[HIC1CODE] [varchar](max) NULL,
	[HIC1DESCRIPTION] [varchar](max) NULL,
	[GCNCLINICALFORUMULATIONID] [numeric](5, 0) NULL,
	[HIC2PHARMACOLOGICALCLASS] [varchar](max) NULL,
	[HIC4INGREDIENTBASE] [varchar](max) NULL,
	[BRANDORGENERICINDICATOR] [varchar](max) NULL,
	[DEASCHEDULE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[GENERICMEDCONCEPTID] [numeric](8, 0) NULL,
	[HIC2DESCRIPTION] [varchar](max) NULL,
	[ISDELETED] [bit] NULL,
	[HIC2CODE] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
