USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTPRIVACYNOTE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTPRIVACYNOTE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTPRIVACYNOTEID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](38, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[REQUESTDATE] [date] NULL,
	[REVIEWDATE] [date] NULL,
	[NOTETYPE] [varchar](max) NULL,
	[NOTECATEGORY] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
