USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[WORKLISTRECORD]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[WORKLISTRECORD](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[WORKLISTRECORDID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[CLAIMCONTEXTID] [numeric](12, 0) NULL,
	[STATUSDATE] [date] NULL,
	[WORKLISTNAME] [varchar](max) NULL,
	[WORKLISTTEAM] [varchar](max) NULL,
	[HASSTOPEVENTYN] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[STARTCLAIMNOTEID] [numeric](12, 0) NULL,
	[STOPCLAIMNOTEID] [numeric](12, 0) NULL,
	[CURRENTERRORTEXT] [varchar](max) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
