USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[MEDICALGROUPNUMBER]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[MEDICALGROUPNUMBER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[MEDICALGROUPNUMBERID] [numeric](12, 0) NULL,
	[MEDICALGROUPID] [numeric](12, 0) NULL,
	[TYPE] [varchar](max) NULL,
	[NUMBER] [varchar](max) NULL,
	[EFFECTIVEDATE] [date] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[VERIFICATIONSTATUS] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
