USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[VITALATTRIBUTE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[VITALATTRIBUTE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[VITALID] [numeric](12, 0) NULL,
	[LOINCID] [numeric](12, 0) NULL,
	[ABBREVIATION] [varchar](max) NULL,
	[VITALATTRIBUTEID] [numeric](12, 0) NULL,
	[INPATIENTYN] [varchar](max) NULL,
	[GRAPHABLEYN] [varchar](1) NULL,
	[DATATYPE] [varchar](max) NULL,
	[PROCEDUREYN] [varchar](1) NULL,
	[OUTPATIENTYN] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[SUPPORTEDYN] [varchar](1) NULL,
	[MEASURETYPE] [varchar](max) NULL,
	[CALCULATEDYN] [varchar](1) NULL,
	[DEFAULTUNITS] [varchar](max) NULL,
	[UNITOFMEASUREID] [numeric](12, 0) NULL,
	[CLINICALELEMENTID] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
