USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTCONTACTPREFERENCE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTCONTACTPREFERENCE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTCONTACTPREFERENCEID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[METHOD] [varchar](max) NULL,
	[REASON] [varchar](max) NULL,
	[ACTIVEYN] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
