USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALCLINICALPROVIDER]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALCLINICALPROVIDER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALCLINICALPROVIDERID] [numeric](38, 0) NULL,
	[NAME] [varchar](max) NULL,
	[PLCNAME] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[PLCCITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[PHONE] [varchar](max) NULL,
	[URL] [varchar](max) NULL,
	[LABTYPE] [varchar](max) NULL,
	[CLIANUMBER] [varchar](max) NULL,
	[KEEPASLOCALFLAG] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](38, 0) NULL,
	[ADDRESS1] [varchar](max) NULL,
	[PLCADDRESS1] [varchar](max) NULL,
	[FAX] [varchar](max) NULL,
	[TRANSLATEDFAXNUMBER] [varchar](max) NULL,
	[TRANSLATEDPHONENUMBER] [varchar](max) NULL,
	[TRANSLATEDZIP] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[PLCADDRESS2] [varchar](max) NULL,
	[UPIN] [varchar](max) NULL,
	[NPI] [varchar](max) NULL,
	[FEDERALIDNUMBER] [varchar](max) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[SPECIALTY] [varchar](max) NULL,
	[SUBSPECIALTY] [varchar](max) NULL,
	[PLCSUBSPECIALTY] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[PLCFIRSTNAME] [varchar](max) NULL,
	[MIDDLENAME] [varchar](max) NULL,
	[PLCMIDDLENAME] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[PLCLASTNAME] [varchar](max) NULL,
	[TITLE] [varchar](max) NULL,
	[COUNTY] [varchar](max) NULL,
	[GENDER] [varchar](max) NULL,
	[MEDICALSCHOOL] [varchar](max) NULL,
	[RESIDENCYTRAINING] [varchar](max) NULL,
	[EMAIL] [varchar](max) NULL,
	[WEBSITE] [varchar](max) NULL,
	[PRIMARYSPECIALTY] [varchar](max) NULL,
	[SECONDARYSPECIALTY] [varchar](max) NULL,
	[GRADUATIONYEAR] [numeric](38, 0) NULL,
	[MAJORACTIVITY] [varchar](max) NULL,
	[HOSPITAL] [varchar](max) NULL,
	[GROUPPRACTICE] [varchar](max) NULL,
	[PLCGROUPPRACTICE] [varchar](max) NULL,
	[ABMSCERTIFICATION] [varchar](max) NULL,
	[LANGUAGES] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[PLCDESCRIPTION] [varchar](max) NULL,
	[NCPDPID] [varchar](max) NULL,
	[SOURCE] [varchar](max) NULL,
	[CLINICALPROVIDERORGANIZATIONID] [numeric](38, 0) NULL,
	[RELATIONSHIPTOORGANIZATION] [varchar](max) NULL,
	[CLINICALPROVIDERRECEIVERID] [numeric](38, 0) NULL,
	[PRESCRIPTIONQUANTITYREQUIREDYN] [varchar](max) NULL,
	[REJECTEDDATETIME] [datetime] NULL,
	[REJECTEDREASON] [varchar](max) NULL,
	[RESUBMITTEDDATETIME] [datetime] NULL,
	[PARENTCLINICALPROVIDERID] [numeric](38, 0) NULL,
	[ORGPARENTCLINICALPROVIDERID] [numeric](38, 0) NULL,
	[ACCEPTFAX] [varchar](1) NULL,
	[PHARMACYTYPE] [varchar](max) NULL,
	[LOCALCLINICALPROVIDERCONTEXTID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[ISSCHEDULABLE] [varchar](max) NULL,
	[ANSISPECIALTYID] [numeric](12, 0) NULL,
	[RESTRICTCOMPENDIUMYN] [varchar](max) NULL,
	[COORDINATORSVCDEPTYN] [varchar](max) NULL,
	[SERVICESPROVIDEDYN] [varchar](max) NULL,
	[DUPLICATEOFCLINICALPROVIDERID] [numeric](38, 0) NULL,
	[REPLACEDBYCLINICALPROVIDERID] [numeric](38, 0) NULL,
	[SPECIMENSOURCELISTID] [numeric](12, 0) NULL,
	[PERSONENTITY] [varchar](max) NULL,
	[UPDATETOCLINICALPROVIDERID] [numeric](38, 0) NULL,
	[ORDERFLOWRECEIVERACTIVEDATEDATETIME] [datetime] NULL,
	[ORDERRECEIVERTEXTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[REFERRALHANDLERID] [numeric](38, 0) NULL,
	[ORDERCONTENTRULES] [varchar](max) NULL,
	[PATIENTSERVICECENTERYN] [varchar](max) NULL,
	[PATIENTSERVICECENTERCODE] [varchar](max) NULL,
	[SELFNOMINATEDYN] [varchar](max) NULL,
	[GLOBALSCHEDULINGENABLEDYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
