USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALALLOWCATDATA]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALALLOWCATDATA](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALALLOWCATDATAID] [numeric](12, 0) NULL,
	[SUPPRESSYN] [varchar](max) NULL,
	[LOCALALLOWABLECATEGORYID] [numeric](12, 0) NULL,
	[KEY] [varchar](max) NULL,
	[VALUE] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
