USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PORTALTHIRDPARTYUSER]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PORTALTHIRDPARTYUSER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PORTALTHIRDPARTYUSERID] [numeric](12, 0) NULL,
	[UIAMUSERID] [varchar](max) NULL,
	[UNIVERSALPORTALUSERID] [numeric](12, 0) NULL,
	[UNIVERSALPORTALONLYMAPPINGYN] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[PASSWORD] [varchar](max) NULL,
	[PASSWORDEXPIRESDATETIME] [datetime2](7) NULL,
	[TEMPORARYPASSWORDSETDATETIME] [datetime2](7) NULL,
	[FAILEDLOGINCOUNT] [numeric](12, 0) NULL,
	[FAILEDLOGINDATEDATETIME] [datetime2](7) NULL,
	[LASTLOGINDATEDATETIME] [datetime2](7) NULL,
	[ADDRESS1] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[HOMEPHONE] [varchar](max) NULL,
	[HOMEISMOBILEYN] [varchar](max) NULL,
	[MOBILEPHONE] [varchar](max) NULL,
	[HASMOBILEYN] [varchar](max) NULL,
	[TRANSLATEDMOBILEPHONEINDEX] [varchar](max) NULL,
	[MOBILECARRIERID] [numeric](12, 0) NULL,
	[WORKPHONE] [varchar](max) NULL,
	[EMAIL] [varchar](max) NULL,
	[DOBDATETIME] [datetime2](7) NULL,
	[TERMSANDCONDITIONSACCEPTEDDATETIME] [datetime2](7) NULL,
	[PORTALTERMSEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[PRIVACYPOLICYACCEPTEDDATETIME] [datetime2](7) NULL,
	[MIGRATEDDATETIME] [datetime2](7) NULL,
	[LASTINVITESENTDATETIME] [datetime2](7) NULL,
	[DECLINEDSELFMAPPINGDATETIME] [datetime2](7) NULL,
	[CONCIERGEHASH] [varchar](max) NULL,
	[CONCIERGEHASHSETDATETIME] [datetime2](7) NULL,
	[EXTERNALCUSTOMIDENTIFIER] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
