USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[UNAPPLIED]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[UNAPPLIED](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[UNAPPLIEDID] [numeric](12, 0) NULL,
	[UNAPPLIEDAPPOINTMENTID] [numeric](12, 0) NULL,
	[UNAPPLIEDCHARGEID] [numeric](12, 0) NULL,
	[REVERSALFLAG] [numeric](1, 0) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[COLLECTIONSADJUSTMENTID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](38, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[UNAPPLIEDPAYMENTID] [numeric](12, 0) NULL,
	[PATIENTPAYMENTID] [numeric](12, 0) NULL,
	[TYPE] [varchar](max) NULL,
	[TRANSACTIONREASON] [varchar](max) NULL,
	[METHOD] [varchar](max) NULL,
	[CHECKORCCNUMBER] [varchar](max) NULL,
	[UNAPPLIEDTYPE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[POSTEDBY] [varchar](max) NULL,
	[POSTDATE] [date] NULL,
	[VOIDEDDATE] [date] NULL,
	[AMOUNT] [numeric](22, 2) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
