USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALPATIENTAPPOINTMENTLABEL]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALPATIENTAPPOINTMENTLABEL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALPATIENTAPPOINTMENTLABELID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[PATIENTTYPE] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[PATIENTAPPOINTMENTLABELID] [numeric](12, 0) NULL,
	[SEX] [varchar](max) NULL,
	[DEFAULTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
