USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CORPORATEINVOICE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CORPORATEINVOICE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CORPORATEINVOICEID] [numeric](12, 0) NULL,
	[STATUS] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[LASTSUBMISSIONDATEDATETIME] [datetime2](7) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[LASTBILLINGBATCHID] [numeric](12, 0) NULL,
	[INVOICESTRING] [varchar](max) NULL,
	[PERSISTYN] [varchar](max) NULL,
	[NUMBEROVERDUE] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
