USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[MEDICALGROUP]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[MEDICALGROUP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[MEDICALGROUPID] [numeric](12, 0) NULL,
	[MEDICALGROUPNAME] [varchar](max) NULL,
	[ADDRESSNAME] [varchar](max) NULL,
	[ADDRESSDESCRIPTION] [varchar](max) NULL,
	[ADDRESS1] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[POBOXNUMBER] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[ATHENASIGAUTHORIZEDYN] [varchar](max) NULL,
	[PAYTOADDRESSID] [numeric](12, 0) NULL,
	[ADDRESSID] [numeric](12, 0) NULL,
	[PHONE] [varchar](max) NULL,
	[SHAREDTINYN] [varchar](max) NULL,
	[FEDERALIDNUMBER] [varchar](max) NULL,
	[CONTACT] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[STATEMENTSPHONE] [varchar](max) NULL,
	[MEDICAREREP] [varchar](max) NULL,
	[MEDICAREREPPHONE] [varchar](max) NULL,
	[MEDICAREREPEMAIL] [varchar](max) NULL,
	[FAX] [varchar](max) NULL,
	[ENTITYTYPEID] [numeric](22, 0) NULL,
	[COUNTRYID] [numeric](22, 0) NULL,
	[STATEMENTSNAME] [varchar](max) NULL,
	[RETURNNAME] [varchar](max) NULL,
	[RETURNADDRESS1] [varchar](max) NULL,
	[RETURNADDRESS2] [varchar](max) NULL,
	[RETURNCITY] [varchar](max) NULL,
	[RETURNSTATE] [varchar](max) NULL,
	[RETURNZIP] [varchar](max) NULL,
	[CORRESPONDENCENAME] [varchar](max) NULL,
	[CORRESPONDENCEATTN] [varchar](max) NULL,
	[CORRESPONDENCEADDRESS1] [varchar](max) NULL,
	[CORRESPONDENCEADDRESS2] [varchar](max) NULL,
	[CORRESPONDENCECITY] [varchar](max) NULL,
	[CORRESPONDENCESTATE] [varchar](max) NULL,
	[CORRESPONDENCEZIP] [varchar](max) NULL,
	[CORRESPONDENCEPHONE] [varchar](max) NULL,
	[CORRESPONDENCEEMAIL] [varchar](max) NULL,
	[ANSISPECIALTYID] [numeric](12, 0) NULL,
	[OWNEDBYHOSPITALYN] [varchar](max) NULL,
	[ESTABLISHMENTDATEDATETIME] [datetime2](7) NULL,
	[CURRENTOWNERSHIPDATEDATETIME] [datetime2](7) NULL,
	[CORPORATEADDRESSID] [numeric](12, 0) NULL,
	[CORPORATEPHONE] [varchar](max) NULL,
	[CORPORATEFAX] [varchar](max) NULL,
	[CORPORATEEMAIL] [varchar](max) NULL,
	[CORPORATECONTACT] [varchar](max) NULL,
	[CREDENTIALINGENABLEDYN] [varchar](max) NULL,
	[BUSINESSTYPE] [varchar](max) NULL,
	[MINORITYOWNEDYN] [varchar](max) NULL,
	[DBANAME] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
