USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[REFERRINGPROVIDER]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[REFERRINGPROVIDER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[REFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[REFERRINGPROVIDERNAME] [varchar](max) NULL,
	[ADDRESS] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ZIPCODE] [varchar](max) NULL,
	[PHONENUMBER] [varchar](max) NULL,
	[FAXNUMBER] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[SPECIALTYCODE] [varchar](max) NULL,
	[SPECIALTY] [varchar](max) NULL,
	[NPINUMBER] [varchar](max) NULL,
	[REFERRINGPROVIDERGROUP] [varchar](max) NULL,
	[ENTITYTYPE] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[NAMESUFFIX] [varchar](max) NULL,
	[MIDDLEINITIAL] [varchar](max) NULL,
	[ANSISPECIALTYID] [numeric](12, 0) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PECOSENROLLEDYN] [varchar](max) NULL,
	[PLCADDRESS] [varchar](max) NULL,
	[EMAIL] [varchar](max) NULL,
	[IDINDICATOR] [varchar](max) NULL,
	[OTHERID] [varchar](max) NULL,
	[PLCCITY] [varchar](max) NULL,
	[ENTITYTYPEID] [numeric](22, 0) NULL,
	[PLCMIDDLEINITIAL] [varchar](max) NULL,
	[PLCNAME] [varchar](max) NULL,
	[PLCFIRSTNAME] [varchar](max) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[PECOSMATCHYN] [varchar](max) NULL,
	[CREATED] [datetime2](7) NULL,
	[PLCADDRESS2] [varchar](max) NULL,
	[PLCLASTNAME] [varchar](max) NULL,
	[REFERRINGPROVIDERGROUPID] [numeric](12, 0) NULL,
	[PLCNAMESUFFIX] [varchar](max) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
	[PROVIDERTYPEID] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
