USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PCAUTOMATEDMESSAGELOG]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PCAUTOMATEDMESSAGELOG](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PATIENTMESSAGEREQUESTID] [numeric](12, 0) NULL,
	[PMQID] [numeric](12, 0) NULL,
	[DELIVERYSERVICEID] [varchar](max) NULL,
	[PCAUTOMATEDMESSAGELOGID] [numeric](12, 0) NULL,
	[CALLDURATION] [numeric](12, 0) NULL,
	[OPERATORHOLDDURATION] [numeric](12, 0) NULL,
	[TRANSFERTIMEDATETIME] [datetime2](7) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[PCRESULTCODEID] [numeric](12, 0) NULL,
	[NUMBERCALLED] [varchar](max) NULL,
	[SMSRESULTID] [numeric](12, 0) NULL,
	[PMQRESULTCODE] [varchar](max) NULL,
	[CALLTIMEDATETIME] [datetime2](7) NULL,
	[EMAILRESULTID] [numeric](12, 0) NULL,
	[TOTALOPERATORDURATION] [numeric](12, 0) NULL,
	[OUTBOUNDYN] [varchar](max) NULL,
	[DIALERID] [numeric](12, 0) NULL,
	[KEYPRESS] [varchar](max) NULL,
	[OPERATORWORKDURATION] [numeric](12, 0) NULL,
	[SELFPAYDAYS] [numeric](12, 0) NULL,
	[CALLTYPE] [varchar](max) NULL,
	[CAMPAIGNID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTTICKLERID] [numeric](12, 0) NULL,
	[MVRESULTID] [numeric](12, 0) NULL,
	[GROUPCALLCAMPAIGNID] [numeric](12, 0) NULL,
	[OPERATORTALKDURATION] [numeric](12, 0) NULL,
	[OPERATORRINGDURATION] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[OPERATORPATCHDURATION] [numeric](12, 0) NULL,
	[HANGUPCAUSE] [varchar](max) NULL,
	[OPERATORDELAY] [numeric](12, 0) NULL,
	[SELFPAYDUNNINGLEVEL] [numeric](12, 0) NULL,
	[ABANDONEDYN] [varchar](max) NULL,
	[RCCALLLOGID] [numeric](12, 0) NULL,
	[MESSAGETYPE] [varchar](max) NULL,
	[OPERATORQUEUEDURATION] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
