USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[REFERRALAUTHORIZATION]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[REFERRALAUTHORIZATION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[REFERRALAUTHID] [numeric](12, 0) NULL,
	[REFERRALAUTHNUMBER] [varchar](max) NULL,
	[REFERRALAUTHTYPE] [varchar](max) NULL,
	[ATHENAPROVIDERID] [numeric](38, 0) NULL,
	[REFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[REFERRALAUTHSPECIALTY] [varchar](max) NULL,
	[PATIENTINSURANCEID] [numeric](12, 0) NULL,
	[OUTGOINGYN] [varchar](max) NULL,
	[SUBMITTEDDATE] [date] NULL,
	[SUBMITTEDBY] [varchar](max) NULL,
	[STARTDATE] [date] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[VISITSAPPROVED] [numeric](12, 0) NULL,
	[VISITSLEFT] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[NOTESTOPROVIDER] [varchar](max) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[ATTACHMENTID] [numeric](12, 0) NULL,
	[REFERRALAUTHTYPEID] [numeric](12, 0) NULL,
	[VISITSYN] [varchar](max) NULL,
	[TYPEOFSERVICEID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[TOPROVIDERID] [numeric](12, 0) NULL,
	[VERIFIEDBY] [varchar](max) NULL,
	[NOREFERRALREQUIREDYN] [varchar](max) NULL,
	[VERIFIEDDATETIME] [datetime2](7) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[SUBMITTEDNOTE] [varchar](max) NULL,
	[COORDINATORTASKID] [numeric](12, 0) NULL,
	[FOLLOWUPDATEDATETIME] [datetime2](7) NULL,
	[PLACEOFSERVICEID] [numeric](12, 0) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
