USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CRDNETWORKDOCUMENT]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CRDNETWORKDOCUMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CRDNETWORKDOCUMENTID] [numeric](12, 0) NULL,
	[DOCUMENTUNIQUEID] [varchar](max) NULL,
	[REPOSITORYUNIQUEID] [varchar](max) NULL,
	[HOMECOMMUNITYID] [varchar](max) NULL,
	[PATIENTID] [varchar](max) NULL,
	[EXTERNALPATIENTID] [varchar](max) NULL,
	[INTERFACEVENDORID] [varchar](max) NULL,
	[MIMETYPE] [varchar](max) NULL,
	[CREATIONTIME] [varchar](max) NULL,
	[SERVICESTARTTIME] [varchar](max) NULL,
	[SERVICESTOPTIME] [varchar](max) NULL,
	[TITLE] [varchar](max) NULL,
	[LASTSYNCDATETIME] [datetime] NULL,
	[LASTCONTENTSYNCDATETIME] [datetime] NULL,
	[STATICYN] [varchar](max) NULL,
	[SUPERSEDEDNETDOCID] [numeric](12, 0) NULL,
	[NETWORKPROVIDER] [varchar](max) NULL,
	[NETWORKPRACTICENAME] [varchar](max) NULL,
	[NETWORKDOCUMENTNAME] [varchar](max) NULL,
	[NETWORKSPECIALTY] [varchar](max) NULL,
	[ISDEPRIORITIZEDYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
