USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[RELEASEAUTH]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[RELEASEAUTH](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CLIENTFORMID] [numeric](38, 0) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[RELEASEAUTHID] [numeric](11, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[SIGNEDDATEDATETIME] [datetime2](7) NULL,
	[REVOKEDDATEDATETIME] [datetime2](7) NULL,
	[NOTE] [varchar](max) NULL,
	[HASSIGNEDPDFYN] [varchar](max) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
