USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CHARGEDETAIL]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CHARGEDETAIL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CHARGEDETAILID] [numeric](12, 0) NULL,
	[CHARGEID] [numeric](12, 0) NULL,
	[AMOUNT] [numeric](12, 2) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[QUANTITY] [numeric](12, 0) NULL,
	[FROMDATEDATETIME] [datetime2](7) NULL,
	[TODATEDATETIME] [datetime2](7) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[PATIENTCURRENTDEPARTMENTID] [numeric](12, 0) NULL,
	[RENDERINGPROVIDERID] [numeric](12, 0) NULL,
	[RENDERINGDEPARTMENTID] [numeric](12, 0) NULL,
	[VOIDPARENTID] [numeric](12, 0) NULL,
	[FOREIGNSYSTEMID] [varchar](max) NULL,
	[CHARGEDEPARTMENTID] [numeric](12, 0) NULL,
	[VISITDEPARTMENTID] [numeric](12, 0) NULL,
	[VISITCHARGEID] [numeric](12, 0) NULL,
	[LEVELOFCAREID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
