USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALCLINICALELEMENTVALUE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALCLINICALELEMENTVALUE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[LOCALCLINICALELEMENTVALUEID] [numeric](38, 0) NULL,
	[LOCALCLINICALELEMENTID] [numeric](38, 0) NULL,
	[NAME] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[PARENTLOCALCLINELEMENTVALUEID] [numeric](38, 0) NULL,
	[LOCALCLINTEMPLATESENTENCEID] [numeric](38, 0) NULL,
	[CLINICALFINDINGID] [numeric](38, 0) NULL,
	[PORTALNAME] [varchar](max) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
