USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ENROLLMENTCATEGORY]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ENROLLMENTCATEGORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ENROLLMENTCATEGORYID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[PROVIDERNUMBERCATEGORYID] [numeric](12, 0) NULL,
	[ALLOWINSURANCEPACKAGEDETAILYN] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[EXTERNALNOTE] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[CLEARINGHOUSEYN] [varchar](max) NULL,
	[GROUPENROLLMENTLEVEL] [varchar](max) NULL,
	[PROVIDERENROLLMENTLEVEL] [varchar](max) NULL,
	[WEBUSERNAME] [varchar](max) NULL,
	[WEBPASSWORD] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[PARAMETERTYPE] [varchar](max) NULL,
	[LASTREVIEWEDDATETIME] [datetime] NULL,
	[LASTREVIEWEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
