USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PORTALUSERMAPPING]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PORTALUSERMAPPING](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PORTALUSERMAPPINGID] [numeric](12, 0) NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[PORTALTHIRDPARTYUSERID] [numeric](12, 0) NULL,
	[PERMISSION] [numeric](12, 0) NULL,
	[APPOINTMENTEMAILYN] [varchar](max) NULL,
	[ANNOUNCEMENTEMAILYN] [varchar](max) NULL,
	[BILLINGEMAILYN] [varchar](max) NULL,
	[LABEMAILYN] [varchar](max) NULL,
	[PORTALUSERRELATIONSHIPID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
