USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[EPAYMENTCONTRACT]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[EPAYMENTCONTRACT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[EPAYMENTCONTRACTID] [numeric](12, 0) NULL,
	[COPIEDFROMCONTRACTID] [numeric](12, 0) NULL,
	[STATUS] [varchar](max) NULL,
	[SIGNEDDATETIME] [datetime2](7) NULL,
	[STARTEDDATETIME] [datetime2](7) NULL,
	[ENDEDDATETIME] [datetime2](7) NULL,
	[MINAMOUNT] [numeric](12, 2) NULL,
	[MAXAMOUNT] [numeric](12, 2) NULL,
	[PREFERREDCONTRACTYN] [varchar](max) NULL,
	[BALANCE] [numeric](12, 2) NULL,
	[AVAILABLEBALANCE] [numeric](12, 2) NULL,
	[MONTHLYMAXAMOUNT] [numeric](12, 2) NULL,
	[MONTHLYBALANCE] [numeric](12, 2) NULL,
	[MONTHLYAVAILABLEBALANCE] [numeric](12, 2) NULL,
	[LASTMONTHLYMODIFIEDDATETIME] [datetime2](7) NULL,
	[EPAYMENTID] [numeric](12, 0) NULL,
	[EPAYMENTCARDID] [numeric](12, 0) NULL,
	[SOURCECARDCONTRACTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[RECEIPTBY] [varchar](max) NULL,
	[EMAIL] [varchar](max) NULL,
	[EPAYMENTCONTRACTCLASSID] [varchar](max) NULL,
	[PAYMENTPLANID] [numeric](11, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[WORKEDDATETIME] [datetime2](7) NULL,
	[SIGNATUREIMAGESTATUS] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
