USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CLINICALORDERSETELEMENT]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLINICALORDERSETELEMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALORDERSETELEMENTID] [numeric](38, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[CLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[CLINICALORDERSETID] [numeric](38, 0) NULL,
	[GLOBALID] [numeric](38, 0) NULL,
	[ALARMDAYS] [numeric](12, 0) NULL,
	[DISPLAYDOSAGEQUANTITY] [numeric](18, 6) NULL,
	[DOSAGEQUANTITY] [numeric](18, 6) NULL,
	[DOSAGEROUTE] [varchar](max) NULL,
	[DISPLAYDOSAGEUNITS] [varchar](max) NULL,
	[DISPLAYQUANTITYUNITS] [varchar](max) NULL,
	[FREQUENCY] [varchar](max) NULL,
	[DURATION] [numeric](12, 0) NULL,
	[ADDITIONALSIGINSTRUCTIONS] [varchar](max) NULL,
	[SIG] [varchar](max) NULL,
	[PACKAGESIZE] [numeric](12, 3) NULL,
	[PACKAGESIZEUNITS] [varchar](max) NULL,
	[QUANTITY] [numeric](18, 6) NULL,
	[NDC] [varchar](max) NULL,
	[NUMBERREFILLSALLOWED] [numeric](12, 0) NULL,
	[DISPENSEASWRITTENYN] [varchar](max) NULL,
	[NOTEFORPHARMACYFROMPRESCRIBER] [varchar](max) NULL,
	[PROVIDERNOTE] [varchar](max) NULL,
	[EXTERNALNOTE] [varchar](max) NULL,
	[PATIENTNOTE] [varchar](max) NULL,
	[ORDERTEXT] [varchar](max) NULL,
	[INTERNALTEXT] [varchar](max) NULL,
	[PRIORITY] [varchar](max) NULL,
	[LOTNUMBER] [varchar](max) NULL,
	[CLINICALVACCINESITEID] [numeric](38, 0) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[INFORMATIONSTATEMENTDATEDATETIME] [datetime2](7) NULL,
	[MANUFACTURER] [varchar](max) NULL,
	[MVX] [varchar](max) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[ORDERYN] [varchar](max) NULL,
	[SAMPLEYN] [varchar](max) NULL,
	[SAMPLELOTNUMBER] [varchar](max) NULL,
	[SAMPLEEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[SAMPLEQUANTITY] [numeric](18, 6) NULL,
	[SAMPLENDC] [varchar](max) NULL,
	[ADMINISTERYN] [varchar](max) NULL,
	[ADMINISTERROUTE] [varchar](max) NULL,
	[ADMINISTERSITEID] [numeric](12, 0) NULL,
	[ADMINISTERLOTNUMBER] [varchar](max) NULL,
	[ADMINISTERMANUFACTURER] [varchar](max) NULL,
	[ADMINISTERQUANTITY] [numeric](18, 6) NULL,
	[ADMINISTEREXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[ADMINISTERNDC] [varchar](max) NULL,
	[ADMINISTERNOTE] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[NOTIFIER] [varchar](max) NULL,
	[NOTEFORSUPPLIERFROMPRESCRIBER] [varchar](max) NULL,
	[DAYSFORFUTURESUBMISSION] [numeric](4, 0) NULL,
	[SPECIMENDRAWLOCATION] [varchar](max) NULL,
	[SPECIMENSOURCEID] [numeric](12, 0) NULL,
	[SPECIMENDESCRIPTION] [varchar](max) NULL,
	[STANDINGFREQUENCYDAYS] [numeric](4, 0) NULL,
	[STANDINGFREQUENCYMONTHS] [numeric](4, 0) NULL,
	[STANDINGDURATIONDAYS] [numeric](5, 0) NULL,
	[STANDINGDURATIONMONTHS] [numeric](4, 0) NULL,
	[SCHEDULEWITHIN] [varchar](max) NULL,
	[SOURCE] [varchar](max) NULL,
	[SOURCEDOCUMENTID] [numeric](12, 0) NULL,
	[DOSEPERKG] [numeric](12, 6) NULL,
	[WEIGHTBASEDUNIT] [varchar](max) NULL,
	[WEIGHTBASEDCOMPONENT] [numeric](6, 0) NULL,
	[WEIGHTBASEDCALCUNITS] [varchar](max) NULL,
	[WEIGHTBASEDDOSINGONYN] [varchar](max) NULL,
	[WEIGHTBASEDRESULT] [numeric](18, 6) NULL,
	[NOTTOEXCEEDYN] [varchar](max) NULL,
	[NOTTOEXCEEDQUANTITY] [numeric](18, 6) NULL,
	[NOTTOEXCEEDUNIT] [varchar](max) NULL,
	[COMPOUNDNAME] [varchar](max) NULL,
	[COMPOUNDDEASCHEDULE] [numeric](1, 0) NULL,
	[CLINICALPROVIDERORDERTYPEID] [numeric](12, 0) NULL,
	[POINTOFCAREYN] [varchar](max) NULL,
	[ISFOREIGNCOMPENDIUMORDERYN] [varchar](max) NULL,
	[DAYSSUPPLY] [numeric](18, 6) NULL,
	[CPOTUPDATEACKNOWLEDGEDYN] [varchar](max) NULL,
	[PERFORMINGPROVIDER] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
