USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CHRONICCAREMANAGEMENT]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CHRONICCAREMANAGEMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CHRONICCAREMANAGEMENTID] [numeric](12, 0) NULL,
	[ASOFDATEDATETIME] [datetime2](7) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[PATIENTINSURANCEID] [numeric](12, 0) NULL,
	[CHRONICCARESTATUSID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
