USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[SCANPAGEMETADATA]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[SCANPAGEMETADATA](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[SCANPAGEMETADATAID] [numeric](12, 0) NULL,
	[FAXPAGEGROUPID] [numeric](12, 0) NULL,
	[SCANPAGEID] [numeric](12, 0) NULL,
	[FIELDVALUE] [varchar](max) NULL,
	[FAXWORKFLOWFIELDID] [numeric](12, 0) NULL,
	[SOURCE] [varchar](max) NULL,
	[SOURCEVALUE] [numeric](12, 0) NULL,
	[PARENTID] [numeric](12, 0) NULL,
	[SKIPQAYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
