USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[EPAYMENT]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[EPAYMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[EPAYMENTID] [numeric](12, 0) NULL,
	[ORIGINALEPAYMENTID] [numeric](12, 0) NULL,
	[EPAYMENTCARDID] [numeric](12, 0) NULL,
	[AMOUNT] [numeric](12, 2) NULL,
	[STATUS] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[REQUESTTYPE] [varchar](max) NULL,
	[AUTOMATEDYN] [varchar](max) NULL,
	[TERMINALID] [varchar](max) NULL,
	[GATEWAYRESPONSECODE] [varchar](max) NULL,
	[HOSTRESPONSECODE] [varchar](max) NULL,
	[GATEWAYRESPONSEMESSAGE] [varchar](max) NULL,
	[HOSTRESPONSEMESSAGE] [varchar](max) NULL,
	[AUTHORIZATIONCODE] [varchar](max) NULL,
	[RAWREQUEST] [varchar](max) NULL,
	[RAWRESPONSE] [varchar](max) NULL,
	[REQUESTDATEDATETIME] [datetime2](7) NULL,
	[RESPONSEDATEDATETIME] [datetime2](7) NULL,
	[RECEIPTSENTDATEDATETIME] [datetime2](7) NULL,
	[CONTRACTID] [numeric](12, 0) NULL,
	[MANUALLYRESOLVEDYN] [varchar](max) NULL,
	[LOCKID] [varchar](max) NULL,
	[LOCKDATEDATETIME] [datetime2](7) NULL,
	[QUICKPAYCODE] [varchar](max) NULL,
	[ROUTE] [varchar](max) NULL,
	[ORIGINALDEVICEID] [varchar](max) NULL,
	[DEVICESOFTWAREVERSION] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
