USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PROVIDERENROLLMENTSTATUS]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PROVIDERENROLLMENTSTATUS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[PROVIDERENROLLMENTSTATUSID] [numeric](12, 0) NULL,
	[LOGINPASSWORD] [varchar](max) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[ENROLLMENTCATEGORYID] [numeric](12, 0) NULL,
	[BYOLBYN] [varchar](max) NULL,
	[REFERENCENAME] [varchar](max) NULL,
	[MEDICALGROUPENROLLMENTSTATUSID] [numeric](12, 0) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[GROUPBILLINGYN] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[ANSISPECIALTYID] [numeric](12, 0) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[LEGACYNUMBER] [varchar](max) NULL,
	[ADDRESSID] [numeric](12, 0) NULL,
	[PROVIDERNUMBERID] [numeric](12, 0) NULL,
	[LOCUMYN] [varchar](max) NULL,
	[LOGINUSERNAME] [varchar](max) NULL,
	[ACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[BILLINGOKYN] [varchar](max) NULL,
	[SUPPRESSELIGIBILITYYN] [varchar](max) NULL,
	[HOLDREASON] [varchar](max) NULL,
	[CREDENTIALINGENABLEDYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
