USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ENROLLMENTPERIOD]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ENROLLMENTPERIOD](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ENROLLMENTPERIODID] [numeric](12, 0) NULL,
	[ENROLLMENTSTATUSID] [numeric](12, 0) NULL,
	[ENTITY] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[STATUSTYPE] [varchar](max) NULL,
	[STATUSID] [varchar](max) NULL,
	[DUEDATEDATETIME] [datetime2](7) NULL,
	[PENDDATEDATETIME] [datetime2](7) NULL,
	[PENDSTATUSID] [varchar](max) NULL,
	[TASKTYPEID] [numeric](12, 0) NULL,
	[ASSIGNEDTO] [varchar](max) NULL,
	[GOLIVEGROUPID] [numeric](12, 0) NULL,
	[LASTENROLLMENTTASKEVENTID] [numeric](12, 0) NULL,
	[LASTEVENTENROLLMENTNOTEID] [numeric](12, 0) NULL,
	[ASSOCIATEDCLAIMCOUNT] [numeric](12, 0) NULL,
	[ASSOCIATEDCLAIMDOLLARS] [numeric](12, 0) NULL,
	[CLEARINGHOUSECATEGORYID] [numeric](12, 0) NULL,
	[DISINTERMEDIATIONYN] [varchar](max) NULL,
	[POAYN] [varchar](max) NULL,
	[EXCLUDEFROMYIELDYN] [varchar](max) NULL,
	[MIRRORENROLLMENTPERIODID] [numeric](12, 0) NULL,
	[MIRROREDBY] [varchar](max) NULL,
	[TOTALTRANSACTIONVOLUME] [numeric](12, 0) NULL,
	[TOTALTRANSACTIONDOLLARS] [numeric](12, 0) NULL,
	[SHIPPINGOPTION] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
