USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PMGMESSAGINGCONTENT]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PMGMESSAGINGCONTENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PMGMESSAGINGCONTENTID] [numeric](12, 0) NULL,
	[COMMUNICATORBRANDID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[DISPLAYNAME] [varchar](max) NULL,
	[SMSDISPLAYNAME] [varchar](max) NULL,
	[DISPLAYPHONE] [varchar](max) NULL,
	[BILLINGDISPLAYPHONE] [varchar](max) NULL,
	[BILLINGDISPLAYNAME] [varchar](max) NULL,
	[SMSBILLINGDISPLAYNAME] [varchar](max) NULL,
	[TTSPRONUNCIATIONTEXT] [varchar](max) NULL,
	[SPANISHTTSPRONUNCIATIONTEXT] [varchar](max) NULL,
	[DISPLAYNAMEPRONUNCIATION] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
