USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[FEESCHEDULE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FEESCHEDULE](
	[CONTEXTID] [int] NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [int] NULL,
	[FEESCHEDULEID] [int] NULL,
	[NAME] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[EFFECTIVEDATE] [date] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[AUTOWRITEDOWNCONTRACTUAL] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[NOTES] [varchar](max) NULL,
	[EVERGREENDAYS] [int] NULL,
	[AUTOTRACKALLOWABLEYN] [varchar](max) NULL,
	[AUTOWRITEUPCONTRACTUALFLAG] [varchar](max) NULL,
	[INSURANCEREPORTINGCATEGORYID] [int] NULL,
	[INSURANCEPACKAGEID] [int] NULL,
	[USEMEDICAREYN] [varchar](max) NULL,
	[MEDICARERATIO] [int] NULL,
	[MEDICAREDMERATIO] [int] NULL,
	[MEDICAREDMESTATE] [varchar](max) NULL,
	[MEDICAREDMESCHEDULEDATEDATETIME] [datetime2](7) NULL,
	[MEDICAREDMEPARTICIPATINGYN] [varchar](max) NULL,
	[MEDICAREDMEACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[MEDICARESCHEDULEDATEDATETIME] [datetime2](7) NULL,
	[MEDICAREGPCILOCATIONID] [int] NULL,
	[MEDICAREFACILITYSCHEDULEYN] [varchar](max) NULL,
	[MEDICAREPARTICIPATINGYN] [varchar](max) NULL,
	[MEDICAREACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[MEDICARERVUCONVERSIONFACTOR] [int] NULL,
	[PROVIDERSELECTTYPE] [varchar](max) NULL,
	[ALLOWABLECATEGORYSELECTTYPE] [varchar](max) NULL,
	[WORKCOMPSTATE] [varchar](max) NULL,
	[HASPROVIDERFILTERYN] [varchar](max) NULL,
	[HASSPECIALTYFILTERYN] [varchar](max) NULL,
	[HASPROVIDERTYPEFILTERYN] [varchar](max) NULL,
	[HASDEPARTMENTFILTERYN] [varchar](max) NULL,
	[HASMEDICALGROUPFILTERYN] [varchar](max) NULL,
	[HASALLOWABLECATEGORYFILTERYN] [varchar](max) NULL,
	[HASLOCALALLOWABLECATFILTERYN] [varchar](max) NULL,
	[HOSPITALYN] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
