USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CHARGENOTE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CHARGENOTE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CHARGENOTEID] [numeric](12, 0) NULL,
	[CHARGEID] [numeric](12, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[CLAIMRULEID] [numeric](12, 0) NULL,
	[FIELDNAME] [varchar](max) NULL,
	[OLDVALUE] [varchar](max) NULL,
	[NEWVALUE] [varchar](max) NULL,
	[LOCALCLAIMRULEYN] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
