USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ELIGIBILITYRELATEDENTITY]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ELIGIBILITYRELATEDENTITY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ELIGIBILITYRELATEDENTITYID] [numeric](12, 0) NULL,
	[IDENTIFICATIONNUMBER] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[POSTALCODE] [varchar](max) NULL,
	[REFERENCEINFO] [varchar](max) NULL,
	[ELIGIBILITYBENEFITID] [numeric](12, 0) NULL,
	[PROVIDERTYPE] [varchar](max) NULL,
	[ENTITYTYPE] [varchar](max) NULL,
	[ENTITYRELATIONSHIP] [varchar](max) NULL,
	[REFERENCEINFOQUALIFIER] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[IDTYPE] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[COUNTRY] [varchar](max) NULL,
	[MIDDLENAME] [varchar](max) NULL,
	[ENTITYIDENTIFIER] [varchar](max) NULL,
	[ADDRESS1] [varchar](max) NULL,
	[NAMESUFFIX] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
