USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[GESTATION]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[GESTATION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[GESTATIONID] [numeric](12, 0) NULL,
	[EPISODEOBID] [numeric](12, 0) NULL,
	[KEYID] [varchar](max) NULL,
	[SEX] [varchar](max) NULL,
	[BIRTHWEIGHTINPOUNDS] [numeric](14, 4) NULL,
	[OUTCOME] [varchar](max) NULL,
	[BABYLIVINGYN] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[RACE] [varchar](max) NULL,
	[ETHNICITY] [varchar](max) NULL,
	[CIRCUMCISIONYN] [varchar](max) NULL,
	[ADMITTEDTONICUYN] [varchar](max) NULL,
	[DELIVERYTYPE] [varchar](max) NULL,
	[PEDIATRICCOMPLICATIONS] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
