USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTALLERGY]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTALLERGY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[PATIENTALLERGYID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ALLERGYNAME] [varchar](max) NULL,
	[CRITICALITY] [varchar](max) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[ALLERGYREACTIONID] [numeric](12, 0) NULL,
	[ALLERGYID] [numeric](12, 0) NULL,
	[DEACTIVATEDDATEDATETIME] [datetime2](7) NULL,
	[DEACTIVATEDBY] [varchar](max) NULL,
	[REACTIVATEDBY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[ONSETDATEDATETIME] [datetime2](7) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[REACTIVATEDDATEDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
