USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ORDERREQUEST]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ORDERREQUEST](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ORDERREQUESTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[UIORIGIN] [varchar](max) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[ORDERSPECIMENID] [numeric](12, 0) NULL,
	[LOCALCLINICALLABTEMPLATEID] [numeric](38, 0) NULL,
	[ISFOREIGNCOMPENDIUMORDERYN] [varchar](max) NULL,
	[ORDERNOTDONEYN] [varchar](max) NULL,
	[ORDERNOTDONEREASONID] [numeric](38, 0) NULL,
	[PAMASCORE] [varchar](max) NULL,
	[PAMACDSMIDENTIFIER] [varchar](max) NULL,
	[PAMACONSULTATIONIDENTIFIER] [varchar](max) NULL,
	[PAMASOURCETYPE] [varchar](max) NULL,
	[PAMASOURCEID] [numeric](12, 0) NULL,
	[PAMATIMESTAMPDATETIME] [datetime2](7) NULL,
	[RTBCVENDOR] [varchar](max) NULL,
	[RTBCRESPONSEMESSAGEID] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
