USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALWORKLISTTEAM]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALWORKLISTTEAM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[NOTES] [varchar](max) NULL,
	[LOCALWORKLISTTEAMID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[ALLUSERSYN] [varchar](max) NULL,
	[TEAMLEADUSERNAME] [varchar](max) NULL,
	[LOCALWORKLISTORGANIZATIONID] [numeric](12, 0) NULL,
	[DASHBOARDGROUPID] [numeric](12, 0) NULL,
	[ORGANIZATIONID] [varchar](max) NULL,
	[HIDEDAYSINSTATUSYN] [varchar](max) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
