USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PROCEDURECODEREFERENCE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PROCEDURECODEREFERENCE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[PROCEDURECODEGROUPID] [numeric](22, 0) NULL,
	[FAMILYPLANNINGCODE] [varchar](max) NULL,
	[SHORTHAND] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[COMMONDESCRIPTION] [varchar](max) NULL,
	[TYPEOFSERVICE] [varchar](max) NULL,
	[COSTTODELIVER] [numeric](22, 2) NULL,
	[MEDICARESTATUSCODE] [varchar](max) NULL,
	[PROFESSIONALTECHNICALFLAG] [varchar](max) NULL,
	[GLOBALSURGERYFLAG] [varchar](max) NULL,
	[MULTIPLEPROCEDUREFLAG] [varchar](max) NULL,
	[BILATERALSURGERYFLAG] [varchar](max) NULL,
	[ASSISTANTFLAG] [varchar](max) NULL,
	[COSURGERYFLAG] [varchar](max) NULL,
	[TEAMSURGERYFLAG] [varchar](max) NULL,
	[EMFLAG] [varchar](max) NULL,
	[ENDOSCOPYGROUP] [varchar](max) NULL,
	[PHYSICIANSUPERVISINGFLAG] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[RVU] [numeric](13, 2) NULL,
	[YEAR] [varchar](max) NULL,
	[MODIFIEDFLAG] [varchar](max) NULL,
	[GLOBALDAYS] [numeric](22, 0) NULL,
	[SUBCATEGORY1] [varchar](max) NULL,
	[MFPINDICATOR] [varchar](max) NULL,
	[WORKRVU] [numeric](8, 2) NULL,
	[PRACTICEEXPENSERVU] [numeric](8, 2) NULL,
	[MALPRACTICERVU] [numeric](8, 2) NULL,
	[FACILITYPRACTICEEXPENSERVU] [numeric](8, 2) NULL,
	[PROCEDURECODEREFGROUPID] [numeric](38, 0) NULL,
	[PROCEDURECODETYPEID] [numeric](12, 0) NULL,
	[PROCEDURECODEUNITID] [numeric](12, 0) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[LASTUPDATEDATEDATETIME] [datetime2](7) NULL,
	[VERSION] [varchar](max) NULL,
	[ISPARENT] [varchar](max) NULL,
	[ISCHILD] [varchar](max) NULL,
	[ISORPHAN] [varchar](max) NULL,
	[PCTCINDICATOR] [varchar](max) NULL,
	[ISDELETEDCODE] [varchar](max) NULL,
	[CLINICALORDERTYPEGROUP] [varchar](max) NULL,
	[THERAPYCODES] [varchar](max) NULL,
	[HIGHTECHRADIOLOGYYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
