USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[SPECIALTY]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[SPECIALTY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[SHORTNAME] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](38, 0) NULL,
	[ENVOYCODE] [varchar](max) NULL,
	[BESTPRACTICEGROUPID] [numeric](12, 0) NULL,
	[IMPLEMENTATIONCLASS] [varchar](max) NULL,
	[MAPPING] [varchar](max) NULL,
	[REPRESENTATIVESPECIALTYID] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
