USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALPROCEDURETEMPLATE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALPROCEDURETEMPLATE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALPROCEDURETEMPLATEID] [numeric](38, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[SEXFILTER] [varchar](max) NULL,
	[AGEFILTERMIN] [numeric](38, 0) NULL,
	[AGEFILTERMAX] [numeric](38, 0) NULL,
	[AGEFILTERUNITS] [varchar](max) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[TEMPLATETEXT] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[GLOBALID] [numeric](38, 0) NULL,
	[STAGE] [varchar](max) NULL,
	[MINUTESFLAG] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
