USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTACCOUNTALARM]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTACCOUNTALARM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTACCOUNTALARMID] [numeric](12, 0) NULL,
	[PATIENTACCOUNTALARMTYPEID] [numeric](12, 0) NULL,
	[SETDATEDATETIME] [datetime2](7) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CLEAREDYN] [varchar](max) NULL,
	[CLEAREDDATETIME] [datetime2](7) NULL,
	[CLEAREDBY] [varchar](max) NULL,
	[CLEAREDBYPATIENTACCOUNTNOTEID] [numeric](12, 0) NULL,
	[BILLINGBATCHID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
