USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[APPOINTMENTTICKLERAUDR]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[APPOINTMENTTICKLERAUDR](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENTTICKLERAUDRID] [numeric](12, 0) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[OPERATION] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[FIELDNAME] [varchar](max) NULL,
	[OLDVALUE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
