USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALWORKLISTRECORD]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALWORKLISTRECORD](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LOCALWORKLISTCATEGORYID] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[LOCALWORKLISTTEAMID] [numeric](12, 0) NULL,
	[WORKLISTTEAMID] [numeric](12, 0) NULL,
	[LOCALWORKLISTRECORDTRANSFORMATIONID] [numeric](12, 0) NULL,
	[LOCALWORKLISTRECORDCONTEXTID] [numeric](12, 0) NULL,
	[LOCALWORKLISTRECORDID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[SERVICEDATEDATETIME] [datetime2](7) NULL,
	[CLAIMSTATUS] [varchar](max) NULL,
	[OUTSTANDING] [numeric](12, 2) NULL,
	[STARTCLAIMAUDITID] [numeric](12, 0) NULL,
	[STARTCLAIMNOTEID] [numeric](12, 0) NULL,
	[STARTDATEDATETIME] [datetime2](7) NULL,
	[STOPCLAIMAUDITID] [numeric](12, 0) NULL,
	[STOPCLAIMNOTEID] [numeric](12, 0) NULL,
	[STOPDATEDATETIME] [datetime2](7) NULL,
	[HASSTOPEVENTYN] [varchar](max) NULL,
	[REALDAYS] [numeric](12, 0) NULL,
	[BUSINESSDAYS] [numeric](12, 0) NULL,
	[PREVTOTALATHENADAYS] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[SUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[INSREPORTINGCATEGORYGROUPID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGESTATE] [varchar](max) NULL,
	[CLAIMSUBMISSIONCATEGORYID] [numeric](12, 0) NULL,
	[STATUSATHENAKICKREASONID] [numeric](12, 0) NULL,
	[LASTREALATHENAKICKREASONID] [numeric](12, 0) NULL,
	[PREVREALATHENAKICKREASONID] [numeric](12, 0) NULL,
	[LASTATHENAKICKREASONID] [numeric](12, 0) NULL,
	[OLDESTSAMESTATUSCLAIMRULEID] [numeric](12, 0) NULL,
	[NEWESTSAMESTATUSCLAIMRULEID] [numeric](12, 0) NULL,
	[OLDESTSAMESTATUSLOCCLAIMRULEID] [numeric](12, 0) NULL,
	[NEWESTSAMESTATUSLOCCLAIMRULEID] [numeric](12, 0) NULL,
	[WORKLISTCATEGORYID] [numeric](12, 0) NULL,
	[ASSIGNEDTOUSERNAME] [varchar](max) NULL,
	[ASSIGNEDDATEDATETIME] [datetime2](7) NULL,
	[STATUSCYCLECOUNT] [numeric](12, 0) NULL,
	[KICKCYCLECOUNT] [numeric](12, 0) NULL,
	[CLOCKRESETCOUNT] [numeric](12, 0) NULL,
	[WORKSTATUS] [varchar](max) NULL,
	[BILLEDSTATUS] [varchar](max) NULL,
	[CURRENTERRORTEXT] [varchar](max) NULL,
	[LASTCLAIMAUDITID] [numeric](12, 0) NULL,
	[LASTCLAIMNOTEID] [numeric](12, 0) NULL,
	[LASTCLAIMNOTEAUDRID] [numeric](12, 0) NULL,
	[MIGRATIONSTATUSATHENA] [varchar](max) NULL,
	[MIGRATIONSTATUSWORKLISTCONTEXT] [varchar](max) NULL,
	[WORKLISTSCRUBSTATUS] [varchar](max) NULL,
	[SUPERVISINGPROVIDERNAME] [varchar](max) NULL,
	[PROVIDERNAME] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[DOBDATETIME] [datetime2](7) NULL,
	[IDNUMBER] [varchar](max) NULL,
	[ESCALATEDBY] [varchar](max) NULL,
	[ESCALATEDDATEDATETIME] [datetime2](7) NULL,
	[ESCALATIONREASON] [varchar](max) NULL,
	[WORKEDBY] [varchar](max) NULL,
	[WORKEDBYLOCALTEAMID] [numeric](12, 0) NULL,
	[WORKEDBYTEAMID] [numeric](12, 0) NULL,
	[CLAIMLASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[SUPERVISINGPROVIDERNPI] [varchar](max) NULL,
	[MEDICALGROUPNAME] [varchar](max) NULL,
	[MEDICALGROUPNPI] [varchar](max) NULL,
	[STATUSKICKREASONID] [numeric](12, 0) NULL,
	[PENDEDBY] [varchar](max) NULL,
	[PENDEDDATEDATETIME] [datetime2](7) NULL,
	[PENDDURATION] [numeric](2, 0) NULL,
	[PENDREASSIGNUSERNAME] [varchar](max) NULL,
	[ASSIGNMENTTYPE] [varchar](max) NULL,
	[LASTUSERACTIONDATEDATETIME] [datetime2](7) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
