USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTVACCINE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTVACCINE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTVACCINEID] [numeric](12, 0) NULL,
	[TYPE] [varchar](20) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[VACCINENAME] [varchar](max) NULL,
	[CLINICALORDERTYPE] [varchar](max) NULL,
	[CLINICALORDERTYPEGROUP] [varchar](max) NULL,
	[QUANTITY] [numeric](18, 6) NULL,
	[DISPLAYQUANTITYUNITS] [varchar](max) NULL,
	[VACCINESITENAME] [varchar](max) NULL,
	[LOTNUMBER] [varchar](max) NULL,
	[VACCINEROUTE] [varchar](max) NULL,
	[MVX] [varchar](max) NULL,
	[EXPIRATIONDATE] [date] NULL,
	[VISGIVENDATE] [date] NULL,
	[CVX] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[ADMINISTEREDDATETIME] [datetime2](7) NULL,
	[ADMINISTEREDBY] [varchar](max) NULL,
	[APPROVEDDATETIME] [datetime2](7) NULL,
	[APPROVEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[ADMINISTERNOTE] [varchar](max) NULL,
	[REFUSEDYN] [varchar](max) NULL,
	[REFUSEDDATETIME] [datetime2](7) NULL,
	[REFUSEDREASON] [varchar](max) NULL,
	[REFUSEDNOTE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[VACCINEREFUSEDREASON] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
