USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[DENIALCLAIMNOTE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DENIALCLAIMNOTE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DENIALCLAIMNOTEID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DAYDATETIME] [datetime] NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[SUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[DEFAULTKICKREASONID] [numeric](12, 0) NULL,
	[REJECTIONREASONID] [numeric](38, 0) NULL,
	[CLAIMRULEID] [numeric](12, 0) NULL,
	[LOCALCLAIMRULEID] [numeric](12, 0) NULL,
	[CLAIMNOTEID] [numeric](12, 0) NULL,
	[DENIALSTATUSENTRY] [numeric](3, 0) NULL,
	[TRANSACTIONPOSTED] [numeric](3, 0) NULL,
	[SCRUBACTION] [numeric](3, 0) NULL,
	[FRONTENDACTION] [numeric](3, 0) NULL,
	[BACKENDACTION] [numeric](3, 0) NULL,
	[NETWORKCLAIMRULEID] [numeric](12, 0) NULL,
	[DENIALTYPEID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
