USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CORPORATEACCOUNT]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CORPORATEACCOUNT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CORPORATEACCOUNTID] [numeric](12, 0) NULL,
	[ADDRESS] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[BILLINGEMAILADDRESS] [varchar](max) NULL,
	[BILLINGFAX] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[CONTACTNAME] [varchar](max) NULL,
	[COUNTRYID] [numeric](12, 0) NULL,
	[EMAILADDRESS] [varchar](max) NULL,
	[FAX] [varchar](max) NULL,
	[INVOICEFREQUENCY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[NEXTSTATEMENTDATEDATETIME] [datetime2](7) NULL,
	[NOTES] [varchar](max) NULL,
	[PHONE] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
