USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PCRESULTCODE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PCRESULTCODE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PCRESULTCODEID] [numeric](12, 0) NULL,
	[CALLTYPE] [varchar](max) NULL,
	[CONTACTMETHOD] [varchar](max) NULL,
	[SHORTNAME] [varchar](max) NULL,
	[DOCUMENTACTIONREASONSYSTEMKEY] [varchar](max) NULL,
	[DOCUMENTACTIONNOTE] [varchar](max) NULL,
	[LABRETRIEVALYN] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
