USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[DOCUMENTAPPOINTMENTREQUEST]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DOCUMENTAPPOINTMENTREQUEST](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENTREQUESTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[REFERRINGCLINICALPROVIDERID] [numeric](38, 0) NULL,
	[ORIGINALAPPOINTMENTID] [numeric](12, 0) NULL,
	[SCHEDULEDAPPOINTMENTID] [numeric](12, 0) NULL,
	[REFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[TIMEOFDAY] [varchar](max) NULL,
	[DAYOFWEEK] [varchar](max) NULL,
	[EFFECTIVEFROMDATE] [date] NULL,
	[EFFECTIVETODATE] [date] NULL,
	[REFERRALAUTHNUMBER] [varchar](max) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
