USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[REPORTINGGROUP]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[REPORTINGGROUP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[REPORTINGGROUPID] [numeric](11, 0) NULL,
	[NAME] [varchar](max) NULL,
	[GROUPSPECIALTYNAME] [varchar](max) NULL,
	[MECEYN] [varchar](1) NULL,
	[GROUPSPECIALTYID] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[GROUPTYPE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
