USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[RVU]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[RVU](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[RVUID] [numeric](38, 0) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[YEAR] [numeric](38, 0) NULL,
	[WORKRVU] [numeric](8, 2) NULL,
	[PRACTICEEXPENSERVU] [numeric](8, 2) NULL,
	[MALPRACTICERVU] [numeric](8, 2) NULL,
	[FACILITYPRACTICEEXPENSERVU] [numeric](8, 2) NULL,
	[NONFACILITYNOTAPPLICABLE] [varchar](max) NULL,
	[FACILITYNOTAPPLICABLE] [varchar](max) NULL,
	[PREOPERATIVEPERCENTAGE] [numeric](8, 4) NULL,
	[INTRAOPERATIVEPERCENTAGE] [numeric](8, 4) NULL,
	[POSTOPERATIVEPERCENTAGE] [numeric](8, 4) NULL,
	[EFFECTIVEDATEDATETIME] [datetime] NULL,
	[EXPIRATIONDATEDATETIME] [datetime] NULL,
	[RVUCONVERSIONFACTOR] [numeric](8, 4) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
