USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[P4PHCCDXSUGGESTIONDISMISSAL]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[P4PHCCDXSUGGESTIONDISMISSAL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[P4PHCCDXSUGGESTIONDISMISSALID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[USERNAME] [varchar](max) NULL,
	[ORIGINALP4PHCCDXSGSTIONID] [numeric](12, 0) NULL,
	[HCCID] [numeric](12, 0) NULL,
	[HCCMODELVERSION] [varchar](max) NULL,
	[RULEID] [varchar](max) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[SOURCETYPE] [varchar](max) NULL,
	[REASON] [varchar](max) NULL,
	[SUGGESTIONTYPE] [varchar](max) NULL,
	[HCCDISMISSALREASONCODEID] [numeric](18, 5) NULL,
	[DISMISSEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
