USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ERAKICK]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ERAKICK](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[ERAKICKID] [numeric](12, 0) NULL,
	[ERARECORDID] [numeric](12, 0) NULL,
	[KICKCODE] [varchar](max) NULL,
	[KICKREASONID] [numeric](11, 0) NULL,
	[MAPPEDDATETIME] [datetime2](7) NULL,
	[MAPPEDBY] [varchar](max) NULL,
	[MAPPEDERAKICKID] [numeric](12, 0) NULL,
	[KICKEDAMOUNT] [numeric](22, 3) NULL,
	[BALANCETRANSACTIONTYPE] [varchar](max) NULL,
	[BALANCETRANSACTIONREASON] [varchar](max) NULL,
	[DISTRIBUTEDYN] [varchar](max) NULL,
	[MESSAGETEXT] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
