USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTPASTMEDICALHISTORY]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTPASTMEDICALHISTORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PASTMEDICALHISTORYID] [numeric](12, 0) NULL,
	[TYPE] [varchar](18) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[PASTMEDICALHISTORYKEY] [varchar](max) NULL,
	[PASTMEDICALHISTORYQUESTION] [varchar](max) NULL,
	[PASTMEDICALHISTORYANSWER] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
