USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[P4PPATIENTRAFSCORELOG]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[P4PPATIENTRAFSCORELOG](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[P4PPATIENTRAFSCORELOGID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[RAFGAP] [numeric](5, 3) NULL,
	[RAFSCORE] [numeric](5, 3) NULL,
	[TIMESTAMPDATETIME] [datetime2](7) NULL,
	[USERNAME] [varchar](max) NULL,
	[HCCVERSION] [numeric](5, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
