USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALCLINICALORDERROUTE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALCLINICALORDERROUTE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALCLINICALORDERROUTEID] [numeric](12, 0) NULL,
	[ALARMDAYS] [numeric](12, 0) NULL,
	[CLINICALPAPERFORMID] [numeric](38, 0) NULL,
	[CLINICALORDERTYPEGROUPID] [numeric](12, 0) NULL,
	[GLOBALID] [numeric](12, 0) NULL,
	[CLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[DEFAULTYN] [varchar](max) NULL,
	[LABELPAPERFORMID] [numeric](38, 0) NULL,
	[PRIORITY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
