USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[LOCALCLINICALORDERTYPE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALCLINICALORDERTYPE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALCLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[PARENTCLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[CLINICALORDERTYPEGROUPID] [numeric](12, 0) NULL,
	[CLINICALORDERGENUSID] [numeric](38, 0) NULL,
	[ORDERCODETYPE] [varchar](max) NULL,
	[ORDERCODE] [varchar](max) NULL,
	[DETAILORDERCODETYPE] [varchar](max) NULL,
	[DETAILORDERCODE] [varchar](max) NULL,
	[DETAILNAME] [varchar](max) NULL,
	[SUBCATEGORYNAME] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[PLCNAME] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[DISPLAYQUANTITYUNITS] [varchar](max) NULL,
	[ORDERABLEFLAG] [varchar](max) NULL,
	[DEFAULTALARMDAYS] [numeric](12, 0) NULL,
	[DEFAULTPRIORITY] [numeric](12, 0) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[ORDERTYPECLASS] [varchar](max) NULL,
	[INCOMINGDOCUMENTCLASS] [varchar](max) NULL,
	[PANELYN] [varchar](max) NULL,
	[COMPOUNDDEASCHEDULE] [numeric](1, 0) NULL,
	[DISCONTINUEDDATETIME] [datetime2](7) NULL,
	[REPLACEDBYID] [numeric](12, 0) NULL,
	[LOINC] [varchar](max) NULL,
	[DOCUMENTSUBCLASS] [varchar](max) NULL,
	[FORPAINYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
