USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CLINICALPAPERFORM]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLINICALPAPERFORM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[NAME] [varchar](max) NULL,
	[DOCUMENTCLASS] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CLINICALPAPERFORMID] [numeric](38, 0) NULL,
	[FACILITYLOGOWIDTH] [numeric](12, 0) NULL,
	[BARCODECONTENT] [varchar](max) NULL,
	[BARCODEHEIGHT] [numeric](12, 0) NULL,
	[BARCODEFORMAT] [varchar](max) NULL,
	[MEDICATIONHISTORYSIGNATUREYN] [varchar](max) NULL,
	[PRIVACYNOTICESIGNATUREYN] [varchar](max) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[PORTALVIEWABLEYN] [varchar](max) NULL,
	[HEADERBLOCKHTML] [varchar](max) NULL,
	[PAPERFORMTEXTUNBOUND] [varchar](max) NULL,
	[BARCODEWIDTH] [numeric](12, 0) NULL,
	[LABELYN] [varchar](max) NULL,
	[PATIENTCARESUMMARYYN] [varchar](max) NULL,
	[FOOTERBLOCKHTML] [varchar](max) NULL,
	[FROZENFLAG] [varchar](max) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[LETTERYN] [varchar](max) NULL,
	[VISUALEDITORYN] [varchar](max) NULL,
	[GLOBALID] [numeric](38, 0) NULL,
	[COMMUNICATORDISPLAYNAME] [varchar](max) NULL,
	[PORTALSIGNATUREYN] [varchar](max) NULL,
	[BARCODETYPE] [varchar](max) NULL,
	[PLCNAME] [varchar](max) NULL,
	[HEADERBLOCKTEXT] [varchar](max) NULL,
	[DOCUMENTSUBCLASS] [varchar](max) NULL,
	[FACILITYLOGOHEIGHT] [numeric](12, 0) NULL,
	[FOOTERBLOCKTEXT] [varchar](max) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[PAPERFORMHTML] [varchar](max) NULL,
	[INSUREDSIGNATUREYN] [varchar](max) NULL,
	[CLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[LETTERCATEGORY] [varchar](max) NULL,
	[INCOMINGCLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[PAPERFORMTEXT] [varchar](max) NULL,
	[INCOMINGSTATUS] [varchar](max) NULL,
	[BARCODEYN] [varchar](max) NULL,
	[PATIENTSIGNATUREYN] [varchar](max) NULL,
	[TYPEOFFORM] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
