USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CMPLANPROBLEM]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CMPLANPROBLEM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CMCAREPLANID] [numeric](12, 0) NULL,
	[CMPLANPROBLEMID] [numeric](12, 0) NULL,
	[STATUS] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[NANDACODE] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
