USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CMCAREEVENT]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CMCAREEVENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CMCAREEVENTID] [numeric](12, 0) NULL,
	[SUMMARY] [varchar](max) NULL,
	[SUMMARYCLOB] [varchar](max) NULL,
	[DURATION] [numeric](12, 0) NULL,
	[TYPE] [varchar](max) NULL,
	[EVENTTIMEUTCDATETIME] [datetime2](7) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
