USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ALLERGY]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ALLERGY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ALLERGYID] [numeric](12, 0) NULL,
	[TYPE] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[ALLERGYNAME] [varchar](max) NULL,
	[ALLERGYCODE] [numeric](8, 0) NULL,
	[ALLERGYCONCEPTTYPE] [numeric](3, 0) NULL,
	[RXNORMCODE] [varchar](max) NULL,
	[ALLERGYREACTIONNAME] [varchar](max) NULL,
	[ONSETDATE] [date] NULL,
	[DEACTIVATEDDATETIME] [datetime2](7) NULL,
	[DEACTIVATEDBY] [varchar](max) NULL,
	[REACTIVATEDDATETIME] [datetime2](7) NULL,
	[REACTIVATEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](3) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
