USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[DOCUMENTINSURANCE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DOCUMENTINSURANCE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DOCUMENTINSURANCEID] [numeric](12, 0) NULL,
	[INSURANCEOVERRIDENAME] [varchar](max) NULL,
	[PCPNPI] [varchar](max) NULL,
	[IDNUMBER] [varchar](max) NULL,
	[INSUREDFIRSTNAME] [varchar](max) NULL,
	[SEQUENCENUMBER] [numeric](38, 0) NULL,
	[INSURANCEOVERRIDEPHONE] [varchar](max) NULL,
	[POLICYSTATUS] [varchar](max) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[INSUREDNAMESUFFIX] [varchar](max) NULL,
	[INSUREDLASTNAME] [varchar](max) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[RELATIONSHIPTOPATIENT] [varchar](max) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[FOREIGNID] [numeric](12, 0) NULL,
	[POLICYNUMBER] [varchar](max) NULL,
	[RELATIONSHIPTOINSUREDID] [numeric](12, 0) NULL,
	[INSUREDMIDDLEINITIAL] [varchar](max) NULL,
	[INSUREDDOBDATETIME] [datetime2](7) NULL,
	[ISSUEDATEDATETIME] [datetime2](7) NULL,
	[PATIENTINSURANCEID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
