USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[KICKREASON]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[KICKREASON](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[KICKREASONID] [numeric](11, 0) NULL,
	[KICKCODE] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[REJECTIONREASON] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ATHENAKICKCODE] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
