USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[INCENTIVEPROGRAM]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[INCENTIVEPROGRAM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[INCENTIVEPROGRAMID] [numeric](12, 0) NULL,
	[UNPOSTABLETYPEID] [varchar](max) NULL,
	[INVOICEREQUIRECLINICALSYN] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[NOTEPATTERN] [varchar](max) NULL,
	[INVOICESTARTDATEDATETIME] [datetime2](7) NULL,
	[NOTE] [varchar](max) NULL,
	[INVOICEMONTHSGRACE] [numeric](12, 0) NULL,
	[INVOICEYN] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
