USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CLAIMEXTRAFIELDS]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLAIMEXTRAFIELDS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[EXTRACLAIMFIELDID] [numeric](38, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[FIELDNAME] [varchar](max) NULL,
	[FIELDVALUE] [varchar](max) NULL,
	[ISARCHIVED] [bit] NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
