USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[GLOBALBIZREQUIREMENT]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[GLOBALBIZREQUIREMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[NAME] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[GLOBALBIZREQUIREMENTID] [numeric](12, 0) NULL,
	[OVERRIDEOPTIONID] [numeric](12, 0) NULL,
	[CLAIMRULEID] [numeric](12, 0) NULL,
	[CLAIMRULECATEGORYID] [numeric](12, 0) NULL,
	[RULEENGINEID] [numeric](38, 0) NULL,
	[RULETYPEID] [numeric](38, 0) NULL,
	[RULES2TRANSFORMSTATUSID] [numeric](12, 0) NULL,
	[INTERNALFIXTEXT] [varchar](max) NULL,
	[VISITRULEDISPLAYLOCATIONID] [numeric](12, 0) NULL,
	[RULEREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
