USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[SLOTACTION]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[SLOTACTION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[SLOTACTIONID] [numeric](12, 0) NULL,
	[STAFFTEMPLATEID] [numeric](38, 0) NULL,
	[TEMPLATEDESCRIPTION] [varchar](max) NULL,
	[STARTDATE] [date] NULL,
	[ENDDATE] [date] NULL,
	[PROVIDERNAME] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](38, 0) NULL,
	[RECURRENCETYPE] [varchar](max) NULL,
	[RECURRENCESUBTYPE] [varchar](max) NULL,
	[DAILYINTERVAL] [numeric](38, 0) NULL,
	[DAILYWEEKDAYSYN] [varchar](max) NULL,
	[WEEKLYINTERVAL] [numeric](38, 0) NULL,
	[WEEKLYDAYS] [varchar](max) NULL,
	[MONTHLYINTERVAL1] [numeric](38, 0) NULL,
	[MONTHLYINTERVAL2] [numeric](38, 0) NULL,
	[MONTHLYDATE] [varchar](max) NULL,
	[MONTHLYDAY] [varchar](max) NULL,
	[MONTHLYDAYINDEX] [varchar](max) NULL,
	[YEARLYVACATIONDAY] [varchar](max) NULL,
	[SCHEDULEONHOLIDAYSYN] [varchar](max) NULL,
	[ROLLBACKDATETIME] [datetime2](7) NULL,
	[ROLLBACKBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
