USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ORDERSETDIAGNOSISSNOMED]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ORDERSETDIAGNOSISSNOMED](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ORDERSETDIAGNOSISSNOMEDID] [numeric](12, 0) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[CLINICALORDERSETID] [numeric](38, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[LATERALITY] [varchar](max) NULL,
	[NEEDSVERIFICATION] [varchar](max) NULL,
	[GLOBALID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
