USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CLIENTFORM]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLIENTFORM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[CLIENTFORMID] [numeric](38, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[FROZENFLAG] [varchar](max) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[NOTES] [varchar](max) NULL,
	[CLIENTFORMTEXT] [varchar](max) NULL,
	[CLIENTFORMHTML] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[PORTALVIEWABLEYN] [varchar](max) NULL,
	[PORTALSIGNATUREYN] [varchar](max) NULL,
	[PRIVACYNOTICESIGNATUREYN] [varchar](max) NULL,
	[PATIENTSIGNATUREYN] [varchar](max) NULL,
	[INSUREDSIGNATUREYN] [varchar](max) NULL,
	[MEDICATIONHISTORYSIGNATUREYN] [varchar](max) NULL,
	[COMMUNICATORDISPLAYNAME] [varchar](max) NULL,
	[LABELYN] [varchar](max) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
