USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[BILLINGBATCH]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[BILLINGBATCH](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[BILLINGBATCHID] [numeric](12, 0) NULL,
	[BATCHFORMAT] [varchar](max) NULL,
	[FILELOCATION] [varchar](max) NULL,
	[LASTPRINTEDDATETIME] [datetime2](7) NULL,
	[LASTPRINTEDBY] [varchar](max) NULL,
	[MAILEDDATETIME] [datetime2](7) NULL,
	[MAILEDBY] [varchar](max) NULL,
	[SUBMISSIONATTEMPTS] [numeric](12, 0) NULL,
	[LASTTRANSMITTEDDATETIME] [datetime2](7) NULL,
	[LASTTRANSMITTEDTO] [varchar](max) NULL,
	[LASTTRANSMITTEDBY] [varchar](max) NULL,
	[LASTTRANSMITCONFIRMEDDATETIME] [datetime2](7) NULL,
	[LASTTRANSMITCONFIRMEDBY] [varchar](max) NULL,
	[ARCHIVEDDATETIME] [datetime2](7) NULL,
	[ARCHIVEDBY] [varchar](max) NULL,
	[BATCHNOTES] [varchar](max) NULL,
	[CLAIMCOUNT] [numeric](12, 0) NULL,
	[TRACKINGID] [varchar](max) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[TRANSACTIONCOUNT] [numeric](12, 0) NULL,
	[TOTALCHARGES] [numeric](12, 2) NULL,
	[INSURANCEPACKAGES] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[EMCRECEIVERID] [numeric](12, 0) NULL,
	[REGENERATEDDATETIME] [datetime2](7) NULL,
	[CLAIMSACCEPTEDCOUNT] [numeric](12, 0) NULL,
	[CLAIMSACCEPTEDAMOUNT] [numeric](12, 2) NULL,
	[CLAIMSREJECTEDCOUNT] [numeric](12, 0) NULL,
	[CLAIMSREJECTEDAMOUNT] [numeric](12, 2) NULL,
	[PROVIDERGROUPID] [numeric](38, 0) NULL,
	[MERGEDDATETIME] [datetime2](7) NULL,
	[MERGEDBY] [varchar](max) NULL,
	[MERGEDINTOBILLINGBATCHID] [numeric](12, 0) NULL,
	[COLLECTIONAGENCYID] [varchar](max) NULL,
	[PENDDATEDATETIME] [datetime2](7) NULL,
	[PARENTBATCHID] [numeric](12, 0) NULL,
	[ATTACHFILELOCATION] [varchar](max) NULL,
	[ANSIVERSIONID] [numeric](12, 0) NULL,
	[CLAIMFORMATVERSIONID] [numeric](12, 0) NULL,
	[TESTYN] [varchar](max) NULL,
	[APPEALBATCHYN] [varchar](max) NULL,
	[RTAYN] [varchar](max) NULL,
	[DELIVERYMETHOD] [varchar](max) NULL,
	[CORPORATEINVOICEID] [varchar](max) NULL,
	[STATEMENTFORMAT] [varchar](max) NULL,
	[ICDVERSION] [varchar](max) NULL,
	[DIAGNOSISCODESETID] [numeric](12, 0) NULL,
	[PRINTBATCHNAME] [varchar](max) NULL,
	[PENDING] [varchar](max) NULL,
	[CLEARINGHOUSEFILEREPORTID] [numeric](12, 0) NULL,
	[COLLECTIONSFORMATID] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
