USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[RISKCONDITION]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[RISKCONDITION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[RISKCONDITIONID] [numeric](12, 0) NULL,
	[ABATEMENTDATETIMEDATETIME] [datetime2](7) NULL,
	[CONDITIONCATEGORYID] [numeric](12, 0) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EVIDENCESTATUS] [varchar](max) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[EXTERNALID] [varchar](max) NULL,
	[HCCMODELVERSION] [varchar](max) NULL,
	[ONSETDATETIMEDATETIME] [datetime2](7) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[RECONCILEDSTATECODE] [numeric](12, 0) NULL,
	[RECORDEDDATEDATETIME] [datetime2](7) NULL,
	[RECORDER] [varchar](max) NULL,
	[RISKPARTNERID] [numeric](12, 0) NULL,
	[SOURCETYPE] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
