USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[TOSCHARGEPATIENTOUTSTANDING]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TOSCHARGEPATIENTOUTSTANDING](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[TOSCHGPATIENTOUTSTANDINGID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[CHARGEID] [numeric](12, 0) NULL,
	[PAYMENTPLANID] [numeric](11, 0) NULL,
	[PATIENTOUTSTANDINGAMOUNT] [numeric](12, 2) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[EPAYMENTCONTRACTID] [numeric](12, 0) NULL,
	[INCOLLECTIONSYN] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[INBADDEBTYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
