USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[DOCUMENTANNOTATION]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DOCUMENTANNOTATION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DOCUMENTANNOTATIONID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[SCANPAGEID] [numeric](12, 0) NULL,
	[ANNOTATIONTYPE] [varchar](max) NULL,
	[LEFT] [numeric](4, 0) NULL,
	[TOP] [numeric](4, 0) NULL,
	[WIDTH] [numeric](4, 0) NULL,
	[HEIGHT] [numeric](4, 0) NULL,
	[COLUMNS] [numeric](3, 0) NULL,
	[TEXT] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
