USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PAYTOADDRESS]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PAYTOADDRESS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PAYTOADDRESSID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[ADDRESS1] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
