USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[COUNTRY]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[COUNTRY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[COUNTRYID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[COUNTRYCODE] [varchar](max) NULL,
	[ADDRESSFORMAT] [varchar](max) NULL,
	[ORDERING] [numeric](38, 0) NULL,
	[COUNTRYCODE2] [varchar](max) NULL,
	[PAYERID] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
