USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ADJUDICATIONPROGRAM]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ADJUDICATIONPROGRAM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[ADJUDICATIONPROGRAMID] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
