USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[DEPARTMENTDESIGNATIONGROUP]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DEPARTMENTDESIGNATIONGROUP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DEPARTMENTDESIGNATIONID] [numeric](12, 0) NULL,
	[DEPARTMENTDESIGNATIONGROUPID] [numeric](12, 0) NULL,
	[CASENUMBER] [varchar](max) NULL,
	[DESIGNATIONGROUP] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
