USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[VITALATTRIBUTEREADING]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[VITALATTRIBUTEREADING](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[VITALATTRIBUTEREADINGID] [numeric](12, 0) NULL,
	[VITALATTRIBUTEID] [numeric](12, 0) NULL,
	[VITALATTRIBUTEVALUEID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[VALUE] [varchar](max) NULL,
	[READINGID] [numeric](12, 0) NULL,
	[READINGDATEDATETIME] [datetime2](7) NULL,
	[READINGSOURCETYPE] [varchar](max) NULL,
	[VITALSOURCETYPENAME] [varchar](max) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERDATAID] [numeric](12, 0) NULL,
	[SAVEDWITHUNIFIEDAPIYN] [varchar](max) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
