USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[QMRESULT]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[QMRESULT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[P4PPROGRAM] [varchar](max) NULL,
	[P4PMEASURE] [varchar](max) NULL,
	[RESULTSTATUS] [varchar](12) NULL,
	[SATISFIEDDATE] [date] NULL,
	[EXCLUSIONREASON] [varchar](max) NULL,
	[MANUALLYADDED] [varchar](1) NULL,
	[SNOOZELENGTH] [varchar](max) NULL,
	[SNOOZEREASON] [varchar](max) NULL,
	[STARTAGE] [varchar](max) NULL,
	[ENDAGE] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[ISARCHIVED] [bit] NULL,
	[ISDELETED] [bit] NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
