USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[P4PSUBMISSION]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[P4PSUBMISSION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[P4PSUBMISSIONID] [numeric](12, 0) NULL,
	[P4PSUBMISSIONGROUPID] [numeric](12, 0) NULL,
	[SUBMISSIONNUMBER] [numeric](12, 0) NULL,
	[STATUS] [varchar](max) NULL,
	[SATISFACTIONDATEDATETIME] [datetime] NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
