USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[GLOBALAPPOINTMENTTYPE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[GLOBALAPPOINTMENTTYPE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[GLOBALAPPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[SHORTNAME] [varchar](max) NULL,
	[DURATION] [numeric](12, 0) NULL,
	[PATIENTAPPOINTMENTLABELID] [numeric](12, 0) NULL,
	[PATIENTYN] [varchar](max) NULL,
	[PATIENTPORTALYN] [varchar](max) NULL,
	[HIDEINPORTALYN] [varchar](max) NULL,
	[WEBSCHEDULABLEYN] [varchar](max) NULL,
	[APPOINTMENTTYPECLASSID] [numeric](38, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[Record_Created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
