USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTSNOMEDICD10]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTSNOMEDICD10](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTSNOMEDICD10ID] [numeric](12, 0) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[ICDCODEALLID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
