USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PLACEOFSERVICE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PLACEOFSERVICE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PLACEOFSERVICEID] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[FACILITYYN] [varchar](max) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[MEDCINSETTING] [varchar](max) NULL,
	[HCCCOMPLIANTYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
