USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CLINICALTEMPLATE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLINICALTEMPLATE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTTEMPLATEDATAID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[ENCOUNTERSECTION] [varchar](max) NULL,
	[CLINICALTEMPLATENAME] [varchar](max) NULL,
	[CLINICALTEMPLATEPARAGRAPH] [varchar](max) NULL,
	[CLINICALTEMPLATESENTENCE] [varchar](max) NULL,
	[CLINICALFINDING] [varchar](max) NULL,
	[FINDINGDETAIL] [varchar](max) NULL,
	[FINDINGTYPE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CLINICALTEMPLATEID] [numeric](19, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
