USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[MEDICALGROUPENROLLMENTSTATUS]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[MEDICALGROUPENROLLMENTSTATUS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[MEDICALGROUPENROLLMENTSTATUSID] [numeric](12, 0) NULL,
	[ENROLLMENTCATEGORYID] [numeric](12, 0) NULL,
	[MEDICALGROUPID] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[BILLINGOKYN] [varchar](max) NULL,
	[HOLDREASON] [varchar](max) NULL,
	[PAYTOADDRESSID] [numeric](12, 0) NULL,
	[ADDRESSID] [numeric](12, 0) NULL,
	[ACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[MEDICALGROUPNUMBERID] [numeric](12, 0) NULL,
	[EFFECTIVEDATEDATETIME] [datetime] NULL,
	[EXPIRATIONDATEDATETIME] [datetime] NULL,
	[LEGACYNUMBER] [varchar](max) NULL,
	[PLACEOFSERVICEID] [varchar](max) NULL,
	[ANSISPECIALTYID] [numeric](12, 0) NULL,
	[FEDERALIDNUMBER] [varchar](max) NULL,
	[REFERENCENAME] [varchar](max) NULL,
	[NPINUMBER] [numeric](10, 0) NULL,
	[SUPPRESSELIGIBILITYYN] [varchar](max) NULL,
	[INDIVIDUALBILLINGYN] [varchar](max) NULL,
	[TYPEOFBILLID] [numeric](12, 0) NULL,
	[BYOLBYN] [varchar](max) NULL,
	[BILLINGFORMAT] [varchar](max) NULL,
	[UPDATEPROVIDERLEVELYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
