USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[MDPPARTNER]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[MDPPARTNER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[MDPPARTNERID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[APIMANAGEMENTID] [varchar](max) NULL,
	[INTERFACEVENDORID] [varchar](max) NULL,
	[CALLBACKURL] [varchar](max) NULL,
	[INTERNALONLYYN] [varchar](max) NULL,
	[ACCESSTOALLPRACTICESYN] [varchar](max) NULL,
	[MDPPARTNERCATEGORYID] [numeric](12, 0) NULL,
	[PARTNERTYPE] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
