USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[DIAGNOSISCODE]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DIAGNOSISCODE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[PARENTDIAGNOSISCODE] [varchar](max) NULL,
	[UNSTRIPPEDDIAGNOSISCODE] [varchar](max) NULL,
	[DIAGNOSISCODEDESCRIPTION] [varchar](max) NULL,
	[LOCALDESCRIPTION] [varchar](max) NULL,
	[LOCALSEARCHNAME] [varchar](max) NULL,
	[ISDELETED] [bit] NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
