USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CLAIMALARM]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLAIMALARM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLAIMALARMID] [numeric](12, 0) NULL,
	[ALARMDATEDATETIME] [datetime2](7) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[CLAIMALARMCLASS] [varchar](max) NULL,
	[FIREDTIMESTAMPDATETIME] [datetime2](7) NULL,
	[ACTIVEFLAG] [varchar](max) NULL,
	[SETBYCLAIMNOTEID] [numeric](12, 0) NULL,
	[CLAIMALARMDAYSID] [numeric](12, 0) NULL,
	[FIREDASCLAIMNOTEID] [numeric](12, 0) NULL,
	[DIRECTEDDAYSYN] [varchar](max) NULL,
	[FIREWITHKICKREASONID] [numeric](12, 0) NULL,
	[DISABLESYNCYN] [varchar](max) NULL,
	[CALLSAVEDYN] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
