USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[VISITCHARGE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[VISITCHARGE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[VISITCHARGEID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[DRUGUNITQUALIFIER] [varchar](max) NULL,
	[VOIDEDBY] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[PARENTVISITCHARGEID] [numeric](12, 0) NULL,
	[DRUGDOSAGE] [varchar](max) NULL,
	[PRIMARYPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[SUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[QUANTITYENDTIMEDATETIME] [datetime2](7) NULL,
	[MODIFIERS] [varchar](max) NULL,
	[SOFTCODEYN] [varchar](max) NULL,
	[FOREIGNSYSTEMID] [varchar](max) NULL,
	[LOCALCHARGEDATEDATETIME] [datetime2](7) NULL,
	[CHARGEMASTERCHARGEID] [numeric](12, 0) NULL,
	[VISITSEGMENTID] [numeric](12, 0) NULL,
	[HCPCSUNITS] [numeric](12, 0) NULL,
	[VISITBILLID] [numeric](12, 0) NULL,
	[PLACEOFSERVICE] [varchar](max) NULL,
	[EMG] [varchar](max) NULL,
	[CHARGECODEUNITS] [numeric](28, 8) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[SOURCE] [varchar](max) NULL,
	[DRUGUNITPRICE] [varchar](max) NULL,
	[NDC] [varchar](max) NULL,
	[TODATEDATETIME] [datetime2](7) NULL,
	[VOIDEDDATETIME] [datetime2](7) NULL,
	[LEVELOFCAREID] [numeric](12, 0) NULL,
	[CHARGEDATEDATETIME] [datetime2](7) NULL,
	[REVENUECODE] [varchar](max) NULL,
	[VISITDEPARTMENTID] [numeric](12, 0) NULL,
	[FROMDATEDATETIME] [datetime2](7) NULL,
	[ORIGINALUNITAMOUNT] [numeric](22, 2) NULL,
	[QUANTITYSTARTTIMEDATETIME] [datetime2](7) NULL,
	[DYNAMICUNITAMOUNT] [numeric](22, 2) NULL,
	[ORIGINALVISITID] [numeric](12, 0) NULL,
	[CLAIMCREATEDYN] [varchar](max) NULL,
	[CHARGEDEPARTMENTID] [numeric](12, 0) NULL,
	[AMOUNT] [numeric](22, 2) NULL,
	[TYPE] [varchar](max) NULL,
	[VOIDPARENTID] [numeric](12, 0) NULL,
	[DRUGNAME] [varchar](max) NULL,
	[VISITID] [numeric](12, 0) NULL,
	[POSTDATEDATETIME] [datetime2](7) NULL,
	[EPSDTYN] [varchar](max) NULL,
	[SERVICEDEPARTMENTID] [numeric](12, 0) NULL,
	[LINENOTE] [varchar](max) NULL,
	[FAMILYPLAN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
