USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[ENROLLMENTPARAMETER]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ENROLLMENTPARAMETER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ENROLLMENTPARAMETERID] [numeric](12, 0) NULL,
	[PARENTTABLENAME] [varchar](max) NULL,
	[PARENTROWID] [numeric](12, 0) NULL,
	[PARAMETERNAME] [varchar](max) NULL,
	[PARAMETERVALUE] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
