USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[WEBPORTALLOG]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[WEBPORTALLOG](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[WEBPORTALLOGID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ACTION] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[ACTIONTIMEDATETIME] [datetime2](7) NULL,
	[IPADDRESS] [varchar](max) NULL,
	[COMMUNICATORLOGID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[BROWSER] [varchar](max) NULL,
	[PORTALTHIRDPARTYUSERID] [numeric](12, 0) NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[COMMUNICATORBRANDID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
