USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PROVIDERGROUP]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PROVIDERGROUP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[PROVIDERGROUPNAME] [varchar](max) NULL,
	[MEDICALGROUPID] [numeric](38, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[COMMUNICATORBRANDNAME] [varchar](max) NULL,
	[PROVIDERGROUPSPECIALTY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[ADDRESS1] [varchar](max) NULL,
	[STATEMENTSNAME] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[GROUPSPECIALTYID] [numeric](12, 0) NULL,
	[DESTINATIONBRANDID] [numeric](12, 0) NULL,
	[CITY] [varchar](max) NULL,
	[COMMUNICATORBRANDID] [numeric](12, 0) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[BILLINGNAME] [varchar](max) NULL,
	[CREATED] [datetime2](7) NULL,
	[DELETED] [datetime2](7) NULL,
	[ZIP] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[CREDENTIALINGENABLEDYN] [varchar](max) NULL,
	[RESTRICTEDYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
