USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[P4PSUBMISSIONDATA]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[P4PSUBMISSIONDATA](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[P4PSUBMISSIONDATAID] [numeric](12, 0) NULL,
	[P4PSUBMISSIONID] [numeric](12, 0) NULL,
	[DATATYPE] [varchar](max) NULL,
	[CRITERIACODE] [varchar](max) NULL,
	[PROGRAMKEY] [varchar](max) NULL,
	[P4PMEASUREID] [numeric](12, 0) NULL,
	[P4PMEASURESUBSCRIPTIONID] [numeric](12, 0) NULL,
	[GROUPORDERING] [numeric](12, 0) NULL,
	[KEY] [varchar](max) NULL,
	[VALUE] [varchar](max) NULL,
	[PATIENTIDS] [varchar](max) NULL,
	[P4PSUBMISCHARTIDS] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
