USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[PATIENTSURGICALHISTORY]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTSURGICALHISTORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTSURGICALHISTORYID] [numeric](38, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[SURGERYDATEDATETIME] [datetime2](7) NULL,
	[SURGERYDATEMASK] [varchar](max) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[SURGICALHISTORYPROCEDUREID] [numeric](38, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[DEACTIVATEDDATEDATETIME] [datetime2](7) NULL,
	[DEACTIVATEDBY] [varchar](max) NULL,
	[REACTIVATEDDATEDATETIME] [datetime2](7) NULL,
	[REACTIVATEDBY] [varchar](max) NULL,
	[LATERALITY] [varchar](max) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
