USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[CLNOBPLANDISCUSSION]    Script Date: 7/27/2026 6:31:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLNOBPLANDISCUSSION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLNOBPLANDISCUSSIONID] [numeric](12, 0) NULL,
	[DISCUSSIONNOTES] [varchar](max) NULL,
	[EPISODEOBID] [numeric](12, 0) NULL,
	[LOCCLNOBPLANDISCITEMID] [numeric](12, 0) NULL,
	[DISCUSSEDBYDATEDATETIME] [datetime2](7) NULL,
	[DISCUSSEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
