USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[INSURANCEPACKAGE]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[INSURANCEPACKAGE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[ADJUDICATIONPROGRAMID] [varchar](max) NULL,
	[FEESCHEDULECATEGORYID] [varchar](max) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](22, 0) NULL,
	[PROVIDERNUMBERCATEGORYID] [varchar](max) NULL,
	[CLAIMRULECATEGORYID] [numeric](22, 0) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[COPAYBASE] [numeric](22, 2) NULL,
	[COPAYPERCENTAGE] [numeric](22, 2) NULL,
	[COPAYCAP] [numeric](22, 2) NULL,
	[PIGGYBACKYN] [varchar](max) NULL,
	[CLAIMFORMAT] [varchar](max) NULL,
	[ADDRESS] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[ATTACHMENTFAX] [varchar](max) NULL,
	[CONTACTNAME] [varchar](max) NULL,
	[PHONE] [varchar](max) NULL,
	[FAX] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[OTHERID] [varchar](max) NULL,
	[EMCCODE] [varchar](max) NULL,
	[EMCRECEIVERTYPE] [varchar](max) NULL,
	[EMCOFFICECODE] [varchar](max) NULL,
	[NUMPATIENTSWITHTHISINSURANCE] [numeric](22, 0) NULL,
	[INCLUDEINOPTIONS] [varchar](max) NULL,
	[EMCRECEIVERID] [numeric](22, 0) NULL,
	[MEDIGAP] [varchar](max) NULL,
	[ACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[PRACTICENOTES] [varchar](max) NULL,
	[ELIGIBILITYCLASS] [varchar](max) NULL,
	[SUPPRESSADDRESSYN] [varchar](max) NULL,
	[ALTNAMES] [varchar](max) NULL,
	[IDNUMBERFORMAT] [varchar](max) NULL,
	[INVALIDIDNUMBERFORMAT] [varchar](max) NULL,
	[KICKREASONCATEGORYID] [numeric](22, 0) NULL,
	[EXPECTEDDAYSTOEOB] [numeric](11, 0) NULL,
	[PENDINGYN] [varchar](max) NULL,
	[CHANGEREQUEST] [varchar](max) NULL,
	[REQUESTEDBYPHONE] [varchar](max) NULL,
	[FIRSTPATIENTID] [numeric](22, 0) NULL,
	[BENEFITSPHONE] [varchar](max) NULL,
	[BILLINGPHONE] [varchar](max) NULL,
	[OTHERPHONE] [varchar](max) NULL,
	[ACCEPTPATIENTSYN] [varchar](max) NULL,
	[OLDIDNUMBERFORMAT] [varchar](max) NULL,
	[PROJECTEDCATEGORYID] [numeric](22, 0) NULL,
	[EXPECTEDCATEGORYID] [numeric](12, 0) NULL,
	[NONINSURANCETYPEID] [varchar](max) NULL,
	[IDERRORTEXT] [varchar](max) NULL,
	[RECEPTIONISTNOTES] [varchar](max) NULL,
	[INSURANCEPRODUCTTYPEID] [varchar](max) NULL,
	[PRODUCTTYPEID] [numeric](12, 0) NULL,
	[USUALSEQUENCENUMBER] [varchar](max) NULL,
	[CLAIMSUBMISSIONCATEGORYID] [numeric](12, 0) NULL,
	[SOURCEPRACTICEID] [numeric](22, 0) NULL,
	[COINSURANCEYN] [varchar](max) NULL,
	[PRINTZERODOLLARCHARGESYN] [varchar](max) NULL,
	[REFERRALCLASS] [varchar](max) NULL,
	[REFERRALRULECATEGORYID] [numeric](38, 0) NULL,
	[CSICLASS] [varchar](max) NULL,
	[ALLOWABLECATEGORYID] [numeric](12, 0) NULL,
	[APPEALSADDRESS] [varchar](max) NULL,
	[APPEALSADDRESS2] [varchar](max) NULL,
	[APPEALSCITY] [varchar](max) NULL,
	[APPEALSSTATE] [varchar](max) NULL,
	[APPEALSZIP] [varchar](max) NULL,
	[APPEALSCONTACTNAME] [varchar](max) NULL,
	[APPEALSPHONE] [varchar](max) NULL,
	[APPEALSFAX] [varchar](max) NULL,
	[APPEALSATTACHMENTFAX] [varchar](max) NULL,
	[APPEALSNAME] [varchar](max) NULL,
	[APPEALSATTENTION] [varchar](max) NULL,
	[APPEALSCOUNTRYID] [numeric](12, 0) NULL,
	[AUTOASSIGNONLYYN] [varchar](max) NULL,
	[PICKERSERVICECLASS] [varchar](max) NULL,
	[INSURANCENETWORKCATEGORYID] [numeric](12, 0) NULL,
	[COUNTRY] [varchar](max) NULL,
	[ALLOWADDRESSOVERRIDEYN] [varchar](max) NULL,
	[COUNTRYID] [numeric](12, 0) NULL,
	[NOATHENAFOLLOWUPYN] [varchar](max) NULL,
	[INSURANCEPACKAGEMASSUPDATEID] [numeric](12, 0) NULL,
	[ORIGINALREQUESTBY] [varchar](max) NULL,
	[ORIGINALREQUESTDATEDATETIME] [datetime2](7) NULL,
	[CMSPLANID] [varchar](max) NULL,
	[INSURANCETYPEID] [varchar](max) NULL,
	[CURRENTLYMAPPEDTOID] [numeric](12, 0) NULL,
	[GENERATETRACELETTERSYN] [varchar](max) NULL,
	[ANSICLAIMFILINGINDICATORID] [numeric](12, 0) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[WEBSITE] [varchar](max) NULL,
	[ENROLLMENTCATEGORYID] [numeric](12, 0) NULL,
	[GOVERNMENTFUNDEDYN] [varchar](max) NULL,
	[GOVERNMENTFUNDEDTYPEID] [numeric](12, 0) NULL,
	[ROUTINGPROGRAMID] [numeric](12, 0) NULL,
	[CSICLASSID] [numeric](12, 0) NULL,
	[HSRCLASSID] [numeric](12, 0) NULL,
	[COORDINATORINSURANCECATEGORYID] [numeric](12, 0) NULL,
	[STANDALONECOORDINATORYN] [varchar](max) NULL,
	[ATTENTION] [varchar](max) NULL,
	[STANDALONECLINICALSYN] [varchar](max) NULL,
	[SENDPATIENTASSUBSCRIBERYN] [varchar](max) NULL,
	[PARENTINSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[CHECKMEDICALNECESSITYYN] [varchar](max) NULL,
	[INVOICECOVERSHEETYN] [varchar](max) NULL,
	[INVOICESUBMITOVERDUEYN] [varchar](max) NULL,
	[INVOICESUBMITCORRECTEDYN] [varchar](max) NULL,
	[INVOICEOVERDUEDAYS] [numeric](3, 0) NULL,
	[INVOICESENDVIAEMAILYN] [varchar](max) NULL,
	[INVOICEEMAILADDRESS] [varchar](max) NULL,
	[INVOICESHOWADJUSTMENTSYN] [varchar](max) NULL,
	[INVOICECONTACTINFO] [varchar](max) NULL,
	[INVOICEPURCHASEORDERNUMBER] [varchar](max) NULL,
	[DEFINSURANCEPACKAGEADDRESSID] [numeric](12, 0) NULL,
	[DEFINSURANCEPACKAGEPHONEID] [numeric](12, 0) NULL,
	[STATEOFCOVERAGE] [varchar](max) NULL,
	[REQUESTREASONID] [numeric](12, 0) NULL,
	[FORMERNAME] [varchar](max) NULL,
	[SUPERPACKAGENAME] [varchar](max) NULL,
	[PACKAGECREATEREASONID] [numeric](12, 0) NULL,
	[PACKAGECREATEREASONNOTES] [varchar](max) NULL,
	[INVSUBCORRECTEDDATEDATETIME] [datetime2](7) NULL,
	[INVSUBOVERDUEDATEDATETIME] [datetime2](7) NULL,
	[DELETED] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATED] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
