USE [PP_Athena_Landing]
GO
/****** Object:  Table [ATHENAONE].[HCCICDCODEALL]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[HCCICDCODEALL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[HCCICDCODEALLID] [numeric](12, 0) NULL,
	[HCCID] [numeric](12, 0) NULL,
	[HCCMODELVERSION] [varchar](max) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[DIAGNOSISCODESETID] [numeric](12, 0) NULL,
	[ICDCODEALLID] [numeric](12, 0) NULL,
	[HCCVERSION] [numeric](5, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
