USE [PP_Athena_Landing]
GO
/****** Object:  Table [dbo].[ELIGIBILITYBENEFITBACKUP]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELIGIBILITYBENEFITBACKUP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ELIGIBILITYBENEFITID] [numeric](12, 0) NULL,
	[ELIGIBILITYTRACKID] [numeric](12, 0) NULL,
	[BENEFITINFO] [varchar](max) NULL,
	[COVERAGELEVEL] [varchar](max) NULL,
	[SERVICETYPECODE] [varchar](max) NULL,
	[INSURANCETYPE] [varchar](max) NULL,
	[PLANCOVERAGEDESC] [varchar](max) NULL,
	[TIMEPERIODTYPE] [varchar](max) NULL,
	[MONETARYAMOUNT] [varchar](max) NULL,
	[PERCENTAGE] [varchar](max) NULL,
	[QUANTITYTYPE] [varchar](max) NULL,
	[QUANTITY] [varchar](max) NULL,
	[AUTHORIZATIONREQ] [varchar](max) NULL,
	[PLANNETWORK] [varchar](max) NULL,
	[MEDICALPROCEDURE] [varchar](max) NULL,
	[DIAGNOSIS] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
