USE [PP_Athena_Landing]
GO
/****** Object:  Table [dbo].[ErrorData]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorData](
	[ALLERGYREACTIONNAME] [varchar](max) NULL,
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ALLERGYID] [numeric](12, 0) NULL,
	[TYPE] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[ALLERGYNAME] [varchar](max) NULL,
	[ALLERGYCODE] [numeric](8, 0) NULL,
	[ALLERGYCONCEPTTYPE] [numeric](3, 0) NULL,
	[RXNORMCODE] [varchar](max) NULL,
	[ONSETDATE] [date] NULL,
	[DEACTIVATEDDATETIME] [datetime] NULL,
	[DEACTIVATEDBY] [varchar](max) NULL,
	[REACTIVATEDDATETIME] [datetime] NULL,
	[REACTIVATEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[ErrorCode] [int] NULL,
	[ErrorColumn] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
