USE [PP_Athena_Landing]
GO
/****** Object:  Table [dbo].[LogUsageHistory]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogUsageHistory](
	[CaptureTime] [datetime] NULL,
	[DatabaseName] [sysname] NOT NULL,
	[LogSizeMB] [float] NULL,
	[LogUsedPercent] [float] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogUsageHistory] ADD  DEFAULT (getdate()) FOR [CaptureTime]
GO
