USE [PP_Athena_Landing]
GO
/****** Object:  Table [dbo].[OSELFCHECKINWORKFLOW]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OSELFCHECKINWORKFLOW](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[SELFCHECKINWORKFLOWID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[DEVICEDEPARTMENTID] [numeric](12, 0) NULL,
	[STARTEDDATETIME] [datetime2](7) NULL,
	[COMPLETEDDATETIME] [datetime2](7) NULL,
	[SELFCHECKINSTATUSID] [numeric](12, 0) NULL,
	[WORKFLOWTYPE] [varchar](max) NULL,
	[WORKFLOWENTRY] [varchar](max) NULL,
	[ISMOBILEYN] [varchar](max) NULL,
	[ISTHIRDPARTYYN] [varchar](max) NULL,
	[PORTALTHIRDPARTYUSERID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
