USE [PP_Athena_Landing]
GO
/****** Object:  Table [dbo].[SnowflakeTableColumnMapping]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnowflakeTableColumnMapping](
	[TABLE_SCHEMA] [varchar](255) NULL,
	[TABLE_NAME] [varchar](255) NULL,
	[COLUMN_NAME] [varchar](255) NULL
) ON [PRIMARY]
GO
