USE [PP_Athena_Landing]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteDuplicatesInAthenaLanding]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[Sp_DeleteDuplicatesInAthenaLanding]
as 
begin
/*Delete the duplicate data from source  loaded in pp_athena_landing*/

;With cte as 
(
select *, ROW_NUMBER() over(partition by P4PRESULTDATAID, CONTEXTID 
order by LASTMODIFIEDDATETIME desc ,EXPIRATIONDATEDATETIME desc ) Rnk
from pp_athena_landing.athenaone.P4PRESULTDATA
)

delete
--select * 
from cte 
where Rnk> 1


;With cte as 
(
select *, ROW_NUMBER() over(partition by [CONTEXTID],
[ERADISCARDSTATUSREASONID] 
order by LASTUPDATED desc  ) Rnk
from pp_athena_landing.athenaone.ERADISCARDSTATUSREASON
)

delete
--select * 
from cte 
where Rnk> 1

end
GO
