USE [PP_Athena_Landing]
GO
/****** Object:  Table [dbo].[Audit_Log_Table]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log_Table](
	[Package_Name] [nvarchar](50) NULL,
	[Package_Id] [nvarchar](50) NULL,
	[Execution_Start_Time] [datetime] NULL,
	[Execution_User] [nvarchar](50) NULL,
	[Execution_End_Time] [datetime] NULL,
	[Source_Table] [nvarchar](50) NULL,
	[Target_Table] [nvarchar](50) NULL,
	[Source_Count] [int] NULL,
	[Target_Count] [int] NULL,
	[Record_Created_Date] [datetime] NULL,
	[SchemaName] [varchar](100) NULL
) ON [PRIMARY]
GO
