USE [PP_Athena_Landing]
GO
/****** Object:  Table [dbo].[TempNtileValues]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempNtileValues](
	[NtileRnk] [bigint] NULL,
	[MaxID] [varchar](200) NULL,
	[CNT] [int] NULL
) ON [PRIMARY]
GO
