USE [PP_Athena_Landing]
GO
/****** Object:  Table [dbo].[CNTP4PRESULTDATA]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNTP4PRESULTDATA](
	[Rowcnt] [int] NULL
) ON [PRIMARY]
GO
