USE [PP_Athena_Landing]
GO
/****** Object:  StoredProcedure [dbo].[CheckJobStatus]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*  
-----> read all sysjob history  getdate()-1  
1.Trigger check45 server job   
2.execute sp that check the staus of above Triggered check45 server job getdate()  
3.get max date for all tables   
4.snowflake to landing   
5.landing to ods   
1.Trigger check45 server job   
 1.sucess in 7 secs   
 2.failure --->  
 3.runnning   
*/  
CREATE PROCEDURE [dbo].[CheckJobStatus](    
    
    @JobName VARCHAR(128) = 'Check45ServerStatus' ,@Stepname VARCHAR(128) = 'Check 45 Server Status'    
 )    
AS    
BEGIN    
    DECLARE @ElapsedTime INT = 0;    
    DECLARE @MaxWaitTime INT = 5; -- Maximum wait time in minutes    
 Declare @SPStartDatetime datetime =  DATEADD(MINUTE, -1, GETDATE())    
    
    WHILE @ElapsedTime < @MaxWaitTime    
    BEGIN    
        DECLARE @JobStatus INT;    
    
        -- Check the status of the job    
        SELECT @JobStatus = run_status    
        FROM    
    msdb.dbo.sysjobs j    
    JOIN    
    msdb.dbo.sysjobhistory h ON j.job_id = h.job_id    
 where   j.name=@JobName    
 and step_name=@Stepname    
 and h.run_date =CONVERT(VARCHAR(8), GETDATE(), 112)     
 and CONVERT(DATETIME, CONVERT(VARCHAR(8), h.run_date, 112) + ' ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(6), h.run_time), 6), 5, 0, ':'), 3, 0, ':'), 120)     
 >=  @SPStartDatetime    
    
        -- If the job succeeded, exit the loop    
        IF @JobStatus = 1    
        BEGIN    
            PRINT 'Job succeeded!';    
            RETURN; -- Exit the stored procedure    
        END    
  ---If the job fails, raise error in sp to fail the job ,exit the loop   
  IF @JobStatus = 0    
        BEGIN    
            PRINT 'Job Failed!';    
    DECLARE @ErrorMessage_fail VARCHAR(4000)=   
    'Job Failed due to Check45ServerStatus failure ';    
             RAISERROR (@ErrorMessage_fail, 16, 1);   
            RETURN; -- Exit the stored procedure    
        END    
    
        -- Wait for 2 minutes    
        WAITFOR DELAY '00:01:00';    
    
        -- Increment the elapsed time    
        SET @ElapsedTime = @ElapsedTime + 1;    
    END    
  
  /*stopping the running job as it exceeds max time limit */  
  EXEC msdb.dbo.sp_stop_job 'Check45ServerStatus'  
  
  /*Failing the SP as Check45ServerStatus exceeds max time limit */  
 DECLARE @ErrorMessage VARCHAR(4000)= 'Job did not succeed within the maximum wait time.';    
    RAISERROR (@ErrorMessage, 16, 1);    
    
      
END;    
GO
