USE [PP_Athena_Landing]
GO
/****** Object:  StoredProcedure [dbo].[SP_AthenaSSISConfigUpdate]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AthenaSSISConfigUpdate]            
as             
begin             
            
drop table if exists #Temp_MoreTimeTakingTables            
            
Create table #Temp_MoreTimeTakingTables (TableName varchar(100), SchemaName varchar(100))          
        
Insert into #Temp_MoreTimeTakingTables(TableName,SchemaName)        
        
 select 'INTERFACEMESSAGEPARAM' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'ELIGIBILITYTRACK' as SourceTable ,'ATHENAONE' as SchemaName        
--union select 'CLINICALENCOUNTERDATA' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'CLINICALTEMPLATE' as SourceTable ,'ATHENAONE' as SchemaName        
---union select 'SLOT_FUTURE' as SourceTable ,'SCHEDULING' as SchemaName        
union select 'ELIGIBILITYBENEFIT' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'P4PRESULTDATA' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'ELIGIBILITYBENEFITDATE' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'CRDNETWORKDOCUMENT' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'CLINICALENCOUNTERDATAAUDR' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'APPOINTMENTVIEW' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'INTERFACEMESSAGEDATA' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'NEWPATIENT_APPOINTMENT' as SourceTable ,'SCHEDULING' as SchemaName        
union select 'NEWPATIENT_SCHEDULE' as SourceTable ,'SCHEDULING' as SchemaName        
union select 'INTERFACEMESSAGE' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'LOCALWORKLISTRECORDAUDR' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'DOCUMENTAUDR' as SourceTable ,'ATHENAONE' as SchemaName        
union select 'PAGEVIEW' as SourceTable ,'ATHENAONE' as SchemaName        
            
            
           
----should be active             
--select distinct TableName from PP_Athena_ODS..SPandItsTables            
            
----keep it as it is dont update flags             
--select SourceTable from SSISConfig where IsLoadedToLanding<> 0 or IsLoadedToODS<>0            
            
---other than above tables make all tables inactive             
            
Declare @weekday varchar(20)            
select @weekday=DATENAME (WEEKDAY, GETDATE())         
---select @weekday='Tuesday'      
            
if(@weekday in ('Tuesday','Wednesday','Thursday','Friday'))            
begin             
/*IMPTables+LessTimeTakingTables*/            
            
            
/*Activating Important tables */            
        
update s set IsActive=1            
--select *             
from SSISConfig s             
join(            
select distinct TableName,SchemaName from PP_Athena_ODS..SPandItsTables            
)   r on s.SourceTable=r.TableName and s.Schema_Name=r.SchemaName        
            
/*Deactivating MoreTimeTakingTables */            
          
update s set IsActive=0            
--select *             
from SSISConfig s             
join (            
select TableName,SchemaName from #Temp_MoreTimeTakingTables            
)   r on s.SourceTable=r.TableName and s.Schema_Name=r.SchemaName        
        
        
--select 'union select '''+SourceTable+''' as SourceTable ,'''+Schema_Name+''' as SchemaName'         
--,Schema_Name   ,SourceTable          
--from SSISConfig s             
--where SourceTable in (            
--select TableName from #Temp_MoreTimeTakingTables            
--)            
        
        
/*Activating Less Time taking tables ignoring Struck Tables*/            
update s set IsActive=1            
--select *             
from SSISConfig s             
left join (            
select distinct TableName,SchemaName from PP_Athena_ODS..SPandItsTables             
union             
select TableName,SchemaName  from #Temp_MoreTimeTakingTables            
union             
select SourceTable,Schema_Name from SSISConfig            
where (IsLoadedToLanding<>0 or  IsLoadedToODS<>0 )            
)    r on s.SourceTable=r.TableName and s.Schema_Name=r.SchemaName         
 where r.TableName is null  and   IsActive=0        
            
end            
else if (@weekday in  ('Monday','Saturday','Sunday'))--31+19=50            
begin             
            
/*Activating Important tables */            
update s set IsActive=1            
--select *             
from SSISConfig s             
join(            
select distinct TableName,SchemaName from PP_Athena_ODS..SPandItsTables            
)   r on s.SourceTable=r.TableName and s.Schema_Name=r.SchemaName        
            
/*Activating MoreTimeTakingTables */            
update s set IsActive=1            
--select *             
from SSISConfig s             
join(            
select  TableName,SchemaName from #Temp_MoreTimeTakingTables            
)   r on s.SourceTable=r.TableName and s.Schema_Name=r.SchemaName        
            
            
/*DeActivating Less Time taking tables ignoring Struck Tables*/            
update s set IsActive=0            
--select *             
from SSISConfig s             
left join (            
select distinct TableName,SchemaName from PP_Athena_ODS..SPandItsTables             
union             
select TableName,SchemaName  from #Temp_MoreTimeTakingTables            
union             
select SourceTable,Schema_Name from SSISConfig            
where (IsLoadedToLanding<>0 or  IsLoadedToODS<>0 )            
)    r on s.SourceTable=r.TableName and s.Schema_Name=r.SchemaName         
 where r.TableName is null  and IsActive=1        
            
            
end            
            
select  TotalCount,InActiveCnt,ActiveCnt,OthersCnt             
,TotalCount-(InActiveCnt+ActiveCnt+OthersCnt) as CountDiff ,getdate() RecordInsertedDate            
from             
(            
select Count(1) TotalCount , sum(case when IsActive=0  and IsLoadedToLanding=0 and IsLoadedToODS=0 then 1 else 0 end) InActiveCnt,            
sum(case when IsActive=1 and IsLoadedToLanding=0 and IsLoadedToODS=0 then 1 else 0 end) ActiveCnt ,            
sum(case when  (IsLoadedToLanding<>0 or  IsLoadedToODS<>0)  then 1 else 0 end) OthersCnt             
from SSISConfig             
) s            
            
end            
            
      
      
            
GO
