USE [PP_Athena_Landing]
GO
/****** Object:  Table [SCHEDULING].[NEWPATIENT_APPOINTMENT]    Script Date: 7/27/2026 6:31:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCHEDULING].[NEWPATIENT_APPOINTMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENT_ID] [numeric](12, 0) NULL,
	[APPOINTMENT_DATE] [date] NULL,
	[SCHEDULED_TIMESTAMP] [datetime2](7) NULL,
	[PATIENT_ID] [numeric](12, 0) NULL,
	[PATIENT_ENTERPRISE_ID] [numeric](12, 0) NULL,
	[DEPARTMENT_ID] [numeric](12, 0) NULL,
	[DEPARTMENT_FIRST_APPOINTMENT_DATE] [date] NULL,
	[TEMPLATE_PROVIDER_ID] [numeric](12, 0) NULL,
	[RENDERING_PROVIDER_ID] [numeric](12, 0) NULL,
	[TEMPLATE_PROVIDER_GROUP_ID] [numeric](38, 0) NULL,
	[RENDERING_PROVIDER_GROUP_ID] [numeric](38, 0) NULL,
	[TEMPLATE_PROVIDER_SPECIALTY_ID] [varchar](max) NULL,
	[RENDERING_PROVIDER_SPECIALTY_ID] [varchar](max) NULL,
	[NP_CONTEXT_INDICATOR] [numeric](1, 0) NULL,
	[NP_DEPARTMENT_INDICATOR] [numeric](1, 0) NULL,
	[NP_T_PROVIDER_INDICATOR] [numeric](1, 0) NULL,
	[NP_R_PROVIDER_INDICATOR] [numeric](1, 0) NULL,
	[NP_T_PROVIDER_GROUP_INDICATOR] [numeric](1, 0) NULL,
	[NP_R_PROVIDER_GROUP_INDICATOR] [numeric](1, 0) NULL,
	[NP_T_PROVIDER_SPECIALTY_INDICATOR] [numeric](1, 0) NULL,
	[NP_R_PROVIDER_SPECIALTY_INDICATOR] [numeric](1, 0) NULL,
	[NP_T_PROVIDER_DEPARTMENT_INDICATOR] [numeric](1, 0) NULL,
	[NP_R_PROVIDER_DEPARTMENT_INDICATOR] [numeric](1, 0) NULL,
	[PATIENT_INDICATOR] [numeric](1, 0) NULL,
	[CREATEDON] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTUPDATEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
