USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_FPAR2Report_latest]    Script Date: 8/21/2026 5:41:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                        
select                         
DepartmentID as facility_Id                    
,ProviderNPINumber as provider_id                
,provider_role                        
,FparPatient_ID as patient_Id                        
,visit_date                        
,birth_date                        
,sex                        
,limited_english_proficiency                        
,ethnicity                        
,race_amindian                        
,race_asian                         
,race_black                        
,race_hpi                        
,race_white     
,'' as race_unknown  
,annual_household_income                        
,household_size                         
,insurance_coverage_type                 
,visit_payer                
,[pregnancy_status]                        
,[pregnancy_intention]                
,contraceptive_method_intake                
,no_contraceptive_reason_intake                
,[contraceptive_method_exit]                        
,[no_contraceptive_reason_exit]                 
,contraceptive_method_provided                
,contraceptive_counseling_provided                
,pregnancy_counseling_provided                
,blood_pressure_systolic                
,blood_pressure_diastolic                
,height                
,height_unit                
,weight                
,weight_unit                
,tobacco_smoking_status        
,'' as want_talk_contraception  
,test_pap                   
,test_hpv                
,test_chlamydia                        
,test_gonorrhea                        
,test_hiv                        
,test_syphilis                 
,test_pap_result                
,test_hpv_result                
,test_chlamydia_result                
,test_gonorrhea_result                
,test_hiv_result                
,test_syphilis_result                
from [dbo].[FPAR2Reportlatest]                        
where                     
(DepartmentID is not null                     
and provider_role is not null                     
and FparPatient_ID is not null                     
and visit_date is not null                     
and birth_date is not null                     
and sex is not null                     
and limited_english_proficiency is not null                     
)                    
and year(birth_date) < '2017'        
and visit_date >= '2026-05-01' and visit_date <= '2026-05-31'  
order by visit_date,FparPatient_ID,DepartmentID                
                
Exec Sp_FPAR2Report_latest  '2026'                  
*/                        
CREATE procedure [dbo].[Sp_FPAR2Report_latest] (@year int ) as                         
begin                        
                        
--declare @year int =2026                
                
drop table CLINICALENCOUNTERDATA_TitleX                         
select * into CLINICALENCOUNTERDATA_TitleX                       
from  ATHENAONE.CLINICALENCOUNTERDATA with(nolock)                   
where year(CREATEDDATETIME)=@year                        
                                         
DROP TABLE IF EXISTS #PrefixIds                        
create table #PrefixIds(DepName varchar(200) , DepCode varchar(20) )                        
                        
Insert into #PrefixIds(DepName,DepCode)                        
                        
 select 'Ashland Family Health Center' ,'KYFQPP02'                        
union select 'Bracken Family Health Center' , 'KYFQPP03'                        
union select 'Flemingsburg Family Health Center' ,'KYFQPP04'                        
union select 'Grayson Family Health Center'  ,'KYFQPP10'                        
union select 'Maysville Family Health Center'  ,'KYFQPP07'                        
union select 'Morehead Family Health Center' ,'KYFQPP12'                        
union select 'Robertson County Family Health Center' ,'KYFQPP13'                        
union select 'South Shore Family Health Center' ,'KYFQPP05'                        
union select 'Tollesboro Family Health Center'  ,'KYFQPP06 '          
union select 'Vanceburg Family Health Center' ,'KYFQPP14'                        
union select 'Vanceburg Women''s Center' ,'KYFQPP11'                        
union select 'Family Medicine Residency','KYFQPP07'                        
union select 'Maysville DMC' ,'KYFQPP01'                        
union select 'Maysville Medical Specialty','KYFQPP07'                        
union select 'Maysville OB/GYN','KYFQPP09'                        
union select 'Maysville Pediatrics','KYFQPP08'                      
union select 'Bracken School-based Health Center','KYFQPP03'                    
                        
--select * from #PrefixIds                        
                        
drop table if exists #ProviderRoleCodes                        
                        
create table #ProviderRoleCodes (PROVIDERTYPENAME varchar(100), Code varchar(20))                 
                        
insert into #ProviderRoleCodes (PROVIDERTYPENAME , Code )                        
                        
select 'ADVANCED PRACTICE REGISTERED NURSE','224535009'                        
union select 'Certified Nurse Midwife (CNM)','309453006'                        
union select 'CERTIFIED PHYSICIAN ASSISTANT','449161006'                        
union select 'CLINICAL SOCIAL WORKER','106328005'                        
union select 'DOCTOR OF OSTEOPATHY (DO)','309343006'                        
union select 'LICENSED CLINICAL SOCIAL WORKER (LCSW)','106328005'                        
union select 'MD','309343006'                        
union select 'Registered Nurse (RN)','224535009'                        
                        
--declare @year int =2026                  
                        
drop table if exists #ClinicalEncounters_Year                       
                        
select * into #ClinicalEncounters_Year --141674                        
from ATHENAONE.CLINICALENCOUNTER with(nolock)                         
where year(ENCOUNTERDATE) = @year                         
and ENCOUNTERSTATUS='closed'                        
and CLINICALENCOUNTERTYPE='visit'                         
                        
                        
drop table if exists #TitleXCLINICALENCOUNTER                        
                        
select distinct CLINICALENCOUNTERID into #TitleXCLINICALENCOUNTER                        
from                         
CLINICALENCOUNTERDATA_TitleX                        
where [KEY] in ('CLINICALSTAO_GLOBAL_TITLEXFAMILYPLANNINGPROVIDER',                      
'CLINICALSTAO_GLOBAL_TITLEXPRIMARYMETHODFEMALE', 'CLINICALSTAO_GLOBAL_TITLEXPRIMARYMETHODMALE')                       
                      
delete from #TitleXCLINICALENCOUNTER where CLINICALENCOUNTERID in                       
( select distinct CLINICALENCOUNTERID from CLINICALENCOUNTERDATA_TitleX                       
where [VALUE] ='titlex' and [key]='CLINICALSTAO_SPECIALTYFIELDGROUP'                       
and DELETEDBY is not null  and CLINICALENCOUNTERID is not null  )                 
                
truncate table FPAR2ReportLatest                
                
insert into FPAR2ReportLatest                
(                
ClinicalEncounterId                
,ChartId                
,DepartmentID                
,ProviderNPINumber                
,ProviderID                
,provider_role                
,PROVIDERTYPENAME                
,FparPatient_ID                
,DepPrefix                
,AthenaPatientID                
,visit_date                
,birth_date                
,sex                
,ethnicity                
,race                
,CDCRACECODE                
,annual_household_income                
,household_size                
)                
                        
select                 
 ce.ClinicalEncounterId                
,ce.ChartId                
,ce.DepartmentID                
,p.PROVIDERNPINUMBER ProviderNPINumber                
,ce.ProviderID                
,Pr.Code provider_role                
,pr.PROVIDERTYPENAME                
,pd.DepCode+cast(pt.PATIENTID as varchar(20))  FparPatient_ID                
,pd.DepCode DepPrefix                
,pt.PATIENTID AthenaPatientID                
,ce.encounterdate  visit_date                
,pt.DOB birth_date                
,pt.sex                
,pt.CDCETHNICITYCODE ethnicity                
,pt.RACE                
,CDCRACECODE                
,pt.UNCONFIRMEDYEARLYINCOME annual_household_income                
,pt.UNCONFIRMEDFAMILYSIZE  household_size                
from #ClinicalEncounters_Year ce                         
join #TitleXCLINICALENCOUNTER T on t.CLINICALENCOUNTERID=ce.CLINICALENCOUNTERID                        
join ATHENAONE.PROVIDER p with(nolock) on p.PROVIDERID=ce.PROVIDERID                        
join ATHENAONE.Patient pt with(nolock) on pt.PATIENTID=ce.PATIENTID                        
left join ATHENAONE.DEPARTMENT d with(nolock) on d.DEPARTMENTID=ce.DEPARTMENTID                        
left join #PrefixIds pd on pd.DepName=d.DEPARTMENTNAME                        
left join #ProviderRoleCodes pr on pr.PROVIDERTYPENAME=cast(p.PROVIDERTYPENAME as varchar(100))                        
where  d.DEPARTMENTNAME not in ('Ripley School-based Health Center')         
and pt.ETHNICITY in ('Hispanic or Latino','Not Hispanic or Latino','Patient Declined')                        
                
                                  
update f set  limited_english_proficiency=                        
case when p.[LANGUAGE]='English' then '455951000124102' else '455961000124100' end                        
--select *                        
from                         
FPAR2ReportLatest f                
left join athenaone.patient p with(nolock) on  p.patientid = f.AthenaPatientID                        
                        
update FPAR2ReportLatest set race_amindian='1002-5'                        
where CDCRACECODE in ('1002-5','1212-0','1126-2','1070-2','1072-8','1074-4' ,                      
'1004-1' /*American Indian*/                      
)/*American Indian or Alaska Native*/                        
                        
update FPAR2ReportLatest set race_asian='2028-9'                        
where CDCRACECODE in ('2028-9','2029-7','2040-4') /*Asian*/                        
                        
update FPAR2ReportLatest set race_black='2054-5'                        
where CDCRACECODE in ('2054-5','2058-6','2056-0') /*Black or African American*/                        
                        
update FPAR2ReportLatest set race_hpi=CDCRACECODE                        
where CDCRACECODE='2076-8' /*Native Hawaiian or Other Pacific Islander*/                        
                        
update FPAR2ReportLatest set race_white=CDCRACECODE                        
where CDCRACECODE='2106-3' /*White*/                        
                               
---------------------------------------------------------------------------                  
                
drop table if exists #ChartSocialHistory                        
                        
;with cte as                         
(                        
select p.PATIENTID,cht.CHARTID,res.socialhxformresponseid,ans.VALUE answer                 
,ans.NOTE                
, ques.label ,                          
ans.CREATEDDATETIME                        
,row_number() over(partition by p.patientid,CHT.CHARTID,                        
[label],cast(ans.CREATEDDATETIME as date)                           
order by ans.CREATEDDATETIME desc ) ord                           
from                           
ATHENAONE.SOCIALHXFORMRESPONSE res  with(nolock)                          
join ATHENAONE.CHART CHT  with(nolock) on CHT.CHARTID=res.CHARTID                         
join ATHENAONE.patient P with(nolock) on p.PATIENTID=cht.ENTERPRISEID                         
join                        
(                         
select distinct CHARTID,AthenaPatientID from  FPAR2ReportLatest                         
)                        
fr on fr.CHARTID=cht.CHARTID and fr.AthenaPatientID=CHT.ENTERPRISEID      
LEFT JOIN                           
ATHENAONE.SocialHXFormResponseAnswer ans with(nolock)                          
ON res.socialhxformresponseid = ans.socialhxformresponseid                               
AND res.contextid = ans.contextid                              
LEFT JOIN ATHENAONE.SOCIALHXFORMQUESTION  ques  with(nolock)                          
ON ques.formid = res.formid                           
AND ques.questionkey = ans.questionkey                           
where res.DELETEDBY is null and ans.DELETEDBY is null and ques.DELETEDBY is null                 
and                        
label in (                        
'What is your pregnancy status?'                        
,'Do you have any future plans to get pregnant?'                 
,'What contraceptive method was reported at start of this visit?'                
,'What is your reason for having no contraceptive method at start of this visit?'                
,'What contraceptive method was reported at end of this visit?'                
,'What is your reason for having no contraceptive method at end of this visit?'                        
,'How was the contraceptive method provided?'                  
,'Was contraceptive counseling provided?'                
,'Was counseling provided to achieve pregnancy?'                 
,'Do you or have you ever smoked tobacco?'                
 )     )                  
                 
/*                
pregnancy_status                 
pregnancy_intention                 
contraceptive_method_intake                
no_contraceptive_reason_intake                 
contraceptive_method_exit                 
no_contraceptive_reason_exit                 
contraceptive_method_provided                 
contraceptive_counseling_provided                
pregnancy_counseling_provided                
tobacco_smoking_status                
*/                
                
select * into #ChartSocialHistory                        
from cte                         
where ord = 1                   
                      
--select * from #ChartSocialHistory                        
                        
drop table if exists #ChartSocialHistory_ValidityDates                        
                        
select * ,row_number() over(partition by patientid,[label]                      
order by CREATEDDATETIME desc )Rnk                           
,cast(CREATEDDATETIME as date) ValidityStartDate                        
,cast(isnull(dateadd(day,-1,lead(CREATEDDATETIME)                         
over(partition by patientid,chartid,[label]                         
order by CREATEDDATETIME)                         
),'9999-09-09') as date) ValidityEndDate                        
into #ChartSocialHistory_ValidityDates                        
from                        
#ChartSocialHistory                        
order by patientid,[label],Rnk                  
                
                
--select distinct answer,note,LABEL from #ChartSocialHistory_ValidityDates                
--where note is not null                 
--order by LABEL                
                
drop table if exists #EncounterSocialHistory                
                
select  f.CLINICALENCOUNTERID                         
,q.FPAR_2026_ColumnName,v.LABEL                
,v.answer ,e.Answer_in_AthenaDB,e.Answer_in_DEValues,e.Validvalue,v.NOTE ,                
v.CREATEDDATETIME                
into #EncounterSocialHistory                
from FPAR2ReportLatest f --5250                        
join                         
#ChartSocialHistory_ValidityDates v on f.AthenaPatientID=v.PATIENTID                        
and f.CHARTID=v.CHARTID and f.visit_date between v.ValidityStartDate                         
and ValidityEndDate               
join(select distinct FPAR_2026_ColumnName,Question_in_AthenaDB               
from FPARDataElementValues ) q on q.Question_in_AthenaDB=v.[label]              
left join                 
FPARDataElementValues e                 
on e.Question_in_AthenaDB=v.[label] and e.Answer_in_AthenaDB=v.answer               
                
/*As Per KPA Note,considering answer as Other when notes is present like pregnant */              
update e set answer='Other',Answer_in_AthenaDB='Other',Validvalue='74964007'              
--select *               
from #EncounterSocialHistory e              
where answer is null and note is not null              
and FPAR_2026_ColumnName in ('no_contraceptive_reason_exit'              
,'no_contraceptive_reason_intake')                
              
/*As Per KPA Note,A patient's intention or desire in the next year to               
either become pregnant */              
update e set answer='Yes, I want to become pregnant'              
,Answer_in_AthenaDB='Yes, I want to become pregnant',Validvalue='454411000124108'              
--select *              
from #EncounterSocialHistory e              
where answer is null and note               
in ('Has been trying for 13 years','planned','Years in the future')              
and FPAR_2026_ColumnName in ('pregnancy_intention')              
                        
--select * from #ChartSocialHistory_ValidityDates                        
--order by patientid,[label],Rnk                        
                        
--select *                         
--from #FinalResult f --8149                        
--left join                         
--#ChartSocialHistory_ValidityDates v on f.PATIENTID=v.PATIENTID                        
--and f.CHARTID=v.CHARTID and f.visit_date between v.ValidityStartDate                         
--and ValidityEndDate                        
                        
--check notes values                        
--select * from #ChartSocialHistory_ValidityDates                
--where note is not null                
                
/*                
pregnancy_status   pregnancy_intention                 
contraceptive_method_intake                
no_contraceptive_reason_intake                 
contraceptive_method_exit                 
no_contraceptive_reason_exit                 
contraceptive_method_provided                 
contraceptive_counseling_provided                
pregnancy_counseling_provided                
tobacco_smoking_status                
*/                
              
update f set pregnancy_status=Validvalue,pregnancy_status_desc=Answer_in_AthenaDB                
--select e.*                 
from FPAR2ReportLatest f                 
join #EncounterSocialHistory e                 
on f.ClinicalEncounterId=e.ClinicalEncounterId                
where e.FPAR_2026_ColumnName='pregnancy_status'                
                
update f set pregnancy_intention=Validvalue,pregnancy_intention_desc=Answer_in_AthenaDB                
--select e.*                 
from FPAR2ReportLatest f                 
join #EncounterSocialHistory e                 
on f.ClinicalEncounterId=e.ClinicalEncounterId                
where e.FPAR_2026_ColumnName='pregnancy_intention'                
                
update f set contraceptive_method_intake=Validvalue                
,contraceptive_method_intake_desc=Answer_in_AthenaDB                
,contraceptive_method_intake_date=CREATEDDATETIME                
--select e.*                 
from FPAR2ReportLatest f                 
join #EncounterSocialHistory e                 
on f.ClinicalEncounterId=e.ClinicalEncounterId                
where e.FPAR_2026_ColumnName='contraceptive_method_intake'                
                
                
                
UPDATE f                 
SET                 
    no_contraceptive_reason_intake = Validvalue,                
    no_contraceptive_reason_intake_desc = Answer_in_AthenaDB                
--select e.*                 
FROM FPAR2ReportLatest f                
JOIN #EncounterSocialHistory e                 
    ON f.ClinicalEncounterId = e.ClinicalEncounterId                
WHERE e.FPAR_2026_ColumnName = 'no_contraceptive_reason_intake';                
                
                
UPDATE f                 
SET                 
    contraceptive_method_exit = Validvalue,            
    contraceptive_method_exit_desc = Answer_in_AthenaDB                
 ,contraceptive_method_exit_date=CREATEDDATETIME                
--select e.*                 
FROM FPAR2ReportLatest f                
JOIN #EncounterSocialHistory e                 
    ON f.ClinicalEncounterId = e.ClinicalEncounterId                
WHERE e.FPAR_2026_ColumnName = 'contraceptive_method_exit';                
                
                
UPDATE f                 
SET                 
    no_contraceptive_reason_exit = Validvalue,                
    no_contraceptive_reason_exit_desc = Answer_in_AthenaDB                
--select e.*                
FROM FPAR2ReportLatest f                
JOIN #EncounterSocialHistory e                 
    ON f.ClinicalEncounterId = e.ClinicalEncounterId                
WHERE e.FPAR_2026_ColumnName = 'no_contraceptive_reason_exit';                
                
       
UPDATE f                 
SET                 
    contraceptive_method_provided = Validvalue,                
    contraceptive_method_provided_desc = Answer_in_AthenaDB               
--select e.*                
FROM FPAR2ReportLatest f                
JOIN #EncounterSocialHistory e                 
    ON f.ClinicalEncounterId = e.ClinicalEncounterId                
WHERE e.FPAR_2026_ColumnName = 'contraceptive_method_provided';                
                
                
UPDATE f                 
SET                 
    contraceptive_counseling_provided = Validvalue,                
    contraceptive_counseling_provided_desc = Answer_in_AthenaDB                
--select e.*                
FROM FPAR2ReportLatest f                
JOIN #EncounterSocialHistory e                 
    ON f.ClinicalEncounterId = e.ClinicalEncounterId                
WHERE e.FPAR_2026_ColumnName = 'contraceptive_counseling_provided';                
                
                
UPDATE f                 
SET                 
    pregnancy_counseling_provided = Validvalue,                
    pregnancy_counseling_provided_desc = Answer_in_AthenaDB                
--select e.*                
FROM FPAR2ReportLatest f                
JOIN #EncounterSocialHistory e                 
    ON f.ClinicalEncounterId = e.ClinicalEncounterId                
WHERE e.FPAR_2026_ColumnName = 'pregnancy_counseling_provided';                
                
                
UPDATE f                 
SET                 
    tobacco_smoking_status = Validvalue,                
    tobacco_smoking_status_desc = Answer_in_AthenaDB                
--select e.*                
FROM FPAR2ReportLatest f                
JOIN #EncounterSocialHistory e                 
    ON f.ClinicalEncounterId = e.ClinicalEncounterId                
WHERE e.FPAR_2026_ColumnName = 'tobacco_smoking_status';                
                
                
update f set INSURANCEPACKAGENAME=py.INSURANCEPACKAGENAME,                
INSURANCEPACKAGETYPE =py.INSURANCEPACKAGETYPE                
from FPAR2ReportLatest f                         
join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=f.CLINICALENCOUNTERID                        
join athenaone.APPOINTMENT a with(nolock) on a.APPOINTMENTID=e.appointmentid                        
join ATHENAONE.PATIENTINSURANCE as PIns with(nolock) on a.PRIMARYPATIENTINSURANCEID=Pins.PATIENTINSURANCEID                               
join ATHENAONE.Payer as Py  with(nolock) on Py.INSURANCEPACKAGEID =Pins.INSURANCEPACKAGEID                           
                      
  update FPAR2ReportLatest set insurance_coverage_type                
=case when INSURANCEPACKAGENAME like '%tricare%' then '3' /*public insurance*/                
  when INSURANCEPACKAGETYPE='Group Policy' then '5'                           
  when INSURANCEPACKAGETYPE='Medicaid' then '3'                         
  when INSURANCEPACKAGETYPE='Personal Payment (Cash - No Insurance)' then '8'                         
  when INSURANCEPACKAGETYPE='Commercial' then '5'                         
  when INSURANCEPACKAGETYPE='Health Maintenance Organization (HMO)' then '5'                         
  when INSURANCEPACKAGETYPE='Medicare Part B' then '3'                         
  when INSURANCEPACKAGETYPE='Supplemental Policy' then '5'                        
  when INSURANCEPACKAGETYPE='Individual Policy' then '5'                
  end                
                
update FPAR2ReportLatest set visit_payer                
=case                 
  when INSURANCEPACKAGETYPE='Group Policy' then '5'                           
  when INSURANCEPACKAGETYPE='Medicaid' then '2'                         
  when INSURANCEPACKAGETYPE='Personal Payment (Cash - No Insurance)' then '81'                         
  when INSURANCEPACKAGETYPE='Commercial' then '5'                         
  when INSURANCEPACKAGETYPE='Health Maintenance Organization (HMO)' then '3711'                         
  when INSURANCEPACKAGETYPE='Medicare Part B' then '1'                      
  --when INSURANCEPACKAGETYPE='Supplemental Policy' then '5'                        
  when INSURANCEPACKAGETYPE='Individual Policy' then '81'                
  end                      
                  
update FPAR2ReportLatest set visit_payer                
=case                 
  when INSURANCEPACKAGENAME='TRICARE FOR LIFE (TRICARE)' then '3123'                           
  when INSURANCEPACKAGENAME='TRICARE EAST - HUMANA MILITARY TRICARE (TRICARE)' then '311'                         
  when INSURANCEPACKAGENAME='TRICARE EAST - HUMANA MILITARY TRICARE - PRIME (TRICARE)'            
  then '3111'                         
  when INSURANCEPACKAGENAME            
  ='TRICARE EAST - HUMANA MILITARY TRICARE - SELECT (TRICARE - PPO)' then '3112'           
  else visit_payer          
  end              
  where INSURANCEPACKAGENAME like '%TRICARE%'          
                
update f set height=v.value , height_unit=v.DBUNIT                
--select f.ClinicalEncounterId,v.value,v.DBUNIT,f.*                 
from FPAR2ReportLatest f                 
join                 
ATHENAONE.VITALSIGN  v with(nolock) on v.CLINICALENCOUNTERID=f.ClinicalEncounterId                
where [key] in ('VITALS.HEIGHT')                  
                
update f set weight=v.value , weight_unit=v.DBUNIT                
--select f.ClinicalEncounterId,v.value,v.DBUNIT,f.*                 
from FPAR2ReportLatest f                 
join                 
ATHENAONE.VITALSIGN  v with(nolock) on v.CLINICALENCOUNTERID=f.ClinicalEncounterId                
where [key]  in ('VITALS.WEIGHT')                 
                
                
update f set blood_pressure_systolic=v.value                
--select f.ClinicalEncounterId,v.value                
from FPAR2ReportLatest f                 
join                 
ATHENAONE.VITALSIGN  v with(nolock) on v.CLINICALENCOUNTERID=f.ClinicalEncounterId                
where [key]  in ('VITALS.BLOODPRESSURE.SYSTOLIC')                 
                
update f set blood_pressure_diastolic=v.value                
--select f.ClinicalEncounterId,v.value                
from FPAR2ReportLatest f                 
join                 
ATHENAONE.VITALSIGN  v with(nolock) on v.CLINICALENCOUNTERID=f.ClinicalEncounterId                
where [key]  in ('VITALS.BLOODPRESSURE.DIASTOLIC')                 
          
drop table if exists #FamilyplanningDocument                
                
select cl.* into #FamilyplanningDocument                
from                 
FPAR2ReportLatest f                 
join                
ATHENAONE.DOCUMENT cl with(nolock) on cl.CLINICALENCOUNTERID=f.CLINICALENCOUNTERID                
where STATUS='closed'                  
                
                
drop table if exists #FamilyplanningClinicalResult                
                
Select                  
 cl.DOCUMENTID as Doc_DOCUMENTID                
 ,cl.CLINICALENCOUNTERID,cr.*                 
 into #FamilyplanningClinicalResult                
from   PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock)                    
JOIN #FamilyplanningDocument as CL (nolock) on               
( CR.RESULTDOCUMENTID=CL.DOCUMENTID )                
                
insert into #FamilyplanningClinicalResult                
Select                  
 cl.DOCUMENTID as Doc_DOCUMENTID,cl.CLINICALENCOUNTERID,cr.*                 
from   PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock)                    
JOIN #FamilyplanningDocument as CL (nolock) on                 
( cl.DOCUMENTID=cr.ORDERDOCUMENTID)                
                
                
                
drop table if exists #FamilyplanningClinicalResultObservation                
                      
Select  cr.Doc_DOCUMENTID,cr.CLINICALENCOUNTERID,cr.DOCUMENTID                
,cr.RESULTDOCUMENTID,cr.ORDERDOCUMENTID, cr.CLINICALORDERTYPE,cr.CLINICALORDERTYPEGROUP                
,cr.CLINICALPROVIDERORDERTYPE,cr.CLINICALORDERGENUS,PROVIDERNOTE,EXTERNALNOTE,cro.*                
into #FamilyplanningClinicalResultObservation                
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)                    
JOIN #FamilyplanningClinicalResult as CR (nolock)                 
on CRO.clinicalresultid=CR.clinicalresultid                 
                
          
--update f set test_pap_result=Validvalue ,test_pap_result_desc= OBSERVATIONNOTE                
----select abc.*                 
--from FPAR2ReportLatest f                 
--join                 
--(                
--select  CLINICALENCOUNTERID  ,Validvalue,OBSERVATIONNOTE                
--from                 
--(                
--select t.CLINICALENCOUNTERID,s.value AS OBSERVATIONNOTE                
--from #FamilyplanningClinicalResultObservation t                
--CROSS APPLY STRING_SPLIT(t.OBSERVATIONNOTE, '.') s                
--where OBSERVATIONIDENTIFIERTEXT='DIAGNOSIS:'                
--and ( clinicalordertype LIKE '%PAP%'                
--   OR clinicalordertype LIKE '%CERVICAL%'                
--   OR clinicalordertype LIKE '%VAGINAL%'                
--   OR clinicalordertype LIKE '%unknown%'             
--   )       
--) res                
--join                
--(                
--select Answer_in_AthenaDB,Validvalue,Answer_in_DEValues                
--from FPARDataElementValues where FPAR_2026_ColumnName='test_pap_result'        
--)pap on                 
--( res.OBSERVATIONNOTE LIKE '%' + Answer_in_AthenaDB + '%'                       
--)                
--) abc on f.ClinicalEncounterId=abc.CLINICALENCOUNTERID          
      
      
update f set test_pap_result=Validvalue ,test_pap_result_desc= OBSERVATIONNOTE                
--select abc.*                
from FPAR2ReportLatest f                 
join                 
(        
select  CLINICALENCOUNTERID  ,Validvalue,OBSERVATIONNOTE  ,         ROW_NUMBER() OVER         (             PARTITION BY CLINICALENCOUNTERID             ORDER BY CHARINDEX(OBSERVATIONNOTE, FullNote) DESC         ) rn /*take the last test matched*/      
from                 
(                
select t.CLINICALENCOUNTERID,s.value AS OBSERVATIONNOTE       
,t.OBSERVATIONNOTE as FullNote      
from #FamilyplanningClinicalResultObservation t                
CROSS APPLY STRING_SPLIT(t.OBSERVATIONNOTE, '.') s               
where OBSERVATIONIDENTIFIERTEXT='DIAGNOSIS:'                
and ( clinicalordertype LIKE '%PAP%'                
   OR clinicalordertype LIKE '%CERVICAL%'                
   OR clinicalordertype LIKE '%VAGINAL%'                
   OR clinicalordertype LIKE '%unknown%'             
   )        
 --and t.CLINICALENCOUNTERID='4938799'      
) res                
join                
(                
select Answer_in_AthenaDB,Validvalue,Answer_in_DEValues                
from FPARDataElementValues where FPAR_2026_ColumnName='test_pap_result'        
)pap on   ( res.OBSERVATIONNOTE LIKE '%' + Answer_in_AthenaDB + '%'  )       
      
) abc on f.ClinicalEncounterId=abc.CLINICALENCOUNTERID       
where rn=1      
      
/*If Athena has OBSERVATIONNOTE that is not present in DE values*/      
      
update f set test_pap_result_desc=t.OBSERVATIONNOTE      
--select t.OBSERVATIONNOTE,f.*                
from FPAR2ReportLatest f       
join      
#FamilyplanningClinicalResultObservation t        
on t.CLINICALENCOUNTERID =f.CLINICALENCOUNTERID      
where f.test_pap_result is null       
and OBSERVATIONIDENTIFIERTEXT='DIAGNOSIS:'                
and ( clinicalordertype LIKE '%PAP%'                
   OR clinicalordertype LIKE '%CERVICAL%'                
   OR clinicalordertype LIKE '%VAGINAL%'                
   OR clinicalordertype LIKE '%unknown%'             
   )      
      
                
update FPAR2ReportLatest set test_pap =                 
case when test_pap_result is not null then '373066001' else 'not-performed' end                
                
                
update f set test_hpv_result=e.Validvalue                 
, test_hpv_result_desc=a.RESULT                
--select *                 
from FPAR2ReportLatest f                 
join                 
(                
select  result,OBSERVATIONIDENTIFIERTEXT ,CLINICALENCOUNTERID                
from #FamilyplanningClinicalResultObservation                
where OBSERVATIONIDENTIFIERTEXT                 
 in (                
'HPV APTIMA'                
,'HPV TYPE-DETECT 4.0 BY REAL TIME PCR HIGH RISK TYPES ONLY'                
,'HPV GENOTYPE 16'                
,'HPV GENOTYPE 18,45'                
,'HPV, COBAS HIGH-RISK'                
) and RESULT<>'COMMENT'                
) a on a.CLINICALENCOUNTERID=f.ClinicalEncounterId                
join FPARDataElementValues e on Answer_in_AthenaDB=a.result                
where e.FPAR_2026_ColumnName='test_hpv_result'                
                
update FPAR2ReportLatest set test_hpv =                 
case when test_hpv_result is not null then '373066001' else 'not-performed' end                
                
                
                
update f set test_chlamydia_result=e.Validvalue                 
, test_chlamydia_result_desc=a.RESULT                 
--select *                 
from FPAR2ReportLatest f                 
join                 
(                
select  result,OBSERVATIONIDENTIFIERTEXT ,CLINICALENCOUNTERID                
from #FamilyplanningClinicalResultObservation                
where OBSERVATIONIDENTIFIERTEXT                 
 in (                
'CHLAMYDIA BY NAA'                
,'CHLAMYDIA TRACHOMATIS BY REAL-TIME PCR (*REFLEX TO ANTIBIOTIC RESISTANCE BY MOLECULAR ANALYSIS)'                
,'CHLAMYDIA TRACHOMATIS, NAA'                
,'CHLAMYDIA, NUC. ACID AMP'                
) and result <>'tnp'                 
and isnull(OBSERVATIONNOTE,'') not like '%Test not performed%'                
and isnull(RESULTSTATUS,'N')<> 'cancelled'                
) a on a.CLINICALENCOUNTERID=f.ClinicalEncounterId                
join FPARDataElementValues e on Answer_in_AthenaDB=a.result                
where e.FPAR_2026_ColumnName='test_chlamydia_result'                
                
update FPAR2ReportLatest set test_chlamydia =                 
case when test_chlamydia_result is not null then '373066001' else 'not-performed' end                
                
                
update f set test_gonorrhea_result=e.Validvalue                 
, test_gonorrhea_result_desc=a.RESULT                  
--select *                 
from FPAR2ReportLatest f                 
join                 
(                
select  result,OBSERVATIONIDENTIFIERTEXT ,CLINICALENCOUNTERID                
from #FamilyplanningClinicalResultObservation                
where OBSERVATIONIDENTIFIERTEXT                 
 in (                
'GONOCOCCUS BY NAA'                
,'GONOCOCCUS, NUC. ACID AMP'                
,'N. GONORRHOEAE, NAA, PHARYN'                
,'NEISSERIA GONORRHOEAE BY REAL-TIME PCR (REFLEX TO ANTIBIOTIC RESISTANCE BY MOLECULAR ANALYSIS)'                
,'NEISSERIA GONORRHOEAE, NAA'                
) and result <>'tnp'                 
and isnull(OBSERVATIONNOTE,'') not like '%Test not performed%'                
and isnull(RESULTSTATUS,'N')<> 'cancelled'                
) a on a.CLINICALENCOUNTERID=f.ClinicalEncounterId   
join FPARDataElementValues e on Answer_in_AthenaDB=a.result                
where e.FPAR_2026_ColumnName='test_gonorrhea_result'                
                
update FPAR2ReportLatest set test_gonorrhea =                 
case when test_gonorrhea_result is not null then '373066001' else 'not-performed' end                
                
                
                
update f set test_hiv_result=e.Validvalue                 
, test_hiv_result_desc=a.RESULT                 
--select *                 
from FPAR2ReportLatest f                 
join                 
(                
select  result,OBSERVATIONIDENTIFIERTEXT ,CLINICALENCOUNTERID                
from #FamilyplanningClinicalResultObservation                
where OBSERVATIONIDENTIFIERTEXT                 
 in (                
'HIV 1 AB'                
,'HIV 2 AB'                
,'HIV AB/P24 AG SCREEN'                
,'HIV-1 RNA'                
,'HIV-2 RNA'                
) and result <>'tnp'                 
and isnull(OBSERVATIONNOTE,'') not like '%Test not performed%'                
and isnull(RESULTSTATUS,'N')<> 'cancelled'                
) a on a.CLINICALENCOUNTERID=f.ClinicalEncounterId                
join FPARDataElementValues e on Answer_in_AthenaDB=a.result                
where e.FPAR_2026_ColumnName='test_hiv_result'                
                
update FPARDataElementValues set Answer_in_AthenaDB='non reactive'                
where Answer_in_AthenaDB='non-reactive'                
                
update FPAR2ReportLatest set test_hiv =                 
case when test_hiv_result is not null then '373066001' else 'not-performed' end                
                
                
                
update f set test_syphilis_result=e.Validvalue                 
, test_syphilis_result_desc=a.RESULT                  
--select *                 
from FPAR2ReportLatest f                 
join                 
(                
select  result,OBSERVATIONIDENTIFIERTEXT ,CLINICALENCOUNTERID                
from #FamilyplanningClinicalResultObservation                
where OBSERVATIONIDENTIFIERTEXT                 
 in (                
'RPR'                
,'TREPONEMA PALLIDUM ANTIBODIES'                
,'TREPONEMAL ANTIBODIES, TPPA'                
) and result <>'tnp'                 
and isnull(OBSERVATIONNOTE,'') not like '%Test not performed%'                
and isnull(RESULTSTATUS,'N')<> 'cancelled'                
) a on a.CLINICALENCOUNTERID=f.ClinicalEncounterId                
join FPARDataElementValues e on Answer_in_AthenaDB=a.result                
where e.FPAR_2026_ColumnName='test_syphilis_result'                
                
update FPAR2ReportLatest set test_syphilis =                 
case when test_syphilis_result is not null then '373066001' else 'not-performed' end       
      
delete      
from [dbo].[FPAR2Reportlatest]        
where       
( contraceptive_method_exit_desc      
 in ('Female sterilization','Vasectomy')      
 or       
 contraceptive_method_intake_desc       
 in ('Female sterilization','Vasectomy')      
 )      
    
 delete      
from [dbo].[FPAR2Reportlatest]     
 where year(birth_date) >= '2017'    

 /*KPA Validation*/
update a set blood_pressure_diastolic=null ,blood_pressure_systolic=null
--select * 
from FPAR2ReportLatest a 
where 
(blood_pressure_diastolic <0 or blood_pressure_systolic <0)


update a set blood_pressure_diastolic=null ,blood_pressure_systolic=null
--select * 
from FPAR2ReportLatest a 
where 
(blood_pressure_diastolic is null and blood_pressure_systolic is not null)
or 
(blood_pressure_diastolic is not null and blood_pressure_systolic is null)

update a set pregnancy_status =null , pregnancy_status_desc=null
--select pregnancy_status,pregnancy_status_desc,* 
from FPAR2ReportLatest a
where sex='M' and pregnancy_status is not null 
                
----1098                
--select distinct CLINICALENCOUNTERID                
--from #FamilyplanningClinicalResultObservation t                
--where OBSERVATIONIDENTIFIERTEXT='DIAGNOSIS:'          
--and ( clinicalordertype LIKE '%PAP%'                
--   OR clinicalordertype LIKE '%CERVICAL%'                
--   OR clinicalordertype LIKE '%VAGINAL%'                
--   OR clinicalordertype LIKE '%unknown%'                
--   )                
                
--except                 
                
--select  CLINICALENCOUNTERID  --,Validvalue,OBSERVATIONNOTE                
--from                 
--(                
--select t.CLINICALENCOUNTERID,s.value AS OBSERVATIONNOTE                
--from #FamilyplanningClinicalResultObservation t                
--CROSS APPLY STRING_SPLIT(t.OBSERVATIONNOTE, '.') s                
--where OBSERVATIONIDENTIFIERTEXT='DIAGNOSIS:'                
--and ( clinicalordertype LIKE '%PAP%'                
--   OR clinicalordertype LIKE '%CERVICAL%'                
--   OR clinicalordertype LIKE '%VAGINAL%'                
--   OR clinicalordertype LIKE '%unknown%'                
--   )                
--) res                
--join                
--(                
--select Answer_in_AthenaDB,Validvalue,Answer_in_DEValues                
--from FPARDataElementValues where FPAR_2026_ColumnName='test_pap_result'                
--)pap on                 
--( res.OBSERVATIONNOTE LIKE '%' + Answer_in_AthenaDB + '%'                
--or                 
-- res.OBSERVATIONNOTE LIKE '%' + Answer_in_DEValues + '%'                
--)                
                
                
                
--5041178                
--5018176                
                
--'OTHER: NEGATIVE FOR SQUAMOUS INTRAEPITHELIAL LESION (NSI)'                
--same as 'NEGATIVE FOR INTRAEPITHELIAL LESION OR MALIGNANCY'??                
                
                
--select * from #FamilyplanningClinicalResultObservation                
--where CLINICALENCOUNTERID in ('5018176','5041178')                
--and OBSERVATIONIDENTIFIERTEXT='DIAGNOSIS:'                
                
--/*two results ,which one to take ?*/                
--select * from #FamilyplanningClinicalResultObservation                
--where CLINICALENCOUNTERID='4938799'                
                
                
                
                
--select * from FPARDataElementValues where FPAR_2026_ColumnName like '%pap%'                
                
--UNSATISFACTORY FOR EVALUATION                
                
--select * from TrainingDB..DEValues where Category  ='Pap smear test results '                
                
--select * from TrainingDB..DEValues where Category  like '%pap%smear%'                
                
--select * from TrainingDB..DEValues_Test where Category  like '%pap%smear%'                
                
----insert into FPARDataElementValues                
----(                
----FPAR_2026_ColumnName                
----,Question_in_DEValues                
----,Question_in_AthenaDB                
----,Answer_in_AthenaDB                
----,Answer_in_DEValues                
----,Validvalue                
----)                
                
----select 'test_pap_result','test_pap_result','test_pap_result',null,valuecode,Validvalue                
----from TrainingDB..DEValues_Test where Category  like '%pap%smear%'                
                
                
--insert into FPARDataElementValues                
--(                
--FPAR_2026_ColumnName                
--,Question_in_DEValues                
--,Question_in_AthenaDB                
--,Answer_in_AthenaDB                
--,Answer_in_DEValues                
--,Validvalue                
--)                
                
--select Category,Category,Category,valuecode,valuecode,Validvalue                
--from TrainingDB..DEValues_Test where Category  like '%Test%results%'                
--and Category not like '%pap%' and Transitionvalue='blank'                
                
--select *                 
--from FPARDataElementValues                 
--where FPAR_2026_ColumnName='test_pap_result'                
                
                
--select *                 
--from FPARDataElementValues                 
--where FPAR_2026_ColumnName='test_pap_result'                
                
--update FPARDataElementValues                 
--set Answer_in_DEValues=rtrim(Answer_in_DEValues)                
--,Answer_in_AthenaDB=rtrim(Answer_in_AthenaDB)                
--where FPAR_2026_ColumnName='test_pap_result'                
                
--select rtrim('Specimen unsatisfactory for evaluation ')                
--'Negative for intraepithelial lesion or malignancy '                
                
--update FPARDataElementValues                 
--set FPAR_2026_ColumnName=ltrim(rtrim(FPAR_2026_ColumnName))                
--,Question_in_DEValues=ltrim(rtrim(Question_in_DEValues))                
--,Question_in_AthenaDB=ltrim(rtrim(Question_in_AthenaDB))                
--,Answer_in_AthenaDB=ltrim(rtrim(Answer_in_AthenaDB))                
--,Answer_in_DEValues=ltrim(rtrim(Answer_in_DEValues))                
--,Validvalue=ltrim(rtrim(Validvalue))                
                
--HPV test results                 
--'HPV test results '                
--'test_pap_result'                
                
--'Chlamydia sp test results '                
                
--'pregnancy_counseling_provided'                
                
--UPDATE FPARDataElementValues                
--SET Validvalue =                
--    LTRIM(RTRIM(                
--        REPLACE(                
--        REPLACE(                
--        REPLACE(                
--        REPLACE(Validvalue, CHAR(160), ''),                
--               CHAR(9), ''),                
--               CHAR(10), ''),                
--               CHAR(13), '')                
--    ))                
--WHERE FPAR_2026_ColumnName LIKE '%HPV test results%'                
                
                
                
                
--update FPARDataElementValues                 
--set Answer_in_AthenaDB='(AGC)'                
--where FPAR_2026_ColumnName='test_pap_result'                
--and Validvalue='125154007'                
                
--update a set Answer_in_AthenaDB='UNSATISFACTORY FOR EVALUATION'                
----select *                 
--from FPARDataElementValues a                 
--where Validvalue='125154007'                
                
                
                
                
--update FPARDataElementValues                 
--set Answer_in_AthenaDB='(LSIL)'                
--where FPAR_2026_ColumnName='test_pap_result'                
--and Validvalue='112662005'                
                
--update FPARDataElementValues                 
--set Answer_in_AthenaDB='(ASC-US)'                
--where FPAR_2026_ColumnName='test_pap_result'                
--and Validvalue='103637006'                
                
                
--update FPARDataElementValues                 
--set    Answer_in_AthenaDB =Answer_in_DEValues                
--where FPAR_2026_ColumnName='test_pap_result'                
--and Validvalue in ('125154007','373887005')                
                
                
--update t set Valuecode='Squamous cell carcinoma'                
--,Valuetype='(morphologic abnormality)'                
----select *                 
--from                
--TrainingDB..DEValues_Test t  where Category  like '%pap%smear%'                
--and validvalue='1162767002'                
                
                
--select * from sys.procedures where name like '%bp%'                
                
                        
--Drop table if Exists #chlamydia_Encounters                        
                        
--select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType                         
--into #chlamydia_Encounters                        
--from #FinalResult F                        
--JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID                         
--JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID                        
--JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]                        
--where t.Tests='chlamydia' and d.STATUS='closed'                        
                        
--Drop table if Exists #gonorrhoeae_Encounters                        
                        
--select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType                         
--into #gonorrhoeae_Encounters                        
--from #FinalResult F                        
--JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID                         
--JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID                
--JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]                        
--where t.Tests='gonorrhoeae' and d.STATUS='closed'                        
                        
                        
--Drop table if Exists #HIV_Encounters                        
                        
--select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType                         
--into #HIV_Encounters                        
--from #FinalResult F                        
--JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID                         
--JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID                        
--JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]                        
--where t.Tests='HIV' and d.STATUS='closed'                        
                        
--Drop table if Exists #PAP_Encounters                        
                        
--select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType                         
--into #PAP_Encounters                        
--from #FinalResult F                        
--JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID                         
--JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID                        
--JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]                        
--where t.Tests='PAP' and d.STATUS='closed'                        
                        
--Drop table if Exists #Syphilis_Encounters                        
                        
--select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType                         
--into #Syphilis_Encounters                        
--from #FinalResult F                        
--JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID                         
--JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID                --JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]                        
--where t.Tests='Syphilis' and d.STATUS='closed'                        
                        
                                
end
GO
