USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[NACHC_CDC_AdultImmunization_Encounter]    Script Date: 8/21/2026 5:41:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[NACHC_CDC_AdultImmunization_Encounter](
@InputMonth int = NULL,
@InputYear int =NULL
)
AS  
/*****************************************************************************************************************************************************
Object		:     Adult_Immunization_Encounter
Created By	:     MBR
Created on	:     02/23/2022
Description	:	  Adult Immunization Learning Community

History:          MM/DD/YYYY  Modified User   Request Content
                  02/23/2022  MBR             Initial creation
				  03/08/2022  MBR			  Changes Made
				  06/17/2022  MBR			  Changes Made in Parameter for monthly report
*******************************************************************************************************************************************************/


BEGIN 

DECLARE
  
	--@ThisMonth int NULL,
	--@ThisYear   int NULL,
	@DateFrom DATE,
	@DateTo   DATE



SET
  @DateFrom = dateadd(month, datediff(month, 0, getdate())-1, 0)

SET
  @DateTo   = dateadd(month, datediff(month, 0, getdate()), 0)

--SET
--  @DateFrom='2020-08-01'

--SET
--  @DateTo=GETDATE()

							
							
							IF OBJECT_ID('tempdb..#Patient_Stresss') IS NOT NULL
							DROP TABLE #Patients_Stress
							IF OBJECT_ID('tempdb..#Housings') IS NOT NULL
							DROP TABLE #Housings
							IF OBJECT_ID('tempdb..#PatientDemographics') IS NOT NULL
							DROP TABLE #PatientDemographics
							IF OBJECT_ID('tempdb..#Demographic') IS NOT NULL
							DROP TABLE #Demographics
							IF OBJECT_ID(N'dbo.PatientEncounter', N'U') IS NOT NULL
							Truncate TABLE PatientEncounter
							IF OBJECT_ID('tempdb..#Vaccinations') IS NOT NULL
							DROP TABLE #Vaccinations
							IF OBJECT_ID('tempdb..#EncountersCPT') IS NOT NULL
							DROP TABLE #EncountersCPT 
							IF OBJECT_ID(N'dbo.VaccineImmunization_Encounter', N'U') IS NOT NULL 
							Drop Table VaccineImmunization_Encounter
							IF OBJECT_ID(N'dbo.NACHCPatient_Demographic', N'U') IS NOT NULL 
							truncate Table NACHCPatient_Demographic
							IF OBJECT_ID(N'dbo.NACHCPatientvaccine', N'U') IS NOT NULL 
							Truncate Table NACHCPatientvaccine

select PATIENTID,SOCIALHISTORYANSWER  as Stress
Into #Patients_Stress
from ATHENAONE.PATIENTSOCIALHISTORY
where SOCIALHISTORYKEY like '%stress%' 


select PATIENTID,SOCIALHISTORYANSWER AS Housing  
Into #Housings
from ATHENAONE.PATIENTSOCIALHISTORY 
where SOCIALHISTORYKEY like '%Living%'



Select  P.PATIENTID,
P.DOB as Date_Of_Birth,
YEAR(GETDATE())-YEAR(P.DOB) as Age,
P.DECEASEDDATE as Date_Of_Death,
P.SEX,
P.SEXUALORIENTATION,
P.GENDERIDENTITY,
P.ETHNICITY,
P.RACE,
P.AGRICULTURALWORKER as Farm_worker,
P.VETERANSTATUS,
P.LANGUAGE,
P.UNCONFIRMEDFAMILYSIZE as HouseHold_Size,
P.PUBLICHOUSING as Housing_Status,
P.ZIP,
P.CITY,
P.STATE,
P.OCCUPATION,
PAY.INSURANCEPACKAGETYPE as Insurance,
PI.ELIGIBILITYLASTCHECKED,
PI.INSURANCEPACKAGEID,
P.UNCONFIRMEDYEARLYINCOME as Household_Income
into #PatientDemographics
from  ATHENAONE.Patient as P
	Left join ATHENAONE.PATIENTINSURANCE As PI
	on P.PATIENTID=PI.PATIENTID and
    P.CONTEXTID=PI.CONTEXTID
	Left Join ATHENAONE.Payer as PAY
	on PI.INSURANCEPACKAGEID=PAY.INSURANCEPACKAGEID and
    PI.CONTEXTID=PAY.CONTEXTID
    where PI.ELIGIBILITYLASTCHECKED=(select MAX(PI.ELIGIBILITYLASTCHECKED) from ATHENAONE.PATIENTINSURANCE as PI
    where P.PATIENTID=PI.PATIENTID)
  

   
select PD.*,H.Housing
into #Demographics from 
#PatientDemographics as PD
	Full outer Join #Housings as H
	on PD.PATIENTID=H.PATIENTID


	IF @InputMonth IS NULL OR @InputMonth = '' 
 Begin

Insert Into PatientEncounter
Select D.*,AP.APPOINTMENTID,
AP.APPOINTMENTDATE,
DEP.DEPARTMENTCITY as HealthCenter,
DEP.DEPARTMENTNAME
From ATHENAONE.APPOINTMENT as AP
	Left join #Demographics as D
	On AP.PATIENTID=D.PATIENTID
	Left Join ATHENAONE.DEPARTMENT as DEP
	On AP.DEPARTMENTID=DEP.DEPARTMENTID
	where AP.APPOINTMENTCHECKINDATETIME is not NULL and
    AP.APPOINTMENTCHECKOUTDATETIME is not NULL and
	(AP.APPOINTMENTDATE>= @DateFrom and AP.APPOINTMENTDATE< @DateTo)	and
	 DEP.DEPARTMENTNAME not in ('Maysville Medical Specialty'
	,'Meadowview Regional Medical Center- ED'
	,'Meadowview Regional Medical Center- IP'
	,'Meadowview Regional Medical Center-OP'
	,'Fleming County Hospital- IP'
	,'Fleming County Hospital- OP'
	,'Fleming County Hosptial- ED'
	,'Bracken County Nursing & Rehabilitation Services'
	,'MRMC Peds- IP'
	,'Maysville Counseling Services')

	END
ELse
	Begin

Insert Into PatientEncounter
Select D.*,AP.APPOINTMENTID,
AP.APPOINTMENTDATE,
DEP.DEPARTMENTCITY as HealthCenter,
DEP.DEPARTMENTNAME
From ATHENAONE.APPOINTMENT as AP
	Left join #Demographics as D
	On AP.PATIENTID=D.PATIENTID
	Left Join ATHENAONE.DEPARTMENT as DEP
	On AP.DEPARTMENTID=DEP.DEPARTMENTID
	where AP.APPOINTMENTCHECKINDATETIME is not NULL and
    AP.APPOINTMENTCHECKOUTDATETIME is not NULL and
	MONTH(AP.APPOINTMENTDATE)=@InputMonth and 
	YEAR(AP.APPOINTMENTDATE)=@InputYear  	   and
	DEP.DEPARTMENTNAME not in ('Maysville Medical Specialty'
	,'Meadowview Regional Medical Center- ED'
	,'Meadowview Regional Medical Center- IP'
	,'Meadowview Regional Medical Center-OP'
	,'Fleming County Hospital- IP'
	,'Fleming County Hospital- OP'
	,'Fleming County Hosptial- ED'
	,'Bracken County Nursing & Rehabilitation Services'
	,'MRMC Peds- IP'
	,'Maysville Counseling Services')
END
--Select D.*,CE.CLINICALENCOUNTERID,
--CE.ENCOUNTERDATE
--Into #PatientEncounter
--From ATHENAONE.ClinicalEncounter as CE
--Left join #Demographics as D
--On CE.PATIENTID=D.PATIENTID
--where CE.ENCOUNTERDATE between @StartDate and @EndDate 

select DEP.DEPARTMENTCITY as HealthCenter,
DEP.DEPARTMENTNAME,
PV.TYPE As Vaccine_type,
PV.PATIENTID,
PV.ADMINISTEREDDATETIME,
--PV.VISGIVENDATE,
CAST(PV.ADMINISTEREDDATETIME as Date) As VaccineGivenDate,
CE.CLINICALENCOUNTERID,
CE.ENCOUNTERDATE as EligibleEncounterDate,
CE.CLINICALENCOUNTERTYPE as EligibleEncounterType,
PRO.PROVIDERTYPE,
PV.VACCINENAME as VaccineDescription,
PV.CVX as Vaccinecode,
Case
    when PV.REFUSEDREASON='02' THEN 'Parent Refused'
	when PV.REFUSEDREASON='03' THEN 'Religious Exemption'
	ELSE ''
End as VaccineExclusion
into #Vaccinations
from ATHENAONE.PATIENTVACCINE as PV
Join ATHENAONE.ClinicalEncounter as CE
on PV.PATIENTID=CE.PATIENTID and
   --PV.VISGIVENDATE=CE.ENCOUNTERDATE and
   PV.CONTEXTID=CE.CONTEXTID
Full outer Join ATHENAONE.PROVIDER as PRO
on CE.PROVIDERID=PRO.PROVIDERID and
   CE.CONTEXTID=PRO.CONTEXTID
LEFT Join ATHENAONE.DOCUMENT As D
On PV.DOCUMENTID=D.DOCUMENTID and
   PV.CONTEXTID=D.CONTEXTID
Full Outer Join ATHENAONE.DEPARTMENT as DEP
On D.DEPARTMENTID=DEP.DEPARTMENTID and
   D.CONTEXTID=DEP.CONTEXTID
where (PV.VACCINENAME like '%Influenza%' or
      PV.VACCINENAME like '%SARS%' or
	  PV.VACCINENAME like '%Covid%' or
	  PV.VACCINENAME like '%Zoster%') and
	  --PV.VISGIVENDATE is not null and
	  CE.CLINICALENCOUNTERTYPE NOT in ('Flowsheet') and
	 (CE.ENCOUNTERSTATUS like '%Closed%' or 
	  CE.ENCOUNTERSTATUS like '%TEMP%') and
	  PV.ADMINISTEREDDATETIME is not null  and 
	  PV.ADMINISTEREDDATETIME>= '2020-08-01' 
--	  DEP.DEPARTMENTNAME not in ('Maysville Medical Specialty'
--,'Meadowview Regional Medical Center- ED'
--,'Meadowview Regional Medical Center- IP'
--,'Meadowview Regional Medical Center-OP'
--,'Fleming County Hospital- IP'
--,'Fleming County Hospital- OP'
--,'Fleming County Hosptial- ED'
--,'Bracken County Nursing & Rehabilitation Services'
--,'MRMC Peds- IP'
--,'Maysville Counseling Services')
	  
--select DEP.DEPARTMENTCITY as HealthCenter,
--DEP.DEPARTMENTNAME,
--D.DOCUMENTID
--Into #Department
--from 
--ATHENAONE.DOCUMENT as D
--Left Join ATHENAONE.DEPARTMENT as DEP
--on D.DEPARTMENTID=DEP.DEPARTMENTID and
--   D.CONTEXTID=DEP.CONTEXTID
--Where DEP.DEPARTMENTNAME not in ('Maysville Medical Specialty'
--,'Meadowview Regional Medical Center- ED'
--,'Meadowview Regional Medical Center- IP'
--,'Meadowview Regional Medical Center-OP'
--,'Fleming County Hospital- IP'
--,'Fleming County Hospital- OP'
--,'Fleming County Hosptial- ED'
--,'Bracken County Nursing & Rehabilitation Services'
--,'MRMC Peds- IP'
--,'Maysville Counseling Services')



select P.PROCEDURECODE,
P.PROCEDURECODEDESCRIPTION,
CSP.CLINICALSERVICEID,
CS.CLINICALENCOUNTERID,
CE.PATIENTID
into #EncountersCPT
from ATHENAONE.PROCEDURECODE as P
Join ATHENAONE.CLINICALSERVICEPROCEDURECODE as CSP
on P.PROCEDURECODE=CSP.PROCEDURECODE and
   P.CONTEXTID=CSP.CONTEXTID
join ATHENAONE.CLINICALSERVICE as CS
on CSP.CLINICALSERVICEID=CS.CLINICALSERVICEID
Join ATHENAONE.ClinicalEncounter as CE
On CS.CLINICALENCOUNTERID=CE.CLINICALENCOUNTERID and
    CS.CONTEXTID=CE.CONTEXTID
where P.PROCEDURECODE in ('0031A','0021A','0022A','0071A'
,'0072A','0013A','0011A','0012A','0004A','0003A','0054A','0051A','0052A','0053A','0001A','0002A','0064A','0041A','0042A'
,'91303','91302','91307','91301','91305','91300','91306','91304','90653','90667','90668','90666','90662','90664','90694','90756'
,'90674','90689','90687','90688','90685','90686','90630','90682','90672','90661','90657','90658','90655','90656','90654','90673',
'90660')


Begin
with FinalSummary as (
select  CAST(PD.PATIENTID as varchar) as PatientID,
PD.Date_Of_Birth,
PD.Age,
PD.Date_Of_Death,
PD.SEX,
PD.SEXUALORIENTATION,
PD.GENDERIDENTITY,
PD.ETHNICITY,
PD.RACE,
PD.Farm_worker,
PD.VETERANSTATUS,
PD.LANGUAGE as English_Proficiency,
PD.HouseHold_Size,
Cast(PD.Housing as nvarchar) as Housing,
PD.Housing_Status,
PD.ZIP,
PD.CITY,
PD.STATE,
'' AS County_Of_Residence,
'' as Education,
PD.OCCUPATION as Employment,
PD.Insurance,
PD.Household_Income,
'' as Food_Insecurity,
'' as Clothing_Insecurity,
'' as Utilities_Insecurity,
'' as Child_Care_Insecurity,
'' as Healthcare_Insecurity,
'' as Phone_Insecurity,
'' as Other_Material_Insecurity,
'' as Transportation_Insecurity,
'' as Social_Integration,
'' as Stress,
'' as Incarceration,
'' as Refugee,
'' as Safety,
'' as Domestic_Violence,
V.Vaccine_type,
V.HealthCenter,
--V.VISGIVENDATE,
V.VaccineGivenDate,
PD.APPOINTMENTDATE as AppointmentDate,
V.EligibleEncounterType,
ECPT.PROCEDURECODE AS EncounterCPT,
V.PROVIDERTYPE,
V.VaccineDescription,
V.Vaccinecode,
V.VaccineExclusion,
V.ADMINISTEREDDATETIME,
ROW_NUMBER() Over(PARTITION by PD.PatientID,V.ADMINISTEREDDATETIME,V.VaccineDescription order by V.ADMINISTEREDDATETIME desc )as Rn
from PatientEncounter as PD
Left Join #Vaccinations as V
on PD.PATIENTID=V.PATIENTID
full outer Join #EncountersCPT as ECPT
on V.PATIENTID=ECPT.PATIENTID and
   V.CLINICALENCOUNTERID=ECPT.CLINICALENCOUNTERID)



select  * into VaccineImmunization_Encounter from FinalSummary
where Rn=1  
--and ( ( @DateFrom IS NULL
--        AND @DateTo IS NULL )
--        OR ( @DateFrom IS NULL
--             AND VaccineGivenDate <= @DateTo )
--        OR ( @DateTo IS NULL
--             AND VaccineGivenDate >= @DateFrom )
--		OR	 ( VaccineGivenDate BETWEEN @DateFrom AND @DateTo ))
Insert Into NACHCPatient_Demographic
select Distinct VC.PatientID,
VC.Date_Of_Birth,
VC.Age,
VC.Date_Of_Death,
VC.SEX,
VC.SEXUALORIENTATION,
VC.GENDERIDENTITY,
VC.ETHNICITY,
VC.RACE,
VC.Farm_worker,
VC.VETERANSTATUS,
VC.English_Proficiency,
VC.HouseHold_Size,
VC.Housing,
VC.Housing_Status,
VC.ZIP,
VC.CITY,
VC.STATE,
VC.County_Of_Residence,
VC.Education,
VC.Employment,
VC.Insurance,
VC.Household_Income,
VC.Food_Insecurity,
VC.Clothing_Insecurity,
VC.Utilities_Insecurity,
VC.Child_Care_Insecurity,
VC.Healthcare_Insecurity,
VC.Phone_Insecurity,
VC.Other_Material_Insecurity,
VC.Transportation_Insecurity,
VC.Social_Integration,
VC.Stress,
VC.Incarceration,
VC.Refugee,
VC.Safety,
VC.Domestic_Violence
From VaccineImmunization_Encounter as VC
where VC.PatientID is not null

Insert Into NACHCPatientvaccine
Select VC.PatientID,
Vc.Vaccine_type,
Vc.HealthCenter,
Vc.VaccineGivenDate,
VC.AppointmentDate,
VC.EligibleEncounterType,
VC.EncounterCPT,
VC.PROVIDERTYPE,
VC.VaccineDescription,
VC.Vaccinecode,
VC.VaccineExclusion,
Cast(VC.ADMINISTEREDDATETIME as date) as ADMINISTEREDDATETIME
From VaccineImmunization_Encounter as VC
where VC.PatientID is not null
END

--update VI
--set VI.Housing=H.Housing
--from VaccineImmunization as VI
--Join #Housing as H
--on VI.PatientID=H.PATIENTID

--update VI
--set VI.Stress=PS.Stress
--from VaccineImmunization as VI
--Join #Patient_Stress as PS
--on VI.PatientID=PS.PATIENTID

END



GO
