USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[FEESCHEDULE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FEESCHEDULE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[FEESCHEDULEID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[EFFECTIVEDATE] [date] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[AUTOWRITEDOWNCONTRACTUAL] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[NOTES] [varchar](max) NULL,
	[EVERGREENDAYS] [numeric](3, 0) NULL,
	[AUTOTRACKALLOWABLEYN] [varchar](max) NULL,
	[AUTOWRITEUPCONTRACTUALFLAG] [varchar](max) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[USEMEDICAREYN] [varchar](max) NULL,
	[MEDICARERATIO] [numeric](12, 2) NULL,
	[MEDICAREDMERATIO] [numeric](12, 2) NULL,
	[MEDICAREDMESTATE] [varchar](max) NULL,
	[MEDICAREDMESCHEDULEDATEDATETIME] [datetime2](7) NULL,
	[MEDICAREDMEPARTICIPATINGYN] [varchar](max) NULL,
	[MEDICAREDMEACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[MEDICARESCHEDULEDATEDATETIME] [datetime2](7) NULL,
	[MEDICAREGPCILOCATIONID] [numeric](38, 0) NULL,
	[MEDICAREFACILITYSCHEDULEYN] [varchar](max) NULL,
	[MEDICAREPARTICIPATINGYN] [varchar](max) NULL,
	[MEDICAREACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[MEDICARERVUCONVERSIONFACTOR] [numeric](14, 4) NULL,
	[PROVIDERSELECTTYPE] [varchar](max) NULL,
	[ALLOWABLECATEGORYSELECTTYPE] [varchar](max) NULL,
	[WORKCOMPSTATE] [varchar](max) NULL,
	[HASPROVIDERFILTERYN] [varchar](max) NULL,
	[HASSPECIALTYFILTERYN] [varchar](max) NULL,
	[HASPROVIDERTYPEFILTERYN] [varchar](max) NULL,
	[HASDEPARTMENTFILTERYN] [varchar](max) NULL,
	[HASMEDICALGROUPFILTERYN] [varchar](max) NULL,
	[HASALLOWABLECATEGORYFILTERYN] [varchar](max) NULL,
	[HASLOCALALLOWABLECATFILTERYN] [varchar](max) NULL,
	[HOSPITALYN] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
