USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTSURGERY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTSURGERY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTSURGERYID] [numeric](38, 0) NULL,
	[TYPE] [varchar](250) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[PROCEDURE] [varchar](max) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[SURGERYDATETIME] [datetime2](7) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DEACTIVATEDDATETIME] [datetime2](7) NULL,
	[DEACTIVATEDBY] [varchar](max) NULL,
	[REACTIVATEDDATETIME] [datetime2](7) NULL,
	[REACTIVATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
