USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[MASTERQUESTIONNAIRETEMPLATE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[MASTERQUESTIONNAIRETEMPLATE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[MASTERQUESTIONNAIRETEMPLATEID] [numeric](12, 0) NULL,
	[SEXFILTER] [varchar](max) NULL,
	[LONGNAME] [varchar](max) NULL,
	[SCORINGALGORITHM] [varchar](max) NULL,
	[SCORELOINC] [varchar](max) NULL,
	[CLINCONTENTMASTERFORMID] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[RESTRICTEDYN] [varchar](max) NULL,
	[LOINC] [varchar](max) NULL,
	[AGEFILTERMIN] [numeric](17, 5) NULL,
	[AGEFILTERMAX] [numeric](17, 5) NULL,
	[NOTE] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
