USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[P4PHCCBUDDYCODESETMEMBER]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[P4PHCCBUDDYCODESETMEMBER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[P4PHCCBUDDYCODESETMEMBERID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[DIAGNOSISCODESETID] [numeric](12, 0) NULL,
	[ICDCODEALLID] [numeric](12, 0) NULL,
	[P4PHCCBUDDYCODESETID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
