USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CHARTQUESTIONNAIRE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CHARTQUESTIONNAIRE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CHARTQUESTIONNAIREID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[QUESTIONNAIRETEMPLATENAME] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[DEFAULTSTATE] [varchar](max) NULL,
	[STATELABEL] [varchar](max) NULL,
	[SCORE] [varchar](max) NULL,
	[MAXIMUMSCORE] [varchar](max) NULL,
	[SCORINGSTATUS] [varchar](max) NULL,
	[SCOREDDATETIME] [datetime2](7) NULL,
	[SCOREDBY] [varchar](max) NULL,
	[GUIDELINES] [varchar](max) NULL,
	[QUESTIONNAIRETEMPLATEID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
