USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[DEPARTMENTDESIGNATION]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DEPARTMENTDESIGNATION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DEPARTMENTDESIGNATIONID] [numeric](12, 0) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[CARRIERINSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[GOVERNMENTDESIGNATIONID] [numeric](12, 0) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[NOTES] [varchar](max) NULL,
	[SPLITINTODEPARTMENTID] [numeric](12, 0) NULL,
	[CARRIERPARTBINSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[FILENAME] [varchar](max) NULL,
	[CARRIERINSURANCEPACKAGEBID] [numeric](12, 0) NULL,
	[IDNUMBER] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
