USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PAYMENTPLANTYPE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PAYMENTPLANTYPE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PAYMENTPLANTYPEID] [numeric](38, 0) NULL,
	[NAME] [varchar](max) NULL,
	[BILLINGMETHOD] [varchar](max) NULL,
	[FREQUENCY] [varchar](max) NULL,
	[CYCLEAMOUNT] [numeric](10, 2) NULL,
	[PERCENTAGE] [numeric](10, 4) NULL,
	[NOTES] [varchar](max) NULL,
	[ORDERING] [numeric](10, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[SHOWFIELDS] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
