USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTINSURANCE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTINSURANCE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTINSURANCEID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[SEQUENCENUMBER] [varchar](200) NULL,
	[ISSUEDATE] [date] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[CANCELLATIONDATE] [date] NULL,
	[POLICYIDNUMBER] [varchar](500) NULL,
	[POLICYGROUPNUMBER] [varchar](500) NULL,
	[PCPID] [numeric](12, 0) NULL,
	[EMPLOYERID] [numeric](38, 0) NULL,
	[ENTITYTYPE] [varchar](200) NULL,
	[POLICYHOLDERID] [numeric](12, 0) NULL,
	[POLICYHOLDERIDNUMBER] [varchar](500) NULL,
	[POLICYHOLDERHIPAAID] [varchar](200) NULL,
	[FIRSTNAME] [varchar](500) NULL,
	[LASTNAME] [varchar](500) NULL,
	[MIDDLENAME] [varchar](200) NULL,
	[SUFFIX] [varchar](200) NULL,
	[ADDRESS] [varchar](500) NULL,
	[ADDRESS2] [varchar](500) NULL,
	[CITY] [varchar](500) NULL,
	[STATE] [varchar](200) NULL,
	[ZIP] [varchar](200) NULL,
	[COUNTRY] [varchar](200) NULL,
	[HOMEPHONE] [varchar](200) NULL,
	[DOB] [date] NULL,
	[SEX] [varchar](200) NULL,
	[SSN] [varchar](200) NULL,
	[EMPLOYERNAME] [varchar](200) NULL,
	[PATIENTRELATIONSHIP] [varchar](500) NULL,
	[ADJUSTERNAME] [varchar](500) NULL,
	[ADJUSTERPHONE] [varchar](500) NULL,
	[ADJUSTERFAX] [varchar](500) NULL,
	[SLIDINGFEEPLANID] [numeric](12, 0) NULL,
	[ELIGIBILITYSTATUS] [varchar](200) NULL,
	[STATUSREASON] [varchar](200) NULL,
	[ELIGIBILITYSERVICEDATE] [date] NULL,
	[ELIGIBILITYLASTCHECKED] [datetime2](7) NULL,
	[ELIGIBILITYLASTCHECKEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[PAYMENTPLANID] [numeric](11, 0) NULL,
	[CASEINJURYDATE] [datetime2](7) NULL,
	[WCBNUMBER] [varchar](200) NULL,
	[OLDINSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[PLCINSUREDADDRESS] [varchar](500) NULL,
	[ACCIDENTDATEDATETIME] [datetime2](7) NULL,
	[PLCINSUREDFIRSTNAME] [varchar](200) NULL,
	[ELIGIBILITYREASONID] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[INSURANCEPRODUCTTYPEID] [varchar](200) NULL,
	[INSURANCEPRODUCTCODE] [varchar](200) NULL,
	[WORKCOMPSTATE] [varchar](200) NULL,
	[INSURANCEOVERRIDECONTACTNAME] [varchar](200) NULL,
	[INSURANCECOPAY] [numeric](12, 0) NULL,
	[INSURANCEOVERRIDESTATE] [varchar](200) NULL,
	[INSURANCEOVERRIDENAME] [varchar](500) NULL,
	[PLCINSUREDCITY] [varchar](500) NULL,
	[INSURANCEOVERRIDEADDRESS2] [varchar](200) NULL,
	[DELETEDNOTE] [varchar](2000) NULL,
	[FOREIGNINSURANCEPACKAGECODE] [varchar](200) NULL,
	[MSPINSURANCETYPESETYN] [varchar](200) NULL,
	[PLCINSUREDLASTNAME] [varchar](500) NULL,
	[REPRICERPHONE] [varchar](200) NULL,
	[FOREIGNINSURANCEPACKAGECITY] [varchar](200) NULL,
	[RELATEDTOOTHERACCIDENTYN] [varchar](200) NULL,
	[INSURANCEZIP] [varchar](200) NULL,
	[CANCELLEDBY] [varchar](200) NULL,
	[INSUREDCOUNTRYID] [numeric](12, 0) NULL,
	[COPAY] [numeric](12, 2) NULL,
	[ORIGINALPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[INSURANCEPHONE] [varchar](200) NULL,
	[INSURANCEOVERRIDEADDRESS] [varchar](200) NULL,
	[INSURANCECITY] [varchar](200) NULL,
	[FOREIGNINSURANCEPACKAGEZIP] [varchar](200) NULL,
	[PLCINSUREDADDRESS2] [varchar](500) NULL,
	[NOTES] [varchar](8000) NULL,
	[INSURANCESTATE] [varchar](200) NULL,
	[MSPINSURANCETYPEID] [numeric](12, 0) NULL,
	[INSUREDENTITYTYPEID] [numeric](22, 0) NULL,
	[INSURANCEOVERRIDEZIP] [varchar](200) NULL,
	[INJUREDBODYPART] [varchar](500) NULL,
	[PENDINGINSURANCEPACKAGEID] [varchar](200) NULL,
	[INTERFACEVENDORID] [varchar](200) NULL,
	[INSURANCEADDRESS] [varchar](200) NULL,
	[HEALTHEXCHANGETYPEID] [numeric](12, 0) NULL,
	[FOREIGNINSURANCEPACKAGEADDRESS] [varchar](200) NULL,
	[HASCASENUMBERYN] [varchar](200) NULL,
	[ELIGIBILITYUPDATETIMESTAMPDATETIME] [datetime2](7) NULL,
	[INSURANCEOVERRIDECOUNTRY] [varchar](200) NULL,
	[RELATEDTOEMPLOYMENTYN] [varchar](200) NULL,
	[PCPPROVIDERNUMBER] [varchar](200) NULL,
	[PLCADJUSTERFIRSTNAME] [varchar](200) NULL,
	[FOREIGNID] [varchar](200) NULL,
	[RELATIONSHIPTOPATIENT] [varchar](200) NULL,
	[COPAYSOURCE] [varchar](200) NULL,
	[CASENUMBER] [varchar](500) NULL,
	[INJURYDESCRIPTION] [varchar](2000) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[INSURANCEOVERRIDECITY] [varchar](200) NULL,
	[AUTOACCIDENTSTATE] [varchar](200) NULL,
	[DIAGNOSISCODES] [varchar](200) NULL,
	[ELIGIBILITYTRACKID] [numeric](12, 0) NULL,
	[INSURANCENAME] [varchar](200) NULL,
	[ANOTHERPARTYRESPONSIBLEYN] [varchar](200) NULL,
	[SOURCEERARECORDID] [numeric](12, 0) NULL,
	[GATEKEEPERFLAGYN] [varchar](200) NULL,
	[DEFINSURANCEPACKAGEADDRESSID] [numeric](12, 0) NULL,
	[COINSURANCEPERCENT] [numeric](11, 2) NULL,
	[DIAGNOSISCODESICD10] [varchar](500) NULL,
	[SHORTNAME] [varchar](200) NULL,
	[FOREIGNINSURANCEPACKAGESTATE] [varchar](200) NULL,
	[PLCADJUSTERLASTNAME] [varchar](500) NULL,
	[UPDATEELIGIBILITYTRACKID] [numeric](12, 0) NULL,
	[VERIFICATIONNOTELONG] [varchar](200) NULL,
	[INSURANCENETWORKCATEGORYID] [numeric](38, 0) NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[ELIGIBILITYUPDATEREASON] [varchar](200) NULL,
	[VERIFICATIONNOTE] [varchar](8000) NULL,
	[REFERRALNUMBER] [varchar](200) NULL,
	[ELIGIBILITYMESSAGE] [varchar](200) NULL,
	[SLIDINGFEEPROGRAMID] [numeric](12, 0) NULL,
	[RELATIONSHIPTOINSUREDID] [numeric](12, 0) NULL,
	[REFERRINGPROVIDERID] [numeric](38, 0) NULL,
	[RELATEDTOAUTOACCIDENTYN] [varchar](200) NULL,
	[PLCINSUREDMIDDLEINITIAL] [varchar](200) NULL,
	[PATIENTENTERPRISEID] [numeric](12, 0) NULL,
	[FOREIGNINSURANCEPACKAGENAME] [varchar](200) NULL,
	[INSURANCECONTACTNAME] [varchar](200) NULL,
	[DEFAULTPACKAGEYN] [varchar](200) NULL,
	[INSURANCEOVERRIDEPHONE] [varchar](200) NULL,
	[REPRICERNAME] [varchar](500) NULL,
	[PCPNAME] [varchar](500) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[FOREIGNINSURANCEPACKAGEPHONE] [varchar](200) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
