USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[APPOINTMENTTYPECLASS]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[APPOINTMENTTYPECLASS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPECLASSID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[SHORTNAME] [varchar](max) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[DURATION] [numeric](22, 0) NULL,
	[CLAIMTYPEID] [varchar](max) NULL,
	[BILLINGSLIPREQUIREDFLAG] [varchar](max) NULL,
	[WORKFLOWID] [numeric](22, 0) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
