USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[EPISODEOB_Backup_20240327]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[EPISODEOB_Backup_20240327](
	[CONTEXTID] [decimal](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [decimal](12, 0) NULL,
	[EPISODEOBID] [decimal](12, 0) NULL,
	[PATIENTID] [decimal](12, 0) NULL,
	[EPISODEDEPARTMENTID] [decimal](12, 0) NULL,
	[ACTUALDELIVERYDEPARTMENTID] [decimal](12, 0) NULL,
	[LASTMENSTRUALDATE] [date] NULL,
	[LASTMENSTPERIODDEFYN] [varchar](max) NULL,
	[INITIALEXAMDATE] [date] NULL,
	[INITIALDAYS] [decimal](12, 0) NULL,
	[INITIALEXAMPERFORMEDBY] [varchar](max) NULL,
	[FIRSTULTRASOUNDDATE] [date] NULL,
	[ULTRASOUNDDAYS] [decimal](12, 0) NULL,
	[FINALEDDDATE] [date] NULL,
	[FINALEDDCONFIRMDATE] [date] NULL,
	[FINALEDDCONFIRMEDBY] [varchar](max) NULL,
	[PREPREGNANCYWEIGHT] [decimal](12, 2) NULL,
	[BLOODTYPE] [varchar](max) NULL,
	[RHSTATUS] [varchar](max) NULL,
	[FATHER] [varchar](max) NULL,
	[FATHERPHONE] [varchar](max) NULL,
	[HUSBANDDOMESTICPARTNER] [varchar](max) NULL,
	[HUSBANDDOMESTICPARTNERPHONE] [varchar](max) NULL,
	[PEDIATRICIAN] [varchar](max) NULL,
	[DELIVERYDATE] [date] NULL,
	[LABOR] [varchar](max) NULL,
	[PRETERMLABOR] [varchar](max) NULL,
	[ANESTHESIA] [varchar](max) NULL,
	[DELIVEREDBY] [varchar](max) NULL,
	[ACTUALDELIVERYSITEOTHER] [varchar](max) NULL,
	[INCISIONTYPE] [varchar](max) NULL,
	[TUBALSTERILIZATIONYN] [varchar](max) NULL,
	[DISCHARGEDATE] [date] NULL,
	[WEEKSGESTATION] [decimal](12, 0) NULL,
	[WEEKSGESTATIONATDELIVERY] [decimal](10, 2) NULL,
	[LENGTHOFLABOR] [decimal](12, 2) NULL,
	[POSTPARTUMCOMPLICATIONS] [varchar](max) NULL,
	[COMMENTS] [varchar](max) NULL,
	[FEEDINGMETHOD] [varchar](max) NULL,
	[MATERNALHGBGCTLEVEL] [varchar](max) NULL,
	[CONTRACEPTIVEMETHOD] [varchar](max) NULL,
	[OBEPISODECLOSEREASON] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[INITIALEDDDATE] [date] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
