USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[GLOBALPATMSGGCSETTING]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[GLOBALPATMSGGCSETTING](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[GLOBALPATMSGGCSETTINGID] [numeric](12, 0) NULL,
	[EMAILENABLEDYN] [varchar](200) NULL,
	[PATIENTMESSAGEPROFILEID] [numeric](12, 0) NULL,
	[USEDEFAULTCALLERIDYN] [varchar](200) NULL,
	[DEFAULTAREACODE] [varchar](200) NULL,
	[SMSENABLEDYN] [varchar](200) NULL,
	[PHONEENABLEDYN] [varchar](200) NULL,
	[ACTIVEYN] [varchar](200) NULL,
	[DAYMASK] [numeric](38, 0) NULL,
	[CALLERID] [varchar](200) NULL,
	[FIRSTNAMEONLY] [varchar](200) NULL,
	[CALLMOBILEFIRST] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
