USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[HCCVERSIONMGMT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[HCCVERSIONMGMT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[HCCVERSIONMGMTID] [numeric](12, 0) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[GAREQUESTEDBY] [varchar](200) NULL,
	[ROLLOUTNOTE] [varchar](500) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[HCCVERSION] [numeric](5, 0) NULL,
	[CMSHCCMODEL] [varchar](200) NULL,
	[GAAPPROVEDBY] [varchar](200) NULL,
	[GAAPPROVEDYN] [varchar](200) NULL,
	[GASCHEDULEDDATEDATETIME] [datetime2](7) NULL,
	[GAAPPROVEDDATEDATETIME] [datetime2](7) NULL,
	[GAREQUESTEDDATEDATETIME] [datetime2](7) NULL,
	[STATUS] [varchar](200) NULL,
	[ROLLEDOUTDATEDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
