USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[COMMUNICATORBRAND]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[COMMUNICATORBRAND](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[COMMUNICATORBRANDID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[LEGALNAME] [varchar](max) NULL,
	[URL] [varchar](max) NULL,
	[FROMEMAIL] [varchar](max) NULL,
	[NOREPLYEMAIL] [varchar](max) NULL,
	[PHONE] [varchar](max) NULL,
	[SELFPAYCALLERID] [varchar](max) NULL,
	[REMINDERCALLTRANSFERNUMBER] [varchar](max) NULL,
	[SELFPAYTRANSFERNUMBER] [varchar](max) NULL,
	[GROUPCALLCALLERID] [varchar](max) NULL,
	[RESULTSCALLCALLERID] [varchar](max) NULL,
	[REMINDERCALLCALLERID] [varchar](max) NULL,
	[RESULTSCALLINBOUNDDID] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[ORDERCALLENABLEDYN] [varchar](max) NULL,
	[ORDERCALLSTARTTIMEDATETIME] [datetime] NULL,
	[ORDERCALLENDTIMEDATETIME] [datetime] NULL,
	[GOLIVEDATEDATETIME] [datetime] NULL,
	[ORDERCALLCALLERID] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
