USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[P4PRESULTDATA]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[P4PRESULTDATA](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[P4PRESULTDATAID] [numeric](12, 0) NULL,
	[P4PRESULTID] [numeric](12, 0) NULL,
	[KEY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[REPORTINGPERIODTYPE] [varchar](max) NULL,
	[VALUE] [varchar](max) NULL,
	[RESULTDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[SATISFYINGNUMERATOR] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
