USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOCALCLINICALTEMPLATE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALCLINICALTEMPLATE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALCLINICALTEMPLATEID] [numeric](38, 0) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[PORTALNAME] [varchar](max) NULL,
	[ENCOUNTERSECTION] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[SEXFILTER] [varchar](max) NULL,
	[AGEFILTERMIN] [numeric](38, 0) NULL,
	[AGEFILTERMAX] [numeric](38, 0) NULL,
	[AGEFILTERUNITS] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[PARAGRAPHROLLUPYN] [varchar](max) NULL,
	[STICKYYN] [varchar](max) NULL,
	[CODE] [varchar](max) NULL,
	[CODESYSTEM] [varchar](max) NULL,
	[CONTAINSCODEBACKINGYN] [varchar](max) NULL,
	[GLOBALID] [numeric](38, 0) NULL,
	[CONTAINSGOALSYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
