USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[APPOINTMENTVIEW]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[APPOINTMENTVIEW](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENTVIEWID] [numeric](12, 0) NULL,
	[CREATED] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[APPOINTMENTDATE] [datetime2](7) NULL,
	[STATUS] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[STAFFUSERNAME] [varchar](max) NULL,
	[STARTTIME] [datetime2](7) NULL,
	[DURATION] [numeric](4, 0) NULL,
	[URGENTYN] [varchar](max) NULL,
	[PARENTAPPOINTMENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[EPAYMENTCONTRACTID] [numeric](12, 0) NULL,
	[INITIALEPAYMENTCONTRACTID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[TEMPLATEAPPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[APPOINTMENTCANCELREASONID] [numeric](12, 0) NULL,
	[CANCELLED] [datetime2](7) NULL,
	[CANCELLEDBY] [varchar](max) NULL,
	[RESCHEDULEDAPPOINTMENTID] [numeric](12, 0) NULL,
	[RESCHEDULED] [datetime2](7) NULL,
	[RESCHEDULEDBY] [varchar](max) NULL,
	[CHECKEDINBY] [varchar](max) NULL,
	[CHECKINTIME] [datetime2](7) NULL,
	[CHECKOUTTIME] [datetime2](7) NULL,
	[PRIMARYPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[SECONDARYPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[TERTIARYPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[QUATERNARYPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[BILLINGSLIPNUMBER] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[REFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[REQUIRESAUTH] [varchar](max) NULL,
	[AUTHTRACKINGNUMBER] [varchar](max) NULL,
	[AUTHNUMBER] [varchar](max) NULL,
	[BILLINGSLIPVOIDREASON] [varchar](max) NULL,
	[BILLINGNOTES] [varchar](max) NULL,
	[FROZENYN] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[BILLABLEYN] [varchar](max) NULL,
	[SCHEDULED] [datetime2](7) NULL,
	[SCHEDULEDBY] [varchar](max) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[NOBILLINGSLIPSIGNOFF] [varchar](max) NULL,
	[NOBILLINGSLIPCANCELREASON] [varchar](max) NULL,
	[PRECERTLEADDAYS] [numeric](12, 0) NULL,
	[REQUIRESCANCELLATIONYN] [varchar](max) NULL,
	[REFERRALAUTHID] [numeric](12, 0) NULL,
	[REFERRALAUTHLASTCHECKED] [datetime2](7) NULL,
	[RELATEDTOEMPLOYMENTYN] [varchar](max) NULL,
	[RELATEDTOAUTOACCIDENTYN] [varchar](max) NULL,
	[RELATEDTOOTHERACCIDENTYN] [varchar](max) NULL,
	[AUTOACCIDENTSTATE] [varchar](max) NULL,
	[ACCIDENTDATE] [datetime2](7) NULL,
	[TEMPLATEAPPOINTMENTID] [numeric](12, 0) NULL,
	[ANOTHERPARTYRESPONSIBLEYN] [varchar](max) NULL,
	[CHECKEDOUTBY] [varchar](max) NULL,
	[FOREIGNAPPOINTMENTID] [varchar](max) NULL,
	[GROUPCHECKINAPPOINTMENTID] [numeric](12, 0) NULL,
	[SLOTACTIONID] [numeric](38, 0) NULL,
	[RECURRINGAPPOINTMENTSTUBID] [numeric](12, 0) NULL,
	[APPOINTMENTCONFIRMATIONID] [numeric](12, 0) NULL,
	[APPOINTMENTSLOTFREEZEREASONID] [numeric](38, 0) NULL,
	[STARTCHECKIN] [datetime2](7) NULL,
	[STOPCHECKIN] [datetime2](7) NULL,
	[STOPINTAKE] [datetime2](7) NULL,
	[STOPINTAKEBY] [varchar](max) NULL,
	[STOPEXAM] [datetime2](7) NULL,
	[STOPSIGNOFF] [datetime2](7) NULL,
	[STARTCHECKOUT] [datetime2](7) NULL,
	[STOPCHECKOUT] [datetime2](7) NULL,
	[INSTANTAPPOINTMENTYN] [varchar](max) NULL,
	[DEFERINSURANCEYN] [varchar](max) NULL,
	[SUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[MSPINSURANCETYPEID] [numeric](12, 0) NULL,
	[MSPINSURANCETYPESETYN] [varchar](max) NULL,
	[TREATMENTSERIESAPPOINTMENTID] [numeric](12, 0) NULL,
	[PERSISTENCEYN] [varchar](max) NULL,
	[AIRLOCKYN] [varchar](max) NULL,
	[COVERAGESCANYN] [varchar](max) NULL,
	[OUTSTANDINGPAPPOINTMENT] [numeric](12, 2) NULL,
	[FAMILYOUTSTANDINGPAPPOINTMENT] [numeric](12, 2) NULL,
	[OUTSTANDINGPCOLLECTEDAPPOINTMENT] [numeric](12, 2) NULL,
	[FAMILYOUTSTANDINGPCOLLECTEDAPPOINTMENT] [numeric](12, 2) NULL,
	[COLLECTIONSAPPOINTMENT] [numeric](12, 2) NULL,
	[FAMILYCOLLECTIONSAPPOINTMENT] [numeric](12, 2) NULL,
	[COLLECTIONSCOLLECTEDAPPOINTMENT] [numeric](12, 2) NULL,
	[FAMILYCOLLECTIONSCOLLECTEDAPPOINTMENT] [numeric](12, 2) NULL,
	[UNAPPLIEDAPPOINTMENT] [numeric](12, 2) NULL,
	[UNAPPLIEDCOLLECTEDAPPOINTMENT] [numeric](12, 2) NULL,
	[PAYMENTPLANID] [numeric](11, 0) NULL,
	[PREPAYMENTPLANID] [numeric](11, 0) NULL,
	[OUTSTANDINGPCHOICEID] [numeric](12, 0) NULL,
	[OUTSTANDINGPCHOICEREASON] [varchar](max) NULL,
	[SICKVISITYN] [varchar](max) NULL,
	[APPOINTMENTREASONNOTE] [varchar](max) NULL,
	[PATIENTLIABILITYESTIMATEAPPOINTMENT] [numeric](12, 2) NULL,
	[SHOWAPPTTYPENOTEONSCHEDULEYN] [varchar](max) NULL,
	[VISITID] [numeric](12, 0) NULL,
	[SCHEDULINGTEMPLATEID] [numeric](12, 0) NULL,
	[APPTTYPEBLOCKID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPEBLOCKID] [numeric](12, 0) NULL,
	[SUGGESTEDOVERBOOKING] [numeric](12, 0) NULL,
	[ALTERNATIVEPAYMENTMODELID] [numeric](12, 0) NULL,
	[SMARTSLOTYN] [varchar](max) NULL,
	[FORCEDYN] [varchar](max) NULL,
	[IDVERIFYOPTOUTREASONID] [numeric](12, 0) NULL,
	[REVERSALFLAG] [numeric](1, 0) NULL,
	[TOTALHOURS] [numeric](10, 6) NULL,
	[HOURSOPEN] [numeric](10, 6) NULL,
	[HOURSBOOKED] [numeric](10, 6) NULL,
	[SLOTOPEN] [numeric](1, 0) NULL,
	[SLOTBOOKED] [numeric](1, 0) NULL,
	[DOUBLEBOOKEDSLOT] [numeric](1, 0) NULL,
	[CANCELLEDSLOT] [numeric](1, 0) NULL,
	[CYCLETIME] [numeric](24, 6) NULL,
	[APPTTYPEDURATION] [numeric](12, 0) NULL,
	[PARENTCHECKOUTTIME] [datetime2](7) NULL,
	[PARENTCHECKINTIME] [datetime2](7) NULL,
	[PARENTSTATUS] [varchar](max) NULL,
	[CANCELLEDSLOTNOSHOW] [numeric](1, 0) NULL,
	[NOSHOWS] [varchar](max) NULL,
	[PATIENTRESCHEDULED] [varchar](max) NULL,
	[PROVIDERUNAVAILABLE] [varchar](max) NULL,
	[OTHERCANCELREASON] [varchar](1) NULL,
	[HOURSWITHPATIENTS] [numeric](10, 6) NULL,
	[BOOKEDPARENTAPPTID] [numeric](12, 0) NULL,
	[BLANKAPPTEXISTS] [numeric](1, 0) NULL,
	[NOTCHECKEDIN] [numeric](1, 0) NULL,
	[BOOKEDPOINTVALUE] [numeric](12, 0) NULL,
	[OPENPOINTVALUE] [numeric](12, 0) NULL,
	[ALLPOINTVALUE] [numeric](12, 0) NULL,
	[PARENTAPPOINTMENTSCHEDULED] [datetime2](7) NULL,
	[PARENTSTARTCHECKIN] [datetime2](7) NULL,
	[PARENTSTOPCHECKIN] [datetime2](7) NULL,
	[PARENTSTOPINTAKE] [datetime2](7) NULL,
	[PARENTSTOPEXAM] [datetime2](7) NULL,
	[PARENTSTOPSIGNOFF] [datetime2](7) NULL,
	[PARENTSTARTCHECKOUT] [datetime2](7) NULL,
	[PARENTSTOPCHECKOUT] [datetime2](7) NULL,
	[DELETEDAPPOINTMENTYN] [varchar](1) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
