USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[MAILBOXDEPOSIT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[MAILBOXDEPOSIT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[MAILBOXCATEGORYID] [numeric](12, 0) NULL,
	[MAILBOXDEPOSITID] [numeric](12, 0) NULL,
	[ACHENTRYCLASSCODE] [varchar](max) NULL,
	[AMOUNT] [numeric](12, 2) NULL,
	[BANKSTATEMENTACCOUNTID] [numeric](38, 0) NULL,
	[CHECKIDENTIFIER] [varchar](max) NULL,
	[COMPANYDESCRIPTION] [varchar](max) NULL,
	[COMPANYID] [varchar](max) NULL,
	[COMPANYNAME] [varchar](max) NULL,
	[DEPOSITDATE] [datetime2](7) NULL,
	[EFTNUMBER] [varchar](max) NULL,
	[INDIVIDUALID] [varchar](max) NULL,
	[MAILBOXDEPOSITLOCATION] [varchar](max) NULL,
	[MAILBOXDEPOSITTYPEID] [numeric](12, 0) NULL,
	[MAILBOXGROUPID] [numeric](12, 0) NULL,
	[MAILBOXPAYERID] [numeric](12, 0) NULL,
	[MATCHEDBY] [varchar](max) NULL,
	[MERCHANTID] [varchar](max) NULL,
	[NACHARECORDID] [numeric](12, 0) NULL,
	[RAWDATA] [varchar](max) NULL,
	[REFERENCENUMBER] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
