USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOCALCLINICALORDERSETUSAGE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALCLINICALORDERSETUSAGE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LOCALCLINICALORDERSETUSAGEID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[GENDER] [varchar](max) NULL,
	[CLINICALORDERSETID] [numeric](12, 0) NULL,
	[COUNT] [numeric](18, 0) NULL,
	[MESHAGEGROUPID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
