USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[RISKADJUSTMENTFACTOR]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[RISKADJUSTMENTFACTOR](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[RISKADJUSTMENTFACTORID] [numeric](12, 0) NULL,
	[TYPE] [varchar](200) NULL,
	[COMMUNITYRAF] [numeric](5, 3) NULL,
	[INSTITUTIONALRAF] [numeric](5, 3) NULL,
	[MINIMUMAGE] [numeric](5, 0) NULL,
	[MAXIMUMAGE] [numeric](5, 0) NULL,
	[GENDER] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[HCCDESCRIPTION] [varchar](2000) NULL,
	[HCCID] [numeric](38, 0) NULL,
	[HCCVERSION] [numeric](5, 0) NULL,
	[HCCMODELVERSION] [varchar](200) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
