USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PROVIDERNUMBERCATEGORY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PROVIDERNUMBERCATEGORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PROVIDERNUMBERCATEGORYID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[CLIENTINVISIBLEYN] [varchar](max) NULL,
	[ENROLLMENTREQUIREDYN] [varchar](max) NULL,
	[PAYERSPECIFICYN] [varchar](max) NULL,
	[MEDICALGROUPNUMBERFORMAT] [varchar](max) NULL,
	[PROVIDERNUMBERFORMAT] [varchar](max) NULL,
	[DEPARTMENTNUMBERFORMAT] [varchar](max) NULL,
	[ENROLLMENTSUFFIX] [varchar](max) NULL,
	[DEPARTMENTSPECIFICNUMBERS] [varchar](max) NULL,
	[ISSUESMEDICALGROUPNUMBERYN] [varchar](max) NULL,
	[DEPTMEDICALGROUPNUMBERSYN] [varchar](max) NULL,
	[DEPARTMENTNUMBERSYN] [varchar](max) NULL,
	[INTERFACEVENDORID] [varchar](max) NULL,
	[PROVIDERNUMBERDEPTIDS] [varchar](max) NULL,
	[MEDICALGROUPNUMBERDEPTIDS] [varchar](max) NULL,
	[DEPARTMENTNUMBERDEPTIDS] [varchar](max) NULL,
	[USEINCLINICALSYN] [varchar](max) NULL,
	[VERIFICATIONREQUIREDYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
