USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[INTERFACEMESSAGEDATACLOB]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[INTERFACEMESSAGEDATACLOB](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[INTERFACEMESSAGEDATAID] [numeric](11, 0) NULL,
	[MESSAGETEXT] [varchar](max) NULL,
	[RESPONSETEXT] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
