USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[SQLREPORT]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[SQLREPORT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[SQLREPORTID] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[SHORTDESCRIPTION] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[SQLSTATEMENT] [varchar](max) NULL,
	[FUNCTION] [varchar](max) NULL,
	[REPORTOBJECT] [varchar](max) NULL,
	[BINDVARIABLES] [varchar](max) NULL,
	[BINDTYPES] [varchar](max) NULL,
	[COLUMNFORMAT] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[STOREDARREPORTID] [numeric](12, 0) NULL,
	[MONTHLYRECURRENCE] [numeric](2, 0) NULL,
	[WEEKLYRECURRENCE] [varchar](max) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[RECIPIENTLIST] [varchar](max) NULL,
	[HEADERINFO] [varchar](max) NULL,
	[STOREDBINDVALUES] [varchar](max) NULL,
	[OFFLINEYN] [varchar](max) NULL,
	[PAGINATEYN] [varchar](max) NULL,
	[CUSTOMFORMATYN] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[REPORTTYPE] [varchar](max) NULL,
	[SCHEDULEDDATEDATETIME] [datetime2](7) NULL,
	[LASTRUNDATEDATETIME] [datetime2](7) NULL,
	[GETPARAMETERS] [varchar](max) NULL,
	[SPLITBYCOLS] [numeric](12, 0) NULL,
	[TABLESTYLE] [varchar](max) NULL,
	[CUSTOMREPORTTEMPLATEID] [numeric](12, 0) NULL,
	[REPORTCLASS] [varchar](max) NULL,
	[REPORTSECTION] [varchar](max) NULL,
	[OWNERUSERNAME] [varchar](max) NULL,
	[REPORTCATEGORY] [varchar](max) NULL,
	[PCCAMPAIGNID] [numeric](12, 0) NULL,
	[GROUPCALLCAMPAIGNID] [numeric](12, 0) NULL,
	[LOCKEDPRACTICEREPORT] [varchar](max) NULL,
	[CAMPAIGNBUILDERYN] [varchar](max) NULL,
	[TRANSFERTODIDYN] [varchar](max) NULL,
	[REVIEWCAMPAIGNPATIENTSYN] [varchar](max) NULL,
	[CAMPAIGNSTATUS] [varchar](max) NULL,
	[CAMPAIGNMAXTAB] [varchar](max) NULL,
	[CAMPAIGNCOMMUNICATORDIDID] [numeric](12, 0) NULL,
	[CAMPAIGNCONTACTNAME] [varchar](max) NULL,
	[CAMPAIGNCONTACTPHONE] [varchar](max) NULL,
	[CAMPAIGNCONTACTEMAIL] [varchar](max) NULL,
	[CAMPAIGNSAMEDAYYN] [varchar](max) NULL,
	[CAMPAIGNSENDBYPORTALYN] [varchar](max) NULL,
	[CAMPAIGNPORTALMESSAGETEXT] [varchar](max) NULL,
	[PERMANENTDURATION] [numeric](12, 0) NULL,
	[HIDDENYN] [varchar](max) NULL,
	[CROSSPRACTICEYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
