USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[REPORTMAPFIELD]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[REPORTMAPFIELD](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[REPORTMAPFIELDID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[REPORTMAPKEYID] [numeric](12, 0) NULL,
	[USAGETYPE] [varchar](max) NULL,
	[DATAREQUIREDYN] [varchar](max) NULL,
	[PRECEDENCE] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
