USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ORDERDELEGATIONMAPPING]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ORDERDELEGATIONMAPPING](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ORDERDELEGATIONMAPPINGID] [numeric](12, 0) NULL,
	[PROVIDERUSERNAME] [varchar](max) NULL,
	[ORDERTYPEGROUPNAME] [varchar](max) NULL,
	[ORDERDOCUMENTCLASS] [varchar](max) NULL,
	[DEA] [varchar](max) NULL,
	[USERNAME] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
