USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CLINICALRESULTOBSERVATION]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLINICALRESULTOBSERVATION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALOBSERVATIONID] [numeric](12, 0) NULL,
	[CLINICALRESULTID] [numeric](12, 0) NULL,
	[LOINCID] [numeric](12, 0) NULL,
	[P4PCANONICALID] [numeric](12, 0) NULL,
	[OBSERVATIONVALUETYPE] [varchar](max) NULL,
	[OBSERVATIONIDENTIFIER] [varchar](max) NULL,
	[OBSERVATIONIDENTIFIERTEXT] [varchar](max) NULL,
	[PLCOBSERVATIONIDENTIFIERTEXT] [varchar](max) NULL,
	[OBSERVATIONIDENTIFIERLOINC] [varchar](max) NULL,
	[OBSERVATIONSUBIDENTIFIER] [varchar](max) NULL,
	[RESULT] [varchar](max) NULL,
	[PLCOBSERVATIONVALUE] [varchar](max) NULL,
	[OBSERVATIONNOTE] [varchar](max) NULL,
	[PLCOBSERVATIONNOTE] [varchar](max) NULL,
	[OBSERVATIONUNITS] [varchar](max) NULL,
	[PLCOBSERVATIONUNITS] [varchar](max) NULL,
	[REFERENCERANGE] [varchar](max) NULL,
	[PLCREFERENCERANGE] [varchar](max) NULL,
	[OBSERVATIONABNORMALFLAGID] [varchar](max) NULL,
	[PLCOBSERVATIONABNORMALFLAGID] [varchar](max) NULL,
	[PROBABILITY] [varchar](max) NULL,
	[ABNORMALTESTNATURE] [varchar](max) NULL,
	[RESULTSTATUS] [varchar](max) NULL,
	[PLCRESULTSTATUS] [varchar](max) NULL,
	[OBSERVATIONTIMESTAMPDATETIME] [datetime2](7) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[PERFORMINGLABKEY] [varchar](max) NULL,
	[LOCALCLINICALLABTEMPLATELISTID] [numeric](12, 0) NULL,
	[LOCALCLINICALLABTEMPLATEGRIDID] [numeric](12, 0) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[UNITOFMEASUREMAPPINGID] [numeric](12, 0) NULL,
	[TEMPLATEANALYTENAME] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
