USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CLINICALRESULT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLINICALRESULT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALRESULTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[ORDERDOCUMENTID] [numeric](12, 0) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[RESULTDOCUMENTID] [numeric](12, 0) NULL,
	[EXTERNALACCESSIONIDENTIFIER] [varchar](max) NULL,
	[SPECIMENSOURCE] [varchar](max) NULL,
	[CLINICALORDERTYPE] [varchar](max) NULL,
	[CLINICALORDERTYPEGROUP] [varchar](max) NULL,
	[FBDMEDID] [varchar](max) NULL,
	[CLINICALPROVIDERORDERTYPE] [varchar](max) NULL,
	[CLINICALORDERGENUS] [varchar](max) NULL,
	[CVX] [varchar](max) NULL,
	[PROVIDERNOTE] [varchar](max) NULL,
	[EXTERNALNOTE] [varchar](max) NULL,
	[RESULTSTATUS] [varchar](max) NULL,
	[REPORTSTATUS] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[OBSERVATIONDATETIME] [datetime2](7) NULL,
	[SPECIMENRECEIVEDDATETIME] [datetime2](7) NULL,
	[RESULTSREPORTEDDATETIME] [datetime2](7) NULL,
	[ADDITIONALCLINICALPROVIDERTEXT] [varchar](max) NULL,
	[RESULTCATEGORYNAME] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
