USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PORTALSETTING]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PORTALSETTING](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PORTALSETTINGID] [numeric](12, 0) NULL,
	[HEALTHMEDICATIONSYN] [varchar](200) NULL,
	[MEANINGFULUSEYN] [varchar](200) NULL,
	[LANDINGPAGEMESSAGE] [varchar](200) NULL,
	[HEALTHSHOWMEDREFILLSYN] [varchar](200) NULL,
	[QUICKPAYPORTALFULLPORTALLINKYN] [varchar](200) NULL,
	[HEALTHREMINDERSYN] [varchar](200) NULL,
	[SHOWCOLLECTIONBALANCEYN] [varchar](200) NULL,
	[REQUESTYN] [varchar](200) NULL,
	[HOMEPAGEYN] [varchar](200) NULL,
	[MESSAGESMESSAGE] [varchar](2000) NULL,
	[MEANINGFULUSEMESSAGEYN] [varchar](200) NULL,
	[MOBILEENABLEDYN] [varchar](200) NULL,
	[REQUESTAPPTYN] [varchar](200) NULL,
	[PATIENTPORTALBOXYN] [varchar](200) NULL,
	[CREDITCARDYN] [varchar](200) NULL,
	[RESETPINGMSG] [varchar](200) NULL,
	[DIRECTIONSYN] [varchar](200) NULL,
	[SUMMARYOFCAREYN] [varchar](200) NULL,
	[CREATEPATIENTCASEYN] [varchar](200) NULL,
	[MESSAGENOTICESUBJECT] [varchar](200) NULL,
	[PATIENTPORTALNAME] [varchar](200) NULL,
	[ALLOWGUESTYN] [varchar](200) NULL,
	[ENHANCEDDEMOGRAPHICSYN] [varchar](200) NULL,
	[DEFAULTPARTNERSPID] [varchar](200) NULL,
	[PROFILERESETPINYN] [varchar](200) NULL,
	[MIGRATEPORTALYN] [varchar](200) NULL,
	[PROFILEBILLINGYN] [varchar](200) NULL,
	[NEWPATIENTSCHEDULABLEYN] [varchar](200) NULL,
	[PROFILERESETPINTITLE] [varchar](200) NULL,
	[HEALTHVACCINATIONSYN] [varchar](200) NULL,
	[MSGNOTICETMPL] [varchar](200) NULL,
	[PORTALTYPE] [varchar](200) NULL,
	[TOOLSACTIVITYLOGYN] [varchar](200) NULL,
	[LEGALMESSAGE] [varchar](200) NULL,
	[INITIALUSERMESSAGEYN] [varchar](200) NULL,
	[GUARANTORMAPPINGYN] [varchar](200) NULL,
	[APPOINTMENTSMESSAGE] [varchar](2000) NULL,
	[CHARGEDETAILSYN] [varchar](200) NULL,
	[COMMUNICATORBRANDID] [numeric](12, 0) NULL,
	[INITIALUSERMESSAGE] [varchar](8000) NULL,
	[SHOWPROVYN] [varchar](200) NULL,
	[HEALTHINRYN] [varchar](200) NULL,
	[SUPPORTMSG] [varchar](200) NULL,
	[PROFILEINSMSG] [varchar](2000) NULL,
	[TOOLSDIRECTEMAILYN] [varchar](200) NULL,
	[REQUESTMESSAGE] [varchar](2000) NULL,
	[SUPPORTPAGEPHONE] [varchar](200) NULL,
	[INITIALUSEREMAILYN] [varchar](200) NULL,
	[SHOWEPAYMENTRECEIPTYN] [varchar](200) NULL,
	[HEALTHCONTENTYN] [varchar](200) NULL,
	[HEALTHPROBLEMSYN] [varchar](200) NULL,
	[HEALTHCARESUMMARIESYN] [varchar](200) NULL,
	[CARETEAMYN] [varchar](200) NULL,
	[HEALTHALLERGIESYN] [varchar](200) NULL,
	[CONSOLIDATEDAPPOINTMENTBETAYN] [varchar](200) NULL,
	[PUBLICNAME] [varchar](200) NULL,
	[WELCOMEPAGEMSG] [varchar](8000) NULL,
	[PORTALREGISTRATIONPHONE] [varchar](200) NULL,
	[DEFAULTREDIRECTURL] [varchar](200) NULL,
	[APPTRESCHEDULEYN] [varchar](200) NULL,
	[DEMOGRAPHICSTITLE] [varchar](500) NULL,
	[INITIALUSEREMAILSUBJECT] [varchar](200) NULL,
	[HEALTHINTERACTIVEFIELDSYN] [varchar](200) NULL,
	[APPTSATURDAYYN] [varchar](200) NULL,
	[EDITABLEBILLINGDEMOGRAPHICSYN] [varchar](200) NULL,
	[DISPLAYPATIENTPHOTOYN] [varchar](200) NULL,
	[HEALTHBLOODPRESSUREYN] [varchar](200) NULL,
	[REQUESTPRESCRIPTIONYN] [varchar](200) NULL,
	[SOCIALHISTORYYN] [varchar](200) NULL,
	[PAPERWORKTITLE] [varchar](200) NULL,
	[EPAYMENTYN] [varchar](200) NULL,
	[TOPNAVYN] [varchar](200) NULL,
	[SUPPORTPAGETITLE] [varchar](200) NULL,
	[PAPERWORKMESSAGE] [varchar](2000) NULL,
	[APPTSUNDAYYN] [varchar](200) NULL,
	[APPTEVENINGYN] [varchar](200) NULL,
	[ALLOWTHIRDPARTYLOGINYN] [varchar](200) NULL,
	[PROFILEINSURANCETITLE] [varchar](500) NULL,
	[PROFILEINSURANCEYN] [varchar](200) NULL,
	[VISITNOTESYN] [varchar](200) NULL,
	[DEMOGRAPHICSYN] [varchar](200) NULL,
	[HEALTHBMIYN] [varchar](200) NULL,
	[PAYMENTMESSAGE] [varchar](500) NULL,
	[DEMOGRAPHICSMESSAGE] [varchar](2000) NULL,
	[PATIENTMESSAGINGYN] [varchar](200) NULL,
	[TOOLSTRANSMITYN] [varchar](200) NULL,
	[PROFILEPREFERENCESYN] [varchar](200) NULL,
	[WEBSITELINKTEXT] [varchar](200) NULL,
	[HEALTHCHOLESTEROLYN] [varchar](200) NULL,
	[HEALTHA1CYN] [varchar](200) NULL,
	[MESSAGEYN] [varchar](200) NULL,
	[HEALTHTRANSMITEMAILYN] [varchar](200) NULL,
	[ENABLERCREPLIESYN] [varchar](200) NULL,
	[PROFILEHEALTHTITLE] [varchar](200) NULL,
	[PROFILEHEALTHMESSAGE] [varchar](500) NULL,
	[SHOWAPPOINTMENTYN] [varchar](200) NULL,
	[REQUESTOTHERYN] [varchar](200) NULL,
	[PRIVACYMESSAGE] [varchar](200) NULL,
	[MESSAGENOTICEEMAIL] [varchar](200) NULL,
	[REQUESTINSURANCEYN] [varchar](200) NULL,
	[THIRDPARTYAUTHENTICATIONYN] [varchar](200) NULL,
	[SHOWREGPHONEINAPPTYN] [varchar](200) NULL,
	[ONLINESTATEMENTSYN] [varchar](200) NULL,
	[MESSAGENOTICEYN] [varchar](200) NULL,
	[HEALTHLABYN] [varchar](200) NULL,
	[CREDITCARDMESSAGE] [varchar](2000) NULL,
	[PAPERWORKYN] [varchar](200) NULL,
	[PAYMENTYN] [varchar](200) NULL,
	[INITIALUSERMESSAGESUBJECT] [varchar](500) NULL,
	[REQUESTADMINYN] [varchar](200) NULL,
	[QUICKPAYPORTALYN] [varchar](200) NULL,
	[WEBSITELINKTEXTCUSTOMYN] [varchar](200) NULL,
	[REQUESTCLINICALYN] [varchar](200) NULL,
	[HIDEDEMOGRAPHICUPDATEYN] [varchar](200) NULL,
	[INITIALUSEREMAIL] [varchar](200) NULL,
	[ALLOWREGISTERYN] [varchar](200) NULL,
	[DISPLAYINSURANCECARDYN] [varchar](200) NULL,
	[SHOWCOLLECTIONSWARNINGYN] [varchar](200) NULL,
	[SHOWBLUEBUTTONYN] [varchar](200) NULL,
	[HEALTHPHARMACYYN] [varchar](200) NULL,
	[HEALTHPROCEDURESYN] [varchar](200) NULL,
	[WELCOMEPAGETITLE] [varchar](500) NULL,
	[APPOINTMENTSREPLYMSG] [varchar](2000) NULL,
	[PROFILEHEALTHYN] [varchar](200) NULL,
	[DISPLAYTESTIMAGEYN] [varchar](200) NULL,
	[MEANINGFULUSEHEALTHYN] [varchar](200) NULL,
	[MESSAGECONFIRMATIONTEXT] [varchar](2000) NULL,
	[TESTRESULTSYN] [varchar](200) NULL,
	[REQLOCYN] [varchar](200) NULL,
	[LEGALYN] [varchar](200) NULL,
	[NEWNEWPATIENTREGISTRATIONYN] [varchar](200) NULL,
	[STOREDCARDBETAYN] [varchar](200) NULL,
	[PORTALFEEDBACKYN] [varchar](200) NULL,
	[BRANDINGYN] [varchar](200) NULL,
	[PRIVACYYN] [varchar](200) NULL,
	[EMAILLOGINYN] [varchar](200) NULL,
	[TOOLSDOWNLOADYN] [varchar](200) NULL,
	[TOOLSYN] [varchar](200) NULL,
	[MEANINGFULUSETOOLSYN] [varchar](200) NULL,
	[APPOINTMENTYN] [varchar](200) NULL,
	[HEALTHWEIGHTYN] [varchar](200) NULL,
	[SHOWTICKLERYN] [varchar](200) NULL,
	[CUSTOMSLOREDIRECTURL] [varchar](200) NULL,
	[HEALTHINFORMATIONYN] [varchar](200) NULL,
	[APPOINTMENTSTITLE] [varchar](200) NULL,
	[REQUESTBILLINGYN] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
