USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[EPAYMENTCARD]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[EPAYMENTCARD](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[EPAYMENTCARDID] [numeric](12, 0) NULL,
	[CARDUNIQUEID] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[CARDTYPEID] [numeric](12, 0) NULL,
	[FUSEBOXCARDUNIQUEID] [varchar](max) NULL,
	[COMPLIANCEID] [varchar](max) NULL,
	[POSDATACODE] [varchar](max) NULL,
	[CARDNUMBERLAST4DIGITS] [varchar](max) NULL,
	[NAMEONCARD] [varchar](max) NULL,
	[CARDEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[BILLINGADDRESS] [varchar](max) NULL,
	[BILLINGZIP] [varchar](max) NULL,
	[BILLINGCITY] [varchar](max) NULL,
	[BILLINGSTATE] [varchar](max) NULL,
	[CHECKIMAGE] [varchar](max) NULL,
	[ENCIRCLEFILENAME] [varchar](max) NULL,
	[ENCIRCLEUPLOADSTATUS] [varchar](max) NULL,
	[CHECKNUMBER] [varchar](max) NULL,
	[STATEMENTDATEDATETIME] [datetime2](7) NULL,
	[PAYMENTBATCHSCANPAGEID] [numeric](12, 0) NULL,
	[BILLINGPHONE] [varchar](max) NULL,
	[VISIBLEINCOLLECTORYN] [varchar](max) NULL,
	[VISIBLETOPATIENTYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
