USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CLIENTAUDR]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLIENTAUDR](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLIENTAUDRID] [numeric](12, 0) NULL,
	[OPERATION] [varchar](200) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[OPERATIONID] [numeric](12, 0) NULL,
	[OLDVALUE] [varchar](8000) NULL,
	[FIELDNAME] [varchar](500) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
