USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[DOCUMENTDIAGNOSIS]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DOCUMENTDIAGNOSIS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DOCUMENTDIAGNOSISID] [numeric](38, 0) NULL,
	[DOCUMENTID] [numeric](38, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERDXID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
