USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PROVIDERDIRECTADDRESS]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PROVIDERDIRECTADDRESS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PROVIDERDIRECTADDRESSID] [numeric](12, 0) NULL,
	[DIRECTADDRESS] [varchar](max) NULL,
	[PROVIDERDIRECTADDRESSCONTEXTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[MANAGEDBY] [varchar](max) NULL,
	[PROVISIONALYN] [varchar](1) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
