USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PAGEVIEW]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PAGEVIEW](
	[CONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PAGEVIEWID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](38, 5) NULL,
	[NOTE] [varchar](max) NULL,
	[CLAIMID] [varchar](max) NULL,
	[IPADDRESS] [varchar](max) NULL,
	[DOCUMENTID] [varchar](max) NULL,
	[PATIENTID] [varchar](max) NULL,
	[PAGE] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
