USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CLAIMALARMDAYS]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLAIMALARMDAYS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLAIMALARMDAYSID] [numeric](12, 0) NULL,
	[CLAIMALARMCLASS] [varchar](200) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[EMCRECEIVERID] [numeric](12, 0) NULL,
	[KICKREASONID] [numeric](12, 0) NULL,
	[NUMDAYS] [numeric](12, 0) NULL,
	[ALARMACTIONID] [varchar](200) NULL,
	[NOTE] [varchar](8000) NULL,
	[TRANSFERTYPE] [varchar](200) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[ALARMTIMEFRAME] [varchar](200) NULL,
	[DEFAULTDAYS] [numeric](12, 0) NULL,
	[MAXDAYS] [numeric](12, 0) NULL,
	[MINDAYS] [numeric](12, 0) NULL,
	[FIREWITHKICKREASONID] [numeric](12, 0) NULL,
	[MEDIUM] [varchar](200) NULL,
	[CSIKICKONCEYN] [varchar](200) NULL,
	[PRACTICEID] [numeric](12, 0) NULL,
	[LOCKEXPIRATIONDATETIME] [datetime2](7) NULL,
	[CASENUMBER] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
