USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTCLINICALPROBLEM]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTCLINICALPROBLEM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTCLINICALPROBLEMID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CLINICALPROBLEMCLASS] [varchar](max) NULL,
	[CLINICALPROBLEMNAME] [varchar](max) NULL,
	[CLINICALPROBLEMDIAGNOSISCODE] [varchar](max) NULL,
	[PATIENTCLINICALPROBLEMNOTES] [varchar](max) NULL,
	[ACTIVEFLAG] [varchar](max) NULL,
	[PROBLEMCREATEDDATETIME] [datetime] NULL,
	[PROBLEMCREATEDBY] [varchar](max) NULL,
	[PROBLEMDELETEDDATETIME] [datetime] NULL,
	[PROBLEMDELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
