USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[INSURANCEREPORTINGCATEGORY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[INSURANCEREPORTINGCATEGORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[FILINGLIMITDAYS] [numeric](11, 0) NULL,
	[BILLEDRESPONSEDAYS] [numeric](11, 0) NULL,
	[ACTIONRESPONSEDAYS] [numeric](11, 0) NULL,
	[INSURANCEPICKERCATEGORYID] [numeric](12, 0) NULL,
	[DEFAULTELIGIBILITYCLASS] [varchar](max) NULL,
	[DEFAULTHSRCLASSID] [numeric](12, 0) NULL,
	[DEFAULTCSICLASSID] [numeric](12, 0) NULL,
	[PROVIDERNUMBERCATEGORYID] [numeric](12, 0) NULL,
	[GENERATETRACELETTERSYN] [varchar](max) NULL,
	[GENERICYN] [varchar](max) NULL,
	[CALLPAYERFUPYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
