USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CLINICALPROVIDERORDERTYPE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLINICALPROVIDERORDERTYPE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALPROVIDERORDERTYPEID] [numeric](12, 0) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[CLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[PLCNAME] [varchar](max) NULL,
	[ORDERCODE] [varchar](max) NULL,
	[PAPERORDERCODE] [varchar](max) NULL,
	[ELECTRONICORDERCODE] [varchar](max) NULL,
	[FOREIGNNAMESPACEID] [varchar](max) NULL,
	[PREFERREDORDERCODEYN] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[DEFAULTALARMDAYS] [numeric](12, 0) NULL,
	[UNMAPPABLEYN] [varchar](max) NULL,
	[ORDERABLEYN] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[DISCONTINUEDDATETIME] [datetime2](7) NULL,
	[REPLACEDBYID] [numeric](12, 0) NULL,
	[CLINICALPROVIDERLOINC] [varchar](max) NULL,
	[SYNCEDTOPRACTICESYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
