USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PROVIDER]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PROVIDER](
	[CONTEXTID] [decimal](12, 0) NULL,
	[CONTEXTNAME] [text] NULL,
	[CONTEXTPARENTCONTEXTID] [decimal](12, 0) NULL,
	[PROVIDERID] [decimal](12, 0) NULL,
	[SCHEDULINGNAME] [text] NULL,
	[REPORTINGNAME] [text] NULL,
	[BILLEDNAME] [text] NULL,
	[PROVIDERFIRSTNAME] [text] NULL,
	[PROVIDERLASTNAME] [text] NULL,
	[PROVIDERUSERNAME] [text] NULL,
	[PROVIDERTYPE] [text] NULL,
	[PROVIDERTYPENAME] [text] NULL,
	[PROVIDERTYPECATEGORY] [text] NULL,
	[PROVIDERNPINUMBER] [text] NULL,
	[PROVIDERNDCTATNUMBER] [text] NULL,
	[PROVIDERGROUPID] [decimal](38, 0) NULL,
	[SUPERVISINGPROVIDERID] [decimal](12, 0) NULL,
	[TAXONOMY] [text] NULL,
	[SPECIALTYCODE] [text] NULL,
	[SPECIALTY] [text] NULL,
	[ENTITYTYPE] [text] NULL,
	[SCHEDULERESOURCETYPE] [text] NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [text] NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [text] NULL,
	[PROVIDERMIDDLEINITIAL] [text] NULL,
	[PROVIDERMEDICALGROUPID] [decimal](12, 0) NULL,
	[TAXONOMYANSICODE] [text] NULL,
	[BILLABLEYN] [text] NULL,
	[PATIENTFACINGNAME] [text] NULL,
	[HIDEINPORTALYN] [text] NULL,
	[SIGNATUREONFILEYN] [text] NULL,
	[TRACKMISSINGSLIPSYN] [text] NULL,
	[REFERRINGPROVIDERYN] [text] NULL,
	[CREATEENCOUNTERYN] [text] NULL,
	[STAFFBUCKETYN] [text] NULL,
	[COMMUNICATORHOMEDEPTID] [decimal](12, 0) NULL,
	[DIRECTADDRESS] [text] NULL,
	[LASTUPDATED] [datetime] NULL,
	[GROUPID] [decimal](12, 0) NULL,
	[SPECIALTYID] [text] NULL,
	[MEDICALGROUPZIP] [text] NULL,
	[STATEMENTSPHONE] [text] NULL,
	[ALTERNATEPHONE] [text] NULL,
	[PAGERCOL] [text] NULL,
	[BILLINGPROVIDERID] [decimal](12, 0) NULL,
	[PLCMEDICALGROUPADDRESS1] [text] NULL,
	[CREDENTIALINGMAINTENANCEONLYYN] [text] NULL,
	[FEDERALIDNUMBERTYPE] [text] NULL,
	[PLCBILLEDNAME] [text] NULL,
	[REFERRALFAX] [text] NULL,
	[HOMEPHONE] [text] NULL,
	[EXPIRATIONDATE] [datetime] NULL,
	[MEDICALGROUPCONTACT] [text] NULL,
	[COMMUNICATORSMSDISPLAYNAME] [text] NULL,
	[PLCADDRESS] [text] NULL,
	[ANSISPECIALTYID] [decimal](12, 0) NULL,
	[PROVIDERPROFILEID] [decimal](12, 0) NULL,
	[LOCALCLINICALPROVIDERID] [decimal](38, 0) NULL,
	[NAMESUFFIX] [text] NULL,
	[DOB] [datetime] NULL,
	[MEDICALGROUPNAME] [text] NULL,
	[HOURS] [text] NULL,
	[PLCCITY] [text] NULL,
	[STATE] [text] NULL,
	[PRACTICEROLEID] [decimal](38, 0) NULL,
	[REFERRALPHONE] [text] NULL,
	[MEDICALGROUPPHONE] [text] NULL,
	[PLCFIRSTNAME] [text] NULL,
	[MEDICALGROUPADDRESS1] [text] NULL,
	[PROVIDERSITEIDNUMBER] [text] NULL,
	[CREDENTIALINGTERMINATIONDATE] [datetime] NULL,
	[LICENSENUMBER] [text] NULL,
	[VOICEMAIL] [text] NULL,
	[MEDICALGROUPSTATE] [text] NULL,
	[PRACTICESTARTDATE] [datetime] NULL,
	[ORDERING] [decimal](12, 0) NULL,
	[FEDERALIDNUMBER] [text] NULL,
	[HIREDATE] [datetime] NULL,
	[ADDRESS] [text] NULL,
	[BOARD_CERT] [text] NULL,
	[SSICLINICALSACCESSYN] [text] NULL,
	[SSN] [text] NULL,
	[BILLEDNAMECASE] [text] NULL,
	[MEDICARE] [text] NULL,
	[SURGERYPREFERENCES] [text] NULL,
	[PRACTICETERMINATIONDATE] [datetime] NULL,
	[ACCEPTINGNEWPATIENTSYN] [text] NULL,
	[REFERRALCITY] [text] NULL,
	[ISSUEDATE] [datetime] NULL,
	[REFERRALADDRESS2] [text] NULL,
	[SCHEDULERESOURCETYPEID] [decimal](38, 0) NULL,
	[UPIN] [text] NULL,
	[CITY] [text] NULL,
	[PLCMIDDLEINITIAL] [text] NULL,
	[PLCNAMESUFFIX] [text] NULL,
	[OTHERID] [decimal](12, 0) NULL,
	[LASTMODIFIEDBY] [text] NULL,
	[PLCLASTNAME] [text] NULL,
	[REFERRALSTATE] [text] NULL,
	[SHORTNAME] [text] NULL,
	[PLCMEDICALGROUPNAME] [text] NULL,
	[PROVIDERPRACTICINGROLEID] [decimal](12, 0) NULL,
	[ENTITYTYPEID] [decimal](22, 0) NULL,
	[DEA] [text] NULL,
	[CREDENTIALINGSTARTDATE] [datetime] NULL,
	[SCHEDULINGNOTE] [text] NULL,
	[LASTMODIFIED] [datetime] NULL,
	[REFERRALADDRESS1] [text] NULL,
	[REFERRALCONTACTNAME] [text] NULL,
	[PERSONALPRONOUNSID] [decimal](12, 0) NULL,
	[ZIP] [text] NULL,
	[SEX] [text] NULL,
	[COMMUNICATORDISPLAYNAMENOTE] [text] NULL,
	[REFERRALZIP] [text] NULL,
	[BILLINGROWSADDEDYN] [text] NULL,
	[LICENSESTATE] [text] NULL,
	[MEDICALGROUPCITY] [text] NULL,
	[CREDENTIALINGENABLEDYN] [text] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
