USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[FEESCHEDULETERM]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FEESCHEDULETERM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[FEESCHEDULETERMID] [numeric](12, 0) NULL,
	[FEESCHEDULEID] [numeric](12, 0) NULL,
	[REIMBURSEMENTMETHOD] [varchar](max) NULL,
	[BASEFEESCHEDULEID] [numeric](12, 0) NULL,
	[MULTIPLIER] [numeric](12, 4) NULL,
	[LNMULTIPLIER] [numeric](38, 0) NULL,
	[MEDICARERATIO] [numeric](12, 4) NULL,
	[MEDICARERVUCONVERSIONFACTOR] [numeric](14, 4) NULL,
	[MEDICAREDMERATIO] [numeric](12, 4) NULL,
	[MEDICAREDMESTATE] [varchar](max) NULL,
	[MEDICAREDMESCHEDULEDATEDATETIME] [datetime] NULL,
	[MEDICAREDMEPARTICIPATINGYN] [varchar](max) NULL,
	[MEDICAREDMEACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[MEDICARESCHEDULEDATEDATETIME] [datetime] NULL,
	[MEDICAREGPCILOCATIONID] [numeric](38, 0) NULL,
	[MEDICAREFACILITYSCHEDULEYN] [varchar](max) NULL,
	[MEDICAREPARTICIPATINGYN] [varchar](max) NULL,
	[MEDICAREACCEPTASSIGNMENTYN] [varchar](max) NULL,
	[MEDICAREPOPULATIONDENSITY] [varchar](max) NULL,
	[LESSEROFBILLEDORALLOWEDYN] [varchar](max) NULL,
	[MULTISURGERY1] [numeric](12, 2) NULL,
	[MULTISURGERY2] [numeric](12, 2) NULL,
	[MULTISURGERY3] [numeric](12, 2) NULL,
	[MULTISURGERY4] [numeric](12, 2) NULL,
	[MULTISURGERY5] [numeric](12, 2) NULL,
	[ANECONVERSIONFACTOR] [numeric](12, 4) NULL,
	[ANEROUNDMETHOD] [varchar](max) NULL,
	[ANEROUNDTO] [numeric](12, 0) NULL,
	[ANETIMEUNITS] [numeric](12, 0) NULL,
	[ANEBASEUNITMULTIPLIER] [numeric](12, 2) NULL,
	[ANEP3UNITS] [numeric](12, 2) NULL,
	[ANEP4UNITS] [numeric](12, 2) NULL,
	[ANEP5UNITS] [numeric](12, 2) NULL,
	[AMBULANCEYN] [varchar](max) NULL,
	[AMBULANCEEXCLUDEMILES] [numeric](12, 0) NULL,
	[AMBULANCEMILEAGEMETHOD] [varchar](max) NULL,
	[NONAMBULANCEEXCLUDEMILES] [numeric](12, 0) NULL,
	[NONAMBULANCEMILEAGEMETHOD] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
