USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[VISIT]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[VISIT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[VISITID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[VISITGROUPID] [numeric](12, 0) NULL,
	[ADMISSIONSOURCEID] [numeric](12, 0) NULL,
	[ADMISSIONTYPEID] [numeric](12, 0) NULL,
	[CHECKINDATEDATETIME] [datetime2](7) NULL,
	[LOCALCHECKINDATEDATETIME] [datetime2](7) NULL,
	[DISCHARGEDATEDATETIME] [datetime2](7) NULL,
	[LOCALDISCHARGEDATEDATETIME] [datetime2](7) NULL,
	[DISCHARGEPROVIDERID] [numeric](12, 0) NULL,
	[ATTENDINGPROVIDERID] [numeric](12, 0) NULL,
	[OPERATINGPROVIDERID] [numeric](12, 0) NULL,
	[OTHEROPERATINGPROVIDERID] [numeric](12, 0) NULL,
	[ADMITTINGPROVIDERID] [numeric](12, 0) NULL,
	[RENDERINGPROVIDERID] [numeric](12, 0) NULL,
	[REGISTRATIONCOMPLETEYN] [varchar](max) NULL,
	[REGISTEREDDATEDATETIME] [datetime2](7) NULL,
	[LOCALREGISTEREDDATEDATETIME] [datetime2](7) NULL,
	[REGISTEREDBY] [varchar](max) NULL,
	[VISITSTATUSID] [numeric](12, 0) NULL,
	[ACCOMMODATIONID] [numeric](12, 0) NULL,
	[PATIENTROUNDINGLISTID] [numeric](12, 0) NULL,
	[HOSPITALBEDID] [numeric](12, 0) NULL,
	[HOSPITALROOMID] [numeric](12, 0) NULL,
	[DISCHARGEDISPOSITIONID] [numeric](12, 0) NULL,
	[ALLERGIES] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[MAINCOMPLAINT] [varchar](max) NULL,
	[MSPINSURANCETYPEID] [numeric](12, 0) NULL,
	[MSPINSURANCETYPESETYN] [varchar](max) NULL,
	[PROBLEMLIST] [varchar](max) NULL,
	[RAZORENCOUNTERID] [numeric](12, 0) NULL,
	[RAZORISER] [numeric](1, 0) NULL,
	[VISITCASEID] [numeric](12, 0) NULL,
	[TRANSFERVISITID] [numeric](12, 0) NULL,
	[DELETEDNOTE] [varchar](max) NULL,
	[FIRSTVISITSEGMENTID] [numeric](12, 0) NULL,
	[CURRENTVISITSEGMENTID] [numeric](12, 0) NULL,
	[PRIMARYCAREPROVIDERYN] [varchar](max) NULL,
	[CHIEFCOMPLAINTID] [numeric](12, 0) NULL,
	[EDCHIEFCOMPLAINTID] [numeric](12, 0) NULL,
	[LEVELOFCAREID] [numeric](12, 0) NULL,
	[LASTSAVEDDATEDATETIME] [datetime2](7) NULL,
	[LASTSAVEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_date] [datetime] NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
