USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CDSCLAIMDIAGNOSIS]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CDSCLAIMDIAGNOSIS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CDSCLAIMDIAGNOSISID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[CLAIMDIAGNOSISID] [numeric](12, 0) NULL,
	[DIAGNOSISDATEDATETIME] [datetime] NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[DIAGNOSISCODESETID] [numeric](12, 0) NULL,
	[ICDCODEALLID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CLAIMCOMPLIANCESTATUS] [varchar](max) NULL,
	[TABLEVERSION] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
