USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTFAMILYHISTORY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTFAMILYHISTORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[FAMILYHISTORYID] [numeric](12, 0) NULL,
	[TYPE] [varchar](30) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](10) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[FAMILYHISTORYPROBLEM] [varchar](max) NULL,
	[RELATION] [varchar](max) NULL,
	[RELATIONKEYID] [numeric](12, 0) NULL,
	[ONSETAGE] [numeric](12, 0) NULL,
	[RESOLVEDAGE] [numeric](12, 0) NULL,
	[DIEDOFAGE] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
