USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[DIAGNOSISCODE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DIAGNOSISCODE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](200) NULL,
	[PARENTDIAGNOSISCODE] [varchar](200) NULL,
	[UNSTRIPPEDDIAGNOSISCODE] [varchar](200) NULL,
	[DIAGNOSISCODEDESCRIPTION] [varchar](2000) NULL,
	[LOCALDESCRIPTION] [varchar](200) NULL,
	[LOCALSEARCHNAME] [varchar](200) NULL,
	[ISDELETED] [bit] NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
