USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTOBGYNHISTORY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTOBGYNHISTORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTOBGYNHISTORYID] [numeric](12, 0) NULL,
	[TYPE] [varchar](12) NULL,
	[PATIENTID] [numeric](38, 0) NULL,
	[CHARTID] [numeric](38, 0) NULL,
	[OBGYNHISTORYKEY] [varchar](max) NULL,
	[OBGYNHISTORYQUESTION] [varchar](max) NULL,
	[OBGYNHISTORYANSWER] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
