USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[FDB_REVDMVX0]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FDB_REVDMVX0](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[FDB_REVDMVX0ID] [numeric](12, 0) NULL,
	[EVD_MVX_CD_STATUS] [varchar](max) NULL,
	[EVD_MVX_CD] [varchar](max) NULL,
	[EVD_MVX_CD_DESC] [varchar](max) NULL,
	[EVD_MVX_LAST_UPDATE_DTDATETIME] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
