USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTMESSAGEREQUEST]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTMESSAGEREQUEST](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PATIENTMESSAGEREQUESTID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[ENDDATEDATETIME] [datetime2](7) NULL,
	[SMSTOSENDID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CALLTOSENDID] [numeric](12, 0) NULL,
	[THROTTLEGROUPID] [numeric](12, 0) NULL,
	[EMAILTOSENDID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[PORTALTHIRDPARTYUSERID] [numeric](12, 0) NULL,
	[DUEDATEDATETIME] [datetime2](7) NULL,
	[ENDTIME] [numeric](6, 0) NULL,
	[STARTTIME] [numeric](6, 0) NULL,
	[SELFPAYDAYS] [numeric](12, 0) NULL,
	[CALLTYPE] [varchar](max) NULL,
	[PMGUPDATETYPEID] [numeric](12, 0) NULL,
	[FULLYWORKEDYN] [varchar](max) NULL,
	[MESSAGESUBTYPE] [varchar](max) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[APIKEY] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[COMMUNICATORDIDID] [numeric](12, 0) NULL,
	[TRANSFERABLEYN] [varchar](max) NULL,
	[PMQID] [numeric](12, 0) NULL,
	[APPOINTMENTTICKLERID] [numeric](12, 0) NULL,
	[UPDATEINPROGRESSDATETIME] [datetime2](7) NULL,
	[GROUPCALLCAMPAIGNID] [numeric](12, 0) NULL,
	[MVRESULTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[SELFPAYDUNNINGLEVEL] [numeric](12, 0) NULL,
	[STARTDATEDATETIME] [datetime2](7) NULL,
	[CAMPAIGNRUNPATIENTID] [numeric](12, 0) NULL,
	[MESSAGETYPE] [varchar](max) NULL,
	[MESSAGEFINISHEDDATETIME] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
