USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOCALTEXTMACROLOG]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALTEXTMACROLOG](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALTEXTMACROLOGID] [numeric](12, 0) NULL,
	[MACROID] [numeric](12, 0) NULL,
	[SOURCE] [varchar](max) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[FIELD] [varchar](max) NULL,
	[USERNAME] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
