USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[FLOWSHEET]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FLOWSHEET](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[FLOWSHEETID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[FLOWSHEETTEMPLATE] [varchar](max) NULL,
	[FLOWSHEETELEMENT] [varchar](max) NULL,
	[FLOWSHEETELEMENTVALUE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
