USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[DOCUMENTACTIONREASON]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DOCUMENTACTIONREASON](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DOCUMENTACTIONREASONID] [numeric](38, 0) NULL,
	[SYSTEMKEY] [varchar](max) NULL,
	[PERMISSIONFLAG] [varchar](max) NULL,
	[ACTIONGROUP] [varchar](max) NULL,
	[ACTION] [varchar](max) NULL,
	[ACTIONHELPTEXT] [varchar](max) NULL,
	[NEXTDOCUMENTCLASS] [varchar](max) NULL,
	[NEXTDOCUMENTSUBCLASS] [varchar](max) NULL,
	[NEXTSTATUS] [varchar](max) NULL,
	[DEFAULTASSIGNTO] [varchar](max) NULL,
	[ONBEFOREACTIONRULE] [varchar](max) NULL,
	[ONAFTERACTIONRULE] [varchar](max) NULL,
	[ONFINALIZEDOCUMENTACTIONRULE] [varchar](max) NULL,
	[ONBEFOREFILTERRULE] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[EXTERNALREASONCODE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[TABLESPACEFILTER] [varchar](max) NULL,
	[SYSTEMNOTE] [varchar](max) NULL,
	[MOBILE] [varchar](max) NULL,
	[STREAMLINEDYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
