USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[COMMONWELLPATIENTDATA]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[COMMONWELLPATIENTDATA](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[COMMONWELLPATIENTDATAID] [numeric](12, 0) NULL,
	[FOREIGNLINKCOUNT] [numeric](12, 0) NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[PERSONID] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[AUTOENROLLEDYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
