USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CMPLANTASK]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CMPLANTASK](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CMCAREPLANID] [numeric](12, 0) NULL,
	[CMPLANTASKID] [numeric](12, 0) NULL,
	[MEASUREMENTDOMAIN] [varchar](max) NULL,
	[TASKCONTENTURI] [varchar](max) NULL,
	[TASKNOTECLOB] [varchar](max) NULL,
	[MEASUREMENTUNITS] [varchar](max) NULL,
	[CONTENTID] [varchar](max) NULL,
	[TASKSTATUS] [varchar](max) NULL,
	[TASKNAME] [varchar](max) NULL,
	[TASKSTATE] [varchar](max) NULL,
	[TASKNOTE] [varchar](max) NULL,
	[CMPLANGOALID] [numeric](12, 0) NULL,
	[MEASUREMENTTYPE] [varchar](max) NULL,
	[PATIENTASSIGNABLEYN] [varchar](max) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
