USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CLIENTRECORDNUMBER]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLIENTRECORDNUMBER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLIENTRECORDNUMBERID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[RECORDNUMBERCATEGORYID] [numeric](12, 0) NULL,
	[CLIENTRECORDNUMBER] [varchar](max) NULL,
	[CLIENTRECORDVALUE] [numeric](12, 2) NULL,
	[CLIENTRECORDDATEDATETIME] [datetime] NULL,
	[CLIENTRECORDPRIVACYYN] [varchar](max) NULL,
	[REFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[RECORDNUMBERSELECTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
