USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[QUESTIONNAIREQUESTION]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[QUESTIONNAIREQUESTION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[QUESTIONNAIREQUESTIONID] [numeric](12, 0) NULL,
	[KEY] [varchar](max) NULL,
	[ANSWERLISTLOINC] [varchar](max) NULL,
	[QUESTION] [varchar](max) NULL,
	[INPUTTYPE] [varchar](max) NULL,
	[LOINC] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
