USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CORPORATEACCOUNTINVOICE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CORPORATEACCOUNTINVOICE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CORPORATEACCOUNTINVOICEID] [numeric](12, 0) NULL,
	[CORPORATEACCOUNTID] [numeric](12, 0) NULL,
	[INVOICEDATEDATETIME] [datetime2](7) NULL,
	[LASTBILLINGBATCHID] [numeric](12, 0) NULL,
	[MEDICALGROUPID] [numeric](12, 0) NULL,
	[NEXTBILLDATEDATETIME] [datetime2](7) NULL,
	[PRINTINVOICEID] [varchar](200) NULL,
	[STATUS] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
