USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ClinicalDME]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ClinicalDME](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALDMEID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[QUANTITY] [numeric](18, 6) NULL,
	[NOTEFORSUPPLIERFROMPRESCRIBER] [varchar](max) NULL,
	[NOTEFORPRESCRIBERFROMSUPPLIER] [varchar](max) NULL,
	[NUMBERREFILLSALLOWED] [numeric](12, 0) NULL,
	[DISPENSEASWRITTENYN] [varchar](max) NULL,
	[SIG] [varchar](max) NULL,
	[DISPENSEDTIMESTAMPDATETIME] [datetime2](7) NULL,
	[DISPENSEDBY] [varchar](max) NULL,
	[ORDERYN] [varchar](max) NULL,
	[SAMPLEYN] [varchar](max) NULL,
	[SAMPLEQUANTITY] [numeric](18, 6) NULL,
	[PERSISTENCEYN] [varchar](max) NULL,
	[AIRLOCKYN] [varchar](max) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
