USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[UNPOSTABLE]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[UNPOSTABLE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[UNPOSTABLEID] [numeric](12, 0) NULL,
	[REVERSALFLAG] [numeric](1, 0) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[PATIENTPAYMENTID] [numeric](12, 0) NULL,
	[UNPOSTABLESTATUS] [varchar](max) NULL,
	[UNPOSTABLEACCOUNTINGCATEGORY] [varchar](max) NULL,
	[UNPOSTABLECATEGORY] [varchar](max) NULL,
	[LASTUNPOSTABLEEVENT] [varchar](max) NULL,
	[UNPOSTABLETYPE] [varchar](max) NULL,
	[RESPONSIBLEPARTY] [varchar](max) NULL,
	[POSTEDBY] [varchar](max) NULL,
	[POSTDATE] [date] NULL,
	[PENDALARMDATE] [date] NULL,
	[NUMBERUNPOSTABLES] [numeric](1, 0) NULL,
	[AMOUNT] [numeric](22, 2) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[ORIGINALPAYMENTBATCHID] [numeric](12, 0) NULL,
	[CHECKCCNUMBER] [varchar](max) NULL,
	[CHECKAMOUNT] [numeric](22, 2) NULL,
	[CHECKDATEDATETIME] [datetime2](7) NULL,
	[CHECKIDENTIFIER] [varchar](max) NULL,
	[PAYORCONTROLNUMBER] [varchar](max) NULL,
	[PAYORCONTROLNUMBER2] [varchar](max) NULL,
	[PAYORCONTROLNUMBER3] [varchar](max) NULL,
	[PRACTICEREPORTINGINFORMATION] [varchar](max) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[KICKREASONCATEGORY] [varchar](max) NULL,
	[ROUTE] [varchar](max) NULL,
	[CLOSEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[INCENTIVEPROGRAMID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[ERARECORDID] [numeric](12, 0) NULL,
	[URGENTFLAG] [varchar](max) NULL,
	[PROVIDERNUMBERID] [numeric](12, 0) NULL,
	[DISPLAYONPATIENTRECORDYN] [varchar](max) NULL,
	[LASTDMLDATETIME] [datetime2](7) NULL,
	[PAYERSITECLASSID] [numeric](12, 0) NULL,
	[PAYMENTMETHODID] [varchar](max) NULL,
	[PERTAINSTOPRACTICEID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[GLOBALROUTINGREASON] [varchar](max) NULL,
	[CORRECTIONSPAYMENTBATCHID] [numeric](12, 0) NULL,
	[UNPOSTABLETYPEID] [varchar](max) NULL,
	[ASSIGNMENTGROUPID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[READJMATCHSETID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[PAYORCONTROLNUMBERSTRIPPED] [varchar](max) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[LASTUNPOSTABLEEVENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[PAYORSTATE] [varchar](max) NULL,
	[PAYMENTBATCHSCANPAGEID] [numeric](12, 0) NULL,
	[ERADISCARDRULEID] [numeric](12, 0) NULL,
	[EPAYMENTID] [numeric](12, 0) NULL,
	[UNPOSTABLEROUTEID] [numeric](12, 2) NULL,
	[LASTEVENTUNPOSTABLENOTEID] [numeric](12, 0) NULL,
	[VOIDEPAYMENTID] [numeric](12, 0) NULL,
	[VOIDPARENTID] [numeric](12, 0) NULL,
	[KICKREASONCATEGORYID] [numeric](12, 0) NULL,
	[DUALPOSTCLONEUNPOSTABLEID] [numeric](12, 0) NULL,
	[TAXRATE] [numeric](8, 6) NULL,
	[MEDICALGROUPID] [numeric](12, 0) NULL,
	[MEDICALGROUPNUMBERID] [numeric](12, 0) NULL,
	[INCENTIVEPROGRAMYEAR] [numeric](12, 0) NULL,
	[ASSIGNMENTGROUPCLASSID] [numeric](12, 0) NULL,
	[Record_Created_date] [datetime] NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
