USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[MSPQUESTIONNAIRE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[MSPQUESTIONNAIRE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[MSPQUESTIONNAIREID] [numeric](12, 0) NULL,
	[LIABILITYINSURANCECITY] [varchar](200) NULL,
	[DIALYSISTREATMENTDATEDATETIME] [datetime2](7) NULL,
	[FAMILYGHPPOLICYNUMBER] [varchar](200) NULL,
	[FAMILYGHPRELATIONSHIPTOPATIENT] [varchar](200) NULL,
	[FAMILYEMPLOYERNAME] [varchar](200) NULL,
	[GHPGROUPIDNUMBER] [varchar](200) NULL,
	[GHPYN] [varchar](200) NULL,
	[SPOUSEGHPMEMBERSHIPNUMBER] [varchar](200) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[SPOUSEEMPLOYERZIP] [varchar](200) NULL,
	[FAMILYGHPSTATE] [varchar](200) NULL,
	[DISABILITYYN] [varchar](200) NULL,
	[RESEARCHYN] [varchar](200) NULL,
	[EMPLOYERCITY] [varchar](200) NULL,
	[SPOUSEEMPLOYERADDRESS] [varchar](200) NULL,
	[EMPLOYERGHPYN] [varchar](200) NULL,
	[SPOUSEGHPCITY] [varchar](200) NULL,
	[WORKERSCOMPPLANCITY] [varchar](200) NULL,
	[EMPLOYERHUNDREDYN] [varchar](200) NULL,
	[GHPZIP] [varchar](200) NULL,
	[ANSWERBY] [varchar](200) NULL,
	[LIABILITYINSURANCEADDRESS] [varchar](200) NULL,
	[NOFAULTINSURANCEYN] [varchar](200) NULL,
	[ENTITLEDTOMEDICAREBASEDON] [varchar](200) NULL,
	[FAMILYGHPADDRESS] [varchar](200) NULL,
	[SPOUSEGHPPOLICYNUMBER] [varchar](200) NULL,
	[SPOUSEEMPLOYERNAME] [varchar](200) NULL,
	[NOFAULTINSURANCESTATE] [varchar](200) NULL,
	[KIDNEYTRANSPLANTYN] [varchar](200) NULL,
	[EMPLOYERADDRESS] [varchar](200) NULL,
	[DEPARTMENTOFVETERANSAFFAIRSYN] [varchar](200) NULL,
	[EMPLOYED2] [varchar](200) NULL,
	[SPOUSEGHPSTATE] [varchar](200) NULL,
	[FAMILYEMPLOYERZIP] [varchar](200) NULL,
	[WITHINCOORDINATIONPERIODYN] [varchar](200) NULL,
	[SPOUSEGHPRELATIONSHIPTOPATIENT] [varchar](200) NULL,
	[GHPMEMBERSHIPNUMBER] [varchar](200) NULL,
	[FAMILYGHPMEMBERSHIPNUMBER] [varchar](200) NULL,
	[SPOUSEEMPLOYERTWENTYYN] [varchar](200) NULL,
	[EMPLOYERZIP] [varchar](200) NULL,
	[GHPINSUREDNAME] [varchar](200) NULL,
	[ANSWERBYRELATIONTOPATIENT] [numeric](12, 0) NULL,
	[ANSWERBYRELATIONSHIPTOPATIENT] [numeric](12, 0) NULL,
	[FAMILYEMPLOYERGHPYN] [varchar](200) NULL,
	[FAMILYGHPCITY] [varchar](200) NULL,
	[FAMILYEMPLOYERADDRESS] [varchar](200) NULL,
	[LIABILITYINSURANCEZIP] [varchar](200) NULL,
	[WORKERSCOMPPLANPOLICYNUMBER] [varchar](200) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[SPOUSEEMPLOYED2] [varchar](200) NULL,
	[SPOUSEGHPADDRESS] [varchar](200) NULL,
	[WORKERSCOMPPLANSTATE] [varchar](200) NULL,
	[DVAYN] [varchar](200) NULL,
	[ESRDYN] [varchar](200) NULL,
	[NOFAULTINSURANCEZIP] [varchar](200) NULL,
	[WORKERSCOMPPLANZIP] [varchar](200) NULL,
	[MEDICAREENTITLEDESRDANDOTHERYN] [varchar](200) NULL,
	[GHPPOLICYNUMBER] [varchar](200) NULL,
	[AGEYN] [varchar](200) NULL,
	[NOFAULTINSURANCENAME] [varchar](200) NULL,
	[VISITID] [numeric](12, 0) NULL,
	[SPOUSEGHPNAME] [varchar](200) NULL,
	[GHPCITY] [varchar](200) NULL,
	[SELFDIALYSISDATEDATETIME] [datetime2](7) NULL,
	[EMPLOYERNAME] [varchar](200) NULL,
	[FAMILYEMPLOYERHUNDREDYN] [varchar](200) NULL,
	[NOFAULTINSURANCECLAIMNMBRS] [varchar](200) NULL,
	[NONWORKACCIDENTLOCATION] [varchar](200) NULL,
	[GHPRELATIONSHIPTOPATIENT] [varchar](200) NULL,
	[SPOUSEGHPGROUPIDNUMBER] [varchar](200) NULL,
	[NONWORKACCIDENTDATEDATETIME] [datetime2](7) NULL,
	[FAMILYGHPINSUREDNAME] [varchar](200) NULL,
	[LIABILITYINSURANCECLAIMNMBRS] [varchar](200) NULL,
	[FAMILYEMPLOYERSTATE] [varchar](200) NULL,
	[WORKERSCOMPPLANADDRESS] [varchar](200) NULL,
	[WORKERSCOMPDATEDATETIME] [datetime2](7) NULL,
	[NOFAULTINSURANCEADDRESS] [varchar](200) NULL,
	[WORKERSCOMPPLANNAME] [varchar](200) NULL,
	[LIABILITYINSURANCEYN] [varchar](200) NULL,
	[WORKERSCOMPYN] [varchar](200) NULL,
	[EMPLOYERTWENTYYN] [varchar](200) NULL,
	[SPOUSEGHPZIP] [varchar](200) NULL,
	[SPOUSEGHPYN] [varchar](200) NULL,
	[EMPLOYERSTATE] [varchar](200) NULL,
	[FAMILYEMPLOYERCITY] [varchar](200) NULL,
	[LIABILITYINSURANCENAME] [varchar](200) NULL,
	[EMPLOYED] [varchar](200) NULL,
	[BLACKLUNGYN] [varchar](200) NULL,
	[RETIREMENTDATEDATETIME] [datetime2](7) NULL,
	[GHPBASEDON] [varchar](200) NULL,
	[KIDNEYTRANSPLANTDATEDATETIME] [datetime2](7) NULL,
	[ESRDGHPYN] [varchar](200) NULL,
	[SPOUSEEMPLOYED] [varchar](200) NULL,
	[NOFAULTINSURANCEOWNERNAME] [varchar](200) NULL,
	[PATIENTINSURANCEID] [numeric](12, 0) NULL,
	[AGEDISABILITYPROVISIONYN] [varchar](200) NULL,
	[SPOUSEEMPLOYERHUNDREDYN] [varchar](200) NULL,
	[GHPADDRESS] [varchar](200) NULL,
	[SPOUSERETIREMENTDATEDATETIME] [datetime2](7) NULL,
	[NONWORKINSURANCETYPE] [varchar](200) NULL,
	[FAMILYGHPGROUPIDNUMBER] [varchar](200) NULL,
	[VISITGROUPID] [numeric](12, 0) NULL,
	[FAMILYGHPNAME] [varchar](200) NULL,
	[MSPINSURANCETYPEID] [numeric](12, 0) NULL,
	[GHPSTATE] [varchar](200) NULL,
	[MEDICAREENTITLEDESRDINITIALYN] [varchar](200) NULL,
	[SELFDIALYSISYN] [varchar](200) NULL,
	[LIABILITYINSURANCEOWNERNAME] [varchar](200) NULL,
	[SPOUSEGHPINSUREDNAME] [varchar](200) NULL,
	[LIABILITYINSURANCESTATE] [varchar](200) NULL,
	[SPOUSEEMPLOYERSTATE] [varchar](200) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[GHPBASEDON2] [varchar](200) NULL,
	[SPOUSEEMPLOYERCITY] [varchar](200) NULL,
	[BLACKLUNGDATEDATETIME] [datetime2](7) NULL,
	[DIALYSISYN] [varchar](200) NULL,
	[NOFAULTINSURANCECITY] [varchar](200) NULL,
	[GHPNAME] [varchar](200) NULL,
	[FAMILYGHPYN] [varchar](200) NULL,
	[FAMILYGHPZIP] [varchar](200) NULL,
	[NONWORKYN] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
