USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOGUSEREVENT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOGUSEREVENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOGUSEREVENTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[USERNAME] [varchar](max) NULL,
	[IPADDRESS] [varchar](max) NULL,
	[EVENT] [varchar](max) NULL,
	[LOGUSEREVENTCONTEXTID] [numeric](12, 0) NULL,
	[PROCESSING] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[SESSIONMINUTES] [numeric](12, 0) NULL,
	[SCRIPTNAME] [varchar](max) NULL,
	[SERVERNAME] [varchar](max) NULL,
	[CLNEPCSTFAATTEMPTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[SOURCEINSTANCE] [varchar](max) NULL,
	[ISARCHIVED] [bit] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
