USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CUSTOMAPPOINTMENTFIELDS]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CUSTOMAPPOINTMENTFIELDS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTRECORDNUMBERID] [numeric](12, 0) NULL,
	[CUSTOMFIELDNAME] [varchar](max) NULL,
	[CUSTOMFIELDVALUE] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CUSTOMFIELDDELETEDDATETIME] [datetime2](7) NULL,
	[CUSTOMFIELDDELETEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
