USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PLACEOFSERVICE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PLACEOFSERVICE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PLACEOFSERVICEID] [varchar](500) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[FACILITYYN] [varchar](max) NULL,
	[ORDERING] [numeric](22, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[MEDCINSETTING] [varchar](max) NULL,
	[HCCCOMPLIANTYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
