USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[TERMINAL]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TERMINAL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[TERMINALID] [varchar](250) NULL,
	[TERMINALCONTEXTID] [numeric](12, 0) NULL,
	[MERCHANTID] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[TESTMODEYN] [varchar](max) NULL,
	[RETESTSTATUS] [varchar](max) NULL,
	[PRODUCTTYPE] [varchar](max) NULL,
	[TESTINGSTATUSVISA] [varchar](max) NULL,
	[VISATESTEPAYMENTID] [numeric](12, 0) NULL,
	[TESTINGSTATUSAMEX] [varchar](max) NULL,
	[AMEXTESTEPAYMENTID] [numeric](12, 0) NULL,
	[LASTTESTEPAYMENTDATETIME] [datetime2](7) NULL,
	[AUDITTESTSTATUS] [varchar](max) NULL,
	[AUDITTESTDETAIL] [varchar](max) NULL,
	[EXPEDITETESTINGYN] [varchar](max) NULL,
	[OVERRIDETESTINGYN] [varchar](max) NULL,
	[VISAAMOUNT] [numeric](12, 2) NULL,
	[AMEXAMOUNT] [numeric](12, 2) NULL,
	[DEPOSITAMOUNT] [numeric](12, 2) NULL,
	[DISCREPANCYCOUNT] [numeric](12, 0) NULL,
	[WORKEDEVENT] [varchar](max) NULL,
	[LASTWORKEDDATETIME] [datetime2](7) NULL,
	[LASTWORKEDBY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[VANTIVYN] [varchar](max) NULL,
	[SIMPLIFYTERMID] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
