USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CUSTOMRULE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CUSTOMRULE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CUSTOMRULEID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[INSTRUCTIONS] [varchar](max) NULL,
	[CUSTOMRULECATEGORYID] [numeric](12, 0) NULL,
	[NEXTCLAIMSTATUS] [varchar](max) NULL,
	[SCRUBTYPE] [varchar](max) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[HOLDREASON] [numeric](12, 0) NULL,
	[RULETRACKERID] [varchar](max) NULL,
	[STARTDATEDATETIME] [datetime] NULL,
	[ENDDATEDATETIME] [datetime] NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
