USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CMCAREPLAN]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CMCAREPLAN](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CMCAREPLANID] [numeric](12, 0) NULL,
	[PLANTYPE] [varchar](max) NULL,
	[ARCHIVEDREASON] [varchar](max) NULL,
	[ARCHIVEDDATEUTCDATETIME] [datetime2](7) NULL,
	[PLANNAME] [varchar](max) NULL,
	[INPTSTAYID] [numeric](12, 0) NULL,
	[ARCHIVEDYN] [varchar](max) NULL,
	[ARCHIVEDDETAILS] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
