USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ERADETAIL]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ERADETAIL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ERARECORDID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](22, 0) NULL,
	[CHARGEID] [numeric](22, 0) NULL,
	[PAYERCONTROLNUMBER] [varchar](max) NULL,
	[PAYERNAME] [varchar](max) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[CLAIMALLOWABLE] [numeric](11, 2) NULL,
	[CLAIMCOINSURANCE] [numeric](11, 2) NULL,
	[CLAIMCONTRACTUAL] [numeric](11, 2) NULL,
	[CLAIMCOPAY] [numeric](11, 2) NULL,
	[CLAIMDEDUCTIBLE] [numeric](11, 2) NULL,
	[CLAIMGLOBAL] [numeric](11, 2) NULL,
	[CLAIMPAYMENT] [numeric](11, 2) NULL,
	[CLAIMWITHHOLD] [numeric](11, 2) NULL,
	[ALLOWABLE] [numeric](11, 2) NULL,
	[COINSURANCE] [numeric](11, 2) NULL,
	[CONTRACTUAL] [numeric](11, 2) NULL,
	[COPAY] [numeric](11, 2) NULL,
	[DEDUCTIBLE] [numeric](11, 2) NULL,
	[GLOBAL] [numeric](11, 2) NULL,
	[OTHERADJUSTMENT] [numeric](11, 2) NULL,
	[OTHERADJUSTMENTREASON] [varchar](max) NULL,
	[OTHERTRANSFER] [numeric](11, 2) NULL,
	[OTHERTRANSFERREASON] [varchar](max) NULL,
	[PATIENTTRANSFER] [numeric](11, 2) NULL,
	[PAYMENT] [numeric](11, 2) NULL,
	[WITHHOLD] [numeric](11, 2) NULL,
	[INTEREST] [numeric](12, 2) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[INCENTIVEPAYMENT] [numeric](12, 2) NULL,
	[REVERSALFLAG] [varchar](max) NULL,
	[ERABATCHCONTEXTID] [numeric](12, 0) NULL,
	[ERABATCHID] [numeric](12, 0) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[AEGISINSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
