USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[APPOINTMENTTYPEMATRIX]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[APPOINTMENTTYPEMATRIX](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPEMATRIXID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[PATIENTINSTRUCTIONGROUPID] [numeric](12, 0) NULL,
	[SCHEDULABLEPATIENTSTATUS] [varchar](max) NULL,
	[ONLINECHECKINSTATUS] [varchar](max) NULL,
	[ONLINECHECKINDAYSBEFOREAPPT] [numeric](12, 0) NULL,
	[EMAILCONFIRMATIONSTATUS] [varchar](max) NULL,
	[REQUIRECANCELREASONSTATUS] [varchar](max) NULL,
	[SCHEDULINGMINHOURS] [numeric](12, 0) NULL,
	[SCHEDULINGMAXDAYS] [numeric](12, 0) NULL,
	[EMAILREMINDERSTATUS] [varchar](max) NULL,
	[EMAILREMINDERDAYS] [numeric](12, 0) NULL,
	[APPOINTMENTCOUNT] [numeric](12, 0) NULL,
	[SCHEDULABLEATHENASTATUS] [varchar](max) NULL,
	[PARMAPCUSTOM] [varchar](max) NULL,
	[WEBSCHEDULECUSTOM] [varchar](max) NULL,
	[APPOINTMENTEMAILCUSTOM] [varchar](max) NULL,
	[ACESCHEDULABLEPATIENTSTATUS] [varchar](max) NULL,
	[ACESCHEDULINGMAXDAYS] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
