USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[APPTSPECIALTYAPPTTYPE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[APPTSPECIALTYAPPTTYPE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[APPTSPECIALTYAPPTTYPEID] [numeric](12, 0) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[GLOBALAPPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[SHORTNAME] [varchar](max) NULL,
	[DURATION] [numeric](12, 0) NULL,
	[PATIENTAPPOINTMENTLABELID] [numeric](12, 0) NULL,
	[Record_Created_date] [datetime] NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
