USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[SLIDINGFEEPROGRAM]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[SLIDINGFEEPROGRAM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[SLIDINGFEEPROGRAMID] [numeric](12, 0) NULL,
	[PROGRAMNAME] [varchar](max) NULL,
	[POVERTYBASEDYN] [varchar](max) NULL,
	[AUTOADDYN] [varchar](max) NULL,
	[PROMPTPAYYN] [varchar](max) NULL,
	[PROMPTPAYDAYS] [numeric](6, 0) NULL,
	[PRIORITY] [numeric](12, 0) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
