USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[RECORDNUMBERCATEGORY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[RECORDNUMBERCATEGORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[RECORDNUMBERCATEGORYID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[LENGTH] [numeric](12, 0) NULL,
	[RNCTYPE] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[PRINTONLABELSYN] [varchar](max) NULL,
	[PRINTONSCHEDULEYN] [varchar](max) NULL,
	[PRINTONCHARTGUIDEYN] [varchar](max) NULL,
	[SYNCENTERPRISEFLAG] [varchar](max) NULL,
	[DISALLOWUPDATEYN] [varchar](max) NULL,
	[CASESENSITIVEYN] [varchar](max) NULL,
	[VIEWONLYONFULLREGISTRATIONYN] [varchar](max) NULL,
	[SHOWONADMITHISTORYYN] [varchar](max) NULL,
	[SHOWONAPPOINTMENTHISTORYYN] [varchar](max) NULL,
	[SHOWONPATIENTSEARCHRESULTSYN] [varchar](max) NULL,
	[COPYONAPPOINTMENTRESCHEDYN] [varchar](max) NULL,
	[SELECTYN] [varchar](max) NULL,
	[REQUIREDYN] [varchar](max) NULL,
	[SEARCHABLEYN] [varchar](max) NULL,
	[SHOWONBASICCLAIMVIEW] [varchar](max) NULL,
	[ISPATIENTIDENTIFIERYN] [varchar](1) NULL,
	[INTERNALNAME] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
