USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PAYMENTPLAN]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PAYMENTPLAN](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PAYMENTPLANID] [numeric](11, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[MAXCYCLES] [numeric](12, 0) NULL,
	[CYCLEAMOUNT] [numeric](10, 2) NULL,
	[CYCLEPERIOD] [numeric](10, 0) NULL,
	[DOWNPAYMENT] [numeric](10, 2) NULL,
	[CHARGEDAY] [numeric](2, 0) NULL,
	[CHARGEDAYOFWEEK] [numeric](2, 0) NULL,
	[LASTBILLEDTIMESTAMPDATETIME] [datetime2](7) NULL,
	[CYCLESBILLED] [numeric](10, 0) NULL,
	[CYCLESPAID] [numeric](10, 0) NULL,
	[DOLLARSINPAIDCYCLES] [numeric](12, 2) NULL,
	[PLANNOTES] [varchar](max) NULL,
	[PAYMENTPLANTYPEID] [numeric](38, 0) NULL,
	[EPAYMENTCONTRACTID] [numeric](12, 0) NULL,
	[INPATIENTCOINSURANCE] [numeric](10, 0) NULL,
	[DEDUCTIBLE] [numeric](10, 0) NULL,
	[STOPLOSSCAP] [numeric](10, 0) NULL,
	[FAMILYSIZE] [numeric](4, 0) NULL,
	[FAMILYINCOME] [numeric](11, 0) NULL,
	[PROVIDERGROUPID] [numeric](38, 0) NULL,
	[MEDICALGROUPID] [numeric](38, 0) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[WRITEOFFPERCENTAGE] [numeric](11, 0) NULL,
	[NEWCHARGEACTION] [varchar](max) NULL,
	[BILLEDMETHOD] [varchar](max) NULL,
	[BILLINGSTARTDATETIME] [datetime2](7) NULL,
	[BILLINGMETHOD] [varchar](max) NULL,
	[FREQUENCY] [varchar](max) NULL,
	[DEACTIVATEYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
