USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[GPCIMultiplier]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[GPCIMultiplier](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[GPCIMULTIPLIERID] [numeric](38, 0) NULL,
	[GPCILOCATIONID] [numeric](38, 0) NULL,
	[WORK] [numeric](8, 3) NULL,
	[PRACTICEEXPENSE] [numeric](8, 3) NULL,
	[MALPRACTICE] [numeric](8, 3) NULL,
	[EFFECTIVEDATE] [date] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
