USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ICDCodeAll]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ICDCodeAll](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ICDCODEID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](200) NULL,
	[DIAGNOSISCODEDESCRIPTION] [varchar](2000) NULL,
	[PARENTDIAGNOSISCODE] [varchar](200) NULL,
	[DIAGNOSISCODESET] [varchar](200) NULL,
	[CODECLASS] [varchar](200) NULL,
	[DIAGNOSISCODEGROUP] [varchar](2000) NULL,
	[SUBCATEGORY] [varchar](500) NULL,
	[EFFECTIVEDATE] [date] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[UNSTRIPPEDDIAGNOSISCODE] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[ISDELETED] [bit] NULL,
	[DIAGNOSISCODESETID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
