USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CONTEXT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CONTEXT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[CLASS] [varchar](max) NULL,
	[PARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATED] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
	[DELETED] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[PROVIDERCOUNT] [numeric](38, 0) NULL,
	[GOLIVEDATE] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
