USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[TABLESPACEINFO]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TABLESPACEINFO](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[TABLESPACEINFOID] [numeric](12, 0) NULL,
	[KEY] [varchar](500) NULL,
	[VALUE] [varchar](8000) NULL,
	[REFERSTOTABLE] [varchar](500) NULL,
	[DEPARTMENTID] [numeric](38, 0) NULL,
	[PROVIDERGROUPID] [numeric](38, 0) NULL,
	[MEDICALGROUPID] [numeric](38, 0) NULL,
	[CASENUMBER] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](500) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
