USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CLINICALVACCINE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLINICALVACCINE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALVACCINEID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[LOTNUMBER] [varchar](max) NULL,
	[CLINICALVACCINESITEID] [numeric](38, 0) NULL,
	[INFORMATIONSTATEMENTDATEDATETIME] [datetime2](7) NULL,
	[MANUFACTURER] [varchar](max) NULL,
	[MVX] [varchar](max) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[APPROVEDDATETIME] [datetime2](7) NULL,
	[APPROVEDBY] [varchar](max) NULL,
	[ADMINISTEREDDATETIME] [datetime2](7) NULL,
	[ADMINISTEREDBY] [varchar](max) NULL,
	[VISGIVENDATEDATETIME] [datetime2](7) NULL,
	[ADMINISTERYN] [varchar](max) NULL,
	[ADMINISTERNOTE] [varchar](max) NULL,
	[ORDERYN] [varchar](max) NULL,
	[NOTEFORPHARMACYFROMPRESCRIBER] [varchar](max) NULL,
	[SIG] [varchar](max) NULL,
	[QUANTITY] [numeric](18, 6) NULL,
	[DISPLAYQUANTITYUNITS] [varchar](max) NULL,
	[NDC] [varchar](max) NULL,
	[NUMBERREFILLSALLOWED] [numeric](12, 0) NULL,
	[DISPENSEASWRITTENYN] [varchar](max) NULL,
	[TIETOADMINISTERDOCUMENTID] [numeric](12, 0) NULL,
	[TIETOADMINISTERHISTORICALID] [numeric](38, 0) NULL,
	[HIDDEN] [varchar](max) NULL,
	[PERSISTENCEYN] [varchar](max) NULL,
	[AIRLOCKYN] [varchar](max) NULL,
	[REFUSEDYN] [varchar](max) NULL,
	[REFUSEDDATEDATETIME] [datetime2](7) NULL,
	[REFUSEDREASON] [varchar](max) NULL,
	[REFUSEDNOTE] [varchar](max) NULL,
	[VFCSTATUS] [varchar](max) NULL,
	[FUNDINGSOURCE] [varchar](max) NULL,
	[PUBLICITYCODE] [varchar](max) NULL,
	[SCANNEDBY] [varchar](max) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[BILLINGNDC] [varchar](max) NULL,
	[VACCINECTRAINDID] [numeric](12, 0) NULL,
	[ADMINISTERROUTEID] [numeric](8, 0) NULL,
	[ADMINISTERROUTEGCRT2] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
