USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOCALCLAIMRULE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALCLAIMRULE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALCLAIMRULEID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[SHORTDESCRIPTION] [varchar](max) NULL,
	[CLAIMRULECATEGORYID] [numeric](12, 0) NULL,
	[NOTE] [varchar](max) NULL,
	[CODE] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[OVERRIDECLAIMRULEID] [numeric](12, 0) NULL,
	[OVERRIDELOCALYN] [varchar](max) NULL,
	[STARTDATEDATETIME] [datetime] NULL,
	[ENDDATEDATETIME] [datetime] NULL,
	[EMCRECEIVERID] [numeric](12, 0) NULL,
	[CLAIMFORMAT] [varchar](max) NULL,
	[RULETRACKERID] [numeric](38, 0) NULL,
	[CLAIMFORMATIDS] [varchar](max) NULL,
	[EMCRECEIVERIDS] [varchar](max) NULL,
	[HEALTHCARECLAIMTYPEID] [numeric](12, 0) NULL,
	[SCRUBTYPE] [varchar](max) NULL,
	[RULEREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[CLAIMRULETEMPLATEID] [numeric](12, 0) NULL,
	[OVERRIDENETWORKYN] [varchar](max) NULL,
	[RULEBUILDERCODE] [varchar](max) NULL,
	[ANSIVERSIONIDS] [varchar](max) NULL,
	[CLAIMFORMATVERSIONIDS] [varchar](max) NULL,
	[RULEENGINEID] [numeric](38, 0) NULL,
	[RULETYPEID] [numeric](38, 0) NULL,
	[INTERNALFIXTEXT] [varchar](max) NULL,
	[EXTERNALDESCRIPTION] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
