USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTSTATEMENT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTSTATEMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTSTATEMENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ACCOUNTNUMBER] [varchar](max) NULL,
	[VERSION] [numeric](12, 0) NULL,
	[BILLINGBATCHID] [numeric](12, 0) NULL,
	[QUICKPAYCODE] [varchar](max) NULL,
	[BILLINGLINE1] [varchar](max) NULL,
	[BILLINGLINE2] [varchar](max) NULL,
	[BILLINGLINE3] [varchar](max) NULL,
	[BILLINGLINE4] [varchar](max) NULL,
	[ATHENABILLINGPOBOXNUMBER] [varchar](max) NULL,
	[STATEMENTDATEDATETIME] [datetime2](7) NULL,
	[STATEMENTADDRESSLINE1] [varchar](max) NULL,
	[STATEMENTADDRESSLINE2] [varchar](max) NULL,
	[STATEMENTADDRESSLINE3] [varchar](max) NULL,
	[STATEMENTADDRESSLINE4] [varchar](max) NULL,
	[PAYTORETURNLINE1] [varchar](max) NULL,
	[PAYTORETURNLINE2] [varchar](max) NULL,
	[PAYTORETURNLINE3] [varchar](max) NULL,
	[PAYTORETURNLINE4] [varchar](max) NULL,
	[PRINTLOUISIANANOTICEYN] [varchar](max) NULL,
	[GUARANTORNAME] [varchar](max) NULL,
	[TOTALDUEFROMPATIENT] [numeric](12, 2) NULL,
	[SUMOFAGEDBALANCE] [numeric](12, 2) NULL,
	[DUEDATEDATETIME] [datetime2](7) NULL,
	[VOIDTEXT] [varchar](max) NULL,
	[PHONE] [varchar](max) NULL,
	[INSURANCEPENDING] [numeric](12, 2) NULL,
	[AGEDBALANCEOVER30] [numeric](12, 2) NULL,
	[AGEDBALANCEOVER60] [numeric](12, 2) NULL,
	[AGEDBALANCEOVER90] [numeric](12, 2) NULL,
	[AGEDBALANCEOVER120] [numeric](12, 2) NULL,
	[AGEDBALANCECURRENT] [numeric](12, 2) NULL,
	[PATIENTSTATEMENTNOTE] [varchar](max) NULL,
	[DUNNINGMESSAGE] [varchar](max) NULL,
	[PRACTICESTATEMENTNOTE] [varchar](max) NULL,
	[TRANSMISSIONTYPE] [varchar](max) NULL,
	[IMAGEFILENAME] [varchar](max) NULL,
	[STATEMENTBRANDID] [numeric](12, 0) NULL,
	[REVIEWEDDATETIME] [datetime2](7) NULL,
	[REVIEWEDBY] [varchar](max) NULL,
	[RECONSTATUS] [varchar](max) NULL,
	[VENDORSYSTEMID] [varchar](max) NULL,
	[OUTBOUNDFILENAME] [varchar](max) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[MEDICALGROUPID] [numeric](12, 0) NULL,
	[COMMUNICATORBRANDID] [numeric](12, 0) NULL,
	[DUNNINGLEVEL] [numeric](12, 0) NULL,
	[PAYMENTPLANYN] [varchar](max) NULL,
	[STATEMENTCATEGORY] [varchar](max) NULL,
	[SENTTOVENDORDATETIME] [datetime2](7) NULL,
	[TOTALPATIENTBALANCE] [numeric](12, 2) NULL,
	[RECONNOTE] [varchar](max) NULL,
	[VENDORNAME] [varchar](max) NULL,
	[RETURNEDDATETIME] [datetime2](7) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
