USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTSNOMEDPROBLEM]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTSNOMEDPROBLEM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTSNOMEDPROBLEMID] [numeric](12, 0) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[STATUS] [varchar](max) NULL,
	[RESOLUTIONPLAN] [varchar](max) NULL,
	[LATERALITY] [varchar](max) NULL,
	[SEVERITY] [varchar](max) NULL,
	[STARTDATEDATETIME] [datetime2](7) NULL,
	[STARTDATEMASK] [varchar](max) NULL,
	[ENDDATEDATETIME] [datetime2](7) NULL,
	[ENDEDBY] [varchar](max) NULL,
	[PROBLEMNOTE] [varchar](max) NULL,
	[SOURCE] [varchar](max) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[PROBLEMLISTID] [numeric](12, 0) NULL,
	[ENTEREDDATETIME] [datetime2](7) NULL,
	[ENTEREDBY] [varchar](max) NULL,
	[HIDDENDATETIME] [datetime2](7) NULL,
	[HIDDENNOTE] [varchar](max) NULL,
	[HIDDENBY] [varchar](max) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
