USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[FDB_RMIID1]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FDB_RMIID1](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[FDB_RMIID1ID] [numeric](12, 0) NULL,
	[MED_MEDID_DESC] [varchar](max) NULL,
	[MED_REF_GEN_SPREAD_CD] [varchar](max) NULL,
	[MED_STATUS_CD] [varchar](max) NULL,
	[MED_STRENGTH_UOM_RAW] [varchar](max) NULL,
	[MED_NAME_SOURCE_CD] [varchar](max) NULL,
	[ROUTED_DOSAGE_FORM_MED_ID] [numeric](8, 0) NULL,
	[MEDID] [numeric](8, 0) NULL,
	[MED_REF_FED_LEGEND_IND] [varchar](max) NULL,
	[MED_REF_DESI_IND] [varchar](max) NULL,
	[MED_REF_MULTI_SOURCE_CD] [varchar](max) NULL,
	[ORDERING] [numeric](38, 0) NULL,
	[GCN_SEQNO] [numeric](6, 0) NULL,
	[GENERIC_MEDID] [numeric](8, 0) NULL,
	[MED_REF_GEN_DRUG_NAME_CD] [varchar](max) NULL,
	[MED_REF_GEN_COMP_PRICE_CD] [varchar](max) NULL,
	[MED_REF_DESI2_IND] [varchar](max) NULL,
	[MED_REF_GEN_THERA_EQU_CD] [varchar](max) NULL,
	[MED_STRENGTH] [varchar](max) NULL,
	[MED_STRENGTH_UOM] [varchar](max) NULL,
	[MED_GCNSEQNO_ASSIGN_CD] [varchar](max) NULL,
	[MED_REF_DEA_CD] [varchar](max) NULL,
	[MED_REF_INNOV_IND] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
