USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CMPLANGOAL]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CMPLANGOAL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CMPLANGOALID] [numeric](12, 0) NULL,
	[ACTIVEYN] [varchar](max) NULL,
	[GOALDESCRIPTION] [varchar](max) NULL,
	[GOALNAME] [varchar](max) NULL,
	[SNOMEDSTATUS] [numeric](18, 0) NULL,
	[CMCAREPLANID] [numeric](12, 0) NULL,
	[GOALPROGRESS] [varchar](max) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[PRIORITYYN] [varchar](max) NULL,
	[ENDDATEUTCDATETIME] [datetime2](7) NULL,
	[GOALDESCRIPTIONCLOB] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
