USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PORTALFORM]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PORTALFORM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PORTALFORMID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[LIVEONPORTALYN] [varchar](max) NULL,
	[LIVEFORPARTNERYN] [varchar](max) NULL,
	[MINAGE] [numeric](5, 0) NULL,
	[MAXAGE] [numeric](5, 0) NULL,
	[AGEUNIT] [varchar](max) NULL,
	[SEX] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
