USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ERARECORD]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ERARECORD](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ERARECORDID] [numeric](12, 0) NULL,
	[ERABATCHID] [numeric](22, 0) NULL,
	[CHARGEID] [numeric](22, 0) NULL,
	[CLAIMALLOWABLE] [numeric](11, 2) NULL,
	[CLAIMCOINSURANCE] [numeric](11, 2) NULL,
	[CLAIMCONTRACTUAL] [numeric](11, 2) NULL,
	[CLAIMCOPAY] [numeric](11, 2) NULL,
	[CLAIMDEDUCTIBLE] [numeric](11, 2) NULL,
	[CLAIMGLOBAL] [numeric](11, 2) NULL,
	[CLAIMPAYMENT] [numeric](11, 2) NULL,
	[CLAIMWITHHOLD] [numeric](11, 2) NULL,
	[ALLOWABLE] [numeric](11, 2) NULL,
	[COINSURANCE] [numeric](11, 2) NULL,
	[CONTRACTUAL] [numeric](11, 2) NULL,
	[COPAY] [numeric](11, 2) NULL,
	[DEDUCTIBLE] [numeric](11, 2) NULL,
	[GLOBAL] [numeric](11, 2) NULL,
	[OTHERADJUSTMENT] [numeric](11, 2) NULL,
	[OTHERADJUSTMENTREASON] [varchar](max) NULL,
	[OTHERTRANSFER] [numeric](11, 2) NULL,
	[OTHERTRANSFERREASON] [varchar](max) NULL,
	[PATIENTTRANSFER] [numeric](11, 2) NULL,
	[ORIGINALPAYMENT] [numeric](11, 2) NULL,
	[PAYMENT] [numeric](11, 2) NULL,
	[WITHHOLD] [numeric](11, 2) NULL,
	[KICKCODE] [varchar](max) NULL,
	[KICKREASONID] [numeric](11, 0) NULL,
	[ACTION] [varchar](max) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[FROMDATEDATETIME] [datetime2](7) NULL,
	[TODATEDATETIME] [datetime2](7) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[DIAGNOSISCODE1] [varchar](max) NULL,
	[DAYS] [numeric](22, 0) NULL,
	[AMOUNT] [numeric](22, 3) NULL,
	[BILLEDDATEDATETIME] [datetime2](7) NULL,
	[PATIENTID] [numeric](22, 0) NULL,
	[PATIENTLASTNAME] [varchar](max) NULL,
	[PATIENTFIRSTNAME] [varchar](max) NULL,
	[PATIENTSSN] [varchar](max) NULL,
	[PATIENTDOBDATETIME] [datetime2](7) NULL,
	[CLAIMID] [numeric](22, 0) NULL,
	[FAILUREREASON] [varchar](max) NULL,
	[APPLIEDDATETIME] [datetime2](7) NULL,
	[APPLIEDBY] [varchar](max) NULL,
	[CONTROLNUMBER] [varchar](max) NULL,
	[PATIENTCONTROLNUMBER] [varchar](max) NULL,
	[PAYORREMITCODE] [varchar](max) NULL,
	[PATIENTINSURANCEIDNUMBER] [varchar](max) NULL,
	[SUBSCRIBERINSURANCEIDNUMBER] [varchar](max) NULL,
	[CORRECTEDINSURANCEIDNUMBER] [varchar](max) NULL,
	[REVERSALFLAG] [varchar](max) NULL,
	[PATIENTMIDDLEINITIAL] [varchar](max) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[KICKEDAMOUNT] [numeric](11, 2) NULL,
	[CAPITATED] [numeric](11, 2) NULL,
	[MANUALFLAG] [varchar](max) NULL,
	[BALANCETRANSACTIONTYPE] [varchar](max) NULL,
	[BALANCETRANSACTIONREASON] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[NOTETYPE] [varchar](max) NULL,
	[CLAIMCAPITATED] [numeric](11, 2) NULL,
	[IMAGEFILEPAGENUMBER] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[AEGISINSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[KICKREASONCATEGORYID] [numeric](12, 0) NULL,
	[CHECKCCNUMBER] [varchar](max) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[MATCHEDDATETIME] [datetime2](7) NULL,
	[MATCHEDBY] [varchar](max) NULL,
	[ESCALATIONLEVEL] [numeric](12, 0) NULL,
	[DISCARDNOTE] [varchar](max) NULL,
	[MAPPEDDATETIME] [datetime2](7) NULL,
	[MAPPEDBY] [varchar](max) NULL,
	[DISCARDSTATUS] [varchar](max) NULL,
	[ERADISCARDSTATUSREASONID] [varchar](max) NULL,
	[ERADISCARDSTATUSID] [varchar](max) NULL,
	[PATIENTINSURANCEID] [numeric](12, 0) NULL,
	[ASSIGNMENTGROUPCLASSID] [numeric](12, 0) NULL,
	[PENDALARMDATEDATETIME] [datetime2](7) NULL,
	[INTEREST] [numeric](12, 2) NULL,
	[INCENTIVEPAYMENT] [numeric](12, 2) NULL,
	[DISCARDEDDATETIME] [datetime2](7) NULL,
	[DISCARDEDBY] [varchar](max) NULL,
	[PARTIALPOSTSIGNEDOFFDATETIME] [datetime2](7) NULL,
	[PARTIALPOSTSIGNEDOFFBY] [varchar](max) NULL,
	[CLAIMSOURCEDATA] [varchar](max) NULL,
	[SOURCEDATA] [varchar](max) NULL,
	[UNPOSTABLEROUTEID] [numeric](12, 2) NULL,
	[FEE] [numeric](12, 2) NULL,
	[BADDEBT] [numeric](12, 2) NULL,
	[PAIDCOLLECTOR] [numeric](12, 2) NULL,
	[PAIDPRACTICE] [numeric](12, 2) NULL,
	[TREATASTERTIARYYN] [varchar](max) NULL,
	[PAYORCONTROLNUMBER] [varchar](max) NULL,
	[PAYORCONTROLNUMBER2] [varchar](max) NULL,
	[PAYORCONTROLNUMBER3] [varchar](max) NULL,
	[UNMAPPEDKICKJOBID] [numeric](12, 0) NULL,
	[CHECKAMOUNT] [numeric](22, 2) NULL,
	[CHECKDATEDATETIME] [datetime2](7) NULL,
	[CHECKIDENTIFIER] [varchar](max) NULL,
	[PAYORSTATE] [varchar](max) NULL,
	[PAYMENTMETHOD] [varchar](max) NULL,
	[PARTIALPOSTRESOLVEBYREASON] [varchar](max) NULL,
	[CLAIMSTATUSCODE] [varchar](max) NULL,
	[PARENTERARECORDID] [numeric](12, 0) NULL,
	[SUBMITTEDPROCEDURECODE] [varchar](max) NULL,
	[SUBMITTEDDAYS] [numeric](22, 0) NULL,
	[ANSICLAIMFILINGINDICATORID] [numeric](12, 0) NULL,
	[CLAIMPATIENTRESPONSIBLE] [numeric](11, 2) NULL,
	[PAYORPROVIDERNUMBER] [varchar](max) NULL,
	[FISCALPERIODDATEDATETIME] [datetime2](7) NULL,
	[PLBREASONCODE] [varchar](max) NULL,
	[MATCHINGSCORE] [numeric](8, 2) NULL,
	[PROVIDERCONTROLNUMBER] [varchar](max) NULL,
	[DUALPOSTCLONEERARECORDID] [numeric](12, 0) NULL,
	[DUALPOSTCLONECONTEXTID] [numeric](12, 0) NULL,
	[BILLINGBATCHID] [numeric](12, 0) NULL,
	[CROSSOVERPAYERNAME] [varchar](max) NULL,
	[CROSSOVERPAYERNUM] [varchar](max) NULL,
	[CROSSOVERPAYERTYPE] [varchar](max) NULL,
	[OTHERSUBSCRIBERLASTNAME] [varchar](max) NULL,
	[OTHERSUBSCRIBERFIRSTNAME] [varchar](max) NULL,
	[OTHERSUBSCRIBERORGANIZATION] [varchar](max) NULL,
	[EXPIRYDATEDATETIME] [datetime2](7) NULL,
	[RECEIVEDDATEDATETIME] [datetime2](7) NULL,
	[POLICYIDENTIFICATION] [varchar](max) NULL,
	[INCENTIVEPROGRAMID] [numeric](12, 0) NULL,
	[INCENTIVEPROGRAMYEAR] [numeric](12, 0) NULL,
	[PROVIDERLASTNAME] [varchar](max) NULL,
	[PROVIDERFIRSTNAME] [varchar](max) NULL,
	[PAYEETAXIDNUMBER] [varchar](max) NULL,
	[PATIENTSTATEMENTID] [numeric](12, 0) NULL,
	[CONTRACTTYPE] [varchar](max) NULL,
	[DRG] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_date] [datetime] NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
