USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ClaimNote]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ClaimNote](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLAIMNOTEID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[CHARGEID] [numeric](38, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[ACTION] [varchar](max) NULL,
	[TRANSFERTYPE] [varchar](max) NULL,
	[CLAIMSTATUS] [varchar](max) NULL,
	[PENDINGFLAG] [varchar](max) NULL,
	[PATIENTINSURANCEID] [numeric](12, 0) NULL,
	[SCRUBTYPE] [varchar](max) NULL,
	[RULECLASS] [varchar](max) NULL,
	[CLAIMRULEID] [numeric](12, 0) NULL,
	[CLAIMRULENAME] [varchar](max) NULL,
	[ATHENAKICKREASONID] [numeric](12, 0) NULL,
	[BILLINGPROVIDERID] [numeric](12, 0) NULL,
	[BILLINGINSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[SCRUBACTION] [numeric](3, 0) NULL,
	[FRONTENDACTION] [numeric](3, 0) NULL,
	[BACKENDACTION] [numeric](3, 0) NULL,
	[TRANSACTIONPOSTED] [numeric](3, 0) NULL,
	[DENIALSTATUSENTRY] [numeric](3, 0) NULL,
	[SCRUBFIXTEXT] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[KICKDATE] [datetime2](7) NULL,
	[REMARKCODE] [varchar](max) NULL,
	[REMARKCODE_DESCRIPTION] [varchar](max) NULL,
	[ATHENA_KICKCODE] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[BILLINGBATCHID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[ACTIONRESPONSE] [varchar](max) NULL,
	[CONTACTNAME] [varchar](max) NULL,
	[CONTACTNUMBER] [varchar](max) NULL,
	[PAYMENTMETHOD] [varchar](max) NULL,
	[CLAIMREFERENCENUMBER] [varchar](max) NULL,
	[CALLREFERENCENUMBER] [varchar](max) NULL,
	[PAYMENTAMOUNT] [numeric](12, 2) NULL,
	[PAYMENTDATEDATETIME] [datetime2](7) NULL,
	[KICKREASONID] [numeric](12, 0) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[REQUIRESMANUALCLOSEYN] [varchar](max) NULL,
	[LOCALCLAIMRULEID] [numeric](12, 0) NULL,
	[FIXTEXT] [varchar](max) NULL,
	[KICKDAYS] [numeric](12, 2) NULL,
	[ACTIVATIONDATEDATETIME] [datetime2](7) NULL,
	[CUSTOMAPPEALLETTERID] [numeric](38, 0) NULL,
	[APPEALLETTERID] [numeric](38, 0) NULL,
	[IMAGEFILEPAGENUMBER] [numeric](12, 0) NULL,
	[REASONTABLE] [varchar](max) NULL,
	[REASONROWID] [numeric](38, 0) NULL,
	[NEXTCLAIMNOTEID] [numeric](12, 0) NULL,
	[FULLYWORKEDREASONID] [varchar](max) NULL,
	[OVERRIDEABLEYN] [varchar](max) NULL,
	[PAYMENTAMOUNTNAFLAG] [varchar](max) NULL,
	[PAYMENTDATENAFLAG] [varchar](max) NULL,
	[CHECKCCNUMBER] [varchar](max) NULL,
	[CHECKCCNUMBERNAFLAG] [varchar](max) NULL,
	[CHECKAMOUNT] [numeric](22, 2) NULL,
	[CHECKAMOUNTNAFLAG] [varchar](max) NULL,
	[CHECKIDENTIFIER] [varchar](max) NULL,
	[CHECKIDENTIFIERNAFLAG] [varchar](max) NULL,
	[CASHEDDATEDATETIME] [datetime2](7) NULL,
	[CASHEDDATENAFLAG] [varchar](max) NULL,
	[CLAIMSITUATIONSCRIPTNODEID] [numeric](12, 0) NULL,
	[RESOLUTIONTEMPLATEYN] [varchar](max) NULL,
	[POSTBILLKICKREASONID] [numeric](12, 0) NULL,
	[POSTBILLKICKCLAIMNOTEID] [numeric](12, 0) NULL,
	[POSTBILLKICKSETDATETIME] [datetime2](7) NULL,
	[POSTBILLKICKSETBY] [varchar](max) NULL,
	[POSTBILLKICKDISABLEDDATETIME] [datetime2](7) NULL,
	[POSTBILLKICKDISABLEDBY] [varchar](max) NULL,
	[CUSTOMRULEID] [numeric](12, 0) NULL,
	[FILINGLIMITDAYSID] [numeric](12, 0) NULL,
	[UNPOSTABLEID] [numeric](12, 0) NULL,
	[UNPOSTABLECONTEXTID] [numeric](12, 0) NULL,
	[NEXTSCRUBDATEDATETIME] [datetime2](7) NULL,
	[NETWORKCLAIMRULEID] [numeric](12, 0) NULL,
	[CSITRANSACTIONID] [numeric](12, 0) NULL,
	[OUTBOUNDDOCUMENTID] [numeric](12, 0) NULL,
	[CLAIMSETID] [numeric](12, 0) NULL,
	[BESTELIGIBILITYTRACKID] [numeric](12, 0) NULL,
	[MEDICALGROUPENROLLMENTSTATUSID] [numeric](12, 0) NULL,
	[PROVIDERENROLLMENTSTATUSID] [numeric](12, 0) NULL,
	[SERVICERESTRICTIONID] [numeric](12, 0) NULL,
	[SUPPRESSKICKREASONTEXTYN] [varchar](max) NULL,
	[BULKACTIONSIZE] [numeric](12, 0) NULL,
	[CLEARINGHOUSEFILEREPORTID] [numeric](12, 0) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[OUTSTANDING] [numeric](12, 2) NULL,
	[BIZREQUIREMENTLOCATION] [varchar](max) NULL,
	[BIZREQUIREMENTID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
