USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[APPOINTMENT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[APPOINTMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[PARENTAPPOINTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTDATE] [date] NULL,
	[APPOINTMENTSTARTTIME] [varchar](max) NULL,
	[APPOINTMENTCREATEDDATETIME] [datetime2](7) NULL,
	[APPOINTMENTCREATEDBY] [varchar](max) NULL,
	[APPOINTMENTSCHEDULEDDATETIME] [datetime2](7) NULL,
	[SCHEDULEDBY] [varchar](max) NULL,
	[SCHEDULEDBYMDPPARTNERNAME] [varchar](max) NULL,
	[APPOINTMENTCHECKINDATETIME] [datetime2](7) NULL,
	[CHECKEDINBY] [varchar](max) NULL,
	[APPOINTMENTCHECKOUTDATETIME] [datetime2](7) NULL,
	[CHECKEDOUTBY] [varchar](max) NULL,
	[APPOINTMENTCANCELLEDDATETIME] [datetime2](7) NULL,
	[CANCELLEDBY] [varchar](max) NULL,
	[CANCELLEDBYMDPPARTNERNAME] [varchar](max) NULL,
	[STARTCHECKINDATETIME] [datetime2](7) NULL,
	[STOPSIGNOFFDATETIME] [datetime2](7) NULL,
	[RESCHEDULEDAPPOINTMENTID] [numeric](12, 0) NULL,
	[RESCHEDULEDDATETIME] [datetime2](7) NULL,
	[RESCHEDULEDBY] [varchar](max) NULL,
	[RESCHEDULEDBYMDPPARTNERNAME] [varchar](max) NULL,
	[APPOINTMENTSTATUS] [varchar](max) NULL,
	[FROZENYN] [varchar](max) NULL,
	[APPOINTMENTFROZENREASON] [varchar](max) NULL,
	[APPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[APPOINTMENTDURATION] [numeric](4, 0) NULL,
	[NOCHARGEENTRYREASON] [varchar](max) NULL,
	[APPOINTMENTCANCELREASON] [varchar](max) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[PRIMARYPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[SECONDARYPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[SCHEDULINGPROVIDER] [varchar](max) NULL,
	[SCHEDULINGPROVIDERID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[REFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[REFERRALAUTHID] [numeric](12, 0) NULL,
	[CYCLETIME] [numeric](24, 6) NULL,
	[PATIENTOUTSTANDINGAMOUNT] [numeric](12, 2) NULL,
	[PATIENTOUTSTANDINGCOLLECTED] [numeric](12, 2) NULL,
	[COLLECTIONSAMOUNT] [numeric](12, 2) NULL,
	[COLLECTIONSAMOUNTCOLLECTED] [numeric](12, 2) NULL,
	[PATIENTUNAPPLIEDAMOUNT] [numeric](12, 2) NULL,
	[PATIENTUNAPPLIEDCOLLECTED] [numeric](12, 2) NULL,
	[PATIENTFAMILYOUTSTANDINGAMT] [numeric](12, 2) NULL,
	[FAMILYOUTSTANDINGCOLLECTED] [numeric](12, 2) NULL,
	[PATIENTFAMILYCOLLECTIONAMT] [numeric](12, 2) NULL,
	[FAMILYCOLLECTIONCOLLECTED] [numeric](12, 2) NULL,
	[PATIENTOUTSTANDINGPMTCHOICE] [varchar](max) NULL,
	[PAYMENTPLANID] [numeric](11, 0) NULL,
	[APPOINTMENTDELETEDDATETIME] [datetime2](7) NULL,
	[APPOINTMENTDELETEDBY] [varchar](max) NULL,
	[NOCHARGEENTRYSIGNOFF] [varchar](max) NULL,
	[APPMTSCHEDULEDDATETIMEAST] [datetime2](7) NULL,
	[APPOINTMENTTYPEBLOCKID] [numeric](12, 0) NULL,
	[SCHEDULINGTEMPLATEID] [numeric](12, 0) NULL,
	[SUGGESTEDOVERBOOKING] [numeric](12, 0) NULL,
	[SLOTACTIONID] [numeric](38, 0) NULL,
	[FORCEDYN] [varchar](max) NULL,
	[TEMPLATEAPPOINTMENTID] [numeric](12, 0) NULL,
	[TEMPLATEAPPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[LOCALPATIENTAPPOINTMENTLABELID] [numeric](12, 0) NULL,
	[LOCALPATIENTAPPOINTMENTLABELNAME] [varchar](max) NULL,
	[GROUPCHECKINAPPOINTMENTID] [numeric](12, 0) NULL,
	[INITIALEPAYMENTCONTRACTID] [numeric](12, 0) NULL,
	[EPAYMENTCONTRACTID] [numeric](12, 0) NULL,
	[APPOINTMENTCONFIRMATIONID] [numeric](12, 0) NULL,
	[APPOINTMENTLASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[APPOINTMENTLASTMODIFIEDBY] [varchar](max) NULL,
	[APPOINTMENTCANCELREASONID] [numeric](12, 0) NULL,
	[PATIENTOUTSTANDINGPMTCHOICEID] [numeric](12, 0) NULL,
	[PATIENTOUTSTANDINGPMTCHOICEREASON] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
