USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTLABELAPPTMATRIX]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTLABELAPPTMATRIX](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTLABELAPPTMATRIXID] [numeric](12, 0) NULL,
	[LOCALPATIENTAPPOINTMENTLABELID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPEMATRIXID] [numeric](12, 0) NULL,
	[APPOINTMENTMATRIXSUMMARYID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[GLOBALID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
