USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ATTACHMENT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ATTACHMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ATTACHMENTID] [numeric](12, 0) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[ORIGINALFILENAME] [varchar](2000) NULL,
	[NOTES] [varchar](8000) NULL,
	[ATTACHMENTTYPEID] [numeric](12, 0) NULL,
	[FILENAME] [varchar](200) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
