USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ERADISCARDSTATUSREASON]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ERADISCARDSTATUSREASON](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](38, 0) NULL,
	[ERADISCARDSTATUSREASONID] [varchar](max) NULL,
	[ALLOWAMOUNTLESSTHANZEROYN] [varchar](max) NULL,
	[ALLOWATHENACONTROLNUMBERYN] [varchar](max) NULL,
	[ALLOWAMOUNTGREATERTHANZEROYN] [varchar](max) NULL,
	[ACCOUNTINGCATEGORYID] [numeric](12, 0) NULL,
	[ALLOWAMOUNTEQUALTOZEROYN] [varchar](max) NULL,
	[ATHENARETURNTYPEID] [varchar](max) NULL,
	[INTERNALONLYYN] [varchar](max) NULL,
	[AUTOCLOSEDAYS] [numeric](12, 0) NULL,
	[INITIALREASONYN] [varchar](max) NULL,
	[BATCHLEVELREMITYN] [varchar](max) NULL,
	[POSTERREVIEWFLAG] [varchar](max) NULL,
	[SHOWDATAFIELDSYN] [varchar](max) NULL,
	[UNPOSTABLECATEGORYID] [numeric](12, 0) NULL,
	[RESTRICTEVENTSYN] [varchar](max) NULL,
	[ALLOWAFTEREARLIESTDOSYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
