USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[VACCINEREFUSEDREASON]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[VACCINEREFUSEDREASON](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[VACCINEREFUSEDREASONID] [numeric](12, 0) NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[REFUSEDREASON] [varchar](200) NULL,
	[TYPE] [varchar](200) NULL,
	[PARENTVACCINEREFUSEDREASONID] [numeric](12, 0) NULL,
	[SUBCATEGORY] [varchar](200) NULL,
	[CATEGORY] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
