USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[FDB_RNDC14]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[FDB_RNDC14](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ORDERING] [numeric](38, 0) NULL,
	[GCN_SEQNO] [numeric](6, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[FDB_RNDC14ID] [numeric](12, 0) NULL,
	[LN60] [varchar](max) NULL,
	[NDL_LNGTH] [numeric](5, 3) NULL,
	[IPI] [varchar](max) NULL,
	[BN] [varchar](max) NULL,
	[BBDCDATETIME] [datetime2](7) NULL,
	[CSP] [numeric](7, 0) NULL,
	[PNDC] [varchar](max) NULL,
	[HCFA_MRKCDATETIME] [datetime2](7) NULL,
	[NDL_GDGE] [numeric](5, 3) NULL,
	[DESI2] [varchar](max) NULL,
	[OBC_EXP] [varchar](max) NULL,
	[HCFA_TYP] [varchar](max) NULL,
	[GTI] [varchar](max) NULL,
	[HOSP] [varchar](max) NULL,
	[HCFA_DC] [varchar](max) NULL,
	[LN25] [varchar](max) NULL,
	[SHLF_PCK] [numeric](7, 0) NULL,
	[LBLRID] [varchar](max) NULL,
	[OUTPCKI] [varchar](max) NULL,
	[DADDNCDATETIME] [datetime2](7) NULL,
	[UD] [varchar](max) NULL,
	[DUPDCDATETIME] [datetime2](7) NULL,
	[INPCKI] [varchar](max) NULL,
	[HCFA_PS] [numeric](11, 3) NULL,
	[PS_EQUIV] [numeric](11, 3) NULL,
	[MINI] [varchar](max) NULL,
	[OBC] [varchar](max) NULL,
	[NDCGI1] [varchar](max) NULL,
	[GMI] [varchar](max) NULL,
	[CL] [varchar](max) NULL,
	[PPI] [varchar](max) NULL,
	[HCFA_DESC1DATETIME] [datetime2](7) NULL,
	[DESI] [varchar](max) NULL,
	[SHIPPER] [numeric](7, 0) NULL,
	[SYR_CPCTY] [numeric](5, 3) NULL,
	[GSI] [varchar](max) NULL,
	[TOP50GEN] [varchar](max) NULL,
	[DEA] [varchar](max) NULL,
	[GPI] [varchar](max) NULL,
	[UU] [varchar](max) NULL,
	[DES2DTECDATETIME] [datetime2](7) NULL,
	[PD] [varchar](max) NULL,
	[HCFA_UNIT] [varchar](max) NULL,
	[AD] [varchar](max) NULL,
	[HCFA_FDA] [varchar](max) NULL,
	[HCFA_TRMCDATETIME] [datetime2](7) NULL,
	[OBSDTECDATETIME] [datetime2](7) NULL,
	[INNOV] [varchar](max) NULL,
	[HCFA_APPCDATETIME] [datetime2](7) NULL,
	[TOP200] [varchar](max) NULL,
	[GNI] [varchar](max) NULL,
	[REPACK] [varchar](max) NULL,
	[HOME] [varchar](max) NULL,
	[NDC] [varchar](max) NULL,
	[MAINT] [varchar](max) NULL,
	[NDCFI] [varchar](max) NULL,
	[LN] [varchar](max) NULL,
	[STPK] [varchar](max) NULL,
	[REPNDC] [varchar](max) NULL,
	[GPIDCDATETIME] [datetime2](7) NULL,
	[DESDTECDATETIME] [datetime2](7) NULL,
	[LN25I] [varchar](max) NULL,
	[PLBLR] [varchar](max) NULL,
	[DF] [varchar](max) NULL,
	[HCFA_DESI1] [varchar](max) NULL,
	[OBC3] [varchar](max) NULL,
	[PS] [numeric](11, 3) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
