USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[TABLESPACEINFOAUDR]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TABLESPACEINFOAUDR](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[TABLESPACEINFOAUDRID] [numeric](12, 0) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[FIELDNAME] [varchar](max) NULL,
	[OLDVALUE] [varchar](max) NULL,
	[OPERATIONID] [numeric](12, 0) NULL,
	[OPERATION] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
