USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[TIMEZONECONFIGURATION]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TIMEZONECONFIGURATION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[TIMEZONECONFIGURATIONID] [numeric](12, 0) NULL,
	[TZNAME] [varchar](max) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[COMMUNICATORBRANDID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
