USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[DOCUMENT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DOCUMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[CREATEDCLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[ORDERDOCUMENTID] [numeric](12, 0) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[DOCUMENTCLASS] [varchar](max) NULL,
	[DOCUMENTSUBCLASS] [varchar](max) NULL,
	[DOCUMENTPRECLASS] [varchar](max) NULL,
	[DOCUMENTCATEGORY] [varchar](max) NULL,
	[DOCUMENTSUBJECT] [varchar](max) NULL,
	[DELEGATESIGNEDOFFBY] [varchar](max) NULL,
	[NEEDSPROVIDERDELEGATEACKYN] [varchar](max) NULL,
	[CLINICALORDERTYPE] [varchar](max) NULL,
	[CLINICALORDERTYPEGROUP] [varchar](max) NULL,
	[FBDMEDID] [varchar](max) NULL,
	[CLINICALPROVIDERORDERTYPE] [varchar](max) NULL,
	[CLINICALORDERGENUS] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[PROVIDERUSERNAME] [varchar](max) NULL,
	[CVX] [varchar](max) NULL,
	[VACCINEROUTE] [varchar](max) NULL,
	[PRIORITY] [varchar](max) NULL,
	[ASSIGNEDTO] [varchar](max) NULL,
	[NOTIFIER] [varchar](max) NULL,
	[SOURCE] [varchar](max) NULL,
	[ROUTE] [varchar](max) NULL,
	[SPECIMENDESCRIPTION] [varchar](max) NULL,
	[SPECIMENCOLLECTEDBY] [varchar](max) NULL,
	[SPECIMENCOLLECTEDDATETIME] [datetime2](7) NULL,
	[SPECIMENDRAWLOCATION] [varchar](max) NULL,
	[SPECIMENSOURCE] [varchar](max) NULL,
	[ALARMDAYS] [numeric](12, 0) NULL,
	[ALARMDATE] [date] NULL,
	[IMAGEEXISTSYN] [varchar](1) NULL,
	[ORDERDATETIME] [datetime2](7) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[RECEIVEDDATETIME] [datetime2](7) NULL,
	[REVIEWEDBY] [varchar](max) NULL,
	[REVIEWEDDATETIME] [datetime2](7) NULL,
	[OBSERVATIONDATETIME] [datetime2](7) NULL,
	[DEACTIVATEDDATETIME] [datetime2](7) NULL,
	[DEACTIVATEDBY] [varchar](max) NULL,
	[FUTURESUBMITDATETIME] [datetime2](7) NULL,
	[DENIEDDATETIME] [datetime2](7) NULL,
	[DENIEDBY] [varchar](max) NULL,
	[DOCUMENTTEXTDATA] [varchar](max) NULL,
	[APPROVEDDATETIME] [datetime2](7) NULL,
	[APPROVEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERTEXT] [varchar](max) NULL,
	[PROVIDERNOTE] [varchar](max) NULL,
	[PATIENTNOTE] [varchar](max) NULL,
	[EXTERNALNOTE] [varchar](max) NULL,
	[RESULTNOTES] [varchar](max) NULL,
	[INTERFACEVENDORNAME] [varchar](max) NULL,
	[OUTOFNETWORKREFREASONNAME] [varchar](max) NULL,
	[EXACTDUPLICATEDOCUMENTID] [numeric](12, 0) NULL,
	[AIRLOCKYN] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[CALLBACKNAME] [varchar](max) NULL,
	[CALLBACKNUMBER] [varchar](max) NULL,
	[CALLBACKNUMBERTYPE] [varchar](max) NULL,
	[CLIENTBILL] [varchar](max) NULL,
	[CLINICALENCOUNTERDATE] [datetime2](7) NULL,
	[CLINICALEPISODEID] [numeric](12, 0) NULL,
	[CLINICALPAPERFORMID] [numeric](38, 0) NULL,
	[CLINICALPROVIDERORDERTYPEID] [numeric](38, 0) NULL,
	[CONFIDENTIALYN] [varchar](max) NULL,
	[CONSENTDOCUMENTID] [numeric](12, 0) NULL,
	[CONTAINSRESULTQUALITYIMAGEYN] [varchar](max) NULL,
	[COSIGNATURE1BY] [varchar](max) NULL,
	[COSIGNATURE1TIMESTAMP] [datetime2](7) NULL,
	[COSIGNATURE2BY] [varchar](max) NULL,
	[COSIGNATURE2TIMESTAMP] [datetime2](7) NULL,
	[CUSTOMORDERCODE] [varchar](max) NULL,
	[DEFAULTSOURCE] [varchar](max) NULL,
	[DEFAULTSOURCEID] [numeric](12, 0) NULL,
	[DISCUSSEDBY] [varchar](max) NULL,
	[DISCUSSEDTIMESTAMP] [datetime2](7) NULL,
	[DOCUMENTATIONONLYYN] [varchar](max) NULL,
	[DOCUMENTBARCODEID] [numeric](16, 0) NULL,
	[DOCUMENTERRORACTIONID] [numeric](12, 0) NULL,
	[DOCUMENTLABELTEXT] [varchar](max) NULL,
	[DOCUMENTPROCESSINGRULEID] [numeric](12, 0) NULL,
	[DOCUMENTSUBMISSIONBATCHID] [numeric](12, 0) NULL,
	[DOCUMENTWORKFLOWNAME] [varchar](max) NULL,
	[DUPLICATEGROUP] [numeric](12, 0) NULL,
	[ERRORFLAG] [varchar](max) NULL,
	[FAXGROUPID] [numeric](12, 0) NULL,
	[FAXWORKFLOWCAPTURERESULTID] [numeric](12, 0) NULL,
	[FORCEDOUBLEDATAENTRY] [varchar](max) NULL,
	[FOREIGNDOCUMENTNUMBER] [varchar](max) NULL,
	[FROMFAXNUMBER] [varchar](max) NULL,
	[FROMREMOTE] [varchar](max) NULL,
	[FULFILLSORDERCHECKLISTVALUEID] [numeric](38, 0) NULL,
	[GLOBALCLINICALPAPERFORMID] [numeric](38, 0) NULL,
	[HISTORICALYN] [varchar](max) NULL,
	[IMAGEFILELINK] [varchar](max) NULL,
	[IMAGEGROUPID] [numeric](12, 0) NULL,
	[INCOMINGSTATUS] [varchar](max) NULL,
	[INPTSTAYID] [numeric](12, 0) NULL,
	[INTERFACEMESSAGEID] [numeric](12, 0) NULL,
	[INTERFACEVENDORID] [varchar](max) NULL,
	[INTERNALINTERPRETATION] [varchar](max) NULL,
	[INTERNALTEXT] [varchar](max) NULL,
	[INUNCONFIGUREDBUCKETYN] [varchar](max) NULL,
	[NEWDOSAGE] [varchar](max) NULL,
	[NEWRXNAME] [varchar](max) NULL,
	[NONATHENAYN] [varchar](max) NULL,
	[NUMPRESCRIPTIONS] [numeric](2, 0) NULL,
	[OBSERVATIONTIMEENTERED] [varchar](max) NULL,
	[OCRPRIORITY] [numeric](38, 0) NULL,
	[OCRSTATUS] [varchar](max) NULL,
	[OCRTEMPLATEID] [numeric](12, 0) NULL,
	[OCRTEMPLATEPROCESSINGTIME] [numeric](12, 6) NULL,
	[OFFMENUYN] [varchar](max) NULL,
	[ORDERINVOICEYN] [varchar](max) NULL,
	[OUTBOUNDYN] [varchar](1) NULL,
	[OUTOFNETWORKREFERRALREASONID] [numeric](12, 0) NULL,
	[PARENTORDERDOCUMENTID] [numeric](38, 0) NULL,
	[PARENTREQUISITIONID] [numeric](38, 0) NULL,
	[PATIENTCASEID] [numeric](38, 0) NULL,
	[PATIENTDOB] [datetime2](7) NULL,
	[PATIENTFACINGSTATUS] [varchar](max) NULL,
	[PERFORMINGPROVIDER] [varchar](max) NULL,
	[PERSISTENCEYN] [varchar](max) NULL,
	[PRACTICEFAXID] [numeric](12, 0) NULL,
	[PRESIGNED] [varchar](max) NULL,
	[PROCESSINGHOLDTIMESTAMP] [datetime2](7) NULL,
	[PROVIDERDELEGATEACK] [datetime2](7) NULL,
	[PROVIDERDELEGATOR] [varchar](max) NULL,
	[SCHEDULEWITHIN] [varchar](max) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[SPLITBYPATIENT] [varchar](max) NULL,
	[STANDINGCANCELLED] [datetime2](7) NULL,
	[STANDINGCANCELLEDBY] [varchar](max) NULL,
	[STANDINGDURATIONDAYS] [numeric](5, 0) NULL,
	[STANDINGDURATIONMONTHS] [numeric](4, 0) NULL,
	[STANDINGFREQUENCYDAYS] [numeric](4, 0) NULL,
	[STANDINGFREQUENCYMONTHS] [numeric](4, 0) NULL,
	[STANDINGORDERDOCUMENTID] [numeric](38, 0) NULL,
	[STANDINGORDERFOREIGNID] [varchar](max) NULL,
	[STANDINGSTARTDATE] [datetime2](7) NULL,
	[SUPERSEDEDDOCUMENTID] [numeric](12, 0) NULL,
	[SUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[TIETOFOREIGNDOCUMENTNUMBER] [varchar](max) NULL,
	[LASTSUBMITTEDBY] [varchar](max) NULL,
	[LASTSUBMITTEDTIMESTAMP] [datetime2](7) NULL,
	[CLINICALORDERTYPEID] [numeric](38, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
