USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[APPOINTMENTTICKLER]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[APPOINTMENTTICKLER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[APPOINTMENTTICKLERID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[PATIENTINSTRUCTIONS] [varchar](max) NULL,
	[STAFFINSTRUCTIONS] [varchar](max) NULL,
	[APPOINTMENTDATE] [date] NULL,
	[REMINDERGENERATEDDATETIME] [datetime2](7) NULL,
	[REMINDERGENERATEDBY] [varchar](max) NULL,
	[SOURCECLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
