USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PORTALADOPTIONACTION]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PORTALADOPTIONACTION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PORTALADOPTIONACTIONID] [numeric](12, 0) NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[ADOPTIONCOMPLETEDDATETIME] [datetime2](7) NULL,
	[MESSAGESUBTYPE] [varchar](max) NULL,
	[PORTALUSERSMSREGISTRATIONID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ACTIONDATEDATETIME] [datetime2](7) NULL,
	[PORTALADOPTIONACTIONCLASSID] [numeric](12, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[SECUREMESSAGEDOCUMENTID] [numeric](12, 0) NULL,
	[USERNAME] [varchar](max) NULL,
	[TABLENAME] [varchar](max) NULL,
	[PORTALTHIRDPARTYUSERID] [numeric](12, 0) NULL,
	[HARDSTOPYN] [varchar](max) NULL,
	[APPOINTMENTSTAGE] [varchar](max) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[MESSAGETYPE] [varchar](max) NULL,
	[SECUREMESSAGEPROMPTDISPLAYEDDATETIME] [datetime2](7) NULL,
	[FIELDNAME] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
