USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTPAYMENT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTPAYMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTPAYMENTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[CHARGEID] [numeric](12, 0) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[MEDICALGROUPID] [numeric](12, 0) NULL,
	[AMOUNT] [numeric](12, 2) NULL,
	[TRANSACTIONREASONID] [varchar](max) NULL,
	[CHECKNUMBER] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[PREPAYMENTID] [numeric](12, 0) NULL,
	[VENDORCODE] [varchar](max) NULL,
	[EXTERNALREFID] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
