USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PROCEDURECODE_Backup_20240327]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PROCEDURECODE_Backup_20240327](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PROCEDURECODEID] [numeric](12, 0) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[PROCEDURECODEDESCRIPTION] [varchar](max) NULL,
	[PROCEDURECODEGROUP] [varchar](max) NULL,
	[EFFECTIVEDATE] [datetime2](7) NULL,
	[EXPIRATIONDATE] [datetime2](7) NULL,
	[RVU] [numeric](13, 2) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
