USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOCALWORKLISTCATEGORY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALWORKLISTCATEGORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LOCALWORKLISTCATEGORYID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[DEFAULTYN] [varchar](max) NULL,
	[PRIORITY] [numeric](12, 0) NULL,
	[LOCALWORKLISTTEAMID] [numeric](12, 0) NULL,
	[REQUESTSIZE] [numeric](12, 0) NULL,
	[ASSIGNMENTLIMIT] [numeric](12, 0) NULL,
	[ORDERBY] [varchar](max) NULL,
	[WORKLISTTEAMID] [numeric](12, 0) NULL,
	[ORGANIZATIONID] [varchar](max) NULL,
	[PARENTLOCALWORKLISTCATEGORYID] [numeric](12, 0) NULL,
	[PARENTWORKLISTCATEGORYID] [numeric](12, 0) NULL,
	[INSTRUCTIONS] [varchar](max) NULL,
	[SCENARIO] [varchar](max) NULL,
	[DEFAULTPENDDURATION] [numeric](2, 0) NULL,
	[DEFAULTPENDREASSIGNYN] [varchar](max) NULL,
	[WORKFLOWTYPE] [varchar](max) NULL,
	[WORKLISTLOCATIONID] [numeric](12, 0) NULL,
	[WORKLISTWORKFLOWTYPEID] [numeric](12, 0) NULL,
	[DEFAULTGROUPBY1] [varchar](max) NULL,
	[DEFAULTGROUPBY2] [varchar](max) NULL,
	[DEFAULTSORTBY] [varchar](max) NULL,
	[Record_Created_date] [datetime] NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
