USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ClinicalPrescription]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ClinicalPrescription](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALPRESCRIPTIONID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[RXREFERENCEIDENTIFIER] [varchar](max) NULL,
	[LABELNAME] [varchar](max) NULL,
	[STARTDATEDATETIME] [datetime2](7) NULL,
	[STOPDATEDATETIME] [datetime2](7) NULL,
	[MEDDEACTIVATEREASONID] [numeric](12, 0) NULL,
	[GCNSEQNO] [numeric](12, 0) NULL,
	[RENEWALSIG] [varchar](max) NULL,
	[SIG] [varchar](max) NULL,
	[DOSAGEFORM] [varchar](max) NULL,
	[DOSAGEACTION] [varchar](max) NULL,
	[DISPLAYDOSAGEUNITS] [varchar](max) NULL,
	[DISPLAYQUANTITYUNITS] [varchar](max) NULL,
	[DOSAGESTRENGTH] [numeric](12, 1) NULL,
	[DOSAGESTRENGTHUNITS] [varchar](max) NULL,
	[DISPLAYDOSAGEQUANTITY] [numeric](18, 6) NULL,
	[DOSAGEQUANTITY] [numeric](18, 6) NULL,
	[DOSAGEROUTE] [varchar](max) NULL,
	[FREQUENCY] [varchar](max) NULL,
	[DURATION] [numeric](12, 0) NULL,
	[ADDITIONALSIGINSTRUCTIONS] [varchar](max) NULL,
	[PACKAGESIZE] [numeric](12, 3) NULL,
	[PACKAGESIZEUNITS] [varchar](max) NULL,
	[NDC] [varchar](max) NULL,
	[SAMPLENDC] [varchar](max) NULL,
	[ADMINISTERNDC] [varchar](max) NULL,
	[ORDERYN] [varchar](max) NULL,
	[QUANTITY] [numeric](18, 6) NULL,
	[NUMBERREFILLSALLOWED] [numeric](12, 0) NULL,
	[DONTMODIFYNUMBERREFILLSYN] [varchar](max) NULL,
	[DISPENSEASWRITTENYN] [varchar](max) NULL,
	[NOTEFORPHARMACYFROMPRESCRIBER] [varchar](max) NULL,
	[NOTEFORPRESCRIBERFROMPHARMACY] [varchar](max) NULL,
	[NOTEFROMPHARMACYYN] [varchar](max) NULL,
	[SAMPLEYN] [varchar](max) NULL,
	[SAMPLELOTNUMBER] [varchar](max) NULL,
	[SAMPLEEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[SAMPLEQUANTITY] [numeric](18, 6) NULL,
	[ADMINISTERYN] [varchar](max) NULL,
	[MEDICATIONADMINISTEREDDATETIME] [datetime2](7) NULL,
	[MEDICATIONADMINISTEREDBY] [varchar](max) NULL,
	[ADMINISTERROUTE] [varchar](max) NULL,
	[ADMINISTERSITEID] [numeric](12, 0) NULL,
	[ADMINISTERLOTNUMBER] [varchar](max) NULL,
	[ADMINISTERMANUFACTURER] [varchar](max) NULL,
	[ADMINISTEREXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[ADMINISTERQUANTITY] [numeric](18, 6) NULL,
	[ADMINISTERNOTE] [varchar](max) NULL,
	[CHANGEFORDOCUMENTID] [numeric](12, 0) NULL,
	[CHANGEFORHISTORICALID] [numeric](12, 0) NULL,
	[REPLACEDENIEDDOCUMENTID] [numeric](12, 0) NULL,
	[LASTDISPENSEDDATEDATETIME] [datetime2](7) NULL,
	[LASTFILLDATEDATETIME] [datetime2](7) NULL,
	[DOSEPERKG] [numeric](12, 6) NULL,
	[WEIGHTBASEDUNIT] [varchar](max) NULL,
	[WEIGHTBASEDCOMPONENT] [numeric](6, 0) NULL,
	[PATIENTWEIGHT] [numeric](18, 6) NULL,
	[WEIGHTBASEDCALCUNITS] [varchar](max) NULL,
	[UNHIDEFROMMEDLISTYN] [varchar](max) NULL,
	[WRITTENDATEDATETIME] [datetime2](7) NULL,
	[DAYSSUPPLY] [numeric](18, 6) NULL,
	[FROMCLINICALPRESCRIPTIONID] [numeric](12, 0) NULL,
	[FROMPATIENTMEDICATIONID] [numeric](38, 0) NULL,
	[FROMPRIORRECORDSOURCE] [varchar](max) NULL,
	[WEIGHTBASEDDOSINGONYN] [varchar](max) NULL,
	[WEIGHTBASEDRESULT] [numeric](18, 6) NULL,
	[NOTTOEXCEEDYN] [varchar](max) NULL,
	[NOTTOEXCEEDQUANTITY] [numeric](18, 6) NULL,
	[NOTTOEXCEEDUNIT] [varchar](max) NULL,
	[PREVIOUSSIG] [varchar](max) NULL,
	[NONRENEWABLEPREVIOUSSIGYN] [varchar](max) NULL,
	[COMPOUNDNAME] [varchar](max) NULL,
	[COMPOUNDDEASCHEDULE] [numeric](1, 0) NULL,
	[PERSISTENCEYN] [varchar](max) NULL,
	[AIRLOCKYN] [varchar](max) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[EARLIESTFILLDATEDATETIME] [datetime2](7) NULL,
	[CLNEPCSTFAATTEMPTID] [numeric](12, 0) NULL,
	[BILLINGNDC] [varchar](max) NULL,
	[SURESCRIPTSPAREQUIREDYN] [varchar](max) NULL,
	[PRIORAUTHORIZATIONNUMBER] [varchar](max) NULL,
	[ELIGTRACKRXINFOID] [numeric](12, 0) NULL,
	[AVGDAILYDOSEQUANTITY] [numeric](18, 6) NULL,
	[AVGDAILYDOSEUNIT] [varchar](max) NULL,
	[AVGDAILYDOSECALCULATEDUTCDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
