USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CRDIHETRANSACTION]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CRDIHETRANSACTION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CRDIHETRANSACTIONID] [numeric](12, 0) NULL,
	[ORGANIZATIONID] [varchar](max) NULL,
	[INTERFACEVENDORID] [varchar](max) NULL,
	[PATIENTID] [varchar](max) NULL,
	[HOMECOMMUNITYID] [varchar](max) NULL,
	[ORGANIZATION] [varchar](max) NULL,
	[PREFETCHYN] [varchar](max) NULL,
	[SUBJECTID] [varchar](max) NULL,
	[INTERFACEMESSAGEID] [numeric](11, 0) NULL,
	[RESOURCEID] [varchar](max) NULL,
	[FROMADDRESS] [varchar](max) NULL,
	[EVENT] [varchar](max) NULL,
	[DIRECTION] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
