USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[USERPROFILE]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[USERPROFILE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[USERCONTEXTDELETEDDATETIME] [datetime2](7) NULL,
	[USERCONTEXTDELETEDBY] [varchar](max) NULL,
	[USERPROFILEID] [numeric](12, 0) NULL,
	[USERCONTEXTID] [numeric](1, 0) NULL,
	[USERNAME] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[DEPARTMENTNAME] [varchar](max) NULL,
	[USERPOSITION] [varchar](max) NULL,
	[LASTLOGINDATE] [date] NULL,
	[BLOCKACCOUNTFLAG] [varchar](max) NULL,
	[BLOCKACCOUNTREASON] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[SSN] [varchar](max) NULL,
	[DOB] [date] NULL,
	[EMAIL] [varchar](max) NULL,
	[OTHERID] [varchar](max) NULL,
	[ALLOWEDACCESSHOURS] [varchar](max) NULL,
	[COOKIETIMEOUT] [numeric](12, 0) NULL,
	[ACCOUNTEXPIRES] [datetime2](7) NULL,
	[USERPOSITIONID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
