USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CRDHEALTHPLAN]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CRDHEALTHPLAN](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[CRDHEALTHPLANID] [numeric](12, 0) NULL,
	[SUPERPACKAGEIDS] [varchar](max) NULL,
	[ROLLOUTCONTEXTIDS] [varchar](max) NULL,
	[INTERFACEVENDORID] [varchar](max) NULL,
	[INTERFACETYPE] [varchar](max) NULL,
	[INSURANCEREPORTINGCATEGORYIDS] [varchar](max) NULL,
	[INBOUNDINTERFACEVENDORID] [varchar](max) NULL,
	[PAYER] [varchar](max) NULL,
	[CLAIMSUBMISSIONCATEGORYIDS] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[MESSAGETYPE] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
