USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[TEMPCLAIMDIAGNOSIS]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TEMPCLAIMDIAGNOSIS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[TEMPCLAIMDIAGNOSISID] [numeric](12, 0) NULL,
	[PRESENTONADMISSIONINDICATOR] [varchar](max) NULL,
	[SEQUENCENUMBER] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[MAPPEDCLAIMDIAGNOSISID] [numeric](12, 0) NULL,
	[ICDCODEALLID] [numeric](12, 0) NULL,
	[DIAGNOSISCODESETID] [numeric](12, 0) NULL,
	[MANUALMAPYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
