USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[INTERFACEMESSAGEPARAM]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[INTERFACEMESSAGEPARAM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[INTERFACEMESSAGEPARAMID] [numeric](12, 0) NULL,
	[ORIGINALMAPKEY] [varchar](200) NULL,
	[PARAMNAME] [varchar](500) NULL,
	[PARAMVALUE] [varchar](8000) NULL,
	[INTERFACEMESSAGEID] [numeric](11, 0) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[ORIGINALLOGTEXT] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](500) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
