USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[InterfaceMessage]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[InterfaceMessage](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[INTERFACEMESSAGEID] [numeric](11, 0) NULL,
	[INTERFACEMESSAGECONTEXTID] [numeric](12, 0) NULL,
	[MESSAGESTATE] [varchar](max) NULL,
	[INTERFACEVENDORID] [varchar](max) NULL,
	[INTERFACEMESSAGEFORMATID] [varchar](max) NULL,
	[INTERFACESUBSCRIPTIONID] [numeric](11, 0) NULL,
	[MESSAGETYPE] [varchar](max) NULL,
	[MESSAGEHASH] [varchar](max) NULL,
	[MESSAGEDESTINATION] [varchar](max) NULL,
	[PROCESSEDTIMESTAMPDATETIME] [datetime2](7) NULL,
	[CANONICALTYPE] [varchar](max) NULL,
	[CANONICALID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DEPARTMENTID] [varchar](max) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[SESSIONUSERNAME] [varchar](max) NULL,
	[SESSIONDEPARTMENTID] [numeric](12, 0) NULL,
	[SPECIFIER] [varchar](max) NULL,
	[FOREIGNMESSAGEID] [numeric](12, 0) NULL,
	[FOREIGNCONTEXTID] [numeric](12, 0) NULL,
	[ORIGINALINTERFACEMESSAGEID] [numeric](11, 0) NULL,
	[LASTSENTDATETIME] [datetime2](7) NULL,
	[CONTENTSUBSCRIPTIONID] [numeric](11, 0) NULL,
	[CATEGORY] [varchar](max) NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[UNIQUEKEY] [varchar](max) NULL,
	[BINARYUNIQUEKEY] [varchar](max) NULL,
	[STACKTRACE] [varchar](max) NULL,
	[FOREIGNSTACKID] [varchar](max) NULL,
	[INTERFACEEVENTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
