USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ANSISPECIALTY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ANSISPECIALTY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ANSISPECIALTYID] [numeric](12, 0) NULL,
	[ANSICODE] [varchar](max) NULL,
	[ANSIVERSION] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[NAMELEVEL1] [varchar](max) NULL,
	[NAMELEVEL2] [varchar](max) NULL,
	[NAMELEVEL3] [varchar](max) NULL,
	[BESTPRACTICEGROUPID] [numeric](12, 0) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
