USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[INTERFACETRANSLATION]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[INTERFACETRANSLATION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[INTERFACETRANSLATIONID] [numeric](12, 0) NULL,
	[FOREIGNFORMAT] [varchar](max) NULL,
	[PARENTINTERFACETRANSLATIONID] [numeric](12, 0) NULL,
	[INTERFACETRANSLATIONCONTEXTID] [numeric](12, 0) NULL,
	[APPROVEDDATETIME] [datetime2](7) NULL,
	[INTERNALNAME] [varchar](max) NULL,
	[ATHENAFORMAT] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[REUSABLE] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[MODULE] [varchar](max) NULL,
	[VERSIONORDERING] [numeric](12, 0) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[ACTIVECOPYID] [numeric](12, 0) NULL,
	[APPROVEDBY] [varchar](max) NULL,
	[INTERFACECLASSID] [numeric](12, 0) NULL,
	[VERSION] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
