USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[ERABATCH]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ERABATCH](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ASSIGNEDTO] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[ERABATCHID] [numeric](12, 0) NULL,
	[TOTALADJUSTMENTS] [numeric](22, 2) NULL,
	[TOTALTRANSFERS] [numeric](22, 2) NULL,
	[BANKSTATEMENTACCOUNTID] [numeric](38, 0) NULL,
	[BANKROUTINGNUMBER] [varchar](max) NULL,
	[TOTALCOPAYS] [numeric](22, 2) NULL,
	[SUBTOTALCHARGES] [varchar](max) NULL,
	[AUTOPAYMENTBATCHDATETIME] [datetime2](7) NULL,
	[SUBTOTALTRANSFERS] [varchar](max) NULL,
	[ANSIVERSIONID] [numeric](12, 0) NULL,
	[PAYORNAME] [varchar](max) NULL,
	[PAYORWEBSITE] [varchar](max) NULL,
	[PAYEEDELIVERYBYEMAIL] [varchar](max) NULL,
	[RECEIVERNUMBER] [varchar](max) NULL,
	[PAYEETAXIDNUMBER] [varchar](max) NULL,
	[PAYORTECHCONTACTNAME] [varchar](max) NULL,
	[PAYEEZIP] [varchar](max) NULL,
	[DUALPOSTCLONECONTEXTID] [numeric](12, 0) NULL,
	[PAYORBATCHNUMBER] [varchar](max) NULL,
	[SUBTOTALADJUSTMENTS] [varchar](max) NULL,
	[BYTELENGTH] [numeric](12, 0) NULL,
	[PAYORTECHFAX] [varchar](max) NULL,
	[PAYMENTBATCHROUTEID] [numeric](22, 0) NULL,
	[ASSIGNEDDATETIME] [datetime2](7) NULL,
	[RPOERAFILEID] [numeric](22, 0) NULL,
	[NOTES] [varchar](max) NULL,
	[ESCALATIONLEVEL] [numeric](12, 0) NULL,
	[PAYEEDELIVERYBYFTP] [varchar](max) NULL,
	[PAYEEADDRESS] [varchar](max) NULL,
	[PAYORIDNUMBER] [varchar](max) NULL,
	[EMCRECEIVERID] [numeric](22, 0) NULL,
	[PAYDATEDATETIME] [datetime2](7) NULL,
	[PAYEEDELIVERYBYMAILNAME] [varchar](max) NULL,
	[PAYEEDELIVERYBYONLINE] [varchar](max) NULL,
	[SOURCETRAILERDATA] [varchar](max) NULL,
	[POSTEDBY] [varchar](max) NULL,
	[SHAREDTINYN] [varchar](max) NULL,
	[PAYORCOUNTRYCODE] [varchar](max) NULL,
	[PAYEECOUNTRYCODE] [varchar](max) NULL,
	[TOTALPAYMENTS] [numeric](22, 2) NULL,
	[IMAGEFILENAME] [varchar](max) NULL,
	[KICKREASONCATEGORYID] [numeric](12, 0) NULL,
	[PAYORTECHURL] [varchar](max) NULL,
	[PAYORTECHEXTN] [varchar](max) NULL,
	[TOTALCHARGES] [numeric](22, 2) NULL,
	[SOURCEHEADERDATA] [varchar](max) NULL,
	[AEGISKICKREASONCATEGORYID] [numeric](12, 0) NULL,
	[PAYORTECHEMAIL] [varchar](max) NULL,
	[POSTEDDATETIME] [datetime2](7) NULL,
	[AEGISINSREPORTINGCATEGORYID] [numeric](12, 0) NULL,
	[PAYEESTATE] [varchar](max) NULL,
	[PAYEECITY] [varchar](max) NULL,
	[LOCALIDNUMBER] [numeric](22, 0) NULL,
	[UNIQUESTRING] [varchar](max) NULL,
	[PAYORTECHPHONE] [varchar](max) NULL,
	[BANKACCOUNTNUMBER] [varchar](max) NULL,
	[PROVIDERNUMBER] [varchar](max) NULL,
	[TARGETPAYMENTBATCHID] [numeric](12, 0) NULL,
	[PAYMENTMETHOD] [varchar](max) NULL,
	[CHECKNUMBER] [varchar](max) NULL,
	[BYTEOFFSET] [numeric](12, 0) NULL,
	[SUBTOTALPAYMENTS] [varchar](max) NULL,
	[ADDITIONALPAYEEIDNUMBER] [varchar](max) NULL,
	[FEDERALIDNUMBER] [varchar](max) NULL,
	[DUALPOSTCLONEERABATCHID] [numeric](12, 0) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
