USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTALLERGYREACTION]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTALLERGYREACTION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTALLERGYREACTIONID] [numeric](12, 0) NULL,
	[PATIENTALLERGYID] [numeric](38, 0) NULL,
	[REACTIONSNOMEDCODE] [numeric](18, 0) NULL,
	[REACTIONNAME] [varchar](max) NULL,
	[REACTIONSEVERITYSNOMEDCODE] [numeric](18, 0) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
