USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[SLIDINGFEEPLAN]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[SLIDINGFEEPLAN](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[SLIDINGFEEPLANID] [numeric](12, 0) NULL,
	[SLIDINGFEEPROGRAMID] [numeric](12, 0) NULL,
	[PLANNAME] [varchar](max) NULL,
	[CALCULATIONTYPE] [varchar](max) NULL,
	[POVERTYLEVELLOWERBOUND] [numeric](12, 0) NULL,
	[POVERTYLEVELUPPERBOUND] [numeric](12, 0) NULL,
	[FLATFEERESPONSIBILITY] [numeric](11, 2) NULL,
	[PATIENTRESPONSIBILITY] [numeric](11, 2) NULL,
	[CUSTOMTRANSACTIONCODE] [varchar](max) NULL,
	[TRANSACTIONREASON] [varchar](max) NULL,
	[PLANNOTE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
