USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PUBLICHEALTHREGISTRY]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PUBLICHEALTHREGISTRY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PUBLICHEALTHREGISTRYID] [numeric](12, 0) NULL,
	[ENROLLMENTCATEGORYID] [numeric](12, 0) NULL,
	[TYPE] [varchar](max) NULL,
	[REGISTRYREADYYN] [varchar](1) NULL,
	[INTERFACEVENDORID] [varchar](max) NULL,
	[ZIPCODES] [varchar](max) NULL,
	[STATE] [varchar](2) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
