USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOCALPHRSTATUS]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALPHRSTATUS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LOCALPHRSTATUSID] [numeric](12, 0) NULL,
	[INTERFACELIVEDATEDATETIME] [datetime2](7) NULL,
	[INVITATIONRECEIVEDDATEDATETIME] [datetime2](7) NULL,
	[TESTINGSTARTDATEDATETIME] [datetime2](7) NULL,
	[PHREGISTRYSTATUSTYPEID] [numeric](12, 0) NULL,
	[ONLYUSEREGISTRYSTATUSYN] [varchar](1) NULL,
	[ROISUBMITTEDDATEDATETIME] [datetime2](7) NULL,
	[NOTES] [varchar](max) NULL,
	[PUBLICHEALTHREGISTRYSTATUSID] [numeric](12, 0) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
