USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CUSTOMDEMOGRAPHICS]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CUSTOMDEMOGRAPHICS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CLIENTRECORDNUMBERID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CUSTOMFIELDNAME] [varchar](max) NULL,
	[CUSTOMFIELDTYPE] [varchar](max) NULL,
	[CUSTOMFIELDVALUE] [varchar](max) NULL,
	[RECORDNUMBERSELECTID] [numeric](12, 0) NULL,
	[RECORDNUMBERCATEGORYID] [numeric](12, 0) NULL,
	[RECORDNUMBERCATEGORYSELECTYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
