USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[DOCUMENTACTION]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DOCUMENTACTION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DOCUMENTACTIONID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[ASSIGNEDTO] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[PRIORITY] [varchar](max) NULL,
	[DOCUMENTCATEGORY] [varchar](max) NULL,
	[DOCUMENTCLASS] [varchar](max) NULL,
	[DOCUMENTSUBCLASS] [varchar](max) NULL,
	[DOCUMENTPRECLASS] [varchar](max) NULL,
	[ACTIONGROUP] [varchar](max) NULL,
	[ACTION] [varchar](max) NULL,
	[SYSTEMKEY] [varchar](max) NULL,
	[DOCUMENTERRORREASON] [varchar](max) NULL,
	[SENDFAXUNIQUEID] [varchar](max) NULL,
	[MOBILE] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[ERRORYN] [varchar](max) NULL,
	[PATIENTNOTIFIEDDATETIME] [datetime2](7) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[DOCUMENTACTIONREASONID] [numeric](38, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
