USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[TRANSACTIONEXTENSION]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TRANSACTIONEXTENSION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[TRANSACTIONEXTENSIONID] [numeric](12, 0) NULL,
	[TRANSACTIONID] [numeric](12, 0) NULL,
	[ANESTHESIASTARTTIME] [varchar](max) NULL,
	[ANESTHESIAENDTIME] [varchar](max) NULL,
	[TESTSPECIMENNUMBER] [varchar](max) NULL,
	[ANESTHESIACPTCODE] [varchar](max) NULL,
	[ANESTHESIANOTE] [varchar](max) NULL,
	[ORIGINALASACODE] [varchar](max) NULL,
	[ORIGINALBASEUNITS] [numeric](12, 0) NULL,
	[ORIGINALTIMEUNITS] [numeric](12, 0) NULL,
	[ORIGINALPUNITS] [numeric](12, 0) NULL,
	[BREASTRESULTCODE] [varchar](max) NULL,
	[CERVICALRESULTCODE] [varchar](max) NULL,
	[BREASTRECOMMENDATIONCODE] [varchar](max) NULL,
	[CLEARINGHOUSEFILEREPORTID] [numeric](12, 0) NULL,
	[CERVICALRECOMMENDATIONCODE] [varchar](max) NULL,
	[FOLLOWUPMONTHS] [varchar](max) NULL,
	[TUMORSIZE] [varchar](max) NULL,
	[TUMORSTAGE] [varchar](max) NULL,
	[TREATMENTSTARTEDYN] [varchar](max) NULL,
	[NOTREATMENTREASONCODE] [varchar](max) NULL,
	[PAPSMEARADEQUACYCODE] [varchar](max) NULL,
	[ANESTHESIACASEID] [numeric](12, 0) NULL,
	[ORIGINALDIAGNOSIS1] [varchar](max) NULL,
	[ORIGINALDIAGNOSIS2] [varchar](max) NULL,
	[ORIGINALUNITS] [numeric](12, 0) NULL,
	[SERVICEPROVIDERID] [numeric](12, 0) NULL,
	[FOREIGNCHARGEIDENTIFIER] [varchar](max) NULL,
	[DRUGNAME] [varchar](max) NULL,
	[DRUGDOSAGE] [varchar](max) NULL,
	[DRUGUNITQUALIFIER] [varchar](max) NULL,
	[DRUGUNITPRICE] [varchar](max) NULL,
	[REASONCODE] [varchar](max) NULL,
	[PURCHASEDSERVICESYN] [varchar](max) NULL,
	[PURCHASEDSERVICESPROVIDERID] [numeric](12, 0) NULL,
	[PURCHASEDSERVICESAMOUNT] [numeric](12, 2) NULL,
	[REPOSTEDFROMPAYMENTBATCHID] [numeric](12, 0) NULL,
	[REPOSTEDFROMTRANSACTIONID] [numeric](12, 0) NULL,
	[CHARGEBUNDLINGIDENTIFIER] [varchar](max) NULL,
	[AMBULANCETRIPREFERENCENUMBER] [numeric](12, 0) NULL,
	[REPOSTEDYN] [varchar](max) NULL,
	[ORIGINALPAYMENTYN] [varchar](max) NULL,
	[INCENTIVEPROGRAMID] [numeric](12, 0) NULL,
	[DELETED] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATED] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
