USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[PATIENTMESSAGEREQUESTEMAIL]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATIENTMESSAGEREQUESTEMAIL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[PATIENTMESSAGEREQUESTID] [numeric](12, 0) NULL,
	[ENDDATEDATETIME] [datetime2](7) NULL,
	[EMAILTOSENDID] [numeric](12, 0) NULL,
	[DUEDATEDATETIME] [datetime2](7) NULL,
	[ENDTIME] [numeric](6, 0) NULL,
	[STARTTIME] [numeric](6, 0) NULL,
	[PMGUPDATETYPEID] [numeric](12, 0) NULL,
	[FULLYWORKEDYN] [varchar](max) NULL,
	[PMQID] [numeric](12, 0) NULL,
	[UPDATEINPROGRESSDATETIME] [datetime2](7) NULL,
	[MVRESULTID] [numeric](12, 0) NULL,
	[STARTDATEDATETIME] [datetime2](7) NULL,
	[MESSAGEFINISHEDDATETIME] [datetime2](7) NULL,
	[PATIENTMESSAGEREQUESTEMAILID] [numeric](12, 0) NULL,
	[TOADDRESS] [varchar](max) NULL,
	[TIMEZONE] [varchar](max) NULL,
	[SUBSCRIBERKEY] [varchar](max) NULL,
	[BODY] [varchar](max) NULL,
	[FROMADDRESS] [varchar](max) NULL,
	[DAYMASK] [numeric](12, 0) NULL,
	[MVEXTERNALRESULTID] [varchar](max) NULL,
	[EMAILVARIABLES] [varchar](max) NULL,
	[SUBJECT] [varchar](max) NULL,
	[DELIVERYSERVICEID] [varchar](max) NULL,
	[DAYLIGHTSAVINGSTIMEYN] [varchar](max) NULL,
	[DEEPLINKHASH] [varchar](max) NULL,
	[MESSAGEVERSION] [varchar](max) NULL,
	[PRIORITYNAME] [varchar](max) NULL,
	[TIMEZONENAME] [varchar](max) NULL,
	[CAMPAIGNTEMPLATEID] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
