USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOCALTEXTMACRO]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALTEXTMACRO](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALTEXTMACROID] [numeric](12, 0) NULL,
	[MACRO] [varchar](max) NULL,
	[EXPANSIONCLOB] [varchar](max) NULL,
	[TEXTMACROID] [numeric](12, 0) NULL,
	[TEMPLATEID] [numeric](12, 0) NULL,
	[ENCOUNTERSECTION] [varchar](max) NULL,
	[UNIVERSALYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
