USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOINC]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOINC](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOINCID] [numeric](12, 0) NULL,
	[LOINCCODE] [varchar](200) NULL,
	[COMPONENT] [varchar](2000) NULL,
	[LONGCOMMONNAME] [varchar](2000) NULL,
	[SHORTNAME] [varchar](500) NULL,
	[PROPERTY] [varchar](200) NULL,
	[TIMEASPECT] [varchar](200) NULL,
	[SYSTEM] [varchar](500) NULL,
	[SCALE] [varchar](200) NULL,
	[METHOD] [varchar](500) NULL,
	[ISDELETED] [bit] NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
