USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[CLIENT]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLIENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLIENTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[PLCLASTNAME] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[PLCFIRSTNAME] [varchar](max) NULL,
	[MIDDLEINITIAL] [varchar](max) NULL,
	[PLCMIDDLEINITIAL] [varchar](max) NULL,
	[PREVIOUSLASTNAME] [varchar](max) NULL,
	[PLCPREVIOUSLASTNAME] [varchar](max) NULL,
	[MOTHERSMAIDENNAME] [varchar](max) NULL,
	[NAMESUFFIX] [varchar](max) NULL,
	[PLCNAMESUFFIX] [varchar](max) NULL,
	[PREFERREDNAME] [varchar](max) NULL,
	[PLCPREFERREDNAME] [varchar](max) NULL,
	[REGISTRATIONDATEDATETIME] [datetime2](7) NULL,
	[ADDRESS1] [varchar](max) NULL,
	[PLCADDRESS1] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[PLCADDRESS2] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[PLCCITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[HOMEPHONE] [varchar](max) NULL,
	[TRANSLATEDHOMEPHONEINDEX] [varchar](max) NULL,
	[WORKPHONE] [varchar](max) NULL,
	[TRANSLATEDWORKPHONEINDEX] [varchar](max) NULL,
	[OTHERPHONETYPE] [varchar](max) NULL,
	[OTHERPHONE] [varchar](max) NULL,
	[DOBDATETIME] [datetime2](7) NULL,
	[SSN] [varchar](max) NULL,
	[SEX] [varchar](max) NULL,
	[SEXUNKNOWNYN] [varchar](max) NULL,
	[REGISTRATIONDEPARTMENTID] [numeric](12, 0) NULL,
	[CURRENTDEPARTMENTID] [numeric](12, 0) NULL,
	[PRIMARYPROVIDERID] [numeric](12, 0) NULL,
	[MARITALSTATUSID] [varchar](max) NULL,
	[STUDENTSTATUSID] [varchar](max) NULL,
	[EMPLOYMENTSTATUSID] [varchar](max) NULL,
	[DECEASEDDATEDATETIME] [datetime2](7) NULL,
	[EMPLOYERNAME] [varchar](max) NULL,
	[EDUCATIONLEVELID] [numeric](12, 0) NULL,
	[REFERRALSOURCEID] [numeric](12, 0) NULL,
	[REFERRALSOURCEOTHER] [varchar](max) NULL,
	[ETHNICITYID] [numeric](12, 0) NULL,
	[RACEID] [numeric](12, 0) NULL,
	[PRIMARYLANGUAGEID] [numeric](12, 0) NULL,
	[PRIMARYLANGUAGEOTHER] [varchar](max) NULL,
	[TRANSFERDATEDATETIME] [datetime2](7) NULL,
	[STATUS] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[CONTACTNAME] [varchar](max) NULL,
	[CONTACTNAME2] [varchar](max) NULL,
	[CONTACTRELATIONSHIP] [varchar](max) NULL,
	[CONTACTPHONE1] [varchar](max) NULL,
	[CONTACTPHONE2] [varchar](max) NULL,
	[NEXTKINNAME] [varchar](max) NULL,
	[NEXTKINRELATIONSHIP] [varchar](max) NULL,
	[NEXTKINPHONE] [varchar](max) NULL,
	[RPFIRSTNAME] [varchar](max) NULL,
	[RPLASTNAME] [varchar](max) NULL,
	[RPMIDDLEINITIAL] [varchar](max) NULL,
	[RPDOBDATETIME] [datetime2](7) NULL,
	[GUARDIANFIRSTNAME] [varchar](max) NULL,
	[GUARDIANLASTNAME] [varchar](max) NULL,
	[GUARDIANMIDDLEINITIAL] [varchar](max) NULL,
	[REFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[EMAIL] [varchar](max) NULL,
	[DIRECTEMAIL] [varchar](max) NULL,
	[EMAILEXISTSYN] [varchar](max) NULL,
	[EMAILCONFIRMEDDATETIME] [datetime2](7) NULL,
	[LASTEMAIL] [varchar](max) NULL,
	[SUPPRESSSTATEMENT] [varchar](max) NULL,
	[ONLINESTATEMENTONLYYN] [varchar](max) NULL,
	[ONLINESTATEMENTONLYDATEDATETIME] [datetime2](7) NULL,
	[NEXTSTATEMENTDATEDATETIME] [datetime2](7) NULL,
	[STATEMENTNOTE] [varchar](max) NULL,
	[BALANCEFORWARDAMOUNT] [numeric](12, 2) NULL,
	[UNAPPLIEDAMOUNT] [numeric](12, 2) NULL,
	[EMPLOYERCITY] [varchar](max) NULL,
	[EMPLOYERADDRESS] [varchar](max) NULL,
	[EMPLOYERSTATE] [varchar](max) NULL,
	[EMPLOYERZIP] [varchar](max) NULL,
	[EMPLOYERCOUNTRYID] [numeric](22, 0) NULL,
	[EMPLOYERPHONE] [varchar](max) NULL,
	[OCCUPATIONID] [numeric](12, 0) NULL,
	[OCCUPATION] [varchar](max) NULL,
	[INDUSTRYID] [numeric](12, 0) NULL,
	[INDUSTRY] [varchar](max) NULL,
	[DIAGNOSIS1] [varchar](max) NULL,
	[DIAGNOSIS2] [varchar](max) NULL,
	[DIAGNOSIS3] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[FIRSTVISITDATEDATETIME] [datetime2](7) NULL,
	[CREDITBALANCE] [numeric](20, 2) NULL,
	[NEWPATIENTID] [numeric](12, 0) NULL,
	[OUTSTANDINGP] [numeric](12, 2) NULL,
	[CLAIMSTATUSP] [varchar](max) NULL,
	[HOLDSTATEMENTREASON] [varchar](max) NULL,
	[OTHERRECORDNUMBER] [varchar](max) NULL,
	[OVERDUEDATEDATETIME] [datetime2](7) NULL,
	[FAMILYCLIENTID] [numeric](12, 0) NULL,
	[IDOVERRIDDENYN] [varchar](max) NULL,
	[IMPORTUNIQUEID] [varchar](max) NULL,
	[IMPORTCOL1] [varchar](max) NULL,
	[IMPORTCOL2] [varchar](max) NULL,
	[EMPLOYERID] [numeric](38, 0) NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[RPADDRESS] [varchar](max) NULL,
	[RPCITY] [varchar](max) NULL,
	[RPSTATE] [varchar](max) NULL,
	[RPZIP] [varchar](max) NULL,
	[ORIGINALPRACTICEID] [numeric](12, 0) NULL,
	[CHARTHOME] [numeric](12, 0) NULL,
	[CHARTLOCATION] [numeric](12, 0) NULL,
	[CHARTHOLDER] [varchar](max) NULL,
	[COUNTRYID] [numeric](12, 0) NULL,
	[RPCOUNTRYID] [numeric](12, 0) NULL,
	[PRIVACYNOTICEGIVENFLAG] [varchar](max) NULL,
	[PRIVACYNOTICEGIVENDATEDATETIME] [datetime2](7) NULL,
	[PRIVACYNOTICENOTGIVENREASON] [varchar](max) NULL,
	[PRIVACYNOTICENOTGIVENNOTE] [varchar](max) NULL,
	[PRIVACYNOTICEGIVENDEPARTMENTID] [numeric](12, 0) NULL,
	[PRIVACYNOTICEGIVENBY] [varchar](max) NULL,
	[PATIENTSIGNATUREONFILEFLAG] [varchar](max) NULL,
	[PATIENTSIGNATUREEFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[PATIENTSIGNATUREEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[INSUREDSIGNATUREONFILEFLAG] [varchar](max) NULL,
	[INSUREDSIGNATUREEFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[INSUREDSIGNATUREEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[CONSENTTOCALLFLAG] [varchar](max) NULL,
	[CONSENTTOCALLFLAGEFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[SELFPAYRESTRICTIONYN] [varchar](max) NULL,
	[SIGNATURESOURCECODE] [varchar](max) NULL,
	[RESTRICTRECORDYN] [varchar](max) NULL,
	[CONFIDENTIALCOMMUNICATIONYN] [varchar](max) NULL,
	[BLOCKPATIENTYN] [varchar](max) NULL,
	[RESTRICTREPORTINGYN] [varchar](max) NULL,
	[MEDICATIONHISTORYCONSENTBY] [varchar](max) NULL,
	[MEDICATIONHISTORYCONSENTDATEDATETIME] [datetime2](7) NULL,
	[MEDICATIONHISTORYCONSENTYN] [varchar](max) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[HIPAAID] [varchar](max) NULL,
	[HOMEBOUNDYN] [varchar](max) NULL,
	[RPNAMESUFFIX] [varchar](max) NULL,
	[RPADDRESS2] [varchar](max) NULL,
	[GUARDIANNAMESUFFIX] [varchar](max) NULL,
	[MOBILEPHONE] [varchar](max) NULL,
	[HASMOBILEYN] [varchar](max) NULL,
	[TRANSLATEDMOBILEPHONEINDEX] [varchar](max) NULL,
	[MOBILECARRIERID] [numeric](12, 0) NULL,
	[RPSSN] [varchar](max) NULL,
	[RPPHONE] [varchar](max) NULL,
	[RPEMPLOYERID] [numeric](38, 0) NULL,
	[SAMEADDRESSFLAG] [varchar](max) NULL,
	[RELATIONSHIPTOPATIENTID] [numeric](12, 0) NULL,
	[STATEMENTNOTEEFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[STATEMENTNOTEEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[DEFAULTPRESCRIPTIONPROVIDERID] [numeric](38, 0) NULL,
	[DEFAULTLABPROVIDERID] [numeric](38, 0) NULL,
	[DEFAULTIMAGINGPROVIDERID] [numeric](38, 0) NULL,
	[LICENSENUMBER] [varchar](max) NULL,
	[LICENSESTATEID] [varchar](max) NULL,
	[LICENSEEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[PINCODE] [varchar](max) NULL,
	[ENCRYPTEDPINCODE] [varchar](max) NULL,
	[ENCRYPTEDPINCODESALT] [numeric](12, 0) NULL,
	[DONOTCALLYN] [varchar](max) NULL,
	[NOPORTALYN] [varchar](max) NULL,
	[NOPORTALADOPTIONEMAILYN] [varchar](max) NULL,
	[PORTALACCESSYN] [varchar](max) NULL,
	[PORTALACCESSPROVIDEDDATETIME] [datetime2](7) NULL,
	[PORTALTERMSONFILEFLAG] [varchar](max) NULL,
	[PORTALTERMSEFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[PORTALTERMSEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[PORTALREGISTRATIONDATEDATETIME] [datetime2](7) NULL,
	[QUICKPAYTERMSONFILEFLAG] [varchar](max) NULL,
	[QUICKPAYTERMSEFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[QUICKPAYTERMSEXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[SMSOPTINDATEDATETIME] [datetime2](7) NULL,
	[SMSPROMPTEDDATEDATETIME] [datetime2](7) NULL,
	[CONSENTTOTEXTYN] [varchar](max) NULL,
	[CONTACTPREFERENCE] [varchar](max) NULL,
	[HIESUBMISSIONYN] [varchar](max) NULL,
	[HIESUBMISSIONDATEDATETIME] [datetime2](7) NULL,
	[HIESUBMISSIONBY] [varchar](max) NULL,
	[HIERETRIEVALYN] [varchar](max) NULL,
	[HIERETRIEVALDATEDATETIME] [datetime2](7) NULL,
	[HIERETRIEVALBY] [varchar](max) NULL,
	[RPEMAIL] [varchar](max) NULL,
	[FAMILYSIZE] [numeric](2, 0) NULL,
	[UNCONFIRMEDFAMILYSIZE] [numeric](2, 0) NULL,
	[UNCONFFAMILYSIZEDECLINEDYN] [varchar](max) NULL,
	[YEARLYINCOME] [numeric](12, 2) NULL,
	[UNCONFIRMEDYEARLYINCOME] [numeric](12, 2) NULL,
	[INCOMEPERPAYPERIOD] [numeric](12, 2) NULL,
	[UNCONFIRMEDINCOMEPERPAYPERIOD] [numeric](12, 2) NULL,
	[PAYPERIOD] [varchar](max) NULL,
	[UNCONFIRMEDPAYPERIOD] [varchar](max) NULL,
	[UNCONFIRMEDINCOMEDECLINEDYN] [varchar](max) NULL,
	[UNCONFIRMEDFEDERALPOVERTYLEVEL] [numeric](12, 2) NULL,
	[AGRIWORKER] [varchar](max) NULL,
	[AGRIWORKERTYPES] [varchar](max) NULL,
	[HOMELESS] [varchar](max) NULL,
	[HOMELESSTYPES] [varchar](max) NULL,
	[VETERANSTATUS] [varchar](max) NULL,
	[SCHOOLBASED] [varchar](max) NULL,
	[PUBLICHOUSING] [varchar](max) NULL,
	[RPEMAILEXISTSYN] [varchar](max) NULL,
	[SHOWNEWFEATUREPORTALYN] [varchar](max) NULL,
	[PHONEMESSAGEOKYN] [varchar](max) NULL,
	[CONTACTTIMEID] [numeric](12, 2) NULL,
	[DIRECTORYYN] [varchar](max) NULL,
	[ORGANDONORYN] [varchar](max) NULL,
	[ALTCONTACTNAME] [varchar](max) NULL,
	[ALTCONTACTPHONE] [varchar](max) NULL,
	[RELIGIONID] [numeric](12, 2) NULL,
	[CHURCH] [varchar](max) NULL,
	[CARESUMMARYDELIVERYPREFERENCE] [varchar](max) NULL,
	[TESTPATIENTYN] [varchar](max) NULL,
	[STREAMLINEDTESTPATIENTYN] [varchar](max) NULL,
	[STREAMLINEDTESTUSERNAME] [varchar](max) NULL,
	[UNCONFINCOMERANGEDECLINEDYN] [varchar](max) NULL,
	[SEXUALORIENTATION] [varchar](max) NULL,
	[SEXUALORIENTATIONOTHER] [varchar](max) NULL,
	[SEXUALORIENTATIONID] [numeric](12, 0) NULL,
	[GENDERIDENTITY] [varchar](max) NULL,
	[GENDERIDENTITYOTHER] [varchar](max) NULL,
	[GENDERIDENTITYID] [numeric](12, 0) NULL,
	[ALTFIRSTNAME] [varchar](max) NULL,
	[PLCALTFIRSTNAME] [varchar](max) NULL,
	[PREFERREDPRONOUNS] [varchar](max) NULL,
	[ASSIGNEDSEXATBIRTH] [varchar](max) NULL,
	[NORPFIRSTNAMEYN] [varchar](max) NULL,
	[NORPLASTNAMEYN] [varchar](max) NULL,
	[JOHNDOEYN] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
