USE [PP_Athena_ODS]
GO
/****** Object:  Table [ATHENAONE].[LOCALCLINICALLABTEMPLATE]    Script Date: 7/27/2026 6:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[LOCALCLINICALLABTEMPLATE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LOCALCLINICALLABTEMPLATEID] [numeric](38, 0) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[CLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[TYPEOFRESULT] [varchar](max) NULL,
	[SHOWSTATUSFLAG] [varchar](1) NULL,
	[SHOWREFERENCERANGEFLAG] [varchar](1) NULL,
	[SHOWUNITSFLAG] [varchar](1) NULL,
	[SHOWNOTESFLAG] [varchar](1) NULL,
	[SHOWABNORMALFLAG] [varchar](1) NULL,
	[NEEDSAPPOINTMENT] [varchar](1) NULL,
	[SPLITGRID] [varchar](1) NULL,
	[DEFAULTROUTEYN] [varchar](1) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[RESULTNAME] [varchar](max) NULL,
	[GLOBALID] [numeric](38, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
