USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[HTN_TEST]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[HTN_TEST]  
AS  
BEGIN  
       IF OBJECT_ID('tempdb..#Athena_Patient') IS NOT NULL  
         DROP TABLE #Athena_Patient  
       IF OBJECT_ID('tempdb..#Encounter') IS NOT NULL  
         DROP TABLE #Encounter  
       IF OBJECT_ID('tempdb..#Systolic') IS NOT NULL  
         DROP TABLE #Systolic  
       IF OBJECT_ID('tempdb..#Diastolic') IS NOT NULL  
         DROP TABLE #Diastolic  
       IF OBJECT_ID('tempdb..#Diabet') IS NOT NULL  
         DROP TABLE #Diabet  
       IF OBJECT_ID('tempdb..#Smoking_Status') IS NOT NULL  
         DROP TABLE #Smoking_Status  
       IF OBJECT_ID('tempdb..#Allpatients') IS NOT NULL  
         DROP TABLE #Allpatients  
       IF OBJECT_ID(N'dbo.HTN_TEMP', N'U') IS NOT NULL   
         Drop table HTN_TEMP
Select   
P.PATIENTID   
,P.FIRSTNAME   
,P.LASTNAME  
,P.DOB  
,sum(year(getdate())-year(P.dob)) as Patient_Age  
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender  
INTO #Athena_Patient  
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)  
Group by p.PATIENTID  
,p.FIRSTNAME  
,p.LASTNAME  
,P.DOB  
,P.sex   
-------------------  
  
  
/*-----------------ProviderName  
begin  
with provider as(  
SELECT                          
CE.PATIENTID  
,PR.PROVIDERID  
--,PR.PROVIDERFIRSTNAME,  
--PR.PROVIDERLASTNAME  
,PR.SCHEDULINGNAME   
,ce.CREATEDDATETIME  
,ROW_NUMBER() over (partition by ce.patientid order by ce.createddatetime DESC) recent  
FROM PP_Athena_ODS.ATHENAONE.[PROVIDER] as PR (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.PROVIDERID=PR.PROVIDERID AND CE.CONTEXTID=CE.CONTEXTID  
)   
select *  into #provider  
from provider where recent=1  
ORDER BY PATIENTID asc  
end    
*/  
---------------------SYSTOLIC  
begin  
with SYST as (  
select   
CE.PATIENTID,P.PROVIDERID,P.SCHEDULINGNAME  
,CE.CLINICALENCOUNTERID  
,CE.ENCOUNTERDATE  
,VS.VALUE as Systolic  
,VS.CREATEDDATETIME  
,ROW_NUMBER() over (partition by CE.patientid order by VS.CREATEDDATETIME desc)recent  
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
join PP_Athena_ODS.ATHENAONE.[PROVIDER] as P (nolock) on P.PROVIDERID=CE.PROVIDERID  
where VS.[KEY] ='VITALS.BLOODPRESSURE.SYSTOLIC' and CE.CLINICALENCOUNTERTYPE='VISIT'  and   
CE.EncounterDate >= DATEADD(month,-6,getdate()) and CE.ENCOUNTERDATE is not null  
)   
  
select * into #Systolic  
from SYST where recent=1       
end    
----------------DIASTOLIC     
begin  
with DIAS as (  
select   
CE.PATIENTID,P.PROVIDERID,P.SCHEDULINGNAME  
--,CE.CLINICALENCOUNTERID  
,(VS.VALUE) as DIASTOLIC  
,VS.CREATEDDATETIME  
,ce.ENCOUNTERDATE  
,ROW_NUMBER() over (partition by CE.patientid order by VS.CREATEDDATETIME desc)recent  
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
join PP_Athena_ODS.ATHENAONE.[PROVIDER] as P (nolock) on P.PROVIDERID=CE.PROVIDERID  
where VS.[KEY] ='VITALS.BLOODPRESSURE.DIASTOLIC' and CE.CLINICALENCOUNTERTYPE='VISIT' and   
CE.EncounterDate >= DATEADD(month,-6,getdate()) and CE.ENCOUNTERDATE is not null  
)  
  
select * into #Diastolic  
from DIAS where recent=1       
end  
  
---------------SMOKING STATUS  
begin   
with Smoking as (   
select  
PSH.PATIENTID   
,PSH.SOCIALHISTORYANSWER AS Smoking_status,  
ROW_NUMBER() over (partition by PSH.patientid order by PSH.createddatetime DESC) recent  
FROM PP_Athena_ODS.ATHENAONE.PATIENTSOCIALHISTORY as PSH (nolock)  
where PSH.SOCIALHISTORYKEY like '%SMOKINGSTATUS%')   
  
select * into #Smoking_Status   
from smoking where recent =1     
end  
  
----------------All patient detailed temptable select * from athenaone.clinicalencounter  
select   
P.PATIENTID as Patient_MRN,   
P.FIRSTNAME as Patient_FirstName,   
P.LASTNAME as Patient_LastName,   
P.DOB,  
P.Patient_Gender,   
P.Patient_Age,  
SY.Systolic,   
SY.CREATEDDATETIME as  Date_of_Systolic,  
DIAS.Diastolic,   
DIAS.CREATEDDATETIME as Date_of_Diastolic,  
SY.ENCOUNTERDATE,  
SY.PROVIDERID,  
SY.SCHEDULINGNAME,  
--PR.PROVIDERFIRSTNAME,  
--PR.PROVIDERLASTNAME,  
SK.Smoking_status   
into #Allpatients  
FROM #Athena_Patient as P   
RIGHT join #Systolic AS SY ON SY.PATIENTID=P.PATIENTID  
left join #Diastolic AS DIAS ON DIAS.PATIENTID=P.PATIENTID  
Left join #Smoking_Status AS SK ON SK.PATIENTID=P.PATIENTID  
--Left join #provider AS PR ON PR.PATIENTID=P.PATIENTID  
ORDER BY P.PATIENTID   
  
  
---------------Disease  
BEGIN   
WITH Disease AS (  
SELECT D.PATIENTID,  
--DP.DEPARTMENTID,  
--DP.DEPARTMENTNAME,  
--D.DOCUMENTID,  
--S.SNOMEDCODE,  
S.[DESCRIPTION] AS Disease,  
D.CREATEDDATETIME,  
ROW_NUMBER() OVER ( PARTITION BY d.PATIENTID ORDER BY d.CREATEDDATETIME DESC) AS recent  
FROM PP_Athena_ODS.ATHENAONE.DOCUMENT D (nolock)  
JOIN PP_Athena_ODS.ATHENAONE.DOCUMENTDIAGNOSIS DD (nolock) ON D.DOCUMENTID=DD.DOCUMENTID  
JOIN PP_Athena_ODS.ATHENAONE.SNOMED S (nolock) ON S.SNOMEDCODE=DD.SNOMEDCODE  
--Join PP_Athena_ODS.ATHENAONE.DEPARTMENT DP (nolock) ON DP.DEPARTMENTID=D.DEPARTMENTID and DP.CONTEXTID=D.CONTEXTID  
WHERE S.[SNOMEDCODE] NOT IN (11687002,34818008,46894009,75022004,472699005,472971004,721151003,40791000119105    
,40801000119106,85031000119106,10753491000119100,190416008,190447002) and 
S.DESCRIPTION Like '%diabet%'
--and D.CREATEDDATETIME >= DATEADD(month,-6,getdate())  
)  
select * into #Disease         
from Disease where recent =1     
end 
-----select * from #Disease1 ---------Final_Table_Result  
select   
Patient_MRN,   
Patient_FirstName,   
Patient_LastName,   
P.DOB,  
P.Patient_Gender,   
P.Patient_Age,  
--SY.CLINICALENCOUNTERID,  
--DIAB.DOCUMENTID,  
--DIAB.SNOMEDCODE,  
P.Systolic,   
P.Date_of_Systolic,  
P.Diastolic,   
P.Date_of_Diastolic,  
p.ENCOUNTERDATE,  
P.PROVIDERID,  
P.SCHEDULINGNAME,  
--P.PROVIDERFIRSTNAME,  
--P.PROVIDERLASTNAME,  
--DIAB.DEPARTMENTID,  
--DIAB.DEPARTMENTNAME,  
P.Smoking_status,   
DS.Disease,
CASE
      WHEN DS.Disease is null THEN 'Non_Diabetes'
	  WHEN DS.Disease like '%Non_diabet%' THEN 'Non_Diabetes'
	  WHEN DS.Disease like '%Nondiabet%' THEN 'Non_Diabetes'
      ELSE 'Diabetes'
      END AS Diabetes_Status
into HTN_TEMP
FROM #Allpatients as P   
left JOIN #Disease AS DS ON DS.PATIENTID=P.Patient_MRN  
ORDER BY P.Patient_MRN asc  
  
END
GO
