USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[AthenaLiberty_Patients]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AthenaLiberty_Patients]
AS
Begin

							IF OBJECT_ID('tempdb..#Patient') IS NOT NULL
							DROP TABLE #Patient
							IF OBJECT_ID('tempdb..#PayerDetails') IS NOT NULL
							DROP TABLE #PayerDetails
							IF OBJECT_ID('tempdb..#PateintStatement') IS NOT NULL
							DROP TABLE #PateintStatement
							IF OBJECT_ID('tempdb..#EncounterDetails') IS NOT NULL
							DROP TABLE #EncounterDetails
							IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL
							DROP TABLE #Liberty
							IF OBJECT_ID('tempdb..#EmployeeFlag') IS NOT NULL
							DROP TABLE #EmployeeFlag
							

Truncate table AthenaPatient
Truncate table LibertyPatient

--AthenaPatient_Details

SELECT   
SUM(AF.CurrentCharge+af.LateCharge ) AS Charge
,SUM(AF.Payment) AS Payment
,AF.PROVIDERNAME
,AF.PROVIDERID
,P.CONTEXTID
,P.PatientID as patientID
, P.Sex
,P.DOB
,P.STATE
,YEAR(AF.POSTDATE) AS Pyear
,MONTH(AF.POSTDATE) AS PMonth
into #Patient
FROM Financials.ActivityFact as AF (nolock)
inner Join athenaone.Patient as P (nolock) on
af.PatientID=p.PatientID
and af.CONTEXTID=p.CONTEXTID
GROUP BY P.PATIENTID,AF.PROVIDERNAME
,P.CONTEXTID
, P.Sex
,P.STATE
,P.DOB
,YEAR(AF.POSTDATE)
,MONTH(AF.POSTDATE)
,AF.PROVIDERID


SELECT PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY,PR.INSURANCEPACKAGEID,P.PATIENTID as PatientID
INTO #PayerDetails
FROM  #patient AS P (nolock)  
inner join ATHENAONE.PATIENTINSURANCE as PI (nolock) ON P.PATIENTID=PI.PATIENTID and P.CONTEXTID=PI.CONTEXTID
INNER JOIN ATHENAONE.Payer AS PR (nolock) ON PI.INSURANCEPACKAGEID=PR.INSURANCEPACKAGEID and PI.CONTEXTID=PR.CONTEXTID
where pi.SEQUENCENUMBER=1 
GROUP BY P.PATIENTID,PI.INSURANCEPACKAGEID,PR.Insurancepackageid,
PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY




BEGIN
--PAtient Statement
WITH CTE AS (
SELECT   
CASE WHEN PS.PATIENTOUTSTANDINGAMOUNT is null then 0
else PS.PATIENTOUTSTANDINGAMOUNT END as TotalPatientBalance
,p.PATIENTID
,MAX(PS.LASTUPDATED) as LASTMODIFIEDDATETIME,
ROW_NUMBER() OVER(PARTITION BY p.PATIENTID ORDER BY ps.LASTUPDATED DESC) as RN
from athenaone.APPOINTMENT as ps (nolock)  
right join #Patient as p (nolock) on
ps.PatientID=p.patientID
and ps.CONTEXTID=p.CONTEXTID 
GROUP BY p.PATIENTID,PS.PATIENTOUTSTANDINGAMOUNT,PS.LASTUPDATED
)
SELECT * INTO #PateintStatement
FROM CTE WHERE RN=1
END

--EncounterDetails
SELECT P.PATIENTID as PATIENTID
,MONTH(ce.ENCOUNTERDATE) as CEmonth
,YEAR(ce.ENCOUNTERDATE) as CEYear
,COUNT(ce.ClinicalEncounterID) AS NoofEncounters
INTO #EncounterDetails
FROM ATHENAONE.ClinicalEncounter as CE (nolock)  
INNER JOIN #Patient as p (nolock) on
ce.PatientID=p.patientID
AND ce.CONTEXTID=p.CONTEXTID 
WHERE CE.ENCOUNTERSTATUS='Closed'  
GROUP BY P.PATIENTID,MONTH(ce.ENCOUNTERDATE) 
,YEAR(ce.ENCOUNTERDATE)

Select P.patientID, 
Case when CD.CUSTOMFIELDNAME is NULL THEN 'No'
	  when CD.CUSTOMFIELDNAME <> 'PrimaryPlus Employee' THEN 'No' ELSE CD.CUSTOMFIELDVALUE END AS EmployeeFlag
INTO #EmployeeFlag
FROM
#Patient AS P
left join (select * from  athenaone.CUSTOMDEMOGRAPHICS where CUSTOMFIELDNAME = 'PrimaryPlus Employee') as CD ON
P.PATIENTID=CD.PATIENTID
group by P.PATIENTID, CD.CUSTOMFIELDNAME, CD.CUSTOMFIELDVALUE




insert Into  AthenaPatients

select
P.PatientID as PatientID
,p.Charge  as Charge
,p.Payment as Payment 
,p.PROVIDERNAME as PROVIDERNAME 
,p.PROVIDERID as PROVIDERID 
,p.Sex as Sex  
,p.DOB as DOB 
,p.STATE as STATE 
,p.Pyear as Pyear 
,p.PMonth as PMonth
,pr.INSURANCEREPORTINGCATEGORYID as INSURANCEREPORTINGCATEGORYID
,pr.INSURANCEREPORTINGCATEGORY  as INSURANCEREPORTINGCATEGORY
,pr.INSURANCEPACKAGEID as INSURANCEPACKAGEID
,PS.TotalPatientBalance as TotalPatientBalance
,ED.NoofEncounters as NoofEncounters
,EF.EmployeeFlag as EmployeeFlag 
from #Patient as P 
INNER JOIN #PayerDetails as PR on p.patientID=pr.PatientID
INNER JOIN #EncounterDetails as ED on P.patientID=ED.PATIENTID
INNER JOIN #PateintStatement as PS on P.patientID=PS.patientID
INNER JOIN #EmployeeFlag as EF on P.patientID=EF.patientID

--LibertyPatient_Details

SELECT DISTINCT
P2.GlobalId,
COUNT(st.ScriptNumber) as ScriptNumber,
month(st.DateDispensedSQL) as LibertyMonth,
year(st.DateDispensedSQL) as Libertyyear,
sum(st.Total) as Total,
sum(st.Copay) as Copay,
sum(st.RequestedACQ) as RequestedACQ
,st.DateDispensedSQL
into #Liberty
FROM PP_ODS..rxqPatient as P2 (nolock)
LEFT join PP_ODS..rxqScriptBase as SB (nolock) on P2.PatientID=SB.PatientId and P2.Source_Indicator=SB.Source_Indicator
Inner JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on ST.scriptNumber=SB.ScriptNumber and ST.Source_Indicator=SB.Source_Indicator
where st.DateDispensedSQL <> '9999-09-09' AND P2.GlobalId<>''
group by 
P2.GlobalId ,
month(st.DateDispensedSQL),
year(st.DateDispensedSQL), 
st.DateDispensedSQL



insert into libertyPatient
select 
GlobalId ,
ScriptNumber r,
LibertyMonth ,
Libertyyear ,
Total ,
Copay ,
RequestedACQ 
,DateDispensedSQL from #Liberty 




END
GO
