USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_ClinicalBackupReport]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*****************************************************************************************************************************************************
Object		:     ClinicalBackupReport
Created By	:     MVS
Created on	:     01/03/2023
Description	:	  Clinical Backup report for Rendering staff for rendering care

History:          MM/DD/YYYY  Modified User   Request Content
                  01/03/2023  MVS             Initial creation
*******************************************************************************************************************************************************/
	

CREATE proc [dbo].[sp_ClinicalBackupReport]
as
begin
						    IF OBJECT_ID('tempdb.. #PatientTemp') IS NOT NULL
							DROP TABLE  #PatientTemp
							IF OBJECT_ID('tempdb.. #ClinicalTemp') IS NOT NULL
							DROP TABLE  #ClinicalTemp
							IF OBJECT_ID('tempdb.. #Temp_Allergy') IS NOT NULL
							DROP TABLE  #Temp_Allergy
							IF OBJECT_ID('tempdb.. #Temp_Complaint') IS NOT NULL
							DROP TABLE  #Temp_Complaint
							IF OBJECT_ID(N'dbo.ClinicalBackupReport', N'U') IS NOT NULL 
							Drop table PP_Athena_ODS..ClinicalBackupReport

select P.PATIENTID,P.FIRSTNAME,P.LASTNAME,P.DOB, A.APPOINTMENTDATE,A.APPOINTMENTID,A.SCHEDULINGPROVIDER,A.APPOINTMENTSTATUS,a.APPOINTMENTSTARTTIME 
INTO #PatientTemp from ATHENAONE.Patient P
JOIN ATHENAONE.APPOINTMENT A ON A.PATIENTID=P.PATIENTID
where year(a.APPOINTMENTDATE) >= year(GETDATE())-1
--and APPOINTMENTSTATUS not like '%cancel%' 
and A.PATIENTID is not null
order by A.APPOINTMENTDATE


SELECT D.DEPARTMENTID,D.DEPARTMENTNAME,CE.PATIENTID,CE.APPOINTMENTDATE
INTO #ClinicalTemp  FROM ATHENAONE.Appointment CE
JOIN ATHENAONE.DEPARTMENT D ON D.DEPARTMENTID=CE.DEPARTMENTID
where year(APPOINTMENTDATE) >= year(GETDATE())-1
order by CE.APPOINTMENTDATE

--************************* Aggrigate column AllergyName

select A.PATIENTID,A.APPOINTMENTDATE,
STRING_AGG(ALLERGYNAME, ', ') WITHIN GROUP (ORDER BY ALLERGYNAME) AS ALLERGYNAME
into #Temp_Allergy
from ATHENAONE.APPOINTMENT A (nolock)
join  ATHENAONE.CLINICALENCOUNTER as ce (nolock) on ce.APPOINTMENTID=a.APPOINTMENTID and CE.CONTEXTID=A.CONTEXTID
join ATHENAONE.Allergy as alr (nolock) on ce.CHARTID=alr.CHARTID AND CE.CONTEXTID=ALR.CONTEXTID
where year(a.APPOINTMENTDATE) >= year(GETDATE())-1
group by A.PATIENTID,A.APPOINTMENTDATE

--************************* Aggrigate column AppointmentNote

select A.PATIENTID,A.APPOINTMENTDATE,
STRING_AGG(NOTE, ', ') WITHIN GROUP (ORDER BY NOTE) AS Complaint
into #Temp_Complaint
from ATHENAONE.APPOINTMENT A (nolock)
join  ATHENAONE.APPOINTMENTNOTE as AN (nolock) on AN.APPOINTMENTID=a.APPOINTMENTID
where year(a.APPOINTMENTDATE) >= year(GETDATE())-1
group by A.PATIENTID,A.APPOINTMENTDATE

--************************* Final Query

BEGIN
WITH FINAL AS(
select A.PATIENTID,A.FIRSTNAME,A.LASTNAME,A.DOB,A.APPOINTMENTID,A.SCHEDULINGPROVIDER,D.Complaint,C.ALLERGYNAME,
A.APPOINTMENTDATE,A.APPOINTMENTSTATUS,A.APPOINTMENTSTARTTIME,B.DEPARTMENTID,B.DEPARTMENTNAME,
ROW_NUMBER() over (partition BY A.PATIENTID,A.APPOINTMENTDATE,A.APPOINTMENTID order by A.APPOINTMENTDATE DESC) as RN
from #PatientTemp A 
left join #ClinicalTemp B on B.PATIENTID=A.PATIENTID and A.APPOINTMENTDATE=B.APPOINTMENTDATE
left join #Temp_Allergy C ON A.PATIENTID=C.PATIENTID and A.APPOINTMENTDATE=C.APPOINTMENTDATE
left join #Temp_Complaint D ON A.PATIENTID=D.PATIENTID and A.APPOINTMENTDATE=D.APPOINTMENTDATE
)


SELECT * into dbo.ClinicalBackupReport
FROM FINAL
WHERE RN=1 
ORDER BY APPOINTMENTDATE DESC
END

END
GO
