USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PP_Athena_RecordCount]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PP_Athena_RecordCount](
	[TableName] [varchar](50) NULL,
	[IncCountSource] [int] NULL,
	[IncCountODS] [int] NULL,
	[TotalCountSource] [int] NULL,
	[TotalCountODS] [int] NULL,
	[SchemaName] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
