USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[TrailPat_Liberty]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrailPat_Liberty](
	[GlobalId] [numeric](18, 0) NULL,
	[ScriptNumber] [numeric](18, 0) NULL,
	[LibertyMonth] [numeric](18, 0) NULL,
	[Libertyyear] [numeric](18, 0) NULL,
	[Total] [decimal](9, 3) NULL,
	[Copay] [decimal](9, 3) NULL,
	[RequestedACQ] [decimal](9, 3) NULL,
	[DateDispensedSQL] [date] NULL
) ON [PRIMARY]
GO
