USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[DEPOSITBATCH_BackUp]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPOSITBATCH_BackUp](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[DEPOSITBATCHID] [numeric](12, 0) NULL,
	[VOIDPARENTID] [numeric](12, 0) NULL,
	[POSTDATE] [date] NULL,
	[VOIDEDDATE] [date] NULL,
	[DEPOSITDATE] [date] NULL,
	[CLOSEDDATETIME] [datetime2](7) NULL,
	[TYPE] [varchar](max) NULL,
	[BATCHMETHOD] [varchar](max) NULL,
	[DEPOSITLOCATION] [varchar](max) NULL,
	[BANKACCOUNT] [varchar](max) NULL,
	[DEPOSITAMOUNT] [numeric](12, 2) NULL,
	[MAILBOXGROUPID] [numeric](12, 0) NULL,
	[BANKSTATEMENTACCOUNTID] [numeric](38, 0) NULL,
	[TOTALUNPOSTEDAMOUNT] [numeric](12, 2) NULL,
	[DEPOSITBATCHCREATEDDATETIME] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
