USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[HTN_TEMP]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTN_TEMP](
	[Patient_MRN] [numeric](12, 0) NULL,
	[Patient_FirstName] [varchar](500) NULL,
	[Patient_LastName] [varchar](500) NULL,
	[DOB] [date] NULL,
	[Patient_Gender] [varchar](6) NULL,
	[Patient_Age] [int] NULL,
	[Systolic] [varchar](max) NULL,
	[Date_of_Systolic] [datetime2](7) NULL,
	[Diastolic] [varchar](max) NULL,
	[Date_of_Diastolic] [datetime2](7) NULL,
	[ENCOUNTERDATE] [date] NULL,
	[PROVIDERID] [decimal](12, 0) NULL,
	[SCHEDULINGNAME] [text] NULL,
	[Smoking_status] [varchar](max) NULL,
	[Disease] [varchar](2000) NULL,
	[Diabetes_Status] [varchar](12) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
