USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Tbl_MedicationAnalysis_CVS]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MedicationAnalysis_CVS](
	[PATIENTMEDICATIONID] [bigint] NULL,
	[DOCUMENTID] [bigint] NULL,
	[PATIENTID] [bigint] NULL,
	[PatientName_Athena] [varchar](200) NULL,
	[Gender_Athena] [varchar](50) NULL,
	[DOB_Athena] [varchar](50) NULL,
	[PRESCRIBERNPI] [bigint] NULL,
	[PRESCRIBER] [varchar](200) NULL,
	[ProviderName] [varchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[MEDICATIONNAME] [varchar](200) NULL,
	[GPIID_Athena] [varchar](50) NULL,
	[GPIName_Athena] [varchar](200) NULL,
	[NDC_Athena] [varchar](50) NULL,
	[DerivedNDC_Athena] [varchar](50) NULL,
	[NDCType] [varchar](50) NULL,
	[Drug_name] [varchar](200) NULL,
	[DateDispensedSQL] [datetime] NULL,
	[globalid] [bigint] NULL,
	[NPI] [bigint] NULL,
	[Liberty_PatientId] [bigint] NULL,
	[Patientname_Liberty] [varchar](200) NULL,
	[Gender_Liberty] [varchar](50) NULL,
	[DOB_Liberty] [varchar](50) NULL,
	[GPIID_Liberty] [varchar](50) NULL,
	[GPIName_Liberty] [varchar](200) NULL,
	[NDC_Liberty] [varchar](50) NULL,
	[QuantityDispensed] [varchar](200) NULL,
	[FullDispenseQuantity] [varchar](200) NULL,
	[RefillsAuthorized] [int] NULL,
	[RefillNumber] [int] NULL,
	[DaysSupply] [int] NULL,
	[AuthorizedQuantity] [varchar](200) NULL,
	[AvailableQuantity] [varchar](200) NULL,
	[NUMBEROFREFILLSPRESCRIBED] [int] NULL,
	[PRESCRIPTIONFILLQUANTITY] [varchar](200) NULL,
	[LibertyRankId] [bigint] NULL,
	[RecordInsertedDate] [datetime] NULL,
	[GPIMatchType] [varchar](100) NULL,
	[DEPARTMENTNAME] [varchar](100) NULL,
	[Source_Indicator] [varchar](10) NULL,
	[PharmacyName] [varchar](100) NULL,
	[Is340B] [varchar](10) NULL,
	[PLCNAME] [varchar](300) NULL,
	[CPName] [varchar](300) NULL,
	[CLINICALPROVIDERID] [varchar](50) NULL,
	[PRESCRIBEDYN] [varchar](10) NULL,
	[ADMINISTEREDYN] [varchar](10) NULL,
	[DISPENSEDYN] [varchar](10) NULL,
	[TherapyClass_CVS] [varchar](300) NULL,
	[BrandName_CVS] [varchar](200) NULL,
	[GenericName_CVS] [varchar](500) NULL,
	[MatchType] [varchar](50) NULL
) ON [PRIMARY]
GO
