USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PrapareWeeklyFile_Final_backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrapareWeeklyFile_Final_backup](
	[Completed Time] [datetime] NULL,
	[Questionnaire Result ID] [int] NULL,
	[Patient EHR ID] [int] NULL,
	[patientName] [varchar](255) NULL,
	[patientBirthdate] [varchar](50) NULL,
	[Question] [varchar](255) NULL,
	[Answer] [varchar](255) NULL,
	[QuestionNo] [varchar](10) NULL,
	[AnswerType] [varchar](10) NULL,
	[Prapare] [varchar](100) NULL,
	[score] [int] NULL,
	[RecordCreateddate] [datetime] NULL
) ON [PRIMARY]
GO
