USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[AthenaPatients]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AthenaPatients](
	[PatientID] [numeric](18, 0) NULL,
	[CurrentCharge] [decimal](9, 2) NULL,
	[LateCharge] [decimal](9, 2) NULL,
	[Payment] [decimal](9, 2) NULL,
	[PROVIDERNAME] [varchar](50) NULL,
	[PROVIDERID] [numeric](18, 0) NULL,
	[Sex] [varchar](max) NULL,
	[DOB] [date] NULL,
	[STATE] [varchar](max) NULL,
	[Pyear] [int] NULL,
	[PMonth] [int] NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](18, 0) NULL,
	[INSURANCEREPORTINGCATEGORY] [varchar](max) NULL,
	[NoofEncounters] [numeric](18, 0) NULL,
	[EmployeeFlag] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
