USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[FPAR2Report]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPAR2Report](
	[CLINICALENCOUNTERID] [varchar](20) NULL,
	[AthenaPatientID] [varchar](20) NULL,
	[CHARTID] [varchar](20) NULL,
	[facility_Id] [varchar](20) NULL,
	[provider_role] [varchar](20) NULL,
	[patient_Id] [varchar](50) NULL,
	[visit_date] [date] NULL,
	[birth_date] [date] NULL,
	[sex] [varchar](10) NULL,
	[limited_english_proficiency] [varchar](50) NULL,
	[ethnicity] [varchar](200) NULL,
	[race_amindian] [varchar](50) NULL,
	[race_asian] [varchar](50) NULL,
	[race_black] [varchar](50) NULL,
	[race_hpi] [varchar](50) NULL,
	[race_white] [varchar](50) NULL,
	[race] [varchar](100) NULL,
	[annual_household_income] [varchar](100) NULL,
	[household_size] [varchar](10) NULL,
	[insurance_coverage_type] [varchar](10) NULL,
	[pregnancy_status] [varchar](20) NULL,
	[pregnancy_intention] [varchar](20) NULL,
	[ContraceptiveMethodAtExitDesc] [varchar](200) NULL,
	[contraceptive_method_exit] [varchar](20) NULL,
	[no_contraceptive_reason_exit] [varchar](20) NULL,
	[test_pap] [varchar](20) NOT NULL,
	[test_chlamydia] [varchar](20) NOT NULL,
	[test_gonorrhea] [varchar](20) NOT NULL,
	[test_hiv] [varchar](20) NOT NULL,
	[test_syphilis] [varchar](20) NOT NULL,
	[Createddate] [datetime] NULL,
	[provider_id] [varchar](20) NULL,
	[INSURANCEPACKAGENAME] [varchar](200) NULL,
	[visit_payer] [varchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FPAR2Report] ADD  DEFAULT (getdate()) FOR [Createddate]
GO
