USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[MedaidPCNlist]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedaidPCNlist](
	[BIN] [varchar](6) NOT NULL,
	[PCN] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
