USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[KPCA_340BFILES]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[KPCA_340BFILES]

@InputMonth int = NULL, 
@InputYear int =NULL

AS
BEGIN 
							IF OBJECT_ID('tempdb..#AthenaPayerDetails') IS NOT NULL
							DROP TABLE #AthenaPayerDetails
							IF OBJECT_ID('tempdb..#libertydetails') IS NOT NULL
							DROP TABLE #libertydetails
							IF OBJECT_ID('tempdb..#OnlineHistory') IS NOT NULL
							DROP TABLE #OnlineHistory
							IF OBJECT_ID('tempdb..#OnlineHistorytemp') IS NOT NULL
							DROP TABLE #OnlineHistorytemp
							IF OBJECT_ID(N'dbo.KPCA_340BFile', N'U') IS NOT NULL 
							Drop table PP_Athena_ODS..KPCA_340BFile
							

declare @year int  = @InputYear
declare @month int = @InputMonth
set @year =  case when @year is Null and @month is Null then
datepart(year,dateadd(month, -1, datefromparts(year(getdate()), month(getdate()), 1))) else @year end
set @month =  case when @month is Null then
datepart(mm,dateadd(month, -1, datefromparts(year(getdate()), month(getdate()), 1))) else @month end
--select @year
--select @month

SELECT PR.INSURANCEREPORTINGCATEGORYID
,PR.INSURANCEREPORTINGCATEGORY
,PR.INSURANCEPACKAGEID
,pi.POLICYIDNUMBER
,PI.PATIENTID as PatientID
,YEAR(PI.CREATEDDATETIME) as AYEAR 
,MONTH(pi.CREATEDDATETIME) AS AMONTH
INTO #AthenaPayerDetails
FROM  ATHENAONE.PATIENT AS P (nolock)  
inner join ATHENAONE.PATIENTINSURANCE as PI (nolock) ON
P.PATIENTID=PI.PATIENTID
and P.CONTEXTID=PI.CONTEXTID
INNER JOIN ATHENAONE.Payer AS PR (nolock) ON
PI.INSURANCEPACKAGEID=PR.INSURANCEPACKAGEID
and PI.CONTEXTID=PR.CONTEXTID
where  PR.INSURANCEPRODUCTTYPE  LIKE '%MEDICAID HMO%' --AND INSURANCEPACKAGENAME LIKE '%MEDICAID%' 
--AND ELIGIBILITYSTATUS='Y' --and PI.EXPIRATIONDATE is null
and (pi.CANCELLATIONDATE is   null or pi.POLICYGROUPNUMBER is  null or pi.ISSUEDATE is null) 
and (LOCALALLOWABLECATEGORY is not  null or pr.EXPIRATIONDATE is  null or pr.EFFECTIVEDATE is not null)
GROUP BY PI.PATIENTID,YEAR(pi.CREATEDDATETIME) 
,MONTH(pi.CREATEDDATETIME),PI.INSURANCEPACKAGEID,PR.Insurancepackageid,
PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY,POLICYIDNUMBER,INSURANCEPRODUCTTYPE,pr.EXPIRATIONDATE

select FR.* into #OnlineHistorytemp
from
(select 
oh.scriptnumber
,oh.RefillNumber
,('+' + (convert(varchar(50),RIGHT(REPLICATE('0', 10) + CONVERT(VARCHAR, ST.QuantityDispensed),14)))) as QuantityDispensed
,oh.SubmitDate
,oh.BIN
,oh.PCN
,PrimaryOrSecondary
,OH.AgencyCode
,OH.Source_Indicator
from PP_ODS..rxqOnlineHistory as oh (NOLOCK)
left  join pp_ods..rxqscripttransaction as st (NOLOCK) on ST.scriptnumber=OH.scriptnumber and ST.RefillNumber=OH.refillnumber 
and ST.Source_Indicator=OH.Source_Indicator and year(ST.datedispensedsql)=year(OH.SubmitDate)
where  oh.TransactionResponse='p'

union all

select 
oh.scriptnumber
,oh.RefillNumber
,('-' + (convert(varchar(50),RIGHT(REPLICATE('0', 10) + CONVERT(VARCHAR, ST.QuantityDispensed),14)))) as QuantityDispensed
,oh.SubmitDate
,oh.BIN
,oh.PCN
,PrimaryOrSecondary
,OH.AgencyCode
,OH.Source_Indicator
from PP_ODS..rxqOnlineHistory as oh (NOLOCK)
left join pp_ods..rxqscripttransaction as st (NOLOCK) on ST.scriptnumber=OH.scriptnumber and ST.RefillNumber=OH.refillnumber 
and ST.Source_Indicator=OH.Source_Indicator and year(ST.datedispensedsql)=year(OH.SubmitDate)
where   oh.TransactionResponse='a')FR


BEGIN
WITH cte as
(select *,row_number() over(partition by scriptnumber,RefillNumber,QuantityDispensed 
order by SubmitDate desc) rn
from #OnlineHistorytemp)

select scriptnumber
,RefillNumber
,case when QuantityDispensed like '%+%' then 'O'
when QuantityDispensed like '%-%' then 'V' else NULL end [Status]
,QuantityDispensed as Units
,SubmitDate
,BIN
,PCN
,PrimaryOrSecondary
,AgencyCode
,Source_Indicator into #OnlineHistory
from cte
--where rn=1
end


select DISTINCT
P.GlobalId
,p.PatientId
,'0006' as CLIENT_ID
,D.NdcNumber as NDC
,SB.DoctorId as PROVIDER_ID
,Doc.LastName as Provider_LastName
,Doc.FirstName as Provider_FirstName
,OH.SubmitDate as DATE_OF_SERVICE
,OH.BIN as BIN
,OH.PCN as PCN
,P.FirstName
,P.LastName
,P.DateOfBirth
,PTP.GroupNumber
,OH.ScriptNumber as RX_NBR
,OH.AgencyCode AS AGENCY
,AgencyIdentification
,'1457303802' as COVERED_ENTITY_ID
,oh.Units
,oh.[Status]
,PrimaryOrSecondary
,D.Is340B
into #libertydetails
from PP_ods..rxqPatient as p
inner join PP_ODS..rxqscriptbase as sb on p.PatientId=sb.PatientId and p.Source_Indicator=sb.Source_Indicator
inner join pp_ods..rxqScriptTransaction as st on sb.ScriptNumber=st.ScriptNumber and sb.Source_Indicator=st.Source_Indicator
left join #OnlineHistory as OH on ST.scriptnumber=OH.scriptnumber and ST.RefillNumber=OH.refillnumber 
and ST.Source_Indicator=OH.Source_Indicator and year(ST.datedispensedsql)=year(OH.SubmitDate)
inner JOIN PP_ods..rxqPatientThirdParty as PTP (NOLOCK) on P.PatientId=PTP.PatientId and P.Source_Indicator=PTP.Source_Indicator
inner join PP_ODS..rxqDrug as d on  D.DrugId=SB.DrugKey and D.source_indicator=SB.Source_Indicator
inner join PP_ODS..rxqAgency as AG on AG.AgencyCode=ST.Agency and AG.Source_Indicator=ST.Source_Indicator
left join PP_ODS..rxqDoctor as Doc on sb.DoctorId=Doc.DoctorId and sb.Source_Indicator=Doc.Source_Indicator
---Where	 p.Is340B = '0'   
order by p.firstname,p.LastName

--INSERT INTO KPCA_340B
SELECT distinct CLIENT_ID
      ,[Status]
	  ,NDC
	  ,UNITS
	  ,PROVIDER_ID
	  ,Provider_LastName
	  ,Provider_FirstName
	  ,DATE_OF_SERVICE
	  ,AgencyIdentification as RECIPIENT_ID
	  ,RX_NBR
	  ,INSURANCEREPORTINGCATEGORY as PROGRAM_ID
	  ,COVERED_ENTITY_ID
	  ,FirstName
	  ,LastName
	  ,DateOfBirth
	  ,Ap.PatientID as AthenaPatientID
	  ,lp.PatientId as LibertyPatientID
	  ,LP.GlobalId
	  ,BIN
	  ,PCN
	  ,GroupNumber
	  ,PrimaryOrSecondary
	  ,Is340B
	  INTO KPCA_340BFile
FROM #AthenaPayerDetails as AP 
left JOIN #libertydetails as LP on AP.PatientID=cast(LP.GlobalId as int) ---and ap.AYEAR=year(LP.DATE_OF_SERVICE) 
--and ap.AMONTH=MONTH(LP.DATE_OF_SERVICE) 
--and ap.POLICYIDNUMBER=lp.AgencyIdentification
WHERE   year(DATE_OF_SERVICE)=@year and month(DATE_OF_SERVICE)=@month
AND BIN='023880' AND PCN='KYPROD1' AND GroupNumber='KYM01' and LP.PrimaryOrSecondary in ('P','S') 
--and LP.Is340B = 'TRUE'  
		
END
GO
