USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[CombinedPatients]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[CombinedPatients]
as

BEGIN 			
							IF OBJECT_ID('tempdb..#ATH') IS NOT NULL
							DROP TABLE #ATH
							IF OBJECT_ID('tempdb..#LIB') IS NOT NULL
							DROP TABLE #LIB
							IF OBJECT_ID('tempdb..#PRINS') IS NOT NULL
							DROP TABLE #PRINS
			
			


Truncate table OnlyCombined
Truncate table OnlyEmployee
Truncate Table OnlyInsurance


--CombinedPatients--
      -----ATH----
select PatientID, count(Clinicalencounterid) ClinicalEncounterID, Month(encounterdate) CEMonth, Year(encounterdate) CEYear
into #ATH
from Athenaone.ClinicalEncounter (nolock)
where encounterstatus='Closed'
group by patientid, Month(encounterdate), year(encounterdate)
order by patientid

	  -----LIB----
select P.PatientID, P.globalId, count(ST.ScriptNumber) ScriptNumber,
Month(ST.DateDispensedSQL)STMonth, year(ST.DateDispensedSQL)STYear, ST.Source_Indicator
into #LIB
from PP_ODS..rxqPatient P (nolock) 
inner join PP_ODS..rxqScriptBase SB (nolock) on
P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator
inner join PP_ODS..rxqScriptTransaction ST (nolock) on
SB.ScriptNumber=ST.ScriptNumber and SB.Source_Indicator=ST.Source_Indicator
where P.GlobalId is not null
group by P.PatientID,P.GlobalID,Month(ST.DateDispensedSQL), year(ST.DateDispensedSQL), ST.Source_Indicator
order by P.GlobalId


       ----Join final---
insert into OnlyCombined
Select ATH.PatientID APatientID ,LIB.PatientID LPatientID, Cast(LIB.GlobalID as int) LGlobalID,
ATH.ClinicalEncounterID ClinicalEncounters ,LIB.ScriptNumber Scripts,
LIB.STMonth Month, LIB.STyear year,LIB.source_Indicator PharmacyLocation
from #ATH as ATH inner join #LIB as LIB on
ATH.patientID=cast(LIB.GlobalID as int) and  ATH.CEYear=LIB.STYear and ATH.CEMonth=LIB.STMONTH
where LIB.GlobalID is not null


--Insurance--
Select af.PATIENTID as PATIENTID,
af.PRIMARYPATIENTINSURANCEID as PATIENTINSURANCEID, 
P.INSURANCEREPORTINGCATEGORYID as INSURANCEREPORTINGCATEGORYID,
P.INSURANCEREPORTINGCATEGORY as INSURANCEREPORTINGCATEGORY,
P.INSURANCEPACKAGEID as INSURANCEPACKAGEID ,
p.INSURANCEPACKAGENAME as INSURANCEPACKAGENAME,
ROW_NUMBER() over(partition by AF.Patientid order by postdate desc) as RN,
Af.POSTDATE as POSTDATE
into #PRINS
from  financials.ACTIVITYFACT AF (nolock)
left join athenaone.PATIENTINSURANCE INS (nolock) on
af.PRIMARYPATIENTINSURANCEID=INS.PATIENTINSURANCEID
inner join  athenaone.payer  p (nolock) on
INS.INSURANCEPACKAGEID=P.INSURANCEPACKAGEID
order by af.PATIENTID

Insert into OnlyInsurance
select * from #PRINS where rn=1

--Employee--
insert into OnlyEmployee
select PatientID,CUSTOMFIELDNAME,CUSTOMFIELDVALUE from athenaone.CUSTOMDEMOGRAPHICS
where CUSTOMFIELDName='PrimaryPlus Employee' and CUSTOMFIELDVALUE='Yes'
order by PATIENTID

END 

GO
