USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[AthenaRenderingProvider_Backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AthenaRenderingProvider_Backup]  
AS    
/*****************************************************************************************************************************************************  
Object  :     AthenaRenderingProvider  
Created By :     NK  
Created on :     09/22/2021  
Description :   RenderingProvider Financial Details  
  
History:          MM/DD/YYYY  Modified User   Request Content  
                  09/22/2021  NK             Initial creation  
*******************************************************************************************************************************************************/  
BEGIN        
        
     IF OBJECT_ID('tempdb..#activityFact') IS NOT NULL  
       DROP TABLE #activityFact  
     IF OBJECT_ID('tempdb..#Appointment') IS NOT NULL  
       DROP TABLE #Appointment  
       IF OBJECT_ID('tempdb..#ClinicalEncounter') IS NOT NULL  
       DROP TABLE #ClinicalEncounter  
        IF OBJECT_ID('tempdb..#cte') IS NOT NULL  
       DROP TABLE #cte  
       
select   
PROVIDERNAME  
,PROVIDERID  
,DATENAME(MM,POSTDATE) as ServiceName  
,month(POSTDATE) as AF_month_ID  
,YEAR(POSTDATE) as AF_year   
,sum(payment) as payment  
,sum(currentcharge+latecharge) as charge--9468832  
into #activityfact  
from   FINANCIALS.activityfact (nolock)  
where   type in ('CHARGE','PAYMENT')   
group by  ProviderID  
    ,PROVIDERNAME  
    ,year(POSTDATE)  
    ,month(POSTDATE)  
    ,DATENAME(MM,POSTDATE)  
order by   AF_year, AF_month_ID  
  
select ap.appointmentid AS AppointmentID,ap.ProviderID AS ProviderID,  
month(ce.ENCOUNTERDATE ) as IN_month_ID  
,year(ce.ENCOUNTERDATE ) as IN_Year,  
count(ce.clinicalencounterid) AS CenID  
INTO #ClinicalEncounter  
from ATHENAONE.APPOINTMENT as ap (nolock)  
INNER join ATHENAONE.ClinicalEncounter as ce (nolock) on  
ap.appointmentid=ce.appointmentid   
AND CAST(ce.CLOSEDDATETIME AS DATE)=CAST(ce.ENCOUNTERDATE AS DATE)  
where ce.AppointmentID IS NOT NULL  
and cancelledby is null  
Group by ap.appointmentid ,ap.ProviderID,   
month(ce.ENCOUNTERDATE )  
                           ,year(ce.ENCOUNTERDATE )  
order by IN_month_ID,YEAR(ce.ENCOUNTERDATE ) asc   
  
select ap.appointmentid AS appointmentid,ap.ProviderID AS ProviderID,  
month(STARTCHECKINDATETIME) as IN_month_ID  
,year(STARTCHECKINDATETIME) as IN_Year,  
count(ap.appointmentid) AS ApID  
INTO #Appointment  
from ATHENAONE.APPOINTMENT as ap (nolock)  
INNER join ATHENAONE.ClinicalEncounter as ce (nolock) on  
ap.appointmentid=ce.appointmentid   
where  ce.AppointmentID IS NOT NULL  
and cancelledby is null  
Group by ap.appointmentid,ap.ProviderID,  
month(STARTCHECKINDATETIME)  
                           ,year(STARTCHECKINDATETIME)  
order by IN_month_ID,YEAR(STARTCHECKINDATETIME) asc  
  
  
  
SELECT CE.ProviderID,IN_Year,IN_month_ID,COUNT(CenID) AS CID into #cte FROM #ClinicalEncounter CE  
GROUP BY  CE.ProviderID,IN_Year,IN_month_ID   
  
truncate table RenderingProvider  
insert into  RenderingProvider  
  
SELECT a.ProviderID,a.IN_Year,a.IN_month_ID,a.CID,COUNT(b.appointmentid) AS AID,  
CAST(a.CID as FLOAT)/CAST(COUNT(b.appointmentid) AS FLOAT) AS SEDCR, c.charge as Charge , c.payment as Payment,c.PROVIDERNAME as providrname,c.ServiceName  
FROM #cte a , #Appointment b , #activityfact c  
where  a.ProviderID=b.ProviderID and a.IN_Year = b.IN_Year and a.IN_month_ID = b.IN_month_ID   
and b.ProviderID = c.PROVIDERID and b.IN_Year = c.AF_year and b.IN_month_ID = c.AF_month_ID    
--and a.ProviderID = c.PROVIDERID a.IN_Year = c.AF_year and a.IN_month_ID = c.AF_month_ID   
GROUP BY  a.ProviderID,a.IN_Year,a.IN_month_ID,a.CID, c.charge , c.payment,c.PROVIDERNAME,c.ServiceName  
ORDER BY a.In_MOnth_ID  
  
end  
GO
