USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Tbl_MedicationAnalysis_Backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MedicationAnalysis_Backup](
	[PATIENTMEDICATIONID] [bigint] NULL,
	[DOCUMENTID] [bigint] NULL,
	[PATIENTID] [bigint] NULL,
	[PRESCRIBERNPI] [bigint] NULL,
	[PRESCRIBER] [varchar](200) NULL,
	[ProviderName] [varchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[MEDICATIONNAME] [varchar](200) NULL,
	[GPIID_Athena] [varchar](50) NULL,
	[GPIName_Athena] [varchar](200) NULL,
	[NDC_Athena] [varchar](50) NULL,
	[Drug_name] [varchar](200) NULL,
	[DateDispensedSQL] [datetime] NULL,
	[globalid] [bigint] NULL,
	[NPI] [bigint] NULL,
	[Liberty_PatientId] [bigint] NULL,
	[GPIID_Liberty] [varchar](50) NULL,
	[GPIName_Liberty] [varchar](200) NULL,
	[NDC_Liberty] [varchar](50) NULL,
	[QuantityDispensed] [varchar](200) NULL,
	[FullDispenseQuantity] [varchar](200) NULL,
	[RefillsAuthorized] [int] NULL,
	[RefillNumber] [int] NULL,
	[DaysSupply] [int] NULL,
	[AuthorizedQuantity] [varchar](200) NULL,
	[AvailableQuantity] [varchar](200) NULL,
	[NUMBEROFREFILLSPRESCRIBED] [int] NULL,
	[PRESCRIPTIONFILLQUANTITY] [varchar](200) NULL,
	[LibertyRankId] [bigint] NULL,
	[RecordInsertedDate] [datetime] NULL
) ON [PRIMARY]
GO
