USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Staging_NDCProduct]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staging_NDCProduct](
	[PRODUCTID] [varchar](1000) NULL,
	[PRODUCTNDC] [varchar](50) NULL,
	[PRODUCTTYPENAME] [varchar](200) NULL,
	[PROPRIETARYNAME] [varchar](8000) NULL,
	[PROPRIETARYNAMESUFFIX] [varchar](8000) NULL,
	[NONPROPRIETARYNAME] [varchar](8000) NULL,
	[DOSAGEFORMNAME] [varchar](8000) NULL,
	[ROUTENAME] [varchar](200) NULL,
	[STARTMARKETINGDATE] [varchar](50) NULL,
	[ENDMARKETINGDATE] [varchar](50) NULL,
	[MARKETINGCATEGORYNAME] [varchar](200) NULL,
	[APPLICATIONNUMBER] [varchar](200) NULL,
	[LABELERNAME] [varchar](200) NULL,
	[SUBSTANCENAME] [varchar](8000) NULL,
	[ACTIVE_NUMERATOR_STRENGTH] [varchar](8000) NULL,
	[ACTIVE_INGRED_UNIT] [varchar](8000) NULL,
	[PHARM_CLASSES] [varchar](8000) NULL,
	[DEASCHEDULE] [varchar](50) NULL,
	[NDC_EXCLUDE_FLAG] [varchar](50) NULL,
	[LISTING_RECORD_CERTIFIED_THROUGH] [varchar](50) NULL
) ON [PRIMARY]
GO
