USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[DexcomClarityNonAlertSummary]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DexcomClarityNonAlertSummary](
	[PatientIdentifier] [varchar](30) NULL,
	[FirstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[dateofbirth] [varchar](50) NULL,
	[Timestamp_DT] [date] NULL,
	[MinGlucose] [int] NULL,
	[MaxGlucose] [int] NULL,
	[AvgGlucose] [int] NULL,
	[LatestTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
