USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_medicationanalysis_Backup_Oct62023]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
---[dbo].[sp_medicationanalysis] 6  /*6 Months*/    
CREATE procedure [dbo].[sp_medicationanalysis_Backup_Oct62023](@Month int =3)    
as    
Begin    
    
Declare @Lv_Month int = @Month ;    
---Declare @Lv_Month int = 6 ;    
Declare @StartDate datetime = DATEADD(month, @Lv_Month*(-1), GETDATE())    
--select @StartDate    
    
/*Patient Medication Insert*/    
    
drop table if exists #PATIENTMEDICATION    
    
select p.PATIENTID,p.PRESCRIBERNPI,p.PRESCRIBER,cast(p.CREATEDDATETIME as date) CreatedDate,    
p.CREATEDDATETIME    
,p.MEDICATIONNAME,p.NUMBEROFREFILLSPRESCRIBED,    
p.PRESCRIPTIONFILLQUANTITY ,pt.FirstName+' '+pt.LastName as PatientName_Athena,     
pt.Sex as Gender_Athena ,pt.DOB as DOB_Athena,    
d.DOCUMENTID,d.CLINICALENCOUNTERID,d.CLINICALORDERTYPEID ,d.FBDMEDID     
,p.PATIENTMEDICATIONID,m.MEDICATIONNAME as M_MEDICATIONNAME,m.MEDICATIONID,m.NDC,   
m.DerivedNDC,m.NDCType,  
mg.GenericProductIdentifier,mg.GPIGenericName     
into    
#PATIENTMEDICATION    
from    
ATHENAONE.PATIENTMEDICATION p with(nolock)    
join ATHENAONE.Patient Pt with(nolock) on p.PATIENTID=pt.PATIENTID    
join ATHENAONE.DOCUMENT d with(nolock) on d.DOCUMENTID=p.DOCUMENTID    
join   
( /*Derived NDC using Bridge Tables*/  
select med.MEDICATIONNAME,med.MEDICATIONID,med.FDBMEDID ,  
isnull(isnull(sn.[NDC in Liberty],med.NDC),s.[Substitute NDC]) as DerivedNDC ,  
case   
     when sn.[NDC in Liberty] is not null  then 'SNO2DerivedNDC'   
  when med.NDC is null and s.[Substitute NDC] is not null then 'SNO1DerivedNDC'   
     else 'NormalNDC' end as NDCType,  
med.NDC,s.[Substitute NDC] ,sn.[NDC in Liberty]  
from   
ATHENAONE.MEDICATION med with(nolock)   
left join  [dbo].[MedicationNDC_SNO1] s with(nolock) on med.MEDICATIONNAME=s.MEDICATIONNAME  
left join [dbo].[MedicationSubstituteNDC_SNO2] sn with(nolock) on med.NDC=sn.NDC  
) m on m.FDBMEDID=d.FBDMEDID  
join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID    
left join PP_ODS..m25_MDDB_G mg with(nolock) on mg.NDC_UPC_HRI=m.DerivedNDC  /*NDC replaced with Derived NDC*/  
where     
p.CREATEDDATETIME> = @StartDate    
and MEDICATIONTYPE='CLINICALPRESCRIPTION'    
and p.PATIENTID is not null and p.PATIENTID<>'0' and d.STATUS='Closed' and e.ENCOUNTERSTATUS ='closed'    
and  d.CLINICALORDERTYPEID > 0     
    
    
/*Libery Insert*/    
drop table if exists #Libertymedicinedetails    
    
select    
DG.Name as Drug_name    
,P.patientid    
,(p.FirstName+' '+p.LastName) as Patientname_Liberty    
,p.DateOfBirth as DOB_Liberty    
,p.Gender as Gender_Liberty    
,cast (P.globalid  as int) globalid    
--,D.DoctorId as ProvideID    
,(D.FirstName+' '+D.LastName) Providername    
--,D.source_indicator as PharmacyName    
--,MD.NDC_UPC_HRI as NDC_Number    
,MD.GenericProductIdentifier as GenericProductIdentifier    
,Md.GPIGenericName    
,DG.NdcNumber    
--,DrugKey    
,cast (st.DateDispensedSQL as date)  DateDispensedSQL    
,sb.RefillsAuthorized    
,sb.FullDispenseQuantity    
,st.QuantityDispensed    
,st.DaysSupply    
,d.NPI    
,st.RefillNumber    
,sb.AuthorizedQuantity,sb.AvailableQuantity    
,sb.RefillUntilDate,st.NextDispensedQuantity    
,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit    
,ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId    
INTO #Libertymedicinedetails    
From PP_ODS..rxqDoctor as D (nolock)    
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator    
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator    
INNER JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber    
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator    
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber      
and SB.Source_Indicator=ST.Source_Indicator    
where     
DateDispensedSQL<>'9999-09-09'    
and DateDispensedSQL >=@StartDate    
and P.globalid<>'' and P.globalid is not null     
 order by PatientId    
    
    
/*Remove Duplicates Records*/    
/*Latest Record will have Rank =1 and Others are Removed */    
;with cte as     
(    
select *,    
row_number() over (partition by PATIENTID,PRESCRIBERNPI, CREATEDDATE,MEDICATIONNAME     
order by CREATEDDATETIME desc) Rnk     
from     
#PATIENTMEDICATION    
)    
delete from cte where Rnk > 1    
    
Alter table #PATIENTMEDICATION    
add NextPrescriptionDate date    
    
/*Add NextPrescriptionDate date*/    
;with cte as     
(    
select * ,isnull(lead(CreatedDate,1)     
over(partition by PATIENTID,PRESCRIBERNPI,MEDICATIONNAME order by CreatedDate)    
,cast(getdate()+1 as date)) NextDate    
from #PATIENTMEDICATION    
)    
update cte set NextPrescriptionDate=NextDate    
    
/*Athena Left Join Liberty Result Data*/    
    
Drop table if exists #Result    
    
select     
P.*     
,l.Drug_name,l.Providername,l.PatientId as Liberty_PatientId,    
l.GenericProductIdentifier L_GenericProductIdentifier,l.GlobalId,L.NPI,    
l.NdcNumber l_ndc ,l.GPIGenericName as L_GPIGenericName,    
l.DateDispensedSQL,l.Strength,l.form,l.Manufacturer,l.MetricName,l.MetricUnit,    
 l.RefillNumber    
,l.AuthorizedQuantity,l.AvailableQuantity,l.FullDispenseQuantity    
,l.RefillUntilDate,l.NextDispensedQuantity,l.RnkId,    
l.QuantityDispensed,    
l.RefillsAuthorized,    
l.DaysSupply ,l.Patientname_Liberty,l.Gender_Liberty,l.DOB_Liberty    
into #result    
from #PATIENTMEDICATION p    
left join #Libertymedicinedetails l on p.GenericProductIdentifier=l.GenericProductIdentifier     
and p.PATIENTID = l.GlobalId and p.PRESCRIBERNPI=L.NPI    
and  L.DateDispensedSQL  >= p.CreatedDate and L.DateDispensedSQL < p.NextPrescriptionDate    
    
/*Delete Wrongly Mapped Liberty records*/    
;with cte as     
(    
select ROW_NUMBER() over(partition by RnkId order by CreatedDate desc ) LatestRecordRnk    
,* from #result r    
where RnkId in     
(    
select RnkId    
from #result    
group by RnkId    
having count(1)>1    
)    
)    
    
delete     
---select MEDICATIONNAME,Drug_name,CreatedDate,DateDispensedSQL,*     
from cte     
where LatestRecordRnk >  1    
    
    
/*Athena Medicines Prescribed Left Join Liberty Taken */    
--select PatientName_Athena , Patientname_Liberty,Gender_Athena,Gender_Liberty,DOB_Athena,DOB_Liberty,* from     
--#Result    
--where Drug_name is not null     
----and PatientName_Athena <> Patientname_Liberty    
----and Gender_Athena <> Gender_Liberty    
--and DOB_Athena<> DOB_Liberty    
    
    
Truncate table Tbl_MedicationAnalysis    
    
Insert into Tbl_MedicationAnalysis    
(    
PATIENTMEDICATIONID,    
PATIENTID,    
PatientName_Athena,    
Gender_Athena,    
DOB_Athena,    
PRESCRIBERNPI,    
CreateDate,    
PRESCRIBER ,    
ProviderName ,     
MEDICATIONNAME,    
Drug_name,    
DateDispensedSQL,    
globalid,    
NPI,    
Liberty_PatientId,    
Patientname_Liberty,    
Gender_Liberty,    
DOB_Liberty,    
QuantityDispensed,    
FullDispenseQuantity,    
RefillsAuthorized,    
RefillNumber,    
DaysSupply,    
AuthorizedQuantity,    
AvailableQuantity,    
NUMBEROFREFILLSPRESCRIBED,    
PRESCRIPTIONFILLQUANTITY,    
DOCUMENTID,    
GPIID_Athena,    
GPIName_Athena,    
NDC_Athena,    
DerivedNDC_Athena,  
NDCType ,  
GPIID_Liberty,    
GPIName_Liberty,    
NDC_Liberty,    
LibertyRankId,    
RecordInsertedDate)    
    
    
select     
PATIENTMEDICATIONID,    
PATIENTID,    
PatientName_Athena,    
Gender_Athena,    
DOB_Athena,    
PRESCRIBERNPI,    
CreatedDate,    
PRESCRIBER ,    
Providername,    
MEDICATIONNAME,    
Drug_name,    
DateDispensedSQL,    
globalid,    
NPI,    
Liberty_PatientId,    
Patientname_Liberty,    
Gender_Liberty,    
DOB_Liberty ,    
QuantityDispensed,    
FullDispenseQuantity,    
RefillsAuthorized,    
RefillNumber,    
DaysSupply,    
AuthorizedQuantity,    
AvailableQuantity,    
NUMBEROFREFILLSPRESCRIBED,    
PRESCRIPTIONFILLQUANTITY,    
DOCUMENTID,    
GenericProductIdentifier as GPIID_Athena,    
GPIGenericName as GPIName_Athena,    
Ndc as NDC_Athena,   
DerivedNDC as DerivedNDC_Athena,  
NDCType ,  
L_GenericProductIdentifier as GPIID_Liberty ,    
L_GPIGenericName as GPIName_Liberty,    
l_ndc as NDC_Liberty    
,RnkId as LibertyRankId    
,getdate() as [RecordInsertedDate]    
from #Result     
    
/*Medicines Taken in Liberty but not Prescribed in Athena*/    
    
Truncate table [dbo].[Tbl_LibertyMedicines_NotPrescribed]    
    
Insert into [dbo].[Tbl_LibertyMedicines_NotPrescribed](    
  [Drug_name]     
 ,[patientid]     
 ,[globalid]    
 ,Patientname_Liberty    
 ,Gender_Liberty    
 ,DOB_Liberty    
 ,[Providername]     
 ,[GenericProductIdentifier]     
 ,[GPIGenericName]    
 ,[NdcNumber]    
 ,[DateDispensedSQL]     
 ,[RefillsAuthorized]    
 ,[FullDispenseQuantity]     
 ,[QuantityDispensed]     
 ,[DaysSupply]    
 ,[NPI]     
 ,[RefillNumber]     
 ,[AuthorizedQuantity]    
 ,[AvailableQuantity]    
 ,[RefillUntilDate]     
 ,[NextDispensedQuantity]     
 ,[Strength]     
 ,[form]     
 ,[Manufacturer]     
 ,[MetricName]     
 ,[MetricUnit]    
 ,[RnkId]    
 ,PatientType    
 ,RecordInsertedDate     
 )    
    
select     
     L.[Drug_name]     
 ,L.[patientid]     
 ,L.[globalid]    
 ,l.Patientname_Liberty    
 ,l.Gender_Liberty    
 ,l.DOB_Liberty    
 ,L.[Providername]     
 ,L.[GenericProductIdentifier]     
 ,L.[GPIGenericName]    
 ,L.[NdcNumber]    
 ,L.[DateDispensedSQL]     
 ,L.[RefillsAuthorized]    
 ,L.[FullDispenseQuantity]     
 ,L.[QuantityDispensed]     
 ,L.[DaysSupply]    
 ,L.[NPI]     
 ,L.[RefillNumber]     
 ,L.[AuthorizedQuantity]    
 ,L.[AvailableQuantity]    
 ,L.[RefillUntilDate]     
 ,L.[NextDispensedQuantity]     
 ,L.[Strength]     
 ,L.[form]     
 ,L.[Manufacturer]     
 ,L.[MetricName]     
 ,L.[MetricUnit]    
 ,L.[RnkId]     
 ,case when d.PATIENTID is null then 'Not Visited Clinic in '+cast(@Lv_Month as varchar(2))+' months'    
  else  'Visited Clinic in '+cast(@Lv_Month as varchar(2))+' months' end as PatientType    
 ,getdate()     
from #Libertymedicinedetails L     
left join     
#Result r on l.RnkId= r.RnkId    
left join    
(    
select distinct PATIENTID    
from #Result    
) d  on d.PATIENTID = l.globalid    
where r.RnkId is null     
    
    
end    
    
GO
