USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[MedicationNDC_SNO1]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationNDC_SNO1](
	[SNO] [int] NULL,
	[MEDICATIONNAME] [varchar](255) NULL,
	[Substitute NDC] [varchar](255) NULL,
	[Name] [varchar](255) NULL
) ON [PRIMARY]
GO
