USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[GetMergeTables]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetMergeTables](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SourceDBName] [varchar](100) NULL,
	[TargetDBName] [varchar](100) NULL,
	[SourceTable] [varchar](1000) NULL,
	[TargetTable] [varchar](1000) NULL,
	[PKColumnlist] [varchar](max) NULL,
	[IsActive] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
