USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PBIR_ScriptDashboard]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBIR_ScriptDashboard](
	[Athena_PatientID] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[Date_Of_Birth] [date] NULL,
	[Age] [varchar](50) NULL,
	[Patient_Gender] [varchar](50) NULL,
	[GlobalId] [varchar](50) NULL,
	[DrugId] [varchar](50) NULL,
	[DrugName] [varchar](250) NULL,
	[Drug_QTY] [numeric](18, 0) NULL,
	[Generic] [nvarchar](50) NULL,
	[ScriptNumber] [int] NULL,
	[Agency] [varchar](50) NULL,
	[ChargeCode] [varchar](50) NULL,
	[Copay] [decimal](9, 2) NULL,
	[Total] [decimal](9, 2) NULL,
	[RequestedACQ] [numeric](18, 0) NULL,
	[Cost] [decimal](9, 2) NULL,
	[RequestedAWP] [decimal](9, 2) NULL,
	[Modifiedby] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[Source_Indicator] [nvarchar](max) NULL,
	[is340b] [bit] NULL,
	[RequestedFees] [numeric](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
