USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[NACHCVaccines]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACHCVaccines](
	[Patient_ID] [numeric](12, 0) NULL,
	[Health_Center] [varchar](500) NULL,
	[Health_Center_ID] [numeric](12, 0) NULL,
	[Encounter_ID] [numeric](12, 0) NULL,
	[Vaccine_Given_Date] [date] NULL,
	[Encounter_Date] [date] NULL,
	[Vaccine_Code] [varchar](max) NULL,
	[Vaccine_Description] [varchar](max) NULL,
	[Vaccine_Dose] [numeric](18, 6) NULL,
	[Vaccine_Dose_Unit] [varchar](max) NULL,
	[Vaccine_Location] [varchar](13) NULL,
	[vaccine_refusal] [varchar](max) NULL,
	[vaccine_refusal_Reason] [varchar](19) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
