USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[TitleX_Encounters]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleX_Encounters](
	[Encounter ID] [float] NULL,
	[Visit Date] [datetime] NULL
) ON [PRIMARY]
GO
