USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[GLOBALFLOWSHEETELEMENT_BackUp]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLOBALFLOWSHEETELEMENT_BackUp](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[GLOBALFLOWSHEETELEMENTID] [numeric](12, 0) NULL,
	[GLOBALFLOWSHEETTEMPLATEID] [numeric](12, 0) NULL,
	[ELEMENTKEY] [varchar](max) NULL,
	[EDITLAYOUTCOLUMN] [numeric](1, 0) NULL,
	[INPUTTYPE] [varchar](max) NULL,
	[ELEMENTCLASS] [varchar](max) NULL,
	[CREATESROWYN] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
