USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Patientdatahub1]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patientdatahub1](
	[PatientID] [numeric](12, 0) NULL,
	[PatientName] [varchar](max) NOT NULL,
	[DOB] [date] NULL,
	[sex] [varchar](max) NULL,
	[DiagnosisCode] [varchar](max) NULL,
	[DiagnosisName] [varchar](max) NULL,
	[ClinicalEncounterID] [numeric](12, 0) NULL,
	[SCHEDULINGNAME] [text] NULL,
	[PROVIDERFIRSTNAME] [text] NULL,
	[ProviderID] [numeric](12, 0) NULL,
	[DepartmentID] [numeric](12, 0) NULL,
	[DEPARTMENTNAME] [varchar](max) NULL,
	[DiagnosisDate] [date] NULL,
	[ApTypeIDD] [numeric](12, 0) NULL,
	[ApTypeNameD] [varchar](max) NULL,
	[ProcedurePatientID] [numeric](12, 0) NULL,
	[ProcedureCode] [varchar](max) NULL,
	[ProcedureName] [varchar](max) NULL,
	[ProcedureClinicalEncounterID] [numeric](12, 0) NULL,
	[ProcedureDaTE] [date] NULL,
	[ApTypeIDP] [numeric](12, 0) NULL,
	[ApTypeNameP] [varchar](max) NULL,
	[rn] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
