USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[FPAR2ReportLatest_backup19062026]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPAR2ReportLatest_backup19062026](
	[ClinicalEncounterId] [varchar](20) NULL,
	[ChartId] [varchar](20) NULL,
	[DepartmentID] [varchar](10) NULL,
	[ProviderNPINumber] [varchar](20) NULL,
	[ProviderID] [varchar](10) NULL,
	[provider_role] [varchar](20) NULL,
	[PROVIDERTYPENAME] [varchar](50) NULL,
	[FparPatient_ID] [varchar](100) NULL,
	[DepPrefix] [varchar](10) NULL,
	[AthenaPatientID] [varchar](10) NULL,
	[visit_date] [varchar](20) NULL,
	[birth_date] [varchar](20) NULL,
	[sex] [varchar](10) NULL,
	[limited_english_proficiency] [varchar](20) NULL,
	[ethnicity] [varchar](10) NULL,
	[race_amindian] [varchar](10) NULL,
	[race_asian] [varchar](10) NULL,
	[race_black] [varchar](10) NULL,
	[race_hpi] [varchar](10) NULL,
	[race_white] [varchar](10) NULL,
	[race] [varchar](50) NULL,
	[CDCRACECODE] [varchar](20) NULL,
	[annual_household_income] [varchar](50) NULL,
	[household_size] [varchar](10) NULL,
	[insurance_coverage_type] [varchar](10) NULL,
	[INSURANCEPACKAGETYPE] [varchar](50) NULL,
	[INSURANCEPACKAGENAME] [varchar](150) NULL,
	[visit_payer] [varchar](10) NULL,
	[pregnancy_status] [varchar](50) NULL,
	[pregnancy_status_desc] [varchar](100) NULL,
	[pregnancy_intention] [varchar](50) NULL,
	[pregnancy_intention_desc] [varchar](100) NULL,
	[contraceptive_method_intake] [varchar](50) NULL,
	[contraceptive_method_intake_desc] [varchar](100) NULL,
	[contraceptive_method_intake_date] [datetime] NULL,
	[no_contraceptive_reason_intake] [varchar](50) NULL,
	[no_contraceptive_reason_intake_desc] [varchar](100) NULL,
	[contraceptive_method_exit] [varchar](50) NULL,
	[contraceptive_method_exit_desc] [varchar](100) NULL,
	[contraceptive_method_exit_date] [datetime] NULL,
	[no_contraceptive_reason_exit] [varchar](50) NULL,
	[no_contraceptive_reason_exit_desc] [varchar](100) NULL,
	[contraceptive_method_provided] [varchar](50) NULL,
	[contraceptive_method_provided_desc] [varchar](100) NULL,
	[contraceptive_counseling_provided] [varchar](50) NULL,
	[contraceptive_counseling_provided_desc] [varchar](100) NULL,
	[pregnancy_counseling_provided] [varchar](50) NULL,
	[pregnancy_counseling_provided_desc] [varchar](100) NULL,
	[blood_pressure_systolic] [varchar](20) NULL,
	[blood_pressure_diastolic] [varchar](20) NULL,
	[height] [varchar](20) NULL,
	[height_unit] [varchar](20) NULL,
	[weight] [varchar](20) NULL,
	[weight_unit] [varchar](20) NULL,
	[tobacco_smoking_status] [varchar](50) NULL,
	[tobacco_smoking_status_desc] [varchar](100) NULL,
	[test_pap] [varchar](20) NULL,
	[test_hpv] [varchar](20) NULL,
	[test_chlamydia] [varchar](20) NULL,
	[test_gonorrhea] [varchar](20) NULL,
	[test_hiv] [varchar](20) NULL,
	[test_syphilis] [varchar](20) NULL,
	[test_pap_result] [varchar](20) NULL,
	[test_pap_result_desc] [varchar](4000) NULL,
	[test_hpv_result] [varchar](20) NULL,
	[test_hpv_result_desc] [varchar](100) NULL,
	[test_chlamydia_result] [varchar](20) NULL,
	[test_chlamydia_result_desc] [varchar](200) NULL,
	[test_gonorrhea_result] [varchar](20) NULL,
	[test_gonorrhea_result_desc] [varchar](100) NULL,
	[test_hiv_result] [varchar](20) NULL,
	[test_hiv_result_desc] [varchar](100) NULL,
	[test_syphilis_result] [varchar](20) NULL,
	[test_syphilis_result_desc] [varchar](100) NULL,
	[RecordInsertedDate] [datetime] NULL
) ON [PRIMARY]
GO
