USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Vaccination_Report]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE Procedure [dbo].[Vaccination_Report]
As
Begin

							IF OBJECT_ID(N'dbo.PatientVaccinesTable', N'U') IS NOT NULL
							DROP TABLE PP_Athena_ODS..PatientVaccinesTable
							IF OBJECT_ID('tempdb..#PatientCharges') IS NOT NULL
							DROP TABLE #PatientCharges
							IF OBJECT_ID(N'dbo.PatientVaccineReport', N'U') IS NOT NULL 
							Drop table PP_Athena_ODS..PatientVaccineReport


select P.PATIENTID,
year(Getdate())-Year(P.DOB) as Age,
P.SEX,
P.FIRSTNAME,
P.LASTNAME,
P.RACE,
concat(P.FIRSTNAME,' ',P.LASTNAME) as PatientName,
DEP.DEPARTMENTCITY as City,
P.STATE,
PV.ADMINISTEREDDATETIME,
PV.TYPE as Vaccine_Type,
case
when PV.ADMINISTEREDDATETIME IS NULL THEN 'NOT ADMINISTERED'
else 'ADMINISTERED'
END
as Administered_NotAdministered,
PV.VACCINENAME,
PV.DOCUMENTID,
PV.CVX,
PV.VISGIVENDATE
into PatientVaccinesTable
From ATHENAONE.Patient as P
Right Join ATHENAONE.PATIENTVACCINE as PV
On P.PATIENTID=PV.PATIENTID and
   P.CONTEXTID=PV.CONTEXTID
left Join ATHENAONE.DOCUMENT As D
On PV.DOCUMENTID=D.DOCUMENTID and
   PV.CONTEXTID=D.CONTEXTID
left Join ATHENAONE.DEPARTMENT as DEP
On D.DEPARTMENTID=DEP.DEPARTMENTID and
   D.CONTEXTID=DEP.CONTEXTID
where PV.VISGIVENDATE is not null  and PV.VISGIVENDATE<=GETDATE() and P.PATIENTID is not null and PV.PATIENTID is not null and
PV.VACCINENAME is not null

--update PatientVaccinesTable
--set Age=Cast('NA' as int)
--where Age is null

Update PatientVaccinesTable
set SEX='NA'
where SEX is null



select  distinct b.patientid,(c.CURRENTCHARGE+c.LATECHARGE) as Charges ,c.PROCEDURECODENAME,b.DOCUMENTID,
c.[type] as type ,c.PAYMENT,c.PARENTCHARGEID,LEFT(c.PROCEDURECODENAME,5) AS ProcedureCode,pc.PROCEDURECODEDESCRIPTION,b.VISGIVENDATE
Into #PatientCharges
from ATHENAONE.Patient a
inner join ATHENAONE.PATIENTVACCINE b on
a.PATIENTID=b.PATIENTID and a.CONTEXTID=b.CONTEXTID
inner join FINANCIALS.ACTIVITYFACT c on
b.PATIENTID=c.PATIENTID and b.CONTEXTID=c.CONTEXTID
INNER JOIN ATHENAONE.PROCEDURECODE as pc on LEFT(c.PROCEDURECODENAME,5)=pc.PROCEDURECODE and c.CONTEXTID=pc.CONTEXTID
where  c.[TYPE] in ('charge','payment') 
and b.VISGIVENDATE is not null and c.PROCEDURECODENAME like '%vacc%' and LOTNUMBER is not null and b.DOCUMENTID is not null


--select * from #PatientCharges
--where PROCEDURECODENAME like '%MODERNA COVID-19%'
--where PATIENTID=142269
--select  LEFT(PROCEDURECODENAME,5) AS ProcedureCode
--into #ProcedureCodeName from #Patientcharges

Begin
with cte as (
select distinct PC.PATIENTID as Patient_ID,
PV.PatientName as Patient_Name,
PV.Age,
PV.SEX as Gender,
Case
when RACE like '%Black%' then 'Black'
when RACE like '%Spanish American Indian%' then 'Spanish American Indian'
When RACE like '%Other Pacific Islander%' then 'Other Pacific Islander'
when RACE like '%Black or African American%' then 'Black or African American'
when RACE like '%American Indian or Alaska Native%' then 'American Indian or Alaska Native'
when RACE like '%Native Hawaiian or Other Pacific Islander%' then 'Native Hawaiian or Other Pacific Islander'
when RACE like '%White%' then 'WHITE'
else 'Others'
End as Race,
PV.CITY as City,
PV.STATE as State,
PV.ADMINISTEREDDATETIME as VaccineGivenDate,
PV.Administered_NotAdministered,
PV.Vaccine_Type,
PC.type as Type,
--PC.PROCEDURECODENAME,
PC.ProcedureCode,
--Reverse(PARSENAME(Reverse(Replace(PC.PROCEDURECODENAME,':','.')), 2)) AS ProcedureCodeName,
PC.PROCEDURECODEDESCRIPTION,
PC.Charges,
PC.PAYMENT,
ROW_NUMBER() over(PARTITION By PC.PATIENTID,PC.Charges,PC.PAYMENT order by PV.ADMINISTEREDDATETIME desc ) as Rn
from PatientVaccinesTable as PV
Left Join #PatientCharges as PC
on PV.PATIENTID=PC.PATIENTID and
   PV.DOCUMENTID=PC.DOCUMENTID)
--inner join #ProcedureCodeName as PCN
--on PC.ProcedureCode=PCN.ProcedureCode)

select *  Into PatientVaccineReport from CTE
where RN=1 and Patient_ID is not null
END


END
GO
