USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_340BAudit]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----Exec sp_340BAudit '2023-01-01','2023-06-30'        
CREATE procedure [dbo].[sp_340BAudit]  (@startdate date ,@enddate date)            
as               
begin              
              
--declare @startdate date='2023-01-01' ,@enddate date ='2023-06-30'    
    
Declare @lv_startdate datetime = @startdate,        
@lv_enddate datetime  = dateadd(day,1,@enddate)      
      
    
drop table if exists #Tbl_340BAudit              
              
select               
p.MEDICATIONNAME as DrugName,              
m.NDC,              
m.DerivedNDC,              
m.NDCType,               
p.PRESCRIPTIONFILLQUANTITY,              
p.NUMBEROFREFILLSPRESCRIBED,              
P.DOSAGEQUANTITY,              
P.DISPLAYDOSAGEUNITS,              
p.PATIENTID              
 ,pt.FirstName+' '+pt.LastName as PatientName_Athena,                   
pt.Sex as Gender_Athena ,pt.DOB as DOB_Athena              
,p.PRESCRIBERNPI,              
p.PRESCRIBER              
,cast(p.CREATEDDATETIME as date) CreatedDate,                  
p.CREATEDDATETIME    ,              
p.MEDADMINISTEREDDATETIME,                  
d.DOCUMENTID,dp.DEPARTMENTNAME        ,c.LocationName  ,c.Loc_340B_ID     
,d.CLINICALENCOUNTERID,e.APPOINTMENTID,      
d.CLINICALORDERTYPEID ,d.FBDMEDID                   
,p.PATIENTMEDICATIONID,              
m.MEDICATIONNAME as M_MEDICATIONNAME,m.MEDICATIONID,                  
mg.GenericProductIdentifier,mg.GPIGenericName  ,      
case when DP.DEPARTMENTNAME like '%Vanceburg%' then 'VB'      
when DP.DEPARTMENTNAME like '%Ashland%' then 'ASH'      
when DP.DEPARTMENTNAME like '%Augusta%' then 'BC'      
when DP.DEPARTMENTNAME like '%Maysville%' then 'MV'      
when DP.DEPARTMENTNAME like '%Flemingsburg%' then 'FB'      
when DP.DEPARTMENTNAME like '%Grayson%' then 'GR'      
when DP.DEPARTMENTNAME like '%SouthShore%' then 'SS'      
when DP.DEPARTMENTNAME like '%South Shore%' then 'SS'      
when DP.DEPARTMENTNAME like '%Tollesboro%' then 'TB'      
end as SourceIndicator     
into                  
#Tbl_340BAudit                 
from                  
ATHENAONE.PATIENTMEDICATION p with(nolock)                  
join ATHENAONE.Patient Pt with(nolock) on p.PATIENTID=pt.PATIENTID                  
join ATHENAONE.DOCUMENT d with(nolock) on d.DOCUMENTID=p.DOCUMENTID              
join ATHENAONE.DEPARTMENT DP with(nolock) on DP.DEPARTMENTID=d.DEPARTMENTID     
join [dbo].[AthenaDepLoc_Crosswalk] C on c.Id=d.DEPARTMENTID  
join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID        
join                 
( /*Derived NDC using Bridge Tables*/                
select med.MEDICATIONNAME,med.MEDICATIONID,med.FDBMEDID ,                
isnull(isnull(sn.[NDC in Liberty],med.NDC),s.[Substitute NDC]) as DerivedNDC ,                
case                 
     when sn.[NDC in Liberty] is not null  then 'SNO2DerivedNDC'                 
  when med.NDC is null and s.[Substitute NDC] is not null then 'SNO1DerivedNDC'                 
     else 'NormalNDC' end as NDCType,                
med.NDC,s.[Substitute NDC] ,sn.[NDC in Liberty]                
from                 
ATHENAONE.MEDICATION med with(nolock)                 
left join  [dbo].[MedicationNDC_SNO1] s with(nolock) on med.MEDICATIONNAME=s.MEDICATIONNAME                
left join [dbo].[MedicationSubstituteNDC_SNO2] sn with(nolock) on med.NDC=sn.NDC                
) m on m.FDBMEDID=d.FBDMEDID                          
left join PP_ODS..m25_MDDB_G mg with(nolock) on mg.NDC_UPC_HRI=m.DerivedNDC  /*NDC replaced with Derived NDC*/                
where                   
p.CREATEDDATETIME >=@lv_startdate and p.CREATEDDATETIME<=@lv_enddate                 
and p.ADMINISTEREDYN='Y'              
and MEDICATIONTYPE='CLINICALPRESCRIPTION'                  
and p.PATIENTID is not null and p.PATIENTID<>'0' and d.STATUS='Closed'               
and e.ENCOUNTERSTATUS ='closed'                  
and  d.CLINICALORDERTYPEID > 0                   
              
              
;with cte as                   
(                  
select *,                  
row_number() over (partition by PATIENTID,PRESCRIBERNPI, CREATEDDATE,DrugName                   
order by CREATEDDATETIME desc) Rnk                   
from                   
#Tbl_340BAudit                  
)                  
delete from cte where Rnk > 1         
      
drop table if exists #Tbl_PatientMedicationsPayersinfo      
      
select t.PATIENTMEDICATIONID,Py.INSURANCEPACKAGETYPE   as Payer      
into #Tbl_PatientMedicationsPayersinfo  --select *    
from #Tbl_340BAudit t      
---join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=t.CLINICALENCOUNTERID        
join ATHENAONE.APPOINTMENT  A with(nolock) on A.APPOINTMENTID=t.APPOINTMENTID      
---join ATHENAONE.CLAIM C with(nolock) on C.CLAIMID=A.CLAIMID      
--join ATHENAONE.PATIENTINSURANCE as PIns with(nolock) on c.CLAIMPRIMARYPATIENTINSID=Pins.PATIENTINSURANCEID     
join ATHENAONE.PATIENTINSURANCE as PIns with(nolock) on a.PRIMARYPATIENTINSURANCEID=Pins.PATIENTINSURANCEID     
join ATHENAONE.Payer as Py  with(nolock) on Py.INSURANCEPACKAGEID =Pins.INSURANCEPACKAGEID      
            
      
select distinct source_indicator,NdcNumber,Is340B,UnitAcqPrice      
into #Temp_LibertyDrug_Info      
from pp_ods..rxqDrug  r with(nolock)      
      
delete t       
from       
#Temp_LibertyDrug_Info t      
join       
(      
select source_indicator,NdcNumber      
from       
#Temp_LibertyDrug_Info      
group by source_indicator,NdcNumber      
having count(1) > 1      
) r on r.source_indicator=t.source_indicator and r.NdcNumber=t.NdcNumber      
          
drop table if exists Tbl_340BAudit          
          
select ROW_NUMBER() over(order by t.PATIENTMEDICATIONID) SNO, t.* , Payer ,l.Is340B,l.UnitAcqPrice      
into Tbl_340BAudit          
from #Tbl_340BAudit t       
left join #Tbl_PatientMedicationsPayersinfo p on p.PATIENTMEDICATIONID=t.PATIENTMEDICATIONID      
left join #Temp_LibertyDrug_Info L on t.SourceIndicator=l.source_indicator      
and t.DerivedNDC=l.NdcNumber      
      
      
end          
GO
