USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_FPAR2Report]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*        
select         
facility_Id        
,provider_role        
,patient_Id        
,visit_date        
,birth_date        
,sex        
,limited_english_proficiency        
,ethnicity        
,race_amindian        
,race_asian         
,race_black        
,race_hpi        
,race_white        
,annual_household_income        
,household_size         
,insurance_coverage_type        
,[pregnancy_status]        
,[pregnancy_intention]        
,[contraceptive_method_exit]        
,[no_contraceptive_reason_exit]        
,test_pap        
,test_chlamydia        
,test_gonorrhea        
,test_hiv        
,test_syphilis        
from [dbo].[FPAR2Report]        
where     
(facility_Id is not null     
and provider_role is not null     
and patient_Id is not null     
and visit_date is not null     
and birth_date is not null     
and sex is not null     
and limited_english_proficiency is not null     
)    
and year(birth_date) < '2017'    
order by visit_date,patient_Id,facility_Id   
  
Exec Sp_FPAR2Report  '2025'  
  
*/        
CREATE procedure [dbo].[Sp_FPAR2Report] (@year int ) as         
begin        
        
drop table CLINICALENCOUNTERDATA_TitleX         
select * into CLINICALENCOUNTERDATA_TitleX       
from  ATHENAONE.CLINICALENCOUNTERDATA with(nolock)   
where year(CREATEDDATETIME)=@year        
        
        
DROP TABLE IF EXISTS #PrefixIds        
create table #PrefixIds(DepName varchar(200) , DepCode varchar(20) )        
        
Insert into #PrefixIds(DepName,DepCode)        
        
 select 'Ashland Family Health Center' ,'KYFQPP02'        
union select 'Bracken Family Health Center' , 'KYFQPP03'        
union select 'Flemingsburg Family Health Center' ,'KYFQPP04'        
union select 'Grayson Family Health Center'  ,'KYFQPP10'        
union select 'Maysville Family Health Center'  ,'KYFQPP07'        
union select 'Morehead Family Health Center' ,'KYFQPP12'        
union select 'Robertson County Family Health Center' ,'KYFQPP13'        
union select 'South Shore Family Health Center' ,'KYFQPP05'        
union select 'Tollesboro Family Health Center'  ,'KYFQPP06 '        
union select 'Vanceburg Family Health Center' ,'KYFQPP14'        
union select 'Vanceburg Women''s Center' ,'KYFQPP11'        
union select 'Family Medicine Residency','KYFQPP07'        
union select 'Maysville DMC' ,'KYFQPP01'        
union select 'Maysville Medical Specialty','KYFQPP07'        
union select 'Maysville OB/GYN','KYFQPP09'        
union select 'Maysville Pediatrics','KYFQPP08'      
union select 'Bracken School-based Health Center','KYFQPP03'    
        
--select * from #PrefixIds        
        
drop table if exists #ProviderRoleCodes        
        
create table #ProviderRoleCodes (PROVIDERTYPENAME varchar(100), Code varchar(20))        
        
insert into #ProviderRoleCodes (PROVIDERTYPENAME , Code )        
        
select 'ADVANCED PRACTICE REGISTERED NURSE','224535009'        
union select 'Certified Nurse Midwife (CNM)','309453006'        
union select 'CERTIFIED PHYSICIAN ASSISTANT','449161006'        
union select 'CLINICAL SOCIAL WORKER','106328005'        
union select 'DOCTOR OF OSTEOPATHY (DO)','309343006'        
union select 'LICENSED CLINICAL SOCIAL WORKER (LCSW)','106328005'        
union select 'MD','309343006'        
union select 'Registered Nurse (RN)','224535009'        
        
--declare @year int='2026'        
        
drop table if exists #ClinicalEncounters_Year       
        
select * into #ClinicalEncounters_Year --141674        
from ATHENAONE.CLINICALENCOUNTER with(nolock)         
where year(ENCOUNTERDATE) = @year         
and ENCOUNTERSTATUS='closed'        
and CLINICALENCOUNTERTYPE='visit'         
        
        
drop table if exists #TitleXCLINICALENCOUNTER        
        
select distinct CLINICALENCOUNTERID into #TitleXCLINICALENCOUNTER        
from         
CLINICALENCOUNTERDATA_TitleX        
where [KEY] in ('CLINICALSTAO_GLOBAL_TITLEXFAMILYPLANNINGPROVIDER',      
'CLINICALSTAO_GLOBAL_TITLEXPRIMARYMETHODFEMALE', 'CLINICALSTAO_GLOBAL_TITLEXPRIMARYMETHODMALE')       
      
delete from #TitleXCLINICALENCOUNTER where CLINICALENCOUNTERID in       
( select distinct CLINICALENCOUNTERID from CLINICALENCOUNTERDATA_TitleX       
where [VALUE] ='titlex' and [key]='CLINICALSTAO_SPECIALTYFIELDGROUP'       
and DELETEDBY is not null  and CLINICALENCOUNTERID is not null  )         
       
drop table if exists #FamilyplanningVisits_Year --8941        
        
select ce.DEPARTMENTID as FacilityID, ce.PROVIDERID,        
cast(p.PROVIDERTYPENAME as varchar(100)) PROVIDERTYPENAME,  
p.PROVIDERNPINUMBER,
d.DEPARTMENTNAME,pd.DepCode        
,ce.encounterdate as VisitDate,ce.CHARTID ,pt.DOB,pt.GENDERIDENTITY,pt.SEX,        
pt.SEXUALORIENTATION,ce.CLINICALENCOUNTERID,pt.PATIENTID,pt.FIRSTNAME,pt.LASTNAME,        
pr.Code as ProviderCode,pt.ETHNICITY,pt.CDCETHNICITYCODE ,pt.RACE,pt.CDCRACECODE,        
pt.LANGUAGE , pt.UNCONFIRMEDYEARLYINCOME,pt.UNCONFIRMEDFAMILYSIZE        
into #FamilyplanningVisits_Year        
from #ClinicalEncounters_Year ce         
join #TitleXCLINICALENCOUNTER T on t.CLINICALENCOUNTERID=ce.CLINICALENCOUNTERID        
join ATHENAONE.PROVIDER p with(nolock) on p.PROVIDERID=ce.PROVIDERID        
join ATHENAONE.Patient pt with(nolock) on pt.PATIENTID=ce.PATIENTID        
left join ATHENAONE.DEPARTMENT d with(nolock) on d.DEPARTMENTID=ce.DEPARTMENTID        
left join #PrefixIds pd on pd.DepName=d.DEPARTMENTNAME        
left join #ProviderRoleCodes pr on pr.PROVIDERTYPENAME=cast(p.PROVIDERTYPENAME as varchar(100))        
where  d.DEPARTMENTNAME not in ('Ripley School-based Health Center')        
and pt.ETHNICITY in ('Hispanic or Latino','Not Hispanic or Latino','Patient Declined')        
        
        
--select * from #FamilyplanningVisits_Year2025 where ProviderCode is null         
        
        
alter table #FamilyplanningVisits_Year        
add limited_english_proficiency varchar(50)        
        
update f set  limited_english_proficiency=        
case when p.[LANGUAGE]='English' then '455951000124102' else '455961000124100' end        
--select *        
from         
#FamilyplanningVisits_Year f          
left join athenaone.patient p with(nolock) on  p.patientid = f.patientid        
        
        
alter table #FamilyplanningVisits_Year        
add race_amindian varchar(50) ,race_asian varchar(50),        
 race_black varchar(50) ,race_hpi varchar(50)        
 ,race_white varchar(50)        
      
 --select * from #FamilyplanningVisits_Year where RACE='American Indian'      
        
        
update #FamilyplanningVisits_Year set race_amindian='1002-5'        
where CDCRACECODE in ('1002-5','1212-0','1126-2','1070-2','1072-8','1074-4' ,      
'1004-1' /*American Indian*/      
)/*American Indian or Alaska Native*/        
        
update #FamilyplanningVisits_Year set race_asian='2028-9'        
where CDCRACECODE in ('2028-9','2029-7','2040-4') /*Asian*/        
        
update #FamilyplanningVisits_Year set race_black='2054-5'        
where CDCRACECODE in ('2054-5','2058-6','2056-0') /*Black or African American*/        
        
update #FamilyplanningVisits_Year set race_hpi=CDCRACECODE        
where CDCRACECODE='2076-8' /*Native Hawaiian or Other Pacific Islander*/        
        
update #FamilyplanningVisits_Year set race_white=CDCRACECODE        
where CDCRACECODE='2106-3' /*White*/        
        
drop table if exists #FinalResult        
        
select FacilityID  facility_Id , PROVIDERNPINUMBER,ProviderCode as provider_role,        
DepCode+cast(PATIENTID as varchar(20)) patient_Id ,VisitDate visit_date ,         
DOB as birth_date , sex ,limited_english_proficiency ,ETHNICITY,CDCETHNICITYCODE,        
RACE,CDCRACECODE,        
race_amindian,race_asian,race_black,race_hpi,race_white        
,UNCONFIRMEDYEARLYINCOME annual_household_income , UNCONFIRMEDFAMILYSIZE household_size,        
CLINICALENCOUNTERID,PATIENTID,CHARTID        
into #FinalResult        
from        
#FamilyplanningVisits_Year l        
order by FacilityID,VisitDate        
        
--select * from #FinalResult        
---------------------------------------------------------------------------        
        
drop table if exists #ChartSocialHistory        
        
;with cte as         
(        
select p.PATIENTID,cht.CHARTID,res.socialhxformresponseid,ans.VALUE answer , ques.label  ,          
ans.CREATEDDATETIME        
,row_number() over(partition by p.patientid,CHT.CHARTID,        
[label],cast(ans.CREATEDDATETIME as date)           
order by ans.CREATEDDATETIME desc ) ord           
from           
ATHENAONE.SOCIALHXFORMRESPONSE res  with(nolock)          
join ATHENAONE.CHART CHT  with(nolock) on CHT.CHARTID=res.CHARTID         
join ATHENAONE.patient P with(nolock) on p.PATIENTID=cht.ENTERPRISEID         
join        
(         
select distinct CHARTID,PATIENTID from  #FinalResult         
)        
fr on fr.CHARTID=cht.CHARTID and fr.PATIENTID=CHT.ENTERPRISEID        
LEFT JOIN           
ATHENAONE.SocialHXFormResponseAnswer ans with(nolock)          
ON res.socialhxformresponseid = ans.socialhxformresponseid               
AND res.contextid = ans.contextid              
LEFT JOIN ATHENAONE.SOCIALHXFORMQUESTION  ques  with(nolock)          
ON ques.formid = res.formid           
AND ques.questionkey = ans.questionkey           
where res.DELETEDBY is null and ans.DELETEDBY is null and ques.DELETEDBY is null        
and        
label in (        
'What is your pregnancy status?'        
,'Do you have any future plans to get pregnant?'        
,'What is your reason for having no contraceptive method at end of this visit?'        
,'What contraceptive method was reported at end of this visit?')        
        
)        
select * into #ChartSocialHistory        
from cte         
where ord = 1        
        
--select * from #ChartSocialHistory        
        
drop table if exists #ChartSocialHistory_ValidityDates        
        
select * ,row_number() over(partition by patientid,[label]           
order by CREATEDDATETIME desc )Rnk           
,cast(CREATEDDATETIME as date) ValidityStartDate        
,cast(isnull(dateadd(day,-1,lead(CREATEDDATETIME)         
over(partition by patientid,chartid,[label]         
order by CREATEDDATETIME)         
),'9999-09-09') as date) ValidityEndDate        
into #ChartSocialHistory_ValidityDates        
from        
#ChartSocialHistory        
order by patientid,[label],Rnk        
        
        
--select * from #ChartSocialHistory_ValidityDates        
--order by patientid,[label],Rnk        
        
--select *         
--from #FinalResult f --8149        
--left join         
--#ChartSocialHistory_ValidityDates v on f.PATIENTID=v.PATIENTID        
--and f.CHARTID=v.CHARTID and f.visit_date between v.ValidityStartDate         
--and ValidityEndDate        
        
        
        
drop table if exists #EncounterSocialHistory        
        
SELECT         
    CLINICALENCOUNTERID,        
    [PregnancyIntention],        
    [PregnancyStatus],        
    [NoContraceptionReason],        
    [ContraceptiveMethodAtExit]        
 into #EncounterSocialHistory        
FROM         
        
(        
            
select  f.CLINICALENCOUNTERID,        
case when  v.LABEL='What contraceptive method was reported at end of this visit?'        
then 'ContraceptiveMethodAtExit'        
when  v.LABEL='What is your pregnancy status?'        
then 'PregnancyStatus'        
when  v.LABEL='What is your reason for having no contraceptive method at end of this visit?'        
then 'NoContraceptionReason'        
when  v.LABEL='Do you have any future plans to get pregnant?'        
then 'PregnancyIntention' end        
as [label]        
,v.answer         
from #FinalResult f --8149        
left join         
#ChartSocialHistory_ValidityDates v on f.PATIENTID=v.PATIENTID        
and f.CHARTID=v.CHARTID and f.visit_date between v.ValidityStartDate         
and ValidityEndDate        
--order by f.PATIENTID,f.CHARTID,f.visit_date desc,v.LABEL,v.ValidityStartDate desc        
) src        
PIVOT        
(        
    MAX(Answer)         
    FOR label IN ([ContraceptiveMethodAtExit]        
 ,[PregnancyStatus],[NoContraceptionReason],[PregnancyIntention])        
) p;        
        
        
        
drop table if exists #EncounterSocialHistory_with_Codes        
        
select CLINICALENCOUNTERID,        
[PregnancyIntention],        
CASE WHEN PregnancyIntention = 'I''m OK either way' THEN '454411000124108'        
  WHEN PregnancyIntention = 'Yes, I want to become pregnant' THEN '454411000124108'        
  Else ''        
END PregIntention_Code,        
[PregnancyStatus],        
CASE WHEN PregnancyStatus = 'Pregnant' THEN '77386006'         
  ELSE ''        
END PregStatus_Code,        
[NoContraceptionReason],        
CASE WHEN NoContraceptionReason= 'Other' THEN '74964007'        
  WHEN NoContraceptionReason= 'Sterile for non-contraceptive reasons' THEN '15296000'         
  WHEN NoContraceptionReason= 'Same sex partner' THEN '454361000124100'        
  WHEN NoContraceptionReason= 'Abstinence' THEN '454731000124108'        
  WHEN NoContraceptionReason= 'Seeking pregnancy' THEN '454411000124108'        
  ELSE ''        
END NocontrReason_Code,        
[ContraceptiveMethodAtExit],        
CASE         
 WHEN [ContraceptiveMethodAtExit]= 'Vasectomy' THEN '22523008'        
 WHEN [ContraceptiveMethodAtExit]= 'Female sterilization' THEN '60890002'        
 WHEN [ContraceptiveMethodAtExit]= 'None' THEN '169450001'        
 WHEN [ContraceptiveMethodAtExit]= 'Progestin only contraceptive pills' THEN '169467008'        
 WHEN [ContraceptiveMethodAtExit]= 'Withdrawal' THEN '169513000'        
 WHEN [ContraceptiveMethodAtExit]= 'Sponge' THEN '169530003'        
 WHEN [ContraceptiveMethodAtExit]= 'Female condom' THEN '228479001'        
 WHEN [ContraceptiveMethodAtExit]= 'Combined oral contraceptive pills' THEN '268458002'        
 WHEN [ContraceptiveMethodAtExit]= 'Spermicide' THEN '268466006'        
 WHEN [ContraceptiveMethodAtExit]= 'Emergency contraception' THEN '268463003' -- 275813002      
 WHEN [ContraceptiveMethodAtExit]= 'IUD copper' THEN '448962006'        
 WHEN [ContraceptiveMethodAtExit]= 'Vaginal ring' THEN '450850003'        
 WHEN [ContraceptiveMethodAtExit]= 'Diaphragm or cervical cap' THEN '450851004'        
 WHEN [ContraceptiveMethodAtExit]= 'Lactational amenorrhea method' THEN '454441000124107'        
 WHEN [ContraceptiveMethodAtExit]= 'Decline to answer' THEN '454451000124109'        
 WHEN [ContraceptiveMethodAtExit]= 'Male relying on female method' THEN '455491000124102'        
 WHEN [ContraceptiveMethodAtExit]= 'Fertility awareness-based methods' THEN '455501000124105'        
 WHEN [ContraceptiveMethodAtExit]= 'Contraceptive Gel' THEN '831141000124107'        
 WHEN [ContraceptiveMethodAtExit]= 'Contraceptive patch' THEN '413116005'        
 WHEN [ContraceptiveMethodAtExit]= 'Implantable rod' THEN '428987008'        
 WHEN [ContraceptiveMethodAtExit]= 'Injectables' THEN '268464009'        
 WHEN [ContraceptiveMethodAtExit]= 'IUD unspecified' THEN '312081001'        
 WHEN [ContraceptiveMethodAtExit]= 'IUD with Progestin' THEN '449038007'        
 WHEN [ContraceptiveMethodAtExit]= 'Male condom' THEN '442450006'  ---   268461001   
 ELSE ''        
END ContrExitCode        
into #EncounterSocialHistory_with_Codes        
from  #EncounterSocialHistory         
        
        
---select * from #EncounterSocialHistory_with_Codes        
        
 drop table if exists #PayerInfo        
        
  select f.CLINICALENCOUNTERID,a.appointmentid         
  , 
  case when py.INSURANCEPACKAGENAME like '%tricare%' then '3' /*public insurance*/ 
  when Py.INSURANCEPACKAGETYPE='Group Policy' then '5'           
    when Py.INSURANCEPACKAGETYPE='Medicaid' then '3'         
  when Py.INSURANCEPACKAGETYPE='Personal Payment (Cash - No Insurance)' then '8'         
  when Py.INSURANCEPACKAGETYPE='Commercial' then '5'         
  when Py.INSURANCEPACKAGETYPE='Health Maintenance Organization (HMO)' then '5'         
  when Py.INSURANCEPACKAGETYPE='Medicare Part B' then '3'         
  when Py.INSURANCEPACKAGETYPE='Supplemental Policy' then '5'        
  when Py.INSURANCEPACKAGETYPE='Individual Policy' then '5'        
         
  end  as Payer  ,
  case   
  when INSURANCEPACKAGETYPE='Group Policy' then '5'             
  when INSURANCEPACKAGETYPE='Medicaid' then '2'           
  when INSURANCEPACKAGETYPE='Personal Payment (Cash - No Insurance)' then '81'           
  when INSURANCEPACKAGETYPE='Commercial' then '5'           
  when INSURANCEPACKAGETYPE='Health Maintenance Organization (HMO)' then '3711'           
  when INSURANCEPACKAGETYPE='Medicare Part B' then '1'           
  --when INSURANCEPACKAGETYPE='Supplemental Policy' then '5'          
  when INSURANCEPACKAGETYPE='Individual Policy' then '81'  
  end  Visit_payer
  ,Py.INSURANCEPACKAGETYPE         
  ,py.INSURANCEPACKAGENAME,py.NONINSURANCETYPE,INSURANCEPRODUCTTYPE,        
  py.INSURANCEREPORTINGCATEGORY,IRCGROUP,GLOBALALLOWABLECATEGORY        
  into #PayerInfo         
  from #FinalResult f         
  join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=f.CLINICALENCOUNTERID        
  join athenaone.APPOINTMENT a with(nolock) on a.APPOINTMENTID=e.appointmentid        
  join ATHENAONE.PATIENTINSURANCE as PIns with(nolock) on a.PRIMARYPATIENTINSURANCEID=Pins.PATIENTINSURANCEID               
  join ATHENAONE.Payer as Py  with(nolock) on Py.INSURANCEPACKAGEID =Pins.INSURANCEPACKAGEID           
        
        
Drop table if Exists #chlamydia_Encounters        
        
select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType         
into #chlamydia_Encounters        
from #FinalResult F        
JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID         
JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID        
JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]        
where t.Tests='chlamydia' and d.STATUS='closed'        
        
Drop table if Exists #gonorrhoeae_Encounters        
        
select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType         
into #gonorrhoeae_Encounters        
from #FinalResult F        
JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID         
JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID        
JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]        
where t.Tests='gonorrhoeae' and d.STATUS='closed'        
        
        
Drop table if Exists #HIV_Encounters        
        
select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType         
into #HIV_Encounters        
from #FinalResult F        
JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID         
JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID        
JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]        
where t.Tests='HIV' and d.STATUS='closed'        
        
Drop table if Exists #PAP_Encounters        
        
select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType         
into #PAP_Encounters        
from #FinalResult F        
JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID         
JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID        
JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]        
where t.Tests='PAP' and d.STATUS='closed'        
        
Drop table if Exists #Syphilis_Encounters        
        
select F.CLINICALENCOUNTERID,d.DOCUMENTID,t.ClinicalOrderType         
into #Syphilis_Encounters        
from #FinalResult F        
JOIN ATHENAONE.DOCUMENT D with(NOLOCK) ON D.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID         
JOIN ATHENAONE.CLINICALORDERTYPE C WITH (NOLOCK) ON C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID        
JOIN TitleX_ClinicalOrderType_Tests T ON T.ClinicalOrderType=C.[NAME]        
where t.Tests='Syphilis' and d.STATUS='closed'        
        
        
truncate table [dbo].[FPAR2Report]        
        
insert into [dbo].[FPAR2Report]        
(        
CLINICALENCOUNTERID        
,AthenaPatientID        
,CHARTID        
,facility_Id        
,provider_role        
,patient_Id        
,visit_date        
,birth_date        
,sex        
,limited_english_proficiency        
,ethnicity        
,race_amindian        
,race_asian        
,race_black        
,race_hpi        
,race_white        
,race        
,annual_household_income        
,household_size        
,insurance_coverage_type        
,pregnancy_status        
,pregnancy_intention        
,ContraceptiveMethodAtExitDesc        
,contraceptive_method_exit        
,no_contraceptive_reason_exit        
,test_pap        
,test_chlamydia        
,test_gonorrhea        
,test_hiv        
,test_syphilis        
,Createddate 
,provider_id
,INSURANCEPACKAGENAME 
,visit_payer
)        
        
        
select         
f.CLINICALENCOUNTERID,f.PATIENTID,f.CHARTID        
 ,f.facility_Id        
,f.provider_role        
,f.patient_Id        
,f.visit_date        
,f.birth_date        
,f.sex        
,f.limited_english_proficiency        
,F.CDCETHNICITYCODE as ethnicity        
,F.race_amindian        
,F.race_asian         
,F.race_black        
,F.race_hpi        
,F.race_white        
,F.race ---- added extra         
,F.annual_household_income        
,F.household_size         
,py.Payer as insurance_coverage_type        
,E.PregStatus_Code [pregnancy_status]        
,E.PregIntention_Code [pregnancy_intention]        
,E.ContraceptiveMethodAtExit ContraceptiveMethodAtExitDesc ---added extra         
,E.ContrExitCode [contraceptive_method_exit]        
,E.NocontrReason_Code [no_contraceptive_reason_exit]          
,case when P.CLINICALENCOUNTERID is NOT NULL THEN '373066001' ELSE 'not-performed' END test_pap        
,case when c.CLINICALENCOUNTERID is NOT NULL THEN '373066001' ELSE 'not-performed' END test_chlamydia      ,case when G.CLINICALENCOUNTERID is NOT NULL THEN '373066001' ELSE 'not-performed' END test_gonorrhea        
,case when H.CLINICALENCOUNTERID is NOT NULL THEN '373066001' ELSE 'not-performed' END test_hiv        
,case when S.CLINICALENCOUNTERID is NOT NULL THEN '373066001' ELSE 'not-performed' END test_syphilis        
,getdate() as Createddate 
,f.PROVIDERNPINUMBER as provider_id
,py.INSURANCEPACKAGENAME 
,py.visit_payer
from #FinalResult F ---8941        
left join #PayerInfo Py ON F.CLINICALENCOUNTERID=Py.CLINICALENCOUNTERID        
left join #EncounterSocialHistory_with_Codes E ON E.CLINICALENCOUNTERID=F.CLINICALENCOUNTERID        
left join (select distinct CLINICALENCOUNTERID from #chlamydia_Encounters) C ON C.CLINICALENCOUNTERID=f.CLINICALENCOUNTERID        
left join (select distinct CLINICALENCOUNTERID from #HIV_Encounters) H ON H.CLINICALENCOUNTERID=f.CLINICALENCOUNTERID        
left join (select distinct CLINICALENCOUNTERID from #gonorrhoeae_Encounters) G ON G.CLINICALENCOUNTERID=f.CLINICALENCOUNTERID        
left join (select distinct CLINICALENCOUNTERID from #PAP_Encounters) P ON P.CLINICALENCOUNTERID=f.CLINICALENCOUNTERID        
left join (select distinct CLINICALENCOUNTERID from #Syphilis_Encounters) S ON S.CLINICALENCOUNTERID=f.CLINICALENCOUNTERID        
order by         
f.visit_date,f.patient_Id,f.facility_Id        
        
        
---select * from #FinalResult where CDCETHNICITYCODE is null         
        
         
end
GO
