USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[RenderingProvider_Backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenderingProvider_Backup](
	[providerid] [numeric](18, 0) NULL,
	[IN_year] [bigint] NULL,
	[IN_Month_ID] [bigint] NULL,
	[CID] [numeric](18, 0) NULL,
	[AID] [numeric](18, 0) NULL,
	[SEDCR] [float] NULL,
	[Charge] [numeric](18, 0) NULL,
	[Payment] [numeric](18, 0) NULL,
	[PROVIDERNAME] [varchar](100) NULL,
	[Servicename] [varchar](100) NULL
) ON [PRIMARY]
GO
