USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[VaccineImmunization]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineImmunization](
	[PatientID] [varchar](30) NULL,
	[Date_Of_Birth] [date] NULL,
	[Date_Of_Death] [date] NULL,
	[SEX] [varchar](max) NULL,
	[SEXUALORIENTATION] [varchar](max) NULL,
	[GENDERIDENTITY] [varchar](max) NULL,
	[ETHNICITY] [varchar](max) NULL,
	[RACE] [varchar](max) NULL,
	[Farm_worker] [varchar](max) NULL,
	[VETERANSTATUS] [varchar](max) NULL,
	[English_Proficiency] [varchar](max) NULL,
	[HouseHold_Size] [numeric](2, 0) NULL,
	[Housing] [varchar](max) NULL,
	[Housing_Status] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[County_Of_Residence] [varchar](1) NOT NULL,
	[Education] [varchar](1) NOT NULL,
	[Employment] [varchar](max) NULL,
	[Insurance] [varchar](max) NULL,
	[Household_Income] [numeric](12, 2) NULL,
	[Food_Insecurity] [varchar](1) NOT NULL,
	[Clothing_Insecurity] [varchar](1) NOT NULL,
	[Utilities_Insecurity] [varchar](1) NOT NULL,
	[Child_Care_Insecurity] [varchar](1) NOT NULL,
	[Healthcare_Insecurity] [varchar](1) NOT NULL,
	[Phone_Insecurity] [varchar](1) NOT NULL,
	[Other_Material_Insecurity] [varchar](1) NOT NULL,
	[Transportation_Insecurity] [varchar](1) NOT NULL,
	[Social_Integration] [varchar](1) NOT NULL,
	[Stress] [varchar](1) NOT NULL,
	[Incarceration] [varchar](1) NOT NULL,
	[Refugee] [varchar](1) NOT NULL,
	[Safety] [varchar](1) NOT NULL,
	[Domestic_Violence] [varchar](1) NOT NULL,
	[HealthCenter] [varchar](max) NULL,
	[EligibleEncounterDate] [date] NULL,
	[EligibleEncounterType] [varchar](max) NULL,
	[EncounterCPT] [varchar](max) NULL,
	[PROVIDERTYPE] [text] NULL,
	[VaccineDescription] [varchar](max) NULL,
	[Vaccinecode] [varchar](max) NULL,
	[VaccineExclusion] [varchar](19) NULL,
	[Rn] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
