USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[PBIR_Clinical_AthenaRXQ_Dashboard]    Script Date: 8/4/2026 4:51:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PBIR_Clinical_AthenaRXQ_Dashboard]  
AS    
/*****************************************************************************************************************************************************  
Object  :     Clinical_Dashboard  
Created By :     NK  
Created on :     12/09/2021  
Description :   Patient Clinical Dashboard  
  
History:          MM/DD/YYYY  Modified User   Request Content  
                  12/09/2021  NK              Initial creation  
*******************************************************************************************************************************************************/  
BEGIN          
         
         
       IF OBJECT_ID('tempdb..#Athenahealth') IS NOT NULL  
         DROP TABLE #AthenaHealth  
       IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL  
         DROP TABLE #Liberty  
       IF OBJECT_ID('tempdb..#PatientWeight') IS NOT NULL  
         DROP TABLE #PatientWeight  
       IF OBJECT_ID('tempdb..#PatientHeight') IS NOT NULL  
         DROP TABLE #PatientHeight  
       IF OBJECT_ID('tempdb..#PatientA1C') IS NOT NULL  
         DROP TABLE #PatientA1C  
       IF OBJECT_ID('tempdb..#PatientPotassium') IS NOT NULL  
         DROP TABLE #PatientPotassium  
       IF OBJECT_ID('tempdb..#PatientBloodPressure') IS NOT NULL  
         DROP TABLE #PatientBloodPressure  
       IF OBJECT_ID('tempdb..#PatientHeartRate') IS NOT NULL  
         DROP TABLE #PatientHeartRate  
       IF OBJECT_ID('tempdb..#PatientAlbumin') IS NOT NULL  
         DROP TABLE #PatientAlbumin  
       IF OBJECT_ID('tempdb..#PatientALT') IS NOT NULL  
         DROP TABLE #PatientALT  
                            IF OBJECT_ID('tempdb..#PatientAST') IS NOT NULL  
         DROP TABLE #PatientAST  
                            IF OBJECT_ID('tempdb..#PatientBUN') IS NOT NULL  
         DROP TABLE #PatientBUN  
                            IF OBJECT_ID('tempdb..#PatientSodium') IS NOT NULL  
         DROP TABLE #PatientSodium  
       IF OBJECT_ID('tempdb..#PatientCalcium') IS NOT NULL  
         DROP TABLE #PatientCalcium  
       IF OBJECT_ID('tempdb..#PatientMagnesium') IS NOT NULL  
         DROP TABLE #PatientMagnesium  
       IF OBJECT_ID('tempdb..#PatientPhosphate') IS NOT NULL  
         DROP TABLE #PatientPhosphate  
       IF OBJECT_ID('tempdb..#PatientChloride') IS NOT NULL  
         DROP TABLE #PatientChloride  
       IF OBJECT_ID('tempdb..#PatientHemoglobin') IS NOT NULL  
         DROP TABLE #PatientHemoglobin  
       IF OBJECT_ID('tempdb..#PatientTSH') IS NOT NULL  
         DROP TABLE #PatientTSH  
       IF OBJECT_ID('tempdb..#PatientT3') IS NOT NULL  
         DROP TABLE #PatientT3  
       IF OBJECT_ID('tempdb..#PatientVITAMIN_D') IS NOT NULL  
         DROP TABLE #PatientVITAMIN_D  
       IF OBJECT_ID('tempdb..#PatientCreatinine') IS NOT NULL  
         DROP TABLE #PatientCreatinine  
       IF OBJECT_ID('tempdb..#Therapeutic_Drugclass') IS NOT NULL  
         DROP TABLE #Therapeutic_Drugclass  
       IF OBJECT_ID('tempdb..#LDL') IS NOT NULL  
         DROP TABLE #LDL  
       IF OBJECT_ID('tempdb..#HDL') IS NOT NULL  
         DROP TABLE #HDL  
       IF OBJECT_ID('tempdb..#Triglycerides') IS NOT NULL  
         DROP TABLE #Therapeutic_Drugclass  
       IF OBJECT_ID('tempdb..#Total Cholesterol') IS NOT NULL  
         DROP TABLE #Therapeutic_Drugclass  
       IF OBJECT_ID('tempdb..#PatientVitamin_B1') IS NOT NULL  
         DROP TABLE #PatientVitamin_B1   
       IF OBJECT_ID('tempdb..#PatientVitamin_B6') IS NOT NULL  
         DROP TABLE #PatientVitamin_B6   
       IF OBJECT_ID('tempdb..#PatientVitamin_B12') IS NOT NULL  
         DROP TABLE #PatientVitamin_B12    
       IF OBJECT_ID('tempdb..#PatientFolate') IS NOT NULL  
         DROP TABLE #PatientFolate   
       IF OBJECT_ID('tempdb..#PatientFerritin') IS NOT NULL  
         DROP TABLE #PatientFerritin  
       IF OBJECT_ID('tempdb..#PatientIron_binding_capacity') IS NOT NULL  
         DROP TABLE #PatientIron_binding_capacity   
       IF OBJECT_ID('tempdb..#PatientIron_saturation') IS NOT NULL  
         DROP TABLE #PatientIron_saturation           
       IF OBJECT_ID(N'dbo.PBIR_Clinical_Dashboard', N'U') IS NOT NULL  
         DROP TABLE PBIR_Clinical_Dashboard  
  
  
  
Select   
P.PATIENTID  
,(P.Firstname+' '+P.lastname) as PatientName  
,P.DOB as Date_Of_Birth  
,sum(year(getdate())-year(P.dob)) as Age  
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender  
INTO #AthenaHealth  
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)  
Group by p.PATIENTID  
,p.FIRSTNAME  
,p.LASTNAME  
,P.sex  
,p.DOB  
   
 begin  
  
with weight as (  
select  
P.PATIENTID  
,(VS.DISPLAYVALUE) as PatientWeight  
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent  
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
where VS.[KEY] ='VITALS.WEIGHT')  
  
select * into #PatientWeight   
from weight where recent=1  
end  
  
begin  
  
with Height as (  
select  
P.PATIENTID  
,(VS.DISPLAYVALUE) as PatientHeight  
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent  
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
where VS.[KEY] ='VITALS.HEIGHT')  
  
select * into #PatientHeight   
from Height where recent=1  
end  
  
--**************************BLOODPRESSURE*********************  
  
begin  
with BLOODPRESSURE_SYSTOLIC as (  
select   
P.PATIENTID  
,(VS.VALUE) as BLOODPRESSURE_SYSTOLIC  
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent  
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
where VS.[KEY] LIKE '%VITALS.BLOODPRESSURE.SYSTOLIC%')  
  
select *into #PatientBLOODPRESSURE_SYSTOLIC   
from BLOODPRESSURE_SYSTOLIC   
where recent=1  
end  
  
begin  
  
with BLOODPRESSURE_DIASTOLIC as (  
select   
P.PATIENTID  
,(VS.VALUE) as BLOODPRESSURE_DIASTOLIC  
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent  
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
where VS.[KEY] LIKE '%VITALS.BLOODPRESSURE.DIASTOLIC%')  
  
select * into #PatientBLOODPRESSURE_DIASTOLIC   
from BLOODPRESSURE_DIASTOLIC    
where recent=1  
end  
  
  
--SELECT PBS.PATIENTID, CONCAT(BLOODPRESSURE_SYSTOLIC,'/',BLOODPRESSURE_DIASTOLIC) as BloodPressure into #PatientBloodPressure   
--FROM #PatientBLOODPRESSURE_SYSTOLIC AS PBS  
--JOIN #PatientBLOODPRESSURE_DIASTOLIC AS PBD ON PBS.PATIENTID=PBD.PATIENTID  
  
--**************************BLOODPRESSURE END*********************  
  
--**************************HEART RATE*********************  
begin  
  
with HEARTRATE as (  
select  
P.PATIENTID  
,(VS.VALUE) as HEARTRATE  
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent  
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
where VS.[KEY] LIKE '%VITALS.HEARTRATE%')  
  
select * into #PatientHEARTRATE   
from HEARTRATE where recent=1  
end  
--**************************HEART RATE END*********************  
  
  
begin  
with cte as (  
Select CL.PATIENTID,cro.OBSERVATIONIDENTIFIERTEXT as A1c_Types,  
result AS A1c  
,ROW_NUMBER() OVER(PARTITION BY P.patientid,cro.loincid order by cro.createddatetime desc)RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%A1C%'  
and cro.LOINCID is not null  
)  
  
select * into #PatientA1C  
from cte  
where rn=1  
  
end  
  
begin  
with cte as (  
Select CL.PATIENTID,  
result as Potassium  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc)RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Potassium%'  
and cro.LOINCID is not null  
)  
  
select * into #PatientPotassium  
from cte  
where rn=1  
  
end  
  
  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Creatinine  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Creatinine'  
and cro.loincid is not null  
)  
  
select * into #PatientCreatinine  
from cte  
where rn=1  
  
end  
--*********************Albumin***************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as Albumin  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Albumin'  
and cro.loincid is not null  
)  
  
select * into #PatientAlbumin  
from cte  
where rn=1  
  
end  
  
--*********************Albumin END***************************  
  
--***********************ALT******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as ALT  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%ALT%'  
and cro.loincid is not null  
)  
  
select * into #PatientALT  
from cte  
where rn=1  
  
end  
  
--***********************ALT END******************************  
--***********************AST******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as AST  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%AST%'  
and cro.loincid is not null  
)  
  
select * into #PatientAST  
from cte  
where rn=1  
  
end  
--***********************ALT END******************************  
--***********************BUN******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as BUN  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT ='BUN'  
and cro.loincid is not null  
)  
  
select * into #PatientBUN  
from cte  
where rn=1  
  
end  
--***********************BUN END******************************  
--***********************SODIUM******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as SODIUM  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'SODIUM'  
and cro.loincid is not null  
)  
  
select * into #PatientSODIUM  
from cte  
where rn=1  
  
end  
  
--***********************SODIUM END******************************  
--***********************CALCIUM******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as CALCIUM  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'CALCIUM'  
and cro.loincid is not null  
)  
  
select * into #PatientCALCIUM  
from cte  
where rn=1  
  
end  
  
--***********************CALCIUM END******************************  
--***********************MAGNESIUM******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as MAGNESIUM  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'MAGNESIUM'  
and cro.loincid is not null  
)  
  
select * into #PatientMAGNESIUM  
from cte  
where rn=1  
  
end  
--***********************MAGNESIUM END******************************  
--***********************PHOSPHATE ******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as PHOSPHATE  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%PHOSPHATE%'  
and cro.loincid is not null  
)  
  
select * into #PatientPHOSPHATE  
from cte  
where rn=1  
  
end  
--***********************PHOSPHATE END******************************  
--***********************CHLORIDE******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as CHLORIDE  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE 'CHLORIDE'  
and cro.loincid is not null  
)  
  
select * into #PatientCHLORIDE  
from cte  
where rn=1  
  
end  
--***********************CHLORIDE END******************************  
--***********************HEMOGLOBIN ******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as HEMOGLOBIN  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE 'HEMOGLOBIN'  
and cro.loincid is not null  
)  
  
select * into #PatientHEMOGLOBIN  
from cte  
where rn=1  
  
end  
  
--***********************HEMOGLOBIN END******************************  
--***********************TSH ******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as TSH  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'TSH'  
and cro.loincid is not null  
)  
  
select * into #PatientTSH  
from cte  
where rn=1  
  
end  
--***********************TSH END ******************************  
--***********************T3  ******************************  
begin  
with cte as (  
Select CL.PATIENTID,  
result as T3  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%T3%'  
and cro.loincid is not null  
)  
  
select * into #PatientT3  
from cte  
where rn=1  
  
end  
--***********************T3 END ******************************  
--***********************VITAMIN D ******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as VITAMIN_D  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%VITAMIN D%'  
and cro.loincid is not null  
)  
  
select * into #PatientVITAMIN_D  
from cte  
where rn=1  
  
end  
--***********************VITAMIND END ******************************  
--***********************LDL ******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as LDL  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%LDL CHOL CALC (NIH)%'  
and cro.loincid is not null  
)  
  
select * into #LDL  
from cte  
where rn=1  
  
end  
--***********************LDL END ******************************  
--***********************HDL ******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as HDL  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%HDL CHOLESTEROL%'  
and cro.loincid is not null  
)  
  
select * into #HDL  
from cte  
where rn=1  
  
end  
--***********************HDL END ******************************  
--***********************Triglycerides ******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Triglycerides  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%Triglycerides%'  
and cro.loincid is not null  
)  
  
select * into #Triglycerides  
from cte  
where rn=1  
  
end  
--***********************Triglycerides END ******************************  
--***********************Total Cholesterol ******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Total_Cholesterol  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%CHOLESTEROL, TOTAL%'  
and cro.loincid is not null  
)  
  
select * into #Total_Cholesterol  
from cte  
where rn=1  
  
end  
--***********************Total Cholesterol END ******************************  
--***********************Total Vitamin B1 ******************************  
  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Vitamin_B1,  
ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Vitamin B1'  
and cro.loincid is not null  
)  
  
select * into #PatientVitamin_B1  
from cte  
where rn=1  
  
end  
  
--***********************Total Vitamin B1 END ******************************  
  
--***********************Total Vitamin B6  ******************************  
  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Vitamin_B6,  
ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Vitamin B6%'  
and cro.loincid is not null  
)  
  
select * into #PatientVitamin_B6  
from cte  
where rn=1  
  
end  
  
--***********************Total Vitamin B6 END ******************************  
  
--***********************Total Vitamin B12 ******************************  
  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Vitamin_B12,  
ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Vitamin B12%'  
and cro.loincid is not null  
)  
  
select * into #PatientVitamin_B12  
from cte  
where rn=1  
  
end  
  
--***********************Total Vitamin B12 END ******************************  
  
--*********************** Folate ******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Folate,  
ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Folate%'  
and cro.loincid is not null  
)  
  
select * into #PatientFolate  
from cte  
where rn=1  
  
end  
--***********************Folate End******************************  
--*********************** Ferritin ******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Ferritin,  
ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Ferritin%'  
and cro.loincid is not null  
)  
  
select * into #PatientFerritin  
from cte  
where rn=1  
  
end  
--*********************** Ferritin End******************************  
  
--*********************** Iron binding capacity******************************  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Iron_binding_capacity,  
ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Iron binding capacity%'  
and cro.loincid is not null  
)  
  
select * into #PatientIron_binding_capacity  
from cte  
where rn=1  
  
end  
  
--*********************** Iron binding capacity End******************************  
  
--*********************** Iron saturation ******************************  
  
begin  
with cte as (  
Select  CL.PATIENTID,  
result as Iron_saturation,  
ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Iron saturation%'  
and cro.loincid is not null  
)  
  
select * into #PatientIron_saturation  
from cte  
where rn=1  
  
end  
  
--*********************** Iron saturation End******************************  
  
  
Select  
DG.Name as Drug_name  
,P.patientid  
,P.globalid   
,D.DoctorId as ProvideID  
,(D.FirstName+' '+D.LastName) Prescribing_ProviderName  
,D.source_indicator as PharmacyName  
,MD.NDC_UPC_HRI as NDC_Number  
,MD.GenericProductIdentifier as GenericProductIdentifier  
,P.CustomField3 as Patient_CustomeField_3  
,P.CustomField4 as Patient_CustomField_4  
,DG.CustomField1 as Drug_CustomField_1  
,ST.DateDispensedSQL as Date_Filled  
,SB.DateWrittenSQL as VisitDate  
,DG.NdcNumber  
INTO #Liberty  
From PP_ODS..rxqDoctor as D (nolock)  
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator   
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator  
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber    
and SB.Source_Indicator=ST.Source_Indicator  
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=St.DrugId and DG.source_indicator=St.Source_Indicator  
INNER JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber 
  
  
--begin  
--with cte as (  
--select    
--D.Name  
--,D.NdcNumber  
--,MTCRF.TC_GPIName AS Therapeutic_DrugClass  
--,rank() over(partition by  MTCRF.Therapeuticclassificationcode,D.ndcnumber order by MTCRF.RecordTypeCode desc) rn   
--from PP_ODS..rxqDrug AS D (NOLOCK)  
--INNER JOIN PP_ODS..m25_MDDB_G AS MG (NOLOCK) on D.NdcNumber=MG.NDC_UPC_HRI  
--inner join PP_ODS..wl_GPI AS GPI (NOLOCK) on GPI.GPI=MG.GenericProductIdentifier  
--inner join PP_ODS..m25_MDDB_TCRF AS MTCRF (NOLOCK) on MTCRF.RecordTypeCode=GPI.PrioritySequence  
--  
--)  
--  
--select * into #Therapeutic_Drugclass  
--from cte   
--where rn=1  
--end  
  
Select T.* into #Therapeutic_DrugClass  
from  
(  
select FH.ndc    AS NDC  
,FH.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D  (nolock)  
INNER JOIN PP_ODS..FiveStar_HRM  AS FH (nolock) on D.NdcNumber = FH.NDC   
  
UNION  
select    
FD.ndc      AS NDC  
,FD.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D(nolock)  
INNER JOIN PP_ODS..FiveStar_Diabetes AS FD (nolock) ON D.NdcNumber = FD.NDC   
  
UNION  
select FDT.ndc    AS NDC  
,FDT.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D (nolock)  
INNER JOIN PP_ODS..FiveStar_DiabetesApprTx_HTN AS FDT (nolock) ON D.NdcNumber = FDT.NDC   
  
UNION  
select FR.ndc    AS NDC  
,FR.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D (nolock)  
INNER JOIN PP_ODS..FiveStar_RASA AS FR (nolock) ON D.NdcNumber = FR.NDC   
  
UNION  
select FS.ndc    AS NDC  
,FS.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D (NOLOCK)  
INNER JOIN PP_ODS..FiveStar_Statins AS FS (NOLOCK) ON  D.NdcNumber = FS.NDC  
  
UNION  
select    
MN.NDC_UPC_HRI  AS NDC  
,DDI.DrugClass2 AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug D  
INNER JOIN PP_ODS..med_NDC AS MN ON D.NdcNumber = MN.NDC_UPC_HRI   
INNER JOIN PP_ODS..cc2_DrugDrugInteractions AS DDI ON MN.DrugDescriptorIdentifier = DDI.DDICode)T  
  
--INSERT INTO PBIR_Clinical_Dashboard_Training  
select DISTINCT  
A.PATIENTID as AthenaPatientID  
,A.PatientName as PatientName  
,A.Date_Of_Birth as Date_Of_Birth  
,cast(A.Age as bigint) as Age  
,A.Patient_Gender as Patient_Gender  
,L.PatientId as LibertyPatientID  
,L.Drug_name as DrugName  
,L.Prescribing_ProviderName as Prescribing_ProviderName  
,L.ProvideID  as ProviderID  
,L.Date_Filled  
,L.PharmacyName as PharmacyName  
,L. Patient_CustomeField_3  
,L.Patient_CustomField_4  
,L.Drug_CustomField_1  
,L.VisitDate  
,L.GenericProductIdentifier  
,PA1C.A1c  
,PP.Potassium  
,PC.Creatinine  
,PW.PatientWeight  
,PH.PatientHeight  
,PBPS.BLOODPRESSURE_SYSTOLIC as BloodPressureSystolic  
,PBPD.BLOODPRESSURE_DIASTOLIC as BloodPressureDiastolic  
,PHR.HEARTRATE  
,A1c_Types as A1c_Types  
,PA.Albumin  
,PALT.ALT  
,PAST.AST  
,PBUN.BUN  
,PS.SODIUM  
,PCA.CALCIUM  
,PMA.MAGNESIUM  
,PPT.PHOSPHATE  
,PCH.CHLORIDE  
,PHG.HEMOGLOBIN  
,PTSH.TSH  
,PT3.T3  
,PVD.VITAMIN_D  
,TDC.Therapeutic_DrugClass AS Therapeutic_DrugClass  
,LDL.LDL  
,HDL.HDL  
,TR.Triglycerides  
,TC.Total_Cholesterol  
,PVB1.Vitamin_B1  
,PVB6.Vitamin_B6  
,PVB12.Vitamin_B12  
,PFL.Folate  
,PFR.Ferritin  
,PIBC.Iron_binding_capacity  
,PIS.Iron_saturation  
INTO PBIR_Clinical_Dashboard  
from #AthenaHealth as A  
LEFT JOIN #PatientWeight as PW on A.PATIENTID=PW.PATIENTID  
LEFT JOIN #PatientHeight as PH on A.PATIENTID=PH.PATIENTID  
LEFT JOIN #PatientBLOODPRESSURE_SYSTOLIC as PBPS on A.PATIENTID=PBPS.PATIENTID  
LEFT JOIN #PatientBLOODPRESSURE_DIASTOLIC as PBPD on A.PATIENTID=PBPD.PATIENTID  
LEFT JOIN #PatientHEARTRATE as PHR on A.PATIENTID=PHR.PATIENTID  
LEFT JOIN #PatientA1C AS PA1C on A.PATIENTID=PA1C.PATIENTID  
LEFT JOIN #PatientPotassium as PP on A.PATIENTID=PP.PATIENTID  
LEFT JOIN #PatientCreatinine AS PC on A.PATIENTID=PC.PATIENTID  
LEFT JOIN #PatientAlbumin AS PA on A.PATIENTID=PA.PATIENTID  
LEFT JOIN #PatientALT AS PALT on A.PATIENTID=PALT.PATIENTID  
LEFT JOIN #PatientAST AS PAST on A.PATIENTID=PAST.PATIENTID  
LEFT JOIN #PatientBUN AS PBUN on A.PATIENTID=PBUN.PATIENTID  
LEFT JOIN #PatientSodium AS PS on A.PATIENTID=PS.PATIENTID  
LEFT JOIN #PatientCALCIUM AS PCA on A.PATIENTID=PCA.PATIENTID  
LEFT JOIN #PatientMAGNESIUM AS PMA on A.PATIENTID=PMA.PATIENTID  
LEFT JOIN #PatientPHOSPHATE AS PPT on A.PATIENTID=PPT.PATIENTID  
LEFT JOIN #PatientCHLORIDE AS PCH on A.PATIENTID=PCH.PATIENTID  
LEFT JOIN #PatientHEMOGLOBIN AS PHG on A.PATIENTID=PHG.PATIENTID  
LEFT JOIN #PatientTSH AS PTSH on A.PATIENTID=PTSH.PATIENTID  
LEFT JOIN #PatientT3 AS PT3 on A.PATIENTID=PT3.PATIENTID  
LEFT JOIN #PatientVITAMIN_D AS PVD on A.PATIENTID=PVD.PATIENTID  
LEFT JOIN #LDL AS LDL ON A.PATIENTID=LDL.PATIENTID  
LEFT JOIN #HDL AS HDL ON A.PATIENTID=HDL.PATIENTID  
LEFT JOIN #Triglycerides AS TR ON A.PATIENTID=TR.PATIENTID  
LEFT JOIN #Total_Cholesterol AS TC ON A.PATIENTID=TC.PATIENTID  
LEFT JOIN #PatientVitamin_B1 AS PVB1 ON A.PATIENTID=PVB1.PATIENTID  
LEFT JOIN #PatientVitamin_B6 AS PVB6 ON A.PATIENTID=PVB6.PATIENTID  
LEFT JOIN #PatientVitamin_B12  AS PVB12 ON A.PATIENTID=PVB12.PATIENTID  
LEFT JOIN #PatientFolate AS PFL ON A.PATIENTID=PFL.PATIENTID  
LEFT JOIN #PatientFerritin AS PFR ON A.PATIENTID=PFR.PATIENTID  
LEFT JOIN #PatientIron_binding_capacity AS PIBC ON A.PATIENTID=PIBC.PATIENTID  
LEFT JOIN #PatientIron_saturation AS PIS ON A.PATIENTID=PIS.PATIENTID  
FULL JOIN #Liberty as L on A.PATIENTID=CAST(L.GlobalId AS INT)  
LEFT JOIN #Therapeutic_Drugclass AS TDC ON L.NdcNumber=TDC.NDC   
where L.GlobalId IS NOT NULL  
AND A.PATIENTID IS NOT NULL  
order by a.PATIENTID desc  
  
end  
  
  
  
GO
