USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[HealthCenter] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[VISGIVENDATE] [date] NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[EligibleEncounterDate] [date] NULL,
	[EligibleEncounterType] [varchar](max) NULL,
	[PROVIDERTYPE] [text] NULL,
	[VaccineDescription] [varchar](max) NULL,
	[Vaccinecode] [varchar](max) NULL,
	[VaccineExclusion] [varchar](19) NOT NULL,
	[RN] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
