USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_TitleX_ClinicalOrderType_Tests]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_TitleX_ClinicalOrderType_Tests] 
As
Begin

INSERT INTO TitleX_ClinicalOrderType_Tests (
ClinicalOrderType,
Tests)

SELECT S.ClinicalOrderType,S.Tests
FROM TitleX_ClinicalOrderType_Staging S
LEFT JOIN TitleX_ClinicalOrderType_Tests T ON 
LTRIM(RTRIM(LOWER(s.ClinicalOrderType))) = LTRIM(RTRIM(LOWER(T.ClinicalOrderType)))
AND LTRIM(RTRIM(LOWER(s.Tests))) = LTRIM(RTRIM(LOWER(T.Tests)))
WHERE T.ClinicalOrderType IS NULL;

End;
GO
