USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[LOINCMasterList]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOINCMasterList](
	[prog_area_cd] [nvarchar](255) NULL,
	[disease_nm] [nvarchar](255) NULL,
	[loinc_cd] [nvarchar](255) NULL,
	[component_name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
