USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[HRSNWeeklyFile_Stg]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRSNWeeklyFile_Stg](
	[Question] [nvarchar](255) NULL,
	[Answer] [varchar](50) NULL,
	[HRSNID] [varchar](50) NULL,
	[ResponseDate] [varchar](50) NULL,
	[AthenaPatientID] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HRSNWeeklyFile_Stg] ADD  DEFAULT (getdate()) FOR [RecordCreatedDate]
GO
