USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PATIENTPROBLEM_BackUp]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTPROBLEM_BackUp](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTPROBLEMID] [numeric](38, 0) NULL,
	[TYPE] [varchar](50) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[DIAGNOSISCODE] [varchar](max) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[PROBLEMLISTNAME] [varchar](max) NULL,
	[LATERALITY] [varchar](max) NULL,
	[STATUS] [varchar](max) NULL,
	[ONSETDATE] [date] NULL,
	[DEACTIVATEDDATETIME] [datetime2](7) NULL,
	[DEACTIVATEDBY] [varchar](max) NULL,
	[REACTIVATEDDATETIME] [datetime2](7) NULL,
	[REACTIVATEDBY] [varchar](max) NULL,
	[SOURCE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
