USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[QMRESULTBCKP]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QMRESULTBCKP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[P4PPROGRAM] [varchar](max) NULL,
	[P4PMEASURE] [varchar](200) NULL,
	[RESULTSTATUS] [varchar](12) NULL,
	[SATISFIEDDATE] [date] NULL,
	[EXCLUSIONREASON] [varchar](max) NULL,
	[MANUALLYADDED] [varchar](1) NULL,
	[SNOOZELENGTH] [varchar](max) NULL,
	[SNOOZEREASON] [varchar](max) NULL,
	[STARTAGE] [varchar](max) NULL,
	[ENDAGE] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[ISARCHIVED] [bit] NULL,
	[ISDELETED] [bit] NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
