USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[AppointmentByDateAndTimeTable]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentByDateAndTimeTable](
	[PatientID] [numeric](12, 0) NULL,
	[FirstName] [varchar](500) NULL,
	[LastName] [varchar](500) NULL,
	[Dateofbirth] [date] NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[AppointmentDate] [date] NULL,
	[ApptScheduleDateTime] [datetime2](7) NULL,
	[AppointmentStartTime] [varchar](max) NULL,
	[DepartmentName] [varchar](500) NULL,
	[RenderingProvider] [varchar](max) NULL,
	[AppointmentStatus] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
