USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PATIENTAUDITBCKP]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTAUDITBCKP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ENTITYID] [numeric](12, 0) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[OPERATION] [varchar](max) NULL,
	[FIELDNAME] [varchar](max) NULL,
	[OLDVALUE] [varchar](max) NULL,
	[NEWVALUE] [varchar](max) NULL,
	[EVENTDATETIME] [datetime2](7) NULL,
	[USERNAME] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
