USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[VaccineReportMonthly]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineReportMonthly](
	[PatientName] [varchar](200) NULL,
	[PATIENTID] [varchar](50) NULL,
	[DOCUMENTID] [varchar](50) NULL,
	[ADMINISTEREDDATE] [varchar](50) NULL,
	[VACCINENAME] [varchar](2000) NULL,
	[MEDICATIONNAME] [varchar](2000) NULL,
	[VFCCode] [varchar](20) NULL,
	[VFCSource] [varchar](100) NULL,
	[VFCStatus] [varchar](300) NULL,
	[Insurance] [varchar](300) NULL,
	[Fundingsource] [varchar](20) NULL,
	[VaccineType] [varchar](100) NULL,
	[RecordInsertedDate] [datetime] NULL,
	[appointmentid] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VaccineReportMonthly] ADD  DEFAULT (getdate()) FOR [RecordInsertedDate]
GO
