USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[AthenaRenderingProvider_Test]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AthenaRenderingProvider_Test]  
AS    
/*****************************************************************************************************************************************************  
Object  :     AthenaRenderingProvider  
Created By :     NK  
Created on :     09/22/2021  
Description :   RenderingProvider Financial Details  
  
History:          MM/DD/YYYY  Modified User   Request Content  
                  09/22/2021  NK             Initial creation  
*******************************************************************************************************************************************************/  
BEGIN        
        
     IF OBJECT_ID('tempdb..#activityFact') IS NOT NULL  
       DROP TABLE #activityFact  
     IF OBJECT_ID('tempdb..#Appointment') IS NOT NULL  
       DROP TABLE #Appointment  
       IF OBJECT_ID('tempdb..#ClinicalEncounter') IS NOT NULL  
       DROP TABLE #ClinicalEncounter  
        IF OBJECT_ID('tempdb..#cte') IS NOT NULL  
       DROP TABLE #cte  
       
select   
PROVIDERNAME  
,PROVIDERID  
,DATENAME(MM,POSTDATE) as ServiceName  
,month(POSTDATE) as AF_month_ID  
,YEAR(POSTDATE) as AF_year   
,sum(payment) as payment  
,sum(currentcharge+latecharge) as charge--9468832  
into #activityfact  
from   FINANCIALS.activityfact (nolock)  
where   type in ('CHARGE','PAYMENT')   
group by  ProviderID  
    ,PROVIDERNAME  
    ,year(POSTDATE)  
    ,month(POSTDATE)  
    ,DATENAME(MM,POSTDATE)  
order by   AF_year, AF_month_ID  


  
select ap.appointmentid AS AppointmentID,ap.ProviderID AS ProviderID,  
month(ce.ENCOUNTERDATE ) as IN_month_ID  
,year(ce.ENCOUNTERDATE ) as IN_Year,  
count(ce.clinicalencounterid) AS CenID  
INTO #ClinicalEncounter  
from ATHENAONE.APPOINTMENT as ap (nolock)  
INNER join ATHENAONE.ClinicalEncounter as ce (nolock) on  
ap.appointmentid=ce.appointmentid   
AND CAST(ce.CLOSEDDATETIME AS DATE)=CAST(ce.ENCOUNTERDATE AS DATE)  
where ce.AppointmentID IS NOT NULL  
and cancelledby is null  
Group by ap.appointmentid ,ap.ProviderID,   
month(ce.ENCOUNTERDATE )  ,year(ce.ENCOUNTERDATE )  
order by IN_month_ID,YEAR(ce.ENCOUNTERDATE ) asc   
  
select ap.appointmentid AS appointmentid,ap.ProviderID AS ProviderID,  
month(STARTCHECKINDATETIME) as IN_month_ID  
,year(STARTCHECKINDATETIME) as IN_Year,  
count(ap.appointmentid) AS ApID  
INTO #Appointment  
from ATHENAONE.APPOINTMENT as ap (nolock)  
INNER join ATHENAONE.ClinicalEncounter as ce (nolock) on  
ap.appointmentid=ce.appointmentid   
where  ce.AppointmentID IS NOT NULL  
and cancelledby is null  
Group by ap.appointmentid,ap.ProviderID,  
month(STARTCHECKINDATETIME) ,year(STARTCHECKINDATETIME)  
order by IN_month_ID,YEAR(STARTCHECKINDATETIME) asc  
  
  
  
SELECT CE.ProviderID,IN_Year,IN_month_ID,COUNT(CenID) AS CID into #cte FROM #ClinicalEncounter CE  
GROUP BY  CE.ProviderID,IN_Year,IN_month_ID   
  
--truncate table RenderingProvider  
--insert into  RenderingProvider 

drop table if exists #ResultSet
  
SELECT a.ProviderID,a.IN_Year,a.IN_month_ID,a.CID,COUNT(b.appointmentid) AS AID,  
CAST(a.CID as FLOAT)/CAST(COUNT(b.appointmentid) AS FLOAT) AS SEDCR, c.charge as Charge 
, c.payment as Payment,c.PROVIDERNAME as providrname,c.ServiceName  
into #ResultSet  
FROM #cte a , #Appointment b , #activityfact c  
where  a.ProviderID=b.ProviderID and a.IN_Year = b.IN_Year and a.IN_month_ID = b.IN_month_ID   
and b.ProviderID = c.PROVIDERID and b.IN_Year = c.AF_year and b.IN_month_ID = c.AF_month_ID    
--and a.ProviderID = c.PROVIDERID a.IN_Year = c.AF_year and a.IN_month_ID = c.AF_month_ID   
GROUP BY  a.ProviderID,a.IN_Year,a.IN_month_ID,a.CID, c.charge , c.payment,c.PROVIDERNAME,c.ServiceName  
ORDER BY a.In_MOnth_ID  


/*******Additional Queries for schedule_Utilisation**************/      
   
 drop table if exists #temp_SCHEDULING_APPOINTMENT
 
 select a.appointmentid,a.APPOINTMENTCANCELREASON,      
CASE       
            WHEN APPOINTMENTCANCELREASON IN ('APPOINTMENT MOVED', 'PATIENT RESCHEDULED','PROVIDER UNAVAILABLE') THEN 'RESCHEDULED'      
            WHEN APPOINTMENTCANCELREASON IN ('CANCELLED BY SMS', 'PATIENT CANCELLED', 'SCHEDULING ERROR'      
   ) THEN 'CANCELLED'      
   WHEN APPOINTMENTCANCELREASON like '%cancel%' then 'CANCELLED'      
            WHEN APPOINTMENTCANCELREASON LIKE '%no%show%' THEN 'NO SHOW'      
            WHEN APPOINTMENTCANCELREASON IS NULL THEN 'ARRIVED'      
            ELSE 'OTHER'      
            END AppointmentStatus,
			month(s.APPOINTMENT_MONTH) IN_month,year(s.APPOINTMENT_MONTH) IN_Year,      
s.TEMPLATE_PROVIDER_ID      
into #temp_SCHEDULING_APPOINTMENT      
from ATHENAONE.APPOINTMENT a with(nolock)      
join SCHEDULING.APPOINTMENT s with(nolock) on a.appointmentid=s.APPOINTMENT_ID; 


drop table if exists #Tempschedulerates
     
SELECT s.TEMPLATE_PROVIDER_ID, MONTH(APPOINTMENT_MONTH) IN_Month,
	YEAR(APPOINTMENT_MONTH) IN_Year  ,    
      
    ROUND(SUM(CASE       
                 WHEN FROZEN_SLOT_INDICATOR = 0 THEN CHECKED_IN_SLOT_DURATION       
              END), 2) AS NUMERATOR,      
      
    ROUND(SUM(CASE       
                 WHEN FROZEN_SLOT_INDICATOR = 0 THEN TEMPLATE_SLOT_DURATION + FORCED_SLOT_DURATION       
              END), 2) AS DENOMINATOR,          
  CAST(ROUND(      
        IIF(      
            SUM(CASE       
                    WHEN FROZEN_SLOT_INDICATOR = 0 THEN TEMPLATE_SLOT_DURATION + FORCED_SLOT_DURATION       
                END) = 0,      
            0.0,      
            SUM(CASE       
                    WHEN FROZEN_SLOT_INDICATOR = 0 THEN CHECKED_IN_SLOT_DURATION       
                END) * 1.0      
            /      
            NULLIF(SUM(CASE       
                          WHEN FROZEN_SLOT_INDICATOR = 0 THEN TEMPLATE_SLOT_DURATION + FORCED_SLOT_DURATION       
                       END), 0)      
        )*100, 1      
    ) AS DECIMAL(5,2)) AS VALUE
	   
  into #Tempschedulerates     
 FROM      
    SCHEDULING.SLOT_HISTORICAL S with(nolock)      
 where      
  UPPER(TEMPLATE_ENTITY_TYPE) = 'PERSON'      
 AND UPPER(TEMPLATE_PROVIDER_CATEGORY_TYPE) IN ('MD', 'MID-LEVEL')      
 AND PATIENT_SLOT_INDICATOR = 1      
 --and TEMPLATE_PROVIDER_ID='224'      
 --and APPOINTMENT_MONTH='2025-06-01'      
 group by s.TEMPLATE_PROVIDER_ID, YEAR(APPOINTMENT_MONTH) ,MONTH(APPOINTMENT_MONTH)
	   
 -- select * from #Tempschedulerates 
 -- where VALUE is null and in_year='2025'
 -- order by in_month desc 

 -- select TEMPLATE_PROVIDER_NAME,FROZEN_SLOT_INDICATOR, CHECKED_IN_SLOT_DURATION,
 -- TEMPLATE_SLOT_DURATION,FORCED_SLOT_DURATION,*
 -- FROM      
 --   SCHEDULING.SLOT_HISTORICAL S with(nolock)      
 --where      
 -- UPPER(TEMPLATE_ENTITY_TYPE) = 'PERSON'      
 --AND UPPER(TEMPLATE_PROVIDER_CATEGORY_TYPE) IN ('MD', 'MID-LEVEL')      
 --AND 
 --PATIENT_SLOT_INDICATOR = 1 
 -- and TEMPLATE_PROVIDER_ID='199'      
 --and APPOINTMENT_MONTH='2025-06-01'  

drop table if exists #temp_Arrivalrate

;WITH Pivoted AS (      
    SELECT       
              
  TEMPLATE_PROVIDER_ID,      
  In_month,      
  In_Year,      
        [ARRIVED],      
        [CANCELLED],      
        [NO SHOW],      
        [RESCHEDULED]      
    FROM      
    (      
        SELECT TEMPLATE_PROVIDER_ID,AppointmentStatus,In_month,In_Year,COUNT(1) AS CNT       
    FROM #temp_SCHEDULING_APPOINTMENT      
    GROUP BY       
        TEMPLATE_PROVIDER_ID,AppointmentStatus,IN_month,IN_Year      
    ) AS SourceTable      
    PIVOT      
    (      
        SUM(CNT)      
        FOR AppointmentStatus IN ([ARRIVED], [CANCELLED], [NO SHOW], [RESCHEDULED])      
    ) AS PivotTable      
)      
      
SELECT       
    TEMPLATE_PROVIDER_ID,In_month,In_Year,      
    ISNULL([ARRIVED], 0) + ISNULL([CANCELLED], 0) + ISNULL([NO SHOW], 0) + ISNULL([RESCHEDULED], 0) AS total,      
    ISNULL([ARRIVED], 0) AS ARRIVED,      
    CAST(100.0 * ISNULL([ARRIVED], 0) / NULLIF(ISNULL([ARRIVED], 0) + ISNULL([CANCELLED], 0) + ISNULL([NO SHOW], 0) + ISNULL([RESCHEDULED], 0), 0) AS DECIMAL(5,1)) AS ARRIVED_PERCENT      
    --ISNULL([CANCELLED], 0) AS CANCELLED,      
    --CAST(100.0 * ISNULL([CANCELLED], 0) / NULLIF(ISNULL([ARRIVED], 0) + ISNULL([CANCELLED], 0) + ISNULL([NO SHOW], 0) + ISNULL([RESCHEDULED], 0), 0) AS DECIMAL(5,2)) AS CANCELLED_PERCENT,      
    --ISNULL([NO SHOW], 0) AS NO_SHOW,      
    --CAST(100.0 * ISNULL([NO SHOW], 0) / NULLIF(ISNULL([ARRIVED], 0) + ISNULL([CANCELLED], 0) + ISNULL([NO SHOW], 0) + ISNULL([RESCHEDULED], 0), 0) AS DECIMAL(5,2)) AS NO_SHOW_PERCENT,      
    --ISNULL([RESCHEDULED], 0) AS RESCHEDULED,      
    --CAST(100.0 * ISNULL([RESCHEDULED], 0) / NULLIF(ISNULL([ARRIVED], 0) + ISNULL([CANCELLED], 0) + ISNULL([NO SHOW], 0) + ISNULL([RESCHEDULED], 0), 0) AS DECIMAL(5,2)) AS RESCHEDULED_PERCENT      
 into #temp_Arrivalrate      
FROM Pivoted;      

truncate table RenderingProvider_TEST      
      
insert into  RenderingProvider_TEST 
      
select 
R.ProviderID,R.IN_Year,R.IN_month_ID,R.CID,R.AID,R.SEDCR,
R.Charge,R.Payment,R.providrname,R.ServiceName,      
T.NUMERATOR CheckedInSlotDuration,T.DENOMINATOR TotalSlotDuration,
A.total TotalScheduledCnt,A.ARRIVED ArrivedCnt,  
PM.TotalProviderNonBusinessHours  
from #ResultSet R      
LEFT JOIN #Tempschedulerates T ON T.TEMPLATE_PROVIDER_ID=R.ProviderID AND T.In_month=R.IN_month_ID AND T.IN_Year=R.IN_Year      
LEFT JOIN #temp_Arrivalrate A ON A.TEMPLATE_PROVIDER_ID=R.ProviderID AND A.In_month=R.IN_month_ID AND A.IN_Year=R.IN_Year  
LEFT JOIN ProviderMetricsTable PM ON pm.providerid =r.ProviderID AND MONTH(PM.Month)=R.IN_month_ID AND YEAR(PM.Month)=R.IN_Year  
ORDER BY R.IN_Year,R.IN_month_ID, R.ProviderID


end
GO
