USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[PBIR_Clinical_AthenaRXQ_Dashboard_with_BP]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[PBIR_Clinical_AthenaRXQ_Dashboard_with_BP]
AS
BEGIN

							IF OBJECT_ID('tempdb..#Athenahealth') IS NOT NULL
									DROP TABLE #AthenaHealth			
							IF OBJECT_ID('tempdb..#PatientWeight') IS NOT NULL
									DROP TABLE #PatientWeight
							IF OBJECT_ID('tempdb..#PatientHeight') IS NOT NULL
									DROP TABLE #PatientHeight
							IF OBJECT_ID('tempdb..#PatientA1C') IS NOT NULL
									DROP TABLE #PatientA1C
							IF OBJECT_ID('tempdb..#PatientPotassium') IS NOT NULL
									DROP TABLE #PatientPotassium
							IF OBJECT_ID('tempdb..#BloodPressure') IS NOT NULL
									DROP TABLE #BloodPressure
							IF OBJECT_ID('tempdb..#PatientHeartRate') IS NOT NULL
									DROP TABLE #PatientHeartRate
							IF OBJECT_ID('tempdb..#PatientAlbumin') IS NOT NULL
									DROP TABLE #PatientAlbumin
							IF OBJECT_ID('tempdb..#PatientALT') IS NOT NULL
									DROP TABLE #PatientALT
                            IF OBJECT_ID('tempdb..#PatientAST') IS NOT NULL
									DROP TABLE #PatientAST
                            IF OBJECT_ID('tempdb..#PatientBUN') IS NOT NULL
									DROP TABLE #PatientBUN
                            IF OBJECT_ID('tempdb..#PatientSodium') IS NOT NULL
									DROP TABLE #PatientSodium
							IF OBJECT_ID('tempdb..#PatientCalcium') IS NOT NULL
									DROP TABLE #PatientCalcium
							IF OBJECT_ID('tempdb..#PatientMagnesium') IS NOT NULL
									DROP TABLE #PatientMagnesium
							IF OBJECT_ID('tempdb..#PatientPhosphate') IS NOT NULL
									DROP TABLE #PatientPhosphate
							IF OBJECT_ID('tempdb..#PatientChloride') IS NOT NULL
									DROP TABLE #PatientChloride
							IF OBJECT_ID('tempdb..#PatientHemoglobin') IS NOT NULL
									DROP TABLE #PatientHemoglobin
							IF OBJECT_ID('tempdb..#PatientTSH') IS NOT NULL
									DROP TABLE #PatientTSH
							IF OBJECT_ID('tempdb..#PatientT3') IS NOT NULL
									DROP TABLE #PatientT3
							IF OBJECT_ID('tempdb..#PatientVITAMIN_D') IS NOT NULL
									DROP TABLE #PatientVITAMIN_D
							IF OBJECT_ID('tempdb..#PatientCreatinine') IS NOT NULL
									DROP TABLE #PatientCreatinine						
							IF OBJECT_ID('tempdb..#Triglycerides') IS NOT NULL
									DROP TABLE #Triglycerides
							IF OBJECT_ID('tempdb..#Total_Cholesterol') IS NOT NULL
									DROP TABLE #Total_Cholesterol
							IF OBJECT_ID(N'dbo.PBIR_Clinical_Dashboard_with_BP', N'U') IS NOT NULL
									DROP TABLE PBIR_Clinical_Dashboard_with_BP


Select 
P.PATIENTID
,(P.Firstname+' '+P.lastname) as PatientName
,P.DOB as Date_Of_Birth
,sum(year(getdate())-year(P.dob)) as Age
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender
INTO #AthenaHealth
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)
Group by p.PATIENTID
,p.FIRSTNAME
,p.LASTNAME
,P.sex
,p.DOB
 
 begin

with weight as (
select
P.PATIENTID
,(VS.DISPLAYVALUE) as PatientWeight
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.WEIGHT')

select * into #PatientWeight 
from weight where recent=1
end

begin

with Height as (
select
P.PATIENTID
,(VS.DISPLAYVALUE) as PatientHeight
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.HEIGHT')

select * into #PatientHeight 
from Height where recent=1
end

--**************************BLOODPRESSURE*********************
----------------------------BP TOTAL SYS&DYS------------------

select P.PATIENTID,CE.CLINICALENCOUNTERID,A.[KEY],A.val1,ce.ENCOUNTERDATE,ce.PROVIDERID,PP.PROVIDERID ProvID
,PP.SCHEDULINGNAME,D.DOCUMENTID,a.CREATEDDATETIME 
into #BLOODPRESSURETemp
from (
SELECT *,ceiling([value]) val1 FROM PP_ATHENA_ODS.ATHENAONE.VITALSIGN VS (nolock)
where ISNUMERIC([VALUE])=1 and [KEY] IN ('VITALS.BLOODPRESSURE.SYSTOLIC','VITALS.BLOODPRESSURE.DIASTOLIC')) a
join PP_ATHENA_ODS.ATHENAONE.ClinicalEncounter CE (nolock) ON CE.CLINICALENCOUNTERID=A.CLINICALENCOUNTERID
JOIN PP_ATHENA_ODS.ATHENAONE.Patient p  (nolock) ON P.PATIENTID=CE.PATIENTID
join PP_ATHENA_ODS.ATHENAONE.DOCUMENT D (nolock) ON D.CLINICALENCOUNTERID=CE.CLINICALENCOUNTERID
join PP_ATHENA_ODS.ATHENAONE.PROVIDER PP (nolock) on CE.PROVIDERID=PP.PROVIDERID
where ( [KEY] = 'VITALS.BLOODPRESSURE.SYSTOLIC' AND val1 >= 165 ) or
( [KEY] = 'VITALS.BLOODPRESSURE.DIASTOLIC' AND val1 >= 90 ) 

----------------------BP SYSTOLIC---------------------------------

SELECT PATIENTID,VAL1 as BLOODPRESSURE_SYSTOLIC,CLINICALENCOUNTERID,encounterdate,CREATEDDATETIME,DOCUMENTID 
,PROVIDERID,ProvID,SCHEDULINGNAME
into #BLOODPRESSURE_SYSTOLIC
from #BLOODPRESSURETemp
WHERE [KEY] = 'VITALS.BLOODPRESSURE.SYSTOLIC'

--------------------------BP DYSTOLIC------------------------------------

SELECT PATIENTID,VAL1 as BLOODPRESSURE_DIASTOLIC,CLINICALENCOUNTERID,encounterdate,CREATEDDATETIME,DOCUMENTID 
,PROVIDERID,ProvID,SCHEDULINGNAME
into #BLOODPRESSURE_DIASTOLIC
from #BLOODPRESSURETemp
WHERE [KEY] = 'VITALS.BLOODPRESSURE.DIASTOLIC' 

----------------------------Concat sys-dys------------------------------------------

Begin
with BloodPressure as(
SELECT PBD.PATIENTID,
BLOODPRESSURE_SYSTOLIC,
BLOODPRESSURE_DIASTOLIC,
PBD.CLINICALENCOUNTERID,PBD.EncounterDate,pbd.CREATEDDATETIME,PBD.DOCUMENTID,
PBD.PROVIDERID,PBD.ProvID,PBD.SCHEDULINGNAME,
Row_Number() over (partition by PBD.PATIENTID order by PBD.EncounterDate DESC) Recent
FROM #BLOODPRESSURE_SYSTOLIC AS PBS
INNER JOIN #BLOODPRESSURE_DIASTOLIC AS PBD ON PBS.PATIENTID=PBD.PATIENTID
where  pbd.CLINICALENCOUNTERID=pbs.CLINICALENCOUNTERID and pbd.encounterdate=pbs.encounterdate and pbd.DOCUMENTID=pbs.DOCUMENTID
and pbd.CREATEDDATETIME=pbs.CREATEDDATETIME)

select * into #BloodPressure
from BloodPressure where Recent=1
end

-------------------------------------------------------------------------------------
--begin
--with BLOODPRESSURE as (
--select P.PATIENTID,A.[KEY],A.val1,
--ROW_NUMBER() over (partition by p.patientid order by A.createddatetime desc)recent
--from (
--SELECT *,ceiling([value]) val1 FROM PP_ATHENA_ODS.ATHENAONE.VITALSIGN VS
--where ISNUMERIC([VALUE])=1 and [KEY] IN ('VITALS.BLOODPRESSURE.SYSTOLIC','VITALS.BLOODPRESSURE.DIASTOLIC')) a
--join PP_ATHENA_ODS.ATHENAONE.ClinicalEncounter CE ON CE.CLINICALENCOUNTERID=A.CLINICALENCOUNTERID
--JOIN PP_ATHENA_ODS.ATHENAONE.Patient p ON P.PATIENTID=CE.PATIENTID
--where ( [KEY] = 'VITALS.BLOODPRESSURE.SYSTOLIC' AND val1 >= 165) OR
--( [KEY] = 'VITALS.BLOODPRESSURE.DIASTOLIC' AND val1 >= 90 )


--select *into #PatientBLOODPRESSURE 
--from BLOODPRESSURE where recent=1
--end


--begin
--with BLOODPRESSURE_SYSTOLIC as (
--select 
--P.PATIENTID
--,(VS.VALUE) as BLOODPRESSURE_SYSTOLIC
--,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
--from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
--INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
--INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
--where VS.[KEY] LIKE '%VITALS.BLOODPRESSURE.SYSTOLIC%')

--select *into #PatientBLOODPRESSURE_SYSTOLIC 
--from BLOODPRESSURE_SYSTOLIC where recent=1
--end

--begin

--with BLOODPRESSURE_DIASTOLIC as (
--select 
--P.PATIENTID
--,(VS.VALUE) as BLOODPRESSURE_DIASTOLIC
--,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
--from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
--INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
--INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
--where VS.[KEY] LIKE '%VITALS.BLOODPRESSURE.DIASTOLIC%')

--select * into #PatientBLOODPRESSURE_DIASTOLIC 
--from BLOODPRESSURE_DIASTOLIC where recent=1
--end


--**************************BLOODPRESSURE END*********************

--**************************HEART RATE*********************
begin

with HEARTRATE as (
select
P.PATIENTID
,(VS.VALUE) as HEARTRATE
,ROW_NUMBER() over (partition by p.patientid order by ce.encounterdate desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] LIKE '%VITALS.HEARTRATE%')

select * into #PatientHEARTRATE 
from HEARTRATE where recent=1
end
--**************************HEART RATE END*********************


begin
with cte as (
Select CL.PATIENTID,cro.OBSERVATIONIDENTIFIERTEXT as A1c_Types,
result AS A1c
,ROW_NUMBER() OVER(PARTITION BY P.patientid,cro.loincid order by cro.createddatetime desc)RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%A1C%'
and cro.LOINCID is not null
)

select * into #PatientA1C
from cte
where rn=1

end

begin
with cte as (
Select CL.PATIENTID,
result as Potassium
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc)RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Potassium%'
and cro.LOINCID is not null
)

select * into #PatientPotassium
from cte
where rn=1

end


begin
with cte as (
Select  CL.PATIENTID,
result as Creatinine
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Creatinine'
and cro.loincid is not null
)

select * into #PatientCreatinine
from cte
where rn=1

end
--*********************Albumin***************************
begin
with cte as (
Select CL.PATIENTID,
result as Albumin
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Albumin'
and cro.loincid is not null
)

select * into #PatientAlbumin
from cte
where rn=1

end

--*********************Albumin END***************************

--***********************ALT******************************
begin
with cte as (
Select CL.PATIENTID,
result as ALT
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%ALT%'
and cro.loincid is not null
)

select * into #PatientALT
from cte
where rn=1

end

--***********************ALT END******************************
--***********************AST******************************
begin
with cte as (
Select CL.PATIENTID,
result as AST
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%AST%'
and cro.loincid is not null
)

select * into #PatientAST
from cte
where rn=1

end
--***********************ALT END******************************
--***********************BUN******************************
begin
with cte as (
Select  CL.PATIENTID,
result as BUN
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT ='BUN'
and cro.loincid is not null
)

select * into #PatientBUN
from cte
where rn=1

end
--***********************BUN END******************************
--***********************SODIUM******************************
begin
with cte as (
Select CL.PATIENTID,
result as SODIUM
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'SODIUM'
and cro.loincid is not null
)

select * into #PatientSODIUM
from cte
where rn=1

end

--***********************SODIUM END******************************
--***********************CALCIUM******************************
begin
with cte as (
Select CL.PATIENTID,
result as CALCIUM
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'CALCIUM'
and cro.loincid is not null
)

select * into #PatientCALCIUM
from cte
where rn=1

end

--***********************CALCIUM END******************************
--***********************MAGNESIUM******************************
begin
with cte as (
Select CL.PATIENTID,
result as MAGNESIUM
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'MAGNESIUM'
and cro.loincid is not null
)

select * into #PatientMAGNESIUM
from cte
where rn=1

end
--***********************MAGNESIUM END******************************
--***********************PHOSPHATE ******************************
begin
with cte as (
Select CL.PATIENTID,
result as PHOSPHATE
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%PHOSPHATE%'
and cro.loincid is not null
)

select * into #PatientPHOSPHATE
from cte
where rn=1

end
--***********************PHOSPHATE END******************************
--***********************CHLORIDE******************************
begin
with cte as (
Select CL.PATIENTID,
result as CHLORIDE
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE 'CHLORIDE'
and cro.loincid is not null
)

select * into #PatientCHLORIDE
from cte
where rn=1

end
--***********************CHLORIDE END******************************
--***********************HEMOGLOBIN ******************************
begin
with cte as (
Select CL.PATIENTID,
result as HEMOGLOBIN
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE 'HEMOGLOBIN'
and cro.loincid is not null
)

select * into #PatientHEMOGLOBIN
from cte
where rn=1

end

--***********************HEMOGLOBIN END******************************
--***********************TSH ******************************
begin
with cte as (
Select CL.PATIENTID,
result as TSH
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'TSH'
and cro.loincid is not null
)

select * into #PatientTSH
from cte
where rn=1

end
--***********************TSH END ******************************
--***********************T3  ******************************
begin
with cte as (
Select CL.PATIENTID,
result as T3
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%T3%'
and cro.loincid is not null
)

select * into #PatientT3
from cte
where rn=1

end
--***********************T3 END ******************************
--***********************VITAMIN D ******************************
begin
with cte as (
Select  CL.PATIENTID,
result as VITAMIN_D
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%VITAMIN D%'
and cro.loincid is not null
)

select * into #PatientVITAMIN_D
from cte
where rn=1

end
--***********************VITAMIND END ******************************
--***********************LDL ******************************
begin
with cte as (
Select  CL.PATIENTID,
result as LDL
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%LDL CHOL CALC (NIH)%'
and cro.loincid is not null
)

select * into #LDL
from cte
where rn=1

end
--***********************LDL END ******************************
--***********************HDL ******************************
begin
with cte as (
Select  CL.PATIENTID,
result as HDL
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%HDL CHOLESTEROL%'
and cro.loincid is not null
)

select * into #HDL
from cte
where rn=1

end
--***********************HDL END ******************************
--***********************Triglycerides ******************************
begin
with cte as (
Select  CL.PATIENTID,
result as Triglycerides
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%Triglycerides%'
and cro.loincid is not null
)

select * into #Triglycerides
from cte
where rn=1

end
--***********************Triglycerides END ******************************
--***********************Total Cholesterol ******************************
begin
with cte as (
Select  CL.PATIENTID,
result as Total_Cholesterol
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%CHOLESTEROL, TOTAL%'
and cro.loincid is not null
)

select * into #Total_Cholesterol
from cte
where rn=1

end
--***********************Total Cholesterol END ******************************



--INSERT INTO PBIR_Clinical_Dashboard_Training
select DISTINCT
A.PATIENTID as AthenaPatientID
,A.PatientName as PatientName
,A.Date_Of_Birth as Date_Of_Birth
,cast(A.Age as bigint) as Age
,A.Patient_Gender as Patient_Gender
,PBP.EncounterDate
,PBP.DocumentID
,PBP.ClinicalEncounterID
,PBP.PROVIDERID,PBP.ProvID,Cast(PBP.SCHEDULINGNAME as Varchar) as SchedulingName
,CONVERT(DATE,PBP.createddatetime) AS BPTestDate
,PBP.BLOODPRESSURE_SYSTOLIC as BloodPressureSystolic
,PBP.BLOODPRESSURE_DIASTOLIC as BloodPressureDiastolic
,PA1C.A1c
,PP.Potassium
,PC.Creatinine
,PW.PatientWeight
,PH.PatientHeight
,PHR.HEARTRATE
,A1c_Types as A1c_Types
,PA.Albumin
,PALT.ALT
,PAST.AST
,PBUN.BUN
,PS.SODIUM
,PCA.CALCIUM
,PMA.MAGNESIUM
,PPT.PHOSPHATE
,PCH.CHLORIDE
,PHG.HEMOGLOBIN
,PTSH.TSH
,PT3.T3
,PVD.VITAMIN_D
,LDL.LDL
,HDL.HDL
,TR.Triglycerides
,TC.Total_Cholesterol
INTO PBIR_Clinical_Dashboard_with_BP
from #AthenaHealth as A
LEFT JOIN #PatientWeight as PW on A.PATIENTID=PW.PATIENTID
LEFT JOIN #PatientHeight as PH on A.PATIENTID=PH.PATIENTID
LEFT JOIN #BloodPressure as PBP on A.PATIENTID=PBP.PATIENTID
LEFT JOIN #PatientHEARTRATE as PHR on A.PATIENTID=PHR.PATIENTID
LEFT JOIN #PatientA1C AS PA1C on A.PATIENTID=PA1C.PATIENTID
LEFT JOIN #PatientPotassium as PP on A.PATIENTID=PP.PATIENTID
LEFT JOIN #PatientCreatinine AS PC on A.PATIENTID=PC.PATIENTID
LEFT JOIN #PatientAlbumin AS PA on A.PATIENTID=PA.PATIENTID
LEFT JOIN #PatientALT AS PALT on A.PATIENTID=PALT.PATIENTID
LEFT JOIN #PatientAST AS PAST on A.PATIENTID=PAST.PATIENTID
LEFT JOIN #PatientBUN AS PBUN on A.PATIENTID=PBUN.PATIENTID
LEFT JOIN #PatientSodium AS PS on A.PATIENTID=PS.PATIENTID
LEFT JOIN #PatientCALCIUM AS PCA on A.PATIENTID=PCA.PATIENTID
LEFT JOIN #PatientMAGNESIUM AS PMA on A.PATIENTID=PMA.PATIENTID
LEFT JOIN #PatientPHOSPHATE AS PPT on A.PATIENTID=PPT.PATIENTID
LEFT JOIN #PatientCHLORIDE AS PCH on A.PATIENTID=PCH.PATIENTID
LEFT JOIN #PatientHEMOGLOBIN AS PHG on A.PATIENTID=PHG.PATIENTID
LEFT JOIN #PatientTSH AS PTSH on A.PATIENTID=PTSH.PATIENTID
LEFT JOIN #PatientT3 AS PT3 on A.PATIENTID=PT3.PATIENTID
LEFT JOIN #PatientVITAMIN_D AS PVD on A.PATIENTID=PVD.PATIENTID
LEFT JOIN #LDL AS LDL ON A.PATIENTID=LDL.PATIENTID
LEFT JOIN #HDL AS HDL ON A.PATIENTID=HDL.PATIENTID
LEFT JOIN #Triglycerides AS TR ON A.PATIENTID=TR.PATIENTID
LEFT JOIN #Total_Cholesterol AS TC ON A.PATIENTID=TC.PATIENTID
WHERE A.PATIENTID IS NOT NULL and PBP.BLOODPRESSURE_SYSTOLIC IS NOT NULL  and PBP.BLOODPRESSURE_DIASTOLIC IS NOT NULL
ORDER BY A.PATIENTID DESC

end

GO
