USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_LoadClinicalEncounterSocialQA]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************    
Procedure Name : Sp_LoadClinicalEncounterSocialQA    
Author         : SightSpectrum    
Created Date   : 06/16/2026    
    
Description:    
Get ClinicalEncounterSocial Q&A from CLINICALENCOUNTERDATA Title X macro    
and load into ClinicalEncounterDATACLOB     
    
****************************************************************************************/    
CREATE procedure [dbo].[Sp_LoadClinicalEncounterSocialQA]    
as     
begin     
    
drop table if exists #Temp_CLINICALENCOUNTERDATA    
    
select c.*     
into #Temp_CLINICALENCOUNTERDATA    
from ATHENAONE.CLINICALENCOUNTERDATA  c with(nolock)    
join     
(    
select  distinct ml.CLINICALENCOUNTERID    
from ATHENAONE.LOCALTEXTMACRO m     
join ATHENAONE.LOCALTEXTMACROLOG ml on m.LOCALTEXTMACROID =ml.MACROID    
where m.MACRO in ('TitleXTestAdult','TitleXTestMinor') and ml.DELETEDBY is null    
and m.DELETEDBY is null    
--and ml.LASTUPDATED >    
--(    
--select MaxDate from GetALLObjectMaxDate    
--where TableName='LOCALTEXTMACROLOG'    
--)    
) t on t.CLINICALENCOUNTERID=c.CLINICALENCOUNTERID    
where c.ENCOUNTERDATACLOB like '%pregnancy%status?%'  
and c.ENCOUNTERDATACLOB like '%future%plan%pregnant%'
and c.DELETEDBY is null   
  
  
--select * from #Temp_CLINICALENCOUNTERDATA  
--order by CLINICALENCOUNTERID desc ,KEYID desc  
    
truncate table ClinicalEncounterDATACLOB    
    
insert into ClinicalEncounterDATACLOB    
(CLINICALENCOUNTERID,CLINICALENCOUNTERDATAID    
,ENCOUNTERDATACLOB,[KEY])    
    
select     
CLINICALENCOUNTERID,CLINICALENCOUNTERDATAID    
,ENCOUNTERDATACLOB,[KEY]    
from     
(    
select CLINICALENCOUNTERID,CLINICALENCOUNTERDATAID    
,ENCOUNTERDATACLOB,[KEY],    
ROW_NUMBER() over(partition by CLINICALENCOUNTERID order by      
lastupdated desc ,keyid desc) Rnk    
from #Temp_CLINICALENCOUNTERDATA  c
where [key] in 
('ASSESSMENT.NOTECLOB',
'EXAMFREETEXT_CLOB_HPI_Templated')
and c.ENCOUNTERDATACLOB like '%pregnancy%status?%'  
and c.ENCOUNTERDATACLOB like '%future%plan%pregnant%'
)  abc    
where Rnk=1    
    
    
    
end
GO
