USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[PBIR_Clinical_Dashboard_Old]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














Create PROCEDURE [dbo].[PBIR_Clinical_Dashboard_Old]
AS  
/*****************************************************************************************************************************************************
Object		:     Clinical_Dashboard
Created By	:     NK
Created on	:     12/09/2021
Description	:	  Patient Clinical Dashboard

History:          MM/DD/YYYY  Modified User   Request Content
                  12/09/2021  NK              Initial creation
*******************************************************************************************************************************************************/
BEGIN 							
							
							
							IF OBJECT_ID('tempdb..#Athenahealth') IS NOT NULL
									DROP TABLE #AthenaHealth
							IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL
									DROP TABLE #Liberty
							IF OBJECT_ID('tempdb..#PatientWeight') IS NOT NULL
									DROP TABLE #PatientWeight
							IF OBJECT_ID('tempdb..#PatientHeight') IS NOT NULL
									DROP TABLE #PatientHeight
							IF OBJECT_ID('tempdb..#PatientA1C') IS NOT NULL
									DROP TABLE #PatientA1C
							IF OBJECT_ID('tempdb..#PatientPotassium') IS NOT NULL
									DROP TABLE #PatientPotassium
							IF OBJECT_ID('tempdb..#PatientBloodPressure') IS NOT NULL
									DROP TABLE #PatientBloodPressure
							IF OBJECT_ID('tempdb..#PatientHeartRate') IS NOT NULL
									DROP TABLE #PatientHeartRate
							IF OBJECT_ID('tempdb..#PatientAlbumin') IS NOT NULL
									DROP TABLE #PatientAlbumin
							IF OBJECT_ID('tempdb..#PatientALT') IS NOT NULL
									DROP TABLE #PatientALT
                            IF OBJECT_ID('tempdb..#PatientAST') IS NOT NULL
									DROP TABLE #PatientAST
                            IF OBJECT_ID('tempdb..#PatientBUN') IS NOT NULL
									DROP TABLE #PatientBUN
                            IF OBJECT_ID('tempdb..#PatientSodium') IS NOT NULL
									DROP TABLE #PatientSodium
							IF OBJECT_ID('tempdb..#PatientCalcium') IS NOT NULL
									DROP TABLE #PatientCalcium
							IF OBJECT_ID('tempdb..#PatientMagnesium') IS NOT NULL
									DROP TABLE #PatientMagnesium
							IF OBJECT_ID('tempdb..#PatientPhosphate') IS NOT NULL
									DROP TABLE #PatientPhosphate
							IF OBJECT_ID('tempdb..#PatientChloride') IS NOT NULL
									DROP TABLE #PatientChloride
							IF OBJECT_ID('tempdb..#PatientHemoglobin') IS NOT NULL
									DROP TABLE #PatientHemoglobin
							IF OBJECT_ID('tempdb..#PatientTSH') IS NOT NULL
									DROP TABLE #PatientTSH
							IF OBJECT_ID('tempdb..#PatientT3') IS NOT NULL
									DROP TABLE #PatientT3
							IF OBJECT_ID('tempdb..#PatientVITAMIN_D') IS NOT NULL
									DROP TABLE #PatientVITAMIN_D
							IF OBJECT_ID('tempdb..#PatientCreatinine') IS NOT NULL
									DROP TABLE #PatientCreatinine
							IF OBJECT_ID('tempdb..#Therapeutic_Drugclass') IS NOT NULL
									DROP TABLE #Therapeutic_Drugclass
							IF OBJECT_ID(N'dbo.PBIR_Clinical_Dashboards', N'U') IS NOT NULL
									DROP TABLE PBIR_Clinical_AthenaRXQ



Select 
P.PATIENTID
,(P.Firstname+' '+P.lastname) as PatientName
,P.DOB as Date_Of_Birth
,sum(year(getdate())-year(P.dob)) as Age
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender
INTO #AthenaHealth
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)
Group by p.PATIENTID
,p.FIRSTNAME
,p.LASTNAME
,P.sex
,p.DOB
 
 begin

with weight as (
select
P.PATIENTID
,(VS.DISPLAYVALUE) as PatientWeight
,ROW_NUMBER() over (partition by p.patientid order by VS.lastupdated desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.WEIGHT')

select * into #PatientWeight 
from weight where recent=1
end

begin

with Height as (
select
P.PATIENTID
,(VS.DISPLAYVALUE) as PatientHeight
,ROW_NUMBER() over (partition by p.patientid order by VS.lastupdated desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.HEIGHT')

select * into #PatientHeight 
from Height where recent=1
end

--**************************BLOODPRESSURE*********************
begin

with BLOODPRESSURE as (
select 
P.PATIENTID
,(VS.VALUE) as BLOODPRESSURE
,ROW_NUMBER() over (partition by p.patientid order by VS.lastupdated desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] LIKE '%VITALS.BLOODPRESSURE%')

select * into #PatientBLOODPRESSURE 
from BLOODPRESSURE where recent=1
end
--**************************BLOODPRESSURE END*********************

--**************************HEART RATE*********************
begin

with HEARTRATE as (
select
P.PATIENTID
,(VS.VALUE) as HEARTRATE
,ROW_NUMBER() over (partition by p.patientid order by VS.lastupdated desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] LIKE '%VITALS.HEARTRATE%')

select * into #PatientHEARTRATE 
from HEARTRATE where recent=1
end
--**************************HEART RATE END*********************


begin
with cte as (
Select CL.PATIENTID,cro.OBSERVATIONIDENTIFIERTEXT as A1c_Types,
result AS A1c
,ROW_NUMBER() OVER(PARTITION BY P.patientid,cro.loincid order by cro.lastupdated desc)RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%A1C%'
and cro.LOINCID is not null
)

select * into #PatientA1C
from cte
where rn=1

end

begin
with cte as (
Select CL.PATIENTID,
result as Potassium
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc)RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Potassium%'
and cro.LOINCID is not null
)

select * into #PatientPotassium
from cte
where rn=1

end


begin
with cte as (
Select  CL.PATIENTID,
result as Creatinine
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Creatinine'
and cro.loincid is not null
)

select * into #PatientCreatinine
from cte
where rn=1

end
--*********************Albumin***************************
begin
with cte as (
Select CL.PATIENTID,
result as Albumin
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Albumin'
and cro.loincid is not null
)

select * into #PatientAlbumin
from cte
where rn=1

end

--*********************Albumin END***************************

--***********************ALT******************************
begin
with cte as (
Select CL.PATIENTID,
result as ALT
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%ALT%'
and cro.loincid is not null
)

select * into #PatientALT
from cte
where rn=1

end

--***********************ALT END******************************
--***********************AST******************************
begin
with cte as (
Select CL.PATIENTID,
result as AST
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%AST%'
and cro.loincid is not null
)

select * into #PatientAST
from cte
where rn=1

end
--***********************ALT END******************************
--***********************BUN******************************
begin
with cte as (
Select  CL.PATIENTID,
result as BUN
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT ='BUN'
and cro.loincid is not null
)

select * into #PatientBUN
from cte
where rn=1

end
--***********************BUN END******************************
--***********************SODIUM******************************
begin
with cte as (
Select CL.PATIENTID,
result as SODIUM
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'SODIUM'
and cro.loincid is not null
)

select * into #PatientSODIUM
from cte
where rn=1

end

--***********************SODIUM END******************************
--***********************CALCIUM******************************
begin
with cte as (
Select CL.PATIENTID,
result as CALCIUM
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'CALCIUM'
and cro.loincid is not null
)

select * into #PatientCALCIUM
from cte
where rn=1

end

--***********************CALCIUM END******************************
--***********************MAGNESIUM******************************
begin
with cte as (
Select CL.PATIENTID,
result as MAGNESIUM
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'MAGNESIUM'
and cro.loincid is not null
)

select * into #PatientMAGNESIUM
from cte
where rn=1

end
--***********************MAGNESIUM END******************************
--***********************PHOSPHATE ******************************
begin
with cte as (
Select CL.PATIENTID,
result as PHOSPHATE
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%PHOSPHATE%'
and cro.loincid is not null
)

select * into #PatientPHOSPHATE
from cte
where rn=1

end
--***********************PHOSPHATE END******************************
--***********************CHLORIDE******************************
begin
with cte as (
Select CL.PATIENTID,
result as CHLORIDE
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE 'CHLORIDE'
and cro.loincid is not null
)

select * into #PatientCHLORIDE
from cte
where rn=1

end
--***********************CHLORIDE END******************************
--***********************HEMOGLOBIN ******************************
begin
with cte as (
Select CL.PATIENTID,
result as HEMOGLOBIN
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE 'HEMOGLOBIN'
and cro.loincid is not null
)

select * into #PatientHEMOGLOBIN
from cte
where rn=1

end

--***********************HEMOGLOBIN END******************************
--***********************TSH ******************************
begin
with cte as (
Select CL.PATIENTID,
result as TSH
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'TSH'
and cro.loincid is not null
)

select * into #PatientTSH
from cte
where rn=1

end
--***********************TSH END ******************************
--***********************T3  ******************************
begin
with cte as (
Select CL.PATIENTID,
result as T3
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%T3%'
and cro.loincid is not null
)

select * into #PatientT3
from cte
where rn=1

end
--***********************T3 END ******************************
--***********************VITAMIN D ******************************
begin
with cte as (
Select  CL.PATIENTID,
result as VITAMIN_D
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%VITAMIN D%'
and cro.loincid is not null
)

select * into #PatientVITAMIN_D
from cte
where rn=1

end
--***********************VITAMIND END ******************************



Select
DG.Name as Drug_name
,P.patientid
,P.globalid 
,D.DoctorId as ProvideID
,(D.FirstName+' '+D.LastName) Prescribing_ProviderName
,D.source_indicator as PharmacyName
,MD.NDC_UPC_HRI as NDC_Number
,MD.GenericProductIdentifier as GenericProductIdentifier
,P.CustomField3 as Patient_CustomeField_3
,P.CustomField4 as Patient_CustomField_4
,DG.CustomField1 as Drug_CustomField_1
,ST.DateDispensedSQL as Date_Filled
,SB.DateWrittenSQL as VisitDate
,DG.NdcNumber
INTO #Liberty
From PP_ODS..rxqDoctor as D (nolock)
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator
INNER JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber  
and SB.Source_Indicator=ST.Source_Indicator


--begin
--with cte as (
--select  
--D.Name
--,D.NdcNumber
--,MTCRF.TC_GPIName AS Therapeutic_DrugClass
--,rank() over(partition by  MTCRF.Therapeuticclassificationcode,D.ndcnumber order by MTCRF.RecordTypeCode desc) rn 
--from PP_ODS..rxqDrug AS D (NOLOCK)
--INNER JOIN PP_ODS..m25_MDDB_G AS MG (NOLOCK) on D.NdcNumber=MG.NDC_UPC_HRI
--inner join PP_ODS..wl_GPI AS GPI (NOLOCK) on GPI.GPI=MG.GenericProductIdentifier
--inner join PP_ODS..m25_MDDB_TCRF AS MTCRF (NOLOCK) on MTCRF.RecordTypeCode=GPI.PrioritySequence
--
--)
--
--select * into #Therapeutic_Drugclass
--from cte 
--where rn=1
--end

Select T.* into #Therapeutic_DrugClass
from
(
select FH.ndc				AS NDC
,FH.Therapeutic_Category	AS Therapeutic_DrugClass 
from PP_ODS..rxqdrug AS D  (nolock)
INNER JOIN PP_ODS..FiveStar_HRM  AS FH (nolock) on D.NdcNumber = FH.NDC 

UNION
select  
FD.ndc						AS NDC
,FD.Therapeutic_Category	AS Therapeutic_DrugClass 
from PP_ODS..rxqdrug AS D(nolock)
INNER JOIN PP_ODS..FiveStar_Diabetes AS FD (nolock) ON D.NdcNumber = FD.NDC 

UNION
select FDT.ndc				AS NDC
,FDT.Therapeutic_Category	AS Therapeutic_DrugClass 
from PP_ODS..rxqdrug AS D (nolock)
INNER JOIN PP_ODS..FiveStar_DiabetesApprTx_HTN AS FDT (nolock) ON D.NdcNumber = FDT.NDC 

UNION
select FR.ndc				AS NDC
,FR.Therapeutic_Category	AS Therapeutic_DrugClass 
from PP_ODS..rxqdrug AS D (nolock)
INNER JOIN PP_ODS..FiveStar_RASA AS FR (nolock) ON D.NdcNumber = FR.NDC 

UNION
select FS.ndc				AS NDC
,FS.Therapeutic_Category	AS Therapeutic_DrugClass 
from PP_ODS..rxqdrug AS D (NOLOCK)
INNER JOIN PP_ODS..FiveStar_Statins AS FS (NOLOCK) ON  D.NdcNumber = FS.NDC

UNION
select  
MN.NDC_UPC_HRI  AS NDC
,DDI.DrugClass2 AS Therapeutic_DrugClass 
from PP_ODS..rxqdrug D
INNER JOIN PP_ODS..med_NDC AS MN ON D.NdcNumber = MN.NDC_UPC_HRI 
INNER JOIN PP_ODS..cc2_DrugDrugInteractions AS DDI ON MN.DrugDescriptorIdentifier = DDI.DDICode)T

--INSERT INTO PBIR_Clinical_Dashboard_Training
select DISTINCT
A.PATIENTID as AthenaPatientID
,A.PatientName as PatientName
,A.Date_Of_Birth as Date_Of_Birth
,cast(A.Age as bigint) as Age
,A.Patient_Gender as Patient_Gender
,L.PatientId as LibertyPatientID
,L.Drug_name as DrugName
,L.Prescribing_ProviderName as Prescribing_ProviderName
,L.ProvideID  as ProviderID
,L.Date_Filled
,L.PharmacyName as PharmacyName
,L. Patient_CustomeField_3
,L.Patient_CustomField_4
,L.Drug_CustomField_1
,L.VisitDate
,L.GenericProductIdentifier
,PA1C.A1c
,PP.Potassium
,PC.Creatinine
,PW.PatientWeight
,PH.PatientHeight
,PBP.BLOODPRESSURE
,PHR.HEARTRATE
,A1c_Types as A1c_Types
,PA.Albumin
,PALT.ALT
,PAST.AST
,PBUN.BUN
,PS.SODIUM
,PCA.CALCIUM
,PMA.MAGNESIUM
,PPT.PHOSPHATE
,PCH.CHLORIDE
,PHG.HEMOGLOBIN
,PTSH.TSH
,PT3.T3
,PVD.VITAMIN_D
,TDC.Therapeutic_DrugClass AS Therapeutic_DrugClass
INTO PBIR_Clinical_Dashboards
from #AthenaHealth as A
LEFT JOIN #PatientWeight as PW on A.PATIENTID=PW.PATIENTID
LEFT JOIN #PatientHeight as PH on A.PATIENTID=PH.PATIENTID
LEFT JOIN #PatientBLOODPRESSURE as PBP on A.PATIENTID=PBP.PATIENTID
LEFT JOIN #PatientHEARTRATE as PHR on A.PATIENTID=PHR.PATIENTID
LEFT JOIN #PatientA1C AS PA1C on A.PATIENTID=PA1C.PATIENTID
LEFT JOIN #PatientPotassium as PP on A.PATIENTID=PP.PATIENTID
LEFT JOIN #PatientCreatinine AS PC on A.PATIENTID=PC.PATIENTID
LEFT JOIN #PatientAlbumin AS PA on A.PATIENTID=PA.PATIENTID
LEFT JOIN #PatientALT AS PALT on A.PATIENTID=PALT.PATIENTID
LEFT JOIN #PatientAST AS PAST on A.PATIENTID=PAST.PATIENTID
LEFT JOIN #PatientBUN AS PBUN on A.PATIENTID=PBUN.PATIENTID
LEFT JOIN #PatientSodium AS PS on A.PATIENTID=PS.PATIENTID
LEFT JOIN #PatientCALCIUM AS PCA on A.PATIENTID=PCA.PATIENTID
LEFT JOIN #PatientMAGNESIUM AS PMA on A.PATIENTID=PMA.PATIENTID
LEFT JOIN #PatientPHOSPHATE AS PPT on A.PATIENTID=PPT.PATIENTID
LEFT JOIN #PatientCHLORIDE AS PCH on A.PATIENTID=PCH.PATIENTID
LEFT JOIN #PatientHEMOGLOBIN AS PHG on A.PATIENTID=PHG.PATIENTID
LEFT JOIN #PatientTSH AS PTSH on A.PATIENTID=PTSH.PATIENTID
LEFT JOIN #PatientT3 AS PT3 on A.PATIENTID=PT3.PATIENTID
LEFT JOIN #PatientVITAMIN_D AS PVD on A.PATIENTID=PVD.PATIENTID
FULL JOIN #Liberty as L on A.PATIENTID=CAST(L.GlobalId AS INT)
LEFT JOIN #Therapeutic_Drugclass AS TDC ON L.NdcNumber=TDC.NDC 
where L.GlobalId IS NOT NULL
AND A.PATIENTID IS NOT NULL
order by a.PATIENTID desc

end



GO
