USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[HRSNWeeklyFile_Final]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRSNWeeklyFile_Final](
	[HRSNID] [varchar](50) NULL,
	[Question] [nvarchar](255) NULL,
	[QNO] [varchar](5) NULL,
	[Answer] [varchar](50) NULL,
	[AnswerType] [varchar](50) NULL,
	[HRSNStatus] [varchar](50) NULL,
	[ResponseDate] [datetime] NULL,
	[AthenaPatientID] [varchar](50) NULL,
	[DOB] [datetime] NULL,
	[RecordCreatedDate] [datetime] NULL,
	[PatientName] [varchar](50) NULL,
	[DepartmentName] [varchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HRSNWeeklyFile_Final] ADD  DEFAULT (getdate()) FOR [RecordCreatedDate]
GO
