USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[NACHC_CDC_AdultImmunization_Encounter_New]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NACHC_CDC_AdultImmunization_Encounter_New]  
AS  
  
/*****************************************************************************************************************************************************  
Object  :     Adult_Immunization_Encounter_New  
Created By :     MVS  
Created on :     05/17/2023  
Description :   Adult Immunization Learning Community  
  
History:          MM/DD/YYYY  Modified User   Request Content  
                  05/17/2023  MVS             Initial creation  
*******************************************************************************************************************************************************/  
  
BEGIN   
  
DECLARE  
   
 @DateFrom DATE,  
 @DateTo   DATE  
  
SET  
  @DateFrom = dateadd(month, datediff(month, 0, getdate())-1, 0)  
  
SET  
  @DateTo   = dateadd(month, datediff(month, 0, getdate()), -1)  
  
  
       IF OBJECT_ID('tempdb..#Temp_PatientDemographics') IS NOT NULL  
       DROP TABLE #Temp_PatientDemographics  
       IF OBJECT_ID('tempdb..#Housings') IS NOT NULL  
       DROP TABLE #Housings  
       IF OBJECT_ID('tempdb..#Demographics') IS NOT NULL  
       DROP TABLE #Demographics  
       IF OBJECT_ID('tempdb..#PatientWithEncounter') IS NOT NULL  
       DROP TABLE #PatientWithEncounter  
       IF OBJECT_ID('tempdb..#Temp_Telehealth') IS NOT NULL  
       DROP TABLE #Temp_Telehealth  
       IF OBJECT_ID('tempdb..#PatientWithEncounter1') IS NOT NULL  
       DROP TABLE #PatientWithEncounter1  
       IF OBJECT_ID('tempdb..#Temp_Vaccinations') IS NOT NULL  
       DROP TABLE #Temp_Vaccinations  
       IF OBJECT_ID('tempdb..#Temp_Encounters') IS NOT NULL  
       DROP TABLE #Temp_Encounters  
       IF OBJECT_ID('tempdb..PatientWithVaccinesResult') IS NOT NULL  
       DROP TABLE #PatientWithVaccinesResult  
       IF OBJECT_ID('tempdb..#EncounterResult') IS NOT NULL  
       DROP TABLE #EncounterResult  
       --IF OBJECT_ID(N'dbo.NACHCDemographics', N'U') IS NOT NULL   
       --Drop Table dbo.NACHCDemographics  
       IF OBJECT_ID(N'dbo.NACHCVaccines', N'U') IS NOT NULL   
       Drop Table dbo.NACHCVaccines  
       IF OBJECT_ID(N'dbo.NACHCEncounter', N'U') IS NOT NULL   
       Drop Table dbo.NACHCEncounter  
       IF OBJECT_ID(N'dbo.NACHC_SDOH', N'U') IS NOT NULL   
       Drop Table dbo.NACHC_SDOH  
  
  
-------------------------Patient_Info_All--------------------  
  
  
Select  P.PATIENTID,  
P.DOB as Date_Of_Birth,  
YEAR(GETDATE())-YEAR(P.DOB) as Age,  
P.DECEASEDDATE as Date_Of_Death,  
P.SEX,  
P.SEXUALORIENTATION,  
P.GENDERIDENTITY,  
P.ETHNICITY,  
P.RACE,  
P.LANGUAGE,  
P.UNCONFIRMEDFAMILYSIZE as HouseHold_Size,  
P.PUBLICHOUSING as Housing_Status,  
P.ZIP,  
P.CITY,  
P.STATE,  
PAY.INSURANCEPACKAGETYPE as Insurance_Type,  
CASE  
     when p.UNCONFIRMEDPOVERTYLEVEL <= '100' THEN '100% and below'  
  when p.UNCONFIRMEDPOVERTYLEVEL >= '101' and p.UNCONFIRMEDPOVERTYLEVEL <=150 THEN '101-150%'  
  when p.UNCONFIRMEDPOVERTYLEVEL >= '151' and p.UNCONFIRMEDPOVERTYLEVEL <=200 THEN '151-200%'  
  when p.UNCONFIRMEDPOVERTYLEVEL  > '201' THEN 'Over 200%'  
  ELSE 'Unknown'  
End as FPL  
into #Temp_PatientDemographics  
from  ATHENAONE.Patient as P with (nolock)  
 Left join ATHENAONE.PATIENTINSURANCE As PI with (nolock)  
 on P.PATIENTID=PI.PATIENTID and P.CONTEXTID=PI.CONTEXTID  
 Left Join ATHENAONE.Payer as PAY with (nolock)  
 on PI.INSURANCEPACKAGEID=PAY.INSURANCEPACKAGEID and PI.CONTEXTID=PAY.CONTEXTID  
    where PI.ELIGIBILITYLASTCHECKED=(select MAX(PI.ELIGIBILITYLASTCHECKED) from ATHENAONE.PATIENTINSURANCE as PI  
    where P.PATIENTID=PI.PATIENTID) and YEAR(GETDATE())-YEAR(P.DOB) > 19  
  
  
-------------------------------Housing_Info---------------------  
  
select PATIENTID,SOCIALHISTORYANSWER AS Housing    
Into #Housings  
from ATHENAONE.PATIENTSOCIALHISTORY with (nolock)  
where SOCIALHISTORYKEY like '%Living%'  
  
select PD.*,H.Housing  
into #Demographics from   
#Temp_PatientDemographics as PD  
 LEFT Join #Housings as H  
 on PD.PATIENTID=H.PATIENTID  
  
----------------------------Department_With_EncounterFilter--------------------  
  
BEGIN  
WITH CTE AS(  
Select D.*,  
DEP.DEPARTMENTCITY as HealthCenter,  
DEP.DEPARTMENTNAME,  
DEP.DEPARTMENTID,  
AP.ENCOUNTERDATE,  
AP.CLINICALENCOUNTERTYPE,  
AP.APPOINTMENTID,  
ROW_NUMBER() OVER (PARTITION by D.patientid,AP.ENCOUNTERDATE order by AP.ENCOUNTERDATE)rn  
From #Demographics D   
    INNER join ATHENAONE.CLINICALENCOUNTER as AP with (nolock)  
 On AP.PATIENTID=D.PATIENTID  
 INNER Join ATHENAONE.DEPARTMENT as DEP with (nolock)  
 On AP.DEPARTMENTID=DEP.DEPARTMENTID  
 WHERE  
 (AP.ENCOUNTERDATE >= @DateFrom  -----'2023-04-01 00:00:00.000'  
 and   
 AP.ENCOUNTERDATE <=  @DateTo)  ----'2023-04-30 00:00:00.000')   
 and  
  DEP.DEPARTMENTNAME not in ('Maysville Medical Specialty'  
 ,'Meadowview Regional Medical Center- ED'  
 ,'Meadowview Regional Medical Center- IP'  
 ,'Meadowview Regional Medical Center-OP'  
 ,'Fleming County Hospital- IP'  
 ,'Fleming County Hospital- OP'  
 ,'Fleming County Hosptial- ED'  
 ,'Bracken County Nursing & Rehabilitation Services'  
 ,'MRMC Peds- IP'  
 ,'Maysville Counseling Services')   
 )  
  
 SELECT * INTO #PatientWithEncounter  
 FROM CTE  
 where rn=1  
 ORDER BY ENCOUNTERDATE  
END  
  
-----------------------------------TeleHealth----------------------  
  
  
select PATIENTID,APPOINTMENTID,  
case   
 when  APPOINTMENTTYPEID in (571,572,579,591,711,712,731,831,891) then 'Yes'  
 when APPOINTMENTTYPEID not in (571,572,579,591,711,712,731,831,891) then 'No'  
 Else ''  
End as Telehealth_Enc into #Temp_Telehealth  
from ATHENAONE.APPOINTMENT with (nolock)  
where PATIENTID is not null  
  
select P.*,Telehealth_Enc INTO #PatientWithEncounter1   
FROM #PatientWithEncounter P  
LEFT JOIN #Temp_Telehealth T ON T.PATIENTID = P.PATIENTID AND T.APPOINTMENTID=P.Appointmentid  
  
  
-------------------------------Vaccine_Details_All----------------------  
  
Begin  
with cte as (  
select   
PV.TYPE As Vaccine_type,  
PV.PATIENTID,  
PV.ADMINISTEREDDATETIME,  
CAST(PV.ADMINISTEREDDATETIME as Date) As VaccineGivenDate,  
CE.CLINICALENCOUNTERID,  
CE.ENCOUNTERDATE as EligibleEncounterDate,  
CE.CLINICALENCOUNTERTYPE as EligibleEncounterType,  
PRO.PROVIDERTYPE,  
PV.VACCINENAME as VaccineDescription,  
PV.QUANTITY as Vaccine_Dose,  
PV.DISPLAYQUANTITYUNITS as Vaccine_Dose_Unit,  
PV.CVX as Vaccinecode,  
Case   
 when convert(date,PV.ADMINISTEREDDATETIME) = ENCOUNTERDATE and PV.TYPE = 'CLINICALVACCINE' Then 'Health Center'  
 when convert(date,PV.ADMINISTEREDDATETIME) = ENCOUNTERDATE and PV.TYPE = 'PATIENTVACCINE' Then 'External'  
 when convert(date,PV.ADMINISTEREDDATETIME) < ENCOUNTERDATE or convert(date,PV.ADMINISTEREDDATETIME) > ENCOUNTERDATE Then 'Historical'  
 Else ''  
End as Vaccine_Location,  
PV.REFUSEDYN as vaccine_refusal,  
Case  
    when PV.REFUSEDREASON='02' THEN 'Parent Refused'  
 when PV.REFUSEDREASON='03' THEN 'Religious Exemption'  
 ELSE ''  
End as vaccine_refusal_Reason,  
ROW_NUMBER() OVER (PARTITION BY PV.PATIENTID,PV.ADMINISTEREDDATETIME,CE.CLINICALENCOUNTERID   
order by CE.ENCOUNTERDATE) RN  
from ATHENAONE.PATIENTVACCINE as PV with (nolock)  
Join ATHENAONE.ClinicalEncounter as CE with (nolock)  
on PV.PATIENTID=CE.PATIENTID and  
   PV.CONTEXTID=CE.CONTEXTID  
Full outer Join ATHENAONE.PROVIDER as PRO with (nolock)  
on CE.PROVIDERID=PRO.PROVIDERID and  
   CE.CONTEXTID=PRO.CONTEXTID  
LEFT Join ATHENAONE.DOCUMENT As D with (nolock)  
On PV.DOCUMENTID=D.DOCUMENTID and  
   PV.CONTEXTID=D.CONTEXTID  
where (PV.VACCINENAME like '%Influenza%' or  
      PV.VACCINENAME like '%SARS%' or  
   PV.VACCINENAME like '%Covid%' or  
   PV.VACCINENAME like '%Pneumococcal%' or   
   PV.VACCINENAME like '%Zoster%') and  
   CE.CLINICALENCOUNTERTYPE NOT in ('Flowsheet') and  
  (CE.ENCOUNTERSTATUS like '%Closed%' or   
   CE.ENCOUNTERSTATUS like '%TEMP%') and  
   PV.ADMINISTEREDDATETIME is not null  and   
   PV.ADMINISTEREDDATETIME>= '2020-08-01'  
   and (CE.ENCOUNTERDATE >=  @DateFrom           --- '2023-04-01 00:00:00.000'  
 and CE.ENCOUNTERDATE <= @DateTo )   )           ---'2023-04-30 00:00:00.000')  
   
  
select * into #Temp_Vaccinations  
from cte   
where RN=1  
End  
  
----------------------------Patient_with_Vaccine_Result---------------  
  
Begin  
with cte as(  
select   
P.PATIENTID,  
P.HealthCenter,  
P.Date_Of_Birth,  
P.Date_Of_Death,  
P.SEX,  
P.RACE,  
P.ETHNICITY,  
P.LANGUAGE,  
P.SEXUALORIENTATION,  
P.GENDERIDENTITY,  
P.Housing,  
P.HouseHold_Size,  
P.Housing_Status,  
P.ZIP,  
P.STATE,  
P.Insurance_Type,  
P.FPL,  
p.Telehealth_Enc,  
  
--V.PATIENTID,  
v.vaccine_type,  
P.DEPARTMENTNAME,  
P.DEPARTMENTID,  
V.CLINICALENCOUNTERID,  
V.VaccineGivenDate,  
P.ENCOUNTERDATE,  
V.EligibleEncounterType,  
v.PROVIDERTYPE,  
V.Vaccinecode,  
V.VaccineDescription,  
V.Vaccine_Dose,  
V.Vaccine_Dose_Unit,  
V.Vaccine_Location,  
V.vaccine_refusal,  
V.vaccine_refusal_Reason,  
ROW_NUMBER() over (partition by p.patientid,v.VaccineGivenDate,v.Vaccinecode ,V.EligibleEncounterDate  
order by V.EligibleEncounterDate )as Rn  
   
from  #PatientWithEncounter1 P  
left JOIN #Temp_Vaccinations V ON V.PATIENTID=P.PATIENTID and V.EligibleEncounterDate=P.ENCOUNTERDATE   
where p.patientid is not null  
)  
select * into #PatientWithVaccinesResult  
from cte  
where rn=1  
ORDER BY ENCOUNTERDATE  
End  
  
  
-------------------------Encounter_All---------------------  
  
  
Begin  
with cte as (  
select P.PROCEDURECODE,  
P.PROCEDURECODEDESCRIPTION,  
CSP.CLINICALSERVICEID,  
CE.PATIENTID,  
CE.ENCOUNTERDATE,  
CE.CLINICALENCOUNTERID,  
CE.SPECIALTY as EncounterType,   
ROW_NUMBER() over (partition by p.PROCEDURECODE,CE.PATIENTID,CE.CLINICALENCOUNTERID   
order by CE.ENCOUNTERDATE ASC) AS RN   
from ATHENAONE.PROCEDURECODE as P with (nolock)  
Join ATHENAONE.CLINICALSERVICEPROCEDURECODE as CSP with (nolock)  
on P.PROCEDURECODE=CSP.PROCEDURECODE and  
   P.CONTEXTID=CSP.CONTEXTID  
join ATHENAONE.CLINICALSERVICE as CS with (nolock)  
on CSP.CLINICALSERVICEID=CS.CLINICALSERVICEID  
Join ATHENAONE.ClinicalEncounter as CE with (nolock)  
On CS.CLINICALENCOUNTERID=CE.CLINICALENCOUNTERID and  
    CS.CONTEXTID=CE.CONTEXTID  
where P.PROCEDURECODE in ('90662','90694','90756','90674','90687','90688','90686','90682','90672','90736','90750','90653',  
'90667','90668','90666','90662','90664','90694','90756','90674','90689','90687','90688','90685','90686','90630','90682',  
'90672','90661','90657','90658','90655','90656','90654','90673','90660','90670','90671','90677','90732','4040F','0031A',  
'0021A','0022A','0071A','0072A','0013A','0011A','0012A','0004A','0003A','0054A','0051A','0052A','0053A','0001A','0002A',  
'0064A','0041A','0042A','91303','91302','91307','91301','91305','91300','91306','91304') )--65,373  
  
Select * into #Temp_Encounters  
from cte  
where rn=1  
ORDER BY ENCOUNTERDATE  
END  
  
  
------------------------Encounter_with_SDOH_Result-------------------  
  
  
BEGIN  
WITH CTE AS(  
select   
P.PATIENTID,  
P.DEPARTMENTNAME,  
P.DEPARTMENTID,  
P.CLINICALENCOUNTERID,  
P.encounterdate,  
--P.APPOINTMENTDATE,  
E.PROCEDURECODE,  
P.ELIGIBLEENCOUNTERType,  
P.Telehealth_Enc,  
P.PROVIDERTYPE,  
ROW_NUMBER() OVER (PARTITION BY P.PATIENTID,P.ENCOUNTERDATE ORDER BY P.ENCOUNTERDATE)RN  
  
from #PatientWithVaccinesResult p  
left join #Temp_Encounters E ON P.PATIENTID=E.PATIENTID AND P.encounterdate=E.encounterdate  
)  
  
SELECT * into #EncounterResult  
FROM CTE  
WHERE RN=1  
ORDER BY ENCOUNTERDATE  
END  
  
  
----------------FINAL 4 TABLES SUMMARY-------------------  
 truncate table dbo.NACHCDemographics 

insert into  dbo.NACHCDemographics
(
[Patient_ID] ,
	[Health_Center] ,
	[Birth_Date] ,
	[Death_Date] ,
	[Sex] ,
	[Race] ,
	[Ethnicity] ,
	[Language] ,
	[Sexual_Orientation] ,
	[Gender_Identity] ,
	[Housing] ,
	[HouseHold_Size] ,
	[Housing_Status] ,
	[ZIP] ,
	[STATE] ,
	[Insurance_Type] ,
	[FPL] 
)
Select Distinct  
PATIENTID as Patient_ID,  
HealthCenter as Health_Center,  
Date_Of_Birth as Birth_Date,  
Date_Of_Death as Death_Date,  
SEX as Sex,  
RACE as Race,  
ETHNICITY as Ethnicity,  
[LANGUAGE] as [Language],  
SEXUALORIENTATION as Sexual_Orientation,  
GENDERIDENTITY as Gender_Identity,  
Housing,  
HouseHold_Size,  
Housing_Status,  
ZIP,  
STATE,  
Insurance_Type,  
FPL    
from #PatientWithVaccinesResult   
Order by PATIENTID asc  
  
  
  
SELECT   
PATIENTID as Patient_ID  
,DEPARTMENTNAME as Health_Center  
,DEPARTMENTID as Health_Center_ID  
,CLINICALENCOUNTERID AS Encounter_ID  
,VaccineGivenDate as Vaccine_Given_Date  
,ENCOUNTERDATE as Encounter_Date  
,Vaccinecode as Vaccine_Code  
,VaccineDescription as Vaccine_Description  
,Vaccine_Dose  
,Vaccine_Dose_Unit  
,Vaccine_Location  
,vaccine_refusal  
,vaccine_refusal_Reason  
into dbo.NACHCVaccines  
FROM #PatientWithVaccinesResult  
ORDER BY ENCOUNTERDATE asc  
  
  
Select  
PATIENTID as Patient_ID ,  
DEPARTMENTNAME as Health_Center,  
DEPARTMENTID as Health_Center_ID,  
CLINICALENCOUNTERID as Encounter_ID,  
encounterdate as Encounter_Date,  
PROCEDURECODE as Encounter_CPT,  
ELIGIBLEENCOUNTERType as Encounter_Type,  
Telehealth_Enc as Telehealth_Encounter,  
PROVIDERTYPE as Provider_Type  
into dbo.NACHCEncounter  
From #EncounterResult  
ORDER BY PATIENTID asc  
  
  
Select  
PATIENTID as Patient_ID ,  
DEPARTMENTNAME as Health_Center,  
CLINICALENCOUNTERID as Encounter_ID,  
encounterdate as Encounter_Date,  
'' as Farm_Worker  
,'' as Veteran_Status  
,'' as English_Proficiency  
,'' as Household_Size  
,'' as Housing  
,'' as Housing_Status  
,'' as Education  
,'' as Employment  
,'' as Household_Income  
,'' as Food_Insecurity  
,'' as Clothing_Insecurity  
,'' as Utilities_Insecurity  
,'' as Child_Care_Insecurity  
,'' as Healthcare_Insecurity  
,'' as Phone_Insecurity  
,'' as Other_Material_Insecurity  
,'' as Transportation_Insecurity  
,'' as Social_Integration  
,'' as Stress  
,'' as Incarceration  
,'' as Refugee  
,'' as Safety  
,'' as Domestic_Violence  
into dbo.NACHC_SDOH  
from #EncounterResult  
ORDER BY PATIENTID asc  
  
  
--*********************************************END********************************************  
  
End  
  
  
  
  
  
  
  
--select * from NACHCDemographics  
--order by patient_ID  
  
--select * from NACHCEncounter  
--order by PATIENT_ID  
  
--select * from NACHCVaccines  
--order by ENCOUNTER_DATE  
  
--select * from NACHC_SDOH  
--order by PATIENT_ID  
GO
