USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DexcomClarity_Alert_NonAlertTable_Load]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DexcomClarity_Alert_NonAlertTable_Load]   
as   
begin   
  
truncate table DexcomClarityAlertTable  
truncate table DexcomClarityNonAlertTable
  
 insert into DexcomClarityAlertTable(  
 PatientIdentifier  
,FirstName  
,lastName  
,DateOfBirth  
,[Timestamp]  
,[Event Subtype]  
,[Event Type]  
,[Device Info]  
,[Source Device ID]  
,[Glucose Value (mg dL)]  
,[Insulin Value (u)]  
,[Carb Value (grams)]  
,Duration  
,[Transmitter ID]  
,[Transmitter Time]   
,CreatedDateTime  
)  
  
select  PatientIdentifier  
,FirstName  
,lastName  
,DateOfBirth  
,Timestamp  
,[Event Subtype]  
,[Event Type]  
,[Device Info]  
,[Source Device ID]  
,[Glucose Value (mg dL)]  
,[Insulin Value (u)]  
,[Carb Value (grams)]  
,Duration  
,[Transmitter ID]  
,[Transmitter Time]   
,getdate()  as CreatedDateTime  
from DexcomClarityBulk d with(nolock)  
 where ( [Event Type]= 'Alert' or [Event Type] = 'Device' )  
  
 insert into DexcomClarityNonAlertTable(  
 PatientIdentifier  
,FirstName  
,lastName  
,DateOfBirth  
,[Timestamp]  
,[Event Subtype]  
,[Event Type]  
,[Device Info]  
,[Source Device ID]  
,[Glucose Value (mg dL)]  
,[Insulin Value (u)]  
,[Carb Value (grams)]  
,Duration  
,[Transmitter ID]  
,[Transmitter Time]   
,CreatedDateTime  
)  
  
select  PatientIdentifier  
,FirstName  
,lastName  
,DateOfBirth  
,Timestamp  
,[Event Subtype]  
,[Event Type]  
,[Device Info]  
,[Source Device ID]  
,[Glucose Value (mg dL)]  
,[Insulin Value (u)]  
,[Carb Value (grams)]  
,Duration  
,[Transmitter ID]  
,[Transmitter Time]   
,getdate()  as CreatedDateTime  
from DexcomClarityBulk d with(nolock)  
 where ( [Event Type]= 'EGV' or [Event Type] = 'Calibration' )  
  
end
GO
