USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DexcomGlucoseWithClinical_Backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DexcomGlucoseWithClinical_Backup]    
    
as     
    
Begin    
       IF OBJECT_ID('tempdb..#DexTemp1_Patient') IS NOT NULL    
       DROP TABLE #DexTemp1_Patient    
       IF OBJECT_ID('tempdb..#DexTemp2_Provider') IS NOT NULL    
       DROP TABLE #DexTemp2_Provider    
       IF OBJECT_ID('tempdb..#PatientWeight') IS NOT NULL    
       DROP TABLE #PatientWeight    
       IF OBJECT_ID('tempdb..#PatientHeight') IS NOT NULL    
       DROP TABLE #PatientHeight    
       IF OBJECT_ID('tempdb..#PatientHEARTRATE') IS NOT NULL    
       DROP TABLE #PatientHEARTRATE    
       IF OBJECT_ID('tempdb..#PatientCreatinine') IS NOT NULL    
       DROP TABLE #PatientCreatinine    
       IF OBJECT_ID('tempdb.. #DexcomNonAlertTemp') IS NOT NULL    
       DROP TABLE  #DexcomNonAlertTemp     
       --IF OBJECT_ID('tempdb.. #ResultTemp1') IS NOT NULL    
       --DROP TABLE  #ResultTemp1    
       --IF OBJECT_ID('tempdb.. #ResultTemp2') IS NOT NULL    
       --DROP TABLE  #ResultTemp2    
       IF OBJECT_ID('tempdb..#result') IS NOT NULL    
       DROP TABLE #result    
       IF OBJECT_ID(N'dbo.DexcomFinalTable', N'U') IS NOT NULL     
       Drop table [PP_Athena_ODS].[dbo].[DexcomFinalTable]    
          
    
    
--****PATIENT******    
    
Select     
P.PATIENTID    
,P.DOB as Date_Of_Birth    
,sum(year(getdate())-year(P.dob)) as Age    
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Gender    
INTO #DexTemp1_Patient    
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)    
Group by p.PATIENTID    
,P.sex    
,p.DOB    
    
--****PROVIDER****    
    
begin    
with providerDetails as(    
select CE.PATIENTID,PR.PROVIDERID,PR.PROVIDERFIRSTNAME,PR.PROVIDERLASTNAME    
,ROW_NUMBER() Over (partition by CE.PATIENTID order by CE.ENCOUNTERDATE desc)Recent    
from PP_Athena_ODS.ATHENAONE.PROVIDER PR (nolock)    
inner join PP_Athena_ODS.ATHENAONE.ClinicalEncounter CE (nolock) ON CE.PROVIDERID=PR.PROVIDERID    
)    
    
select * INTO #DexTemp2_Provider    
from providerDetails where recent=1    
End    
    
--*****WEIGHT*****    
    
    
begin    
with weight as (    
select    
P.PATIENTID,(VS.DISPLAYVALUE) as PatientWeight    
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent    
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)    
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID     
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID    
where VS.[KEY] ='VITALS.WEIGHT'    
)    
    
select * into #PatientWeight     
from weight where recent=1    
end    
    
    
--****HEIGHT******    
    
begin    
    
with Height as (    
select    
P.PATIENTID,(VS.DISPLAYVALUE) as PatientHeight    
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent    
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)    
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID    
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID    
where VS.[KEY] ='VITALS.HEIGHT'    
)    
    
select * into #PatientHeight     
from Height where recent=1    
end    
    
    
    
--*********HEART RATE********    
begin    
    
with HEARTRATE as (    
select     
P.PATIENTID,(VS.VALUE) as HEARTRATE    
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent    
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)    
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID    
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID    
where VS.[KEY] LIKE '%VITALS.HEARTRATE%'    
)    
    
select * into #PatientHEARTRATE     
from HEARTRATE where recent=1    
end    
    
    
--*********************  A1C  ****************    
    
begin    
with cte as (    
Select CL.PATIENTID,    
result AS A1c    
,ROW_NUMBER() OVER(PARTITION BY P.patientid,cro.loincid order by cro.createddatetime desc)RN    
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)    
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID    
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID    
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID    
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%A1C%'    
and cro.LOINCID is not null    
)    
    
select * into #PatientA1C    
from cte    
where rn=1    
    
end    
    
--******************** EGFR ****************    
    
begin    
with cte as (    
Select CL.PATIENTID,    
result AS EGFR    
,ROW_NUMBER() OVER(PARTITION BY P.patientid,cro.loincid order by cro.createddatetime desc)RN    
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)    
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID    
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID    
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID    
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'EGFR'    
and cro.LOINCID is not null    
)    
    
select * into #PatientEGFR    
from cte    
where rn=1    
    
end    
    
--*********CREATININE********    
    
begin    
with cte as (    
Select  CL.PATIENTID,    
result as Creatinine    
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN    
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)    
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID    
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID    
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID    
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Creatinine'    
and cro.loincid is not null    
)    
    
select * into #PatientCreatinine    
from cte    
where rn=1    
    
END    
    
--********************** Next Appointment *****************    
Begin    
    
WITH CTE AS(    
SELECT patientid,APPOINTMENTDATE,MIN(appointmentdate)as next_appointment_date,    
--ROW_NUMBER() over (partition by patientid order by patientid) RN    
ROW_NUMBER() over (partition by patientid order by APPOINTMENTDATE) RN   
FROM athenaone.appointment  with(nolock)  
WHERE appointmentdate >= Convert(Date,GETDATE()) and APPOINTMENTSTATUS not like '%cancel%'and patientid is not null     
GROUP BY patientid,APPOINTMENTDATE    
--order by PATIENTID,APPOINTMENTDATE    
)    
    
SELECT  * into #PatientNextAppointment    
FROM CTE     
WHERE RN=1     
order by PATIENTID,APPOINTMENTDATE    
    
End    
-------------------------------FINAL TABLE---------------------    
    
SELECT DT1P.PATIENTID,DT1P.Date_Of_Birth,DT1P.Age,    
DT2P.PROVIDERFIRSTNAME,DT2P.PROVIDERLASTNAME,    
PW.PatientWeight,PH.PatientHeight,PHR.HEARTRATE,PCR.Creatinine,PA1.A1c,PEGFR.EGFR,PNA.next_appointment_date    
into #result FROM #DexTemp1_Patient AS DT1P    
left JOIN #DexTemp2_Provider AS DT2P ON DT1P.PATIENTID=DT2P.PATIENTID    
LEFT JOIN #PatientWeight AS PW ON DT1P.PATIENTID=PW.PATIENTID    
LEFT JOIN #PatientHeight AS PH ON DT1P.PATIENTID=PH.PATIENTID    
left JOIN #PatientHEARTRATE AS PHR ON DT1P.PATIENTID=PHR.PATIENTID    
left JOIN #PatientA1C AS PA1 ON DT1P.PATIENTID=PA1.PATIENTID    
left JOIN #PatientEGFR AS PEGFR ON DT1P.PATIENTID=PEGFR.PATIENTID    
left JOIN #PatientCreatinine AS PCR ON DT1P.PATIENTID=PCR.PATIENTID    
left JOIN #PatientNextAppointment AS PNA ON DT1P.PATIENTID=PNA.PATIENTID    
    
where DT1P.PATIENTID is not null   
    
--------------------------- Dexcom Non alert---------------------------------------    
    
select PatientIdentifier,FirstName,lastName,[Timestamp ],[Source Device ID],[Glucose Value (mg dL)] into #DexcomNonAlertTemp    
from PP_Athena_ODS.dbo.DexcomClarityNonAlertTable    
where YEAR([Timestamp ]) > year(getdate())-2    
    
-------------------------------------------FINAL-----------------------------------    
    
select R.*,D.* INTO PP_Athena_ODS.dbo.DexcomFinalTable from #result R    
Inner Join #DexcomNonAlertTemp D ON R.PATIENTID=D.PatientIdentifier    
ORDER BY PATIENTID,[Timestamp ] DESC       
    
/*    
SELECT CP.*,R.* INTO #ResultTemp1    
FROM #DexcomNonAlertTemp AS CP    
INNER JOIN #result AS R ON CP.PatientIdentifier=R.PATIENTID    
where (MONTH(CP.[Timestamp ])= MONTH(R.ENCOUNTERDATE) AND (YEAR(CP.[Timestamp ])=YEAR(R.ENCOUNTERDATE)))    
    
    
select CP.*,R.* INTO #ResultTemp2     
from #DexcomNonAlertTemp CP    
INNER JOIN    
 (select patientid from #result    
 group by patientid    
 having max(encounterdate) <= '2021-12-31') RES    
 ON RES.PATIENTID= CP.PatientIdentifier     
inner JOIN #result AS R ON RES.PATIENTID=R.PATIENTID       
    
    
select * INTO  PP_Athena_ODS.dbo.DexcomFinalTable  from #ResultTemp1    
UNION ALL    
select * from #ResultTemp2    
*/    
    
    
END    
    
    
    
    
GO
