USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_SCHEDULING_APPOINTMENT_LandingtoODS]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_SCHEDULING_APPOINTMENT_LandingtoODS]  
as   
begin   
  
if exists(select 1 from pp_athena_landing..SSISConfig   
where SourceTable='APPOINTMENT'  and Schema_Name='SCHEDULING'
and IsActive=1 and IsLoadedToLanding=1  
)   
begin   
  
Declare @Targetcount int ,@insertedcount int ,@updatedCount int ,@sourcecount int   
  
select @Targetcount = count(1) from SCHEDULING.APPOINTMENT  ods with(nolock)   
  
insert into [SCHEDULING].[APPOINTMENT_DeletedHistory]  
(
CONTEXTID
,CREATEDBY
,LASTUPDATED
,LASTMODIFIEDBY
,APPOINTMENT_ID
,TEMPLATE_APPOINTMENT_ID
,RESCHEDULED_APPOINTMENT_ID
,APPOINTMENT_DATE
,APPOINTMENT_MONTH
,APPOINTMENT_DAY_WEEK
,APPOINTMENT_START_TIME
,SCHEDULED_TIMESTAMP
,SCHEDULED_MONTH
,SCHEDULED_DAY_WEEK
,SCHEDULED_TIME
,TEMPLATE_PROVIDER_ID
,TEMPLATE_PROVIDER_NAME
,RENDERING_PROVIDER_ID
,RENDERING_PROVIDER_NAME
,TEMPLATE_PROVIDER_NPI_ID
,RENDERING_PROVIDER_NPI_ID
,TEMPLATE_PROVIDERGROUP_NAME
,RENDERING_PROVIDERGROUP_NAME
,TEMPLATE_MEDICALGROUP_NAME
,RENDERING_MEDICALGROUP_NAME
,TEMPLATE_PROVIDER_GROUP_ID
,RENDERING_PROVIDER_GROUP_ID
,TEMPLATE_PROVIDER_SPECIALTY_ID
,RENDERING_PROVIDER_SPECIALTY_ID
,STATUS_TYPE
,PATIENT_STATUS_TYPE
,TEMPLATE_ENTITY_TYPE
,RENDERING_ENTITY_TYPE
,TEMPLATE_PROVIDER_CATEGORY_TYPE
,RENDERING_PROVIDER_CATEGORY_TYPE
,TEMPLATE_PROVIDERTYPE_NAME
,RENDERING_PROVIDERTYPE_NAME
,TEMPLATE_RESIDENT_STATUS_TYPE
,RENDERING_RESIDENT_STATUS_TYPE
,TEMPLATE_PROVIDER_SPECIALTY_TYPE
,RENDERING_PROVIDER_SPECIALTY_TYPE
,DEPARTMENT_ID
,DEPARTMENT_NAME
,DEPARTMENT_CITY_NAME
,DEPARTMENT_STATE_CODE
,DEPARTMENT_ZIP_CODE
,DEPARTMENT_ADDRESS
,DEPARTMENT_PLACE_OF_SERVICE_NAME
,PATIENT_ID
,PATIENT_ENTERPRISE_ID
,PATIENT_GENDER_TYPE
,PATIENT_AGE
,PATIENT_INSURANCE_CATEGORY_TYPE
,PATIENT_INSURANCE_GROUPING_TYPE
,BOOKED_APPOINTMENT_TYPE_ID
,TEMPLATE_APPOINTMENT_TYPE_ID
,BOOKED_APPOINTMENT_NAME
,TEMPLATE_APPOINTMENT_NAME
,BOOKED_APPOINTMENT_DURATION
,TEMPLATE_APPOINTMENT_DURATION
,PAR_NAME
,SCHEDULED_BY_USER_NAME
,SCHEDULED_BY_CATEGORY_TYPE
,CANCELLED_BY_USER_NAME
,CANCELLED_BY_CATEGORY_TYPE
,CANCELLED_TIMESTAMP
,CANCELLED_REASON_TYPE
,CANCELLED_REASON_LOCAL_NAME
,RESCHEDULED_BY_USER_NAME
,RESCHEDULED_BY_CATEGORY_TYPE
,RESCHEDULED_TIMESTAMP
,CHECKEDIN_BY_USER_NAME
,CHECKEDIN_BY_CATEGORY_TYPE
,APPOINTMENT_NOTE
,COMMUNICATOR_CREATED_BY
,COMMUNICATOR_NAVIGATION_TYPE
,CANCELLED_COUNT_INDICATOR
,RESCHEDULED_COUNT_INDICATOR
,NON_RESCHED_NO_SHOW_COUNT_INDICATOR
,FULL_NO_SHOW_COUNT_INDICATOR
,CHECKED_IN_COUNT_INDICATOR
,FILLED_COUNT_INDICATOR
,TOTAL_COUNT_INDICATOR
,UNDER_2_DAYS_INDICATOR
,UNDER_15_DAYS_INDICATOR
,BETWEEN_2_AND_7_DAYS_INDICATOR
,BETWEEN_8_AND_14_DAYS_INDICATOR
,BETWEEN_15_AND_30_DAYS_INDICATOR
,GREATER_OR_EQUAL_TO_31_DAYS_INDICATOR
,DAYS_DIFF_SCHED_TO_APT
,HOURS_DIFF_SCHED_TO_APT
,HOURS_DIFF_CANCEL_TO_APT
,HOURS_DIFF_RESCHED_TO_APT
,CLAIM_ID
,ATHENAONE_SUCCESSFUL_VISIT_INDICATOR
,INSURANCE_PACKAGE_ID
,TELEHEALTH_APPOINTMENT_INDICATOR
,DEPARTMENT_TIME_ZONE
,EST_OFFSET_HOURS
,TEST_PATIENT_INDICATOR
,ATHENAONE_APPOINTMENT_DURATION_SECS
,ATHENAONE_APPOINTMENT_INDICATOR
,ATHENAONE_DETAILED_CALL_STATUS_TYPE
,ATHENAONE_FUTURE_APPOINTMENT_INDICATOR
,ATHENAONE_SHORT_VISIT_TYPE
,ATHENAONE_TEST_USER_INDICATOR
,BOOKING_CHANNEL_TYPE
,MISSING_SLIP_INDICATOR
,CREATEDON
,Record_Created_Date
,Record_Updated_Date
,HistoryCreatedDate)  
  
select 
p.CONTEXTID
,p.CREATEDBY
,p.LASTUPDATED
,p.LASTMODIFIEDBY
,p.APPOINTMENT_ID
,p.TEMPLATE_APPOINTMENT_ID
,p.RESCHEDULED_APPOINTMENT_ID
,p.APPOINTMENT_DATE
,p.APPOINTMENT_MONTH
,p.APPOINTMENT_DAY_WEEK
,p.APPOINTMENT_START_TIME
,p.SCHEDULED_TIMESTAMP
,p.SCHEDULED_MONTH
,p.SCHEDULED_DAY_WEEK
,p.SCHEDULED_TIME
,p.TEMPLATE_PROVIDER_ID
,p.TEMPLATE_PROVIDER_NAME
,p.RENDERING_PROVIDER_ID
,p.RENDERING_PROVIDER_NAME
,p.TEMPLATE_PROVIDER_NPI_ID
,p.RENDERING_PROVIDER_NPI_ID
,p.TEMPLATE_PROVIDERGROUP_NAME
,p.RENDERING_PROVIDERGROUP_NAME
,p.TEMPLATE_MEDICALGROUP_NAME
,p.RENDERING_MEDICALGROUP_NAME
,p.TEMPLATE_PROVIDER_GROUP_ID
,p.RENDERING_PROVIDER_GROUP_ID
,p.TEMPLATE_PROVIDER_SPECIALTY_ID
,p.RENDERING_PROVIDER_SPECIALTY_ID
,p.STATUS_TYPE
,p.PATIENT_STATUS_TYPE
,p.TEMPLATE_ENTITY_TYPE
,p.RENDERING_ENTITY_TYPE
,p.TEMPLATE_PROVIDER_CATEGORY_TYPE
,p.RENDERING_PROVIDER_CATEGORY_TYPE
,p.TEMPLATE_PROVIDERTYPE_NAME
,p.RENDERING_PROVIDERTYPE_NAME
,p.TEMPLATE_RESIDENT_STATUS_TYPE
,p.RENDERING_RESIDENT_STATUS_TYPE
,p.TEMPLATE_PROVIDER_SPECIALTY_TYPE
,p.RENDERING_PROVIDER_SPECIALTY_TYPE
,p.DEPARTMENT_ID
,p.DEPARTMENT_NAME
,p.DEPARTMENT_CITY_NAME
,p.DEPARTMENT_STATE_CODE
,p.DEPARTMENT_ZIP_CODE
,p.DEPARTMENT_ADDRESS
,p.DEPARTMENT_PLACE_OF_SERVICE_NAME
,p.PATIENT_ID
,p.PATIENT_ENTERPRISE_ID
,p.PATIENT_GENDER_TYPE
,p.PATIENT_AGE
,p.PATIENT_INSURANCE_CATEGORY_TYPE
,p.PATIENT_INSURANCE_GROUPING_TYPE
,p.BOOKED_APPOINTMENT_TYPE_ID
,p.TEMPLATE_APPOINTMENT_TYPE_ID
,p.BOOKED_APPOINTMENT_NAME
,p.TEMPLATE_APPOINTMENT_NAME
,p.BOOKED_APPOINTMENT_DURATION
,p.TEMPLATE_APPOINTMENT_DURATION
,p.PAR_NAME
,p.SCHEDULED_BY_USER_NAME
,p.SCHEDULED_BY_CATEGORY_TYPE
,p.CANCELLED_BY_USER_NAME
,p.CANCELLED_BY_CATEGORY_TYPE
,p.CANCELLED_TIMESTAMP
,p.CANCELLED_REASON_TYPE
,p.CANCELLED_REASON_LOCAL_NAME
,p.RESCHEDULED_BY_USER_NAME
,p.RESCHEDULED_BY_CATEGORY_TYPE
,p.RESCHEDULED_TIMESTAMP
,p.CHECKEDIN_BY_USER_NAME
,p.CHECKEDIN_BY_CATEGORY_TYPE
,p.APPOINTMENT_NOTE
,p.COMMUNICATOR_CREATED_BY
,p.COMMUNICATOR_NAVIGATION_TYPE
,p.CANCELLED_COUNT_INDICATOR
,p.RESCHEDULED_COUNT_INDICATOR
,p.NON_RESCHED_NO_SHOW_COUNT_INDICATOR
,p.FULL_NO_SHOW_COUNT_INDICATOR
,p.CHECKED_IN_COUNT_INDICATOR
,p.FILLED_COUNT_INDICATOR
,p.TOTAL_COUNT_INDICATOR
,p.UNDER_2_DAYS_INDICATOR
,p.UNDER_15_DAYS_INDICATOR
,p.BETWEEN_2_AND_7_DAYS_INDICATOR
,p.BETWEEN_8_AND_14_DAYS_INDICATOR
,p.BETWEEN_15_AND_30_DAYS_INDICATOR
,p.GREATER_OR_EQUAL_TO_31_DAYS_INDICATOR
,p.DAYS_DIFF_SCHED_TO_APT
,p.HOURS_DIFF_SCHED_TO_APT
,p.HOURS_DIFF_CANCEL_TO_APT
,p.HOURS_DIFF_RESCHED_TO_APT
,p.CLAIM_ID
,p.ATHENAONE_SUCCESSFUL_VISIT_INDICATOR
,p.INSURANCE_PACKAGE_ID
,p.TELEHEALTH_APPOINTMENT_INDICATOR
,p.DEPARTMENT_TIME_ZONE
,p.EST_OFFSET_HOURS
,p.TEST_PATIENT_INDICATOR
,p.ATHENAONE_APPOINTMENT_DURATION_SECS
,p.ATHENAONE_APPOINTMENT_INDICATOR
,p.ATHENAONE_DETAILED_CALL_STATUS_TYPE
,p.ATHENAONE_FUTURE_APPOINTMENT_INDICATOR
,p.ATHENAONE_SHORT_VISIT_TYPE
,p.ATHENAONE_TEST_USER_INDICATOR
,p.BOOKING_CHANNEL_TYPE
,p.MISSING_SLIP_INDICATOR
,p.CREATEDON
,p.Record_Created_Date
,p.Record_Updated_Date 
,getdate() as HistoryCreatedDate  
from pp_athena_landing.SCHEDULING.APPOINTMENT lan with(nolock)  
join   
SCHEDULING.APPOINTMENT  p with(nolock) on lan.CONTEXTID= p.CONTEXTID   
and lan.APPOINTMENT_ID=p.APPOINTMENT_ID  
  
drop table if exists #APPOINTMENT_deleterecords  
  
select lan.CONTEXTID,lan.APPOINTMENT_ID,ods.Record_Created_Date   
into #APPOINTMENT_deleterecords  
from pp_athena_landing.SCHEDULING.APPOINTMENT lan with(nolock)  
join   
SCHEDULING.APPOINTMENT  ods with(nolock) on lan.CONTEXTID= ods.CONTEXTID   
and lan.APPOINTMENT_ID=ods.APPOINTMENT_ID  
  
delete from ods  
--select ods.*  
from pp_athena_landing.SCHEDULING.APPOINTMENT lan with(nolock)  
join   
SCHEDULING.APPOINTMENT  ods with(nolock) on lan.CONTEXTID= ods.CONTEXTID   
and lan.APPOINTMENT_ID=ods.APPOINTMENT_ID  
  
  
insert into [SCHEDULING].[APPOINTMENT]  
(
CONTEXTID
,CREATEDBY
,LASTUPDATED
,LASTMODIFIEDBY
,APPOINTMENT_ID
,TEMPLATE_APPOINTMENT_ID
,RESCHEDULED_APPOINTMENT_ID
,APPOINTMENT_DATE
,APPOINTMENT_MONTH
,APPOINTMENT_DAY_WEEK
,APPOINTMENT_START_TIME
,SCHEDULED_TIMESTAMP
,SCHEDULED_MONTH
,SCHEDULED_DAY_WEEK
,SCHEDULED_TIME
,TEMPLATE_PROVIDER_ID
,TEMPLATE_PROVIDER_NAME
,RENDERING_PROVIDER_ID
,RENDERING_PROVIDER_NAME
,TEMPLATE_PROVIDER_NPI_ID
,RENDERING_PROVIDER_NPI_ID
,TEMPLATE_PROVIDERGROUP_NAME
,RENDERING_PROVIDERGROUP_NAME
,TEMPLATE_MEDICALGROUP_NAME
,RENDERING_MEDICALGROUP_NAME
,TEMPLATE_PROVIDER_GROUP_ID
,RENDERING_PROVIDER_GROUP_ID
,TEMPLATE_PROVIDER_SPECIALTY_ID
,RENDERING_PROVIDER_SPECIALTY_ID
,STATUS_TYPE
,PATIENT_STATUS_TYPE
,TEMPLATE_ENTITY_TYPE
,RENDERING_ENTITY_TYPE
,TEMPLATE_PROVIDER_CATEGORY_TYPE
,RENDERING_PROVIDER_CATEGORY_TYPE
,TEMPLATE_PROVIDERTYPE_NAME
,RENDERING_PROVIDERTYPE_NAME
,TEMPLATE_RESIDENT_STATUS_TYPE
,RENDERING_RESIDENT_STATUS_TYPE
,TEMPLATE_PROVIDER_SPECIALTY_TYPE
,RENDERING_PROVIDER_SPECIALTY_TYPE
,DEPARTMENT_ID
,DEPARTMENT_NAME
,DEPARTMENT_CITY_NAME
,DEPARTMENT_STATE_CODE
,DEPARTMENT_ZIP_CODE
,DEPARTMENT_ADDRESS
,DEPARTMENT_PLACE_OF_SERVICE_NAME
,PATIENT_ID
,PATIENT_ENTERPRISE_ID
,PATIENT_GENDER_TYPE
,PATIENT_AGE
,PATIENT_INSURANCE_CATEGORY_TYPE
,PATIENT_INSURANCE_GROUPING_TYPE
,BOOKED_APPOINTMENT_TYPE_ID
,TEMPLATE_APPOINTMENT_TYPE_ID
,BOOKED_APPOINTMENT_NAME
,TEMPLATE_APPOINTMENT_NAME
,BOOKED_APPOINTMENT_DURATION
,TEMPLATE_APPOINTMENT_DURATION
,PAR_NAME
,SCHEDULED_BY_USER_NAME
,SCHEDULED_BY_CATEGORY_TYPE
,CANCELLED_BY_USER_NAME
,CANCELLED_BY_CATEGORY_TYPE
,CANCELLED_TIMESTAMP
,CANCELLED_REASON_TYPE
,CANCELLED_REASON_LOCAL_NAME
,RESCHEDULED_BY_USER_NAME
,RESCHEDULED_BY_CATEGORY_TYPE
,RESCHEDULED_TIMESTAMP
,CHECKEDIN_BY_USER_NAME
,CHECKEDIN_BY_CATEGORY_TYPE
,APPOINTMENT_NOTE
,COMMUNICATOR_CREATED_BY
,COMMUNICATOR_NAVIGATION_TYPE
,CANCELLED_COUNT_INDICATOR
,RESCHEDULED_COUNT_INDICATOR
,NON_RESCHED_NO_SHOW_COUNT_INDICATOR
,FULL_NO_SHOW_COUNT_INDICATOR
,CHECKED_IN_COUNT_INDICATOR
,FILLED_COUNT_INDICATOR
,TOTAL_COUNT_INDICATOR
,UNDER_2_DAYS_INDICATOR
,UNDER_15_DAYS_INDICATOR
,BETWEEN_2_AND_7_DAYS_INDICATOR
,BETWEEN_8_AND_14_DAYS_INDICATOR
,BETWEEN_15_AND_30_DAYS_INDICATOR
,GREATER_OR_EQUAL_TO_31_DAYS_INDICATOR
,DAYS_DIFF_SCHED_TO_APT
,HOURS_DIFF_SCHED_TO_APT
,HOURS_DIFF_CANCEL_TO_APT
,HOURS_DIFF_RESCHED_TO_APT
,CLAIM_ID
,ATHENAONE_SUCCESSFUL_VISIT_INDICATOR
,INSURANCE_PACKAGE_ID
,TELEHEALTH_APPOINTMENT_INDICATOR
,DEPARTMENT_TIME_ZONE
,EST_OFFSET_HOURS
,TEST_PATIENT_INDICATOR
,ATHENAONE_APPOINTMENT_DURATION_SECS
,ATHENAONE_APPOINTMENT_INDICATOR
,ATHENAONE_DETAILED_CALL_STATUS_TYPE
,ATHENAONE_FUTURE_APPOINTMENT_INDICATOR
,ATHENAONE_SHORT_VISIT_TYPE
,ATHENAONE_TEST_USER_INDICATOR
,BOOKING_CHANNEL_TYPE
,MISSING_SLIP_INDICATOR
,CREATEDON
,Record_Created_Date
,Record_Updated_Date
)
  
 select 
 p.CONTEXTID
,p.CREATEDBY
,p.LASTUPDATED
,p.LASTMODIFIEDBY
,p.APPOINTMENT_ID
,p.TEMPLATE_APPOINTMENT_ID
,p.RESCHEDULED_APPOINTMENT_ID
,p.APPOINTMENT_DATE
,p.APPOINTMENT_MONTH
,p.APPOINTMENT_DAY_WEEK
,p.APPOINTMENT_START_TIME
,p.SCHEDULED_TIMESTAMP
,p.SCHEDULED_MONTH
,p.SCHEDULED_DAY_WEEK
,p.SCHEDULED_TIME
,p.TEMPLATE_PROVIDER_ID
,p.TEMPLATE_PROVIDER_NAME
,p.RENDERING_PROVIDER_ID
,p.RENDERING_PROVIDER_NAME
,p.TEMPLATE_PROVIDER_NPI_ID
,p.RENDERING_PROVIDER_NPI_ID
,p.TEMPLATE_PROVIDERGROUP_NAME
,p.RENDERING_PROVIDERGROUP_NAME
,p.TEMPLATE_MEDICALGROUP_NAME
,p.RENDERING_MEDICALGROUP_NAME
,p.TEMPLATE_PROVIDER_GROUP_ID
,p.RENDERING_PROVIDER_GROUP_ID
,p.TEMPLATE_PROVIDER_SPECIALTY_ID
,p.RENDERING_PROVIDER_SPECIALTY_ID
,p.STATUS_TYPE
,p.PATIENT_STATUS_TYPE
,p.TEMPLATE_ENTITY_TYPE
,p.RENDERING_ENTITY_TYPE
,p.TEMPLATE_PROVIDER_CATEGORY_TYPE
,p.RENDERING_PROVIDER_CATEGORY_TYPE
,p.TEMPLATE_PROVIDERTYPE_NAME
,p.RENDERING_PROVIDERTYPE_NAME
,p.TEMPLATE_RESIDENT_STATUS_TYPE
,p.RENDERING_RESIDENT_STATUS_TYPE
,p.TEMPLATE_PROVIDER_SPECIALTY_TYPE
,p.RENDERING_PROVIDER_SPECIALTY_TYPE
,p.DEPARTMENT_ID
,p.DEPARTMENT_NAME
,p.DEPARTMENT_CITY_NAME
,p.DEPARTMENT_STATE_CODE
,p.DEPARTMENT_ZIP_CODE
,p.DEPARTMENT_ADDRESS
,p.DEPARTMENT_PLACE_OF_SERVICE_NAME
,p.PATIENT_ID
,p.PATIENT_ENTERPRISE_ID
,p.PATIENT_GENDER_TYPE
,p.PATIENT_AGE
,p.PATIENT_INSURANCE_CATEGORY_TYPE
,p.PATIENT_INSURANCE_GROUPING_TYPE
,p.BOOKED_APPOINTMENT_TYPE_ID
,p.TEMPLATE_APPOINTMENT_TYPE_ID
,p.BOOKED_APPOINTMENT_NAME
,p.TEMPLATE_APPOINTMENT_NAME
,p.BOOKED_APPOINTMENT_DURATION
,p.TEMPLATE_APPOINTMENT_DURATION
,p.PAR_NAME
,p.SCHEDULED_BY_USER_NAME
,p.SCHEDULED_BY_CATEGORY_TYPE
,p.CANCELLED_BY_USER_NAME
,p.CANCELLED_BY_CATEGORY_TYPE
,p.CANCELLED_TIMESTAMP
,p.CANCELLED_REASON_TYPE
,p.CANCELLED_REASON_LOCAL_NAME
,p.RESCHEDULED_BY_USER_NAME
,p.RESCHEDULED_BY_CATEGORY_TYPE
,p.RESCHEDULED_TIMESTAMP
,p.CHECKEDIN_BY_USER_NAME
,p.CHECKEDIN_BY_CATEGORY_TYPE
,p.APPOINTMENT_NOTE
,p.COMMUNICATOR_CREATED_BY
,p.COMMUNICATOR_NAVIGATION_TYPE
,p.CANCELLED_COUNT_INDICATOR
,p.RESCHEDULED_COUNT_INDICATOR
,p.NON_RESCHED_NO_SHOW_COUNT_INDICATOR
,p.FULL_NO_SHOW_COUNT_INDICATOR
,p.CHECKED_IN_COUNT_INDICATOR
,p.FILLED_COUNT_INDICATOR
,p.TOTAL_COUNT_INDICATOR
,p.UNDER_2_DAYS_INDICATOR
,p.UNDER_15_DAYS_INDICATOR
,p.BETWEEN_2_AND_7_DAYS_INDICATOR
,p.BETWEEN_8_AND_14_DAYS_INDICATOR
,p.BETWEEN_15_AND_30_DAYS_INDICATOR
,p.GREATER_OR_EQUAL_TO_31_DAYS_INDICATOR
,p.DAYS_DIFF_SCHED_TO_APT
,p.HOURS_DIFF_SCHED_TO_APT
,p.HOURS_DIFF_CANCEL_TO_APT
,p.HOURS_DIFF_RESCHED_TO_APT
,p.CLAIM_ID
,p.ATHENAONE_SUCCESSFUL_VISIT_INDICATOR
,p.INSURANCE_PACKAGE_ID
,p.TELEHEALTH_APPOINTMENT_INDICATOR
,p.DEPARTMENT_TIME_ZONE
,p.EST_OFFSET_HOURS
,p.TEST_PATIENT_INDICATOR
,p.ATHENAONE_APPOINTMENT_DURATION_SECS
,p.ATHENAONE_APPOINTMENT_INDICATOR
,p.ATHENAONE_DETAILED_CALL_STATUS_TYPE
,p.ATHENAONE_FUTURE_APPOINTMENT_INDICATOR
,p.ATHENAONE_SHORT_VISIT_TYPE
,p.ATHENAONE_TEST_USER_INDICATOR
,p.BOOKING_CHANNEL_TYPE
,p.MISSING_SLIP_INDICATOR
,p.CREATEDON
,ods.Record_Created_Date   
,getdate() as Record_Updated_Date  
from pp_athena_landing.SCHEDULING.APPOINTMENT p with(nolock)  
join   
#APPOINTMENT_deleterecords  ods with(nolock) on p.CONTEXTID= ods.CONTEXTID   
and p.APPOINTMENT_ID=ods.APPOINTMENT_ID  
  
select @updatedCount =@@ROWCOUNT  
  

insert into [SCHEDULING].[APPOINTMENT]  
(
CONTEXTID
,CREATEDBY
,LASTUPDATED
,LASTMODIFIEDBY
,APPOINTMENT_ID
,TEMPLATE_APPOINTMENT_ID
,RESCHEDULED_APPOINTMENT_ID
,APPOINTMENT_DATE
,APPOINTMENT_MONTH
,APPOINTMENT_DAY_WEEK
,APPOINTMENT_START_TIME
,SCHEDULED_TIMESTAMP
,SCHEDULED_MONTH
,SCHEDULED_DAY_WEEK
,SCHEDULED_TIME
,TEMPLATE_PROVIDER_ID
,TEMPLATE_PROVIDER_NAME
,RENDERING_PROVIDER_ID
,RENDERING_PROVIDER_NAME
,TEMPLATE_PROVIDER_NPI_ID
,RENDERING_PROVIDER_NPI_ID
,TEMPLATE_PROVIDERGROUP_NAME
,RENDERING_PROVIDERGROUP_NAME
,TEMPLATE_MEDICALGROUP_NAME
,RENDERING_MEDICALGROUP_NAME
,TEMPLATE_PROVIDER_GROUP_ID
,RENDERING_PROVIDER_GROUP_ID
,TEMPLATE_PROVIDER_SPECIALTY_ID
,RENDERING_PROVIDER_SPECIALTY_ID
,STATUS_TYPE
,PATIENT_STATUS_TYPE
,TEMPLATE_ENTITY_TYPE
,RENDERING_ENTITY_TYPE
,TEMPLATE_PROVIDER_CATEGORY_TYPE
,RENDERING_PROVIDER_CATEGORY_TYPE
,TEMPLATE_PROVIDERTYPE_NAME
,RENDERING_PROVIDERTYPE_NAME
,TEMPLATE_RESIDENT_STATUS_TYPE
,RENDERING_RESIDENT_STATUS_TYPE
,TEMPLATE_PROVIDER_SPECIALTY_TYPE
,RENDERING_PROVIDER_SPECIALTY_TYPE
,DEPARTMENT_ID
,DEPARTMENT_NAME
,DEPARTMENT_CITY_NAME
,DEPARTMENT_STATE_CODE
,DEPARTMENT_ZIP_CODE
,DEPARTMENT_ADDRESS
,DEPARTMENT_PLACE_OF_SERVICE_NAME
,PATIENT_ID
,PATIENT_ENTERPRISE_ID
,PATIENT_GENDER_TYPE
,PATIENT_AGE
,PATIENT_INSURANCE_CATEGORY_TYPE
,PATIENT_INSURANCE_GROUPING_TYPE
,BOOKED_APPOINTMENT_TYPE_ID
,TEMPLATE_APPOINTMENT_TYPE_ID
,BOOKED_APPOINTMENT_NAME
,TEMPLATE_APPOINTMENT_NAME
,BOOKED_APPOINTMENT_DURATION
,TEMPLATE_APPOINTMENT_DURATION
,PAR_NAME
,SCHEDULED_BY_USER_NAME
,SCHEDULED_BY_CATEGORY_TYPE
,CANCELLED_BY_USER_NAME
,CANCELLED_BY_CATEGORY_TYPE
,CANCELLED_TIMESTAMP
,CANCELLED_REASON_TYPE
,CANCELLED_REASON_LOCAL_NAME
,RESCHEDULED_BY_USER_NAME
,RESCHEDULED_BY_CATEGORY_TYPE
,RESCHEDULED_TIMESTAMP
,CHECKEDIN_BY_USER_NAME
,CHECKEDIN_BY_CATEGORY_TYPE
,APPOINTMENT_NOTE
,COMMUNICATOR_CREATED_BY
,COMMUNICATOR_NAVIGATION_TYPE
,CANCELLED_COUNT_INDICATOR
,RESCHEDULED_COUNT_INDICATOR
,NON_RESCHED_NO_SHOW_COUNT_INDICATOR
,FULL_NO_SHOW_COUNT_INDICATOR
,CHECKED_IN_COUNT_INDICATOR
,FILLED_COUNT_INDICATOR
,TOTAL_COUNT_INDICATOR
,UNDER_2_DAYS_INDICATOR
,UNDER_15_DAYS_INDICATOR
,BETWEEN_2_AND_7_DAYS_INDICATOR
,BETWEEN_8_AND_14_DAYS_INDICATOR
,BETWEEN_15_AND_30_DAYS_INDICATOR
,GREATER_OR_EQUAL_TO_31_DAYS_INDICATOR
,DAYS_DIFF_SCHED_TO_APT
,HOURS_DIFF_SCHED_TO_APT
,HOURS_DIFF_CANCEL_TO_APT
,HOURS_DIFF_RESCHED_TO_APT
,CLAIM_ID
,ATHENAONE_SUCCESSFUL_VISIT_INDICATOR
,INSURANCE_PACKAGE_ID
,TELEHEALTH_APPOINTMENT_INDICATOR
,DEPARTMENT_TIME_ZONE
,EST_OFFSET_HOURS
,TEST_PATIENT_INDICATOR
,ATHENAONE_APPOINTMENT_DURATION_SECS
,ATHENAONE_APPOINTMENT_INDICATOR
,ATHENAONE_DETAILED_CALL_STATUS_TYPE
,ATHENAONE_FUTURE_APPOINTMENT_INDICATOR
,ATHENAONE_SHORT_VISIT_TYPE
,ATHENAONE_TEST_USER_INDICATOR
,BOOKING_CHANNEL_TYPE
,MISSING_SLIP_INDICATOR
,CREATEDON
,Record_Created_Date
,Record_Updated_Date
)
  
 select 
 p.CONTEXTID
,p.CREATEDBY
,p.LASTUPDATED
,p.LASTMODIFIEDBY
,p.APPOINTMENT_ID
,p.TEMPLATE_APPOINTMENT_ID
,p.RESCHEDULED_APPOINTMENT_ID
,p.APPOINTMENT_DATE
,p.APPOINTMENT_MONTH
,p.APPOINTMENT_DAY_WEEK
,p.APPOINTMENT_START_TIME
,p.SCHEDULED_TIMESTAMP
,p.SCHEDULED_MONTH
,p.SCHEDULED_DAY_WEEK
,p.SCHEDULED_TIME
,p.TEMPLATE_PROVIDER_ID
,p.TEMPLATE_PROVIDER_NAME
,p.RENDERING_PROVIDER_ID
,p.RENDERING_PROVIDER_NAME
,p.TEMPLATE_PROVIDER_NPI_ID
,p.RENDERING_PROVIDER_NPI_ID
,p.TEMPLATE_PROVIDERGROUP_NAME
,p.RENDERING_PROVIDERGROUP_NAME
,p.TEMPLATE_MEDICALGROUP_NAME
,p.RENDERING_MEDICALGROUP_NAME
,p.TEMPLATE_PROVIDER_GROUP_ID
,p.RENDERING_PROVIDER_GROUP_ID
,p.TEMPLATE_PROVIDER_SPECIALTY_ID
,p.RENDERING_PROVIDER_SPECIALTY_ID
,p.STATUS_TYPE
,p.PATIENT_STATUS_TYPE
,p.TEMPLATE_ENTITY_TYPE
,p.RENDERING_ENTITY_TYPE
,p.TEMPLATE_PROVIDER_CATEGORY_TYPE
,p.RENDERING_PROVIDER_CATEGORY_TYPE
,p.TEMPLATE_PROVIDERTYPE_NAME
,p.RENDERING_PROVIDERTYPE_NAME
,p.TEMPLATE_RESIDENT_STATUS_TYPE
,p.RENDERING_RESIDENT_STATUS_TYPE
,p.TEMPLATE_PROVIDER_SPECIALTY_TYPE
,p.RENDERING_PROVIDER_SPECIALTY_TYPE
,p.DEPARTMENT_ID
,p.DEPARTMENT_NAME
,p.DEPARTMENT_CITY_NAME
,p.DEPARTMENT_STATE_CODE
,p.DEPARTMENT_ZIP_CODE
,p.DEPARTMENT_ADDRESS
,p.DEPARTMENT_PLACE_OF_SERVICE_NAME
,p.PATIENT_ID
,p.PATIENT_ENTERPRISE_ID
,p.PATIENT_GENDER_TYPE
,p.PATIENT_AGE
,p.PATIENT_INSURANCE_CATEGORY_TYPE
,p.PATIENT_INSURANCE_GROUPING_TYPE
,p.BOOKED_APPOINTMENT_TYPE_ID
,p.TEMPLATE_APPOINTMENT_TYPE_ID
,p.BOOKED_APPOINTMENT_NAME
,p.TEMPLATE_APPOINTMENT_NAME
,p.BOOKED_APPOINTMENT_DURATION
,p.TEMPLATE_APPOINTMENT_DURATION
,p.PAR_NAME
,p.SCHEDULED_BY_USER_NAME
,p.SCHEDULED_BY_CATEGORY_TYPE
,p.CANCELLED_BY_USER_NAME
,p.CANCELLED_BY_CATEGORY_TYPE
,p.CANCELLED_TIMESTAMP
,p.CANCELLED_REASON_TYPE
,p.CANCELLED_REASON_LOCAL_NAME
,p.RESCHEDULED_BY_USER_NAME
,p.RESCHEDULED_BY_CATEGORY_TYPE
,p.RESCHEDULED_TIMESTAMP
,p.CHECKEDIN_BY_USER_NAME
,p.CHECKEDIN_BY_CATEGORY_TYPE
,p.APPOINTMENT_NOTE
,p.COMMUNICATOR_CREATED_BY
,p.COMMUNICATOR_NAVIGATION_TYPE
,p.CANCELLED_COUNT_INDICATOR
,p.RESCHEDULED_COUNT_INDICATOR
,p.NON_RESCHED_NO_SHOW_COUNT_INDICATOR
,p.FULL_NO_SHOW_COUNT_INDICATOR
,p.CHECKED_IN_COUNT_INDICATOR
,p.FILLED_COUNT_INDICATOR
,p.TOTAL_COUNT_INDICATOR
,p.UNDER_2_DAYS_INDICATOR
,p.UNDER_15_DAYS_INDICATOR
,p.BETWEEN_2_AND_7_DAYS_INDICATOR
,p.BETWEEN_8_AND_14_DAYS_INDICATOR
,p.BETWEEN_15_AND_30_DAYS_INDICATOR
,p.GREATER_OR_EQUAL_TO_31_DAYS_INDICATOR
,p.DAYS_DIFF_SCHED_TO_APT
,p.HOURS_DIFF_SCHED_TO_APT
,p.HOURS_DIFF_CANCEL_TO_APT
,p.HOURS_DIFF_RESCHED_TO_APT
,p.CLAIM_ID
,p.ATHENAONE_SUCCESSFUL_VISIT_INDICATOR
,p.INSURANCE_PACKAGE_ID
,p.TELEHEALTH_APPOINTMENT_INDICATOR
,p.DEPARTMENT_TIME_ZONE
,p.EST_OFFSET_HOURS
,p.TEST_PATIENT_INDICATOR
,p.ATHENAONE_APPOINTMENT_DURATION_SECS
,p.ATHENAONE_APPOINTMENT_INDICATOR
,p.ATHENAONE_DETAILED_CALL_STATUS_TYPE
,p.ATHENAONE_FUTURE_APPOINTMENT_INDICATOR
,p.ATHENAONE_SHORT_VISIT_TYPE
,p.ATHENAONE_TEST_USER_INDICATOR
,p.BOOKING_CHANNEL_TYPE
,p.MISSING_SLIP_INDICATOR
,p.CREATEDON
,getdate() as Record_Created_Date   
,getdate() as Record_Updated_Date  
from pp_athena_landing.SCHEDULING.APPOINTMENT p with(nolock)  
left join   
SCHEDULING.APPOINTMENT  ods with(nolock) on p.CONTEXTID= ods.CONTEXTID   
and p.APPOINTMENT_ID=ods.APPOINTMENT_ID  
where ods.APPOINTMENT_ID is null   
  
select @insertedcount= @@ROWCOUNT  
  
select @Targetcount as Targetcount, @updatedCount as updatedCount  
,@insertedcount as insertedcount , @updatedCount+@insertedcount as SourceCount   
  
insert into Audit_Log_Table  
(  
Package_Name  
,Package_Id  
,Execution_Start_Time  
,Execution_User  
,Execution_End_Time  
,Source_Table  
,Target_Table  
,Source_Count  
,Target_Count  
,Insert_Count  
,Update_Count  
)  
  
select   
 'SCHEDULING.APPOINTMENT' as Package_Name  
,'SP_SCHEDULING_APPOINTMENT_LandingtoODS' as Package_Id  
,getdate() as Execution_Start_Time  
,'LEWISCO\kavithac' as Execution_User  
,getdate() as Execution_End_Time  
,'APPOINTMENT' as Source_Table  
,'APPOINTMENT' as Target_Table  
,@updatedCount+@insertedcount as Source_Count  
,@Targetcount as Target_Count  
,@insertedcount as Insert_Count  
,@updatedCount as Update_Count  
  
update s set IsLoadedToLanding=0  
--select *   
from pp_athena_landing..SSISConfig s   
where SourceTable='APPOINTMENT'   
and Schema_Name='SCHEDULING'  
and IsLoadedToLanding=1  
  
  
end  
end  
  
  
GO
