USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ERABATCH_LandingtoODS]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE procedure [dbo].[SP_ERABATCH_LandingtoODS]  
as   
begin   
  
if exists(select 1 from pp_athena_landing..SSISConfig   
where SourceTable='ERABATCH'  
and IsActive=1 and IsLoadedToLanding=1  
)   
begin   
  
Declare @Targetcount int ,@insertedcount int ,@updatedCount int ,@sourcecount int   
  
select @Targetcount = count(1) from ATHENAONE.ERABATCH  ods with(nolock)   
  
insert into [ERABATCH_DeletedHistory]  
(CONTEXTID,CONTEXTNAME,CONTEXTPARENTCONTEXTID,ASSIGNEDTO,STATUS,CREATEDDATETIME,CREATEDBY,DELETEDBY,DELETEDDATETIME,LASTUPDATED,ERABATCHID,TOTALADJUSTMENTS,TOTALTRANSFERS,BANKSTATEMENTACCOUNTID,BANKROUTINGNUMBER,TOTALCOPAYS,SUBTOTALCHARGES,  
AUTOPAYMENTBATCHDATETIME,SUBTOTALTRANSFERS,ANSIVERSIONID,PAYORNAME,PAYORWEBSITE,PAYEEDELIVERYBYEMAIL,RECEIVERNUMBER,PAYEETAXIDNUMBER,PAYORTECHCONTACTNAME,PAYEEZIP,DUALPOSTCLONECONTEXTID,PAYORBATCHNUMBER,SUBTOTALADJUSTMENTS,BYTELENGTH,PAYORTECHFAX,  
PAYMENTBATCHROUTEID,ASSIGNEDDATETIME,RPOERAFILEID,NOTES,ESCALATIONLEVEL,PAYEEDELIVERYBYFTP,PAYEEADDRESS,PAYORIDNUMBER,EMCRECEIVERID,PAYDATEDATETIME,PAYEEDELIVERYBYMAILNAME,PAYEEDELIVERYBYONLINE,SOURCETRAILERDATA,POSTEDBY,SHAREDTINYN,PAYORCOUNTRYCODE  
,PAYEECOUNTRYCODE,TOTALPAYMENTS,IMAGEFILENAME,KICKREASONCATEGORYID,PAYORTECHURL,PAYORTECHEXTN,TOTALCHARGES,SOURCEHEADERDATA,AEGISKICKREASONCATEGORYID,PAYORTECHEMAIL,POSTEDDATETIME,AEGISINSREPORTINGCATEGORYID,PAYEESTATE,PAYEECITY,LOCALIDNUMBER,  
UNIQUESTRING,PAYORTECHPHONE,BANKACCOUNTNUMBER,PROVIDERNUMBER,TARGETPAYMENTBATCHID,PAYMENTMETHOD,CHECKNUMBER,BYTEOFFSET,SUBTOTALPAYMENTS,ADDITIONALPAYEEIDNUMBER,FEDERALIDNUMBER,DUALPOSTCLONEERABATCHID,  
LASTMODIFIEDDATETIME,LASTMODIFIEDBY,Record_Created_Date,Record_Updated_Date  
,History_Created_Date)  
  
select ods.CONTEXTID,ods.CONTEXTNAME,ods.CONTEXTPARENTCONTEXTID,ods.ASSIGNEDTO,ods.STATUS,ods.CREATEDDATETIME,ods.CREATEDBY,ods.DELETEDBY,ods.DELETEDDATETIME,ods.LASTUPDATED,ods.ERABATCHID,ods.TOTALADJUSTMENTS,  
ods.TOTALTRANSFERS,ods.BANKSTATEMENTACCOUNTID,ods.BANKROUTINGNUMBER,ods.TOTALCOPAYS,ods.SUBTOTALCHARGES,ods.AUTOPAYMENTBATCHDATETIME,ods.SUBTOTALTRANSFERS,ods.ANSIVERSIONID,ods.PAYORNAME,ods.PAYORWEBSITE,ods.PAYEEDELIVERYBYEMAIL  
,ods.RECEIVERNUMBER,ods.PAYEETAXIDNUMBER,ods.PAYORTECHCONTACTNAME,ods.PAYEEZIP,ods.DUALPOSTCLONECONTEXTID,ods.PAYORBATCHNUMBER,ods.SUBTOTALADJUSTMENTS,ods.BYTELENGTH,ods.PAYORTECHFAX,ods.PAYMENTBATCHROUTEID,ods.ASSIGNEDDATETIME,ods.RPOERAFILEID,  
ods.NOTES,ods.ESCALATIONLEVEL,ods.PAYEEDELIVERYBYFTP,ods.PAYEEADDRESS,ods.PAYORIDNUMBER,ods.EMCRECEIVERID,ods.PAYDATEDATETIME,ods.PAYEEDELIVERYBYMAILNAME,ods.PAYEEDELIVERYBYONLINE,ods.SOURCETRAILERDATA,ods.POSTEDBY,ods.SHAREDTINYN,ods.PAYORCOUNTRYCODE,  
ods.PAYEECOUNTRYCODE,ods.TOTALPAYMENTS,ods.IMAGEFILENAME,ods.KICKREASONCATEGORYID,ods.PAYORTECHURL,ods.PAYORTECHEXTN,ods.TOTALCHARGES,ods.SOURCEHEADERDATA,ods.AEGISKICKREASONCATEGORYID,ods.PAYORTECHEMAIL,ods.POSTEDDATETIME,ods.AEGISINSREPORTINGCATEGORYID 
 
,ods.PAYEESTATE,ods.PAYEECITY,ods.LOCALIDNUMBER,ods.UNIQUESTRING,ods.PAYORTECHPHONE,ods.BANKACCOUNTNUMBER,ods.PROVIDERNUMBER,ods.TARGETPAYMENTBATCHID,ods.PAYMENTMETHOD,ods.CHECKNUMBER,ods.BYTEOFFSET,ods.SUBTOTALPAYMENTS  
,ods.ADDITIONALPAYEEIDNUMBER,ods.FEDERALIDNUMBER,ods.DUALPOSTCLONEERABATCHID  
,ods.LASTMODIFIEDDATETIME,ods.LASTMODIFIEDBY, ods.Record_Created_Date   
, ods.Record_Updated_Date ,getdate() as History_Created_Date  
from pp_athena_landing.ATHENAONE.ERABATCH lan with(nolock)  
join   
ATHENAONE.ERABATCH  ods with(nolock) on lan.CONTEXTID= ods.CONTEXTID   
and lan.ERABATCHID=ods.ERABATCHID  
  
drop table if exists #ERABATCH_deleterecords  
  
select lan.CONTEXTID,lan.ERABATCHID,ods.Record_Created_Date   
into #ERABATCH_deleterecords  
from pp_athena_landing.ATHENAONE.ERABATCH lan with(nolock)  
join   
ATHENAONE.ERABATCH  ods with(nolock) on lan.CONTEXTID= ods.CONTEXTID   
and lan.ERABATCHID=ods.ERABATCHID  
  
delete from ods  
--select ods.*  
from pp_athena_landing.ATHENAONE.ERABATCH lan with(nolock)  
join   
ATHENAONE.ERABATCH  ods with(nolock) on lan.CONTEXTID= ods.CONTEXTID   
and lan.ERABATCHID=ods.ERABATCHID  
  
insert into ATHENAONE.ERABATCH  
(CONTEXTID,CONTEXTNAME,CONTEXTPARENTCONTEXTID,ASSIGNEDTO,STATUS,CREATEDDATETIME,CREATEDBY,DELETEDBY,DELETEDDATETIME,LASTUPDATED,ERABATCHID,TOTALADJUSTMENTS,TOTALTRANSFERS,BANKSTATEMENTACCOUNTID,  
BANKROUTINGNUMBER,TOTALCOPAYS,SUBTOTALCHARGES,AUTOPAYMENTBATCHDATETIME,SUBTOTALTRANSFERS,ANSIVERSIONID,PAYORNAME,PAYORWEBSITE,PAYEEDELIVERYBYEMAIL,RECEIVERNUMBER,PAYEETAXIDNUMBER,PAYORTECHCONTACTNAME,PAYEEZIP,DUALPOSTCLONECONTEXTID,  
PAYORBATCHNUMBER,SUBTOTALADJUSTMENTS,BYTELENGTH,PAYORTECHFAX,PAYMENTBATCHROUTEID,ASSIGNEDDATETIME,RPOERAFILEID,NOTES,ESCALATIONLEVEL,PAYEEDELIVERYBYFTP,PAYEEADDRESS,PAYORIDNUMBER,EMCRECEIVERID,PAYDATEDATETIME,PAYEEDELIVERYBYMAILNAME,PAYEEDELIVERYBYONLINE,
  
SOURCETRAILERDATA,POSTEDBY,SHAREDTINYN,PAYORCOUNTRYCODE,PAYEECOUNTRYCODE,TOTALPAYMENTS,IMAGEFILENAME,KICKREASONCATEGORYID,PAYORTECHURL,PAYORTECHEXTN,TOTALCHARGES,SOURCEHEADERDATA,AEGISKICKREASONCATEGORYID,PAYORTECHEMAIL,POSTEDDATETIME,
AEGISINSREPORTINGCATEGORYID,  
PAYEESTATE,PAYEECITY,LOCALIDNUMBER,UNIQUESTRING,PAYORTECHPHONE,BANKACCOUNTNUMBER,PROVIDERNUMBER,TARGETPAYMENTBATCHID,PAYMENTMETHOD,CHECKNUMBER,BYTEOFFSET,SUBTOTALPAYMENTS,  
ADDITIONALPAYEEIDNUMBER,FEDERALIDNUMBER,DUALPOSTCLONEERABATCHID,  
LASTMODIFIEDDATETIME,LASTMODIFIEDBY,Record_Created_Date,Record_Updated_Date)  
  
select lan.CONTEXTID,lan.CONTEXTNAME,lan.CONTEXTPARENTCONTEXTID,lan.ASSIGNEDTO,lan.STATUS,lan.CREATEDDATETIME,lan.CREATEDBY,lan.DELETEDBY,lan.DELETEDDATETIME,lan.LASTUPDATED,lan.ERABATCHID,lan.TOTALADJUSTMENTS,lan.TOTALTRANSFERS,lan.BANKSTATEMENTACCOUNTID
  
,lan.BANKROUTINGNUMBER,lan.TOTALCOPAYS,lan.SUBTOTALCHARGES,lan.AUTOPAYMENTBATCHDATETIME,lan.SUBTOTALTRANSFERS,lan.ANSIVERSIONID,lan.PAYORNAME,lan.PAYORWEBSITE,lan.PAYEEDELIVERYBYEMAIL,  
lan.RECEIVERNUMBER,lan.PAYEETAXIDNUMBER,lan.PAYORTECHCONTACTNAME,lan.PAYEEZIP,lan.DUALPOSTCLONECONTEXTID,lan.PAYORBATCHNUMBER,lan.SUBTOTALADJUSTMENTS,lan.BYTELENGTH,lan.PAYORTECHFAX,lan.PAYMENTBATCHROUTEID,lan.ASSIGNEDDATETIME,lan.RPOERAFILEID,  
lan.NOTES,lan.ESCALATIONLEVEL,lan.PAYEEDELIVERYBYFTP,lan.PAYEEADDRESS,lan.PAYORIDNUMBER,lan.EMCRECEIVERID,lan.PAYDATEDATETIME,lan.PAYEEDELIVERYBYMAILNAME,lan.PAYEEDELIVERYBYONLINE,lan.SOURCETRAILERDATA,lan.POSTEDBY,lan.SHAREDTINYN,lan.PAYORCOUNTRYCODE  
,lan.PAYEECOUNTRYCODE,lan.TOTALPAYMENTS,lan.IMAGEFILENAME,lan.KICKREASONCATEGORYID,lan.PAYORTECHURL,lan.PAYORTECHEXTN,lan.TOTALCHARGES,lan.SOURCEHEADERDATA,lan.AEGISKICKREASONCATEGORYID,lan.PAYORTECHEMAIL,lan.POSTEDDATETIME,lan.AEGISINSREPORTINGCATEGORYID
,  
lan.PAYEESTATE,lan.PAYEECITY,lan.LOCALIDNUMBER,lan.UNIQUESTRING,lan.PAYORTECHPHONE,lan.BANKACCOUNTNUMBER,lan.PROVIDERNUMBER,lan.TARGETPAYMENTBATCHID,lan.PAYMENTMETHOD,lan.CHECKNUMBER,lan.BYTEOFFSET,lan.SUBTOTALPAYMENTS  
,lan.ADDITIONALPAYEEIDNUMBER,lan.FEDERALIDNUMBER,lan.DUALPOSTCLONEERABATCHID  
,lan.LASTMODIFIEDDATETIME,lan.LASTMODIFIEDBY,ods.Record_Created_Date   
,getdate() as Record_Updated_Date  
from pp_athena_landing.ATHENAONE.ERABATCH lan with(nolock)  
join   
#ERABATCH_deleterecords  ods with(nolock) on lan.CONTEXTID= ods.CONTEXTID   
and lan.ERABATCHID=ods.ERABATCHID  
  
select @updatedCount =@@ROWCOUNT  
  
insert into ATHENAONE.ERABATCH  
(CONTEXTID,CONTEXTNAME,CONTEXTPARENTCONTEXTID,ASSIGNEDTO,STATUS,CREATEDDATETIME,CREATEDBY,DELETEDBY,DELETEDDATETIME,LASTUPDATED,ERABATCHID,TOTALADJUSTMENTS,TOTALTRANSFERS,  
BANKSTATEMENTACCOUNTID,BANKROUTINGNUMBER,TOTALCOPAYS,SUBTOTALCHARGES,AUTOPAYMENTBATCHDATETIME,SUBTOTALTRANSFERS,ANSIVERSIONID,PAYORNAME,PAYORWEBSITE,PAYEEDELIVERYBYEMAIL,RECEIVERNUMBER,PAYEETAXIDNUMBER,PAYORTECHCONTACTNAME,PAYEEZIP,DUALPOSTCLONECONTEXTID,
  
PAYORBATCHNUMBER,SUBTOTALADJUSTMENTS,BYTELENGTH,PAYORTECHFAX,PAYMENTBATCHROUTEID,ASSIGNEDDATETIME,RPOERAFILEID,NOTES,ESCALATIONLEVEL,PAYEEDELIVERYBYFTP,PAYEEADDRESS,PAYORIDNUMBER,EMCRECEIVERID,PAYDATEDATETIME,PAYEEDELIVERYBYMAILNAME,PAYEEDELIVERYBYONLINE 
 
,SOURCETRAILERDATA,POSTEDBY,SHAREDTINYN,PAYORCOUNTRYCODE,PAYEECOUNTRYCODE,TOTALPAYMENTS,IMAGEFILENAME,KICKREASONCATEGORYID,PAYORTECHURL,PAYORTECHEXTN,TOTALCHARGES,SOURCEHEADERDATA,AEGISKICKREASONCATEGORYID,PAYORTECHEMAIL,POSTEDDATETIME,
AEGISINSREPORTINGCATEGORYID  
,PAYEESTATE,PAYEECITY,LOCALIDNUMBER,UNIQUESTRING,PAYORTECHPHONE,BANKACCOUNTNUMBER,PROVIDERNUMBER,TARGETPAYMENTBATCHID,PAYMENTMETHOD,CHECKNUMBER,BYTEOFFSET  
,SUBTOTALPAYMENTS,ADDITIONALPAYEEIDNUMBER,FEDERALIDNUMBER,DUALPOSTCLONEERABATCHID,  
LASTMODIFIEDDATETIME,LASTMODIFIEDBY,Record_Created_Date,Record_Updated_Date)  
  
select lan.CONTEXTID,lan.CONTEXTNAME,lan.CONTEXTPARENTCONTEXTID,lan.ASSIGNEDTO,lan.STATUS,lan.CREATEDDATETIME,lan.CREATEDBY,lan.DELETEDBY,lan.DELETEDDATETIME,lan.LASTUPDATED,lan.ERABATCHID,lan.TOTALADJUSTMENTS,lan.TOTALTRANSFERS,lan.BANKSTATEMENTACCOUNTID
  
,lan.BANKROUTINGNUMBER,lan.TOTALCOPAYS,lan.SUBTOTALCHARGES,lan.AUTOPAYMENTBATCHDATETIME,lan.SUBTOTALTRANSFERS,lan.ANSIVERSIONID,lan.PAYORNAME,lan.PAYORWEBSITE,lan.PAYEEDELIVERYBYEMAIL,  
lan.RECEIVERNUMBER,lan.PAYEETAXIDNUMBER,lan.PAYORTECHCONTACTNAME,lan.PAYEEZIP,lan.DUALPOSTCLONECONTEXTID,lan.PAYORBATCHNUMBER,lan.SUBTOTALADJUSTMENTS,lan.BYTELENGTH,lan.PAYORTECHFAX,lan.PAYMENTBATCHROUTEID,lan.ASSIGNEDDATETIME,lan.RPOERAFILEID,  
lan.NOTES,lan.ESCALATIONLEVEL,lan.PAYEEDELIVERYBYFTP,lan.PAYEEADDRESS,lan.PAYORIDNUMBER,lan.EMCRECEIVERID,lan.PAYDATEDATETIME,lan.PAYEEDELIVERYBYMAILNAME,lan.PAYEEDELIVERYBYONLINE,lan.SOURCETRAILERDATA,lan.POSTEDBY,lan.SHAREDTINYN,lan.PAYORCOUNTRYCODE,  
lan.PAYEECOUNTRYCODE,lan.TOTALPAYMENTS,lan.IMAGEFILENAME,lan.KICKREASONCATEGORYID,lan.PAYORTECHURL,lan.PAYORTECHEXTN,lan.TOTALCHARGES,lan.SOURCEHEADERDATA,lan.AEGISKICKREASONCATEGORYID,lan.PAYORTECHEMAIL,lan.POSTEDDATETIME,lan.AEGISINSREPORTINGCATEGORYID 
 
,lan.PAYEESTATE,lan.PAYEECITY,lan.LOCALIDNUMBER,lan.UNIQUESTRING,lan.PAYORTECHPHONE,lan.BANKACCOUNTNUMBER,lan.PROVIDERNUMBER,lan.TARGETPAYMENTBATCHID,lan.PAYMENTMETHOD,lan.CHECKNUMBER,lan.BYTEOFFSET,lan.SUBTOTALPAYMENTS  
,lan.ADDITIONALPAYEEIDNUMBER,lan.FEDERALIDNUMBER,lan.DUALPOSTCLONEERABATCHID  
,lan.LASTMODIFIEDDATETIME,lan.LASTMODIFIEDBY,getdate() as Record_Created_Date   
,getdate() as Record_Updated_Date  
from pp_athena_landing.ATHENAONE.ERABATCH lan with(nolock)  
left join   
ATHENAONE.ERABATCH  ods with(nolock) on lan.CONTEXTID= ods.CONTEXTID   
and lan.ERABATCHID=ods.ERABATCHID  
where ods.ERABATCHID is null   
  
select @insertedcount= @@ROWCOUNT  
  
select @Targetcount as Targetcount, @updatedCount as updatedCount  
,@insertedcount as insertedcount , @updatedCount+@insertedcount as SourceCount   
  
insert into Audit_Log_Table  
(  
Package_Name  
,Package_Id  
,Execution_Start_Time  
,Execution_User  
,Execution_End_Time  
,Source_Table  
,Target_Table  
,Source_Count  
,Target_Count  
,Insert_Count  
,Update_Count  
)  
  
select   
 'ERABATCH' as Package_Name  
,'SP_ERABATCH_LandingtoODS' as Package_Id  
,getdate() as Execution_Start_Time  
,'LEWISCO\kavithac' as Execution_User  
,getdate() as Execution_End_Time  
,'ERABATCH' as Source_Table  
,'ERABATCH' as Target_Table  
,@updatedCount+@insertedcount as Source_Count  
,@Targetcount as Target_Count  
,@insertedcount as Insert_Count  
,@updatedCount as Update_Count  
  
update s set IsLoadedToLanding=0  
--select *   
from pp_athena_landing..SSISConfig s   
where SourceTable='ERABATCH'   
and Schema_Name='ATHENAONE'  


  
  
end  
end  
  
  
GO
