USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PatientLDLReport]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientLDLReport](
	[MRN Number] [varchar](200) NULL,
	[Age on 1/1/2023] [int] NULL,
	[Assigned Sex at Birth] [varchar](7) NOT NULL,
	[Race] [varchar](500) NULL,
	[Ethnicity] [varchar](500) NULL,
	[Federal Poverty Level (FPL)] [numeric](12, 2) NULL,
	[Medicaid Enrollment] [varchar](1) NOT NULL,
	[Clinical Program] [varchar](1) NOT NULL,
	[Compliance Package] [varchar](1) NOT NULL,
	[Initial BMI] [varchar](max) NULL,
	[Tobacco Smoking Status] [varchar](max) NULL,
	[Diabetes] [varchar](1) NOT NULL,
	[Hypertension] [varchar](1) NOT NULL,
	[Date of First Statin Fill] [varchar](10) NULL,
	[Date of Last Statin Fill] [varchar](10) NULL,
	[Day Supply of Last Statin Fill RX] [int] NULL,
	[High Intensity Statin] [varchar](1) NULL,
	[High Intensity Day Supply] [int] NULL,
	[Moderate Intensity Statin] [varchar](1) NULL,
	[Moderate Intensity Day Supply] [int] NULL,
	[Low Intensity Statin] [varchar](1) NULL,
	[Low Intensity Day Supply] [int] NULL,
	[Percent Days Covered] [decimal](18, 2) NULL,
	[First LDL] [varchar](max) NULL,
	[First LDL Date] [varchar](10) NULL,
	[Last LDL] [varchar](max) NULL,
	[Last LDL Date] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
