USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[TotalNDCAcqCrosswalk]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TotalNDCAcqCrosswalk](
	[DrugName] [varchar](255) NULL,
	[Strength] [varchar](255) NULL,
	[Inventory] [varchar](255) NULL,
	[NDC] [varchar](255) NULL,
	[PckSize] [varchar](255) NULL,
	[ACQ] [varchar](255) NULL,
	[Is340B] [varchar](255) NULL
) ON [PRIMARY]
GO
