USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[LibertyPatient]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibertyPatient](
	[GlobalId] [numeric](18, 0) NULL,
	[ScriptNumber] [int] NULL,
	[LibertyMonth] [int] NULL,
	[Libertyyear] [int] NULL,
	[Total] [decimal](9, 2) NULL,
	[Copay] [decimal](9, 2) NULL,
	[RequestedACQ] [decimal](9, 2) NULL,
	[DateDispensedSQL] [date] NULL
) ON [PRIMARY]
GO
