USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[HHS_Lab_FileExtract]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE Procedure [dbo].[HHS_Lab_FileExtract]  
AS  
/*****************************************************************************************************************************************************  
Object  :     HHS_Lab_FileExtract  
Created By :     MBR  
Created on :     15/12/2021  
Description :   Kentucky Patient Covid Results  
  
History:          MM/DD/YYYY  Modified User   Request Content  
                  15/12/2021  MBR             Initial creation  
*******************************************************************************************************************************************************/  
    
Begin  
       IF OBJECT_ID('tempdb..#athenaPatientdetails') IS NOT NULL  
       DROP TABLE #athenaPatientdetails  
       IF OBJECT_ID('tempdb..#AthenaObservationResult') IS NOT NULL  
       DROP TABLE #AthenaObservationResult  
       IF OBJECT_ID('tempdb..#AthenaFacilityDetails') IS NOT NULL  
       DROP TABLE #AthenaFacilityDetails  
       IF OBJECT_ID('tempdb..#CovidResults') IS NOT NULL  
       DROP TABLE #CovidResults  
       IF OBJECT_ID(N'dbo.CovidResults', N'U') IS NOT NULL   
       Drop table PP_Athena_ODS..CovidResults  
  
/* To retrieve Patient and provider details who belongs to State 'KY'*/  
select   
P.PATIENTID,  
'' as SSN,P.LASTNAME,  
P.FIRSTNAME,  
'' as PATIENT_MiddleInitial,  
P.DOB,  
P.SEX,  
P.CDCRACECODE as Race_Code,  
P.RACE,  
P.CDCETHNICITYCODE,  
P.ETHNICITY,  
case when LEN((Replace(Replace(Replace(P.PATIENTHOMEPHONE,'(',''),')',''),'-','')))=11  
then Replace(Replace(Replace(P.PATIENTHOMEPHONE,'(',''),')',''),'-','')  
when SUBSTRING(Replace(Replace(Replace(P.PATIENTHOMEPHONE,'(',''),')',''),'-',''),8,1)=' '   
Then STUFF(Replace(Replace(Replace(P.PATIENTHOMEPHONE,'(',''),')',''),'-',''),8,1,'')  
when SUBSTRING(Replace(Replace(Replace(P.PATIENTHOMEPHONE,'(',''),')',''),'-',''),4,1)<>' '   
Then STUFF(Replace(Replace(Replace(P.PATIENTHOMEPHONE,'(',''),')',''),'-',''),4,1,' ')  
else Left(Replace(Replace(Replace(P.PATIENTHOMEPHONE,'(',''),')',''),'-',''),11)  
END  
as PATIENTHOMEPHONE,  
P.EMAIL,  
P.ADDRESS as PatientAddress,  
P.ADDRESS2 as PatientAddress2,  
P.CITY as PatientCity,  
P.STATE as PatientState,  
Left(P.ZIP,5) as PatientZIP,  
CP.CLINICALPROVIDERID,  
PRO.PROVIDERFIRSTNAME,  
PRO.PROVIDERLASTNAME,  
CP.ADDRESS1 as ProviderAddress1,  
CP.ADDRESS2 as ProviderAddress2,  
CP.CITY as ProviderCity,  
CP.STATE as ProviderState,  
Left(CP.ZIP,5) as ProviderZIP,  
CP.PHONE,  
PRO.PROVIDERNPINUMBER,  
PRO.PROVIDERID  
--CE.PROVIDERID as CEProviderID,  
--CE.CLINICALENCOUNTERID  
Into #AthenaPatientDetails  
FROM ATHENAONE.Patient as P  (nolock)  
--Left join ATHENAONE.ClinicalEncounter as CE   
--on P.PATIENTID=CE.PATIENTID and  
--P.CONTEXTID=CE.CONTEXTID  
Left JOIN ATHENAONE.PROVIDER AS PRO (nolock)  
ON cast(convert(varchar(50),P.PRIMARYPROVIDERID) as bigint) =cast(PRO.PROVIDERID as bigint) and   
   P.CONTEXTID=PRO.CONTEXTID  
full outer join ATHENAONE.CLINICALPROVIDER as CP (nolock)  
on PRO.PROVIDERID=CP.PROVIDERID and   
   P.CONTEXTID=CP.CONTEXTID  
--Left JOIN ATHENAONE.PROVIDER AS PRO   
--ON cast(convert(varchar(50),PRO.PROVIDERID) as bigint) =cast(CP.PROVIDERID as bigint) and   
--   PRO.CONTEXTID=CP.CONTEXTID  
   where P.STATE like '%KY%'   
  
  
/*To get the result of the patient who has either +ve or -ve in COVID/Influenza  
Tables taken -  
Document  
ClinicalResult  
CLinicalResultObservation  
Loinc*/  
  
Begin  
with cte as(  
select D.CLINICALPROVIDERORDERTYPE,  
'' AS TestName,  
D.CLINICALORDERGENUS as TestType,  
D.SPECIMENCOLLECTEDDATETIME,  
D.SPECIMENSOURCE as SpecimenSourceDoc,  
D.DOCUMENTID,D.CHARTID,  
D.CLINICALENCOUNTERID,  
D.CLINICALPROVIDERID,  
CE.PROVIDERID,  
CR.CLINICALORDERTYPE,  
D.ORDERDOCUMENTID,  
PRO.PROVIDERFIRSTNAME,  
PRO.PROVIDERLASTNAME,  
PRO.PROVIDERNPINUMBER,  
--CR.OBSERVATIONDATETIME,  
FORMAT(CR.OBSERVATIONDATETIME,N'yyyyMMdd') as OBSERVATIONDATETIME,  
CR.SPECIMENSOURCE,  
CR.SPECIMENRECEIVEDDATETIME,  
CRO.RESULT,D.PATIENTID,  
CR.CLINICALRESULTID,CR.RESULTDOCUMENTID,  
CRO.CLINICALRESULTID as ClinicalresultidCRO,  
L.LOINCCODE,  
L.LONGCOMMONNAME,  
ROW_NUMBER() Over(PARTITION by D.PatientID,CRO.Result order by CR.OBSERVATIONDATETIME desc )as Rn  
from ATHENAONE.DOCUMENT as D (nolock)  
 join ATHENAONE.CLINICALRESULT As CR (nolock)  
on D.DOCUMENTID=CR.RESULTDOCUMENTID and  
   D.CONTEXTID=CR.CONTEXTID  
 Join ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
on CR.CLINICALRESULTID=CRO.CLINICALRESULTID and  
   CR.CONTEXTID=CRO.CONTEXTID  
Left Join ATHENAONE.LOINC as L (nolock)  
on CRO.LOINCID=L.LOINCID and  
   CRO.CONTEXTID=L.CONTEXTID  
Left join ATHENAONE.ClinicalENcounter as CE (nolock)  
On D.CLINICALENCOUNTERID=CE.CLINICALENCOUNTERID and  
D.PATIENTID=CE.PATIENTID  
INNER JOIN PP_ATHENA_ODS.ATHENAONE.PROVIDER as PRO (nolock)  
On PRO.PROVIDERID=CE.PROVIDERID and  
PRO.CONTEXTID=CE.CONTEXTID  
where (--CRO.RESULT Like '%Negative%' OR  
    CRO.RESULT like '%Positive%') AND   
   (CR.OBSERVATIONDATETIME IS NOT Null OR  
   D.SPECIMENCOLLECTEDDATETIME IS NOT NULL) AND  
   (D.CLINICALPROVIDERORDERTYPE like '%Sars%' OR  
   D.CLINICALPROVIDERORDERTYPE like '%COV%' OR  
   D.CLINICALORDERGENUS like '%COV%' OR  
   CR.CLINICALORDERTYPE like '%sars%' OR  
   CR.CLINICALORDERTYPE like '%COV%') AND  
   CR.CLINICALORDERTYPE<>'Unknown' AND  
   --year(CR.OBSERVATIONDATETIME) =2023 and month(CR.OBSERVATIONDATETIME)=10 and day(CR.OBSERVATIONDATETIME)=28)  
   CR.OBSERVATIONDATETIME > dateadd(Day, -2, cast(getdate() as date)))  
  
select * Into #AthenaObservationResult from cte  
   where Rn=1   
End  
  
/*Update Loincode Null values into default LOINC code - 95209-3*/  
  
   Update #AthenaObservationResult  
   Set LOINCCODE='95209-3'  
   where LOINCCODE is NUll  
  
  
/*To get the department details where each department has been hardcoded with default NPI number  
Tables taken-  
Department  
Document*/    
     
select   
Case  
when Dep.DEPARTMENTCITY like '%Vanceburg%' Then '1457303802'  
when Dep.DEPARTMENTCITY like '%Tollesboro%' Then '1205951084'  
when Dep.DEPARTMENTCITY like '%Flemingsburg%' Then '1184719277'  
when Dep.DEPARTMENTCITY like '%Augusta%' Then '1184933632'  
when Dep.DEPARTMENTCITY like '%Ashland%' Then '1902206857'  
when Dep.DEPARTMENTCITY like '%Grayson%' Then '1285254458'  
when Dep.DEPARTMENTCITY like '%South Shore%' Then '1891083036'  
when Dep.DEPARTMENTCITY like '%Mount Olivet%' Then '1790420214'  
--when Dep.DEPARTMENTCITY like '%Denham%' Then '1306431614'  
when Dep.DEPARTMENTCITY like '%Ripley%' Then '1992330997'  
When DEP.DEPARTMENTCITY like '%Maysville%' Then  
Case when DEP.DEPARTMENTNAME like '%Pediatrics%' Then '1467072330'  
     when DEP.DEPARTMENTNAME like '%DMC%' Then '1306431614'  
Else '1538284401'  
End  
Else ''  
End AS NPI,  
DEP.DEPARTMENTNAME as Performing_Facility_Name,  
DEP.DEPARTMENTADDRESS As Performing_Facility_Address1,  
DEP.DEPARTMENTADDRESS2 as Performing_Facility_Address2,  
DEP.DEPARTMENTCITY as Performing_Facility_City,  
DEP.DEPARTMENTSTATE as Performing_Facility_State,  
Left(DEP.DEPARTMENTZIP,5) as Performing_Facility_Zip,  
DEP.DEPARTMENTPHONE as Performing_Facility_TelephoneNumber,  
DEP.DEPARTMENTNAME as Ordering_Facility_Name,  
DEP.DEPARTMENTADDRESS As Ordering_Facility_Address1,  
DEP.DEPARTMENTADDRESS2 as Ordering_Facility_Address2,  
DEP.DEPARTMENTCITY as Ordering_Facility_City,  
DEP.DEPARTMENTSTATE as Ordering_Facility_State,  
DEP.DEPARTMENTZIP as Ordering_Facility_Zip,  
DEP.DEPARTMENTPHONE as Ordering_Facility_TelephoneNumber,  
D.CLINICALPROVIDERID,D.PATIENTID  
into #AthenaFacilityDetails  
from ATHENAONE.DEPARTMENT as DEP (nolock)  
Join ATHENAONE.DOCUMENT as D (nolock)  
on D.CLINICALPROVIDERID=DEP.CLINICALPROVIDERID and  
   D.DEPARTMENTID=DEP.DEPARTMENTID and  
   D.CONTEXTID=DEP.CONTEXTID  
   
 /*Final Summary*/  
  
 Begin  
with FinalSummary as(  
select  AFD.NPI,  
APD.PATIENTID as Patient_MRN,  
'' as SSN,  
APD.LASTNAME as PATIENT_LastName,  
APD.FIRSTNAME as PATIENT_FirstName,  
Format(APD.DOB,N'yyyyMMdd') as PATIENTDate_Of_Birth,  
APD.Sex as PATIENTGender,  
ISNULL(APD.Race_Code,'UNKNOWN') as PATIENTRace,  
--APD.Race_Code as PatientRace,  
APD.RACE as PATIENT_RaceDescription,  
ISNULL(APD.CDCETHNICITYCODE,'UNKNOWN') as PATIENT_Ethicity,  
APD.ETHNICITY as PATIENT_EthinicityDescription,  
APD.PATIENTHOMEPHONE as PATIENT_Phone,  
'' as PATIENT_Email,  
APD.PatientAddress as PATIENT_Address1,  
APD.PatientAddress2 as PATIENT_Address2,  
APD.PatientCity,  
APD.PatientState,  
APD.PatientZIP,  
'' AS County_Of_Residence,  
AOR.CLINICALORDERTYPE as TestName,  
AOR.LOINCCODE as TestLoinc,  
AOR.RESULT as TestResult,  
'' AS Unit,  
'' AS Ref_Range,  
AOR.OBSERVATIONDATETIME,  
AOR.ORDERDOCUMENTID AS Order_No,  
AOR.OBSERVATIONDATETIME as CollectDate,  
AOR.PROVIDERLASTNAME as PROVIDERLASTNAME,  
'' as ProviderAddress1,  
'' as ProviderAddress2,  
'' as ProviderCity,  
'' as ProviderState,  
'' as ProviderZIP,  
'' AS ProviderMobile_No,  
--CASE   
--  when CLINICALORDERTYPE like '%RESPIRATORY SPECIMEN%' THEN 'RESPIRATORY SPECIMEN'  
--  When CLINICALORDERTYPE like '%Nasal Turbinate%' Then 'Nasal Turbinate'  
--  When CLINICALORDERTYPE like '%SERUM OR PLASMA%' Then 'SERUM OR PLASMA'  
--  Else 'Nasopharyngeal'  
--End as SpecimenSource,  
'' as SpecimenSource,  
AOR.SPECIMENSOURCE as SpecimenType,  
--AOR.TestType,  
'' as OnsetDate,  
'' AS Symptoms,  
'' AS HCW,  
'' as Congregate,  
'' As Hospitalization,  
'' AS First_test_yes_No,  
'' as ICU,  
'' AS Pregnant,  
'' as Name_of_testing_product,  
'' as Device_identifier,  
'' as Date_test_ordered,  
AFD.Performing_Facility_Name,  
AFD.Performing_Facility_Address1,  
AFD.Performing_Facility_Address2,  
AFD.Performing_Facility_City,  
AFD.Performing_Facility_State,  
LEFT(AFD.Performing_Facility_Zip,5) as Performing_Facility_Zip,  
Replace(Replace(Replace(AFD.Performing_Facility_TelephoneNumber,'(',''),')',''),'-','') as Performing_Facility_TelephoneNumber,  
AFD.Ordering_Facility_Name,  
AOR.PROVIDERNPINUMBER AS Ordering_Provider_Number,  
AOR.PROVIDERFIRSTNAME as Ordering_Provider_Name,  
APD.PATIENT_MiddleInitial,  
AFD.Ordering_Facility_Address1,  
AFD.Ordering_Facility_Address2,  
AFD.Ordering_Facility_City,  
AFD.Ordering_Facility_State,  
Left(AFD.Ordering_Facility_Zip,5) as Ordering_Facility_Zip,  
Replace(Replace(Replace(AFD.Ordering_Facility_TelephoneNumber,'(',''),')',''),'-','') as Ordering_Facility_TelephoneNumber,  
--APD.CLINICALPROVIDERID,  
--AOR.CLINICALPROVIDERORDERTYPE,  
--AOR.DOCUMENTID,  
--AOR.CHARTID,  
ROW_NUMBER() Over(PARTITION by APD.PatientID,AOR.Result,AOR.OBSERVATIONDATETIME 
--order by APD.PatientID )as Rn  
order by APD.PatientID,case when AFD.NPI='' then 0 else AFD.NPI end desc, AFD.Performing_Facility_City )as Rn
from  #AthenaPatientDetails as APD  
Inner Join #AthenaObservationResult as AOR   
on APD.PATIENTID=AOR.PatientID  
   --APD.PROVIDERID=AOR.PROVIDERID  
Inner Join #AthenaFacilityDetails As AFD   
on AOR.PATIENTID=AFD.PATIENTID)  
  
select * into PP_Athena_ODS..CovidResults from FinalSummary  
where Rn=1 --and Patient_MRN=205970  --and (Performing_Facility_City like '%Maysville%' or Performing_Facility_City like '%Grayson%') --and NPI<>''  
and NPI NOT LIKE '1790420214'  
  
END  
Update CR   
   set CR.TestName=LM.component_name  
   from CovidResults as CR  
   Inner Join PP_Athena_ODS..LoincMasterList as LM  
   on CR.TestLoinc=LM.Loinc_cd  
  
--update Final  
--   set SpecimenType='Nasal Turbinate'  
--   from CovidResults as Final  
--   where not exists(select * from CovidResults as CR  
--   where Final.Patient_MRN=CR.Patient_MRN and  
--   CR.SpecimenType in ('Anterior Nares','Nasopharyngeal','Nasal Turbinate') and  
--   CR.SpecimenType is not null)  
  
Update CR  
   Set CR.Specimentype='Nasal Turbinate'  
   from CovidResults as CR  
     
update CovidResults  
set TestResult='Positive'  
where TestResult like '%POSITIVE%'  
  
--update CovidResults  
--set TestResult='Negative'  
--where TestResult like '%Negative%'  
  
Update CovidResults  
set PATIENT_Phone='606 7963029'  
where PATIENT_Phone like '%#%' or  
PATIENT_Phone like '%000000%' OR  
PATIENT_Phone like '%555555%' OR  
PATIENT_Phone like '%XXXXXX%' OR  
PATIENT_Phone like '%123 456789%'  or  
PATIENT_Phone like '%123456%'  or  
PATIENT_Phone is NULL  
  
END  
  
GO
