USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PBIR_ScriptDashboard_Test]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBIR_ScriptDashboard_Test](
	[Athena_PatientID] [varchar](50) NOT NULL,
	[PatientName] [varchar](101) NULL,
	[Date_Of_Birth] [date] NULL,
	[Age] [int] NULL,
	[Patient_Gender] [varchar](6) NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[DrugId] [varchar](50) NOT NULL,
	[DrugName] [varchar](75) NULL,
	[Generic] [varchar](50) NULL,
	[Is340B] [bit] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[Agency] [varchar](50) NULL,
	[ChargeCode] [varchar](50) NULL,
	[copay] [decimal](10, 2) NULL,
	[Total] [decimal](11, 2) NULL,
	[Drug_QTY] [decimal](9, 3) NULL,
	[RequestedACQ] [decimal](9, 2) NULL,
	[Cost] [decimal](9, 2) NULL,
	[RequestedAWP] [decimal](9, 2) NULL,
	[RequestedFee] [decimal](9, 2) NULL,
	[Modifiedby] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[total_st] [decimal](9, 2) NULL,
	[RI_scriptnumber] [bigint] NULL,
	[RefillNumber] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
