USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[VB_NDCCrosswalk_backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VB_NDCCrosswalk_backup](
	[Drug Name] [varchar](255) NULL,
	[Inventory] [varchar](255) NULL,
	[NDC Number] [varchar](255) NULL,
	[F4] [varchar](255) NULL,
	[Pkg Size] [varchar](255) NULL,
	[ACQ] [varchar](255) NULL,
	[340-B] [varchar](255) NULL
) ON [PRIMARY]
GO
