USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Tbl_MedicationAnalysis_HIC]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MedicationAnalysis_HIC](
	[PATIENTMEDICATIONID] [numeric](38, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[PatientName_Athena] [varchar](1001) NULL,
	[Gender_Athena] [varchar](200) NULL,
	[DOB_Athena] [date] NULL,
	[PRESCRIBERNPI] [varchar](max) NULL,
	[CreatedDate] [date] NULL,
	[PRESCRIBER] [varchar](max) NULL,
	[Providername] [varchar](101) NULL,
	[MEDICATIONNAME] [varchar](max) NULL,
	[Drug_name] [varchar](75) NULL,
	[DateDispensedSQL] [date] NULL,
	[globalid] [int] NULL,
	[NPI] [varchar](50) NULL,
	[Liberty_PatientId] [varchar](50) NULL,
	[Patientname_Liberty] [varchar](101) NULL,
	[Gender_Liberty] [varchar](50) NULL,
	[DOB_Liberty] [date] NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[FullDispenseQuantity] [decimal](9, 3) NULL,
	[RefillsAuthorized] [int] NULL,
	[RefillNumber] [int] NULL,
	[DaysSupply] [varchar](50) NULL,
	[AuthorizedQuantity] [decimal](12, 3) NULL,
	[AvailableQuantity] [decimal](12, 3) NULL,
	[NUMBEROFREFILLSPRESCRIBED] [numeric](12, 0) NULL,
	[PRESCRIPTIONFILLQUANTITY] [numeric](18, 6) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[GPIID_Athena] [char](14) NULL,
	[GPIName_Athena] [varchar](200) NULL,
	[NDC_Athena] [varchar](200) NULL,
	[DerivedNDC_Athena] [varchar](255) NULL,
	[NDCType] [varchar](14) NOT NULL,
	[GPIID_Liberty] [char](14) NULL,
	[GPIName_Liberty] [varchar](200) NULL,
	[NDC_Liberty] [varchar](50) NULL,
	[LibertyRankId] [bigint] NULL,
	[RecordInsertedDate] [datetime] NOT NULL,
	[GPIMatchType] [varchar](32) NOT NULL,
	[DEPARTMENTNAME] [varchar](500) NULL,
	[source_indicator] [nvarchar](100) NULL,
	[is340B] [bit] NULL,
	[PLCNAME] [varchar](2000) NULL,
	[CPName] [varchar](2000) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[PRESCRIBEDYN] [varchar](max) NULL,
	[ADMINISTEREDYN] [varchar](max) NULL,
	[DISPENSEDYN] [varchar](max) NULL,
	[Manufacturer] [varchar](50) NULL,
	[HIC1DESCRIPTION] [varchar](500) NULL,
	[HIC2DESCRIPTION] [varchar](500) NULL,
	[HIC3DESCRIPTION] [varchar](500) NULL,
	[PharmacyName] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
