USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[ClinicalEncounterDATACLOB]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicalEncounterDATACLOB](
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERDATAID] [numeric](12, 0) NULL,
	[ENCOUNTERDATACLOB] [varchar](max) NULL,
	[KEY] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
