USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_medicationanalysis_test]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---[dbo].[sp_medicationanalysis_Test] 3  /*6 Months*/        
CREATE procedure [dbo].[sp_medicationanalysis_test](@Month int =3)        
as        
Begin        
        
Declare @Lv_Month int = @Month ;        
--Declare @Lv_Month int = 3 ;        
Declare @StartDate datetime = cast(DATEADD(month, @Lv_Month*(-1), GETDATE())   as date) ,    
@EndDate datetime = cast(getdate() as date )    
    
--select @StartDate,@EndDate    
        
/*Patient Medication Insert*/        
        
drop table if exists #PATIENTMEDICATION        
        
select p.PATIENTID,p.CHARTID,p.PRESCRIBERNPI,p.PRESCRIBER,cast(p.CREATEDDATETIME as date) CreatedDate,        
p.CREATEDDATETIME        
,p.MEDICATIONNAME,p.NUMBEROFREFILLSPRESCRIBED,        
p.PRESCRIPTIONFILLQUANTITY ,pt.FirstName+' '+pt.LastName as PatientName_Athena,         
pt.Sex as Gender_Athena ,pt.DOB as DOB_Athena,        
d.DOCUMENTID,d.CLINICALENCOUNTERID,d.CLINICALORDERTYPEID ,d.FBDMEDID         
,p.PATIENTMEDICATIONID,m.MEDICATIONNAME as M_MEDICATIONNAME,m.MEDICATIONID,m.NDC,       
m.DerivedNDC,m.NDCType,      
mg.GenericProductIdentifier,mg.GPIGenericName  ,dep.DEPARTMENTNAME      
into        
#PATIENTMEDICATION        
from        
ATHENAONE.PATIENTMEDICATION p with(nolock)        
join ATHENAONE.Patient Pt with(nolock) on p.PATIENTID=pt.PATIENTID        
join ATHENAONE.DOCUMENT d with(nolock) on d.DOCUMENTID=p.DOCUMENTID       
join ATHENAONE.DEPARTMENT dep with(nolock) on dep.DEPARTMENTID=d.DEPARTMENTID      
join       
( /*Derived NDC using Bridge Tables*/      
select med.MEDICATIONNAME,med.MEDICATIONID,med.FDBMEDID ,      
isnull(isnull(sn.[NDC in Liberty],med.NDC),s.[Substitute NDC]) as DerivedNDC ,      
case       
     when sn.[NDC in Liberty] is not null  then 'SNO2DerivedNDC'       
  when med.NDC is null and s.[Substitute NDC] is not null then 'SNO1DerivedNDC'       
     else 'NormalNDC' end as NDCType,      
med.NDC,s.[Substitute NDC] ,sn.[NDC in Liberty]      
from       
ATHENAONE.MEDICATION med with(nolock)       
left join  [dbo].[MedicationNDC_SNO1] s with(nolock) on med.MEDICATIONNAME=s.MEDICATIONNAME      
left join [dbo].[MedicationSubstituteNDC_SNO2] sn with(nolock) on med.NDC=sn.NDC      
) m on m.FDBMEDID=d.FBDMEDID      
join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID        
left join PP_ODS..m25_MDDB_G mg with(nolock) on mg.NDC_UPC_HRI=m.DerivedNDC  /*NDC replaced with Derived NDC*/      
where         
p.CREATEDDATETIME> = @StartDate    and  p.CREATEDDATETIME<= @EndDate    
and MEDICATIONTYPE='CLINICALPRESCRIPTION'        
and p.PATIENTID is not null and p.PATIENTID<>'0' and d.STATUS='Closed' and e.ENCOUNTERSTATUS ='closed'        
and  d.CLINICALORDERTYPEID > 0         
        
      
/*Libery Insert*/        
drop table if exists #Libertymedicinedetails        
        
select        
DG.Name as Drug_name        
,P.patientid        
,(p.FirstName+' '+p.LastName) as Patientname_Liberty        
,p.DateOfBirth as DOB_Liberty        
,p.Gender as Gender_Liberty        
,cast (P.globalid  as int) globalid        
--,D.DoctorId as ProvideID        
,(D.FirstName+' '+D.LastName) Providername        
,D.source_indicator as source_indicator        
--,MD.NDC_UPC_HRI as NDC_Number        
,MD.GenericProductIdentifier as GenericProductIdentifier        
,Md.GPIGenericName        
,DG.NdcNumber        
--,DrugKey        
,cast (st.DateDispensedSQL as date)  DateDispensedSQL        
,sb.RefillsAuthorized        
,sb.FullDispenseQuantity        
,st.QuantityDispensed        
,st.DaysSupply        
,d.NPI        
,st.RefillNumber        
,sb.AuthorizedQuantity,sb.AvailableQuantity        
,sb.RefillUntilDate,st.NextDispensedQuantity        
,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B       
,ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId        
INTO #Libertymedicinedetails        
From PP_ODS..rxqDoctor as D (nolock)        
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator        
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator        
left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber        
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator        
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber          
and SB.Source_Indicator=ST.Source_Indicator        
where         
DateDispensedSQL<>'9999-09-09'        
and DateDispensedSQL >=@StartDate    and DateDispensedSQL <= @EndDate    
and P.globalid<>'' and P.globalid is not null         
 order by PatientId        
        
        
  
  
/*Remove Duplicates Records*/        
/*Latest Record will have Rank =1 and Others are Removed */        
;with cte as         
(        
select *,        
row_number() over (partition by PATIENTID,PRESCRIBERNPI, CREATEDDATE,MEDICATIONNAME         
order by CREATEDDATETIME desc,PATIENTMEDICATIONID desc) Rnk         
from         
#PATIENTMEDICATION        
)        
delete from cte where Rnk > 1        
        
Alter table #PATIENTMEDICATION        
add NextPrescriptionDate date        
        
/*Add NextPrescriptionDate date*/        
;with cte as         
(        
select * ,isnull(lead(CreatedDate,1)         
over(partition by PATIENTID,PRESCRIBERNPI,MEDICATIONNAME order by CreatedDate)        
,cast(getdate()+1 as date)) NextDate        
from #PATIENTMEDICATION        
)        
update cte set NextPrescriptionDate=NextDate        
        
/*Athena Data matched with Liberty */        
        
Drop table if exists #result_GPIMatch        
        
select         
P.*         
,l.Drug_name,l.Providername,l.PatientId as Liberty_PatientId,        
l.GenericProductIdentifier L_GenericProductIdentifier,l.GlobalId,L.NPI,        
l.NdcNumber l_ndc ,l.GPIGenericName as L_GPIGenericName,        
l.DateDispensedSQL,l.Strength,l.form,l.Manufacturer,l.MetricName,l.MetricUnit,        
 l.RefillNumber        
,l.AuthorizedQuantity,l.AvailableQuantity,l.FullDispenseQuantity        
,l.RefillUntilDate,l.NextDispensedQuantity,l.RnkId,        
l.QuantityDispensed,        
l.RefillsAuthorized,        
l.DaysSupply ,l.Patientname_Liberty,l.Gender_Liberty,l.DOB_Liberty ,l.source_indicator ,l.Is340B      
into #result_GPIMatch        
from #PATIENTMEDICATION p        
join #Libertymedicinedetails l on p.GenericProductIdentifier=l.GenericProductIdentifier         
and p.PATIENTID = l.GlobalId and p.PRESCRIBERNPI=L.NPI        
and  L.DateDispensedSQL  >= p.CreatedDate and L.DateDispensedSQL < p.NextPrescriptionDate   
  
      
/*Delete Wrongly Mapped Liberty records*/        
;with cte as         
(        
select ROW_NUMBER() over(partition by RnkId order by CreatedDate desc,      
case when soundex(MEDICATIONNAME) =soundex(Drug_name) then 1 else 0 end desc,PATIENTMEDICATIONID desc      
) LatestRecordRnk        
,case when soundex(MEDICATIONNAME) =soundex(Drug_name) then 1 else 0 end DrugNameMatch      
,* from #result_GPIMatch r         
where RnkId in         
(        
select RnkId        
from #result_GPIMatch        
group by RnkId        
having count(1)>1        
)        
)        
        
delete         
---select MEDICATIONNAME,Drug_name,CreatedDate,DateDispensedSQL,*         
from cte         
where LatestRecordRnk >  1        
        
/*Remove already captured medications */        
delete p       
from       
#PATIENTMEDICATION p       
join       
#result_GPIMatch r on p.PATIENTMEDICATIONID=r.PATIENTMEDICATIONID      
      
      
delete l      
from       
#Libertymedicinedetails l       
join       
#result_GPIMatch r on l.RnkId=r.RnkId      
      
/*Athena Data matched with Liberty ExceptDosageForm*/        
      
Drop table if exists #result_GPIMatch_ExceptDosageForm        
        
select         
P.*         
,l.Drug_name,l.Providername,l.PatientId as Liberty_PatientId,        
l.GenericProductIdentifier L_GenericProductIdentifier,l.GlobalId,L.NPI,        
l.NdcNumber l_ndc ,l.GPIGenericName as L_GPIGenericName,        
l.DateDispensedSQL,l.Strength,l.form,l.Manufacturer,l.MetricName,l.MetricUnit,        
 l.RefillNumber        
,l.AuthorizedQuantity,l.AvailableQuantity,l.FullDispenseQuantity        
,l.RefillUntilDate,l.NextDispensedQuantity,l.RnkId,        
l.QuantityDispensed,        
l.RefillsAuthorized,        
l.DaysSupply ,l.Patientname_Liberty,l.Gender_Liberty,l.DOB_Liberty  ,l.source_indicator ,l.Is340B     
into #result_GPIMatch_ExceptDosageForm        
from #PATIENTMEDICATION p        
join #Libertymedicinedetails l       
on p.GenericProductIdentifier<>l.GenericProductIdentifier /*GPIID Don't Match*/        
and p.PATIENTID = l.GlobalId and p.PRESCRIBERNPI=L.NPI        
and  L.DateDispensedSQL  >= p.CreatedDate and L.DateDispensedSQL < p.NextPrescriptionDate       
where       
/*Athena GPIGenericName like Liberty drug strength */      
l.Strength<>''      
and replace(replace(p.GPIGenericName,' ',''),'%','#') like '%'+replace(replace(l.Strength,' ',''),'%','#')+'%'      
and  replace(replace(p.GPIGenericName,' ',''),'%','#')  not like '%'+'.'+      
replace(replace(l.Strength,' ',''),'%','#')+'%'      
and      
/*GPIMatch ExceptDosageForm*/      
substring(p.GenericProductIdentifier,1,10)+substring(p.GenericProductIdentifier,13,2)      
=substring(l.GenericProductIdentifier,1,10)+substring(l.GenericProductIdentifier,13,2)      
      
/*Delete Wrongly Mapped Liberty records*/        
;with cte as         
(        
select ROW_NUMBER() over(partition by RnkId order by CreatedDate desc,      
case when soundex(MEDICATIONNAME) =soundex(Drug_name) then 1 else 0 end desc,PATIENTMEDICATIONID desc      
) LatestRecordRnk        
,case when soundex(MEDICATIONNAME) =soundex(Drug_name) then 1 else 0 end DrugNameMatch      
,* from #result_GPIMatch_ExceptDosageForm r         
where RnkId in         
(        
select RnkId        
from #result_GPIMatch_ExceptDosageForm        
group by RnkId        
having count(1)>1        
)        
)        
        
delete         
---select MEDICATIONNAME,Drug_name,CreatedDate,DateDispensedSQL,*         
from cte         
where LatestRecordRnk >  1       
      
      
delete p       
from       
#PATIENTMEDICATION p       
join       
#result_GPIMatch_ExceptDosageForm r on p.PATIENTMEDICATIONID=r.PATIENTMEDICATIONID      
      
      
delete l      
from       
#Libertymedicinedetails l       
join       
#result_GPIMatch_ExceptDosageForm r on l.RnkId=r.RnkId      
      
      
/*Athena Matched with Liberty except Last4Digits*/      
      
Drop table if exists #result_GPIMatch_ExceptLast4Digits       
        
select         
P.*         
,l.Drug_name,l.Providername,l.PatientId as Liberty_PatientId,        
l.GenericProductIdentifier L_GenericProductIdentifier,l.GlobalId,L.NPI,        
l.NdcNumber l_ndc ,l.GPIGenericName as L_GPIGenericName,        
l.DateDispensedSQL,l.Strength,l.form,l.Manufacturer,l.MetricName,l.MetricUnit,        
 l.RefillNumber        
,l.AuthorizedQuantity,l.AvailableQuantity,l.FullDispenseQuantity        
,l.RefillUntilDate,l.NextDispensedQuantity,l.RnkId,        
l.QuantityDispensed,        
l.RefillsAuthorized,        
l.DaysSupply ,l.Patientname_Liberty,l.Gender_Liberty,l.DOB_Liberty,l.source_indicator  ,l.Is340B      
into #result_GPIMatch_ExceptLast4Digits        
from #PATIENTMEDICATION p        
join #Libertymedicinedetails l       
on p.GenericProductIdentifier<>l.GenericProductIdentifier /*GPIID Don't Match*/        
and p.PATIENTID = l.GlobalId and p.PRESCRIBERNPI=L.NPI        
and  L.DateDispensedSQL  >= p.CreatedDate and L.DateDispensedSQL < p.NextPrescriptionDate       
where       
/*Athena GPIGenericName like Liberty drug strength */      
l.Strength<>''      
and replace(replace(p.GPIGenericName,' ',''),'%','#') like '%'+replace(replace(l.Strength,' ',''),'%','#')+'%'      
and  replace(replace(p.GPIGenericName,' ',''),'%','#')  not like '%'+'.'+      
replace(replace(l.Strength,' ',''),'%','#')+'%'      
and      
/*GPIMatch ExceptLast4Digits*/      
substring(p.GenericProductIdentifier,1,10)      
=substring(l.GenericProductIdentifier,1,10)      
      
/*Delete Wrongly Mapped Liberty records*/        
;with cte as         
(        
select ROW_NUMBER() over(partition by RnkId order by CreatedDate desc,      
case when soundex(MEDICATIONNAME) =soundex(Drug_name) then 1 else 0 end desc,PATIENTMEDICATIONID desc      
) LatestRecordRnk        
,case when soundex(MEDICATIONNAME) =soundex(Drug_name) then 1 else 0 end DrugNameMatch      
,* from #result_GPIMatch_ExceptLast4Digits r         
where RnkId in         
(        
select RnkId        
from #result_GPIMatch_ExceptLast4Digits        
group by RnkId        
having count(1)>1        
)        
)        
        
delete         
---select MEDICATIONNAME,Drug_name,CreatedDate,DateDispensedSQL,*         
from cte         
where LatestRecordRnk >  1       
      
      
delete p       
from       
#PATIENTMEDICATION p       
join       
#result_GPIMatch_ExceptLast4Digits r on p.PATIENTMEDICATIONID=r.PATIENTMEDICATIONID      
      
      
delete l      
from       
#Libertymedicinedetails l       
join       
#result_GPIMatch_ExceptLast4Digits r on l.RnkId=r.RnkId      
      
      
/*Athena Not matched with liberty */      
Drop table if exists #result_NOGPIMatch       
      
select         
P.*            
into #result_NOGPIMatch       
from #PATIENTMEDICATION p        
left join #Libertymedicinedetails l on p.GenericProductIdentifier=l.GenericProductIdentifier         
and p.PATIENTID = l.GlobalId and p.PRESCRIBERNPI=L.NPI        
and  L.DateDispensedSQL  >= p.CreatedDate and L.DateDispensedSQL < p.NextPrescriptionDate       
where l.Drug_name is null  and l.PatientId is null   
      
  
---select PRESCRIBERNPI,PRESCRIBER,* from #result_NOGPIMatch  
  
  
alter table #result_NOGPIMatch  
add AthProviderFLName varchar(100)  
  
alter table #result_NOGPIMatch  
add AthProviderFullName varchar(100)  
  
  
alter table #result_NOGPIMatch  
add LibProviderFullName varchar(100)  
  
alter table #result_NOGPIMatch  
add LibProviderFLName varchar(100)  
  
drop table if exists #Temp_PROVIDER  
  
select * into #Temp_PROVIDER   
from athenaone.[PROVIDER] P with(nolock)  
  
  
update M set AthProviderFLName=cast(PROVIDERFIRSTNAME as varchar(100))+' '  
+cast(PROVIDERLASTNAME as varchar(100))  
from  
#result_NOGPIMatch M  
join #Temp_PROVIDER P on cast(P.PROVIDERNPINUMBER as varchar(100))=  
cast(M.PRESCRIBERNPI as varchar(100))  
  
update M set AthProviderFullName=cast(PROVIDERFIRSTNAME as varchar(100))  
+' '+isnull(replace(cast(PROVIDERMIDDLEINITIAL as varchar(100)),'.',''),'')  
+' '+cast(PROVIDERLASTNAME as varchar(100))  
from  
#result_NOGPIMatch M  
join #Temp_PROVIDER P on cast(P.PROVIDERNPINUMBER as varchar(100))=  
cast(M.PRESCRIBERNPI as varchar(100))  
  
  
  
drop table if exists #Temp_rxqDoctor  
  
select * into #Temp_rxqDoctor   
from PP_ODS..rxqDoctor as D (nolock)  
  
----9036  
  
--drop table if exists #NPI_SingleProvider  
  
--select NPI  
--into #NPI_SingleProvider  
--from   
--(  
--select t.FirstName,t.LastName,t.NPI , max(t.MiddleInit) MiddleInit  
--from   
--(  
--select  FirstName,replace(LastName,'-','') LastName,NPI,  
--sum(case when MiddleInit='' then 1 else 0 end ) MiddleInitEmptyCNT,  
--sum(case when MiddleInit<>'' then 1 else 0 end ) MiddleInitNONEmptyCNT,  
--count(1) as TotalCNT , count(distinct NULLIF(MiddleInit, '')) MiddleInitDisCNT  
--from   
--#Temp_rxqDoctor  
--where IsValid=1 and InActive=0 and NPI <> ''  
--group by FirstName,LastName,NPI  
--having   
--count(distinct NULLIF(MiddleInit, '')) <=1  
--) cde  
--join   
--#Temp_rxqDoctor t on cde.FirstName=t.FirstName and cde.LastName=t.LastName   
--and cde.NPI=t.NPI  
--group by t.FirstName,t.LastName,t.NPI  
--)efg   
--group by NPI   
--having count(1)=1  
  
  
  
  
drop table if exists #Temp_rxqDoctor_NPI  
  
select d.FirstName,d.LastName,d.NPI , max(d.MiddleInit) MiddleInit  
into #Temp_rxqDoctor_NPI  
from   
(  
select  t.FirstName,t.LastName,t.NPI  
--,  
--sum(case when MiddleInit='' then 1 else 0 end ) MiddleInitEmptyCNT,  
--sum(case when MiddleInit<>'' then 1 else 0 end ) MiddleInitNONEmptyCNT,  
--count(1) as TotalCNT , count(distinct NULLIF(MiddleInit, '')) MiddleInitDisCNT  
from   
#Temp_rxqDoctor t   
join   
(  
select NPI   
from   
(  
select FirstName,replace(LastName,'-','') LastName,NPI  
from   
#Temp_rxqDoctor  
where IsValid=1 and InActive=0 and NPI <> ''  
group by FirstName,LastName,NPI  
) a   
group by NPI   
having count(1)=1  
) SingleNPI on SingleNPI.NPI=t.NPI  
where IsValid=1 and InActive=0   
group by FirstName,LastName,t.NPI  
having   
count(distinct NULLIF(MiddleInit, '')) <=1  
) res   
join   
#Temp_rxqDoctor d on  d.FirstName = res.FirstName  and d.LastName =res.LastName   
and d.NPI = res.NPI  
group by d.FirstName,d.LastName,d.NPI  
  
  
update M set LibProviderFLName=p.FirstName+' '+replace(LastName,'-','')  
from  
#result_NOGPIMatch M  
join #Temp_rxqDoctor_NPI P on p.NPI=m.PRESCRIBERNPI  
  
  
update M set LibProviderFullName=p.FirstName  
+' '+p.MiddleInit  
+' '+replace(LastName,'-','')  
from  
#result_NOGPIMatch M  
join #Temp_rxqDoctor_NPI P on p.NPI=m.PRESCRIBERNPI  
  
  
--select PRESCRIBERNPI,PRESCRIBER,AthProviderFullName,AthProviderFLName,  
--LibProviderFullName,LibProviderFLName,* from   
--#result_NOGPIMatch  
  
  
--select NPI  
--from   
--(  
--select t.FirstName , t.LastName ,t.NPI ,max(MiddleInit) MiddleInit  
--from #NPI_SingleProvider s   
--join   
--#Temp_rxqDoctor t on s.NPI=t.NPI  
--group by t.FirstName , t.LastName ,t.NPI  
--) abc  
--group by NPI  
--having count(1)>1  
  
  
--1053699934  
  
--select * from #Temp_rxqDoctor where NPI='1174998314'  
  
  
  
  
--select * from   
--(  
  
--select lastname,firstname,npi,  
--sum(case when MiddleInit='' then 1 else 0 end) MiddleInit_EmptyCnt,  
--sum(case when MiddleInit<>'' then 1 else 0 end) MiddleInit_NONEmptyCnt,  
--count(1) TotalCnt  
--from   
--(  
--select DoctorId,lastname,firstname,middleinit,npi from   
--#Temp_rxqDoctor  
--where npi<>''  
--group by DoctorId,lastname,firstname,middleinit,npi  
--order by DoctorId,lastname,firstname,middleinit,npi  
--)  
--abc   
--group by lastname,firstname,npi  
--) cde   
--where MiddleInit_NONEmptyCnt>1  
  
  
  
      
--select MEDICATIONNAME,GenericProductIdentifier,Drug_name,L_GenericProductIdentifier,      
--GPIGenericName,L_GPIGenericName,Strength,      
--* from #result_GPIMatch      
  
  
--select * from #result_NOGPIMatch  
  
--Declare @Lv_Month int = 3 ;        
--Declare @StartDate datetime = cast(DATEADD(month, @Lv_Month*(-1), GETDATE())   as date) ,    
--@EndDate datetime = cast(getdate() as date )   
--select @StartDate,@EndDate  
  
drop table if exists #patientmedication_PM  
  
select P.PATIENTID ,  
p.MEDICATIONNAME ,  
p.LENGTHOFCOURSE,p.PRESCRIPTIONFILLQUANTITY ,  
p.NUMBEROFREFILLSPRESCRIBED ,p.SOURCECODETYPE,  
p.FILLDATE ,p.PHARMACYNAME,p.PATIENTMEDICATIONID PM_PATIENTMEDICATIONID,p.CHARTID,p.MEDICATIONID,  
replace(p.PRESCRIBER,'.','') as PRESCRIBER ,p.CREATEDDATETIME  
into #patientmedication_PM  
from  athenaone.patientmedication p with(nolock)  
join (select distinct PATIENTID from #result_NOGPIMatch) Pt on pt.PATIENTID=p.PATIENTID  
join (select distinct MEDICATIONID from #result_NOGPIMatch) M on M.MEDICATIONID=p.MEDICATIONID  
join (select distinct CHARTID from #result_NOGPIMatch) C on C.CHARTID=p.CHARTID  
where MEDICATIONTYPE='PATIENTMEDICATION'  and SOURCECODETYPE='FORMULARYSOURCEID'  
and p.CREATEDDATETIME> = @StartDate    and  p.CREATEDDATETIME<= @EndDate    
--and p.DELETEDBY is null and p.DEACTIVATEDBY is null  
   
---delete from #patientmedication_PM where PHARMACYNAME is null and PRESCRIBER is null   
  
 --select * from #patientmedication_PM where PHARMACYNAME is null and PRESCRIBER is null  
  
 --select * from #patientmedication_PM  
  
alter table #patientmedication_PM  
add PRESCRIBERID int   
  
  
update #patientmedication_PM  set PRESCRIBER=replace(PRESCRIBER,'-','')  
  
  
--update pm set PRESCRIBERID=cast(PROVIDERNPINUMBER as varchar(100))  
----select cast(PROVIDERNPINUMBER as varchar(100)),pm.PRESCRIBER  
--from   
--#patientmedication_PM PM   
--join athenaone.[PROVIDER] P with(nolock) on pm.PRESCRIBER=cast(PROVIDERFIRSTNAME as varchar(100))+' '  
--+cast(PROVIDERLASTNAME as varchar(100))  
  
  
--update pm set PRESCRIBERID=cast(PROVIDERNPINUMBER as varchar(100))  
----select cast(PROVIDERNPINUMBER as varchar(100)),pm.PRESCRIBER  
--from   
--#patientmedication_PM PM   
--join athenaone.[PROVIDER] P with(nolock) on pm.PRESCRIBER=cast(PROVIDERFIRSTNAME as varchar(100))  
--+' '+isnull(replace(cast(PROVIDERMIDDLEINITIAL as varchar(100)),'.',''),'')  
--+' '+cast(PROVIDERLASTNAME as varchar(100))  
--where PRESCRIBERID is null   
  
--update pm set PRESCRIBERID=cast(PROVIDERNPINUMBER as varchar(100))  
----select cast(PROVIDERNPINUMBER as varchar(100)),pm.PRESCRIBER  
--from   
--#patientmedication_PM PM   
--join athenaone.[PROVIDER] P with(nolock) on   
-- REVERSE(PARSENAME(REPLACE(REVERSE(pm.PRESCRIBER), ' ', '.'), 1))+' '+  
--REVERSE(PARSENAME(REPLACE(REVERSE(pm.PRESCRIBER), ' ', '.'), 3))  
--=  
--cast(PROVIDERFIRSTNAME as varchar(100))  
--+' '+cast(PROVIDERLASTNAME as varchar(100))  
--where PRESCRIBERID is null and REVERSE(PARSENAME(REPLACE(REVERSE(pm.PRESCRIBER), ' ', '.'), 3)) is not null  
  
  
-----delete from #patientmedication_PM where PRESCRIBER is null  
      
--select * from #patientmedication_PM where PRESCRIBERID is null   
  
---------------------  
--/*Prescriber name matching */--check for duplicates   
--/*Presc id matching */  
--/*without prescriber name single record*/  
--/*Athena to liberty matching */  
  
--select n.PRESCRIBER , p.PRESCRIBER,p.PRESCRIBERID,p.PM_PATIENTMEDICATIONID  
  
----N.* ,  
----P.PATIENTID AthPhmcy_PATIENTID,  
----p.MEDICATIONNAME as AthPhmcy_MEDICATIONNAME,  
----p.LENGTHOFCOURSE,p.PRESCRIPTIONFILLQUANTITY as AthPhmcy_PRESCRIPTIONFILLQUANTITY,  
----p.NUMBEROFREFILLSPRESCRIBED as AthPhmcy_NUMBEROFREFILLSPRESCRIBED,p.SOURCECODETYPE,  
----p.FILLDATE ,p.PHARMACYNAME,p.PM_PATIENTMEDICATIONID as AthPhmcy_PATIENTMEDICATIONID  
----select count(1)  47752  
--from   
--#result_NOGPIMatch N  
--join #patientmedication_PM p on n.PATIENTID=p.PATIENTID and n.CHARTID=p.CHARTID  
--and n.MEDICATIONID=p.MEDICATIONID and n.CreatedDate <= p.FILLDATE and  p.FILLDATE < n.NextPrescriptionDate  
--and p.PRESCRIBER=n.PRESCRIBER  
  
--select p.PM_PATIENTMEDICATIONID  
--from   
--#result_NOGPIMatch N  
--join #patientmedication_PM p on n.PATIENTID=p.PATIENTID and n.CHARTID=p.CHARTID  
--and n.MEDICATIONID=p.MEDICATIONID and n.CreatedDate <= p.FILLDATE and  p.FILLDATE < n.NextPrescriptionDate  
--and p.PRESCRIBER=n.PRESCRIBER  
--group by p.PM_PATIENTMEDICATIONID  
--having count(1)> 1  
  
  
--select p.PRESCRIBERID,n.PRESCRIBERNPI,p.PRESCRIBER,n.PRESCRIBER  
--from   
--#result_NOGPIMatch N  
--join #patientmedication_PM p on n.PATIENTID=p.PATIENTID and n.CHARTID=p.CHARTID  
--and n.MEDICATIONID=p.MEDICATIONID and n.CreatedDate <= p.FILLDATE and  p.FILLDATE < n.NextPrescriptionDate  
--and p.PRESCRIBER=n.PRESCRIBER  
--and p.PRESCRIBERID<>n.PRESCRIBERNPI  
  
--select p.PRESCRIBERID,n.PRESCRIBERNPI,p.PRESCRIBER,n.PRESCRIBER  
--from   
--#result_NOGPIMatch N  
--join #patientmedication_PM p on n.PATIENTID=p.PATIENTID and n.CHARTID=p.CHARTID  
--and n.MEDICATIONID=p.MEDICATIONID and n.CreatedDate <= p.FILLDATE and  p.FILLDATE < n.NextPrescriptionDate  
--and p.PRESCRIBER<>n.PRESCRIBER  
--and p.PRESCRIBERID=n.PRESCRIBERNPI   
--and substring(p.PRESCRIBER,1,5)<>substring(n.PRESCRIBER,1,5)  
  
/*Prescriber name match*/  
drop table if exists #result_NOGPIMatch_PrscNameMatch  
  
select N.* ,  
P.PATIENTID AthMed_PATIENTID,  
p.MEDICATIONNAME as AthMed_MEDICATIONNAME,p.PRESCRIBER as AthMed_PRESCRIBER,  
p.LENGTHOFCOURSE,p.PRESCRIPTIONFILLQUANTITY as AthMed_PRESCRIPTIONFILLQUANTITY,  
p.NUMBEROFREFILLSPRESCRIBED as AthMed_NUMBEROFREFILLSPRESCRIBED,p.SOURCECODETYPE,  
p.FILLDATE ,p.PHARMACYNAME AthMed_PHARMACYNAME,p.PM_PATIENTMEDICATIONID as AthMed_PATIENTMEDICATIONID,  
p.CREATEDDATETIME as AthMed_CREATEDDATETIME,p.MEDICATIONID as AthMed_MEDICATIONID  
into #result_NOGPIMatch_PrscNameMatch  
from   
#result_NOGPIMatch N  
join #patientmedication_PM p on n.PATIENTID=p.PATIENTID and n.CHARTID=p.CHARTID  
and n.MEDICATIONID=p.MEDICATIONID and n.CreatedDate <= p.FILLDATE and  p.FILLDATE < n.NextPrescriptionDate  
and  
(
p.PRESCRIBER=n.PRESCRIBER  
or   
p.PRESCRIBER = n.AthProviderFullName  
or   
p.PRESCRIBER = n.AthProviderFLName  
or   
p.PRESCRIBER = n.LibProviderFullName  
or   
p.PRESCRIBER = n.LibProviderFLName  
or 
(  soundex(p.PRESCRIBER)=soundex(n.PRESCRIBER) 
   and soundex(reverse(p.PRESCRIBER))=soundex(reverse(n.PRESCRIBER))
)
)  
  
  
  
--select PRESCRIBERNPI,PRESCRIBER,AthProviderFullName,AthProviderFLName,  
--LibProviderFullName,LibProviderFLName,* from   
--#result_NOGPIMatch  
  
  
/*Delete duplicate data and retain latest data*/  
;with cte as   
(  
select *,ROW_NUMBER()  over ( partition by PATIENTMEDICATIONID,FILLDATE   
order by AthMed_CREATEDDATETIME desc,AthMed_PATIENTMEDICATIONID desc ) Rnk from   
#result_NOGPIMatch_PrscNameMatch  
)  
  
delete   
--select *   
from cte   
where Rnk > 1  
  
  
  
delete g  
from   
#result_NOGPIMatch g   
join   
#result_NOGPIMatch_PrscNameMatch p on p.PATIENTMEDICATIONID=g.PATIENTMEDICATIONID  
  
  
delete g  
from   
#patientmedication_PM g   
join   
#result_NOGPIMatch_PrscNameMatch p on p.AthMed_PATIENTMEDICATIONID=g.PM_PATIENTMEDICATIONID  
  
--/*Prescriber ID Match */  
--drop table if exists #result_NOGPIMatch_PrescriberIDMatch  
  
--select N.* ,  
--P.PATIENTID AthMed_PATIENTID,  
--p.MEDICATIONNAME as AthMed_MEDICATIONNAME,p.PRESCRIBER as AthMed_PRESCRIBER,  
--p.LENGTHOFCOURSE,p.PRESCRIPTIONFILLQUANTITY as AthMed_PRESCRIPTIONFILLQUANTITY,  
--p.NUMBEROFREFILLSPRESCRIBED as AthMed_NUMBEROFREFILLSPRESCRIBED,p.SOURCECODETYPE,  
--p.FILLDATE ,p.PHARMACYNAME AthMed_PHARMACYNAME,p.PM_PATIENTMEDICATIONID as AthMed_PATIENTMEDICATIONID,  
--p.CREATEDDATETIME as AthMed_CREATEDDATETIME,p.MEDICATIONID as AthMed_MEDICATIONID  
--,p.PRESCRIBERID as AthMed_PRESCRIBERID  
--into #result_NOGPIMatch_PrescriberIDMatch  
--from   
--#result_NOGPIMatch N  
--join #patientmedication_PM p on n.PATIENTID=p.PATIENTID and n.CHARTID=p.CHARTID  
--and n.MEDICATIONID=p.MEDICATIONID and n.CreatedDate <= p.FILLDATE and  p.FILLDATE < n.NextPrescriptionDate  
--and p.PRESCRIBERID=n.PRESCRIBERNPI  
  
  
--/*Delete duplicate data and retain latest data*/  
--with cte as   
--(  
--select *,ROW_NUMBER()  over ( partition by PATIENTMEDICATIONID,FILLDATE   
--order by AthMed_CREATEDDATETIME desc,AthMed_PATIENTMEDICATIONID desc ) Rnk from   
--#result_NOGPIMatch_PrescriberIDMatch  
--)  
  
--delete   
----select *   
--from cte   
--where Rnk > 1  
  
  
--delete g  
--from   
--#result_NOGPIMatch g   
--join   
--#result_NOGPIMatch_PrescriberIDMatch p on p.PATIENTMEDICATIONID=g.PATIENTMEDICATIONID  
  
  
--delete g  
--from   
--#patientmedication_PM g   
--join   
--#result_NOGPIMatch_PrescriberIDMatch p on p.AthMed_PATIENTMEDICATIONID=g.PM_PATIENTMEDICATIONID  
  
  
--/*Prescriber ID Match */  
--drop table if exists #result_NOGPIMatch_PrescriberMatchExcpMiddleName  
  
--select N.* ,  
--P.PATIENTID AthMed_PATIENTID,  
--p.MEDICATIONNAME as AthMed_MEDICATIONNAME,p.PRESCRIBER as AthMed_PRESCRIBER,  
--p.LENGTHOFCOURSE,p.PRESCRIPTIONFILLQUANTITY as AthMed_PRESCRIPTIONFILLQUANTITY,  
--p.NUMBEROFREFILLSPRESCRIBED as AthMed_NUMBEROFREFILLSPRESCRIBED,p.SOURCECODETYPE,  
--p.FILLDATE ,p.PHARMACYNAME AthMed_PHARMACYNAME,p.PM_PATIENTMEDICATIONID as AthMed_PATIENTMEDICATIONID,  
--p.CREATEDDATETIME as AthMed_CREATEDDATETIME,p.MEDICATIONID as AthMed_MEDICATIONID  
--,p.PRESCRIBERID as AthMed_PRESCRIBERID  
--into #result_NOGPIMatch_PrescriberMatchExcpMiddleName  
--from   
--#result_NOGPIMatch N  
--join #patientmedication_PM p on n.PATIENTID=p.PATIENTID and n.CHARTID=p.CHARTID  
--and n.MEDICATIONID=p.MEDICATIONID and n.CreatedDate <= p.FILLDATE and  p.FILLDATE < n.NextPrescriptionDate  
--and   
--REVERSE(PARSENAME(REPLACE(REVERSE(replace(n.PRESCRIBER,'-','')), ' ', '.'), 1))+' '+  
--REVERSE(PARSENAME(REPLACE(REVERSE(replace(n.PRESCRIBER,'-','')), ' ', '.'), 3))  
--=  
--p.PRESCRIBER  
--where  REVERSE(PARSENAME(REPLACE(REVERSE(n.PRESCRIBER), ' ', '.'), 3)) is not null  
  
  
--/*Delete duplicate data and retain latest data*/  
--with cte as   
--(  
--select *,ROW_NUMBER()  over ( partition by PATIENTMEDICATIONID,FILLDATE   
--order by AthMed_CREATEDDATETIME desc,AthMed_PATIENTMEDICATIONID desc ) Rnk from   
--#result_NOGPIMatch_PrescriberMatchExcpMiddleName  
--)  
  
--delete   
----select *   
--from cte   
--where Rnk > 1  
  
  
--delete g  
--from   
--#result_NOGPIMatch g   
--join   
--#result_NOGPIMatch_PrescriberMatchExcpMiddleName p on p.PATIENTMEDICATIONID=g.PATIENTMEDICATIONID  
  
  
--delete g  
--from   
--#patientmedication_PM g   
--join   
--#result_NOGPIMatch_PrescriberMatchExcpMiddleName p on p.AthMed_PATIENTMEDICATIONID=g.PM_PATIENTMEDICATIONID  
  
  
--drop table if exists #result_NOGPIMatch_PM  
  
--select N.* ,  
--P.PATIENTID AthMed_PATIENTID,  
--p.MEDICATIONNAME as AthMed_MEDICATIONNAME,p.PRESCRIBER as AthMed_PRESCRIBER,  
--p.LENGTHOFCOURSE,p.PRESCRIPTIONFILLQUANTITY as AthMed_PRESCRIPTIONFILLQUANTITY,  
--p.NUMBEROFREFILLSPRESCRIBED as AthMed_NUMBEROFREFILLSPRESCRIBED,p.SOURCECODETYPE,  
--p.FILLDATE ,p.PHARMACYNAME AthMed_PHARMACYNAME,p.PM_PATIENTMEDICATIONID as AthMed_PATIENTMEDICATIONID,  
--p.CREATEDDATETIME as AthMed_CREATEDDATETIME,p.MEDICATIONID as AthMed_MEDICATIONID  
--,p.PRESCRIBERID as AthMed_PRESCRIBERID  
--into #result_NOGPIMatch_PM  
--from   
--#result_NOGPIMatch N  
--join #patientmedication_PM p on n.PATIENTID=p.PATIENTID and n.CHARTID=p.CHARTID  
--and n.MEDICATIONID=p.MEDICATIONID and n.CreatedDate = p.FILLDATE   
  
  
  
--select * from   
--#result_NOGPIMatch  
Truncate Table Tbl_MedicationAnalysis_Tab2  
  
Insert into Tbl_MedicationAnalysis_Tab2  
(  
[PATIENTID] ,  
[CHARTID] ,  
[PRESCRIBERNPI]  ,  
[PRESCRIBER]  ,  
[CreatedDate] ,  
[CREATEDDATETIME] ,  
[MEDICATIONNAME] ,  
[NUMBEROFREFILLSPRESCRIBED] ,  
[PRESCRIPTIONFILLQUANTITY]  ,  
[PatientName_Athena]  ,  
[Gender_Athena]  ,  
[DOB_Athena]  ,  
[DOCUMENTID] ,  
[CLINICALENCOUNTERID] ,  
[CLINICALORDERTYPEID] ,  
[FBDMEDID]  ,  
[PATIENTMEDICATIONID]  ,  
[M_MEDICATIONNAME] ,  
[MEDICATIONID]  ,  
[NDC] ,  
[DerivedNDC] ,  
[NDCType] ,  
[GenericProductIdentifier] ,  
[GPIGenericName] ,  
[DEPARTMENTNAME] ,  
[NextPrescriptionDate] ,  
[AthProviderFLName] ,  
[AthProviderFullName] ,  
[LibProviderFullName] ,  
[LibProviderFLName] ,  
[AthMed_PATIENTID] ,  
[AthMed_MEDICATIONNAME] ,  
[AthMed_PRESCRIBER] ,  
[LENGTHOFCOURSE] ,  
[AthMed_PRESCRIPTIONFILLQUANTITY] ,  
[AthMed_NUMBEROFREFILLSPRESCRIBED] ,  
[SOURCECODETYPE] ,  
[FILLDATE] ,  
[AthMed_PHARMACYNAME] ,  
[AthMed_PATIENTMEDICATIONID] ,  
[AthMed_CREATEDDATETIME] ,  
[AthMed_MEDICATIONID] ,  
RecordInsertedDate  
)  
  
select   
[PATIENTID] ,  
[CHARTID] ,  
[PRESCRIBERNPI]  ,  
[PRESCRIBER]  ,  
[CreatedDate] ,  
[CREATEDDATETIME] ,  
[MEDICATIONNAME] ,  
[NUMBEROFREFILLSPRESCRIBED] ,  
[PRESCRIPTIONFILLQUANTITY]  ,  
[PatientName_Athena]  ,  
[Gender_Athena]  ,  
[DOB_Athena]  ,  
[DOCUMENTID] ,  
[CLINICALENCOUNTERID] ,  
[CLINICALORDERTYPEID] ,  
[FBDMEDID]  ,  
[PATIENTMEDICATIONID]  ,  
[M_MEDICATIONNAME] ,  
[MEDICATIONID]  ,  
[NDC] ,  
[DerivedNDC] ,  
[NDCType] ,  
[GenericProductIdentifier] ,  
[GPIGenericName] ,  
[DEPARTMENTNAME] ,  
[NextPrescriptionDate] ,  
[AthProviderFLName] ,  
[AthProviderFullName] ,  
[LibProviderFullName] ,  
[LibProviderFLName] ,  
[AthMed_PATIENTID] ,  
[AthMed_MEDICATIONNAME] ,  
[AthMed_PRESCRIBER] ,  
[LENGTHOFCOURSE] ,  
[AthMed_PRESCRIPTIONFILLQUANTITY] ,  
[AthMed_NUMBEROFREFILLSPRESCRIBED] ,  
[SOURCECODETYPE] ,  
[FILLDATE] ,  
[AthMed_PHARMACYNAME] ,  
[AthMed_PATIENTMEDICATIONID] ,  
[AthMed_CREATEDDATETIME] ,  
[AthMed_MEDICATIONID] ,  
getdate() as RecordInsertedDate  
from #result_NOGPIMatch_PrscNameMatch  
  
  
Insert into Tbl_MedicationAnalysis_Tab2  
(  
[PATIENTID] ,  
[CHARTID] ,  
[PRESCRIBERNPI]  ,  
[PRESCRIBER]  ,  
[CreatedDate] ,  
[CREATEDDATETIME] ,  
[MEDICATIONNAME] ,  
[NUMBEROFREFILLSPRESCRIBED] ,  
[PRESCRIPTIONFILLQUANTITY]  ,  
[PatientName_Athena]  ,  
[Gender_Athena]  ,  
[DOB_Athena]  ,  
[DOCUMENTID] ,  
[CLINICALENCOUNTERID] ,  
[CLINICALORDERTYPEID] ,  
[FBDMEDID]  ,  
[PATIENTMEDICATIONID]  ,  
[M_MEDICATIONNAME] ,  
[MEDICATIONID]  ,  
[NDC] ,  
[DerivedNDC] ,  
[NDCType] ,  
[GenericProductIdentifier] ,  
[GPIGenericName] ,  
[DEPARTMENTNAME] ,  
[NextPrescriptionDate] ,  
[AthProviderFLName] ,  
[AthProviderFullName] ,  
[LibProviderFullName] ,  
[LibProviderFLName],  
RecordInsertedDate  
)  
  
select   
[PATIENTID] ,  
[CHARTID] ,  
[PRESCRIBERNPI]  ,  
[PRESCRIBER]  ,  
[CreatedDate] ,  
[CREATEDDATETIME] ,  
[MEDICATIONNAME] ,  
[NUMBEROFREFILLSPRESCRIBED] ,  
[PRESCRIPTIONFILLQUANTITY]  ,  
[PatientName_Athena]  ,  
[Gender_Athena]  ,  
[DOB_Athena]  ,  
[DOCUMENTID] ,  
[CLINICALENCOUNTERID] ,  
[CLINICALORDERTYPEID] ,  
[FBDMEDID]  ,  
[PATIENTMEDICATIONID]  ,  
[M_MEDICATIONNAME] ,  
[MEDICATIONID]  ,  
[NDC] ,  
[DerivedNDC] ,  
[NDCType] ,  
[GenericProductIdentifier] ,  
[GPIGenericName] ,  
[DEPARTMENTNAME] ,  
[NextPrescriptionDate] ,  
[AthProviderFLName] ,  
[AthProviderFullName] ,  
[LibProviderFullName] ,  
[LibProviderFLName] ,  
getdate() as RecordInsertedDate  
from #result_NOGPIMatch  
  
  
  
--select PRESCRIBER,AthMed_PRESCRIBER,CreatedDate,FILLDATE,M_MEDICATIONNAME,AthMed_MEDICATIONNAME,PATIENTID,*   
--from #result_NOGPIMatch_PrscNameMatch r   
--where PRESCRIBER<>AthMed_PRESCRIBER  
--order by r.PATIENTID,r.M_MEDICATIONNAME,r.CreatedDate,r.FILLDATE  
  
  
--select distinct AthMed_PHARMACYNAME from #result_NOGPIMatch_Result r   
--where AthMed_PHARMACYNAME like '%Brack%'  
  
--select distinct AthMed_PHARMACYNAME from #result_NOGPIMatch_Result r  
--where not exists   
--(select top 1 1 from #PP_Pharmacy  p   
--where r.AthMed_PHARMACYNAME like  '%'+p.PharmacyName+'%' )  
  
--select AthMed_PHARMACYNAME,PRESCRIBER,AthMed_PRESCRIBER,CreatedDate,FILLDATE,M_MEDICATIONNAME,AthMed_MEDICATIONNAME,PATIENTID,*   
--from #result_NOGPIMatch_Result r   
----where AthMed_PHARMACYNAME is null   
--order by r.PATIENTID,r.M_MEDICATIONNAME,r.CreatedDate,r.FILLDATE  
  
  
--select * from #Libertymedicinedetails  
  
  
-- PP_ODS..rxqDoctor as D (nolock)  
-- #PATIENTMEDICATION p        
--join #Libertymedicinedetails l on p.GenericProductIdentifier=l.GenericProductIdentifier         
--and p.PATIENTID = l.GlobalId and p.PRESCRIBERNPI=L.NPI        
--and  L.DateDispensedSQL  >= p.CreatedDate and L.DateDispensedSQL < p.NextPrescriptionDate  
  
  
drop table if exists #PP_Pharmacy  
create table #PP_Pharmacy(PharmacyName varchar(100))  
  
insert into #PP_Pharmacy(PharmacyName )  
  
 select'Vanceburg'   as  PharmacyName  
union select'MaysVille'       
union select'Tollesboro'       
union select'MaysvillePack'       
union select'SouthShore'       
union select'Augusta'       
union select'Flemingsburg'       
union select'Ashland'       
union select'Grayson'   
union select 'Bracken'  
  
  
  
--select AthMed_PATIENTMEDICATIONID  
--from   
--#result_NOGPIMatch_PM  
--group by AthMed_PATIENTMEDICATIONID  
--having count(1)>1  
  
  
--select AthMed_PATIENTMEDICATIONID,PATIENTMEDICATIONID,CreatedDate,PRESCRIBER,AthMed_PRESCRIBER  
--,FILLDATE,* from #result_NOGPIMatch_PM p  
--where --AthMed_PATIENTMEDICATIONID='11261149'  
--AthMed_PATIENTMEDICATIONID in   
--(  
--select AthMed_PATIENTMEDICATIONID  
--from   
--#result_NOGPIMatch_PM  
--group by AthMed_PATIENTMEDICATIONID  
--having count(1)=1  
--)  
--and AthMed_PRESCRIBER <> PRESCRIBER --and CreatedDate<>FILLDATE  
--order by p.AthMed_PATIENTMEDICATIONID desc   
  
  
  
--select PATIENTMEDICATIONID,FILLDATE from   
--#result_NOGPIMatch_PrescriberIDMatch  
--group by PATIENTMEDICATIONID,FILLDATE  
--having count(1)> 1  
  
  
  
--select * from #result_NOGPIMatch_PrscNameMatch  
--where PATIENTMEDICATIONID='3277046'  
  
  
  
--select PATIENTMEDICATIONID, count(1),count(distinct FILLDATE) from   
--#result_NOGPIMatch_PrscNameMatch  
--group by PATIENTMEDICATIONID  
--having count(distinct FILLDATE) <> count(1)  
  
--select AthMed_PATIENTMEDICATIONID ,count(PATIENTMEDICATIONID)  
--from   
--#result_NOGPIMatch_PrscNameMatch  
--group by AthMed_PATIENTMEDICATIONID  
--having count(PATIENTMEDICATIONID) > 1  
  
  
--select PATIENTMEDICATIONID from   
--#result_NOGPIMatch_PrscNameMatch  
--where PATIENTMEDICATIONID not in   
--(select PATIENTMEDICATIONID from   
--#result_NOGPIMatch_PrscNameMatch  
--group by PATIENTMEDICATIONID,AthMed_MEDICATIONNAME  
--having count(distinct FILLDATE)= 1 and count(1)> 1)  
--group by PATIENTMEDICATIONID  
--having count(distinct FILLDATE)= 1 and count(1)> 1  
  
--select PATIENTMEDICATIONID, count(1) from   
--#result_NOGPIMatch_PrscNameMatch  
--group by PATIENTMEDICATIONID  
--having count(distinct FILLDATE)= 1 and count(1)> 1  
  
  
--3277351  
--3378107  
--3346490  
--3261619  
--3271775  
--3390880  
  
--3275115  
  
--select * from #result_NOGPIMatch_PrscNameMatch where PATIENTMEDICATIONID='3275115'  
--select * from #result_NOGPIMatch_PrscNameMatch where PATIENTMEDICATIONID='3346506'  
  
/*Duplicates*/  
  
  
drop table if exists #finalresult      
      
select * into #finalresult      
from       
(         
select *,'GPIID Matched' as GPIMatchType from #result_GPIMatch      
union all      
select *,'GPIID Matched Except DosageForm' as GPIMatchType from #result_GPIMatch_ExceptDosageForm      
union all      
select *,'GPIID Matched Except Last4Digits' as GPIMatchType from #result_GPIMatch_ExceptLast4Digits      
) abc       
      
  
      
Truncate table Tbl_MedicationAnalysis_Tab1      
  
        
Insert into Tbl_MedicationAnalysis_Tab1        
(        
PATIENTMEDICATIONID,        
PATIENTID,        
PatientName_Athena,        
Gender_Athena,        
DOB_Athena,        
PRESCRIBERNPI,        
CreateDate,        
PRESCRIBER ,        
ProviderName ,         
MEDICATIONNAME,        
Drug_name,        
DateDispensedSQL,        
globalid,        
NPI,        
Liberty_PatientId,        
Patientname_Liberty,        
Gender_Liberty,        
DOB_Liberty,        
QuantityDispensed,        
FullDispenseQuantity,        
RefillsAuthorized,        
RefillNumber,        
DaysSupply,        
AuthorizedQuantity,        
AvailableQuantity,        
NUMBEROFREFILLSPRESCRIBED,        
PRESCRIPTIONFILLQUANTITY,        
DOCUMENTID,        
GPIID_Athena,        
GPIName_Athena,        
NDC_Athena,        
DerivedNDC_Athena,      
NDCType ,      
GPIID_Liberty,        
GPIName_Liberty,        
NDC_Liberty,        
LibertyRankId,        
RecordInsertedDate,      
GPIMatchType      
,DEPARTMENTNAME      
,source_indicator    
,Is340B  
)        
        
        
select         
PATIENTMEDICATIONID,        
PATIENTID,        
PatientName_Athena,        
Gender_Athena,        
DOB_Athena,        
PRESCRIBERNPI,        
CreatedDate,        
PRESCRIBER ,        
Providername,        
MEDICATIONNAME,        
Drug_name,        
DateDispensedSQL,        
globalid,        
NPI,        
Liberty_PatientId,        
Patientname_Liberty,        
Gender_Liberty,        
DOB_Liberty ,        
QuantityDispensed,        
FullDispenseQuantity,        
RefillsAuthorized,        
RefillNumber,        
DaysSupply,        
AuthorizedQuantity,        
AvailableQuantity,        
NUMBEROFREFILLSPRESCRIBED,        
PRESCRIPTIONFILLQUANTITY,        
DOCUMENTID,        
GenericProductIdentifier as GPIID_Athena,        
GPIGenericName as GPIName_Athena,        
Ndc as NDC_Athena,       
DerivedNDC as DerivedNDC_Athena,      
NDCType ,      
L_GenericProductIdentifier as GPIID_Liberty ,        
L_GPIGenericName as GPIName_Liberty,        
l_ndc as NDC_Liberty        
,RnkId as LibertyRankId        
,getdate() as [RecordInsertedDate]        
,GPIMatchType      
,DEPARTMENTNAME      
,source_indicator  ,is340B    
from #finalresult         
      
update Tbl_MedicationAnalysis_Tab1 set PharmacyName =       
case when Source_Indicator='VB' then 'Vanceburg'      
when Source_Indicator='MV' then 'MaysVille'       
when Source_Indicator='TB' then 'Tollesboro'       
when Source_Indicator='CEN' then 'MaysvillePack'       
when Source_Indicator='SS' then 'SouthShore'       
when Source_Indicator='BC' then 'Augusta'       
when Source_Indicator='FB' then 'Flemingsburg'       
when Source_Indicator='ASH' then 'Ashland'       
when Source_Indicator='GR' then 'Grayson' end      
      
      
  
/*Patient Medication Insert Past One Year Data*/        
drop table if exists #PATIENTMEDICATION_Oneyear        
        
select distinct p.PATIENTID        
into        
#PATIENTMEDICATION_Oneyear        
from        
ATHENAONE.PATIENTMEDICATION p with(nolock)        
join ATHENAONE.DOCUMENT d with(nolock) on d.DOCUMENTID=p.DOCUMENTID       
join   
ATHENAONE.MEDICATION m with(nolock)       
 on m.FDBMEDID=d.FBDMEDID      
join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID        
where         
p.CREATEDDATETIME> = DATEADD(month, -12, GETDATE())         
and MEDICATIONTYPE='CLINICALPRESCRIPTION'        
and p.PATIENTID is not null and p.PATIENTID<>'0' and d.STATUS='Closed' and e.ENCOUNTERSTATUS ='closed'        
and  d.CLINICALORDERTYPEID > 0         
      
        
/*Medicines Taken in Liberty but not Prescribed in Athena*/       
         
Truncate table [dbo].[Tbl_LibertyMedicines_NotPrescribed]     
  
--Declare @Lv_Month int = 3 ;  
        
Insert into [dbo].[Tbl_LibertyMedicines_NotPrescribed](        
  [Drug_name]         
 ,[patientid]         
 ,[globalid]        
 ,Patientname_Liberty        
 ,Gender_Liberty        
 ,DOB_Liberty        
 ,[Providername]         
 ,[GenericProductIdentifier]         
 ,[GPIGenericName]        
 ,[NdcNumber]        
 ,[DateDispensedSQL]         
 ,[RefillsAuthorized]        
 ,[FullDispenseQuantity]         
 ,[QuantityDispensed]         
 ,[DaysSupply]        
 ,[NPI]         
 ,[RefillNumber]         
 ,[AuthorizedQuantity]        
 ,[AvailableQuantity]        
 ,[RefillUntilDate]         
 ,[NextDispensedQuantity]         
 ,[Strength]         
 ,[form]         
 ,[Manufacturer]         
 ,[MetricName]         
 ,[MetricUnit]        
 ,[RnkId]        
 ,PatientType      
 ,Source_Indicator    
 ,RecordInsertedDate       
 ,is340B  
 )        
        
select         
     L.[Drug_name]         
 ,L.[patientid]         
 ,L.[globalid]        
 ,l.Patientname_Liberty        
 ,l.Gender_Liberty        
 ,l.DOB_Liberty        
 ,L.[Providername]         
 ,L.[GenericProductIdentifier]         
 ,L.[GPIGenericName]        
 ,L.[NdcNumber]        
 ,L.[DateDispensedSQL]         
 ,L.[RefillsAuthorized]        
 ,L.[FullDispenseQuantity]         
 ,L.[QuantityDispensed]         
 ,L.[DaysSupply]        
 ,L.[NPI]         
 ,L.[RefillNumber]         
 ,L.[AuthorizedQuantity]        
 ,L.[AvailableQuantity]        
 ,L.[RefillUntilDate]         
 ,L.[NextDispensedQuantity]         
 ,L.[Strength]         
 ,L.[form]         
 ,L.[Manufacturer]         
 ,L.[MetricName]         
 ,L.[MetricUnit]        
 ,L.[RnkId]         
 ,case when d.PATIENTID is not null then 'Visited Clinic in Past '+cast(@Lv_Month as varchar(2))+' Months'      
  when pyr.PATIENTID is not null  then       
  'Visited Clinic B/W PastYear and Past '+cast(@Lv_Month as varchar(2))+' months'        
 else 'Not Visited Clinic in Past Year'      
 end as PatientType      
 ,l.Source_Indicator    
 ,getdate()  ,l.Is340B       
from #Libertymedicinedetails L         
left join        
(        
select distinct PATIENTID  from Tbl_MedicationAnalysis_Tab1    
union   
select distinct PATIENTID  from Tbl_MedicationAnalysis_Tab2  
) d  on d.PATIENTID = l.globalid        
left join       
#PATIENTMEDICATION_Oneyear pyr on l.globalid=pyr.PATIENTID      
  
  
  
update [Tbl_LibertyMedicines_NotPrescribed] set PharmacyName =       
case when Source_Indicator='VB' then 'Vanceburg'      
when Source_Indicator='MV' then 'MaysVille'       
when Source_Indicator='TB' then 'Tollesboro'       
when Source_Indicator='CEN' then 'MaysvillePack'       
when Source_Indicator='SS' then 'SouthShore'       
when Source_Indicator='BC' then 'Augusta'       
when Source_Indicator='FB' then 'Flemingsburg'       
when Source_Indicator='ASH' then 'Ashland'       
when Source_Indicator='GR' then 'Grayson' end     
      
end        
        
      
      
GO
