USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[RenderingProvider]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenderingProvider](
	[ProviderId] [numeric](18, 0) NULL,
	[IN_year] [bigint] NULL,
	[IN_Month_ID] [bigint] NULL,
	[CID] [numeric](18, 0) NULL,
	[AID] [numeric](18, 0) NULL,
	[SEDCR] [float] NULL,
	[Charge] [numeric](18, 0) NULL,
	[Payment] [numeric](18, 0) NULL,
	[PROVIDERNAME] [varchar](100) NULL,
	[Servicename] [varchar](100) NULL,
	[CheckedInSlotDuration] [numeric](38, 0) NULL,
	[TotalSlotDuration] [numeric](38, 0) NULL,
	[TotalScheduledCnt] [int] NULL,
	[ArrivedCnt] [int] NULL,
	[TotalProviderNonBusinessHrs] [float] NULL
) ON [PRIMARY]
GO
