USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVaccineReportByDateRange]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Exec sp_GetVaccineReportByDateRange  '2023-12-01','2024-11-30' */  
CREATE procedure [dbo].[sp_GetVaccineReportByDateRange]  
(@startdate date , @enddate date )  
as  
  
begin   
  
--declare @startdate date ='2023-12-01'  
--, @enddate date ='2024-11-30'  
  
drop table if exists #TempVaccineReport  
  
select  p.PATIENTID , p.DOCUMENTID , p.ADMINISTEREDDATETIME ,p.VACCINENAME,  
p.CLINICALORDERTYPE,  
p.REFUSEDYN,p.DELETEDDATETIME DELETEDDATETIME_PV   
, c.VFCSTATUS as VFCCode,c.DELETEDDATETIME,c.ADMINISTEREDDATETIME ADMINISTEREDDATETIME_CV,  
ADMINISTERYN,m.MEDICATIONNAME,e.APPOINTMENTID  
into #TempVaccineReport  
from ATHENAONE.PATIENTVACCINE p with(nolock)  
join ATHENAONE.DOCUMENT d with(nolock) on d.DOCUMENTID=p.DOCUMENTID    
left join ATHENAONE.CLINICALVACCINE c with(nolock) on c.DOCUMENTID=p.DOCUMENTID  
left join ATHENAONE.MEDICATION  m with(nolock) on m.FDBMEDID=d.FBDMEDID  
join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID            
where p.type='CLINICALVACCINE' and d.STATUS='Closed' and e.ENCOUNTERSTATUS ='closed'   
and p.ADMINISTEREDDATETIME between @startdate and @enddate   
and ADMINISTERYN='Y'  
  
  
alter table #TempVaccineReport  
add Comments Varchar(100)  
  
alter table #TempVaccineReport  
add VaccineType Varchar(100)  
  
--alter table #TempVaccineReport  
--add Insurance Varchar(100)  
  
  
update #TempVaccineReport set VaccineType='Covid Vaccine'  
where (VACCINENAME like '%covid%'  
or CLINICALORDERTYPE  like '%covid%'  
or MEDICATIONNAME  like '%covid%'  
)  
  
/* Flu list provided by kayla mustard  
Flu Vaccine (Flublok, Flumist, Fluzone High Dose,   
Fluzone MDV, and Fluzone PFS)   
I think this is all Flu vaccines.  
*/  
  
  
update #TempVaccineReport set VaccineType='Flu Vaccine'  
where (VACCINENAME like '%flu%'  
or CLINICALORDERTYPE  like '%flu%'  
or MEDICATIONNAME  like '%flu%'  
  
)  
  
/*  list provided by kayla mustard  
Pneumococcal Vaccines (Prevnar 13, Prevnar 20, and Pneumovax 23)  
*/  
  
drop table if exists #SearchList  
create table #SearchList( SearchTerm VARCHAR(100))  
  
INSERT INTO #SearchList VALUES   
('Prevnar 13'), ('Prevnar 20'), ('Pneumovax 23');  
  
--select distinct VACCINENAME,CLINICALORDERTYPE,MEDICATIONNAME from #TempVaccineReport a  
--where exists   
--(select replace(SearchTerm,' ','%')+'%' SearchTerm from #SearchList s   
--where a.VACCINENAME like replace(SearchTerm,' ','%')+'%'  
--or a.CLINICALORDERTYPE  like replace(SearchTerm,' ','%')+'%'  
--or a.MEDICATIONNAME  like replace(SearchTerm,' ','%')+'%'  
--)  
--order by  VACCINENAME,CLINICALORDERTYPE,MEDICATIONNAME  
  
update a set VaccineType='Pneumococcal Vaccines'  
from #TempVaccineReport a  
where exists   
(select replace(SearchTerm,' ','%')+'%' SearchTerm from #SearchList s   
where a.VACCINENAME like replace(SearchTerm,' ','%')+'%'  
or a.CLINICALORDERTYPE  like replace(SearchTerm,' ','%')+'%'  
or a.MEDICATIONNAME  like replace(SearchTerm,' ','%')+'%'  
)  
  
delete  
from #TempVaccineReport where VaccineType is null   
  
alter table #TempVaccineReport  
add VFCSource varchar(100)  
  
  
--NULL --Private  
--V00 Private  
--V01 Private  
--V02 VFC  
--V03 VFC  
--V05 VFC  
--V07  -- Private   
--V24 Private  
--V25 VFC  
  
update   
#TempVaccineReport  
set VFCSource = case when VFCCode is null then 'Private'  
when VFCCode  in ('V00','V01','V24','V07') then 'Private'  
when VFCCode  in ('V02','V03','V05','V25') then 'VFC'  
end  
  
  
alter table #TempVaccineReport  
add payer varchar(300)  
  
update v set payer=Py.INSURANCEPACKAGETYPE  
--select v.*,Py.INSURANCEPACKAGETYPE   as Payer  
from   
#TempVaccineReport v   
join ATHENAONE.APPOINTMENT  A with(nolock) on A.APPOINTMENTID=v.APPOINTMENTID          
left join ATHENAONE.PATIENTINSURANCE as PIns with(nolock)   
on a.PRIMARYPATIENTINSURANCEID=Pins.PATIENTINSURANCEID         
left join ATHENAONE.Payer as Py  with(nolock) on Py.INSURANCEPACKAGEID =Pins.INSURANCEPACKAGEID  
  
  
alter table #TempVaccineReport  
add codedesc varchar(300)  
  
alter table #TempVaccineReport  
add FundingSourceDesc varchar(20)  
  
drop table if exists #VFCmapping  
  
create table #VFCmapping(code varchar(10) , codedesc varchar(200)   
,FundingSourceDesc varchar(20) )  
  
insert into #VFCmapping  
values ('V00', 'VFC eligibility not Determined/Unknown' ,'Private' )  
,('V01', 'Not VFC Eligible' ,'Private'   )  
,('V02', 'VFC Eligible - Medicaid/Medicaid Managed Care' ,'Public'  )  
,('V03', 'VFC Eligible - Uninsured' ,'Public'   )  
,('V04', 'VFC Eligible - American Indian/Alaskan Native' ,'Public'  )  
,('V05', 'VFC Eligible - Federally Qualified Health Center Patient (under-insured)' ,'Public' )   
,('V22', 'CHIP' ,'Public'   )  
,('V23', '317' ,'Public'   )  
,('V24', 'Medicare','Private'  )  
,('V25', 'State specific code','Public' )  
  
  
update v set codedesc =isnull(vc.codedesc,'Private'),  
FundingSourceDesc = isnull(vc.FundingSourceDesc,'Private')  
--select v.*,isnull(vc.codedesc,'Private') codedesc  
--,isnull(vc.FundingSourceDesc,'Private') FundingSourceDesc  
from   
#TempVaccineReport v   
left join   
#VFCmapping vc on vc.code=v.VFCCode  
  
  
update   
#TempVaccineReport  
set VFCSource = Upper(VFCSource)  
  
truncate table [VaccineReportMonthly]  
  
insert into [VaccineReportMonthly]  
(  
[PatientName] ,  
 [PATIENTID] ,  
 [DOCUMENTID] ,  
 [ADMINISTEREDDATE] ,  
 [VACCINENAME] ,  
 [MEDICATIONNAME] ,  
 [VFCCode] ,  
 [VFCSource] ,  
 [VFCStatus] ,  
 [Insurance] ,  
 [Fundingsource] ,  
 [VaccineType] ,appointmentid  
)  
  
select p.FIRSTNAME+' '+p.LASTNAME PatientName , p.PATIENTID,t.DOCUMENTID,  
CONVERT(VARCHAR(10), t.ADMINISTEREDDATETIME , 101) ADMINISTEREDDATE,  
VACCINENAME,MEDICATIONNAME , VFCCode ,VFCSource,codedesc as [VFCStatus],payer as Insurance,  
Fundingsourcedesc,VaccineType ,appointmentid  
from #TempVaccineReport t --10651  
join athenaone.patient p on p.PATIENTID=t.PATIENTID  
  
  
end  
  
  
  
  
  
   
  
  
  
  
  
GO
