USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[TABLESPACEINFO_BackUp]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLESPACEINFO_BackUp](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[TABLESPACEINFOID] [numeric](12, 0) NULL,
	[KEY] [varchar](max) NULL,
	[VALUE] [varchar](max) NULL,
	[REFERSTOTABLE] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](38, 0) NULL,
	[PROVIDERGROUPID] [numeric](38, 0) NULL,
	[MEDICALGROUPID] [numeric](38, 0) NULL,
	[CASENUMBER] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
