USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[NACHCEncounter]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACHCEncounter](
	[Patient_ID] [numeric](12, 0) NULL,
	[Health_Center] [varchar](500) NULL,
	[Health_Center_ID] [numeric](12, 0) NULL,
	[Encounter_ID] [numeric](12, 0) NULL,
	[Encounter_Date] [date] NULL,
	[Encounter_CPT] [varchar](200) NULL,
	[Encounter_Type] [varchar](max) NULL,
	[Telehealth_Encounter] [varchar](3) NULL,
	[Provider_Type] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
