USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[OnlyCombined]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlyCombined](
	[APatientID] [numeric](18, 0) NULL,
	[LPatientID] [numeric](18, 0) NULL,
	[LGlobalID] [numeric](18, 0) NULL,
	[ClinicalEncounters] [numeric](18, 0) NULL,
	[Scripts] [numeric](18, 0) NULL,
	[Month] [numeric](18, 0) NULL,
	[Year] [numeric](18, 0) NULL,
	[PharmacyLocation] [varchar](50) NULL
) ON [PRIMARY]
GO
