USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[FPARDataElementValues]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPARDataElementValues](
	[FPAR_2026_ColumnName] [nvarchar](255) NULL,
	[Question_in_DEValues] [nvarchar](255) NULL,
	[Question_in_AthenaDB] [nvarchar](255) NULL,
	[Answer_in_AthenaDB] [nvarchar](255) NULL,
	[Answer_in_DEValues] [nvarchar](255) NULL,
	[Validvalue] [nvarchar](255) NULL
) ON [PRIMARY]
GO
