USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[KPCA_340BFile]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPCA_340BFile](
	[CLIENT_ID] [varchar](4) NULL,
	[Status] [varchar](1) NULL,
	[NDC] [varchar](50) NULL,
	[UNITS] [varchar](51) NULL,
	[PROVIDER_ID] [varchar](50) NULL,
	[Provider_LastName] [varchar](50) NULL,
	[Provider_FirstName] [varchar](50) NULL,
	[DATE_OF_SERVICE] [datetime] NULL,
	[RECIPIENT_ID] [varchar](50) NULL,
	[RX_NBR] [int] NULL,
	[PROGRAM_ID] [varchar](max) NULL,
	[COVERED_ENTITY_ID] [varchar](10) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[AthenaPatientID] [numeric](12, 0) NULL,
	[LibertyPatientID] [varchar](50) NULL,
	[GlobalId] [varchar](50) NULL,
	[BIN] [varchar](50) NULL,
	[PCN] [varchar](50) NULL,
	[GroupNumber] [varchar](50) NULL,
	[PrimaryOrSecondary] [varchar](50) NULL,
	[Is340B] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
