USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[AthenaDepLoc_Crosswalk]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AthenaDepLoc_Crosswalk](
	[Id] [int] NULL,
	[DepartmentName] [varchar](255) NULL,
	[LocationName] [varchar](255) NULL,
	[Loc_340B_ID] [varchar](10) NULL
) ON [PRIMARY]
GO
