USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[CVSGenericNameDetails_backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVSGenericNameDetails_backup](
	[GNID] [int] IDENTITY(1,1) NOT NULL,
	[TherapyClass] [varchar](500) NULL,
	[GenericMedName] [varchar](4000) NULL,
	[Brand] [varchar](4000) NULL
) ON [PRIMARY]
GO
