USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[MedicationSubstituteNDC_SNO2]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationSubstituteNDC_SNO2](
	[SNO] [int] NULL,
	[NDC] [varchar](100) NULL,
	[MEDICATIONNAME] [varchar](255) NULL,
	[NDC in Liberty] [varchar](255) NULL,
	[Drug name] [varchar](255) NULL
) ON [PRIMARY]
GO
