USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[HigherEducation_MasterLACodes]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HigherEducation_MasterLACodes](
	[LA Code ] [varchar](50) NULL,
	[Answer] [varchar](1000) NULL,
	[Category] [varchar](100) NULL,
	[Score] [varchar](50) NULL
) ON [PRIMARY]
GO
