USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Staging_NDCPackage]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staging_NDCPackage](
	[PRODUCTID] [varchar](1000) NULL,
	[PRODUCTNDC] [varchar](50) NULL,
	[NDCPACKAGECODE] [varchar](50) NULL,
	[PACKAGEDESCRIPTION] [varchar](8000) NULL,
	[STARTMARKETINGDATE] [varchar](50) NULL,
	[ENDMARKETINGDATE] [varchar](50) NULL,
	[NDC_EXCLUDE_FLAG] [varchar](50) NULL,
	[SAMPLE_PACKAGE] [varchar](50) NULL,
	[NDCPackageCode11] [varchar](100) NULL
) ON [PRIMARY]
GO
