USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PBRI_Billing_Dashboard]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBRI_Billing_Dashboard](
	[PatientID] [bigint] NULL,
	[Charge] [numeric](18, 0) NULL,
	[Payment] [numeric](18, 0) NULL,
	[PatientName] [nvarchar](100) NULL,
	[sex] [nvarchar](50) NULL,
	[CITY] [nvarchar](200) NULL,
	[Dob] [date] NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[STATE] [nvarchar](50) NULL,
	[zip] [nvarchar](50) NULL,
	[INSURANCEREPORTINGCATEGORY] [nvarchar](200) NULL,
	[SchedulingName] [nvarchar](200) NULL,
	[PROVIDERID] [bigint] NULL,
	[APPOINTMENTID] [bigint] NULL,
	[NoofEncounters] [bigint] NULL,
	[Pyear] [int] NULL,
	[PMonth] [int] NULL,
	[TotalPatientBalance] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
