USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PBIR_Clinical_Dashboard_with_BP]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBIR_Clinical_Dashboard_with_BP](
	[AthenaPatientID] [numeric](12, 0) NULL,
	[PatientName] [varchar](1001) NULL,
	[Date_Of_Birth] [date] NULL,
	[Age] [bigint] NULL,
	[Patient_Gender] [varchar](6) NOT NULL,
	[EncounterDate] [date] NULL,
	[DocumentID] [numeric](12, 0) NULL,
	[ClinicalEncounterID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[ProvID] [decimal](12, 0) NULL,
	[SchedulingName] [varchar](30) NULL,
	[BPTestDate] [date] NULL,
	[BloodPressureSystolic] [float] NULL,
	[BloodPressureDiastolic] [float] NULL,
	[A1c] [varchar](max) NULL,
	[Potassium] [varchar](max) NULL,
	[Creatinine] [varchar](max) NULL,
	[PatientWeight] [float] NULL,
	[PatientHeight] [float] NULL,
	[HEARTRATE] [varchar](max) NULL,
	[A1c_Types] [varchar](max) NULL,
	[Albumin] [varchar](max) NULL,
	[ALT] [varchar](max) NULL,
	[AST] [varchar](max) NULL,
	[BUN] [varchar](max) NULL,
	[SODIUM] [varchar](max) NULL,
	[CALCIUM] [varchar](max) NULL,
	[MAGNESIUM] [varchar](max) NULL,
	[PHOSPHATE] [varchar](max) NULL,
	[CHLORIDE] [varchar](max) NULL,
	[HEMOGLOBIN] [varchar](max) NULL,
	[TSH] [varchar](max) NULL,
	[T3] [varchar](max) NULL,
	[VITAMIN_D] [varchar](max) NULL,
	[LDL] [varchar](max) NULL,
	[HDL] [varchar](max) NULL,
	[Triglycerides] [varchar](max) NULL,
	[Total_Cholesterol] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
