USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Athena&Liberty_Rendering_Provider-2]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[Athena&Liberty_Rendering_Provider-2]
AS  
/*****************************************************************************************************************************************************
Object		:     Athena&Liberty_Rendering_Provider
Created By	:     SIVA
Created on	:     09/23/2021
Description	:	  RenderingProvider Financial Details

History:          MM/DD/YYYY  Modified User   Request Content
                  09/23/2021  NK             Initial creation
*******************************************************************************************************************************************************/
BEGIN 			
							IF OBJECT_ID('tempdb..#afp') IS NOT NULL
							DROP TABLE #afp
							IF OBJECT_ID('tempdb..#cep') IS NOT NULL
							DROP TABLE #cep
							IF OBJECT_ID('tempdb..#psp') IS NOT NULL
							DROP TABLE #psp
							IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL
							DROP TABLE #Liberty
							IF OBJECT_ID('tempdb..#final') IS NOT NULL
							DROP TABLE #final

select distinct max(AF.ProviderName) as ProviderName,
max(AF.PRIMARYPATIENTINSURANCEID) as PRIMARYPATIENTINSURANCEID
,SUM(AF.CurrentCharge+af.LateCharge ) AS Charge
,SUM(AF.Payment) AS Payment
,max(P.PatientID) as patientID
, P.FirstName
, P.LastName
, P.Sex
, P.city
,P.DOB
,P.ADDRESS
,P.STATE
,P.ZIP
into #afp
FROM Financials.ActivityFact as AF (nolock)
inner Join athenaone.Patient as P (nolock) on
af.PatientID=p.PatientID
and af.CONTEXTID=p.CONTEXTID
GROUP BY
 P.FirstName
, P.LastName
, P.Sex
, P.city
,P.ADDRESS
,P.STATE
,P.ZIP
,P.DOB



select distinct
COUNT(ce.ClinicalEncounterID) AS ClinicalEncounterID
,max(p.PATIENTID) as PATIENTID
into #cep
from athenaone.ClinicalEncounter as CE (nolock)  
inner join athenaone.Patient as p (nolock) on
ce.PatientID=p.patientID
and ce.CONTEXTID=p.CONTEXTID
GROUP BY p.PATIENTID


select  
PS.TotalPatientBalance 
,p.PATIENTID
,max(PS.LASTMODIFIEDDATETIME) as LASTMODIFIEDDATETIME,
ROW_NUMBER() OVER(PARTITION BY p.PATIENTID ORDER BY LASTMODIFIEDDATETIME desc) as rn
into  #psp
from athenaone.PatientStatement as ps (nolock)  
inner join athenaone.Patient as p (nolock) on
ps.PatientID=p.patientID
and ps.CONTEXTID=p.CONTEXTID
GROUP BY p.PATIENTID,PS.TotalPatientBalance,PS.LASTMODIFIEDDATETIME
order by ps.LASTMODIFIEDDATETIME desc


SELECT distinct
max(P2.PatientId) as PatientId,
P2.GlobalId,
max(st.ScriptNumber) as ScriptNumber,
st.DateDispensedSQL as DateDispensedSQL,
sum(st.Total) as Total,
sum(st.Copay) as Copay,
sum(st.RequestedACQ) as RequestedACQ
into  #Liberty
from PP_ODS..rxqPatient as P2 (nolock)
inner join PP_ODS..rxqScriptBase as SB (nolock) on
P2.PatientID=SB.PatientId
and P2.Source_Indicator=SB.Source_Indicator
inner JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on
ST.scriptNumber=SB.ScriptNumber
and ST.Source_Indicator=SB.Source_Indicator
where st.DateDispensedSQL <> '9999-09-09'
group by P2.PatientId,
P2.GlobalId ,
p2.PatientId
,st.DateDispensedSQL





select distinct
A.ProviderName
,CAST(A.PRIMARYPATIENTINSURANCEID AS varchar) as PayerId 
,A.Charge
,A.Payment
,CAST(A.PatientID AS varchar) AS PatientID
,A.FirstName
,A.LastName
,A.Sex
,A.DOB
,A.city
,A.ADDRESS AS Address
,A.STATE As State
,A.ZIP As ZipCode
,TotalPatientBalance as Balance
,ClinicalEncounterID
, scriptnumber 
,Total
,Copay
,RequestedACQ
,GlobalId
,l.DateDispensedSQL
INTO #Final
From #afp as a 
inner join  #Liberty as l  on
cast(a.PATIENTID as varchar)=L.GlobalId 
inner join #cep as c  on
c.patientid=a.PATIENTID
inner join #psp  as p  on
p.PATIENTID=c.PATIENTID
where  rn=1  and 
not exists (
    select * 
    from #Liberty high 
    where l.GlobalId=high.GlobalId
    and high.DateDispensedSQL > L.DateDispensedSQL 
	)


SELECT * FROM #Final (nolock)


 END

GO
