USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[NACHCDemographics]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACHCDemographics](
	[Patient_ID] [numeric](12, 0) NULL,
	[Health_Center] [varchar](200) NULL,
	[Birth_Date] [date] NULL,
	[Death_Date] [date] NULL,
	[Sex] [varchar](10) NULL,
	[Race] [varchar](100) NULL,
	[Ethnicity] [varchar](100) NULL,
	[Language] [varchar](50) NULL,
	[Sexual_Orientation] [varchar](100) NULL,
	[Gender_Identity] [varchar](100) NULL,
	[Housing] [varchar](250) NULL,
	[HouseHold_Size] [numeric](2, 0) NULL,
	[Housing_Status] [varchar](50) NULL,
	[ZIP] [varchar](50) NULL,
	[STATE] [varchar](10) NULL,
	[Insurance_Type] [varchar](100) NULL,
	[FPL] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
