USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PBIR_Clinical_Dashboard_BACKUP]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBIR_Clinical_Dashboard_BACKUP](
	[AthenaPatientID] [numeric](12, 0) NULL,
	[PatientName] [varchar](max) NULL,
	[Date_Of_Birth] [date] NULL,
	[Age] [bigint] NULL,
	[Patient_Gender] [varchar](6) NULL,
	[LibertyPatientID] [varchar](50) NULL,
	[DrugName] [varchar](75) NULL,
	[Prescribing_ProviderName] [varchar](101) NULL,
	[ProviderID] [varchar](50) NULL,
	[Date_Filled] [date] NULL,
	[PharmacyName] [nvarchar](100) NULL,
	[Patient_CustomeField_3] [varchar](50) NULL,
	[Patient_CustomField_4] [varchar](50) NULL,
	[Drug_CustomField_1] [varchar](50) NULL,
	[VisitDate] [date] NULL,
	[GenericProductIdentifier] [char](14) NULL,
	[A1c] [varchar](max) NULL,
	[Potassium] [varchar](max) NULL,
	[Creatinine] [varchar](max) NULL,
	[PatientWeight] [float] NULL,
	[PatientHeight] [float] NULL,
	[BloodPressureSystolic] [varchar](max) NULL,
	[BloodPressureDiastolic] [varchar](max) NULL,
	[HEARTRATE] [varchar](max) NULL,
	[A1c_Types] [varchar](max) NULL,
	[Albumin] [varchar](max) NULL,
	[ALT] [varchar](max) NULL,
	[AST] [varchar](max) NULL,
	[BUN] [varchar](max) NULL,
	[SODIUM] [varchar](max) NULL,
	[CALCIUM] [varchar](max) NULL,
	[MAGNESIUM] [varchar](max) NULL,
	[PHOSPHATE] [varchar](max) NULL,
	[CHLORIDE] [varchar](max) NULL,
	[HEMOGLOBIN] [varchar](max) NULL,
	[TSH] [varchar](max) NULL,
	[T3] [varchar](max) NULL,
	[VITAMIN_D] [varchar](max) NULL,
	[Therapeutic_DrugClass] [nvarchar](255) NULL,
	[LDL] [varchar](max) NULL,
	[HDL] [varchar](max) NULL,
	[Triglycerides] [varchar](max) NULL,
	[Total_Cholesterol] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
