USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[NACHCPatientvaccine_OLD]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACHCPatientvaccine_OLD](
	[PatientID] [varchar](30) NULL,
	[Vaccine_type] [varchar](20) NULL,
	[HealthCenter] [varchar](50) NULL,
	[VaccineGivenDate] [date] NULL,
	[AppointmentDate] [date] NULL,
	[EligibleEncounterType] [varchar](50) NULL,
	[EncounterCPT] [varchar](50) NULL,
	[PROVIDERTYPE] [varchar](50) NULL,
	[VaccineDescription] [nvarchar](100) NULL,
	[Vaccinecode] [varchar](50) NULL,
	[VaccineExclusion] [varchar](19) NULL,
	[ADMINISTEREDDATETIME] [date] NULL
) ON [PRIMARY]
GO
