USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[TitleX_ClinicalOrderType_Staging]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleX_ClinicalOrderType_Staging](
	[ClinicalOrderType] [varchar](1000) NULL,
	[Tests] [varchar](20) NULL,
	[CreatedDateTime] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TitleX_ClinicalOrderType_Staging] ADD  CONSTRAINT [DF_CreatedDateTime]  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
