USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Chronic_Patients]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE PROCEDURE [dbo].[Chronic_Patients]
AS  
/*****************************************************************************************************************************************************
Object		:     Chronic_Patients
Created By	:     Pierce Benny
Created on	:     09/14/2022
Description	:	  Patient Diagnosis Dashboard

History:          MM/DD/YYYY  Modified User   Request Content
                  09/14/2022  Pierce Benny    Initial creation
*******************************************************************************************************************************************************/
BEGIN 	

							IF OBJECT_ID('tempdb..#DC') IS NOT NULL
									DROP TABLE #DC
							IF OBJECT_ID('tempdb..#PC') IS NOT NULL
									DROP TABLE #PC
							IF OBJECT_ID('tempdb..#DIAG') IS NOT NULL
									DROP TABLE #DIAG
							IF OBJECT_ID('tempdb..#PROC1') IS NOT NULL
									DROP TABLE #PROC1
							IF OBJECT_ID('tempdb..#Patientdatahub') IS NOT NULL
									DROP TABLE #Patientdatahub


TRUNCATE TABLE Patientdatahub1

Select P.PATIENTID,P.DOB,P.FIRSTNAME,P.LASTNAME,p.SEX, ICD.DIAGNOSISCODE,ICD.DIAGNOSISCODEDESCRIPTION,CE.CLINICALENCOUNTERID,
CE.PROVIDERID,CE.DEPARTMENTID,CE.ENCOUNTERDATE,ATP.APPOINTMENTTYPEID,ATP.APPOINTMENTTYPENAME,DP.DEPARTMENTNAME,
PD.SCHEDULINGNAME,pd.PROVIDERFIRSTNAME,pd.PROVIDERLASTNAME
into #DC
from ATHENAONE.Patient as P
inner join ATHENAONE.ClinicalEncounter as CE (NOLOCK) on
P.PATIENTID=CE.PATIENTID
inner join ATHENAONE.DOCUMENT D (nolock) on
CE.CLINICALENCOUNTERID=D.CLINICALENCOUNTERID
inner join ATHENAONE.DOCUMENTDIAGNOSIS DGS  (nolock) on
D.DOCUMENTID=DGS.DOCUMENTID
inner join ATHENAONE.DOCUMENTDIAGNOSISICD10 DGS10 (nolock) on
DGS.DOCUMENTDIAGNOSISID=DGS10.DOCUMENTDIAGNOSISID
inner join Athenaone.ICDCodeAll ICD (nolock) on
DGS10.ICDCODEID=ICD.ICDCODEID
inner join ATHENAONE.APPOINTMENT A (NOLOCK) on
CE.APPOINTMENTID=A.APPOINTMENTID
inner join ATHENAONE.APPOINTMENTTYPE ATP (NOLOCK) on
A.APPOINTMENTTYPEID=ATP.APPOINTMENTTYPEID
inner join ATHENAONE.DEPARTMENT DP (NOLOCK) on  
DP.DEPARTMENTID=ce.DEPARTMENTID
inner join ATHENAONE.PROVIDER PD (NOLOCK) ON 
PD.PROVIDERID=CE.PROVIDERID
Where ICD.DIAGNOSISCODE in ('J449','J441','J440')--('4280','Z9981','I10','I12',)
and CE.ENCOUNTERDATE BETWEEN CAST(dateadd(month,datediff(month,0,getdate())-12,0) as date) and cast(GETDATE() as Date)
and CE.ENCOUNTERSTATUS='Closed'
--and P.PATIENTID in (132895,114561)
--and CE.CLINICALENCOUNTERID=3590762
order by --P.PATIENTID,ICD.DIAGNOSISCODE,
CE.ENCOUNTERDATE desc

--select GETDATE()

--drop table #DC
---Sub Query to get latest records of Diagnosis----
select DC1.PATIENTID,DC1.DOB,DC1.FIRSTNAME,DC1.LASTNAME,DC1.DIAGNOSISCODE,DC1.DIAGNOSISCODEDESCRIPTION,DC1.CLINICALENCOUNTERID,
DC1.PROVIDERID,DC1.DEPARTMENTID,DC1.ENCOUNTERDATE,DC1.APPOINTMENTTYPEID,DC1.APPOINTMENTTYPENAME,
DC1.DEPARTMENTNAME,DC1.SCHEDULINGNAME,DC1.PROVIDERFIRSTNAME,dc1.SEX
from #DC DC1
inner join (
select PATIENTID, max(ENCOUNTERDATE) as MaxDate
from #DC
group by PATIENTID) DC2 on DC1.PATIENTID = DC2.PATIENTID and DC1.ENCOUNTERDATE = DC2.MaxDate
order by DC1.PATIENTID,DC1.ENCOUNTERDATE desc

--select * from #DC
--where patientid=195047
--Drop table #DC


-----Procedure Related------APP TYPE--Latest--
Select P.PATIENTID,P.DOB,P.FIRSTNAME,P.LASTNAME,PC.PROCEDURECODE,PC.PROCEDURECODEDESCRIPTION,CE.CLINICALENCOUNTERID,
CE.PROVIDERID,CE.DEPARTMENTID,CE.ENCOUNTERDATE,ATP.APPOINTMENTTYPEID,ATP.APPOINTMENTTYPENAME 
into #PC
from ATHENAONE.Patient as P (nolock)
inner join ATHENAONE.ClinicalEncounter as CE (nolock) on
P.PATIENTID=CE.PATIENTID
inner join ATHENAONE.DOCUMENT as d (nolock) on
CE.CLINICALENCOUNTERID=D.CLINICALENCOUNTERID
inner join ATHENAONE.CLINICALSERVICE as CS (nolock) on
d.CLINICALENCOUNTERID=cs.CLINICALENCOUNTERID
inner join ATHENAONE.CLINICALSERVICEPROCEDURECODE as CSPC (nolock) on
CS.CLINICALSERVICEID=CSPC.CLINICALSERVICEID
inner join ATHENAONE.PROCEDURECODE as PC (nolock) on
CSPC.PROCEDURECODE=PC.PROCEDURECODE
inner join ATHENAONE.APPOINTMENT A (nolock) on
CE.APPOINTMENTID=A.APPOINTMENTID
inner join ATHENAONE.APPOINTMENTTYPE ATP  (nolock) on
A.APPOINTMENTTYPEID=ATP.APPOINTMENTTYPEID
Where PC.PROCEDURECODE='71046,TC'--,'G0296') 
and CE.ENCOUNTERDATE BETWEEN CAST(dateadd(month,datediff(month,0,getdate())-12,0) as date) and cast(GETDATE() as Date)
and CE.ENCOUNTERSTATUS='Closed'
--and p.PATIENTID=3461250
order by --P.PATIENTID,PC.PROCEDURECODE 
CE.ENCOUNTERDATE desc


---Sub Query to get latest records of Procedure----
select PC1.PATIENTID,PC1.DOB,PC1.FIRSTNAME,PC1.LASTNAME,PC1.PROCEDURECODE,PC1.PROCEDURECODEDESCRIPTION,PC1.CLINICALENCOUNTERID,
PC1.PROVIDERID,PC1.DEPARTMENTID,PC1.ENCOUNTERDATE,PC1.APPOINTMENTTYPEID,PC1.APPOINTMENTTYPENAME 
from #PC PC1
inner join (
select PATIENTID, max(ENCOUNTERDATE) as MaxDate
from #PC
group by PATIENTID) PC2 on PC1.PATIENTID = PC2.PATIENTID and PC1.ENCOUNTERDATE = PC2.MaxDate
order by PC1.PATIENTID,PC1.ENCOUNTERDATE desc

--Select * from #PC
--Drop table #PC

--Calling subquery of latest records to Temp Tables---
select DC1.PATIENTID as PatientID,DC1.DOB as DOB,DC1.FIRSTNAME as FN,DC1.LASTNAME as LN,DC1.DIAGNOSISCODE as CODE,
DC1.DIAGNOSISCODEDESCRIPTION as DECS,DC1.CLINICALENCOUNTERID as CLinicalEncounterID,
DC1.PROVIDERID as ProviderID,DC1.DEPARTMENTID as DepartmentID,DC1.ENCOUNTERDATE as DTE,
DC1.APPOINTMENTTYPEID as ATYPEID,DC1.APPOINTMENTTYPENAME as ATYPENAME,
DC1.sex,DC1.DEPARTMENTNAME,DC1.SCHEDULINGNAME,DC1.PROVIDERFIRSTNAME
into #DIAG
from #DC DC1
inner join (
select PATIENTID, max(ENCOUNTERDATE) as MaxDate
from #DC
group by PATIENTID) DC2 on DC1.PATIENTID = DC2.PATIENTID and DC1.ENCOUNTERDATE = DC2.MaxDate
order by DC1.PATIENTID,DC1.ENCOUNTERDATE desc

select PC1.PATIENTID as PatientID,
--PC1.DOB as DOB,PC1.FIRSTNAME as FN,PC1.LASTNAME as LN,
PC1.PROCEDURECODE as CODE,
PC1.PROCEDURECODEDESCRIPTION as DECS,PC1.CLINICALENCOUNTERID as CLinicalEncounterID,
--PC1.PROVIDERID as ProviderID,PC1.DEPARTMENTID as DepartmentID,
PC1.ENCOUNTERDATE as DTE,
PC1.APPOINTMENTTYPEID as ATYPEID,PC1.APPOINTMENTTYPENAME as ATYPENAME
Into #PROC1
from #PC PC1
inner join (
select PATIENTID, max(ENCOUNTERDATE) as MaxDate
from #PC
group by PATIENTID) PC2 on PC1.PATIENTID = PC2.PATIENTID and PC1.ENCOUNTERDATE = PC2.MaxDate
order by PC1.PATIENTID,PC1.ENCOUNTERDATE desc

--Select * from #DIAG
--Select * from #PROC1

--drop table #DIAG
--drop table #PROC1

--Select * from #DIAG T1
--inner join #PROC1 T2  on
--T1.patientid=T2.patientid 

--Select * from Patientdatahub1
--where rn=1
--where PatientID=195047
--drop table Patientdatahub1
--Truncate table Patientdatahub1

--alter table Patientdatahub1
--add ApTypeIDD varchar(max),
--ApTypeNameD varchar (max),
--ApTypeIDP varchar (max),
--ApTypeNameP varchar (max)


Select T1.PatientID,CONCAT(T1.FN,' ',T1.LN) as PatientName,T1.DOB,t1.sex, T1.CODE as DiagnosisCode,T1.DECS as DiagnosisName,
T1.ClinicalEncounterID,t1.SCHEDULINGNAME,t1.PROVIDERFIRSTNAME,T1.ProviderID,T1.DepartmentID,t1.DEPARTMENTNAME,T1.DTE as DiagnosisDate,
T1.ATYPEID as ApTypeIDD,T1.ATYPENAME as ApTypeNameD,
T2.PatientID as ProcedurePatientID,T2.CODE as ProcedureCode,T2.DECS AS ProcedureName,T2.ClinicalEncounterID as ProcedureClinicalEncounterID,
T2.DTE as ProcedureDaTE,T2.ATYPEID as ApTypeIDP,T2.ATYPENAME as ApTypeNameP,
ROW_NUMBER() over (partition by T1.PatientID,T1.ClinicalEncounterID order by T1.DTE desc) as rn
INTO #Patientdatahub
from #DIAG T1
left join #PROC1 T2  on
T1.patientid=T2.patientid 

--Select * from #Patientdatahub

Insert into Patientdatahub1
Select * from #Patientdatahub
where rn=1


--Select * 
--into Patientdatahub1 from #Patientdatahub
--where rn=1

--Select * from #DIAG as D3
--full outer join #PROC1 as P3
--on D3.patientID=P3.PatientID

--select Comb.* into #Union 
--from ( select * from #DIAG union 
--		Select * from #PROC1) Comb

--select * from #Union 
--order by patientid,dte desc

end



GO
