USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PatientLDLReport]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CReate procedure [dbo].[Sp_PatientLDLReport]
as 
begin

drop table if exists #MedaidPCNlist

select * into #MedaidPCNlist
from 
(
select '024251' as BIN,'OHRXPROD'  as PCN
union select '024251' as BIN,'OHRXPFFS'  as PCN
union select '015863' as BIN,'OHRXPFFS'  as PCN
union select '610591' as BIN,'OHRXPROD'  as PCN
union select '015863' as BIN,'OHRXPFFS'  as PCN
union select '004336' as BIN,'MCAIDOH'  as PCN
union select '23880' as BIN,'KYPROD1'  as PCN
union select '011529' as BIN,'P022011529'  as PCN
union select '610591' as BIN,'ADV'  as PCN
union select '026309' as BIN,'KYPROD1'  as PCN
union select '003858' as BIN,'MA'  as PCN
union select '610011' as BIN,'KYPROD1'  as PCN
union select '004336' as BIN,'KYPROD1'  as PCN
union select '004336' as BIN,'MCAIDADV'  as PCN
union select '020107' as BIN,'KY'  as PCN
)abc

drop table if exists #StatinNdcList

select * 
into #StatinNdcList
from 
(
select 'ATORVASTATIN TAB 80MG' as Drugname,'60505-2671-09' as NDC,'High' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'00378-3953-77' as NDC,'High' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'72205-0025-05' as NDC,'High' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'00378-3953-05' as NDC,'High' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'67877-0514-90' as NDC,'High' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'63304-0830-05' as NDC,'High' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'63304-0830-90' as NDC,'High' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'43598-0833-05' as NDC,'High' as Intensity
union select 'ROSUVASTATIN CALCIUM 20 MG TAB' as Drugname,'31722-0884-90' as NDC,'High' as Intensity
union select 'ROSUVASTATIN CALCIUM 20 MG TAB' as Drugname,'68462-0263-90' as NDC,'High' as Intensity
union select 'ROSUVASTATIN CALCIUM 20MG TABLET' as Drugname,'65862-0295-90' as NDC,'High' as Intensity
union select 'ROSUVASTATIN CALCIUM 40 MG TAB' as Drugname,'68462-0264-30' as NDC,'High' as Intensity
union select 'ROSUVASTATIN CALCIUM 40 MG TAB' as Drugname,'57237-0171-90' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'27808-0157-01' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'67877-0441-90' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'50228-0118-90' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'70377-0008-12' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'72205-0004-99' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'27808-0157-03' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'72205-0004-90' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'68462-0263-10' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'57237-0170-99' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 20MG' as Drugname,'16729-0286-15' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'72205-0005-90' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'31722-0885-30' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'27808-0158-01' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'50228-0119-30' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'27808-0158-03' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'72205-0005-99' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'16729-0287-10' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'70377-0009-11' as NDC,'High' as Intensity
union select 'ROSUVASTATIN TAB 40MG' as Drugname,'70377-0009-13' as NDC,'High' as Intensity
union select 'ATORVASTATIN 40 MG TABLET' as Drugname,'59762-0157-01' as NDC,'High ' as Intensity
union select 'ATORVASTATIN 40 MG TABLET' as Drugname,'60505-2580-08' as NDC,'High ' as Intensity
union select 'ATORVASTATIN 40 MG TABLET' as Drugname,'55111-0123-05' as NDC,'High ' as Intensity
union select 'ATORVASTATIN 80 MG TABLET' as Drugname,'60505-2671-08' as NDC,'High ' as Intensity
union select 'ATORVASTATIN 80 MG TABLET' as Drugname,'68084-0590-25' as NDC,'High ' as Intensity
union select 'ATORVASTATIN 80MG TABLET' as Drugname,'55111-0124-05' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'00378-3952-77' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'00378-3952-05' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'60505-2580-09' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'72205-0024-05' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'43598-0832-90' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'43598-0832-05' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'67877-0513-90' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'67877-0513-05' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'67877-0513-10' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'68180-0637-02' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 40MG' as Drugname,'75834-0257-01' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'68382-0252-10' as NDC,'High ' as Intensity
union select 'ATORVASTATIN TAB 80MG' as Drugname,'69097-0947-05' as NDC,'High ' as Intensity
union select 'LOVASTATIN   TAB 10MG' as Drugname,'68001-0314-00' as NDC,'Low' as Intensity
union select 'LOVASTATIN   TAB 10MG' as Drugname,'00093-0926-06' as NDC,'Low' as Intensity
union select 'LOVASTATIN   TAB 20MG' as Drugname,'68001-0315-00' as NDC,'Low' as Intensity
union select 'LOVASTATIN   TAB 20MG' as Drugname,'68180-0468-01' as NDC,'Low' as Intensity
union select 'LOVASTATIN   TAB 20MG' as Drugname,'00093-0576-06' as NDC,'Low' as Intensity
union select 'LOVASTATIN   TAB 20MG' as Drugname,'68180-0468-07' as NDC,'Low' as Intensity
union select 'LOVASTATIN 10 MG TABLET' as Drugname,'68180-0467-01' as NDC,'Low' as Intensity
union select 'LOVASTATIN 10 MG TABLET' as Drugname,'68180-0467-07' as NDC,'Low' as Intensity
union select 'LOVASTATIN 20 MG TABLET' as Drugname,'68180-0468-03' as NDC,'Low' as Intensity
union select 'PRAVASTATIN  TAB 10MG' as Drugname,'60505-0168-09' as NDC,'Low' as Intensity
union select 'PRAVASTATIN  TAB 10MG' as Drugname,'00093-0771-98' as NDC,'Low' as Intensity
union select 'PRAVASTATIN  TAB 10MG' as Drugname,'60505-0168-05' as NDC,'Low' as Intensity
union select 'PRAVASTATIN  TAB 10MG' as Drugname,'00093-0771-10' as NDC,'Low' as Intensity
union select 'PRAVASTATIN  TAB 20MG' as Drugname,'00093-7201-98' as NDC,'Low' as Intensity
union select 'PRAVASTATIN  TAB 80MG' as Drugname,'00093-7270-10' as NDC,'Low' as Intensity
union select 'PRAVASTATIN SODIUM 10 MG TAB' as Drugname,'68462-0195-90' as NDC,'Low' as Intensity
union select 'PRAVASTATIN SODIUM 20 MG TAB' as Drugname,'68462-0196-05' as NDC,'Low' as Intensity
union select 'PRAVASTATIN SODIUM 20 MG TAB' as Drugname,'00093-7201-10' as NDC,'Low' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'72205-0027-99' as NDC,'Low' as Intensity
union select 'SIMVASTATIN  TAB 10MG' as Drugname,'68180-0478-02' as NDC,'Low' as Intensity
union select 'SIMVASTATIN  TAB 10MG' as Drugname,'68180-0478-01' as NDC,'Low' as Intensity
union select 'SIMVASTATIN  TAB 10MG' as Drugname,'68180-0478-03' as NDC,'Low' as Intensity
union select 'SIMVASTATIN  TAB 5MG' as Drugname,'65862-0050-90' as NDC,'Low' as Intensity
union select 'SIMVASTATIN  TAB 5MG' as Drugname,'16729-0156-15' as NDC,'Low' as Intensity
union select 'SIMVASTATIN  TAB 5MG' as Drugname,'70377-0001-14' as NDC,'Low' as Intensity
union select 'SIMVASTATIN 10 MG TABLET' as Drugname,'16729-0004-15' as NDC,'Low' as Intensity
union select 'ATORVASTATIN 10 MG TABLET' as Drugname,'60505-2578-08' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN 10 MG TABLET' as Drugname,'59762-0155-01' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN 20 MG TABLET' as Drugname,'59762-0156-01' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 10MG' as Drugname,'60505-2578-09' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 10MG' as Drugname,'00378-3950-77' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 10MG' as Drugname,'72205-0022-90' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 10MG' as Drugname,'63304-0827-05' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 10MG' as Drugname,'00378-3950-05' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 10MG' as Drugname,'72205-0022-05' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'00378-3951-77' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'60505-2579-09' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'67877-0512-90' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'43598-0831-90' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'63304-0828-05' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'60505-2579-08' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'00378-3951-05' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'43598-0831-05' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'72205-0023-05' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'67877-0512-10' as NDC,'Moderate' as Intensity
union select 'ATORVASTATIN TAB 20MG' as Drugname,'68180-0636-09' as NDC,'Moderate' as Intensity
union select 'LOVASTATIN   TAB 40MG' as Drugname,'00093-0928-06' as NDC,'Moderate' as Intensity
union select 'LOVASTATIN   TAB 40MG' as Drugname,'68180-0469-07' as NDC,'Moderate' as Intensity
union select 'LOVASTATIN   TAB 40MG' as Drugname,'68001-0316-00' as NDC,'Moderate' as Intensity
union select 'LOVASTATIN   TAB 40MG' as Drugname,'68180-0469-01' as NDC,'Moderate' as Intensity
union select 'LOVASTATIN 40 MG TABLET' as Drugname,'68001-0316-08' as NDC,'Moderate' as Intensity
union select 'LOVASTATIN 40 MG TABLET' as Drugname,'68180-0469-03' as NDC,'Moderate' as Intensity
union select 'LOVASTATIN 40MG TABLET' as Drugname,'00093-0928-10' as NDC,'Moderate' as Intensity
union select 'PITAVASTATIN TAB 1MG' as Drugname,'68382-0481-16' as NDC,'Moderate' as Intensity
union select 'PITAVASTATIN TAB 1MG' as Drugname,'00378-5055-77' as NDC,'Moderate' as Intensity
union select 'PITAVASTATIN TAB 2MG' as Drugname,'68382-0482-16' as NDC,'Moderate' as Intensity
union select 'PITAVASTATIN TAB 4MG' as Drugname,'68382-0483-16' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN  TAB 40MG' as Drugname,'00093-7202-98' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN  TAB 80MG' as Drugname,'00480-7270-98' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN  TAB 80MG' as Drugname,'68462-0198-90' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN SODIUM 40 MG TAB' as Drugname,'68462-0197-90' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN SODIUM 40 MG TAB' as Drugname,'68462-0197-05' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN SODIUM 40 MG TAB' as Drugname,'00093-7202-10' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN SODIUM 40 MG TAB' as Drugname,'60505-0170-09' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN SODIUM 80 MG TAB' as Drugname,'60505-1323-09' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN SODIUM 80 MG TAB' as Drugname,'00093-7270-98' as NDC,'Moderate' as Intensity
union select 'PRAVASTATIN SODIUM 80 MG TAB' as Drugname,'60505-1323-05' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN 10 MG TABLET' as Drugname,'70377-0007-12' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN 5 MG TABLET' as Drugname,'70377-0006-12' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN CALCIUM 10 MG TAB' as Drugname,'68462-0262-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN CALCIUM 10 MG TAB' as Drugname,'31722-0883-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN CALCIUM 5 MG TAB' as Drugname,'57237-0168-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'27808-0156-01' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'57237-0169-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'67877-0440-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'65862-0294-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'27808-0156-03' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'50228-0117-05' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'50228-0117-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'57237-0169-99' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'68462-0262-10' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 10MG' as Drugname,'72205-0003-99' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'67877-0439-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'27808-0155-01' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'50228-0116-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'31722-0882-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'65862-0293-90' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'16729-0284-15' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'27808-0155-03' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'50228-0116-05' as NDC,'Moderate' as Intensity
union select 'ROSUVASTATIN TAB 5MG' as Drugname,'13668-0179-90' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 20MG' as Drugname,'65862-0052-90' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 20MG' as Drugname,'68180-0479-02' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 20MG' as Drugname,'16729-0005-15' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 20MG' as Drugname,'70377-0003-15' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 40MG' as Drugname,'68180-0464-09' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 40MG' as Drugname,'68180-0464-03' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 40MG' as Drugname,'70377-0004-15' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 80MG' as Drugname,'68180-0465-09' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 80MG' as Drugname,'68180-0465-06' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN  TAB 80MG' as Drugname,'68180-0465-03' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 20 MG TABLET' as Drugname,'68180-0479-01' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 20 MG TABLET' as Drugname,'68180-0479-03' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 20 MG TABLET' as Drugname,'16729-0005-17' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 40 MG TABLET' as Drugname,'16729-0006-15' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 40 MG TABLET' as Drugname,'68180-0464-06' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 40 MG TABLET' as Drugname,'16729-0006-17' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 40 MG TABLET' as Drugname,'65862-0053-90' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 80 MG TABLET' as Drugname,'65862-0054-90' as NDC,'Moderate' as Intensity
union select 'SIMVASTATIN 80 MG TABLET' as Drugname,'16729-0007-15' as NDC,'Moderate' as Intensity
) abc


update #StatinNdcList set NDC=replace(NDC,'-','')


Drop table if exists #ClinicalPatients
select * into #ClinicalPatients
from 
(
select '103210' as Clinicalpatient
union select '153073' as Clinicalpatient
union select '171943' as Clinicalpatient
union select '134348' as Clinicalpatient
union select '133097' as Clinicalpatient
union select '89029' as Clinicalpatient
union select '88035' as Clinicalpatient
union select '101602' as Clinicalpatient
union select '107025' as Clinicalpatient
union select '149239' as Clinicalpatient
union select '108316' as Clinicalpatient
union select '135896' as Clinicalpatient
union select '157325' as Clinicalpatient
union select '222613' as Clinicalpatient
union select '178793' as Clinicalpatient
union select '89971' as Clinicalpatient
union select '78763' as Clinicalpatient
union select '126425' as Clinicalpatient
union select '130901' as Clinicalpatient
union select '113262' as Clinicalpatient
union select '144394' as Clinicalpatient
union select '221879' as Clinicalpatient
union select '135762' as Clinicalpatient
union select '154921' as Clinicalpatient
union select '83907' as Clinicalpatient
union select '86218' as Clinicalpatient
union select '78858' as Clinicalpatient
union select '83461' as Clinicalpatient
union select '152994' as Clinicalpatient
union select '178458' as Clinicalpatient
union select '124587' as Clinicalpatient
union select '120036' as Clinicalpatient
union select '114700' as Clinicalpatient
union select '93781' as Clinicalpatient
union select '135892' as Clinicalpatient
union select '76583' as Clinicalpatient
union select '77307' as Clinicalpatient
union select '107113' as Clinicalpatient
union select '170242' as Clinicalpatient
union select '202165' as Clinicalpatient
union select '89231' as Clinicalpatient
union select '81354' as Clinicalpatient
union select '157620' as Clinicalpatient
union select '83988' as Clinicalpatient
union select '206915' as Clinicalpatient
union select '129967' as Clinicalpatient
union select '77355' as Clinicalpatient
union select '128631' as Clinicalpatient
union select '183474' as Clinicalpatient
union select '128995' as Clinicalpatient
union select '77304' as Clinicalpatient
union select '128445' as Clinicalpatient
union select '178477' as Clinicalpatient
union select '117018' as Clinicalpatient
union select '201859' as Clinicalpatient
union select '102442' as Clinicalpatient
union select '107677' as Clinicalpatient
union select '149244' as Clinicalpatient
union select '155745' as Clinicalpatient
union select '223152' as Clinicalpatient
union select '77366' as Clinicalpatient
union select '81394' as Clinicalpatient
union select '148107' as Clinicalpatient
union select '94376' as Clinicalpatient
union select '145323' as Clinicalpatient
union select '84497' as Clinicalpatient
union select '139601' as Clinicalpatient
union select '90810' as Clinicalpatient
union select '198076' as Clinicalpatient
union select '121254' as Clinicalpatient
union select '85439' as Clinicalpatient
union select '81574' as Clinicalpatient
union select '77349' as Clinicalpatient
union select '102444' as Clinicalpatient
union select '120942' as Clinicalpatient
union select '128652' as Clinicalpatient
union select '179718' as Clinicalpatient
union select '100206' as Clinicalpatient
union select '96814' as Clinicalpatient
union select '215617' as Clinicalpatient
union select '182907' as Clinicalpatient
union select '82562' as Clinicalpatient
union select '144878' as Clinicalpatient
union select '82119' as Clinicalpatient
union select '179433' as Clinicalpatient
union select '95599' as Clinicalpatient
union select '179221' as Clinicalpatient
union select '103387' as Clinicalpatient
union select '208785' as Clinicalpatient
union select '90852' as Clinicalpatient
union select '85435' as Clinicalpatient
union select '179758' as Clinicalpatient
union select '223316' as Clinicalpatient
union select '76248' as Clinicalpatient
union select '208784' as Clinicalpatient
union select '110622' as Clinicalpatient
union select '200047' as Clinicalpatient
union select '107210' as Clinicalpatient
union select '96668' as Clinicalpatient
union select '111571' as Clinicalpatient
union select '102514' as Clinicalpatient
union select '94431' as Clinicalpatient
union select '142077' as Clinicalpatient
union select '107326' as Clinicalpatient
union select '224927' as Clinicalpatient
union select '82171' as Clinicalpatient
union select '180902' as Clinicalpatient
union select '124589' as Clinicalpatient
union select '131588' as Clinicalpatient
union select '144093' as Clinicalpatient
union select '178648' as Clinicalpatient
union select '103363' as Clinicalpatient
union select '121251' as Clinicalpatient
union select '77737' as Clinicalpatient
union select '113469' as Clinicalpatient
union select '144175' as Clinicalpatient
union select '178839' as Clinicalpatient
union select '102535' as Clinicalpatient
union select '148766' as Clinicalpatient
union select '93936' as Clinicalpatient
union select '92781' as Clinicalpatient
union select '182223' as Clinicalpatient
union select '108463' as Clinicalpatient
union select '178246' as Clinicalpatient
union select '111399' as Clinicalpatient
union select '95647' as Clinicalpatient
union select '121434' as Clinicalpatient
union select '132203' as Clinicalpatient
union select '135873' as Clinicalpatient
union select '201967' as Clinicalpatient
union select '198329' as Clinicalpatient
union select '109754' as Clinicalpatient
union select '109431' as Clinicalpatient
union select '157950' as Clinicalpatient
union select '220700' as Clinicalpatient
union select '115218' as Clinicalpatient
union select '108742' as Clinicalpatient
union select '150551' as Clinicalpatient
union select '220386' as Clinicalpatient
union select '166608' as Clinicalpatient
union select '100143' as Clinicalpatient
union select '105994' as Clinicalpatient
union select '111404' as Clinicalpatient
union select '145401' as Clinicalpatient
union select '171309' as Clinicalpatient
union select '132436' as Clinicalpatient
union select '206505' as Clinicalpatient
union select '145543' as Clinicalpatient
union select '145202' as Clinicalpatient
union select '161972' as Clinicalpatient
union select '97517' as Clinicalpatient
union select '87020' as Clinicalpatient
union select '178408' as Clinicalpatient
union select '125256' as Clinicalpatient
union select '179229' as Clinicalpatient
union select '94427' as Clinicalpatient
union select '196943' as Clinicalpatient
union select '134333' as Clinicalpatient
union select '132541' as Clinicalpatient
union select '119939' as Clinicalpatient
union select '137136' as Clinicalpatient
union select '203895' as Clinicalpatient
union select '179246' as Clinicalpatient
union select '150807' as Clinicalpatient
union select '122535' as Clinicalpatient
union select '88300' as Clinicalpatient
union select '144821' as Clinicalpatient
union select '83683' as Clinicalpatient
union select '138917' as Clinicalpatient
union select '133973' as Clinicalpatient
union select '110147' as Clinicalpatient
union select '209981' as Clinicalpatient
union select '100163' as Clinicalpatient
union select '223528' as Clinicalpatient
union select '106736' as Clinicalpatient
union select '125993' as Clinicalpatient
union select '181842' as Clinicalpatient
union select '168296' as Clinicalpatient
union select '152913' as Clinicalpatient
union select '197988' as Clinicalpatient
union select '95175' as Clinicalpatient
union select '98714' as Clinicalpatient
union select '102880' as Clinicalpatient
union select '165789' as Clinicalpatient
union select '127518' as Clinicalpatient
union select '123152' as Clinicalpatient
union select '108537' as Clinicalpatient
union select '147051' as Clinicalpatient
union select '179112' as Clinicalpatient
union select '101373' as Clinicalpatient
union select '223819' as Clinicalpatient
union select '96671' as Clinicalpatient
union select '139716' as Clinicalpatient
union select '87017' as Clinicalpatient
union select '178030' as Clinicalpatient
union select '82943' as Clinicalpatient
union select '85564' as Clinicalpatient
union select '136377' as Clinicalpatient
union select '106828' as Clinicalpatient
union select '103750' as Clinicalpatient
union select '113332' as Clinicalpatient
union select '213871' as Clinicalpatient
union select '168375' as Clinicalpatient
union select '225879' as Clinicalpatient
union select '201985' as Clinicalpatient
union select '148128' as Clinicalpatient
union select '185250' as Clinicalpatient
union select '180727' as Clinicalpatient
union select '80171' as Clinicalpatient
union select '110721' as Clinicalpatient
union select '208358' as Clinicalpatient
union select '175075' as Clinicalpatient
union select '139818' as Clinicalpatient
union select '202388' as Clinicalpatient
union select '98416' as Clinicalpatient
union select '134753' as Clinicalpatient
union select '179541' as Clinicalpatient
union select '90581' as Clinicalpatient
union select '93023' as Clinicalpatient
union select '102620' as Clinicalpatient
union select '106813' as Clinicalpatient
union select '94770' as Clinicalpatient
union select '226127' as Clinicalpatient
union select '96880' as Clinicalpatient
union select '143438' as Clinicalpatient
union select '206116' as Clinicalpatient
union select '98961' as Clinicalpatient
union select '101347' as Clinicalpatient
union select '147057' as Clinicalpatient
union select '221062' as Clinicalpatient
union select '159553' as Clinicalpatient
union select '77182' as Clinicalpatient
union select '92378' as Clinicalpatient
union select '120499' as Clinicalpatient
union select '205178' as Clinicalpatient
union select '130920' as Clinicalpatient
union select '210552' as Clinicalpatient
union select '154927' as Clinicalpatient
union select '133191' as Clinicalpatient
union select '175683' as Clinicalpatient
union select '152378' as Clinicalpatient
union select '118846' as Clinicalpatient
union select '151516' as Clinicalpatient
union select '112850' as Clinicalpatient
union select '184218' as Clinicalpatient
union select '149860' as Clinicalpatient
union select '124144' as Clinicalpatient
union select '135912' as Clinicalpatient
union select '222801' as Clinicalpatient
union select '83593' as Clinicalpatient
union select '150363' as Clinicalpatient
union select '100802' as Clinicalpatient
union select '179688' as Clinicalpatient
union select '97941' as Clinicalpatient
union select '84728' as Clinicalpatient
union select '132960' as Clinicalpatient
union select '76659' as Clinicalpatient
union select '218172' as Clinicalpatient
union select '122462' as Clinicalpatient
union select '172942' as Clinicalpatient
union select '220607' as Clinicalpatient
union select '76157' as Clinicalpatient
union select '179216' as Clinicalpatient
union select '81358' as Clinicalpatient
union select '212555' as Clinicalpatient
union select '200966' as Clinicalpatient
union select '78500' as Clinicalpatient
union select '130858' as Clinicalpatient
union select '145270' as Clinicalpatient
union select '102522' as Clinicalpatient
union select '223087' as Clinicalpatient
union select '87573' as Clinicalpatient
union select '122654' as Clinicalpatient
union select '130860' as Clinicalpatient
union select '111561' as Clinicalpatient
union select '218852' as Clinicalpatient
union select '100804' as Clinicalpatient
union select '126420' as Clinicalpatient
union select '114720' as Clinicalpatient
union select '119586' as Clinicalpatient
union select '93958' as Clinicalpatient
union select '173934' as Clinicalpatient
union select '146156' as Clinicalpatient
union select '138610' as Clinicalpatient
union select '102573' as Clinicalpatient
union select '148027' as Clinicalpatient
union select '215013' as Clinicalpatient
union select '129312' as Clinicalpatient
union select '113013' as Clinicalpatient
union select '135478' as Clinicalpatient
union select '223098' as Clinicalpatient
union select '89490' as Clinicalpatient
union select '88244' as Clinicalpatient
union select '172496' as Clinicalpatient
union select '129588' as Clinicalpatient
union select '87891' as Clinicalpatient
union select '226291' as Clinicalpatient
union select '180211' as Clinicalpatient
union select '75816' as Clinicalpatient
union select '180409' as Clinicalpatient
union select '114889' as Clinicalpatient
union select '179347' as Clinicalpatient
union select '213171' as Clinicalpatient
union select '146958' as Clinicalpatient
union select '105000' as Clinicalpatient
union select '138629' as Clinicalpatient
union select '92060' as Clinicalpatient
union select '98524' as Clinicalpatient
union select '119418' as Clinicalpatient
union select '139426' as Clinicalpatient
union select '84212' as Clinicalpatient
union select '179339' as Clinicalpatient
union select '83566' as Clinicalpatient
union select '227700' as Clinicalpatient
union select '138151' as Clinicalpatient
union select '178689' as Clinicalpatient
union select '85481' as Clinicalpatient
union select '179383' as Clinicalpatient
union select '222073' as Clinicalpatient
union select '77583' as Clinicalpatient
union select '145298' as Clinicalpatient
union select '121428' as Clinicalpatient
union select '221367' as Clinicalpatient
union select '145459' as Clinicalpatient
union select '99724' as Clinicalpatient
union select '122650' as Clinicalpatient
union select '145137' as Clinicalpatient
union select '130475' as Clinicalpatient
union select '146095' as Clinicalpatient
union select '120335' as Clinicalpatient
union select '222537' as Clinicalpatient
union select '113041' as Clinicalpatient
union select '126970' as Clinicalpatient
union select '90358' as Clinicalpatient
union select '88405' as Clinicalpatient
union select '80173' as Clinicalpatient
union select '131117' as Clinicalpatient
union select '145832' as Clinicalpatient
union select '166596' as Clinicalpatient
union select '107746' as Clinicalpatient
union select '113039' as Clinicalpatient
union select '212773' as Clinicalpatient
union select '143030' as Clinicalpatient
union select '178716' as Clinicalpatient
union select '132711' as Clinicalpatient
union select '227285' as Clinicalpatient
union select '165598' as Clinicalpatient
union select '90555' as Clinicalpatient
union select '138388' as Clinicalpatient
union select '117115' as Clinicalpatient
union select '206696' as Clinicalpatient
union select '126731' as Clinicalpatient
union select '131863' as Clinicalpatient
union select '122749' as Clinicalpatient
union select '113902' as Clinicalpatient
union select '159419' as Clinicalpatient
union select '213395' as Clinicalpatient
union select '117074' as Clinicalpatient
union select '79564' as Clinicalpatient
union select '156802' as Clinicalpatient
union select '102983' as Clinicalpatient
union select '219226' as Clinicalpatient
union select '135128' as Clinicalpatient
union select '225318' as Clinicalpatient
union select '82293' as Clinicalpatient
union select '179219' as Clinicalpatient
union select '83752' as Clinicalpatient
union select '196449' as Clinicalpatient
union select '151332' as Clinicalpatient
union select '180142' as Clinicalpatient
union select '226341' as Clinicalpatient
union select '217554' as Clinicalpatient
union select '105300' as Clinicalpatient
union select '122511' as Clinicalpatient
)
abc

drop table if exists #CompliancePatients
select * into #CompliancePatients
from 
(
select '82408' as CompPatient
union select '76706' as CompPatient
union select '180724' as CompPatient
union select '137571' as CompPatient
union select '156272' as CompPatient
union select '81982' as CompPatient
union select '139716' as CompPatient
union select '131421' as CompPatient
union select '169353' as CompPatient
union select '172252' as CompPatient
union select '78350' as CompPatient
union select '96140' as CompPatient
union select '163031' as CompPatient
union select '126384' as CompPatient
union select '135762' as CompPatient
union select '90271' as CompPatient
union select '114817' as CompPatient
union select '181610' as CompPatient
union select '181312' as CompPatient
union select '107746' as CompPatient
union select '163813' as CompPatient
union select '94890' as CompPatient
union select '142593' as CompPatient
union select '151647' as CompPatient
union select '132048' as CompPatient
union select '104547' as CompPatient
union select '134761' as CompPatient
union select '80391' as CompPatient
union select '113079' as CompPatient
union select '166618' as CompPatient
union select '107677' as CompPatient
union select '148070' as CompPatient
union select '134577' as CompPatient
union select '84964' as CompPatient
union select '107096' as CompPatient
union select '125835' as CompPatient
union select '178799' as CompPatient
union select '82171' as CompPatient
union select '86887' as CompPatient
union select '134747' as CompPatient
union select '204816' as CompPatient
union select '113902' as CompPatient
union select '124620' as CompPatient
union select '145576' as CompPatient
union select '93874' as CompPatient
union select '136081' as CompPatient
union select '149064' as CompPatient
union select '200966' as CompPatient
union select '101079' as CompPatient
union select '123508' as CompPatient
union select '178120' as CompPatient
union select '184804' as CompPatient
union select '123784' as CompPatient
union select '114393' as CompPatient
union select '163034' as CompPatient
union select '145336' as CompPatient
union select '121723' as CompPatient
union select '172413' as CompPatient
union select '112256' as CompPatient
union select '180211' as CompPatient
union select '132960' as CompPatient
union select '155056' as CompPatient
union select '104440' as CompPatient
union select '104417' as CompPatient
union select '175988' as CompPatient
union select '89802' as CompPatient
union select '181842' as CompPatient
union select '107610' as CompPatient
union select '84183' as CompPatient
union select '92343' as CompPatient
union select '123615' as CompPatient
union select '86799' as CompPatient
union select '95234' as CompPatient
union select '163287' as CompPatient
union select '120942' as CompPatient
union select '165856' as CompPatient
union select '123416' as CompPatient
union select '87020' as CompPatient
union select '75392' as CompPatient
union select '199562' as CompPatient
union select '101731' as CompPatient
union select '174856' as CompPatient
union select '121719' as CompPatient
union select '96668' as CompPatient
union select '77672' as CompPatient
union select '101206' as CompPatient
union select '182263' as CompPatient
union select '135476' as CompPatient
union select '129018' as CompPatient
union select '133532' as CompPatient
union select '134585' as CompPatient
union select '78911' as CompPatient
union select '173324' as CompPatient
union select '179229' as CompPatient
union select '84264' as CompPatient
union select '171054' as CompPatient
union select '125172' as CompPatient
union select '187431' as CompPatient
union select '175268' as CompPatient
union select '169635' as CompPatient
union select '113979' as CompPatient
union select '77737' as CompPatient
union select '120372' as CompPatient
union select '197771' as CompPatient
union select '166580' as CompPatient
union select '179193' as CompPatient
union select '134650' as CompPatient
union select '211462' as CompPatient
union select '103707' as CompPatient
union select '99807' as CompPatient
union select '124719' as CompPatient
union select '93936' as CompPatient
union select '123751' as CompPatient
union select '107519' as CompPatient
union select '144954' as CompPatient
union select '154490' as CompPatient
union select '96553' as CompPatient
union select '155414' as CompPatient
union select '120162' as CompPatient
union select '124622' as CompPatient
union select '148230' as CompPatient
union select '122718' as CompPatient
union select '182847' as CompPatient
union select '93385' as CompPatient
union select '114886' as CompPatient
union select '134905' as CompPatient
union select '145459' as CompPatient
union select '101034' as CompPatient
union select '88377' as CompPatient
union select '111866' as CompPatient
union select '205390' as CompPatient
union select '111719' as CompPatient
union select '112783' as CompPatient
union select '135425' as CompPatient
union select '103907' as CompPatient
union select '170258' as CompPatient
union select '208197' as CompPatient
union select '207929' as CompPatient
union select '87017' as CompPatient
union select '105089' as CompPatient
union select '179243' as CompPatient
union select '154405' as CompPatient
union select '163449' as CompPatient
union select '91833' as CompPatient
union select '120774' as CompPatient
union select '155863' as CompPatient
union select '136093' as CompPatient
union select '75394' as CompPatient
union select '128829' as CompPatient
union select '83541' as CompPatient
union select '96813' as CompPatient
union select '135609' as CompPatient
union select '134358' as CompPatient
union select '103035' as CompPatient
union select '178458' as CompPatient
union select '125399' as CompPatient
union select '174875' as CompPatient
union select '77305' as CompPatient
union select '140342' as CompPatient
union select '185532' as CompPatient
union select '150807' as CompPatient
union select '114523' as CompPatient
union select '93781' as CompPatient
union select '140356' as CompPatient
union select '156418' as CompPatient
union select '162772' as CompPatient
union select '102682' as CompPatient
union select '83087' as CompPatient
union select '137003' as CompPatient
union select '161982' as CompPatient
union select '173872' as CompPatient
union select '167909' as CompPatient
union select '177998' as CompPatient
union select '211607' as CompPatient
union select '86305' as CompPatient
union select '141842' as CompPatient
union select '98918' as CompPatient
union select '77786' as CompPatient
union select '211579' as CompPatient
union select '155315' as CompPatient
union select '166596' as CompPatient
union select '94376' as CompPatient
union select '102152' as CompPatient
union select '120214' as CompPatient
union select '172796' as CompPatient
union select '83913' as CompPatient
union select '106660' as CompPatient
union select '102593' as CompPatient
union select '75816' as CompPatient
union select '86824' as CompPatient
union select '196153' as CompPatient
union select '124901' as CompPatient
union select '138453' as CompPatient
union select '76013' as CompPatient
union select '108978' as CompPatient
union select '167246' as CompPatient
union select '155983' as CompPatient
union select '165005' as CompPatient
union select '79017' as CompPatient
union select '112415' as CompPatient
union select '154561' as CompPatient
union select '140224' as CompPatient
union select '135358' as CompPatient
union select '135399' as CompPatient
union select '95837' as CompPatient
union select '103815' as CompPatient
union select '103824' as CompPatient
union select '185250' as CompPatient
union select '100345' as CompPatient
union select '152282' as CompPatient
union select '105537' as CompPatient
union select '121742' as CompPatient
union select '129312' as CompPatient
union select '84603' as CompPatient
union select '187429' as CompPatient
union select '137378' as CompPatient
union select '168616' as CompPatient
union select '178577' as CompPatient
union select '86264' as CompPatient
union select '77742' as CompPatient
union select '139391' as CompPatient
union select '213436' as CompPatient
union select '147770' as CompPatient
union select '145132' as CompPatient
union select '95030' as CompPatient
union select '166101' as CompPatient
union select '131541' as CompPatient
union select '166862' as CompPatient
union select '110526' as CompPatient
union select '107804' as CompPatient
union select '139970' as CompPatient
union select '161540' as CompPatient
union select '119920' as CompPatient
union select '162441' as CompPatient
union select '137945' as CompPatient
union select '110656' as CompPatient
union select '209688' as CompPatient
union select '157872' as CompPatient
union select '110216' as CompPatient
union select '144730' as CompPatient
union select '197184' as CompPatient
union select '93564' as CompPatient
union select '155327' as CompPatient
union select '211221' as CompPatient
union select '86475' as CompPatient
union select '148998' as CompPatient
union select '81274' as CompPatient
union select '109902' as CompPatient
union select '76193' as CompPatient
union select '197834' as CompPatient
union select '112850' as CompPatient
union select '120631' as CompPatient
union select '80994' as CompPatient
union select '120903' as CompPatient
union select '171691' as CompPatient
union select '189882' as CompPatient
union select '78301' as CompPatient
union select '153911' as CompPatient
union select '173871' as CompPatient
union select '111981' as CompPatient
union select '135830' as CompPatient
union select '146767' as CompPatient
union select '105699' as CompPatient
union select '148048' as CompPatient
union select '172499' as CompPatient
union select '181123' as CompPatient
union select '80939' as CompPatient
union select '90223' as CompPatient
union select '118467' as CompPatient
union select '80044' as CompPatient
union select '104359' as CompPatient
union select '176367' as CompPatient
union select '104184' as CompPatient
union select '93849' as CompPatient
union select '133097' as CompPatient
union select '125078' as CompPatient
union select '144854' as CompPatient
union select '166855' as CompPatient
union select '168612' as CompPatient
union select '105529' as CompPatient
union select '153778' as CompPatient
union select '137799' as CompPatient
union select '112396' as CompPatient
union select '100327' as CompPatient
union select '102983' as CompPatient
union select '152501' as CompPatient
union select '197988' as CompPatient
union select '184730' as CompPatient
union select '110868' as CompPatient
union select '146473' as CompPatient
union select '78938' as CompPatient
union select '82205' as CompPatient
union select '145903' as CompPatient
union select '151128' as CompPatient
union select '164668' as CompPatient
union select '144101' as CompPatient
union select '89854' as CompPatient
union select '98961' as CompPatient
union select '150167' as CompPatient
union select '77681' as CompPatient
union select '105561' as CompPatient
union select '185191' as CompPatient
union select '102768' as CompPatient
union select '93546' as CompPatient
union select '139601' as CompPatient
union select '93220' as CompPatient
union select '88535' as CompPatient
union select '135516' as CompPatient
union select '79033' as CompPatient
union select '96674' as CompPatient
union select '121254' as CompPatient
union select '177534' as CompPatient
union select '214545' as CompPatient
union select '79604' as CompPatient
union select '126338' as CompPatient
union select '130183' as CompPatient
union select '179383' as CompPatient
union select '83877' as CompPatient
union select '192707' as CompPatient
union select '118974' as CompPatient
union select '144417' as CompPatient
union select '170618' as CompPatient
union select '174090' as CompPatient
union select '196733' as CompPatient
union select '194990' as CompPatient
union select '138010' as CompPatient
union select '203626' as CompPatient
union select '82878' as CompPatient
union select '173165' as CompPatient
union select '96677' as CompPatient
union select '164447' as CompPatient
union select '100206' as CompPatient
union select '107853' as CompPatient
union select '148131' as CompPatient
union select '113115' as CompPatient
union select '181587' as CompPatient
union select '148766' as CompPatient
union select '114818' as CompPatient
union select '144944' as CompPatient
union select '164213' as CompPatient
union select '215494' as CompPatient
union select '115549' as CompPatient
union select '200004' as CompPatient
union select '145931' as CompPatient
union select '196904' as CompPatient
union select '153073' as CompPatient
union select '208965' as CompPatient
union select '140650' as CompPatient
union select '197323' as CompPatient
union select '144240' as CompPatient
union select '135514' as CompPatient
union select '139912' as CompPatient
union select '210700' as CompPatient
union select '177852' as CompPatient
union select '130475' as CompPatient
union select '115183' as CompPatient
union select '100294' as CompPatient
union select '82707' as CompPatient
union select '212498' as CompPatient
union select '173111' as CompPatient
union select '227178' as CompPatient
union select '125166' as CompPatient
union select '130292' as CompPatient
union select '187578' as CompPatient
union select '157325' as CompPatient
union select '135008' as CompPatient
union select '183394' as CompPatient
union select '166213' as CompPatient
union select '170991' as CompPatient
union select '119912' as CompPatient
union select '146788' as CompPatient
union select '119909' as CompPatient
union select '140200' as CompPatient
union select '140196' as CompPatient
union select '126425' as CompPatient
union select '98416' as CompPatient
union select '138126' as CompPatient
union select '95989' as CompPatient
union select '102442' as CompPatient
union select '135505' as CompPatient
union select '173746' as CompPatient
union select '174731' as CompPatient
union select '171582' as CompPatient
union select '99262' as CompPatient
union select '140497' as CompPatient
union select '146710' as CompPatient
union select '105394' as CompPatient
union select '80173' as CompPatient
union select '203486' as CompPatient
union select '125282' as CompPatient
union select '138629' as CompPatient
union select '138610' as CompPatient
union select '179216' as CompPatient
union select '85688' as CompPatient
union select '93488' as CompPatient
union select '137708' as CompPatient
union select '201985' as CompPatient
union select '125599' as CompPatient
union select '154496' as CompPatient
union select '157182' as CompPatient
union select '92872' as CompPatient
union select '130270' as CompPatient
union select '133242' as CompPatient
union select '216104' as CompPatient
union select '179227' as CompPatient
union select '157347' as CompPatient
union select '190268' as CompPatient
union select '96105' as CompPatient
union select '148483' as CompPatient
union select '216172' as CompPatient
union select '182532' as CompPatient
union select '172148' as CompPatient
union select '199563' as CompPatient
union select '121628' as CompPatient
union select '133126' as CompPatient
union select '204466' as CompPatient
union select '83455' as CompPatient
union select '201029' as CompPatient
union select '203895' as CompPatient
union select '123668' as CompPatient
union select '95368' as CompPatient
union select '157438' as CompPatient
union select '122872' as CompPatient
union select '124739' as CompPatient
union select '95993' as CompPatient
union select '105000' as CompPatient
union select '129189' as CompPatient
union select '84328' as CompPatient
union select '198076' as CompPatient
union select '216006' as CompPatient
union select '76583' as CompPatient
union select '111234' as CompPatient
union select '166103' as CompPatient
union select '170715' as CompPatient
union select '121032' as CompPatient
union select '182223' as CompPatient
union select '204091' as CompPatient
union select '212003' as CompPatient
union select '184137' as CompPatient
union select '145337' as CompPatient
union select '144323' as CompPatient
union select '96330' as CompPatient
union select '87060' as CompPatient
union select '131308' as CompPatient
union select '120404' as CompPatient
union select '110430' as CompPatient
union select '130307' as CompPatient
union select '213978' as CompPatient
union select '102880' as CompPatient
union select '133870' as CompPatient
union select '102185' as CompPatient
union select '131400' as CompPatient
union select '189208' as CompPatient
union select '196434' as CompPatient
union select '96998' as CompPatient
union select '123152' as CompPatient
union select '212107' as CompPatient
union select '203490' as CompPatient
union select '143055' as CompPatient
union select '133743' as CompPatient
union select '169426' as CompPatient
union select '99915' as CompPatient
union select '139879' as CompPatient
union select '110721' as CompPatient
union select '175010' as CompPatient
union select '77403' as CompPatient
union select '166590' as CompPatient
union select '153789' as CompPatient
union select '80336' as CompPatient
union select '131507' as CompPatient
union select '88212' as CompPatient
union select '145937' as CompPatient
union select '101586' as CompPatient
union select '150650' as CompPatient
union select '170242' as CompPatient
union select '109538' as CompPatient
union select '107336' as CompPatient
union select '81502' as CompPatient
union select '184767' as CompPatient
union select '163716' as CompPatient
union select '162573' as CompPatient
union select '217705' as CompPatient
union select '95135' as CompPatient
union select '81304' as CompPatient
union select '119697' as CompPatient
union select '166531' as CompPatient
union select '135246' as CompPatient
union select '88603' as CompPatient
union select '120256' as CompPatient
union select '138446' as CompPatient
union select '76431' as CompPatient
union select '130638' as CompPatient
union select '142096' as CompPatient
union select '111404' as CompPatient
union select '197409' as CompPatient
union select '108196' as CompPatient
union select '142763' as CompPatient
union select '155547' as CompPatient
union select '103009' as CompPatient
union select '138061' as CompPatient
union select '119939' as CompPatient
union select '97517' as CompPatient
union select '166608' as CompPatient
union select '123455' as CompPatient
union select '110653' as CompPatient
union select '144033' as CompPatient
union select '221663' as CompPatient
union select '97271' as CompPatient
union select '89029' as CompPatient
union select '105991' as CompPatient
union select '93065' as CompPatient
union select '101980' as CompPatient
union select '101207' as CompPatient
union select '101570' as CompPatient
union select '200087' as CompPatient
union select '155025' as CompPatient
union select '147078' as CompPatient
union select '102535' as CompPatient
union select '100047' as CompPatient
union select '113041' as CompPatient
union select '121981' as CompPatient
union select '87287' as CompPatient
union select '152913' as CompPatient
union select '108316' as CompPatient
union select '214600' as CompPatient
union select '128973' as CompPatient
union select '154693' as CompPatient
union select '83461' as CompPatient
union select '195909' as CompPatient
union select '227370' as CompPatient
union select '111000' as CompPatient
union select '166752' as CompPatient
union select '122980' as CompPatient
union select '102225' as CompPatient
union select '80558' as CompPatient
union select '220324' as CompPatient
union select '113981' as CompPatient
union select '81764' as CompPatient
union select '213992' as CompPatient
union select '84483' as CompPatient
union select '117074' as CompPatient
union select '122331' as CompPatient
union select '85518' as CompPatient
union select '76925' as CompPatient
union select '83951' as CompPatient
union select '132901' as CompPatient
union select '91776' as CompPatient
union select '92315' as CompPatient
union select '113469' as CompPatient
union select '132436' as CompPatient
union select '218263' as CompPatient
union select '161397' as CompPatient
union select '155222' as CompPatient
union select '102251' as CompPatient
union select '140579' as CompPatient
union select '78858' as CompPatient
union select '102791' as CompPatient
union select '123303' as CompPatient
union select '107216' as CompPatient
union select '83421' as CompPatient
union select '96309' as CompPatient
union select '199565' as CompPatient
union select '145185' as CompPatient
union select '88757' as CompPatient
union select '166626' as CompPatient
union select '80529' as CompPatient
union select '123032' as CompPatient
union select '148775' as CompPatient
union select '134236' as CompPatient
union select '155323' as CompPatient
union select '173476' as CompPatient
union select '95802' as CompPatient
)cde
       
 
/*Liberty Patient Info */

drop table if exists #AllpatientsInfo                
                
select GlobalId,replace(            
case when SocialSecurityNumber like '%000000%' then '' else SocialSecurityNumber end            
,'         ','') as SSN                
,FirstName +' '+LastName as PatientName,DateOfBirth,           
 --LastName+' '+FirstName as DisplayName,         
 case when MiddleInitial<>'' then        
Lastname+','+FirstName+' '+ MiddleInitial         
else LastName+','+FirstName end as DisplayName,        
 LastName,FirstName,MiddleInitial,        
street,city ,state,zip ,Phone ,p.PatientId,p.CustomField3 ,    
p.PrimaryAddressId,p.PatientPhone1Id,        
p.PatientPhone2Id    ,p.Source_Indicator    
into #AllpatientsInfo                
from pp_ods..rxqPatient p with(nolock)                
left join PP_ODS..rxqQueue q  with(nolock)                
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator            
        
drop table if exists #Distinctdetails        
        
select PatientName,DateOfBirth,max(GlobalId) GlobalId,max(ssn) ssn                
into #Distinctdetails                
from                 
(select distinct GlobalId,ssn,PatientName,DateOfBirth                
from #AllpatientsInfo          
where DateOfBirth is not null         
)p                
group by PatientName,DateOfBirth         
        
---select * from #Distinctdetails        
        
update p set p.GlobalId=d.GlobalId                 
--select d.GlobalId,d.ssn,p.*                
from #AllpatientsInfo p                 
join                
#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth                
where  p.SSN=d.ssn and d.ssn<>'' and p.GlobalId='' and d.GlobalId <>''         
        
update p set  p.ssn=d.ssn                
--select d.GlobalId,d.ssn,p.*                
from #AllpatientsInfo p                 
join                
#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth                
where          
--(p.GlobalId='' or p.ssn='')                
--and (d.GlobalId<>'' or d.ssn<>'')         
p.GlobalId=d.GlobalId and d.GlobalId<>'' and p.ssn='' and d.ssn<>''         
        
        
alter table #AllpatientsInfo                  
add PatientIdentifier varchar(200) ,MRNnumber  varchar(200) 

update #AllpatientsInfo set MRNnumber=GlobalId


update l set l.MRNnumber=p.PATIENTID
--select l.globalid,p.PATIENTID,l.ssn,p.PATIENTSSN,
--p.FIRSTNAME+' '+p.LASTNAME,l.DateOfBirth,p.DOB ,l.* 
from  #AllpatientsInfo l                           
join PP_Athena_ODS.ATHENAONE.Patient  p with(nolock) on                  
(                                
( l.GlobalId=''  and l.ssn<>'' and  isnull(p.PATIENTSSN,'')<>''                              
 and l.ssn=p.PATIENTSSN and l.DateOfBirth=p.DOB                        
)                                
or                                
  ( l.GlobalId=''  and (l.ssn='' or  isnull(p.PATIENTSSN,'') in ('','000000000','         ') )                                
and l.DateOfBirth= p.DOB and (l.PatientName) = p.FIRSTNAME+' '+p.LASTNAME                               
  )                                
)                          

--select * from #AllpatientsInfo
--where GlobalId=''

    
update #AllpatientsInfo set PatientIdentifier=    
case when Globalid <> '' then  Globalid                
when  Globalid = ''  and ssn<>'' and                 
ssn not in (                    
'0000000  '                    
,'00000000 '                    
,'000000000')                  
then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                  
when  Globalid = ''  and (ssn=''   or  ssn in (                    
'0000000  '                    
,'00000000 '                    
,'000000000') )                 
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end 

drop table if exists #Temp_m25_MDDB_G    
    
select * into #Temp_m25_MDDB_G    
from     
(    
select * ,ROW_NUMBER() over(partition by NDC_UPC_HRI order by Record_created_date desc 
,lastchangeYYDDD desc,    
Record_Updated_date desc ) RNK     
from PP_ODS..m25_MDDB_G    
)    
abc     
where rnk = 1  



Declare @StartDate datetime = '2023-01-01' ,      
@EndDate datetime = '2024-12-31'     
        
--select @StartDate,@EndDate      
          
/*Patient Medication Insert*/          
          
drop table if exists #PATIENTMEDICATION          
          
select p.PATIENTID,p.PRESCRIBERNPI,p.PRESCRIBER,cast(p.CREATEDDATETIME as date) CreatedDate,          
p.CREATEDDATETIME          
,p.MEDICATIONNAME,p.NUMBEROFREFILLSPRESCRIBED,          
p.PRESCRIPTIONFILLQUANTITY ,p.PRESCRIBEDYN, p.ADMINISTEREDYN ,p.DISPENSEDYN,    
pt.FirstName+' '+pt.LastName as PatientName_Athena,           
pt.Sex as Gender_Athena ,pt.DOB as DOB_Athena,          
d.DOCUMENTID,d.CLINICALENCOUNTERID,d.CLINICALORDERTYPEID ,d.FBDMEDID ,d.CLINICALPROVIDERID,    
c.NAME as CPName,    
isnull(c.PLCNAME,c.NAME) as PLCNAME    
,p.PATIENTMEDICATIONID,m.MEDICATIONNAME as M_MEDICATIONNAME,m.MEDICATIONID,m.NDC,         
m.DerivedNDC,m.NDCType,        
mg.GenericProductIdentifier,mg.GPIGenericName  ,dep.DEPARTMENTNAME ,pt.PATIENTSSN,pt.DOB       
into          
#PATIENTMEDICATION          
from          
ATHENAONE.PATIENTMEDICATION p with(nolock)          
join ATHENAONE.Patient Pt with(nolock) on p.PATIENTID=pt.PATIENTID          
join ATHENAONE.DOCUMENT d with(nolock) on d.DOCUMENTID=p.DOCUMENTID    
left join ATHENAONE.CLINICALPROVIDER c with(nolock) on c.CLINICALPROVIDERID=d.CLINICALPROVIDERID    
join ATHENAONE.DEPARTMENT dep with(nolock) on dep.DEPARTMENTID=d.DEPARTMENTID        
join         
( /*Derived NDC using Bridge Tables*/        
select med.MEDICATIONNAME,med.MEDICATIONID,med.FDBMEDID ,        
isnull(isnull(sn.[NDC in Liberty],med.NDC),s.[Substitute NDC]) as DerivedNDC ,        
case         
     when sn.[NDC in Liberty] is not null  then 'SNO2DerivedNDC'         
  when med.NDC is null and s.[Substitute NDC] is not null then 'SNO1DerivedNDC'         
     else 'NormalNDC' end as NDCType,        
med.NDC,s.[Substitute NDC] ,sn.[NDC in Liberty]        
from         
ATHENAONE.MEDICATION med with(nolock)         
left join  [dbo].[MedicationNDC_SNO1] s with(nolock) on med.MEDICATIONNAME=s.MEDICATIONNAME        
left join [dbo].[MedicationSubstituteNDC_SNO2] sn with(nolock) on med.NDC=sn.NDC        
) m on m.FDBMEDID=d.FBDMEDID        
join ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID          
--left join PP_ODS..m25_MDDB_G mg with(nolock) on mg.NDC_UPC_HRI=m.DerivedNDC  /*NDC replaced with Derived NDC*/     
left join #Temp_m25_MDDB_G mg on mg.NDC_UPC_HRI=m.DerivedNDC  /*NDC replaced with Derived NDC*/    
where           
p.CREATEDDATETIME> = @StartDate    and  p.CREATEDDATETIME<= @EndDate      
and MEDICATIONTYPE='CLINICALPRESCRIPTION'          
and p.PATIENTID is not null and p.PATIENTID<>'0' and d.STATUS='Closed' and e.ENCOUNTERSTATUS ='closed'          
and  d.CLINICALORDERTYPEID > 0   



/*Libery Insert*/          
drop table if exists #TotalLibertymedicinedetails          
          
select          
DG.Name as Drug_name          
,P.patientid          
,(p.FirstName+' '+p.LastName) as Patientname_Liberty          
,p.DateOfBirth as DOB_Liberty          
--,p.Gender as Gender_Liberty          
,cast (P.globalid  as int) globalid          
--,D.DoctorId as ProvideID          
,(D.FirstName+' '+D.LastName) Providername          
,D.source_indicator as source_indicator          
--,MD.NDC_UPC_HRI as NDC_Number          
,MD.GenericProductIdentifier as GenericProductIdentifier          
,Md.GPIGenericName          
,DG.NdcNumber          
--,DrugKey          
,cast (st.DateDispensedSQL as date)  DateDispensedSQL          
,sb.RefillsAuthorized          
,sb.FullDispenseQuantity          
,st.QuantityDispensed          
,st.DaysSupply          
,d.NPI          
,st.RefillNumber          
,sb.AuthorizedQuantity,sb.AvailableQuantity          
,sb.RefillUntilDate,st.NextDispensedQuantity          
,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B         
,ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId 
,ag.AgencyCode Ag_AgencyCode 
, ag.BIN  ag_BIN, ag.PCN ag_PCN,st.ScriptNumber,p.PatientIdentifier,p.MRNnumber
INTO #TotalLibertymedicinedetails          
From PP_ODS..rxqDoctor as D (nolock)          
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator          
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator          
left JOIN #Temp_m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber          
INNER JOIN #AllpatientsInfo as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator          
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber            
and SB.Source_Indicator=ST.Source_Indicator  
left join PP_ODS..rxqAgency ag on ag.Source_Indicator=st.Source_Indicator 
and ag.AgencyCode=st.Agency
where                    
cast(DateDispensedSQL as date)  between '2023-01-01' and '2024-12-31'                  
 order by PatientId   

 --select * into TotalLibertymedicinedetails from 
 --#TotalLibertymedicinedetails

 --select * into MedaidPCNlist
 --from #MedaidPCNlist




--select distinct MRNnumber from #TotalLibertymedicinedetails
--where NdcNumber in 
--(
--select ndc from 
--#StatinNdcList st
--)


--select distinct PATIENTID from #PATIENTMEDICATION --158
--where PATIENTID in (
--select distinct cast(MRNnumber as int) MRNnumber from #TotalLibertymedicinedetails
--where NdcNumber in 
--(
--select ndc from 
--#StatinNdcList st
--)
--)


--select * from #PATIENTMEDICATION --158
--where PATIENTID in (
--select distinct cast(MRNnumber as int) MRNnumber from #TotalLibertymedicinedetails
--where NdcNumber in 
--(
--select ndc from 
--#StatinNdcList st
--)
--)
--and PATIENTID not in 
--(
--select [MRN Number] from 
--##temp_#ReportResult
--)


--select distinct PATIENTID
----into ##NOStatinMedAthena
--from #PATIENTMEDICATION --2616
--where PATIENTID in (
--select distinct cast(MRNnumber as int) MRNnumber from #TotalLibertymedicinedetails
--where NdcNumber in 
--(
--select ndc from 
--#StatinNdcList st
--)
--)
--and PATIENTID not in 
--(
--select [MRN Number] from 
--#ReportResult
--)
            
--select distinct t.MRNNumber
--from #TotalLibertymedicinedetails t 
--join #StatinNdcList s on s.NDC=t.NdcNumber

 /*PatientInfo */
drop table if exists #PatientInfo

SELECT
     p.PATIENTID,
	 p.DOB,
    DATEDIFF(YEAR, p.DOB, '2023-01-01')
    - CASE 
        WHEN DATEADD(YEAR, DATEDIFF(YEAR, p.DOB, '2023-01-01'), p.DOB) > '2023-01-01'
        THEN 1 
        ELSE 0 
      END AS Age_On_01012023,SEX,RACE,ETHNICITY,UNCONFIRMEDPOVERTYLEVEL
	  into #PatientInfo
FROM ATHENAONE.Patient p 
join (select distinct cast(t.MRNNumber as int) MRNNumber
from #TotalLibertymedicinedetails t 
join #StatinNdcList s on s.NDC=t.NdcNumber ) s on s.MRNNumber=p.PATIENTID
where p.PATIENTID<>0

/*Tobacco Smoking Status*/

drop table if exists #SmokingStatus

select * into #SmokingStatus
from 
(
select p.PATIENTID,b.SOCIALHISTORYANSWER 
,ROW_NUMBER() over(partition by p.PATIENTID order by b.Createddatetime desc ) RNK
from ATHENAONE.PATIENTSOCIALHISTORY b with(nolock) 
join #PatientInfo p on p.PATIENTID=b.PATIENTID
where SOCIALHISTORYNAME='Tobacco Smoking Status'
) cte 
where RNK=1


--select * from ATHENAONE.PATIENTSOCIALHISTORY b with(nolock)
--where SOCIALHISTORYNAME='Tobacco Smoking Status'
--and PATIENTID='77403'

/*Diabetic*/
drop table if exists #Diabetic

select  distinct e.PATIENTID 
into #Diabetic
from 
ATHENAONE.ClinicalEncounterDiagnosis d with(Nolock)
join  ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID
join ATHENAONE.ClinicalEncounterDXICD10  i with(Nolock)  
on i.CLINICALENCOUNTERDXID=d.CLINICALENCOUNTERDXID
join #PatientInfo p on p.PATIENTID=e.PATIENTID
join ATHENAONE.ICDCodeAll ic with(Nolock) on ic.ICDCODEID =i.ICDCODEID
where ic.ICDCODEID in 
(select ICDCODEID from ATHENAONE.ICDCodeAll
where UNSTRIPPEDDIAGNOSISCODE like 'e11.%') and e.ENCOUNTERSTATUS ='closed'

----ICD starts with "E.11"
--select * from ATHENAONE.ICDCodeAll
--where UNSTRIPPEDDIAGNOSISCODE like 'e11.%'

--select DIAGNOSISCODE from ATHENAONE.ICDCodeAll
--where UNSTRIPPEDDIAGNOSISCODE like 'e11.%'
--group by DIAGNOSISCODE
--having count(1) > 1

--select * from ATHENAONE.ICDCodeAll  where DIAGNOSISCODE='E110'

/*Hypertension*/
drop table if exists #Hypertension

select  distinct e.PATIENTID 
into #Hypertension
from 
ATHENAONE.ClinicalEncounterDiagnosis d with(Nolock)
join  ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID
join ATHENAONE.ClinicalEncounterDXICD10  i with(Nolock)  
on i.CLINICALENCOUNTERDXID=d.CLINICALENCOUNTERDXID
join #PatientInfo p on p.PATIENTID=e.PATIENTID
join ATHENAONE.ICDCodeAll ic with(Nolock) on ic.ICDCODEID =i.ICDCODEID
where ic.ICDCODEID in 
(select ICDCODEID from ATHENAONE.ICDCodeAll
where (UNSTRIPPEDDIAGNOSISCODE like 'I10%'
or 
UNSTRIPPEDDIAGNOSISCODE like 'I11%'
or
UNSTRIPPEDDIAGNOSISCODE like 'I12%'
)
)  and e.ENCOUNTERSTATUS ='closed'

/*BMI*/

drop table if exists #BMIVitaldetails

select PATIENTID, CREATEDDATETIME ,BMI 
into #BMIVitaldetails
from 
(
select  
p.PATIENTID, vs.CREATEDDATETIME ,VALUE as BMI , ROW_NUMBER() 
over(partition by p.PATIENTID order by vs.CREATEDDATETIME asc  ) RNK
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
join #PatientInfo pt on p.PATIENTID=pt.PATIENTID
where VS.[KEY] like '%BMI%' 
and year(VS.createddatetime) in ('2023','2024') and value <> 'Not Performed'
) abc 
where RNK=1


 /*LDL*/

drop table if exists #FirstLDL

select * into #FirstLDL
from 
(
Select  p.PATIENTID , 
case when cro.RESULT ='Comment' then isnull(cro.OBSERVATIONABNORMALFLAGID ,cro.OBSERVATIONNOTE)
else cro.RESULT  end as FirstLDL,
--convert(varchar(10),CRO.observationtimestampdatetime,101) FirstLDLDate  ,
--ROW_NUMBER() over(partition by p.PATIENTID order by CRO.observationtimestampdatetime asc) RNK
convert(varchar(10),cr.OBSERVATIONDATETIME,101) FirstLDLDate  ,
ROW_NUMBER() over(partition by p.PATIENTID order by cr.OBSERVATIONDATETIME asc) RNK
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
join #PatientInfo pt on p.PATIENTID=pt.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%LDL CHOL CALC (NIH)%'  
and cro.loincid is not null  
and  year(cr.OBSERVATIONDATETIME) in ('2023','2024') and cro.RESULT<>'np'
) abc
where RNK=1




drop table if exists #LastLDL

select * into #LastLDL
from 
(
Select  p.PATIENTID , 
case when cro.RESULT ='Comment' 
then isnull(cro.OBSERVATIONABNORMALFLAGID ,cro.OBSERVATIONNOTE)
else cro.RESULT  end  as LastLDL,
--convert(varchar(10),CRO.observationtimestampdatetime,101)LastLDLDate,
--ROW_NUMBER() over(partition by p.PATIENTID order by CRO.observationtimestampdatetime desc  ) RNK
convert(varchar(10),cr.OBSERVATIONDATETIME,101)LastLDLDate,
ROW_NUMBER() over(partition by p.PATIENTID order by cr.OBSERVATIONDATETIME desc  ) RNK
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
join #PatientInfo pt on p.PATIENTID=pt.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%LDL CHOL CALC (NIH)%'  
and cro.loincid is not null  
and  year(cr.OBSERVATIONDATETIME) in ('2023','2024') and cro.RESULT<>'np'
) abc
where RNK=1

--select * from 
--#StatinPrescriptions s
--where exists 
--(select * from #MedaidPCNlist  l where l.PCN=s.pcn  )


--select DateDispensedSQL,* from #StatinPrescriptions  a where PATIENTID='178540'
--order by a.DateDispensedSQL desc 

--select * from #Libertymedicinedetails where patientidentifier='178540'
--and Drug_name like '%statin%'
--order by DateDispensedSQL desc

--select DateDispensedSQL,DaysSupply,* from #TotalLibertymedicinedetails 
--a where patientidentifier='178540'
--and Drug_name like '%statin%'
--order by a.DateDispensedSQL desc

drop table if exists #FinalMedList

SELECT
        t.MRNnumber,
        t.DateDispensedSQL,
        cast(t.DaysSupply as int) DaysSupply 
		,t.ScriptNumber,t.NdcNumber,t.Drug_name,st.Intensity
		,t.RefillNumber,t.source_indicator,t.PatientId
		into #FinalMedList
from #TotalLibertymedicinedetails  t 
join  #StatinNdcList st  on st.NDC=t.NdcNumber 
where MRNNumber<>''


drop table if exists #ScriptsPrimaryInsurance        
;with cte as         
(        
select  cast(st.MRNnumber as int) MRNnumber,    
 st.PatientId,st.ScriptNumber,st.RefillNumber,st.Source_Indicator,        
 oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN, oh.PCN,       
oh.TransactionResponse,cast(SubmitDate as date) SubmitDate,        
oh.TotalAmountPaid,oh.OtherPayorAmtPaid,        
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator         
order by SubmitDate desc) RNK        
from         
(select * from #FinalMedList ) st--2480         
join PP_ODS..rxqOnlineHistory OH with(nolock) on          
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and           
st.Source_Indicator=oh.Source_Indicator and           
cast(DateDispensedSQL as date) = cast(SubmitDate as date)                
WHERE  OH.PrimaryOrSecondary='P'         
)        
select *    into #ScriptsPrimaryInsurance
from cte
where RNK=1         


drop table if exists #ScriptsSecondaryInsurance        
;with cte as         
(        
select   cast(st.MRNnumber as int) MRNnumber,       
 st.PatientId,st.ScriptNumber,st.RefillNumber,st.Source_Indicator,        
 oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN, oh.PCN,       
oh.TransactionResponse,cast(SubmitDate as date) SubmitDate,        
oh.TotalAmountPaid,oh.OtherPayorAmtPaid,        
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator         
order by SubmitDate desc) RNK        
from         
(select * from #FinalMedList ) st--2480         
join PP_ODS..rxqOnlineHistory OH with(nolock) on          
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and           
st.Source_Indicator=oh.Source_Indicator and           
cast(DateDispensedSQL as date) = cast(SubmitDate as date)                
WHERE  OH.PrimaryOrSecondary='S'         
)        
select * into #ScriptsSecondaryInsurance
from cte
where RNK=1   and TransactionResponse='P'      

--select * from #MedaidPCNlist

drop table if exists #MedaidPatients

create table #MedaidPatients(PATIENTID int)

insert into #MedaidPatients(PATIENTID )

select p.PATIENTID
from #PatientInfo p 
where exists 
(select 1 from #ScriptsPrimaryInsurance 
spi join 
#MedaidPCNlist MP on mp.BIN=spi.BIN and mp.PCN=spi.PCN
where  spi.MRNnumber  =p.PATIENTID
)

insert into #MedaidPatients(PATIENTID )

select p.PATIENTID
from #PatientInfo p 
left join #MedaidPatients s on s.PATIENTID=p.PATIENTID
where exists 
(select 1 from #ScriptsSecondaryInsurance 
spi join 
#MedaidPCNlist MP on mp.BIN=spi.BIN and mp.PCN=spi.PCN
where  spi.MRNnumber =p.PATIENTID
)
and s.PATIENTID is null 


drop table if exists #PatientLibertyDetails

;with ctes 
as(
SELECT
        MRNnumber,
        DateDispensedSQL,
        DaysSupply,
        MIN(DateDispensedSQL) OVER (PARTITION BY MRNnumber) AS FirstFillDate,
        MAX(DateDispensedSQL) OVER (PARTITION BY MRNnumber) AS LastFillDate,
        SUM(DaysSupply) OVER (PARTITION BY MRNnumber) AS TotalDaySupply,
		SUM(case when Intensity='Moderate' then DaysSupply else 0 end ) 
		OVER (PARTITION BY MRNnumber) AS TotalDaySupply_MI ,
		SUM(case when Intensity='High' then DaysSupply else 0 end ) 
		OVER (PARTITION BY MRNnumber) AS TotalDaySupply_HI ,
		SUM(case when Intensity='Low' then DaysSupply else 0 end ) 
		OVER (PARTITION BY MRNnumber) AS TotalDaySupply_LI,
		max(CASE WHEN Intensity = 'High' THEN 'Y' ELSE 'N' END) 
        OVER (PARTITION BY MRNnumber) AS HasHIStatin,
		max(CASE WHEN Intensity = 'Moderate' THEN 'Y' ELSE 'N' END) 
        OVER (PARTITION BY MRNnumber) AS HasMIStatin,
		max(CASE WHEN Intensity = 'Low' THEN 'Y' ELSE 'N' END) 
        OVER (PARTITION BY MRNnumber) AS HasLIStatin
    from #FinalMedList
)
,last_rx AS (
select MRNnumber,
       DateDispensedSQL AS LastFillDate,
       DaysSupply as LastFillDaySupply, 
		ROW_NUMBER() OVER (PARTITION BY MRNnumber ORDER BY DateDispensedSQL DESC) AS rn
		from 
(
    SELECT
        MRNnumber,
        DateDispensedSQL ,
        sum(DaysSupply) AS DaysSupply
    FROM #FinalMedList
	group by MRNnumber,DateDispensedSQL
) abc
)

select distinct c.MRNnumber,c.FirstFillDate,c.LastFillDate,l.LastFillDaySupply,c.TotalDaySupply,
c.TotalDaySupply_HI,c.TotalDaySupply_MI,c.TotalDaySupply_LI,c.HasHIStatin,
c.HasMIStatin,c.HasLIStatin
--,(1.0 * c.TotalDaySupply)
,(DATEDIFF(DAY, c.FirstFillDate, c.LastFillDate) + l.LastFillDaySupply) TotalDays
--,(
--            (1.0 * c.TotalDaySupply) /
--            (DATEDIFF(DAY, c.FirstFillDate, c.LastFillDate) + l.LastFillDaySupply)
--        ) * 100
,CAST(
        (
            (1.0 * c.TotalDaySupply) /
            (DATEDIFF(DAY, c.FirstFillDate, c.LastFillDate) + l.LastFillDaySupply)
        ) * 100
        AS DECIMAL(18,2)
    ) AS [Percent Days Covered]

into #PatientLibertyDetails
from ctes c 
join last_rx l on c.MRNnumber=l.MRNnumber
where rn=1

drop table if exists #ChartSocialHistory        
        
;with cte as         
(        
select p.PATIENTID,cht.CHARTID,res.socialhxformresponseid,ans.VALUE answer , ques.label  ,          
ans.CREATEDDATETIME        
,row_number() over(partition by p.patientid,        
[label]          
order by ans.CREATEDDATETIME desc ) ord           
from           
ATHENAONE.SOCIALHXFORMRESPONSE res  with(nolock)          
join ATHENAONE.CHART CHT  with(nolock) on CHT.CHARTID=res.CHARTID         
join ATHENAONE.patient P with(nolock) on p.PATIENTID=cht.ENTERPRISEID  
join #PatientInfo r  on r.PATIENTID=p.PATIENTID
LEFT JOIN           
ATHENAONE.SocialHXFormResponseAnswer ans with(nolock)          
ON res.socialhxformresponseid = ans.socialhxformresponseid               
AND res.contextid = ans.contextid              
LEFT JOIN ATHENAONE.SOCIALHXFORMQUESTION  ques  with(nolock)          
ON ques.formid = res.formid           
AND ques.questionkey = ans.questionkey           
where res.DELETEDBY is null and ans.DELETEDBY is null and ques.DELETEDBY is null        
and        
label in

('Do you or have you ever smoked tobacco?') and ans.VALUE <> '410534003'
        
)        
select * into #ChartSocialHistory        
from cte         
where ord = 1    


--select * from #PatientLibertyDetails

drop table if exists #ReportResult 

select p.MRNnumber [MRN Number] ,Age_On_01012023   [Age on 1/1/2023],
case when SEX ='M' then 'Male' when SEX ='F' then 'Female' 
else 'Unknown' end
[Assigned Sex at Birth] 
,Race,Ethnicity,UNCONFIRMEDPOVERTYLEVEL
[Federal Poverty Level (FPL)],
case when mp.PATIENTID is not null  then 'Y' else 'N' end [Medicaid Enrollment],
case when cp.Clinicalpatient is not null then 'Y' else 'N' end  [Clinical Program],
case when cmp.CompPatient is not null then 'Y' else 'N' end  [Compliance Package],
b.BMI [Initial BMI],
isnull(cs.answer ,s.SOCIALHISTORYANSWER ) [Tobacco Smoking Status],
case when d.PATIENTID is not null then 'Y' else 'N' end  [Diabetes],
case when h.PATIENTID is not null then 'Y' else 'N' end  [Hypertension],
convert(varchar(10),p.FirstFillDate,101)  [Date of First Statin Fill],
convert(varchar(10),p.LastFillDate,101) [Date of Last Statin Fill],
p.LastFillDaySupply  [Day Supply of Last Statin Fill RX],
p.HasHIStatin [High Intensity Statin],
 p.TotalDaySupply_HI  [High Intensity Day Supply],
p.HasMIStatin [Moderate Intensity Statin],
p.TotalDaySupply_MI [Moderate Intensity Day Supply],
p.HasLIStatin [Low Intensity Statin],
TotalDaySupply_LI [Low Intensity Day Supply],
p.[Percent Days Covered] ,fl.FirstLDL [First LDL]
,fl.FirstLDLDate [First LDL Date],ll.LastLDL [Last LDL],
ll.LastLDLDate [Last LDL Date]
into #ReportResult
---select p.*
from 
(select * 
from
#PatientLibertyDetails
)p
left join #PatientInfo Pt on Pt.PatientId =p.MRNnumber
left join #ClinicalPatients CP on cp.Clinicalpatient =p.MRNnumber
left join #CompliancePatients Cmp on cmp.CompPatient =p.MRNnumber
left join #BMIVitaldetails b on b.PATIENTID=p.MRNnumber
left join #SmokingStatus s on s.PATIENTID=p.MRNnumber
left join #ChartSocialHistory cs on cs.PATIENTID=p.MRNnumber
left join #Diabetic d on d.PATIENTID=p.MRNnumber
left join #Hypertension h on h.PATIENTID=p.MRNnumber
left join #LastLDL ll on ll.PATIENTID=p.MRNnumber
left join #FirstLDL fl on fl.PATIENTID=p.MRNnumber
left join #MedaidPatients MP on mp.PATIENTID =p.MRNnumber


--select * from #ReportResult where [Tobacco Smoking Status] is not null 

--select distinct [Last LDL] from 
--#ReportResult



--select * from #PatientInfo

--PatientLDLReport_MedList
--PatientLDLReport
--TotalLibertymedicinedetails

--drop table PatientLDLReport

--select * into PatientLDLReport
--from #ReportResult

--drop table TotalLibertymedicinedetails

--select * into TotalLibertymedicinedetails
--from #TotalLibertymedicinedetails

--drop table PatientLDLReport_MedList

--select * into PatientLDLReport_MedList
--from #FinalMedList


--82072
--117199
--146674

--select * from #ReportResult where [MRN Number] in 
--(82072,
--117199,
--146674)


--select p.* from #ScriptsPrimaryInsurance p
--join #MedaidPCNlist m on m.PCN=p.pcn and m.bin=p.bin 
--where MRNnumber in 
--(82072,
--117199,
--146674)
--order by MRNnumber

--select MRNnumber
--,sum(case when TransactionResponse='R' then 1 else 0 end)  Rejected
--,sum(case when TransactionResponse='P' then 1 else 0 end ) paid
--from
--(
--select * from 
--#ScriptsPrimaryInsurance p 
--union 
--select * from 
--#ScriptsSecondaryInsurance s 
--)p
--join #MedaidPCNlist m on m.PCN=p.pcn and m.bin=p.bin 
--group by MRNnumber
--having 
--sum(case when TransactionResponse='P' then 1 else 0 end ) =0 
--and sum(case when TransactionResponse='R' then 1 else 0 end)  >0


--select * from #ScriptsSecondaryInsurance

--select * from StatinNdcList

--select * from #ClinicalPatients




--select * from #ReportResult where [Tobacco Smoking Status] is not null --4915

--select r.* from #ReportResult r  --6101
--left join #ChartSocialHistory c on c.PATIENTID=r.[MRN Number]
--where r.[Tobacco Smoking Status] is not null and c.PATIENTID is null 

--select r.* from #ReportResult r  --6101
--join #ChartSocialHistory c on c.PATIENTID=r.[MRN Number]
--where r.[Tobacco Smoking Status] is null and c.answer is not null 


--select r.[Tobacco Smoking Status] , c.answer,c.PATIENTID from #ReportResult r  --6101
--join #ChartSocialHistory c on c.PATIENTID=r.[MRN Number]
--where r.[Tobacco Smoking Status] <> c.answer

--select * from ATHENAONE.PATIENTSOCIALHISTORY where patientid='109132'
--and SOCIALHISTORYKEY='SOCIALHISTORY.SMOKINGSTATUS'

    
     


--178540

--select * from #ChartSocialHistory where patientid='178540'



--select distinct label from ATHENAONE.SOCIALHXFORMQUESTION
--where label like '%tobacco%' or label like '%smoking%'

--select  label,min(answer),max(answer) from #ChartSocialHistory
--group by label
--order by patientid ,label

--/*statin prescribed but not dispensed in PP Pharmacy*/
----select * 
--select distinct patientid --5243
--from #PATIENTMEDICATION pm 
--where patientid not in (
--select [MRN Number] from #ReportResult) and 
--(
--M_MEDICATIONNAME like '%statin%'
--or 
--MEDICATIONNAME like '%statin%'
--)

----79758

--select *--5243
--from #PATIENTMEDICATION pm 
--where patientid ='109889' and 
--(
--M_MEDICATIONNAME like '%statin%'
--or 
--MEDICATIONNAME like '%statin%'
--)

--select * from #TotalLibertymedicinedetails
--where MRNnumber='109889'

--select * from #TotalLibertymedicinedetails
--where DOB_Liberty='1960-02-17'
--and Patientname_Liberty  like '%ROSEMARY%'  --ROSEMARY ST AMANT

--select GlobalId,* from pp_ods..rxqPatient where DateOfBirth='1960-02-17'
--and FirstName like '%ROSEMARY%' 

--select * from pp_ods..rxqScriptBase with(nolock) 
--where PatientId in (
--select PatientId from pp_ods..rxqPatient where DateOfBirth='1960-02-17'
--and FirstName like '%ROSEMARY%' )

--select st.* from pp_ods..rxqScriptTransaction st with(nolock)
--join 
--(
--select ScriptNumber,b.Source_Indicator from pp_ods..rxqScriptBase  b with(nolock) 
--join (
--select PatientId ,Source_Indicator  from pp_ods..rxqPatient where DateOfBirth='1960-02-17'
--and FirstName like '%ROSEMARY%' ) c
--on c.Source_Indicator =b.Source_Indicator and c.PatientId =b.PatientId
--) b on st.ScriptNumber =b.ScriptNumber and st.Source_Indicator=b.Source_Indicator
 

--/*Patients not present in athena but took medicines */
--select t.*
----select distinct patientidentifier --201
--from #TotalLibertymedicinedetails t 
--join #StatinNdcList s on s.NDC=t.NdcNumber
--where MRNNumber=''


----1948-08-30  DANIEL SPARKS

--select SocialSecurityNumber,* from pp_ods..rxqPatient  where DateOfBirth='1948-08-30'
--and LastName='SPARKS'

--select PATIENTSSN,* from ATHENAONE.Patient where DOB='1948-08-30'
--and LASTNAME='SPARKS'

----ROBERTA DEPRIEST	1938-08-14 , No Data in athena 
--select SocialSecurityNumber,* from pp_ods..rxqPatient  where DateOfBirth='1938-08-14'
--and LastName='DEPRIEST'

--select PATIENTSSN,* from ATHENAONE.Patient where DOB='1938-08-14'


--/***Testing the report*/

--select * from PatientLDLReport

--select * from PatientLDLReport_MedList

--select * from PatientLDLReport where [MRN Number]='75392'

------Patient Demogarphics

--select p.DOB,DATEDIFF(YEAR, p.DOB, '2023-01-01') age,SEX,
--RACE,ETHNICITY,UNCONFIRMEDPOVERTYLEVEL
--from ATHENAONE.Patient p with(nolock) where Patientid='75392'

--select [MRN Number],[Age on 1/1/2023],[Assigned Sex at Birth],Race,Ethnicity,
--[Federal Poverty Level (FPL)] from PatientLDLReport
--where [MRN Number]='75392'

--select DOB_Liberty,Patientname_Liberty,* 
--from #TotalLibertymedicinedetails where [MRNNumber]='75392'

-----check pharmacies 

--select distinct PatientId ,Source_Indicator
--from PatientLDLReport_MedList where [MRNNumber]='75392'

--except 

--select PatientId ,Source_Indicator  
--from pp_ods..rxqPatient where DateOfBirth='1978-02-25'
--and FirstName like '%lisa%'

----check scripts 

--select st.ScriptNumber,st.RefillNumber,st.Source_Indicator,st.DateDispensedSQL,s.Intensity
--from pp_ods..rxqScriptTransaction st with(nolock)
--join 
--(
--select ScriptNumber,b.Source_Indicator,b.DrugKey from pp_ods..rxqScriptBase  b with(nolock) 
--join (
--select PatientId ,Source_Indicator  
--from pp_ods..rxqPatient where DateOfBirth='1978-02-25'
--and FirstName like '%lisa%' ) c
--on c.Source_Indicator =b.Source_Indicator and c.PatientId =b.PatientId
--) b on st.ScriptNumber =b.ScriptNumber and st.Source_Indicator=b.Source_Indicator
--join pp_ods..rxqDrug d on d.DrugId =b.DrugKey and b.Source_Indicator=d.source_indicator
--join #StatinNdcList  s on s.NDC =d.NdcNumber
--where st.DateDispensedSQL between '2023-01-01'  and '2024-12-31'

--except

--select st.ScriptNumber,st.RefillNumber,st.Source_Indicator,st.DateDispensedSQL,st.Intensity
--from PatientLDLReport_MedList st where [MRNNumber]='75392'


-----Medicaid Enrollment

--select [Medicaid Enrollment] from PatientLDLReport where [MRN Number]='75392'

----Primary
--select oh.BIN,oh.PCN --,oh.ScriptNumber,oh.PrimaryOrSecondary,oh.TransactionResponse
--from
--PatientLDLReport_MedList st--2480         
--join PP_ODS..rxqOnlineHistory OH with(nolock) on          
--st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and           
--st.Source_Indicator=oh.Source_Indicator and           
--cast(DateDispensedSQL as date) = cast(SubmitDate as date)                
--WHERE  OH.PrimaryOrSecondary='P'  and  [MRNNumber]='75392'      
----order by oh.cOnlineHistoryId desc

--intersect

--select bin,PCN from #MedaidPCNlist

----secondary
--select oh.BIN,oh.PCN --,oh.ScriptNumber,oh.PrimaryOrSecondary,oh.TransactionResponse
--from
--PatientLDLReport_MedList st--2480         
--join PP_ODS..rxqOnlineHistory OH with(nolock) on          
--st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and           
--st.Source_Indicator=oh.Source_Indicator and           
--cast(DateDispensedSQL as date) = cast(SubmitDate as date)                
--WHERE  OH.PrimaryOrSecondary='s'  and  [MRNNumber]='75392' and TransactionCode='P'     
----order by oh.cOnlineHistoryId desc

--intersect

--select bin,PCN from #MedaidPCNlist


----ask clarifications
--select [Medicaid Enrollment],* from PatientLDLReport where [Medicaid Enrollment]='y'

--select * from #ScriptsPrimaryInsurance
--where TransactionResponse<>'P' and MRNnumber in 
--(select [MRN Number] from PatientLDLReport where [Medicaid Enrollment]='y')

--82072

--select * from PatientLDLReport_MedList where MRNnumber='82072'

--select oh.BIN,oh.PCN ,oh.ScriptNumber,oh.PrimaryOrSecondary,oh.TransactionResponse
--from
--PatientLDLReport_MedList st--2480         
--join PP_ODS..rxqOnlineHistory OH with(nolock) on          
--st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and           
--st.Source_Indicator=oh.Source_Indicator and           
--cast(DateDispensedSQL as date) = cast(SubmitDate as date)                
--WHERE  OH.PrimaryOrSecondary='p'  and  [MRNNumber]='82072' 
--order by oh.cOnlineHistoryId desc

--select * from #MedaidPCNlist where BIN='026309' and pcn='KYPROD1'

----clinical program , compliance package 

--select [Clinical Program],[Compliance Package],[MRN Number] from PatientLDLReport
--where  [Clinical Program]='y'  or [Compliance Package]='y'

--select [Clinical Program],[Compliance Package] from PatientLDLReport
--where  [MRN Number]='82072' 

------Initial BMI

--select [Initial BMI] from PatientLDLReport
--where  [MRN Number]='82072' 


--select  
--p.PATIENTID, vs.CREATEDDATETIME ,VALUE as BMI , ROW_NUMBER() 
--over(partition by p.PATIENTID order by vs.CREATEDDATETIME asc  ) RNK
--from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
--INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
--INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
--where VS.[KEY] like '%BMI%' 
--and year(VS.createddatetime) in ('2023','2024') and p.PATIENTID='82072' 

-----tobacco 

--select [Tobacco Smoking Status] from PatientLDLReport
--where  [MRN Number]='82072' 

--select PATIENTID,b.SOCIALHISTORYANSWER 
--,ROW_NUMBER() over(partition by p.PATIENTID order by b.Createddatetime desc ) RNK
--from ATHENAONE.PATIENTSOCIALHISTORY b with(nolock) 
--where SOCIALHISTORYNAME='Tobacco Smoking Status' and PATIENTID='82072' 

--410534003



--select * from PatientLDLReport where [Tobacco Smoking Status]='410534003'

--select * from #SmokingStatus where PATIENTID  in ('99262','128973')

--select * from #ChartSocialHistory where PATIENTID  in ('99262','128973')

--Not Performed

--select * from PatientLDLReport where [Initial BMI]='Not Performed'

--select  
--p.PATIENTID, vs.CREATEDDATETIME ,VALUE as BMI , ROW_NUMBER() 
--over(partition by p.PATIENTID order by vs.CREATEDDATETIME asc  ) RNK
--from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)  
--INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
--INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
--where VS.[KEY] like '%BMI%' 
--and year(VS.createddatetime) in ('2023','2024') and p.PATIENTID='84966' 

----diabetes 

--select Diabetes from PatientLDLReport
--where  [MRN Number]='82072' 

--select  ic.*
--from 
--ATHENAONE.ClinicalEncounterDiagnosis d with(Nolock)
--join  ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID
--join ATHENAONE.ClinicalEncounterDXICD10  i with(Nolock)  
--on i.CLINICALENCOUNTERDXID=d.CLINICALENCOUNTERDXID
--join ATHENAONE.ICDCodeAll ic with(Nolock) on ic.ICDCODEID =i.ICDCODEID
--where ic.ICDCODEID in 
--(select ICDCODEID from ATHENAONE.ICDCodeAll
--where UNSTRIPPEDDIAGNOSISCODE like 'e11.%') and e.ENCOUNTERSTATUS ='closed'
--and e.PATIENTID='82072' 

----hypertension 

--select Hypertension from PatientLDLReport
--where  [MRN Number]='82072'

--select  ic.*
--from 
--ATHENAONE.ClinicalEncounterDiagnosis d with(Nolock)
--join  ATHENAONE.CLINICALENCOUNTER e with(nolock) on e.CLINICALENCOUNTERID=d.CLINICALENCOUNTERID
--join ATHENAONE.ClinicalEncounterDXICD10  i with(Nolock)  
--on i.CLINICALENCOUNTERDXID=d.CLINICALENCOUNTERDXID
--join ATHENAONE.ICDCodeAll ic with(Nolock) on ic.ICDCODEID =i.ICDCODEID
--where ic.ICDCODEID in 
--(select ICDCODEID from ATHENAONE.ICDCodeAll
--where (UNSTRIPPEDDIAGNOSISCODE like 'I10%'
--or 
--UNSTRIPPEDDIAGNOSISCODE like 'I11%'
--or
--UNSTRIPPEDDIAGNOSISCODE like 'I12%'
--)
--)  and e.ENCOUNTERSTATUS ='closed' and e.PATIENTID='82072' 

----date of first statin fill ,date of last statin fill 

--select [Date of First Statin Fill],[Date of Last Statin Fill] from PatientLDLReport
--where  [MRN Number]='82072'

--select convert(varchar(10),min(DateDispensedSQL),101) [Date of First Statin Fill]
--,convert(varchar(10),max(DateDispensedSQL) ,101) [Date of Last Statin Fill] 
--from PatientLDLReport_MedList
--where  [MRNNumber]='82072'

----day supply of last statin fill 

--select [Day Supply of Last Statin Fill RX] from PatientLDLReport
--where  [MRN Number]='82072'

--select top 1 DateDispensedSQL,DaysSupply
--from 
--(
--select DateDispensedSQL,sum(DaysSupply) DaysSupply
--from PatientLDLReport_MedList
--where  [MRNNumber]='82072'
--group by DateDispensedSQL
--) abc 
--order by DateDispensedSQL desc 

----high intensity statin , high intensity day supply 

--select [High Intensity Statin],[High Intensity Day Supply] from PatientLDLReport
--where  [MRN Number]='82072'

--select sum(DaysSupply) DaysSupply
--from PatientLDLReport_MedList
--where  [MRNNumber]='82072' and Intensity='high'

----moderate intensity statin , moderate intensity day supply 

--select [Moderate Intensity Statin],[Moderate Intensity Day Supply] from PatientLDLReport
--where  [MRN Number]='82072'

--select sum(DaysSupply) DaysSupply
--from PatientLDLReport_MedList
--where  [MRNNumber]='82072' and Intensity='moderate'

----low intensity statin , low intensity day supply 

--select [Low Intensity Statin],[Low Intensity Day Supply] from PatientLDLReport
--where  [MRN Number]='82072'

--select sum(DaysSupply) DaysSupply
--from PatientLDLReport_MedList
--where  [MRNNumber]='82072' and Intensity='low'

----percentage covered 

--select [Percent Days Covered]
--from PatientLDLReport
--where  [MRN Number]='82072'

--Declare @TotalDaysSupply int ,@FirstFillDate date ,@LastFillDate date,
--@LastFillDaySupply int 

--select @TotalDaysSupply= sum(DaysSupply) 
--from PatientLDLReport_MedList
--where  [MRNNumber]='82072'

--select @FirstFillDate=min(DateDispensedSQL) 
--,@LastFillDate =max(DateDispensedSQL)   
--from PatientLDLReport_MedList
--where  [MRNNumber]='82072'

----declare @LastFillDaySupply int

--select top 1 @LastFillDaySupply = DaysSupply
--from 
--(
--select DateDispensedSQL,sum(DaysSupply) DaysSupply
--from PatientLDLReport_MedList
--where  [MRNNumber]='82072'
--group by DateDispensedSQL
--) abc 
--order by DateDispensedSQL desc

----select @LastFillDaySupply

--select CAST(
--        (
--            (1.0 * @TotalDaysSupply) /
--            (DATEDIFF(DAY, @FirstFillDate, @LastFillDate) + @LastFillDaySupply)
--        ) * 100
--        AS DECIMAL(18,2)
--    ) AS [Percent Days Covered]


----first ldl , date 

--select [First LDL],[First LDL Date],[Last LDL],[Last LDL Date] from PatientLDLReport
--where  [MRN Number]='82072'

--Select  p.PATIENTID , 
--cro.RESULT as LDL,
--convert(varchar(10),cr.OBSERVATIONDATETIME,101) LDLDate  ,
--ROW_NUMBER() over(partition by p.PATIENTID order by cr.OBSERVATIONDATETIME asc) RNK
--from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
--JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
--JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
--INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
--WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%LDL CHOL CALC (NIH)%'  
--and cro.loincid is not null  and p.PATIENTID ='82072'
--and  year(cr.OBSERVATIONDATETIME) in ('2023','2024')



------------------------------------------------------

--select * into StatinNdcList
--from #StatinNdcList 


--select [MRN Number] from PatientLDLReport where [First LDL] is null
--except 
--select distinct patientid from #PATIENTMEDICATION where patientid in 
--(select [MRN Number] from PatientLDLReport where [First LDL] is null)

--76769

--select * from ATHENAONE.CLINICALENCOUNTER where ENCOUNTERDATE
--between '2023-01-01' and '2024-12-31' and ENCOUNTERSTATUS='closed'
--and patientid in 
--(

--select [MRN Number] from PatientLDLReport where [First LDL] is null
--except 
--select distinct patientid from #PATIENTMEDICATION where patientid in 
--(select [MRN Number] from PatientLDLReport where [First LDL] is null)
--)

--1/1/2023 - 12/31/2024

--178719

--select * from ATHENAONE.CLINICALENCOUNTER where ENCOUNTERDATE
--between '2023-01-01' and '2024-12-31' and ENCOUNTERSTATUS='closed'
--and patientid in 
--(

--178719
--)
--select * from ATHENAONE.PATIENTMEDICATION where patientid in 
--(

--178719
--)
--and CREATEDDATETIME
--between '2023-01-01' and '2024-12-31'


--Select  p.PATIENTID , 
--cro.RESULT as LDL,
--convert(varchar(10),cr.OBSERVATIONDATETIME,101) LDLDate  ,
--ROW_NUMBER() over(partition by p.PATIENTID order by cr.OBSERVATIONDATETIME asc) RNK
--from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
--JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
--JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
--INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
--WHERE CRO.OBSERVATIONIDENTIFIERTEXT LIKE '%LDL CHOL CALC (NIH)%'  
--and cro.loincid is not null  and p.PATIENTID ='178719'
--and  year(cr.OBSERVATIONDATETIME) in ('2023','2024')


end 
GO
