USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[ProviderMetricsTable_backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderMetricsTable_backup](
	[Month] [date] NULL,
	[Rendering_Provider] [nvarchar](50) NOT NULL,
	[Closed_Encounters] [int] NULL,
	[of_Provider_Business_Hours] [float] NULL,
	[of_Provider_Non_Business_Hours] [float] NULL,
	[Time_Encounter] [float] NULL,
	[Time_Inbox] [float] NULL,
	[Time_Order_Group] [float] NULL,
	[Time_Viewing] [float] NULL,
	[Total_Provider_Business_Hours] [float] NULL,
	[Total_Provider_Hours] [float] NULL,
	[Total_Provider_Non_Business_Hours] [float] NULL,
	[RecordCreatedDate] [datetime] NULL,
	[ScheduleName] [varchar](100) NULL
) ON [PRIMARY]
GO
