USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[CovidResults_Cte]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CovidResults_Cte](
	[NPI] [varchar](50) NULL,
	[Patient_MRN] [varchar](50) NULL,
	[SSN] [varchar](100) NULL,
	[PATIENT_LastName] [varchar](500) NULL,
	[PATIENT_FirstName] [varchar](500) NULL,
	[PATIENTDate_Of_Birth] [varchar](100) NULL,
	[PATIENTGender] [varchar](10) NULL,
	[PATIENTRace] [varchar](200) NULL,
	[PATIENT_RaceDescription] [varchar](500) NULL,
	[PATIENT_Ethicity] [varchar](200) NULL,
	[PATIENT_EthinicityDescription] [varchar](500) NULL,
	[PATIENT_Phone] [varchar](100) NULL,
	[PATIENT_Email] [varchar](100) NULL,
	[PATIENT_Address1] [varchar](1000) NULL,
	[PATIENT_Address2] [varchar](1000) NULL,
	[PatientCity] [varchar](500) NULL,
	[PatientState] [varchar](200) NULL,
	[PatientZIP] [varchar](100) NULL,
	[County_Of_Residence] [varchar](100) NULL,
	[TestName] [varchar](2000) NULL,
	[TestLoinc] [varchar](500) NULL,
	[TestResult] [varchar](500) NULL,
	[Unit] [varchar](100) NULL,
	[Ref_Range] [varchar](500) NULL,
	[OBSERVATIONDATETIME] [varchar](500) NULL,
	[Order_No] [varchar](500) NULL,
	[CollectDate] [varchar](500) NULL,
	[PROVIDERLASTNAME] [varchar](1000) NULL,
	[ProviderAddress1] [varchar](1000) NULL,
	[ProviderAddress2] [varchar](1000) NULL,
	[ProviderCity] [varchar](100) NULL,
	[ProviderState] [varchar](100) NULL,
	[ProviderZIP] [varchar](100) NULL,
	[ProviderMobile_No] [varchar](100) NULL,
	[SpecimenSource] [varchar](100) NULL,
	[SpecimenType] [varchar](2000) NULL,
	[OnsetDate] [varchar](100) NULL,
	[Symptoms] [varchar](100) NULL,
	[HCW] [varchar](100) NULL,
	[Congregate] [varchar](100) NULL,
	[Hospitalization] [varchar](100) NULL,
	[First_test_yes_No] [varchar](100) NULL,
	[ICU] [varchar](100) NULL,
	[Pregnant] [varchar](100) NULL,
	[Name_of_testing_product] [varchar](2000) NULL,
	[Device_identifier] [varchar](1000) NULL,
	[Date_test_ordered] [varchar](1000) NULL,
	[Performing_Facility_Name] [varchar](1000) NULL,
	[Performing_Facility_Address1] [varchar](1000) NULL,
	[Performing_Facility_Address2] [varchar](1000) NULL,
	[Performing_Facility_City] [varchar](1000) NULL,
	[Performing_Facility_State] [varchar](1000) NULL,
	[Performing_Facility_Zip] [varchar](1000) NULL,
	[Performing_Facility_TelephoneNumber] [varchar](1000) NULL,
	[Ordering_Facility_Name] [varchar](1000) NULL,
	[Ordering_Provider_Number] [varchar](1000) NULL,
	[Ordering_Provider_Name] [varchar](1000) NULL,
	[PATIENT_MiddleInitial] [varchar](500) NULL,
	[Ordering_Facility_Address1] [varchar](2000) NULL,
	[Ordering_Facility_Address2] [varchar](2000) NULL,
	[Ordering_Facility_City] [varchar](1000) NULL,
	[Ordering_Facility_State] [varchar](1000) NULL,
	[Ordering_Facility_Zip] [varchar](1000) NULL,
	[Ordering_Facility_TelephoneNumber] [varchar](1000) NULL,
	[Rn] [varchar](100) NULL
) ON [PRIMARY]
GO
