USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[NACHCDemographics_backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACHCDemographics_backup](
	[Patient_ID] [numeric](12, 0) NULL,
	[Health_Center] [varchar](200) NULL,
	[Birth_Date] [date] NULL,
	[Death_Date] [date] NULL,
	[Sex] [varchar](200) NULL,
	[Race] [varchar](500) NULL,
	[Ethnicity] [varchar](500) NULL,
	[Language] [varchar](500) NULL,
	[Sexual_Orientation] [varchar](500) NULL,
	[Gender_Identity] [varchar](500) NULL,
	[Housing] [varchar](max) NULL,
	[HouseHold_Size] [numeric](2, 0) NULL,
	[Housing_Status] [varchar](200) NULL,
	[ZIP] [varchar](200) NULL,
	[STATE] [varchar](200) NULL,
	[Insurance_Type] [varchar](max) NULL,
	[FPL] [varchar](14) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
