USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[PBRI_BillingDashboard]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[PBRI_BillingDashboard]
as
begin

								IF OBJECT_ID('tempdb..#Patient') IS NOT NULL
								DROP TABLE #Patient
								IF OBJECT_ID('tempdb..#PayerDetails') IS NOT NULL
								DROP TABLE #PayerDetails
								IF OBJECT_ID('tempdb..#PRDR1') IS NOT NULL
								DROP TABLE #PRDR1
								IF OBJECT_ID('tempdb..#patientBalanceAmount') IS NOT NULL
								DROP TABLE #patientBalanceAmount
								IF OBJECT_ID(N'dbo.Billing_Dashboard', N'U') IS NOT NULL 
							    Drop table PP_Athena_ODS..Billing_Dashboard



SELECT   
sum(AF.CurrentCharge+af.LateCharge ) AS Charge
,sum(AF.Payment) AS Payment
--,count(ap.APPOINTMENTID) as APPOINTMENTID
,P.PatientID as patientID
, P.FirstName
, P.LastName
,YEAR(AF.POSTDATE) AS Pyear
,MONTH(AF.POSTDATE) AS PMonth
into #Patient
FROM Financials.ActivityFact as AF (nolock)
inner Join athenaone.Patient as P (nolock) on
af.PatientID=p.PatientID
and af.CONTEXTID=p.CONTEXTID
--inner join athenaone.APPOINTMENT as AP (nolock) on p.PATIENTID=ap.patientid and p.CONTEXTID=ap.contextid
--where YEAR(AF.POSTDATE)=2022
--and MONTH(AF.POSTDATE)=02
GROUP BY P.PATIENTID,
 P.FirstName
, P.LastName
, P.Sex
, P.city
,P.ADDRESS
,P.STATE
,P.ZIP
,P.DOB
,YEAR(AF.POSTDATE)
,MONTH(AF.POSTDATE)



SELECT PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY,PR.INSURANCEPACKAGEID,P.PATIENTID as PatientID,
PI.CREATEDDATETIME as CreatedDAte
,YEAR(pr.LASTUPDATED) AS PYyear
,Month(pr.LASTUPDATED) as PYmonth
INTO #PayerDetails
FROM  ATHENAONE.PATIENT AS P (nolock)  
inner join ATHENAONE.PATIENTINSURANCE as PI (nolock) ON
P.PATIENTID=PI.PATIENTID
and P.CONTEXTID=PI.CONTEXTID
INNER JOIN ATHENAONE.Payer AS PR (nolock) ON
PI.INSURANCEPACKAGEID=PR.INSURANCEPACKAGEID
and PI.CONTEXTID=PR.CONTEXTID
where pi.SEQUENCENUMBER=1 
GROUP BY P.PATIENTID,PI.CREATEDDATETIME,PI.INSURANCEPACKAGEID,PR.Insurancepackageid,
PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY,pr.LASTUPDATED


SELECT 
CAST(PP.SchedulingName As Varchar) AS SchedulingName
,PP.ProviderId
,P.PATIENTID as PatientID
,count(Cc.APPOINTMENTID) as Appointmentid
,year(CC.EncounterDate) as ECYear,
month(CC.EncounterDate) as ECMonth,
count(cc.ClinicalEncounterID) AS NoofEncounters
into #PRDR1
from athenaone.PATIENT as P (nolock)  
inner join athenaone.ClinicalEncounter as CC (nolock) on
P.PatientID=CC.patientID
and p.CONTEXTID=CC.CONTEXTID
inner join athenaone.PROVIDER as PP (nolock) on
CC.PROVIDERID=PP.PROVIDERID
and CC.CONTEXTID=PP.CONTEXTID 
inner join ATHENAONE.APPOINTMENT as ps (nolock) on
PS.appointmentid=cc.appointmentid
and ps.CONTEXTID=cc.CONTEXTID
WHERE CC.ENCOUNTERSTATUS='Closed' 
GROUP BY P.PATIENTID,CC.ENCOUNTERDATE,PP.providerID, PP.PROVIDERID, CAST(PP.SCHEDULINGNAME AS Varchar),Cc.APPOINTMENTID
,Cc.APPOINTMENTID

--Select NoofEncounters from #PRDR1
--where ECYear=2022 and ProviderId=22

SELECT   
CASE WHEN PS.PATIENTOUTSTANDINGAMOUNT is null then 0
else PS.PATIENTOUTSTANDINGAMOUNT END as TotalPatientBalance
,ce.PATIENTID
,ps.LASTUPDATED
,count(ps.APPOINTMENTID) as Appointmentid
,year(ce.EncounterDate) as EYear,
month(ce.EncounterDate) as EMonth
into #patientBalanceAmount
from athenaone.APPOINTMENT as ps (nolock)  
 --and AND CAST(ce.CLOSEDDATETIME AS DATE)=CAST(ce.ENCOUNTERDATE AS DATE)
INNER join ATHENAONE.ClinicalEncounter as ce (nolock) on
PS.appointmentid=ce.appointmentid
GROUP BY ce.PATIENTID,PS.PATIENTOUTSTANDINGAMOUNT,PS.LASTUPDATED,EncounterDate

Begin
with Final as(
select  
P.PatientID
,P.Charge
,P.Payment
,(P.firstname+''+P.lastname) as PatientName
,INSURANCEREPORTINGCATEGORY
,SchedulingName
,PROVIDERID
,PBA.APPOINTMENTID
,NoofEncounters
,Pyear
,PMonth
,TotalPatientBalance
,ROW_NUMBER() over(PARTITION by P.PatientID,PROVIDERID,PBA.APPOINTMENTID order by Pyear,PMonth desc ) as Rn
from #Patient as P 
INNER JOIN #PayerDetails as PY on P.patientID=PY.PatientID --and P.Pyear=py.PYyear --and p.PMonth=py.PYmonth
INNER JOIN #PRDR1 as PR on P.patientID=PR.PatientID --and P.Pyear=PR.ECYear and P.PMonth=PR.ECMonth
INNER JOIN #patientBalanceAmount as PBA on P.patientID=PBA.PATIENTID --AND P.Pyear=PBA.EYear AND P.PMonth=PBA.EMonth
--where P.patientID=75392
)
select * into Billing_Dashboard from Final
where Rn=1

End
--insert into PBRI_Billing_Dashboard
--select  distinct
--P.PatientID
--,P.Charge
--,P.Payment
--,(P.firstname+''+P.lastname) as PatientName
--,INSURANCEREPORTINGCATEGORY
--,SchedulingName
--,PROVIDERID
--,PBA.APPOINTMENTID
--,NoofEncounters
--,Pyear
--,PMonth
--,TotalPatientBalance
--from #Patient as P 
--INNER JOIN #PayerDetails as PY on P.patientID=PY.PatientID --and P.Pyear=py.PYyear --and p.PMonth=py.PYmonth
--INNER JOIN #PRDR1 as PR on P.patientID=PR.PatientID --and P.Pyear=PR.ECYear and P.PMonth=PR.ECMonth
--INNER JOIN #patientBalanceAmount as PBA on P.patientID=PBA.PATIENTID --AND P.Pyear=PBA.EYear AND P.PMonth=PBA.EMonth
----where P.patientID=75392
--order by p.patientID


END
GO
