USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Patient_DataHub_Test1]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_DataHub_Test1](
	[PAtientID] [numeric](12, 0) NULL,
	[EmployeeFlag] [varchar](max) NULL,
	[FirstName] [varchar](max) NULL,
	[LastName] [varchar](max) NULL,
	[DOB] [date] NULL,
	[Sex] [varchar](max) NULL,
	[ADDRESS] [varchar](max) NULL,
	[city] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[PayerName] [varchar](max) NULL,
	[PayerID] [numeric](12, 0) NULL,
	[RenderingProviderName] [varchar](30) NULL,
	[PatientYear] [int] NULL,
	[PatientMonth] [int] NULL,
	[NoOfEncounters] [int] NULL,
	[Charges] [numeric](38, 2) NULL,
	[Collections] [numeric](38, 2) NULL,
	[AverageTotal Collections per Visit] [varchar](26) NOT NULL,
	[Balance] [numeric](12, 2) NULL,
	[LibertyPatientID] [varchar](50) NULL,
	[GlobalID] [numeric](12, 0) NULL,
	[LibertyYear] [int] NULL,
	[LibertyMonth] [int] NULL,
	[NoOfScripts] [int] NULL,
	[Total] [decimal](38, 2) NULL,
	[Copay] [decimal](38, 2) NULL,
	[RequestedACQ] [decimal](38, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
