USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_AppointmentByDateTime]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE proc [dbo].[sp_AppointmentByDateTime]
as
Begin
                            IF OBJECT_ID('tempdb..#TempAppointment') IS NOT NULL
							DROP TABLE #TempAppointment
							IF OBJECT_ID(N'dbo.AppointmentByDateAndTimeTable', N'U') IS NOT NULL 
							Drop table PP_Athena_ODS..AppointmentByDateAndTimeTable

Begin
with AppointmentBYDateandTime as  (
select ap.PATIENTID,ap.APPOINTMENTID,ap.APPOINTMENTDATE,ap.APPOINTMENTSCHEDULEDDATETIME,ap.APPOINTMENTSTARTTIME,d.DEPARTMENTNAME,
ap.SCHEDULINGPROVIDER,ap.APPOINTMENTSTATUS,
ROW_NUMBER() over (partition by ap.APPOINTMENTDATE,ap.APPOINTMENTSCHEDULEDDATETIME,ap.SCHEDULINGPROVIDER order by ap.appointmentdate desc)recent 
--into #temp2
from ATHENAONE.APPOINTMENT as ap (nolock)
join ATHENAONE.DEPARTMENT as d (nolock)
on ap.DEPARTMENTID=d.DEPARTMENTID
and ap.PATIENTID is not null
and year(appointmentdate)>=year(GETDATE())-1)

select * into #TempAppointment from 
AppointmentBYDateandTime
where recent=1

END

select t.PATIENTID as PatientID,p.FIRSTNAME as FirstName,p.LASTNAME as LastName,P.DOB as Dateofbirth,t.APPOINTMENTID,t.APPOINTMENTDATE as AppointmentDate,
t.APPOINTMENTSCHEDULEDDATETIME as ApptScheduleDateTime,t.APPOINTMENTSTARTTIME as AppointmentStartTime,T.DEPARTMENTNAME as DepartmentName,t.SCHEDULINGPROVIDER as RenderingProvider,T.APPOINTMENTSTATUS
as AppointmentStatus INTO dbo.AppointmentByDateAndTimeTable from #TempAppointment as t
join ATHENAONE.Patient as p (nolock)
on p.PATIENTID=t.PATIENTID
---where AppointmentStatus not like '%Cancel%'

END


GO
