USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[OnlyEmployee]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlyEmployee](
	[PATIENTID] [numeric](18, 0) NULL,
	[CUSTOMFIELDNAME] [varchar](100) NULL,
	[CUSTOMFIELDVALUE] [varchar](100) NULL
) ON [PRIMARY]
GO
