USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[CLINICALPROVIDER_BackUp]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINICALPROVIDER_BackUp](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[DUPLICATEOFCLINICALPROVID] [numeric](38, 0) NULL,
	[REPLACEDBYCLINICALPROVID] [numeric](38, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[NAME] [varchar](max) NULL,
	[FIRSTNAME] [varchar](max) NULL,
	[MIDDLENAME] [varchar](max) NULL,
	[LASTNAME] [varchar](max) NULL,
	[TITLE] [varchar](max) NULL,
	[GENDER] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[ADDRESS1] [varchar](max) NULL,
	[ADDRESS2] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[COUNTRY] [varchar](max) NULL,
	[FAX] [varchar](max) NULL,
	[PHONE] [varchar](max) NULL,
	[NPI] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CLIANUMBER] [varchar](max) NULL,
	[PLCNAME] [varchar](max) NULL,
	[CLINICALPROVIDERCONTEXTID] [numeric](12, 0) NULL,
	[ANSISPECIALTYID] [numeric](12, 0) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
