USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[TrailPat_Athena]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrailPat_Athena](
	[Charge] [decimal](9, 3) NULL,
	[Payment] [decimal](9, 3) NULL,
	[PROVIDERNAME] [varchar](50) NULL,
	[PROVIDERID] [numeric](18, 0) NULL,
	[patientID] [numeric](18, 0) NULL,
	[Sex] [varchar](50) NULL,
	[DOB] [date] NULL,
	[STATE] [varchar](50) NULL,
	[POSTDATE] [date] NULL,
	[Pyear] [numeric](18, 0) NULL,
	[PMonth] [numeric](18, 0) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](18, 0) NULL,
	[INSURANCEREPORTINGCATEGORY] [varchar](200) NULL,
	[CEmonth] [numeric](18, 0) NULL,
	[CEYear] [numeric](18, 0) NULL,
	[ENCOUNTERDATE] [date] NULL,
	[NoofEncounters] [numeric](18, 0) NULL,
	[CUSTOMFIELDNAME] [varchar](50) NULL
) ON [PRIMARY]
GO
