USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Outdated]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[Outdated](
@InputDate Date
)
AS  
/*****************************************************************************************************************************************************
Object		:     Adult_Immunization
Created By	:     MBR
Created on	:     03/01/2022
Description	:	  Adult Immunization Learning Community

History:          MM/DD/YYYY  Modified User   Request Content
                  03/01/2022  MBR             Initial creation
*******************************************************************************************************************************************************/
BEGIN 

DECLARE
  
  @StartDate DATE,
  @EndDate   DATE



SET
  @StartDate = DATEADD(MONTH,-1,@InputDate) 

SET
  @EndDate   = DATEADD(DAY, 0,@InputDate)
							
							
							IF OBJECT_ID('tempdb..#Patient_Stress') IS NOT NULL
							DROP TABLE #Patient_Stress
							IF OBJECT_ID('tempdb..#Housing') IS NOT NULL
							DROP TABLE #Housing
							IF OBJECT_ID('tempdb..#PatientDemographic') IS NOT NULL
							DROP TABLE #PatientDemographic
							IF OBJECT_ID('tempdb..#Demographic') IS NOT NULL
							DROP TABLE #Demographic
							IF OBJECT_ID('tempdb..#Vaccination') IS NOT NULL
							DROP TABLE #Vaccination
							IF OBJECT_ID('tempdb..#EncounterCPT') IS NOT NULL
							DROP TABLE #EncounterCPT
							IF OBJECT_ID(N'dbo.VaccineImmunization', N'U') IS NOT NULL 
							Drop Table VaccineImmunization


select PATIENTID,SOCIALHISTORYANSWER  as Stress
Into #Patient_Stress
from ATHENAONE.PATIENTSOCIALHISTORY
where SOCIALHISTORYKEY like '%stress%' 


select PATIENTID,SOCIALHISTORYANSWER AS Housing  
Into #Housing
from ATHENAONE.PATIENTSOCIALHISTORY 
where SOCIALHISTORYKEY like '%Living%'



Select  P.PATIENTID,
P.DOB as Date_Of_Birth,
P.DECEASEDDATE as Date_Of_Death,
P.SEX,
P.SEXUALORIENTATION,
P.GENDERIDENTITY,
P.ETHNICITY,
P.RACE,
P.AGRICULTURALWORKER as Farm_worker,
P.VETERANSTATUS,
P.LANGUAGE,
P.UNCONFIRMEDFAMILYSIZE as HouseHold_Size,
P.PUBLICHOUSING as Housing_Status,
P.ZIP,
P.CITY,
P.STATE,
P.OCCUPATION,
PAY.INSURANCEPACKAGETYPE as Insurance,
P.UNCONFIRMEDYEARLYINCOME as Household_Income
into #PatientDemographic
from  ATHENAONE.Patient as P
Left join ATHENAONE.PATIENTINSURANCE As PI
on P.PATIENTID=PI.PATIENTID and
   P.CONTEXTID=PI.CONTEXTID
Left Join ATHENAONE.Payer as PAY
on PI.INSURANCEPACKAGEID=PAY.INSURANCEPACKAGEID and
   PI.CONTEXTID=PAY.CONTEXTID

   
   select PD.*,H.Housing
   into #Demographic from 
   #PatientDemographic as PD
   Full outer Join #Housing as H
   on PD.PATIENTID=H.PATIENTID

   --select * from #Demographic
   --where PATIENTID='154564'



select PV.VACCINESITENAME as HealthCenter,
PV.PATIENTID,
PV.VISGIVENDATE,
CE.CLINICALENCOUNTERID,
CE.ENCOUNTERDATE as EligibleEncounterDate,
CE.CLINICALENCOUNTERTYPE as EligibleEncounterType,
PRO.PROVIDERTYPE,
PV.VACCINENAME as VaccineDescription,
PV.CVX as Vaccinecode,
Case
    when PV.REFUSEDREASON='02' THEN 'Parent Refused'
	when PV.REFUSEDREASON='03' THEN 'Religious Exemption'
	ELSE ''
End as VaccineExclusion
into #Vaccination
from ATHENAONE.PATIENTVACCINE as PV
Join ATHENAONE.ClinicalEncounter as CE
on PV.PATIENTID=CE.PATIENTID and
   PV.VISGIVENDATE=CE.ENCOUNTERDATE and
   PV.CONTEXTID=CE.CONTEXTID
Full outer Join ATHENAONE.PROVIDER as PRO
on CE.PROVIDERID=PRO.PROVIDERID and
   CE.CONTEXTID=PRO.CONTEXTID
where (PV.VACCINENAME like '%Influenza%' or
      PV.VACCINENAME like '%SARS%' or
	  PV.VACCINENAME like '%Covid%') and
	 (CE.ENCOUNTERSTATUS like '%Closed%' or 
	  CE.ENCOUNTERSTATUS like '%TEMP%') and
	  PV.ADMINISTEREDDATETIME is not null and
	  CE.ENCOUNTERDATE between @StartDate and @EndDate  
	  
	 
--select * from #Vaccination
--where PATIENTID='154564'
--Select V.*,CS.CLINICALSERVICEID 
--into #ClinicalService
--from #Vaccination as V
--Join ATHENAONE.CLINICALSERVICE as CS
--on V.CLINICALENCOUNTERID=CS.CLINICALENCOUNTERID

select P.PROCEDURECODE,P.PROCEDURECODEDESCRIPTION,CSP.CLINICALSERVICEID,CS.CLINICALENCOUNTERID,
CE.PATIENTID
into #EncounterCPT
from ATHENAONE.PROCEDURECODE as P
Join ATHENAONE.CLINICALSERVICEPROCEDURECODE as CSP
on P.PROCEDURECODE=CSP.PROCEDURECODE and
   P.CONTEXTID=CSP.CONTEXTID
join ATHENAONE.CLINICALSERVICE as CS
on CSP.CLINICALSERVICEID=CS.CLINICALSERVICEID
Join ATHENAONE.ClinicalEncounter as CE
On CS.CLINICALENCOUNTERID=CE.CLINICALENCOUNTERID and
    CS.CONTEXTID=CE.CONTEXTID
where P.PROCEDURECODE in ('0031A','0021A','0022A','0071A'
,'0072A','0013A','0011A','0012A','0004A','0003A','0054A','0051A','0052A','0053A','0001A','0002A','0064A','0041A','0042A'
,'91303','91302','91307','91301','91305','91300','91306','91304','90653','90667','90668','90666','90662','90664','90694','90756'
,'90674','90689','90687','90688','90685','90686','90630','90682','90672','90661','90657','90658','90655','90656','90654','90673',
'90660')

--select CS.*,ECPT.*
--into #FinalVaccination
--from #ClinicalService as CS
--join #EncounterCPT as ECPT
--on CS.CLINICALENCOUNTERID=ECPT.Encounter and
--   CS.CLINICALSERVICEID=ECPT.serviceID and
--   CS.PATIENTID=ECPT.PID

   
Begin
with FinalSummary as (
select CAST(PD.PATIENTID as varchar) as PatientID,
PD.Date_Of_Birth,
PD.Date_Of_Death,
PD.SEX,
PD.SEXUALORIENTATION,
PD.GENDERIDENTITY,
PD.ETHNICITY,
PD.RACE,
PD.Farm_worker,
PD.VETERANSTATUS,
PD.LANGUAGE as English_Proficiency,
PD.HouseHold_Size,
PD.Housing,
PD.Housing_Status,
PD.ZIP,
PD.CITY,
PD.STATE,
'' AS County_Of_Residence,
'' as Education,
PD.OCCUPATION as Employment,
PD.Insurance,
PD.Household_Income,
'' as Food_Insecurity,
'' as Clothing_Insecurity,
'' as Utilities_Insecurity,
'' as Child_Care_Insecurity,
'' as Healthcare_Insecurity,
'' as Phone_Insecurity,
'' as Other_Material_Insecurity,
'' as Transportation_Insecurity,
'' as Social_Integration,
'' as Stress,
'' as Incarceration,
'' as Refugee,
'' as Safety,
'' as Domestic_Violence,
V.HealthCenter,
--V.VISGIVENDATE,
V.EligibleEncounterDate,
V.EligibleEncounterType,
ECPT.PROCEDURECODE AS EncounterCPT,
V.PROVIDERTYPE,
V.VaccineDescription,
V.Vaccinecode,
V.VaccineExclusion,
ROW_NUMBER() Over(PARTITION by PD.PatientID,V.Vaccinecode order by V.EligibleEncounterDate asc )as Rn
from #Demographic as PD
--Full Outer JOin #Housing as H
--On PD.PATIENTID=H.PATIENTID
--LEFT Join #Patient_Stress as PS
--on PD.PATIENTID=PS.PATIENTID
Right Join #Vaccination as V
on PD.PATIENTID=V.PATIENTID
full outer Join #EncounterCPT as ECPT
on V.PATIENTID=ECPT.PATIENTID and
   V.CLINICALENCOUNTERID=ECPT.CLINICALENCOUNTERID)


select * into VaccineImmunization from FinalSummary
where Rn=1 

END

--update VI
--set VI.Housing=H.Housing
--from VaccineImmunization as VI
--Join #Housing as H
--on VI.PatientID=H.PATIENTID

--update VI
--set VI.Stress=PS.Stress
--from VaccineImmunization as VI
--Join #Patient_Stress as PS
--on VI.PatientID=PS.PATIENTID

END



GO
