USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_MedicationAnalysis_CVS]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_MedicationAnalysis_CVS]    
as     
begin    
    
truncate table Tbl_MedicationAnalysis_CVS    
    
insert into Tbl_MedicationAnalysis_CVS(    
PATIENTMEDICATIONID    
,DOCUMENTID    
,PATIENTID    
,PatientName_Athena    
,Gender_Athena    
,DOB_Athena    
,PRESCRIBERNPI    
,PRESCRIBER    
,ProviderName    
,CreateDate    
,MEDICATIONNAME    
,GPIID_Athena    
,GPIName_Athena    
,NDC_Athena    
,DerivedNDC_Athena    
,NDCType    
,Drug_name    
,DateDispensedSQL    
,globalid    
,NPI    
,Liberty_PatientId    
,Patientname_Liberty    
,Gender_Liberty    
,DOB_Liberty    
,GPIID_Liberty    
,GPIName_Liberty    
,NDC_Liberty    
,QuantityDispensed    
,FullDispenseQuantity    
,RefillsAuthorized    
,RefillNumber    
,DaysSupply    
,AuthorizedQuantity    
,AvailableQuantity    
,NUMBEROFREFILLSPRESCRIBED    
,PRESCRIPTIONFILLQUANTITY    
,LibertyRankId    
,RecordInsertedDate    
,GPIMatchType    
,DEPARTMENTNAME    
,Source_Indicator    
,PharmacyName    
,Is340B    
,PLCNAME    
,CPName    
,CLINICALPROVIDERID    
,PRESCRIBEDYN    
,ADMINISTEREDYN    
,DISPENSEDYN)    
    
select     
PATIENTMEDICATIONID    
,DOCUMENTID    
,PATIENTID    
,PatientName_Athena    
,Gender_Athena    
,DOB_Athena    
,PRESCRIBERNPI    
,PRESCRIBER    
,ProviderName    
,CreateDate    
,MEDICATIONNAME    
,GPIID_Athena    
,GPIName_Athena    
,NDC_Athena    
,DerivedNDC_Athena    
,NDCType    
,Drug_name    
,DateDispensedSQL    
,globalid    
,NPI    
,Liberty_PatientId    
,Patientname_Liberty    
,Gender_Liberty    
,DOB_Liberty    
,GPIID_Liberty    
,GPIName_Liberty    
,NDC_Liberty    
,QuantityDispensed    
,FullDispenseQuantity    
,RefillsAuthorized    
,RefillNumber    
,DaysSupply    
,AuthorizedQuantity    
,AvailableQuantity    
,NUMBEROFREFILLSPRESCRIBED    
,PRESCRIPTIONFILLQUANTITY    
,LibertyRankId    
,RecordInsertedDate    
,GPIMatchType    
,DEPARTMENTNAME    
,Source_Indicator    
,PharmacyName    
,Is340B    
,PLCNAME    
,CPName    
,CLINICALPROVIDERID    
,PRESCRIBEDYN    
,ADMINISTEREDYN    
,DISPENSEDYN    
from     
Tbl_MedicationAnalysis    
    
    
update Tbl_MedicationAnalysis_CVS set GPIName_Athena=replace(GPIName_Athena,'*','')    
update Tbl_MedicationAnalysis_CVS set GPIName_Liberty=replace(GPIName_Athena,'*','')    
update Tbl_MedicationAnalysis_CVS set GPIName_Liberty=replace(GPIName_Athena,'-',' ')    
update Tbl_MedicationAnalysis_CVS set GPIName_Athena=replace(GPIName_Athena,'-',' ')    
    
    
    
drop table if exists #CVSGenericNameDetails    
    
SELECT     
    GNID,    
    TherapyClass,    
    GenericMedName,    
 CASE     
        WHEN CHARINDEX(' ', GenericMedName) = 0 THEN GenericMedName  -- Only one word    
        WHEN CHARINDEX(' ', GenericMedName, CHARINDEX(' ', GenericMedName) + 1) = 0 THEN GenericMedName  -- Exactly two words    
        ELSE LEFT(GenericMedName, CHARINDEX(' ', GenericMedName, CHARINDEX(' ', GenericMedName) + 1) - 1)  -- More than two words, take first two    
  end GenericMedName_TwoChar,    
   Brand    
 into #CVSGenericNameDetails    
FROM     
    CVSGenericNameDetails    
    
    
--drop table if exists #CVSBrand    
    
--select *     
--into #CVSBrand    
--from     
--(    
-- select distinct BrandName from CVSBrandNameDetails    
--union     
--select distinct Brand from #CVSGenericNameDetails where Brand<>''    
--) abc    
    
--select * from #CVSBrand    
  
drop table if exists #FDA_NDCPackage    
  
select * into #FDA_NDCPackage from FDA_NDCPackage  
  
drop table if exists #FDA_NDCProduct    
  
select * into #FDA_NDCProduct from FDA_NDCProduct  
  
drop table if exists #CVSBrandNameDetails  
  
select * into #CVSBrandNameDetails from CVSBrandNameDetails  
   
    
drop table if exists #BrandNameNDCs    
  
create table #BrandNameNDCs(TherapyClass  varchar(200),BrandName varchar(200)   
,NDCPackageCode11 varchar(50) )  
  
insert into #BrandNameNDCs(TherapyClass,BrandName,NDCPackageCode11  )  
  
select TherapyClass,BrandName,NDCPackageCode11    
from     
(    
select c.TherapyClass,c.BrandName,pc.NDCPackageCode11,    
ROW_NUMBER() over(partition by NDCPackageCode11 order by     
case when c.BrandName=p.PROPRIETARYNAME then 1 else 0 end desc,c.TherapyClass) NDCRnk    
from     
#FDA_NDCPackage pc     
join     
#FDA_NDCProduct p on p.PRODUCTID = pc.PRODUCTID    
join     
( select *, ROW_NUMBER() over(partition by BrandName order by TherapyClass asc) Rnk    
from    
#CVSBrandNameDetails     
)c     
on     
(c.BrandName=p.PROPRIETARYNAME    
or     
p.PROPRIETARYNAME+' '+p.PROPRIETARYNAMESUFFIX=c.BrandName    
or     
NONPROPRIETARYNAME=c.BrandName    
)    
where c.Rnk=1    
)res where NDCRnk=1    
  
  
delete from #FDA_NDCPackage where NDCPackageCode11   
in(select NDCPackageCode11 from #BrandNameNDCs where isnull(NDCPackageCode11,'')<>'')  
    
delete from #CVSBrandNameDetails where BrandName in   
(select distinct BrandName from #BrandNameNDCs)  
  
drop table if exists #CVSFDABrandMapping  
create table #CVSFDABrandMapping(CVSBrand varchar(200),FDABrand varchar(200))  
  
insert into #CVSFDABrandMapping(CVSBrand,FDABrand)  
  
 select 'AKYNZEO IV' as CVSBrand,'AKYNZEO' as FDABrand  
union select 'ARCALYST ILARIS' as CVSBrand,'Arcalyst' as FDABrand  
union select 'CELLCEPT INJ' as CVSBrand,'CellCept' as FDABrand  
union select 'CORTROPHIN' as CVSBrand,'Purified Cortrophin Gel' as FDABrand  
union select 'DEPEN TITRA' as CVSBrand,'Depen' as FDABrand  
union select 'EPIVIR HBV' as CVSBrand,'EPIVIR' as FDABrand  
union select 'GAMASTAN S/D' as CVSBrand,'GAMASTAN' as FDABrand  
union select 'HYPERHEP B S/D' as CVSBrand,'HYPERHEP B' as FDABrand  
union select 'HYPERRHO S/D' as CVSBrand,'HYPERRHO' as FDABrand  
union select 'KOATE-DVI' as CVSBrand,'Koate' as FDABrand  
union select 'PROFILNINE SD' as CVSBrand,'Profilnine' as FDABrand  
union select 'RADICAVA (IV)' as CVSBrand,'RADICAVA/RADICAVA ORS' as FDABrand  
union select 'SABRIL PWD' as CVSBrand,'SABRIL' as FDABrand  
union select 'SABRIL TABS' as CVSBrand,'SABRIL' as FDABrand  
union select 'USTEKINUMAB IV' as CVSBrand,'ustekinumab/Ustekinumab-aekn' as FDABrand  
union select 'LANREOTIDE' as CVSBrand,'LANREOTIDE ACETATE' as FDABrand  
union select 'LUPRON' as CVSBrand,'Lupron Depot/Lupron Depot-PED' as FDABrand  
  
--select * from #CVSBrandNameDetails where BrandName in   
--( select CVSBrand from  #CVSFDABrandMapping  )  
--order by BrandName  
  
--select * from #FDA_NDCProduct where PROPRIETARYNAME in   
--( select FDABrand from  #CVSFDABrandMapping  )  
--order by PROPRIETARYNAME  
  
  
insert into #BrandNameNDCs(TherapyClass,BrandName,NDCPackageCode11  )  
select TherapyClass,BrandName,NDCPackageCode11    
from     
(    
select c.TherapyClass,c.BrandName,pc.NDCPackageCode11,    
ROW_NUMBER() over(partition by NDCPackageCode11 order by     
case when c.FDABrand=p.PROPRIETARYNAME then 1 else 0 end desc,c.TherapyClass) NDCRnk    
from     
#FDA_NDCPackage pc     
join     
#FDA_NDCProduct p on p.PRODUCTID = pc.PRODUCTID    
join     
( select *, ROW_NUMBER() over(partition by BrandName order by TherapyClass asc) Rnk    
from    
#CVSBrandNameDetails  c   
join #CVSFDABrandMapping f on f.CVSBrand= c.BrandName  
)c     
on     
(c.FDABrand=p.PROPRIETARYNAME     
)    
where c.Rnk=1    
)res where NDCRnk=1    
  
  
--HYPERHEP B S/D  13533063601  
  
--select * from #FDA_NDCPackage where PRODUCTID in   
--(  
--select PRODUCTID from #FDA_NDCProduct   
--where PROPRIETARYNAME in (  
--select FDABrand from #CVSFDABrandMapping where CVSBrand='HYPERHEP B S/D'  
--)  
--)  
  
  
    
/*same brand can have multiple package NDC so join may have duplicates but no issue     
as we are updating the therapy class and brand*/    
update t set TherapyClass_CVS=b.TherapyClass,BrandName_CVS=b.BrandName,    
MatchType='BrandName'    
--select b.TherapyClass,b.BrandName,'BrandName',t.*    
--select b.TherapyClass,b.BrandName,'BrandName' Type,t.*    
from     
#BrandNameNDCs b    
join     
Tbl_MedicationAnalysis_CVS t on     
(t.NDC_Athena=b.NDCPackageCode11     
or t.NDC_Liberty=b.NDCPackageCode11    
or t.DerivedNDC_Athena =b.NDCPackageCode11    
)    
    
    
update t set TherapyClass_CVS=g.TherapyClass,--BrandName_CVS=g.Brand,    
GenericName_CVS= g.GenericMedName_TwoChar ,    
MatchType='GenericMedName'    
--select t.*    
--select g.TherapyClass,g.GenericMedName,t.*    
from     
Tbl_MedicationAnalysis_CVS t     
join     
(    
select  * ,ROW_NUMBER() over(partition by GenericMedName_TwoChar order by brand,TherapyClass)Rnk    
from     
#CVSGenericNameDetails    
)    
g on     
(    
t.GPIName_Athena like g.GenericMedName_TwoChar+'%'    
or     
t.GPIName_Liberty like g.GenericMedName_TwoChar+'%'    
)    
where  Rnk=1 and MatchType is null     
    
    
delete from Tbl_MedicationAnalysis_CVS where  GenericName_CVS like '%sildenafil%'    
delete from Tbl_MedicationAnalysis_CVS where  GenericName_CVS like '%tadalafil%'    
delete from Tbl_MedicationAnalysis_CVS where  GenericName_CVS like '%tobramycin%'    
    
    
update c set BrandName_CVS=    
case when  p.PROPRIETARYNAMESUFFIX<>'' then  p.PROPRIETARYNAME+' '+p.PROPRIETARYNAMESUFFIX    
else p.PROPRIETARYNAME end     
--select p.PROPRIETARYNAME+' '+p.PROPRIETARYNAMESUFFIX,GenericName_CVS,*     
from Tbl_MedicationAnalysis_CVS c     
join  FDA_NDCPackage pk on (pk.NDCPackageCode11=c.NDC_Athena    
or     
pk.NDCPackageCode11=c.DerivedNDC_Athena    
or     
pk.NDCPackageCode11=c.NDC_Liberty    
)    
join FDA_NDCProduct p on p.PRODUCTID =pk.PRODUCTID    
where c.MatchType='GenericMedName'    
    
    
delete from Tbl_MedicationAnalysis_CVS where MatchType is null  

update  Tbl_MedicationAnalysis_CVS
set PRESCRIPTIONFILLQUANTITY=CAST(PRESCRIPTIONFILLQUANTITY AS DECIMAL(18,2))

 
update  Tbl_MedicationAnalysis_CVS
set QuantityDispensed=CAST(QuantityDispensed AS DECIMAL(18,2))

update  Tbl_MedicationAnalysis_CVS
set FullDispenseQuantity=CAST(FullDispenseQuantity AS DECIMAL(18,2))

update  Tbl_MedicationAnalysis_CVS
set AuthorizedQuantity=CAST(AuthorizedQuantity AS DECIMAL(18,2))

update  Tbl_MedicationAnalysis_CVS
set AvailableQuantity=CAST(AuthorizedQuantity AS DECIMAL(18,2))
    
end    
  
  




 

  
  
    
    
    
    
GO
