USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[PP_Patient_Datahub]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Patient Level      
--EXEC [dbo].[Patient_DataHub_Deva]      
CREATE PROCEDURE [dbo].[PP_Patient_Datahub]      
AS       
BEGIN      
       IF OBJECT_ID('tempdb..#Patient') IS NOT NULL      
       DROP TABLE #Patient      
       IF OBJECT_ID('tempdb..#PayerDetails') IS NOT NULL      
       DROP TABLE #PayerDetails      
       IF OBJECT_ID('tempdb..#SchedulerDetails') IS NOT NULL      
       DROP TABLE #SchedulerDetails      
       IF OBJECT_ID('tempdb..#PateintStatement') IS NOT NULL      
       DROP TABLE #PateintStatement      
       IF OBJECT_ID('tempdb..#EncounterDetails') IS NOT NULL      
       DROP TABLE #EncounterDetails      
       IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL      
       DROP TABLE #Liberty      
       IF OBJECT_ID('tempdb..#LibertyFInal') IS NOT NULL      
       DROP TABLE #LibertyFinal      
       IF OBJECT_ID('tempdb..#EmployeeFlag') IS NOT NULL      
       DROP TABLE #EmployeeFlag      
       IF OBJECT_ID('tempdb..#DataHub') IS NOT NULL      
       DROP TABLE #DataHub      
    IF OBJECT_ID('tempdb..#DataHubFinal') IS NOT NULL      
       DROP TABLE #DataHubFinal      
      
    
      
--SELECT         
--SUM(AF.CurrentCharge+af.LateCharge ) AS Charge      
--,SUM(AF.Payment) AS Payment      
--,P.PatientID as patientID      
--, P.FirstName      
--, P.LastName      
--, P.Sex      
--, P.city      
--,P.DOB      
--,P.ADDRESS      
--,P.STATE      
--,P.ZIP      
--,YEAR(AF.POSTDATE) AS Pyear      
--,MONTH(AF.POSTDATE) AS PMonth      
--into #Patient      
--FROM Financials.ActivityFact as AF (nolock)      
--inner Join athenaone.Patient as P (nolock) on      
--af.PatientID=p.PatientID      
--and af.CONTEXTID=p.CONTEXTID      
--GROUP BY P.PATIENTID,      
-- P.FirstName      
--, P.LastName      
--, P.Sex      
--, P.city      
--,P.ADDRESS      
--,P.STATE      
--,P.ZIP      
--,P.DOB      
--,YEAR(AF.POSTDATE)      
--,MONTH(AF.POSTDATE)      
      
      
drop table if exists #ActivityFact      
      
SELECT         
af.POSTDATE       
,af.PATIENTID      
,af.CURRENTCHARGE      
,af.LATECHARGE      
,af.PAYMENT       
into #ActivityFact      
FROM Financials.ActivityFact  AF with (nolock)      
inner Join athenaone.Patient  P with (nolock) on      
af.PatientID=p.PatientID      
      
      
drop table if exists #Patient      
      
SELECT         
SUM(AF.CurrentCharge+af.LateCharge ) AS Charge      
,SUM(AF.Payment) AS Payment      
,P.PatientID as patientID      
, P.FirstName      
, P.LastName      
, P.Sex      
, P.city      
,P.DOB      
,P.ADDRESS      
,P.STATE      
,P.ZIP      
,YEAR(AF.POSTDATE) AS Pyear      
,MONTH(AF.POSTDATE) AS PMonth      
into #Patient      
FROM #ActivityFact af      
inner Join athenaone.Patient as P with (nolock) on      
af.PatientID=p.PatientID      
GROUP BY P.PATIENTID,      
 P.FirstName      
, P.LastName      
, P.Sex      
, P.city      
,P.ADDRESS      
,P.STATE      
,P.ZIP      
,P.DOB      
,YEAR(AF.POSTDATE)      
,MONTH(AF.POSTDATE)      
      
 
      
BEGIN       
--Payer Details      
WITH CTE AS (      
SELECT PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY,PR.INSURANCEPACKAGEID,P.PATIENTID as PatientID,      
PI.CREATEDDATETIME as CreatedDAte,      
ROW_NUMBER() OVER(PARTITION BY P.PATIENTID ORDER BY PI.CREATEDDATETIME DESC) AS RN      
--INTO #PayerDetails      
FROM  ATHENAONE.PATIENT AS P (nolock)        
inner join ATHENAONE.PATIENTINSURANCE as PI (nolock) ON      
P.PATIENTID=PI.PATIENTID      
and P.CONTEXTID=PI.CONTEXTID      
INNER JOIN ATHENAONE.Payer AS PR (nolock) ON      
PI.INSURANCEPACKAGEID=PR.INSURANCEPACKAGEID      
and PI.CONTEXTID=PR.CONTEXTID      
where pi.SEQUENCENUMBER=1       
GROUP BY P.PATIENTID,PI.CREATEDDATETIME,PI.INSURANCEPACKAGEID,PR.Insurancepackageid,      
PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY      
)      
SELECT * INTO #PayerDetails      
FROM CTE WHERE RN=1      
      
END      
      
BEGIN      
--SchedulerDetails      
WITH CTE AS(      
SELECT       
CAST(PP.SchedulingName As Varchar) AS SchedulingName      
,PP.ProviderId      
,P.PATIENTID as PatientID      
,CC.EncounterDate as EncounterDate,      
ROW_NUMBER() OVER(PARTITION BY P.PATIENTID ORDER BY CC.ENCOUNTERDATE DESC) as RN      
--into #PRDR1      
from athenaone.PATIENT as P (nolock)        
inner join athenaone.ClinicalEncounter as CC (nolock) on      
P.PatientID=CC.patientID      
and p.CONTEXTID=CC.CONTEXTID      
inner join athenaone.PROVIDER as PP (nolock) on      
CC.PROVIDERID=PP.PROVIDERID      
and CC.CONTEXTID=PP.CONTEXTID WHERE CC.ENCOUNTERSTATUS='Closed'       
GROUP BY P.PATIENTID,CC.ENCOUNTERDATE,PP.providerID, PP.PROVIDERID, CAST(PP.SCHEDULINGNAME AS Varchar)      
)      
      
SELECT * INTO #SchedulerDetails      
FROM CTE WHERE RN=1      
END      
      
BEGIN      
--PAtient Statement      
WITH CTE AS (      
SELECT         
CASE WHEN PS.PATIENTOUTSTANDINGAMOUNT is null then 0      
else PS.PATIENTOUTSTANDINGAMOUNT END as TotalPatientBalance      
,p.PATIENTID      
,MAX(PS.LASTUPDATED) as LASTMODIFIEDDATETIME,      
ROW_NUMBER() OVER(PARTITION BY p.PATIENTID ORDER BY ps.LASTUPDATED DESC) as RN      
from athenaone.APPOINTMENT as ps (nolock)        
right join ATHENAONE.Patient as p (nolock) on      
ps.PatientID=p.patientID      
and ps.CONTEXTID=p.CONTEXTID       
GROUP BY p.PATIENTID,PS.PATIENTOUTSTANDINGAMOUNT,PS.LASTUPDATED      
)      
SELECT * INTO #PateintStatement      
FROM CTE WHERE RN=1      
END      
--EncounterDetails      
SELECT P.PATIENTID as PATIENTID      
,MONTH(ce.ENCOUNTERDATE) as CEmonth      
,YEAR(ce.ENCOUNTERDATE) as CEYear      
,COUNT(ce.ClinicalEncounterID) AS NoofEncounters      
INTO #EncounterDetails      
FROM ATHENAONE.ClinicalEncounter as CE (nolock)        
INNER JOIN athenaone.Patient as p (nolock) on      
ce.PatientID=p.patientID      
AND ce.CONTEXTID=p.CONTEXTID       
WHERE CE.ENCOUNTERSTATUS='Closed'        
GROUP BY P.PATIENTID,MONTH(ce.ENCOUNTERDATE)       
,YEAR(ce.ENCOUNTERDATE)      
      
      
--LIbertyDetails      
      
SELECT DISTINCT      
P2.PatientId as PatientId,      
P2.GlobalId,      
COUNT(st.ScriptNumber) as ScriptNumber,      
month(st.DateDispensedSQL) as LibertyMonth,      
year(st.DateDispensedSQL) as Libertyyear,      
sum(st.Total) as Total,      
sum(st.Copay) as Copay,      
sum(st.RequestedACQ) as RequestedACQ      
,st.DateDispensedSQL      
into #Liberty      
FROM PP_ODS..rxqPatient as P2 (nolock)      
LEFT join PP_ODS..rxqScriptBase as SB (nolock) on      
P2.PatientID=SB.PatientId      
and P2.Source_Indicator=SB.Source_Indicator      
Inner JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on      
ST.scriptNumber=SB.ScriptNumber      
and ST.Source_Indicator=SB.Source_Indicator      
where st.DateDispensedSQL <> '9999-09-09' AND P2.GlobalId<>''      
group by P2.PatientId,      
P2.GlobalId ,      
p2.PatientId,      
month(st.DateDispensedSQL),      
year(st.DateDispensedSQL),       
st.DateDispensedSQL      
      
SELECT PatientID,GlobalId,Libertyyear,LibertyMonth,SUM(ScriptNumber) AS NoOFScripts,      
SUM(TOtal) AS Total,SUM(Copay) AS Copay,SUM(RequestedACQ) AS RequestedACQ INTO #LibertyFInal      
FROM #Liberty      
GROUP BY PatientID,GlobalId,Libertyyear,LibertyMonth      
      
Select P.patientID,       
Case when CD.CUSTOMFIELDNAME is NULL THEN 'No'      
   when CD.CUSTOMFIELDNAME <> 'PrimaryPlus Employee' THEN 'No' ELSE CD.CUSTOMFIELDVALUE END AS EmployeeFlag      
INTO #EmployeeFlag      
FROM      
ATHENAONE.Patient AS P with(nolock)      
left join (select * from  athenaone.CUSTOMDEMOGRAPHICS with(nolock) where CUSTOMFIELDNAME = 'PrimaryPlus Employee') as CD ON      
P.PATIENTID=CD.PATIENTID      
group by P.PATIENTID, CD.CUSTOMFIELDNAME, CD.CUSTOMFIELDVALUE      
      
 
drop table if exists #DataHub      
      
SELECT P.patientID as P_patientID,ED.PAtientID as ED_PAtientID,L.GlobalId  as L_GlobalId    
---,E.EmployeeFlag      
,P.FirstName ,P.LastName  ,P.DOB,P.Sex      
,P.ADDRESS  AS Address      
,P.CITY  AS City      
,P.STATE  AS State      
,P.ZIP   AS ZIP      
---,PD.INSURANCEREPORTINGCATEGORY  AS PayerName      
---,PD.INSURANCEPACKAGEID AS PayerID      
---,SD.SchedulingName  AS RenderingProviderName      
,P.Pyear,ED.CEYear,L.Libertyyear      
,P.PMonth,ED.CEmonth,L.LibertyMonth    
,ED.NoofEncounters     
,P.Charge    
,P.Payment      
,'Handle this at reportLevel' AS [AverageTotal_Collections_per_Visit]      
---, PS.TotalPatientBalance    
,L.PatientId  AS LibertyPatientID        
,L.NoOfScripts     
,L.Total      
,L.Copay    
,L.RequestedACQ      
INTO #DataHub      
FROM #Patient P      
FULL JOIN #EncounterDetails ED ON P.patientID=ED.PATIENTID AND P.Pyear=ED.CEYear AND P.PMonth=ED.CEmonth      
--LEFT JOIN #PayerDetails PD on P.patientID=PD.PatientID      
--LEFT JOIN #SchedulerDetails SD on PD.PatientID=SD.PatientID      
--LEFT JOIN #PateintStatement PS ON PS.PATIENTID=ED.PATIENTID      
--LEFT JOIN #EmployeeFlag E ON E.PATIENTID=PS.PATIENTID      
FULL JOIN #LibertyFInal L  ON ED.patientID=CAST(L.GlobalId AS INT) AND ED.CEYear=L.Libertyyear  AND ED.CEmonth=L.LibertyMonth    
    
    
drop table if exists #DataHubFinal     
      
SELECT COALESCE(D.P_patientID,D.ED_PAtientID ,CAST(D.L_GlobalId AS INT)) AS PAtientID      
,E.EmployeeFlag      
,D.FirstName ,D.LastName  ,D.DOB,D.Sex      
,D.ADDRESS     
,D.CITY      
,D.STATE     
,D.ZIP      
,PD.INSURANCEREPORTINGCATEGORY  AS PayerName      
,PD.INSURANCEPACKAGEID AS PayerID      
,SD.SchedulingName  AS RenderingProviderName      
,COALESCE(D.Pyear,D.CEYear,D.Libertyyear) AS PatientYear      
,COALESCE(D.PMonth,D.CEmonth,D.LibertyMonth) AS PatientMonth      
,isnull(SUM(D.NoofEncounters),0)  AS NoOfEncounters       
,isnull(D.Charge,0)  AS Charges      
,isnull( D.Payment , 0)  Collections--'Handle this at reportLevel' AS Collections      
,'Handle this at reportLevel' AS [AverageTotal_Collections_per_Visit]      
,isnull( PS.TotalPatientBalance,0)  AS Balance      
,D.LibertyPatientID      
,COALESCE(CAST(D.L_GlobalId  AS INT),D.P_patientID,D.ED_PAtientID,CAST(L_GlobalId AS INT) ) AS GlobalID      
,COALESCE(D.Libertyyear,D.Pyear,D.CEYear ) AS LibertyYear      
,COALESCE(D.LibertyMonth,D.PMonth,D.CEmonth ) AS LibertyMonth      
,isnull(D.NoOfScripts , 0 ) NoOfScripts      
,isnull(D.Total  ,0)  Total      
,isnull(D.Copay , 0 )  Copay       
,isnull(D.RequestedACQ  , 0 )   RequestedACQ      
INTO #DataHubFinal      
FROM #DataHub D    
LEFT JOIN #PayerDetails PD on D.P_patientID=PD.PatientID      
LEFT JOIN #SchedulerDetails SD on PD.PatientID=SD.PatientID      
LEFT JOIN #PateintStatement PS ON PS.PATIENTID=D.ED_PAtientID     
LEFT JOIN #EmployeeFlag E ON E.PATIENTID=PS.PATIENTID      
GROUP BY D.P_patientID,D.ED_PAtientID      
,D.FirstName ,D.LastName ,D.P_patientID ,E.EmployeeFlag,DOB,D.Sex,D.ADDRESS,D.city,D.STATE,D.ZIP ,D.Pyear
,D.PMonth,D.CEYear    
,D.CEmonth      
,PD.INSURANCEREPORTINGCATEGORY, PD.INSURANCEPACKAGEID,      
SD.SchedulingName      
,D.Charge      
,PS.TotalPatientBalance       
,D.Payment      
,D.LibertyPatientID,D.L_GlobalId,D.Libertyyear,D.LibertyMonth,D.NoOFScripts       
,D.Total       
,D.Copay       
,D.RequestedACQ      
       
UPDATE a      
SET  a.FIrstName=CASE WHEN a.FirstName IS NULL THEN b.FIRSTNAME ELSE a.FirstNAme END      
    ,a.LAstName=CASE WHEN a.LAstName IS NULL THEN b.LASTNAME ELSE a.LAstNAme END      
 ,a.DOB= CASE WHEN a.DOB IS NULL THEN b.DOB ELSE a.DOB END      
 ,a.SEX=CASE WHEN a.SEX IS NULL THEN b.SEX ELSE a.SEX END      
 ,a.Address=CASE WHEN a.Address IS NULL THEN b.ADDRESS ELSE a.ADDRESS END      
 ,a.CITY=CASE WHEN a.CITY IS NULL THEN b.CITY ELSE a.CITY END      
 ,a.STATE=CASE WHEN a.STATE IS NULL THEN b.STATE ELSE a.STATE END      
 ,a.ZIP=CASE WHEN a.ZIP IS NULL THEN b.ZIP ELSE a.ZIP END      
    ,a.PayerNAme=CASE WHEN a.PAyerNAme IS NULL THEN b.INSURANCEREPORTINGCATEGORY ELSE a.PayerNAme END      
 ,a.PAyerID=CASE WHEN a.PayerID is NULL THEN b.INSURANCEPACKAGEID ELSE a.PAyerID END      
 ,a.RenderingProviderNAme=CASE WHEN a.RenderingProviderName IS NULL THEN b.SchedulingName ELSE a.RenderingProviderName END      
FROM   #DataHubFinal a      
LEFT JOIN (SELECT P.patientID,p.FIRSTNAME,p.LASTNAME,p.DOB,P.SEX,P.ADDRESS,P.CITY,P.STATE,P.ZIP      
,PD.INSURANCEREPORTINGCATEGORY,PD.INSURANCEPACKAGEID,S.SchedulingName FROM  #Patient p       
INNER JOIN #PayerDetails PD ON PD.PatientID=P.PAtientID      
LEFT JOIN #SchedulerDetails S ON S.PatientID=P.PAtientID      
GROUP BY  P.PAtientID,p.FIRSTNAME,p.LASTNAME,p.DOB,P.SEX,P.ADDRESS,P.CITY,P.STATE,P.ZIP      
,PD.INSURANCEREPORTINGCATEGORY,PD.INSURANCEPACKAGEID,S.SchedulingName) b ON a.PAtientID=b.patientID      
      
UPDATE a      
SET a.LibertyPatientID=CASE WHEN a.LibertyPatientID IS NULL THEN L.PatientId ELSE a.LibertyPatientID END      
FROM #DataHubFinal a      
LEFT JOIN (SELECT b.PAtientID,b.GlobalId FROM #LibertyFInal b      
GROUP BY b.PatientId,b.GlobalId)  L ON a.PAtientID=CAST(L.GlobalId AS INT)      
      
UPDATE a      
SET a.EmployeeFlag=E.EmployeeFlag      
FROM #DataHubFinal a      
LEFT JOIN (SELECT PATIENTID,EmployeeFlag FROM #EmployeeFlag GROUP BY  PATIENTID,EmployeeFlag) E      
ON E.PATIENTID=a.PAtientID      
      
UPDATE a      
SET a.RenderingProviderName=CASE WHEN (CASE WHEN a.RenderingProviderName IS NULL     
THEN E.SchedulingName ELSE a.RenderingProviderName END) IS NULL THEN ''    
ELSE (CASE WHEN a.RenderingProviderName IS NULL THEN E.SchedulingName ELSE a.RenderingProviderName END    
  )  END       
FROM #DataHubFinal a      
LEFT JOIN (SELECT PATIENTID,SchedulingName FROM #SchedulerDetails GROUP BY PATIENTID,SchedulingName) E      
ON E.PATIENTID=a.PAtientID      
      
UPDATE #DataHubFinal      
SET Address='' WHERE Address IS NULL      
      
UPDATE #DataHubFinal      
SET City='' WHERE City IS NULL      
    
UPDATE #DataHubFinal      
SET State='' WHERE State IS NULL     
    
UPDATE #DataHubFinal      
SET ZIp='' WHERE ZIP IS NULL      
    
UPDATE #DataHubFinal      
SET RenderingProviderName='' WHERE RenderingProviderName IS NULL      
    
UPDATE #DataHubFinal      
SET Sex='' WHERE Sex IS NULL      
    
    
UPDATE #DataHubFinal      
SET Balance=MaxBalance      
FROM #DataHubFinal A      
INNER JOIN ( SELECT PatientID, MAX(Balance) AS MaxBalance      
FROM #DataHubFinal      
GROUP BY PAtientID) B On A.PAtientID=B.PAtientID      
WHERE Balance='0.00'       
      
    
  if exists (select top 1 1 from #DataHubFinal)    
  begin    
  TRUNCATE TABLE [Patient_DataHub]    
  end    
   
      
INSERT INTO [Patient_DataHub]      
SELECT PAtientID,      
 EmployeeFlag,      
 FirstName,      
 LastName,      
 DOB ,      
 Sex ,      
 ADDRESS,      
 city,      
 STATE,      
 ZIP,      
 PayerName,      
 PayerID,      
 RenderingProviderName,      
 PatientYear,      
 PatientMonth,      
 NoOfEncounters,      
 sum(Charges) as Charges,      
 sum(Collections)as Collections ,      
 AverageTotal_Collections_per_Visit,      
 SUM(balance) as balance,      
 LibertyPatientID,      
 GlobalID,      
 LibertyYear,      
 LibertyMonth,      
 sum(NoOfScripts) as NoOfScripts ,      
 sum(Total) as Total,      
 sum(Copay) as Copay,      
 sum(RequestedACQ) as RequestedACQ 
 ,getdate() as RecordInsertedDate
 FROM #DataHubFinal       
WHERE FIRSTNAME IS  NOT NULL      
group by PAtientID,      
 EmployeeFlag,      
 FirstName,      
 LastName,      
 DOB ,      
 Sex ,      
 ADDRESS,      
 city,      
 STATE,      
 ZIP,      
 PayerName,      
 PayerID,      
 RenderingProviderName,      
 PatientYear,      
 PatientMonth,      
 NoOfEncounters,      
 LibertyPatientID,      
 GlobalID,      
 LibertyYear,      
 LibertyMonth,      
 AverageTotal_Collections_Per_Visit      
      
END      
      
----Validation      
--SELECT PAtientID,EMployeeFlag,RenderingProviderName      
----,PatientYear,PatientMonth      
--,SUM(Charges),SUM(Collections),SUM(NoOfEncounters)      
--,SUM(NoOfScripts) , SUM( TOtal), SUM(Copay) ,SUM(RequestedACQ)FROM #DataHub      
--WHERE PAtientID=130324 AND PatientYear=2020      
--GROUP BY PAtientID,EMployeeFlag,RenderingProviderName--,PatientYear,PatientMonth      
      
--SELECT SUM(Charge),SUM(Payment) FROM #Patient      
--WHERE Pyear=2020 AND patientID=130324      
GO
