USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PraparePatientsScoreInfo]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PraparePatientsScoreInfo](
	[Completed Time] [date] NULL,
	[Questionnaire Result ID] [int] NULL,
	[PatientID] [int] NULL,
	[patientName] [varchar](255) NULL,
	[patientBirthdate] [varchar](50) NULL,
	[Question] [varchar](255) NULL,
	[Answer] [varchar](255) NULL,
	[QuestionNo] [int] NULL,
	[Score] [int] NULL,
	[Recordcreateddate] [datetime] NULL,
	[TotalPrapareScore] [int] NULL,
	[TotalAnsScore] [int] NULL,
	[prapare] [varchar](200) NULL,
	[Departmentname] [varchar](500) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PraparePatientsScoreInfo] ADD  DEFAULT (getdate()) FOR [Recordcreateddate]
GO
