USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[DexcomPatientInfo]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DexcomPatientInfo](
	[PATIENTID] [numeric](12, 0) NULL,
	[Date_Of_Birth] [date] NULL,
	[Age] [int] NULL,
	[PROVIDERFIRSTNAME] [text] NULL,
	[PROVIDERLASTNAME] [text] NULL,
	[PatientWeight] [float] NULL,
	[PatientHeight] [float] NULL,
	[HEARTRATE] [varchar](max) NULL,
	[Creatinine] [varchar](max) NULL,
	[A1c] [varchar](max) NULL,
	[EGFR] [varchar](max) NULL,
	[next_appointment_date] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
