USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[MediTracker_PatientSnapshotInfo_Test]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediTracker_PatientSnapshotInfo_Test](
	[PATIENTID] [varchar](50) NULL,
	[PATIENTSSN] [varchar](50) NULL,
	[Date_Of_Birth] [date] NULL,
	[PatientName] [varchar](200) NULL,
	[ProviderName] [varchar](200) NULL,
	[NextAppointmentDate] [date] NULL,
	[SSN_DOB] [varchar](200) NULL,
	[Name_DOB] [varchar](210) NULL,
	[Recordcreateddate] [datetime] NULL,
	[pvid] [int] NULL
) ON [PRIMARY]
GO
