USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[CVSBrandNameDetails_backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVSBrandNameDetails_backup](
	[BDID] [int] IDENTITY(1,1) NOT NULL,
	[TherapyClass] [varchar](500) NULL,
	[BrandName] [varchar](4000) NULL,
	[IsGenericNameProvided] [varchar](4000) NULL
) ON [PRIMARY]
GO
