USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[GetALLObjectMaxDate]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetALLObjectMaxDate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](100) NULL,
	[MaxDate] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[Schema_Name] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GetALLObjectMaxDate] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
