USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PatientVaccinesTable]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientVaccinesTable](
	[PATIENTID] [numeric](12, 0) NULL,
	[Age] [int] NULL,
	[SEX] [varchar](200) NULL,
	[FIRSTNAME] [varchar](500) NULL,
	[LASTNAME] [varchar](500) NULL,
	[RACE] [varchar](500) NULL,
	[PatientName] [varchar](1001) NOT NULL,
	[City] [varchar](200) NULL,
	[STATE] [varchar](200) NULL,
	[ADMINISTEREDDATETIME] [datetime2](7) NULL,
	[Vaccine_Type] [varchar](20) NULL,
	[Administered_NotAdministered] [varchar](16) NOT NULL,
	[VACCINENAME] [varchar](max) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[CVX] [varchar](max) NULL,
	[VISGIVENDATE] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
