USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Athena_SCHEDULINGPROVIDER]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Athena_SCHEDULINGPROVIDER](
	[ProviderId] [bigint] NOT NULL,
	[RenderingProvider] [nvarchar](200) NULL,
	[ServiceMonth] [datetime] NULL,
	[charges] [numeric](18, 0) NULL,
	[payment] [numeric](18, 0) NULL,
	[No_of_Appointments] [numeric](18, 0) NULL,
	[Average_Charge_Per_Visit] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
