USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[ClinicalEncounterSocialQA]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicalEncounterSocialQA](
	[SocialQaID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicalEncounterID] [int] NULL,
	[QuestionSequence] [tinyint] NULL,
	[QuestionText] [varchar](1000) NULL,
	[AnswerText] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[Notes] [varchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClinicalEncounterSocialQA] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
