USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Data Hub]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Data Hub]
AS  
/*****************************************************************************************************************************************************
Object		:     Athena&Liberty_Rendering_Provider
Created By	:     SIVA
Created on	:     09/23/2021
Description	:	  RenderingProvider Financial Details

History:          MM/DD/YYYY  Modified User   Request Content
                  09/23/2021  NK             Initial creation
*******************************************************************************************************************************************************/
BEGIN 			
							IF OBJECT_ID('tempdb..#afp') IS NOT NULL
							DROP TABLE #afp
							IF OBJECT_ID('tempdb..#cep') IS NOT NULL
							DROP TABLE #cep
							IF OBJECT_ID('tempdb..#psp') IS NOT NULL
							DROP TABLE #psp
							IF OBJECT_ID('tempdb..#pyr') IS NOT NULL
							DROP TABLE #pyr
							IF OBJECT_ID('tempdb..#PRDR') IS NOT NULL
							DROP TABLE #PRDR
							IF OBJECT_ID('tempdb..#CDG') IS NOT NULL
							DROP TABLE #CDG
							IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL
							DROP TABLE #Liberty
							IF OBJECT_ID('tempdb..#final') IS NOT NULL
							DROP TABLE #final

select  
SUM(AF.CurrentCharge+af.LateCharge ) AS Charge
,SUM(AF.Payment) AS Payment
,P.PatientID as patientID
, P.FirstName
, P.LastName
, P.Sex
, P.city
,P.DOB
,P.ADDRESS
,P.STATE
,P.ZIP
,YEAR(POSTDATE) AS AYear
,MONTH(POSTDATE) AS AMOnth
into #afp
FROM Financials.ActivityFact as AF (nolock)
inner Join athenaone.Patient as P (nolock) on
af.PatientID=p.PatientID
and af.CONTEXTID=p.CONTEXTID
GROUP BY
 P.FirstName
, P.LastName
, P.Sex
, P.city
,P.ADDRESS
,P.STATE
,P.ZIP
,P.DOB,P.PATIENTID
,YEAR(POSTDATE)
,MONTH(POSTDATE)



select
count(ce.ClinicalEncounterID) as Counts
,CE.PATIENTID as PATIENTID
,month(ce.ENCOUNTERDATE) as CEmonth
,year(ce.ENCOUNTERDATE) as CEYear
into #cep
from athenaone.ClinicalEncounter as CE (nolock)  
where CE.ENCOUNTERSTATUS='Closed'
GROUP BY CE.PATIENTID,month(ce.ENCOUNTERDATE) 
,year(ce.ENCOUNTERDATE)



select  
case when PS.TotalPatientBalance is null then 0
else PS.TOTALPATIENTBALANCE END as TotalPatientBalance
,p.PATIENTID
,max(PS.LASTMODIFIEDDATETIME) as LASTMODIFIEDDATETIME,
ROW_NUMBER() OVER(PARTITION BY p.PATIENTID ORDER BY LASTMODIFIEDDATETIME desc) as rn
into  #psp
from athenaone.PatientStatement as ps (nolock)  
right join athenaone.Patient as p (nolock) on
ps.PatientID=p.patientID
and ps.CONTEXTID=p.CONTEXTID
GROUP BY p.PATIENTID,PS.TotalPatientBalance,PS.LASTMODIFIEDDATETIME
order by ps.LASTMODIFIEDDATETIME desc

select
PR.InsurancereportingcategoryID
,PR.INSURANCEREPORTINGCATEGORY
,PR.insurancepackageid
,P.PATIENTID as PatientID
,PIN.CREATEDDATETIME as CreatedDate,
ROW_NUMBER() OVER(PARTITION BY P.PATIENTID ORDER BY PIN.CREATEDDATETIME desc) as rn2
into #pyr
from athenaone.PATIENT as P (nolock)  
inner join athenaone.PATIENTINSURANCE as PIN (nolock) on
p.PatientID=pin.patientID
and p.CONTEXTID=pin.CONTEXTID
inner join athenaone.payer as PR (nolock) on
pin.INSURANCEPACKAGEID=PR.INSURANCEPACKAGEID
and pin.CONTEXTID=PR.CONTEXTID
GROUP BY P.PATIENTID,PIN.CREATEDDATETIME,PIN.INSURANCEPACKAGEID,PR.Insurancepackageid,
PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY
order by pin.CREATEDDATETIME desc

select
Cast(PP.SchedulingName As Varchar) AS SchedulingName
,PP.ProviderId
,P.PATIENTID as PatientID
,CC.EncounterDate as EncounterDate,
ROW_NUMBER() OVER(PARTITION BY P.PATIENTID ORDER BY CC.ENCOUNTERDATE desc) as rn3
into #PRDR
from athenaone.PATIENT as P (nolock)  
inner join athenaone.ClinicalEncounter as CC (nolock) on
P.PatientID=CC.patientID
and p.CONTEXTID=CC.CONTEXTID
inner join athenaone.PROVIDER as PP (nolock) on
CC.PROVIDERID=PP.PROVIDERID
and CC.CONTEXTID=PP.CONTEXTID Where CC.ENCOUNTERSTATUS='Closed' --and P.PATIENTID='130324'
GROUP BY P.PATIENTID,CC.ENCOUNTERDATE,PP.providerID, PP.PROVIDERID, CAST(PP.SCHEDULINGNAME AS Varchar)
order by CC.ENCOUNTERDATE desc

Select P.patientID, 
Case when CD.CUSTOMFIELDNAME is NULL THEN 'No'
	  when CD.CUSTOMFIELDNAME <> 'PrimaryPlus Employee' THEN 'No' ELSE CD.CUSTOMFIELDVALUE END AS Employee
into #CDG
from athenaone.Patient AS P
left join (select * from  athenaone.CUSTOMDEMOGRAPHICS where CUSTOMFIELDNAME = 'PrimaryPlus Employee') as CD ON
P.PATIENTID=CD.PATIENTID
group by P.PATIENTID, CD.CUSTOMFIELDNAME, CD.CUSTOMFIELDVALUE


SELECT distinct
P2.PatientId as PatientId,
P2.GlobalId,
Count(st.ScriptNumber) as ScriptNumber,
month(st.DateDispensedSQL) as LMonth,
year(st.DateDispensedSQL) as Lyear,
sum(st.Total) as Total,
sum(st.Copay) as Copay,
sum(st.RequestedACQ) as RequestedACQ
,st.DateDispensedSQL
into #Liberty
from PP_ODS..rxqPatient as P2 (nolock)
inner join PP_ODS..rxqScriptBase as SB (nolock) on
P2.PatientID=SB.PatientId
and P2.Source_Indicator=SB.Source_Indicator
inner JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on
ST.scriptNumber=SB.ScriptNumber
and ST.Source_Indicator=SB.Source_Indicator
where st.DateDispensedSQL <> '9999-09-09'
group by P2.PatientId,
P2.GlobalId ,
p2.PatientId,
--,ST.ScriptNumber,
month(st.DateDispensedSQL),
year(st.DateDispensedSQL), st.DateDispensedSQL





select distinct
A.Charge
,A.Payment
,CAST(A.PatientID AS varchar) AS PatientID
,A.FirstName
,A.LastName
,A.Sex
,A.DOB
,A.City
,A.ADDRESS AS Address
,A.STATE As State
,A.ZIP As ZipCode
,TotalPatientBalance as Balance
,sum(Counts) as counts
,Cast(INSURANCEREPORTINGCATEGORYID as Varchar) as PayerID
,INSURANCEREPORTINGCATEGORY as PayerName
,Lyear
,LMonth
,c.CEmonth,
c.CEYear
,AYear
,AMOnth
,SchedulingName
,Employee
,scriptnumber 
,Total
,Copay
,RequestedACQ
,GlobalId
,L.PatientId as PatientIDLib, DateDispensedSQL

INTO #Final
From #afp as a 
inner join #cep as c  on
c.patientid=a.PATIENTID
and c.CEmonth=a.AMOnth
and c.CEYear=a.AYear
Inner join #psp  as p  on
p.PATIENTID=c.PATIENTID
inner join #pyr as r on
P.PatientID=r.PATIENTID
inner join #PRDR as d on
d.PATIENTID=r.PatientID
inner join #CDG as g on
g.PATIENTID=d.PatientID

left join  #Liberty as l  on
L.GlobalId=cast(a.PATIENTID as varchar)
and l.Lyear=c.ceyear
and l.LMonth=c.CEmonth
where  rn=1 and rn2=1 and rn3=1 

group by 
A.Charge
,A.Payment
,CAST(A.PatientID AS varchar)
,A.FirstName
,A.LastName
,A.Sex
,A.DOB
,A.City
,A.ADDRESS
,A.STATE
,A.ZIP
,TotalPatientBalance
,Cast(INSURANCEREPORTINGCATEGORYID as Varchar)
,INSURANCEREPORTINGCATEGORY
,Lyear
,LMonth
,c.CEmonth,
c.CEYear
,AYear
,AMOnth
,SchedulingName
,Employee
,scriptnumber 
,Total
,Copay
,RequestedACQ
,GlobalId
,L.PatientId, DateDispensedSQL



SELECT * FROM #Final (nolock)
 END

GO
