USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[SPandItsTables]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPandItsTables](
	[SchemaName] [sysname] NOT NULL,
	[TableName] [sysname] NOT NULL,
	[referencing_schema_name] [sysname] NULL,
	[referencing_entity_name] [sysname] NULL
) ON [PRIMARY]
GO
