USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PatientImmunization]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientImmunization](
	[PATIENTID] [numeric](12, 0) NULL,
	[LASTNAME] [varchar](500) NULL,
	[FIRSTNAME] [varchar](500) NULL,
	[DOB] [date] NULL,
	[AGE] [int] NULL,
	[SEX] [varchar](200) NULL,
	[PatientCity] [varchar](500) NULL,
	[PatientState] [varchar](200) NULL,
	[ObservationDateTime] [date] NULL,
	[RESULT] [varchar](max) NULL,
	[EligibleEncounterDate] [date] NULL,
	[VaccineDescription] [varchar](max) NULL,
	[RN] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
