USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Clinical_Dashboard]    Script Date: 8/4/2026 4:51:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Clinical_Dashboard]  
AS    
/*****************************************************************************************************************************************************  
Object  :     Clinical_Dashboard  
Created By :     NK  
Created on :     12/09/2021  
Description :   Patient Clinical Dashboard  
  
History:          MM/DD/YYYY  Modified User   Request Content  
                  12/09/2021  NK              Initial creation  
*******************************************************************************************************************************************************/  
BEGIN          
         
         
       IF OBJECT_ID('tempdb..#Athenahealth') IS NOT NULL  
         DROP TABLE #AthenaHealth  
       IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL  
         DROP TABLE #Liberty  
       IF OBJECT_ID('tempdb..#PatientWeight') IS NOT NULL  
         DROP TABLE #PatientWeight  
       IF OBJECT_ID('tempdb..#PatientHeight') IS NOT NULL  
         DROP TABLE #PatientHeight  
       IF OBJECT_ID('tempdb..#PatientA1C') IS NOT NULL  
         DROP TABLE #PatientA1C  
       IF OBJECT_ID('tempdb..#PatientPotassium') IS NOT NULL  
         DROP TABLE #PatientPotassium  
       IF OBJECT_ID('tempdb..#PatientCreatinine') IS NOT NULL  
         DROP TABLE #PatientCreatinine  
       IF OBJECT_ID('tempdb..#Therapeutic_Drugclass') IS NOT NULL  
         DROP TABLE #Therapeutic_Drugclass  
  
TRUNCATE TABLE PBIR_Clinical_Dashboard  
  
Select   
P.PATIENTID  
,(P.Firstname+' '+P.lastname) as PatientName  
,P.DOB as Date_Of_Birth  
,sum(year(getdate())-year(P.dob)) as Age  
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender  
INTO #AthenaHealth  
From ATHENAONE.Patient as P (nolock)  
Group by p.PATIENTID  
,p.FIRSTNAME  
,p.LASTNAME  
,P.sex  
,p.DOB  
   
 begin  
  
with weight as (  
select   
P.PATIENTID  
,(VS.DISPLAYVALUE) as PatientWeight  
,ROW_NUMBER() over (partition by p.patientid order by VS.lastupdated desc)recent  
from ATHENAONE.VITALSIGN as VS (nolock)  
INNER join ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
INNER JOIN ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
where VS.[KEY] ='VITALS.WEIGHT')  
  
select * into #PatientWeight   
from weight where recent=1  
end  
  
begin  
  
with Height as (  
select  
P.PATIENTID  
,(VS.DISPLAYVALUE) as PatientHeight  
,ROW_NUMBER() over (partition by p.patientid order by VS.lastupdated desc)recent  
from ATHENAONE.VITALSIGN as VS (nolock)  
INNER join ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID  
INNER JOIN ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID  
where VS.[KEY] ='VITALS.HEIGHT')  
  
select * into #PatientHeight   
from Height where recent=1  
end  
  
  
begin  
with cte as (  
Select CL.PATIENTID,cro.OBSERVATIONIDENTIFIERTEXT as A1c_Types,  
result AS A1c  
,ROW_NUMBER() OVER(PARTITION BY P.patientid,cro.loincid order by cro.lastupdated desc)RN  
from ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%A1C%'  
and cro.LOINCID is not null  
)  
  
select * into #PatientA1C  
from cte  
where rn=1  
  
end  
  
begin  
with cte as (  
Select CL.PATIENTID,  
result as Potassium  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc)RN  
from ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%Potassium%'  
and cro.LOINCID is not null  
)  
  
select * into #PatientPotassium  
from cte  
where rn=1  
  
end  
  
  
begin  
with cte as (  
Select CL.PATIENTID,  
result as Creatinine  
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN  
from ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)  
LEFT JOIN ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID  
LEFT JOIN ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID  
INNER JOIN ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID  
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Creatinine'  
and cro.loincid is not null  
)  
  
select * into #PatientCreatinine  
from cte  
where rn=1  
  
end  
  
  
  
Select  
DG.Name as Drug_name  
,P.patientid  
,P.globalid   
,D.DoctorId as ProvideID  
,(D.FirstName+' '+D.LastName) Prescribing_ProviderName  
,D.source_indicator as PharmacyName  
,MD.NDC_UPC_HRI as NDC_Number  
,MD.GenericProductIdentifier as GenericProductIdentifier  
,P.CustomField3 as Patient_CustomeField_3  
,DG.CustomField1 as Drug_CustomField_1  
,ST.DateDispensedSQL as Date_Filled  
,SB.DateWrittenSQL as VisitDate  
,DG.NdcNumber  
INTO #Liberty  
From PP_ODS..rxqDoctor as D (nolock)  
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator   
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator  
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber    
and SB.Source_Indicator=ST.Source_Indicator  
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=st.DrugId and DG.source_indicator=St.Source_Indicator  
INNER JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber 
  
  
--begin  
--with cte as (  
--select    
--D.Name  
--,D.NdcNumber  
--,MTCRF.TC_GPIName AS Therapeutic_DrugClass  
--,rank() over(partition by  MTCRF.Therapeuticclassificationcode,D.ndcnumber order by MTCRF.RecordTypeCode desc) rn   
--from PP_ODS..rxqDrug AS D (NOLOCK)  
--INNER JOIN PP_ODS..m25_MDDB_G AS MG (NOLOCK) on D.NdcNumber=MG.NDC_UPC_HRI  
--inner join PP_ODS..wl_GPI AS GPI (NOLOCK) on GPI.GPI=MG.GenericProductIdentifier  
--inner join PP_ODS..m25_MDDB_TCRF AS MTCRF (NOLOCK) on MTCRF.RecordTypeCode=GPI.PrioritySequence  
--  
--)  
--  
--select * into #Therapeutic_Drugclass  
--from cte   
--where rn=1  
--end  
  
Select T.* into #Therapeutic_DrugClass  
from  
(  
select FH.ndc    AS NDC  
,FH.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D  (nolock)  
INNER JOIN PP_ODS..FiveStar_HRM  AS FH (nolock) on D.NdcNumber = FH.NDC   
  
UNION  
select    
FD.ndc      AS NDC  
,FD.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D(nolock)  
INNER JOIN PP_ODS..FiveStar_Diabetes AS FD (nolock) ON D.NdcNumber = FD.NDC   
  
UNION  
select FDT.ndc    AS NDC  
,FDT.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D (nolock)  
INNER JOIN PP_ODS..FiveStar_DiabetesApprTx_HTN AS FDT (nolock) ON D.NdcNumber = FDT.NDC   
  
UNION  
select FR.ndc    AS NDC  
,FR.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D (nolock)  
INNER JOIN PP_ODS..FiveStar_RASA AS FR (nolock) ON D.NdcNumber = FR.NDC   
  
UNION  
select FS.ndc    AS NDC  
,FS.Therapeutic_Category AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug AS D (NOLOCK)  
INNER JOIN PP_ODS..FiveStar_Statins AS FS (NOLOCK) ON  D.NdcNumber = FS.NDC  
  
UNION  
select    
MN.NDC_UPC_HRI  AS NDC  
,DDI.DrugClass2 AS Therapeutic_DrugClass   
from PP_ODS..rxqdrug D (nolock)  
INNER JOIN PP_ODS..med_NDC AS MN ON D.NdcNumber = MN.NDC_UPC_HRI   
INNER JOIN PP_ODS..cc2_DrugDrugInteractions AS DDI ON MN.DrugDescriptorIdentifier = DDI.DDICode)T  
  
INSERT INTO PBIR_Clinical_Dashboard  
select DISTINCT  
A.PATIENTID as AthenaPatientID  
,A.PatientName as PatientName  
,A.Date_Of_Birth as Date_Of_Birth  
,cast(A.Age as bigint) as Age  
,A.Patient_Gender as Patient_Gender  
,L.PatientId as LibertyPatientID  
,L.Drug_name as DrugName  
,L.Prescribing_ProviderName as Prescribing_ProviderName  
,L.ProvideID  as ProviderID  
,L.Date_Filled  
,L.PharmacyName as PharmacyName  
,L. Patient_CustomeField_3  
,L.Drug_CustomField_1  
,L.VisitDate  
,L.GenericProductIdentifier  
,PA1C.A1c  
,PP.Potassium  
,PC.Creatinine  
,PW.PatientWeight  
,PH.PatientHeight  
,A1c_Types as A1c_Types  
,TDC.Therapeutic_DrugClass AS Therapeutic_DrugClass  
from #AthenaHealth as A  
LEFT JOIN #PatientWeight as PW on A.PATIENTID=PW.PATIENTID  
LEFT JOIN #PatientHeight as PH on A.PATIENTID=PH.PATIENTID  
LEFT JOIN #PatientA1C AS PA1C on A.PATIENTID=PA1C.PATIENTID  
LEFT JOIN #PatientPotassium as PP on A.PATIENTID=PP.PATIENTID  
LEFT JOIN #PatientCreatinine AS PC on A.PATIENTID=PC.PATIENTID  
FULL JOIN #Liberty as L on A.PATIENTID=CAST(L.GlobalId AS INT)  
LEFT JOIN #Therapeutic_Drugclass AS TDC ON L.NdcNumber=TDC.NDC   
where L.GlobalId IS NOT NULL  
AND A.PATIENTID IS NOT NULL  
order by a.PATIENTID desc  
  
end  
  
  
  
GO
