USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PatientVaccineReport]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientVaccineReport](
	[Patient_ID] [numeric](12, 0) NULL,
	[Patient_Name] [varchar](1001) NOT NULL,
	[Age] [int] NULL,
	[Gender] [varchar](200) NULL,
	[Race] [varchar](41) NOT NULL,
	[City] [varchar](200) NULL,
	[State] [varchar](200) NULL,
	[VaccineGivenDate] [datetime2](7) NULL,
	[Administered_NotAdministered] [varchar](16) NOT NULL,
	[Vaccine_Type] [varchar](20) NULL,
	[Type] [varchar](20) NULL,
	[ProcedureCode] [varchar](5) NULL,
	[PROCEDURECODEDESCRIPTION] [varchar](2000) NULL,
	[Charges] [numeric](23, 2) NULL,
	[PAYMENT] [numeric](22, 2) NULL,
	[Rn] [bigint] NULL
) ON [PRIMARY]
GO
