USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PatientLDLReport_MedList]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientLDLReport_MedList](
	[MRNnumber] [varchar](200) NULL,
	[DateDispensedSQL] [date] NULL,
	[DaysSupply] [int] NULL,
	[ScriptNumber] [int] NOT NULL,
	[NdcNumber] [varchar](50) NULL,
	[Drug_name] [varchar](100) NULL,
	[Intensity] [varchar](8) NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[source_indicator] [nvarchar](100) NOT NULL,
	[PatientId] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
