USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PatientEncounter]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientEncounter](
	[PATIENTID] [numeric](12, 0) NULL,
	[Date_Of_Birth] [date] NULL,
	[Age] [int] NULL,
	[Date_Of_Death] [date] NULL,
	[SEX] [varchar](max) NULL,
	[SEXUALORIENTATION] [varchar](max) NULL,
	[GENDERIDENTITY] [varchar](max) NULL,
	[ETHNICITY] [varchar](max) NULL,
	[RACE] [varchar](max) NULL,
	[Farm_worker] [varchar](max) NULL,
	[VETERANSTATUS] [varchar](max) NULL,
	[LANGUAGE] [varchar](max) NULL,
	[HouseHold_Size] [numeric](2, 0) NULL,
	[Housing_Status] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[STATE] [varchar](max) NULL,
	[OCCUPATION] [varchar](max) NULL,
	[Insurance] [varchar](max) NULL,
	[ELIGIBILITYLASTCHECKED] [datetime2](7) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[Household_Income] [numeric](12, 2) NULL,
	[Housing] [varchar](max) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTDATE] [date] NULL,
	[HealthCenter] [varchar](max) NULL,
	[DEPARTMENTNAME] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
