USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[StatinNdcList]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatinNdcList](
	[Drugname] [varchar](32) NOT NULL,
	[NDC] [varchar](13) NOT NULL,
	[Intensity] [varchar](8) NOT NULL
) ON [PRIMARY]
GO
