USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[TotalLibertymedicinedetails]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TotalLibertymedicinedetails](
	[Drug_name] [varchar](100) NULL,
	[patientid] [varchar](50) NOT NULL,
	[Patientname_Liberty] [varchar](101) NULL,
	[DOB_Liberty] [date] NULL,
	[globalid] [int] NULL,
	[Providername] [varchar](101) NULL,
	[source_indicator] [nvarchar](100) NOT NULL,
	[GenericProductIdentifier] [char](14) NULL,
	[GPIGenericName] [varchar](200) NULL,
	[NdcNumber] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[RefillsAuthorized] [int] NULL,
	[FullDispenseQuantity] [decimal](9, 3) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[DaysSupply] [varchar](50) NULL,
	[NPI] [varchar](50) NULL,
	[RefillNumber] [int] NOT NULL,
	[AuthorizedQuantity] [decimal](12, 3) NULL,
	[AvailableQuantity] [decimal](12, 3) NULL,
	[RefillUntilDate] [date] NULL,
	[NextDispensedQuantity] [decimal](9, 2) NULL,
	[Strength] [varchar](50) NULL,
	[form] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[MetricName] [varchar](50) NULL,
	[MetricUnit] [decimal](18, 5) NULL,
	[Is340B] [bit] NOT NULL,
	[RnkId] [bigint] NULL,
	[Ag_AgencyCode] [varchar](50) NULL,
	[ag_BIN] [int] NULL,
	[ag_PCN] [varchar](50) NULL,
	[ScriptNumber] [int] NOT NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[MRNnumber] [varchar](200) NULL
) ON [PRIMARY]
GO
