USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Tbl_MedicationAnalysis_Tab2]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MedicationAnalysis_Tab2](
	[PATIENTID] [bigint] NULL,
	[CHARTID] [bigint] NULL,
	[PRESCRIBERNPI] [bigint] NULL,
	[PRESCRIBER] [varchar](200) NULL,
	[CreatedDate] [date] NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[MEDICATIONNAME] [varchar](300) NULL,
	[NUMBEROFREFILLSPRESCRIBED] [int] NULL,
	[PRESCRIPTIONFILLQUANTITY] [int] NULL,
	[PatientName_Athena] [varchar](300) NULL,
	[Gender_Athena] [varchar](50) NULL,
	[DOB_Athena] [date] NULL,
	[DOCUMENTID] [bigint] NULL,
	[CLINICALENCOUNTERID] [bigint] NULL,
	[CLINICALORDERTYPEID] [bigint] NULL,
	[FBDMEDID] [varchar](50) NULL,
	[PATIENTMEDICATIONID] [bigint] NULL,
	[M_MEDICATIONNAME] [varchar](500) NULL,
	[MEDICATIONID] [bigint] NULL,
	[NDC] [varchar](200) NULL,
	[DerivedNDC] [varchar](200) NULL,
	[NDCType] [varchar](50) NOT NULL,
	[GenericProductIdentifier] [varchar](50) NULL,
	[GPIGenericName] [varchar](300) NULL,
	[DEPARTMENTNAME] [varchar](200) NULL,
	[NextPrescriptionDate] [date] NULL,
	[AthProviderFLName] [varchar](200) NULL,
	[AthProviderFullName] [varchar](200) NULL,
	[LibProviderFullName] [varchar](200) NULL,
	[LibProviderFLName] [varchar](200) NULL,
	[AthMed_PATIENTID] [bigint] NULL,
	[AthMed_MEDICATIONNAME] [varchar](200) NULL,
	[AthMed_PRESCRIBER] [varchar](200) NULL,
	[LENGTHOFCOURSE] [int] NULL,
	[AthMed_PRESCRIPTIONFILLQUANTITY] [int] NULL,
	[AthMed_NUMBEROFREFILLSPRESCRIBED] [int] NULL,
	[SOURCECODETYPE] [varchar](100) NULL,
	[FILLDATE] [date] NULL,
	[AthMed_PHARMACYNAME] [varchar](200) NULL,
	[AthMed_PATIENTMEDICATIONID] [bigint] NULL,
	[AthMed_CREATEDDATETIME] [datetime] NULL,
	[AthMed_MEDICATIONID] [bigint] NULL,
	[RecordInsertedDate] [datetime] NULL
) ON [PRIMARY]
GO
