USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[ObservationResult]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservationResult](
	[CLINICALPROVIDERORDERTYPE] [varchar](max) NULL,
	[TestName] [varchar](1) NOT NULL,
	[DOB] [date] NULL,
	[SEX] [varchar](200) NULL,
	[AGE] [int] NULL,
	[TestType] [varchar](max) NULL,
	[SPECIMENCOLLECTEDDATETIME] [datetime2](7) NULL,
	[SpecimenSourceDoc] [varchar](max) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CLINICALPROVIDERID] [numeric](38, 0) NULL,
	[CLINICALORDERTYPE] [varchar](max) NULL,
	[OBSERVATIONDATETIME] [datetime2](7) NULL,
	[SPECIMENSOURCE] [varchar](max) NULL,
	[SPECIMENRECEIVEDDATETIME] [datetime2](7) NULL,
	[RESULT] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CLINICALRESULTID] [numeric](12, 0) NULL,
	[RESULTDOCUMENTID] [numeric](12, 0) NULL,
	[ClinicalresultidCRO] [numeric](12, 0) NULL,
	[LOINCCODE] [varchar](200) NULL,
	[LONGCOMMONNAME] [varchar](2000) NULL,
	[Rn] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
