USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[DynamicMergeFour]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DynamicMergeFour](
	[TableCatalog] [varchar](500) NULL,
	[TableSchema] [varchar](100) NULL,
	[TableName] [varchar](500) NULL,
	[ColumnName] [varchar](500) NULL,
	[MergeOn] [varchar](1000) NULL,
	[UpdateOn] [varchar](1000) NULL,
	[InsertOn] [varchar](1000) NULL,
	[ExceptSource] [varchar](500) NULL,
	[ExceptTarget] [varchar](500) NULL,
	[IsPK] [bit] NULL
) ON [PRIMARY]
GO
