USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[OnlyInsurance]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlyInsurance](
	[PATIENTID] [numeric](18, 0) NULL,
	[PATIENTINSURANCEID] [numeric](18, 0) NULL,
	[INSURANCEREPORTINGCATEGORYID] [numeric](18, 0) NULL,
	[INSURANCEREPORTINGCATEGORY] [varchar](500) NULL,
	[INSURANCEPACKAGEID] [numeric](18, 0) NULL,
	[INSURANCEPACKAGENAME] [varchar](500) NULL,
	[RN] [numeric](18, 0) NULL,
	[POSTDATE] [date] NULL
) ON [PRIMARY]
GO
