USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Athena_reports]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Athena_reports]
AS
BEGIN
select distinct af.PROVIDERID,af.SCHEDULINGPROVIDER,

month(STARTCHECKINDATETIME) as IN_month_ID

,year(STARTCHECKINDATETIME) as IN_Year

,count(af.appointmentid) as IN_count_appt
INTO #Appointment
from                                      ATHENAONE.APPOINTMENT  as af (nolock)

inner join       ATHENAONE.ClinicalEncounter as ce  (nolock) on

                                                                af.appointmentid=ce.appointmentid

where                                   year(STARTCHECKINDATETIME) is not null

                                                                and   CANCELLEDBY is null
                                                                and af.stopsignoffdatetime is not null   

                 and year(STARTCHECKINDATETIME) = 2021

group by                      af.PROVIDERID,af.SCHEDULINGPROVIDER,        month(STARTCHECKINDATETIME)

                                                                ,year(STARTCHECKINDATETIME)

order by IN_month_ID,YEAR(STARTCHECKINDATETIME) asc

 

-----------Charge and Payment----------------
--DROP TABLE #ActivityFact
select PROVIDERID, ProviderName,datename(MM,POSTDATE) as Month_name
					,month(POSTDATE) as month_ID
					,YEAR(POSTDATE) as year , sum(currentcharge+latecharge) as charge , sum(Payment)  as payment
INTO #ActivityFact
from FINANCIALS.ACTIVITYFACT (nolock)

where  Providerid = 155  and type in('PAYMENT', 'CHARGE') and year(postdate)=2021

group by PROVIDERID,ProviderName,datename(MM,POSTDATE) 
					,month(POSTDATE) 
					,YEAR(POSTDATE) 

order by ProviderName

-------------------SDECR----------------------------------------
--DROP TABLE #Appointmentcnt
 
select ap.ProviderID,month(STARTCHECKINDATETIME) as IN_month_ID

,year(STARTCHECKINDATETIME) as IN_Year,

CAST(count(ce.clinicalencounterid) AS float) / CAST(Count (ap.appointmentid) as float) * 100 as SDCER
INTO  #Appointmentcnt
from ATHENAONE.APPOINTMENT as ap (nolock)

left join ATHENAONE.ClinicalEncounter as ce (nolock) on

ap.appointmentid=ce.appointmentid

--where ap.schedulingprovider = 'Smith_Ashley'

where ap.providerid = 155

and stopsignoffdatetime is not null

and year(STARTCHECKINDATETIME) = 2021

Group by ap.PRoviderID,month(STARTCHECKINDATETIME)

                                                                ,year(STARTCHECKINDATETIME)

order by YEAR(STARTCHECKINDATETIME), IN_month_ID asc


SELECT ap.PROVIDERID,af.Month_name,af.month_ID,af.charge,af.payment,SUM(ap.IN_count_appt) AS Appcnt,SDCER FROM #Appointment ap
INNER JOIN #ActivityFact af ON ap.PROVIDERID=af.PROVIDERID and ap.IN_Year=af.year and ap.IN_month_ID=af.month_ID
INNER JOIN #Appointmentcnt ac ON af.PROVIDERID=ac.PROVIDERID and ac.IN_Year=af.year and ac.IN_month_ID=af.month_ID
GROUP BY ap.PROVIDERID,af.Month_name,af.charge,af.payment,af.month_ID,SDCER
ORDER BY af.month_ID
END
GO
