USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_LoadProviderMetricsTable]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_LoadProviderMetricsTable]    
    
as begin     
    
drop table if exists #ProviderWithdiffSpeciality    
    
select cast(BILLEDNAME as varchar(200)) BILLEDNAME    
into #ProviderWithdiffSpeciality    
from  athenaone.provider with(nolock)    
where DELETEDDATETIME is null     
group by cast(BILLEDNAME as varchar(200))    
having count(1)>1     
    
    
update p set ProviderId=PD.PROVIDERID    
---select p.RenderingProvider     
from [Staging_ProviderMetricsTable] p     
join     
ATHENAONE.PROVIDER  PD with(nolock) on cast(Pd.BILLEDNAME as varchar(200))=p.RenderingProvider    
where     
RenderingProvider     
not in (select BILLEDNAME from #ProviderWithdiffSpeciality)    
and pd.DELETEDDATETIME is null    
    
    
update p set p.providerid=pd.providerid    
--select *    
from [Staging_ProviderMetricsTable] p     
join     
ATHENAONE.PROVIDER  PD with(nolock)     
on cast(Pd.BILLEDNAME as varchar(200))=p.RenderingProvider and     
cast(pd.SPECIALTY as varchar(200)) = p.ProviderSpecialty    
where     
RenderingProvider  in (select BILLEDNAME from #ProviderWithdiffSpeciality)    
and pd.DELETEDDATETIME is null and  p.providerid is null     
    
update p set p.PROVIDERID = (select PROVIDERID from ATHENAONE.PROVIDER with(nolock)     
where  cast(BILLEDNAME as varchar(200)) ='MIRANDA HALL, APRN')    
--select *     
from [Staging_ProviderMetricsTable] p    
where ProviderId is null     
and RenderingProvider='MIRANDA DAVIS, APRN'    
    
update p set p.providerid=pd.providerid    
--select *    
from [Staging_ProviderMetricsTable] p     
join     
ATHENAONE.PROVIDER  PD with(nolock)     
on cast(Pd.BILLEDNAME as varchar(200))=p.RenderingProvider     
where p.providerid is null     
  
Delete from [Staging_ProviderMetricsTable] where RenderingProvider =''  
    
insert into ProviderMetricsTable    
(    
[Month]    
,ProviderSpecialty    
,RenderingProvider    
,#ClosedEncounters    
,[%ofProviderBusinessHours]    
,[%ofProviderNonBusinessHours]    
,[%TimeEncounter]    
,[%TimeInbox]    
,[%TimeOrder Group]    
,[%TimeViewing]    
,TotalProviderBusinessHours    
,TotalProviderHours    
,TotalProviderNonBusinessHours    
,CreatedDatetime    
,ProviderId    
)    
    
    
select     
 s.[Month]    
,s.ProviderSpecialty    
,s.RenderingProvider    
,s.#ClosedEncounters    
,s.[%ofProviderBusinessHours]    
,s.[%ofProviderNonBusinessHours]    
,s.[%TimeEncounter]    
,s.[%TimeInbox]    
,s.[%TimeOrder Group]    
,s.[%TimeViewing]    
,s.TotalProviderBusinessHours    
,s.TotalProviderHours    
,s.TotalProviderNonBusinessHours    
,getdate() as CreatedDatetime    
,s.ProviderId    
from [Staging_ProviderMetricsTable] s    
left join     
ProviderMetricsTable P with(nolock)     
on s.Month=p.Month and s.ProviderSpecialty=p.ProviderSpecialty     
and s.RenderingProvider = p.RenderingProvider    
where p.Month is null   
    
    
end 
GO
