USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PATIENTGPALHISTORY]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTGPALHISTORY](
	[SPONTANEOUSABORTION] [numeric](2, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[FULLTERM] [numeric](2, 0) NULL,
	[ECTOPICS] [numeric](2, 0) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[VERSIONTOKEN] [numeric](12, 0) NULL,
	[PATIENTGPALHISTORYID] [numeric](12, 0) NULL,
	[INDUCEDABORTION] [numeric](2, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[TOTAL] [numeric](2, 0) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[MULTIPLEBIRTHS] [numeric](2, 0) NULL,
	[LIVING] [numeric](2, 0) NULL,
	[PREMATURE] [numeric](2, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CONTEXTID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
