USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Billing_Dashboard]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing_Dashboard](
	[PatientID] [numeric](12, 0) NULL,
	[Charge] [numeric](38, 2) NULL,
	[Payment] [numeric](38, 2) NULL,
	[PatientName] [varchar](max) NULL,
	[INSURANCEREPORTINGCATEGORY] [varchar](max) NULL,
	[SchedulingName] [varchar](30) NULL,
	[PROVIDERID] [decimal](12, 0) NULL,
	[APPOINTMENTID] [int] NULL,
	[NoofEncounters] [int] NULL,
	[Pyear] [int] NULL,
	[PMonth] [int] NULL,
	[TotalPatientBalance] [numeric](12, 2) NULL,
	[Rn] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
