USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Data Hub Test]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE PROCEDURE [dbo].[Data Hub Test]
AS  
/*****************************************************************************************************************************************************
Object		:     Athena&Liberty_Rendering_Provider
Created By	:     SIVA
Created on	:     09/23/2021
Description	:	  RenderingProvider Financial Details

History:          MM/DD/YYYY  Modified User   Request Content
                  09/23/2021  NK             Initial creation
*******************************************************************************************************************************************************/
BEGIN
							IF OBJECT_ID('tempdb..#Patient') IS NOT NULL
							DROP TABLE #Patient
							IF OBJECT_ID('tempdb..#PayerDetails') IS NOT NULL
							DROP TABLE #PayerDetails
							IF OBJECT_ID('tempdb..#SchedulerDetails') IS NOT NULL
							DROP TABLE #SchedulerDetails
							IF OBJECT_ID('tempdb..#PateintStatement') IS NOT NULL
							DROP TABLE #PateintStatement
							IF OBJECT_ID('tempdb..#EncounterDetails') IS NOT NULL
							DROP TABLE #EncounterDetails
							IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL
							DROP TABLE #Liberty
							IF OBJECT_ID('tempdb..#LibertyFInal') IS NOT NULL
							DROP TABLE #LibertyFinal
							IF OBJECT_ID('tempdb..#EmployeeFlag') IS NOT NULL
							DROP TABLE #EmployeeFlag
							IF OBJECT_ID('tempdb..#Patient_DataHub') IS NOT NULL
							DROP TABLE #DataHub

TRUNCATE TABLE Patient_DataHub

SELECT   
SUM(AF.CurrentCharge+af.LateCharge ) AS Charge
,SUM(AF.Payment) AS Payment
,P.PatientID as patientID
, P.FirstName
, P.LastName
, P.Sex
, P.city
,P.DOB
,P.ADDRESS
,P.STATE
,P.ZIP
,YEAR(AF.POSTDATE) AS Pyear
,MONTH(AF.POSTDATE) AS PMonth
into #Patient
FROM Financials.ActivityFact as AF (nolock)
inner Join athenaone.Patient as P (nolock) on
af.PatientID=p.PatientID
and af.CONTEXTID=p.CONTEXTID
GROUP BY P.PATIENTID,
 P.FirstName
, P.LastName
, P.Sex
, P.city
,P.ADDRESS
,P.STATE
,P.ZIP
,P.DOB
,YEAR(AF.POSTDATE)
,MONTH(AF.POSTDATE)


BEGIN 
--Payer Details
WITH CTE AS (
SELECT PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY,PR.INSURANCEPACKAGEID,P.PATIENTID as PatientID,
PI.CREATEDDATETIME as CreatedDAte,
ROW_NUMBER() OVER(PARTITION BY P.PATIENTID ORDER BY PI.CREATEDDATETIME DESC) AS RN
--INTO #PayerDetails
FROM  ATHENAONE.PATIENT AS P (nolock)  
inner join ATHENAONE.PATIENTINSURANCE as PI (nolock) ON
P.PATIENTID=PI.PATIENTID
and P.CONTEXTID=PI.CONTEXTID
INNER JOIN ATHENAONE.Payer AS PR (nolock) ON
PI.INSURANCEPACKAGEID=PR.INSURANCEPACKAGEID
and PI.CONTEXTID=PR.CONTEXTID
GROUP BY P.PATIENTID,PI.CREATEDDATETIME,PI.INSURANCEPACKAGEID,PR.Insurancepackageid,
PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY
)
SELECT * INTO #PayerDetails
FROM CTE WHERE RN=1

END

BEGIN
--SchedulerDetails
WITH CTE AS(
SELECT 
CAST(PP.SchedulingName As Varchar) AS SchedulingName
,PP.ProviderId
,P.PATIENTID as PatientID
,CC.EncounterDate as EncounterDate,
ROW_NUMBER() OVER(PARTITION BY P.PATIENTID ORDER BY CC.ENCOUNTERDATE DESC) as RN
--into #PRDR1
from athenaone.PATIENT as P (nolock)  
inner join athenaone.ClinicalEncounter as CC (nolock) on
P.PatientID=CC.patientID
and p.CONTEXTID=CC.CONTEXTID
inner join athenaone.PROVIDER as PP (nolock) on
CC.PROVIDERID=PP.PROVIDERID
and CC.CONTEXTID=PP.CONTEXTID WHERE CC.ENCOUNTERSTATUS='Closed' 
GROUP BY P.PATIENTID,CC.ENCOUNTERDATE,PP.providerID, PP.PROVIDERID, CAST(PP.SCHEDULINGNAME AS Varchar)
)

SELECT * INTO #SchedulerDetails
FROM CTE WHERE RN=1
END

BEGIN
--PAtient Statement
WITH CTE AS (
SELECT   
CASE WHEN PS.TotalPatientBalance is null then 0
else PS.TOTALPATIENTBALANCE END as TotalPatientBalance
,p.PATIENTID
,MAX(PS.LASTMODIFIEDDATETIME) as LASTMODIFIEDDATETIME,
ROW_NUMBER() OVER(PARTITION BY p.PATIENTID ORDER BY LASTMODIFIEDDATETIME DESC) as RN
from ATHENAONE.PATIENTSTATEMENT as ps (nolock)  
right join ATHENAONE.Patient as p (nolock) on
ps.PatientID=p.patientID
and ps.CONTEXTID=p.CONTEXTID
GROUP BY p.PATIENTID,PS.TotalPatientBalance,PS.LASTMODIFIEDDATETIME
)
SELECT * INTO #PateintStatement
FROM CTE WHERE RN=1
END


--EncounterDetails
SELECT P.PATIENTID as PATIENTID
,MONTH(ce.ENCOUNTERDATE) as CEmonth
,YEAR(ce.ENCOUNTERDATE) as CEYear
,COUNT(ce.ClinicalEncounterID) AS NoofEncounters
INTO #EncounterDetails
FROM ATHENAONE.ClinicalEncounter as CE (nolock)  
INNER JOIN athenaone.Patient as p (nolock) on
ce.PatientID=p.patientID
AND ce.CONTEXTID=p.CONTEXTID 
WHERE CE.ENCOUNTERSTATUS='Closed'  
GROUP BY P.PATIENTID,MONTH(ce.ENCOUNTERDATE) 
,YEAR(ce.ENCOUNTERDATE)


--LIbertyDetails

SELECT DISTINCT
P2.PatientId as PatientId,
P2.GlobalId,
COUNT(st.ScriptNumber) as ScriptNumber,
month(st.DateDispensedSQL) as LibertyMonth,
year(st.DateDispensedSQL) as Libertyyear,
sum(st.Total) as Total,
sum(st.Copay) as Copay,
sum(st.RequestedACQ) as RequestedACQ
,st.DateDispensedSQL
into #Liberty
FROM PP_ODS..rxqPatient as P2 (nolock)
LEFT join PP_ODS..rxqScriptBase as SB (nolock) on
P2.PatientID=SB.PatientId
and P2.Source_Indicator=SB.Source_Indicator
Inner JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on
ST.scriptNumber=SB.ScriptNumber
and ST.Source_Indicator=SB.Source_Indicator
where st.DateDispensedSQL <> '9999-09-09' 
group by P2.PatientId,
P2.GlobalId ,
p2.PatientId,
month(st.DateDispensedSQL),
year(st.DateDispensedSQL), 
st.DateDispensedSQL

SELECT PatientID,GlobalId,Libertyyear,LibertyMonth,SUM(ScriptNumber) AS NoOFScripts,
SUM(TOtal) AS Total,SUM(Copay) AS Copay,SUM(RequestedACQ) AS RequestedACQ INTO #LibertyFInal
FROM #Liberty
GROUP BY PatientID,GlobalId,Libertyyear,LibertyMonth

Select P.patientID, 
Case when CD.CUSTOMFIELDNAME is NULL THEN 'No'
	  when CD.CUSTOMFIELDNAME <> 'PrimaryPlus Employee' THEN 'No' ELSE CD.CUSTOMFIELDVALUE END AS EmployeeFlag
INTO #EmployeeFlag
FROM
ATHENAONE.Patient AS P
left join (select * from  athenaone.CUSTOMDEMOGRAPHICS where CUSTOMFIELDNAME = 'PrimaryPlus Employee') as CD ON
P.PATIENTID=CD.PATIENTID
group by P.PATIENTID, CD.CUSTOMFIELDNAME, CD.CUSTOMFIELDVALUE


SELECT CASE WHEN (CASE WHEN P.patientID IS NULL THEN ED.PAtientID ELSE  P.patientID END) IS NULL THEN CAST(L.GlobalId AS INT) ELSE (CASE WHEN P.patientID IS NULL THEN ED.PAtientID ELSE  P.patientID END) END AS PAtientID
,E.EmployeeFlag
,P.FirstName ,P.LastName  ,P.DOB,P.Sex,P.ADDRESS,P.city,P.STATE,P.ZIP 
,PD.INSURANCEREPORTINGCATEGORY  AS PayerName
,PD.INSURANCEREPORTINGCATEGORYID AS PayerID
,SD.SchedulingName  AS RenderingProviderName
,CASE WHEN (CASE WHEN P.Pyear IS NULL THEN ED.CEYear ELSE P.Pyear END) IS NULL THEN L.Libertyyear ELSE (CASE WHEN P.Pyear IS NULL THEN ED.CEYear ELSE P.Pyear END) END  AS PatientYear
,CASE WHEN (CASE WHEN P.PMonth IS NULL THEN ED.CEmonth ELSE P.PMonth END) IS NULL THEN L.LibertyMonth ELSE (CASE WHEN P.PMonth IS NULL THEN ED.CEmonth ELSE P.PMonth END) END AS PatientMonth
,CASE WHEN SUM(ED.NoofEncounters) IS NULL THEN 0 ELSE SUM(ED.NoofEncounters) END AS NoOfEncounters 
,CASE WHEN P.Charge IS NULL THEN 0 ELSE P.Charge END AS Charges
,CASE WHEN P.Payment IS NULL THEN 0 ELSE P.Payment END AS Collections--'Handle this at reportLevel' AS Collections
,'Handle this at reportLevel' AS [AverageTotal Collections per Visit]
,CASE WHEN PS.TotalPatientBalance IS NULL THEN 0 ELSE PS.TotalPatientBalance END  AS Balance
,L.PatientId  AS LibertyPatientID
,CASE WHEN CAST(GLOBALID  AS INT)IS NULL THEN CASE WHEN (CASE WHEN P.patientID IS NULL THEN ED.PAtientID ELSE  P.patientID END) IS NULL THEN CAST(L.GlobalId AS INT) ELSE (CASE WHEN P.patientID IS NULL THEN ED.PAtientID ELSE  P.patientID END) END ELSE CAST(GLOBALID  AS INT) END AS GlobalID
,CASE WHEN L.Libertyyear IS NULL THEN CASE WHEN (CASE WHEN P.Pyear IS NULL THEN ED.CEYear ELSE P.Pyear END) IS NULL THEN L.Libertyyear ELSE (CASE WHEN P.Pyear IS NULL THEN ED.CEYear ELSE P.Pyear END) END ELSE L.Libertyyear END LibertyYear
,CASE WHEN L.LibertyMonth IS NULL THEN CASE WHEN (CASE WHEN P.PMonth IS NULL THEN ED.CEmonth ELSE P.PMonth END) IS NULL THEN L.LibertyMonth ELSE (CASE WHEN P.PMonth IS NULL THEN ED.CEmonth ELSE P.PMonth END) END ELSE L.LibertyMonth END AS LibertyMonth
,CASE WHEN L.NoOfScripts IS NULL THEN 0 ELSE L.NoOFScripts END AS NoOfScripts
,CASE WHEN L.Total IS NULL THEN 0 ELSE L.Total END AS Total
,CASE WHEN L.Copay IS NULL THEN 0 ELSE L.Copay END AS Copay 
,CASE WHEN L.RequestedACQ  IS NULL THEN 0 ELSE L.RequestedACQ END AS  RequestedACQ
INTO #DataHub
FROM #Patient P
FULL JOIN #EncounterDetails ED ON P.patientID=ED.PATIENTID AND P.Pyear=ED.CEYear AND P.PMonth=ED.CEmonth
LEFT JOIN #PayerDetails PD on P.patientID=PD.PatientID
LEFT JOIN #SchedulerDetails SD on PD.PatientID=SD.PatientID
LEFT JOIN #PateintStatement PS ON PS.PATIENTID=ED.PATIENTID
LEFT JOIN #EmployeeFlag E ON E.PATIENTID=PS.PATIENTID
FULL JOIN #LibertyFInal L  ON ED.patientID=CAST(L.GlobalId AS INT) AND ED.CEYear=L.Libertyyear  AND ED.CEmonth=L.LibertyMonth
GROUP BY P.PAtientID,ED.PATIENTID
,P.FirstName ,P.LastName ,P.patientID ,E.EmployeeFlag,DOB,P.Sex,P.ADDRESS,P.city,P.STATE,P.ZIP ,P.Pyear,P.PMonth,ED.CEYear,ED.CEmonth
,PD.INSURANCEREPORTINGCATEGORY, PD.INSURANCEREPORTINGCATEGORYID,
SD.SchedulingName
,P.Charge
,PS.TotalPatientBalance 
,P.Payment
,L.PatientId,GlobalId,L.Libertyyear,L.LibertyMonth,L.NoOFScripts 
,L.Total 
,L.Copay 
,L.RequestedACQ


UPDATE a 
SET a.FirstName=b.FirstName,a.LASTNAME=b.LASTNAME,a.DOB=b.DOB,a.SEX=b.SEX,a.ADDRESS=b.ADDRESS,a.CITY=b.CITY,a.STATE=b.STATE
,a.ZIP=b.ZIP,a.PayerName=P.INSURANCEREPORTINGCATEGORY,a.PayerID=p.INSURANCEREPORTINGCATEGORYID,a.RenderingProviderName=S.SchedulingName
,a.LibertyPatientID=L.PatientId,a.EmployeeFlag=E.EmployeeFLag
FROM #DataHub a INNER JOIN #Patient b ON a.PAtientID=b.patientID
INNER JOIN #PayerDetails P ON P.PatientID=a.PAtientID
INNER JOIN #SchedulerDetails S ON S.PatientID=a.PAtientID
INNER JOIN #LibertyFInal L ON CAST(L.GlobalId AS INT)=a.PAtientID
INNER JOIN #EmployeeFlag E ON E.PATIENTID=a.PAtientID


select * from #DataHub (nolock)



END

----Validation
--SELECT PAtientID,EMployeeFlag,RenderingProviderName
----,PatientYear,PatientMonth
--,SUM(Charges),SUM(Collections),SUM(NoOfEncounters)
--,SUM(NoOfScripts) , SUM( TOtal), SUM(Copay) ,SUM(RequestedACQ)FROM #DataHub
--WHERE PAtientID=130324 AND PatientYear=2020
--GROUP BY PAtientID,EMployeeFlag,RenderingProviderName--,PatientYear,PatientMonth

--SELECT SUM(Charge),SUM(Payment) FROM #Patient
--WHERE Pyear=2020 AND patientID=130324


GO
