USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Patient_ImmunizationDetails]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE Procedure [dbo].[Patient_ImmunizationDetails]
AS

Begin
							IF OBJECT_ID('tempdb..#athenaPatient') IS NOT NULL
							DROP TABLE #athenaPatient
							IF OBJECT_ID(N'dbo.ObservationResult', N'U') IS NOT NULL
							DROP TABLE ObservationResult
							IF OBJECT_ID(N'dbo.Vaccine', N'U') IS NOT NULL 
							Drop table PP_Athena_ODS..Vaccine
							IF OBJECT_ID(N'dbo.PatientImmunization', N'U') IS NOT NULL 
							Drop table PP_Athena_ODS..PatientImmunization

select 
P.PATIENTID,
P.LASTNAME,
P.FIRSTNAME,
P.MIDDLEINITIAL,
P.DOB,
P.SEX,
P.ADDRESS as PatientAddress,
P.ADDRESS2 as PatientAddress2,
P.CITY as PatientCity,
P.STATE as PatientState,
Left(P.ZIP,5) as PatientZIP
--CP.CLINICALPROVIDERID,
--PRO.PROVIDERFIRSTNAME,
--PRO.PROVIDERLASTNAME,
--CP.ADDRESS1 as ProviderAddress1,
--CP.ADDRESS2 as ProviderAddress2,
--CP.CITY as ProviderCity,
--CP.STATE as ProviderState,
--Left(CP.ZIP,5) as ProviderZIP,
--CP.PHONE,
--PRO.PROVIDERNPINUMBER,
--CP.PROVIDERID
Into #AthenaPatient
FROM ATHENAONE.Patient as P (nolock)
--Left join ATHENAONE.CLINICALPROVIDER as CP 
--on P.PRIMARYPROVIDERID=CP.PROVIDERID and 
--   P.CONTEXTID=CP.CONTEXTID
--Left JOIN ATHENAONE.PROVIDER AS PRO 
--ON cast(convert(varchar(50),PRO.PROVIDERID) as bigint) =cast(CP.PROVIDERID as bigint) and 
--   PRO.CONTEXTID=CP.CONTEXTID


/*To get the result of the patient who has either +ve or -ve in COVID/Influenza
Tables taken -
Document
ClinicalResult
CLinicalResultObservation
Loinc*/

Begin
with cte as(
select D.CLINICALPROVIDERORDERTYPE,
'' AS TestName,
P.DOB,
P.SEX,
year(GETDATE())-year(P.DOB) as AGE,
D.CLINICALORDERGENUS as TestType,
D.SPECIMENCOLLECTEDDATETIME,
D.SPECIMENSOURCE as SpecimenSourceDoc,
D.DOCUMENTID,D.CHARTID,
D.CLINICALPROVIDERID,
CR.CLINICALORDERTYPE,
CR.OBSERVATIONDATETIME,
CR.SPECIMENSOURCE,
CR.SPECIMENRECEIVEDDATETIME,
CRO.RESULT,D.PATIENTID,
CR.CLINICALRESULTID,CR.RESULTDOCUMENTID,
CRO.CLINICALRESULTID as ClinicalresultidCRO,
L.LOINCCODE,
L.LONGCOMMONNAME,
ROW_NUMBER() Over(PARTITION by D.PatientID,CRO.Result order by CR.OBSERVATIONDATETIME desc )as Rn
FROM ATHENAONE.Patient as P (nolock)
join ATHENAONE.DOCUMENT as D (nolock)
on P.PATIENTID=D.PATIENTID and
   P.CONTEXTID=D.CONTEXTID
 join ATHENAONE.CLINICALRESULT As CR (nolock)
on D.DOCUMENTID=CR.RESULTDOCUMENTID and
   D.CONTEXTID=CR.CONTEXTID
 Join ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
on CR.CLINICALRESULTID=CRO.CLINICALRESULTID and
   CR.CONTEXTID=CRO.CONTEXTID
Left Join ATHENAONE.LOINC as L (nolock)
on CRO.LOINCID=L.LOINCID and
   CRO.CONTEXTID=L.CONTEXTID
where (CRO.RESULT like '%Positive%' OR 
    CRO.RESULT like '%Negative%') AND
   (CR.OBSERVATIONDATETIME IS NOT Null OR
   D.SPECIMENCOLLECTEDDATETIME IS NOT NULL) AND
   (D.CLINICALPROVIDERORDERTYPE like '%Sars%' OR
   D.CLINICALPROVIDERORDERTYPE like '%COV%' OR
   D.CLINICALORDERGENUS like '%COV%' OR
   CR.CLINICALORDERTYPE like '%sars%' OR
   CR.CLINICALORDERTYPE like '%COV%') AND
   CR.CLINICALORDERTYPE<>'Unknown' AND
   CR.OBSERVATIONDATETIME>(GETDATE()-9))

select * Into ObservationResult from cte
   where Rn=1 and PATIENTID is not null
End

update ObservationResult
set RESULT='Positive'
where RESULT like '%POSITIVE%'

update ObservationResult
set RESULT='Negative'
where RESULT like '%Negative%'


Begin
With Cte as (
select PV.VACCINESITENAME as HealthCenter,
PV.PATIENTID,
PV.VISGIVENDATE,
CE.CLINICALENCOUNTERID,
CE.ENCOUNTERDATE as EligibleEncounterDate,
CE.CLINICALENCOUNTERTYPE as EligibleEncounterType,
PRO.PROVIDERTYPE,
PV.VACCINENAME as VaccineDescription,
PV.CVX as Vaccinecode,
Case
    when PV.REFUSEDREASON='02' THEN 'Parent Refused'
	when PV.REFUSEDREASON='03' THEN 'Religious Exemption'
	ELSE ''
End as VaccineExclusion,
ROW_NUMBER() over(PARTITION BY PV.PATIENTID,PV.VISGIVENDATE,PV.VACCINENAME ORDER By PV.VISGIVENDATE asc) AS RN
from ATHENAONE.PATIENTVACCINE as PV (nolock)
Join ATHENAONE.ClinicalEncounter as CE (nolock)
on PV.PATIENTID=CE.PATIENTID and
   PV.VISGIVENDATE=CE.ENCOUNTERDATE and
   PV.CONTEXTID=CE.CONTEXTID
Full outer Join ATHENAONE.PROVIDER as PRO (nolock)
on CE.PROVIDERID=PRO.PROVIDERID and
   CE.CONTEXTID=PRO.CONTEXTID
where (PV.VACCINENAME like '%Influenza%' or
      PV.VACCINENAME like '%SARS%' or
	  PV.VACCINENAME like '%Covid%') and
	 (CE.ENCOUNTERSTATUS like '%Closed%' or 
	  CE.ENCOUNTERSTATUS like '%TEMP%') and
	  PV.ADMINISTEREDDATETIME is not null and
	  CE.ENCOUNTERDATE>(GETDATE()-90))
	  
	  select * into Vaccine from Cte
	  where RN=1
End

Begin
With Finalsummary as(
select AP.PATIENTID
,AP.LASTNAME
,AP.FIRSTNAME
,AP.DOB
,year(GETDATE())-year(AP.DOB) as AGE
,AP.SEX
,AP.PatientCity
,AP.PatientState
,Cast(OBR.OBSERVATIONDATETIME as date) as ObservationDateTime
,OBR.RESULT
,V.EligibleEncounterDate
,V.VaccineDescription
,ROW_NUMBER() over(PARTITION by AP.PatientID,V.EligibleEncounterDate,OBR.RESULT order by V.EligibleEncounterDate desc) as RN
from #AthenaPatient as AP
Right Join ObservationResult as OBR
on AP.PATIENTID=OBR.PATIENTID
Left Join Vaccine as V
on OBR.PATIENTID=V.PATIENTID)

select * into  PatientImmunization from Finalsummary
where RN=1 and RESULT is not null and RESULT like '%Positive%'

End

update PP_Athena_ODS..PatientImmunization
set VaccineDescription='Vaccine Not Taken'
where VaccineDescription is Null

END
GO
