USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Tbl_340BAudit_backup_20230922]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_340BAudit_backup_20230922](
	[SNO] [bigint] NULL,
	[DrugName] [varchar](max) NULL,
	[NDC] [varchar](max) NULL,
	[DerivedNDC] [varchar](255) NULL,
	[NDCType] [varchar](14) NOT NULL,
	[PRESCRIPTIONFILLQUANTITY] [numeric](18, 6) NULL,
	[NUMBEROFREFILLSPRESCRIBED] [numeric](12, 0) NULL,
	[DOSAGEQUANTITY] [numeric](18, 6) NULL,
	[DISPLAYDOSAGEUNITS] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[PatientName_Athena] [varchar](max) NULL,
	[Gender_Athena] [varchar](max) NULL,
	[DOB_Athena] [date] NULL,
	[PRESCRIBERNPI] [varchar](max) NULL,
	[PRESCRIBER] [varchar](max) NULL,
	[CreatedDate] [date] NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[MEDADMINISTEREDDATETIME] [datetime] NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[DEPARTMENTNAME] [varchar](max) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[CLINICALORDERTYPEID] [numeric](38, 0) NULL,
	[FBDMEDID] [varchar](max) NULL,
	[PATIENTMEDICATIONID] [numeric](38, 0) NULL,
	[M_MEDICATIONNAME] [varchar](max) NULL,
	[MEDICATIONID] [numeric](12, 0) NULL,
	[GenericProductIdentifier] [char](14) NULL,
	[GPIGenericName] [varchar](200) NULL,
	[SourceIndicator] [varchar](3) NULL,
	[Payer] [varchar](max) NULL,
	[Is340B] [bit] NULL,
	[UnitAcqPrice] [decimal](18, 4) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
