USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[NACHC_SDOH]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACHC_SDOH](
	[Patient_ID] [numeric](12, 0) NULL,
	[Health_Center] [varchar](500) NULL,
	[Encounter_ID] [numeric](12, 0) NULL,
	[Encounter_Date] [date] NULL,
	[Farm_Worker] [varchar](1) NOT NULL,
	[Veteran_Status] [varchar](1) NOT NULL,
	[English_Proficiency] [varchar](1) NOT NULL,
	[Household_Size] [varchar](1) NOT NULL,
	[Housing] [varchar](1) NOT NULL,
	[Housing_Status] [varchar](1) NOT NULL,
	[Education] [varchar](1) NOT NULL,
	[Employment] [varchar](1) NOT NULL,
	[Household_Income] [varchar](1) NOT NULL,
	[Food_Insecurity] [varchar](1) NOT NULL,
	[Clothing_Insecurity] [varchar](1) NOT NULL,
	[Utilities_Insecurity] [varchar](1) NOT NULL,
	[Child_Care_Insecurity] [varchar](1) NOT NULL,
	[Healthcare_Insecurity] [varchar](1) NOT NULL,
	[Phone_Insecurity] [varchar](1) NOT NULL,
	[Other_Material_Insecurity] [varchar](1) NOT NULL,
	[Transportation_Insecurity] [varchar](1) NOT NULL,
	[Social_Integration] [varchar](1) NOT NULL,
	[Stress] [varchar](1) NOT NULL,
	[Incarceration] [varchar](1) NOT NULL,
	[Refugee] [varchar](1) NOT NULL,
	[Safety] [varchar](1) NOT NULL,
	[Domestic_Violence] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
