USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Tbl_LibertyMedicines_NotPrescribed]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_LibertyMedicines_NotPrescribed](
	[Drug_name] [varchar](500) NULL,
	[patientid] [varchar](50) NULL,
	[globalid] [varchar](50) NULL,
	[Patientname_Liberty] [varchar](200) NULL,
	[Gender_Liberty] [varchar](50) NULL,
	[DOB_Liberty] [varchar](50) NULL,
	[Providername] [varchar](200) NULL,
	[GenericProductIdentifier] [varchar](50) NULL,
	[GPIGenericName] [varchar](500) NULL,
	[NdcNumber] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[RefillsAuthorized] [int] NULL,
	[FullDispenseQuantity] [varchar](50) NULL,
	[QuantityDispensed] [varchar](50) NULL,
	[DaysSupply] [varchar](50) NULL,
	[NPI] [varchar](50) NULL,
	[RefillNumber] [int] NULL,
	[AuthorizedQuantity] [varchar](50) NULL,
	[AvailableQuantity] [varchar](50) NULL,
	[RefillUntilDate] [date] NULL,
	[NextDispensedQuantity] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[form] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[MetricName] [varchar](50) NULL,
	[MetricUnit] [varchar](50) NULL,
	[RnkId] [bigint] NULL,
	[PatientType] [varchar](200) NULL,
	[RecordInsertedDate] [datetime] NULL,
	[Source_Indicator] [varchar](10) NULL,
	[PharmacyName] [varchar](100) NULL,
	[Is340B] [varchar](10) NULL
) ON [PRIMARY]
GO
