USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[PP_Patient_Datahub_old]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Patient Level  
--EXEC [dbo].[Patient_DataHub_Deva]  
CREATE PROCEDURE [dbo].[PP_Patient_Datahub_old]  
AS   
BEGIN  
       IF OBJECT_ID('tempdb..#Patient') IS NOT NULL  
       DROP TABLE #Patient  
       IF OBJECT_ID('tempdb..#PayerDetails') IS NOT NULL  
       DROP TABLE #PayerDetails  
       IF OBJECT_ID('tempdb..#SchedulerDetails') IS NOT NULL  
       DROP TABLE #SchedulerDetails  
       IF OBJECT_ID('tempdb..#PateintStatement') IS NOT NULL  
       DROP TABLE #PateintStatement  
       IF OBJECT_ID('tempdb..#EncounterDetails') IS NOT NULL  
       DROP TABLE #EncounterDetails  
       IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL  
       DROP TABLE #Liberty  
       IF OBJECT_ID('tempdb..#LibertyFInal') IS NOT NULL  
       DROP TABLE #LibertyFinal  
       IF OBJECT_ID('tempdb..#EmployeeFlag') IS NOT NULL  
       DROP TABLE #EmployeeFlag  
       IF OBJECT_ID('tempdb..#DataHub') IS NOT NULL  
       DROP TABLE #DataHub  
  
TRUNCATE TABLE Patient_DataHub  
  
SELECT     
SUM(AF.CurrentCharge+af.LateCharge ) AS Charge  
,SUM(AF.Payment) AS Payment  
,P.PatientID as patientID  
, P.FirstName  
, P.LastName  
, P.Sex  
, P.city  
,P.DOB  
,P.ADDRESS  
,P.STATE  
,P.ZIP  
,YEAR(AF.POSTDATE) AS Pyear  
,MONTH(AF.POSTDATE) AS PMonth  
into #Patient  
FROM Financials.ActivityFact as AF (nolock)  
inner Join athenaone.Patient as P (nolock) on  
af.PatientID=p.PatientID  
and af.CONTEXTID=p.CONTEXTID  
GROUP BY P.PATIENTID,  
 P.FirstName  
, P.LastName  
, P.Sex  
, P.city  
,P.ADDRESS  
,P.STATE  
,P.ZIP  
,P.DOB  
,YEAR(AF.POSTDATE)  
,MONTH(AF.POSTDATE)  
  
  
  
BEGIN   
--Payer Details  
WITH CTE AS (  
SELECT PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY,PR.INSURANCEPACKAGEID,P.PATIENTID as PatientID,  
PI.CREATEDDATETIME as CreatedDAte,  
ROW_NUMBER() OVER(PARTITION BY P.PATIENTID ORDER BY PI.CREATEDDATETIME DESC) AS RN  
--INTO #PayerDetails  
FROM  ATHENAONE.PATIENT AS P (nolock)    
inner join ATHENAONE.PATIENTINSURANCE as PI (nolock) ON  
P.PATIENTID=PI.PATIENTID  
and P.CONTEXTID=PI.CONTEXTID  
INNER JOIN ATHENAONE.Payer AS PR (nolock) ON  
PI.INSURANCEPACKAGEID=PR.INSURANCEPACKAGEID  
and PI.CONTEXTID=PR.CONTEXTID  
where pi.SEQUENCENUMBER=1   
GROUP BY P.PATIENTID,PI.CREATEDDATETIME,PI.INSURANCEPACKAGEID,PR.Insurancepackageid,  
PR.INSURANCEREPORTINGCATEGORYID,PR.INSURANCEREPORTINGCATEGORY  
)  
SELECT * INTO #PayerDetails  
FROM CTE WHERE RN=1  
  
  
END  
  
BEGIN  
--SchedulerDetails  
WITH CTE AS(  
SELECT   
CAST(PP.SchedulingName As Varchar) AS SchedulingName  
,PP.ProviderId  
,P.PATIENTID as PatientID  
,CC.EncounterDate as EncounterDate,  
ROW_NUMBER() OVER(PARTITION BY P.PATIENTID ORDER BY CC.ENCOUNTERDATE DESC) as RN  
--into #PRDR1  
from athenaone.PATIENT as P (nolock)    
inner join athenaone.ClinicalEncounter as CC (nolock) on  
P.PatientID=CC.patientID  
and p.CONTEXTID=CC.CONTEXTID  
inner join athenaone.PROVIDER as PP (nolock) on  
CC.PROVIDERID=PP.PROVIDERID  
and CC.CONTEXTID=PP.CONTEXTID WHERE CC.ENCOUNTERSTATUS='Closed'   
GROUP BY P.PATIENTID,CC.ENCOUNTERDATE,PP.providerID, PP.PROVIDERID, CAST(PP.SCHEDULINGNAME AS Varchar)  
)  
  
SELECT * INTO #SchedulerDetails  
FROM CTE WHERE RN=1  
END  
  
BEGIN  
--PAtient Statement  
WITH CTE AS (  
SELECT     
CASE WHEN PS.PATIENTOUTSTANDINGAMOUNT is null then 0  
else PS.PATIENTOUTSTANDINGAMOUNT END as TotalPatientBalance  
,p.PATIENTID  
,MAX(PS.LASTUPDATED) as LASTMODIFIEDDATETIME,  
ROW_NUMBER() OVER(PARTITION BY p.PATIENTID ORDER BY ps.LASTUPDATED DESC) as RN  
from athenaone.APPOINTMENT as ps (nolock)    
right join ATHENAONE.Patient as p (nolock) on  
ps.PatientID=p.patientID  
and ps.CONTEXTID=p.CONTEXTID   
GROUP BY p.PATIENTID,PS.PATIENTOUTSTANDINGAMOUNT,PS.LASTUPDATED  
)  
SELECT * INTO #PateintStatement  
FROM CTE WHERE RN=1  
END  
--EncounterDetails  
SELECT P.PATIENTID as PATIENTID  
,MONTH(ce.ENCOUNTERDATE) as CEmonth  
,YEAR(ce.ENCOUNTERDATE) as CEYear  
,COUNT(ce.ClinicalEncounterID) AS NoofEncounters  
INTO #EncounterDetails  
FROM ATHENAONE.ClinicalEncounter as CE (nolock)    
INNER JOIN athenaone.Patient as p (nolock) on  
ce.PatientID=p.patientID  
AND ce.CONTEXTID=p.CONTEXTID   
WHERE CE.ENCOUNTERSTATUS='Closed'    
GROUP BY P.PATIENTID,MONTH(ce.ENCOUNTERDATE)   
,YEAR(ce.ENCOUNTERDATE)  
  
  
--LIbertyDetails  
  
SELECT DISTINCT  
P2.PatientId as PatientId,  
P2.GlobalId,  
COUNT(st.ScriptNumber) as ScriptNumber,  
month(st.DateDispensedSQL) as LibertyMonth,  
year(st.DateDispensedSQL) as Libertyyear,  
sum(st.Total) as Total,  
sum(st.Copay) as Copay,  
sum(st.RequestedACQ) as RequestedACQ  
,st.DateDispensedSQL  
into #Liberty  
FROM PP_ODS..rxqPatient as P2 (nolock)  
LEFT join PP_ODS..rxqScriptBase as SB (nolock) on  
P2.PatientID=SB.PatientId  
and P2.Source_Indicator=SB.Source_Indicator  
Inner JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on  
ST.scriptNumber=SB.ScriptNumber  
and ST.Source_Indicator=SB.Source_Indicator  
where st.DateDispensedSQL <> '9999-09-09' AND P2.GlobalId<>''  
group by P2.PatientId,  
P2.GlobalId ,  
p2.PatientId,  
month(st.DateDispensedSQL),  
year(st.DateDispensedSQL),   
st.DateDispensedSQL  
  
SELECT PatientID,GlobalId,Libertyyear,LibertyMonth,SUM(ScriptNumber) AS NoOFScripts,  
SUM(TOtal) AS Total,SUM(Copay) AS Copay,SUM(RequestedACQ) AS RequestedACQ INTO #LibertyFInal  
FROM #Liberty  
GROUP BY PatientID,GlobalId,Libertyyear,LibertyMonth  
  
Select P.patientID,   
Case when CD.CUSTOMFIELDNAME is NULL THEN 'No'  
   when CD.CUSTOMFIELDNAME <> 'PrimaryPlus Employee' THEN 'No' ELSE CD.CUSTOMFIELDVALUE END AS EmployeeFlag  
INTO #EmployeeFlag  
FROM  
ATHENAONE.Patient AS P  
left join (select * from  athenaone.CUSTOMDEMOGRAPHICS where CUSTOMFIELDNAME = 'PrimaryPlus Employee') as CD ON  
P.PATIENTID=CD.PATIENTID  
group by P.PATIENTID, CD.CUSTOMFIELDNAME, CD.CUSTOMFIELDVALUE  
  
  
SELECT CASE WHEN (CASE WHEN P.patientID IS NULL THEN ED.PAtientID ELSE  P.patientID END) IS NULL THEN CAST(L.GlobalId AS INT) ELSE (CASE WHEN P.patientID IS NULL THEN ED.PAtientID ELSE  P.patientID END) END AS PAtientID  
,E.EmployeeFlag  
,P.FirstName ,P.LastName  ,P.DOB,P.Sex  
,P.ADDRESS  AS Address  
,P.CITY  AS City  
,P.STATE  AS State  
,P.ZIP   AS ZIP  
,PD.INSURANCEREPORTINGCATEGORY  AS PayerName  
,PD.INSURANCEPACKAGEID AS PayerID  
,SD.SchedulingName  AS RenderingProviderName  
,CASE WHEN (CASE WHEN P.Pyear IS NULL THEN ED.CEYear ELSE P.Pyear END) IS NULL THEN L.Libertyyear ELSE (CASE WHEN P.Pyear IS NULL THEN ED.CEYear ELSE P.Pyear END) END  AS PatientYear  
,CASE WHEN (CASE WHEN P.PMonth IS NULL THEN ED.CEmonth ELSE P.PMonth END) IS NULL THEN L.LibertyMonth ELSE (CASE WHEN P.PMonth IS NULL THEN ED.CEmonth ELSE P.PMonth END) END AS PatientMonth  
,CASE WHEN SUM(ED.NoofEncounters) IS NULL THEN 0 ELSE SUM(ED.NoofEncounters) END AS NoOfEncounters   
,CASE WHEN P.Charge IS NULL THEN 0 ELSE P.Charge END AS Charges  
,CASE WHEN P.Payment IS NULL THEN 0 ELSE P.Payment END AS Collections--'Handle this at reportLevel' AS Collections  
,'Handle this at reportLevel' AS [AverageTotal_Collections_per_Visit]  
,CASE WHEN PS.TotalPatientBalance IS NULL THEN 0 ELSE PS.TotalPatientBalance END  AS Balance  
,L.PatientId  AS LibertyPatientID  
,CASE WHEN CAST(GLOBALID  AS INT)IS NULL THEN CASE WHEN (CASE WHEN P.patientID IS NULL THEN ED.PAtientID ELSE 
P.patientID END) IS NULL THEN CAST(L.GlobalId AS INT) ELSE (CASE WHEN P.patientID IS NULL THEN ED.PAtientID ELSE 
P.patientID END) END ELSE CAST(GLOBALID  AS INT) END AS GlobalID  
,CASE WHEN L.Libertyyear IS NULL THEN CASE WHEN (CASE WHEN P.Pyear IS NULL THEN ED.CEYear ELSE P.Pyear END) IS NULL THEN L.Libertyyear ELSE (CASE WHEN P.Pyear IS NULL THEN ED.CEYear ELSE P.Pyear END) END ELSE L.Libertyyear END LibertyYear  
,CASE WHEN L.LibertyMonth IS NULL THEN CASE WHEN (CASE WHEN P.PMonth IS NULL THEN ED.CEmonth ELSE P.PMonth END) IS NULL THEN L.LibertyMonth ELSE (CASE WHEN P.PMonth IS NULL THEN ED.CEmonth ELSE P.PMonth END) END ELSE L.LibertyMonth END AS LibertyMonth  
,CASE WHEN L.NoOfScripts IS NULL THEN 0 ELSE L.NoOFScripts END AS NoOfScripts  
,CASE WHEN L.Total IS NULL THEN 0 ELSE L.Total END AS Total  
,CASE WHEN L.Copay IS NULL THEN 0 ELSE L.Copay END AS Copay   
,CASE WHEN L.RequestedACQ  IS NULL THEN 0 ELSE L.RequestedACQ END AS  RequestedACQ  
INTO #DataHub  
FROM #Patient P  
FULL JOIN #EncounterDetails ED ON P.patientID=ED.PATIENTID AND P.Pyear=ED.CEYear AND P.PMonth=ED.CEmonth  
LEFT JOIN #PayerDetails PD on P.patientID=PD.PatientID  
LEFT JOIN #SchedulerDetails SD on PD.PatientID=SD.PatientID  
LEFT JOIN #PateintStatement PS ON PS.PATIENTID=ED.PATIENTID  
LEFT JOIN #EmployeeFlag E ON E.PATIENTID=PS.PATIENTID  
FULL JOIN #LibertyFInal L  ON ED.patientID=CAST(L.GlobalId AS INT) AND ED.CEYear=L.Libertyyear  AND ED.CEmonth=L.LibertyMonth  
GROUP BY P.PAtientID,ED.PATIENTID  
,P.FirstName ,P.LastName ,P.patientID ,E.EmployeeFlag,DOB,P.Sex,P.ADDRESS,P.city,P.STATE,P.ZIP ,P.Pyear,P.PMonth,ED.CEYear,ED.CEmonth  
,PD.INSURANCEREPORTINGCATEGORY, PD.INSURANCEPACKAGEID,  
SD.SchedulingName  
,P.Charge  
,PS.TotalPatientBalance   
,P.Payment  
,L.PatientId,GlobalId,L.Libertyyear,L.LibertyMonth,L.NoOFScripts   
,L.Total   
,L.Copay   
,L.RequestedACQ  
  
  
UPDATE a  
SET  a.FIrstName=CASE WHEN a.FirstName IS NULL THEN b.FIRSTNAME ELSE a.FirstNAme END  
    ,a.LAstName=CASE WHEN a.LAstName IS NULL THEN b.LASTNAME ELSE a.LAstNAme END  
 ,a.DOB= CASE WHEN a.DOB IS NULL THEN b.DOB ELSE a.DOB END  
 ,a.SEX=CASE WHEN a.SEX IS NULL THEN b.SEX ELSE a.SEX END  
 ,a.Address=CASE WHEN a.Address IS NULL THEN b.ADDRESS ELSE a.ADDRESS END  
 ,a.CITY=CASE WHEN a.CITY IS NULL THEN b.CITY ELSE a.CITY END  
 ,a.STATE=CASE WHEN a.STATE IS NULL THEN b.STATE ELSE a.STATE END  
 ,a.ZIP=CASE WHEN a.ZIP IS NULL THEN b.ZIP ELSE a.ZIP END  
    ,a.PayerNAme=CASE WHEN a.PAyerNAme IS NULL THEN b.INSURANCEREPORTINGCATEGORY ELSE a.PayerNAme END  
 ,a.PAyerID=CASE WHEN a.PayerID is NULL THEN b.INSURANCEPACKAGEID ELSE a.PAyerID END  
 ,a.RenderingProviderNAme=CASE WHEN a.RenderingProviderName IS NULL THEN b.SchedulingName ELSE a.RenderingProviderName END  
FROM   #DataHub a  
LEFT JOIN (SELECT P.patientID,p.FIRSTNAME,p.LASTNAME,p.DOB,P.SEX,P.ADDRESS,P.CITY,P.STATE,P.ZIP  
,PD.INSURANCEREPORTINGCATEGORY,PD.INSURANCEPACKAGEID,S.SchedulingName FROM  #Patient p   
INNER JOIN #PayerDetails PD ON PD.PatientID=P.PAtientID  
LEFT JOIN #SchedulerDetails S ON S.PatientID=P.PAtientID  
GROUP BY  P.PAtientID,p.FIRSTNAME,p.LASTNAME,p.DOB,P.SEX,P.ADDRESS,P.CITY,P.STATE,P.ZIP  
,PD.INSURANCEREPORTINGCATEGORY,PD.INSURANCEPACKAGEID,S.SchedulingName) b ON a.PAtientID=b.patientID  
  
UPDATE a  
SET a.LibertyPatientID=CASE WHEN a.LibertyPatientID IS NULL THEN L.PatientId ELSE a.LibertyPatientID END  
FROM #DataHub a  
LEFT JOIN (SELECT b.PAtientID,b.GlobalId FROM #LibertyFInal b  
GROUP BY b.PatientId,b.GlobalId)  L ON a.PAtientID=CAST(L.GlobalId AS INT)  
  
UPDATE a  
SET a.EmployeeFlag=E.EmployeeFlag  
FROM #DataHub a  
LEFT JOIN (SELECT PATIENTID,EmployeeFlag FROM #EmployeeFlag GROUP BY  PATIENTID,EmployeeFlag) E  
ON E.PATIENTID=a.PAtientID  
  
UPDATE a  
SET a.RenderingProviderName=CASE WHEN (CASE WHEN a.RenderingProviderName IS NULL THEN E.SchedulingName ELSE a.RenderingProviderName END) IS NULL THEN '' ELSE (CASE WHEN a.RenderingProviderName IS NULL THEN E.SchedulingName ELSE a.RenderingProviderName END
)  END   
FROM #DataHub a  
LEFT JOIN (SELECT PATIENTID,SchedulingName FROM #SchedulerDetails GROUP BY PATIENTID,SchedulingName) E  
ON E.PATIENTID=a.PAtientID  
  
UPDATE #DataHub  
SET Address='' WHERE Address IS NULL  
  
UPDATE #DataHub  
SET City='' WHERE City IS NULL  
UPDATE #DataHub  
SET State='' WHERE State IS NULL  
UPDATE #DataHub  
SET ZIp='' WHERE ZIP IS NULL  
UPDATE #DataHub  
SET Balance=MaxBalance  
FROM #DataHub A  
INNER JOIN ( SELECT PatientID, MAX(Balance) AS MaxBalance  
FROM #DataHub  
GROUP BY PAtientID) B On A.PAtientID=B.PAtientID  
WHERE Balance='0.00'   
  
  
INSERT INTO [Patient_DataHub]  
SELECT PAtientID,  
 EmployeeFlag,  
 FirstName,  
 LastName,  
 DOB ,  
 Sex ,  
 ADDRESS,  
 city,  
 STATE,  
 ZIP,  
 PayerName,  
 PayerID,  
 RenderingProviderName,  
 PatientYear,  
 PatientMonth,  
 NoOfEncounters,  
 sum(Charges) as Charges,  
 sum(Collections)as Collections ,  
 AverageTotal_Collections_per_Visit,  
 SUM(balance) as balance,  
 LibertyPatientID,  
 GlobalID,  
 LibertyYear,  
 LibertyMonth,  
 sum(NoOfScripts) as NoOfScripts ,  
 sum(Total) as Total,  
 sum(Copay) as Copay,  
 sum(RequestedACQ) as RequestedACQ FROM #DataHub   
WHERE FIRSTNAME IS  NOT NULL  
group by PAtientID,  
 EmployeeFlag,  
 FirstName,  
 LastName,  
 DOB ,  
 Sex ,  
 ADDRESS,  
 city,  
 STATE,  
 ZIP,  
 PayerName,  
 PayerID,  
 RenderingProviderName,  
 PatientYear,  
 PatientMonth,  
 NoOfEncounters,  
 LibertyPatientID,  
 GlobalID,  
 LibertyYear,  
 LibertyMonth,  
 AverageTotal_Collections_Per_Visit  
  
END  
  
----Validation  
--SELECT PAtientID,EMployeeFlag,RenderingProviderName  
----,PatientYear,PatientMonth  
--,SUM(Charges),SUM(Collections),SUM(NoOfEncounters)  
--,SUM(NoOfScripts) , SUM( TOtal), SUM(Copay) ,SUM(RequestedACQ)FROM #DataHub  
--WHERE PAtientID=130324 AND PatientYear=2020  
--GROUP BY PAtientID,EMployeeFlag,RenderingProviderName--,PatientYear,PatientMonth  
  
--SELECT SUM(Charge),SUM(Payment) FROM #Patient  
--WHERE Pyear=2020 AND patientID=130324  
  
  
  
GO
