USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[RenderingProvider_Test_backup]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenderingProvider_Test_backup](
	[providrname] [varchar](20) NULL,
	[ProviderID] [numeric](18, 0) NULL,
	[IN_Year] [bigint] NULL,
	[IN_month_ID] [bigint] NULL,
	[CID] [numeric](18, 0) NULL,
	[AID] [numeric](18, 0) NULL,
	[SEDCR] [float] NULL,
	[Charge] [numeric](38, 0) NULL,
	[Payment] [numeric](38, 0) NULL,
	[ServiceName] [nvarchar](30) NULL,
	[CheckedInSlotDuration] [numeric](38, 0) NULL,
	[TotalSlotDuration] [numeric](38, 0) NULL,
	[TotalScheduledCnt] [int] NULL,
	[ArrivedCnt] [int] NULL,
	[Total_Provider_Non_Business_Hours] [float] NULL
) ON [PRIMARY]
GO
