USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[MacroDataElements]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MacroDataElements](
	[QuestionInMacro] [nvarchar](250) NULL,
	[QuestionInAthenaDB] [nvarchar](250) NULL,
	[AnswerInMacro] [nvarchar](250) NULL,
	[AnswerInAthenaDB] [nvarchar](250) NULL
) ON [PRIMARY]
GO
