USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_LoadNDCPackageCode]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_LoadNDCPackageCode]
as 
begin

insert into FDA_NDCProduct
(
PRODUCTID
,PRODUCTNDC
,PRODUCTTYPENAME
,PROPRIETARYNAME
,PROPRIETARYNAMESUFFIX
,NONPROPRIETARYNAME
,DOSAGEFORMNAME
,ROUTENAME
,STARTMARKETINGDATE
,ENDMARKETINGDATE
,MARKETINGCATEGORYNAME
,APPLICATIONNUMBER
,LABELERNAME
,SUBSTANCENAME
,ACTIVE_NUMERATOR_STRENGTH
,ACTIVE_INGRED_UNIT
,PHARM_CLASSES
,DEASCHEDULE
,NDC_EXCLUDE_FLAG
,LISTING_RECORD_CERTIFIED_THROUGH
)

select 
 s.PRODUCTID
,s.PRODUCTNDC
,s.PRODUCTTYPENAME
,s.PROPRIETARYNAME
,s.PROPRIETARYNAMESUFFIX
,s.NONPROPRIETARYNAME
,s.DOSAGEFORMNAME
,s.ROUTENAME
,s.STARTMARKETINGDATE
,s.ENDMARKETINGDATE
,s.MARKETINGCATEGORYNAME
,s.APPLICATIONNUMBER
,s.LABELERNAME
,s.SUBSTANCENAME
,s.ACTIVE_NUMERATOR_STRENGTH
,s.ACTIVE_INGRED_UNIT
,s.PHARM_CLASSES
,s.DEASCHEDULE
,s.NDC_EXCLUDE_FLAG
,s.LISTING_RECORD_CERTIFIED_THROUGH
from Staging_NDCProduct s 
left join 
FDA_NDCProduct t on t.PRODUCTID=s.PRODUCTID
where t.PRODUCTID is null 


insert into FDA_NDCPackage
(
PRODUCTID
,PRODUCTNDC
,NDCPACKAGECODE
,PACKAGEDESCRIPTION
,STARTMARKETINGDATE
,ENDMARKETINGDATE
,NDC_EXCLUDE_FLAG
,SAMPLE_PACKAGE
,NDCPackageCode11
)

select 
 s.PRODUCTID
,s.PRODUCTNDC
,s.NDCPACKAGECODE
,s.PACKAGEDESCRIPTION
,s.STARTMARKETINGDATE
,s.ENDMARKETINGDATE
,s.NDC_EXCLUDE_FLAG
,s.SAMPLE_PACKAGE
,s.NDCPackageCode11
from Staging_NDCPackage s 
left join 
FDA_NDCPackage t on t.NDCPACKAGECODE=s.NDCPACKAGECODE
where t.NDCPACKAGECODE is null 

end
GO
