USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[ClinicalBackupReport]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicalBackupReport](
	[PATIENTID] [numeric](12, 0) NULL,
	[FIRSTNAME] [varchar](500) NULL,
	[LASTNAME] [varchar](500) NULL,
	[DOB] [date] NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[SCHEDULINGPROVIDER] [varchar](max) NULL,
	[Complaint] [varchar](max) NULL,
	[ALLERGYNAME] [varchar](max) NULL,
	[APPOINTMENTDATE] [date] NULL,
	[APPOINTMENTSTATUS] [varchar](max) NULL,
	[APPOINTMENTSTARTTIME] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[DEPARTMENTNAME] [varchar](500) NULL,
	[RN] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
