USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[Tab2_LibertyMatch]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tab2_LibertyMatch](
	[AthMed_PATIENTMEDICATIONID] [bigint] NULL
) ON [PRIMARY]
GO
