USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_rxqLoadLaningToODSGroupF]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[sp_rxqLoadLaningToODSGroupF]
(
  @TableCatalog varchar(500)
 ,@TableSchema varchar(500) 
 ,@TableName varchar(500)   
 ,@TargetName varchar(1000) 
 ,@SourceName varchar(1000) 
 ,@PackageName varchar(1000)
 ,@PackageId VARCHAR(100)
)
AS
BEGIN
SET NOCOUNT ON
-- Truncate the DynamicMergeSix table every time you use it
TRUNCATE TABLE PP_Athena_ODS.dbo.DynamicMergeSix;

DECLARE
--   @TableCatalog varchar(500)  -- This is the database name
--  ,@TableSchema varchar(500)   -- Schema for your target table
--  ,@TableName varchar(500)    -- This is the table name
--  ,@TargetName varchar(1000)  -- Three part name
--@SourceName varchar(1000) -- Three part name
   @RowCount INT=0
  ,@RowCountBefore INT=0
  ,@RowCountAfter INT=0
--  ,@PackageName varchar(1000)
--  ,@PackageId UniqueIdentifier
--  ,@SourceIndicator varchar(100)

  SET @TableCatalog=@TableCatalog
  SET @TableSchema=@TableSchema
  SET @TableName=  @TableName
  SET @TargetName= @TargetName
  SET @SourceName =@SourceName 
  SET @PackageName=@PackageName
  SET @PackageId=@PackageId



INSERT INTO PP_Athena_ODS.dbo.DynamicMergeSix (
   TableCatalog
  ,TableSchema
  ,TableName
  ,ColumnName
  ,MergeOn
  ,UpdateOn
  ,InsertOn
  ,ExceptSource
  ,ExceptTarget )

SELECT
   TABLE_CATALOG
  ,TABLE_SCHEMA
  ,TABLE_NAME
  ,'['+COLUMN_NAME+']'
  ,'Target1.' + COLUMN_NAME + ' = Source1.' + '['+COLUMN_NAME+']'
  ,'['+COLUMN_NAME+']' + ' = Source1.' + '['+COLUMN_NAME+']'
  ,'Source1.' + '['+COLUMN_NAME+']' -- Except Source
  ,'Source1.' + '['+COLUMN_NAME+']' -- Except Target
  ,'Target1.' + '['+COLUMN_NAME +']'
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_CATALOG = @TableCatalog
   AND TABLE_SCHEMA = @TableSchema
   AND TABLE_NAME =REPLACE( REPLACE(@TableName,'[',''),']','') --target table name
   AND COLUMN_NAME NOT IN ('Record_Created_Date','Record_Updated_Date')


--------------------------------------------------------

-- Update the Primary Key flag

UPDATE dt
   SET IsPK = 1 
FROM PP_Athena_ODS.dbo.DynamicMergeSix dt
INNER JOIN PP_Athena_ODS.dbo.GetMergetables ku ON dt.ColumnName =ku.PKColumnlist
   AND REPLACE( REPLACE(ku.SourceTable,'[',''),']','') = dt.TableName;
  -- OR dt.ColumnName='Source_Indicator';

------------------------------------------------------------------

-----------------------------------------------------------------

-- Create the Column list variable

DECLARE @ColumnList varchar(max)
   SET @ColumnList = (
      SELECT STUFF((SELECT ',' + ColumnName + CHAR(10)
      FROM PP_Athena_ODS.dbo.DynamicMergeSix x1
      WHERE x1.TableName = x2.TableName
      FOR XML PATH ('')), 1, 1,'') AS MergeOnColumns
      FROM PP_Athena_ODS.dbo.DynamicMergeSix x2
GROUP BY TableName);

--------------------------------------------------------

-- Create the MergeOnSource variable - matching the unique key

DECLARE @MergeOn varchar(max)
   SET @MergeOn = (
      SELECT STUFF((SELECT 'AND ' + MergeOn + CHAR(10)
      FROM PP_Athena_ODS.dbo.DynamicMergeSix x1
      WHERE x1.TableName = x2.TableName AND x1.IsPK = 1
      FOR XML PATH ('')), 1, 4,'')  
      FROM PP_Athena_ODS.dbo.DynamicMergeSix x2
      WHERE IsPK = 1
GROUP BY TableName);

-----------------------------------------
-----------------------------------

-- Create the Merge UPDATE variable

DECLARE @MUpdate varchar(max)
   SET @MUpdate = (
      SELECT STUFF((SELECT ',' + UpdateOn  + CHAR(10)
      FROM PP_Athena_ODS.dbo.DynamicMergeSix x1
      WHERE x1.TableName = x2.TableName --AND x1.IsPK = 0
      FOR XML PATH ('')), 1, 1,'') -- AS UpdateOnColumns
      FROM PP_Athena_ODS.dbo.DynamicMergeSix x2
      WHERE IsPK = 0
GROUP BY TableName);
--SELECT @MUpdate
-----------------------------------

-- Create the Merge INSERT variable

DECLARE @MInsert varchar(max)
   SET @MInsert = (
      SELECT STUFF((SELECT ',' + InsertOn +CHAR(10)
      FROM PP_Athena_ODS.dbo.DynamicMergeSix x1
      WHERE x1.TableName = x2.TableName
      FOR XML PATH ('')), 1, 1,'') -- AS UpdateOnColumns
      FROM PP_Athena_ODS.dbo.DynamicMergeSix x2
GROUP BY TableName);
--SELECT @MInsert
--------------------------------------------------------------------------
/* Now build the MERGE statement. In the query results window, make sure to output to text and not grid. You will need to increase the character output from the defaults. This is explained at the beginning of this document. */

-- Note* CHAR(10) is a line feed control character. CHAR(13) is a carriage return.
 
 
--  --SET @RowCountBefore=(SELECT COUNT(*) FROM @SourceName)
--DECLARE @IndexOn varchar(max)
--   SET @IndexOn=(SELECT   
--IndexId=STUFF  
--(  
--     (  
--       SELECT DISTINCT ', ' + CAST(ColumnName AS VARCHAR(MAX))  
--       FROM PP_Athena_ODS.dbo.DynamicMergeSix x1 
--	    WHERE IsPK = 1
--       AND x1.TableName = x2.TableName   
--       FOR XML PATH('')  
--     ),1,1,''  
--)  
-- FROM PP_Athena_ODS.dbo.DynamicMergeSix x2
     
--GROUP BY TableName);


--  DECLARE @SQLIndex VARCHAR(MAX)
--  SET @SQLIndex=' IF NOT EXISTS(SELECT * FROM sys.indexes WHERE name ='''+'IX_'+@TableName+'''
--  AND object_id = OBJECT_ID('''+@TableSchema+'.'+@TableName+'''))
--    BEGIN
--        CREATE CLUSTERED INDEX IX_'+@TableName+'
--        ON '+@TableSchema+'.'+@TargetName+'('+@IndexOn+')
--    END'
----SELECT @SQLIndex
--EXEC (@SQLIndex)
DECLARE @SQL VARCHAR(MAX)
--DECLARE @SummaryOfChanges TABLE(Change VARCHAR(20));
SET @SQL=  'DECLARE @RowCountAfter VARCHAR(100)' + CHAR(10)+
    'CREATE TABLE  #SummaryOfChanges (Change VARCHAR(20));'+CHAR(10)+
    'MERGE ' +@TableSchema+'.'+ @TargetName + ' AS Target1' + CHAR(10)
   + 'USING (SELECT ' + @ColumnList + 'FROM ' + @SourceName + ') AS Source1' + CHAR(10)
   + CHAR(10)
   + 'ON (' + CHAR(10)
   + @MergeOn + ')' + CHAR(10)
   + CHAR(10)+
   'WHEN NOT MATCHED BY TARGET THEN INSERT (' + @ColumnList + ',Record_Created_Date,Record_Updated_Date)' + CHAR(10)
   + 'VALUES (' + @MInsert + ',GETDATE(),GETDATE())' +  
   + 'WHEN MATCHED '
   + 'THEN UPDATE' + CHAR(10)
   + 'SET ' + @MUpdate + ', Record_Updated_Date=GETDATE() 
   OUTPUT $action INTO #SummaryOfChanges;
SET @RowCountAfter =(SELECT COUNT(*) FROM '+ @TableSchema+'.'+@TargetName+')
UPDATE PP_Athena_ODS.dbo.Audit_Log_Table
SET Execution_End_Time=GETDATE(), Target_Count=(SELECT COUNT(*) FROM '+ @TableSchema+'.'+@TargetName+'),
Insert_Count=ISNULL((SELECT COUNT(*) AS CountPerChange  FROM #SummaryOfChanges   WHERE Change=''INSERT'' GROUP BY Change),0),
Update_count=ISNULL((SELECT COUNT(*) AS CountPerChange  FROM #SummaryOfChanges   WHERE Change=''UPDATE'' GROUP BY Change),0)
WHERE Execution_End_Time IS NULL AND Target_COunt IS NULL and Insert_COunt IS NULL AND Update_Count iS NULL'
   + CHAR(10)

  --SELECT @SQL
  IF OBJECT_ID('tempdb..#SummaryOfChanges') IS NOT NULL
DROP TABLE #SummaryOfChanges
EXEC (@SQL)

END


GO
