USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[DexcomClarityNonAlertTable]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DexcomClarityNonAlertTable](
	[PatientIdentifier] [varchar](30) NULL,
	[FirstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[DateOfBirth] [varchar](50) NULL,
	[Timestamp ] [varchar](50) NULL,
	[Event Subtype] [varchar](50) NULL,
	[Event Type] [varchar](50) NULL,
	[Device Info] [varchar](50) NULL,
	[Source Device ID] [varchar](50) NULL,
	[Glucose Value (mg dL)] [varchar](50) NULL,
	[Insulin Value (u)] [varchar](50) NULL,
	[Carb Value (grams)] [varchar](50) NULL,
	[Duration] [varchar](50) NULL,
	[Transmitter ID] [varchar](50) NULL,
	[Transmitter Time ] [varchar](50) NULL,
	[CreatedDateTime] [datetime] NULL
) ON [PRIMARY]
GO
