USE [PP_Athena_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_PrapareQuestionaire_ETL_Weekly]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PrapareQuestionaire_ETL_Weekly]      
as       
begin       
      
drop table if exists #temp_PrapareQuestionaire      
CREATE TABLE #temp_PrapareQuestionaire(      
[Completed Time] datetime,      
[Questionnaire Result ID] int,        
[Patient EHR ID] int,     
[patientName] varchar(255),    
[patientBirthdate]  varchar(50),    
[Question] varchar(255),      
[Answer] varchar(255),      
QuestionNo varchar(10),      
AnswerType varchar(10),      
Prapare varchar(100)      
)      
      
;with cte as       
(      
select       
substring([questionnaireFilledOutAt],1,10) as [questionnaireFilledOutAt],    
[questionnaireResultId]    
,[Patient EHR ID]    
,[patientName]    
,replace([patientBirthdate],' 00:00:00','') [patientBirthdate]    
,[Question]    
,[Answer] ,    
dense_rank() over(partition by [Patient EHR ID]       
order by [questionnaireResultId] desc )RNK --select *       
from       
PrapareWeeklyFile_Stg  
)      
      
insert into #temp_PrapareQuestionaire      
(      
[Completed Time] ,      
[Questionnaire Result ID] ,       
[Patient EHR ID] ,      
[Question] ,      
[Answer]  ,    
[patientName],    
[patientBirthdate]    
      
)      
select       
[questionnaireFilledOutAt] ,      
[questionnaireResultId] ,        
[Patient EHR ID],        
[Question] ,      
[Answer]     
,[patientName]    
,[patientBirthdate]    
from cte where RNK=1      
      
   
      
update #temp_PrapareQuestionaire set QuestionNo='Q2'      
where Question like '%Are%worried%losing%housing%'      
      
update #temp_PrapareQuestionaire set QuestionNo='Q1'      
where Question like '%What%housing%situation%today%'      
      
update #temp_PrapareQuestionaire set QuestionNo='Q4'      
where Question like '%past%year%lack%transportation%medical%'      
      
update #temp_PrapareQuestionaire set QuestionNo='Q3'      
where Question like '%past%year%family%members%unable%'      
      
     
update a set AnswerType=      
  case when Answer = 'I have housing' then 'Negative'       
when Answer like 'I%do%not%have%housing%' then 'Positive' end      
from #temp_PrapareQuestionaire  a       
where QuestionNo='Q1'       
      
update a set AnswerType=      
  case when Answer = 'No' then 'Negative'       
when Answer = 'yes' then 'Positive' end      
from #temp_PrapareQuestionaire  a       
where QuestionNo='Q2'       
      
update a set AnswerType=      
  case when Answer = 'No' then 'Negative'       
when Answer = 'yes' then 'Positive' end      
from #temp_PrapareQuestionaire  a       
where QuestionNo='Q3'       
      
update a set AnswerType=      
  case when Answer = 'None of the Above' then 'Negative'       
when Answer <> '' then 'Positive' end      
from #temp_PrapareQuestionaire  a       
where QuestionNo='Q3'       
      
      
update a set AnswerType=      
  case when Answer = 'No' then 'Negative'       
when Answer like 'yes%' then 'Positive' end      
from #temp_PrapareQuestionaire  a       
where QuestionNo='Q4'       
      
      
      
--update p set Prapare='yes'      
----select *       
--from #temp_PrapareQuestionaire p       
--where exists       
--(      
--select top 1 1  from #temp_PrapareQuestionaire pt where pt.AnswerType='Positive'      
--and pt.[Patient EHR ID]=p.[Patient EHR ID]      
--)      
      
--update p set Prapare='yes'      
----select *       
--from #temp_PrapareQuestionaire p       
--where exists       
--(      
--select top 1 1  from #temp_PrapareQuestionaire pt where pt.AnswerType='Positive'      
--and pt.[Patient EHR ID]=p.[Patient EHR ID]      
--)      
--and Prapare is null       
      
--update p set Prapare='No'      
----select *        
--from #temp_PrapareQuestionaire p      
--join       
--(      
--select [Patient EHR ID],sum(case when AnswerType='negative' then 1 else 0 end )NegCnt,      
--count(1) TotalCnt      
--from #temp_PrapareQuestionaire p       
--where Prapare is null      
--group by [Patient EHR ID]      
--having sum(case when AnswerType='negative' then 1 else 0 end )=count(1)      
--) res on p.[Patient EHR ID]=res.[Patient EHR ID]      
            
--update p set Prapare='yes'      
----select *       
--from #temp_PrapareQuestionaire p       
--where exists       
--(      
--select top 1 1  from #temp_PrapareQuestionaire pt where pt.AnswerType='Positive'      
--and pt.[Patient EHR ID]=p.[Patient EHR ID]      
--)      
--and Prapare is null       
      
      
--Incomplete Screener-Positive: Not all questions are answered, but at least one answer is positive.      
--Incomplete Screener-Negative: Not all questions are answered, and all answered questions are negative.      
--Incomplete Screener: No question is answered.      
    
    
--select * from #temp_PrapareQuestionaire where [Patient EHR ID]= 221634     
    
--select [Patient EHR ID] from #temp_PrapareQuestionaire    
--group by [Patient EHR ID]    
--having count( QuestionNo) > 4    
    
      
update p set Prapare='Negative'      
--select *        
from #temp_PrapareQuestionaire p      
join       
(      
select [Patient EHR ID],      
count(distinct case when AnswerType='negative' then QuestionNo else null end )NegCnt,      
count(distinct QuestionNo) TotalCnt      
from #temp_PrapareQuestionaire p        
group by [Patient EHR ID]      
having count(distinct case when AnswerType='negative' then QuestionNo else null end )      
=count(distinct QuestionNo)      
and count(distinct QuestionNo)=4       
) res on p.[Patient EHR ID]=res.[Patient EHR ID]      
--order by p.[Patient EHR ID],p.QuestionNo      
      
--select * from #temp_PrapareQuestionaire where [Patient EHR ID]='93465'      
--75487      
--select * from #temp_PrapareQuestionaire where [Patient EHR ID]='93968'      
      
--select * from PrapareQuestionaireResponse where Prapare='positive'      
      
update p set Prapare='Incomplete Screener-Negative'      
--select *        
from #temp_PrapareQuestionaire p      
join       
(      
select [Patient EHR ID],      
count(distinct case when AnswerType='negative' then QuestionNo else null end )NegCnt,      
count(distinct QuestionNo) TotalCnt      
from #temp_PrapareQuestionaire p       
group by [Patient EHR ID]      
having count(distinct case when AnswerType='negative' then QuestionNo else null end )      
=count(distinct QuestionNo)      
and count(distinct QuestionNo)< 4 and count(distinct QuestionNo)>0      
) res on p.[Patient EHR ID]=res.[Patient EHR ID]      
      
update p set Prapare='Positive'      
--select *        
from #temp_PrapareQuestionaire p      
join       
(      
select [Patient EHR ID],      
count(distinct case when AnswerType='Positive' then QuestionNo else null end )posCnt,      
count(distinct QuestionNo) TotalCnt      
from #temp_PrapareQuestionaire p       
group by [Patient EHR ID]      
having count(distinct case when AnswerType='Positive' then QuestionNo else null end ) >= 1      
and count(distinct QuestionNo)= 4       
) res on p.[Patient EHR ID]=res.[Patient EHR ID]      
      
update p set Prapare='Incomplete Screener-Positive'      
--select *        
from #temp_PrapareQuestionaire p      
join       
(      
select [Patient EHR ID],      
count(distinct case when AnswerType='Positive' then QuestionNo else null end )posCnt,      
count(distinct QuestionNo) TotalCnt      
from #temp_PrapareQuestionaire p       
group by [Patient EHR ID]      
having count(distinct case when AnswerType='Positive' then QuestionNo else null end )>=1      
and count(distinct QuestionNo)< 4 and count(distinct QuestionNo)>0      
) res on p.[Patient EHR ID]=res.[Patient EHR ID]      
      
update p set Prapare='Incomplete Screener'      
--select *        
from #temp_PrapareQuestionaire p      
join       
(      
select [Patient EHR ID],      
count(distinct case when AnswerType='Positive' then QuestionNo else null end ) posCnt,      
count(distinct case when AnswerType='negative' then QuestionNo else null end )NegCnt,      
count(distinct QuestionNo) TotalCnt      
from #temp_PrapareQuestionaire p       
group by [Patient EHR ID]      
having count(distinct case when AnswerType='negative' then QuestionNo else null end )=0      
and count(distinct case when AnswerType='Positive' then QuestionNo else null end )=0      
--and count(distinct QuestionNo)< 4 and count(distinct QuestionNo)>0      
) res on p.[Patient EHR ID]=res.[Patient EHR ID]      
      
--select *        
--from #temp_PrapareQuestionaire p where Prapare      
-- is null       
      
----drop table PrapareQuestionaireResponse      
--drop table if exists PrapareWeeklyFile_Final      
      
-- select *      
-- into PrapareWeeklyFile_Final      
--from #temp_PrapareQuestionaire   

---truncate table PrapareWeeklyFile_Final


  
insert into PrapareWeeklyFile_Final  
(  
[Completed Time]  
,[Questionnaire Result ID]  
,[Patient EHR ID]  
,patientName  
,patientBirthdate  
,Question  
,Answer  
,QuestionNo  
,AnswerType  
,Prapare,score)  
      
select [Completed Time]  
,[Questionnaire Result ID]  
,p.[Patient EHR ID]  
,patientName  
,patientBirthdate  
,Question  
,Answer  
,QuestionNo  
,AnswerType  
,Prapare ,case when AnswerType='Positive' then 1 else  0 end as score      
from #temp_PrapareQuestionaire p   
left join   
(select distinct [Patient EHR ID] from PrapareWeeklyFile_Final  )f  
on p.[Patient EHR ID]=f.[Patient EHR ID]  
where f.[Patient EHR ID] is null   
  
    
    
--select distinct [Patient EHR ID] from PrapareQuestionaireResponse where Prapare='yes'      
--order by [Patient EHR ID],QuestionNo      
      
--select * from PrapareQuestionaireResponse where Prapare is null  


drop table if exists #TempPatientInsurance

Select  P.PATIENTID,
PAY.INSURANCEPACKAGETYPE as Insurance,
PI.ELIGIBILITYLASTCHECKED,
PI.INSURANCEPACKAGEID
into #TempPatientInsurance
from  PP_Athena_ODS.ATHENAONE.Patient as P with(nolock)
join (select distinct [Patient EHR ID] from #temp_PrapareQuestionaire ) 
PR on Pr.[Patient EHR ID]= p.PATIENTID
	Left join PP_Athena_ODS.ATHENAONE.PATIENTINSURANCE As PI with(nolock)
	on P.PATIENTID=PI.PATIENTID and
    P.CONTEXTID=PI.CONTEXTID
	Left Join PP_Athena_ODS.ATHENAONE.Payer as PAY with(nolock)
	on PI.INSURANCEPACKAGEID=PAY.INSURANCEPACKAGEID and
    PI.CONTEXTID=PAY.CONTEXTID
    where  PI.ELIGIBILITYLASTCHECKED=
	(select MAX(PI.ELIGIBILITYLASTCHECKED) 
	from PP_Athena_ODS.ATHENAONE.PATIENTINSURANCE as PI with(nolock)
    where P.PATIENTID=PI.PATIENTID)
---select * from #PatientInsurance


drop table if exists #PatientDemographics_all
Select  P.PATIENTID,p.FIRSTNAME+' '+p.LASTNAME as Patientname ,
p.DOB DateofBirth  ,
P.ETHNICITY,
P.RACE,
P.AGRICULTURALWORKER ,
P.VETERANSTATUS,
P.LANGUAGE,
P.UNCONFIRMEDFAMILYSIZE ,
P.PUBLICHOUSING as Housing_Status,
P.ZIP,
P.CITY,
P.STATE,
P.OCCUPATION,
P.UNCONFIRMEDYEARLYINCOME ,p.UNCONFIRMEDPOVERTYLEVEL
into #PatientDemographics_all
from  PP_Athena_ODS.ATHENAONE.Patient as P with(nolock)
join (select distinct [Patient EHR ID] from #temp_PrapareQuestionaire )
PR on p.PATIENTID=pr.[Patient EHR ID]

/*9 columns data for 506 patients*/
drop table if exists #PrPatientWithDemographics
 
select a.PATIENTID as PatientId ,a.patientName PatientName,a.DateofBirth,
a.ETHNICITY Ethnicity,a.RACE Race,
a.AGRICULTURALWORKER FarmWorker,
a.VETERANSTATUS Veteranstatus,
a.[LANGUAGE] as EnglishProficiency,
a.UNCONFIRMEDPOVERTYLEVEL as [%FPL],
a.UNCONFIRMEDFAMILYSIZE as HouseHold_Size,a.OCCUPATION Occupation,
a.UNCONFIRMEDYEARLYINCOME as Household_Income,
p.Insurance
--f.* ,P.Insurance,a.*
into #PrPatientWithDemographics
from 
#PatientDemographics_all a 
join 
(
select distinct [Patient EHR ID]
from #temp_PrapareQuestionaire
) f on f.[Patient EHR ID] = a.PATIENTID
left join 
#TempPatientInsurance p on f.[Patient EHR ID] = p.PATIENTID


drop table if exists #PraparePatientsScoreInfo

CREATE TABLE #PraparePatientsScoreInfo(
	[Completed Time] [datetime] NULL,
	[Questionnaire Result ID] [int] NULL,
	[PatientID] [int] NULL,
	[patientName] [varchar](255) NULL,
	[patientBirthdate] [varchar](50) NULL,
	[Question] [varchar](255) NULL,
	[Answer] [varchar](255) NULL,
	[QuestionNo] int NULL,
	[Score] int NULL,
	TotalPrapareScore int ,
	TotalAnsScore int,
	Prapare varchar(200)
)
 
insert into #PraparePatientsScoreInfo([PatientID],[patientName],[Question],[Answer]) 

SELECT PatientId, PatientName,  Attribute as Question, Value as Answer
FROM 
(SELECT 
PatientId, 
PatientName, 
CAST(FarmWorker AS VARCHAR(50)) AS FarmWorker,
CAST(Ethnicity AS VARCHAR(50)) AS Ethnicity,
CAST(Race AS VARCHAR(50)) AS Race,
CAST(VeteranStatus AS VARCHAR(50)) AS VeteranStatus,
CAST(EnglishProficiency AS VARCHAR(50)) AS EnglishProficiency,
CAST([%FPL] AS VARCHAR(50)) AS [%FPL],
--CAST([HouseHold_Size] AS VARCHAR(50)) AS [HouseHold_Size],
--CAST([Household_Income] AS VARCHAR(50)) AS [Household_Income],
CAST(Insurance AS VARCHAR(50)) AS Insurance
FROM #PrPatientWithDemographics
) AS PPD
UNPIVOT
(
Value FOR Attribute IN 
(
Ethnicity,
Race,
FarmWorker,
VeteranStatus,
EnglishProficiency,
[%FPL],
--[HouseHold_Size],
--[Household_Income],
Insurance
)) AS FinalTable

--select distinct Answer,Question from #PatientDemographicScores
--where Question='Ethnicity'

update p set score=1
--select * 
from 
#PraparePatientsScoreInfo p
where (Answer like '%Hispanic%' or Answer like '%latino%')
and Answer not like '%not%'
and Question='Ethnicity'

update p set score=0
--select * 
from 
#PraparePatientsScoreInfo p
where --(Answer not like '%Hispanic%' and Answer not like '%latino%') and
 Question='Ethnicity' and score is null 

update p set score=0
--select * 
from 
#PraparePatientsScoreInfo p
where Answer in ('Patient Declined','Undetermined')

update p set score=0
--select * 
from 
#PraparePatientsScoreInfo p
where Answer like '%white%' and Question='race'

update p set score=0
--select * 
from 
#PraparePatientsScoreInfo p
where Answer not like '%white%' and Question='race'

update p set score=case when Answer='Y' then  1 else 0 end 
--select * 
from 
#PraparePatientsScoreInfo p
where 
Question='FarmWorker'

update p set score=case when Answer='Y' then  1 else 0 end 
--select * 
from 
#PraparePatientsScoreInfo p
where 
Question='VETERANSTATUS'

update p set score=case when Answer='English' then  0 else 1 end 
--select * 
from 
#PraparePatientsScoreInfo p
where 
Question='EnglishProficiency' and score is null 

update p set score=case when cast(Answer as float) >=200  then  0 else 1 end 
--select * 
from 
#PraparePatientsScoreInfo p
where 
Question='%FPL' and score is null 


update p set score=case when isnull(Answer,'') in ('Auto Insurance Policy'
,'Other'
,'Commercial'
,'Health Maintenance Organization (HMO)')  then  0 else 1 end 
--select * 
from 
#PraparePatientsScoreInfo p
where 
Question='insurance' and score is null 

drop table if exists #socialhxformqA

;with abc as 
(

select p.PATIENTID,cht.CHARTID,res.socialhxformresponseid,ans.VALUE answer , ques.label  ,
ans.CREATEDDATETIME,ans.Record_Updated_Date
,row_number() over(partition by p.patientid,[label] 
order by ans.CREATEDDATETIME desc )Rnk 
from 
ATHENAONE.SOCIALHXFORMRESPONSE res  with(nolock)
join ATHENAONE.CHART CHT  with(nolock) on CHT.CHARTID=res.CHARTID
join ATHENAONE.patient P with(nolock) on p.PATIENTID=cht.ENTERPRISEID
join 
(
select distinct [Patient EHR ID]
from #temp_PrapareQuestionaire
) f on f.[Patient EHR ID] = p.PATIENTID
LEFT JOIN 
ATHENAONE.SocialHXFormResponseAnswer ans with(nolock)
ON res.socialhxformresponseid = ans.socialhxformresponseid     
AND res.contextid = ans.contextid    
LEFT JOIN ATHENAONE.SOCIALHXFORMQUESTION  ques  with(nolock)
ON ques.formid = res.formid 
AND ques.questionkey = ans.questionkey 
where ( ques.label  like '%highest%level%school%'
or ques.label like '%%employed%%' )
)

select * into #socialhxformqA
from abc where rnk=1 



insert into #PraparePatientsScoreInfo(patientid,answer,Score,Question,patientName)

select q.patientid , 
case when LABEL like '%employed%' then q.answer 
else la.Answer end as Answer ,
case when LABEL like '%employed%' and q.Answer='Y' then 0
when LABEL like '%employed%' and q.Answer='N' then 1
else la.Score end as Score,
--LABEL ,
case when LABEL like '%degree%' then 'Education'
when LABEL like '%employed%' then 'Employment' end as Question
,p.FIRSTNAME+' '+p.LASTNAME as patientName
from #socialhxformqA q 
join athenaone.patient p with(nolock) on p.PATIENTID=q.PATIENTID
left join HigherEducation_MasterLACodes La on la.[LA Code ]=q.answer
---where q.PATIENTID in ('107432','157420')

--select q.*,la.* 
--from #socialhxformqA q 
--left join HigherEducation_MasterLACodes La on la.[LA Code ]=q.answer
--where patientid in 
--(
--select patientid  from 
--#PraparePatientsScoreInfo where score is null 
--)

--select * from #PrPatientWithDemographics where PATIENTID in ('107432','157420')

--select * from #PraparePatientsScoreInfo where PATIENTID in ('107432','157420')

insert into #PraparePatientsScoreInfo(PatientID,patientName,Question,Answer,Score)

select  
p.[Patient EHR ID]  
,patientName    
,case when question like '%housing%situation%' then 'Housing Situation' 
 when question like '%losing%housing%' then 'Worried About Housing Stability' 
 when question like '%family%unable%get%' then 'Unable to Get Needed Material' 
 when question like '%lack%Transportation%' then 'Lack Of Transportation' 
end
as Question  
,Answer   
,case when AnswerType='Positive' then 1 else  0 end as score      
from #temp_PrapareQuestionaire p   



update s set [QuestionNo]= case when Question='Ethnicity' then 1 
when Question='Race' then 2
when Question='FarmWorker' then 3
when Question='VeteranStatus' then 4
when Question='EnglishProficiency' then 5
when Question='Housing Situation' then 6
when Question='Worried About Housing Stability' then 7
when Question='%FPL' then 8
when Question='Education' then 9
when Question='Employment' then 10
when Question='Insurance' then 11
when Question='Unable to Get Needed Material' then 12
when Question='Lack Of Transportation' then 13
end 
---select * 
from #PraparePatientsScoreInfo s


update s set [Completed Time]=p.[Completed Time],
[Questionnaire Result ID]=p.[Questionnaire Result ID]
--select s.* 
from #PraparePatientsScoreInfo s
join
(
select [Patient EHR ID],cast([Completed Time] as date) [Completed Time],
[Questionnaire Result ID]
from #temp_PrapareQuestionaire
group by [Patient EHR ID],cast([Completed Time] as date),
[Questionnaire Result ID]
) p on p.[Patient EHR ID]=s.PatientID

update s set Prapare=p.Prapare
--select s.* 
from #PraparePatientsScoreInfo s
join
(
select [Patient EHR ID],Prapare
from #temp_PrapareQuestionaire
group by [Patient EHR ID],Prapare
) p on p.[Patient EHR ID]=s.PatientID


update s set TotalAnsScore=res.TotalAnsScore ,TotalPrapareScore=res.TotalPrapareScore
--select s.* ,res.TotalAnsScore,res.TotalPrapareScore
from #PraparePatientsScoreInfo s
join 
(
select PatientID,sum(cast(Score as int )) as TotalAnsScore ,
sum(case when questionno in 
(6,7,12,13) then cast(score as int) else 0 end ) TotalPrapareScore 
from #PraparePatientsScoreInfo s
group by PatientID
) res on res.PatientID=s.PatientID

insert into PraparePatientsScoreInfo([Completed Time],[Questionnaire Result ID],
PatientID,patientName,
patientBirthdate,Question,answer,QuestionNo,Score,TotalPrapareScore,TotalAnsScore,prapare)

select p.[Completed Time],p.[Questionnaire Result ID],p.PatientID,p.patientName,
p.patientBirthdate,p.Question,p.answer,p.QuestionNo,p.Score,p.TotalPrapareScore,p.TotalAnsScore,
p.Prapare
from 
#PraparePatientsScoreInfo p 
left join PraparePatientsScoreInfo i 
on p.PatientID=i.PatientID
where i.PatientID is null 

update s set patientName=p.FIRSTNAME+' '+p.LASTNAME ,patientBirthdate=p.DOB,
Departmentname=d.departmentname
--select d.departmentname
from PraparePatientsScoreInfo s join 
ATHENAONE.Patient p with (nolock) on p.PATIENTID=s.PatientID
left join ATHENAONE.DEPARTMENT d with(nolock) on d.DEPARTMENTID=p.CURRENTDEPARTMENTID


      
end 
GO
