USE [PP_Athena_ODS]
GO
/****** Object:  Table [dbo].[PrapareWeeklyFile_Stg]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrapareWeeklyFile_Stg](
	[questionnaireResultId] [varchar](50) NULL,
	[Form name] [varchar](50) NULL,
	[patientId] [varchar](50) NULL,
	[Patient EHR ID] [varchar](50) NULL,
	[patientName] [varchar](50) NULL,
	[patientBirthdate] [varchar](50) NULL,
	[Question] [varchar](500) NULL,
	[Answer] [varchar](500) NULL,
	[questionnaireFilledOutAt] [varchar](255) NULL,
	[Number of Questionnaires (Distinct count)] [varchar](50) NULL,
	[Recordcreateddate] [date] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrapareWeeklyFile_Stg] ADD  DEFAULT (getdate()) FOR [Recordcreateddate]
GO
