USE [PP_Athena_ODS]
GO
/****** Object:  Table [FINANCIALS].[ACTIVITYFACT]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FINANCIALS].[ACTIVITYFACT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[ID] [numeric](12, 0) NULL,
	[CHARGEID] [numeric](12, 0) NULL,
	[PARENTCHARGEID] [numeric](12, 0) NULL,
	[NUMBERCHARGES] [numeric](1, 0) NULL,
	[AMOUNT] [numeric](22, 2) NULL,
	[POSTDATE] [datetime2](7) NULL,
	[TYPE] [varchar](20) NULL,
	[TRANSACTIONREASONID] [varchar](20) NULL,
	[EXPECTEDAMOUNT] [numeric](24, 2) NULL,
	[PROCEDURECODE] [varchar](20) NULL,
	[PRINTPROCEDURECODE] [varchar](30) NULL,
	[KICKREASONID] [numeric](12, 0) NULL,
	[FROMDATE] [datetime2](7) NULL,
	[TODATE] [datetime2](7) NULL,
	[LASTBILLEDDATE] [datetime2](7) NULL,
	[FIRSTBILLEDDATE] [datetime2](7) NULL,
	[CLOSEDPOSTDATE] [datetime2](7) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[CHARGEAMT] [numeric](22, 2) NULL,
	[ALLOWABLE] [numeric](22, 2) NULL,
	[CHARGEPOSTDATE] [datetime2](7) NULL,
	[CHARGECREATEDBY] [varchar](20) NULL,
	[CHARGEVOIDPARENTID] [numeric](12, 0) NULL,
	[TRANSFERTYPE] [varchar](1) NULL,
	[TRANSFERINTENT] [varchar](1) NULL,
	[OTHERMODIFIER] [varchar](100) NULL,
	[CHARGETYPE] [varchar](20) NULL,
	[TRANSACTIONDIAGNOSIS1] [varchar](10) NULL,
	[TRANSACTIONDIAGNOSIS2] [varchar](10) NULL,
	[TRANSACTIONDIAGNOSIS3] [varchar](10) NULL,
	[TRANSACTIONDIAGNOSIS4] [varchar](10) NULL,
	[ICD10TRANSACTIONDIAGNOSIS1] [varchar](10) NULL,
	[ICD10TRANSACTIONDIAGNOSIS2] [varchar](10) NULL,
	[ICD10TRANSACTIONDIAGNOSIS3] [varchar](10) NULL,
	[ICD10TRANSACTIONDIAGNOSIS4] [varchar](10) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ORIGINALCLAIMID] [numeric](12, 0) NULL,
	[PRIMARYPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[TRANSACTIONPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[CLAIMPATIENTINSURANCEPID] [numeric](12, 0) NULL,
	[PATIENTDEPARTMENTID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[SCHEDULINGPROVIDERID] [numeric](38, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[SUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[LASTACTION] [varchar](20) NULL,
	[LASTACTIONDATE] [date] NULL,
	[STATUS1] [varchar](10) NULL,
	[DIAGNOSIS1] [varchar](10) NULL,
	[DIAGNOSIS2] [varchar](10) NULL,
	[DIAGNOSIS3] [varchar](10) NULL,
	[DIAGNOSIS4] [varchar](10) NULL,
	[DIAGNOSIS5] [varchar](10) NULL,
	[DIAGNOSIS6] [varchar](10) NULL,
	[DIAGNOSIS7] [varchar](10) NULL,
	[DIAGNOSIS8] [varchar](10) NULL,
	[ICD10DIAGNOSIS1] [varchar](10) NULL,
	[ICD10DIAGNOSIS2] [varchar](10) NULL,
	[ICD10DIAGNOSIS3] [varchar](10) NULL,
	[ICD10DIAGNOSIS4] [varchar](10) NULL,
	[ICD10DIAGNOSIS5] [varchar](10) NULL,
	[ICD10DIAGNOSIS6] [varchar](10) NULL,
	[ICD10DIAGNOSIS7] [varchar](10) NULL,
	[ICD10DIAGNOSIS8] [varchar](10) NULL,
	[REFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[TRANSACTIONSTATUS] [varchar](10) NULL,
	[CREATED] [date] NULL,
	[POSTEDBY] [varchar](20) NULL,
	[CREATEDBY] [varchar](20) NULL,
	[METHOD] [varchar](10) NULL,
	[CUSTOMTRANSACTIONCODE] [varchar](50) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[VOIDED] [datetime2](7) NULL,
	[VOIDEDBY] [varchar](20) NULL,
	[TRANSACTIONVOIDED] [numeric](1, 0) NULL,
	[TOTALRVU] [numeric](8, 5) NULL,
	[WORKRVU] [numeric](8, 5) NULL,
	[PRACTICEEXPENSERVU] [numeric](8, 5) NULL,
	[MALPRACTICERVU] [numeric](8, 5) NULL,
	[DAYS] [numeric](12, 0) NULL,
	[PROVIDERNAME] [varchar](20) NULL,
	[SUPERVISINGPROVIDERNAME] [varchar](20) NULL,
	[PROCEDURECODENAME] [varchar](1020) NULL,
	[DEPARTMENTNAME] [varchar](50) NULL,
	[PATIENTDEPARTMENTNAME] [varchar](50) NULL,
	[KICKREASONNAME] [varchar](2000) NULL,
	[CHECKCCNUMBER] [varchar](100) NULL,
	[EPAYMENTID] [numeric](12, 0) NULL,
	[TRANSACTIONDEPARTMENTID] [numeric](12, 0) NULL,
	[TRANSACTIONPROVIDERID] [numeric](12, 0) NULL,
	[TSUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[REVENUECODE] [varchar](10) NULL,
	[PREPAYMENTID] [numeric](12, 0) NULL,
	[PATIENTPAYMENTID] [numeric](12, 0) NULL,
	[VOIDPATIENTPAYMENTID] [numeric](12, 0) NULL,
	[CURRENTCHARGE] [numeric](22, 2) NULL,
	[LATECHARGE] [numeric](22, 2) NULL,
	[PAYMENT] [numeric](22, 2) NULL,
	[ADJUSTMENT] [numeric](22, 2) NULL,
	[CONTRACTUAL] [numeric](22, 2) NULL,
	[FREECARE] [numeric](22, 2) NULL,
	[BADDEBT] [numeric](22, 2) NULL,
	[COLLECT] [numeric](22, 2) NULL,
	[PRECOLLECT] [numeric](22, 2) NULL,
	[RECOVERY] [numeric](22, 2) NULL,
	[FEE] [numeric](22, 2) NULL,
	[CAPITATED] [numeric](22, 2) NULL,
	[GLOBAL] [numeric](22, 2) NULL,
	[WITHHOLD] [numeric](22, 2) NULL,
	[INTEREST] [numeric](22, 2) NULL,
	[INCENTIVE] [numeric](22, 2) NULL,
	[OTHER] [numeric](22, 2) NULL,
	[TRANSFER] [numeric](22, 2) NULL,
	[MONTH] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
