USE [PP_Athena_ODS]
GO
/****** Object:  Table [SCHEDULING].[APPOINTMENT]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCHEDULING].[APPOINTMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[APPOINTMENT_ID] [numeric](12, 0) NULL,
	[TEMPLATE_APPOINTMENT_ID] [numeric](12, 0) NULL,
	[RESCHEDULED_APPOINTMENT_ID] [numeric](12, 0) NULL,
	[APPOINTMENT_DATE] [date] NULL,
	[APPOINTMENT_MONTH] [date] NULL,
	[APPOINTMENT_DAY_WEEK] [varchar](max) NULL,
	[APPOINTMENT_START_TIME] [varchar](max) NULL,
	[SCHEDULED_TIMESTAMP] [datetime2](7) NULL,
	[SCHEDULED_MONTH] [datetime2](7) NULL,
	[SCHEDULED_DAY_WEEK] [varchar](max) NULL,
	[SCHEDULED_TIME] [varchar](max) NULL,
	[TEMPLATE_PROVIDER_ID] [numeric](12, 0) NULL,
	[TEMPLATE_PROVIDER_NAME] [varchar](max) NULL,
	[RENDERING_PROVIDER_ID] [numeric](12, 0) NULL,
	[RENDERING_PROVIDER_NAME] [varchar](max) NULL,
	[TEMPLATE_PROVIDER_NPI_ID] [varchar](max) NULL,
	[RENDERING_PROVIDER_NPI_ID] [varchar](max) NULL,
	[TEMPLATE_PROVIDERGROUP_NAME] [varchar](max) NULL,
	[RENDERING_PROVIDERGROUP_NAME] [varchar](max) NULL,
	[TEMPLATE_MEDICALGROUP_NAME] [varchar](max) NULL,
	[RENDERING_MEDICALGROUP_NAME] [varchar](max) NULL,
	[TEMPLATE_PROVIDER_GROUP_ID] [numeric](38, 0) NULL,
	[RENDERING_PROVIDER_GROUP_ID] [numeric](38, 0) NULL,
	[TEMPLATE_PROVIDER_SPECIALTY_ID] [varchar](max) NULL,
	[RENDERING_PROVIDER_SPECIALTY_ID] [varchar](max) NULL,
	[STATUS_TYPE] [varchar](max) NULL,
	[PATIENT_STATUS_TYPE] [varchar](13) NULL,
	[TEMPLATE_ENTITY_TYPE] [varchar](10) NULL,
	[RENDERING_ENTITY_TYPE] [varchar](max) NULL,
	[TEMPLATE_PROVIDER_CATEGORY_TYPE] [varchar](max) NULL,
	[RENDERING_PROVIDER_CATEGORY_TYPE] [varchar](max) NULL,
	[TEMPLATE_PROVIDERTYPE_NAME] [varchar](max) NULL,
	[RENDERING_PROVIDERTYPE_NAME] [varchar](max) NULL,
	[TEMPLATE_RESIDENT_STATUS_TYPE] [varchar](12) NULL,
	[RENDERING_RESIDENT_STATUS_TYPE] [varchar](max) NULL,
	[TEMPLATE_PROVIDER_SPECIALTY_TYPE] [varchar](max) NULL,
	[RENDERING_PROVIDER_SPECIALTY_TYPE] [varchar](max) NULL,
	[DEPARTMENT_ID] [numeric](12, 0) NULL,
	[DEPARTMENT_NAME] [varchar](max) NULL,
	[DEPARTMENT_CITY_NAME] [varchar](max) NULL,
	[DEPARTMENT_STATE_CODE] [varchar](max) NULL,
	[DEPARTMENT_ZIP_CODE] [varchar](max) NULL,
	[DEPARTMENT_ADDRESS] [varchar](max) NULL,
	[DEPARTMENT_PLACE_OF_SERVICE_NAME] [varchar](max) NULL,
	[PATIENT_ID] [numeric](12, 0) NULL,
	[PATIENT_ENTERPRISE_ID] [numeric](12, 0) NULL,
	[PATIENT_GENDER_TYPE] [varchar](6) NULL,
	[PATIENT_AGE] [varchar](max) NULL,
	[PATIENT_INSURANCE_CATEGORY_TYPE] [varchar](max) NULL,
	[PATIENT_INSURANCE_GROUPING_TYPE] [varchar](max) NULL,
	[BOOKED_APPOINTMENT_TYPE_ID] [numeric](12, 0) NULL,
	[TEMPLATE_APPOINTMENT_TYPE_ID] [numeric](12, 0) NULL,
	[BOOKED_APPOINTMENT_NAME] [varchar](max) NULL,
	[TEMPLATE_APPOINTMENT_NAME] [varchar](max) NULL,
	[BOOKED_APPOINTMENT_DURATION] [numeric](12, 0) NULL,
	[TEMPLATE_APPOINTMENT_DURATION] [numeric](12, 0) NULL,
	[PAR_NAME] [varchar](max) NULL,
	[SCHEDULED_BY_USER_NAME] [varchar](max) NULL,
	[SCHEDULED_BY_CATEGORY_TYPE] [varchar](max) NULL,
	[CANCELLED_BY_USER_NAME] [varchar](max) NULL,
	[CANCELLED_BY_CATEGORY_TYPE] [varchar](max) NULL,
	[CANCELLED_TIMESTAMP] [datetime2](7) NULL,
	[CANCELLED_REASON_TYPE] [varchar](20) NULL,
	[CANCELLED_REASON_LOCAL_NAME] [varchar](max) NULL,
	[RESCHEDULED_BY_USER_NAME] [varchar](max) NULL,
	[RESCHEDULED_BY_CATEGORY_TYPE] [varchar](max) NULL,
	[RESCHEDULED_TIMESTAMP] [datetime2](7) NULL,
	[CHECKEDIN_BY_USER_NAME] [varchar](max) NULL,
	[CHECKEDIN_BY_CATEGORY_TYPE] [varchar](max) NULL,
	[APPOINTMENT_NOTE] [varchar](1) NULL,
	[COMMUNICATOR_CREATED_BY] [varchar](max) NULL,
	[COMMUNICATOR_NAVIGATION_TYPE] [varchar](max) NULL,
	[CANCELLED_COUNT_INDICATOR] [numeric](1, 0) NULL,
	[RESCHEDULED_COUNT_INDICATOR] [numeric](1, 0) NULL,
	[NON_RESCHED_NO_SHOW_COUNT_INDICATOR] [numeric](1, 0) NULL,
	[FULL_NO_SHOW_COUNT_INDICATOR] [numeric](1, 0) NULL,
	[CHECKED_IN_COUNT_INDICATOR] [numeric](1, 0) NULL,
	[FILLED_COUNT_INDICATOR] [numeric](1, 0) NULL,
	[TOTAL_COUNT_INDICATOR] [numeric](1, 0) NULL,
	[UNDER_2_DAYS_INDICATOR] [numeric](1, 0) NULL,
	[UNDER_15_DAYS_INDICATOR] [numeric](1, 0) NULL,
	[BETWEEN_2_AND_7_DAYS_INDICATOR] [numeric](1, 0) NULL,
	[BETWEEN_8_AND_14_DAYS_INDICATOR] [numeric](1, 0) NULL,
	[BETWEEN_15_AND_30_DAYS_INDICATOR] [numeric](1, 0) NULL,
	[GREATER_OR_EQUAL_TO_31_DAYS_INDICATOR] [numeric](1, 0) NULL,
	[DAYS_DIFF_SCHED_TO_APT] [numeric](24, 6) NULL,
	[HOURS_DIFF_SCHED_TO_APT] [numeric](24, 6) NULL,
	[HOURS_DIFF_CANCEL_TO_APT] [numeric](24, 6) NULL,
	[HOURS_DIFF_RESCHED_TO_APT] [numeric](24, 6) NULL,
	[CLAIM_ID] [numeric](12, 0) NULL,
	[ATHENAONE_SUCCESSFUL_VISIT_INDICATOR] [numeric](1, 0) NULL,
	[INSURANCE_PACKAGE_ID] [numeric](12, 0) NULL,
	[TELEHEALTH_APPOINTMENT_INDICATOR] [numeric](1, 0) NULL,
	[DEPARTMENT_TIME_ZONE] [varchar](20) NULL,
	[EST_OFFSET_HOURS] [numeric](2, 0) NULL,
	[TEST_PATIENT_INDICATOR] [numeric](1, 0) NULL,
	[ATHENAONE_APPOINTMENT_DURATION_SECS] [numeric](13, 0) NULL,
	[ATHENAONE_APPOINTMENT_INDICATOR] [numeric](1, 0) NULL,
	[ATHENAONE_DETAILED_CALL_STATUS_TYPE] [varchar](200) NULL,
	[ATHENAONE_FUTURE_APPOINTMENT_INDICATOR] [numeric](1, 0) NULL,
	[ATHENAONE_SHORT_VISIT_TYPE] [varchar](20) NULL,
	[ATHENAONE_TEST_USER_INDICATOR] [numeric](1, 0) NULL,
	[BOOKING_CHANNEL_TYPE] [varchar](max) NULL,
	[MISSING_SLIP_INDICATOR] [numeric](18, 0) NULL,
	[CREATEDON] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
