USE [PP_Athena_ODS]
GO
/****** Object:  Table [SCHEDULING].[SLOT_HISTORICAL]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCHEDULING].[SLOT_HISTORICAL](
	[CONTEXTID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[APPOINTMENT_ID] [numeric](12, 0) NULL,
	[PARENT_APPOINTMENT_ID] [numeric](12, 0) NULL,
	[TEMPLATE_APPOINTMENT_ID] [numeric](12, 0) NULL,
	[RESCHEDULED_APPOINTMENT_ID] [numeric](12, 0) NULL,
	[APPOINTMENT_DATE] [datetime2](7) NULL,
	[APPOINTMENT_MONTH] [datetime2](7) NULL,
	[APPOINTMENT_START_TIME] [varchar](max) NULL,
	[SCHEDULED_TIMESTAMP] [datetime2](7) NULL,
	[SCHEDULED_MONTH] [datetime2](7) NULL,
	[RESCHEDULED_TIMESTAMP] [datetime2](7) NULL,
	[CANCELLED_TIMESTAMP] [datetime2](7) NULL,
	[APPOINTMENT_STATUS_TYPE] [varchar](max) NULL,
	[SLOT_STATUS_TYPE] [varchar](max) NULL,
	[PATIENT_ID] [numeric](12, 0) NULL,
	[ENTERPRISE_ID] [numeric](12, 0) NULL,
	[PATIENT_GENDER_TYPE] [varchar](max) NULL,
	[PATIENT_AGE_RANGE] [varchar](max) NULL,
	[TEMPLATE_PROVIDER_ID] [numeric](12, 0) NULL,
	[RENDERING_PROVIDER_ID] [numeric](12, 0) NULL,
	[TEMPLATE_PROVIDER_NAME] [varchar](max) NULL,
	[RENDERING_PROVIDER_NAME] [varchar](max) NULL,
	[TEMPLATE_PROVIDERGROUP_NAME] [varchar](max) NULL,
	[RENDERING_PROVIDERGROUP_NAME] [varchar](max) NULL,
	[TEMPLATE_MEDICALGROUP_NAME] [varchar](max) NULL,
	[RENDERING_MEDICALGROUP_NAME] [varchar](max) NULL,
	[TEMPLATE_PROVIDER_CATEGORY_TYPE] [varchar](max) NULL,
	[RENDERING_PROVIDER_CATEGORY_TYPE] [varchar](max) NULL,
	[TEMPLATE_PROVIDERTYPE_NAME] [varchar](max) NULL,
	[RENDERING_PROVIDERTYPE_NAME] [varchar](max) NULL,
	[TEMPLATE_ENTITY_TYPE] [varchar](max) NULL,
	[RENDERING_ENTITY_TYPE] [varchar](max) NULL,
	[TEMPLATE_RESIDENT_STATUS_TYPE] [varchar](max) NULL,
	[RENDERING_RESIDENT_STATUS_TYPE] [varchar](max) NULL,
	[TEMPLATE_PROVIDER_SPECIALTY_TYPE] [varchar](max) NULL,
	[RENDERING_PROVIDER_SPECIALTY_TYPE] [varchar](max) NULL,
	[DEPARTMENT_ID] [numeric](12, 0) NULL,
	[DEPARTMENT_NAME] [varchar](max) NULL,
	[DEPARTMENT_CITY] [varchar](max) NULL,
	[DEPARTMENT_STATE_CODE] [varchar](max) NULL,
	[DEPARTMENT_ZIP] [varchar](max) NULL,
	[DEPARTMENT_ADDRESS] [varchar](max) NULL,
	[DEPARTMENT_PLACE_OF_SERVICE_NAME] [varchar](max) NULL,
	[SLOT_ACTION_ID] [numeric](38, 0) NULL,
	[PATIENT_SLOT_INDICATOR] [numeric](1, 0) NULL,
	[APPOINTMENT_DELETED_INDICATOR] [numeric](1, 0) NULL,
	[BOOKED_APPT_NAME] [varchar](max) NULL,
	[BOOKED_APPT_DURATION] [numeric](12, 0) NULL,
	[TEMPLATE_APPT_NAME] [varchar](max) NULL,
	[TEMPLATE_APPT_GENERIC_INDICATOR] [numeric](1, 0) NULL,
	[SLOT_DURATION] [numeric](12, 0) NULL,
	[TEMPLATE_SLOT_INDICATOR] [numeric](1, 0) NULL,
	[TEMPLATE_SLOT_DURATION] [numeric](12, 0) NULL,
	[FORCED_SLOT_INDICATOR] [numeric](1, 0) NULL,
	[FORCED_SLOT_DURATION] [numeric](12, 0) NULL,
	[FROZEN_SLOT_INDICATOR] [numeric](1, 0) NULL,
	[FROZEN_SLOT_DURATION] [numeric](12, 0) NULL,
	[FROZEN_REASON] [varchar](max) NULL,
	[CHECKED_IN_INDICATOR] [numeric](1, 0) NULL,
	[OPEN_INDICATOR] [numeric](1, 0) NULL,
	[FILLED_INDICATOR] [numeric](1, 0) NULL,
	[CHECKED_IN_SLOT_DURATION] [numeric](12, 0) NULL,
	[CREATEDON] [date] NULL,
	[CREATEDBY] [varchar](80) NULL,
	[LASTUPDATEDBY] [varchar](80) NULL,
	[TEMPLATE_PROVIDER_GROUP_ID] [numeric](12, 0) NULL,
	[RENDERING_PROVIDER_GROUP_ID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
