USE [PP_Athena_ODS]
GO
/****** Object:  Table [TEMPLATES].[QUICKSTART_SQL]    Script Date: 7/27/2026 6:32:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMPLATES].[QUICKSTART_SQL](
	[ID] [varchar](500) NULL,
	[VERSION] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[VERSION_DESCRIPTION] [varchar](max) NULL,
	[SQL_QUERY] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[TIME_CREATED] [datetime2](7) NULL,
	[TIME_MODIFIED] [datetime2](7) NULL,
	[STATUS] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
