USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 7/29/2026 5:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[EmailID] [varchar](200) NOT NULL,
	[PasswordHash] [binary](64) NOT NULL,
	[IsActive] [int] NULL,
	[Role] [varchar](50) NULL,
	[RoleDesc] [varchar](50) NULL,
	[Is_SSUser] [bit] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](100) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[DMLType] [varchar](20) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserDetails] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserDetails] ADD  DEFAULT ((0)) FOR [Is_SSUser]
GO
/****** Object:  Trigger [dbo].[tr_UserDetails]    Script Date: 7/29/2026 5:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[tr_UserDetails]                        
 on [dbo].[UserDetails]                        
 After Update                        
 as begin                        
    INSERT INTO [dbo].UserDetailsHistory                        
           (       
ID    
,Name    
,EmailID    
,PasswordHash    
,IsActive    
,Role    
,RoleDesc    
,Is_SSUser    
,RecordCreatedBy    
,RecordCreatedDate    
,RecordModifiedBy    
,RecordModifiedDate    
,DMLType    
,HistoryCreatedBy    
,HistoryCreatedDate         
)                       
                      
 select                       
 d.ID    
,d.Name    
,d.EmailID    
,d.PasswordHash    
,d.IsActive    
,d.Role    
,d.RoleDesc    
,d.Is_SSUser    
,d.RecordCreatedBy    
,d.RecordCreatedDate    
,d.RecordModifiedBy    
,d.RecordModifiedDate    
,d.DMLType    
,i.RecordModifiedBy HistoryCreatedBy    
,getdate() HistoryCreatedDate             
from deleted d inner join inserted i on i.id = d.id                   
                  
end    
    
    
GO
ALTER TABLE [dbo].[UserDetails] ENABLE TRIGGER [tr_UserDetails]
GO
