USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[ELIGIBILITYTRACK]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ELIGIBILITYTRACK](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ELIGIBILITYTRACKID] [numeric](12, 0) NULL,
	[ORIGINALID] [numeric](12, 0) NULL,
	[STATE] [varchar](200) NULL,
	[ATTEMPTSREMAINING] [numeric](38, 0) NULL,
	[ELIGIBILITYCLASS] [varchar](500) NULL,
	[RECEIVERNAME] [varchar](500) NULL,
	[PATIENTINSURANCEID] [numeric](12, 0) NULL,
	[ALTPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[DOCUMENTINSURANCEID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ALTPATIENTID] [numeric](12, 0) NULL,
	[INFORMATIONTYPE] [varchar](200) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[REFERENCEKEY] [varchar](500) NULL,
	[TRANSACTIONYN] [varchar](200) NULL,
	[INQUIRYREASON] [varchar](500) NULL,
	[OUTGOINGTRANSACTION] [varchar](8000) NULL,
	[OUTGOINGTRANSACTIONDATEDATETIME] [datetime2](7) NULL,
	[INCOMINGTRANSACTION] [varchar](8000) NULL,
	[INCOMINGTRANSACTIONDATEDATETIME] [datetime2](7) NULL,
	[ACKNOWLEDGEMENT] [varchar](2000) NULL,
	[ACKNOWLEDGEMENTDATEDATETIME] [datetime2](7) NULL,
	[MESSAGERESULT] [varchar](200) NULL,
	[SYNCHRONOUSYN] [varchar](1) NULL,
	[VERIFICATIONNOTE] [varchar](8000) NULL,
	[ELIGIBILITYWARNING] [varchar](2000) NULL,
	[DEBUG] [varchar](8000) NULL,
	[FULLOUTGOINGDATA] [varchar](200) NULL,
	[FULLINCOMINGDATA] [varchar](200) NULL,
	[ELAPSEDTIME] [numeric](12, 3) NULL,
	[TESTYN] [varchar](200) NULL,
	[USERNAME] [varchar](200) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[INSURANCEPACKAGEID] [numeric](12, 0) NULL,
	[IDNUMBER] [varchar](500) NULL,
	[POLICYNUMBER] [varchar](500) NULL,
	[RELATIONSHIPTOINSUREDID] [numeric](12, 0) NULL,
	[DATEOFSERVICEDATETIME] [datetime2](7) NULL,
	[INFORMATIONSOURCENAME] [varchar](500) NULL,
	[PCPNAME] [varchar](200) NULL,
	[OUTGOINGANSIVERSIONID] [numeric](12, 0) NULL,
	[INCOMINGANSIVERSIONID] [numeric](12, 0) NULL,
	[ELIGIBILITYSEARCHCRITERIAID] [numeric](12, 0) NULL,
	[ENROLLMENTPERIODID] [numeric](12, 0) NULL,
	[PROVIDERSOURCE] [varchar](200) NULL,
	[NPITYPE] [varchar](200) NULL,
	[NPI] [varchar](200) NULL,
	[ITERATIVEMESSAGEMAPID] [numeric](12, 0) NULL,
	[SERVICETYPECODE] [varchar](200) NULL,
	[ISSUECATEGORY] [varchar](500) NULL,
	[PARENTELIGIBILITYTRACKID] [numeric](12, 0) NULL,
	[ELIGIBILITYBATCHID] [numeric](12, 0) NULL,
	[RULELOCATION] [varchar](200) NULL,
	[RULEID] [numeric](12, 0) NULL,
	[PATIENTMATCHSCORE] [numeric](4, 2) NULL,
	[ELIGIBLERESULT] [varchar](200) NULL,
	[UNVERIFIED] [varchar](200) NULL,
	[INCORRECTPACKAGE] [varchar](200) NULL,
	[DEMOGRAPHICMISMATCH] [varchar](200) NULL,
	[HIXGRACEPERIOD] [varchar](200) NULL,
	[INCORRECTPATIENTPHI] [varchar](200) NULL,
	[EDIBATCHID] [numeric](12, 0) NULL,
	[LIMITEDCOVERAGEYN] [varchar](200) NULL,
	[CACHEDELIGIBILITYTRACKID] [numeric](12, 0) NULL,
	[OTHERPAYERFLAG] [varchar](200) NULL,
	[USECACHINGLOGICFLAG] [varchar](200) NULL,
	[ELIGIBLEINSTITUTIONALFLAG] [varchar](200) NULL,
	[INSURANCEPRODUCTTYPECODE] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
