USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[EPISODEOB]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[EPISODEOB](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[EPISODEOBID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[EPISODEDEPARTMENTID] [numeric](12, 0) NULL,
	[ACTUALDELIVERYDEPARTMENTID] [numeric](12, 0) NULL,
	[LASTMENSTRUALDATE] [date] NULL,
	[LASTMENSTPERIODDEFYN] [varchar](200) NULL,
	[INITIALEXAMDATE] [date] NULL,
	[INITIALDAYS] [numeric](12, 0) NULL,
	[INITIALEXAMPERFORMEDBY] [varchar](200) NULL,
	[FIRSTULTRASOUNDDATE] [date] NULL,
	[ULTRASOUNDDAYS] [numeric](12, 0) NULL,
	[FINALEDDDATE] [date] NULL,
	[FINALEDDCONFIRMDATE] [date] NULL,
	[FINALEDDCONFIRMEDBY] [varchar](200) NULL,
	[PREPREGNANCYWEIGHT] [numeric](12, 2) NULL,
	[BLOODTYPE] [varchar](200) NULL,
	[RHSTATUS] [varchar](200) NULL,
	[FATHER] [varchar](500) NULL,
	[FATHERPHONE] [varchar](500) NULL,
	[HUSBANDDOMESTICPARTNER] [varchar](500) NULL,
	[HUSBANDDOMESTICPARTNERPHONE] [varchar](500) NULL,
	[PEDIATRICIAN] [varchar](500) NULL,
	[DELIVERYDATE] [date] NULL,
	[LABOR] [varchar](200) NULL,
	[PRETERMLABOR] [varchar](200) NULL,
	[ANESTHESIA] [varchar](200) NULL,
	[DELIVEREDBY] [varchar](500) NULL,
	[ACTUALDELIVERYSITEOTHER] [varchar](500) NULL,
	[INCISIONTYPE] [varchar](200) NULL,
	[TUBALSTERILIZATIONYN] [varchar](200) NULL,
	[DISCHARGEDATE] [date] NULL,
	[WEEKSGESTATION] [numeric](12, 0) NULL,
	[WEEKSGESTATIONATDELIVERY] [numeric](10, 2) NULL,
	[LENGTHOFLABOR] [numeric](12, 2) NULL,
	[POSTPARTUMCOMPLICATIONS] [varchar](200) NULL,
	[COMMENTS] [varchar](2000) NULL,
	[FEEDINGMETHOD] [varchar](200) NULL,
	[MATERNALHGBGCTLEVEL] [varchar](200) NULL,
	[CONTRACEPTIVEMETHOD] [varchar](500) NULL,
	[OBEPISODECLOSEREASON] [varchar](200) NULL,
	[STATUS] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[INITIALEDDDATE] [date] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
