USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[APPOINTMENTELIGIBILITYINFO]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[APPOINTMENTELIGIBILITYINFO](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENTELIGIBILITYINFOID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[COPAYAMOUNT] [numeric](12, 2) NULL,
	[BADDEBTAMOUNT] [numeric](12, 2) NULL,
	[FAMILYBADDEBTAMOUNT] [numeric](12, 2) NULL,
	[COPAYTYPEID] [numeric](38, 0) NULL,
	[COPAYCHOICEID] [numeric](12, 0) NULL,
	[BADDEBTCHOICEID] [numeric](12, 0) NULL,
	[BADDEBTCHOICEREASON] [varchar](max) NULL,
	[COPAYAMOUNTCOLLECTED] [numeric](12, 2) NULL,
	[COPAYCHOICE] [varchar](max) NULL,
	[COPAYTYPE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[FINALELIGBENEFITREPORTID] [numeric](38, 0) NULL,
	[DEFAULTELIGBENEFITREPORTID] [numeric](38, 0) NULL,
	[COPAYCHOICEREASON] [varchar](max) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[FINALELIGCOPAYCOLLECTED] [numeric](12, 2) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
