USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[USERACTIVITYTIMER]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[USERACTIVITYTIMER](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[FOREIGNID] [numeric](12, 0) NULL,
	[AUTOSTART] [varchar](200) NULL,
	[IDENTIFIER] [varchar](500) NULL,
	[STAGE] [varchar](500) NULL,
	[CLASSES] [varchar](200) NULL,
	[MOUSECOUNT] [numeric](38, 0) NULL,
	[OCCURRENCEDATEDATETIME] [datetime2](7) NULL,
	[USERNAME] [varchar](200) NULL,
	[SCREEN] [varchar](200) NULL,
	[ENDTIMEDATETIME] [datetime2](7) NULL,
	[CATEGORY] [varchar](200) NULL,
	[STARTTIMEDATETIME] [datetime2](7) NULL,
	[ACTUALSTAGE] [varchar](200) NULL,
	[LOCATION] [varchar](500) NULL,
	[KEYCOUNT] [numeric](38, 0) NULL,
	[ELAPSEDTIME] [numeric](38, 10) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
