USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[PATMSGGCSETTING]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PATMSGGCSETTING](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATMSGGCSETTINGID] [numeric](12, 0) NULL,
	[EMAILENABLEDYN] [varchar](max) NULL,
	[USEDEFAULTCALLERIDYN] [varchar](max) NULL,
	[DEFAULTAREACODE] [varchar](max) NULL,
	[SMSENABLEDYN] [varchar](max) NULL,
	[PHONEENABLEDYN] [varchar](max) NULL,
	[ACTIVEYN] [varchar](max) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[DAYMASK] [numeric](38, 0) NULL,
	[CALLERID] [varchar](max) NULL,
	[FIRSTNAMEONLY] [varchar](max) NULL,
	[CALLMOBILEFIRST] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
