USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[ELIGIBILITYBENEFIT]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ELIGIBILITYBENEFIT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ELIGIBILITYBENEFITID] [numeric](12, 0) NULL,
	[ELIGIBILITYTRACKID] [numeric](12, 0) NULL,
	[BENEFITINFO] [varchar](200) NULL,
	[COVERAGELEVEL] [varchar](200) NULL,
	[SERVICETYPECODE] [varchar](200) NULL,
	[INSURANCETYPE] [varchar](200) NULL,
	[PLANCOVERAGEDESC] [varchar](500) NULL,
	[TIMEPERIODTYPE] [varchar](200) NULL,
	[MONETARYAMOUNT] [varchar](200) NULL,
	[PERCENTAGE] [varchar](200) NULL,
	[QUANTITYTYPE] [varchar](200) NULL,
	[QUANTITY] [varchar](200) NULL,
	[AUTHORIZATIONREQ] [varchar](200) NULL,
	[PLANNETWORK] [varchar](200) NULL,
	[MEDICALPROCEDURE] [varchar](200) NULL,
	[DIAGNOSIS] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
