USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[ATTACHMENT]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ATTACHMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ATTACHMENTID] [numeric](12, 0) NULL,
	[EXPIRATIONDATEDATETIME] [datetime2](7) NULL,
	[EFFECTIVEDATEDATETIME] [datetime2](7) NULL,
	[ORIGINALFILENAME] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[ATTACHMENTTYPEID] [numeric](12, 0) NULL,
	[FILENAME] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
