USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[CAPPAYMENT]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CAPPAYMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CAPPAYMENTID] [numeric](12, 0) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[VOIDPAYMENTBATCHID] [numeric](12, 0) NULL,
	[FROMDATE] [date] NULL,
	[TODATE] [date] NULL,
	[POSTDATE] [date] NULL,
	[POSTEDBY] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[VOIDEDDATE] [date] NULL,
	[VOIDEDBY] [varchar](200) NULL,
	[CHECKNUMBER] [varchar](200) NULL,
	[ALLPROVIDERSYN] [varchar](200) NULL,
	[ALLDEPARTMENTSYN] [varchar](200) NULL,
	[AMOUNT] [numeric](12, 2) NULL,
	[BUNDLEDADJUSTMENTS] [numeric](12, 2) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
