USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[VACCINEREFUSEDREASON]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[VACCINEREFUSEDREASON](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[VACCINEREFUSEDREASONID] [numeric](12, 0) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[REFUSEDREASON] [varchar](max) NULL,
	[TYPE] [varchar](max) NULL,
	[PARENTVACCINEREFUSEDREASONID] [numeric](12, 0) NULL,
	[SUBCATEGORY] [varchar](max) NULL,
	[CATEGORY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
