USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[ALLOWABLESCHEDULECATEGORY]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[ALLOWABLESCHEDULECATEGORY](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ALLOWABLESCHEDULECATEGORYID] [numeric](22, 0) NULL,
	[TYPE] [varchar](6) NULL,
	[OPERATIONID] [numeric](12, 0) NULL,
	[FEESCHEDULEID] [numeric](12, 0) NULL,
	[NAME] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[ISDELETED] [bit] NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
