USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[PORTALFORMSECTIONSTATUS]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[PORTALFORMSECTIONSTATUS](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PORTALFORMSECTIONSTATUSID] [numeric](12, 0) NULL,
	[PORTALFORMID] [numeric](38, 0) NULL,
	[PORTALFORMSECTIONID] [numeric](38, 0) NULL,
	[APPOINTMENTID] [numeric](38, 0) NULL,
	[COMPLETEYN] [varchar](200) NULL,
	[EMPTYYN] [varchar](200) NULL,
	[FILLEDINDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
