USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[INTERFACEMAP]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[INTERFACEMAP](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[INTERFACEMAPID] [numeric](11, 0) NULL,
	[INTERFACEVENDOR] [varchar](500) NULL,
	[MAPKEY] [varchar](200) NULL,
	[ATHENAID] [varchar](500) NULL,
	[FOREIGNID] [varchar](500) NULL,
	[FOREIGNINFO] [varchar](500) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[ISDELETED] [bit] NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
