USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[CLAIMATTACHMENT]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[CLAIMATTACHMENT](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLAIMATTACHMENTID] [numeric](12, 0) NULL,
	[PAGECOUNT] [numeric](12, 0) NULL,
	[NOATTACHMENTREASONUSERNAME] [varchar](max) NULL,
	[ORIGINALFILENAME] [varchar](max) NULL,
	[NOTES] [varchar](max) NULL,
	[ATTACHMENTID] [numeric](12, 0) NULL,
	[STUBATTACHMENTTYPECLASSID] [varchar](max) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[NOATTACHMENTREASONMODIFIEDDATEDATETIME] [datetime2](7) NULL,
	[STUBATTACHMENTTYPEID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[REQUIREDYN] [varchar](max) NULL,
	[PRINTATTACHMENTYN] [varchar](max) NULL,
	[CLAIMNOTEID] [numeric](12, 0) NULL,
	[NOATTACHMENTREASONID] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
