USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[DOCUMENTACTIONREASONRULE]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[DOCUMENTACTIONREASONRULE](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DOCUMENTACTIONREASONRULEID] [numeric](12, 0) NULL,
	[EXCLUDEINTERFACEYN] [varchar](max) NULL,
	[CLINICALORDERTYPEID] [numeric](12, 0) NULL,
	[ORDERTYPENAME] [varchar](max) NULL,
	[DOCUMENTACTIONREASONID] [numeric](38, 0) NULL,
	[ASSIGNEDTO] [varchar](max) NULL,
	[NEXTSTATUS] [varchar](max) NULL,
	[DOCUMENTSUBCLASS] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[DOCUMENTCLASS] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
