USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[TRANSACTION]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[TRANSACTION](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[TRANSACTIONID] [numeric](12, 0) NULL,
	[CHARGEID] [numeric](12, 0) NULL,
	[PARENTCHARGEID] [numeric](12, 0) NULL,
	[CUSTOMTRANSACTIONCODE] [varchar](500) NULL,
	[TRANSACTIONPOSTEDBY] [varchar](200) NULL,
	[TRANSACTIONCREATEDDATETIME] [datetime2](7) NULL,
	[CHARGEFROMDATE] [date] NULL,
	[CHARGETODATE] [date] NULL,
	[FIRSTBILLEDDATETIME] [datetime2](7) NULL,
	[LASTBILLEDDATETIME] [datetime2](7) NULL,
	[TRANSACTIONTYPE] [varchar](200) NULL,
	[TRANSACTIONTRANSFERTYPE] [varchar](200) NULL,
	[TRANSACTIONTRANSFERINTENT] [varchar](200) NULL,
	[TRANSACTIONREASON] [varchar](200) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[TRANSACTIONPATIENTINSID] [numeric](12, 0) NULL,
	[PROCEDURECODE] [varchar](200) NULL,
	[OTHERMODIFIER] [varchar](200) NULL,
	[CLOSEDPOSTDATE] [date] NULL,
	[VOIDEDDATE] [date] NULL,
	[CHARGEVOIDPARENTID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[TRANSACTIONMETHOD] [varchar](200) NULL,
	[PLACEOFSERVICE] [varchar](200) NULL,
	[PROVIDERGROUPID] [numeric](38, 0) NULL,
	[ORIGPOSTEDPAYMENTBATCHID] [numeric](12, 0) NULL,
	[PAYMENTBATCHID] [numeric](12, 0) NULL,
	[VOIDPAYMENTBATCHID] [numeric](12, 0) NULL,
	[EXPECTEDALLOWEDAMOUNT] [numeric](22, 2) NULL,
	[EXPECTEDALLOWABLESCHEDULEID] [numeric](12, 0) NULL,
	[REVERSALFLAG] [numeric](1, 0) NULL,
	[PATIENTPAYMENTID] [numeric](12, 0) NULL,
	[POSTDATE] [date] NULL,
	[WORKRVU] [numeric](21, 5) NULL,
	[PRACTICEEXPENSERVU] [numeric](21, 5) NULL,
	[MALPRACTICERVU] [numeric](21, 5) NULL,
	[TOTALRVU] [numeric](21, 5) NULL,
	[AMOUNT] [numeric](22, 2) NULL,
	[NUMBEROFCHARGES] [numeric](1, 0) NULL,
	[UNITS] [numeric](13, 0) NULL,
	[EXPECTED] [numeric](22, 2) NULL,
	[OUTSTANDING] [numeric](12, 2) NULL,
	[PAYMENTS] [numeric](12, 2) NULL,
	[TRANSFERS] [numeric](12, 2) NULL,
	[EMGYN] [varchar](200) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[REVENUECODE] [varchar](200) NULL,
	[LINENOTE] [varchar](500) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[PREPAYMENTID] [numeric](12, 0) NULL,
	[NDC] [varchar](200) NULL,
	[COLLECTIONSADJUSTMENTID] [numeric](12, 0) NULL,
	[TRANSACTIONCREATEDBY] [varchar](200) NULL,
	[TRANSACTIONLASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[FEESCHEDULEID] [numeric](12, 0) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
