USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[SNOMED]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[SNOMED](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[SNOMEDCODE] [numeric](18, 0) NULL,
	[DESCRIPTION] [varchar](2000) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[ISDELETED] [bit] NULL,
	[PLCDESCRIPTION] [varchar](2000) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
