USE [TrainingDB]
GO
/****** Object:  Table [ATHENAONE].[USERPROFILEAUDR]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ATHENAONE].[USERPROFILEAUDR](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[USERPROFILEAUDRID] [numeric](12, 0) NULL,
	[OPERATION] [varchar](max) NULL,
	[OPERATIONID] [numeric](12, 0) NULL,
	[SOURCEID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[OLDVALUE] [varchar](max) NULL,
	[FIELDNAME] [varchar](max) NULL,
	[USERCONTEXTDELETEDDATETIME] [datetime2](7) NULL,
	[USERCONTEXTDELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
