USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PP_HTN_DASHBOARD2]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PP_HTN_DASHBOARD2](
	[Patient_MRN] [numeric](12, 0) NULL,
	[Patient_FirstName] [varchar](500) NULL,
	[Patient_LastName] [varchar](500) NULL,
	[Patient_Gender] [varchar](6) NOT NULL,
	[Patient_Age] [int] NULL,
	[Systolic] [varchar](max) NULL,
	[Date_of_Systolic] [datetime2](7) NULL,
	[DIASTOLIC] [numeric](18, 0) NULL,
	[Date_of_Diastolic] [datetime2](7) NULL,
	[Smoking_status] [varchar](max) NULL,
	[PROVIDERID] [decimal](12, 0) NULL,
	[ProviderName] [varchar](max) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[DEPARTMENTNAME] [varchar](max) NULL,
	[DIABETES] [varchar](2000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
