USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_HTN_Report]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_HTN_Report]
AS
BEGIN
							IF OBJECT_ID('tempdb..#AthenaPatient') IS NOT NULL
									DROP TABLE #AthenaPatient
							IF OBJECT_ID('tempdb..#depro') IS NOT NULL
									DROP TABLE #depro
							IF OBJECT_ID('tempdb..#bp_sys') IS NOT NULL
									DROP TABLE #bp_sys
							IF OBJECT_ID('tempdb..#bp_dias') IS NOT NULL
									DROP TABLE #bp_dias
							IF OBJECT_ID('tempdb..#diabet') IS NOT NULL
									DROP TABLE #diabet
							IF OBJECT_ID('tempdb..#smoke') IS NOT NULL
									DROP TABLE #smoke
							IF OBJECT_ID('tempdb..#Allpatients') IS NOT NULL
									DROP TABLE #Allpatients
							IF OBJECT_ID(N'dbo.PP_HTN_DASHBOARD2', N'U') IS NOT NULL 
									Drop table PP_HTN_DASHBOARD2


begin
with P_details as(
Select P.PATIENTID AS Patient_MRN
,P.FIRSTNAME AS Patient_FirstName 
,P.LASTNAME AS Patient_LastName
,datediff( YY, P.DOB, getdate()) as Patient_Age
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)
)
SELECT * into #AthenaPatient  from P_details 
end  
--------------------------------------------------------
begin
with BP_sys1 as (
select
ce.PATIENTID
,pr.PROVIDERID
,concat(pr.PROVIDERFIRSTNAME,pr.PROVIDERLASTNAME) as ProviderName
,d.DEPARTMENTID
,d.DEPARTMENTNAME
,ROW_NUMBER() over (partition by ce.patientid order by ce.createddatetime desc)recent
from
PP_Athena_ODS.ATHENAONE.CLINICALENCOUNTER ce(nolock)
inner join PP_Athena_ODS.ATHENAONE.PROVIDER pr (nolock) on pr.PROVIDERID=ce.PROVIDERID and pr.CONTEXTID=ce.CONTEXTID
inner join PP_Athena_ODS.ATHENAONE.DEPARTMENT d (nolock) on d.DEPARTMENTID=ce.DEPARTMENTID and d.CONTEXTID=ce.CONTEXTID

) 
select * into #depro
from BP_sys1 where recent=1 
end  

------------------------------
begin
with BP_sys as (
select P.PATIENTID AS Patient_MRN
,(VS.VALUE)  as Systolic
,VS.CREATEDDATETIME
,ROW_NUMBER() over (partition by p.patientid order by VS.CREATEDDATETIME desc)recent
from
PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.BLOODPRESSURE.SYSTOLIC' and VS.CREATEDDATETIME>DATEADD(MONTH,-6,GETDATE()) 
) 
select * into #bp_sys
from BP_sys where recent=1 
end  
---------------------------------------------------------

begin
with BP_dias as (
select 
P.PATIENTID as Patient_MRN
,cast(VS.[VALUE] as numeric) as DIASTOLIC
,VS.CREATEDDATETIME
,ROW_NUMBER() over (partition by p.patientid order by VS.CREATEDDATETIME desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.BLOODPRESSURE.DIASTOLIC' and VS.CREATEDDATETIME>DATEADD(MONTH,-6,GETDATE())
) 
select * into #bp_dias
from BP_dias where recent=1    
end
---------------------------------------------------------
	
begin 
with Smoke as (	
select
P.PATIENTID AS PATIENT_MRN
,PSH.SOCIALHISTORYANSWER AS Smoking_status
,ROW_NUMBER() over (partition by P.patientid order by PSH.CREATEDDATETIME desc)recent
FROM PP_Athena_ODS.ATHENAONE.PATIENTSOCIALHISTORY as PSH (nolock)
inner JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on PSH.PATIENTID=P.PATIENTID AND PSH.CONTEXTID=P.CONTEXTID
where PSH.SOCIALHISTORYKEY like '%SMOKINGSTATUS%'
) 
select * into #smoke from Smoke where recent=1
            
end					
---------------------------------------------------------
select 
P.Patient_MRN as Patient_MRN, 
P.Patient_FirstName as Patient_FirstName, 
P.Patient_LastName as Patient_LastName, 
P.Patient_Gender, 
P.Patient_Age,
SY.Systolic, 
SY.CREATEDDATETIME as  Date_of_Systolic,
DIAS.Diastolic, 
DIAS.CREATEDDATETIME as Date_of_Diastolic,
DP.DEPARTMENTID
,DP.DEPARTMENTNAME,
DP.PROVIDERID
,DP.ProviderName,
sk.Smoking_status 
into #Allpatients
FROM #AthenaPatient as P 
left join #BP_sys AS SY ON P.Patient_MRN=SY.Patient_MRN
left join #BP_dias AS DIAS ON P.Patient_MRN=DIAS.Patient_MRN
left join #smoke AS SK ON P.Patient_MRN=SK.Patient_MRN
left join #depro as DP on DP.PATIENTID=P.Patient_MRN
ORDER BY P.Patient_MRN------------145913
------------------------------------------------------

BEGIN 
with Diabet as (
select  D.PATIENTID as PATIENT_MRN,s1.[DESCRIPTION]	as DIABETES
,ROW_NUMBER() over (partition by d.patientid order by dd.CREATEDDATETIME desc)recent
from PP_Athena_ODS.ATHENAONE.SNOMED s1 (NOLOCK)
left join PP_Athena_ODS.ATHENAONE.DOCUMENTDIAGNOSIS dd (NOLOCK) on dd.SNOMEDCODE=s1.SNOMEDCODE and dd.CONTEXTID=s1.CONTEXTID
left join PP_Athena_ODS.ATHENAONE.DOCUMENT d (NOLOCK) on dd.DOCUMENTID=d.DOCUMENTID and dd.CONTEXTID=d.CONTEXTID
where s1.[DESCRIPTION] not like '%gestational diabetes%' 
and s1.[DESCRIPTION] not like '%steroid-induced diabetes%' ---and s1.[DESCRIPTION]  not like '%diabet%' 
and d.CREATEDDATETIME>DATEADD(MONTH,-6,GETDATE())
)
select * into #diabet 
from Diabet  where recent=1                  ---33355
end
------------------------------------------------------  
select 
 P.Patient_MRN, 
P.Patient_FirstName, 
P.Patient_LastName, 
P.Patient_Gender, 
P.Patient_Age,
P.Systolic
,P.Date_of_Systolic
,P.DIASTOLIC
,P.Date_of_Diastolic
,P.Smoking_status
,P.PROVIDERID
,P.ProviderName
,P.DEPARTMENTID
,P.DEPARTMENTNAME
,DIAB.DIABETES
into PP_HTN_DASHBOARD2
FROM #Allpatients as P       --AthenaPatient as P 
inner JOIN #diabet AS DIAB ON DIAB.PATIENT_MRN=P.Patient_MRN
ORDER BY Diab.PATIENT_MRN 

END
GO
