USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DexcomGlucoseWithClinical]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROC [dbo].[SP_DexcomGlucoseWithClinical]

as 

begin
							IF OBJECT_ID('tempdb..#DexTemp1_Patient') IS NOT NULL
							DROP TABLE #DexTemp1_Patient
							IF OBJECT_ID('tempdb..#DexTemp2_Provider') IS NOT NULL
							DROP TABLE #DexTemp2_Provider
							IF OBJECT_ID('tempdb..#PatientWeight') IS NOT NULL
							DROP TABLE #PatientWeight
							IF OBJECT_ID('tempdb..#PatientHeight') IS NOT NULL
							DROP TABLE #PatientHeight
							IF OBJECT_ID('tempdb..#PatientHEARTRATE') IS NOT NULL
							DROP TABLE #PatientHEARTRATE
							IF OBJECT_ID('tempdb..#PatientA1C') IS NOT NULL
							DROP TABLE #PatientA1C
							IF OBJECT_ID('tempdb..#PatientCreatinine') IS NOT NULL
							DROP TABLE #PatientCreatinine
							IF OBJECT_ID('tempdb..#result') IS NOT NULL
							DROP TABLE #result
							IF OBJECT_ID(N'dbo.DexcomFinalTable', N'U') IS NOT NULL 
							Drop table TrainingDB..DexcomFinalTable
							--IF OBJECT_ID(N'dbo.DexcomClinicalTable', N'U') IS NOT NULL 
							--Drop table TrainingDB..DexcomClinicalTable
							--IF OBJECT_ID(N'dbo.DexcomNonAlertWithPatientID', N'U') IS NOT NULL 
							--Drop table TrainingDB..DexcomNonAlertWithPatientID


--****PATIENT******

Select 
P.PATIENTID
,(P.Firstname+' '+P.lastname) as PatientName
,P.DOB as Date_Of_Birth
,sum(year(getdate())-year(P.dob)) as Age
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Gender
,p.CITY
INTO #DexTemp1_Patient
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)
Group by p.PATIENTID
,p.FIRSTNAME
,p.LASTNAME
,P.sex
,p.DOB
,p.CITY


--****PROVIDER****


begin
with providerDetails as(
select CE.PATIENTID,CE.CLINICALENCOUNTERID,CE.ENCOUNTERDATE,CE.ENCOUNTERSTATUS,
PR.PROVIDERID,PR.PROVIDERFIRSTNAME,PR.PROVIDERLASTNAME
from PP_Athena_ODS.ATHENAONE.PROVIDER PR
inner join PP_Athena_ODS.ATHENAONE.ClinicalEncounter CE ON CE.PROVIDERID=PR.PROVIDERID)


select * INTO #DexTemp2_Provider
from providerDetails
End

--*****WEIGHT*****


begin
with weight as (
select
P.PATIENTID
,(VS.DISPLAYVALUE) as PatientWeight
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID 
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID
where VS.[KEY] ='VITALS.WEIGHT'
)

select * into #PatientWeight 
from weight where recent=1
end


--****HEIGHT******

begin

with Height as (
select
P.PATIENTID
,(VS.DISPLAYVALUE) as PatientHeight
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.HEIGHT'
)

select * into #PatientHeight 
from Height where recent=1
end



--*********HEART RATE********
begin

with HEARTRATE as (
select
P.PATIENTID
,(VS.VALUE) as HEARTRATE
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] LIKE '%VITALS.HEARTRATE%'
)

select * into #PatientHEARTRATE 
from HEARTRATE where recent=1
end




--*********A1C********

begin
with cte as (
Select CL.PATIENTID,cro.OBSERVATIONIDENTIFIERTEXT as A1c_Types,
result AS A1c
,ROW_NUMBER() OVER(PARTITION BY P.patientid,cro.loincid order by cro.createddatetime desc)RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT like '%A1C%'
and cro.LOINCID is not null
)

select * into #PatientA1C
from cte
where rn=1

end


--*********CREATININE********

begin
with cte as (
Select  CL.PATIENTID,
result as Creatinine
,ROW_NUMBER() OVER(PARTITION BY P.patientid order by cro.observationtimestampdatetime desc )RN
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
WHERE CRO.OBSERVATIONIDENTIFIERTEXT = 'Creatinine'
and cro.loincid is not null
)

select * into #PatientCreatinine
from cte
where rn=1

END


-------------------------------FINAL TABLE---------------------

SELECT DT1P.PATIENTID,DT1P.Date_Of_Birth,DT1P.PatientName,DT2P.PROVIDERID,
DT2P.PROVIDERFIRSTNAME,DT2P.ENCOUNTERDATE,DT2P.ENCOUNTERSTATUS,DT2P.CLINICALENCOUNTERID,
PW.PatientWeight,PH.PatientHeight,PHR.HEARTRATE,DT2P.PROVIDERLASTNAME,
PA1C.A1c,PCR.Creatinine
into #result FROM #DexTemp1_Patient AS DT1P
left JOIN #DexTemp2_Provider AS DT2P ON DT1P.PATIENTID=DT2P.PATIENTID
LEFT JOIN #PatientWeight AS PW ON DT1P.PATIENTID=PW.PATIENTID
LEFT JOIN #PatientHeight AS PH ON DT1P.PATIENTID=PH.PATIENTID
left JOIN #PatientHEARTRATE AS PHR ON DT1P.PATIENTID=PHR.PATIENTID
left JOIN #PatientA1C AS PA1C ON DT1P.PATIENTID=PA1C.PATIENTID
left JOIN #PatientCreatinine AS PCR ON DT1P.PATIENTID=PCR.PATIENTID
--INNER JOIN #PatientHEMOGLOBIN AS PHN ON DT1P.PATIENTID=PHN.PATIENTID
--INNER JOIN #clarityPatients AS CPS ON CPS.Indicator=DT1P.Indicator

--select * 
----into TrainingDB.dbo.DexcomFinalTable
--from #clarityPatients as cps
--left join  #result AS r ON r.Patientindicator=cps.Indicator
--and month(r.ENCOUNTERDATE)=month(cps.[Timestamp ])
--and year(cps.[Timestamp ])= year(r.ENCOUNTERDATE)
--where PATIENTID=139104
--order by cps.[Timestamp ] desc

---where PATIENTID=139104  ------------------683064rows
----and r.ENCOUNTERSTATUS='closed'-------------351019rows

--select * into [TrainingDB].[dbo].[DexcomFinalTable]
--from #Dexcomfinal
--where PATIENTID=139104

--drop table  TrainingDB.dbo.DexcomFinalTable


-------------------------------------------------------------FINAL---------------------------

--SELECT * INTO TrainingDB.dbo.DexcomClinicalTable FROM #result
SELECT * INTO TrainingDB.dbo.DexcomFinalTable 
FROM TrainingDB.DBO.ClarityPatientNonAlert1 AS CP
LEFT JOIN #result AS R 
ON CP.PatientIdentifier=R.PATIENTID
AND MONTH(CP.[Timestamp ])= MONTH(R.ENCOUNTERDATE)
AND YEAR(CP.[Timestamp ])=YEAR(R.ENCOUNTERDATE)
--AND YEAR(CP.[Timestamp ])>2021
--ORDER BY Indicator
 --*******************************************************************************

 --********************DexcomNonAlertWithPatientID********************************

/* Select 
P.PATIENTID
,(P.Firstname+' '+P.lastname) as PatientName
INTO #DexTemp1_Patient2
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)
Group by p.PATIENTID
,p.FIRSTNAME
,p.LASTNAME
,P.sex
,p.DOB
,p.CITY


SELECT cp.*,p.PATIENTID,p.PatientName INTO TrainingDB.dbo.DexcomNonAlertWithPatientID FROM ClarityPatientNonAlert1 CP
JOIN #DexTemp1_Patient2 P ON CP.Indicator=P.Indicator
*/
END





GO
