USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_rxqOnlineHistory]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_rxqOnlineHistory](
	[cOnlineHistoryId] [int] NOT NULL,
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL,
	[SubmitDate] [datetime] NULL,
	[PrimaryOrSecondary] [varchar](50) NULL,
	[AgencyCode] [varchar](50) NULL,
	[BIN] [varchar](50) NULL,
	[NCPDPVersion] [varchar](50) NULL,
	[TransactionCode] [varchar](50) NULL,
	[PCN] [varchar](50) NULL,
	[DrugKey] [varchar](50) NULL,
	[IngredientCost] [varchar](50) NULL,
	[ProfServiceFee] [varchar](50) NULL,
	[DispensingFee] [varchar](50) NULL,
	[PatientPaidAmt] [varchar](50) NULL,
	[OtherAmountQual5] [varchar](50) NULL,
	[OtherAmountQual4] [varchar](50) NULL,
	[OtherAmountQual3] [varchar](50) NULL,
	[OtherAmountQual2] [varchar](50) NULL,
	[OtherAmountQual1] [varchar](50) NULL,
	[OtherAmount9] [float] NULL,
	[OtherAmount8] [float] NULL,
	[OtherAmount7] [float] NULL,
	[OtherAmount6] [float] NULL,
	[OtherAmount5] [float] NULL,
	[OtherAmount4] [float] NULL,
	[OtherAmount3] [float] NULL,
	[OtherAmount2] [float] NULL,
	[OtherAmount1] [float] NULL,
	[FlatTaxAmount] [varchar](50) NULL,
	[PercentageTaxAmount] [varchar](50) NULL,
	[IncentiveAmount] [varchar](50) NULL,
	[UsualCustomaryAmount] [varchar](50) NULL,
	[GrossDueAmount] [varchar](50) NULL,
	[BasisOfCost] [varchar](50) NULL,
	[HeaderStatus] [varchar](50) NULL,
	[HeaderMessage] [varchar](200) NULL,
	[TransactionResponse] [varchar](50) NULL,
	[AuthorizationNumber] [varchar](50) NULL,
	[RejectCount] [varchar](50) NULL,
	[RejectCode12] [varchar](50) NULL,
	[RejectCode11] [varchar](50) NULL,
	[RejectCode10] [varchar](50) NULL,
	[RejectCode9] [varchar](50) NULL,
	[RejectCode8] [varchar](50) NULL,
	[RejectCode7] [varchar](50) NULL,
	[RejectCode6] [varchar](50) NULL,
	[RejectCode5] [varchar](50) NULL,
	[RejectCode4] [varchar](50) NULL,
	[RejectCode3] [varchar](50) NULL,
	[RejectCode2] [varchar](50) NULL,
	[RejectCode1] [varchar](50) NULL,
	[TransactionMessage] [varchar](200) NULL,
	[HelpDeskQualifier] [varchar](50) NULL,
	[HelpDeskPhone] [varchar](50) NULL,
	[PatientPayAmt] [varchar](50) NULL,
	[IngredientCostPaid] [varchar](50) NULL,
	[DispensingFeePaid] [varchar](50) NULL,
	[TaxExemptIndicator] [varchar](50) NULL,
	[FlatTaxPaid] [varchar](50) NULL,
	[PercentageTaxPaid] [varchar](50) NULL,
	[PercentageTaxRate] [varchar](50) NULL,
	[PercentageTaxBasis] [varchar](50) NULL,
	[IncentivePaid] [varchar](50) NULL,
	[ProfServicePaid] [varchar](50) NULL,
	[OtherAmtPaid9] [float] NULL,
	[OtherAmtPaid8] [float] NULL,
	[OtherAmtPaid7] [float] NULL,
	[OtherAmtPaid6] [float] NULL,
	[OtherAmtPaid5] [float] NULL,
	[OtherAmtPaid4] [float] NULL,
	[OtherAmtPaid3] [float] NULL,
	[OtherAmtPaid2] [float] NULL,
	[OtherAmtPaid1] [float] NULL,
	[OtherPayorAmtPaid] [varchar](50) NULL,
	[TotalAmountPaid] [varchar](50) NULL,
	[BasisOfReimbursement] [varchar](50) NULL,
	[AmountTowardsSalesTax] [varchar](50) NULL,
	[AccumulatedDeductable] [varchar](50) NULL,
	[RemainingDeductable] [varchar](50) NULL,
	[RemainingBenefitAmount] [varchar](50) NULL,
	[AppliedToPeriodicDeduct] [varchar](50) NULL,
	[AmountCopay] [varchar](50) NULL,
	[AmountAttribProdSelection] [varchar](50) NULL,
	[AmountExceedPeriodicMax] [varchar](50) NULL,
	[BasisOfDispensingFee] [varchar](50) NULL,
	[BasisOfCopay] [varchar](50) NULL,
	[BasisOfFlatTax] [varchar](50) NULL,
	[BasisOfPercentageTax] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [int] NULL,
	[NcpdpId] [int] NULL,
	[AgencySequence] [int] NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
