USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_PatientView_Get_NotesHistory]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC sp_PatientView_Get_NotesHistory
    @GlobalId = '98961',
    @SSN = '404760253',
    @PatientName = 'SERETA DOYLE',
    @DateOfBirth = '1952-02-20'
    */
CREATE PROCEDURE [dbo].[sp_PatientView_Get_NotesHistory]
(
    @GlobalId VARCHAR(50),
    @SSN VARCHAR(50),
    @PatientName VARCHAR(200),
    @DateOfBirth DATE
   )
AS
BEGIN
    SET NOCOUNT ON;
--DECLARE @SuccessFlag INT;
	DECLARE @LVGlobalId VARCHAR(50) = case when @GlobalId ='' then  null else  @GlobalId end
    DECLARE @LVSSN VARCHAR(50) = case when @SSN ='' then  null else  @SSN end;

	with cte as 
(
select GlobalId,ssn,PatientName,DateOfBirth,notes,RecordModifiedBy,RecordModifiedDate
,ROW_NUMBER() over(partition by GlobalId,ssn,PatientName,DateOfBirth,notes 
order by RecordModifiedDate asc) RNK
from 
(
select GlobalId,ssn,PatientName,DateOfBirth,notes,RecordModifiedBy,RecordModifiedDate
from PatientView
where notes is not null 
and 
( GlobalId = @LVGlobalId OR (@LVGlobalId is null  AND SSN = @LVSSN) OR (@LVGlobalId is null AND @LVSSN is null AND PatientName = @PatientName AND DateOfBirth = @DateOfBirth))
union 
select GlobalId,ssn,PatientName,DateOfBirth,notes,RecordModifiedBy,RecordModifiedDate
from PatientView_History
where notes is not null 
and ( GlobalId = @LVGlobalId OR (@LVGlobalId is null  AND SSN = @LVSSN) OR (@LVGlobalId is null AND @LVSSN is null AND PatientName = @PatientName AND DateOfBirth = @DateOfBirth))
) abc 
)
select * from cte where RNK=1 order by RecordModifiedDate desc
         
END;
GO
