USE [TrainingDB]
GO
/****** Object:  Table [dbo].[RESULTANTMTM]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULTANTMTM](
	[patientid] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[DaysSupply] [varchar](50) NULL,
	[FullDispenseQuantity] [decimal](9, 3) NULL,
	[AvailableQuantity] [decimal](12, 3) NULL,
	[NextFillDate] [date] NULL,
	[DrugKey] [varchar](50) NULL,
	[DrugName] [varchar](75) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[CENTERNAME] [nvarchar](50) NOT NULL,
	[PCTFILLATCENTER] [nvarchar](50) NULL,
	[CMReligible] [varchar](3) NOT NULL,
	[LastCMRcompletedDate] [nvarchar](50) NULL,
	[TIPTITLE] [nvarchar](100) NOT NULL,
	[TIP_EXPIRATION_DATE] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
