USE [TrainingDB]
GO
/****** Object:  Table [dbo].[APPOINTMENTCOMMUNICATOR_DV_Landing]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTCOMMUNICATOR_DV_Landing](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[APPOINTMENTCOMMUNICATORID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[PATIENTMESSAGEREQUESTID] [numeric](12, 0) NULL,
	[LOCALPATIENTAPPOINTMENTLABELID] [numeric](12, 0) NULL,
	[NAVIGATIONTYPE] [varchar](max) NULL,
	[GROUPCALLCAMPAIGNID] [numeric](12, 0) NULL,
	[HARDSTOPPEDDATETIME] [datetime] NULL,
	[MUHARDSTOPYN] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTMODIFIEDDATETIME] [datetime] NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
