USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Pheight]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pheight](
	[DISPLAYUNIT] [varchar](max) NULL,
	[DISPLAYVALUE] [float] NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
