USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Temp_GlobalId]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_GlobalId](
	[GlobalId] [varchar](50) NULL
) ON [PRIMARY]
GO
