USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Manually Added Medicines]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manually Added Medicines](
	[PMID] [nvarchar](255) NULL,
	[GlobalID] [nvarchar](255) NULL,
	[SSN] [nvarchar](255) NULL,
	[Patient Name] [nvarchar](255) NULL,
	[Drug Name] [nvarchar](255) NULL,
	[Pharmacy] [nvarchar](255) NULL,
	[Date Dispensed] [nvarchar](255) NULL,
	[Created By] [nvarchar](255) NULL,
	[Created Date] [nvarchar](255) NULL,
	[Prescriber] [nvarchar](255) NULL
) ON [PRIMARY]
GO
