USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Patient_test_details]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Patient_test_details]
as
begin
					if object_ID('tempdb..#A1C') is not null
					 drop table #A1C
					 if object_ID('tempdb..#Potassium') is not null
					 drop table #Potassium
					  if object_ID('tempdb..#Creatinine') is not null
					 drop table #Creatinine
					  if object_ID('tempdb..#Pweight') is not null
					 drop table #Pweight
					  if object_ID('tempdb..#Pheight') is not null
					 drop table #Pheight
truncate table Patient_test

begin
with A1C as(select  OBSERVATIONIDENTIFIERTEXT,RESULT,P.PATIENTID  
,ROW_NUMBER() over (partition by P.Patientid order by CRO.createddatetime desc)recent
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR  on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL  on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P  on P.PATIENTID=CL.PATIENTID
where OBSERVATIONIDENTIFIERTEXT='A1C')  
select * into #A1C from A1C where recent=1
end


begin
with potassium as(select  OBSERVATIONIDENTIFIERTEXT,RESULT,P.PATIENTID  
,ROW_NUMBER() over (partition by P.Patientid order by CRO.createddatetime desc)recent
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR  on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL  on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P  on P.PATIENTID=CL.PATIENTID
where OBSERVATIONIDENTIFIERTEXT='Potassium')  
select * into #Potassium from potassium where recent=1
end


begin
with creatinine as(select  OBSERVATIONIDENTIFIERTEXT,RESULT,P.PATIENTID 
,ROW_NUMBER() over (partition by P.Patientid order by CRO.createddatetime desc)recent
from PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR  on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL  on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P  on P.PATIENTID=CL.PATIENTID
where OBSERVATIONIDENTIFIERTEXT='Creatinine' )
select * into #Creatinine from creatinine where recent=1
end


begin
with pweight as (select DISPLAYUNIT,DISPLAYVALUE,P.PATIENTID 
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
from [PP_Athena_ODS].ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID 
where DISPLAYUNIT='lbs/oz')
select * into #Pweight from pweight where recent=1
end

begin
with pwgt as(select  DISPLAYUNIT,DISPLAYVALUE,P.PATIENTID
,ROW_NUMBER() over (partition by p.patientid order by VS.createddatetime desc)recent
 from [PP_Athena_ODS].ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID 
where  DISPLAYUNIT='ft/in' ) 
select * into #Pheight from pwgt where recent=1
end

insert into Patient_test

select  Ndag.PATIENTID as PatientID,CONCAT(Ndag.FIRSTNAME,'  ',Ndag.LASTNAME)as PatientName,Ndag.DOB as PatientDOB
,datediff( YY, Ndag.DOB, getdate())  as PatientAge,Ndag.SEX as PatientGender
,A1c.RESULT as MostRecentA1c,c.RESULT as MostRecentPotassium ,p.RESULT as MostRecentcreatinine
,pw.DISPLAYVALUE as MostRecentWeight,ph.DISPLAYVALUE as MostRecentHeight


from [PP_Athena_ODS].ATHENAONE.Patient as Ndag 
left join #Potassium as p on Ndag.PATIENTID=p.PatientID
left join #Creatinine as c on Ndag.PATIENTID=c.PatientID
left join #A1C as A1c on Ndag.PATIENTID=A1c.PatientID
left join #Pweight as pw on Ndag.PATIENTID=pw.PatientID
left join #Pheight as ph on Ndag.PATIENTID=ph.PatientID
where Ndag.PATIENTID in (102458,127577,131561,134747,141424,142266)

end
GO
