USE [TrainingDB]
GO
/****** Object:  Table [dbo].[GlobalProcedureMappingRulecopy]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalProcedureMappingRulecopy](
	[id] [bigint] NULL,
	[adaCodeSource] [varchar](255) NULL,
	[adaCodeTarget] [varchar](255) NULL,
	[mappingFlag] [varchar](100) NULL
) ON [PRIMARY]
GO
