USE [TrainingDB]
GO
/****** Object:  Table [dbo].[NDClist]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDClist](
	[NdcNumber] [varchar](50) NULL
) ON [PRIMARY]
GO
