USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Billing_Dashboard]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Billing_Dashboard]
AS
BEGIN
                                 IF OBJECT_ID('tempdb..#temp1') is Null
								 drop table #temp1
								 IF OBJECT_ID('tempdb..#temp2') is Null
								 drop table #temp1

SELECT   
sum(AF.CurrentCharge+af.LateCharge ) AS Charge,sum(AF.Payment) AS Payment,YEAR(AF.POSTDATE) AS PYear,
MONTH(AF.POSTDATE) AS PMonth,PP.PROVIDERID,PP.CONTEXTID,CAST(PP.SchedulingName As Varchar) AS SchedulingName,
PP.LASTUPDATED into #Temp1
FROM PP_ATHENA_ODS.FINANCIALS.ActivityFact as AF (nolock)
inner join PP_ATHENA_ODS.athenaone.PROVIDER as PP (nolock) on
AF.PROVIDERID=PP.PROVIDERID
and AF.CONTEXTID=PP.CONTEXTID 
Group by YEAR(AF.POSTDATE) ,
MONTH(AF.POSTDATE),PP.PROVIDERID,PP.CONTEXTID,CAST(PP.SchedulingName As Varchar),
PP.LASTUPDATED

Select
CC.PATIENTID,CC.CONTEXTID,CC.PROVIDERID,CC.APPOINTMENTID,CC.ENCOUNTERSTATUS,CC.ENCOUNTERDATE,
AP.STARTCHECKINDATETIME into #Temp2 
FROM PP_ATHENA_ODS.athenaone.ClinicalEncounter as CC (nolock) 
inner join PP_ATHENA_ODS.ATHENAONE.APPOINTMENT as AP (nolock) on
AP.appointmentid=cc.appointmentid
and AP.CONTEXTID=cc.CONTEXTID

select Charge,Payment, PYear,PMonth,#temp1.PROVIDERID,#Temp1.CONTEXTID,SchedulingName,LASTUPDATED,
PATIENTID,APPOINTMENTID,ENCOUNTERSTATUS,ENCOUNTERDATE,
STARTCHECKINDATETIME
from #Temp1
inner join #Temp2 on
#Temp1.PROVIDERID=#Temp2.PROVIDERID
where ENCOUNTERSTATUS='Closed' 

End
GO
