USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Chronic_Patients]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Chronic_Patients]
as 
begin


					        IF OBJECT_ID('tempdb..#FOLLOWUP') IS NOT NULL
									DROP TABLE #FOLLOWUP
							IF OBJECT_ID('tempdb..#Diagnosis') IS NOT NULL
									DROP TABLE #Diagnosis
							IF OBJECT_ID('tempdb..#CHESTXRAY_LDCT') IS NOT NULL
									DROP TABLE #CHESTXRAY_LDCT
							IF OBJECT_ID(N'TRAININGDB..DATACHRONICTABLE',N'U') IS NOT NULL
									DROP TABLE TRAININGDB..DATACHRONICTABLE

							
-------------------------------------------------Follow up-----------------------------------------------------------									
select DISTINCT P.PATIENTID,CONCAT (P.FIRSTNAME,+' '+P.LASTNAME) AS PatientName,
year(getdate())-year(P.dob) as Age,AT.APPOINTMENTTYPEID,AT.APPOINTMENTTYPENAME as Appointment_Type
INTO #FOLLOWUP
from PP_Athena_ODS.ATHENAONE.Patient P
JOIN PP_Athena_ODS.ATHENAONE.APPOINTMENT A ON P.PATIENTID=A.PATIENTID
JOIN PP_Athena_ODS.ATHENAONE.APPOINTMENTTYPE AT ON AT.APPOINTMENTTYPEID=A.APPOINTMENTTYPEID
WHERE AT.APPOINTMENTTYPEID in (46,54) 

-------------------------------------------------Diagnosis, Oxygen---------------------------------------------------------------

Begin 
with cte_Diagnosis as(
select CE.CLINICALENCOUNTERID,CE.ENCOUNTERDATE,ICD.DIAGNOSISCODE,ICD.DIAGNOSISCODEDESCRIPTION as Diagnosis,
ce.PATIENTID,ce.PROVIDERID,ce.DEPARTMENTID,
ROW_NUMBER() over (partition by CE.CLINICALENCOUNTERID,CE.ENCOUNTERDATE,ICD.DIAGNOSISCODE,ce.PATIENTID,
ce.PROVIDERID,ce.DEPARTMENTID order by ce.encounterdate) new
from PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE
Inner join PP_Athena_ODS.ATHENAONE.PATIENTSNOMEDICD10 as P
On CE.CLINICALENCOUNTERID=P.CLINICALENCOUNTERID
Inner join PP_Athena_ODS.ATHENAONE.ICDCodeAll as ICD
on ICD.ICDCODEID=P.ICDCODEALLID
where ICD.DIAGNOSISCODE in ('I10','I12','J449','J441','J440','4280','Z9981') and  
ENCOUNTERDATE BETWEEN CAST(dateadd(month,datediff(month,0,getdate())-12,0) as date) and cast(GETDATE() as Date))
Select * INTO #Diagnosis
from cte_Diagnosis where New=1
end
 
--------------------------------------------------------XRAY,LDCT------------------------------------------------------------------
begin
WITH CTE_XRAYLDCT as (
select C.CLINICALORDERTYPEID,D.DOCUMENTID,D.PATIENTID,CE.ENCOUNTERDATE,
C.NAME as CHESTXRAY_LDCT,
ROW_NUMBER() over (partition by D.patientid,D.DOCUMENTID,CE.ENCOUNTERDATE order by CE.ENCOUNTERDATE) NEW
from PP_Athena_ODS.ATHENAONE.CLINICALORDERTYPE C
join PP_Athena_ODS.ATHENAONE.DOCUMENT D on C.CLINICALORDERTYPEID=D.CLINICALORDERTYPEID 
JOIN PP_Athena_ODS.ATHENAONE.CLINICALSERVICE CS ON CS.DOCUMENTID=D.DOCUMENTID
Join PP_Athena_ODS.ATHENAONE.ClinicalEncounter CE ON CE.PATIENTID=D.PATIENTID
JOIN PP_Athena_ODS.ATHENAONE.CLINICALSERVICEPROCEDURECODE PC ON PC.CLINICALSERVICEID=CS.CLINICALSERVICEID
WHERE PROCEDURECODE in ('71046,TC','G0296') and 
ENCOUNTERDATE BETWEEN CAST(dateadd(month,datediff(month,0,getdate())-12,0) as date) and cast(GETDATE() as Date))
select * into #CHESTXRAY_LDCT
from CTE_XRAYLDCT WHERE NEW=1
END	 


----------------------------------------------------SUMMARY TABLE--------------------------------------------------------------
BEGIN
with cte as(
SELECT F.PATIENTID,F.PatientName,F.Age,D.PROVIDERID,D.DEPARTMENTID,F.Appointment_Type,D.Diagnosis,C.CHESTXRAY_LDCT,D.ENCOUNTERDATE,
ROW_NUMBER() over (partition by F.PATIENTID,F.Appointment_Type,D.Diagnosis,C.CHESTXRAY_LDCT order by D.ENCOUNTERDATE) New
FROM #FOLLOWUP F
 JOIN #Diagnosis D on F.PATIENTID=D.PATIENTID
 JOIN #CHESTXRAY_LDCT C ON C.PATIENTID=F.PATIENTID )
select * into #SUMMERY 
from cte where new=1
end

Select PATIENTID,PatientName,Age,PROVIDERID,DEPARTMENTID,ENCOUNTERDATE,Appointment_Type,Diagnosis,CHESTXRAY_LDCT 
into DATACHRONICTABLE 
from #SUMMERY

end
GO
