USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Libertymedicinedetails_NewPh]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libertymedicinedetails_NewPh](
	[Drug_name] [varchar](75) NULL,
	[patientid] [varchar](50) NOT NULL,
	[Patientname_Liberty] [varchar](101) NULL,
	[DOB_Liberty] [date] NULL,
	[SSN] [varchar](8000) NULL,
	[globalid] [varchar](50) NULL,
	[Prescriber] [varchar](101) NULL,
	[NdcNumber] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[RefillNumber] [int] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[cScriptBaseId] [numeric](18, 0) NOT NULL,
	[cQueueId] [int] NULL,
	[QueueName] [varchar](50) NULL,
	[RnkId] [bigint] NULL,
	[st_LastModified] [datetime] NULL,
	[sigs] [nvarchar](1000) NULL,
	[st_queuename] [varchar](50) NULL,
	[OnHold] [varchar](50) NULL,
	[DateWritten] [date] NULL,
	[cScriptTransactionId] [numeric](18, 0) NOT NULL,
	[sb_LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Deriveddatedispensedsql] [date] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[Street] [varchar](200) NULL,
	[city] [varchar](200) NULL,
	[State] [varchar](200) NULL,
	[Zip] [varchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
