USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Titlex_Chlamydia]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Titlex_Chlamydia](
	[Encounter ID] [float] NULL
) ON [PRIMARY]
GO
