USE [TrainingDB]
GO
/****** Object:  Table [dbo].[SSISConfig1]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISConfig1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceTable] [varchar](100) NULL,
	[TargetTable] [varchar](100) NULL,
	[SourceColumn] [varchar](max) NULL,
	[TargetColumn] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Datefield] [varchar](50) NULL,
	[IsLoadedToLanding] [int] NULL,
	[IsLoadedToODS] [int] NULL,
	[IsActive] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Duration] [varchar](100) NULL,
	[Schema_Name] [varchar](30) NULL,
	[Group_No] [varchar](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
