USE [TrainingDB]
GO
/****** Object:  Table [dbo].[DEValuesorg]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEValuesorg](
	[ElementNo] [float] NULL,
	[Category] [nvarchar](255) NULL,
	[LOINCCode] [nvarchar](255) NULL,
	[LOINCcodedescription] [nvarchar](255) NULL,
	[Missingvalidvalueallowed] [nvarchar](255) NULL,
	[Transitionvalue] [nvarchar](255) NULL,
	[valuecodesystem] [nvarchar](255) NULL,
	[Validvalue] [nvarchar](255) NULL,
	[valuecodedescription] [nvarchar](255) NULL
) ON [PRIMARY]
GO
