USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Pull_LibertyInfo]    Script Date: 8/4/2026 4:58:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_Pull_LibertyInfo] (@globalid int)          
 as        
 begin          
select          
DG.Name as Drug_name          
,P.patientid          
,(p.FirstName+' '+p.LastName) as Patientname_Liberty          
,p.DateOfBirth as DOB_Liberty          
,p.Gender as Gender_Liberty          
,cast (P.globalid  as int) globalid          
--,D.DoctorId as ProvideID          
,(D.FirstName+' '+D.LastName) Providername          
,D.source_indicator as source_indicator          
--,MD.NDC_UPC_HRI as NDC_Number          
,MD.GenericProductIdentifier as GenericProductIdentifier          
,Md.GPIGenericName          
,DG.NdcNumber          
--,DrugKey          
,cast (st.DateDispensedSQL as date)  DateDispensedSQL          
,sb.RefillsAuthorized          
,sb.FullDispenseQuantity          
,st.QuantityDispensed          
,st.DaysSupply          
,d.NPI          
,st.RefillNumber          
,sb.AuthorizedQuantity,sb.AvailableQuantity          
,sb.RefillUntilDate,st.NextDispensedQuantity          
,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B  ,  
st.ScriptNumber,sb.cScriptBaseId ,p.cQueueId,q.QueueName ,  
st.TimeStampAsOfDate,  
  st.LastModified st_LastModified,st.sigs,  
  st.IsValid,st.PromiseDateTime,q.QueueName as st_queuename,  
  sb.LastRefillNumber,  
  sb.DateWrittenSQL,sb.OnHold,sb.LastModified Sb_LastModified       
From PP_ODS..rxqDoctor as D (nolock)          
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                    
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator          
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber            
and SB.Source_Indicator=ST.Source_Indicator  
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=st.DrugId and DG.source_indicator=st.Source_Indicator          
left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber
left join PP_ODS..rxqQueue q   
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator  
where           
--DateDispensedSQL<>'9999-09-09'          
----and   
DateDispensedSQL >='2023-08-14'   and GlobalId=@globalid  
---and P.globalid<>'' and P.globalid is not null     
  
end
GO
