USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_HTN_Clinical]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_HTN_Clinical]
AS
BEGIN
							IF OBJECT_ID('tempdb..#AthenaPatient') IS NOT NULL
									DROP TABLE #AthenaPatient
							IF OBJECT_ID('tempdb..#SYST') IS NOT NULL
									DROP TABLE #SYST
							IF OBJECT_ID('tempdb..#DIAS') IS NOT NULL
									DROP TABLE #DIAS
							IF OBJECT_ID('tempdb..#DIAB') IS NOT NULL
									DROP TABLE #DIAB
							IF OBJECT_ID('tempdb..#SMOKING') IS NOT NULL
									DROP TABLE #SMOKING
							TRUNCATE TABLE PP_HTN_CLINICAL

begin
with P_details as(
Select P.PATIENTID AS Patient_MRN
,P.FIRSTNAME AS Patient_FirstName 
,P.LASTNAME AS Patient_LastName
,datediff( YY, P.DOB, getdate()) as Patient_Age
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)
)
SELECT * into #AthenaPatient from P_details     ----144204   
end
--------------------------------------------------------

begin
with BP_sys as (
select P.PATIENTID AS Patient_MRN
,VS.VALUE as Systolic
,VS.CREATEDDATETIME
,ROW_NUMBER() over (partition by p.patientid order by VS.CREATEDDATETIME desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.BLOODPRESSURE.SYSTOLIC'
) 
select * into #SYST
from BP_sys where recent=1    --105859
end  
---------------------------------------------------------

begin
with BP_dias as (
select 
P.PATIENTID as Patient_MRN
,(VS.VALUE) as DIASTOLIC
,VS.CREATEDDATETIME
,ROW_NUMBER() over (partition by p.patientid order by VS.CREATEDDATETIME desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.BLOODPRESSURE.DIASTOLIC'
) 
select * into #DIAS
from BP_dias where recent=1      ----105826
end
---------------------------------------------------------
	
begin 
with Smoke as (	
select
P.PATIENTID AS PATIENT_MRN
,PSH.SOCIALHISTORYANSWER AS Smoking_status,
ROW_NUMBER() over (partition by P.patientid order by PSH.createddatetime DESC) recent
FROM PP_Athena_ODS.ATHENAONE.PATIENTSOCIALHISTORY as PSH (nolock)
inner JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on PSH.PATIENTID=P.PATIENTID AND PSH.CONTEXTID=P.CONTEXTID
where PSH.SOCIALHISTORYKEY like '%SMOKINGSTATUS%'
) 
select * into #smoking from Smoke where recent =1    ---69322
            
end					
------------------------------------------------------
--SELECT * from PP_Athena_ODS.ATHENAONE.SNOMED
BEGIN 
with Diabet as (
select CE.PATIENTID as PATIENT_MRN, s.[DESCRIPTION], ce.CREATEDDATETIME, ce.encounterstatus,
row_number() over (partition by ce.patientid  order by ce.createddatetime desc) recent
from PP_Athena_ODS.ATHENAONE.SNOMED s (NOLOCK)
 join PP_Athena_ODS.ATHENAONE.PATIENTSNOMEDICD10 ps (NOLOCK) on ps.SNOMEDCODE=s.SNOMEDCODE and ps.CONTEXTID=s.CONTEXTID
join PP_Athena_ODS.ATHENAONE.CLINICALENCOUNTER ce (NOLOCK) on ce.CLINICALENCOUNTERID=ps.CLINICALENCOUNTERID and ce.CONTEXTID=ps.CONTEXTID
where s.[DESCRIPTION] not like '%gestational diabetes%' 
and s.[DESCRIPTION] not like '%steroid-induced diabetes%' and s.[DESCRIPTION] like '%diabet%'
--AND S.snomedcode not in (11687002,34818008,46894009,75022004,472699005,472971004,721151003,40791000119105,
--40801000119106,85031000119106,10753491000119100,190416008,190447002)
)

select *into #diab   from Diabet  where recent=1     --11063
end  


select * from #diab where CREATEDDATETIME >= DATEADD(month,-6,getdate())

------------------------------------------------------  
INSERT Into PP_HTN_CLINICAL 
select 
distinct P.Patient_MRN, 
P.Patient_FirstName, 
P.Patient_LastName, 
P.Patient_Gender, 
P.Patient_Age,
SY.Systolic, 
SY.CREATEDDATETIME as  Date_of_Systolic,
DIAS.Diastolic, 
DIAS.CREATEDDATETIME as Date_of_Diastolic,
sk.Smoking_status, 
DIAB.[DESCRIPTION]


FROM #AthenaPatient as P 
left JOIN #SYST AS SY ON P.Patient_MRN=SY.Patient_MRN
left JOIN #DIAS AS DIAS ON P.Patient_MRN=DIAS.PATIENT_MRN
left JOIN #SMOKING AS SK ON P.Patient_MRN=SK.PATIENT_MRN
inner JOIN #DIAB AS DIAB ON P.Patient_MRN=DIAB.PATIENT_MRN
where diab.CREATEDDATETIME >= dateadd(month, -6,(getdate()))
ORDER BY P.Patient_MRN
END
GO
