USE [TrainingDB]
GO
/****** Object:  Table [dbo].[GenericName]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenericName](
	[GenericName] [varchar](4000) NULL,
	[GenericName_FirstChar] [varchar](200) NULL,
	[GenericName_TwoChar] [varchar](200) NULL
) ON [PRIMARY]
GO
