USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_hc_appointmentype]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_hc_appointmentype](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[APPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[APPOINTMENTTYPENAME] [varchar](max) NULL,
	[APPOINTMENTTYPESHORTNAME] [varchar](max) NULL,
	[DURATION] [numeric](12, 0) NULL,
	[PATIENTYN] [varchar](max) NULL,
	[APPOINTMENTTYPECLASS] [varchar](max) NULL,
	[GENERICYN] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[CANONICALAPPOINTMENTTYPEID] [numeric](12, 0) NULL,
	[BILLINGSLIPREQUIREDFLAG] [varchar](max) NULL,
	[WEBSCHEDULABLEYN] [varchar](max) NULL,
	[COMMUNICATORDISPLAYNAME] [varchar](max) NULL,
	[REQUIRECANCELREASONYN] [varchar](max) NULL,
	[HIDEINPORTALYN] [varchar](max) NULL,
	[Record_Created_date] [datetime] NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
