USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_hc_clinicalserviceproccode]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_hc_clinicalserviceproccode](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALSERVICEPROCCODEID] [numeric](12, 0) NULL,
	[CLINICALSERVICEID] [numeric](12, 0) NULL,
	[PROCEDURECODE] [varchar](max) NULL,
	[UNITS] [numeric](18, 6) NULL,
	[BILLFORSERVICEYN] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
