USE [TrainingDB]
GO
/****** Object:  Table [dbo].[RXQTest]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RXQTest](
	[DateDispensed] [varchar](10) NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[CustomerFirstName] [varchar](50) NULL,
	[CustomerLastName] [varchar](50) NULL,
	[Pharmacy] [nvarchar](max) NOT NULL,
	[CustomerDateOfBirth] [varchar](10) NULL,
	[VisitDate] [varchar](50) NULL,
	[PrescriberFirstName] [varchar](50) NULL,
	[PrescriberLastName] [varchar](50) NULL,
	[PPProvider] [varchar](50) NULL,
	[DateWritten] [varchar](10) NULL,
	[Drugname] [varchar](100) NULL,
	[NdcNumber] [varchar](50) NULL,
	[LoggedInUser] [varchar](50) NULL,
	[Is340B] [bit] NOT NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[PrimaryInsuranceName] [varchar](50) NULL,
	[PrimaryInsuranceBIN] [varchar](50) NULL,
	[SecondaryInsuranceName] [varchar](50) NULL,
	[WorkFlowStatus] [varchar](50) NULL,
	[PosPickupDateTime] [varchar](10) NULL,
	[PickUpStatus] [varchar](9) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
