USE [TrainingDB]
GO
/****** Object:  Table [dbo].[FPAR2Report]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPAR2Report](
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[facility_Id] [numeric](12, 0) NULL,
	[provider_role] [varchar](20) NULL,
	[patient_Id] [varchar](40) NULL,
	[visit_date] [date] NULL,
	[birth_date] [date] NULL,
	[sex] [varchar](200) NULL,
	[limited_english_proficiency] [varchar](50) NULL,
	[ethnicity] [varchar](200) NULL,
	[race_amindian] [varchar](50) NULL,
	[race_asian] [varchar](50) NULL,
	[race_black] [varchar](50) NULL,
	[race_hpi] [varchar](50) NULL,
	[race_white] [varchar](50) NULL,
	[race] [varchar](500) NULL,
	[annual_household_income] [numeric](12, 2) NULL,
	[household_size] [numeric](2, 0) NULL,
	[insurance_coverage_type] [varchar](1) NULL,
	[pregnancy_status] [varchar](8) NULL,
	[pregnancy_intention] [varchar](15) NULL,
	[ContraceptiveMethodAtExitDesc] [varchar](max) NULL,
	[contraceptive_method_exit] [varchar](15) NULL,
	[no_contraceptive_reason_exit] [varchar](15) NULL,
	[test_pap] [varchar](13) NOT NULL,
	[test_chlamydia] [varchar](13) NOT NULL,
	[test_gonorrhea] [varchar](13) NOT NULL,
	[test_hiv] [varchar](13) NOT NULL,
	[test_syphilis] [varchar](13) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
