USE [TrainingDB]
GO
/****** Object:  Table [dbo].[patientVaccine]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patientVaccine](
	[PatientID] [int] NULL,
	[Age] [int] NULL,
	[Sex] [varchar](50) NULL,
	[SexualOrientation] [varchar](50) NULL,
	[GenderIdentity] [varchar](50) NULL,
	[Race] [varchar](50) NULL,
	[Ethnicity] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[EligibleEncounterDate] [datetime] NULL,
	[EligibleEncounterType] [varchar](50) NULL,
	[ProviderType] [varchar](50) NULL,
	[VaccineDescription] [varchar](500) NULL,
	[VaccineCode] [varchar](50) NULL
) ON [PRIMARY]
GO
