USE [TrainingDB]
GO
/****** Object:  Table [dbo].[TitleX_CID4]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleX_CID4](
	[EncounterID] [float] NULL
) ON [PRIMARY]
GO
