USE [TrainingDB]
GO
/****** Object:  Table [dbo].[BrandName]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandName](
	[BrandName] [varchar](1000) NOT NULL
) ON [PRIMARY]
GO
