USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PrapareWeeklyFile]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrapareWeeklyFile](
	[questionnaireResultId] [varchar](50) NULL,
	[Form name] [varchar](50) NULL,
	[patientId] [varchar](50) NULL,
	[Patient EHR ID] [varchar](50) NULL,
	[patientName] [varchar](50) NULL,
	[patientBirthdate] [varchar](50) NULL,
	[Question] [varchar](500) NULL,
	[Answer] [varchar](500) NULL,
	[questionnaireFilledOutAt] [varchar](255) NULL,
	[Number of Questionnaires (Distinct count)] [varchar](50) NULL
) ON [PRIMARY]
GO
