USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_rxqDoctor]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_rxqDoctor](
	[cDoctorId] [int] NOT NULL,
	[DoctorId] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleInit] [varchar](50) NULL,
	[DeaNumber] [varchar](50) NULL,
	[StateNumber] [varchar](50) NULL,
	[UPIN] [varchar](50) NULL,
	[Other] [varchar](50) NULL,
	[Street] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[ZipPlus] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[AlternatePhone] [varchar](50) NULL,
	[NPI] [varchar](50) NULL,
	[DeaSuffix] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[Specialty] [varchar](50) NULL,
	[NewRx] [int] NULL,
	[RxCount] [int] NULL,
	[LastDate] [date] NULL,
	[Title] [varchar](50) NULL,
	[SureScriptServiceLevelCode] [int] NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[PhoneType] [char](2) NULL,
	[AlternatePhoneType] [char](2) NULL,
	[ClinicName] [varchar](50) NULL,
	[CustomField1] [varchar](50) NULL,
	[SupervisingPhysicianID] [varchar](50) NULL,
	[InActive] [bit] NULL,
	[Suite] [varchar](50) NULL,
	[Is340B] [bit] NULL,
	[XDeaNumber] [varchar](50) NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
