USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[access_token] [varchar](100) NULL,
	[expires_in] [varchar](10) NULL,
	[token_type] [varchar](20) NULL,
	[createddate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Token] ADD  DEFAULT (getdate()) FOR [createddate]
GO
