USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Usp_select_PatientView]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_select_PatientView] 
(
@globalid int =null )
as
begin 

select * from PatientView where 
(globalid=@globalid 
or 
@globalid is null )
 

end
GO
