USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_PrapareQuestionaire_ETL_Weekly]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PrapareQuestionaire_ETL_Weekly]    
as     
begin     
    
drop table if exists #temp_PrapareQuestionaire    
CREATE TABLE #temp_PrapareQuestionaire(    
[Completed Time] datetime,    
[Questionnaire Result ID] int,      
[Patient EHR ID] int,   
[patientName] varchar(255),  
[patientBirthdate]  varchar(50),  
[Question] varchar(255),    
[Answer] varchar(255),    
QuestionNo varchar(10),    
AnswerType varchar(10),    
Prapare varchar(100)    
)    
    
;with cte as     
(    
select     
substring([questionnaireFilledOutAt],1,10) as [questionnaireFilledOutAt],  
[questionnaireResultId]  
,[Patient EHR ID]  
,[patientName]  
,replace([patientBirthdate],' 00:00:00','') [patientBirthdate]  
,[Question]  
,[Answer] ,  
dense_rank() over(partition by [Patient EHR ID]     
order by [questionnaireResultId] desc )RNK --select *     
from     
PrapareWeeklyFile    
)    
    
insert into #temp_PrapareQuestionaire    
(    
[Completed Time] ,    
[Questionnaire Result ID] ,     
[Patient EHR ID] ,    
[Question] ,    
[Answer]  ,  
[patientName],  
[patientBirthdate]  
    
)    
select     
[questionnaireFilledOutAt] ,    
[questionnaireResultId] ,      
[Patient EHR ID],      
[Question] ,    
[Answer]   
,[patientName]  
,[patientBirthdate]  
from cte where RNK=1    
    
  
    
update #temp_PrapareQuestionaire set QuestionNo='Q2'    
where Question like '%Are%worried%losing%housing%'    
    
update #temp_PrapareQuestionaire set QuestionNo='Q1'    
where Question like '%What%housing%situation%today%'    
    
update #temp_PrapareQuestionaire set QuestionNo='Q4'    
where Question like '%past%year%lack%transportation%medical%'    
    
update #temp_PrapareQuestionaire set QuestionNo='Q3'    
where Question like '%past%year%family%members%unable%'    
    
   
update a set AnswerType=    
  case when Answer = 'I have housing' then 'Negative'     
when Answer like 'I%do%not%have%housing%' then 'Positive' end    
from #temp_PrapareQuestionaire  a     
where QuestionNo='Q1'     
    
update a set AnswerType=    
  case when Answer = 'No' then 'Negative'     
when Answer = 'yes' then 'Positive' end    
from #temp_PrapareQuestionaire  a     
where QuestionNo='Q2'     
    
update a set AnswerType=    
  case when Answer = 'No' then 'Negative'     
when Answer = 'yes' then 'Positive' end    
from #temp_PrapareQuestionaire  a     
where QuestionNo='Q3'     
    
update a set AnswerType=    
  case when Answer = 'None of the Above' then 'Negative'     
when Answer <> '' then 'Positive' end    
from #temp_PrapareQuestionaire  a     
where QuestionNo='Q3'     
    
    
update a set AnswerType=    
  case when Answer = 'No' then 'Negative'     
when Answer like 'yes%' then 'Positive' end    
from #temp_PrapareQuestionaire  a     
where QuestionNo='Q4'     
    
    
    
--update p set Prapare='yes'    
----select *     
--from #temp_PrapareQuestionaire p     
--where exists     
--(    
--select top 1 1  from #temp_PrapareQuestionaire pt where pt.AnswerType='Positive'    
--and pt.[Patient EHR ID]=p.[Patient EHR ID]    
--)    
    
--update p set Prapare='yes'    
----select *     
--from #temp_PrapareQuestionaire p     
--where exists     
--(    
--select top 1 1  from #temp_PrapareQuestionaire pt where pt.AnswerType='Positive'    
--and pt.[Patient EHR ID]=p.[Patient EHR ID]    
--)    
--and Prapare is null     
    
--update p set Prapare='No'    
----select *      
--from #temp_PrapareQuestionaire p    
--join     
--(    
--select [Patient EHR ID],sum(case when AnswerType='negative' then 1 else 0 end )NegCnt,    
--count(1) TotalCnt    
--from #temp_PrapareQuestionaire p     
--where Prapare is null    
--group by [Patient EHR ID]    
--having sum(case when AnswerType='negative' then 1 else 0 end )=count(1)    
--) res on p.[Patient EHR ID]=res.[Patient EHR ID]    
    
    
--update p set Prapare='yes'    
----select *     
--from #temp_PrapareQuestionaire p     
--where exists     
--(    
--select top 1 1  from #temp_PrapareQuestionaire pt where pt.AnswerType='Positive'    
--and pt.[Patient EHR ID]=p.[Patient EHR ID]    
--)    
--and Prapare is null     
    
    
--Incomplete Screener-Positive: Not all questions are answered, but at least one answer is positive.    
--Incomplete Screener-Negative: Not all questions are answered, and all answered questions are negative.    
--Incomplete Screener: No question is answered.    
  
  
--select * from #temp_PrapareQuestionaire where [Patient EHR ID]= 221634   
  
--select [Patient EHR ID] from #temp_PrapareQuestionaire  
--group by [Patient EHR ID]  
--having count( QuestionNo) > 4  
  
    
update p set Prapare='Negative'    
--select *      
from #temp_PrapareQuestionaire p    
join     
(    
select [Patient EHR ID],    
count(distinct case when AnswerType='negative' then QuestionNo else null end )NegCnt,    
count(distinct QuestionNo) TotalCnt    
from #temp_PrapareQuestionaire p      
group by [Patient EHR ID]    
having count(distinct case when AnswerType='negative' then QuestionNo else null end )    
=count(distinct QuestionNo)    
and count(distinct QuestionNo)=4     
) res on p.[Patient EHR ID]=res.[Patient EHR ID]    
--order by p.[Patient EHR ID],p.QuestionNo    
    
--select * from #temp_PrapareQuestionaire where [Patient EHR ID]='93465'    
--75487    
--select * from #temp_PrapareQuestionaire where [Patient EHR ID]='93968'    
    
--select * from PrapareQuestionaireResponse where Prapare='positive'    
    
update p set Prapare='Incomplete Screener-Negative'    
--select *      
from #temp_PrapareQuestionaire p    
join     
(    
select [Patient EHR ID],    
count(distinct case when AnswerType='negative' then QuestionNo else null end )NegCnt,    
count(distinct QuestionNo) TotalCnt    
from #temp_PrapareQuestionaire p     
group by [Patient EHR ID]    
having count(distinct case when AnswerType='negative' then QuestionNo else null end )    
=count(distinct QuestionNo)    
and count(distinct QuestionNo)< 4 and count(distinct QuestionNo)>0    
) res on p.[Patient EHR ID]=res.[Patient EHR ID]    
    
update p set Prapare='Positive'    
--select *      
from #temp_PrapareQuestionaire p    
join     
(    
select [Patient EHR ID],    
count(distinct case when AnswerType='Positive' then QuestionNo else null end )posCnt,    
count(distinct QuestionNo) TotalCnt    
from #temp_PrapareQuestionaire p     
group by [Patient EHR ID]    
having count(distinct case when AnswerType='Positive' then QuestionNo else null end ) >= 1    
and count(distinct QuestionNo)= 4     
) res on p.[Patient EHR ID]=res.[Patient EHR ID]    
    
update p set Prapare='Incomplete Screener-Positive'    
--select *      
from #temp_PrapareQuestionaire p    
join     
(    
select [Patient EHR ID],    
count(distinct case when AnswerType='Positive' then QuestionNo else null end )posCnt,    
count(distinct QuestionNo) TotalCnt    
from #temp_PrapareQuestionaire p     
group by [Patient EHR ID]    
having count(distinct case when AnswerType='Positive' then QuestionNo else null end )>=1    
and count(distinct QuestionNo)< 4 and count(distinct QuestionNo)>0    
) res on p.[Patient EHR ID]=res.[Patient EHR ID]    
    
update p set Prapare='Incomplete Screener'    
--select *      
from #temp_PrapareQuestionaire p    
join     
(    
select [Patient EHR ID],    
count(distinct case when AnswerType='Positive' then QuestionNo else null end ) posCnt,    
count(distinct case when AnswerType='negative' then QuestionNo else null end )NegCnt,    
count(distinct QuestionNo) TotalCnt    
from #temp_PrapareQuestionaire p     
group by [Patient EHR ID]    
having count(distinct case when AnswerType='negative' then QuestionNo else null end )=0    
and count(distinct case when AnswerType='Positive' then QuestionNo else null end )=0    
--and count(distinct QuestionNo)< 4 and count(distinct QuestionNo)>0    
) res on p.[Patient EHR ID]=res.[Patient EHR ID]    
    
--select *      
--from #temp_PrapareQuestionaire p where Prapare    
-- is null     
    
----drop table PrapareQuestionaireResponse    
--drop table if exists PrapareWeeklyFile_Final    
    
-- select *    
-- into PrapareWeeklyFile_Final    
--from #temp_PrapareQuestionaire 

insert into PrapareWeeklyFile_Final
(
[Completed Time]
,[Questionnaire Result ID]
,[Patient EHR ID]
,patientName
,patientBirthdate
,Question
,Answer
,QuestionNo
,AnswerType
,Prapare)
    
select [Completed Time]
,[Questionnaire Result ID]
,p.[Patient EHR ID]
,patientName
,patientBirthdate
,Question
,Answer
,QuestionNo
,AnswerType
,Prapare      
from #temp_PrapareQuestionaire p 
left join 
(select distinct [Patient EHR ID] from PrapareWeeklyFile_Final  )f
on p.[Patient EHR ID]=f.[Patient EHR ID]
where f.[Patient EHR ID] is null 

  
  
--select distinct [Patient EHR ID] from PrapareQuestionaireResponse where Prapare='yes'    
--order by [Patient EHR ID],QuestionNo    
    
--select * from PrapareQuestionaireResponse where Prapare is null     
    
end    
    
    
    
    
    
    
    
    
    
    
    
GO
