USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_PatientVaccine]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[sp_PatientVaccine] @startdate date, @enddate date
AS
BEGIN

truncate table PatientVaccine

select  
P.PATIENTID as PatientID,YEAR(GETDATE())-year(P.DOB) AS Age,
P.SEX as Sex,P.SEXUALORIENTATION as SexualOrientation,P.GENDERIDENTITY as GenderIdentity,P.CONTEXTID,
P.RACE as Race,P.ETHNICITY as Ethnicity,P.LANGUAGE as [Language],
PV.VACCINENAME as VaccineDescription,PV.CVX as VaccineCode,PV.REFUSEDREASON
into #PatientVaccine01
from PP_Athena_ODS.ATHENAONE.Patient P (NOLOCK)
JOIN PP_Athena_ODS.ATHENAONE.PATIENTVACCINE PV (NOLOCK)
ON P.PATIENTID=PV.PATIENTID and P.CONTEXTID=PV.CONTEXTID

Select 
CE.ENCOUNTERDATE as EligibleEncounterDate,CE.CLINICALENCOUNTERTYPE as EligibleEncounterType,CE.PATIENTID as PatientID,
PR.PROVIDERTYPE as ProviderType,PR.CONTEXTID
into #PatientVaccine02
From PP_Athena_ODS.ATHENAONE.ClinicalEncounter CE(NOLOCK)
JOIN PP_Athena_ODS.ATHENAONE.PROVIDER PR (NOLOCK)
on CE.PROVIDERID=PR.PROVIDERID and CE.CONTEXTID=PR.CONTEXTID 
where cast(ce.ENCOUNTERDATE as date) between  @startdate and @enddate


insert into patientVaccine
Select 
PV01.PatientID,Age,Sex,SexualOrientation,GenderIdentity,Race,Ethnicity,pv01.Language,
EligibleEncounterDate,EligibleEncounterType,ProviderType,VaccineDescription,VaccineCode
from #PatientVaccine01 PV01 (NOLOCK)
join #PatientVaccine02 PV02 (NOLOCK)
ON PV01.PatientID=PV02.PatientID AND PV01.CONTEXTID=PV02.CONTEXTID



End
GO
