USE [TrainingDB]
GO
/****** Object:  Table [dbo].[socialhxformqA]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socialhxformqA](
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[socialhxformresponseid] [numeric](12, 0) NULL,
	[answer] [varchar](max) NULL,
	[label] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[Record_Updated_Date] [datetime] NULL,
	[Rnk] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
