USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_hc_patientmedication]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_hc_patientmedication](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTMEDICATIONID] [numeric](38, 0) NULL,
	[MEDICATIONTYPE] [varchar](max) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[MEDICATIONID] [numeric](12, 0) NULL,
	[FROMPATIENTMEDICATIONID] [numeric](38, 0) NULL,
	[SIG] [varchar](max) NULL,
	[MEDICATIONNAME] [varchar](max) NULL,
	[DOSAGEFORM] [varchar](max) NULL,
	[DOSAGEACTION] [varchar](max) NULL,
	[DOSAGESTRENGTH] [varchar](max) NULL,
	[DOSAGESTRENGTHUNITS] [varchar](max) NULL,
	[DOSAGEQUANTITY] [numeric](18, 6) NULL,
	[DISPLAYDOSAGEUNITS] [varchar](max) NULL,
	[DOSAGEROUTE] [varchar](max) NULL,
	[FREQUENCY] [varchar](max) NULL,
	[LENGTHOFCOURSE] [numeric](12, 0) NULL,
	[PRESCRIPTIONFILLQUANTITY] [numeric](18, 6) NULL,
	[NUMBEROFREFILLSPRESCRIBED] [numeric](12, 0) NULL,
	[DEACTIVATIONREASON] [varchar](max) NULL,
	[SOURCECODE] [varchar](max) NULL,
	[SOURCECODETYPE] [varchar](max) NULL,
	[FILLDATE] [date] NULL,
	[PHARMACYNAME] [varchar](max) NULL,
	[MEDADMINISTEREDDATETIME] [datetime] NULL,
	[CREATEDDATETIME] [datetime] NULL,
	[CREATEDBY] [varchar](max) NULL,
	[STARTDATE] [date] NULL,
	[STOPDATE] [date] NULL,
	[DEACTIVATIONDATETIME] [datetime] NULL,
	[DEACTIVATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime] NULL,
	[DELETEDBY] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[PRESCRIBER] [varchar](max) NULL,
	[PRESCRIBERNPI] [varchar](max) NULL,
	[PRESCRIBEDYN] [varchar](max) NULL,
	[ADMINISTEREDYN] [varchar](max) NULL,
	[DISPENSEDYN] [varchar](max) NULL,
	[ADMINISTEREDEXPIRATIONDATE] [date] NULL,
	[DISPENSEDEXPIRATIONDATE] [date] NULL,
	[LASTUPDATED] [datetime] NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
