USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[uspAddUser]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspAddUser]
   @pName VARCHAR(40) = NULL,
    @pLogin VARCHAR(50), 
    @pPassword VARCHAR(50) ,
   @responseMessage VARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY

        INSERT INTO dbo.[UserDetails] (Names,username,PasswordHash)
        VALUES(@pName,@pLogin, HASHBYTES('SHA2_512', @pPassword))

        SET @responseMessage='Success'

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

END
GO
