USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Departmenttest]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmenttest](
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[DEPARTMENTNAME] [varchar](max) NULL,
	[DEPARTMENTCITY] [varchar](max) NULL,
	[Freetext] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
