USE [TrainingDB]
GO
/****** Object:  Table [dbo].[DailyLoadSummary]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyLoadSummary](
	[TableName] [nvarchar](512) NULL,
	[RowsLoaded] [bigint] NULL
) ON [PRIMARY]
GO
