USE [TrainingDB]
GO
/****** Object:  Table [dbo].[ProviderFlag]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderFlag](
	[ProviderID] [int] NULL,
	[ProviderName] [varchar](255) NULL,
	[Designation] [varchar](255) NULL,
	[Flag] [varchar](255) NULL
) ON [PRIMARY]
GO
