USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PrapareWeeklyFile_Final]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrapareWeeklyFile_Final](
	[Completed Time] [datetime] NULL,
	[Questionnaire Result ID] [int] NULL,
	[Patient EHR ID] [int] NULL,
	[patientName] [varchar](255) NULL,
	[patientBirthdate] [varchar](50) NULL,
	[Question] [varchar](255) NULL,
	[Answer] [varchar](255) NULL,
	[QuestionNo] [varchar](10) NULL,
	[AnswerType] [varchar](10) NULL,
	[Prapare] [varchar](100) NULL
) ON [PRIMARY]
GO
