USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_HTN_CRO]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_HTN_CRO]
AS
BEGIN
							IF OBJECT_ID('tempdb..#AthenaPatient') IS NOT NULL
									DROP TABLE #AthenaPatient
							IF OBJECT_ID('tempdb..#SYST') IS NOT NULL
									DROP TABLE #SYST
							IF OBJECT_ID('tempdb..#DIAS') IS NOT NULL
									DROP TABLE #DIAS
							IF OBJECT_ID('tempdb..#DIAB') IS NOT NULL
									DROP TABLE #DIAB
							IF OBJECT_ID('tempdb..#SMOKING') IS NOT NULL
									DROP TABLE #SMOKING
							TRUNCATE TABLE PP_HTN_CRO


Select 
P.PATIENTID AS Patient_MRN
,P.FIRSTNAME AS Patient_FirstName 
,P.LASTNAME AS Patient_LastName
,sum(year(getdate())-year(P.dob)) as Patient_Age
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender
INTO #AthenaPatient
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)
Group by p.PATIENTID
,p.FIRSTNAME
,p.LASTNAME
,P.sex 
--SELECT * FROM #AthenaPatient     -------------------1,44,098

begin
with SYST as (
select 
P.PATIENTID AS Patient_MRN
,CE.CLINICALENCOUNTERID
,VS.VALUE as Systolic
,VS.CREATEDDATETIME
,ROW_NUMBER() over (partition by p.patientid order by VS.CREATEDDATETIME desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.BLOODPRESSURE.SYSTOLIC') --AND [VALUE]= '0' OR [VALUE]='')

select * into #SYST
from SYST where recent=1  ------------------------105789  ---- (In recent 33 sys value is '0' out of 92)  ------CE.ID -1 is missing
end  
----------------

begin
with DIAS as (
select 
P.PATIENTID as Patient_MRN
,CE.CLINICALENCOUNTERID
,(VS.VALUE) as DIASTOLIC
,VS.CREATEDDATETIME
,ROW_NUMBER() over (partition by p.patientid order by VS.CREATEDDATETIME desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=CE.patientID and p.CONTEXTID=CE.CONTEXTID
where VS.[KEY] ='VITALS.BLOODPRESSURE.DIASTOLIC') ---AND [VALUE]= '0' OR [VALUE]='')

select * into #DIAS
from DIAS where recent=1     -------------105756 ---(In recent 1 sys value is '0' out of 15)  MISSING CE.ID -1
end
---------------
	
begin 
with Smoking as (	
select
P.PATIENTID AS PATIENT_MRN
,PSH.SOCIALHISTORYANSWER AS Smoking_status,
ROW_NUMBER() over (partition by P.patientid order by PSH.createddatetime DESC) recent
FROM PP_Athena_ODS.ATHENAONE.PATIENTSOCIALHISTORY as PSH (nolock)
inner JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on PSH.PATIENTID=P.PATIENTID AND PSH.CONTEXTID=P.CONTEXTID
where PSH.SOCIALHISTORYKEY like '%SMOKINGSTATUS%') ---AND SOCIALHISTORYANSWER is null )

select * into #Smoking from smoking 
where recent =1             ---------------- 64931 
end					
--------------

BEGIN 
WITH Diabetes AS (
select
P.PATIENTID AS PATIENT_MRN
,cro.OBSERVATIONIDENTIFIERTEXT AS DIABETES
,ROW_NUMBER() OVER ( PARTITION BY P.PATIENTID ORDER BY CR.CREATEDDATETIME DESC) AS recent
FROM PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock)
LEFT JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock) on CRO.clinicalresultid=CR.clinicalresultid AND CRO.CONTEXTID=CR.CONTEXTID
LEFT JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock) on CR.RESULTDOCUMENTID=CL.DOCUMENTID AND CR.CONTEXTID=CL.CONTEXTID
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient as P (nolock) on P.PATIENTID=CL.PATIENTID
where OBSERVATIONIDENTIFIERTEXT not like '%GESTATIONAL DIABETES%' and
	  OBSERVATIONIDENTIFIERTEXT not like '%steroid induced diabetes%' and 
	  OBSERVATIONIDENTIFIERTEXT like '%diabet%' )

select * into #Diab from Diabetes       ------------------- 1235
where recent =1 
end
--------------  
INSERT Into PP_HTN_CRO
select 
distinct P.Patient_MRN, 
P.Patient_FirstName, 
P.Patient_LastName, 
P.Patient_Gender, 
P.Patient_Age,
SY.Systolic, 
SY.CREATEDDATETIME as  Date_of_Systolic,
DIAS.Diastolic, 
DIAS.CREATEDDATETIME as Date_of_Diastolic,
sk.Smoking_status, 
DIAB.DIABETES

FROM #AthenaPatient as P 
LEFT JOIN #SYST AS SY ON P.Patient_MRN=SY.Patient_MRN
LEFT JOIN #DIAS AS DIAS ON P.Patient_MRN=DIAS.PATIENT_MRN
LEFT JOIN #SMOKING AS SK ON P.Patient_MRN=SK.PATIENT_MRN
INNER JOIN #DIAB AS DIAB ON P.Patient_MRN=DIAB.PATIENT_MRN

ORDER BY P.Patient_MRN
END
---EXEC [dbo].[SP_HTN_CRO]
--select * from PP_HTN_CRO
GO
