USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_hc_clinicalencounter]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_hc_clinicalencounter](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[APPOINTMENTID] [numeric](12, 0) NULL,
	[APPOINTMENTTICKLERID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERTYPE] [varchar](max) NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[SUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[ENCOUNTERDATE] [date] NULL,
	[DOCUMENTEDBYSCRIBE] [varchar](1) NULL,
	[ENCOUNTERSTATUS] [varchar](max) NULL,
	[ASSIGNEDTO] [varchar](max) NULL,
	[CLOSEDDATETIME] [datetime2](7) NULL,
	[CLOSEDBY] [varchar](max) NULL,
	[PATIENTSTATUS] [varchar](max) NULL,
	[PATIENTLOCATION] [varchar](max) NULL,
	[SPECIALTY] [varchar](max) NULL,
	[BILLINGTABREVIEWED] [varchar](max) NULL,
	[DOCUMENTEDBY] [varchar](max) NULL,
	[SPECIALTYID] [varchar](max) NULL,
	[PREVIOUSLYCLOSED] [datetime2](7) NULL,
	[PATIENTCASEID] [numeric](12, 0) NULL,
	[LASTREOPENEDBY] [varchar](max) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
	[INPTSTAYID] [numeric](12, 0) NULL,
	[HASURGENTORDERSYN] [varchar](max) NULL,
	[CLOSEATTEMPTEDYN] [varchar](max) NULL,
	[CANCELREASONNOTE] [varchar](max) NULL,
	[PATIENTSTATUSID] [numeric](12, 0) NULL,
	[FLOWSHEETID] [numeric](12, 0) NULL,
	[STREAMLINEDTESTENCOUNTERYN] [varchar](max) NULL,
	[PATIENTLOCATIONID] [numeric](12, 0) NULL,
	[SCRIBEDBY] [varchar](max) NULL,
	[CLINICALENCOUNTERLAYOUTID] [numeric](12, 0) NULL,
	[INUNCONFIGUREDBUCKETYN] [varchar](max) NULL,
	[PREVIOUSLYCLOSEDBY] [varchar](max) NULL,
	[STREAMLINEDENCOUNTERLAYOUTID] [numeric](12, 0) NULL,
	[PERSISTENCEYN] [varchar](max) NULL,
	[CLOSEDBYDOCUMENTID] [numeric](12, 0) NULL,
	[CLINICALEPISODEID] [numeric](12, 0) NULL,
	[INPTCASEID] [numeric](12, 0) NULL,
	[LASTSAVETIMESTAMP] [datetime2](7) NULL,
	[ENCOUNTERDATETIMEUTC] [datetime2](7) NULL,
	[SCRIBED] [datetime2](7) NULL,
	[LASTREOPENED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
