USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Usp_PatientMedicationList_update]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_PatientMedicationList_update] 
(@pmid int ,@quantitydispensed int ,@Moduser varchar(100))
as
begin 

update PatientMedicationList set quantitydispensed=@quantitydispensed,
Modifiedby=@Moduser , Modifieddate= getdate() ,DMLType='Update'
output 
deleteD.PMID
,deleteD.globalid
,deleteD.patientid
,deleteD.Patientname_Liberty
,deleteD.Drug_name
,deleteD.sigs
,deleteD.QuantityDispensed
,deleteD.Pharmacy
,deleteD.DateDispensedSQL
,deleteD.Sb_LastModified
,deleteD.st_LastModified
,deleteD.DateWrittenSQL
,deleteD.ScriptNumber
,deleteD.TimeStampAsOfDate
,deleteD.OnHold
,deleteD.createddate
,deleteD.createdby
,deleteD.Modifieddate
,deleteD.Modifiedby
,deleteD.DMLType
,deleteD.Source
,deleteD.Lid
,GETDATE()
,@Moduser
into PatientMedicationList_history(
PMID
,globalid
,patientid
,Patientname_Liberty
,Drug_name
,sigs
,QuantityDispensed
,Pharmacy
,DateDispensedSQL
,Sb_LastModified
,st_LastModified
,DateWrittenSQL
,ScriptNumber
,TimeStampAsOfDate
,OnHold
,createddate
,createdby
,Modifieddate
,Modifiedby
,DMLType
,Source
,Lid
,RecordCreateddate
,RecordCreatedUser)
where PMID=@pmid

end
GO
