USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Provider_info]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Provider_info] 

@ProviderID int, @Year int

as
begin
								IF OBJECT_ID('tempdb..#TempTable1') is NOT NULL
								DROP table #TempTable1
								IF OBJECT_ID('tempdb..#TempTable2') is NOT NULL
								DROP table #TempTable1

select 
a.APPOINTMENTID,a.STARTCHECKINDATETIME,c.CLINICALENCOUNTERID,c.ENCOUNTERSTATUS,c.PROVIDERID into #TempTable1	
from PP_Athena_ODS.ATHENAONE.APPOINTMENT A (nolock)
join PP_Athena_ODS.ATHENAONE.ClinicalEncounter C (nolock)
on A.APPOINTMENTID=C.APPOINTMENTID and A.CONTEXTID=c.CONTEXTID
where ENCOUNTERSTATUS='CLOSED'

select
p.PROVIDERID,CAST(P.SchedulingName As Varchar) AS SchedulingName,p.LASTUPDATED,sum(af.CURRENTCHARGE+af.LATECHARGE) as Charge,
sum(af.PAYMENT) as Payment,af.POSTDATE into #TempTable2
from PP_Athena_ODS.ATHENAONE.PROVIDER P (nolock)
join PP_Athena_ODS.FINANCIALS.ACTIVITYFACT AF (nolock)
on P.PROVIDERID = AF.PROVIDERID and P.CONTEXTID=AF.CONTEXTID
where p.PROVIDERID=@ProviderID and year(af.LASTUPDATED)=@Year
group by p.PROVIDERID,CAST(P.SchedulingName As Varchar),p.LASTUPDATED,af.POSTDATE


select 
SchedulingName as Provider_Name,sum(#TempTable2.Charge) as Total_Charge,sum(#TempTable2.Payment) as Total_Payment from #TempTable1
join #TempTable2
on #TempTable1.PROVIDERID=#TempTable2.PROVIDERID
group by SchedulingName




End



GO
