USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Test2]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test2](
	[Index] [varchar](50) NULL,
	[Timestamp] [varchar](50) NULL,
	[Event Type] [varchar](50) NULL,
	[Event Subtype] [varchar](50) NULL,
	[Patient Info] [varchar](50) NULL,
	[Device Info] [varchar](50) NULL,
	[Source Device ID] [varchar](50) NULL,
	[Glucose Value (mg dL)] [varchar](50) NULL,
	[Insulin Value ] [varchar](50) NULL,
	[Carb Value ] [varchar](50) NULL,
	[Duration] [varchar](50) NULL,
	[Glucose Rate of Change (mg dL min)] [varchar](50) NULL,
	[Transmitter Time] [varchar](50) NULL,
	[Transmitter ID] [varchar](50) NULL
) ON [PRIMARY]
GO
