USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PP_HTN_Final_Table]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PP_HTN_Final_Table](
	[Patient_MRN] [numeric](12, 0) NULL,
	[Patient_FirstName] [varchar](500) NULL,
	[Patient_LastName] [varchar](500) NULL,
	[Patient_Gender] [varchar](6) NOT NULL,
	[Patient_Age] [int] NULL,
	[Systolic] [varchar](max) NULL,
	[Date_of_Systolic] [datetime2](7) NULL,
	[Diastolic] [varchar](max) NULL,
	[Date_of_Diastolic] [datetime2](7) NULL,
	[PROVIDERID] [decimal](12, 0) NULL,
	[SCHEDULINGNAME] [text] NULL,
	[Smoking_status] [varchar](max) NULL,
	[DIABETES] [varchar](2000) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
