USE [TrainingDB]
GO
/****** Object:  Table [dbo].[rxqScriptTransaction_Landing_FB]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqScriptTransaction_Landing_FB](
	[cScriptTransactionId] [numeric](18, 0) NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[Copay] [decimal](9, 2) NULL,
	[Cost] [decimal](9, 2) NULL,
	[CostBase] [varchar](50) NULL,
	[DrugId] [varchar](50) NULL,
	[TelephoneAuthorizedBy] [varchar](200) NULL,
	[TelephoneReceivingRph] [varchar](200) NULL,
	[ArPosted] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
