USE [TrainingDB]
GO
/****** Object:  Table [dbo].[DexcomClarityPatients]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DexcomClarityPatients](
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[DOB] [date] NULL
) ON [PRIMARY]
GO
