USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PATIENTID] [bigint] NULL,
	[FIRSTNAME] [nvarchar](max) NULL,
	[LASTNAME] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
