USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Usp_LibertyMedicationList_CompPack_Get]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_LibertyMedicationList_CompPack_Get]   
(  
@GlobalID_SSN  varchar(100)  )  
as  
begin   
  
select   
    c.[PatientName] ,  
 c.DateOfBirth ,  
 c.Globalid ,  
 c.SSN ,  
 c.[Drug_name] ,  
 c.[patientid] ,  
 c.[DateDispensedSQL] ,  
 c.[QuantityDispensed] ,  
    c.[cScriptTransactionId] ,  
 c.ScriptNumber,  
 c.[Sigs],  
 c.[OnHold] ,  
 c.[Sb_LastModified] ,  
 c.PharmacyName  
from [LibertyMedicationList_CompPack] c  with(nolock)   
left join PatientMedicationList p with(nolock) on p.cScriptTransactionId=c.cScriptTransactionId  
and p.ScriptNumber=c.ScriptNumber  
join PatientView v with(nolock) on  
((v.GlobalId=c.globalid and v.Globalid is not null )  
or (v.Globalid is null and v.SSN=c.SSN and v.DateOfBirth=c.DateOfBirth )  
)  
and   
(  
(v.LastPackDate is not null and c.Sb_LastModified > v.LastPackDate)  
or  
(v.LastPackDate is  null)  
)  
where   
(c.globalid=@GlobalID_SSN or c.SSN=@GlobalID_SSN )  
and p.cScriptTransactionId is null   
order by  c.Globalid,c.SSN,c.Sb_LastModified desc,c.DateDispensedSQL desc,c.Drug_name   
end
GO
