USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PPPharmacyInfo]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PPPharmacyInfo](
	[ID] [int] NULL,
	[SourceIndicator] [varchar](20) NULL,
	[Loc] [varchar](20) NULL,
	[City] [varchar](20) NULL,
	[State] [varchar](20) NULL,
	[Zip] [varchar](20) NULL
) ON [PRIMARY]
GO
