USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Patient_Test]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Test](
	[PatientID] [numeric](12, 0) NULL,
	[PatientName] [varchar](max) NOT NULL,
	[PatientDOB] [date] NULL,
	[PatientAge] [int] NULL,
	[PatientGender] [varchar](max) NULL,
	[MostRecentA1c] [varchar](max) NULL,
	[MostRecentPotassium] [varchar](max) NULL,
	[MostRecentcreatinine] [varchar](max) NULL,
	[MostRecentWeight] [float] NULL,
	[MostRecentHeight] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
