USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Libertymedicinedetails_Total_2years]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libertymedicinedetails_Total_2years](
	[Drug_name] [varchar](100) NULL,
	[patientid] [varchar](50) NOT NULL,
	[Patientname_Liberty] [varchar](101) NULL,
	[DOB_Liberty] [date] NULL,
	[SSN] [varchar](8000) NULL,
	[globalid] [varchar](50) NULL,
	[Prescriber] [varchar](101) NULL,
	[NdcNumber] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[RefillNumber] [int] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[cScriptBaseId] [numeric](18, 0) NOT NULL,
	[RnkId] [bigint] NULL,
	[st_LastModified] [datetime] NULL,
	[sigs] [nvarchar](1000) NULL,
	[OnHold] [varchar](50) NULL,
	[DateWritten] [date] NULL,
	[cScriptTransactionId] [numeric](18, 0) NOT NULL,
	[sb_LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Deriveddatedispensedsql] [date] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[LookUpId] [varchar](200) NULL,
	[AddressType] [int] NULL,
	[cAddressId] [int] NULL,
	[State] [varchar](200) NULL,
	[City] [varchar](200) NULL,
	[ZipPlus] [varchar](200) NULL,
	[Zip] [varchar](200) NULL,
	[Street] [varchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
