USE [TrainingDB]
GO
/****** Object:  Table [dbo].[DexcomNonAlertWithPatientID]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DexcomNonAlertWithPatientID](
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[Timestamp ] [varchar](50) NULL,
	[Event Subtype] [varchar](50) NULL,
	[Event Type] [varchar](50) NULL,
	[Source Device ID] [varchar](50) NULL,
	[Glucose Value (mg dL)] [varchar](100) NULL,
	[Insulin Value (u)] [varchar](50) NULL,
	[Carb Value (grams)] [varchar](50) NULL,
	[Duration] [varchar](50) NULL,
	[Transmitter ID] [varchar](50) NULL,
	[Transmitter Time ] [varchar](50) NULL,
	[Indicator] [varchar](113) NULL,
	[CreatedDateTime] [datetime] NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[PatientName] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
