USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Htn]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Htn](
	[Patient_MRN] [int] NULL,
	[Patient_FirstName] [varchar](100) NULL,
	[Patient_LastName] [varchar](100) NULL,
	[Patient_Gender] [varchar](20) NULL,
	[Patient_Age] [varchar](20) NULL,
	[Systolic] [varchar](100) NULL,
	[Date_of_Systolic] [datetime] NULL,
	[Diastolic] [varchar](100) NULL,
	[Date_of_Diastolic] [datetime] NULL,
	[Smoking_status] [nvarchar](max) NULL,
	[DIABETES] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
