USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PatientMedSigQuantity]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedSigQuantity](
	[PMSQID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity1] [decimal](10, 2) NULL,
	[Quantity2] [decimal](10, 2) NULL,
	[Quantity3] [decimal](10, 2) NULL,
	[Quantity4] [decimal](10, 2) NULL,
	[PMID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Updateddate] [datetime] NULL
) ON [PRIMARY]
GO
