USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SPAP_ScriptTable]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SPAP_ScriptTable]
as
begin
							IF OBJECT_ID('tempdb..#TempTableAP31') IS NOT NULL
								DROP TABLE #TempTableAP31
Truncate table AP_SCRIPTTABLE

SELECT top 10
rp.patientid,
CONCAT(RP.firstname,' ',RP.lastname) AS PatientName,
CITY,
[STATE],
ZIP,
rp.DateOfBirth,
GENDER, 
rt.DrugId,
rt.source_indicator,
rt.Copay,
rt.RequestedACQ,
rt.RequestedAWP,
rt.RequestedFee,
rt.Record_Created_Date,
datepart(yyyy,rt.Record_Created_Date) yer,datepart(MM, rt.Record_Created_Date) as MNTH
,CASE when refillnumber=0 then  1 else 0 end as new,
CASE when refillnumber>0 then  1 else 0 end as old,
RequestedTotal,
Total,
Total+Copay as total_reimb,
RequestedAWP+RequestedFee as profit

INTO #TempTableAP31 
FROM pp_ods..rxqScriptTransaction rt (NOLOCK)
INNER join pp_ods..rxqScriptBase rs (NOLOCK)
on rt.ScriptNumber = rs.ScriptNumber AND rt.Source_Indicator = rs.Source_Indicator
INNER join pp_ods..rxqPatient rp (NOLOCK)
on rp.patientid=rs.patientid and rp.Source_Indicator=rs.Source_Indicator


INSERT INTO AP_SCRIPTTABLE

SELECT 
patientid
,PatientName
,CITY
,[STATE] 
,ZIP
,DateOfBirth
,GENDER
,DrugId
,source_indicator
,Copay
,RequestedACQ
,RequestedAWP
,RequestedFee
,Record_Created_Date
,yer
,MNTH
,new
,old
,RequestedTotal
,Total
,total_reimb
,profit



FROM #TempTableAP31
END
GO
