USE [TrainingDB]
GO
/****** Object:  Table [dbo].[alert1bckup]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alert1bckup](
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[Event Type] [varchar](50) NULL,
	[Event Subtype] [varchar](50) NULL,
	[Device Info] [varchar](50) NULL,
	[Glucose Value (mg dL)] [varchar](100) NULL,
	[Indicator] [varchar](113) NULL
) ON [PRIMARY]
GO
