USE [TrainingDB]
GO
/****** Object:  Table [dbo].[GenericNameDetails]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenericNameDetails](
	[GNID] [int] IDENTITY(1,1) NOT NULL,
	[TherapyClass] [varchar](500) NULL,
	[GenericMedName] [varchar](4000) NULL,
	[Brand] [varchar](4000) NULL
) ON [PRIMARY]
GO
