USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PrapareQuestionaireResponse]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrapareQuestionaireResponse](
	[Completed Time] [datetime] NULL,
	[Questionnaire Result ID] [int] NULL,
	[Clinic] [nvarchar](255) NULL,
	[Patient EHR ID] [int] NULL,
	[Questionnaire Name] [varchar](255) NULL,
	[Questionnaire Type] [varchar](255) NULL,
	[Question] [varchar](255) NULL,
	[Answerr] [varchar](255) NULL,
	[QuestionNo] [varchar](10) NULL,
	[AnswerType] [varchar](10) NULL,
	[Prapare] [varchar](100) NULL,
	[patientname] [varchar](1001) NULL
) ON [PRIMARY]
GO
