USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AthenatablesActiveFlagUpdate_New]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
SP_AthenatablesActiveFlagUpdate_New 'ProcessReportTables'
SP_AthenatablesActiveFlagUpdate_New 'ProcessOtherTables'
SP_AthenatablesActiveFlagUpdate_New 'ActivateAllTables'

select  TotalCount,InActiveCnt,ActiveCnt,OthersCnt 
,TotalCount-(InActiveCnt+ActiveCnt+OthersCnt) as CountDiff ,getdate() RecordInsertedDate
from 
(
select Count(1) TotalCount , sum(case when IsActive=0 then 1 else 0 end) InActiveCnt,
sum(case when IsActive=1 and IsLoadedToLanding=0 and IsLoadedToODS=0 then 1 else 0 end) ActiveCnt ,
sum(case when  (IsLoadedToLanding<>0 or  IsLoadedToODS<>0) and IsActive=1 then 1 else 0 end ) OthersCnt 
from SSISConfig 
) s

*/
CREATE procedure [dbo].[SP_AthenatablesActiveFlagUpdate_New] (@Type varchar(50))
as 
begin 

/*ProcessReportTables*/
if(@Type='ProcessReportTables')
begin 
select 'ProcessReportTablesLogic'


/*Deactivating all tables other than report tables  */
update s set IsActive=99
---select * 
from SSISConfig s 
where SourceTable not in (
select distinct TableName from PP_Athena_ODS..SPandItsTables
)  and IsActive=1


end

/*ProcessOtherTables*/
if(@Type='ProcessOtherTables')
begin 
select 'ProcessOtherTablesLogic'

   
/*Deactivate Report tables*/
update s set IsActive=99
---select * 
from SSISConfig s 
where SourceTable in (
select distinct TableName from PP_Athena_ODS..SPandItsTables
) and IsActive=1


/*Activating  tables other than report tables*/    
update s set IsActive=1
---select * 
from SSISConfig s 
where SourceTable not in (
select distinct TableName from PP_Athena_ODS..SPandItsTables /*Report tables*/
) and IsActive=99

end


/*ProcessReportTables*/
if(@Type='ActivateAllTables')
begin 
select 'ActivateAllTablesLogic'

update s set IsActive=1
---select * 
from SSISConfig s 
where  IsActive=99


end

end 


GO
