USE [TrainingDB]
GO
/****** Object:  Table [dbo].[MedicationList_Liberty]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationList_Liberty](
	[globalid] [int] NULL,
	[Patientname_Liberty] [varchar](101) NULL,
	[PatientId] [varchar](50) NOT NULL,
	[DateDispensedSQL] [date] NULL,
	[Drug_name] [varchar](75) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[ScriptNumber] [int] NOT NULL,
	[QueueName] [varchar](50) NULL,
	[PharmacyName] [varchar](13) NULL
) ON [PRIMARY]
GO
