USE [TrainingDB]
GO
/****** Object:  Table [dbo].[MasterDepartment_Prefix]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDepartment_Prefix](
	[Agency Site] [nvarchar](255) NULL,
	[Desc] [nvarchar](255) NULL,
	[Patient ID Prefix] [nvarchar](255) NULL,
	[Read Receipt] [nvarchar](255) NULL
) ON [PRIMARY]
GO
