USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Usp_update_PatientView]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_update_PatientView] 
(
@globalid int,@LastPackDate date,@NextPackDate date  )
as
begin 

update p set LastPackDate=@LastPackDate , NextPackDate=@NextPackDate
--select * 
from PatientView p
where 
globalid=@globalid 

end
GO
