USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Liberty_CompPackPatient_view]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_Liberty_CompPackPatient_view] 
(
@globalid int =null )
as
begin 

select c.* from Liberty_Past6months_CompPack c
left join PatientMedicationList p on p.Lid=c.lid
 join PatientView v on v.GlobalId=c.globalid 
and 
(
(v.LastPackDate is not null and c.st_LastModified > v.LastPackDate)
or
(v.LastPackDate is  null)
)
where 
(c.globalid=@globalid 
or 
@globalid is null )
and p.lid is null 
end
GO
