USE [TrainingDB]
GO
/****** Object:  Table [dbo].[AthenaDataView_alldata]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AthenaDataView_alldata](
	[SNO] [float] NULL,
	[TABLEID] [float] NULL,
	[SCHEMANAME] [varchar](255) NULL,
	[TABLE DESCRIPTION] [varchar](255) NULL,
	[TABLE NAME] [varchar](255) NULL,
	[COLUMNNAME] [varchar](255) NULL,
	[DATATYPE] [varchar](255) NULL,
	[PRIMARYKEY] [varchar](255) NULL,
	[FOREIGNKEY] [varchar](255) NULL,
	[DESCRIPTION] [varchar](2000) NULL
) ON [PRIMARY]
GO
