USE [TrainingDB]
GO
/****** Object:  Table [dbo].[OutcomesMTM_new]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutcomesMTM_new](
	[NCPDP] [varchar](2000) NULL,
	[CENTERNAME] [varchar](2000) NULL,
	[PATIENTID_ALL] [varchar](2000) NULL,
	[FIRST_NAME] [varchar](2000) NULL,
	[LAST_NAME] [varchar](2000) NULL,
	[DOB] [varchar](2000) NULL,
	[ADDRESS1] [varchar](2000) NULL,
	[ADDRESS2] [varchar](2000) NULL,
	[CITY] [varchar](2000) NULL,
	[STATE] [varchar](2000) NULL,
	[ZIPCODE] [varchar](2000) NULL,
	[PHONE] [varchar](2000) NULL,
	[POLICYNAME] [varchar](2000) NULL,
	[PRIMARYPHARMACY] [varchar](2000) NULL,
	[PCTFILLATCENTER] [varchar](2000) NULL,
	[TIPGENERATIONDT] [varchar](2000) NULL,
	[REASONCODE] [varchar](2000) NULL,
	[REASONTYPEDESC] [varchar](2000) NULL,
	[ACTIONCODE] [varchar](2000) NULL,
	[ACTIONNM] [varchar](2000) NULL,
	[TIPTITLE] [nvarchar](max) NULL,
	[PHARMACY NPI] [varchar](2000) NULL,
	[TIPTYPE] [varchar](2000) NULL,
	[PHARMACY_ADDRESS1] [varchar](2000) NULL,
	[PHARMACY_ADDRESS2] [varchar](2000) NULL,
	[PHARMACY_CITY] [varchar](2000) NULL,
	[PHARMACY_STATE] [varchar](2000) NULL,
	[PHARMACY_ZIP] [varchar](2000) NULL,
	[TIP_EXPIRATION_DATE] [varchar](2000) NULL,
	[LAST CMR] [varchar](2000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
