USE [TrainingDB]
GO
/****** Object:  Table [dbo].[DATACHRONICTABLE]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATACHRONICTABLE](
	[PATIENTID] [numeric](12, 0) NULL,
	[PatientName] [varchar](max) NOT NULL,
	[Age] [int] NULL,
	[PROVIDERID] [numeric](12, 0) NULL,
	[DEPARTMENTID] [numeric](12, 0) NULL,
	[ENCOUNTERDATE] [date] NULL,
	[Appointment_Type] [varchar](max) NULL,
	[Diagnosis] [varchar](max) NULL,
	[CHESTXRAY_LDCT] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
