USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_pplus_report]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_pplus_report]
as
begin

					 if object_ID('tempdb..#DiaBetic') is not null
					 drop table #DiaBetic
					  if object_ID('tempdb..#SocHis') is not null
					 drop table #SocHis
					  if object_ID('tempdb..#BPsys') is not null
					 drop table #BPsys
					  if object_ID('tempdb..#BPdia') is not null
					 drop table #BPdia

truncate table Patient_testreport


select distinct  pt.PATIENTID as Patient_MRN
,pt.FIRSTNAME as FirstName
,pt.LASTNAME as LastName
,datediff( YY, pt.DOB, getdate()) as PatientAge
,CASE WHEN pt.sex='m' THEN'Male' WHEN pt.sex='F' THEN 'Female'  ELSE 'Others' END  as PatientGender 
into #patient 
from PP_Athena_ODS.ATHENAONE.Patient pt(nolock)


begin
with bpsys as(
select P.PATIENTID
,VS.VALUE
,Vs.CREATEDDATETIME
,ROW_NUMBER() over (partition by P.Patientid order by VS.createddatetime desc)recent
 from   [PP_Athena_ODS].ATHENAONE.VITALSIGN as VS (nolock)  
inner join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
inner join PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PATIENTID=CE.PATIENTID and CE.CONTEXTID=P.CONTEXTID
where  VS.[KEY]='VITALS.BLOODPRESSURE.SYSTOLIC' ) 
select * into #BPsys 
from bpsys where recent=1 ---105728
end


begin
with bpdia as(
select P.PATIENTID
, VS.VALUE
,Vs.CREATEDDATETIME
,ROW_NUMBER() over (partition by P.Patientid order by VS.createddatetime desc)recent
 from   [PP_Athena_ODS].ATHENAONE.VITALSIGN as VS (nolock)  
inner join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
inner join PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PATIENTID=CE.PATIENTID and CE.CONTEXTID=P.CONTEXTID
where  VS.[KEY]='VITALS.BLOODPRESSURE.DIASTOLIC' ) 
select * into #BPdia 
from bpdia where recent=1 ------105695
end

begin
with sochis as(
select P.PATIENTID
, psh.SOCIALHISTORYANSWER
,psh.CREATEDDATETIME
,ROW_NUMBER() over (partition by P.Patientid order by psh.createddatetime desc)recent
 from [PP_Athena_ODS].ATHENAONE.PATIENTSOCIALHISTORY as psh (nolock)
INNER JOIN PP_Athena_ODS.ATHENAONE.Patient AS P (nolock) on P.PatientID=psh.patientID and p.CONTEXTID=psh.CONTEXTID 
where  SOCIALHISTORYKEY='SOCIALHISTORY.SMOKINGSTATUS' ) 
select * into #SocHis 
from sochis where recent=1
end


begin
with diabet as(
select CRO.OBSERVATIONIDENTIFIERTEXT,
P.PATIENTID,
CRO.CREATEDDATETIME 
,ROW_NUMBER() over (partition by P.Patientid order by CRO.createddatetime desc)recent
from  PP_Athena_ODS.ATHENAONE.CLINICALRESULTOBSERVATION as CRO (nolock) 
left JOIN PP_Athena_ODS.ATHENAONE.CLINICALRESULT as CR (nolock)  on CRO.CLINICALRESULTID=CR.CLINICALRESULTID AND CR.CONTEXTID=CRO.CONTEXTID
Left JOIN PP_Athena_ODS.ATHENAONE.DOCUMENT as CL (nolock)  on CL.DOCUMENTID=CR.RESULTDOCUMENTID  AND CR.CONTEXTID=CL.CONTEXTID
inner join PP_Athena_ODS.ATHENAONE.Patient AS P (nolock)  on P.PATIENTID=CL.PATIENTID and p.CONTEXTID=CL.CONTEXTID 
where  OBSERVATIONIDENTIFIERTEXT like '%diabet%' and OBSERVATIONIDENTIFIERTEXT not in ('GESTATIONAL DIABETES SCREEN','steroid induced diabetes'))
select *  into #DiaBetic  
from diabet where recent=1
end



insert into Patient_testreport

select distinct  pt.Patient_MRN as Patient_MRN
,pt.FIRSTNAME as FirstName
,pt.LASTNAME as LastName
,datediff( YY, pt.PatientAge, getdate()) as PatientAge
,pt.PatientGender as PatientGender
,bps.VALUE as BP_Systolic
,bps.CREATEDDATETIME as Date_Systolic
,bpd.VALUE as BP_Diastolic
,bpd.CREATEDDATETIME as Date_Dystolic
,sh.SOCIALHISTORYANSWER as SmokingStatus
,dp.OBSERVATIONIDENTIFIERTEXT as Diabetic

from #patient as pt
inner join #DiaBetic as dp on pt.Patient_MRN=dp.PatientID
inner join #BPsys as bps on pt.Patient_MRN=bps.PatientID
inner join #BPdia as bpd on pt.Patient_MRN=bpd.PatientID
inner join #SocHis as sh on pt.Patient_MRN=sh.PatientID
order by pt.Patient_MRN


end


--exec sp_pplus_report
--select * from Patient_testreport 



---select top 100* from PP_Athena_ODS.ATHENAONE.VITALSIGN

GO
