USE [TrainingDB]
GO
/****** Object:  Table [dbo].[CovidResults]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CovidResults](
	[NPI] [varchar](10) NOT NULL,
	[LabrdocID] [numeric](12, 0) NULL,
	[OrderID] [numeric](12, 0) NULL,
	[Patient_MRN] [numeric](12, 0) NULL,
	[SSN] [varchar](1) NOT NULL,
	[PATIENT_LastName] [varchar](max) NULL,
	[PATIENT_FirstName] [varchar](max) NULL,
	[PATIENTDate_Of_Birth] [nvarchar](4000) NULL,
	[PATIENTGender] [varchar](max) NULL,
	[PATIENTRace] [varchar](max) NOT NULL,
	[PATIENT_RaceDescription] [varchar](max) NULL,
	[PATIENT_Ethicity] [varchar](max) NOT NULL,
	[PATIENT_EthinicityDescription] [varchar](max) NULL,
	[PATIENT_Phone] [varchar](max) NULL,
	[PATIENT_Email] [varchar](1) NOT NULL,
	[PATIENT_Address1] [varchar](max) NULL,
	[PATIENT_Address2] [varchar](max) NULL,
	[PatientCity] [varchar](max) NULL,
	[PatientState] [varchar](max) NULL,
	[PatientZIP] [varchar](max) NULL,
	[County_Of_Residence] [varchar](1) NOT NULL,
	[TestName] [varchar](max) NULL,
	[TestLoinc] [varchar](max) NULL,
	[TestResult] [varchar](max) NULL,
	[Unit] [varchar](1) NOT NULL,
	[Ref_Range] [varchar](1) NOT NULL,
	[OBSERVATIONDATETIME] [nvarchar](4000) NULL,
	[Order_No] [varchar](1) NOT NULL,
	[CollectDate] [nvarchar](4000) NULL,
	[PROVIDERLASTNAME] [text] NULL,
	[ProviderAddress1] [varchar](1) NOT NULL,
	[ProviderAddress2] [varchar](1) NOT NULL,
	[ProviderCity] [varchar](1) NOT NULL,
	[ProviderState] [varchar](1) NOT NULL,
	[ProviderZIP] [varchar](1) NOT NULL,
	[ProviderMobile_No] [varchar](1) NOT NULL,
	[SpecimenSource] [varchar](1) NOT NULL,
	[SpecimenType] [varchar](max) NULL,
	[OnsetDate] [varchar](1) NOT NULL,
	[Symptoms] [varchar](1) NOT NULL,
	[HCW] [varchar](1) NOT NULL,
	[Congregate] [varchar](1) NOT NULL,
	[Hospitalization] [varchar](1) NOT NULL,
	[First_test_yes_No] [varchar](1) NOT NULL,
	[ICU] [varchar](1) NOT NULL,
	[Pregnant] [varchar](1) NOT NULL,
	[Name_of_testing_product] [varchar](1) NOT NULL,
	[Device_identifier] [varchar](1) NOT NULL,
	[Date_test_ordered] [varchar](1) NOT NULL,
	[Performing_Facility_Name] [varchar](max) NULL,
	[Performing_Facility_Address1] [varchar](max) NULL,
	[Performing_Facility_Address2] [varchar](max) NULL,
	[Performing_Facility_City] [varchar](max) NULL,
	[Performing_Facility_State] [varchar](max) NULL,
	[Performing_Facility_Zip] [varchar](max) NULL,
	[Performing_Facility_TelephoneNumber] [varchar](max) NULL,
	[Ordering_Facility_Name] [varchar](max) NULL,
	[Ordering_Provider_Number] [text] NULL,
	[Ordering_Provider_Name] [text] NULL,
	[PATIENT_MiddleInitial] [varchar](1) NOT NULL,
	[Ordering_Facility_Address1] [varchar](max) NULL,
	[Ordering_Facility_Address2] [varchar](max) NULL,
	[Ordering_Facility_City] [varchar](max) NULL,
	[Ordering_Facility_State] [varchar](max) NULL,
	[Ordering_Facility_Zip] [varchar](max) NULL,
	[Ordering_Facility_TelephoneNumber] [varchar](max) NULL,
	[Rn] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
