USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[uspLoginCheck]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspLoginCheck]
    @pLoginName VARCHAR(200),
    @pPassword VARCHAR(200),
    @responseMessage NVARCHAR(250)='' OUTPUT
AS
BEGIN

    SET NOCOUNT ON

    DECLARE @id INT;

    IF EXISTS (SELECT TOP 1 id FROM dbo.[UserDetails] WHERE username=@pLoginName)
    BEGIN
        SET @id=(SELECT id FROM dbo.[UserDetails] WHERE 
		username=@pLoginName AND PasswordHash=HASHBYTES('SHA2_512',
		@pPassword))

       IF(@id IS NULL)
           SET @responseMessage='Incorrect password'
       ELSE 
           SET @responseMessage='Valid Login'
    END
    ELSE
       SET @responseMessage='Invalid login'

END
GO
