USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PrapareQuestionaire]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrapareQuestionaire](
	[Completed Time] [datetime] NULL,
	[Questionnaire Result ID] [int] NULL,
	[Clinic] [nvarchar](255) NULL,
	[Patient EHR ID] [int] NULL,
	[Questionnaire Name] [varchar](255) NULL,
	[Questionnaire Type] [varchar](255) NULL,
	[Question] [varchar](255) NULL,
	[Answerr] [varchar](255) NULL
) ON [PRIMARY]
GO
