USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PatientMedicationList_old]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedicationList_old](
	[PMID] [int] IDENTITY(1,1) NOT NULL,
	[globalid] [int] NULL,
	[patientid] [varchar](50) NOT NULL,
	[Patientname_Liberty] [varchar](101) NULL,
	[Drug_name] [varchar](75) NULL,
	[sigs] [nvarchar](1000) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[Pharmacy] [nvarchar](100) NOT NULL,
	[DateDispensedSQL] [date] NULL,
	[Sb_LastModified] [datetime] NULL,
	[st_LastModified] [datetime] NULL,
	[DateWrittenSQL] [date] NULL,
	[ScriptNumber] [int] NOT NULL,
	[TimeStampAsOfDate] [date] NULL,
	[OnHold] [varchar](50) NULL,
	[createddate] [datetime] NULL,
	[createdby] [varchar](100) NULL,
	[Modifieddate] [datetime] NULL,
	[Modifiedby] [varchar](100) NULL,
	[DMLType] [varchar](10) NULL,
	[Source] [varchar](20) NULL,
	[Lid] [int] NULL
) ON [PRIMARY]
GO
