USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_hc_procedurecode]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_hc_procedurecode](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PROCEDURECODEID] [numeric](12, 0) NULL,
	[PROCEDURECODE] [varchar](200) NULL,
	[PROCEDURECODEDESCRIPTION] [varchar](2000) NULL,
	[PROCEDURECODEGROUPID] [numeric](12, 0) NULL,
	[PROCEDURECODEGROUP] [varchar](500) NULL,
	[EFFECTIVEDATE] [datetime2](7) NULL,
	[EXPIRATIONDATE] [datetime2](7) NULL,
	[RVU] [numeric](13, 2) NULL,
	[UDSYN] [varchar](200) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDDATETIME] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](200) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
