USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PatientView_old]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientView_old](
	[PVId] [int] IDENTITY(1,1) NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[PatientName] [varchar](152) NULL,
	[DateOfBirth] [date] NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Medassist] [varchar](10) NULL,
	[LastPackDate] [date] NULL,
	[NextPackDate] [date] NULL
) ON [PRIMARY]
GO
