USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Clarity3Destination]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clarity3Destination](
	[FirstName] [nvarchar](255) NULL,
	[lastName] [nvarchar](255) NULL,
	[DateOfBirth] [nvarchar](255) NULL,
	[timestamp] [nvarchar](255) NULL,
	[Event Subtype] [nvarchar](255) NULL,
	[Event Type] [nvarchar](255) NULL,
	[Device Info] [nvarchar](255) NULL,
	[Source Device ID] [nvarchar](255) NULL,
	[Glucose Value] [float] NULL,
	[Insulin Value] [nvarchar](255) NULL,
	[Carb Value] [nvarchar](255) NULL,
	[Duration] [datetime] NULL,
	[Transmitter ID] [nvarchar](255) NULL,
	[Transmitter Time] [nvarchar](255) NULL,
	[Indicator] [nvarchar](523) NULL
) ON [PRIMARY]
GO
