USE [TrainingDB]
GO
/****** Object:  Table [dbo].[PatientMedTimeSlots]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedTimeSlots](
	[TimeSlotId] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlot1] [varchar](10) NULL,
	[TimeSlot2] [varchar](10) NULL,
	[TimeSlot3] [varchar](10) NULL,
	[TimeSlot4] [varchar](10) NULL,
	[PVID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Updateddate] [datetime] NULL
) ON [PRIMARY]
GO
