USE [TrainingDB]
GO
/****** Object:  Table [dbo].[CityWiseCounts]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityWiseCounts](
	[place name] [varchar](200) NULL,
	[latitude] [varchar](50) NULL,
	[longitude] [varchar](50) NULL,
	[IsLibpharmacy] [int] NOT NULL,
	[State] [varchar](200) NULL,
	[Zip] [varchar](200) NULL,
	[CNT] [int] NULL,
	[Country] [varchar](13) NOT NULL
) ON [PRIMARY]
GO
