USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_hc_vitalsign]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_hc_vitalsign](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[ENCOUNTERDATAID] [numeric](12, 0) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[KEY] [varchar](max) NULL,
	[KEYID] [numeric](12, 0) NULL,
	[VALUE] [varchar](max) NULL,
	[DBUNIT] [varchar](max) NULL,
	[DISPLAYUNIT] [varchar](max) NULL,
	[DISPLAYVALUE] [float] NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[TYPE] [varchar](11) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
