USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Htn_Doc]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Htn_Doc](
	[Patient_MRN] [numeric](12, 0) NULL,
	[Patient_FirstName] [varchar](max) NULL,
	[Patient_LastName] [varchar](max) NULL,
	[Patient_Gender] [varchar](6) NOT NULL,
	[Patient_Age] [int] NULL,
	[Systolic] [varchar](max) NULL,
	[Date_of_Systolic] [datetime2](7) NULL,
	[Diastolic] [varchar](max) NULL,
	[Date_of_Diastolic] [datetime2](7) NULL,
	[Smoking_status] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
