USE [TrainingDB]
GO
/****** Object:  UserDefinedTableType [dbo].[PatientMedSigQuantityUpdateType]    Script Date: 7/27/2026 6:40:55 AM ******/
CREATE TYPE [dbo].[PatientMedSigQuantityUpdateType] AS TABLE(
	[Quantity1] [decimal](10, 2) NULL,
	[Quantity2] [decimal](10, 2) NULL,
	[Quantity3] [decimal](10, 2) NULL,
	[Quantity4] [decimal](10, 2) NULL,
	[PMID] [int] NULL
)
GO
