USE [TrainingDB]
GO
/****** Object:  Table [dbo].[CSVInfo]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSVInfo](
	[ProductNDC] [varchar](50) NULL,
	[GenericName] [nvarchar](max) NULL,
	[LabelerName] [nvarchar](max) NULL,
	[BrandName] [nvarchar](max) NULL,
	[BrandNameSuffix] [nvarchar](max) NULL,
	[DosageForm] [nvarchar](100) NULL,
	[ProductType] [nvarchar](100) NULL,
	[PackageNDC] [varchar](50) NULL,
	[ActiveIngredient] [nvarchar](max) NULL,
	[Strength] [nvarchar](max) NULL,
	[ManufacturerName] [nvarchar](max) NULL,
	[ApplicationNumber] [nvarchar](50) NULL,
	[MarketingStartDate] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
