USE [TrainingDB]
GO
/****** Object:  Table [dbo].[whisman_janie test]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[whisman_janie test](
	[Index] [nvarchar](50) NULL,
	[Timestamp_YYYY_MM_DDThh_mm_ss] [nvarchar](1) NULL,
	[Event_Type] [nvarchar](50) NULL,
	[Event_Subtype] [nvarchar](1) NULL,
	[Patient_Info] [nvarchar](50) NULL,
	[Device_Info] [nvarchar](1) NULL,
	[Source_Device_ID] [nvarchar](1) NULL,
	[Glucose_Value_mg_dL] [nvarchar](1) NULL,
	[Insulin_Value_u] [nvarchar](1) NULL,
	[Carb_Value_grams] [nvarchar](1) NULL,
	[Duration_hh_mm_ss] [nvarchar](1) NULL,
	[Glucose_Rate_of_Change_mg_dL_min] [nvarchar](1) NULL,
	[Transmitter_Time_Long_Integer] [nvarchar](1) NULL
) ON [PRIMARY]
GO
