USE [TrainingDB]
GO
/****** Object:  Table [dbo].[MedicationList]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationList](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientID] [nvarchar](max) NULL,
	[MedicationName] [nvarchar](max) NULL,
	[DispensedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MedicationList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
