USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadLandingToODS_DV_Test]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec [dbo].[sp_LoadLandingToODS_DV_Test] 
--'TrainingDB'-- @TableCatalog varchar(500)--TrainingDB
--,'dbo'-- ,@TableSchema varchar(500) --dbo
--,'APPOINTMENTCOMMUNICATOR_DV_ODS'-- ,@TableName varchar(500)  -- target table name
--,'APPOINTMENTCOMMUNICATOR_DV_ODS'-- ,@TargetName varchar(1000) --target table 
--,'APPOINTMENTCOMMUNICATOR_DV_Landing'-- ,@SourceName varchar(1000) ---source table 
--,''-- ,@PackageName varchar(1000)
--,''-- ,@PackageId VARCHAR(100)

CREATE PROC [dbo].[sp_LoadLandingToODS_DV_Test]
(
  @TableCatalog varchar(500)--TrainingDB
 ,@TableSchema varchar(500) --dbo
 ,@TableName varchar(500)  -- target table name
 ,@TargetName varchar(1000) --target table 
 ,@SourceName varchar(1000) ---source table 
 ,@PackageName varchar(1000)
 ,@PackageId VARCHAR(100)
)
AS
BEGIN
SET NOCOUNT ON
-- Truncate the DynamicMerge table every time you use it
TRUNCATE TABLE DynamicMerge_DV_Test

DECLARE
  -- @TableCatalog varchar(500)  --- ='TrainingDB' -- This is the database name
  --,@TableSchema varchar(500)   ---   ='dbo'  -- Schema for your target table
  --,@TableName varchar(500)     --- ='APPOINTMENTCOMMUNICATOR_DV_ODS'  -- This is the table name
  --,@TargetName varchar(1000)   ---  ='APPOINTMENTCOMMUNICATOR_DV_ODS'  -- Three part name
  --,@SourceName varchar(1000)   ---   ='APPOINTMENTCOMMUNICATOR_DV_Landing' -- Three part name
  @RowCount INT=0
  ,@RowCountBefore INT=0
  ,@RowCountAfter INT=0
  --,@PackageName varchar(1000)
  --,@PackageId UniqueIdentifier
  --,@SourceIndicator varchar(100)

  SET @TableCatalog=@TableCatalog
  SET @TableSchema=@TableSchema
  SET @TableName=  @TableName
  SET @TargetName= @TargetName
  SET @SourceName =@SourceName 
  SET @PackageName=@PackageName
  SET @PackageId=@PackageId

  select * from DynamicMerge_DV_Test

INSERT INTO DynamicMerge_DV_Test (
   TableCatalog
  ,TableSchema
  ,TableName
  ,ColumnName
  ,MergeOn
  ,UpdateOn
  ,InsertOn
  ,ExceptSource
  ,ExceptTarget )

SELECT
   TABLE_CATALOG
  ,TABLE_SCHEMA
  ,TABLE_NAME
  ,'['+COLUMN_NAME+']'
  ,'Target1.' + COLUMN_NAME + ' = Source1.' + '['+COLUMN_NAME+']'
  ,'['+COLUMN_NAME+']' + ' = Source1.' + '['+COLUMN_NAME+']'
  ,'Source1.' + '['+COLUMN_NAME+']' -- Except Source
  ,'Source1.' + '['+COLUMN_NAME+']' -- Except Target
  ,'Target1.' + '['+COLUMN_NAME +']'
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_CATALOG = @TableCatalog
   AND TABLE_SCHEMA = @TableSchema
   AND TABLE_NAME = @TableName --target table name
   AND COLUMN_NAME NOT IN ('Record_Created_Date','Record_Updated_Date')


--------------------------------------------------------

-- Update the Primary Key flag

UPDATE dt
   SET IsPK = 1 
FROM DynamicMerge_DV_Test dt
INNER JOIN GetMergeTables_Test ku ON dt.ColumnName =ku.PKColumnlist
   AND ku.SourceTable = dt.TableName;
  -- OR dt.ColumnName='Source_Indicator';

------------------------------------------------------------------
--DECLARE
--   @TableCatalog varchar(500) ='TrainingDB' -- This is the database name
--  ,@TableSchema varchar(500) ='dbo'  -- Schema for your target table
--  ,@TableName varchar(500)  ='APPOINTMENTCOMMUNICATOR_DV_ODS'  -- This is the table name
--  ,@TargetName varchar(1000) ='APPOINTMENTCOMMUNICATOR_DV_ODS'  -- Three part name
--   ,@SourceName varchar(1000) ='APPOINTMENTCOMMUNICATOR_DV_Landing' -- Three part name
--   ,@RowCount INT=0
--  ,@RowCountBefore INT=0
--  ,@RowCountAfter INT=0
--  ,@PackageName varchar(1000)
--  ,@PackageId UniqueIdentifier
--  ,@SourceIndicator varchar(100)
-----------------------------------------------------------------

-- Create the Column list variable

DECLARE @ColumnList varchar(max)
   SET @ColumnList = (
      SELECT STUFF((SELECT ',' + ColumnName + CHAR(10)
      FROM DynamicMerge_DV_Test x1
      WHERE x1.TableName = x2.TableName
      FOR XML PATH ('')), 1, 1,'') AS MergeOnColumns
      FROM DynamicMerge_DV_Test x2
GROUP BY TableName);

--------------------------------------------------------

-- Create the MergeOnSource variable - matching the unique key

DECLARE @MergeOn varchar(max)
   SET @MergeOn = (
      SELECT STUFF((SELECT 'AND ' + MergeOn + CHAR(10)
      FROM DynamicMerge_DV_Test x1
      WHERE x1.TableName = x2.TableName AND x1.IsPK = 1
      FOR XML PATH ('')), 1, 4,'')  
      FROM DynamicMerge_DV_Test x2
      WHERE IsPK = 1
GROUP BY TableName);

-----------------------------------------
-----------------------------------

-- Create the Merge UPDATE variable

DECLARE @MUpdate varchar(max)
   SET @MUpdate = (
      SELECT STUFF((SELECT ',' + UpdateOn  + CHAR(10)
      FROM DynamicMerge_DV_Test x1
      WHERE x1.TableName = x2.TableName --AND x1.IsPK = 0
      FOR XML PATH ('')), 1, 1,'') -- AS UpdateOnColumns
      FROM DynamicMerge_DV_Test x2
      WHERE isnull(IsPK,0) = 0
GROUP BY TableName);
SELECT @MUpdate

-----------------------------------

-- Create the Merge INSERT variable

DECLARE @MInsert varchar(max)
   SET @MInsert = (
      SELECT STUFF((SELECT ',' + InsertOn +CHAR(10)
      FROM DynamicMerge_DV_Test x1
      WHERE x1.TableName = x2.TableName
      FOR XML PATH ('')), 1, 1,'') -- AS UpdateOnColumns
      FROM DynamicMerge_DV_Test x2
GROUP BY TableName);
--SELECT @MInsert
--------------------------------------------------------------------------
/* Now build the MERGE statement. In the query results window, make sure to output to text and not grid. You will need to increase the character output from the defaults. This is explained at the beginning of this document. */

-- Note* CHAR(10) is a line feed control character. CHAR(13) is a carriage return.
 
 
  --SET @RowCountBefore=(SELECT COUNT(*) FROM @SourceName)

DECLARE @SQL VARCHAR(MAX)
--DECLARE @SummaryOfChanges TABLE(Change VARCHAR(20));
SET @SQL=  'DECLARE @RowCountAfter VARCHAR(100)' + CHAR(10)+
    'CREATE TABLE  #SummaryOfChanges (Change VARCHAR(20));'+CHAR(10)+
    'MERGE ' + @TargetName + ' AS Target1' + CHAR(10)
   + 'USING (SELECT ' + @ColumnList + 'FROM ' + @SourceName + ') AS Source1' + CHAR(10)
   + CHAR(10)
   + 'ON (' + CHAR(10)
   + @MergeOn + ')' + CHAR(10)
   + CHAR(10)+
   'WHEN NOT MATCHED BY TARGET THEN INSERT (' + @ColumnList + ',Record_Created_Date,Record_Updated_Date)' + CHAR(10)
   + 'VALUES (' + @MInsert + ',GETDATE(),GETDATE())' +  
   + 'WHEN MATCHED '
   + 'THEN UPDATE' + CHAR(10)
   + 'SET ' + @MUpdate + ', Record_Updated_Date=GETDATE() 
   OUTPUT $action INTO #SummaryOfChanges;

'
   + CHAR(10)

   SELECT @SQL
   IF OBJECT_ID('tempdb..#SummaryOfChanges') IS NOT NULL
DROP TABLE #SummaryOfChanges
EXEC (@SQL)
---print @SQL
--select @TargetName,@ColumnList,@SourceName,@MergeOn ,@ColumnList, @MInsert,@MUpdate 

END

GO
