USE [TrainingDB]
GO
/****** Object:  Table [dbo].[med_NDC]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[med_NDC](
	[NDC_UPC_HRI] [char](11) NOT NULL,
	[DrugDescriptorIdentifier] [char](6) NOT NULL,
	[GenericProductPackagingCode] [char](8) NOT NULL,
	[LastChangeDate] [char](8) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
