USE [TrainingDB]
GO
/****** Object:  Table [dbo].[UsZipInfo]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsZipInfo](
	[country code] [varchar](50) NULL,
	[postal code] [varchar](50) NULL,
	[place name] [varchar](200) NULL,
	[admin name1] [varchar](200) NULL,
	[admin code1] [varchar](50) NULL,
	[admin name2] [varchar](200) NULL,
	[admin code2] [varchar](50) NULL,
	[admin name3] [varchar](50) NULL,
	[admin code3] [varchar](50) NULL,
	[latitude] [varchar](50) NULL,
	[longitude] [varchar](50) NULL,
	[accuracy] [varchar](50) NULL
) ON [PRIMARY]
GO
