USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PatientMedSigQuantityUpdateBatch]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_PatientMedSigQuantityUpdateBatch]
  @Medications PatientMedSigQuantityUpdateType READONLY
AS
BEGIN

-- Update the MedicationSchedule table for all medications in the batch
  UPDATE ms
  SET 
      ms.Quantity1 = m.Quantity1,
      ms.Quantity2 = m.Quantity2,
      ms.Quantity3 = m.Quantity3,
      ms.Quantity4 = m.Quantity4,ms.Updateddate=getdate()
  FROM PatientMedSigQuantity ms
  INNER JOIN @Medications m
  ON ms.PMID = m.PMID;

insert into PatientMedSigQuantity(PMID,Quantity1,Quantity2,Quantity3,Quantity4,CreatedDate,
Updateddate)

select m.PMID,m.Quantity1,m.Quantity2,m.Quantity3,m.Quantity4,getdate(),getdate()
FROM @Medications m
left join 
PatientMedSigQuantity ms
ON ms.PMID = m.PMID
where ms.pmid is null 

  
END

GO
