USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Chart_questions]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chart_questions](
	[Patientid] [numeric](12, 0) NULL,
	[CHARTID] [numeric](12, 0) NULL,
	[CHARTQUESTIONNAIREID] [numeric](12, 0) NULL,
	[key] [varchar](max) NULL,
	[ANSWERLISTLOINC] [varchar](max) NULL,
	[QUESTION] [varchar](max) NULL,
	[LOINC] [varchar](max) NULL,
	[ANSWER] [varchar](max) NULL,
	[ORDERING] [numeric](12, 0) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
