USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_HTN_Final_Report]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE  PROCEDURE [dbo].[SP_HTN_Final_Report]
AS
BEGIN
							IF OBJECT_ID('tempdb..#Athena_Patient') IS NOT NULL
									DROP TABLE #Athena_Patient
							IF OBJECT_ID('tempdb..#Systolic') IS NOT NULL
									DROP TABLE #Systolic
							IF OBJECT_ID('tempdb..#Diastolic') IS NOT NULL
									DROP TABLE #Diastolic
							IF OBJECT_ID('tempdb..#Diabet') IS NOT NULL
									DROP TABLE #Diabet
							IF OBJECT_ID('tempdb..#Smoking_Status') IS NOT NULL
									DROP TABLE #Smoking_Status
							IF OBJECT_ID('tempdb..#Allpatients') IS NOT NULL
									DROP TABLE #Allpatients
							IF OBJECT_ID(N'dbo.PP_HTN_Final_Table', N'U') IS NOT NULL 
									Drop table PP_HTN_Final_Table

Select 
P.PATIENTID 
,P.FIRSTNAME 
,P.LASTNAME
,sum(year(getdate())-year(P.dob)) as Patient_Age
,CASE WHEN P.sex='m' THEN'Male' WHEN P.sex='F' THEN 'Female'  ELSE 'Others' END Patient_Gender
INTO #Athena_Patient
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)
Group by p.PATIENTID
,p.FIRSTNAME
,p.LASTNAME
,P.sex 


-----------------ProviderName
begin
with provider as(
SELECT                        
CE.PATIENTID
,PR.PROVIDERID
--,PR.PROVIDERFIRSTNAME,
--PR.PROVIDERLASTNAME
,PR.SCHEDULINGNAME 
,ce.CREATEDDATETIME
,ROW_NUMBER() over (partition by ce.patientid order by ce.createddatetime DESC) recent
FROM PP_Athena_ODS.ATHENAONE.[PROVIDER] as PR (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.PROVIDERID=PR.PROVIDERID AND CE.CONTEXTID=CE.CONTEXTID
) 
select *  into #provider
from provider where recent=1
ORDER BY PATIENTID asc
end  

---------------------SYSTOLIC
begin
with SYST as (
select 
CE.PATIENTID 
--,CE.CLINICALENCOUNTERID
,VS.VALUE as Systolic
,VS.CREATEDDATETIME
,ROW_NUMBER() over (partition by CE.patientid order by VS.CREATEDDATETIME desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
where VS.[KEY] ='VITALS.BLOODPRESSURE.SYSTOLIC'
) 

select * into #Systolic
from SYST where recent=1     -------------107564  
end  

----------------DIASTOLIC
begin
with DIAS as (
select 
CE.PATIENTID 
--,CE.CLINICALENCOUNTERID
,(VS.VALUE) as DIASTOLIC
,VS.CREATEDDATETIME
,ROW_NUMBER() over (partition by CE.patientid order by VS.CREATEDDATETIME desc)recent
from PP_Athena_ODS.ATHENAONE.VITALSIGN as VS (nolock)
INNER join PP_Athena_ODS.ATHENAONE.ClinicalEncounter as CE (nolock) on CE.CLINICALENCOUNTERID=VS.CLINICALENCOUNTERID AND CE.CONTEXTID=VS.CONTEXTID
where VS.[KEY] ='VITALS.BLOODPRESSURE.DIASTOLIC'
)

select * into #Diastolic
from DIAS where recent=1     -------------34098 ---(In recent 1 sys value is '0' out of 15)  MISSING CE.ID -1
end

---------------SMOKING STATUS
begin 
with Smoking as (	
select
PSH.PATIENTID 
,PSH.SOCIALHISTORYANSWER AS Smoking_status,
ROW_NUMBER() over (partition by PSH.patientid order by PSH.createddatetime DESC) recent
FROM PP_Athena_ODS.ATHENAONE.PATIENTSOCIALHISTORY as PSH (nolock)
where PSH.SOCIALHISTORYKEY like '%SMOKINGSTATUS%') ---AND SOCIALHISTORYANSWER is null )

select * into #Smoking_Status 
from smoking where recent =1   ------------ 64931 
end

----------------All patient detailed temptable
select 
P.PATIENTID as Patient_MRN, 
P.FIRSTNAME as Patient_FirstName, 
P.LASTNAME as Patient_LastName, 
P.Patient_Gender, 
P.Patient_Age,
SY.Systolic, 
SY.CREATEDDATETIME as  Date_of_Systolic,
DIAS.Diastolic, 
DIAS.CREATEDDATETIME as Date_of_Diastolic,
PR.PROVIDERID,
PR.SCHEDULINGNAME,
--PR.PROVIDERFIRSTNAME,
--PR.PROVIDERLASTNAME,
sk.Smoking_status 
into #Allpatients
FROM #Athena_Patient as P 
left join #Systolic AS SY ON SY.PATIENTID=P.PATIENTID
left join #Diastolic AS DIAS ON DIAS.PATIENTID=P.PATIENTID
Left join #Smoking_Status AS SK ON SK.PATIENTID=P.PATIENTID
Left join #provider AS PR ON PR.PATIENTID=P.PATIENTID
ORDER BY P.PATIENTID 


---------------Disease
BEGIN 
WITH Disease AS (
SELECT D.PATIENTID,
--DP.DEPARTMENTID,
--DP.DEPARTMENTNAME,
--D.DOCUMENTID,
--S.SNOMEDCODE,
S.[DESCRIPTION] AS Diabetes,
D.createddatetime,
ROW_NUMBER() OVER ( PARTITION BY d.PATIENTID ORDER BY d.CREATEDDATETIME DESC) AS recent
FROM PP_Athena_ODS.ATHENAONE.DOCUMENT D (nolock)
JOIN PP_Athena_ODS.ATHENAONE.DOCUMENTDIAGNOSIS DD (nolock) ON D.DOCUMENTID=DD.DOCUMENTID
JOIN PP_Athena_ODS.ATHENAONE.SNOMED S (nolock) ON S.SNOMEDCODE=DD.SNOMEDCODE
--Join PP_Athena_ODS.ATHENAONE.DEPARTMENT DP (nolock) ON DP.DEPARTMENTID=D.DEPARTMENTID and DP.CONTEXTID=D.CONTEXTID
WHERE S.[SNOMEDCODE] NOT IN (11687002,34818008,46894009,75022004,472699005,472971004,721151003,40791000119105	 
,40801000119106,85031000119106,10753491000119100,190416008,190447002) and
D.CREATEDDATETIME >= DATEADD(month,-6,getdate())
)
select * into #Disease       
from Disease where recent =1   -----------------------42232
end

--------------Final_Table_Result
select 
Patient_MRN, 
Patient_FirstName, 
Patient_LastName, 
P.Patient_Gender, 
P.Patient_Age,
--SY.CLINICALENCOUNTERID,
--DIAB.DOCUMENTID,
--DIAB.SNOMEDCODE,
P.Systolic, 
P.Date_of_Systolic,
P.Diastolic, 
P.Date_of_Diastolic,
P.PROVIDERID,
P.SCHEDULINGNAME,
--P.PROVIDERFIRSTNAME,
--P.PROVIDERLASTNAME,
--DIAB.DEPARTMENTID,
--DIAB.DEPARTMENTNAME,
P.Smoking_status, 
DIAB.DIABETES,
DIAB.CREATEDDATETIME 
into  PP_HTN_Final_Table  
FROM #Allpatients as P 
JOIN #Disease AS DIAB ON DIAB.PATIENTID=P.Patient_MRN
ORDER BY Diab.PATIENTID asc

END
GO
