USE [TrainingDB]
GO
/****** Object:  Table [dbo].[AP_ScriptTable]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AP_ScriptTable](
	[patientid] [varchar](50) NOT NULL,
	[PatientName] [varchar](101) NOT NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[ZIP] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[GENDER] [varchar](50) NULL,
	[DrugId] [varchar](50) NULL,
	[source_indicator] [nvarchar](max) NOT NULL,
	[Copay] [decimal](9, 2) NULL,
	[RequestedACQ] [decimal](9, 2) NULL,
	[RequestedAWP] [decimal](9, 2) NULL,
	[RequestedFee] [decimal](9, 2) NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[yer] [int] NULL,
	[MNTH] [int] NULL,
	[new] [int] NOT NULL,
	[old] [int] NOT NULL,
	[RequestedTotal] [decimal](9, 2) NULL,
	[Total] [decimal](9, 2) NULL,
	[total_reimb] [decimal](10, 2) NULL,
	[profit] [decimal](10, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
