USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Patient_testreport]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_testreport](
	[Patient_MRN] [int] NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[PatientAge] [varchar](20) NULL,
	[PatientGender] [varchar](20) NULL,
	[BP_Systolic] [nvarchar](100) NULL,
	[Date_Systolic] [datetime] NULL,
	[BP_Diastolic] [nvarchar](100) NULL,
	[Date_diastolic] [datetime] NULL,
	[SmokingStatus] [nvarchar](100) NULL,
	[Diabetic] [nvarchar](100) NULL
) ON [PRIMARY]
GO
