USE [TrainingDB]
GO
/****** Object:  Table [dbo].[AthenaDataView]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AthenaDataView](
	[SNO] [int] NULL,
	[TABLEID] [int] NULL,
	[SCHEMANAME] [varchar](255) NULL,
	[TABLE DESCRIPTION] [varchar](255) NULL,
	[TABLE NAME] [varchar](255) NULL,
	[COLUMNNAME] [varchar](255) NULL,
	[DATATYPE] [varchar](255) NULL,
	[PRIMARYKEY] [varchar](255) NULL,
	[VarcharDataType] [varchar](100) NULL,
	[TableType] [varchar](100) NULL
) ON [PRIMARY]
GO
