USE [TrainingDB]
GO
/****** Object:  Table [dbo].[AthenaDV_VarcharCol_MaxLength]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AthenaDV_VarcharCol_MaxLength](
	[TABLE_SCHEMA] [varchar](255) NULL,
	[TABLE_NAME] [varchar](255) NULL,
	[COLUMN_NAME] [varchar](255) NULL,
	[MAXLEN] [float] NULL
) ON [PRIMARY]
GO
