USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Covid_Dec16]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Covid_Dec16](
	[NPI] [float] NULL,
	[PATIENT_MRN] [float] NULL,
	[SSN] [nvarchar](255) NULL,
	[PATIENT_LASTNAME] [nvarchar](255) NULL,
	[PATIENT_FIRSTNAME] [nvarchar](255) NULL,
	[PATIENTDATE_OF_BIRTH] [float] NULL,
	[PATIENTGENDER] [nvarchar](255) NULL,
	[PATIENTRACE] [nvarchar](255) NULL,
	[PATIENT_RACEDESCRIPTION] [nvarchar](255) NULL,
	[PATIENT_ETHICITY] [nvarchar](255) NULL,
	[PATIENT_ETHINICITYDESCRIPTION] [nvarchar](255) NULL,
	[PATIENT_PHONE] [nvarchar](255) NULL,
	[PATIENT_EMAIL] [nvarchar](255) NULL,
	[PATIENT_ADDRESS1] [nvarchar](255) NULL,
	[PATIENT_ADDRESS2] [nvarchar](255) NULL,
	[PATIENTCITY] [nvarchar](255) NULL,
	[PATIENTSTATE] [nvarchar](255) NULL,
	[PATIENTZIP] [float] NULL,
	[COUNTY_OF_RESIDENCE] [nvarchar](255) NULL,
	[TESTNAME] [nvarchar](255) NULL,
	[TESTLOINC] [nvarchar](255) NULL,
	[TESTRESULT] [nvarchar](255) NULL,
	[UNIT] [nvarchar](255) NULL,
	[REF_RANGE] [nvarchar](255) NULL,
	[OBSERVATIONDATETIME] [float] NULL,
	[ORDER_NO] [float] NULL,
	[COLLECTDATE] [float] NULL,
	[PROVIDERLASTNAME] [nvarchar](255) NULL,
	[PROVIDERADDRESS1] [nvarchar](255) NULL,
	[PROVIDERADDRESS2] [nvarchar](255) NULL,
	[PROVIDERCITY] [nvarchar](255) NULL,
	[PROVIDERSTATE] [nvarchar](255) NULL,
	[PROVIDERZIP] [nvarchar](255) NULL,
	[PROVIDERMOBILE_NO] [nvarchar](255) NULL,
	[SPECIMENSOURCE] [nvarchar](255) NULL,
	[SPECIMENTYPE] [nvarchar](255) NULL,
	[ONSETDATE] [nvarchar](255) NULL,
	[SYMPTOMS] [nvarchar](255) NULL,
	[HCW] [nvarchar](255) NULL,
	[CONGREGATE] [nvarchar](255) NULL,
	[HOSPITALIZATION] [nvarchar](255) NULL,
	[FIRST_TEST_YES_NO] [nvarchar](255) NULL,
	[ICU] [nvarchar](255) NULL,
	[PREGNANT] [nvarchar](255) NULL,
	[NAME_OF_TESTING_PRODUCT] [nvarchar](255) NULL,
	[DEVICE_IDENTIFIER] [nvarchar](255) NULL,
	[DATE_TEST_ORDERED] [nvarchar](255) NULL,
	[PERFORMING_FACILITY_NAME] [nvarchar](255) NULL,
	[PERFORMING_FACILITY_ADDRESS1] [nvarchar](255) NULL,
	[PERFORMING_FACILITY_ADDRESS2] [nvarchar](255) NULL,
	[PERFORMING_FACILITY_CITY] [nvarchar](255) NULL,
	[PERFORMING_FACILITY_STATE] [nvarchar](255) NULL,
	[PERFORMING_FACILITY_ZIP] [float] NULL,
	[PERFORMING_FACILITY_TELEPHONENUMBER] [nvarchar](255) NULL,
	[ORDERING_FACILITY_NAME] [nvarchar](255) NULL,
	[ORDERING_PROVIDER_NUMBER] [float] NULL,
	[ORDERING_PROVIDER_NAME] [nvarchar](255) NULL,
	[PATIENT_MIDDLEINITIAL] [nvarchar](255) NULL,
	[ORDERING_FACILITY_ADDRESS1] [nvarchar](255) NULL,
	[ORDERING_FACILITY_ADDRESS2] [nvarchar](255) NULL,
	[ORDERING_FACILITY_CITY] [nvarchar](255) NULL,
	[ORDERING_FACILITY_STATE] [nvarchar](255) NULL,
	[ORDERING_FACILITY_ZIP] [float] NULL,
	[ORDERING_FACILITY_TELEPHONENUMBER] [nvarchar](255) NULL,
	[RN] [float] NULL
) ON [PRIMARY]
GO
