USE [TrainingDB]
GO
/****** Object:  Table [dbo].[LibertyMedicinesInfo_6M]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibertyMedicinesInfo_6M](
	[Drug_name] [varchar](75) NULL,
	[patientid] [varchar](50) NOT NULL,
	[Patientname_Liberty] [varchar](101) NULL,
	[DOB_Liberty] [date] NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[SSN] [varchar](8000) NULL,
	[globalid] [varchar](50) NULL,
	[Prescriber] [varchar](101) NULL,
	[source_indicator] [nvarchar](100) NOT NULL,
	[DateDispensedSQL] [date] NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[ScriptNumber] [int] NOT NULL,
	[cScriptBaseId] [numeric](18, 0) NOT NULL,
	[cQueueId] [int] NULL,
	[QueueName] [varchar](50) NULL,
	[RnkId] [bigint] NULL,
	[st_LastModified] [datetime] NULL,
	[sigs] [nvarchar](1000) NULL,
	[st_queuename] [varchar](50) NULL,
	[OnHold] [varchar](50) NULL,
	[Sb_LastModified] [datetime] NULL,
	[cScriptTransactionId] [numeric](18, 0) NOT NULL,
	[Deriveddatedispensedsql] [date] NULL,
	[DateWritten] [date] NULL,
	[Location] [nvarchar](150) NULL
) ON [PRIMARY]
GO
