USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_45ServerStatus]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_45ServerStatus]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @JobStatus NVARCHAR(100) = ''; -- Initialize the variable
    DECLARE @ElapsedTime INT = 0;
    DECLARE @StartTime DATETIME = GETDATE(); -- Record the start time

    -- Step 2.2: Loop until the job is either successful or has run for more than 10 minutes
    WHILE @ElapsedTime <= 4
    BEGIN
        -- Check the job status
        SELECT TOP 1
            @JobStatus = CASE
                WHEN run_status = 0 THEN 'Failed'
                WHEN run_status = 1 THEN 'Executing'
                WHEN run_status = 3 THEN 'Success'
                ELSE 'Unknown'
            END
        FROM msdb.dbo.sysjobhistory
        WHERE job_id = (
            SELECT job_id
            FROM msdb.dbo.sysjobs
            WHERE name = 'Check45ServerStatus' -- Replace with your actual job name
        )
        ORDER BY run_date DESC, run_time DESC;

        -- Debug information
        PRINT 'Job Status after ' + CAST(@ElapsedTime AS NVARCHAR(10)) + ' minutes: ' + @JobStatus;

        IF @JobStatus = 'Success' OR @JobStatus = 'Failed'
        BEGIN
            -- If the job status is 'Success' or 'Failed', exit the loop
            BREAK;
        END

        -- Wait for 2 minutes or until 10 minutes have elapsed
        WAITFOR DELAY '00:02:00';

        -- Update elapsed time based on current time
        SET @ElapsedTime = DATEDIFF(MINUTE, @StartTime, GETDATE());
    END

    -- Step 2.4: Check the final job status and take action
    IF @JobStatus = 'Success'
    BEGIN
        -- Your logic for a successful execution
        PRINT 'Job Check45ServerStatus succeeded. Executing stored procedure.';
        -- Your additional logic here
    END
    ELSE
    BEGIN
        -- Your logic for a failed or timeout execution
        PRINT 'Job Check45ServerStatus failed or timed out. Aborting stored procedure.';
        -- Your additional logic here
    END
END;
GO
