USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SPAP_ScriptDashboard]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPAP_ScriptDashboard]
as
begin
        	
					----	IF OBJECT_ID('tempdb..#TempTableAP2') IS NOT NULL
					----				DROP TABLE #TempTableAP2
Truncate table AP_ScriptDashboard
insert into AP_ScriptDashboard
SELECT 
rp.patientid,
CONCAT(RP.firstname,' ',RP.lastname) AS PatientName,
CITY,
[STATE],
ZIP,
rp.DateOfBirth as DateOfBirth,
GENDER, 
rt.DrugId,
rt.source_indicator,
rt.Copay,
rt.RequestedACQ,
rt.RequestedAWP,
rt.RequestedFee,
rt.Record_Created_Date,
datepart(yyyy,rt.Record_Created_Date) yer,datepart(MM, rt.Record_Created_Date) as MNTH
,CASE when refillnumber=0 then  1 else 0 end as new,
CASE when refillnumber>0 then  1 else 0 end as old,
RequestedTotal,
Total,
Total+Copay as total_reimb,
RequestedAWP+RequestedFee as profit

----INTO #TempTableAP2

FROM pp_ods..rxqScriptTransaction rt (NOLOCK)
INNER join pp_ods..rxqScriptBase rs (NOLOCK)
on rt.ScriptNumber = rs.ScriptNumber AND rt.Source_Indicator = rs.Source_Indicator
INNER join pp_ods..rxqPatient rp (NOLOCK)
on rp.patientid=rs.patientid and rp.Source_Indicator=rs.Source_Indicator
select * from  pp_ods..rxqPatient 
end

GO
