USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[Usp_ExporttoMedicationList]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_ExporttoMedicationList](@globalid int ,
    @numberOfRecords INT ,
	@createduser varchar(100)
	)
AS
BEGIN
    SET NOCOUNT ON;

    WITH RandomRecords AS (
        SELECT TOP (@numberOfRecords) *
        FROM Liberty_Past6months_CompPack
		where globalid=@globalid
        ORDER BY NEWID()
    )

	
	insert into  [dbo].[PatientMedicationList](
   
	[globalid] ,
	[patientid] ,
	[Patientname_Liberty] ,
	[Drug_name] ,
	[sigs] ,[QuantityDispensed] ,
	Pharmacy ,
	[DateDispensedSQL],
	[Sb_LastModified] ,
	[st_LastModified] ,
	[DateWrittenSQL] ,
	[ScriptNumber],
	[TimeStampAsOfDate] ,
	[OnHold] ,
	createddate  ,
	createdby ,
	Modifieddate ,
	Modifiedby ,
	DMLType ,
	Source ,
	Lid
) 
    
    SELECT 
	[globalid] ,
	[patientid] ,
	[Patientname_Liberty] ,
	[Drug_name] ,
	[sigs] ,[QuantityDispensed] ,
	case when Source_Indicator='VB' then 'Vanceburg'      
when Source_Indicator='MV' then 'MaysVille'       
when Source_Indicator='TB' then 'Tollesboro'       
when Source_Indicator='CEN' then 'MaysvillePack'       
when Source_Indicator='SS' then 'SouthShore'       
when Source_Indicator='BC' then 'Augusta'       
when Source_Indicator='FB' then 'Flemingsburg'       
when Source_Indicator='ASH' then 'Ashland'       
when Source_Indicator='GR' then 'Grayson' 
when Source_Indicator='MH' then 'MoreHead'
end as Pharmacy ,
	[DateDispensedSQL],
	[Sb_LastModified] ,
	[st_LastModified] ,
	[DateWrittenSQL] ,
	[ScriptNumber],
	[TimeStampAsOfDate] ,
	[OnHold] ,
	getdate() createddate  ,
	@createduser as createdby ,
	null  as Modifieddate ,
	null as Modifiedby ,
	'Insert' as DMLType ,
	'Export from Liberty 'Source
	,lid
    FROM RandomRecords;
END;

GO
