USE [TrainingDB]
GO
/****** Object:  Table [dbo].[MDL_HoldTransaction]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDL_HoldTransaction](
	[RefillNumber] [int] NOT NULL,
	[DateDispensedSQL] [date] NULL,
	[TimeStampAsOfDate] [date] NULL,
	[st_LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[PromiseDateTime] [datetime] NULL,
	[st_queuename] [varchar](50) NULL,
	[Gid_QueueName] [varchar](50) NULL,
	[LastRefillNumber] [int] NULL,
	[PatientId] [varchar](50) NULL,
	[GlobalId] [varchar](50) NULL,
	[DateWrittenSQL] [date] NULL,
	[OnHold] [varchar](50) NULL,
	[Sb_LastModified] [datetime] NULL
) ON [PRIMARY]
GO
