USE [TrainingDB]
GO
/****** Object:  Table [dbo].[OutcomesMTM_old]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutcomesMTM_old](
	[NCPDP] [int] NOT NULL,
	[CENTERNAME] [nvarchar](50) NOT NULL,
	[PATIENTID_ALL] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[DOB] [datetime2](7) NOT NULL,
	[ADDRESS1] [nvarchar](50) NOT NULL,
	[ADDRESS2] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NOT NULL,
	[STATE] [nvarchar](50) NOT NULL,
	[ZIPCODE] [int] NOT NULL,
	[PHONE] [float] NULL,
	[POLICYNAME] [nvarchar](50) NOT NULL,
	[PRIMARYPHARMACY] [bit] NOT NULL,
	[PCTFILLATCENTER] [nvarchar](50) NULL,
	[TIPGENERATIONDT] [datetime2](7) NULL,
	[REASONCODE] [int] NULL,
	[REASONTYPEDESC] [nvarchar](50) NULL,
	[ACTIONCODE] [int] NULL,
	[ACTIONNM] [nvarchar](50) NULL,
	[TIPTITLE] [nvarchar](100) NOT NULL,
	[PHARMACY_NPI] [int] NULL,
	[TIPTYPE] [nvarchar](50) NULL,
	[PHARMACY_ADDRESS1] [nvarchar](50) NULL,
	[PHARMACY_ADDRESS2] [nvarchar](50) NULL,
	[PHARMACY_CITY] [nvarchar](50) NULL,
	[PHARMACY_STATE] [nvarchar](50) NULL,
	[PHARMACY_ZIP] [int] NULL,
	[TIP_EXPIRATION_DATE] [datetime2](7) NULL,
	[Last_CMR] [nvarchar](50) NULL
) ON [PRIMARY]
GO
