USE [TrainingDB]
GO
/****** Object:  Table [dbo].[340BRebateSample]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[340BRebateSample](
	[Date Dispensed] [datetime] NULL,
	[Date Written] [datetime] NULL,
	[Script Number] [int] NULL,
	[Refill Number] [int] NULL,
	[Drug NDC] [varchar](255) NULL,
	[Qty] [float] NULL,
	[Prescriber NPI] [varchar](255) NULL,
	[Submitted Service Provider ID] [varchar](255) NULL,
	[Bin] [varchar](255) NULL,
	[Script Pcn] [varchar](255) NULL,
	[Customer Group Number] [varchar](255) NULL,
	[Drug 340B] [varchar](255) NULL
) ON [PRIMARY]
GO
