USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Dump]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dump](
	[LastName] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[MiddleInitial] [nvarchar](255) NULL,
	[PatientId] [float] NULL,
	[Street] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Zip] [float] NULL,
	[ZipPlus] [nvarchar](255) NULL,
	[Phone] [float] NULL,
	[DateOfBirth] [datetime] NULL,
	[Gender] [nvarchar](255) NULL,
	[SocialSecurityNumber] [float] NULL,
	[PriceFormula] [nvarchar](255) NULL,
	[Discount] [float] NULL,
	[ChildProofTop] [nvarchar](255) NULL,
	[Language] [nvarchar](255) NULL,
	[ProfileFrequency] [nvarchar](255) NULL,
	[RxCountYearToDate] [float] NULL,
	[ChargeCode] [nvarchar](255) NULL,
	[StartDate] [nvarchar](255) NULL,
	[LastDateUsed] [datetime] NULL,
	[NursingHome] [nvarchar](255) NULL,
	[Comment] [nvarchar](255) NULL,
	[CrossCheckSwitch] [nvarchar](255) NULL,
	[DriversLicenseNumber] [nvarchar](255) NULL,
	[SmokerCode] [nvarchar](255) NULL,
	[PregnancyIndicator] [nvarchar](255) NULL,
	[EmailAddress] [nvarchar](255) NULL,
	[HippaSwitch] [nvarchar](255) NULL,
	[HippaDate] [datetime] NULL,
	[OverTheCounterDiscount] [float] NULL,
	[AlternateStreet] [nvarchar](255) NULL,
	[AlternateCity] [nvarchar](255) NULL,
	[AlternateState] [nvarchar](255) NULL,
	[AlternateZip] [nvarchar](255) NULL,
	[AlternatePhone] [float] NULL,
	[Suite] [nvarchar](255) NULL,
	[CountryCode] [nvarchar](255) NULL,
	[DeliveryDefault] [nvarchar](255) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [float] NULL,
	[FacilityChargeAccountId] [nvarchar](255) NULL,
	[TextingOption] [nvarchar](255) NULL,
	[PhoneType] [nvarchar](255) NULL,
	[AlternatePhoneType] [nvarchar](255) NULL,
	[LastDatePOS] [nvarchar](255) NULL,
	[CustomField1] [nvarchar](255) NULL,
	[CustomField2] [nvarchar](255) NULL,
	[CustomField3] [nvarchar](255) NULL,
	[CustomField4] [nvarchar](255) NULL,
	[UnitDose] [float] NULL,
	[GlobalId] [nvarchar](255) NULL,
	[PlaceOfService] [float] NULL,
	[PatientResidence] [float] NULL,
	[FacilityCharge] [float] NULL,
	[AddressVerified] [nvarchar](255) NULL,
	[InActive] [float] NULL,
	[cQueueId] [float] NULL,
	[HouseholdId] [float] NULL,
	[AccountId] [nvarchar](255) NULL,
	[Relation] [nvarchar](255) NULL,
	[OfficeUse] [float] NULL,
	[PassportNumber] [nvarchar](255) NULL,
	[AutoFill] [float] NULL,
	[RxLoyalty] [float] NULL,
	[FacilityChargeOTCOnly] [float] NULL,
	[SendRxAlertText] [float] NULL,
	[SendRxAlertEmail] [float] NULL,
	[SendRxAlertVoice] [float] NULL,
	[RxAlertVoiceType] [float] NULL,
	[MedSyncStartDate1] [nvarchar](255) NULL,
	[MedSyncDays1] [float] NULL,
	[MedSyncStartDate2] [nvarchar](255) NULL,
	[MedSyncDays2] [float] NULL,
	[PrintMonograph] [float] NULL,
	[MedicalConditionsSwitch] [float] NULL,
	[DeceasedFlag] [float] NULL,
	[DeceasedDate] [nvarchar](255) NULL,
	[HIC] [nvarchar](255) NULL,
	[Ranking] [nvarchar](255) NULL,
	[Is340B] [float] NULL,
	[MedicareBeneficiaryId] [nvarchar](255) NULL,
	[DeliveryAddress] [float] NULL,
	[SpeciesCode] [float] NULL,
	[VaccineRegistryConsent] [float] NULL,
	[Breastfeeding] [float] NULL,
	[Race] [nvarchar](255) NULL,
	[Ethnicity] [nvarchar](255) NULL,
	[Source_Indicator] [nvarchar](255) NULL,
	[Record_created_date] [datetime] NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY]
GO
