USE [TrainingDB]
GO
/****** Object:  Table [dbo].[temp_hc_patient]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_hc_patient](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](200) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[ENTERPRISEID] [numeric](12, 0) NULL,
	[FIRSTNAME] [varchar](500) NULL,
	[LASTNAME] [varchar](500) NULL,
	[MIDDLEINITIAL] [varchar](500) NULL,
	[NAMESUFFIX] [varchar](200) NULL,
	[SEX] [varchar](200) NULL,
	[DOB] [date] NULL,
	[ADDRESS] [varchar](500) NULL,
	[ADDRESS2] [varchar](500) NULL,
	[CITY] [varchar](500) NULL,
	[STATE] [varchar](200) NULL,
	[ZIP] [varchar](200) NULL,
	[PATIENTEMPLOYERID] [numeric](38, 0) NULL,
	[PATIENTHOMEPHONE] [varchar](500) NULL,
	[WORKPHONE] [varchar](500) NULL,
	[MOBILEPHONE] [varchar](500) NULL,
	[CONTACTPREFERENCE] [varchar](200) NULL,
	[EMAIL] [varchar](500) NULL,
	[DONOTCALLYN] [varchar](200) NULL,
	[ETHNICITY] [varchar](500) NULL,
	[CDCETHNICITYCODE] [varchar](200) NULL,
	[RACE] [varchar](500) NULL,
	[CDCRACECODE] [varchar](200) NULL,
	[LANGUAGE] [varchar](500) NULL,
	[ISO6392CODE] [varchar](200) NULL,
	[MARITALSTATUS] [varchar](200) NULL,
	[DECEASEDDATE] [date] NULL,
	[PATIENTSTATUS] [varchar](200) NULL,
	[HOLDSTATEMENTREASON] [varchar](200) NULL,
	[NEWPATIENTID] [numeric](12, 0) NULL,
	[REGISTRATIONDATE] [date] NULL,
	[PRIMARYPROVIDERID] [numeric](12, 0) NULL,
	[PREFERREDLABID] [numeric](38, 0) NULL,
	[SELFPAYRESTRICTIONYN] [varchar](200) NULL,
	[OCCUPATION] [varchar](500) NULL,
	[REFERRALSOURCE] [varchar](500) NULL,
	[REFERRALSOURCEOTHER] [varchar](500) NULL,
	[GUARANTORFIRSTNAME] [varchar](500) NULL,
	[GUARANTORLASTNAME] [varchar](500) NULL,
	[GUARANTORMIDDLEINITIAL] [varchar](500) NULL,
	[GUARANTORNAMESUFFIX] [varchar](200) NULL,
	[GUARANTORDOB] [date] NULL,
	[GUARANTORSSN] [varchar](200) NULL,
	[GUARANTORRELATIONSHIP] [varchar](500) NULL,
	[GUARANTORADDRESS] [varchar](500) NULL,
	[GUARANTORADDRESS2] [varchar](500) NULL,
	[GUARANTORCITY] [varchar](500) NULL,
	[GUARANTORSTATE] [varchar](200) NULL,
	[GUARANTORZIP] [varchar](200) NULL,
	[GUARANTOREMPLOYERID] [numeric](38, 0) NULL,
	[GUARDIANFIRSTNAME] [varchar](500) NULL,
	[GUARDIANLASTNAME] [varchar](500) NULL,
	[GUARDIANMIDDLEINITIAL] [varchar](200) NULL,
	[GUARDIANNAMESUFFIX] [varchar](200) NULL,
	[EMERGENCYCONTACTNAME] [varchar](500) NULL,
	[EMERGENCYCONTACTRELATIONSHIP] [varchar](200) NULL,
	[EMERGENCYCONTACTPHONE] [varchar](500) NULL,
	[PATIENTSSN] [varchar](200) NULL,
	[REGISTRATIONDEPARTMENTID] [numeric](12, 0) NULL,
	[CURRENTDEPARTMENTID] [numeric](12, 0) NULL,
	[PROVIDERGROUPID] [numeric](12, 0) NULL,
	[UNCONFIRMEDFAMILYSIZE] [numeric](2, 0) NULL,
	[UNCONFINCOMEPERPAYPERIOD] [numeric](12, 2) NULL,
	[UNCONFIRMEDPAYPERIOD] [varchar](200) NULL,
	[UNCONFIRMEDYEARLYINCOME] [numeric](12, 2) NULL,
	[UNCONFIRMEDPOVERTYLEVEL] [numeric](12, 2) NULL,
	[UNCONFIRMEDFAMILYSZEDECLYN] [varchar](200) NULL,
	[UNCONFIRMEDINCOMEDECLINEDYN] [varchar](200) NULL,
	[GUARANTORPHONE] [varchar](500) NULL,
	[AGRICULTURALWORKER] [varchar](200) NULL,
	[AGRICULTURALWORKERTYPES] [varchar](200) NULL,
	[HOMELESSSTATUS] [varchar](200) NULL,
	[HOMELESSSTATUSTYPES] [varchar](500) NULL,
	[SCHOOLBASEDHEALTHCENTERPNT] [varchar](200) NULL,
	[VETERANSTATUS] [varchar](200) NULL,
	[TESTPATIENTYN] [varchar](1) NULL,
	[PRIVACYNOTICEGIVENFLAG] [varchar](200) NULL,
	[PRIVACYNOTICEGIVENDATE] [date] NULL,
	[PRIVACYNOTICEGIVENDEPTID] [numeric](12, 0) NULL,
	[PRIVACYNOTICEGIVENBY] [varchar](200) NULL,
	[PRIVNOTICENOTGIVENREASON] [varchar](200) NULL,
	[PRIVNOTICENOTGIVENNOTE] [varchar](200) NULL,
	[PATIENTSIGONFILEFLAG] [varchar](200) NULL,
	[PATIENTSIGEFFECTIVEDATE] [date] NULL,
	[PATIENTSIGEXPIRATIONDATE] [date] NULL,
	[INSUREDSIGONFILEFLAG] [varchar](200) NULL,
	[INSUREDSIGEFFECTIVEDATE] [date] NULL,
	[INSUREDSIGEXPIRATIONDATE] [date] NULL,
	[CONSENTTOCALLFLAG] [varchar](200) NULL,
	[CONSENTTOCALLEFFDATE] [date] NULL,
	[GENDERIDENTITY] [varchar](500) NULL,
	[SEXUALORIENTATION] [varchar](500) NULL,
	[CONSENTTOTEXTYN] [varchar](200) NULL,
	[PUBLICHOUSING] [varchar](200) NULL,
	[DEFAULTPRESCRIPTIONPROVID] [numeric](38, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[FAMILYID] [numeric](12, 0) NULL,
	[SMSOPTINDATE] [datetime2](7) NULL,
	[DEFAULTIMAGINGPROVIDERID] [numeric](38, 0) NULL,
	[GUARANTOREMAIL] [varchar](500) NULL,
	[TRANSLATEDHOMEPHONEINDEX] [varchar](200) NULL,
	[TRANSLATEDWORKPHONEINDEX] [varchar](200) NULL,
	[TRANSLATEDMOBILEPHONEINDEX] [varchar](200) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](200) NULL,
	[RESTRICTREPORTINGYN] [varchar](200) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
