USE [TrainingDB]
GO
/****** Object:  Table [dbo].[DexcomClinicalTable]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DexcomClinicalTable](
	[PATIENTID] [numeric](12, 0) NULL,
	[Date_Of_Birth] [date] NULL,
	[PatientName] [varchar](max) NULL,
	[PROVIDERID] [decimal](12, 0) NULL,
	[Patientindicator] [varchar](max) NOT NULL,
	[PROVIDERFIRSTNAME] [text] NULL,
	[ENCOUNTERDATE] [date] NULL,
	[ENCOUNTERSTATUS] [varchar](max) NULL,
	[CLINICALENCOUNTERID] [numeric](12, 0) NULL,
	[PatientWeight] [float] NULL,
	[PatientHeight] [float] NULL,
	[HEARTRATE] [varchar](max) NULL,
	[PROVIDERLASTNAME] [text] NULL,
	[A1c] [varchar](max) NULL,
	[Creatinine] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
