USE [TrainingDB]
GO
/****** Object:  Table [dbo].[DailyOHMedGainwellClaims]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOHMedGainwellClaims](
	[source_indicator] [nvarchar](max) NOT NULL,
	[DateDispensed] [date] NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[CustomerFirstName] [varchar](50) NULL,
	[CustomerLastName] [varchar](50) NULL,
	[CustomerIs340B] [varchar](3) NOT NULL,
	[PPProvider] [varchar](50) NULL,
	[PrescriberFirstName] [varchar](50) NULL,
	[PrescriberLastName] [varchar](50) NULL,
	[VisitDate] [varchar](50) NULL,
	[Drugname] [varchar](100) NULL,
	[NdcNumber] [varchar](50) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[Cost] [decimal](9, 2) NULL,
	[Fee] [decimal](9, 2) NULL,
	[RequestedACQ] [decimal](9, 2) NULL,
	[SecInsuranceName] [varchar](50) NULL,
	[PrmInsuranceName] [varchar](50) NULL,
	[SecMarker] [varchar](50) NULL,
	[PrmMarker] [varchar](50) NULL,
	[PrmAmountPaid] [float] NOT NULL,
	[SecAmountPaid] [float] NOT NULL,
	[Profit] [decimal](11, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
