USE [TrainingDB]
GO
/****** Object:  Table [dbo].[DailyRX340BRebateInfo]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyRX340BRebateInfo](
	[DateDispensed] [date] NULL,
	[DateWritten] [date] NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[DrugNDC] [varchar](50) NULL,
	[Qty] [decimal](9, 3) NULL,
	[PrescriberNPI] [varchar](50) NULL,
	[Drug340B] [varchar](1) NOT NULL,
	[PatientId] [varchar](50) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[PharmacyNPI] [varchar](10) NULL,
	[Site340BID] [varchar](10) NULL,
	[PickUpStatus] [varchar](9) NULL,
	[PIns_BIN] [varchar](50) NULL,
	[PIns_PCN] [varchar](50) NULL,
	[PIns_AgencyCode] [varchar](50) NULL,
	[PIns_GroupNumber] [varchar](50) NULL,
	[Sec_BIN] [varchar](50) NULL,
	[Sec_PCN] [varchar](50) NULL,
	[Sec_AgencyCode] [varchar](50) NULL,
	[Sec_GroupNumber] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
