USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_PatientView_Update]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
DECLARE @SuccessFlag INT;
EXEC sp_PatientView_Update
    @GlobalId = '98961',
    @SSN = '404760253',
    @PatientName = 'SERETA DOYLE',
    @DateOfBirth = '1952-02-20',
    @LastPackDate = '2024-04-25',
    @NextPackDate = '2024-05-25',
    @ActiveStatus = 'Active ',
    @Notes = 'Test Notes 1',
    @RecordModifiedBy = 'TestUser1',
    @HomePharmacy = 'CEN',
    @SuccessFlag = @SuccessFlag OUTPUT;
SELECT @SuccessFlag AS SuccessFlag;
*/
CREATE PROCEDURE [dbo].[sp_PatientView_Update]
(
    @GlobalId VARCHAR(50),
    @SSN VARCHAR(50),
    @PatientName VARCHAR(200),
    @DateOfBirth DATE,
    @LastPackDate DATE,
    @NextPackDate DATE,
    @ActiveStatus VARCHAR(10),
    @Notes VARCHAR(2000),
    @RecordModifiedBy VARCHAR(50),
    @HomePharmacy VARCHAR(100),
	@SuccessFlag int output 
)
AS
BEGIN
    SET NOCOUNT ON;


    --DECLARE @SuccessFlag INT;
	DECLARE @LVGlobalId VARCHAR(50) = case when @GlobalId ='' then  null else  @GlobalId end
    DECLARE @LVSSN VARCHAR(50) = case when @SSN ='' then  null else  @SSN end

    -- Insert existing version into history table
    INSERT INTO PatientView_history
    (
        PVID
       ,GlobalId
       ,SSN
       ,PatientName
       ,DateOfBirth
       ,street
       ,city
       ,state
       ,zip
       ,Phone
       ,LastPackDate
       ,NextPackDate
       ,MediAssist
       ,ActiveStatus
       ,Queuename
       ,Notes
       ,RecordCreatedBy
       ,RecordCreatedDate
       ,RecordModifiedBy
       ,RecordModifiedDate
       ,HomePharmarcy
       ,HistoryRecordCreatedBy
       ,HistoryRecordCreatedDate
    )
    SELECT
        PVID
       ,GlobalId
       ,SSN
       ,PatientName
       ,DateOfBirth
       ,street
       ,city
       ,state
       ,zip
       ,Phone
       ,LastPackDate
       ,NextPackDate
       ,MediAssist
       ,ActiveStatus
       ,Queuename
       ,Notes
       ,RecordCreatedBy
       ,RecordCreatedDate
       ,RecordModifiedBy
       ,RecordModifiedDate
       ,HomePharmarcy
       ,@RecordModifiedBy as HistoryRecordCreatedBy
       , getdate() as  HistoryRecordCreatedDate
    FROM
        PatientView
    WHERE
        ( GlobalId = @LVGlobalId OR (@LVGlobalId is null  AND SSN = @LVSSN) OR (@LVGlobalId is null AND @LVSSN is null AND PatientName = @PatientName AND DateOfBirth = @DateOfBirth));

    -- Update records in PatientView
    UPDATE PatientView
    SET
        LastPackDate = @LastPackDate,
        NextPackDate = @NextPackDate,
        ActiveStatus = @ActiveStatus,
        Notes = @Notes,
        RecordModifiedBy = @RecordModifiedBy,
		RecordModifiedDate = getdate(),
        HomePharmarcy = @HomePharmacy
    WHERE
        ( GlobalId = @LVGlobalId OR (@LVGlobalId is null  AND SSN = @LVSSN) OR (@LVGlobalId is null AND @LVSSN is null AND PatientName = @PatientName AND DateOfBirth = @DateOfBirth));

    -- Check if update was successful
    IF @@ROWCOUNT > 0
    BEGIN
        SET @SuccessFlag = 1;
    END
    ELSE
    BEGIN
        SET @SuccessFlag = 0;
    END

    ---- Output success flag
    --SELECT @SuccessFlag AS SuccessFlag;
END;
GO
