USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AthenatablesActiveFlagUpdate]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_AthenatablesActiveFlagUpdate] (@Type varchar(50))
as 
begin 

Declare @weekday varchar(20)
select @weekday=DATENAME (WEEKDAY, GETDATE())

Create table #Temp_MoreTimeTakingTables1 (TableName varchar(100))
 
Insert into #Temp_MoreTimeTakingTables1(TableName)
 
---make these tables active (19)
select SourceTable
from SSISConfig 
where SourceTable in 
(
'INTERFACEMESSAGEPARAM' 
,'ELIGIBILITYTRACK'
,'TRANSACTION'
,'CLINICALENCOUNTERDATA'
,'CLINICALTEMPLATE'
,'SLOT_FUTURE'
,'ELIGIBILITYBENEFIT'
,'P4PRESULTDATA'
,'ELIGIBILITYBENEFITDATE'
,'CRDNETWORKDOCUMENT'
,'CLINICALENCOUNTERDATAAUDR'
,'APPOINTMENTVIEW'
,'INTERFACEMESSAGEDATA'
,'NEWPATIENT_APPOINTMENT'
,'NEWPATIENT_SCHEDULE'
,'INTERFACEMESSAGE'
,'LOCALWORKLISTRECORDAUDR'
,'DOCUMENTAUDR'
,'PAGEVIEW'
)


/*ProcessReportTables*/
if(@Type='ProcessReportTables')
begin 
select 'ProcessReportTablesLogic'

/*Activating Important tables */
update s set IsActive=1
---select * 
from SSISConfig s 
where SourceTable in (
select distinct TableName from PP_Athena_ODS..SPandItsTables
) 
and IsActive in (1,0)  /*IsActive =2 means error while processing */
 
/*Deactivating all other tables  */
update s set IsActive=0
---select * 
from SSISConfig s 
where SourceTable not in (
select distinct TableName from PP_Athena_ODS..SPandItsTables
)  and IsActive in (1,0)


end

/*ProcessOtherTables*/
if(@Type='ProcessOtherTables')
begin 
select 'ProcessOtherTablesLogic'

    if(@weekday in ('Tuesday','Wednesday','Thursday','Friday'))
begin 

/*Deactivate Report tables*/

update s set IsActive=0
---select * 
from SSISConfig s 
where SourceTable in (
select distinct TableName from PP_Athena_ODS..SPandItsTables
union 
select TableName from #Temp_MoreTimeTakingTables1
) and IsActive=1


/*LessTimeTakingTables*/

/*Activating Less Time taking tables ignoring Struck Tables*/    
update s set IsActive=1
---select * 
from SSISConfig s 
where SourceTable not in (
select distinct TableName from PP_Athena_ODS..SPandItsTables /*Report tables*/
union 
select TableName from #Temp_MoreTimeTakingTables1 /*large tables*/
union 
select SourceTable from SSISConfig
where  IsActive not in (1,0) /*tables which have errors */
)

end

if(@weekday in ('Saturday','Sunday','Monday'))
begin 
/*Deactivate Report tables*/

update s set IsActive=0
---select * 
from SSISConfig s 
where SourceTable not in (
select TableName from #Temp_MoreTimeTakingTables1
union 
select SourceTable from SSISConfig
where  IsActive not in (1,0) /*tables which have errors */
) and IsActive=1

/*19 MoreTimeTakingTables*/

/*Activating Less Time taking tables ignoring Struck Tables*/    
update s set IsActive=1
---select * 
from SSISConfig s 
where SourceTable  in (
select TableName from #Temp_MoreTimeTakingTables1 /*large tables*/
)  and IsActive=1

end

end

/*ProcessReportTables*/
if(@Type='ActivateAllTables')
begin 
select 'ActivateAllTablesLogic'

update s set IsActive=1
---select * 
from SSISConfig s 
where  IsActive=0 


end

end 




 

 

 
 

 
GO
