USE [TrainingDB]
GO
/****** Object:  Table [dbo].[ProviderMetricTemp]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderMetricTemp](
	[Month] [varchar](50) NULL,
	[ProviderSpecialty] [varchar](200) NULL,
	[RenderingProvider] [varchar](200) NULL,
	[#ClosedEncounters] [varchar](50) NULL,
	[%ofProviderBusinessHours] [varchar](50) NULL,
	[%ofProviderNonBusinessHours] [varchar](50) NULL,
	[%TimeEncounter] [varchar](50) NULL,
	[%TimeInbox] [varchar](50) NULL,
	[%TimeOrder Group] [varchar](50) NULL,
	[%TimeViewing] [varchar](50) NULL,
	[TotalProviderBusinessHours] [varchar](50) NULL,
	[TotalProviderHours] [varchar](50) NULL,
	[TotalProviderNonBusinessHours] [varchar](50) NULL,
	[CreatedDatetime] [datetime] NULL,
	[ProviderId] [int] NULL
) ON [PRIMARY]
GO
