USE [TrainingDB]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Names] [varchar](200) NULL,
	[username] [varchar](200) NOT NULL,
	[PasswordHash] [binary](64) NOT NULL
) ON [PRIMARY]
GO
