USE [TrainingDB]
GO
/****** Object:  Table [dbo].[Liberty_Past6months_Allpatients]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liberty_Past6months_Allpatients](
	[Drug_name] [varchar](75) NULL,
	[patientid] [varchar](50) NOT NULL,
	[Patientname_Liberty] [varchar](101) NULL,
	[DOB_Liberty] [date] NULL,
	[Gender_Liberty] [varchar](50) NULL,
	[globalid] [int] NULL,
	[Providername] [varchar](101) NULL,
	[source_indicator] [nvarchar](100) NOT NULL,
	[GenericProductIdentifier] [char](14) NULL,
	[GPIGenericName] [varchar](200) NULL,
	[NdcNumber] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[RefillsAuthorized] [int] NULL,
	[FullDispenseQuantity] [decimal](9, 3) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[DaysSupply] [varchar](50) NULL,
	[NPI] [varchar](50) NULL,
	[RefillNumber] [int] NOT NULL,
	[AuthorizedQuantity] [decimal](12, 3) NULL,
	[AvailableQuantity] [decimal](12, 3) NULL,
	[RefillUntilDate] [date] NULL,
	[NextDispensedQuantity] [decimal](9, 2) NULL,
	[Strength] [varchar](50) NULL,
	[form] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[MetricName] [varchar](50) NULL,
	[MetricUnit] [decimal](18, 5) NULL,
	[Is340B] [bit] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[cScriptBaseId] [numeric](18, 0) NOT NULL,
	[cQueueId] [int] NULL,
	[QueueName] [varchar](50) NULL,
	[RnkId] [bigint] NULL,
	[TimeStampAsOfDate] [date] NULL,
	[st_LastModified] [datetime] NULL,
	[sigs] [nvarchar](1000) NULL,
	[IsValid] [bit] NULL,
	[PromiseDateTime] [datetime] NULL,
	[st_queuename] [varchar](50) NULL,
	[LastRefillNumber] [int] NULL,
	[DateWrittenSQL] [date] NULL,
	[OnHold] [varchar](50) NULL,
	[Sb_LastModified] [datetime] NULL,
	[Globalid_queuename] [varchar](100) NULL
) ON [PRIMARY]
GO
