USE [TrainingDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AthenaSSISConfigUpdate_new]    Script Date: 7/27/2026 6:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----EXEC SP_AthenaSSISConfigUpdate_new @IsByPassReportTables=0 ,@IsByPassOtherTables=0
CREATE Procedure [dbo].[SP_AthenaSSISConfigUpdate_new]  (@IsByPassReportTables int 
, @IsByPassOtherTables int )
as   
begin   
  
drop table if exists #Temp_MoreTimeTakingTables  
  
Create table #Temp_MoreTimeTakingTables (TableName varchar(100))  
  
Insert into #Temp_MoreTimeTakingTables(TableName)  
  
---make these tables active (19)  
select SourceTable  
from SSISConfig   
where SourceTable in   
(  
'INTERFACEMESSAGEPARAM'   
,'ELIGIBILITYTRACK'  
,'TRANSACTION'  
,'CLINICALENCOUNTERDATA'  
,'CLINICALTEMPLATE'  
,'SLOT_FUTURE'  
,'ELIGIBILITYBENEFIT'  
,'P4PRESULTDATA'  
,'ELIGIBILITYBENEFITDATE'  
,'CRDNETWORKDOCUMENT'  
,'CLINICALENCOUNTERDATAAUDR'  
,'APPOINTMENTVIEW'  
,'INTERFACEMESSAGEDATA'  
,'NEWPATIENT_APPOINTMENT'  
,'NEWPATIENT_SCHEDULE'  
,'INTERFACEMESSAGE'  
,'LOCALWORKLISTRECORDAUDR'  
,'DOCUMENTAUDR'  
,'PAGEVIEW'  
)  
  
----should be active   
--select distinct TableName from PP_Athena_ODS..SPandItsTables  
  
----keep it as it is dont update flags   
--select SourceTable from SSISConfig where IsLoadedToLanding<> 0 or IsLoadedToODS<>0  
  
---other than above tables make all tables inactive   
  
Declare @weekday varchar(20)  
select @weekday=DATENAME (WEEKDAY, GETDATE())   

if (@IsByPassReportTables=0 )
begin 

/*Activating Important tables daily */  
update s set IsActive=1  
--select *   
from SSISConfig s   
where SourceTable in (  
select distinct TableName from PP_Athena_ODS..SPandItsTables  
) 

end


if(@weekday in ('Tuesday','Wednesday','Thursday','Friday') and @IsByPassOtherTables=0)  
begin   
 
  
/*Deactivating MoreTimeTakingTables */  
update s set IsActive=0  
--select *   
from SSISConfig s   
where SourceTable in (  
select TableName from #Temp_MoreTimeTakingTables  
)  and IsActive=1
  
/*Activating Less Time taking tables ignoring Struck Tables*/  
update s set IsActive=1  
--select *   
from SSISConfig s   
where SourceTable not in (  
select distinct TableName from PP_Athena_ODS..SPandItsTables   /*Activated Previously*/
union   
select TableName from #Temp_MoreTimeTakingTables  /*Deactivated Previously*/
union   
select SourceTable from SSISConfig  
where (IsLoadedToLanding<>0 or  IsLoadedToODS<>0 )  /*Ignore these tables*/
)  and IsActive=0
  
  
end  
else if (@weekday in  ('Monday','Saturday','Sunday') and @IsByPassOtherTables=0)--31+19=50  
begin   

  
/*Activating MoreTimeTakingTables */  
update s set IsActive=1  
--select *   
from SSISConfig s   
where SourceTable in (  
select TableName from #Temp_MoreTimeTakingTables  
)  and  IsActive=0
  
  
/*DeActivating Less Time taking tables ignoring Struck Tables*/  
update s set IsActive=0  
--select *   
from SSISConfig s   
where SourceTable not in (  
select distinct TableName from PP_Athena_ODS..SPandItsTables   /*Activated Previously*/
union   
select TableName from #Temp_MoreTimeTakingTables  /*Activated Previously*/
union   
select SourceTable from SSISConfig  
where (IsLoadedToLanding<>0 or  IsLoadedToODS<>0 )   /*Ignore these tables*/
)  
  
  
  
end  
  
select  TotalCount,InActiveCnt,ActiveCnt,OthersCnt   
,TotalCount-(InActiveCnt+ActiveCnt+OthersCnt) as CountDiff ,getdate() RecordInsertedDate  
from   
(  
select Count(1) TotalCount , sum(case when IsActive=0 then 1 else 0 end) InActiveCnt,  
sum(case when IsActive=1 and IsLoadedToLanding=0 and IsLoadedToODS=0 then 1 else 0 end) ActiveCnt ,  
sum(case when  (IsLoadedToLanding<>0 or  IsLoadedToODS<>0 ) and isactive=1  then 1 else 0 end) OthersCnt   
from SSISConfig   
) s  
  
end  
  
  
  
  
  
  
GO
