USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[TotalLibertyMedicationList]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TotalLibertyMedicationList](
	[LMedID] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [varchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Globalid] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[Drug_name] [varchar](200) NULL,
	[patientid] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[cScriptTransactionId] [numeric](18, 0) NULL,
	[ScriptNumber] [int] NULL,
	[Sigs] [varchar](2000) NULL,
	[OnHold] [varchar](10) NULL,
	[Sb_LastModified] [date] NULL,
	[Pharmacy] [varchar](50) NULL,
	[QueueName] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordUpdatedDate] [datetime] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[DateWritten] [date] NULL,
	[Prescriber] [varchar](200) NULL,
	[NdcNumber] [varchar](50) NULL,
	[RefillNumber] [int] NULL,
	[PID] [int] NULL
) ON [PRIMARY]
GO
