USE [MedAssistTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_SnapshotAdditionalFields_ETL]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_SnapshotAdditionalFields_ETL]                              
as                               
begin                              
                      
drop table if exists #SnapshotAdditionalFields                              
                                
;WITH CTE AS(                                
SELECT patientid,APPOINTMENTDATE,                              
appointmentid,                              
ROW_NUMBER() over (partition by patientid order by APPOINTMENTDATE ) RN                                
FROM PP_Athena_ODS.athenaone.appointment  with(nolock)                              
WHERE appointmentdate >= Convert(Date,GETDATE())                              
and APPOINTMENTSTATUS not like '%cancel%'and patientid is not null                                 
)                                
                                
SELECT  * into #SnapshotAdditionalFields                                
FROM CTE                                 
WHERE RN=1                                 
order by PATIENTID,APPOINTMENTDATE                              
                              
drop table if exists #PatientProviderinfo                              
                              
;with providerDetails as(                                
select CE.PATIENTID,PR.PROVIDERID,PR.PROVIDERFIRSTNAME,PR.PROVIDERLASTNAME                                
,ROW_NUMBER() Over (partition by CE.PATIENTID order by CE.ENCOUNTERDATE desc)Recent                                
from PP_Athena_ODS.ATHENAONE.PROVIDER PR (nolock)                                
inner join PP_Athena_ODS.ATHENAONE.ClinicalEncounter                               
CE (nolock) ON CE.PROVIDERID=PR.PROVIDERID                                
where ce.ENCOUNTERSTATUS ='closed'                               
)                                
                                
select * INTO #PatientProviderinfo                                
from providerDetails where recent=1                                
                              
drop table if exists #TempPatientinfo                              
                              
Select                                 
P.PATIENTID                                
,P.DOB as Date_Of_Birth                                
,PATIENTSSN, FIRSTNAME,LASTNAME ,    
CONTACTPREFERENCE,MOBILEPHONE,PATIENTHOMEPHONE,WORKPHONE,    
EMAIL ,    
case when CONTACTPREFERENCE='HOMEPHONE' then PATIENTHOMEPHONE    
when CONTACTPREFERENCE='MOBILEPHONE' then MOBILEPHONE    
when CONTACTPREFERENCE='WORKPHONE' then WORKPHONE    
else coalesce(PATIENTHOMEPHONE,MOBILEPHONE,WORKPHONE)    
end as AthenaPrimaryPhone    
INTO #TempPatientinfo                                
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)                                
where PATIENTID<>'0' and PATIENTID is not null                               
---select * from #PatientProviderinfo                              
                              
drop table if exists #MediTracker_PatientSnapshotInfo                              
                              
select cast(t.PATIENTID as varchar(100)) as PATIENTID,isnull(t.PATIENTSSN,'') PATIENTSSN,t.Date_Of_Birth,                              
cast(t.FIRSTNAME as varchar(50))+' '+cast(t.LASTNAME as varchar(50)) as PatientName ,                               
cast(p.PROVIDERFIRSTNAME as varchar(50))+' '+cast(p.PROVIDERLASTNAME as varchar(50)) as ProviderName,                              
a.APPOINTMENTDATE as NextAppointmentDate,                              
t.PATIENTSSN+replace(cast(t.Date_Of_Birth  as varchar(15)),'-','')  SSN_DOB ,                              
 isnull(cast(t.FIRSTNAME as varchar(50)),'')+' '+                              
 isnull(cast(t.LASTNAME as varchar(50)),'')                               
 +replace(cast(t.Date_Of_Birth  as varchar(15)),'-','') Name_DOB,                              
getdate()Recordcreateddate   ,AthenaPrimaryPhone                           
into #MediTracker_PatientSnapshotInfo                              from #TempPatientinfo t                               
left join #PatientProviderinfo p on p.PATIENTID=t.PATIENTID               
left join #SnapshotAdditionalFields a on a.PATIENTID=t.PATIENTID        
    
drop table if exists #Libertymedicinedetails                                        
                                        
select                                        
(p.FirstName+' '+p.LastName) as Patientname_Liberty                                        
,p.DateOfBirth as DOB_Liberty                                   
,case when p.SocialSecurityNumber like '%000000%' then ''                     
else p.SocialSecurityNumber end as SSN                              
,cast (P.globalid  as int) globalid                               
,p.PatientId                              
--,D.DoctorId as ProvideID                                        
,(D.FirstName+' '+D.LastName) Providername                                        
,D.source_indicator as source_indicator                                        
,cast (st.DateDispensedSQL as date)  DateDispensedSQL                                        
    ,dg.Name  as Drugname                                    
INTO #Libertymedicinedetails                     
From PP_ODS..rxqDoctor as D (nolock)                                        
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                        
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator                                        
left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber                                        
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                        
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                          
and SB.Source_Indicator=ST.Source_Indicator                                        
where                                                   
DateDispensedSQL<>'9999-09-09'                                        
and                   DateDispensedSQL >=cast(DATEADD(MONTH, -6, GETDATE()) as date)                                     
 order by PatientId     
 
update #Libertymedicinedetails set SSN='' where SSN='999999999'
     
update l set l.globalid=m.PATIENTID    
--select l.globalid,m.PATIENTID,l.ssn,m.PATIENTSSN,l.Patientname_Liberty,l.*    
from  #Libertymedicinedetails l                               
join #MediTracker_PatientSnapshotInfo m on                      
(                                    
(  l.ssn<>'' and  m.PATIENTSSN<>''                                  
 and l.ssn=m.PATIENTSSN and l.DOB_Liberty=m.Date_Of_Birth                            
)                                    
or                                    
  ( (l.ssn='' or  m.PATIENTSSN in ('','000000000','         ') )                                    
and l.DOB_Liberty= m.Date_Of_Birth and (l.Patientname_Liberty) = m.PatientName                                    
  )                                    
)                              
where l.globalid='0'       
    
                            
/*Patients with no Provider information in Athena system and have globalids                      
is updated with Liberty provider information                        
*/                      
update m set ProviderName=m.ProviderName                              
--select m.* ,abc.Providername                              
from                               
#MediTracker_PatientSnapshotInfo  m                               
join (                              
select * ,row_number() over(partition by globalid order by DateDispensedSQL desc) rnk                              
from  #Libertymedicinedetails                              
where globalid<>'0'  and globalid is not null and globalid<>''                              
) abc on abc.globalid=m.PATIENTID                              
 where m.ProviderName is null and rnk=1                              
                              
-- select m.*                               
--from                               
--#MediTracker_PatientSnapshotInfo  m                              
--where m.ProviderName is null                              
                              
drop table if exists #tempPatientView                             
select * into #tempPatientView                             
from Patient                              
                              
                                                                         
 alter table #MediTracker_PatientSnapshotInfo                              
 add pid int          
   
-- select * from #MediTracker_PatientSnapshotInfo  
-- where patientid in ('97130',  
--'106257')  
  
--select GlobalId,* from pp_ods..rxqPatient where DateOfBirth='1956-07-06'  
--and LastName='HOFFMAN'  
  
--select GlobalId,* from pp_ods..rxqPatient where DateOfBirth='1956-07-06'  
--and FirstName='RHONDA'  
  
  
/*mapping pvid (unique id) of patient view to PatientSnapshotInfo*/                      
update m set pid=v.pid                              
--select v.PatientIdentifier, m.PATIENTID, v.ssn,m.PATIENTSSN ,v.DateOfBirth,m.Date_Of_Birth,  
--v.PatientName , m.PatientName   
from #tempPatientView v with(nolock)                              
 join                               
#MediTracker_PatientSnapshotInfo M with(nolock) on                              
(                                    
  ( cast(v.PatientIdentifier as varchar(100)) =cast(m.PATIENTID as varchar(100)) )                                    
  or     
  (  v.GlobalId='' and   
  v.ssn<>'' and  m.PATIENTSSN<>''                                  
 and v.ssn=m.PATIENTSSN and v.DateOfBirth=m.Date_Of_Birth                            
  )    
  or                                    
  (    v.GlobalId='' and  
  (v.ssn='' or  m.PATIENTSSN in ('','000000000','         ') )                                    
and v.DateOfBirth= m.Date_Of_Birth and v.PatientName = m.PatientName                                    
  )   
    
)     
  
     
/*Compliance Patients that are not part of athena system                      
and have provider names in liberty system is fetched and added to                       
PatientSnapshotInfo                      
*/                          
                      
;with cte as                               
(                              
select  v.globalid, v.ssn,v.dateofbirth,v.patientname ,l.providername,                              
getdate() recordcreateddate,v.pid,                              
row_number() over(partition by v.PID order by l.DateDispensedSQL desc,l.Providername desc) rnk                              
from #tempPatientView v with(nolock)                              
left join                               
#MediTracker_PatientSnapshotInfo M with(nolock) on                               
(                                    
  m.pid = v.PID                              
)                              
join #Libertymedicinedetails l on                               
(                                
  (  l.ssn<>''                                    
and  v.ssn<>''                                    
and l.ssn=v.ssn and l.DOB_Liberty=v.DateOfBirth    
and l.GlobalId=''    
  )                                    
 or                               
  (    
  (l.ssn='' or  v.SSN='' )    and l.GlobalId=''                                 
and l.DOB_Liberty= v.DateOfBirth and (l.Patientname_Liberty) = v.PatientName                                    
  )                               
)                              
where m.pid is null and l.providername is not null                             
)                              
                              
insert into #MediTracker_PatientSnapshotInfo                              
(PATIENTID,PATIENTSSN,Date_Of_Birth,PatientName,ProviderName,Recordcreateddate,pid)                              
select                               
globalid, ssn,dateofbirth,patientname ,providername,                              
 recordcreateddate,pid                              
from cte where rnk=1                              
and providername is not null       
    
;with cte as     
(    
select * , ROW_NUMBER() over(partition by Date_Of_Birth,PatientName    
order by pid desc , providername desc , NextAppointmentDate desc ,patientssn desc) RNK    
from     
#MediTracker_PatientSnapshotInfo    
)    
    
delete from cte where RNK > 1    
  
;with cte as     
(    
select * , ROW_NUMBER() over(partition by Date_Of_Birth,PATIENTSSN    
order by pid desc , providername desc , NextAppointmentDate desc ,patientssn desc) RNK    
from     
#MediTracker_PatientSnapshotInfo    
where  PATIENTSSN<>''   
)    
    
delete from cte where RNK > 1    
    
--select Date_Of_Birth,PatientName,count(1) from #MediTracker_PatientSnapshotInfo    
--group by Date_Of_Birth,PatientName    
--having count(1)>1 and sum(case when PATIENTID ='' then 0 else 1 end) >1    
                                         
truncate table SnapshotAdditionalFields          
                                
insert into SnapshotAdditionalFields                              
(                              
 [PATIENTID] ,                              
 [PATIENTSSN] ,                              
 [Date_Of_Birth] ,                              
 [PatientName] ,                              
 [ProviderName] ,                              
 [NextAppointmentDate] ,                              
 SSN_DOB ,                              
 Name_DOB ,                              
 Recordcreateddate ,                              
 pid    ,AthenaPrimaryPhone                           
)                               
                              
select [PATIENTID] ,                              
 [PATIENTSSN] ,                              
 [Date_Of_Birth] ,                              
 [PatientName] ,                              
 [ProviderName] ,                              
 [NextAppointmentDate] ,       SSN_DOB ,                              
 Name_DOB ,                              
 Recordcreateddate ,                              
 pid    ,AthenaPrimaryPhone                           
 from                              
#MediTracker_PatientSnapshotInfo                        
                             
                              
 end     
    
GO
