USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[PatientDocuments]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](500) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NOT NULL,
	[FilePath] [varchar](2000) NULL,
	[PID] [varchar](50) NULL,
	[IsDeleted] [int] NULL,
	[DeletedBy] [varchar](100) NULL,
	[DeletedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientDocuments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PatientDocuments] ADD  DEFAULT ('0') FOR [IsDeleted]
GO
