USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[RXQPatientPharmacies]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RXQPatientPharmacies](
	[Patientidentifier] [varchar](500) NULL,
	[Pharmacies] [varchar](500) NULL,
	[createddate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RXQPatientPharmacies] ADD  DEFAULT (getdate()) FOR [createddate]
GO
