USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[PatientMedReviewDetails]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedReviewDetails](
	[RevID] [int] IDENTITY(1,1) NOT NULL,
	[Globalid] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](100) NULL,
	[PID] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [date] NULL,
	[Createddate] [datetime] NULL,
	[Updateddate] [datetime] NULL,
	[color] [varchar](50) NULL,
	[Updatedby] [varchar](100) NULL,
	[comments] [varchar](100) NULL
) ON [PRIMARY]
GO
