USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DisplayName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Street] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Phone2] [varchar](50) NULL,
	[MedAssistExpiryDate] [varchar](10) NULL,
	[Remarks] [varchar](200) NULL,
	[ActiveStatus] [varchar](10) NULL,
	[WFStatus] [varchar](30) NULL,
	[Notes] [varchar](2000) NULL,
	[CCIQ] [varchar](10) NULL,
	[IsManualPull] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[Prev_DisplayName] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
 CONSTRAINT [UQ_Patient_PatientIdentifier] UNIQUE NONCLUSTERED 
(
	[PatientIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT ('Active') FOR [ActiveStatus]
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [DF_Patient_CCIQ]  DEFAULT ('NO') FOR [CCIQ]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT ((0)) FOR [IsManualPull]
GO
/****** Object:  Trigger [dbo].[tr_Patient_NotesHistory]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_Patient_NotesHistory]           
 on [dbo].[Patient]          
 After Update          
 as begin          
    INSERT INTO [dbo].[PatientNotesHistory]          
           (    
         PID    
        ,Notes    
        ,RecordCreatedBy    
        ,RecordCreatedDate    
        ,RecordModifiedBy    
        ,RecordModifiedDate    
        ,HistoryRecordCreatedBy    
        ,HistoryRecordCreatedDate    
           
     )           
     select d.[PID]               
      ,i.[Notes]           
      ,i.RecordModifiedBy    as [RecordCreatedBy]      
      ,getdate() as [RecordCreatedDate]          
      ,i.[RecordModifiedBy]          
      ,getdate() as [RecordModifiedDate],i.RecordModifiedBy,getdate()         
        
    from deleted d inner join inserted i on i.PID = d.PID         
 /* deleted will have null notes for the first time and inserted has first note*/    
 where           
 (          
 (isnull(d.Notes,'D') <> i.Notes )          
 or           
 (isnull(i.Notes,'I') <> d.Notes )          
 )          
  end
GO
ALTER TABLE [dbo].[Patient] ENABLE TRIGGER [tr_Patient_NotesHistory]
GO
/****** Object:  Trigger [dbo].[tr_PatientHistory]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_PatientHistory]                        
 on [dbo].[Patient]                          
 After Update                          
 as begin                          
    INSERT INTO [dbo].PatientHistory                         
           (          
 PID          
,GlobalId          
,SSN          
,PatientName          
,DisplayName          
,DateOfBirth          
,Street          
,City          
,State          
,Zip          
,Phone          
,Phone2          
,MedAssistExpiryDate          
,Remarks          
,ActiveStatus          
,WFStatus          
,Notes          
,PatientIdentifier          
,Prev_DisplayName          
,RecordCreatedBy          
,RecordCreatedDate          
,RecordModifiedBy          
,RecordModifiedDate          
,HistoryRecordCreatedBy          
,HistoryRecordCreatedDate  ,CCIQ   ,IsManualPull          
)                    
 select                         
 d.PID          
,d.GlobalId          
,d.SSN          
,d.PatientName          
,d.DisplayName          
,d.DateOfBirth          
,d.Street          
,d.City          
,d.State          
,d.Zip          
,d.Phone          
,d.Phone2          
,d.MedAssistExpiryDate          
,d.Remarks          
,d.ActiveStatus          
,d.WFStatus          
,d.Notes          
,d.PatientIdentifier          
,d.Prev_DisplayName          
,d.RecordCreatedBy          
,d.RecordCreatedDate          
,d.RecordModifiedBy          
,d.RecordModifiedDate          
,i.RecordModifiedBy as HistoryRecordCreatedBy                   
,getdate() as HistoryRecordCreatedDate   ,d.CCIQ  ,d.IsManualPull      
from deleted d inner join inserted i on i.PID = d.PID             
          
end 
GO
ALTER TABLE [dbo].[Patient] ENABLE TRIGGER [tr_PatientHistory]
GO
