USE [MedAssistTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_UserDetails_Delete]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                  
exec SP_UserDetails_Delete '176','sai'                  
*/                  
CREATE procedure [dbo].[SP_UserDetails_Delete]                   
(@ID int ,@User varchar(100)                  
)                  
as begin                   
                  
insert into UserDetailsHistory                  
(                  
 [ID] ,          
 [Name] ,          
 EmailID ,          
 [PasswordHash] ,          
 RecordCreatedDate ,          
 [IsActive] ,          
 [Role],          
 [RoleDesc] ,          
 RecordCreatedBy ,          
 RecordModifiedBy ,          
 RecordModifiedDate,          
 [Is_SSUser] ,          
 DMLType,          
 HistoryCreatedBy ,          
 HistoryCreatedDate                  
)                  
                  
select                   
 [ID] ,          
 [Name] ,          
 EmailID ,          
 [PasswordHash] ,          
 RecordCreatedDate ,          
 [IsActive] ,          
 [Role],          
 [RoleDesc] ,          
 RecordCreatedBy ,          
 RecordModifiedBy ,          
 RecordModifiedDate,          
 [Is_SSUser] ,          
 DMLType,          
 @User HistoryCreatedBy ,          
 getdate() HistoryCreatedDate               
from                   
UserDetails with(nolock)                  
where ID=@ID                   
union                   
select                   
 [ID] ,          
 [Name] ,          
 EmailID ,          
 [PasswordHash] ,          
 RecordCreatedDate ,          
 [IsActive] ,          
 [Role],          
 [RoleDesc] ,          
 RecordCreatedBy ,          
 @User RecordModifiedBy ,          
 getdate() RecordModifiedDate,          
 [Is_SSUser] ,          
 'Delete' DMLType,          
@User HistoryCreatedBy ,          
 getdate() HistoryCreatedDate             
from                   
UserDetails with(nolock)                  
where ID=@ID                   
order by DMLType desc                   
                  
                  
if (@@ROWCOUNT> 0)                  
begin                  
delete from UserDetails where ID=@ID                  
end                  
--if (@@ROWCOUNT> 0)                  
--begin                  
--update  PatientMedicationList set isactive='Deleted',DMLType='Delete'                   
--,RecordModifiedDate=getdate() ,RecordModifiedBy=@User                  
--where PMID=@PMID                  
--end                  
                  
end 
GO
