USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[ExcludePatient]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcludePatient](
	[PID] [int] NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DisplayName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Street] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Phone2] [varchar](50) NULL,
	[MedAssistExpiryDate] [varchar](10) NULL,
	[Remarks] [varchar](200) NULL,
	[ActiveStatus] [varchar](10) NULL,
	[WFStatus] [varchar](30) NULL,
	[Notes] [varchar](2000) NULL,
	[CCIQ] [varchar](10) NULL,
	[IsManualPull] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[Prev_DisplayName] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[Inserteddate] [datetime] NULL,
	[Ptype] [varchar](50) NULL
) ON [PRIMARY]
GO
