USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[SnapshotAdditionalFields]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnapshotAdditionalFields](
	[PATIENTID] [varchar](50) NULL,
	[PATIENTSSN] [varchar](50) NULL,
	[Date_Of_Birth] [date] NULL,
	[PatientName] [varchar](200) NULL,
	[ProviderName] [varchar](200) NULL,
	[NextAppointmentDate] [date] NULL,
	[SSN_DOB] [varchar](200) NULL,
	[Name_DOB] [varchar](210) NULL,
	[Recordcreateddate] [datetime] NULL,
	[pid] [int] NULL,
	[AthenaPrimaryPhone] [varchar](50) NULL
) ON [PRIMARY]
GO
