USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[PatientMedicationList]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedicationList](
	[PMID] [int] IDENTITY(1,1) NOT NULL,
	[Globalid] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](100) NULL,
	[Drug_name] [varchar](200) NULL,
	[sigs] [varchar](2000) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[Pharmacy] [varchar](100) NULL,
	[DateDispensedSQL] [date] NULL,
	[Sb_LastModified] [date] NULL,
	[ScriptNumber] [int] NULL,
	[cScriptTransactionId] [numeric](18, 0) NULL,
	[OnHold] [varchar](10) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](100) NULL,
	[DMLType] [varchar](10) NULL,
	[Source] [varchar](20) NULL,
	[PID] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Reviewed] [varchar](10) NOT NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [datetime] NULL,
	[PMRemarks] [varchar](100) NULL,
	[DateWritten] [date] NULL,
	[Prescriber] [varchar](200) NULL,
	[NdcNumber] [varchar](50) NULL,
	[RefillNumber] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientMedicationList] ADD  DEFAULT ('No') FOR [Reviewed]
GO
/****** Object:  Trigger [dbo].[tr_PatientMedicationList]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_PatientMedicationList]                          
 on [dbo].[PatientMedicationList]                          
 After Update                          
 as begin                          
    INSERT INTO [dbo].PatientMedicationList_History                          
           (                        
PMID                        
,Globalid                        
,SSN                        
,PatientName                        
,Drug_name                        
,sigs                        
,QuantityDispensed                        
,Pharmacy                        
,DateDispensedSQL                        
,Sb_LastModified                        
,ScriptNumber                        
,cScriptTransactionId                        
,OnHold                        
,RecordCreatedDate                        
,RecordCreatedBy                        
,RecordModifiedDate                        
,RecordModifiedBy                        
,DMLType                        
,Source                                                
,HistoryCreatedDate                          
,HistoryCreatedBy,PID,DateOfBirth,[Reviewed] ,                
[ReviewedBy] ,                
[ReviewedDate],PMRemarks,DateWritten,Prescriber,NdcNumber,RefillNumber )                         
                        
 select                         
 d.PMID                        
,d.Globalid                        
,d.SSN                        
,d.PatientName                        
,d.Drug_name                        
,d.sigs                        
,d.QuantityDispensed                        
,d.Pharmacy                        
,d.DateDispensedSQL                        
,d.Sb_LastModified                        
,d.ScriptNumber                        
,d.cScriptTransactionId                        
,d.OnHold                        
,d.RecordCreatedDate                        
,d.RecordCreatedBy                        
,d.RecordModifiedDate                        
,d.RecordModifiedBy                        
,d.DMLType                        
,d.Source                                                
,getdate() as [RecordModifiedDate],i.RecordModifiedBy,d.PID                      
,d.DateOfBirth  ,d.[Reviewed] ,                
d.[ReviewedBy] ,                
d.[ReviewedDate],d.PMRemarks,d.DateWritten  ,d.Prescriber   ,d.NdcNumber,      
d.RefillNumber      
from deleted d inner join inserted i on i.PMID = d.PMID                     
where  d.Sb_LastModified is not null                    
end




GO
ALTER TABLE [dbo].[PatientMedicationList] ENABLE TRIGGER [tr_PatientMedicationList]
GO
/****** Object:  Trigger [dbo].[trg_AfterInsert_PatientMedicationList]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AfterInsert_PatientMedicationList]        
ON [dbo].[PatientMedicationList]        
AFTER INSERT        
AS        
BEGIN        
    SET NOCOUNT ON;        
         
    -- Update only when the Source is 'manual'        
    UPDATE PML        
    SET         
        DateDispensedSQL = CASE         
                               WHEN i.OnHold = 'y' THEN '9999-09-09'        
                               ELSE i.DateDispensedSQL        
                           END,        
        Sb_LastModified = i.DateDispensedSQL  ,      
  DateWritten = i.DateDispensedSQL      
    FROM         
        [dbo].[PatientMedicationList] PML        
    INNER JOIN         
        inserted i ON PML.PMID = i.PMID        
    WHERE        
        i.Source = 'Manual' and i.DMLType='insert';        
END;        
GO
ALTER TABLE [dbo].[PatientMedicationList] ENABLE TRIGGER [trg_AfterInsert_PatientMedicationList]
GO
