USE [MedAssistTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientReviewDetailsInsert]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PatientReviewDetailsInsert](  
@PID varchar(200)             
,@Role varchar(100)=null )                        
as                         
begin                         
                        
Declare @lv_PID varchar(200)=  @PID                       
                        
if not exists (select 1 from PatientMedReviewDetails p with(nolock)                        
where PID=@lv_PID)                        
begin                         
;with cte as                        
(                        
select p.*, ROW_NUMBER()   
over(partition by PID order by revieweddate desc) RNK                        
from PatientMedicationList p with(nolock)                        
where PID=@lv_PID and                         
Reviewed='yes'                        
               
)                        
                        
insert into [dbo].PatientMedReviewDetails(                        
                           
 [Globalid] ,                        
 [SSN] ,                        
 [PatientName] ,                        
 [PID] ,                        
 [DateOfBirth] ,                        
 [ReviewedBy] ,                        
 [ReviewedDate] ,                        
 [Createddate],                        
 Updateddate ,                    
 color  ,Updatedby   ,comments               
                         
)                         
                        
select                         
[Globalid] ,                        
 [SSN] ,                        
 [PatientName] ,                        
 [PID] ,                        
 [DateOfBirth] ,                        
 [ReviewedBy] ,                        
 cast([ReviewedDate] as date) [ReviewedDate] ,                        
 getdate() as [Createddate],                        
 getdate() as Updateddate ,                    
 'green' as color  ,[ReviewedBy] as updatedby   ,'Medlist Reviewed' as comments                
 from cte where rnk=1                   
-- /*Added to handle intern*/                
-- and [ReviewedBy] not in (select name                 
--from UserDetails d where roledesc='Intern')                
 end                         
else                         
begin                         
                        
 ;with cte as                        
(                        
select p.*, ROW_NUMBER() over(partition by PID order by revieweddate desc) RNK                        
from PatientMedicationList p with(nolock)                        
where PID=@lv_PID and                         
Reviewed='yes'                        
                      
)                        
                        
update p set ReviewedBy=cte.ReviewedBy ,ReviewedDate=cast(cte.ReviewedDate as date)                      
,Updateddate=getdate()    ,color='green'  ,Updatedby =cte.ReviewedBy         
,comments  ='Medlist Reviewed'        
output deleted.[Globalid] ,                        
 deleted.[SSN] ,                        
 deleted.[PatientName] ,                        
 deleted.[PID] ,                        
 deleted.[DateOfBirth] ,                        
 deleted.[ReviewedBy] ,                        
 deleted.[ReviewedDate] ,                        
 deleted.[Createddate],                        
 deleted.Updateddate  ,                    
 deleted.color,                    
 deleted.RevID ,deleted.comments ,deleted.Updatedby                  
 into PatientMedReviewHistory([Globalid] ,                        
 [SSN] ,                        
 [PatientName] ,                        
 [PID] ,                        
 [DateOfBirth] ,                   
 [ReviewedBy] ,                        
 [ReviewedDate] ,                        
  [Createddate],                        
 Updateddate,color,RevID,comments,Updatedby)                        
from cte                         
join PatientMedReviewDetails p on p.PID=cte.PID                        
and (       
(p.ReviewedBy<> cte.ReviewedBy) or (cast(p.ReviewedDate as date)<>                        
cast(cte.ReviewedDate as date)) or (p.color<> 'green')      
or (comments  <>'Medlist Reviewed')      
)                        
/*inorder to avoid same user ,same date,same color  review update multiple times*/                      
where rnk=1                 
/*added to handle intern*/                
-- and cte.ReviewedBy not in (select name                 
--from UserDetails d where roledesc='Intern')                
                        
 end                        
                        
end 
GO
