USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[ColorStatus]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Color] [varchar](20) NULL,
	[Status] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
