USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[Displayname_HomePackPharmacies]    Script Date: 5/14/2026 5:50:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Displayname_HomePackPharmacies](
	[pvid] [int] NOT NULL,
	[DisplayName] [varchar](200) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[HomePharmarcy] [varchar](10) NULL,
	[PackPharmarcy] [varchar](10) NULL,
	[DisplayName_PP] [varchar](200) NULL,
	[DisplayName_HP] [varchar](200) NULL,
	[PharmacyConsidered] [varchar](10) NULL,
	[createddate] [datetime] NOT NULL,
	[updateddate] [datetime] NOT NULL,
	[DMLType] [varchar](50) NULL
) ON [PRIMARY]
GO
