USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientMedSigQuantity]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedSigQuantity](
	[PMSQID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity1] [decimal](10, 2) NULL,
	[Quantity2] [decimal](10, 2) NULL,
	[Quantity3] [decimal](10, 2) NULL,
	[Quantity4] [decimal](10, 2) NULL,
	[PMID] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](100) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[Drug_name] [varchar](200) NULL,
	[DMLType] [varchar](10) NULL,
	[Quantity0] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Trigger [dbo].[tr_PatientMedSigQuantity]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_PatientMedSigQuantity]                            
 on [dbo].[PatientMedSigQuantity]                            
 After Update                            
 as begin                            
    INSERT INTO [dbo].PatientMedSigQuantity_History                            
           (                          
PMSQID    
,Quantity1    
,Quantity2    
,Quantity3    
,Quantity4    
,Quantity0   
,PMID    
,PatientIdentifier    
,RecordCreatedBy    
,RecordCreatedDate    
,RecordModifiedBy    
,RecordModifiedDate    
,Drug_name    
,DMLType       
,HistoryCreatedDate    
,HistoryCreatedBy    
)                           
                          
 select                           
 d.PMSQID    
,d.Quantity1    
,d.Quantity2    
,d.Quantity3    
,d.Quantity4    
,d.Quantity0   
,d.PMID    
,d.PatientIdentifier    
,d.RecordCreatedBy    
,d.RecordCreatedDate    
,d.RecordModifiedBy    
,d.RecordModifiedDate    
,d.Drug_name    
,d.DMLType                           
,getdate() as [RecordModifiedDate],i.RecordModifiedBy       
from deleted d inner join inserted i on i.PMSQID = d.PMSQID                       
                     
end      
      
      
      
      
      
GO
ALTER TABLE [dbo].[PatientMedSigQuantity] ENABLE TRIGGER [tr_PatientMedSigQuantity]
GO
