USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientView]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientView](
	[PVID] [int] IDENTITY(1,1) NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[LastPackDate] [date] NULL,
	[NextPackDate] [date] NULL,
	[MediAssist] [varchar](10) NULL,
	[ActiveStatus] [varchar](10) NULL,
	[Queuename] [varchar](100) NULL,
	[Notes] [varchar](2000) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[HomePharmarcy] [nvarchar](50) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[IsManualPull] [int] NULL,
	[Remarks] [varchar](200) NULL,
	[PackPharmarcy] [varchar](50) NULL,
	[DisplayName] [varchar](200) NULL,
	[Prev_DisplayName] [varchar](200) NULL,
	[Phone2] [varchar](50) NULL,
 CONSTRAINT [UQ_PatientView_PatientIdentifier] UNIQUE NONCLUSTERED 
(
	[PatientIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientView] ADD  CONSTRAINT [DF_PatientView_ActiveStatus]  DEFAULT ('Active') FOR [ActiveStatus]
GO
/****** Object:  Trigger [dbo].[tr_PatientView_History]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_PatientView_History]              
 on [dbo].[PatientView]              
 After Update              
 as begin              
    INSERT INTO [dbo].PatientView_History              
           (            
PVID        
,GlobalId        
,SSN        
,PatientName ,    
DisplayName    
,DateOfBirth        
,street        
,city        
,state        
,zip        
,Phone        
,LastPackDate        
,NextPackDate        
,MediAssist        
,ActiveStatus        
,Queuename        
,Notes        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,HomePharmarcy        
,PatientIdentifier        
,IsManualPull        
,HistoryRecordCreatedBy        
,HistoryRecordCreatedDate  ,Remarks,PackPharmarcy ,Prev_DisplayName ,Phone2    
)        
 select             
 d.PVID        
,d.GlobalId        
,d.SSN        
,d.PatientName    
,d.DisplayName    
,d.DateOfBirth        
,d.street        
,d.city        
,d.state        
,d.zip        
,d.Phone        
,d.LastPackDate        
,d.NextPackDate        
,d.MediAssist        
,d.ActiveStatus        
,d.Queuename        
,d.Notes        
,d.RecordCreatedBy        
,d.RecordCreatedDate        
,d.RecordModifiedBy        
,d.RecordModifiedDate        
,d.HomePharmarcy        
,d.PatientIdentifier        
,d.IsManualPull        
,i.RecordModifiedBy as HistoryRecordCreatedBy       
,getdate() as HistoryRecordCreatedDate ,d.Remarks,d.PackPharmarcy ,d.Prev_DisplayName ,d.Phone2     
from deleted d inner join inserted i on i.PVID = d.PVID                
end 
GO
ALTER TABLE [dbo].[PatientView] ENABLE TRIGGER [tr_PatientView_History]
GO
/****** Object:  Trigger [dbo].[tr_PatientView_Notes]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_PatientView_Notes]       
 on [dbo].[PatientView]      
 After Update      
 as begin      
    INSERT INTO [dbo].[PatientView_NotesHistory]      
           ([PVID]      
           ,[GlobalId]      
           ,[SSN]      
           ,[PatientName]      
           ,[DateOfBirth]      
           ,[Notes]      
           ,[RecordCreatedBy]      
           ,[RecordCreatedDate]      
           ,[RecordModifiedBy]      
           ,[RecordModifiedDate]      
           --,[HistoryRecordCreatedBy]      
           --,[HistoryRecordCreatedDate]    
     ,PatientIdentifier    
     )       
     select d.[PVID]      
      ,i.[GlobalId]      
      ,i.[SSN]      
      ,i.[PatientName]      
      ,i.[DateOfBirth]      
      ,i.[Notes]       
      ,i.RecordModifiedBy    as [RecordCreatedBy]  
      ,getdate() as [RecordCreatedDate]      
      ,i.[RecordModifiedBy]      
      ,getdate() as [RecordModifiedDate]
	  --,i.RecordModifiedBy,getdate()     
   , i.PatientIdentifier    
    from deleted d inner join inserted i on i.PVID = d.PVID       
 where       
 (      
 (isnull(d.Notes,'D') <> i.Notes )      
 or       
 (isnull(i.Notes,'I') <> d.Notes )      
 )      
  end
GO
ALTER TABLE [dbo].[PatientView] ENABLE TRIGGER [tr_PatientView_Notes]
GO
/****** Object:  Trigger [dbo].[trg_UpdateLastPackDate_PatientView]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateLastPackDate_PatientView]                            
ON [dbo].[PatientView]                            
AFTER Update                            
AS                            
BEGIN                            
    SET NOCOUNT ON;                            
                          
 IF exists (                          
    select top 1 1 from                           
    deleted d                           
          INNER JOIN                            
            inserted i ON d.PVID = i.PVID                           
   where i.NextPackDate <> isnull(d.NextPackDate ,'1900-01-01')                          
                             
    )                          
                           
                          
 begin                          
                       
 --if  EXISTS (                          
 --       SELECT top 1 1                          
 --       FROM patientmedicationlist p WITH (NOLOCK)                          
 -- join inserted i on i.PatientIdentifier=p.PatientIdentifier                          
 --       WHERE IsPacked = 'Yes'                           
 --         AND Reviewed = 'Yes'                          
 --         AND NOT EXISTS (                          
 --             SELECT top 1 1                          
 --             FROM patientmedicationlist p WITH (NOLOCK)                          
 --       join inserted i on i.PatientIdentifier=p.PatientIdentifier                          
 --             WHERE IsPacked = 'Yes'                           
 --               AND Reviewed = 'NO'                          
 --         )                          
                               
 --   )                      
 --begin                        
                        
                       
 --  insert into PatientMedReviewHistory(PatientIdentifier,ReviewedBy,ReviewedDate,                          
 -- Globalid,SSN,DateOfBirth,PatientName,Createddate)                          
                          
 --       SELECT TOP 1 p.PatientIdentifier, isnull(p.ReviewedBy,p.RecordModifiedBy) ReviewedBy,            
 -- isnull(p.ReviewedDate,p.RecordModifiedDate) ReviewedDate ,                          
 -- p.GlobalId,p.SSN,p.DateOfBirth,p.PatientName,getdate()                          
 --       FROM patientmedicationlist p WITH (NOLOCK)                          
 --           join inserted i on i.PatientIdentifier=p.PatientIdentifier                           
 --       WHERE p.Reviewed = 'Yes'  AND p.IsPacked = 'Yes'                        
 --          ORDER BY ReviewedDate DESC;                      
                                 
 --end                      
               
  /*Make all medicines as reviewed NO when nextpackdate is updated*/        
        
  update p set Reviewed='No',ReviewedBy=i.RecordModifiedBy ,ReviewedDate=getdate(),                        
  PMRemarks  ='NextPackDate Update'      
  --,RecordModifiedBy= i.RecordModifiedBy,                    
  --RecordModifiedDate=getdate()      
  , DMLType='Modified'                  
  from                          
  patientmedicationlist p WITH (NOLOCK)                          
  join inserted i on i.PatientIdentifier=p.PatientIdentifier         
        
/*change only color when user updates the next packdate */      
 update p set   Updateddate=getdate()    ,color='red'  ,Updatedby=i.RecordModifiedBy ,  
 comments='NextPackDate Update'  
output deleted.[Globalid] ,            
 deleted.[SSN] ,            
 deleted.[PatientName] ,            
 deleted.[PatientIdentifier] ,            
 deleted.[DateOfBirth] ,            
 deleted.[ReviewedBy] ,            
 deleted.[ReviewedDate] ,            
 deleted.[Createddate],            
 deleted.Updateddate  ,        
 deleted.color,        
 deleted.RevID  ,deleted.Updatedby ,deleted.comments     
 into PatientMedReviewHistory([Globalid] ,            
 [SSN] ,            
 [PatientName] ,            
 [PatientIdentifier] ,            
 [DateOfBirth] ,            
 [ReviewedBy] ,            
 [ReviewedDate] ,     
  [Createddate],            
 Updateddate,color,RevID,Updatedby,comments)            
from PatientMedReviewDetails p  WITH (NOLOCK)                          
join inserted i on i.PatientIdentifier=p.PatientIdentifier               
                        
                          
 end                          
                          
                             
   /*Update LastPackDate as Previous NextPackDate*/                  
    UPDATE PML                            
    SET                             
        pml.LastPackDate=d.NextPackDate                            
    FROM                             
        [dbo].PatientView PML                            
    INNER JOIN                             
        deleted d ON PML.PVID = d.PVID                            
  INNER JOIN                            
  inserted i ON PML.PVID = i.PVID                            
  where isnull(d.NextPackDate ,'1900-01-01')<>'1900-01-01'                            
  and isnull(i.NextPackDate ,'1900-01-01')<>'1900-01-01'           
  /*Neither older not new NextPackDate is not null or 1900 date*/                         
  --and isnull(d.NextPackDate ,'1900-01-01') <> isnull(i.NextPackDate ,'1900-01-01')                          
  and d.NextPackDate  <> i.NextPackDate           
  /*update only when there is change in next packdate */        
  --and isnull(pml.LastPackDate,'1900-01-01') <> isnull(d.NextPackDate ,'1900-01-01')                            
  and isnull(pml.LastPackDate,'1900-01-01') <> d.NextPackDate                           
  and isnull(pml.LastPackDate,'1900-01-01') < d.NextPackDate                          
                                
END; 
GO
ALTER TABLE [dbo].[PatientView] ENABLE TRIGGER [trg_UpdateLastPackDate_PatientView]
GO
