USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientMedTimeSlots]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedTimeSlots](
	[TimeSlotId] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlot1] [varchar](10) NULL,
	[TimeSlot2] [varchar](10) NULL,
	[TimeSlot3] [varchar](10) NULL,
	[TimeSlot4] [varchar](10) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](200) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[DMLType] [varchar](10) NULL,
	[TimeSlot0] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Trigger [dbo].[tr_PatientMedTimeSlots]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_PatientMedTimeSlots]                          
 on [dbo].[PatientMedTimeSlots]                          
 After Update                          
 as begin                          
    INSERT INTO [dbo].PatientMedTimeSlots_History                          
           (                        
TimeSlotId    
,TimeSlot1    
,TimeSlot2    
,TimeSlot3    
,TimeSlot4    
,TimeSlot0 --- added as per lynn's request on August 8th 2025  
,PatientIdentifier    
,RecordCreatedBy    
,RecordCreatedDate    
,RecordModifiedBy    
,RecordModifiedDate    
,DMLType    
,HistoryCreatedDate    
,HistoryCreatedBy       
)                         
                        
 select                         
 d.TimeSlotId    
,d.TimeSlot1    
,d.TimeSlot2    
,d.TimeSlot3    
,d.TimeSlot4    
,d.TimeSlot0  
,d.PatientIdentifier    
,d.RecordCreatedBy    
,d.RecordCreatedDate    
,d.RecordModifiedBy    
,d.RecordModifiedDate    
,d.DMLType                        
,getdate() as [RecordModifiedDate],i.RecordModifiedBy     
from deleted d inner join inserted i on i.TimeSlotId = d.TimeSlotId                     
                   
end    
    
    
    
    
    
    
GO
ALTER TABLE [dbo].[PatientMedTimeSlots] ENABLE TRIGGER [tr_PatientMedTimeSlots]
GO
