USE [MediTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[Displayname_HomePackPharmacies]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Displayname_HomePackPharmacies](
	[pvid] [int] NOT NULL,
	[DisplayName] [varchar](200) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[HomePharmarcy] [varchar](10) NULL,
	[PackPharmarcy] [varchar](10) NULL,
	[DisplayName_PP] [varchar](200) NULL,
	[DisplayName_HP] [varchar](200) NULL,
	[PharmacyConsidered] [varchar](10) NULL,
	[createddate] [datetime] NOT NULL,
	[updateddate] [datetime] NOT NULL,
	[DMLType] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Trigger [dbo].[tr_Displayname_HomePackPharmacies]    Script Date: 7/29/2026 5:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_Displayname_HomePackPharmacies]                    
 on [dbo].[Displayname_HomePackPharmacies]                    
 After Update                    
 as begin                    
    INSERT INTO [Displayname_HomePackPharmacies_History]                    
           (                  
    [pvid]  ,      
 [DisplayName] ,      
 [PatientIdentifier] ,      
 [HomePharmarcy] ,      
 [PackPharmarcy] ,      
 [DisplayName_PP],      
 [DisplayName_HP] ,      
 [PharmacyConsidered] ,      
 [createddate] ,      
 [updateddate]   ,      
 Historycreateddate ,DMLType     
)              
 select                   
    d.[pvid]  ,      
 d.[DisplayName] ,      
 d.[PatientIdentifier] ,      
 d.[HomePharmarcy] ,      
 d.[PackPharmarcy] ,      
 d.[DisplayName_PP],      
 d.[DisplayName_HP] ,      
 d.[PharmacyConsidered] ,      
 d.[createddate] ,      
 d.[updateddate]   ,      
 getdate() Historycreateddate  ,d.DMLType         
            
from deleted d inner join inserted i on i.PVID = d.PVID                      
end 
GO
ALTER TABLE [dbo].[Displayname_HomePackPharmacies] ENABLE TRIGGER [tr_Displayname_HomePackPharmacies]
GO
