USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[RXQVisitDates]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RXQVisitDates](
	[PatientIdentifier] [varchar](200) NULL,
	[DisplayName] [varchar](200) NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[PatientName] [varchar](200) NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleInitial] [varchar](50) NULL,
	[Source_Indicator] [varchar](5) NOT NULL,
	[CustomField1] [varchar](50) NULL,
	[VisitDate] [varchar](10) NULL,
	[RecordInsertedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RXQVisitDates] ADD  DEFAULT (getdate()) FOR [RecordInsertedDate]
GO
