USE [MedAssistTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_TotalLibertyinfoPast9Months_ETL]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TotalLibertyinfoPast9Months_ETL]                                             
as                                              
begin  
  
drop table if exists #Temp_Patient        
        
 select * into #Temp_Patient        
 from Patient       
        
 /*keep only one record for each ssn and dob combination */        
 ;with cte as         
 (select * ,ROW_NUMBER() over(partition by SSN,DateOfBirth         
 order by case when ActiveStatus='active' then 1 else 0 end desc ,PID asc) RNK        
 from #Temp_Patient        
 where ssn<>''         
 )        
 delete from cte        
 where RNK>1        
        
 /*keep only one record for each PatientName and dob combination */        
 ;with cte as         
 (select * ,ROW_NUMBER() over(partition by PatientName,DateOfBirth         
 order by case when ActiveStatus='active' then 1 else 0 end desc ,PID asc) RNK        
 from #Temp_Patient        
        
 )        
 delete  from cte        
 where RNK>1        
   
                                              
drop table if exists #AllpatientsInfo                                              
                                              
select GlobalId,replace(                                
case when SocialSecurityNumber like '%000000%' then '' else SocialSecurityNumber end                                
,'         ','') as SSN                                              
,FirstName +' '+LastName as PatientName,DateOfBirth,                                              
street,city ,state,zip ,Phone ,p.PatientId,p.CustomField3,                                              
P.Source_Indicator                                              
into #AllpatientsInfo                                              
from pp_ods..rxqPatient p with(nolock)                                              
left join pp_ods..rxqQueue q  with(nolock)                                              
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator 

update #AllpatientsInfo set SSN='' where SSN='999999999'
                                            
alter table #AllpatientsInfo                                            
add QueueName varchar(50)                                            
                                              
update a set a.QueueName='medassist'                                              
--select a.*                                               
from                                               
#AllpatientsInfo a                                              
join                                               
(                                              
select distinct globalid from           
#Temp_Patient with(nolock) where globalid<>''                                              
) r on r.globalid=a.globalid and a.globalid<>''                                              
where a.QueueName is null                                              
                                              
                                              
update a set a.QueueName='medassist'                                             
--select a.*  --distinct a.patientname                                               
from                                               
#AllpatientsInfo a                                              
join                                               
(                                              
select distinct SSN,DateOfBirth                                             
from #Temp_Patient with(nolock) where globalid='' and SSN<>''                                              
) r on r.SSN=a.SSN and r.DateOfBirth=a.DateOfBirth                                                
and r.SSN<>'' and r.SSN not in (                                              
'0000000  '                                              
,'00000000 '                                              
,'000000000')                                              
where (a.QueueName is null ) and  a.globalid=''                                              
                            
update a set a.QueueName='medassist'                                              
--select a.*  --distinct a.patientname                                               
from                                               
#AllpatientsInfo a                                              
join                                               
(                                              
select distinct PatientName,DateOfBirth                                             
from #Temp_Patient with(nolock) where globalid='' and SSN=''                                              
) r on r.PatientName=a.PatientName and r.DateOfBirth=a.DateOfBirth                 
where (a.QueueName is null  ) and  a.globalid='' and a.SSN=''              
                                            
                                            
update a set a.QueueName='medassist'                                            
---select distinct a.GlobalId                                            
--select a.*,p.*  --distinct a.patientname                                               
from                           
#AllpatientsInfo a                                            
join #Temp_Patient p with(nolock)                                 
on                                            
(      (                                             
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''                                                  
and  a.SSN<>''                                                  
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth                                                  
  )                                                  
or                                                  
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )                                                  
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName                                     
  )                                                  
)                                                  
where (a.QueueName is null  )                                           
                                                                        
                                                
/*Libery Insert*/                                                      
drop table if exists #Libertymedicinedetails_Total                                                      
                                                      
select                                                      
DG.Name as Drug_name                                                      
,P.patientid                                                      
,(p.FirstName+' '+p.LastName) as Patientname_Liberty                                                      
,p.DateOfBirth as DOB_Liberty                                                      
---,p.Gender as Gender_Liberty                                               
,replace(                                
case when p.SocialSecurityNumber like '%000000%' then '' else p.SocialSecurityNumber end                                
,'         ','') as SSN                                               
----, P.MedicareBeneficiaryId                                              
,P.globalid                                                     
--,D.DoctorId as ProvideID                                                      
---,(D.LastName+','+D.FirstName) Prescriber                 
,(                
CASE          WHEN CHARINDEX(',', D.LastName) > 0           
THEN LEFT(D.LastName, CHARINDEX(',', D.LastName) - 1)        
ELSE D.LastName      
END  /*added on 28th feb 2025  to restricted MD,APRN etc..s in lastname John,MD  */                
+','+                
D.FirstName                
) Prescriber                                   
--,MD.NDC_UPC_HRI as NDC_Number                                                      
--,MD.GenericProductIdentifier as GenericProductIdentifier                                                      
--,Md.GPIGenericName                                                      
,DG.NdcNumber                                       
--,DrugKey                                                      
,cast (st.DateDispensedSQL as date)  DateDispensedSQL                                                      
--,sb.RefillsAuthorized                                                      
----,sb.FullDispenseQuantity                                                      
,st.QuantityDispensed                                                      
---,st.DaysSupply                                                      
---,d.NPI                                                      
,st.RefillNumber                                                      
----,sb.AuthorizedQuantity,sb.AvailableQuantity                                                      
----,sb.RefillUntilDate,st.NextDispensedQuantity                                             
----,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B                                                
,st.ScriptNumber,sb.cScriptBaseId ,p.cQueueId,q.QueueName,                                              
ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId  ,                                              
---st.TimeStampAsOfDate,                                              
  st.LastModified st_LastModified,--st.sigs,                               
  st.DecodedSigs as sigs,                          
  ---st.IsValid,st.PromiseDateTime,                                              
  q.QueueName as st_queuename,                                              
  ---sb.LastRefillNumber,                                            
  ----sb.DateWrittenSQL,                                              
  sb.OnHold,sb.DateWrittenSQL DateWritten,st.cScriptTransactionId,                               
  sb.LastModified as sb_LastModified,       sb.Source_Indicator,                       
  case when  OnHold='y' then cast(sb.DateWrittenSQL as date)                                              
else cast(DateDispensedSQL as date) end as Deriveddatedispensedsql                                              
INTO #Libertymedicinedetails_Total                                                      
From PP_ODS..rxqDoctor as D (nolock)                                                      
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                       
---INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator                                                      
---left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber                                       
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                                      
--inner join #AllpatientsInfo PAI on  P.PatientId=PAI.PatientId and P.Source_Indicator=PAI.Source_Indicator                                               
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                        
and SB.Source_Indicator=ST.Source_Indicator                     
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=ST.DrugId                     
and DG.source_indicator=ST.Source_Indicator                                                      
left join PP_ODS..rxqQueue q                                
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator                                              
where                                                                                    
case when  OnHold='y' then cast(sb.DateWrittenSQL as date)                                              
when  OnHold='n' then cast(DateDispensedSQL as date) end                            
>=cast(DATEADD(MONTH, -9, GETDATE()) as date)  

update #Libertymedicinedetails_Total set SSN='' where SSN='999999999'

drop table if exists #Libertymedicinedetails                                            
                                            
select p.* into #Libertymedicinedetails                                            
from #Libertymedicinedetails_Total p                                            
join #AllpatientsInfo PAI on  P.PatientId=PAI.PatientId and P.Source_Indicator=PAI.Source_Indicator                                               
where pai.QueueName  = 'medassist'                                   
                                         
                                                                                      
alter table #Libertymedicinedetails                                              
add PatientIdentifier varchar(200)                                      
                                                                                                                             
 update #Libertymedicinedetails set PatientIdentifier=Globalid                                   
 where Globalid<>''                                            
                                            
 update a set a.PatientIdentifier=p.PatientIdentifier                                            
---select distinct a.GlobalId                               
--select a.*,p.PatientIdentifier,p.*                                               
from                                               
#Libertymedicinedetails a                                            
join #Temp_Patient p with(nolock)  on  p.ssn<>''  and  a.SSN<>''                                            
and p.ssn=a.SSN and p.DateOfBirth=a.DOB_Liberty                                             
where a.PatientIdentifier is null and a.GlobalId=''                                            
                                            
update a set a.PatientIdentifier=p.PatientIdentifier                                            
---select distinct a.GlobalId                                            
--select a.*,p.PatientIdentifier,p.*                                               
from                                               
#Libertymedicinedetails a                                            
join #Temp_Patient p with(nolock)  on                                              
 p.PatientName=a.Patientname_Liberty and p.DateOfBirth=a.DOB_Liberty                                             
where a.PatientIdentifier is null and a.GlobalId='' and a.ssn=''                                
                               
update a set a.PatientIdentifier=p.PatientIdentifier                                            
---select distinct a.GlobalId                                            
--select a.*,p.PatientIdentifier,p.*                                               
from                                               
#Libertymedicinedetails a                                            
join #Temp_Patient p with(nolock)  on                                             
 p.PatientName=a.Patientname_Liberty and p.DateOfBirth=a.DOB_Liberty                                             
where a.PatientIdentifier is null and                                             
((a.GlobalId='' and a.ssn<>'') and (p.GlobalId<>'' and p.ssn=''))                                      
                                            
                                                                          
if exists(                             
select top 1 1                                              
from                                               
#Libertymedicinedetails l                                                        
)                                              
begin                                               
                                              
truncate table [TotalLibertyMedicationList]                                              
                                              
insert into [TotalLibertyMedicationList](                
 [PatientName] ,                                              
 DateOfBirth ,                                              
 Globalid ,                          
 SSN ,                                              
 [Drug_name] ,                                              
 [patientid] ,                                              
 [DateDispensedSQL] ,                                              
 [QuantityDispensed] ,                                              
    [cScriptTransactionId] ,                                              
 ScriptNumber,                                              
 [Sigs],                                              
 [OnHold] ,                                              
 [Sb_LastModified] ,                                              
 Pharmacy ,                                              
 QueueName ,                      
 RecordCreatedDate  ,                                              
 RecordUpdatedDate ,PatientIdentifier,DateWritten ,Prescriber,NdcNumber,RefillNumber)                                               
                               
                                              
select Patientname_Liberty as PatientName,DOB_Liberty as DateOfBirth,                                              
l.Globalid,l.SSN,Drug_name,[patientid],DateDispensedSQL,QuantityDispensed,                                              
[cScriptTransactionId],ScriptNumber,                                              
Sigs,OnHold,cast(Sb_LastModified as date) as Sb_LastModified,                                              
 Source_Indicator as Pharmacy,l.QueueName, getdate() as RecordCreatedDate ,                                              
getdate() as RecordUpdatedDate,l.PatientIdentifier ,DateWritten ,Prescriber ,NdcNumber ,RefillNumber                                          
from                                               
#Libertymedicinedetails l                                                        
order by Patientname_Liberty,DateDispensedSQL desc ,Sb_LastModified desc                                       
                                    
                                    
                                              
end                                               
                                          
                                              
end          
          
          
          
          
GO
