USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[UserDetailsHistory]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetailsHistory](
	[HisID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[Name] [varchar](200) NULL,
	[EmailID] [varchar](200) NOT NULL,
	[PasswordHash] [binary](64) NOT NULL,
	[IsActive] [int] NULL,
	[Role] [varchar](50) NULL,
	[RoleDesc] [varchar](50) NULL,
	[Is_SSUser] [bit] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](100) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[DMLType] [varchar](50) NULL,
	[HistoryCreatedBy] [varchar](100) NULL,
	[HistoryCreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
