USE [MedAssistTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientMedicationList_Delete]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                                  
exec SP_PatientMedicationList_Delete '176','sai'                                  
*/                                  
CREATE procedure [dbo].[SP_PatientMedicationList_Delete]                                   
(@PMID int ,@User varchar(100) ,@Role varchar(100) =Null                                
)                                  
as begin                          
                      
Declare @lv_PID varchar(200) ,@isadded varchar(10)                     
                      
select @lv_PID=PID              
from PatientMedicationList with(nolock)                      
where PMID=@PMID                      
                                  
insert into PatientMedicationList_History                                  
(                                  
PMID                                  
,Globalid                                  
,SSN                                  
,PatientName                                  
,Drug_name                                  
,sigs                                  
,QuantityDispensed                                  
,Pharmacy                                  
,DateDispensedSQL                                  
,Sb_LastModified                                  
,ScriptNumber                                  
,cScriptTransactionId                                  
,OnHold                                  
,RecordCreatedDate                                  
,RecordCreatedBy                                  
,RecordModifiedDate                                  
,RecordModifiedBy                                  
,DMLType                                  
,Source                                                                  
,HistoryCreatedDate                                  
,HistoryCreatedBy                                  
,PID,                                  
DateOfBirth,                                  
[Reviewed] ,                                  
[ReviewedBy] ,                                  
[ReviewedDate]  ,PMRemarks,DateWritten ,Prescriber,NdcNumber,RefillNumber                               
)                                  
                                  
select                                   
PMID                                  
,Globalid                                  
,SSN                                  
,PatientName                                  
,Drug_name                                  
,sigs                                  
,QuantityDispensed                                  
,Pharmacy                                  
,DateDispensedSQL                                  
,Sb_LastModified                                  
,ScriptNumber                                  
,cScriptTransactionId                                  
,OnHold                                  
,RecordCreatedDate                                  
,RecordCreatedBy                                  
,RecordModifiedDate                                  
,RecordModifiedBy                                  
,DMLType                                  
,Source                                                                  
,getdate() HistoryCreatedDate                                  
,@User  HistoryCreatedBy                                  
,PID,DateOfBirth,[Reviewed] ,                                  
[ReviewedBy] ,                                  
[ReviewedDate]  ,PMRemarks  ,DateWritten  ,Prescriber,NdcNumber ,RefillNumber                           
from                                   
PatientMedicationList with(nolock)                                  
where PMID=@PMID                                   
union                                   
select                                   
PMID                                  
,Globalid                                  
,SSN                                  
,PatientName                                  
,Drug_name                                  
,sigs                                  
,QuantityDispensed             
,Pharmacy                                  
,DateDispensedSQL              
,Sb_LastModified                                  
,ScriptNumber                                  
,cScriptTransactionId                                  
,OnHold                       
,RecordCreatedDate                                  
,RecordCreatedBy                                  
,getdate() RecordModifiedDate                                  
,@User as RecordModifiedBy                                  
,'Delete' as DMLType                                  
,Source                                                                
,getdate() HistoryCreatedDate                                 
,@User  HistoryCreatedBy                                  
,PID,DateOfBirth,[Reviewed] ,                                  
[ReviewedBy] ,                                  
[ReviewedDate]  ,PMRemarks  ,DateWritten  ,Prescriber,NdcNumber ,RefillNumber                           
from                                   
PatientMedicationList with(nolock)                                  
where PMID=@PMID                                   
order by DMLType desc                                   
                                  
                                  
if (@@ROWCOUNT> 0)                                  
begin             
            
---Declare @PMID int ='99999'            
            
--;with abc as             
--(            
--select             
-- PMSQID            
--,Quantity1            
--,Quantity2            
--,Quantity3            
--,Quantity4           
--,Quantity0  -- Added Timeslot as per Lynn Request on Aug 8th 2025      
--,PMID            
--,PatientIdentifier            
--,RecordCreatedBy            
--,RecordCreatedDate            
--,RecordModifiedBy            
--,RecordModifiedDate            
--,Drug_name            
--,DMLType             
--from             
--PatientMedSigQuantity a where PMID=@PMID              
            
--)            
            
--insert into [PatientMedSigQuantity_History]            
--(            
--PMSQID            
--,Quantity1            
--,Quantity2            
--,Quantity3            
--,Quantity4        
--,Quantity0      
--,PMID            
--,PatientIdentifier            
--,RecordCreatedBy            
--,RecordCreatedDate            
--,RecordModifiedBy            
--,RecordModifiedDate            
--,Drug_name            
--,DMLType            
--,HistoryCreatedDate            
--,HistoryCreatedBy            
--)            
            
--select             
-- PMSQID            
--,Quantity1            
--,Quantity2            
--,Quantity3            
--,Quantity4         
--,Quantity0      
--,PMID            
--,PatientIdentifier            
--,RecordCreatedBy            
--,RecordCreatedDate            
--,RecordModifiedBy            
--,RecordModifiedDate            
--,Drug_name            
--,DMLType            
--,getdate() HistoryCreatedDate            
--,RecordModifiedBy  as HistoryCreatedBy            
--from abc            
            
--union all            
            
--select             
-- PMSQID            
--,Quantity1            
--,Quantity2            
--,Quantity3            
--,Quantity4         
--,Quantity0      
--,PMID            
--,PatientIdentifier            
--,RecordCreatedBy            
--,RecordCreatedDate            
--,@User RecordModifiedBy            
--,getdate() RecordModifiedDate            
--,Drug_name            
--,'delete' as DMLType            
--,getdate() HistoryCreatedDate            
--,@User  as HistoryCreatedBy            
--from abc            
  
--delete from PatientMedSigQuantity  where PMID=@PMID             
            
delete from PatientMedicationList where PMID=@PMID                        
                       
if  exists (select 1 from PatientMedReviewDetails p with(nolock)                                  
where PID=@lv_PID)                 
and isnull(@Role,'NA')<>'STF'           
begin                       
                      
update p set ReviewedBy=@User ,ReviewedDate=cast(getdate() as date)                                
,Updateddate=getdate()              
---,color='green'            
,Updatedby =@User ,comments='Deleted Medicines'                            
output deleted.[Globalid] ,                                  
 deleted.[SSN] ,                                  
 deleted.[PatientName] ,                                  
 deleted.[PID] ,        
 deleted.[DateOfBirth] ,                                  
 deleted.[ReviewedBy] ,                                  
 deleted.[ReviewedDate] ,                                  
 deleted.[Createddate],                                  
 deleted.Updateddate  ,                              
 deleted.color,                              
 deleted.RevID  ,deleted.comments ,deleted.Updatedby                           
 into PatientMedReviewHistory([Globalid] ,                                  
 [SSN] ,                                  
 [PatientName] ,                                  
 [PID] ,                                  
 [DateOfBirth] ,                                  
 [ReviewedBy] ,                                  
 [ReviewedDate] ,                                  
  [Createddate],                                  
 Updateddate,color,RevID,comments,Updatedby)                                  
from  PatientMedReviewDetails p                                   
where                       
( (p.ReviewedBy<> @User) or           
(cast(p.ReviewedDate as date)<> cast(getdate() as date))           
or (p.comments<>'Deleted Medicines'    )           
)                      
and PID=@lv_PID                    
/*inorder to avoid same user ,same date,same color  review update multiple times*/                                  
                           
                          
                      
end                      
                      
                      
end                                  
                                
             
end 
GO
