USE [MedAssistTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPatientDocument]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Exec sp_InsertPatientDocument '34900',
'ABNEY,DEBORAH A_NotesHistory (3).pdf',
'F:\PatientDocuments\MedAssistTracker\Test\DEBORAH ABNEY_349'
,'CB'  */
CREATE PROCEDURE [dbo].[sp_InsertPatientDocument]
(
    @PID         VARCHAR(20),
    @FileName    VARCHAR(255),
    @FilePath    VARCHAR(1000),
    @UpdatedBy   VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM PatientDocuments
        WHERE PID = @PID
          AND FileName = @FileName
		  and IsDeleted=0
    )
    BEGIN
        UPDATE PatientDocuments
        SET
            FilePath = @FilePath,
            UpdatedBy = @UpdatedBy,
            UpdatedDate = GETDATE()
        WHERE PID = @PID
          AND FileName = @FileName;
    END
    ELSE
    BEGIN
        INSERT INTO PatientDocuments
        (
            CreatedBy,
            FileName,
            CreatedDate,
            FilePath,
            PID,
            UpdatedBy,
            UpdatedDate
        )
        VALUES
        (
            @UpdatedBy,
            @FileName,
            GETDATE(),
            @FilePath,
            @PID,
            @UpdatedBy,
            GETDATE()
        );
    END
END
GO
