USE [MedAssistTrackerDB_Test]
GO
/****** Object:  Table [dbo].[PatientNotesHistory]    Script Date: 7/27/2026 3:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientNotesHistory](
	[PNHID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[Notes] [varchar](2000) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[HistoryRecordCreatedBy] [varchar](50) NULL,
	[HistoryRecordCreatedDate] [datetime] NULL,
	[IsPinned] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientNotesHistory] ADD  DEFAULT ((0)) FOR [IsPinned]
GO
