USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[GetExistingDetails]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExistingDetails]
(
	@Flag INT
    ,@GID NVARCHAR(100)=NULL
	,@DaysOpen NVARCHAR(100)=NULL
)
AS
BEGIN

	IF(@Flag=1)		--NOTE :To check the value is Numeric Or Not
			
		BEGIN

			SELECT ISNUMERIC(@DaysOpen)

		END

	IF(@Flag=2)		--NOTE :Load Exosting Details
			
		BEGIN

			SELECT	Number_of_Days_Open,
					Days_Closed
			FROM	Pharmacy WITH(NOLOCK)
			WHERE	GID=@GID

		END

END
GO
