USE [PP_ODS]
GO
/****** Object:  Table [dbo].[m25_MDDB_T]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m25_MDDB_T](
	[NDC_UPC_HRI] [char](11) NOT NULL,
	[IdNumberFormatCode] [char](1) NOT NULL,
	[RecordCode] [char](3) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Reserve1] [char](1) NOT NULL,
	[CMSFULPrice] [decimal](13, 5) NOT NULL,
	[CMSFULPriceEffectiveYYYYMMDD] [char](8) NOT NULL,
	[FirstOldestCMSFULPrice] [decimal](13, 5) NOT NULL,
	[FirstOldestCMSFULPriceEffectiveYYYYMMDD] [char](8) NOT NULL,
	[SecondOldestCMSFULPrice] [decimal](13, 5) NOT NULL,
	[SecondOldestCMSFULPriceEffectiveYYYYMMDD] [char](8) NOT NULL,
	[Reserve2] [char](15) NOT NULL,
	[LastChangeYYDDD] [char](5) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
