USE [PP_ODS]
GO
/****** Object:  Table [dbo].[ip2_UniqueDrugImprintImagesJournal]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ip2_UniqueDrugImprintImagesJournal](
	[UniqueDrugId] [bigint] NOT NULL,
	[StartYYYYMMDD] [char](8) NOT NULL,
	[StopYYYYMMDD] [char](8) NOT NULL,
	[PropertyId] [bigint] NOT NULL,
	[ImageId] [bigint] NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
