USE [PP_ODS]
GO
/****** Object:  Table [dbo].[DailyOHMedGainwellClaims]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOHMedGainwellClaims](
	[source_indicator] [varchar](10) NULL,
	[DateDispensed] [varchar](10) NULL,
	[ScriptNumber] [varchar](50) NULL,
	[RefillNumber] [varchar](10) NULL,
	[CustomerFirstName] [varchar](100) NULL,
	[CustomerLastName] [varchar](100) NULL,
	[CustomerIs340B] [varchar](3) NULL,
	[PPProvider] [varchar](50) NULL,
	[PrescriberFirstName] [varchar](100) NULL,
	[PrescriberLastName] [varchar](100) NULL,
	[VisitDate] [varchar](50) NULL,
	[Drugname] [varchar](250) NULL,
	[NdcNumber] [varchar](50) NULL,
	[QuantityDispensed] [varchar](50) NULL,
	[Cost] [varchar](50) NULL,
	[Fee] [varchar](50) NULL,
	[RequestedACQ] [varchar](50) NULL,
	[SecInsuranceName] [varchar](50) NULL,
	[PrmInsuranceName] [varchar](50) NULL,
	[SecMarker] [varchar](50) NULL,
	[PrmMarker] [varchar](50) NULL,
	[PrmAmountPaid] [varchar](50) NOT NULL,
	[SecAmountPaid] [varchar](50) NOT NULL,
	[Profit] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DailyOHMedGainwellClaims] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
