USE [PP_ODS]
GO
/****** Object:  Table [dbo].[m25_MDDB_J]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m25_MDDB_J](
	[NDC_UPC_HRI] [char](11) NOT NULL,
	[IdNumberFormatCode] [char](1) NOT NULL,
	[RecordCode] [char](3) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[ManufacturersName] [char](30) NOT NULL,
	[ManufacturersAbbreviatedName] [char](10) NOT NULL,
	[ProductDescriptionAbbreviation] [char](25) NOT NULL,
	[DrugNameCode] [char](6) NOT NULL,
	[GenericProductPackageCode] [char](8) NOT NULL,
	[LastChangeYYDDD] [char](5) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
