USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Rx365PatientInfo_ETL_Test]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rx365PatientInfo_ETL_Test](
	[PatientIdentifier] [varchar](200) NULL,
	[DisplayName] [varchar](200) NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](8000) NULL,
	[DateOfBirth] [date] NULL,
	[City] [varchar](200) NULL,
	[Street] [varchar](200) NULL,
	[state] [varchar](200) NULL,
	[Zip] [varchar](200) NULL,
	[PhoneNumber1] [varchar](50) NULL,
	[PhoneNumber2] [varchar](50) NULL,
	[PatientId] [varchar](50) NOT NULL,
	[Rx365ID] [uniqueidentifier] NULL,
	[LastLogin] [datetime] NULL,
	[Email] [varchar](500) NULL,
	[StoreNumber] [varchar](50) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Source_Indicator] [nvarchar](50) NULL,
	[LoginCreatedDate] [date] NULL,
	[RecordInserteddate] [datetime] NOT NULL,
	[RNK] [int] NULL
) ON [PRIMARY]
GO
