USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Potential340BClaims]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Potential340BClaims](
	[source_indicator] [varchar](10) NULL,
	[DateDispensed] [varchar](10) NULL,
	[ScriptNumber] [varchar](50) NULL,
	[RefillNumber] [varchar](10) NULL,
	[CustomerName] [varchar](200) NULL,
	[PatientId] [varchar](50) NULL,
	[DateofBirth] [varchar](50) NULL,
	[MedicalReferenceId] [varchar](50) NULL,
	[IsDrug340B] [varchar](3) NULL,
	[PPProvider] [varchar](50) NULL,
	[PrescriberName] [varchar](200) NULL,
	[VisitDate] [varchar](50) NULL,
	[Drugname] [varchar](250) NULL,
	[DrugNDC] [varchar](50) NULL,
	[DateWritten] [varchar](50) NULL,
	[Quantity] [varchar](50) NULL,
	[Cost] [varchar](50) NULL,
	[Fee] [varchar](50) NULL,
	[RequestedACQ] [varchar](50) NULL,
	[SecInsuranceName] [varchar](50) NULL,
	[PrmInsuranceName] [varchar](50) NULL,
	[SecMarker] [varchar](50) NULL,
	[PrmMarker] [varchar](50) NULL,
	[PrmAmountPaid] [varchar](50) NULL,
	[SecAmountPaid] [varchar](50) NULL,
	[PrmPatientPayAmt] [varchar](50) NULL,
	[SecPatientPayAmt] [varchar](50) NULL,
	[NetProfit] [varchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[PickUpStatus] [varchar](50) NULL,
	[InsurancePay] [varchar](50) NULL,
	[PatientPay] [varchar](50) NULL,
	[TotalPaid] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Potential340BClaims] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
