USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqScriptTransaction_PickupDate]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqScriptTransaction_PickupDate](
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[PosPickupDateTime] [datetime] NULL,
	[Source_Indicator] [varchar](20) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
