USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProdAndProfit_FinalEnhanced]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ProdAndProfit_FinalEnhanced]
AS 
BEGIN
				
				IF OBJECT_ID('tempdb..#rxqScriptTransaction_temp') IS NOT NULL   
					Drop table #rxqScriptTransaction_temp
				IF OBJECT_ID('tempdb..#rxqDrug_temp') IS NOT NULL   
				   Drop table #rxqDrug_temp
				IF OBJECT_ID('tempdb..#rxqScriptBase_temp') IS NOT NULL   
				   Drop table #rxqScriptBase_temp
				IF OBJECT_ID('tempdb..#Pharmacy_temp') IS NOT NULL   
				   Drop table #Pharmacy_temp

TRUNCATE TABLE PP_ProdAndProfit_FinalTable

SELECT ScriptNumber, Source_indicator, DrugId, DateDispensedSQL, RefillNumber,Copay,Cost, Fee,
RequestedACQ, RequestedAWP, LastModified, 
FORMAT([LastModified],'MM MMM') as [Month], FORMAT([LastModified],'yyyy') as [Year],
CAST(ScriptNumber as nvarchar(max))+'_'+Source_indicator as ScriptNumber_SI,
FORMAT([DateDispensedSQL],'MM MMM')AS DD_Month,
Year([DateDispensedSQL])as DD_Year, DrugId+'_'+Source_indicator as DrugId_SI,
Format([DateDispensedSQL], 'yyyy'+'MM')+'_'+Source_Indicator as YM_SI, Total
into #rxqScriptTransaction_temp 
FROM rxqScriptTransaction with (nolock)
where DateDispensedSQL >= DATEFROMPARTS(YEAR(GETDATE()) - 2, 1, 1) and DateDispensedSQL<>'9999-09-09'
--drop table #rxqScriptTransaction_temp
--select * from rxqScriptTransaction
----select * from #rxqScriptTransaction_temp

SELECT Is340B, DrugId, DrugId+'_'+source_indicator as DrugId_SI 
into #rxqDrug_temp from rxqDrug with (nolock)

--select * from rxqDrug
--select * from #rxqDrug_temp

SELECT PatientId, PatientId+'_'+Source_Indicator as PatientId_SI, ScriptNumber, Source_Indicator, 
Cast(ScriptNumber as nvarchar(max))+'_'+Source_Indicator as ScriptNumber_SI  
into #rxqScriptBase_temp from rxqScriptBase with (nolock)

--select * from rxqScriptBase_temp

SELECT Number_of_Days_Open, [Year], [Month], 
CAST([Year] as nvarchar(10))+cast([Month]as nvarchar(10))+'_'+Pharmacy_Location as D_SI 
into #Pharmacy_temp from Pharmacy with (nolock)

--select * from #Pharmacy_temp
--select avg(Number_of_Days_Open ) from Pharmacy where year=2021

Insert INTO PP_ProdAndProfit_FinalTable  

select St.ScriptNumber, St.Source_indicator, St.DrugId, St.DateDispensedSQL, St.RefillNumber,St.Copay,
St.Cost, St.Fee, St.RequestedACQ, St.RequestedAWP, St.LastModified, St.[Month], St.[year], 
St.ScriptNumber_SI, St.DD_Month, St.DD_Year, St.DrugId_SI, St.YM_SI, St.Total,    dr.Is340B,
sb.PatientId, sb.PatientId_SI,   ph.Number_of_Days_Open, ph.D_SI 


from #rxqScriptTransaction_temp st
join #rxqScriptBase_temp sb on sb.ScriptNumber_SI=st.ScriptNumber_SI
left join #rxqDrug_temp dr on dr.DrugId_SI=st.DrugId_SI
left join #Pharmacy_temp ph on ph.D_SI=st.YM_SI

End
GO
