USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SavePharmacyDetails]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SavePharmacyDetails]
(
	@GID NVARCHAR(50)
	,@Pharmacy_Location NVARCHAR(50)
	,@Year BIGINT
	,@Month BIGINT
	,@Number_of_Days_Open BIGINT
	,@Days_Closed BIGINT
	,@Actual_Working_Days BIGINT
)
AS
BEGIN

	IF EXISTS(SELECT 1 FROM Pharmacy WITH(NOLOCK) WHERE GID=@GID)
		
		BEGIN
			
			UPDATE [dbo].[Pharmacy]
			 SET [GID] = @GID
			    ,[Pharmacy_Location] =@Pharmacy_Location
			    ,[Year] = @Year
			    ,[Month] =@Month
			    ,[Number_of_Days_Open] = @Number_of_Days_Open
			    ,[Days_Closed] = @Days_Closed
			    ,[Actual_Working_Days] = @Actual_Working_Days
			 WHERE GID=@GID

		END

	IF NOT EXISTS(SELECT 1 FROM Pharmacy WITH(NOLOCK) WHERE GID=@GID)
		
		BEGIN
			
				INSERT INTO [dbo].[Pharmacy]
							([GID]
							,[Pharmacy_Location]
							,[Year]
							,[Month]
							,[Number_of_Days_Open]
							,[Days_Closed]
							,[Actual_Working_Days])
				VALUES
						 (@GID
						 ,@Pharmacy_Location
						 ,@Year
						 ,@Month
						 ,@Number_of_Days_Open
						 ,@Days_Closed
						 ,@Actual_Working_Days
						 )

		END

END
GO
