USE [PP_ODS]
GO
/****** Object:  Table [dbo].[TimeSlotsReviewHistoryDetails_ProdBackup]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlotsReviewHistoryDetails_ProdBackup](
	[TSHisID] [int] NULL,
	[TSID] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [datetime] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[HistoryCreatedDate] [datetime] NULL,
	[HistoryCreatedBy] [varchar](100) NULL
) ON [PRIMARY]
GO
