USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertBzqScriptDeliveryDate]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Sp_InsertBzqScriptDeliveryDate]  
as     
begin     
  
delete p from  
pp_landing..[BzqScriptDeliveryDate] p   
where ScriptNumber is null  

/*take latest delivery date*/
;with cte as
(
select *,
ROW_NUMBER() over(partition by ScriptNumber,RefillNumber,Source_Indicator 
order by DeliveredDate desc ) Rnk 
from pp_landing..[BzqScriptDeliveryDate]
)

delete from cte where Rnk >1

    
/*Delete script in landing that have PosPickupDateTime */    
delete p     
--select count(1)    
from     
BzqScriptDeliveryDate st with(nolock)    
join     
pp_landing..[BzqScriptDeliveryDate] p  with(nolock)     
on p.ScriptNumber=st.ScriptNumber and p.RefillNumber=st.RefillNumber    
and p.Source_Indicator=st.Source_Indicator    
   
    
/*Capture All scripts where PickupDate will be updated from source*/    
insert into pp_ods..[BzqScriptDeliveryDate]    
(INVOICE  
,DeliveredDate  
,IN_LINE  
,ITEM_NUM  
,DESCP  
,ReturnId  
,SaleId  
,BIN  
,ScriptNumber  
,RefillNumber  
,Source_Indicator  
,Record_Created_Date  
,Record_Updated_Date)    
    
select   
 p.INVOICE  
,p.DeliveredDate  
,p.IN_LINE  
,p.ITEM_NUM  
,p.DESCP  
,p.ReturnId  
,p.SaleId  
,p.BIN  
,p.ScriptNumber  
,p.RefillNumber  
,p.Source_Indicator  
,p.Record_Created_Date  
,getdate() as Record_Updated_Date   
from     
pp_landing..[BzqScriptDeliveryDate] p  with(nolock)     
left join   
BzqScriptDeliveryDate st with(nolock)    
on p.ScriptNumber=st.ScriptNumber and p.RefillNumber=st.RefillNumber    
and p.Source_Indicator=st.Source_Indicator    
where st.ScriptNumber is null    
    
  
    
end    
    
    
    
GO
