USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqScriptTransactionAudit]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqScriptTransactionAudit](
	[cTranAuditId] [numeric](18, 0) NOT NULL,
	[cScriptTransactionId] [numeric](18, 0) NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[StatusChange] [bit] NULL,
	[NewWorkFlowStatus] [varchar](50) NULL,
	[OldWorkFlowStatus] [varchar](50) NULL,
	[LocationChange] [bit] NULL,
	[NewWorkFlowLocation] [int] NULL,
	[OldWorkFlowLocation] [int] NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Transition] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
