USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqImageControl]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqImageControl](
	[cImageControlId] [int] NOT NULL,
	[ImageKeyType] [char](1) NOT NULL,
	[ImageKey] [varchar](200) NOT NULL,
	[Description] [varchar](200) NULL,
	[ScanDate] [datetime] NULL,
	[FileName] [varchar](200) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Directory] [varchar](200) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
