USE [PP_ODS]
GO
/****** Object:  Table [dbo].[FiveStar_HRM]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiveStar_HRM](
	[APCGCN] [nvarchar](255) NULL,
	[GCN] [nvarchar](255) NULL,
	[GPI] [nvarchar](255) NULL,
	[NDC] [nvarchar](255) NULL,
	[Brand_Drug_Name] [nvarchar](255) NULL,
	[Generic_Drug_Name] [nvarchar](255) NULL,
	[DrugStrength] [nvarchar](255) NULL,
	[Route] [nvarchar](255) NULL,
	[Therapeutic_Category] [nvarchar](255) NULL,
	[Obsolete_Date] [nvarchar](255) NULL,
	[New_Update_Flag] [nvarchar](255) NULL,
	[Amitriptyline_flag] [nvarchar](255) NULL,
	[Amobarbital_flag] [nvarchar](255) NULL,
	[Benztropine_flag] [nvarchar](255) NULL,
	[Brompheniramine_flag] [nvarchar](255) NULL,
	[Butabarbital_flag] [nvarchar](255) NULL,
	[Butalbital_flag] [nvarchar](255) NULL,
	[Carbinoxamine_flag] [nvarchar](255) NULL,
	[Carisoprodol_flag] [nvarchar](255) NULL,
	[Chloral_hydrate_flag] [nvarchar](255) NULL,
	[Chlorpheniramine_flag] [nvarchar](255) NULL,
	[Chlorpropamide_flag] [nvarchar](255) NULL,
	[Chlorzoxazone_flag] [nvarchar](255) NULL,
	[Clemastine_flag] [nvarchar](255) NULL,
	[Clomipramine_flag] [nvarchar](255) NULL,
	[Cyclobenzaprine_flag] [nvarchar](255) NULL,
	[Cyproheptadine_flag] [nvarchar](255) NULL,
	[Dexchlorpheniramine_flag] [nvarchar](255) NULL,
	[Digoxin_flag] [nvarchar](255) NULL,
	[Diphenhydramine_flag] [nvarchar](255) NULL,
	[Dipyridamole_flag] [nvarchar](255) NULL,
	[Disopyramide_flag] [nvarchar](255) NULL,
	[Doxepin_flag] [nvarchar](255) NULL,
	[Doxylamine_flag] [nvarchar](255) NULL,
	[Ergoloid_mesylates_flag] [nvarchar](255) NULL,
	[Estrogens_flag] [nvarchar](255) NULL,
	[Eszopiclone_flag] [nvarchar](255) NULL,
	[Glyburide_flag] [nvarchar](255) NULL,
	[Guanfacine_flag] [nvarchar](255) NULL,
	[Hydroxyzine_flag] [nvarchar](255) NULL,
	[Imipramine_flag] [nvarchar](255) NULL,
	[Indomethacin_flag] [nvarchar](255) NULL,
	[Isoxsuprine_flag] [nvarchar](255) NULL,
	[Ketorolac_flag] [nvarchar](255) NULL,
	[Megestrol_flag] [nvarchar](255) NULL,
	[Meperidine_flag] [nvarchar](255) NULL,
	[Meprobamate_flag] [nvarchar](255) NULL,
	[Metaxalone_flag] [nvarchar](255) NULL,
	[Methocarbamol_flag] [nvarchar](255) NULL,
	[Methyldopa_flag] [nvarchar](255) NULL,
	[Nifedipine_flag] [nvarchar](255) NULL,
	[Nitrofurantoin_flag] [nvarchar](255) NULL,
	[Orphenadrine_flag] [nvarchar](255) NULL,
	[Pentazocine_flag] [nvarchar](255) NULL,
	[Pentobarbital_flag] [nvarchar](255) NULL,
	[Phenobarbital_flag] [nvarchar](255) NULL,
	[Promethazine_flag] [nvarchar](255) NULL,
	[Reserpine_flag] [nvarchar](255) NULL,
	[Secobarbital_flag] [nvarchar](255) NULL,
	[Thioridazine_flag] [nvarchar](255) NULL,
	[Thyroid_flag] [nvarchar](255) NULL,
	[Ticlopidine_flag] [nvarchar](255) NULL,
	[Trihexyphenidyl_flag] [nvarchar](255) NULL,
	[Trimethobenzamide_flag] [nvarchar](255) NULL,
	[Trimipramine_flag] [nvarchar](255) NULL,
	[Triprolidine_flag] [nvarchar](255) NULL,
	[Zaleplon_flag] [nvarchar](255) NULL,
	[Zolpidem_flag] [nvarchar](255) NULL,
	[Dexbrompheniramine_flag] [nvarchar](255) NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
