USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SpMergeLandingtoODS_Rx365PatientAppendix]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SpMergeLandingtoODS_Rx365PatientAppendix]  
as begin   
  
--update   
update t set    
Rx365ID =s.Rx365ID  
,LastLogin= s.LastLogin  
,StoreNumber= s.StoreNumber  
,Email=s.Email  
,Record_Updated_date=getdate()  
---select s.*  
from   
PP_Landing..Rx365PatientAppendix s  
join   
Rx365PatientAppendix t  
on s.Source_Indicator=t.Source_Indicator and s.PatientId=t.PatientId 


---Insert   
insert into Rx365PatientAppendix(  
PatientId  
,Rx365ID  
,LastLogin  
,StoreNumber  
,Email  
,Source_Indicator  
,Record_Created_Date  
,Record_Updated_date  
,FirstLogin)  
  
select   
 s.PatientId  
,s.Rx365ID  
,s.LastLogin  
,s.StoreNumber  
,s.Email  
,s.Source_Indicator  
,getdate() as Record_Created_Date  
,getdate() as Record_Updated_date  
,s.LastLogin as FirstLogin  
from   
PP_Landing..Rx365PatientAppendix s  
left join   
Rx365PatientAppendix t  
on s.Source_Indicator=t.Source_Indicator and s.PatientId=t.PatientId  
where t.PatientId is null   
  
  
 
  
end
GO
