USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqDrugCatalog]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugCatalog](
	[cDrugCatalogId] [int] NOT NULL,
	[DrugVendorNumber] [varchar](50) NULL,
	[DrugVendorId] [int] NULL,
	[DrugNdc] [varchar](50) NULL,
	[Acq] [decimal](12, 2) NULL,
	[LastModified] [datetime] NULL,
	[VendorGeneric] [bit] NULL,
	[source_indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
