USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DispensedMedicinesDailyReport]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
DECLARE @Today DATE = CAST(GETDATE() AS DATE); --'2025-09-22';  
DECLARE @StartDate DATE;  
DECLARE @EndDate DATE;  
  
IF DATEPART(WEEKDAY, @Today) = 2  -- 2 = Monday (assuming default DATEFIRST = 7 where Sunday=1, Monday=2)  
BEGIN  
    SET @StartDate = DATEADD(DAY, -3, @Today);  -- Friday  
    SET @EndDate   = DATEADD(DAY, -1, @Today);  -- Sunday  
END  
ELSE  
BEGIN  
    SET @StartDate = DATEADD(DAY, -1, @Today);  -- Yesterday  
    SET @EndDate   = DATEADD(DAY, -1, @Today);  -- Yesterday  
END;  
SELECT @StartDate AS StartDate, @EndDate AS EndDate;  
Exec Sp_DispensedMedicinesDailyReport @StartDate,@EndDate  
  
select * from DispensedMedsDailyReport  
order by DateDispensed,CustomerFirstName,CustomerLastName,ScriptNumber   
*/  
CREATE procedure [dbo].[Sp_DispensedMedicinesDailyReport]  
(@StartDate date , @EndDate date)  
as   
  
begin  

--Declare @StartDate date ='2025-12-18' , @EndDate date='2025-12-18'
  
/*Libery Insert*/                                                  
drop table if exists #Libertymedicinedetails                                                  
select         
cast (st.DateDispensedSQL as date)  DateDispensed  
,st.ScriptNumber,st.RefillNumber,st.Agency,st.ChargeCode,  
p.FirstName CustomerFirstName  
,p.LastName CustomerLastName  
,p.Source_Indicator  
,p.DateOfBirth as CustomerDateOfBirth  
,p.CustomField1 as VisitDate,p.PatientId  
,D.FirstName PrescriberFirstName  
,d.LastName PrescriberLastName  
,d.CustomField1 as PPProvider  
,sb.DateWrittenSQL as DateWritten  
,DG.Name as Drugname  
,dg.NdcNumber  
,st.LoggedInUser --,U.FirstName +' '+U.LastName LoggedInUserName  
,dg.Is340B  
,st.QuantityDispensed , st.WorkFlowStatus, st.PosPickupDateTime,st.PickupTimeType,  
case when st.WorkFlowStatus='V' and st.PosPickupDateTime is null then 'Verified'  
when st.WorkFlowStatus='V' and st.PosPickupDateTime is not null then 'Picked Up'  
when st.WorkFlowStatus='' or st.WorkFlowStatus is null then 'Entered' end as PickUpStatus,  
st.PrimaryRejectedFlag,st.NCPDPRejectCodes,st.AgencySequence  
INTO #Libertymedicinedetails                                                  
From PP_ODS..rxqDoctor as D (nolock)                                                  
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                                   
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                                  
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                    
and SB.Source_Indicator=ST.Source_Indicator                 
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=ST.DrugId                 
and DG.source_indicator=ST.Source_Indicator       
--left join PP_ODS..rxquser as U (nolock) on U.RecordId=st.LoggedInUser   
--and u.Source_Indicator=st.Source_Indicator  
where          
cast(DateDispensedSQL as date) between @StartDate and @EndDate  
--cast(DateDispensedSQL as date) >=cast(DATEADD(MONTH, -6, GETDATE()) as date)    
--and cast(DateDispensedSQL as date)<>'9999-09-09'  
  
  
  
  
drop table if exists #ScriptsPrimaryInsurance  
;with cte as   
(  
  
select st.ScriptNumber,st.RefillNumber,st.Source_Indicator,oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN,  
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,  
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator   
order by SubmitDate desc) RNK  
from   
(select * from #Libertymedicinedetails ) st--2480   
join rxqOnlineHistory OH with(nolock) on    
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and     
st.Source_Indicator=oh.Source_Indicator and     
cast(datedispensed as date) <= cast(SubmitDate as date)  
left join rxqAgency a   
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator  
WHERE  OH.PrimaryOrSecondary='P'   
)  
select * into #ScriptsPrimaryInsurance from cte where RNK=1   
/*all primary insurance irrespective of paid status to be considered*/  
  
  
drop table if exists #ScriptsSecondaryInsurance  
;with cte as   
(  
  
select st.ScriptNumber,st.RefillNumber,st.Source_Indicator,oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN,  
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,  
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator   
order by SubmitDate desc) RNK  
from   
(select * from #Libertymedicinedetails ) st--2092   
join rxqOnlineHistory OH with(nolock) on    
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and     
st.Source_Indicator=oh.Source_Indicator and     
cast(datedispensed as date) <= cast(SubmitDate as date)  
left join rxqAgency a   
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator  
WHERE  OH.PrimaryOrSecondary='s'   
)  
select * into #ScriptsSecondaryInsurance from cte where RNK=1  
and TransactionResponse='P' /*only paid to be considered*/  
  

   
truncate table [DispensedMedsDailyReport]  
  
insert into [DispensedMedsDailyReport](  
DateDispensed  
,ScriptNumber  
,RefillNumber  
,CustomerFirstName  
,CustomerLastName  
,Pharmacy  
,CustomerDateOfBirth  
,VisitDate  
,PrescriberFirstName  
,PrescriberLastName  
,PPProvider  
,DateWritten  
,Drugname  
,NdcNumber  
,LoggedInUser  
,Is340B  
,QuantityDispensed  
,PrimaryInsuranceName  
,PrimaryInsuranceBIN  
,SecondaryInsuranceName  
,WorkFlowStatus  
,PosPickupDateTime  
,PickUpStatus  
,patientid
)  
  
select   
CONVERT(VARCHAR(10), DateDispensed, 101) DateDispensed  
,st.ScriptNumber,st.RefillNumber,CustomerFirstName,CustomerLastName,  
st.Source_Indicator as Pharmacy ,CONVERT(VARCHAR(10), CustomerDateOfBirth, 101) CustomerDateOfBirth  
,VisitDate,  
PrescriberFirstName,PrescriberLastName,PPProvider,  
CONVERT(VARCHAR(10), DateWritten, 101)  DateWritten,Drugname,NdcNumber,LoggedInUser,  
Is340B,QuantityDispensed,  
Upper(p.AgencyDescription) PrimaryInsuranceName,p.BIN PrimaryInsuranceBIN,  
Upper(s.AgencyDescription) SecondaryInsuranceName,  
WorkFlowStatus,CONVERT(VARCHAR(10), PosPickupDateTime, 101) PosPickupDateTime,   
PickUpStatus  ,st.patientid
--into #finalresult  
from   
(select * from #Libertymedicinedetails ) st   
left join #ScriptsPrimaryInsurance p on   
st.scriptnumber=p.scriptnumber and st.RefillNumber=p.refillnumber and     
st.Source_Indicator=p.Source_Indicator   
left join #ScriptsSecondaryInsurance s on   
st.scriptnumber=s.scriptnumber and st.RefillNumber=s.refillnumber and     
st.Source_Indicator=s.Source_Indicator  
  
update p set Notes=n.notes    
--select *    
from DispensedMedsDailyReport p     
join     
(    
SELECT     
    patientid,    
    Pharmacy,    
    STRING_AGG(PlainMessage  
 , CHAR(10))     
        WITHIN GROUP (ORDER BY cNotesId DESC) AS notes    
from    
(    
select distinct p.patientid,p.Pharmacy,m.PlainMessage,m.cNotesId    
from DispensedMedsDailyReport p     
join rxqNotesParsedMessages m on p.PatientId=m.TypeKey    
and p.Pharmacy=m.source_indicator    
join rxqNotes n on m.TypeKey=n.TypeKey    
and n.source_indicator=m.source_indicator and n.cNotesId = m.cNotesId    
where n.IsValid=1    
--where TypeKey='113515' and p.Source_Indicator='ASH'    
) abc    
GROUP BY patientid,Pharmacy    
) n on p.PatientId=n.PatientId and p.Pharmacy=n.Pharmacy    
  

update DispensedMedsDailyReport set Notes='' where Notes is null    
  
update DispensedMedsDailyReport set Notes=  
  
    LTRIM(RTRIM(  
        REPLACE(  
            REPLACE(  
                REPLACE(  
                    REPLACE(Notes, CHAR(13), ''),                 -- remove CR  
                    CHAR(10) + ' ' + CHAR(10), CHAR(10)          -- remove newline+spaces+newline  
                ),  
                CHAR(10) + CHAR(10), CHAR(10)                    -- double LF  
            ),  
            CHAR(10) + CHAR(10) + CHAR(10), CHAR(10)             -- triple LF  
        )  
    ))  
  
  
--update DispensedMedsDailyReport set PrmInsuranceName='' where PrmInsuranceName is null     
    
update DispensedMedsDailyReport set SecondaryInsuranceName='' where SecondaryInsuranceName is null     

update DispensedMedsDailyReport set NdcNumber=
substring(NdcNumber,1,5)+'-'+substring(NdcNumber,6,4)+'-'+substring(NdcNumber,10,2) 
  
end  
GO
