USE [PP_ODS]
GO
/****** Object:  Table [dbo].[FinalPlusPack]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalPlusPack](
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[DateDispensedSQL] [date] NULL,
	[ScriptNumber] [int] NOT NULL,
	[DrugId] [varchar](50) NULL,
	[Name] [varchar](100) NULL,
	[PatientId] [varchar](50) NULL,
	[GlobalId] [varchar](50) NULL,
	[PatientsFirstName] [varchar](50) NULL,
	[PatientsLastName] [varchar](50) NULL,
	[DoctorId] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Sigs] [nvarchar](1000) NULL,
	[DaysSupply] [varchar](50) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[AvailableQuantity] [decimal](12, 3) NULL,
	[OnHold] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
