USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqWorkFlowItem]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqWorkFlowItem](
	[cWorkFlowItemId] [int] NOT NULL,
	[SequenceNumber] [int] NOT NULL,
	[TaskCode] [varchar](50) NULL,
	[StatusCode] [varchar](50) NULL,
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL,
	[PatientId] [varchar](50) NULL,
	[Comments] [varchar](max) NULL,
	[DeliveryMethod] [varchar](50) NULL,
	[AddedByName] [varchar](50) NULL,
	[AssignedToName] [varchar](50) NULL,
	[CompletedByName] [varchar](50) NULL,
	[Added] [datetime] NULL,
	[Due] [datetime] NULL,
	[Completed] [datetime] NULL,
	[Agency] [varchar](50) NULL,
	[NursingHome] [varchar](50) NULL,
	[OtcCost] [float] NULL,
	[PickupType] [varchar](50) NULL,
	[CallDate] [varchar](50) NULL,
	[CallTime] [varchar](50) NULL,
	[PickupDate] [datetime] NULL,
	[PickupTimeType] [varchar](50) NULL,
	[PayMethod] [varchar](50) NULL,
	[CallbackNumber] [varchar](50) NULL,
	[Notes] [varchar](50) NULL,
	[eScriptTransactionId] [int] NULL,
	[FaxDoctorId] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[cQueueId] [int] NULL,
	[ActivityStarted] [bit] NULL,
	[DeleteNotes] [varchar](200) NULL,
	[DueTimeType] [varchar](50) NULL,
	[ReferenceId] [varchar](50) NULL,
	[RequestType] [int] NULL,
	[Confirmed] [int] NULL,
	[StoreNumber] [varchar](50) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
