USE [PP_ODS]
GO
/****** Object:  Table [dbo].[m25_MDDB_A]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m25_MDDB_A](
	[NDC_UPC_HRI] [char](11) NOT NULL,
	[IdNumberFormatCode] [char](1) NOT NULL,
	[RecordCode] [char](3) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[SequenceCode] [char](7) NOT NULL,
	[LabelerCode] [int] NOT NULL,
	[GenericIdTypeCode] [char](1) NOT NULL,
	[GenericIdNumber] [bigint] NOT NULL,
	[DEAClassCode] [char](5) NOT NULL,
	[AHFSTherapeuticClassCode] [int] NOT NULL,
	[ItemStatusFlag] [char](1) NOT NULL,
	[LocalSystemicFlag] [char](1) NOT NULL,
	[TEECode] [char](2) NOT NULL,
	[FormattedIdNumber] [char](13) NOT NULL,
	[RxOtcIndicatorCode] [char](1) NOT NULL,
	[ThirdPartyRestrictionCode] [char](1) NOT NULL,
	[MaintenanceDrugCode] [char](1) NOT NULL,
	[DispensingUnitCode] [char](1) NOT NULL,
	[UnitDose_UnitOfUsePackageCode] [char](1) NOT NULL,
	[RouteOfAdministration] [char](2) NOT NULL,
	[FormTypeCode] [char](1) NOT NULL,
	[DollarRandCode] [char](1) NOT NULL,
	[RxRankCode] [char](1) NOT NULL,
	[MultiSourceCode] [char](1) NOT NULL,
	[BrandNameCode] [char](1) NOT NULL,
	[ReimbursementIndicator] [char](1) NOT NULL,
	[InternalExternalCode] [char](1) NOT NULL,
	[SingleCombinationCode] [char](1) NOT NULL,
	[StorageConditionCode] [char](1) NOT NULL,
	[LimitedStabilityCode] [char](1) NOT NULL,
	[LastChangeYYDDD] [char](5) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
