USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ScriptsTransacitionDelete_Test]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[SP_ScriptsTransacitionDelete_Test]
as
begin

IF OBJECT_ID('tempdb..#ScriptTransaction') IS NOT NULL
		DROP TABLE #ScriptBase
IF OBJECT_ID('tempdb..#ScriptTransaction_Source_DLT') IS NOT NULL
		DROP TABLE #ScriptTransaction

Select *
into			#ScriptTransaction
From			PP_ODS..rxqScriptTransaction				-------TargetBaseTaleble
Select *
into			#ScriptTransaction_Source_DLT
From			PP_Landing..rxqScriptTransaction_DLT		-------SourceBaseTaleble

ALTER TABLE		#ScriptTransaction
ADD				isActive varchar(100),						
				Record_Updated datetime 
		

MERGE			#scripttransaction AS Target				
USING			#scripttransaction_Source_DLT	AS Source
				ON Target.cScriptTransactionId=source.cScriptTransactionId
				and Target.ScriptNUmber=Source.ScriptNUmber 									  
				and Target.RefillNumber=Source.RefillNumber 									   
				and Target.Source_Indicator=source.Source_Indicator							
	
WHEN MATCHED 												
AND 

Target.AdministrativeCharge									<>source.AdministrativeCharge 							   or
Target.Agency												<>source.Agency 										   or
Target.AuthorizationNumber									<>source.AuthorizationNumber 							   or
Target.ChargeCode											<>source.ChargeCode 									   or
Target.Copay												<>source.Copay 											   or
Target.Cost													<>source.Cost 									 		   or
Target.CostBase                                         	<>source.CostBase                                          or
Target.CountedByUser										<>source.CountedByUser									   or
Target.CouponAmount											<>source.CouponAmount									   or
Target.CouponNumber											<>source.CouponNumber									   or
Target.CouponType											<>source.CouponType										   or
Target.DateDispensedSQL										<>source.DateDispensedSQL								   or
Target.DaysSupply											<>source.DaysSupply										   or
Target.DeliveryCharge										<>source.DeliveryCharge									   or
Target.DenialClarification									<>source.DenialClarification							   or
Target.DiagnosisCode										<>source.DiagnosisCode									   or
Target.Discount												<>source.Discount										   or
Target.DispenseAsWritten									<>source.DispenseAsWritten								   or
Target.DrugId												<>source.DrugId											   or
Target.ExpirationDate										<>source.ExpirationDate									   or
Target.Fee													<>source.Fee											   or
Target.Icd9Code												<>source.Icd9Code										   or
Target.LevelOfService										<>source.LevelOfService									   or
Target.LoggedInUser											<>source.LoggedInUser									   or
Target.LotNumber											<>source.LotNumber										   or
Target.NCPDCAmountDue										<>source.NCPDCAmountDue									   or
Target.NCPDCBasisOfCost										<>source.NCPDCBasisOfCost								   or
Target.NCPDCCustomerLocation								<>source.NCPDCCustomerLocation							   or
Target.NCPDCDenialClarification								<>source.NCPDCDenialClarification						   or
Target.NCPDCDispenseAsWritten								<>source.NCPDCDispenseAsWritten							   or
Target.NCPDCDispensingFee									<>source.NCPDCDispensingFee								   or
Target.NCPDCEligabilityClarification						<>source.NCPDCEligabilityClarification					   or
Target.NCPDCGrossAmountDue									<>source.NCPDCGrossAmountDue							   or
Target.NCPDCIngredientCost									<>source.NCPDCIngredientCost							   or
Target.NCPDCLevelOfService									<>source.NCPDCLevelOfService							   or
Target.NCPDCOtherPayorAmount								<>source.NCPDCOtherPayorAmount							   or
Target.NCPDCPatientPaidAmount								<>source.NCPDCPatientPaidAmount							   or
Target.NCPDCPriorAuthorizationCode							<>source.NCPDCPriorAuthorizationCode					   or
Target.NCPDCPriorAuthorizationNumber						<>source.NCPDCPriorAuthorizationNumber					   or
Target.NCPDCSalesTax										<>source.NCPDCSalesTax									   or
Target.NCPDCUsualCustomaryCharge							<>source.NCPDCUsualCustomaryCharge						   or
Target.NursingHome											<>source.NursingHome									   or
Target.OtherCharge											<>source.OtherCharge									   or
Target.OtherCoverageCode									<>source.OtherCoverageCode								   or
Target.PaidSwitch											<>source.PaidSwitch										   or
Target.PaidDate												<>source.PaidDate										   or
Target.PcnNumber											<>source.PcnNumber										   or
Target.PosScanFlag											<>source.PosScanFlag									   or
Target.PostageCharge										<>source.PostageCharge									   or
Target.PriceFormula											<>source.PriceFormula									   or
Target.PriceFormulaOriginal									<>source.PriceFormulaOriginal							   or
Target.PrimaryRejectedFlag									<>source.PrimaryRejectedFlag							   or
Target.QuantityDispensed									<>source.QuantityDispensed								   or
Target.RequestedACQ											<>source.RequestedACQ									   or
Target.RequestedAWP											<>source.RequestedAWP									   or
Target.RequestedCON											<>source.RequestedCON									   or
Target.RequestedCopay										<>source.RequestedCopay									   or
Target.RequestedDiscount									<>source.RequestedDiscount								   or
Target.RequestedFee											<>source.RequestedFee									   or
Target.RequestedTax											<>source.RequestedTax									   or
Target.RequestedTotal										<>source.RequestedTotal									   or
Target.RphInitials											<>source.RphInitials									   or
Target.RxpIndicator											<>source.RxpIndicator									   or
Target.ShippingCharge										<>source.ShippingCharge									   or
Target.Sigs													<>source.Sigs											   or
Target.StoreNumber											<>source.StoreNumber									   or
Target.Tax													<>source.Tax											   or
Target.TimeStampAsOfDate									<>source.TimeStampAsOfDate								   or
Target.Total												<>source.Total											   or
Target.TriplicateSerialNumber								<>source.TriplicateSerialNumber							   or
Target.UnitDoseIndicator									<>source.UnitDoseIndicator								   or
Target.UsualAndCustomary									<>source.UsualAndCustomary								   or
Target.UsualAndCustomarySwitch								<>source.UsualAndCustomarySwitch						   or
Target.WorkersCompFormType									<>source.WorkersCompFormType							   or
Target.WorkFlowStatus										<>source.WorkFlowStatus									   or
Target.LastModified											<>source.LastModified									   or
Target.IsValid												<>source.IsValid										   or
Target.NCPDPProcedureModifierCodes							<>source.NCPDPProcedureModifierCodes					   or
Target.NCPDPSubmissionClarificationCodes					<>source.NCPDPSubmissionClarificationCodes				   or
Target.NCPDPDelayReasonCode									<>source.NCPDPDelayReasonCode							   or
Target.NCPDPRouteOfAdministration							<>source.NCPDPRouteOfAdministration						   or
Target.IncentiveAmount										<>source.IncentiveAmount								   or
Target.NCPDPRejectCodes										<>source.NCPDPRejectCodes								   or
Target.NCPDPResponsePricingSegment							<>source.NCPDPResponsePricingSegment					   or
Target.IntermediaryAuthorizationType						<>source.IntermediaryAuthorizationType					   or
Target.IntermediaryAuthorization							<>source.IntermediaryAuthorization						   or
Target.PackingListNumber									<>source.PackingListNumber								   or
Target.WorkflowLocation										<>source.WorkflowLocation								   or
Target.DecodedSigs											<>source.DecodedSigs									   or
Target.PosPickupDateTime									<>source.PosPickupDateTime								   or
Target.cQueueId												<>source.cQueueId										   or
Target.PickupPatientId										<>source.PickupPatientId								   or
Target.PickupDriversLicense									<>source.PickupDriversLicense							   or
Target.PickupRelationship									<>source.PickupRelationship								   or
Target.HcfaResubmitCode										<>source.HcfaResubmitCode								   or
Target.HcfaOriginalReferenceCode							<>source.HcfaOriginalReferenceCode						   or
Target.HcfaPriorAuthorization								<>source.HcfaPriorAuthorization							   or
Target.AccountId											<>source.AccountId										   or
Target.ManualPriceChangeUser								<>source.ManualPriceChangeUser							   or
Target.EstimatedDirFee										<>source.EstimatedDirFee								   or
Target.DiagnosisCodeType									<>source.DiagnosisCodeType								   or
Target.PromiseDateTime										<>source.PromiseDateTime								   or
Target.PickupTimeType										<>source.PickupTimeType									   or
Target.HasProblem											<>source.HasProblem										   or
Target.WorkQueueNote										<>source.WorkQueueNote									   or
Target.ProblemCategory										<>source.ProblemCategory								   or
Target.PrintLabelDateTime									<>source.PrintLabelDateTime								   or
Target.Printed												<>source.Printed										   or
Target.WorkflowLock											<>source.WorkflowLock									   or
Target.CountImage											<>source.CountImage										   or
Target.NextDispensedQuantity								<>source.NextDispensedQuantity							   or
Target.TimeStampComputerDateTime							<>source.TimeStampComputerDateTime						   or
Target.AgencySequence										<>source.AgencySequence									   or
Target.PartialFill											<>source.PartialFill									   or
Target.eVoucherAmount										<>source.eVoucherAmount									   or
Target.WholesalerRebateAmount								<>source.WholesalerRebateAmount							   or
Target.Confirmed											<>source.Confirmed										   or
Target.Source												<>source.Source											   or
Target.PrescriptionDirectionOverflowPrinted					<>source.PrescriptionDirectionOverflowPrinted			   or
Target.AdminSite											<>source.AdminSite										   or
Target.TelephoneAuthorizedBy								<>source.TelephoneAuthorizedBy							   or
Target.TelephoneReceivingRph								<>source.TelephoneReceivingRph							   or
Target.ArPosted												<>source.ArPosted										   or
Target.Record_Created_Date									<>source.Record_Created_Date							   or
Target.Record_Updated_Date									<>source.Record_Updated_Date							   

Then 
UPDATE 														
SET 														

Target.AdministrativeCharge									=source.AdministrativeCharge						,
Target.Agency												=source.Agency										,
Target.AuthorizationNumber									=source.AuthorizationNumber 						,
Target.ChargeCode											=source.ChargeCode 									,
Target.Copay												=source.Copay 										,
Target.Cost													=source.Cost 										,
Target.CostBase                                             =source.CostBase                                    ,                                                    
Target.CountedByUser										=source.CountedByUser								,
Target.CouponAmount											=source.CouponAmount								,
Target.CouponNumber											=source.CouponNumber								,
Target.CouponType											=source.CouponType									,
Target.DateDispensedSQL										=source.DateDispensedSQL							,
Target.DaysSupply											=source.DaysSupply									,
Target.DeliveryCharge										=source.DeliveryCharge								,
Target.DenialClarification									=source.DenialClarification							,
Target.DiagnosisCode										=source.DiagnosisCode								,
Target.Discount												=source.Discount									,
Target.DispenseAsWritten									=source.DispenseAsWritten							,
Target.DrugId												=source.DrugId										,
Target.ExpirationDate										=source.ExpirationDate								,
Target.Fee													=source.Fee											,
Target.Icd9Code												=source.Icd9Code									,
Target.LevelOfService										=source.LevelOfService								,
Target.LoggedInUser											=source.LoggedInUser								,
Target.LotNumber											=source.LotNumber									,
Target.NCPDCAmountDue										=source.NCPDCAmountDue								,
Target.NCPDCBasisOfCost										=source.NCPDCBasisOfCost							,
Target.NCPDCCustomerLocation								=source.NCPDCCustomerLocation						,
Target.NCPDCDenialClarification								=source.NCPDCDenialClarification					,
Target.NCPDCDispenseAsWritten								=source.NCPDCDispenseAsWritten						,
Target.NCPDCDispensingFee									=source.NCPDCDispensingFee							,
Target.NCPDCEligabilityClarification						=source.NCPDCEligabilityClarification				,
Target.NCPDCGrossAmountDue									=source.NCPDCGrossAmountDue							,
Target.NCPDCIngredientCost									=source.NCPDCIngredientCost							,
Target.NCPDCLevelOfService									=source.NCPDCLevelOfService							,
Target.NCPDCOtherPayorAmount								=source.NCPDCOtherPayorAmount						,
Target.NCPDCPatientPaidAmount								=source.NCPDCPatientPaidAmount						,
Target.NCPDCPriorAuthorizationCode							=source.NCPDCPriorAuthorizationCode					,
Target.NCPDCPriorAuthorizationNumber						=source.NCPDCPriorAuthorizationNumber				,
Target.NCPDCSalesTax										=source.NCPDCSalesTax								,
Target.NCPDCUsualCustomaryCharge							=source.NCPDCUsualCustomaryCharge					,
Target.NursingHome											=source.NursingHome									,
Target.OtherCharge											=source.OtherCharge									,
Target.OtherCoverageCode									=source.OtherCoverageCode							,
Target.PaidSwitch											=source.PaidSwitch									,
Target.PaidDate												=source.PaidDate									,
Target.PcnNumber											=source.PcnNumber									,
Target.PosScanFlag											=source.PosScanFlag									,
Target.PostageCharge										=source.PostageCharge								,
Target.PriceFormula											=source.PriceFormula								,
Target.PriceFormulaOriginal									=source.PriceFormulaOriginal						,
Target.PrimaryRejectedFlag									=source.PrimaryRejectedFlag							,
Target.QuantityDispensed									=source.QuantityDispensed							,
Target.RequestedACQ											=source.RequestedACQ								,
Target.RequestedAWP											=source.RequestedAWP								,
Target.RequestedCON											=source.RequestedCON								,
Target.RequestedCopay										=source.RequestedCopay								,
Target.RequestedDiscount									=source.RequestedDiscount							,
Target.RequestedFee											=source.RequestedFee								,
Target.RequestedTax											=source.RequestedTax								,
Target.RequestedTotal										=source.RequestedTotal								,
Target.RphInitials											=source.RphInitials									,
Target.RxpIndicator											=source.RxpIndicator								,
Target.ShippingCharge										=source.ShippingCharge								,
Target.Sigs													=source.Sigs										,
Target.StoreNumber											=source.StoreNumber									,
Target.Tax													=source.Tax											,
Target.TimeStampAsOfDate									=source.TimeStampAsOfDate							,
Target.Total												=source.Total										,
Target.TriplicateSerialNumber								=source.TriplicateSerialNumber						,
Target.UnitDoseIndicator									=source.UnitDoseIndicator							,
Target.UsualAndCustomary									=source.UsualAndCustomary							,
Target.UsualAndCustomarySwitch								=source.UsualAndCustomarySwitch						,
Target.WorkersCompFormType									=source.WorkersCompFormType							,
Target.WorkFlowStatus										=source.WorkFlowStatus								,
Target.LastModified											=source.LastModified								,
Target.IsValid												=source.IsValid										,
Target.NCPDPProcedureModifierCodes							=source.NCPDPProcedureModifierCodes					,
Target.NCPDPSubmissionClarificationCodes					=source.NCPDPSubmissionClarificationCodes			,
Target.NCPDPDelayReasonCode									=source.NCPDPDelayReasonCode						,
Target.NCPDPRouteOfAdministration							=source.NCPDPRouteOfAdministration					,
Target.IncentiveAmount										=source.IncentiveAmount								,
Target.NCPDPRejectCodes										=source.NCPDPRejectCodes							,
Target.NCPDPResponsePricingSegment							=source.NCPDPResponsePricingSegment					,
Target.IntermediaryAuthorizationType						=source.IntermediaryAuthorizationType				,
Target.IntermediaryAuthorization							=source.IntermediaryAuthorization					,
Target.PackingListNumber									=source.PackingListNumber							,
Target.WorkflowLocation										=source.WorkflowLocation							,
Target.DecodedSigs											=source.DecodedSigs									,
Target.PosPickupDateTime									=source.PosPickupDateTime							,
Target.cQueueId												=source.cQueueId									,
Target.PickupPatientId										=source.PickupPatientId								,
Target.PickupDriversLicense									=source.PickupDriversLicense						,
Target.PickupRelationship									=source.PickupRelationship							,
Target.HcfaResubmitCode										=source.HcfaResubmitCode							,
Target.HcfaOriginalReferenceCode							=source.HcfaOriginalReferenceCode					,
Target.HcfaPriorAuthorization								=source.HcfaPriorAuthorization						,
Target.AccountId											=source.AccountId									,
Target.ManualPriceChangeUser								=source.ManualPriceChangeUser						,
Target.EstimatedDirFee										=source.EstimatedDirFee								,
Target.DiagnosisCodeType									=source.DiagnosisCodeType							,
Target.PromiseDateTime										=source.PromiseDateTime								,
Target.PickupTimeType										=source.PickupTimeType								,
Target.HasProblem											=source.HasProblem									,
Target.WorkQueueNote										=source.WorkQueueNote								,
Target.ProblemCategory										=source.ProblemCategory								,
Target.PrintLabelDateTime									=source.PrintLabelDateTime							,
Target.Printed												=source.Printed										,
Target.WorkflowLock											=source.WorkflowLock								,
Target.CountImage											=source.CountImage									,
Target.NextDispensedQuantity								=source.NextDispensedQuantity						,
Target.TimeStampComputerDateTime							=source.TimeStampComputerDateTime					,
Target.AgencySequence										=source.AgencySequence								,
Target.PartialFill											=source.PartialFill									,
Target.eVoucherAmount										=source.eVoucherAmount								,
Target.WholesalerRebateAmount								=source.WholesalerRebateAmount						,
Target.Confirmed											=source.Confirmed									,
Target.Source												=source.Source										,
Target.PrescriptionDirectionOverflowPrinted					=source.PrescriptionDirectionOverflowPrinted		,
Target.AdminSite											=source.AdminSite									,
Target.TelephoneAuthorizedBy								=source.TelephoneAuthorizedBy						,
Target.TelephoneReceivingRph								=source.TelephoneReceivingRph						,
Target.ArPosted												=source.ArPosted									,
Target.Record_Created_Date									=source.Record_Created_Date							,
Target.Record_Updated_Date									=source.Record_Updated_Date							
																												
    																											
    -- For Inserts
WHEN NOT MATCHED by target 									
THEN
INSERT  
(cScriptTransactionId
,ScriptNumber
,RefillNumber
,AdministrativeCharge
,Agency
,AuthorizationNumber
,ChargeCode
,Copay
,Cost
,CostBase
,CountedByUser
,CouponAmount
,CouponNumber
,CouponType
,DateDispensedSQL
,DaysSupply
,DeliveryCharge
,DenialClarification
,DiagnosisCode
,Discount
,DispenseAsWritten
,DrugId
,ExpirationDate
,Fee
,Icd9Code
,LevelOfService
,LoggedInUser
,LotNumber
,NCPDCAmountDue
,NCPDCBasisOfCost
,NCPDCCustomerLocation
,NCPDCDenialClarification
,NCPDCDispenseAsWritten
,NCPDCDispensingFee
,NCPDCEligabilityClarification
,NCPDCGrossAmountDue
,NCPDCIngredientCost
,NCPDCLevelOfService
,NCPDCOtherPayorAmount
,NCPDCPatientPaidAmount
,NCPDCPriorAuthorizationCode
,NCPDCPriorAuthorizationNumber
,NCPDCSalesTax
,NCPDCUsualCustomaryCharge
,NursingHome
,OtherCharge
,OtherCoverageCode
,PaidSwitch
,PaidDate
,PcnNumber
,PosScanFlag
,PostageCharge
,PriceFormula
,PriceFormulaOriginal
,PrimaryRejectedFlag
,QuantityDispensed
,RequestedACQ
,RequestedAWP
,RequestedCON
,RequestedCopay
,RequestedDiscount
,RequestedFee
,RequestedTax
,RequestedTotal
,RphInitials
,RxpIndicator
,ShippingCharge
,Sigs
,StoreNumber
,Tax
,TimeStampAsOfDate
,Total
,TriplicateSerialNumber
,UnitDoseIndicator
,UsualAndCustomary
,UsualAndCustomarySwitch
,WorkersCompFormType
,WorkFlowStatus
,LastModified
,IsValid
,NCPDPProcedureModifierCodes
,NCPDPSubmissionClarificationCodes
,NCPDPDelayReasonCode
,NCPDPRouteOfAdministration
,IncentiveAmount
,NCPDPRejectCodes
,NCPDPResponsePricingSegment
,IntermediaryAuthorizationType
,IntermediaryAuthorization
,PackingListNumber
,WorkflowLocation
,DecodedSigs
,PosPickupDateTime
,cQueueId
,PickupPatientId
,PickupDriversLicense
,PickupRelationship
,HcfaResubmitCode
,HcfaOriginalReferenceCode
,HcfaPriorAuthorization
,AccountId
,ManualPriceChangeUser
,EstimatedDirFee
,DiagnosisCodeType
,PromiseDateTime
,PickupTimeType
,HasProblem
,WorkQueueNote
,ProblemCategory
,PrintLabelDateTime
,Printed
,WorkflowLock
,CountImage
,NextDispensedQuantity
,TimeStampComputerDateTime
,AgencySequence
,PartialFill
,eVoucherAmount
,WholesalerRebateAmount
,Confirmed
,Source
,PrescriptionDirectionOverflowPrinted
,AdminSite
,TelephoneAuthorizedBy
,TelephoneReceivingRph
,ArPosted
,Source_Indicator
,Record_Created_Date
,Record_Updated_Date) 
        
VALUES 															
(Source.cScriptTransactionId
,source.ScriptNumber
,source.RefillNumber
,source.AdministrativeCharge
,source.Agency
,source.AuthorizationNumber
,source.ChargeCode
,source.Copay
,source.Cost
,source.CostBase
,source.CountedByUser
,source.CouponAmount
,source.CouponNumber
,source.CouponType
,source.DateDispensedSQL
,source.DaysSupply
,source.DeliveryCharge
,source.DenialClarification
,source.DiagnosisCode
,source.Discount
,source.DispenseAsWritten
,source.DrugId
,source.ExpirationDate
,source.Fee
,source.Icd9Code
,source.LevelOfService
,source.LoggedInUser
,source.LotNumber
,source.NCPDCAmountDue
,source.NCPDCBasisOfCost
,source.NCPDCCustomerLocation
,source.NCPDCDenialClarification
,source.NCPDCDispenseAsWritten
,source.NCPDCDispensingFee
,source.NCPDCEligabilityClarification
,source.NCPDCGrossAmountDue
,source.NCPDCIngredientCost
,source.NCPDCLevelOfService
,source.NCPDCOtherPayorAmount
,source.NCPDCPatientPaidAmount
,source.NCPDCPriorAuthorizationCode
,source.NCPDCPriorAuthorizationNumber
,source.NCPDCSalesTax
,source.NCPDCUsualCustomaryCharge
,source.NursingHome
,source.OtherCharge
,source.OtherCoverageCode
,source.PaidSwitch
,source.PaidDate
,source.PcnNumber
,source.PosScanFlag
,source.PostageCharge
,source.PriceFormula
,source.PriceFormulaOriginal
,source.PrimaryRejectedFlag
,source.QuantityDispensed
,source.RequestedACQ
,source.RequestedAWP
,source.RequestedCON
,source.RequestedCopay
,source.RequestedDiscount
,source.RequestedFee
,source.RequestedTax
,source.RequestedTotal
,source.RphInitials
,source.RxpIndicator
,source.ShippingCharge
,source.Sigs
,source.StoreNumber
,source.Tax
,source.TimeStampAsOfDate
,source.Total
,source.TriplicateSerialNumber
,source.UnitDoseIndicator
,source.UsualAndCustomary
,source.UsualAndCustomarySwitch
,source.WorkersCompFormType
,source.WorkFlowStatus
,source.LastModified
,source.IsValid
,source.NCPDPProcedureModifierCodes
,source.NCPDPSubmissionClarificationCodes
,source.NCPDPDelayReasonCode
,source.NCPDPRouteOfAdministration
,source.IncentiveAmount
,source.NCPDPRejectCodes
,source.NCPDPResponsePricingSegment
,source.IntermediaryAuthorizationType
,source.IntermediaryAuthorization
,source.PackingListNumber
,source.WorkflowLocation
,source.DecodedSigs
,source.PosPickupDateTime
,source.cQueueId
,source.PickupPatientId
,source.PickupDriversLicense
,source.PickupRelationship
,source.HcfaResubmitCode
,source.HcfaOriginalReferenceCode
,source.HcfaPriorAuthorization
,source.AccountId
,source.ManualPriceChangeUser
,source.EstimatedDirFee
,source.DiagnosisCodeType
,source.PromiseDateTime
,source.PickupTimeType
,source.HasProblem
,source.WorkQueueNote
,source.ProblemCategory
,source.PrintLabelDateTime
,source.Printed
,source.WorkflowLock
,source.CountImage
,source.NextDispensedQuantity
,source.TimeStampComputerDateTime
,source.AgencySequence
,source.PartialFill
,source.eVoucherAmount
,source.WholesalerRebateAmount
,source.Confirmed
,source.Source
,source.PrescriptionDirectionOverflowPrinted
,source.AdminSite
,source.TelephoneAuthorizedBy
,source.TelephoneReceivingRph
,source.ArPosted
,source.Source_Indicator
,source.Record_Created_Date
,source.Record_Updated_Date)

WHEN NOT MATCHED BY SOURCE 									
THEN  
UPDATE  

SET Target.IsActive ='DELETE',
	Target.Record_Updated = Getdate();

--TRUNCATE TABLE PP_ODS..rxqScriptTransaction_DLT				

INSERT 
INTO PP_ODS..rxqScriptTransaction_DLT

SELECT cScriptTransactionId
,ScriptNumber
,RefillNumber
,AdministrativeCharge
,Agency
,AuthorizationNumber
,ChargeCode
,Copay
,Cost
,CostBase
,CountedByUser
,CouponAmount
,CouponNumber
,CouponType
,DateDispensedSQL
,DaysSupply
,DeliveryCharge
,DenialClarification
,DiagnosisCode
,Discount
,DispenseAsWritten
,DrugId
,ExpirationDate
,Fee
,Icd9Code
,LevelOfService
,LoggedInUser
,LotNumber
,NCPDCAmountDue
,NCPDCBasisOfCost
,NCPDCCustomerLocation
,NCPDCDenialClarification
,NCPDCDispenseAsWritten
,NCPDCDispensingFee
,NCPDCEligabilityClarification
,NCPDCGrossAmountDue
,NCPDCIngredientCost
,NCPDCLevelOfService
,NCPDCOtherPayorAmount
,NCPDCPatientPaidAmount
,NCPDCPriorAuthorizationCode
,NCPDCPriorAuthorizationNumber
,NCPDCSalesTax
,NCPDCUsualCustomaryCharge
,NursingHome
,OtherCharge
,OtherCoverageCode
,PaidSwitch
,PaidDate
,PcnNumber
,PosScanFlag
,PostageCharge
,PriceFormula
,PriceFormulaOriginal
,PrimaryRejectedFlag
,QuantityDispensed
,RequestedACQ
,RequestedAWP
,RequestedCON
,RequestedCopay
,RequestedDiscount
,RequestedFee
,RequestedTax
,RequestedTotal
,RphInitials
,RxpIndicator
,ShippingCharge
,Sigs
,StoreNumber
,Tax
,TimeStampAsOfDate
,Total
,TriplicateSerialNumber
,UnitDoseIndicator
,UsualAndCustomary
,UsualAndCustomarySwitch
,WorkersCompFormType
,WorkFlowStatus
,LastModified
,IsValid
,NCPDPProcedureModifierCodes
,NCPDPSubmissionClarificationCodes
,NCPDPDelayReasonCode
,NCPDPRouteOfAdministration
,IncentiveAmount
,NCPDPRejectCodes
,NCPDPResponsePricingSegment
,IntermediaryAuthorizationType
,IntermediaryAuthorization
,PackingListNumber
,WorkflowLocation
,DecodedSigs
,PosPickupDateTime
,cQueueId
,PickupPatientId
,PickupDriversLicense
,PickupRelationship
,HcfaResubmitCode
,HcfaOriginalReferenceCode
,HcfaPriorAuthorization
,AccountId
,ManualPriceChangeUser
,EstimatedDirFee
,DiagnosisCodeType
,PromiseDateTime
,PickupTimeType
,HasProblem
,WorkQueueNote
,ProblemCategory
,PrintLabelDateTime
,Printed
,WorkflowLock
,CountImage
,NextDispensedQuantity
,TimeStampComputerDateTime
,AgencySequence
,PartialFill
,eVoucherAmount
,WholesalerRebateAmount
,Confirmed
,Source
,PrescriptionDirectionOverflowPrinted
,AdminSite
,TelephoneAuthorizedBy
,TelephoneReceivingRph
,ArPosted
,Source_Indicator
,Record_Created_Date
,Record_Updated_Date
,Record_Updated 
FROM 			#ScriptTransaction
WHERE 			IsActive='Delete'

Delete 			st													
from 			PP_ODS..rxqScriptTransaction as st
inner join 		PP_ODS..rxqScriptTransaction_DLT as sd on
				st.cScriptTransactionId=sd.cScriptTransactionId
				and st.scriptnumber=sd.scriptnumber
				and st.refillnumber=sd.refillnumber
				and st.Source_Indicator=sd.Source_Indicator



End
GO
