USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Financial_report_test]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Financial_report_test]
AS
BEGIN
 
                       IF OBJECT_ID('tempdb..#Agency') IS NOT NULL
					   DROP TABLE #Agency
					   IF OBJECT_ID('tempdb..#Drug') IS NOT NULL
					   DROP TABLE #Drug
					   IF OBJECT_ID('tempdb..#Insurance') IS NOT NULL
					   DROP TABLE #Insurance
					   IF OBJECT_ID('tempdb..#ScriptBase') IS NOT NULL
					   DROP TABLE #ScriptBase
					   IF OBJECT_ID('tempdb..#ScriptTransaction') IS NOT NULL
					   DROP TABLE #ScriptTransaction
					   IF OBJECT_ID(N'dbo.PP_Financial_report_test', N'U') IS NOT NULL 
					   Drop table PP_Financial_report_test
					   


	select 
	D.DrugId
	,CONCAT(D.DrugId,'_',D.source_indicator) as DrugId_SI
	,D.Is340B
	,D.Generic
	into #Drug
	from rxqScriptTransaction ST with(nolock)
	inner join rxqDrug D with(nolock) on ST.DrugId=D.DrugId
	and ST.Source_Indicator=D.source_indicator
   ---------------------------------------------------------------------
   select Agency
   ,CONCAT(Agency,'_',Source_Indicator) as Agency_SI
   ,chargecode
   ,copay
   ,cost
   ,DateDispensedSQL
   ,DrugId
   ,CONCAT(DrugId,'_',Source_Indicator) as Drug_SI
   ,RequestedACQ
   ,RefillNumber
   ,ScriptNumber
   ,Source_Indicator
   ,CONCAT(ScriptNumber,'_',Source_Indicator) as ScriptNumber_SI
   ,CONCAT(ScriptNumber,'_',RefillNumber,'_',Source_Indicator) as SN_RN_SI
   ,case when Source_Indicator='VB' then 'Vanceburg'
   when Source_Indicator='FB' then 'Flemingsburg'
   when Source_Indicator='ASH' then 'Ashland'
   when Source_Indicator='MV' then 'Maysville'
   when Source_Indicator='TB' then 'Tollesboro'
   when Source_Indicator='GR' then 'Grayson'
   when Source_Indicator='CEN' then 'MaysvillePack'
   when Source_Indicator='SS' then 'SouthShore'
   when Source_Indicator='BC' then 'Augusta'
   when Source_Indicator='MH' then 'Morehead'
   ELSE 'Others' END [Location]
   ,Total
   ,DaysSupply
   into #ScriptTransaction
   from rxqScriptTransaction with(nolock)
   ---------------------------------------------------------------------

	select A.AgencyCode
	,CONCAT(A.AgencyCode,'_',A.Source_Indicator) as AgencyCode_SI
	,A.Is340B
	,A.PlanClassificationCode
	into #Agency
	from rxqScriptTransaction ST with(nolock)
	inner join  rxqAgency A with(nolock) on ST.Agency=A.AgencyCode
	and ST.Source_Indicator=A.Source_Indicator
	---------------------------------------------------------------------

	select I.PrimaryIns
	,I.SecondaryIns
	,I.Copay
	,I.ScriptNumber
	,I.RefillNumber
	,I.Source_Indicator
	,CONCAT(I.ScriptNumber,'_',I.RefillNumber,'_',I.Source_Indicator) as SN_RN_SI
	into #Insurance
	from rxqScriptTransaction ST with(nolock)
	inner join  RxInsurance I with(nolock) on ST.ScriptNumber=I.ScriptNumber
	and ST.RefillNumber=I.RefillNumber and ST.Source_Indicator=I.Source_Indicator
	---------------------------------------------------------------------
	select SB.DoctorId
	,SB.PatientId as [PatientID SB]
	,P.CustomField3
	,D.CustomField1
	,SB.ScriptNumber
	,SB.Source_Indicator
	,CONCAT(SB.ScriptNumber,'_',SB.Source_Indicator) as ScriptNumber_SI
	into #ScriptBase
	from rxqScriptTransaction ST with(nolock)
	inner join  rxqScriptBase SB with(nolock) on ST.ScriptNumber=SB.ScriptNumber
	inner join rxqPatient P with(nolock) on  SB.PatientId=P.PatientId 
	and SB.Source_Indicator=P.Source_Indicator
	inner join rxqDoctor D with(nolock) on  SB.DoctorId=D.DoctorId
	and SB.Source_Indicator=D.Source_Indicator
	-----------------------------------------------------------------------
	select
	a.AgencyCode
	,a.Is340B as A_Is340B
	,a.PlanClassificationCode
	,d.DrugId
	,d.DrugId_SI
	,d.Generic
	,d.Is340B
	,i.Copay as Copay_Ins
	,i.PrimaryIns
	,i.RefillNumber AS ReFillNumber_Ins
	,i.ScriptNumber as ScriptNumber_Ins
	,i.SecondaryIns
	,sb.CustomField1 
	,sb.CustomField3
	,sb.DoctorId
	,sb.[PatientID SB]
	,sb.ScriptNumber as ScriptNumber_SB
	,ST.Agency_SI
	,ST.ChargeCode
	,ST.Copay
	,ST.Cost
	,ST.DateDispensedSQL
	,ST.DaysSupply
	,ST.Drug_SI
	,ST.[Location]
	,ST.RefillNumber
	,ST.RequestedACQ
	,ST.ScriptNumber
	,ST.ScriptNumber_SI
	,ST.SN_RN_SI
	,ST.Source_Indicator
	,ST.Total
	--into PP_Financial_report_test
	
	from #ScriptTransaction ST with(nolock)
	inner join #Agency a with(nolock) on a.AgencyCode_SI=ST.Agency_SI
	inner join #Drug d with(nolock) on d.DrugId_SI=ST.Drug_SI
	inner join #Insurance i with(nolock) on i.SN_RN_SI=ST.SN_RN_SI
	inner join #ScriptBase sb with(nolock) on sb.ScriptNumber_SI=ST.ScriptNumber_SI
	
	
END
GO
