USE [PP_ODS]
GO
/****** Object:  Table [dbo].[dc_GPICOM]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dc_GPICOM](
	[GenericProductIdentifier] [char](14) NOT NULL,
	[RecordType] [char](2) NOT NULL,
	[RecordSubtype] [char](2) NOT NULL,
	[EffectCode] [char](2) NOT NULL,
	[CommentCode] [char](3) NOT NULL,
	[LastChangeYYYYMMDD] [char](8) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
