USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Potential340BClaims]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
select   
source_indicator as Pharmacy  
,DateDispensed  
,ScriptNumber  
,RefillNumber  
,CustomerName  
,DateofBirth  
,MedicalReferenceId  
,VisitDate  
,PrescriberName  
,PPProvider  
,Drugname  
,DrugNDC  
,Quantity  
,DateWritten  
,IsDrug340B  
--, cast( REPLACE(Notes , '"', '''') as varchar(4000)) Notes  
,PrmInsuranceName PrimaryInsurance  
,RequestedACQ  
, InsurancePay  
,SecInsuranceName SecondaryInsurance  
,PatientPay  
,TotalPaid  
,NetProfit  
,PickUpStatus  
from   
Potential340BClaims  
order by Pharmacy,CustomerName,ScriptNumber  
  
  
Exec Sp_Potential340BClaims '2025-12-03','2025-12-03'  
*/  
CREATE procedure [dbo].[Sp_Potential340BClaims](@StartDate  date ,@EndDate date )  
as   
  
begin  
--Declare @StartDate date ='2025-12-01',@EndDate date='2025-12-01'    
  
/*Libery Insert*/                                                    
drop table if exists #Libertymedicinedetails                                                    
select      
st.Source_Indicator  
,cast (st.DateDispensedSQL as date)  DateDispensed    
,st.ScriptNumber,st.RefillNumber    
, upper(p.LastName)+','+upper(p.FirstName) CustomerName  
,p.PatientId  
,p.DateOfBirth   
,p.GlobalId MedicalReferenceId  
,p.CustomField1  VisitDate  
,upper(d.LastName)+','+upper(D.FirstName) Prescriber  
,d.CustomField1 as PPProvider   
,DG.Name DrugName  
,dg.NdcNumber DrugNDC  
,st.QuantityDispensed Quantity  
,sb.DateWrittenSQL  DateWritten  
,d.Is340B  
,st.Cost,st.Fee,st.RequestedACQ ,    
st.Cost+st.Fee-st.RequestedACQ as NetProfit  ,  
case when st.WorkFlowStatus='V' and st.PosPickupDateTime is null then 'Verified'  
when st.WorkFlowStatus='V' and st.PosPickupDateTime is not null then 'Picked Up'  
when st.WorkFlowStatus='' or st.WorkFlowStatus is null then 'Entered' end as PickUpStatus  
INTO #Libertymedicinedetails                                                    
From PP_ODS..rxqDoctor as D (nolock)                                                    
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                                     
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                      
and SB.Source_Indicator=ST.Source_Indicator                   
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=ST.DrugId                   
and DG.source_indicator=ST.Source_Indicator         
where            
cast(DateDispensedSQL as date)  between @StartDate and @EndDate   
and isnull(d.CustomField1,'')<>'No' /*PP Provider other than NO*/  
and d.Is340B='0'  
  
  
  
  
drop table if exists #ScriptsPrimaryInsurance    
;with cte as     
(    
select    
 st.ScriptNumber,st.RefillNumber,st.Source_Indicator,    
 oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN,    
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,    
oh.TotalAmountPaid,oh.OtherPayorAmtPaid, PatientPayAmt,   
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator     
order by SubmitDate desc) RNK    
from     
(select * from #Libertymedicinedetails ) st--2480     
join rxqOnlineHistory OH with(nolock) on      
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and       
st.Source_Indicator=oh.Source_Indicator and       
cast(datedispensed as date) <= cast(SubmitDate as date)    
left join rxqAgency a     
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator    
WHERE  OH.PrimaryOrSecondary='P'     
)    
select * into #ScriptsPrimaryInsurance from cte     
where RNK=1     
and TransactionResponse='P'    
/*all primary insurance  of paid status to be considered*/    
and AgencyDescription not in ('OHIOMEDICAID','MI FFS KYMED')  
  
  
    
drop table if exists #ScriptsSecondaryInsurance    
;with cte as     
(    
    
select st.ScriptNumber,st.RefillNumber,st.Source_Indicator,oh.PrimaryOrSecondary,    
oh.AgencyCode,oh.BIN,    
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,    
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator     
order by SubmitDate desc) RNK,    
oh.TotalAmountPaid,oh.OtherPayorAmtPaid  ,oh.PatientPayAmt  
from     
(select * from #Libertymedicinedetails ) st--2092     
join rxqOnlineHistory OH    
 with(nolock) on      
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and       
st.Source_Indicator=oh.Source_Indicator and       
cast(datedispensed as date) <= cast(SubmitDate as date)    
left join rxqAgency a     
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator    
WHERE  OH.PrimaryOrSecondary='s'     
)    
select * into #ScriptsSecondaryInsurance from cte where RNK=1    
and TransactionResponse='P' /*only paid to be considered*/    
 and AgencyDescription not in ('OHIOMEDICAID','MI FFS KYMED')   
    
  
    
truncate table Potential340BClaims    
    
insert into Potential340BClaims    
(    
source_indicator  
,DateDispensed  
,ScriptNumber  
,RefillNumber  
,CustomerName  
,PatientId  
,DateofBirth  
,MedicalReferenceId  
,IsDrug340B  
,PPProvider  
,PrescriberName  
,VisitDate  
,Drugname  
,DrugNDC  
,DateWritten  
,Quantity  
,Cost  
,Fee  
,RequestedACQ  
,SecInsuranceName  
,PrmInsuranceName  
,SecMarker  
,PrmMarker  
,PrmAmountPaid  
,SecAmountPaid  
,PrmPatientPayAmt  
,SecPatientPayAmt  
,InsurancePay  
,PatientPay  
,TotalPaid  
,NetProfit,PickUpStatus  
)    
  
--drop table if exists #finalresult  
    
select     
st.source_indicator ,    
convert(varchar(10),st.DateDispensed,101) DateDispensed    
,st.ScriptNumber,st.RefillNumber    
,CustomerName    
,patientid  
,convert(varchar(10),st.DateOfBirth,101) DateOfBirth  
,MedicalReferenceId  
,Is340B    
,PPProvider    
,st.Prescriber     
,VisitDate    
,Drugname    
,substring(DrugNDC,1,5)+'-'+substring(DrugNDC,6,4)+'-'+substring(DrugNDC,10,2) DrugNDC  
,convert(varchar(10),st.DateWritten,101) DateWritten  
,replace(Quantity,'.000','.00') Quantity , Cost,Fee,RequestedACQ ,    
Upper(s.AgencyDescription) SecInsuranceName,    
Upper(p.AgencyDescription) PrmInsuranceName,    
s.PrimaryOrSecondary SecMarker ,    
p.PrimaryOrSecondary PrmMarker,    
isnull(cast(p.TotalAmountPaid as float),0) PrmAmountPaid,    
isnull(cast(s.TotalAmountPaid as float),0) SecAmountPaid ,   
isnull(cast(p.PatientPayAmt as float),0) PrmPatientPayAmt,   
isnull(cast(s.PatientPayAmt as float),0) SecPatientPayAmt,   
isnull(cast(p.TotalAmountPaid as float),0)+isnull(cast(s.TotalAmountPaid as float),0) InsurancePay  
,isnull(cast(p.PatientPayAmt as float),0)+isnull(cast(s.PatientPayAmt as float),0) PatientPay  
,isnull(cast(p.TotalAmountPaid as float),0)+isnull(cast(s.TotalAmountPaid as float),0)   
+isnull(cast(p.PatientPayAmt as float),0)+isnull(cast(s.PatientPayAmt as float),0) TotalPaid  
,NetProfit   
,PickUpStatus  
---into #finalresult  
from     
(select * from #Libertymedicinedetails ) st      
left join #ScriptsPrimaryInsurance p on     
st.scriptnumber=p.scriptnumber and st.RefillNumber=p.refillnumber and       
st.Source_Indicator=p.Source_Indicator     
left join #ScriptsSecondaryInsurance s on     
st.scriptnumber=s.scriptnumber and st.RefillNumber=s.refillnumber and       
st.Source_Indicator=s.Source_Indicator    
  
  
-----Potential340BClaims  
--select m.PlainMessage,m.cNotesId,p.PatientId,p.source_indicator,p.*   
--from Potential340BClaims p   
--join rxqNotesParsedMessages m on p.PatientId=m.TypeKey  
--and p.source_indicator=m.source_indicator  
--order by p.PatientId,p.source_indicator  
  
  
--select * from Potential340BClaims where TotalPaid='0'  
--and SecInsuranceName is null and PrmInsuranceName is null  
  
--select h.TransactionResponse,ScriptNumber,PrimaryOrSecondary,a.AgencyDescription  
--,h.TotalAmountPaid,h.PatientPaidAmt,h.PatientPayAmt,OtherPayorAmtPaid  
--,h.* from rxqOnlineHistory h with(nolock)  
--join rxqAgency a on a.AgencyCode=h.AgencyCode   
--and a.Source_Indicator=h.Source_Indicator  
--where ScriptNumber='16615553' and RefillNumber=0 

 
--LTRIM(RTRIM(
--    REPLACE(
--        REPLACE(
--            REPLACE(PlainMessage, CHAR(10) + CHAR(10) + CHAR(10), CHAR(10)),
--            CHAR(10) + CHAR(10), CHAR(10)
--        ),
--        CHAR(13), ''
--    )
--))

--SELECT   
--    patientid,  
--    source_indicator,  
--    STRING_AGG(PlainMessage, CHAR(10))   
--        WITHIN GROUP (ORDER BY cNotesId DESC) AS notes  

  
update p set Notes=n.notes  
--select *  
from Potential340BClaims p   
join   
(  
SELECT   
    patientid,  
    source_indicator,  
    STRING_AGG(PlainMessage
	, CHAR(10))   
        WITHIN GROUP (ORDER BY cNotesId DESC) AS notes  
from  
(  
select distinct p.patientid,p.source_indicator,m.PlainMessage,m.cNotesId  
from Potential340BClaims p   
join rxqNotesParsedMessages m on p.PatientId=m.TypeKey  
and p.source_indicator=m.source_indicator  
join rxqNotes n on m.TypeKey=n.TypeKey  
and n.source_indicator=m.source_indicator and n.cNotesId = m.cNotesId  
where n.IsValid=1  
--where TypeKey='113515' and p.Source_Indicator='ASH'  
) abc  
GROUP BY patientid,source_indicator  
) n on p.PatientId=n.PatientId and p.source_indicator=n.source_indicator  
  
update Potential340BClaims set Notes='' where Notes is null  

update Potential340BClaims set Notes=

    LTRIM(RTRIM(
        REPLACE(
            REPLACE(
                REPLACE(
                    REPLACE(Notes, CHAR(13), ''),                 -- remove CR
                    CHAR(10) + ' ' + CHAR(10), CHAR(10)          -- remove newline+spaces+newline
                ),
                CHAR(10) + CHAR(10), CHAR(10)                    -- double LF
            ),
            CHAR(10) + CHAR(10) + CHAR(10), CHAR(10)             -- triple LF
        )
    ))


update Potential340BClaims set PrmInsuranceName='' where PrmInsuranceName is null   
  
update Potential340BClaims set SecInsuranceName='' where SecInsuranceName is null   
  
end  
  
  
  
  
GO
