USE [PP_ODS]
GO
/****** Object:  Table [dbo].[SP_PP_rxqScriptBase]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP_PP_rxqScriptBase](
	[PatientId] [varchar](50) NULL,
	[PatientId_SI] [nvarchar](max) NULL,
	[ScriptNumber] [int] NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[ScriptNumber_SI] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
