USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Scripttransactiontest]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scripttransactiontest](
	[CustomField3] [varchar](50) NULL,
	[DoctorId] [varchar](50) NULL,
	[PatientId] [varchar](50) NULL,
	[CustomField1] [varchar](50) NULL,
	[AgencyCode] [varchar](50) NOT NULL,
	[Generic] [varchar](50) NULL,
	[Is340B] [bit] NOT NULL,
	[Agency] [varchar](50) NULL,
	[ChargeCode] [varchar](50) NULL,
	[Copay] [decimal](9, 2) NULL,
	[Cost] [decimal](9, 2) NULL,
	[DateDispensedSQL] [date] NULL,
	[DrugId] [varchar](50) NULL,
	[RequestedACQ] [decimal](9, 2) NULL,
	[RefillNumber] [int] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Total] [decimal](9, 2) NULL,
	[DaysSupply] [varchar](50) NULL,
	[PlanClassificationCode] [char](2) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
