USE [PP_ODS]
GO
/****** Object:  Table [dbo].[GetMerge_Test]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetMerge_Test](
	[SourceDBName] [varchar](100) NULL,
	[TargetDBName] [varchar](100) NULL,
	[SourceTable] [varchar](1000) NULL,
	[TargetTable] [varchar](1000) NULL,
	[Grp] [bigint] NULL
) ON [PRIMARY]
GO
