USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[LibertyRxInsurance]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[LibertyRxInsurance]
AS  

BEGIN 			
							IF OBJECT_ID('tempdb..#InsScripts') IS NOT NULL
							DROP TABLE #InsScripts
							IF OBJECT_ID('tempdb..#lib4') IS NOT NULL
							DROP TABLE #lib4
							IF OBJECT_ID('tempdb..#lib5') IS NOT NULL
							DROP TABLE #lib5
							IF OBJECT_ID('tempdb..#lib6') IS NOT NULL
							DROP TABLE #lib6
							IF OBJECT_ID('tempdb..#MissingScripts') IS NOT NULL
							DROP TABLE MissingScripts
							IF OBJECT_ID('tempdb..#LibertyINS') IS NOT NULL
							DROP TABLE #LibertyINS

TRUNCATE TABLE RxInsurance

select   ST.datedispensedsql, ST.Source_Indicator,OH.scriptnumber,OH.refillnumber,ST.scriptnumber SSN,ST.refillnumber SRN,
		OH.PrimaryOrSecondary,OH.TransactionResponse,OH.TotalAmountPaid,OH.OtherPayorAmtPaid,OH.PatientPayAmt,OH.Submitdate
into #InsScripts
from rxqscripttransaction ST left join rxqOnlineHistory OH on
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and 
st.Source_Indicator=oh.Source_Indicator and 
year(datedispensedsql)=year(SubmitDate) --and month(datedispensedsql)=month(submitdate)
where ST.ChargeCode not in ('Y','N') 



--INS1--
select SSN as Script,SRN as Refill,submitdate,source_indicator,
 sum(cast (totalamountpaid as float)+cast(OtherPayorAmtPaid as float)) as PrimaryIns,
 row_number() over (partition by SSN,SRN order by submitdate desc) as rn1, DateDispensedSQL
into #lib4 
from #InsScripts
where PrimaryOrSecondary='P' and TransactionResponse in ('P','D','A')
group by SSN,SRN,SubmitDate,source_indicator,DateDispensedSQL

--P,D--
select SSN as Script,SRN as Refill,submitdate,source_indicator,
 sum(cast (totalamountpaid as float)+cast(OtherPayorAmtPaid as float)) as PrimaryIns,
 row_number() over (partition by SSN,SRN order by submitdate desc) as rn1, DateDispensedSQL
into #lib7
from #InsScripts
where PrimaryOrSecondary='P' and TransactionResponse Not in ('P','D','A')
group by SSN,SRN,SubmitDate,source_indicator,DateDispensedSQL


--delete--
delete 
y from #lib4 x
inner join #lib7 y  on
x.script=y.script and x.refill=y.refill

--Union--
select z.* into #Union 
from ( select * from #lib4 union 
		Select * from #lib7) z


--Copay--
select SSN as Script,SRN as Refill,submitdate,source_indicator,cast(PatientPayAmt as float)as copay,
--case when Transactionresponse='P'then cast(PatientPayAmt as float) 
     --when Transactionresponse<>'P' then 0 end as copay,
row_number() over (partition by SSN,SRN order by submitdate desc) as rn, DateDispensedSQL
into #lib5
from #InsScripts
where Transactionresponse='P' or TransactionResponse='D'
--Order by submitdate

--INS2--
select SSN as Script,SRN as Refill, submitdate,source_indicator,PrimaryorSecondary,
case when PrimaryOrSecondary='s'  then cast(TotalAmountPaid as float)
	 when  PrimaryOrSecondary<>'s' then 0 end as SecondaryIns, datedispensedsql,
row_number() over (partition by SSN,SRN,Primaryorsecondary order by submitdate desc) as rn2
into #lib6
from #InsScripts

---MissingScripts--
insert into RxInsurance
SELECT ST.ScriptNumber, ST.RefillNumber, ST.Total as PrimaryIns,ST.Copay,SecondaryIns=0,St.DateDispensedSQL, ST.Source_Indicator
--into #MissingScripts
FROM rxqscripttransaction as ST 
LEFT OUTER JOIN rxqOnlineHistory OH
ON ST.ScriptNumber = OH.ScriptNumber and ST.RefillNumber=OH.RefillNumber and ST.Source_Indicator=OH.Source_Indicator
WHERE chargecode not in ('Y','N') and OH.ScriptNumber IS NULL


--InsuranceCombined from above 3---

insert into RxInsurance
select a.Script as ScriptNumber,a.Refill as RefillNumber, a.PrimaryIns,b.Copay,Sum(c.SecondaryIns) as SecondaryIns,
a.DateDispensedSQL as DateDispensedSQL,a.Source_Indicator
--into #LibertyINS 
from #Union a
full join #lib5 b on
a.Script=b.Script and a.refill=b.Refill 
full join #lib6 c on
c.Script=a.Script and c.Refill=a.Refill
where rn=1 and rn1=1 and rn2=1
group by a.Script,a.Refill,a.PrimaryIns,b.copay,--c.SecondaryIns,
a.DateDispensedSQL,a.Source_Indicator



END

GO
