USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqAccountReceivableHistory]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqAccountReceivableHistory](
	[cAccountReceivableHistoryId] [int] NOT NULL,
	[AgingDate] [datetime] NOT NULL,
	[Partition] [varchar](50) NOT NULL,
	[ARBatch] [varchar](50) NOT NULL,
	[AccountId] [varchar](50) NOT NULL,
	[ARType] [varchar](50) NOT NULL,
	[RecordNumber] [varchar](50) NOT NULL,
	[PostDate] [date] NULL,
	[RecordStatus] [varchar](50) NULL,
	[ReferenceNumber] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[AppliedToDue] [varchar](50) NULL,
	[Amount] [varchar](50) NULL,
	[TaxAmount] [varchar](50) NULL,
	[StoreNumber] [varchar](50) NULL,
	[RelStatus] [varchar](50) NULL,
	[Comment] [varchar](200) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ItemPatientId] [nvarchar](50) NULL,
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
