USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqDrugOptions]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugOptions](
	[StoreNumber] [varchar](50) NOT NULL,
	[DrugId] [varchar](50) NOT NULL,
	[InActive] [bit] NOT NULL,
	[InAutoDispenser] [bit] NOT NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
