USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqImmunizationSubmission]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqImmunizationSubmission](
	[SubmissionId] [int] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[SMPID] [int] NULL,
	[ErrorMessage] [varchar](max) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
