USE [PP_ODS]
GO
/****** Object:  Table [dbo].[ClinicalLetter]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicalLetter](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLINICALLETTERID] [numeric](12, 0) NULL,
	[DOCUMENTID] [numeric](12, 0) NULL,
	[ROLE] [varchar](max) NULL,
	[CREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[DELETEDDATETIME] [datetime2](7) NULL,
	[DELETEDBY] [varchar](max) NULL,
	[CLINICALPROVIDERRECIPIENTID] [numeric](12, 0) NULL,
	[PATIENTRECIPIENTID] [numeric](12, 0) NULL,
	[PROVIDERRECIPIENTID] [numeric](12, 0) NULL,
	[REFERRINGPROVRECIPIENTID] [numeric](12, 0) NULL,
	[PATIENTINSURANCERECIPIENTID] [numeric](12, 0) NULL,
	[OTHERRECIPIENTID] [numeric](12, 0) NULL,
	[OTHERRECIPIENTTYPE] [varchar](max) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
