USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_BioGen340bESPClaimsReport]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
DECLARE @StartDate DATE, @EndDate   DATE;      
-- Get today      
DECLARE @Today DATE = CAST(GETDATE() AS DATE);      
-- Find current week's Monday      
DECLARE @CurrentWeekMonday DATE =      
    DATEADD(DAY, -((DATEPART(WEEKDAY, @Today) + 5) % 7), @Today);      
      
-- Previous week's Monday      
SET @StartDate = DATEADD(DAY, -7, @CurrentWeekMonday);      
-- Previous week's Sunday      
SET @EndDate = DATEADD(DAY, 6, @StartDate);      
      
SELECT @StartDate AS StartDate, @EndDate AS EndDate; 
Exec Sp_BioGen340bESPClaimsReport @StartDate,@EndDate 
*/
CREATE procedure [dbo].[Sp_BioGen340bESPClaimsReport] (@StartDate date , @EndDate date)              
as               
begin           
               
drop table if exists #PharmacyAdditionalInfo                    
                    
Create table #PharmacyAdditionalInfo (                    
Site340BID varchar(10),PharmacyNPI varchar(10),Source_Indicator varchar(3))                    
                    
insert into #PharmacyAdditionalInfo(Site340BID,PharmacyNPI,Source_Indicator)                    
                    
 select  'CH048980'  Site340BID ,'1487766614'  PharmacyNPI,'VB'  Source_Indicator                    
union select  'CH04898AB'  Site340BID ,'1780298075'  PharmacyNPI,'CEN'  Source_Indicator                    
union select  'CH04898AD'  Site340BID ,'1740893999'  PharmacyNPI,'GR'  Source_Indicator                    
union select  'CH04898C'  Site340BID ,'1477564987'  PharmacyNPI,'TB'  Source_Indicator                    
union select  'CH04898E'  Site340BID ,'1346513710'  PharmacyNPI,'FB'  Source_Indicator                    
union select  'CH04898V'  Site340BID ,'1669650966'  PharmacyNPI,'MV'  Source_Indicator                    
union select  'CH04898W'  Site340BID ,'1942799309'  PharmacyNPI,'BC'  Source_Indicator                    
union select  'CH04898X'  Site340BID ,'1235688920'  PharmacyNPI,'SS'  Source_Indicator                    
union select  'CH04898Y'  Site340BID ,'1629542469'  PharmacyNPI,'ASH'  Source_Indicator                    
union select  'CH04898AJ'  Site340BID ,'1205545878'  PharmacyNPI,'MH'  Source_Indicator                    
                                   
--Declare @StartDate date ='2026-01-01',@EndDate date='2026-05-17'               
                    
/*Libery Insert*/                                                                    
drop table if exists #Libertymedicinedetails                                                                    
select                     
cast (st.DateDispensedSQL as date)  DateDispensed                    
,sb.DateWrittenSQL as DateWritten                  
,dg.NdcNumber               
,D.NPI PrescriberNPI               
,st.QuantityDispensed as QuantityDispensed               
,st.ScriptNumber,st.RefillNumber                    
,ph.PharmacyNPI              
,dg.Is340B                  
,p.PatientId    
,Site340BID  
,p.Source_Indicator  ,dg.name  as DrugName , dg.Manufacturer as DrugManufacturer              
INTO #Libertymedicinedetails                                                                    
From PP_ODS..rxqDoctor as D (nolock)                                                                    
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                                                     
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                                                    
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                                      
and SB.Source_Indicator=ST.Source_Indicator                                 
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=ST.DrugId                                   
and DG.source_indicator=ST.Source_Indicator            
inner join Esp340bNDCList n on n.NDC=dg.NdcNumber          
left join #PharmacyAdditionalInfo Ph on ph.Source_Indicator=st.Source_Indicator                    
where                                
cast(DateDispensedSQL as date)  between @StartDate and @EndDate                      
and dg.Is340B = '1' and n.Manufacturer='BIOGEN'     
  
      
drop table if exists #ScriptsPrimaryInsurance                
;with cte as                 
(                
select                
 st.PatientId,st.ScriptNumber,st.RefillNumber,st.Source_Indicator,                
 oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN, oh.PCN,               
oh.TransactionResponse,a.AgencyDescription,a.PlanClassificationCode,        
cast(SubmitDate as date) SubmitDate,                
oh.TotalAmountPaid,oh.OtherPayorAmtPaid,            
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator                 
order by SubmitDate desc) RNK                
from                 
(select * from #Libertymedicinedetails ) st--2480                 
join rxqOnlineHistory OH with(nolock) on                  
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and                   
st.Source_Indicator=oh.Source_Indicator and                   
cast(datedispensed as date) <= cast(SubmitDate as date)                
left join rxqAgency a                 
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator           
WHERE  OH.PrimaryOrSecondary='P'                 
)                
select cte.*             
into #ScriptsPrimaryInsurance from cte                   
where cte.RNK=1                 
/*Take latest primary insurance irrespective of transaction status (paid,rejected)*/              
      
                    
truncate table [BioGen340bESPClaims]              
              
insert into [BioGen340bESPClaims]              
(              
DateDispensed              
,DateWritten              
,NdcNumber      
,PrescriberNPI     
,QuantityDispensed              
,ScriptNumber              
,RefillNumber              
,SubmittedPharmacyNPI     
,InsuranceBIN    
,InsurancePCN    
,Is340B              
,DrugName              
,DrugManufacturer              
,PatientId              
,Source_Indicator        
,Site340BID  
)              
              
select               
 convert(varchar(10),DateDispensed ,101) DateDispensed                
,convert(varchar(10),DateWritten ,101)   DateWritten              
,substring(NdcNumber,1,5)+'-' +substring(NdcNumber,6,4)              
+'-'+substring(NdcNumber,10,2) as NdcNumber       
,PrescriberNPI       
,CAST(QuantityDispensed AS DECIMAL(18,2)) QuantityDispensed          
--,replace(QuantityDispensed ,'.000','.00') QuantityDispensed              
,st.ScriptNumber,st.RefillNumber                    
,PharmacyNPI as SubmittedPharmacyNPI       
,BIN InsuranceBIN        
,PCN InsurancePCN        
,case when Is340B   ='1' then 'Y'  end  Is340B              
,DrugName,DrugManufacturer              
,st.PatientId                    
,st.Source_Indicator   
,st.Site340BID  
from #Libertymedicinedetails   st       
join #ScriptsPrimaryInsurance oh  on        
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and                   
st.Source_Indicator=oh.Source_Indicator       
                
              
end       
GO
