USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqNotesParsedMessages]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqNotesParsedMessages](
	[cNotesId] [int] NULL,
	[TypeKey] [varchar](50) NULL,
	[Source_Indicator] [nvarchar](20) NULL,
	[PlainMessage] [nvarchar](max) NULL,
	[Record_created_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
