USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Liberty_PPRecordcount_New]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liberty_PPRecordcount_New](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVERNAME] [varchar](50) NULL,
	[TABLENAME] [varchar](50) NULL,
	[SourceIndicator] [varchar](10) NULL,
	[CNT] [int] NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
