USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqScriptTransaction_DUMMY]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqScriptTransaction_DUMMY](
	[cScriptTransactionId] [numeric](18, 0) NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[AdministrativeCharge] [decimal](9, 2) NULL,
	[Agency] [varchar](50) NULL,
	[AuthorizationNumber] [varchar](50) NULL,
	[ChargeCode] [varchar](50) NULL,
	[Copay] [decimal](9, 2) NULL,
	[Cost] [decimal](9, 2) NULL,
	[CostBase] [varchar](50) NULL,
	[CountedByUser] [varchar](50) NULL,
	[CouponAmount] [decimal](9, 2) NULL,
	[CouponNumber] [varchar](50) NULL,
	[CouponType] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[DaysSupply] [varchar](50) NULL,
	[DeliveryCharge] [decimal](9, 2) NULL,
	[DenialClarification] [varchar](50) NULL,
	[DiagnosisCode] [varchar](50) NULL,
	[Discount] [varchar](50) NULL,
	[DispenseAsWritten] [varchar](50) NULL,
	[DrugId] [varchar](50) NULL,
	[ExpirationDate] [date] NULL,
	[Fee] [decimal](9, 2) NULL,
	[Icd9Code] [varchar](50) NULL,
	[LevelOfService] [varchar](50) NULL,
	[LoggedInUser] [varchar](50) NULL,
	[LotNumber] [varchar](50) NULL,
	[NCPDCAmountDue] [varchar](50) NULL,
	[NCPDCBasisOfCost] [varchar](50) NULL,
	[NCPDCCustomerLocation] [varchar](50) NULL,
	[NCPDCDenialClarification] [varchar](50) NULL,
	[NCPDCDispenseAsWritten] [varchar](50) NULL,
	[NCPDCDispensingFee] [varchar](50) NULL,
	[NCPDCEligabilityClarification] [varchar](50) NULL,
	[NCPDCGrossAmountDue] [varchar](50) NULL,
	[NCPDCIngredientCost] [varchar](50) NULL,
	[NCPDCLevelOfService] [varchar](50) NULL,
	[NCPDCOtherPayorAmount] [varchar](50) NULL,
	[NCPDCPatientPaidAmount] [varchar](50) NULL,
	[NCPDCPriorAuthorizationCode] [varchar](50) NULL,
	[NCPDCPriorAuthorizationNumber] [varchar](50) NULL,
	[NCPDCSalesTax] [varchar](50) NULL,
	[NCPDCUsualCustomaryCharge] [varchar](50) NULL,
	[NursingHome] [varchar](50) NULL,
	[OtherCharge] [decimal](9, 2) NULL,
	[OtherCoverageCode] [varchar](50) NULL,
	[PaidSwitch] [varchar](50) NULL,
	[PaidDate] [date] NULL,
	[PcnNumber] [varchar](50) NULL,
	[PosScanFlag] [varchar](50) NULL,
	[PostageCharge] [decimal](9, 2) NULL,
	[PriceFormula] [varchar](50) NULL,
	[PriceFormulaOriginal] [varchar](50) NULL,
	[PrimaryRejectedFlag] [varchar](50) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[RequestedACQ] [decimal](9, 2) NULL,
	[RequestedAWP] [decimal](9, 2) NULL,
	[RequestedCON] [decimal](9, 2) NULL,
	[RequestedCopay] [decimal](9, 2) NULL,
	[RequestedDiscount] [decimal](9, 2) NULL,
	[RequestedFee] [decimal](9, 2) NULL,
	[RequestedTax] [decimal](9, 2) NULL,
	[RequestedTotal] [decimal](9, 2) NULL,
	[RphInitials] [varchar](50) NULL,
	[RxpIndicator] [varchar](50) NULL,
	[ShippingCharge] [decimal](9, 2) NULL,
	[Sigs] [nvarchar](1000) NULL,
	[StoreNumber] [varchar](50) NULL,
	[Tax] [decimal](9, 2) NULL,
	[TimeStampAsOfDate] [date] NULL,
	[Total] [decimal](9, 2) NULL,
	[TriplicateSerialNumber] [varchar](50) NULL,
	[UnitDoseIndicator] [varchar](50) NULL,
	[UsualAndCustomary] [decimal](9, 2) NULL,
	[UsualAndCustomarySwitch] [varchar](50) NULL,
	[WorkersCompFormType] [varchar](50) NULL,
	[WorkFlowStatus] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[NCPDPProcedureModifierCodes] [varchar](50) NULL,
	[NCPDPSubmissionClarificationCodes] [varchar](50) NULL,
	[NCPDPDelayReasonCode] [char](50) NULL,
	[NCPDPRouteOfAdministration] [varchar](50) NULL,
	[IncentiveAmount] [decimal](9, 2) NULL,
	[NCPDPRejectCodes] [varchar](200) NULL,
	[NCPDPResponsePricingSegment] [varbinary](max) NULL,
	[IntermediaryAuthorizationType] [varchar](50) NULL,
	[IntermediaryAuthorization] [varchar](50) NULL,
	[PackingListNumber] [int] NULL,
	[WorkflowLocation] [int] NULL,
	[DecodedSigs] [nvarchar](1000) NULL,
	[PosPickupDateTime] [datetime] NULL,
	[cQueueId] [int] NULL,
	[PickupPatientId] [varchar](50) NULL,
	[PickupDriversLicense] [varchar](50) NULL,
	[PickupRelationship] [varchar](50) NULL,
	[HcfaResubmitCode] [varchar](100) NULL,
	[HcfaOriginalReferenceCode] [varchar](100) NULL,
	[HcfaPriorAuthorization] [varchar](100) NULL,
	[AccountId] [varchar](50) NULL,
	[ManualPriceChangeUser] [varchar](50) NULL,
	[EstimatedDirFee] [decimal](9, 2) NULL,
	[DiagnosisCodeType] [varchar](50) NULL,
	[PromiseDateTime] [datetime] NULL,
	[PickupTimeType] [varchar](50) NULL,
	[HasProblem] [bit] NULL,
	[WorkQueueNote] [varchar](1026) NULL,
	[ProblemCategory] [varchar](256) NULL,
	[PrintLabelDateTime] [datetime] NULL,
	[Printed] [bit] NULL,
	[WorkflowLock] [nvarchar](max) NULL,
	[CountImage] [varchar](256) NULL,
	[NextDispensedQuantity] [decimal](9, 2) NULL,
	[TimeStampComputerDateTime] [datetime] NULL,
	[AgencySequence] [int] NULL,
	[PartialFill] [int] NULL,
	[eVoucherAmount] [decimal](9, 2) NULL,
	[WholesalerRebateAmount] [decimal](9, 2) NULL,
	[Confirmed] [int] NULL,
	[Source] [varchar](50) NULL,
	[PrescriptionDirectionOverflowPrinted] [bit] NULL,
	[AdminSite] [varchar](50) NULL,
	[TelephoneAuthorizedBy] [varchar](200) NULL,
	[TelephoneReceivingRph] [varchar](200) NULL,
	[ArPosted] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
