USE [PP_ODS]
GO
/****** Object:  Table [dbo].[MSC_H]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSC_H](
	[RegionId] [int] NOT NULL,
	[SuperordinateRoleId] [int] NOT NULL,
	[SubordinateRoleId] [int] NOT NULL,
	[SuperordinateConceptId] [int] NOT NULL,
	[SubordinateConceptId] [int] NOT NULL,
	[ProductSubsetId] [int] NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
