USE [PP_ODS]
GO
/****** Object:  Table [dbo].[ESPMFP340BClaims]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESPMFP340BClaims](
	[DateDispensed] [varchar](10) NULL,
	[DateWritten] [varchar](10) NULL,
	[NdcNumber] [varchar](13) NULL,
	[PrescriberNPI] [varchar](50) NULL,
	[QuantityDispensed] [varchar](10) NULL,
	[ScriptNumber] [varchar](50) NULL,
	[RefillNumber] [varchar](50) NULL,
	[SubmittedPharmacyNPI] [varchar](10) NULL,
	[InsuranceBIN] [varchar](50) NULL,
	[InsurancePCN] [varchar](50) NULL,
	[Is340B] [varchar](1) NULL,
	[DrugName] [varchar](250) NULL,
	[InsuranceName] [varchar](100) NULL,
	[InsurancePlanType] [varchar](100) NULL,
	[PatientId] [varchar](50) NOT NULL,
	[Source_Indicator] [varchar](10) NOT NULL,
	[TransactionResponse] [varchar](10) NULL,
	[PlanClassificationCode] [char](2) NULL,
	[AgencyCode] [varchar](10) NULL,
	[RecordInsertedDate] [datetime] NULL,
	[Site340BID] [varchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ESPMFP340BClaims] ADD  DEFAULT (getdate()) FOR [RecordInsertedDate]
GO
