USE [PP_ODS]
GO
/****** Object:  Table [dbo].[cc2_PCMPatternCodes]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cc2_PCMPatternCodes](
	[PCMPatternCode] [char](4) NOT NULL,
	[PCMCode1] [char](3) NOT NULL,
	[PCMCode2] [char](3) NOT NULL,
	[PCMCode3] [char](3) NOT NULL,
	[PCMCode4] [char](3) NOT NULL,
	[PCMCode5] [char](3) NOT NULL,
	[PCMCode6] [char](3) NOT NULL,
	[PCMCode7] [char](3) NOT NULL,
	[PCMCode8] [char](3) NOT NULL,
	[Reserve1] [char](3) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
