USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Liberty_CFRecordcount_Validation]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liberty_CFRecordcount_Validation](
	[Table_Name] [varchar](200) NULL,
	[Source_Count] [int] NULL,
	[Landing_Count] [int] NULL,
	[ODS_COunt] [int] NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Liberty_CFRecordcount_Validation] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
