USE [PP_ODS]
GO
/****** Object:  Table [dbo].[ipm_Link]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ipm_Link](
	[IpmConceptIdentifier] [decimal](10, 0) NOT NULL,
	[ContentTypeIdentifier] [decimal](5, 0) NOT NULL,
	[LanguageCode] [char](2) NOT NULL,
	[MonographFilename] [char](32) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[ConceptStatusCode] [decimal](5, 0) NOT NULL,
	[Reserve1] [char](25) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
