USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_NovoNord340bESPClaimsReport]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Sp_NovoNord340bESPClaimsReport] (@StartDate date , @EndDate date)      
as       
begin       
      
drop table if exists #PharmacyAdditionalInfo            
            
Create table #PharmacyAdditionalInfo (            
Site340BID varchar(10),PharmacyNPI varchar(10),Source_Indicator varchar(3))            
            
insert into #PharmacyAdditionalInfo(Site340BID,PharmacyNPI,Source_Indicator)            
            
 select  'CH048980'  Site340BID ,'1487766614'  PharmacyNPI,'VB'  Source_Indicator            
union select  'CH04898AB'  Site340BID ,'1780298075'  PharmacyNPI,'CEN'  Source_Indicator            
union select  'CH04898AD'  Site340BID ,'1740893999'  PharmacyNPI,'GR'  Source_Indicator            
union select  'CH04898C'  Site340BID ,'1477564987'  PharmacyNPI,'TB'  Source_Indicator            
union select  'CH04898E'  Site340BID ,'1346513710'  PharmacyNPI,'FB'  Source_Indicator            
union select  'CH04898V'  Site340BID ,'1669650966'  PharmacyNPI,'MV'  Source_Indicator            
union select  'CH04898W'  Site340BID ,'1942799309'  PharmacyNPI,'BC'  Source_Indicator            
union select  'CH04898X'  Site340BID ,'1235688920'  PharmacyNPI,'SS'  Source_Indicator            
union select  'CH04898Y'  Site340BID ,'1629542469'  PharmacyNPI,'ASH'  Source_Indicator            
union select  'CH04898AJ'  Site340BID ,'1205545878'  PharmacyNPI,'MH'  Source_Indicator            
            
           
--Declare @StartDate date ='2026-05-11',@EndDate date='2026-05-17'       
            
/*Libery Insert*/                                                            
drop table if exists #Libertymedicinedetails                                                            
select                   
cast (st.DateDispensedSQL as date)  DateDispensed            
,sb.DateWrittenSQL as DateWritten          
,dg.NdcNumber       
,D.NPI PrescriberNPI       
,st.QuantityDispensed as QuantityDispensed       
,st.ScriptNumber,st.RefillNumber            
,ph.PharmacyNPI  
,ph.Site340BID  
,dg.Is340B          
,p.PatientId   
,p.Source_Indicator  ,dg.name  as DrugName , dg.Manufacturer as DrugManufacturer      
INTO #Libertymedicinedetails                                                            
From PP_ODS..rxqDoctor as D (nolock)                                                            
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                                             
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                                            
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                              
and SB.Source_Indicator=ST.Source_Indicator                           
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=ST.DrugId                           
and DG.source_indicator=ST.Source_Indicator         
left join #PharmacyAdditionalInfo Ph on ph.Source_Indicator=st.Source_Indicator            
where                        
cast(DateDispensedSQL as date)  between @StartDate and @EndDate              
and dg.Is340B = '1' and dg.Manufacturer ='NOVO NORD'      
            
truncate table [NovoNord340bESPClaims]      
      
insert into [NovoNord340bESPClaims]      
(      
DateDispensed      
,DateWritten      
,NdcNumber      
,QuantityDispensed      
,ScriptNumber      
,RefillNumber      
,SubmittedPharmacyNPI      
,Is340B      
,DrugName      
,DrugManufacturer      
,PatientId      
,Source_Indicator      
,Site340BID  
)      
      
select       
 convert(varchar(10),DateDispensed ,101) DateDispensed        
,convert(varchar(10),DateWritten ,101)   DateWritten      
,substring(NdcNumber,1,5)+'-' +substring(NdcNumber,6,4)      
+'-'+substring(NdcNumber,10,2) as NdcNumber      
,replace(QuantityDispensed ,'.000','.00') QuantityDispensed      
,st.ScriptNumber,st.RefillNumber            ,PharmacyNPI as SubmittedPharmacyNPI      
,case when Is340B   ='1' then 'Y'  end  Is340B      
,DrugName,DrugManufacturer      
,st.PatientId            
,st.Source_Indicator  
,st.Site340BID  
from #Libertymedicinedetails   st       
      
      
end 
GO
