USE [PP_ODS]
GO
/****** Object:  Table [dbo].[GetMErgeTest]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetMErgeTest](
	[SOURCEDBName] [varchar](100) NULL,
	[TargetDBNAme] [varchar](100) NULL,
	[SOurceTable] [varchar](1000) NULL,
	[TargetTable] [varchar](1000) NULL,
	[Grp] [bigint] NULL
) ON [PRIMARY]
GO
