USE [PP_ODS]
GO
/****** Object:  Table [dbo].[cc2_DrugDrugInteractions]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cc2_DrugDrugInteractions](
	[DDICode] [int] NOT NULL,
	[DrugClass1] [char](60) NOT NULL,
	[DrugClass2] [char](60) NOT NULL,
	[SignificanceFlag] [int] NOT NULL,
	[Reserve1] [char](33) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
