USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_LibertyinfoPast6Months_ETL]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_LibertyinfoPast6Months_ETL]      
as      
begin      
      
drop table if exists #AllpatientsInfo      
      
select GlobalId,SocialSecurityNumber as SSN      
,FirstName +' '+LastName as PatientName,DateOfBirth,      
street,city ,state,zip ,Phone ,p.PatientId,p.CustomField3,      
P.Source_Indicator      
into #AllpatientsInfo      
from rxqPatient p with(nolock)      
left join rxqQueue q  with(nolock)      
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator      
    
alter table #AllpatientsInfo    
add QueueName varchar(50)    
      
update a set a.QueueName='pluspack'      
--select a.*       
from       
#AllpatientsInfo a      
join       
(      
select distinct globalid from MediTrackerDB..PatientView with(nolock) where ActiveStatus='active'      
 and globalid<>''      
) r on r.globalid=a.globalid and a.globalid<>''      
where a.QueueName is null      
      
      
update a set a.QueueName='pluspack'     
--select a.*  --distinct a.patientname       
from       
#AllpatientsInfo a      
join       
(      
select distinct SSN,DateOfBirth     
from MediTrackerDB..PatientView with(nolock) where ActiveStatus='active'       
and globalid='' and SSN<>''      
) r on r.SSN=a.SSN and r.DateOfBirth=a.DateOfBirth        
and r.SSN<>'' and r.SSN not in (      
'0000000  '      
,'00000000 '      
,'000000000')      
where (a.QueueName is null ) and  a.globalid=''      
      
update a set a.QueueName='pluspack'      
--select a.*  --distinct a.patientname       
from       
#AllpatientsInfo a      
join       
(      
select distinct PatientName,DateOfBirth     
from MediTrackerDB..PatientView with(nolock) where ActiveStatus='active'     
and  globalid='' and SSN=''      
) r on r.PatientName=a.PatientName and r.DateOfBirth=a.DateOfBirth        
where (a.QueueName is null  ) and  a.globalid='' and a.SSN=''     
    
    
update a set a.QueueName='pluspack'    
---select distinct a.GlobalId    
--select a.*,p.*  --distinct a.patientname       
from       
#AllpatientsInfo a    
join MediTrackerDB..PatientView p with(nolock)     
on    
(      (     
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''          
and  a.SSN<>''          
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth          
  )          
or          
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )          
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName          
  )          
)          
where (a.QueueName is null  )    
    
    
--select * from #AllpatientsInfo where PatientName='VALERIE LEWIS'    
    
--select * from PatientView where PatientName='VALERIE LEWIS'    
    
        
/*Libery Insert*/              
drop table if exists #Libertymedicinedetails_Total              
              
select              
DG.Name as Drug_name              
,P.patientid              
,(p.FirstName+' '+p.LastName) as Patientname_Liberty              
,p.DateOfBirth as DOB_Liberty              
---,p.Gender as Gender_Liberty       
,p.SocialSecurityNumber as SSN       
----, P.MedicareBeneficiaryId      
,P.globalid             
--,D.DoctorId as ProvideID              
---,(D.FirstName+' '+D.LastName) Providername              
,D.source_indicator as source_indicator              
--,MD.NDC_UPC_HRI as NDC_Number              
--,MD.GenericProductIdentifier as GenericProductIdentifier              
--,Md.GPIGenericName              
---,DG.NdcNumber              
--,DrugKey              
,cast (st.DateDispensedSQL as date)  DateDispensedSQL              
--,sb.RefillsAuthorized              
----,sb.FullDispenseQuantity              
,st.QuantityDispensed              
---,st.DaysSupply              
---,d.NPI              
---,st.RefillNumber              
----,sb.AuthorizedQuantity,sb.AvailableQuantity              
----,sb.RefillUntilDate,st.NextDispensedQuantity              
----,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B        
,st.ScriptNumber,sb.cScriptBaseId ,p.cQueueId,q.QueueName,      
ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId  ,      
---st.TimeStampAsOfDate,      
  st.LastModified st_LastModified,st.sigs,      
  ---st.IsValid,st.PromiseDateTime,      
  q.QueueName as st_queuename,      
  ---sb.LastRefillNumber,      
  ----sb.DateWrittenSQL,      
  sb.OnHold,sb.LastModified Sb_LastModified,st.cScriptTransactionId,      
  case when  OnHold='y' then cast(sb.LastModified as date)      
else cast(DateDispensedSQL as date) end as Deriveddatedispensedsql      
INTO #Libertymedicinedetails_Total              
From PP_ODS..rxqDoctor as D (nolock)              
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator              
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator              
---left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber              
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator              
--inner join #AllpatientsInfo PAI on  P.PatientId=PAI.PatientId and P.Source_Indicator=PAI.Source_Indicator       
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                
and SB.Source_Indicator=ST.Source_Indicator        
left join PP_ODS..rxqQueue q       
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator      
where               
DateDispensedSQL >=cast(DATEADD(MONTH, -6, GETDATE()) as date)      
and sb.LastModified >=cast(DATEADD(MONTH, -6, GETDATE())  as date)    
---and PAI.QueueName  like '%plus%pack%'      
    
drop table if exists #Libertymedicinedetails    
    
select p.* into #Libertymedicinedetails    
from #Libertymedicinedetails_Total p    
join #AllpatientsInfo PAI on  P.PatientId=PAI.PatientId and P.Source_Indicator=PAI.Source_Indicator       
where pai.QueueName  = 'pluspack'    
      
--select distinct c.Globalid into #Globalid      
--from       
--#Libertymedicinedetails l       
--right join [dbo].[LibertyMedicationList_CompPack] c on c.ScriptNumber=l.ScriptNumber      
--and l.cScriptTransactionId=c.cScriptTransactionId      
--where l.cScriptTransactionId is null       
      
      
--select ssn,DOB_Liberty --,count(distinct Patientname_Liberty)      
--,Patientname_Liberty      
--,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,      
--sum(case when GlobalId='' then 1 else 0 end ) NGLID      
--from       
--(      
--select distinct GlobalId,LTRIM(RTRIM(ssn)) ssn,DOB_Liberty,Patientname_Liberty      
--from #Libertymedicinedetails       
--where ssn=''      
--) l      
--group by ssn,DOB_Liberty ,Patientname_Liberty      
--having count(1)> 1       
--and sum(case when GlobalId<>'' then 1 else 0 end )>=1      
--and sum(case when GlobalId='' then 1 else 0 end )>=1      
----and count(distinct Patientname_Liberty) > 1      
      
       
    
alter table #Libertymedicinedetails      
add PatientIdentifier varchar(200)     
    
    
--;with cte as       
--(      
--select *,      
--case when ssn<>'' then ssn else Patientname_Liberty end SSN_Ptname      
--,ROW_NUMBER()       
--over(partition by       
--case when ssn<>'' then ssn else Patientname_Liberty end ,      
--DOB_Liberty order by globalid desc,ssn desc )RNK      
--from      
--(      
--select distinct GlobalId,LTRIM(RTRIM(ssn)) ssn,DOB_Liberty,Patientname_Liberty      
--from #Libertymedicinedetails       
-----where ssn<>'' and DOB_Liberty is not null       
--) l      
--)      
      
--update l set l.globalid =res.RNK1_globalid       
-----select l.globalid,res.RNK1_globalid ,l.*      
--from #Libertymedicinedetails l join      
--(      
--select b.ssn,b.DOB_Liberty,b.globalid,b.SSN_Ptname,a.globalid as RNK1_globalid      
--from       
--(      
--select ssn,DOB_Liberty,globalid,Patientname_Liberty,SSN_Ptname      
--from cte where RNK=1 and globalid<>''      
--) a       
--join       
--(      
--select ssn,DOB_Liberty,globalid,Patientname_Liberty,SSN_Ptname      
--from cte where RNK>1 and globalid=''      
--) b on a.SSN_Ptname=b.SSN_Ptname       
--and a.DOB_Liberty=b.DOB_Liberty      
--) res       
--on  res.SSN_Ptname = case when l.ssn<>'' then l.ssn else Patientname_Liberty end       
--and res.DOB_Liberty=l.DOB_Liberty      
--and l.GlobalId=''      
      
--update l set GlobalId=p.GlobalId      
----select l.*       
--from #Libertymedicinedetails l       
--join       
--PatientView p on p.PatientName=l.Patientname_Liberty and p.DateOfBirth=l.DOB_Liberty      
--join      
--(      
--select PatientName,DateOfBirth     
--from PatientView      
--group by PatientName,DateOfBirth      
--having count(1)= 1      
--)r on r.PatientName=p.PatientName and r.DateOfBirth=p.DateOfBirth      
--where p.GlobalId<>'' and l.GlobalId=''      
      
--update l set l.ssn=Fnl.ssn      
-----select l.Patientname_Liberty,l.DOB_Liberty,l.ssn,Fnl.ssn       
--from       
--#Libertymedicinedetails l      
--join       
--(      
--select distinct l.Patientname_Liberty,l.DOB_Liberty,l.ssn       
--from #Libertymedicinedetails l       
--join       
--(      
--select Patientname_Liberty,DOB_Liberty      
-----,sum(case when ssn='' then 1 else 0 end )SSNCNT      
-----,sum(case when ssn<>'' then 1 else 0 end ) ISSNCNT      
--from (      
--select distinct GlobalId,LTRIM(RTRIM(ssn)) ssn,DOB_Liberty,Patientname_Liberty      
--from #Libertymedicinedetails       
--)abc      
--where GlobalId=''      
--group by Patientname_Liberty,DOB_Liberty      
--having       
--sum(case when ssn='' then 1 else 0 end )> 0      
--and sum(case when ssn<>'' then 1 else 0 end ) >0       
--) res on res.Patientname_Liberty=l.Patientname_Liberty and res.DOB_Liberty=l.DOB_Liberty      
--where l.ssn <>''      
--)Fnl on Fnl.Patientname_Liberty=l.Patientname_Liberty and Fnl.DOB_Liberty=l.DOB_Liberty      
--where l.ssn =''      
      
 update #Libertymedicinedetails set PatientIdentifier=Globalid    
 where Globalid<>''    
    
 update a set a.PatientIdentifier=p.PatientIdentifier    
---select distinct a.GlobalId    
--select a.*,p.PatientIdentifier,p.*       
from       
#Libertymedicinedetails a    
join MediTrackerDB..PatientView p with(nolock)  on  p.ssn<>''  and  a.SSN<>''    
and p.ssn=a.SSN and p.DateOfBirth=a.DOB_Liberty     
where a.PatientIdentifier is null and a.GlobalId=''    
    
update a set a.PatientIdentifier=p.PatientIdentifier    
---select distinct a.GlobalId    
--selMediTrackerDB..ect a.*,p.PatientIdentifier,p.*       
from       
#Libertymedicinedetails a    
join MediTrackerDB..PatientView p with(nolock)  on      
 p.PatientName=a.Patientname_Liberty and p.DateOfBirth=a.DOB_Liberty     
where a.PatientIdentifier is null and a.GlobalId='' and a.ssn=''    
    
update a set a.PatientIdentifier=p.PatientIdentifier    
---select distinct a.GlobalId    
--select a.*,p.PatientIdentifier,p.*       
from       
#Libertymedicinedetails a    
join MediTrackerDB..PatientView p with(nolock)  on      
 p.PatientName=a.Patientname_Liberty and p.DateOfBirth=a.DOB_Liberty     
where a.PatientIdentifier is null and     
((a.GlobalId='' and a.ssn<>'') and (p.GlobalId<>'' and p.ssn=''))    
    
 --select * from #Libertymedicinedetails a where PatientIdentifier is null    
 --and (a.GlobalId<>'' or a.ssn<>'')    
 --order by ssn desc     
    
 --select * from PatientView where PatientName='DAN THORNSBERRY'    
    
    
--update #Libertymedicinedetails set PatientIdentifier      
--=case when Globalid <> '' then  Globalid      
--when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DOB_Liberty  as varchar(15)),'-','')        
--when  Globalid = ''  and ssn=''       
--then Patientname_Liberty+replace(cast(DOB_Liberty  as varchar(15)),'-','')      
--end      
--from #Libertymedicinedetails c      
    
/*update manual pull to 0 */    
update p set p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),    
IsManualPull=0    
  --select *     
  from MediTrackerDB..PatientView p  with(nolock)    
  where ActiveStatus='active' and IsManualPull=1    
  and exists ( select top 1 1  from     
  #Libertymedicinedetails l where l.PatientIdentifier=p.PatientIdentifier    
  )    
    
---select * from #Libertymedicinedetails where PatientIdentifier is null     
      
if exists(      
select top 1 1      
from       
#Libertymedicinedetails l       
left join       
MediTrackerDB..PatientView p on p.PatientIdentifier= l.PatientIdentifier      
and ((p.LastPackDate is null )or p.LastPackDate<= l.Deriveddatedispensedsql )      
)      
begin       
      
truncate table [LibertyMedicationList_CompPack]      
      
insert into [LibertyMedicationList_CompPack](      
 [PatientName] ,      
 DateOfBirth ,      
 Globalid ,      
 SSN ,      
 [Drug_name] ,      
 [patientid] ,      
 [DateDispensedSQL] ,      
 [QuantityDispensed] ,      
    [cScriptTransactionId] ,      
 ScriptNumber,      
 [Sigs],      
 [OnHold] ,      
 [Sb_LastModified] ,      
 Pharmacy ,      
 QueueName ,      
 RecordCreatedDate  ,      
 RecordUpdatedDate ,PatientIdentifier )       
      
      
select Patientname_Liberty as PatientName,DOB_Liberty as DateOfBirth,      
l.Globalid,l.SSN,Drug_name,[patientid],DateDispensedSQL,QuantityDispensed,      
[cScriptTransactionId],ScriptNumber,      
Sigs,OnHold,cast(Sb_LastModified as date) as Sb_LastModified,      
 Source_Indicator as Pharmacy,p.QueueName, getdate() as RecordCreatedDate ,      
getdate() as RecordUpdatedDate,l.PatientIdentifier      
from       
#Libertymedicinedetails l       
left join       
MediTrackerDB..PatientView p with(nolock) on p.PatientIdentifier= l.PatientIdentifier      
and ((p.LastPackDate is null )or p.LastPackDate<= l.Deriveddatedispensedsql )      
order by Patientname_Liberty,DateDispensedSQL desc ,Sb_LastModified desc       
      
end       
      
      
end
GO
