USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqDrugItemNumber]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugItemNumber](
	[VendorId] [int] NOT NULL,
	[DrugKey] [varchar](50) NOT NULL,
	[ItemNumber] [varchar](50) NULL,
	[VendorContainerACQ] [float] NULL,
	[VendorGeneric] [bit] NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
