USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_PlusPackAnalysis]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_PlusPackAnalysis]

AS 
 
Begin
        drop table if exists FinalPlusPackWithCEN
		drop table if exists FinalPlusPack
		drop table if exists #temp
		drop table if exists Onholdprescriptions
		
declare @startdatetime datetime
select @startdatetime=DATEADD(month,-3,getdate())

declare @onholdstartdatetime datetime
select @onholdstartdatetime=DATEADD(month,-3,getdate())


select st.Source_Indicator,st.DateDispensedSQL,st.ScriptNumber,st.DrugId,dg.Name,
sb.PatientId,p.GlobalId,p.FirstName as PatientsFirstName,p.LastName as PatientsLastName,sb.DoctorId,
d.FirstName,d.LastName,Sigs,DaysSupply,QuantityDispensed,AvailableQuantity,sb.OnHold
into #temp
--into FinalPlusPackWithCEN
from rxqScriptTransaction as st with (nolock) 
inner join rxqScriptBase as sb with (nolock)
on st.ScriptNumber=sb.ScriptNumber and st.Source_Indicator=sb.Source_Indicator
inner join rxqDrug as dg with (nolock)
on sb.DrugKey=dg.DrugId and sb.Source_Indicator=dg.source_indicator
inner join rxqPatient as p with (nolock)
on sb.PatientId=p.PatientId and sb.Source_Indicator=p.Source_Indicator
inner join rxqDoctor as d with (nolock)
on d.DoctorId=sb.DoctorId and d.Source_Indicator=sb.Source_Indicator 
where DateDispensedSQL>=@startdatetime
--and st.Source_Indicator='cen'
and DateDispensedSQL<>'9999-09-09'
--and   DATENAME(WEEKDAY, DateDispensedSQL) not  in ('saturday','sunday')
--and year(DateDispensedSQL)=year(getdate())
--and isnull(p.GlobalId,'')<>''
order by sb.ScriptNumber

--select GlobalId,count(distinct patientid) from ##temp
--where Source_Indicator='cen'
--group by GlobalId
--having count(distinct patientid)>1

-----------------------------ONHOLD PRESCRIPTIONS---
select st.Source_Indicator,st.DateDispensedSQL,st.ScriptNumber,st.DrugId,dg.Name,
sb.PatientId,p.GlobalId,p.FirstName as PatientsFirstName,p.LastName as PatientsLastName,sb.DoctorId,
d.FirstName,d.LastName,Sigs,DaysSupply,QuantityDispensed,AvailableQuantity,sb.OnHold,sb.DateWrittenSQL
into Onholdprescriptions
from rxqScriptTransaction as st with (nolock) 
inner join rxqScriptBase as sb with (nolock)
on st.ScriptNumber=sb.ScriptNumber and st.Source_Indicator=sb.Source_Indicator
inner join rxqDrug as dg with (nolock)
on sb.DrugKey=dg.DrugId and sb.Source_Indicator=dg.source_indicator
inner join rxqPatient as p with (nolock)
on sb.PatientId=p.PatientId and sb.Source_Indicator=p.Source_Indicator
inner join rxqDoctor as d with (nolock)
on d.DoctorId=sb.DoctorId and d.Source_Indicator=sb.Source_Indicator 
where DateWrittenSQL>=@onholdstartdatetime
--and st.Source_Indicator='cen'
--and DateDispensedSQL<>'9999-09-09'
and sb.OnHold='Y'
--and   DATENAME(WEEKDAY, DateDispensedSQL) not  in ('saturday','sunday')
--and year(DateDispensedSQL)=year(getdate())
--and isnull(p.GlobalId,'')<>''
order by sb.ScriptNumber
-----------------------------------------------------------------
--select sb.DateWrittenSQL,sc.DateDispensedSQL,sb.OnHold,sc.Source_Indicator from rxqScriptBase as sb with (nolock)
--inner join rxqScriptTransaction as sc with (nolock)
--on sb.ScriptNumber=sc.ScriptNumber and sb.Source_Indicator=sc.Source_Indicator
--where
----DateDispensedSQL='9999-09-09' and
--sb.OnHold='Y'
--and  sb.DateWrittenSQL>=dateadd(month,-6,getdate())

--------------------------------------------
select *
into FinalPlusPackWithCEN
from #temp
where Source_Indicator='cen'


select distinct  PatientId,GlobalId
into #temp1  from FinalPlusPackWithCEN
where GlobalId<>''


--select GlobalId,count(distinct patientid) from #temp1
----where Source_Indicator='cen'
--group by GlobalId
--having count(distinct patientid)>1



--select 
--st.Source_Indicator,st.DateDispensedSQL,st.ScriptNumber,st.DrugId,dg.Name,
--sb.PatientId,p.GlobalId,p.FirstName as PatientsFirstName,p.LastName as PatientsLastName,sb.DoctorId,d.FirstName,d.LastName,Sigs,
--AvailableQuantity,QuantityDispensed,DaysSupply
--into #temp2
--from rxqScriptTransaction as st with (nolock)
--inner join rxqScriptBase as sb with (nolock)
--on st.ScriptNumber=sb.ScriptNumber and st.Source_Indicator=sb.Source_Indicator
--inner join rxqDrug as dg with (nolock)
--on sb.DrugKey=dg.DrugId and sb.Source_Indicator=dg.source_indicator
--inner join rxqPatient as p with (nolock)
--on sb.PatientId=p.PatientId and sb.Source_Indicator=p.Source_Indicator
--inner join rxqDoctor as d with (nolock)
--on d.DoctorId=sb.DoctorId and d.Source_Indicator=sb.Source_Indicator 
--where DateDispensedSQL>=@startdatetime
--and st.Source_Indicator<>'cen'
--and DateDispensedSQL<>'9999-09-09'
-----and   DATENAME(WEEKDAY, DateDispensedSQL) not  in ('saturday','sunday')
--and year(DateDispensedSQL)=year(getdate())
----and isnull(p.GlobalId,'')<>''
--order by sb.ScriptNumber

--select t2.* 
--into FinalPlusPack from #temp1 as t1
--inner join #temp2 as t2
--on t1.PatientId=t2.PatientId

select t1.*
into FinalPlusPack
from #temp as t1
inner join #temp1 as t2
on t1.GlobalId=t2.GlobalId
and t1.Source_Indicator<>'cen'
order by GlobalId


end ;




GO
