USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteTransactionScripts]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[SP_DeleteTransactionScripts]
@SourceIndicator VARCHAR(10)

as
begin

declare @sql varchar(max)

set @sql='Insert 
into 
				rxqScriptTransaction_DLT 
SELECT 
 st.cScriptTransactionId
,st.ScriptNumber
,st.RefillNumber
,st.AdministrativeCharge
,st.Agency
,st.AuthorizationNumber
,st.ChargeCode
,st.Copay
,st.Cost
,st.CostBase
,st.CountedByUser
,st.CouponAmount
,st.CouponNumber
,st.CouponType
,st.DateDispensedSQL
,st.DaysSupply
,st.DeliveryCharge
,st.DenialClarification
,st.DiagnosisCode
,st.Discount
,st.DispenseAsWritten
,st.DrugId
,st.ExpirationDate
,st.Fee
,st.Icd9Code
,st.LevelOfService
,st.LoggedInUser
,st.LotNumber
,st.NCPDCAmountDue
,st.NCPDCBasisOfCost
,st.NCPDCCustomerLocation
,st.NCPDCDenialClarification
,st.NCPDCDispenseAsWritten
,st.NCPDCDispensingFee
,st.NCPDCEligabilityClarification
,st.NCPDCGrossAmountDue
,st.NCPDCIngredientCost
,st.NCPDCLevelOfService
,st.NCPDCOtherPayorAmount
,st.NCPDCPatientPaidAmount
,st.NCPDCPriorAuthorizationCode
,st.NCPDCPriorAuthorizationNumber
,st.NCPDCSalesTax
,st.NCPDCUsualCustomaryCharge
,st.NursingHome
,st.OtherCharge
,st.OtherCoverageCode
,st.PaidSwitch
,st.PaidDate
,st.PcnNumber
,st.PosScanFlag
,st.PostageCharge
,st.PriceFormula
,st.PriceFormulaOriginal
,st.PrimaryRejectedFlag
,st.QuantityDispensed
,st.RequestedACQ
,st.RequestedAWP
,st.RequestedCON
,st.RequestedCopay
,st.RequestedDiscount
,st.RequestedFee
,st.RequestedTax
,st.RequestedTotal
,st.RphInitials
,st.RxpIndicator
,st.ShippingCharge
,st.Sigs
,st.StoreNumber
,st.Tax
,st.TimeStampAsOfDate
,st.Total
,st.TriplicateSerialNumber
,st.UnitDoseIndicator
,st.UsualAndCustomary
,st.UsualAndCustomarySwitch
,st.WorkersCompFormType
,st.WorkFlowStatus
,st.LastModified
,st.IsValid
,st.NCPDPProcedureModifierCodes
,st.NCPDPSubmissionClarificationCodes
,st.NCPDPDelayReasonCode
,st.NCPDPRouteOfAdministration
,st.IncentiveAmount
,st.NCPDPRejectCodes
,st.NCPDPResponsePricingSegment
,st.IntermediaryAuthorizationType
,st.IntermediaryAuthorization
,st.PackingListNumber
,st.WorkflowLocation
,st.DecodedSigs
,st.PosPickupDateTime
,st.cQueueId
,st.PickupPatientId
,st.PickupDriversLicense
,st.PickupRelationship
,st.HcfaResubmitCode
,st.HcfaOriginalReferenceCode
,st.HcfaPriorAuthorization
,st.AccountId
,st.ManualPriceChangeUser
,st.EstimatedDirFee
,st.DiagnosisCodeType
,st.PromiseDateTime
,st.PickupTimeType
,st.HasProblem
,st.WorkQueueNote
,st.ProblemCategory
,st.PrintLabelDateTime
,st.Printed
,st.WorkflowLock
,st.CountImage
,st.NextDispensedQuantity
,st.TimeStampComputerDateTime
,st.AgencySequence
,st.PartialFill
,st.eVoucherAmount
,st.WholesalerRebateAmount
,st.Confirmed
,st.Source
,st.PrescriptionDirectionOverflowPrinted
,st.AdminSite
,st.TelephoneAuthorizedBy
,st.TelephoneReceivingRph
,st.ArPosted
,st.Source_Indicator
,st.Record_Created_Date
,st.Record_Updated_Date 
,getdate() as Record_Updated

FROM				PP_ODS..rxqScriptTransaction AS  ST

LEFT JOIN			PP_Landing..rxqScriptTransaction_DLT_'+@SourceIndicator+' AS SD
					ON st.cScriptTransactionId=sd.cScriptTransactionId
					and st.scriptnumber=sd.scriptnumber
					and st.refillnumber=sd.refillnumber
					and st.Source_Indicator=sd.Source_Indicator
WHERE				sd.cScriptTransactionId IS NULL
                    AND ST.Source_Indicator='''+@SourceIndicator+''''
exec (@sql) 


Delete 				st													
from 				PP_ODS..rxqScriptTransaction as st
Inner Join 			PP_ODS..rxqScriptTransaction_DLT as sd on
					st.cScriptTransactionId=sd.cScriptTransactionId
					and st.scriptnumber=sd.scriptnumber
					and st.refillnumber=sd.refillnumber
					and st.Source_Indicator=sd.Source_Indicator  --- Added NEW
					and st.Source_Indicator=@SourceIndicator
end
GO
