USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Rx356PatientInfo]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_Rx356PatientInfo] 
as 
begin 

drop table if exists #Rx356Patient                             
                              
select *,
case when ssn<>'' then  SSN+replace(DateOfBirth,'-','') 
else null end as SSN_DOB ,                      
PatientName+replace(DateOfBirth,'-','') Name_DOB                      
into #Rx356Patient                      
from                       
(                      
select                       
replace(                      
case when SocialSecurityNumber like '%000000%' then '' else SocialSecurityNumber end                      
,'         ','')                      
as SSN   ,p.*, FirstName+' '+LastName as   PatientName                     
 from         
rxqPatient p with(nolock)                  
left join rxqPatient_DLT del with(nolock) on del.PatientId=p.PatientId        
and del.Source_Indicator=p.Source_Indicator        
where del.patientid is null   
and (p.rx365id is not null 
or p.Rx365Email is not null 
or p.Rx365LastLogin is not null 
or p.Rx365StoreNumber is not null 
)
) abc


----update globalid 
update p set GlobalId=res.GlobalId
--select res.*,p.* 
from #Rx356Patient P
join 
(
select distinct GlobalId,SSN_DOB,Name_DOB
from #Rx356Patient 
where GlobalId is not null and GlobalId<>''
) res on (p.SSN_DOB=res.SSN_DOB or p.Name_DOB=res.Name_DOB)
where p.GlobalId is null or p.GlobalId=''

---update ssn 
update p set ssn=res.ssn
--select res.*,p.* 
from #Rx356Patient P
join 
(
select distinct GlobalId,ssn,SSN_DOB,Name_DOB
from #Rx356Patient 
where ssn is not null and ssn<>''
) res on (p.Name_DOB=res.Name_DOB)
where (p.ssn is  null or p.ssn='')
            
 
---select * from #Rx356Patient

alter table #Rx356Patient
add Max_MiddleInitial varchar(100),DisplayName varchar(200)


update p set Max_MiddleInitial=res.MiddleInitial              
--select res.MiddleInitial,p.MiddleInitial,p.*               
from #Rx356Patient p               
join               
(              
select PatientName,DateOfBirth ,max(MiddleInitial) as MiddleInitial              
from #Rx356Patient              
where DateOfBirth is not null               
group by PatientName,DateOfBirth               
having max(MiddleInitial)  <> ''              
) res on res.PatientName=p.PatientName and res.DateOfBirth=p.DateOfBirth              
where replace(p.MiddleInitial,' ','')=''          
        
alter table #Rx356Patient        
add PatientIdentifier varchar(200)        
        
        
update #Rx356Patient set PatientIdentifier=        
case when Globalid <> '' then  Globalid                            
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                              
when  Globalid = ''  and ssn=''                             
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end         
              
 update c set DisplayName= case when MiddleInitial<>'' then              
Lastname+','+FirstName+' '+ MiddleInitial               
else LastName+','+FirstName end              
--select PatientName,DateOfBirth , MiddleInitial,*              
from #Rx356Patient c   


---Patientidentifier ,displayname , address, city,state,phone , rx356 info 

drop table if exists ##PatientDetails

;With CTE as                               
(                              
select * , ROW_NUMBER() over(partition by                               
    PatientIdentifier order by a.lastmodified desc) Rnk_Pt                       
from                               
#Rx356Patient a                                       
) ,addr as
(
select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                               
    PatientIdentifier order by ad.lastmodified desc) Rnk_addr
	from #Rx356Patient a
left join rxqAddress ad on ad.cAddressId= a.PrimaryAddressId 
and ad.Source_Indicator=a.Source_Indicator
),
ph1  as
(select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                               
    PatientIdentifier order by ad.lastmodified desc) Rnk_ph1
	from #Rx356Patient a
left join rxqPhoneNumber ad on ad.cPhoneNumberId= a.PatientPhone1Id 
and ad.Source_Indicator=a.Source_Indicator)
,
ph2  as
(select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                               
    PatientIdentifier order by ad.lastmodified desc) Rnk_ph2
	from #Rx356Patient a
left join rxqPhoneNumber ad on ad.cPhoneNumberId= a.PatientPhone2Id 
and ad.Source_Indicator=a.Source_Indicator)

select c.PatientIdentifier,c.DisplayName,c.GlobalId,c.SSN,c.DateOfBirth
,addr.Street,addr.City,addr.State,addr.Zip,addr.ZipPlus,
--addr.LastModified as LastModified_addr,
ph1.PhoneNumber PhoneNumber_ph1,
--,ph1.PhoneNumberType PhoneNumberType_ph1
--,ph1.LastModified LastModified_ph1,
ph2.PhoneNumber PhoneNumber_ph2
--,ph2.PhoneNumberType PhoneNumberType_ph2
--,ph2.LastModified LastModified_ph2 --,Rnk_addr,Rnk_ph1,Rnk_ph2
--,addr.Source_Indicator Source_Indicator_addr,ph1.Source_Indicator Source_Indicator_ph1
--,ph2.Source_Indicator Source_Indicator_ph2 
into #PatientDetails
from 
cte c 
left join addr on addr.PatientIdentifier =c.PatientIdentifier and addr.Rnk_addr=1
left join ph1 on ph1.PatientIdentifier =c.PatientIdentifier and ph1.Rnk_ph1=1
left join ph2 on ph2.PatientIdentifier =c.PatientIdentifier and ph2.Rnk_ph2=1
where c.Rnk_Pt=1


--select * from #PatientDetails
truncate table [Rx365PatientInfo_ETL]

insert into [Rx365PatientInfo_ETL]
(
PatientIdentifier
,DisplayName
,GlobalId
,SSN
,DateOfBirth
,City
,Street
,state
,Zip
,PhoneNumber1
,PhoneNumber2
,PatientId
,Rx365ID
,LastLogin
,Email
,StoreNumber
,Record_Created_Date
,Source_Indicator
,LoginCreatedDate
,RecordInserteddate
)

select p.PatientIdentifier,upper(p.DisplayName) DisplayName ,p.GlobalId,p.SSN,p.DateOfBirth,
upper(p.City) City , upper(p.Street) Street, upper(p.state) state, p.Zip,
PhoneNumber_ph1 as PhoneNumber1,
PhoneNumber_ph2 PhoneNumber2,rx.PatientId,r.Rx365ID,r.LastLogin,r.Email,r.StoreNumber
,r.Record_Created_Date,rx.Source_Indicator,cast(r.FirstLogin as date) LoginCreatedDate
,getdate() RecordInserteddate 
from #Rx356Patient Rx
join 
#PatientDetails p on p.PatientIdentifier=rx.PatientIdentifier
left join 
[Rx365PatientAppendix] R on r.patientid=rx.PatientId and r.Source_Indicator=rx.Source_Indicator
---where R.PatientId is null 
order by  p.DisplayName,rx.Source_Indicator

;with abc as 
(
select *,
ROW_NUMBER() over(partition by patientidentifier order by lastlogin desc)RnkDerived
from [Rx365PatientInfo_ETL]
)

update abc set Rnk=RnkDerived
--select * 
from abc 

end















GO
