USE [PP_ODS]
GO
/****** Object:  Table [dbo].[PBIR_ScriptDashboard_New]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PBIR_ScriptDashboard_New](
	[Athena_PatientID] [varchar](50) NOT NULL,
	[PatientName] [varchar](101) NULL,
	[Date_Of_Birth] [date] NULL,
	[Age] [int] NULL,
	[Patient_Gender] [varchar](6) NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[DrugId] [varchar](50) NOT NULL,
	[DrugName] [varchar](100) NULL,
	[Generic] [varchar](50) NULL,
	[Is340B] [bit] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[RI_scriptnumber] [bigint] NULL,
	[Agency] [varchar](50) NULL,
	[ChargeCode] [varchar](50) NULL,
	[copay] [decimal](10, 2) NULL,
	[Total] [decimal](11, 2) NULL,
	[Drug_QTY] [decimal](9, 3) NULL,
	[RequestedACQ] [decimal](9, 2) NULL,
	[Cost] [decimal](9, 2) NULL,
	[RequestedAWP] [decimal](9, 2) NULL,
	[RequestedFee] [decimal](9, 2) NULL,
	[Modifiedby] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[RefillNumber] [int] NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[ChargeCodeYN_Copay] [decimal](9, 2) NULL,
	[InsurancePay] [decimal](10, 2) NULL,
	[TotalPay] [decimal](10, 2) NULL,
	[PickupDate] [date] NULL,
	[PatientCustomField3] [varchar](50) NULL,
	[Specialty] [varchar](50) NULL,
	[Insurancename] [varchar](200) NULL,
	[BIN] [varchar](50) NULL,
	[PCN] [varchar](50) NULL,
	[GroupNumber] [varchar](50) NULL,
	[NetProfit] [decimal](10, 2) NULL,
	[DeliveredDate] [date] NULL,
	[DeliveredStatus] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
