USE [PP_ODS]
GO
/****** Object:  Table [dbo].[NovoNord340bESPClaims]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NovoNord340bESPClaims](
	[DateDispensed] [varchar](10) NULL,
	[DateWritten] [varchar](10) NULL,
	[NdcNumber] [varchar](13) NULL,
	[QuantityDispensed] [varchar](10) NULL,
	[ScriptNumber] [varchar](50) NULL,
	[RefillNumber] [varchar](10) NULL,
	[SubmittedPharmacyNPI] [varchar](10) NULL,
	[Is340B] [varchar](1) NULL,
	[DrugName] [varchar](250) NULL,
	[DrugManufacturer] [varchar](20) NULL,
	[PatientId] [varchar](50) NOT NULL,
	[Source_Indicator] [varchar](10) NOT NULL,
	[RecordInsertedDate] [datetime] NULL,
	[Site340BID] [varchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NovoNord340bESPClaims] ADD  DEFAULT (getdate()) FOR [RecordInsertedDate]
GO
