USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Liberty_MetaData_Table_Latest]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liberty_MetaData_Table_Latest](
	[TABLE_CATALOG] [varchar](128) NULL,
	[TABLE_SCHEMA] [varchar](128) NULL,
	[TABLE_NAME] [varchar](50) NOT NULL,
	[COLUMN_NAME] [varchar](50) NULL,
	[ORDINAL_POSITION] [varchar](50) NULL,
	[IS_NULLABLE] [varchar](50) NULL,
	[DATA_TYPE] [varchar](128) NULL,
	[CHARACTER_MAXIMUM_LENGTH] [varchar](50) NULL,
	[CHARACTER_OCTET_LENGTH] [varchar](50) NULL,
	[NUMERIC_PRECISION] [varchar](50) NULL,
	[NUMERIC_PRECISION_RADIX] [varchar](50) NULL,
	[NUMERIC_SCALE] [varchar](50) NULL,
	[Source_Indicator] [varchar](10) NULL,
	[RecordCreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
