USE [PP_ODS]
GO
/****** Object:  Table [dbo].[dt_Classification]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_Classification](
	[ClassIdentificationCode] [char](8) NOT NULL,
	[ClassDescription] [varchar](200) NOT NULL,
	[SignificanceCode] [char](1) NOT NULL,
	[DuplicationAllowanceIndicator] [int] NOT NULL,
	[LastChangeYYYYMMDD] [char](8) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
