USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientView_AllPatients_ETL]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PatientView_AllPatients_ETL]
as 
begin
--CREATE TABLE [dbo].[PatientView_AllPatients](
--	[PVAPID] [int] IDENTITY(1,1) NOT NULL,
--	[GlobalId] [varchar](50) NULL,
--	[SSN] [varchar](50) NULL,
--	[PatientName] [varchar](200) NULL,
--	[DateOfBirth] [date] NULL,
--	[street] [varchar](50) NULL,
--	[city] [varchar](50) NULL,
--	[state] [varchar](50) NULL,
--	[zip] [varchar](50) NULL,
--	[Phone] [varchar](50) NULL,
--	[MediAssist] [varchar](10) NULL,
--	[RecordCreatedBy] [varchar](50) NULL,
--	[RecordCreatedDate] [datetime] NULL,
--	[HomePharmarcy] [nvarchar](50) NULL,
--	[PatientIdentifier] [varchar](200) NULL
--	) 


drop table if exists #AllpatientsInfo

select GlobalId,SocialSecurityNumber as SSN
,FirstName +' '+LastName as PatientName,DateOfBirth,
street,city ,state,zip ,Phone ,p.PatientId,p.CustomField3
into #AllpatientsInfo
from pp_ods..rxqPatient p with(nolock)
left join PP_ODS..rxqQueue q  with(nolock)
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator

--select * from #AllpatientsInfo where globalid=''

--select distinct SSN 
--from #AllpatientsInfo 
--where SSN<>'' and SSN not in (
--'0000000  '
--,'00000000 '
--,'000000000')
--order by SSN

drop table if exists #compliancePatients

;With CTE as 
(

select 
GlobalId, SSN,PatientName,DateOfBirth,
street,city ,state,zip ,Phone ,
 cast('No' as varchar(3)) as MediAssist,
 case when Globalid <> '' then  Globalid
when  Globalid = ''  and ssn<>'' and 
ssn not in (    
'0000000  '    
,'00000000 '    
,'000000000')  
then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')  
when  Globalid = ''  and (ssn=''   or  ssn in (    
'0000000  '    
,'00000000 '    
,'000000000') ) 
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end  as PatientIdentifier
,ROW_NUMBER() over(partition by 
case when Globalid <> '' then  Globalid
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')  
when  Globalid = ''  and ssn='' 
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end
--order by rtrim(ltrim(SSN)) desc ,street desc )RNK
order by 
isnull(try_cast(rtrim(ltrim(replace(SSN,'-',''))) as varchar(50)),rtrim(ltrim(SSN))) desc ,street desc 
)RNK 
from 
#AllpatientsInfo a
)
---select * 
select * into  #compliancePatients 
from cte where RNK =1
---and PatientName='ANNA STEPP'


--select rtrim(ltrim(SSN)),
--ROW_NUMBER() over(partition by 
--case when Globalid <> '' then  Globalid
--when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')  
--when  Globalid = ''  and ssn='' 
--then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end
--order by isnull(try_cast(rtrim(ltrim(SSN)) as int),rtrim(ltrim(SSN))) desc ,street desc )RNK,
--* from 
--#AllpatientsInfo
--where PatientName='MICHAEL WALLINGFORD' and DateOfBirth='1971-06-09'

---select * from #compliancePatients where  PatientName='ANNA STEPP'

;with rec as 
(
select * ,ROW_NUMBER() 
over(partition by ssn,DateOfBirth order by globalid desc,ssn desc ) 
Rnk2 
from 
#compliancePatients 
)

delete
--select * 
from rec where Rnk2 > 1 

;with rec1 as 
(
select * ,ROW_NUMBER() 
over(partition by PatientName,DateOfBirth order by globalid desc,ssn desc ) 
Rnk2 
from 
#compliancePatients 
)


delete
---select * 
from rec1 where Rnk2 > 1 


--delete c 
----select c.* 
--from #compliancePatients c 
--join 
--(
--select ssn,DateOfBirth
----,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,
----sum(case when GlobalId='' then 1 else 0 end ) NGLID
--from #compliancePatients
--where ssn<>''
--group by  ssn,DateOfBirth
--having count(1)> 1 and sum(case when GlobalId<>'' then 1 else 0 end )=1
--and sum(case when GlobalId='' then 1 else 0 end )=1
--) res on res.ssn=c.SSN and res.DateOfBirth=c.DateOfBirth
--where c.GlobalId=''
----order by c.SSN,c.DateOfBirth,c.GlobalId


--delete c 
----select c.* 
--from #compliancePatients c 
--join 
--(
--select PatientName,DateOfBirth
--,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,
--sum(case when GlobalId='' then 1 else 0 end ) NGLID
--from #compliancePatients
----where ssn='' 
--group by  PatientName,DateOfBirth
--having count(1)> 1 and sum(case when GlobalId<>'' then 1 else 0 end )=1
--and sum(case when GlobalId='' then 1 else 0 end )=1
--) res on res.PatientName=c.PatientName and res.DateOfBirth=c.DateOfBirth
--where c.GlobalId=''
----order by c.SSN,c.DateOfBirth,c.GlobalId

update P set MediAssist='Yes'
--select p.*
from #compliancePatients p
join (select distinct GlobalId  
from pp_ods..rxqPatient with(nolock)
where CustomField3 like '%MED%ASSIST%'
and GlobalId<>''
) a on p.GlobalId=a.GlobalId
where p.GlobalId<>'' and MediAssist='NO'

update p set MediAssist='Yes'
--select p.* 
from #compliancePatients p
join (select distinct SocialSecurityNumber,DateOfBirth 
from pp_ods..rxqPatient with(nolock)
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber<>'' /*SSN Not blank*/
and GlobalId=''
--order by  SocialSecurityNumber 
) a on p.ssn=a.SocialSecurityNumber
and p.DateOfBirth=a.DateOfBirth
where p.GlobalId='' and  MediAssist='NO'

update p set MediAssist='Yes'
--select p.* 
from #compliancePatients p
join (select distinct FirstName +' '+LastName as PatientName,DateOfBirth 
from pp_ods..rxqPatient with(nolock)
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber='' 
and GlobalId=''
--order by  SocialSecurityNumber 
) a on p.PatientName=a.PatientName
and p.DateOfBirth=a.DateOfBirth
where p.GlobalId='' and  MediAssist='NO'


--select p.* 
--from #compliancePatients p
--where p.GlobalId='' 

--select  GlobalId,ssn,DateOfBirth
--from #compliancePatients p
--where p.GlobalId='' and ssn=''

--select * from #compliancePatients

delete from 
#compliancePatients where GlobalId in (
select [GlobalId] from MediTrackerDB..[PatientView] p
where [GlobalId]<>'' 
)


delete c from 
--select * from 
#compliancePatients c 
join MediTrackerDB..[PatientView] p on c.GlobalId=p.GlobalId and p.GlobalId <>''

delete c from 
#compliancePatients c 
join MediTrackerDB..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN
---and p.GlobalId='' and p.ssn<>''

delete c from 
#compliancePatients c 
join MediTrackerDB..[PatientView] p on c.DateOfBirth=p.DateOfBirth 
and c.PatientName=p.PatientName
---and p.GlobalId='' and p.ssn=''

delete c from 
#compliancePatients c where DateOfBirth is null

delete a 
--select a.*,p.*  --distinct a.patientname   
from   
#compliancePatients a
join 
MediTrackerDB..[PatientView] p
on
(      
(p.GlobalId=a.GlobalId and p.GlobalId <>'' and a.GlobalId<>'')
  or      
  ( 
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''      
and  a.SSN<>''      
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth      
  )      
or      
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )      
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName      
  )      
)      

truncate table [PatientView_AllPatients]

Insert into [PatientView_AllPatients]
(
    [GlobalId] ,
	SSN ,
	[PatientName],
	[DateOfBirth] ,
	[street] ,
	[city] ,
	[state] ,
	[zip] ,
	[Phone] ,
	MediAssist ,
	RecordCreatedBy ,
	RecordCreatedDate,
	PatientIdentifier)

select 
[GlobalId] ,
	SSN ,
	[PatientName],
	[DateOfBirth] ,
	[street] ,
	[city] ,
	[state] ,
	[zip] ,
	[Phone] ,
	MediAssist ,
	'SS_ETL_JOB' RecordCreatedBy ,
	getdate() RecordCreatedDate,
	PatientIdentifier
from   
#compliancePatients a
order by [GlobalId] desc , ssn desc 


end


GO
