USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Financial_report]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[SP_Financial_report]
AS
BEGIN
 
 --                      IF OBJECT_ID('tempdb..#Agency') IS NOT NULL
	--				   DROP TABLE #Agency
	--				   IF OBJECT_ID('tempdb..#Drug') IS NOT NULL
	--				   DROP TABLE #Drug
	--				   IF OBJECT_ID('tempdb..#Insurance') IS NOT NULL
	--				   DROP TABLE #Insurance
	--				   IF OBJECT_ID('tempdb..#ScriptBase') IS NOT NULL
	--				   DROP TABLE #ScriptBase
					   IF OBJECT_ID(N'dbo.PP_Financial_report', N'U') IS NOT NULL 
					   Drop table PP_Financial_Report
					   


	--select 
	--DrugId
	--,source_indicator
	--,Is340B
	--,Generic
	--into #Drug
	--from rxqDrug with(nolock)
 --  ---------------------------------------------------------------------
	--select AgencyCode
	--,Source_Indicator
	--,Is340B
	--,PlanClassificationCode
	--into #Agency
	--from rxqAgency with(nolock)
	-----------------------------------------------------------------------

	--select PrimaryIns
	--,SecondaryIns
	--,Copay
	--,ScriptNumber
	--,RefillNumber
	--,Source_Indicator
	--into #Insurance
	--from RxInsurance with(nolock)
	-----------------------------------------------------------------------
	--select SB.DoctorId
	--,SB.PatientId
	--,P.CustomField3
	--,D.CustomField1 
	--,SB.ScriptNumber
	--,SB.Source_Indicator
	--into #ScriptBase
	--from rxqScriptBase SB with(nolock)
	--inner join rxqPatient P with(nolock) on  SB.PatientId=P.PatientId 
	--and SB.Source_Indicator=P.Source_Indicator
	--inner join rxqDoctor D with(nolock) on  SB.DoctorId=D.DoctorId
	--and SB.Source_Indicator=D.Source_Indicator
	-----------------------------------------------------------------------
	--select
	--A.AgencyCode
	--,A.PlanClassificationCode
	--,D.DrugId
	--,D.Generic
	--,D.Is340B
	--,I.Copay AS Copay_I
	--,I.PrimaryIns
	--,I.SecondaryIns
	--,SB.CustomField1 as [CustomField1 D]
	--,SB.CustomField3 as [CustomField3 P]
	--,SB.DoctorId
	--,SB.PatientId
	--,ST.Agency
	--,ST.Copay
	--,ST.Cost
	--,ST.DateDispensedSQL
	--,ST.ChargeCode
	--,ST.Total
	--,ST.DaysSupply
	--,ST.ScriptNumber
	--,ST.RefillNumber
	--,ST.RequestedACQ
	--,ST.Source_Indicator
	--,case when ST.Source_Indicator='VB' then 'Vanceburg'
 --  when ST.Source_Indicator='FB' then 'Flemingsburg'
 --  when ST.Source_Indicator='ASH' then 'Ashland'
 --  when ST.Source_Indicator='MV' then 'Maysville'
 --  when ST.Source_Indicator='TB' then 'Tollesboro'
 --  when ST.Source_Indicator='GR' then 'Grayson'
 --  when ST.Source_Indicator='CEN' then 'MaysvillePack'
 --  when ST.Source_Indicator='SS' then 'SouthShore'
 --  when ST.Source_Indicator='BC' then 'Augusta'
 --  when ST.Source_Indicator='MH' then 'Morehead'
 --  ELSE 'Others' END [Location]
	--into PP_Financial_report

	--from rxqScriptTransaction ST with(nolock)
	--inner join #Agency A with(nolock) on A.AgencyCode=ST.Agency
	--and A.Source_Indicator=ST.Source_Indicator
	--inner join #Drug D with(nolock) on D.DrugId=ST.DrugId
	--and D.source_indicator=ST.Source_Indicator
	--inner join #Insurance I with(nolock) on I.ScriptNumber=ST.ScriptNumber
	--and I.RefillNumber=ST.RefillNumber
	--and I.Source_Indicator=ST.Source_Indicator
	--inner join #ScriptBase SB with(nolock) on SB.ScriptNumber=ST.ScriptNumber
	--and SB.Source_Indicator=ST.Source_Indicator

	

	select p.CustomField3 as [CustomField3 P]
	,sb.DoctorId
	,sb.PatientId
	,d.CustomField1 as [CustomField1 D]
	,a.AgencyCode
     ,dg.Generic
,dg.Is340B,
i.Copay as Copay_I
,i.PrimaryIns
,i.SecondaryIns
,i.ScriptNumber as ScriptNumber_Ins
,st.Agency
,st.ChargeCode
,st.Copay
,st.Cost
,st.DateDispensedSQL
,st.DrugId
,st.RequestedACQ
,st.RefillNumber
,st.ScriptNumber
,st.Source_Indicator,
case when ST.Source_Indicator='VB' then 'Vanceburg'
   when ST.Source_Indicator='FB' then 'Flemingsburg'
   when ST.Source_Indicator='ASH' then 'Ashland'
   when ST.Source_Indicator='MV' then 'Maysville'
   when ST.Source_Indicator='TB' then 'Tollesboro'
   when ST.Source_Indicator='GR' then 'Grayson'
   when ST.Source_Indicator='CEN' then 'MaysvillePack'
   when ST.Source_Indicator='SS' then 'SouthShore'
   when ST.Source_Indicator='BC' then 'Augusta'
   when ST.Source_Indicator='MH' then 'Morehead'
   ELSE 'Others' END [Location]
,st.Total
,st.DaysSupply
,a.PlanClassificationCode
into  PP_Financial_report

from rxqScriptTransaction as st with (nolock)
inner join rxqScriptBase as sb with (nolock)
on st.ScriptNumber=sb.ScriptNumber and st.Source_Indicator=sb.Source_Indicator
inner join rxqPatient as p with (nolock)
on sb.PatientId=p.PatientId and sb.Source_Indicator=p.Source_Indicator
inner join rxqDoctor as d with (nolock)
on d.DoctorId=sb.DoctorId and d.Source_Indicator=sb.Source_Indicator
left join rxqAgency as a with (nolock)
on a.AgencyCode=st.Agency and a.Source_Indicator=st.Source_Indicator
left join rxqDrug as dg with (nolock)
on dg.DrugId=st.DrugId and st.Source_Indicator=dg.source_indicator
left join RxInsurance as i with (nolock)
on i.ScriptNumber=st.ScriptNumber and i.RefillNumber=st.RefillNumber and i.Source_Indicator=st.Source_Indicator
	
	
END
GO
