USE [PP_ODS]
GO
/****** Object:  View [dbo].[vw_GetMedTrackerPatientsByUsers_old]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_GetMedTrackerPatientsByUsers_old]  
as    
    
with cte as     
(    
    
select PatientIdentifier,ReviewedBy,ReviewedDate,color,Updateddate    
,Updatedby,comments    
from MediTrackerDB_PROD..PatientMedReviewDetails     
where comments='Medlist Reviewed'    
    
union     
    
select PatientIdentifier,ReviewedBy,ReviewedDate,color,Updateddate    
,Updatedby,comments    
from MediTrackerDB_PROD..PatientMedReviewHistory     
where comments='Medlist Reviewed'    
--order by Updateddate desc     
    
union     
    
select PatientIdentifier,ReviewedBy,ReviewedDate,color,Updateddate    
,Updatedby,comments    
from MediTrackerDB_PROD..PatientMedReviewHistory     
where comments is null and color='green'    
--order by Updateddate desc     
    
),    
rxqUser as(    
SELECT *    
FROM    
(SELECT *,MAX(LastModified) OVER(PARTITION BY FirstName, LastName)     
AS MaxLastModifiedDate    
    FROM pp_ods..rxqUser    
 where FirstName is not null  and FirstName<>''    
) t    
WHERE LastModified = MaxLastModifiedDate    
)    
    
select ReviewedBy,case when  reviewedby='Blair Lykins' then 'BLR'    
when  reviewedby='Chuck Bailey' then 'CHK'    
when  reviewedby='Tony Stark' then 'TNY'  
else recordid end recordid,p.PackPharmarcy    
,ReviewedDate,c.PatientIdentifier,p.GlobalId    
from cte c     
join MediTrackerDB_PROD..PatientView p on p.PatientIdentifier=c.PatientIdentifier    
left join rxqUser  r on  c.ReviewedBy=r.FirstName+' '+r.LastName    
where ReviewedBy<>'' and p.PackPharmarcy is not null    
    
    
--select ReviewedBy,recordid    
--from    
--(    
--select distinct  ReviewedBy    
--from cte    
--where ReviewedBy<>''    
--) c    
--left join     
--(select distinct recordid,FirstName,LastName from pp_ods..rxqUser    
--where FirstName is not null  and FirstName<>'') a on     
--c.ReviewedBy=a.FirstName+' '+a.LastName    
    
--Austin Rucker    
--Blair Lykins    
--Briana Kilgallin    
--Chad Evans    
--Chuck Bailey    
--Connor Maddox    
--Lisa Garrison    
--Liz Jones    
--Lorie Evans    
--Lucy Owens    
--Lynn Houck    
--Misty Jones    
--Rachel Rister    
--Ryan Evans    
--Sarah Meadows    
--Tara McCloud    
--Tony Stark    
    
    
    
    
    
GO
