USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Liberty_PPRecordcount_Validation_BCKP]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liberty_PPRecordcount_Validation_BCKP](
	[Table_Name] [varchar](100) NULL,
	[PPLUSRX2] [int] NULL,
	[PPLUSMVRX2] [int] NULL,
	[PPLUSASHRX] [int] NULL,
	[PPLUSFBRX] [int] NULL,
	[PPLUSTBRX] [int] NULL,
	[PPLUSCENRX] [int] NULL,
	[PPLUSSSRX] [int] NULL,
	[PPLUSBCRX] [int] NULL,
	[PPLUSGRRX] [int] NULL,
	[PP_Landing_Count] [int] NULL,
	[Source_Total_Count] [int] NULL,
	[ODS_Total_Count] [int] NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Liberty_PPRecordcount_Validation_BCKP] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
