USE [PP_ODS]
GO
/****** Object:  Table [dbo].[cc2_DDIPatternCodes]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cc2_DDIPatternCodes](
	[DDIPatternCode] [char](5) NOT NULL,
	[DDICode] [int] NOT NULL,
	[Reserve1] [char](21) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
