USE [PP_ODS]
GO
/****** Object:  Table [dbo].[ifc_filename]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ifc_filename](
	[xmlelementid] [int] NOT NULL,
	[xmlfilename] [varchar](255) NOT NULL,
	[xmlsystemname] [varchar](30) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
