USE [PP_ODS]
GO
/****** Object:  Table [dbo].[BzqScriptDeliveryDate]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BzqScriptDeliveryDate](
	[INVOICE] [varchar](50) NULL,
	[DeliveredDate] [datetime] NULL,
	[IN_LINE] [varchar](2) NULL,
	[ITEM_NUM] [varchar](50) NULL,
	[DESCP] [varchar](100) NULL,
	[ReturnId] [int] NULL,
	[SaleId] [int] NULL,
	[BIN] [varchar](50) NULL,
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL,
	[Source_Indicator] [varchar](10) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
