USE [PP_ODS]
GO
/****** Object:  Table [dbo].[tcr_element]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tcr_element](
	[elementguid] [int] NOT NULL,
	[elementtypeguid] [int] NOT NULL,
	[productguid] [int] NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
