USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDeletedPatients_RxqPatient]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---[dbo].[sp_InsertDeletedPatients_RxqPatient]  'VB'  
Create Procedure [dbo].[sp_InsertDeletedPatients_RxqPatient]    
@SourceIndicator VARCHAR(10)    
    
as    
begin    
    
declare @sql varchar(max)    
    
set @sql='Insert     
into     
    rxqPatient_DLT    
SELECT      
 pt.PatientId   
,pt.Source_Indicator     
,getdate() as Record_Updated    
    
FROM  PP_ODS..rxqPatient AS  pt with (NOLOCK)    
join    (
select distinct  Source_Indicator from   
PP_Landing..rxqPatient_stage with (NOLOCK) ) d  
on d.Source_Indicator=pt.Source_Indicator    
LEFT JOIN   PP_Landing..rxqPatient_stage AS SD  with (NOLOCK)    
ON pt.patientId=sd.patientId    
and pt.Source_Indicator=sd.Source_Indicator 
left join rxqPatient_DLT Dlt on Dlt.PatientId=pt.PatientId 
and dlt.Source_Indicator =pt.Source_Indicator
WHERE sd.patientId IS NULL  and dlt.PatientId is null  
AND pt.Source_Indicator='''+@SourceIndicator+''''     
exec (@sql)     
 -- print(@sql)  
    
end    

GO
