USE [PP_ODS]
GO
/****** Object:  Table [dbo].[SP_PP_Pharmacy]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP_PP_Pharmacy](
	[Number_of_Days_Open] [bigint] NULL,
	[Year] [bigint] NULL,
	[Month] [bigint] NULL,
	[D_SI] [nvarchar](121) NULL
) ON [PRIMARY]
GO
