USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientViewRefresh_ETL_test_patientupdate]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PatientViewRefresh_ETL_test_patientupdate]                     
as                       
begin          

drop table if exists #temp_patinet_test

select * into #temp_patinet_test
from rxqPatient p where SocialSecurityNumber='005565591'
or GlobalId='100206'
order by p.GlobalId,p.Source_Indicator

update t set GlobalId='999999999'
--select * 
from #temp_patinet_test t where SocialSecurityNumber='005565591'
and Source_Indicator='CEN'

update t set MiddleInitial='HomePhr'
--select * 
from #temp_patinet_test t where SocialSecurityNumber='005565591'
and Source_Indicator='GR'

update t set MiddleInitial='PackPhr'
--select * 
from #temp_patinet_test t where SocialSecurityNumber='005565591'
and Source_Indicator='MH'

update t set MiddleInitial='HomePhr'
--select * 
from #temp_patinet_test t where GlobalId='100206'
and Source_Indicator='FB'

update t set MiddleInitial='PackPhr'
--select * 
from #temp_patinet_test t where GlobalId='100206'
and Source_Indicator='MH'
              
drop table if exists #AllpatientsInfo                      
                      
select *,SSN+replace(DateOfBirth,'-','') SSN_DOB ,              
PatientName+replace(DateOfBirth,'-','') Name_DOB              
into #AllpatientsInfo              
from               
(              
select GlobalId,              
replace(              
case when SocialSecurityNumber like '%000000%' then '' else SocialSecurityNumber end              
,'         ','')              
as SSN                      
,FirstName +' '+LastName as PatientName,DateOfBirth,          
--LastName+' '+ FirstName as DisplayName ,       
case when MiddleInitial<>'' then      
Lastname+','+FirstName+' '+ MiddleInitial       
else LastName+','+FirstName end as DisplayName,      
LastName,FirstName,MiddleInitial,    MiddleInitial as Max_MiddleInitial , 
street,city ,state,zip ,Phone ,q.QueueName,p.PatientId,p.CustomField3   ,          
case when q.QueueName like '%plus%pack%' then  1 else 0 end isPPMarked,p.Source_Indicator          
,p.LastModified,p.Record_Updated_date  ,p.InActive         
from 
--rxqPatient p with(nolock)     
#temp_patinet_test p
left join rxqQueue q  with(nolock)                      
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator
left join rxqPatient_DLT_test del with(nolock) on del.PatientId=p.PatientId
and del.Source_Indicator=p.Source_Indicator
where del.patientid is null 
)abc              
              
--select q.QueueName,p.*              
--from rxqPatient p with(nolock)                      
--left join rxqQueue q  with(nolock)                      
--on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator              
--where               
--GlobalId in               
--(              
--'88377',              
--'88212'              
--)              
                      
--select distinct SSN                       
--from #AllpatientsInfo                       
--where SSN<>'' and SSN not in (                      
--'0000000  '                      
--,'00000000 '                      
--,'000000000')                      
--order by SSN                      
                      
update a set a.QueueName=r.QueueName                      
--select a.*                       
from                       
#AllpatientsInfo a                      
join                       
(                      
select distinct globalid,QueueName from #AllpatientsInfo                      
where QueueName like '%plus%pack%' and globalid<>''                      
) r on r.globalid=a.globalid and a.globalid<>''                      
where (a.QueueName is null  or                       
a.QueueName not like '%plus%pack%')    


                      
                      
update a set a.QueueName=r.QueueName                      
--select a.*  --distinct a.patientname                       
from                       
#AllpatientsInfo a                      
join                       
(                      
select distinct SSN,QueueName,DateOfBirth from #AllpatientsInfo                      
where QueueName like '%plus%pack%' and globalid='' and SSN<>''                      
) r on r.SSN=a.SSN and r.DateOfBirth=a.DateOfBirth                        
and r.SSN<>'' and r.SSN not in (                      
'0000000  '                      
,'00000000 '                      
,'000000000')                      
where (a.QueueName is null  or                       
a.QueueName not like '%plus%pack%') and  a.globalid=''                      
--order by SSN,patientname                      
                      
update a set a.QueueName=r.QueueName                      
--select a.*  --distinct a.patientname                       
from                       
#AllpatientsInfo a                      
join                       
(                      
select distinct PatientName,QueueName,DateOfBirth from #AllpatientsInfo                      
where QueueName like '%plus%pack%' and globalid='' and SSN=''                      
) r on r.PatientName=a.PatientName and r.DateOfBirth=a.DateOfBirth                        
where (a.QueueName is null  or                       
a.QueueName not like '%plus%pack%') and  a.globalid='' and a.SSN=''                      
                      
                      
update a set a.QueueName='pluspack'                      
---select distinct a.GlobalId                      
--select a.*,p.*  --distinct a.patientname                         
from                         
#AllpatientsInfo a                 
join                       
(                      
select distinct GlobalId,SSN,DateOfBirth,PatientName                      
from                      
#AllpatientsInfo  with(nolock)                       
where  QueueName like '%plus%pack%'                      
)p                      
on                      
(                            
--(p.GlobalId=a.GlobalId and p.GlobalId <>'' and a.GlobalId<>'')                      
--  or                            
  (                       
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''                            
and  a.SSN<>''                            
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth               
  )                            
or                            
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )                            
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName                            
  )                            
)                            
where (a.QueueName is null  or                         
a.QueueName not like '%plus%pack%')                      
                 
 delete a from                
--select distinct QueueName from               
 #AllpatientsInfo a                      
where (QueueName is null or  QueueName not like '%plus%pack%'   )                  
              
              
--select * from #AllpatientsInfo               
--where DateOfBirth in ('1969-12-19','2006-09-28')              
              
drop table if exists #Distinctdetails              
               
select PatientName,DateOfBirth,max(GlobalId) GlobalId,max(ssn) ssn              
into #Distinctdetails              
from               
(select distinct GlobalId,ssn,PatientName,DateOfBirth              
from #AllpatientsInfo               
)p              
group by PatientName,DateOfBirth              
              
              
--select * from #AllpatientsInfo              
--where GlobalId in (              
--select GlobalId from #Distinctdetails              
--where GlobalId <>''              
--group by GlobalId              
--having count(1)> 1              
--) order by PatientName              
              
update p set p.GlobalId=d.GlobalId , p.ssn=d.ssn              
--select d.GlobalId,d.ssn,p.*              
from #AllpatientsInfo p               
join              
#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth              
where  (p.GlobalId='' or p.ssn='')              
and (d.GlobalId<>'' or d.ssn<>'')              
              
update p set p.GlobalId=r.GlobalId          
--select  r.* ,P.*                
from               
(          
select  ssn,DateOfBirth ,max(GlobalId)   GlobalId          
from #AllpatientsInfo             
where ssn<>'' and DateOfBirth is not null           
group by ssn,DateOfBirth          
having max(GlobalId) <>''          
)r              
join           
#AllpatientsInfo p on p.SSN=r.SSN and p.DateOfBirth=r.DateOfBirth          
where p.GlobalId=''           
                 
           
--select PatientName,DateOfBirth ,max(MiddleInitial) as MiddleInitial      
--from #AllpatientsInfo      
--where DateOfBirth is not null       
--group by PatientName,DateOfBirth       
--having max(MiddleInitial)  <> ''      
      
      
update p set Max_MiddleInitial=res.MiddleInitial      
--select res.MiddleInitial,p.MiddleInitial,p.*       
from #AllpatientsInfo p       
join       
(      
select PatientName,DateOfBirth ,max(MiddleInitial) as MiddleInitial      
from #AllpatientsInfo      
where DateOfBirth is not null       
group by PatientName,DateOfBirth       
having max(MiddleInitial)  <> ''      
) res on res.PatientName=p.PatientName and res.DateOfBirth=p.DateOfBirth      
where replace(p.MiddleInitial,' ','')=''  

alter table #AllpatientsInfo
add PatientIdentifier varchar(200)


update #AllpatientsInfo set PatientIdentifier=
case when Globalid <> '' then  Globalid                    
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                      
when  Globalid = ''  and ssn=''                     
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end 
      
 update c set DisplayName= case when MiddleInitial<>'' then      
Lastname+','+FirstName+' '+ MiddleInitial       
else LastName+','+FirstName end      
--select PatientName,DateOfBirth , MiddleInitial,*      
from #AllpatientsInfo c  
join MediTrackerDB_Test..PatientView v on c.PatientIdentifier=v.PatientIdentifier
      
 update c set DisplayName= case when Max_MiddleInitial<>'' then      
Lastname+','+FirstName+' '+ Max_MiddleInitial       
else LastName+','+FirstName end      
--select PatientName,DateOfBirth , MiddleInitial,*      
from #AllpatientsInfo c  
left join MediTrackerDB_Test..PatientView v on c.PatientIdentifier=v.PatientIdentifier
where v.PatientIdentifier is null 
      
--select p.GlobalId,* from rxqPatient p with(nolock) where       
--GlobalId in ('151355','98772')      
--and DateOfBirth in ('1959-06-07','1987-09-25')      
--order by p.GlobalId,p.LastName      
      
--select PatientName,DateOfBirth ,max(MiddleInitial) as MiddleInitial      
--from #AllpatientsInfo      
--where DateOfBirth is not null       
--group by PatientName,DateOfBirth       
--having max(MiddleInitial)  <> ''      
      
      
--select case when MiddleInitial<>'' then      
--LastName+' '+MiddleInitial+' '+FirstName       
--else LastName+' '+FirstName end as fullname      
--from       
--#AllpatientsInfo      
--group by case when MiddleInitial<>'' then      
--LastName+' '+MiddleInitial+' '+FirstName       
--else LastName+' '+FirstName end      
--having count(distinct DateOfBirth) > 1      
      
      
--select * from #AllpatientsInfo       
--where case when MiddleInitial<>'' then      
--LastName+' '+MiddleInitial+' '+FirstName       
--else LastName+' '+FirstName end='DUGAN D MITCHELL'      
      
              
---select * from #AllpatientsInfo where PatientName='ANNA STEPP'                      
                      
--select * from #duplicateSSN--123456789                      
                      
--select * ---into #duplicateSSN                      
--from #AllpatientsInfo where SSN in                       
--(                      
--select SSN from #AllpatientsInfo                      
--where SSN<>'' and SSN not in (                      
--'0000000  '                      
--,'00000000 '                      
--,'000000000')                      
--and QueueName like '%plus%pack%'                      
--group by SSN                       
--having count(distinct case when GlobalId='' then null else GlobalId end )> 1                      
--)                      
--and QueueName like '%plus%pack%'                      
--order by SSN,GlobalId,PatientName                      
                      
--select * from #AllpatientsInfo where ssn='123456789'                      
                      
--;With CTE as                       
--(                      
--select                  
--GlobalId, SSN,PatientName,DateOfBirth,                      
--street,city ,state,zip ,Phone ,QueueName,                      
-- cast('No' as varchar(3)) as MediAssist,                      
--ROW_NUMBER() over(partition by                       
--case when GlobalId='' then SSN else globalid end,                   
--case when GlobalId='' and SSN='' then PatientName else '' end                       
--order by SSN desc ,street desc )RNK                      
--from                       
--#AllpatientsInfo a                      
--where QueueName  like '%plus%pack%'                      
--)                      
----select * from cte where RNK =1                      
--select * into  #compliancePatients                       
--from cte where RNK =1                      
                      
drop table if exists #compliancePatients   
                   
;With CTE as                       
(                      
                      
select                       
GlobalId, SSN,PatientName,DateOfBirth, DisplayName,       
LastName,FirstName,MiddleInitial,      
street,city ,state,zip ,Phone ,QueueName,                      
 cast('No' as varchar(3)) as MediAssist,                      
  PatientIdentifier                      
,ROW_NUMBER() over(partition by                       
    PatientIdentifier                  
--order by rtrim(ltrim(SSN)) desc ,street desc )RNK                      
order by a.isPPMarked desc,patientname ,isnull(try_cast(rtrim(ltrim(SSN)) as int),          
rtrim(ltrim(SSN))) desc ,street desc )RNK ,a.isPPMarked                  
from                       
#AllpatientsInfo a                               
)                      
---select *                       
select * into  #compliancePatients                       
from cte where RNK =1                      
---and PatientName='ANNA STEPP'                      
                      
--select rtrim(ltrim(SSN)),                      
--ROW_NUMBER() over(partition by                
--case when Globalid <> '' then  Globalid                      
--when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                        
--when  Globalid = ''  and ssn=''                       
--then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                      
--order by isnull(try_cast(rtrim(ltrim(SSN)) as int),rtrim(ltrim(SSN))) desc ,street desc )RNK,                      
--* from                       
--#AllpatientsInfo                      
--where PatientName='MICHAEL WALLINGFORD' and DateOfBirth='1971-06-09'                      
                      
---select * from #compliancePatients where  PatientName='ANNA STEPP'                      
                      
;with rec as                       
(                      
select * ,ROW_NUMBER()                       
over(partition by ssn,DateOfBirth order by isPPMarked desc,globalid desc,ssn desc )                       
Rnk2                       
from                       
#compliancePatients      
where  ssn<>''      
)                      
                      
delete                      
---select *                       
from rec where Rnk2 > 1                
              
--select ROW_NUMBER()                       
--over(partition by c.ssn,c.DateOfBirth order by c.globalid desc,c.ssn desc )Rnk ,c.* from               
--(select ssn,DateOfBirth from rec where Rnk2 > 1  )a               
--join #compliancePatients c on c.ssn=a.ssn and c.DateOfBirth=a.DateOfBirth              
--order by c.ssn,c.DateOfBirth              
              
--select * from #compliancePatients where ssn='269649256' and DateOfBirth='1962-07-02'              
                      
;with rec1 as                       
(                      
select * ,ROW_NUMBER()                       
over(partition by PatientName,DateOfBirth order by globalid desc,ssn desc )                       
Rnk2                       
from                       
#compliancePatients                       
)                      
                        
delete                      
---select *                       
from rec1 where Rnk2 > 1               
              
      
--select PatientName,DateOfBirth , MiddleInitial,*      
--from #compliancePatients c      
--where DateOfBirth is not null       
--and PatientName in (      
--select PatientName      
--from       
--#compliancePatients      
--group by PatientName      
--having count(distinct DateOfBirth) > 1      
--)      
--order by c.PatientName      
      
--select PatientName,DateOfBirth , MiddleInitial,*      
--from #compliancePatients c      
--order by len(MiddleInitial) desc       
      
--select c.DateOfBirth,res.DateOfBirth,*      
--from #compliancePatients c      
--join       
--(      
--select PatientName,DateOfBirth,GlobalId from MediTrackerDB_prod..PatientView      
--) res on c.PatientName=res.PatientName and c.DateOfBirth<> res.DateOfBirth      
      
      
--update c set DisplayName= case when MiddleInitial<>'' then      
--Lastname+','+FirstName+' '+ MiddleInitial       
--else LastName+','+FirstName end      
----select PatientName,DateOfBirth , MiddleInitial,*      
--from #compliancePatients c      
      
      
      
--select PatientName,DateOfBirth , MiddleInitial,*      
--from #compliancePatients c      
--where DateOfBirth is not null       
--and PatientName in (      
--select PatientName      
--from       
--#compliancePatients      
--group by PatientName      
--having count(distinct DateOfBirth) > 1      
--)      
--order by c.PatientName      
      
--select ROW_NUMBER()                       
--over(partition by c.PatientName,c.DateOfBirth order by c.globalid desc,c.ssn desc )Rnk              
--,c.* from               
--(select PatientName,DateOfBirth from rec1 where Rnk2 > 1  )a               
--join #compliancePatients c on c.PatientName=a.PatientName and c.DateOfBirth=a.DateOfBirth              
--order by c.PatientName,c.DateOfBirth              
                      
                      
--delete c                       
----select c.*                       
--from #compliancePatients c                       
--join                       
--(                      
--select ssn,DateOfBirth                      
----,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,                      
----sum(case when GlobalId='' then 1 else 0 end ) NGLID                      
--from #compliancePatients                      
--where ssn<>''                      
--group by  ssn,DateOfBirth                      
--having count(1)> 1 and sum(case when GlobalId<>'' then 1 else 0 end )=1                      
--and sum(case when GlobalId='' then 1 else 0 end )=1                      
--) res on res.ssn=c.SSN and res.DateOfBirth=c.DateOfBirth                      
--where c.GlobalId=''                      
----order by c.SSN,c.DateOfBirth,c.GlobalId                      
                      
                      
--delete c                       
----select c.*                       
--from #compliancePatients c                       
--join                       
--(                   
--select PatientName,DateOfBirth                      
--,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,                      
--sum(case when GlobalId='' then 1 else 0 end ) NGLID                      
--from #compliancePatients                      
----where ssn=''                       
--group by  PatientName,DateOfBirth                      
--having count(1)> 1 and sum(case when GlobalId<>'' then 1 else 0 end )=1                      
--and sum(case when GlobalId='' then 1 else 0 end )=1                      
--) res on res.PatientName=c.PatientName and res.DateOfBirth=c.DateOfBirth                      
--where c.GlobalId=''                      
----order by c.SSN,c.DateOfBirth,c.GlobalId                      
                      
update P set MediAssist='Yes'                      
--select p.*                   
from #compliancePatients p                      
join (select distinct GlobalId                        
from pp_ods..rxqPatient with(nolock)                      
where CustomField3 like '%MED%ASSIST%'                      
and GlobalId<>''                      
) a on p.GlobalId=a.GlobalId                      
where p.GlobalId<>'' and MediAssist='NO'                      
                      
update p set MediAssist='Yes'                      
--select p.*                       
from #compliancePatients p                      
join (select distinct SocialSecurityNumber,DateOfBirth                       
from pp_ods..rxqPatient with(nolock)                      
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber<>'' /*SSN Not blank*/                      
and GlobalId=''                      
--order by  SocialSecurityNumber                       
) a on p.ssn=a.SocialSecurityNumber                      
and p.DateOfBirth=a.DateOfBirth                      
where p.GlobalId='' and  MediAssist='NO'                      
                      
update p set MediAssist='Yes'                      
--select p.*                       
from #compliancePatients p                      
join (select distinct FirstName +' '+LastName as PatientName,DateOfBirth                       
from pp_ods..rxqPatient with(nolock)                      
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber=''                       
and GlobalId=''                      
--order by  SocialSecurityNumber                       
) a on p.PatientName=a.PatientName                      
and p.DateOfBirth=a.DateOfBirth                      
where p.GlobalId='' and  MediAssist='NO'                      
                      
                      
--select p.*                       
--from #compliancePatients p                      
--where p.GlobalId=''                       
                      
--select  GlobalId,ssn,DateOfBirth                      
--from #compliancePatients p                      
--where p.GlobalId='' and ssn=''                      
                      
update p set p.MediAssist=c.MediAssist                       
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()                      
--select p.*                       
from                       
#compliancePatients c                       
join MediTrackerDB_test..[PatientView] p on c.GlobalId=p.GlobalId and c.GlobalId<>''                      
where  p.MediAssist <> c.MediAssist                       
                      
              
              
--select PatientName,DateOfBirth              
--from MediTrackerDB_test..[PatientView] p--877              
--where RecordCreatedBy='SS_ETL_Job'              
--except               
--select PatientName,DateOfBirth from #compliancePatients--870              
              
--select * from #compliancePatients where GlobalId in ('89802','77737','172252','200087')              
--order by PatientName              
--select * from #AllpatientsInfo where GlobalId in ('89802','77737','172252','200087')              
--order by PatientName              
              
--select q.QueueName,p.CustomField4,p.GlobalId,p.GlobalId,p.FirstName,p.LastName,              
--p.Source_Indicator,p.SocialSecurityNumber,p.DateOfBirth              
--from rxqPatient p with(nolock)                      
--left join rxqQueue q  with(nolock)                      
--on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator              
--join               
--(              
--select PatientName,DateOfBirth              
--from MediTrackerDB_test..[PatientView] p--877              
--where RecordCreatedBy='SS_ETL_Job'              
--except               
--select PatientName,DateOfBirth from #compliancePatients--870              
--) k on k.PatientName=p.FirstName+' '+p.LastName and k.DateOfBirth=p.DateOfBirth              
----where (QueueName not like '%plus%pack%' or QueueName is null)              
----and p.CustomField4 like '%plus%pack%'              
--order by k.PatientName              
              
--select * from #compliancePatients where GlobalId in ('77737','172252','200087')              
--or PatientName like '%CAROLYN%'              
                  
update p set p.ssn=c.ssn                       
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()                      
,Remarks='ssn update'                      
--select c.ssn,c.globalid,c.patientname,c.dateofbirth,p.*                       
from                       
#compliancePatients c                       
join MediTrackerDB_test..[PatientView] p on c.GlobalId=p.GlobalId                       
where  p.ssn='' and c.GlobalId<>'' and c.ssn<>''        
      
---update MediTrackerDB_test..[PatientView] set DisplayName = null       
        
--update p set DisplayName=c.DisplayName        
----select p.PatientName,c.PatientName,c.DisplayName ,p.GlobalId        
--from #compliancePatients c        
--join MediTrackerDB_test..[PatientView] p         
--on p.PatientIdentifier=c.PatientIdentifier        
--where p.PatientName=c.PatientName        
----order by p.PatientName        
        
--update p set DisplayName=        
--RIGHT(p.PatientName, LEN(p.PatientName) - CHARINDEX(' ', p.PatientName))         
-- + ',' + LEFT(p.PatientName, CHARINDEX(' ', p.PatientName) - 1)+      
-- case when MiddleInitial<>'' then ' '+MiddleInitial else ''  end      
--select p.PatientName,c.PatientName,c.DisplayName ,p.GlobalId,        
--RIGHT(p.PatientName, LEN(p.PatientName) - CHARINDEX(' ', p.PatientName))         
-- + ',' + LEFT(p.PatientName, CHARINDEX(' ', p.PatientName) - 1)+      
-- case when MiddleInitial<>'' then ' '+MiddleInitial else '' end AS SwappedName  ,      
-- MiddleInitial      
--from #compliancePatients c        
--join MediTrackerDB_test..[PatientView] p         
--on p.PatientIdentifier=c.PatientIdentifier        
--where p.PatientName<>c.PatientName        
--and LEN(p.PatientName) - LEN(REPLACE(p.PatientName, ' ', '')) = 1        
--order by p.PatientName        
        
        
--update p set DisplayName=        
--RIGHT(p.PatientName, LEN(p.PatientName) - CHARINDEX(' ', p.PatientName))         
-- + ' ' + LEFT(p.PatientName, CHARINDEX(' ', p.PatientName) - 1)       
       
--select p.PatientName,c.PatientName,c.DisplayName ,p.GlobalId,        
--RIGHT(p.PatientName, LEN(p.PatientName) - CHARINDEX(' ', p.PatientName))         
-- + ',' + LEFT(p.PatientName, CHARINDEX(' ', p.PatientName) - 1)+      
-- case when MiddleInitial<>'' then ' '+MiddleInitial else '' end AS SwappedName  ,      
-- MiddleInitial        
--from MediTrackerDB_test..[PatientView] p        
--where DisplayName is null --and Queuename='ManuallPULL'        
--and LEN(p.PatientName) - LEN(REPLACE(p.PatientName, ' ', '')) = 1        
----order by p.PatientName        
        
--select *  from         
--MediTrackerDB_test..[PatientView] p        
--where p.DisplayName is null         
--and LEN(p.PatientName) - LEN(REPLACE(p.PatientName, ' ', '')) = 1        
        
--update pt set DisplayName=       
--RIGHT(pt.PatientName, LEN(pt.PatientName) - CHARINDEX(' ', pt.PatientName))         
-- + ',' + LEFT(pt.PatientName, CHARINDEX(' ', pt.PatientName) - 1)+      
-- case when MiddleInitial<>'' then ' '+MiddleInitial else '' end       
----select  pt.PatientName,pt.GlobalId,        
----RIGHT(pt.PatientName, LEN(pt.PatientName) - CHARINDEX(' ', pt.PatientName))         
---- + ',' + LEFT(pt.PatientName, CHARINDEX(' ', pt.PatientName) - 1)+      
---- case when MiddleInitial<>'' then ' '+MiddleInitial else '' end AS SwappedName  ,      
---- MiddleInitial       
--from      
--(      
--select p.GlobalId,max(MiddleInitial) as MiddleInitial      
--from         
--MediTrackerDB_test..[PatientView] p        
--join pp_ods..rxqPatient pt with(nolock) on pt.GlobalId=p.GlobalId      
--where p.DisplayName is null  and p.GlobalId <>''       
--group by  p.GlobalId      
--)      
--res       
--join MediTrackerDB_test..[PatientView] pt with(nolock) on pt.GlobalId=res.GlobalId      
--where pt.DisplayName is null  and pt.GlobalId <>''       
      
      
--update p set DisplayName=       
--RIGHT(p.PatientName, LEN(p.PatientName) - CHARINDEX(' ', p.PatientName))         
-- + ',' + LEFT(p.PatientName, CHARINDEX(' ', p.PatientName) - 1)      
----select *        
--from         
--MediTrackerDB_test..[PatientView] p        
--where p.DisplayName is null         
--and LEN(p.PatientName) - LEN(REPLACE(p.PatientName, ' ', '')) = 1      
                
--update p set Remarks=p.PatientName , PatientName=c.PatientName          
----select c.ssn,c.globalid,c.patientname,c.dateofbirth,c.isPPMarked,p.*                       
--from                       
--#compliancePatients c                       
--join MediTrackerDB_test..[PatientView] p on c.GlobalId=p.GlobalId  and c.GlobalId<>''                   
--where c.PatientName<>p.PatientName            
          
--update p set Remarks=p.PatientName , PatientName=c.PatientName          
----select c.ssn,c.globalid,c.patientname,c.dateofbirth,c.isPPMarked,p.*                       
--from                       
--#compliancePatients c                
--join MediTrackerDB_test..[PatientView] p on c.ssn=p.ssn  and c.ssn<>''          
--and c.DateOfBirth=p.DateOfBirth          
--where c.PatientName<>p.PatientName and p.GlobalId=''          
          
--select * from MediTrackerDB_test..[PatientView] where Remarks is not null           
          
delete from                       
#compliancePatients where GlobalId in (                      
select [GlobalId] from MediTrackerDB_test..[PatientView] p                      
where [GlobalId]<>''                       
)                
              
update p set p.GlobalId=c.GlobalId                       
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()                      
--,p.PatientIdentifier =c.GlobalId   
,Remarks='GlobalId update'                      
--select p.* ,c.globalid                      
from                       
#compliancePatients c                       
join MediTrackerDB_test..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN                      
where p.GlobalId='' and p.ssn<>'' and c.GlobalId<>''                       
                      
--select * from #compliancePatients where PatientName=                      
--'ANNA STEPP'                      
--select * from PatientView where PatientName=           
--'ANNA STEPP'                      
                      
update p set p.GlobalId=c.GlobalId , p.ssn=c.SSN                      
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                      
--p.PatientIdentifier=                      
--case when c.Globalid <> '' then  c.Globalid                      
--when  c.Globalid = ''  and c.ssn<>'' then c.SSN+replace(cast(c.DateOfBirth  as varchar(15)),'-','')                        
--when  c.Globalid = ''  and c.ssn=''                       
--then c.PatientName+replace(cast(c.DateOfBirth  as varchar(15)),'-','') end ,             
Remarks='GlobalId_SSN update'              
--select p.* ,c.globalid,c.ssn                      
from                       
#compliancePatients c                       
join MediTrackerDB_test..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName                      
where p.GlobalId='' and p.ssn='' and ( c.GlobalId<>'' or c.ssn<>'')                      
                      
                      
update p set p.GlobalId=c.GlobalId                       
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                      
--p.PatientIdentifier= c.GlobalId   ,  
Remarks='GlobalId update'                    
--select p.* ,c.globalid,c.ssn                      
from                       
#compliancePatients c                       
join MediTrackerDB_test..[PatientView] p               
on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName                      
where p.GlobalId='' and p.ssn<>'' and ( c.GlobalId<>'' and c.ssn='')             
                      
delete c from                       
--select * from                       
#compliancePatients c                       
join MediTrackerDB_test..[PatientView] p on c.GlobalId=p.GlobalId and p.GlobalId <>''                      
                      
delete c from                
--select * from               
#compliancePatients c                  
join MediTrackerDB_test..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN                      
and  p.ssn<>''                      
                     
                  
delete c from               
---select c.* from               
#compliancePatients c                       
join MediTrackerDB_test..[PatientView] p on c.DateOfBirth=p.DateOfBirth               
and c.PatientName=p.PatientName                      
---and p.GlobalId='' and p.ssn=''                       
                      
delete c from               
---select c.* from               
#compliancePatients c where DateOfBirth is null                      
                      
Insert into MediTrackerDB_test..[PatientView]                      
(                      
    [GlobalId] ,                      
 SSN ,                      
 [PatientName],          
 DisplayName,        
 [DateOfBirth] ,                      
 [street] ,                      
 [city] ,                      
 [state] ,                      
 [zip] ,                      
 [Phone] ,                      
 MediAssist ,                      
 ActiveStatus ,                      
 Queuename ,                      
 RecordCreatedBy ,                      
 RecordCreatedDate  ,                      
 RecordModifiedBy ,                      
 RecordModifiedDate,                      
 PatientIdentifier,IsManualPull)                      
                      
select                       
    [GlobalId] ,                      
 SSN ,                      
 [PatientName],         
 DisplayName,        
 [DateOfBirth] ,                      
 [street] ,                      
 [city] ,                      
 [state] ,                      
 [zip] ,                      
 [Phone] ,                      
 MediAssist ,                      
 'Active'ActiveStatus ,                      
 Queuename ,                      
 'SS_ETL_Job' CreatedBy ,                      
 getdate() CreatedDate  ,                      
 'SS_ETL_Job' ModifiedBy ,                      
 getdate() ModifiedDate ,                      
 PatientIdentifier, 0 as IsManualPull                      
from #compliancePatients c                       
order by [GlobalId] desc , ssn desc                       
 
 
 drop table if exists #temp_PatientView_info

select *,case when Globalid <> '' then  Globalid                    
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                      
when  Globalid = ''  and ssn=''                     
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end as NewPatientIdentifier
into #temp_PatientView_info from MediTrackerDB_test..patientview

truncate table DuplicatePharmacyPatientinfo_test

/*capture them daily */
insert into DuplicatePharmacyPatientinfo_test
select 
pll.GlobalId
,pll.SSN
,pll.PatientName
,pll.DateOfBirth
,pll.DisplayName
,pll.LastName
,pll.FirstName
,pll.MiddleInitial
,pll.street
,pll.city
,pll.state
,pll.zip
,pll.Phone
,pll.QueueName
,pll.PatientId
,pll.CustomField3
,pll.isPPMarked
,pll.Source_Indicator
,pll.LastModified
,pll.Record_Updated_date
,pll.InActive
,pll.SSN_DOB
,pll.Name_DOB
,pll.PatientIdentifier
--p.patientidentifier,pll.Source_Indicator,pll.InActive,pll.* 
from #temp_PatientView_info p 
join
(
select patientidentifier,Source_Indicator
from #AllpatientsInfo
group by patientidentifier,Source_Indicator
having count(1)> 1 ---and count(distinct DisplayName)> 1
)res on res.patientidentifier=p.NewPatientIdentifier and 
( p.PackPharmarcy=res.Source_Indicator or p.HomePharmarcy=res.Source_Indicator)
join #AllpatientsInfo pll on pll.patientidentifier=p.NewPatientIdentifier 
and  
--( p.PackPharmarcy=pll.Source_Indicator or p.HomePharmarcy=pll.Source_Indicator)
( res.Source_Indicator=pll.Source_Indicator or res.Source_Indicator=pll.Source_Indicator)
order by p.NewPatientIdentifier,pll.Source_Indicator,pll.InActive

/*delete patients*/
delete from #temp_PatientView_info 
where NewPatientIdentifier in 
(
select distinct patientidentifier from 
DuplicatePharmacyPatientinfo_test
)

delete from #temp_PatientView_info  where PackPharmarcy is null and 
HomePharmarcy is null 


drop table if exists #temp_patientnames_pharmacies

select pvid,p.DisplayName,p.NewPatientIdentifier,p.PatientIdentifier
,HomePharmarcy,PackPharmarcy,
pl1.DisplayName as DisplayName_PP, 
---pl1.Source_Indicator as Source_Indicator_PP 
pl2.DisplayName as DisplayName_HP 
---,pl2.Source_Indicator as Source_Indicator_HP
into #temp_patientnames_pharmacies
from #temp_PatientView_info p 
left join #AllpatientsInfo pl1 on pl1.patientidentifier=p.NewPatientIdentifier 
and   p.PackPharmarcy=pl1.Source_Indicator 
left join #AllpatientsInfo pl2 on pl2.patientidentifier=p.NewPatientIdentifier 
and   p.HomePharmarcy=pl2.Source_Indicator 
where (pl1.DisplayName is not null or pl2.DisplayName is not null )

insert into Displayname_HomePackPharmacies_Test
(pvid,DisplayName,PatientIdentifier,HomePharmarcy,PackPharmarcy,DisplayName_PP,DisplayName_HP
,PharmacyConsidered,createddate,updateddate,DMLType)

select 
t.pvid,
case when t.DisplayName_PP is not null then t.DisplayName_PP else t.DisplayName_HP end
as DisplayName
,t.NewPatientIdentifier,t.HomePharmarcy,t.PackPharmarcy,
t.DisplayName_PP,t.DisplayName_HP,
case when t.DisplayName_PP is not null then t.PackPharmarcy else t.HomePharmarcy end
as PharmacyConsidered,getdate() as createddate,getdate() as	updateddate,'Insert' DMLType
from #temp_patientnames_pharmacies t
left join 
Displayname_HomePackPharmacies_Test d on 
( d.PatientIdentifier=t.PatientIdentifier or d.PatientIdentifier=t.NewPatientIdentifier)
where d.PatientIdentifier is null 

update d set d.HomePharmarcy=t.HomePharmarcy ,d.PackPharmarcy=t.PackPharmarcy,
d.DisplayName_PP=t.DisplayName_PP,d.DisplayName_HP=t.DisplayName_HP,
DisplayName = case when isnull(d.DisplayName_PP,'na') <> t.DisplayName_PP then 
t.DisplayName_PP else t.DisplayName_HP end ,
PharmacyConsidered=case when isnull(d.DisplayName_PP,'na') <> t.DisplayName_PP then 
t.PackPharmarcy else t.HomePharmarcy end,
updateddate=getdate(),DMLType='Update'
--select t.* 
from 
#temp_patientnames_pharmacies t
join Displayname_HomePackPharmacies_Test d on t.PatientIdentifier=d.PatientIdentifier
where 
( isnull(d.DisplayName_PP,'na') <> t.DisplayName_PP 
or 
isnull(d.DisplayName_HP,'na') <> t.DisplayName_HP
)

update v set Prev_DisplayName=v.DisplayName , DisplayName=d.DisplayName
,RecordModifiedBy='SS_ETL_Job',RecordModifiedDate=GETDATE()
--select v.DisplayName,d.DisplayName,* 
from Displayname_HomePackPharmacies_Test d 
join MediTrackerDB_Test..PatientView v on d.PatientIdentifier=v.PatientIdentifier
where d.updateddate  >=cast(GETDATE() as date )
and v.DisplayName<>d.DisplayName

                      
end 


--select * from Displayname_HomePackPharmacies_Test
--select * from Displayname_HomePackPharmacies_History_Test



GO
