USE [PP_ODS]
GO
/****** Object:  Table [dbo].[ip2_DosageForms]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ip2_DosageForms](
	[DosageFormId] [int] NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[DosageFormDescription] [varchar](200) NOT NULL,
	[Reserve1] [varchar](200) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
