USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqPatientAllergies]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatientAllergies](
	[PatientId] [varchar](50) NOT NULL,
	[Allergy] [varchar](50) NOT NULL,
	[AllergyNotes] [varchar](1250) NULL,
	[AllergyDateAdded] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
