USE [PP_ODS]
GO
/****** Object:  Table [dbo].[ip2_PropertyTexts]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ip2_PropertyTexts](
	[PropertyId] [bigint] NOT NULL,
	[TextId] [bigint] NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Reserve1] [varchar](200) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
