USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqZCode]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqZCode](
	[cZCodeId] [int] NOT NULL,
	[ZipCode] [char](5) NOT NULL,
	[CityName] [varchar](64) NULL,
	[StateAbbr] [char](2) NULL,
	[AreaCode] [char](3) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
