USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqRxAlertSettings]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqRxAlertSettings](
	[TextMessaging] [bit] NULL,
	[EmailMessaging] [bit] NULL,
	[RefillReminder] [bit] NULL,
	[PrescriptionReady] [bit] NULL,
	[RefillReminderEmailSubject] [nvarchar](max) NULL,
	[PrescriptionReadyEmailSubject] [nvarchar](max) NULL,
	[RefillReminderTextMessage] [nvarchar](max) NULL,
	[PrescriptionReadyTextMessage] [nvarchar](max) NULL,
	[RefillReminderEmailMessage] [nvarchar](max) NULL,
	[PrescriptionReadyEmailMessage] [nvarchar](max) NULL,
	[OnShelfReminder] [bit] NULL,
	[OnShelfReminderTextMessage] [nvarchar](max) NULL,
	[OnShelfReminderEmailMessage] [nvarchar](max) NULL,
	[OnShelfReminderEmailSubject] [nvarchar](max) NULL,
	[MinutesAfterRxReadyBeforeSending] [float] NULL,
	[DaysBeforeRefillDueBeforeSending] [float] NULL,
	[DaysAfterOnShelfBeforeSending] [float] NULL,
	[RxReadyWhen] [int] NULL,
	[OnShelfWhen] [int] NULL,
	[ScheduleSunSend] [bit] NULL,
	[ScheduleSunSendStart] [nvarchar](50) NULL,
	[ScheduleSunSendEnd] [nvarchar](50) NULL,
	[ScheduleMonSend] [bit] NULL,
	[ScheduleMonSendStart] [nvarchar](50) NULL,
	[ScheduleMonSendEnd] [nvarchar](50) NULL,
	[ScheduleTueSend] [bit] NULL,
	[ScheduleTueSendStart] [nvarchar](50) NULL,
	[ScheduleTueSendEnd] [nvarchar](50) NULL,
	[ScheduleWedSend] [bit] NULL,
	[ScheduleWedSendStart] [nvarchar](50) NULL,
	[ScheduleWedSendEnd] [nvarchar](50) NULL,
	[ScheduleThurSend] [bit] NULL,
	[ScheduleThurSendStart] [nvarchar](50) NULL,
	[ScheduleThurSendEnd] [nvarchar](50) NULL,
	[ScheduleFriSend] [bit] NULL,
	[ScheduleFriSendStart] [nvarchar](50) NULL,
	[ScheduleFriSendEnd] [nvarchar](50) NULL,
	[ScheduleSatSend] [bit] NULL,
	[ScheduleSatSendStart] [nvarchar](50) NULL,
	[ScheduleSatSendEnd] [nvarchar](50) NULL,
	[MailServerName] [nvarchar](max) NULL,
	[MailServerSSLEnabled] [bit] NULL,
	[MailServerUsername] [nvarchar](max) NULL,
	[MailServerPassword] [nvarchar](max) NULL,
	[MailServerPortNumber] [int] NULL,
	[MailServerFrom] [nvarchar](max) NULL,
	[RefillDueLastChecked] [datetime] NULL,
	[CooldownDays] [float] NULL,
	[EmailTemplate] [nvarchar](max) NULL,
	[VoiceMessaging] [bit] NULL,
	[RefillReminderVoiceMessage] [nvarchar](max) NULL,
	[PrescriptionReadyVoiceMessage] [nvarchar](max) NULL,
	[OnShelfReminderVoiceMessage] [nvarchar](max) NULL,
	[VoiceAccountSid] [nvarchar](50) NULL,
	[VoiceAuthToken] [nvarchar](50) NULL,
	[VoicePhoneNumberFrom] [nvarchar](50) NULL,
	[UseSmartSolutionsIVRForVoice] [bit] NULL,
	[PrescriptionReadyWaitForAllVerified] [bit] NULL,
	[MessagingAccountPhoneNumber] [varchar](max) NULL,
	[Birthday] [bit] NULL,
	[BirthdayTextMessage] [nvarchar](max) NULL,
	[BirthdayEmailSubject] [nvarchar](max) NULL,
	[BirthdayEmailMessage] [nvarchar](max) NULL,
	[source_indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
