USE [PP_ODS]
GO
/****** Object:  Table [dbo].[RESULTANTMTM_new]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULTANTMTM_new](
	[patientid] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [varchar](2000) NULL,
	[DateDispensedSQL] [date] NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[DaysSupply] [varchar](50) NULL,
	[FullDispenseQuantity] [decimal](9, 3) NULL,
	[AvailableQuantity] [decimal](12, 3) NULL,
	[NextFillDate] [date] NULL,
	[DrugKey] [varchar](50) NULL,
	[DrugName] [varchar](75) NULL,
	[CENTERNAME] [varchar](2000) NULL,
	[PCTFILLATCENTER] [varchar](2000) NULL,
	[CMReligible] [varchar](3) NOT NULL,
	[LastCMRcompletedDate] [varchar](2000) NULL,
	[TIPTITLE] [nvarchar](max) NULL,
	[TIP_EXPIRATION_DATE] [varchar](2000) NULL,
	[Indicator] [varchar](4013) NOT NULL,
	[EditedSourceIndicator] [varchar](6) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[MTM_RNK] [bigint] NULL,
	[Pt_RNK] [bigint] NULL,
	[NCPDP] [varchar](2000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
