USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_SDash]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SDash]
as
/*****************************************************************************************************************************************************
Object		:     Clinical_Dashboard
Created By	:     AP
Created on	:     02/04/2024
Description	:	  Patient Clinical Dashboard

History:          MM/DD/YYYY  Modified User   Request Content
                  02/04/2024  NK              Initial creation
*******************************************************************************************************************************************************/
begin

							
							IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL
									DROP TABLE #Liberty
							IF OBJECT_ID(N'dbo.SP_ScriptTransactionNew', N'U') IS NOT NULL   
									Drop table SP_ScriptTransactionNew
							IF OBJECT_ID(N'dbo.SP_RxInsuranceNew', N'U') IS NOT NULL   
									Drop table SP_RxInsuranceNew
							
						
							

TRUNCATE TABLE SP_SDash


select 
  P.PATIENTID as Athena_PatientID
 ,(P.Firstname+' '+P.lastname) as PatientName
 ,P.DateOfBirth as Date_Of_Birth
 ,(year(getdate())-year(P.DateOfBirth)) as Age
 ,CASE WHEN P.Gender='m' THEN'Male' WHEN P.Gender='F' THEN 'Female'  ELSE 'Others' END Patient_Gender
,P.GlobalId
,D.DrugId
,D.Name as DrugName
,D.Generic
,D.Is340B
,ST.ScriptNumber
,ST.Copay
,ST.Agency
,ST.ChargeCode
,ST.QuantityDispensed as Drug_QTY
,ST.RequestedACQ
,ST.Cost
,ST.RequestedAWP
,ST.RequestedFee
,ST.RphInitials AS Modifiedby
,ST.DateDispensedSQL
,ST.RefillNumber
,st.Source_Indicator
into #Liberty
FROM PP_ODS..rxqDrug as D (NOLOCK)
INNER JOIN PP_ODS..rxqScriptBase as SB (NOLOCK) on
D.DrugId=SB.DrugKey and D.source_indicator=SB.Source_Indicator
INNER JOIN PP_ODS..rxqPatient as P (NOLOCK) on
P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator
INNER JOIN PP_ODS..rxqScriptTransaction AS ST (NOLOCK) on 
SB.ScriptNumber=ST.ScriptNumber and SB.Source_Indicator=ST.Source_Indicator
WHERE st.DateDispensedSQL >= DATEFROMPARTS(YEAR(GETDATE()) - 2, 1, 1) 





INSERT INTO SP_SDash
SELECT 
Athena_PatientID
,PatientName
,Date_Of_Birth
,Age
,Patient_Gender
,GlobalId
,DrugId
,DrugName
,Drug_QTY
,Generic
,ScriptNumber
,Agency
,ChargeCode
,RequestedACQ
,Cost
,RequestedAWP
,Modifiedby
,DateDispensedSQL
,Source_Indicator
,Is340B
,RequestedFee
,RefillNumber
from #Liberty

SELECT * Into SP_ScriptTransactionNew FROM dbo.rxqScriptTransaction WHERE ChargeCode IN ('Y','N')
 AND DateDispensedSQL >= DATEFROMPARTS(YEAR(GETDATE()) - 2, 1, 1)

Select (PrimaryIns+SecondaryIns) as Total,* Into SP_RxInsuranceNew from RxInsurance
where DateDispensedSQL >=  DATEFROMPARTS(YEAR(GETDATE()) - 2, 1, 1)

end
GO
