USE [PP_ODS]
GO
/****** Object:  Table [dbo].[RxInsurance]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RxInsurance](
	[ScriptNumber] [bigint] NULL,
	[RefillNumber] [bigint] NULL,
	[PrimaryIns] [decimal](10, 2) NULL,
	[Copay] [decimal](10, 2) NULL,
	[SecondaryIns] [decimal](10, 2) NULL,
	[DateDispensedSQL] [datetime] NULL,
	[Source_Indicator] [varchar](10) NULL
) ON [PRIMARY]
GO
