USE [PP_ODS]
GO
/****** Object:  Table [dbo].[PP_ProdAndProfit_FinalTable]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PP_ProdAndProfit_FinalTable](
	[ScriptNumber] [int] NOT NULL,
	[Source_indicator] [nvarchar](max) NOT NULL,
	[DrugId] [varchar](50) NULL,
	[DateDispensedSQL] [date] NULL,
	[RefillNumber] [int] NOT NULL,
	[Copay] [decimal](9, 2) NULL,
	[Cost] [decimal](9, 2) NULL,
	[Fee] [decimal](9, 2) NULL,
	[RequestedACQ] [decimal](9, 2) NULL,
	[RequestedAWP] [decimal](9, 2) NULL,
	[LastModified] [datetime] NULL,
	[Month] [nvarchar](4000) NULL,
	[year] [nvarchar](4000) NULL,
	[ScriptNumber_SI] [nvarchar](max) NULL,
	[DD_Month] [nvarchar](4000) NULL,
	[DD_Year] [int] NULL,
	[DrugId_SI] [nvarchar](max) NULL,
	[YM_SI] [nvarchar](max) NULL,
	[Total] [decimal](9, 2) NULL,
	[Is340B] [bit] NULL,
	[PatientId] [varchar](50) NULL,
	[PatientId_SI] [nvarchar](max) NULL,
	[Number_of_Days_Open] [bigint] NULL,
	[D_SI] [nvarchar](121) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
