USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Pharmacy]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmacy](
	[GID] [nvarchar](100) NULL,
	[Pharmacy_Location] [nvarchar](100) NULL,
	[Year] [bigint] NULL,
	[Month] [bigint] NULL,
	[Number_of_Days_Open] [bigint] NULL,
	[Days_Closed] [bigint] NULL,
	[Actual_Working_Days] [bigint] NULL
) ON [PRIMARY]
GO
