USE [PP_ODS]
GO
/****** Object:  Table [dbo].[_ClinicalControl]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_ClinicalControl](
	[ProductName] [varchar](50) NOT NULL,
	[LastUpdateYYYYMMDDHHMMSS] [char](14) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
