USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqPatient_DLT_test]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatient_DLT_test](
	[patientid] [varchar](50) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Updated] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
