USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[sp_OutcomesMTM]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[sp_OutcomesMTM]
As
Begin

drop table if exists  #PatientInfo_Liberty
drop table if exists #MTMData
 drop table if exists #RESULTANTMTM_final  
drop table if exists RESULTANTMTM_new


select p.patientid,p.FirstName,p.LastName,p.DateOfBirth,p.Phone,sb.DoctorId
,sc.DateDispensedSQL,sc.DaysSupply,DATEADD(day, cast(sc.DaysSupply as int)
, sc.DateDispensedSQL) AS NextFillDate,sb.FullDispenseQuantity,
sb.RefillsAuthorized,sb.RefillUntilDate,sb.AvailableQuantity,sc.QuantityDispensed,
sb.DrugKey,sc.DrugId,sc.DecodedSigs,sc.Source_Indicator,dr.Name as DrugName,
concat(concat(CONCAT(p.FirstName,'_'),p.LastName),year(DateOfBirth)) as Indicator ,
ROW_NUMBER() over ( order by p.FirstName,p.LastName,DateOfBirth ) Pt_RNK
into #PatientInfo_Liberty 
from rxqPatient as p with(nolock)
inner join rxqScriptBase as sb with(nolock)
on p.PatientId=sb.PatientId and p.Source_Indicator=sb.Source_Indicator
inner join rxqScriptTransaction as sc with(nolock)
on sb.ScriptNumber=sc.ScriptNumber and sb.Source_Indicator=sc.Source_Indicator
inner join rxqDrug as dr with(nolock)
on sb.DrugKey=dr.DrugId and dr.source_indicator=sc.Source_Indicator
where
---p.PatientId=126085 and
sc.DateDispensedSQL<>'9999-09-09'
and sc.DateDispensedSQL>= DATEADD(month, -6, GETDATE())


--select top 1000 * from 
--rxqScriptTransaction with(nolock)




select FIRST_NAME,LAST_NAME,DOB,CENTERNAME,PCTFILLATCENTER,[LAST CMR],TIPTITLE,
TIP_EXPIRATION_DATE,concat(concat(CONCAT(FIRST_NAME,'_'),LAST_NAME),year(DOB)) as Indicator,
case
when CENTERNAME like '%BRACKEN COUNTY FAMILY HEALTH CENTER PHARMACY%' then 'BC'
when CENTERNAME like '%FLEMINGSBURG FAMILY HEALTH CENTER PHARMACY%' then 'FB'
when CENTERNAME like '%GRAYSON FAMILY HEALTH CENTER PHARMACY%' then 'GR'
when CENTERNAME like '%MAYSVILLE OB/GYN FAMILY HEALTH CTR PHARMACY%' then 'MV'
when CENTERNAME like '%SOUTH SHORE FAMILY HEALTH CENTER PHARMACY%' then 'SS'
when CENTERNAME like '%TOLLESBORO CLINIC PHARMACY%' then 'TB'
when CENTERNAME like '%LEWIS COUNTY PRIMARY CARE CENTER%' then 'VB'
when CENTERNAME like '%MAYSVILLE%' then 'MV'
when CENTERNAME like '%MAYSVILLE PRIMARY PLUS PACK PHARMACY%' then 'CEN'
when CENTERNAME like '%PRIMARYPLUS - MOREHEAD PHARMACY%' then 'MH'
when CENTERNAME like '%ASHLAND FAMILY HEALTH CENTER PHARMACY%' then 'ASH'
else 'Others'
end as EditedSourceIndicator,
case 
when TIPTITLE like '%cmr%'then 'Yes'
else 'No'
end as CMReligible ,
ROW_NUMBER() over ( order by FIRST_NAME,LAST_NAME,DOB,CENTERNAME ) MTM_RNK,
NCPDP,PHONE
into #MTMData 
--select * --431
from TrainingDB.dbo.OutcomesMTM_new with(nolock)
group by FIRST_NAME,LAST_NAME,DOB,CENTERNAME,PCTFILLATCENTER,[LAST CMR],TIPTITLE,
TIP_EXPIRATION_DATE,NCPDP,PHONE
having count(1)=1

--select * from #MTMData where EditedSourceIndicator='Others'


--drop table #temp7

 

select patientid,FirstName,LastName,DateOfBirth,t4.PHONE as Phone,DateDispensedSQL,
QuantityDispensed,DaysSupply,FullDispenseQuantity,
AvailableQuantity,NextFillDate,DrugKey,DrugName,CENTERNAME,PCTFILLATCENTER,
CMReligible,
[Last CMR] as LastCMRcompletedDate,TIPTITLE,TIP_EXPIRATION_DATE,t4.Indicator,
t4.EditedSourceIndicator,t3.Source_Indicator,
t4.MTM_RNK ,t3.Pt_RNK,t4.NCPDP
into #RESULTANTMTM_final
from #MTMData as t4
inner join #PatientInfo_Liberty as t3
on t4.Indicator=t3.Indicator and t4.EditedSourceIndicator=t3.Source_Indicator
--order by NextFillDate desc



select * 
into RESULTANTMTM_new
from 
#RESULTANTMTM_final

--select * from 
--RESULTANTMTM_new--8997 , 431 

--select * from RESULTANTMTM

--select top 2 * from  TrainingDB.dbo.RESULTANTMTM with(nolock)--6318 ,255

--select top 2 * from 
--RESULTANTMTM_new--8997 

--,937,
--select distinct Phone  from 
--RESULTANTMTM_new--8997 
--order by Phone

--select distinct PHONE from 
--TrainingDB.dbo.OutcomesMTM_new with(nolock)
--where NCPDP='1830505'
--and PHONE ='606'

--select distinct  Phone from 
--RESULTANTMTM_new--8997 
--where NCPDP='1830505'
--and PHONE ='606'

--select distinct MTM_RNK from 
--RESULTANTMTM_new
--order by MTM_RNK

--select * from #RESULTANTMTM_final 
--where MTM_RNK in 
--(
--select MTM_RNK 
--from  
--#RESULTANTMTM_final
--group by MTM_RNK
--having count(1)> 1
--)
--order by Indicator,
--EditedSourceIndicator



--select * from #RESULTANTMTM_final 
--where Pt_RNK in 
--(
--select Pt_RNK 
--from  
--#RESULTANTMTM_final
--group by Pt_RNK
--having count(1)> 1
--)
--order by Indicator,
--EditedSourceIndicator

--3	3992
--4	3992

--select * from trainingdb.dbo.OutcomesMTM_new where FIRST_NAME='ALLISON' and LAST_NAME='FLANNERY'


--select * from  #MTMData as t4 where MTM_RNK in ('3','4')

--select * from  #PatientInfo_Liberty as t4 where Pt_RNK in (3992)


--select Indicator,EditedSourceIndicator,count(TIPTITLE),count(distinct TIPTITLE)
--from  #MTMData as t4 
--group by Indicator,EditedSourceIndicator
--having count(TIPTITLE)> 1 and count(distinct TIPTITLE)=1


--BARBARA_BECKETT1953
--CONSTANCE_MULLIKIN1951

--select * from #MTMData where 
--Indicator='BARBARA_BECKETT1953'


--select * from 
--#RESULTANTMTM_final
--where MTM_RNK in ('16','17')

--select Indicator,EditedSourceIndicator,count(TIPTITLE),count(distinct TIPTITLE)
--from  #MTMData as t4 
--group by Indicator,EditedSourceIndicator
--having count(TIPTITLE)> 1 and count(distinct TIPTITLE)>1


--ROBERT_TAYLOR1949-2
--CHARLES_BRIDGMAN1954-5
--JOSEPH_THOMPSON1980

--select * from #MTMData where 
--Indicator='JOSEPH_THOMPSON1980'

--inner join #PatientInfo_Liberty as t3


--select * from #testing1
--order by PatientId

--select count(*) from TrainingDB.dbo.RESULTANTMTM

--RESULTANTMTM

--select distinct Indicator from ##Temp6--20016

--select distinct Indicator from ##Temp6
--where Indicator in (
--select  Indicator from #temp7)

-----drop table  ##Temp6

---- drop table trainingdb.dbo.RESULTANTMTM
-----drop table ##Temp3


--select DrugCode,DrugId,DrugKey,Name from rxqScriptBase as sc
--join rxqDrug as dr
--on sc.DrugKey=dr.DrugId

END
GO
