USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdatePickupDate_rxqScriptTransaction]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Sp_UpdatePickupDate_rxqScriptTransaction]
as 
begin 

/*Delete script in landing that have PosPickupDateTime */
delete p 
--select count(1)
from 
rxqScriptTransaction st with(nolock)
join 
pp_landing..[rxqScriptTransaction_PickupDate] p  with(nolock) 
on p.ScriptNumber=st.ScriptNumber and p.RefillNumber=st.RefillNumber
and p.Source_Indicator=st.Source_Indicator
where st.PosPickupDateTime is not null 

/*Capture All scripts where PickupDate will be updated from source*/
insert into pp_ods..rxqScriptTransaction_PickupDate
(ScriptNumber,RefillNumber,PosPickupDateTime,Source_Indicator,Record_Created_Date)

select p.ScriptNumber,p.RefillNumber,p.PosPickupDateTime
,p.Source_Indicator ,getdate() as Recordcreateddate
from 
rxqScriptTransaction st with(nolock)
join 
pp_landing..[rxqScriptTransaction_PickupDate] p  with(nolock) 
on p.ScriptNumber=st.ScriptNumber and p.RefillNumber=st.RefillNumber
and p.Source_Indicator=st.Source_Indicator
where st.PosPickupDateTime is null 

/*update PosPickupDateTime in rxqScriptTransaction */
update st set PosPickupDateTime=p.PosPickupDateTime
--select p.ScriptNumber,p.RefillNumber,p.PosPickupDateTime,st.PosPickupDateTime,p.Source_Indicator 
from 
rxqScriptTransaction st 
join 
pp_landing..[rxqScriptTransaction_PickupDate] p  with(nolock) 
on p.ScriptNumber=st.ScriptNumber and p.RefillNumber=st.RefillNumber
and p.Source_Indicator=st.Source_Indicator
where st.PosPickupDateTime is null 


end




GO
