USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqNotes]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqNotes](
	[cNotesId] [int] NULL,
	[Type] [varchar](50) NULL,
	[TypeKey] [varchar](50) NULL,
	[OriginalDate] [datetime] NULL,
	[LastDate] [datetime] NULL,
	[Message] [text] NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Behavior] [char](1) NULL,
	[CategoryId] [int] NULL,
	[OriginalTech] [varchar](50) NULL,
	[LastTech] [varchar](50) NULL,
	[ShowAtRegister] [bit] NULL,
	[Pinned] [datetime] NULL,
	[Source_Indicator] [nvarchar](100) NULL,
	[Record_created_date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
