USE [PP_ODS]
GO
/****** Object:  Table [dbo].[DailyRX340BRebateInfo]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyRX340BRebateInfo](
	[DateDispensed] [varchar](10) NULL,
	[DateWritten] [varchar](10) NULL,
	[ScriptNumber] [varchar](50) NOT NULL,
	[RefillNumber] [varchar](10) NOT NULL,
	[DrugNDC] [varchar](50) NULL,
	[Qty] [varchar](10) NULL,
	[PrescriberNPI] [varchar](20) NULL,
	[Drug340B] [varchar](5) NULL,
	[PatientId] [varchar](50) NULL,
	[Source_Indicator] [varchar](10) NULL,
	[PharmacyNPI] [varchar](20) NULL,
	[Site340BID] [varchar](20) NULL,
	[PickUpStatus] [varchar](30) NULL,
	[PIns_BIN] [varchar](50) NULL,
	[PIns_PCN] [varchar](50) NULL,
	[PIns_AgencyCode] [varchar](50) NULL,
	[PIns_GroupNumber] [varchar](50) NULL,
	[Sec_BIN] [varchar](50) NULL,
	[Sec_PCN] [varchar](50) NULL,
	[Sec_AgencyCode] [varchar](50) NULL,
	[Sec_GroupNumber] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Pickupdate] [varchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DailyRX340BRebateInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
