USE [PP_ODS]
GO
/****** Object:  Table [dbo].[GetALLObjectMaxDate_New]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetALLObjectMaxDate_New](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](1000) NULL,
	[Source_Indicator] [varchar](100) NULL,
	[MaxDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GetALLObjectMaxDate_New] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
