USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqAgency]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqAgency](
	[AgencyCode] [varchar](50) NOT NULL,
	[AgencyDescription] [varchar](50) NULL,
	[ProviderIdSource] [int] NOT NULL,
	[BIN] [int] NOT NULL,
	[PCN] [varchar](50) NOT NULL,
	[PriceFormulaCode] [varchar](50) NOT NULL,
	[WorkersCompSwitch] [varchar](50) NULL,
	[PrescriptionScreenDisplay] [varchar](500) NULL,
	[MaxScriptsPerMonth] [int] NULL,
	[WelfarePriceType] [varchar](50) NULL,
	[RefillsAllowed] [int] NULL,
	[DollarsAllowed] [float] NULL,
	[MonthsToRefillAllowed] [int] NULL,
	[NcpdpFormat] [varchar](50) NULL,
	[PlanClassificationCode] [char](2) NOT NULL,
	[UsualAndCustomaryOption] [varchar](50) NULL,
	[LastUsed] [date] NULL,
	[ClaimsPerTransmission] [int] NULL,
	[DefaultOtherCoverageCode] [char](2) NULL,
	[ReplacePaymentsWithUandC] [bit] NULL,
	[OverrideNcpdpPharmacyServiceType] [char](2) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[InActive] [bit] NULL,
	[PercentageTaxExempt] [bit] NOT NULL,
	[FlatTaxExempt] [bit] NOT NULL,
	[DefaultBasisOfCost] [nvarchar](2) NULL,
	[DefaultSubClarificationCode] [varchar](200) NULL,
	[MedicareCarrierNumber] [nvarchar](50) NULL,
	[Is340B] [bit] NULL,
	[BillImmunization] [int] NULL,
	[SubmitCompoundsMode] [int] NULL,
	[UsualAndCustomaryCustomPF] [varchar](200) NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
