USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[GetLocatioCombo]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetLocatioCombo]
AS
BEGIN

SELECT LocationName, Location FROM PharmacyLocation WITH(NOLOCK)
ORDER BY LocationName ASC

END
GO
