USE [PP_ODS]
GO
/****** Object:  Table [dbo].[med_NDC]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[med_NDC](
	[NDC_UPC_HRI] [char](11) NOT NULL,
	[DrugDescriptorIdentifier] [char](6) NOT NULL,
	[TEECode] [char](2) NOT NULL,
	[DEAClassCode] [char](1) NOT NULL,
	[DESIClode] [char](1) NOT NULL,
	[RX_OTCIndicatorCode] [char](1) NOT NULL,
	[GenericProductPackagingCode] [char](8) NOT NULL,
	[OldNDC_UPC_HRI] [char](11) NOT NULL,
	[NewNDC_UPC_HRI] [char](11) NOT NULL,
	[RepackageCode] [char](1) NOT NULL,
	[IdNumberFormatCode] [char](1) NOT NULL,
	[ThirdPartyRestrictionCode] [char](1) NOT NULL,
	[KnowledgeBaseDrugCode] [char](10) NOT NULL,
	[KnowledgeBaseDrugCodeFlag] [char](1) NOT NULL,
	[LabelerCode] [char](5) NOT NULL,
	[MultiSourceCode] [char](1) NOT NULL,
	[NameTypeCode] [char](1) NOT NULL,
	[ItemStatusFlag] [char](1) NOT NULL,
	[InnerpackCode] [char](1) NOT NULL,
	[ClinicPackCode] [char](1) NOT NULL,
	[ReimbursementIndicator] [char](1) NOT NULL,
	[PricingSpreadCode] [char](1) NOT NULL,
	[Reserve1] [char](41) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[LastChangeDate] [char](8) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
