USE [PP_ODS]
GO
/****** Object:  View [dbo].[vw_GetMedTrackerPatientsByUsers]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_GetMedTrackerPatientsByUsers]    
as          
          
with cte as           
(          
          
select PatientIdentifier,ReviewedBy,ReviewedDate,color,Updateddate          
,Updatedby,comments          
from MediTrackerDB_PROD..PatientMedReviewDetails           
where comments='Medlist Reviewed'     
    
          
union           
    
select PatientIdentifier,ReviewedBy,ReviewedDate,color,Updateddate          
,Updatedby,comments    
from    
(    
select PatientIdentifier,ReviewedBy,ReviewedDate,color,Updateddate          
,Updatedby,comments ,ROW_NUMBER() over(    
partition by ReviewedBy,ReviewedDate,PatientIdentifier     
order by Updateddate desc) Rnk    
from MediTrackerDB_PROD..PatientMedReviewHistory           
where comments='Medlist Reviewed'      
)abc    
where Rnk=1    
    
    
--order by Updateddate desc           
          
union           
        
select PatientIdentifier,ReviewedBy,ReviewedDate,color,Updateddate          
,Updatedby,comments    
from    
(     
select PatientIdentifier,ReviewedBy,ReviewedDate,color,Updateddate          
,Updatedby,comments ,ROW_NUMBER() over(    
partition by ReviewedBy,ReviewedDate,PatientIdentifier     
order by Updateddate desc) Rnk         
from MediTrackerDB_PROD..PatientMedReviewHistory           
where comments is null and color='green'          
--order by Updateddate desc      
)abc    
where Rnk=1    
          
)    
    
--select * from cte where reviewedby='chad evans' and year(ReviewedDate)='2026'   
  
  
select ReviewedBy,     
r.recordid,    
r.recordid as RphInitials,    
p.PackPharmarcy          
,ReviewedDate,c.PatientIdentifier,p.GlobalId          
from cte c           
join MediTrackerDB_PROD..PatientView p on p.PatientIdentifier=c.PatientIdentifier          
left join MediTrackerDB_PROD..UserRecordIdMapping  r on  c.ReviewedBy=r.Name       
where ReviewedBy<>'' and p.PackPharmarcy is not null          
      and ReviewedBy<>'Tony Stark'   
  
--,          
--rxqUser as(      
    
--select * from     
--(    
--select * , ROW_NUMBER() over(PARTITION BY FirstName, LastName    
--order by RphInitials desc , LastModified desc) Rnk    
--FROM pp_ods..rxqUser          
-- where FirstName is not null  and FirstName<>''      
-- ) abc where Rnk=1    
    
--)          
    
         
--select ReviewedBy,     
--case when  reviewedby='Blair Lykins' then 'EBL'          
--when  reviewedby='Chuck Bailey' then 'CVB'             
--else recordid end recordid,    
--case when  reviewedby='Blair Lykins' then 'BL'          
--when  reviewedby='Chuck Bailey' then 'CB'             
--else upper(RphInitials) end RphInitials,    
--p.PackPharmarcy          
--,ReviewedDate,c.PatientIdentifier,p.GlobalId          
--from cte c           
--join MediTrackerDB_PROD..PatientView p on p.PatientIdentifier=c.PatientIdentifier          
--left join rxqUser  r on  c.ReviewedBy=r.FirstName+' '+r.LastName          
--where ReviewedBy<>'' and p.PackPharmarcy is not null          
--      and ReviewedBy<>'Tony Stark'    
    
    
          
--select ReviewedBy,recordid          
--from          
--(          
--select distinct  ReviewedBy          
--from cte          
--where ReviewedBy<>''          
--) c          
--left join           
--(select distinct recordid,FirstName,LastName from pp_ods..rxqUser          
--where FirstName is not null  and FirstName<>'') a on           
--c.ReviewedBy=a.FirstName+' '+a.LastName          
          
--Austin Rucker          
--Blair Lykins          
--Briana Kilgallin          
--Chad Evans          
--Chuck Bailey          
--Connor Maddox          
--Lisa Garrison          
--Liz Jones          
--Lorie Evans          
--Lucy Owens          
--Lynn Houck          
--Misty Jones          
--Rachel Rister          
--Ryan Evans          
--Sarah Meadows          
--Tara McCloud          
--Tony Stark          
          
          
GO
