USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqPharmacyTransfer]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPharmacyTransfer](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Street] [varchar](50) NULL,
	[Suite] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[ZipPlus] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Ncpdp] [varchar](50) NULL,
	[FidNumber] [varchar](50) NULL,
	[Contact] [varchar](max) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
