USE [PP_ODS]
GO
/****** Object:  Table [dbo].[GetAllObjectsMaxQuery_New]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetAllObjectsMaxQuery_New](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](1000) NULL,
	[MaxQuery] [varchar](max) NULL,
	[DateField] [varchar](100) NULL,
	[Active] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
