USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Script_Dashboard_New]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Script_Dashboard_New]          
as          
/*****************************************************************************************************************************************************                    
Object  :     Clinical_Dashboard                    
Created By :     NK                    
Created on :     12/09/2021                    
Description :   Patient Clinical Dashboard                    
                    
History:          MM/DD/YYYY  Modified User   Request Content                    
                  03/03/2022  NK              Initial creation                    
*******************************************************************************************************************************************************/                    
begin                    
                    
                           
IF OBJECT_ID('tempdb..#Liberty') IS NOT NULL                    
DROP TABLE #Liberty                    
                          
                  
TRUNCATE TABLE PBIR_ScriptDashboard_New         
                          
select                     
  P.PatientID  as Athena_PatientID         
  ,P.PatientID as PatientID    
 ,(P.Firstname+' '+P.lastname) as PatientName                    
 ,P.DateOfBirth as Date_Of_Birth                    
 ,(year(getdate())-year(P.DateOfBirth)) as Age                    
 ,CASE WHEN P.Gender='m' THEN'Male' WHEN P.Gender='F' THEN 'Female'   
 ELSE 'Others' END Patient_Gender                    
,P.GlobalId                    
,D.DrugId                    
,D.[Name] as DrugName                    
,D.Generic                    
,D.Is340B                    
,ST.ScriptNumber                    
,RI.ScriptNumber as RI_scriptnumber                    
,ST.Agency                    
,ST.ChargeCode                    
,(RI.Copay) as copay                    
,(RI.PrimaryIns+RI.SecondaryIns) as Total                    
,ST.QuantityDispensed as Drug_QTY                    
,ST.RequestedACQ                    
,ST.Cost                    
,ST.RequestedAWP                    
,ST.RequestedFee                    
,ST.RphInitials AS Modifiedby                    
,ST.DateDispensedSQL                    
,ST.RefillNumber                    
,st.Source_Indicator                    
,CASE WHEN st.ChargeCode in ('Y','N') THEN ST.Total  ELSE 0.00                    
 END AS ChargeCodeYN_Copay           
 ,cast(st.PosPickupDateTime as date) PickupDate     
 ,st.Cost+st.Fee-st.RequestedACQ as NetProfit   
 ,p.CustomField3 as PatientCustomField3 ,d.SpecialtyDrug as Specialty        
into #Liberty                    
FROM PP_ODS..rxqDrug as D (NOLOCK)                    
INNER JOIN PP_ODS..rxqScriptBase as SB (NOLOCK) on                    
D.DrugId=SB.DrugKey and D.source_indicator=SB.Source_Indicator                    
INNER JOIN PP_ODS..rxqPatient as P (NOLOCK) on                    
P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                    
INNER JOIN PP_ODS..rxqScriptTransaction AS ST (NOLOCK) on                     
SB.ScriptNumber=ST.ScriptNumber and SB.Source_Indicator=ST.Source_Indicator                    
LEFT JOIN PP_ODS..RxInsurance as RI (nolock) on ST.scriptnumber=RI.ScriptNumber and st.RefillNumber=RI.RefillNumber                     
and ST.Source_Indicator=RI.Source_Indicator                    
WHERE st.DateDispensedSQL >= DATEFROMPARTS(YEAR(GETDATE()) - 2, 1, 1)           
        
        
drop table if exists #ScriptsPrimaryInsurance              
;with cte as               
(              
select              
 st.PatientId,st.ScriptNumber,st.RefillNumber,st.Source_Indicator,              
 oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN,   oh.PCN,           
oh.TransactionResponse ,a.AgencyDescription        
,cast(SubmitDate as date) SubmitDate,              
oh.TotalAmountPaid,oh.OtherPayorAmtPaid, PatientPayAmt,             
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator               
order by SubmitDate desc) RNK              
from      
(select scriptnumber,RefillNumber,Source_Indicator,DateDispensedSQL,PatientId     
from #Liberty        
where DateDispensedSQL<>'9999-09-09'        
) st           
join rxqOnlineHistory OH with(nolock) on                
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and                 
st.Source_Indicator=oh.Source_Indicator and                 
cast(st.DateDispensedSQL as date) <= cast(oh.SubmitDate as date)              
left join rxqAgency a               
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator              
WHERE  OH.PrimaryOrSecondary='P'   /*primary insurance*/            
)              
            
    
select cte.* ,GroupNumber           
into #ScriptsPrimaryInsurance from cte           
left join           
(          
select * ,ROW_NUMBER() over(partition by PatientId,Source_Indicator,AgencyCode           
order by LastUsed desc ) Rnk          
from           
rxqPatientThirdParty(nolock)            
) rp on rp.PatientId=cte.PatientId and rp.Source_Indicator=cte.Source_Indicator          
and rp.AgencyCode =cte.AgencyCode and rp.Rnk=1          
where cte.RNK=1 and TransactionResponse='P'      
/*all primary insurance  of paid status to be considered*/     
        
--select scriptnumber,RefillNumber,Source_Indicator from #ScriptsPrimaryInsurance        
--group by scriptnumber,RefillNumber,Source_Indicator        
--having count(1)>1        
        
        
        
drop table if exists #ScriptsSecondaryInsurance              
;with cte as               
(              
              
select st.PatientId,st.ScriptNumber,st.RefillNumber,st.Source_Indicator    
,oh.PrimaryOrSecondary,              
oh.AgencyCode,oh.BIN,  oh.PCN,            
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,              
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator               
order by SubmitDate desc) RNK,              
oh.TotalAmountPaid,oh.OtherPayorAmtPaid  ,oh.PatientPayAmt            
from               
(select scriptnumber,RefillNumber,Source_Indicator,DateDispensedSQL,PatientId     
from #Liberty        
where DateDispensedSQL<>'9999-09-09' ) st--2092               
join rxqOnlineHistory OH              
 with(nolock) on                
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and                 
st.Source_Indicator=oh.Source_Indicator and                 
cast(st.DateDispensedSQL as date) <= cast(oh.SubmitDate as date)              
left join rxqAgency a               
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator              
WHERE  OH.PrimaryOrSecondary='s'  /*secondary Insurance*/             
)           
    
select cte.*,GroupNumber into #ScriptsSecondaryInsurance from cte           
left join           
(          
select * ,ROW_NUMBER() over(partition by PatientId,Source_Indicator,AgencyCode           
order by LastUsed desc ) Rnk          
from           
rxqPatientThirdParty(nolock)            
) rp on rp.PatientId=cte.PatientId and rp.Source_Indicator=cte.Source_Indicator          
and rp.AgencyCode =cte.AgencyCode and rp.Rnk=1          
where cte.RNK=1            
and cte.TransactionResponse='P' /*only paid to be considered*/                 
           
        
--select scriptnumber,RefillNumber,Source_Indicator from #ScriptsSecondaryInsurance        
--group by scriptnumber,RefillNumber,Source_Indicator        
--having count(1)>1        
        
drop table if exists #Scriptpayments         
        
select  st.scriptnumber,st.RefillNumber,st.Source_Indicator,              
isnull(cast(p.TotalAmountPaid as float),0)+isnull(cast(s.TotalAmountPaid as float),0)         
InsurancePay            
,isnull(cast(p.PatientPayAmt as float),0)+isnull(cast(s.PatientPayAmt as float),0)         
PatientPay            
,isnull(cast(p.TotalAmountPaid as float),0)+isnull(cast(s.TotalAmountPaid as float),0)             
+isnull(cast(p.PatientPayAmt as float),0)+isnull(cast(s.PatientPayAmt as float),0)         
TotalPay     ,isnull(p.AgencyDescription,s.AgencyDescription) Insurancename  ,    
case when p.AgencyDescription is null then s.BIN else p.BIN end as BIN,    
case when p.AgencyDescription is null then s.PCN else p.PCN end as PCN,    
case when p.AgencyDescription is null then s.GroupNumber     
else p.GroupNumber end as GroupNumber    
into #Scriptpayments            
from               
(select scriptnumber,RefillNumber,Source_Indicator,DateDispensedSQL from #Liberty        
where DateDispensedSQL<>'9999-09-09' ) st                
left join #ScriptsPrimaryInsurance p on               
st.scriptnumber=p.scriptnumber and st.RefillNumber=p.refillnumber and                 
st.Source_Indicator=p.Source_Indicator               
left join #ScriptsSecondaryInsurance s on               
st.scriptnumber=s.scriptnumber and st.RefillNumber=s.refillnumber and                 
st.Source_Indicator=s.Source_Indicator            
        
delete from #Scriptpayments where TotalPay=0        
                    
drop table if exists #RecordIdInitials              
              
select * into #RecordIdInitials              
from               
(              
select r.*              
,ROW_NUMBER( ) over(partition by RecordId order by               
case when RecordId<>RphInitials and RecordId<>'' then 1 else 0 end desc              
,RphInitials desc,              
lastmodified desc ) Rnk              
from rxqUser r              
where               
RecordId<>'MASTERRECORD'               
) rnk               
where rnk=1              
order by RecordId              
              
delete r              
from               
(              
select RphInitials,RecordId              
,ROW_NUMBER( ) over(partition by RphInitials               
order by lastmodified desc ) Rnk              
from #RecordIdInitials              
where RphInitials<>''              
) r              
where rnk>1              
              
              
delete s1              
--select s.RphInitials,s1.RecordId,s1.cUserId              
from               
#RecordIdInitials s               
join #RecordIdInitials s1 on s1.RecordId=s.RphInitials              
where s1.RecordId <>''              
and (s.RecordId<>s.RphInitials)              
              
              
ALTER TABLE #Liberty ADD NewModifiedby VARCHAR(50), InsurancePay Decimal(10,2)        
,TotalPay Decimal(10,2)  ,Insurancename varchar(200) ,BIN VARCHAR(50)    
,PCN VARCHAR(50) ,GroupNumber  VARCHAR(50) , DeliveredDate date, 
DeliveredStatus varchar(10)
        

update l set DeliveredDate=cast(b.DeliveredDate as date ),
DeliveredStatus = case when b.DeliveredDate is not null then 'Delivered' end
--select * 
from 
BzqScriptDeliveryDate b 
join #Liberty l on l.ScriptNumber=b.ScriptNumber 
and l.RefillNumber=b.RefillNumber 
and l.Source_Indicator=b.Source_Indicator

    
              
Update l set l.NewModifiedby = R.NewModifiedby              
--select *               
from (select ScriptNumber,RefillNumber,n.source_indicator              
,Modifiedby,case when r.RecordId is null then Modifiedby              
else r.RecordId end NewModifiedby  from              
#Liberty n               
left join #RecordIdInitials r on               
( r.RecordId=n.Modifiedby or r.RphInitials=n.Modifiedby)              
where n.Modifiedby<>'' ) as R              
join #Liberty l               
on l.ScriptNumber = R.ScriptNumber              
and l.RefillNumber = R.RefillNumber              
and l.Source_Indicator = R.Source_Indicator              
            
--update #Liberty set NewModifiedby='' where NewModifiedby is null           
         
/*Mapping provided by Chad*/         
        
 UPDATE #Liberty          
SET NewModifiedby =          
    CASE          
        WHEN NewModifiedby IS NULL THEN ''          
        WHEN NewModifiedby = 'BK' THEN 'BNK'          
        WHEN NewModifiedby = 'RE' THEN 'JRE'          
        WHEN NewModifiedby = 'AL' THEN 'AIL'          
        WHEN NewModifiedby = 'AR' THEN 'ACR'          
        WHEN NewModifiedby = 'NC' THEN 'NBC'          
        WHEN NewModifiedby = 'TM' THEN 'TBM'          
        WHEN NewModifiedby = 'CM' THEN 'CLM'          
        WHEN NewModifiedby = 'CN' THEN 'CJN'          
        WHEN NewModifiedby = 'RP' THEN 'RPC'          
        WHEN NewModifiedby = 'RR' THEN 'RMR'          
        WHEN NewModifiedby = 'SM' THEN 'SEM'          
        WHEN NewModifiedby = 'CJ' THEN 'CJN'    
        ELSE NewModifiedby          
    END;                
          
update l set l.InsurancePay =p.InsurancePay, l.totalpay=p.TotalPay       
,l.insurancename = p.Insurancename  ,l.BIN =p.BIN ,l.PCN=p.PCN     
, l.GroupNumber=p.GroupNumber    
--select *         
from #Liberty l         
join         
#Scriptpayments p on p.ScriptNumber=l.ScriptNumber        
and p.RefillNumber=l.RefillNumber and p.Source_Indicator=l.Source_Indicator         
        
update #Liberty set InsurancePay= 0 where InsurancePay is null         
        
update #Liberty set TotalPay= 0 where TotalPay is null         
        
--truncate table PBIR_ScriptDashboard_New        
                    
INSERT INTO PBIR_ScriptDashboard_New         
        
SELECT                     
Athena_PatientID                    
,PatientName                    
,Date_Of_Birth                    
,Age                    
,Patient_Gender                    
,GlobalId                    
,DrugId                    
,DrugName                    
,Generic                    
,Is340B                    
,ScriptNumber                    
,RI_scriptnumber                    
,Agency                    
,ChargeCode                    
,copay                    
,Total                    
,Drug_QTY                    
,RequestedACQ                    
,Cost                    
,RequestedAWP                    
,RequestedFee              
,NewModifiedby as Modifiedby              
,DateDispensedSQL                    
,RefillNumber                    
,Source_Indicator                    
,ChargeCodeYN_Copay          
,InsurancePay        
,TotalPay        
,PickupDate        
,PatientCustomField3        
,Specialty       
,Insurancename  ,BIN ,PCN ,GroupNumber   ,NetProfit   ,
DeliveredDate,
DeliveredStatus
from #Liberty              
        
        
            
end 
GO
