USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_MeditrackTables_ProdBackup]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_MeditrackTables_ProdBackup]                        
as                         
Begin                        
                        
Truncate table [dbo].[PatientMedicationList_ProdBackup]        
                     
Insert into [dbo].[PatientMedicationList_ProdBackup]                        
     (PMID,[Globalid]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[Drug_name]                        
           ,[sigs]                        
           ,[QuantityDispensed]                        
           ,[Pharmacy]                        
           ,[DateDispensedSQL]                        
           ,[Sb_LastModified]                        
           ,[ScriptNumber]                        
           ,[cScriptTransactionId]                        
           ,[OnHold]                        
           ,[RecordCreatedDate]                        
           ,[RecordCreatedBy]                        
           ,[RecordModifiedDate]                        
           ,[RecordModifiedBy]                        
           ,[DMLType]                        
           ,[Source]                        
           ,[IsPacked]                        
           ,[PatientIdentifier]                        
           ,[DateOfBirth]                        
           ,[Reviewed]                        
           ,[ReviewedBy]                        
           ,[ReviewedDate]                        
           ,[PMRemarks],DateWritten,RefillNumber,NdcNumber )                        
select                         
   PMID,[Globalid]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[Drug_name]                        
           ,[sigs]                        
           ,[QuantityDispensed]                        
           ,[Pharmacy]                        
           ,[DateDispensedSQL]                        
           ,[Sb_LastModified]                        
           ,[ScriptNumber]                        
           ,[cScriptTransactionId]                        
           ,[OnHold]                        
           ,[RecordCreatedDate]                        
           ,[RecordCreatedBy]                        
           ,[RecordModifiedDate]                        
           ,[RecordModifiedBy]                        
           ,[DMLType]                        
           ,[Source]                        
           ,[IsPacked]                        
           ,[PatientIdentifier]                        
           ,[DateOfBirth]                        
           ,[Reviewed]                        
           ,[ReviewedBy]                        
           ,[ReviewedDate]                        
           ,[PMRemarks],DateWritten ,RefillNumber,NdcNumber                       
from MediTrackerDB_PROD..[PatientMedicationList]  with(nolock)                      
                        
                         
Truncate table [dbo].[PatientMedicationList_History_ProdBackup]                        
                        
Insert into [dbo].[PatientMedicationList_History_ProdBackup](                        
   PMHID,[PMID]                        
           ,[Globalid]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[Drug_name]                        
           ,[sigs]                        
           ,[QuantityDispensed]                        
           ,[Pharmacy]                        
           ,[DateDispensedSQL]                        
           ,[Sb_LastModified]                        
           ,[ScriptNumber]                        
           ,[cScriptTransactionId]                        
           ,[OnHold]                        
           ,[RecordCreatedDate]                        
           ,[RecordCreatedBy]                        
           ,[RecordModifiedDate]                        
     ,[RecordModifiedBy]                        
           ,[DMLType]                        
           ,[Source]                        
           ,[IsPacked]                        
           ,[HistoryCreatedDate]                        
           ,[HistoryCreatedBy]                        
           ,[PatientIdentifier]         
           ,[DateOfBirth]                        
           ,[Reviewed]                        
           ,[ReviewedBy]                        
           ,[ReviewedDate]                        
           ,[PMRemarks],DateWritten,RefillNumber,NdcNumber  )                        
                        
select                         
   PMHID,[PMID]                        
           ,[Globalid]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[Drug_name]                        
           ,[sigs]                        
           ,[QuantityDispensed]                        
           ,[Pharmacy]                        
           ,[DateDispensedSQL]                        
           ,[Sb_LastModified]                        
           ,[ScriptNumber]                        
           ,[cScriptTransactionId]                        
           ,[OnHold]                        
           ,[RecordCreatedDate]                        
           ,[RecordCreatedBy]                        
           ,[RecordModifiedDate]                        
           ,[RecordModifiedBy]                        
           ,[DMLType]                        
           ,[Source]                        
           ,[IsPacked]                        
           ,[HistoryCreatedDate]                        
           ,[HistoryCreatedBy]                        
           ,[PatientIdentifier]                        
           ,[DateOfBirth]                        
           ,[Reviewed]                        
           ,[ReviewedBy]                        
    ,[ReviewedDate]                        
           ,[PMRemarks] ,DateWritten  ,RefillNumber,NdcNumber                     
from [MediTrackerDB_PROD]..[PatientMedicationList_History] with(nolock)                        
                        
      
Truncate table [dbo].[PatientView_ProdBackup]    
                      
Insert into [dbo].[PatientView_ProdBackup]                        
     (PVID,[GlobalId]                 ,[SSN]                        
           ,[PatientName]                        
           ,[DateOfBirth]                        
           ,[street]                        
           ,[city]                        
           ,[state]                        
           ,[zip]                        
           ,[Phone]                        
           ,[LastPackDate]                        
           ,[NextPackDate]                        
    ,[MediAssist]                        
           ,[ActiveStatus]                        
           ,[Queuename]                        
           ,[Notes]                        
           ,[RecordCreatedBy]                        
           ,[RecordCreatedDate]                        
           ,[RecordModifiedBy]                        
           ,[RecordModifiedDate]                        
           ,[HomePharmarcy]                        
           ,[PatientIdentifier]                        
           ,[IsManualPull]                        
           ,[Remarks]                        
           ,[PackPharmarcy],DisplayName,Prev_DisplayName,Phone2)                        
                        
select                         
   PVID,[GlobalId]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[DateOfBirth]                        
           ,[street]                        
           ,[city]                        
           ,[state]                        
           ,[zip]                        
           ,[Phone]                        
           ,[LastPackDate]     
           ,[NextPackDate]                        
           ,[MediAssist]                        
           ,[ActiveStatus]                        
           ,[Queuename]                        
           ,[Notes]                        
           ,[RecordCreatedBy]                        
          ,[RecordCreatedDate]                        
           ,[RecordModifiedBy]                        
           ,[RecordModifiedDate]                        
           ,[HomePharmarcy]                        
           ,[PatientIdentifier]                        
           ,[IsManualPull]                        
           ,[Remarks]               
           ,[PackPharmarcy],DisplayName ,Prev_DisplayName ,Phone2                      
from [MediTrackerDB_PROD]..[PatientView]  with(nolock)                      
                        
                     
Truncate table [dbo].[PatientView_History_ProdBackup]                        
                        
Insert into [dbo].[PatientView_History_ProdBackup]                        
     (PVHID,[PVID]                        
           ,[GlobalId]                        
         ,[SSN]                        
           ,[PatientName]                        
           ,[DateOfBirth]                        
           ,[street]                        
           ,[city]                        
           ,[state]                        
           ,[zip]                        
           ,[Phone]                        
           ,[LastPackDate]                        
           ,[NextPackDate]                        
       ,[MediAssist]                        
           ,[ActiveStatus]                        
           ,[Queuename]                        
           ,[Notes]                        
           ,[RecordCreatedBy]                        
           ,[RecordCreatedDate]                        
           ,[RecordModifiedBy]                        
           ,[RecordModifiedDate]                        
           ,[HomePharmarcy]                        
           ,[PatientIdentifier]                        
           ,[IsManualPull]                        
           ,[HistoryRecordCreatedBy]                        
           ,[HistoryRecordCreatedDate]                        
           ,[Remarks]                        
           ,[PackPharmarcy],DisplayName)                        
                        
Select                         
   PVHID,[PVID]                        
           ,[GlobalId]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[DateOfBirth]                        
           ,[street]                        
           ,[city]                        
           ,[state]                        
           ,[zip]                        
           ,[Phone]                        
           ,[LastPackDate]                        
           ,[NextPackDate]                        
           ,[MediAssist]                        
           ,[ActiveStatus]                        
           ,[Queuename]                        
           ,[Notes]                        
           ,[RecordCreatedBy]                        
           ,[RecordCreatedDate]                        
           ,[RecordModifiedBy]                        
           ,[RecordModifiedDate]                        
           ,[HomePharmarcy]                        
           ,[PatientIdentifier]                        
           ,[IsManualPull]                        
           ,[HistoryRecordCreatedBy]                        
           ,[HistoryRecordCreatedDate]                        
           ,[Remarks]                        
           ,[PackPharmarcy] ,DisplayName                       
From [MediTrackerDB_PROD]..[PatientView_History]  with(nolock)                      
                        
                        
Truncate table [dbo].[PatientView_NotesHistory_ProdBackup]                        
                        
INSERT INTO [dbo].[PatientView_NotesHistory_ProdBackup]                        
           (PVNHID,[PVID]                        
           ,[GlobalId]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[DateOfBirth]                        
           ,[Notes]                        
           ,[RecordCreatedBy]                        
           ,[RecordCreatedDate]                        
           ,[RecordModifiedBy]                        
           ,[RecordModifiedDate]
           ,[PatientIdentifier]                        
         ,[IsPinned]
		 ,IsHidden
		   ,PinnedBy
		   ,PinnedDate
		 )                        
Select                        
   PVNHID,[PVID]                        
           ,[GlobalId]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[DateOfBirth]                        
           ,[Notes]                        
           ,[RecordCreatedBy]                        
           ,[RecordCreatedDate]                        
           ,[RecordModifiedBy]                        
           ,[RecordModifiedDate]
           ,[PatientIdentifier]                        
           ,[IsPinned] 
		   ,IsHidden
		   ,PinnedBy
		   ,PinnedDate
from [MediTrackerDB_PROD]..[PatientView_NotesHistory] with(nolock)                       
                        
                        
Truncate table [dbo].[PatientMedReviewHistory_ProdBackup]      
                        
INSERT INTO [dbo].[PatientMedReviewHistory_ProdBackup]                        
           ([Globalid]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[PatientIdentifier]                        
           ,[DateOfBirth]                        
           ,[ReviewedBy]                        
           ,[ReviewedDate]                        
           ,[Createddate],color,RevID,Updatedby,comments  )                        
Select                         
   [Globalid]                        
           ,[SSN]                        
           ,[PatientName]                        
           ,[PatientIdentifier]                        
           ,[DateOfBirth]                        
           ,[ReviewedBy]                        
           ,[ReviewedDate]                        
           ,[Createddate]  ,color,RevID,Updatedby   ,comments                     
from [MediTrackerDB_PROD]..[PatientMedReviewHistory]  with(nolock)               
              
Truncate table [dbo].PatientMedReviewDetails_ProdBackup     
                        
INSERT INTO [dbo].PatientMedReviewDetails_ProdBackup                        
           (              
    [RevID]  ,              
 [Globalid] ,              
 [SSN] ,              
 [PatientName],              
 [PatientIdentifier] ,              
 [DateOfBirth] ,              
 [ReviewedBy] ,              
 [ReviewedDate],              
 [Createddate] ,              
 [Updateddate]    ,color,Updatedby ,comments          
)                         
Select                         
   [RevID]  ,              
 [Globalid] ,              
 [SSN] ,              
 [PatientName],              
 [PatientIdentifier] ,              
 [DateOfBirth] ,              
 [ReviewedBy] ,              
 [ReviewedDate],              
 [Createddate] ,              
 [Updateddate]  ,color,Updatedby  ,comments                   
from [MediTrackerDB_PROD]..PatientMedReviewDetails  with(nolock)              
            
truncate table [UserDetails_ProdBackup]            
            
insert into [dbo].[UserDetails_ProdBackup](            
ID    
,Name    
,EmailID    
,PasswordHash    
,IsActive    
,Role    
,RoleDesc    
,Is_SSUser    
,RecordCreatedBy    
,RecordCreatedDate    ,RecordModifiedBy    
,RecordModifiedDate    
,DMLType        
)             
            
select ID    
,Name    
,EmailID    
,PasswordHash    
,IsActive    
,Role    
,RoleDesc    
,Is_SSUser    
,RecordCreatedBy    
,RecordCreatedDate    
,RecordModifiedBy    
,RecordModifiedDate    
,DMLType       
  from [MediTrackerDB_PROD]..UserDetails  with(nolock)      
      
truncate table [UserDetailsHistory_ProdBackup]            
            
insert into [dbo].[UserDetailsHistory_ProdBackup](            
HisID    
,ID    
,Name    
,EmailID    
,PasswordHash    
,IsActive    
,Role    
,RoleDesc    
,Is_SSUser    
,RecordCreatedBy    
,RecordCreatedDate    
,RecordModifiedBy    
,RecordModifiedDate    
,DMLType    
,HistoryCreatedBy    
,HistoryCreatedDate        
)             
            
select HisID    
,ID    
,Name    
,EmailID    
,PasswordHash    
,IsActive    
,Role    
,RoleDesc    
,Is_SSUser    
,RecordCreatedBy    
,RecordCreatedDate    
,RecordModifiedBy    
,RecordModifiedDate    
,DMLType    
,HistoryCreatedBy    
,HistoryCreatedDate       
  from [MediTrackerDB_PROD]..[UserDetailsHistory]  with(nolock)     
      
truncate table PatientMedSigQuantity_ProdBackup      
      
insert into PatientMedSigQuantity_ProdBackup      
(      
PMSQID      
,Quantity1      
,Quantity2      
,Quantity3      
,Quantity4      
,PMID      
,PatientIdentifier      
,RecordCreatedBy      
,RecordCreatedDate      
,RecordModifiedBy      
,RecordModifiedDate,Drug_name,DMLType)      
      
select       
PMSQID      
,Quantity1      
,Quantity2      
,Quantity3      
,Quantity4      
,PMID      
,PatientIdentifier      
,RecordCreatedBy      
,RecordCreatedDate      
,RecordModifiedBy      
,RecordModifiedDate  ,Drug_name,DMLType    
from [MediTrackerDB_PROD]..PatientMedSigQuantity      
      
      
truncate table PatientMedTimeSlots_ProdBackup     
    
insert into PatientMedTimeSlots_ProdBackup (      
TimeSlotId      
,TimeSlot1      
,TimeSlot2      
,TimeSlot3      
,TimeSlot4      
,PatientIdentifier      
,RecordCreatedBy      
,RecordCreatedDate      
,RecordModifiedBy      
,RecordModifiedDate    
,DMLType  
)      
      
select TimeSlotId      
,TimeSlot1      
,TimeSlot2      
,TimeSlot3      
,TimeSlot4      
,PatientIdentifier      
,RecordCreatedBy      
,RecordCreatedDate      
,RecordModifiedBy      
,RecordModifiedDate,DMLType from [MediTrackerDB_PROD]..PatientMedTimeSlots      
      
truncate table TimeSlotsReviewDetails_ProdBackup      
      
insert into TimeSlotsReviewDetails_ProdBackup      
(      
TSID      
,PatientIdentifier      
,ReviewedBy      
,ReviewedDate      
,RecordCreatedBy      
,RecordCreatedDate)      
      
select TSID      
,PatientIdentifier      
,ReviewedBy      
,ReviewedDate      
,RecordCreatedBy      
,RecordCreatedDate from [MediTrackerDB_PROD]..TimeSlotsReviewDetails      
      
truncate table TimeSlotsReviewHistoryDetails_ProdBackup      
      
insert into TimeSlotsReviewHistoryDetails_ProdBackup      
(      
TSHisID      
,TSID      
,PatientIdentifier      
,ReviewedBy      
,ReviewedDate      
,RecordCreatedBy      
,RecordCreatedDate      
,HistoryCreatedDate      
,HistoryCreatedBy)      
      
select TSHisID      
,TSID      
,PatientIdentifier      
,ReviewedBy      
,ReviewedDate      
,RecordCreatedBy      
,RecordCreatedDate      
,HistoryCreatedDate      
,HistoryCreatedBy from [MediTrackerDB_PROD]..TimeSlotsReviewHistoryDetails    
  
  
truncate table PatientMedTimeSlots_History_ProdBackup  
  
insert into [dbo].[PatientMedTimeSlots_History_ProdBackup](  
TimeSlotHisId  
,TimeSlotId  
,TimeSlot1  
,TimeSlot2  
,TimeSlot3  
,TimeSlot4  
,PatientIdentifier  
,RecordCreatedBy  
,RecordCreatedDate  
,RecordModifiedBy  
,RecordModifiedDate  
,DMLType  
,HistoryCreatedDate  
,HistoryCreatedBy  
)   
  
select   
TimeSlotHisId  
,TimeSlotId  
,TimeSlot1  
,TimeSlot2  
,TimeSlot3  
,TimeSlot4  
,PatientIdentifier  
,RecordCreatedBy  
,RecordCreatedDate  
,RecordModifiedBy  
,RecordModifiedDate  
,DMLType  
,HistoryCreatedDate  
,HistoryCreatedBy   
from [MediTrackerDB_PROD]..[PatientMedTimeSlots_History]   
    
truncate table PatientMedSigQuantity_History_ProdBackup  
  
insert into [dbo].[PatientMedSigQuantity_History_ProdBackup](  
PMSQHisId  
,PMSQID  
,Quantity1  
,Quantity2  
,Quantity3  
,Quantity4  
,PMID  
,PatientIdentifier  
,RecordCreatedBy  
,RecordCreatedDate  
,RecordModifiedBy  
,RecordModifiedDate  
,Drug_name  
,DMLType  
,HistoryCreatedDate  
,HistoryCreatedBy  
)   
  
select   
PMSQHisId  
,PMSQID  
,Quantity1  
,Quantity2  
,Quantity3  
,Quantity4  
,PMID  
,PatientIdentifier  
,RecordCreatedBy  
,RecordCreatedDate  
,RecordModifiedBy  
,RecordModifiedDate  
,Drug_name  
,DMLType  
,HistoryCreatedDate  
,HistoryCreatedBy   
from [MediTrackerDB_PROD]..[PatientMedSigQuantity_History]   
  
  
                    
End         
GO
