USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqVendor]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqVendor](
	[cVendorId] [int] NOT NULL,
	[VendorName] [varchar](50) NULL,
	[Notes] [varchar](500) NULL,
	[System] [bit] NOT NULL,
	[SystemKey] [char](3) NULL,
	[Active] [bit] NOT NULL,
	[PrimaryVendor] [bit] NOT NULL,
	[GenericRate] [decimal](9, 3) NULL,
	[BrandRate] [decimal](9, 3) NULL,
	[source_indicator] [nvarchar](100) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY]
GO
