USE [PP_ODS]
GO
/****** Object:  Table [dbo].[PatientView_NotesHistory_ProdBackup]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientView_NotesHistory_ProdBackup](
	[PVNHID] [int] NULL,
	[PVID] [int] NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Notes] [varchar](2000) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[IsPinned] [int] NOT NULL,
	[InsertedDate] [datetime] NULL,
	[IsHidden] [int] NULL,
	[PinnedBy] [varchar](50) NULL,
	[PinnedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientView_NotesHistory_ProdBackup] ADD  DEFAULT (getdate()) FOR [InsertedDate]
GO
