USE [PP_ODS]
GO
/****** Object:  Table [dbo].[LibertySPandItsTables]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibertySPandItsTables](
	[SchemaName] [sysname] NOT NULL,
	[TableName] [sysname] NOT NULL,
	[referencing_schema_name] [sysname] NULL,
	[referencing_entity_name] [sysname] NULL
) ON [PRIMARY]
GO
