USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_MedAssistTrackerTables_ProdBackup]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Sp_MedAssistTrackerTables_ProdBackup]        
as begin        
        
Truncate table MATBackup.ColorStatus        
        
Insert into MATBackup.ColorStatus        
(        
Id        
,Color        
,Status        
,RecordCreatedBy        
,RecordCreatedDate        
)        
        
select Id        
,Color        
,Status        
,RecordCreatedBy        
,RecordCreatedDate        
from MedAssistTrackerDB_PROD..ColorStatus        
        
        
Truncate table MATBackup.Patient        
        
insert into MATBackup.Patient        
(        
PID        
,GlobalId        
,SSN        
,PatientName        
,DisplayName        
,DateOfBirth        
,Street        
,City        
,State        
,Zip        
,Phone        
,Phone2        
,MedAssistExpiryDate        
,Remarks        
,ActiveStatus        
,WFStatus        
,Notes        
,PatientIdentifier        
,Prev_DisplayName        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,CCIQ        
,IsManualPull        
)        
        
select         
PID        
,GlobalId        
,SSN        
,PatientName        
,DisplayName        
,DateOfBirth        
,Street        
,City        
,State        
,Zip        
,Phone        
,Phone2        
,MedAssistExpiryDate        
,Remarks        
,ActiveStatus        
,WFStatus        
,Notes        
,PatientIdentifier        
,Prev_DisplayName        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,CCIQ        
,IsManualPull        
from MedAssistTrackerDB_PROD..Patient        
        
        
truncate table [MATBackup].[PatientHistory]        
        
insert into [MATBackup].[PatientHistory]        
(        
PHID        
,PID        
,GlobalId        
,SSN        
,PatientName        
,DisplayName        
,DateOfBirth        
,Street        
,City        
,State        
,Zip        
,Phone        
,Phone2        
,MedAssistExpiryDate        
,Remarks        
,ActiveStatus        
,WFStatus        
,Notes        
,CCIQ        
,IsManualPull        
,PatientIdentifier        
,Prev_DisplayName        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,HistoryRecordCreatedBy        
,HistoryRecordCreatedDate        
)        
        
select         
PHID        
,PID        
,GlobalId        
,SSN        
,PatientName        
,DisplayName        
,DateOfBirth        
,Street        
,City        
,State        
,Zip        
,Phone        
,Phone2        
,MedAssistExpiryDate        
,Remarks        
,ActiveStatus        
,WFStatus        
,Notes        
,CCIQ        
,IsManualPull        
,PatientIdentifier        
,Prev_DisplayName        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,HistoryRecordCreatedBy        
,HistoryRecordCreatedDate        
from MedAssistTrackerDB_PROD..[PatientHistory]        
        
truncate table [MATBackup].[PatientMedicationList]        
        
insert into [MATBackup].[PatientMedicationList]        
(        
PMID        
,Globalid        
,SSN        
,PatientName        
,Drug_name        
,sigs        
,QuantityDispensed        
,Pharmacy        
,DateDispensedSQL        
,Sb_LastModified        
,ScriptNumber        
,cScriptTransactionId        
,OnHold        
,RecordCreatedDate        
,RecordCreatedBy        
,RecordModifiedDate        
,RecordModifiedBy        
,DMLType        
,Source             
,PID        
,DateOfBirth        
,Reviewed        
,ReviewedBy        
,ReviewedDate        
,PMRemarks        
,DateWritten        
,Prescriber        
,NdcNumber        
,RefillNumber        
)        
        
        
select        
PMID        
,Globalid        
,SSN        
,PatientName        
,Drug_name        
,sigs        
,QuantityDispensed        
,Pharmacy        
,DateDispensedSQL        
,Sb_LastModified        
,ScriptNumber        
,cScriptTransactionId        
,OnHold        
,RecordCreatedDate        
,RecordCreatedBy        
,RecordModifiedDate        
,RecordModifiedBy        
,DMLType        
,Source         
,PID        
,DateOfBirth        
,Reviewed        
,ReviewedBy        
,ReviewedDate        
,PMRemarks        
,DateWritten        
,Prescriber        
,NdcNumber        
,RefillNumber        
from         
MedAssistTrackerDB_prod..[PatientMedicationList]        
        
        
truncate table [MATBackup].[PatientMedicationList_History]        
        
insert into [MATBackup].[PatientMedicationList_History]        
(PMHID        
,PMID        
,Globalid        
,SSN        
,PatientName        
,Drug_name        
,sigs        
,QuantityDispensed        
,Pharmacy        
,DateDispensedSQL        
,Sb_LastModified        
,ScriptNumber        
,cScriptTransactionId        
,OnHold        
,RecordCreatedDate        
,RecordCreatedBy        
,RecordModifiedDate        
,RecordModifiedBy        
,DMLType        
,Source              
,HistoryCreatedDate        
,HistoryCreatedBy        
,PID        
,DateOfBirth        
,Reviewed        
,ReviewedBy        
,ReviewedDate        
,PMRemarks        
,DateWritten        
,Prescriber        
,NdcNumber        
,RefillNumber        
)        
        
select         
PMHID        
,PMID        
,Globalid        
,SSN        
,PatientName        
,Drug_name        
,sigs        
,QuantityDispensed        
,Pharmacy        
,DateDispensedSQL        
,Sb_LastModified        
,ScriptNumber        
,cScriptTransactionId        
,OnHold        
,RecordCreatedDate        
,RecordCreatedBy        
,RecordModifiedDate        
,RecordModifiedBy        
,DMLType        
,Source            
,HistoryCreatedDate        
,HistoryCreatedBy        
,PID        
,DateOfBirth        
,Reviewed        
,ReviewedBy        
,ReviewedDate        
,PMRemarks        
,DateWritten        
,Prescriber        
,NdcNumber        
,RefillNumber        
from         
MedAssistTrackerDB_prod..[PatientMedicationList_History]        
        
        
truncate table [MATBackup].[PatientMedReviewDetails]        
        
insert into [MATBackup].[PatientMedReviewDetails]        
(        
RevID        
,Globalid        
,SSN        
,PatientName        
,PID        
,DateOfBirth        
,ReviewedBy        
,ReviewedDate        
,Createddate        
,Updateddate        
,color        
,Updatedby        
,comments        
)        
        
select        
RevID        
,Globalid        
,SSN        
,PatientName        
,PID        
,DateOfBirth        
,ReviewedBy        
,ReviewedDate        
,Createddate        
,Updateddate        
,color        
,Updatedby        
,comments        
from         
MedAssistTrackerDB_prod..[PatientMedReviewDetails]        
        
truncate table [MATBackup].[PatientMedReviewHistory]        
        
insert into [MATBackup].[PatientMedReviewHistory]        
(        
Globalid        
,SSN        
,PatientName        
,PID        
,DateOfBirth        
,ReviewedBy        
,ReviewedDate        
,Createddate        
,Updateddate        
,color        
,RevID        
,Updatedby        
,comments        
)        
        
select         
Globalid        
,SSN        
,PatientName        
,PID        
,DateOfBirth        
,ReviewedBy        
,ReviewedDate        
,Createddate        
,Updateddate        
,color        
,RevID        
,Updatedby        
,comments        
from         
MedAssistTrackerDB_prod..[PatientMedReviewHistory]        
        
truncate table [MATBackup].[PatientNotesHistory]        
        
insert into [MATBackup].[PatientNotesHistory]        
(        
PNHID        
,PID        
,Notes        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,HistoryRecordCreatedBy        
,HistoryRecordCreatedDate        
,IsPinned        
)        
        
select         
PNHID        
,PID        
,Notes        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,HistoryRecordCreatedBy        
,HistoryRecordCreatedDate        
,IsPinned        
from         
MedAssistTrackerDB_PROD..[PatientNotesHistory]        
        
truncate table [MATBackup].[UserDetails]        
        
insert into [MATBackup].[UserDetails]        
(        
ID        
,Name        
,EmailID        
,PasswordHash        
,IsActive        
,Role        
,RoleDesc        
,Is_SSUser        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,DMLType        
)        
        
select         
ID        
,Name        
,EmailID        
,PasswordHash        
,IsActive        
,Role        
,RoleDesc        
,Is_SSUser        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,DMLType        
from         
MedAssistTrackerDB_PROD..[UserDetails]        
        
truncate table [MATBackup].[UserDetailsHistory]        
        
insert into [MATBackup].[UserDetailsHistory]        
(        
HisID        
,ID        
,Name        
,EmailID        
,PasswordHash        
,IsActive        
,Role        
,RoleDesc        
,Is_SSUser        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,DMLType        
,HistoryCreatedBy        
,HistoryCreatedDate        
)        
        
select         
HisID        
,ID        
,Name        
,EmailID        
,PasswordHash        
,IsActive        
,Role        
,RoleDesc        
,Is_SSUser        
,RecordCreatedBy        
,RecordCreatedDate        
,RecordModifiedBy        
,RecordModifiedDate        
,DMLType        
,HistoryCreatedBy        
,HistoryCreatedDate        
from         
MedAssistTrackerDB_prod..[UserDetailsHistory]        
        
end
GO
