USE [PP_ODS]
GO
/****** Object:  Table [dbo].[SP_PP_rxqDrug]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP_PP_rxqDrug](
	[Is340B] [bit] NOT NULL,
	[DrugId] [varchar](50) NOT NULL,
	[DrugId_SI] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
