USE [PP_ODS]
GO
/****** Object:  Table [dbo].[MSC_LPV]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSC_LPV](
	[RegionId] [int] NOT NULL,
	[LocaleId] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
	[ConceptId] [int] NOT NULL,
	[PropertyValue] [nvarchar](255) NOT NULL,
	[ProductSubsetId] [int] NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
