USE [PP_ODS]
GO
/****** Object:  Table [dbo].[MeditrackerBackup_Tableslist]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeditrackerBackup_Tableslist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](200) NULL
) ON [PRIMARY]
GO
