USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_340BRebateReport_old]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*    
select     
convert(varchar(10),DateDispensed,101) DateDispensed,    
convert(varchar(10),DateWritten,101) DateWritten,    
ScriptNumber,RefillNumber,    
substring(DrugNDC,1,5)+'-'+substring(DrugNDC,6,4)+'-'+substring(DrugNDC,10,2) DrugNDC,    
cast(replace(Qty,'.000','.00') as varchar(10)) Qty    
,case when PrescriberNPI is null then '' else PrescriberNPI end  PrescriberNPI  
, PharmacyNPI SubmittedServiceProviderID,    
case when PIns_BIN  is null then '' else PIns_BIN end BIN ,  
case when PIns_PCN is null then '' else  PIns_PCN end ScriptPCN  ,    
case when PIns_GroupNumber is null then '' else PIns_GroupNumber end CustomerGroupNumber    
,Drug340B ,Site340BID,PickUpStatus    
from [DailyRX340BRebateInfo]  
order by PharmacyNPI,ScriptNumber  
Exec Sp_340BRebateReport '2025-11-12','2025-11-12'    
*/    
CREATE procedure [dbo].[Sp_340BRebateReport_old] (@StartDate date , @EndDate date)    
as    
begin    
    
--Declare @StartDate date ='2025-11-07',@EndDate date='2025-11-09'     
    
drop table if exists #PharmacyAdditionalInfo    
    
Create table #PharmacyAdditionalInfo (    
Site340BID varchar(10),PharmacyNPI varchar(10),Source_Indicator varchar(3))    
    
insert into #PharmacyAdditionalInfo(Site340BID,PharmacyNPI,Source_Indicator)    
    
 select  'CH048980'  Site340BID ,'1487766614'  PharmacyNPI,'VB'  Source_Indicator    
union select  'CH04898AB'  Site340BID ,'1780298075'  PharmacyNPI,'CEN'  Source_Indicator    
union select  'CH04898AD'  Site340BID ,'1740893999'  PharmacyNPI,'GR'  Source_Indicator    
union select  'CH04898C'  Site340BID ,'1477564987'  PharmacyNPI,'TB'  Source_Indicator    
union select  'CH04898E'  Site340BID ,'1346513710'  PharmacyNPI,'FB'  Source_Indicator    
union select  'CH04898V'  Site340BID ,'1669650966'  PharmacyNPI,'MV'  Source_Indicator    
union select  'CH04898W'  Site340BID ,'1942799309'  PharmacyNPI,'BC'  Source_Indicator    
union select  'CH04898X'  Site340BID ,'1235688920'  PharmacyNPI,'SS'  Source_Indicator    
union select  'CH04898Y'  Site340BID ,'1629542469'  PharmacyNPI,'ASH'  Source_Indicator    
union select  'CH04898AJ'  Site340BID ,'1205545878'  PharmacyNPI,'MH'  Source_Indicator    
    
    
    
/*Libery Insert*/                                                    
drop table if exists #Libertymedicinedetails                                                    
select           
cast (st.DateDispensedSQL as date)  DateDispensed    
,sb.DateWrittenSQL as DateWritten    
,st.ScriptNumber,st.RefillNumber    
,dg.NdcNumber DrugNDC    
,st.QuantityDispensed as Qty    
,D.NPI PrescriberNPI    
,case when dg.Is340B = '1' then 'Y' else '' end Drug340B    
,p.PatientId    
,p.Source_Indicator ,ph.PharmacyNPI ,ph.Site340BID    
,case when st.WorkFlowStatus='V' and st.PosPickupDateTime is null then 'Verified'    
when st.WorkFlowStatus='V' and st.PosPickupDateTime is not null then 'Picked Up'    
when st.WorkFlowStatus='' or st.WorkFlowStatus is null then 'Entered' end as PickUpStatus    
INTO #Libertymedicinedetails                                                    
From PP_ODS..rxqDoctor as D (nolock)                                                    
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                                     
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                                    
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                      
and SB.Source_Indicator=ST.Source_Indicator                   
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=ST.DrugId                   
and DG.source_indicator=ST.Source_Indicator     
left join #PharmacyAdditionalInfo Ph on ph.Source_Indicator=st.Source_Indicator    
where            
--cast(DateDispensedSQL as date) ='2025-11-03'     
cast(DateDispensedSQL as date)  between @StartDate and @EndDate      
    
        
drop table if exists #ScriptsPrimaryInsurance      
;with cte as       
(      
select      
 st.PatientId,st.ScriptNumber,st.RefillNumber,st.Source_Indicator,      
 oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN, oh.PCN,     
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,      
oh.TotalAmountPaid,oh.OtherPayorAmtPaid,      
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator       
order by SubmitDate desc) RNK      
from       
(select * from #Libertymedicinedetails ) st--2480       
join rxqOnlineHistory OH with(nolock) on        
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and         
st.Source_Indicator=oh.Source_Indicator and         
cast(datedispensed as date) <= cast(SubmitDate as date)      
left join rxqAgency a       
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator      
WHERE  OH.PrimaryOrSecondary='P'       
)      
select cte.* ,GroupNumber     
into #ScriptsPrimaryInsurance from cte     
left join     
(    
select * ,ROW_NUMBER() over(partition by PatientId,Source_Indicator,AgencyCode     
order by LastUsed desc ) Rnk    
from     
rxqPatientThirdParty(nolock)      
) rp on rp.PatientId=cte.PatientId and rp.Source_Indicator=cte.Source_Indicator    
and rp.AgencyCode =cte.AgencyCode and rp.Rnk=1    
where cte.RNK=1       
/*Take latest primary insurance irrespective of transaction status (paid,rejected)*/    
    
    
    
drop table if exists #ScriptsSecondaryInsurance      
;with cte as       
(      
      
select st.PatientId,st.ScriptNumber,st.RefillNumber,st.Source_Indicator,oh.PrimaryOrSecondary,      
oh.AgencyCode,oh.BIN,  oh.PCN,    
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,      
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator       
order by SubmitDate desc) RNK,      
oh.TotalAmountPaid,oh.OtherPayorAmtPaid      
from       
(select * from #Libertymedicinedetails ) st--2092       
join rxqOnlineHistory OH      
 with(nolock) on        
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and         
st.Source_Indicator=oh.Source_Indicator and         
cast(datedispensed as date) <= cast(SubmitDate as date)      
left join rxqAgency a       
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator      
WHERE  OH.PrimaryOrSecondary='s'       
)      
select cte.*,GroupNumber into #ScriptsSecondaryInsurance from cte     
left join     
(    
select * ,ROW_NUMBER() over(partition by PatientId,Source_Indicator,AgencyCode     
order by LastUsed desc ) Rnk    
from     
rxqPatientThirdParty(nolock)      
) rp on rp.PatientId=cte.PatientId and rp.Source_Indicator=cte.Source_Indicator    
and rp.AgencyCode =cte.AgencyCode and rp.Rnk=1    
where cte.RNK=1      
and cte.TransactionResponse='P' /*only paid to be considered*/     
    
    
    
truncate table [DailyRX340BRebateInfo]    
    
insert into [DailyRX340BRebateInfo]    
(    
DateDispensed    
,DateWritten    
,ScriptNumber    
,RefillNumber    
,DrugNDC    
,Qty    
,PrescriberNPI    
,Drug340B    
,PatientId    
,Source_Indicator    
,PharmacyNPI    
,Site340BID    
,PickUpStatus    
, PIns_BIN ,  PIns_PCN , PIns_AgencyCode    
,  PIns_GroupNumber,    
 Sec_BIN , Sec_PCN , Sec_AgencyCode    
, Sec_GroupNumber    
)    
    
    
    
select     
 st.DateDispensed    
,st.DateWritten    
,st.ScriptNumber    
,st.RefillNumber    
,st.DrugNDC    
,st.Qty    
,st.PrescriberNPI    
,st.Drug340B    
,st.PatientId    
,st.Source_Indicator    
,st.PharmacyNPI    
,st.Site340BID    
,st.PickUpStatus    
,p.bin PIns_BIN , p.pcn PIns_PCN ,p.AgencyCode PIns_AgencyCode    
,p.GroupNumber  PIns_GroupNumber,    
s.bin Sec_BIN , s.pcn Sec_PCN ,s.AgencyCode Sec_AgencyCode    
,s.GroupNumber  Sec_GroupNumber    
from     
(select * from #Libertymedicinedetails ) st       
left join #ScriptsPrimaryInsurance p on       
st.scriptnumber=p.scriptnumber and st.RefillNumber=p.refillnumber and         
st.Source_Indicator=p.Source_Indicator       
left join #ScriptsSecondaryInsurance s on       
st.scriptnumber=s.scriptnumber and st.RefillNumber=s.refillnumber and         
st.Source_Indicator=s.Source_Indicator     
    
    
--select     
--convert(varchar(10),DateDispensed,101) DateDispensed,    
--convert(varchar(10),DateWritten,101) DateWritten,    
--ScriptNumber,RefillNumber,    
--substring(DrugNDC,1,5)+'-'+substring(DrugNDC,6,4)+'-'+substring(DrugNDC,10,2) DrugNDC,    
--replace(Qty,'.000','.00') Qty    
--,PrescriberNPI, PharmacyNPI SubmittedServiceProviderID,    
--PIns_BIN BIN ,PIns_PCN ScriptPCN  ,    
--PIns_GroupNumber CustomerGroupNumber,Drug340B ,Site340BID,PickUpStatus    
--from #FinalResult     
--where [ScriptNumber]    
--in (    
--select [Script Number] from TrainingDB..[340BRebateSample]    
--)    
    
    
--select     
--convert(varchar(10),DateDispensed,101) DateDispensed,    
--convert(varchar(10),DateWritten,101) DateWritten,    
--ScriptNumber,RefillNumber,    
--substring(DrugNDC,1,5)+'-'+substring(DrugNDC,6,4)+'-'+substring(DrugNDC,10,2) DrugNDC,    
--replace(Qty,'.000','.00') Qty    
--,PrescriberNPI, PharmacyNPI SubmittedServiceProviderID,    
--PIns_BIN BIN ,PIns_PCN ScriptPCN  ,    
--PIns_GroupNumber CustomerGroupNumber,Drug340B     
--from #FinalResult     
--where [ScriptNumber]    
--in (    
--select [Script Number] from TrainingDB..[340BRebateSample]    
--)    
    
    
--select convert(varchar(10),[Date Dispensed],101) DateDispensed,    
--convert(varchar(10),[Date Written],101) DateWritten,    
--[Script Number],[Refill Number],    
--[Drug NDC] DrugNDC,    
--Qty    
--,[Prescriber NPI],  [Submitted Service Provider ID],    
-- BIN , [Script PCN]  ,    
-- [Customer Group Number],    
-- case when [Drug 340B] is null then  '' else [Drug 340B] end [Drug 340B]    
--from TrainingDB..[340BRebateSample]    
    
--except     
    
--select     
--convert(varchar(10),DateDispensed,101) DateDispensed,    
--convert(varchar(10),DateWritten,101) DateWritten,    
--ScriptNumber,RefillNumber,    
--substring(DrugNDC,1,5)+'-'+substring(DrugNDC,6,4)+'-'+substring(DrugNDC,10,2) DrugNDC,    
--replace(Qty,'.000','') Qty    
--,PrescriberNPI, PharmacyNPI SubmittedServiceProviderID,    
--PIns_BIN BIN ,PIns_PCN ScriptPCN  ,    
--case when PIns_GroupNumber is null then '' else PIns_GroupNumber end CustomerGroupNumber    
--,Drug340B     
--from #FinalResult     
--where [ScriptNumber]    
--in (    
--select [Script Number] from TrainingDB..[340BRebateSample]    
--)    
    
--select     
--convert(varchar(10),[Date Dispensed],101) DateDispensed,    
--convert(varchar(10),[Date Written],101) DateWritten,    
--[Script Number],[Refill Number],    
--[Drug NDC] DrugNDC,    
--Qty    
--,[Prescriber NPI],  [Submitted Service Provider ID],    
-- BIN , [Script PCN]  ,    
-- [Customer Group Number],    
-- case when [Drug 340B] is null then  '' else [Drug 340B] end [Drug 340B]    
--from TrainingDB..[340BRebateSample]    
--where [Script Number]='6829239'    
    
--select     
--convert(varchar(10),DateDispensed,101) DateDispensed,    
--convert(varchar(10),DateWritten,101) DateWritten,    
--ScriptNumber,RefillNumber,    
--substring(DrugNDC,1,5)+'-'+substring(DrugNDC,6,4)+'-'+substring(DrugNDC,10,2) DrugNDC,    
--replace(Qty,'.000','') Qty    
--,PrescriberNPI, PharmacyNPI SubmittedServiceProviderID,    
--PIns_BIN BIN ,PIns_PCN ScriptPCN  ,    
--case when PIns_GroupNumber is null then '' else PIns_GroupNumber end CustomerGroupNumber,Drug340B     
--from #FinalResult    
--where [ScriptNumber]='6829239'    
    
    
--6792408    
--6805538    
--6807978    
--6813016    
--6819817    
--6823202    
--6823649    
--6829206    
--6826387    
--6828374    
--4149585    
--6829182    
--6829193    
--6829239    
--6829240    
--6829246    
    
    
--select DateDispensedSQL,QuantityDispensed,* from rxqScriptTransaction with(nolock)    
--where ScriptNumber='6823649'    
    
    
--select *     
--from #FinalResult     
--where PIns_BIN is null     
    
--select *     
--from #FinalResult     
--where PIns_PCN is null     
    
--select *     
--from #FinalResult     
--where PIns_GroupNumber is null     
    
end
GO
