USE [PP_ODS]
GO
/****** Object:  Table [dbo].[ipm_Concepts]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ipm_Concepts](
	[IpmConceptIdentifier] [decimal](10, 0) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[ConceptTypeIdentifier] [decimal](5, 0) NOT NULL,
	[CountryCode] [char](2) NOT NULL,
	[ConceptValue] [char](20) NOT NULL,
	[Reserve1] [char](10) NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
