USE [PP_ODS]
GO
/****** Object:  Table [dbo].[PatientMedReviewHistory_ProdBackup]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedReviewHistory_ProdBackup](
	[Globalid] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](100) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [datetime] NULL,
	[Createddate] [datetime] NULL,
	[InsertedDate] [datetime] NULL,
	[color] [varchar](50) NULL,
	[RevID] [int] NULL,
	[Updatedby] [varchar](100) NULL,
	[comments] [varchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientMedReviewHistory_ProdBackup] ADD  DEFAULT (getdate()) FOR [InsertedDate]
GO
