USE [PP_ODS]
GO
/****** Object:  Table [dbo].[tcr_relationship]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tcr_relationship](
	[fromelementguid] [int] NOT NULL,
	[fromcountryguid] [int] NOT NULL,
	[fromroleguid] [int] NOT NULL,
	[relationshiptypeguid] [int] NOT NULL,
	[toelementguid] [int] NOT NULL,
	[tocountryguid] [int] NOT NULL,
	[toroleguid] [int] NOT NULL,
	[effectivedate] [varchar](10) NULL,
	[expiredate] [varchar](10) NULL,
	[productguid] [int] NOT NULL,
	[Source_Indicator] [varchar](1000) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
