USE [PP_ODS]
GO
/****** Object:  Table [dbo].[RxDataView]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RxDataView](
	[ScriptNumber] [bigint] NULL,
	[RefillNumber] [bigint] NULL,
	[Insurance] [decimal](10, 2) NULL,
	[Copay] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
	[submitdate] [datetime] NULL
) ON [PRIMARY]
GO
