USE [PP_ODS]
GO
/****** Object:  Table [dbo].[Esp340bNDCList_backup]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esp340bNDCList_backup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Drug] [varchar](200) NULL,
	[Strength] [varchar](100) NULL,
	[NDC] [varchar](20) NULL,
	[Manufacturer] [varchar](100) NULL
) ON [PRIMARY]
GO
