USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DailyOHMedGainwellClaims]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
DECLARE @Today DATE = '2025-10-28' ---CAST(GETDATE() AS DATE); --'2025-09-22';  
DECLARE @StartDate DATE;  
DECLARE @EndDate DATE;  
  
IF DATEPART(WEEKDAY, @Today) = 2  -- 2 = Monday (assuming default DATEFIRST = 7 where Sunday=1, Monday=2)  
BEGIN  
    SET @StartDate = DATEADD(DAY, -3, @Today);  -- Friday  
    SET @EndDate   = DATEADD(DAY, -1, @Today);  -- Sunday  
END  
ELSE  
BEGIN  
    SET @StartDate = DATEADD(DAY, -1, @Today);  -- Yesterday  
    SET @EndDate   = DATEADD(DAY, -1, @Today);  -- Yesterday  
END;  
SELECT @StartDate AS StartDate, @EndDate AS EndDate;  
Exec Sp_DailyOHMedGainwellClaims @StartDate,@EndDate 

select 
source_indicator as Pharmacy,
convert(varchar(10),DateDispensed,101) DateDispensed
,ScriptNumber,RefillNumber
,CustomerFirstName
,CustomerLastName
,CustomerIs340B
,PPProvider
,PrescriberFirstName
,PrescriberLastName
,VisitDate
,Drugname
,NdcNumber
,QuantityDispensed , Cost,Fee,RequestedACQ 
,isnull(Upper(SecInsuranceName),Upper(PrmInsuranceName)) InsuranceName,
isnull(SecMarker, PrmMarker ) PrimaryOrSecondary ,
isnull(cast(PrmAmountPaid as float),0)
+isnull(cast(SecAmountPaid as float),0) TotalInsurancePay ,
Profit
from DailyOHMedGainwellClaims
order by pharmacy,scriptnumber,customerfirstname
*/
CREATE procedure [dbo].[Sp_DailyOHMedGainwellClaims] (@StartDate date , @EndDate date)
as 
begin

--Declare @StartDate date ='2025-10-28',@EndDate date='2025-10-28'

/*Libery Insert*/                                                
drop table if exists #Libertymedicinedetails                                                
select 
st.source_indicator ,
cast (st.DateDispensedSQL as date)  DateDispensed
,st.ScriptNumber,st.RefillNumber
,upper(p.FirstName) CustomerFirstName
,upper(p.LastName) CustomerLastName
,case when p.Is340B=1 then 'Yes' else 'No' end CustomerIs340B
,st.Agency,st.ChargeCode,
d.CustomField1 as PPProvider
,upper(D.FirstName) PrescriberFirstName
,upper(d.LastName) PrescriberLastName
,p.CustomField1 as VisitDate
,DG.Name as Drugname
,dg.NdcNumber
,st.QuantityDispensed , st.Cost,st.Fee,st.RequestedACQ ,
st.Cost+st.Fee-st.RequestedACQ as Profit
INTO #Libertymedicinedetails                                                
From PP_ODS..rxqDoctor as D (nolock)                                                
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                                 
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator            
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                  
and SB.Source_Indicator=ST.Source_Indicator               
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=ST.DrugId               
and DG.source_indicator=ST.Source_Indicator     
where        
cast(DateDispensedSQL as date)  between @StartDate and @EndDate
and p.Is340B=1 
/*filter to ONLY include those marked 'Yes'*/
and (isnull(d.CustomField1,'')='' or d.CustomField1='yes')
/*filter to ONLY include those marked 'Blank' and 'Yes'*/
and isnull(p.CustomField1,'')<>''
/*filter to ONLY include those with a date (remove blanks)*/

drop table if exists #ScriptsSecondaryInsurance
;with cte as 
(

select st.ScriptNumber,st.RefillNumber,st.Source_Indicator,oh.PrimaryOrSecondary,
oh.AgencyCode,oh.BIN,
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator 
order by SubmitDate desc) RNK,
oh.TotalAmountPaid,oh.OtherPayorAmtPaid
from 
(select * from #Libertymedicinedetails ) st--2092 
join rxqOnlineHistory OH
 with(nolock) on  
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and   
st.Source_Indicator=oh.Source_Indicator and   
cast(datedispensed as date) <= cast(SubmitDate as date)
left join rxqAgency a 
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator
WHERE  OH.PrimaryOrSecondary='s' 
)
select * into #ScriptsSecondaryInsurance from cte where RNK=1
and TransactionResponse='P' /*only paid to be considered*/
and  AgencyDescription like '%oh%med%Gainwell'


drop table if exists #ScriptsPrimaryInsurance
;with cte as 
(
select
 st.ScriptNumber,st.RefillNumber,st.Source_Indicator,
 oh.PrimaryOrSecondary,oh.AgencyCode,oh.BIN,
oh.TransactionResponse,a.AgencyDescription,cast(SubmitDate as date) SubmitDate,
oh.TotalAmountPaid,oh.OtherPayorAmtPaid,
ROW_NUMBER() over(partition by st.ScriptNumber,st.RefillNumber,st.Source_Indicator 
order by SubmitDate desc) RNK
from 
(select * from #Libertymedicinedetails ) st--2480 
join rxqOnlineHistory OH with(nolock) on  
st.scriptnumber=oh.scriptnumber and st.RefillNumber=oh.refillnumber and   
st.Source_Indicator=oh.Source_Indicator and   
cast(datedispensed as date) <= cast(SubmitDate as date)
left join rxqAgency a 
on a.AgencyCode=oh.AgencyCode and a.Source_Indicator=oh.Source_Indicator
WHERE  OH.PrimaryOrSecondary='P' 
)
select * into #ScriptsPrimaryInsurance from cte 
where RNK=1 
and TransactionResponse='P'
/*all primary insurance  of paid status to be considered*/


truncate table DailyOHMedGainwellClaims

insert into DailyOHMedGainwellClaims
(
source_indicator
,DateDispensed
,ScriptNumber
,RefillNumber
,CustomerFirstName
,CustomerLastName
,CustomerIs340B
,PPProvider
,PrescriberFirstName
,PrescriberLastName
,VisitDate
,Drugname
,NdcNumber
,QuantityDispensed
,Cost
,Fee
,RequestedACQ
,SecInsuranceName
,PrmInsuranceName
,SecMarker
,PrmMarker
,PrmAmountPaid
,SecAmountPaid
,Profit
)

select 
st.source_indicator ,
convert(varchar(10),st.DateDispensed,101) DateDispensed
,st.ScriptNumber,st.RefillNumber
,CustomerFirstName
,CustomerLastName
,CustomerIs340B
,PPProvider
,PrescriberFirstName
,PrescriberLastName
,VisitDate
,Drugname
,NdcNumber
,QuantityDispensed , Cost,Fee,RequestedACQ ,
Upper(s.AgencyDescription) SecInsuranceName,
Upper(p.AgencyDescription) PrmInsuranceName,
s.PrimaryOrSecondary SecMarker ,
p.PrimaryOrSecondary PrmMarker,
isnull(cast(p.TotalAmountPaid as float),0) PrmAmountPaid,
isnull(cast(s.TotalAmountPaid as float),0) SecAmountPaid ,
Profit
from 
(select * from #Libertymedicinedetails ) st 
join 
(
select distinct scriptnumber,RefillNumber from #ScriptsPrimaryInsurance
union 
select distinct scriptnumber,RefillNumber from #ScriptsSecondaryInsurance
)res on res.ScriptNumber=st.ScriptNumber and res.RefillNumber=st.RefillNumber
left join #ScriptsPrimaryInsurance p on 
st.scriptnumber=p.scriptnumber and st.RefillNumber=p.refillnumber and   
st.Source_Indicator=p.Source_Indicator 
left join #ScriptsSecondaryInsurance s on 
st.scriptnumber=s.scriptnumber and st.RefillNumber=s.refillnumber and   
st.Source_Indicator=s.Source_Indicator
where 
(p.AgencyDescription like '%oh%med%Gainwell' 
or s.AgencyDescription like '%oh%med%Gainwell')


end
GO
