USE [PP_ODS]
GO
/****** Object:  Table [dbo].[rxqIcd10]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqIcd10](
	[Icd10Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[IsValid] [bit] NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
