USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientViewRefresh_ETL]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PatientViewRefresh_ETL]  
as   
begin  
drop table if exists #AllpatientsInfo  
  
select GlobalId,SocialSecurityNumber as SSN  
,FirstName +' '+LastName as PatientName,DateOfBirth,  
street,city ,state,zip ,Phone ,q.QueueName,p.PatientId,p.CustomField3  
into #AllpatientsInfo  
from .rxqPatient p with(nolock)  
left join rxqQueue q  with(nolock)  
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator  
  
--select * from #AllpatientsInfo where globalid=''  
  
--select distinct SSN   
--from #AllpatientsInfo   
--where SSN<>'' and SSN not in (  
--'0000000  '  
--,'00000000 '  
--,'000000000')  
--order by SSN  
  
update a set a.QueueName=r.QueueName  
--select a.*   
from   
#AllpatientsInfo a  
join   
(  
select distinct globalid,QueueName from #AllpatientsInfo  
where QueueName like '%plus%pack%' and globalid<>''  
) r on r.globalid=a.globalid and a.globalid<>''  
where (a.QueueName is null  or   
a.QueueName not like '%plus%pack%')  
  
  
update a set a.QueueName=r.QueueName  
--select a.*  --distinct a.patientname   
from   
#AllpatientsInfo a  
join   
(  
select distinct SSN,QueueName,DateOfBirth from #AllpatientsInfo  
where QueueName like '%plus%pack%' and globalid='' and SSN<>''  
) r on r.SSN=a.SSN and r.DateOfBirth=a.DateOfBirth    
and r.SSN<>'' and r.SSN not in (  
'0000000  '  
,'00000000 '  
,'000000000')  
where (a.QueueName is null  or   
a.QueueName not like '%plus%pack%') and  a.globalid=''  
--order by SSN,patientname  
  
update a set a.QueueName=r.QueueName  
--select a.*  --distinct a.patientname   
from   
#AllpatientsInfo a  
join   
(  
select distinct PatientName,QueueName,DateOfBirth from #AllpatientsInfo  
where QueueName like '%plus%pack%' and globalid='' and SSN=''  
) r on r.PatientName=a.PatientName and r.DateOfBirth=a.DateOfBirth    
where (a.QueueName is null  or   
a.QueueName not like '%plus%pack%') and  a.globalid='' and a.SSN=''  
  
  
update a set a.QueueName='pluspack'  
---select distinct a.GlobalId  
--select a.*,p.*  --distinct a.patientname     
from     
#AllpatientsInfo a  
join   
(  
select distinct GlobalId,SSN,DateOfBirth,PatientName  
from  
#AllpatientsInfo  with(nolock)   
where  QueueName like '%plus%pack%'  
)p  
on  
(        
--(p.GlobalId=a.GlobalId and p.GlobalId <>'' and a.GlobalId<>'')  
--  or        
  (   
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''        
and  a.SSN<>''        
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth        
  )        
or        
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )        
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName        
  )        
)        
where (a.QueueName is null  or     
a.QueueName not like '%plus%pack%')  
  
  
---select * from #AllpatientsInfo where PatientName='ANNA STEPP'  
  
--select * from #duplicateSSN--123456789  
  
--select * ---into #duplicateSSN  
--from #AllpatientsInfo where SSN in   
--(  
--select SSN from #AllpatientsInfo  
--where SSN<>'' and SSN not in (  
--'0000000  '  
--,'00000000 '  
--,'000000000')  
--and QueueName like '%plus%pack%'  
--group by SSN   
--having count(distinct case when GlobalId='' then null else GlobalId end )> 1  
--)  
--and QueueName like '%plus%pack%'  
--order by SSN,GlobalId,PatientName  
  
--select * from #AllpatientsInfo where ssn='123456789'  
  
--;With CTE as   
--(  
--select   
--GlobalId, SSN,PatientName,DateOfBirth,  
--street,city ,state,zip ,Phone ,QueueName,  
-- cast('No' as varchar(3)) as MediAssist,  
--ROW_NUMBER() over(partition by   
--case when GlobalId='' then SSN else globalid end,  
--case when GlobalId='' and SSN='' then PatientName else '' end   
--order by SSN desc ,street desc )RNK  
--from   
--#AllpatientsInfo a  
--where QueueName  like '%plus%pack%'  
--)  
----select * from cte where RNK =1  
--select * into  #compliancePatients   
--from cte where RNK =1  
  
drop table if exists #compliancePatients  
  
;With CTE as   
(  
  
select   
GlobalId, SSN,PatientName,DateOfBirth,  
street,city ,state,zip ,Phone ,QueueName,  
 cast('No' as varchar(3)) as MediAssist,  
 case when Globalid <> '' then  Globalid  
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')    
when  Globalid = ''  and ssn=''   
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end  as PatientIdentifier  
,ROW_NUMBER() over(partition by   
case when Globalid <> '' then  Globalid  
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')    
when  Globalid = ''  and ssn=''   
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end  
--order by rtrim(ltrim(SSN)) desc ,street desc )RNK  
order by isnull(try_cast(rtrim(ltrim(SSN)) as int),rtrim(ltrim(SSN))) desc ,street desc )RNK  
from   
#AllpatientsInfo a  
where QueueName  like '%plus%pack%'  
)  
---select *   
select * into  #compliancePatients   
from cte where RNK =1  
---and PatientName='ANNA STEPP'  
  
--select rtrim(ltrim(SSN)),  
--ROW_NUMBER() over(partition by   
--case when Globalid <> '' then  Globalid  
--when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')    
--when  Globalid = ''  and ssn=''   
--then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end  
--order by isnull(try_cast(rtrim(ltrim(SSN)) as int),rtrim(ltrim(SSN))) desc ,street desc )RNK,  
--* from   
--#AllpatientsInfo  
--where PatientName='MICHAEL WALLINGFORD' and DateOfBirth='1971-06-09'  
  
---select * from #compliancePatients where  PatientName='ANNA STEPP'  
  
;with rec as   
(  
select * ,ROW_NUMBER()   
over(partition by ssn,DateOfBirth order by globalid desc,ssn desc )   
Rnk2   
from   
#compliancePatients   
)  
  
delete  
--select *   
from rec where Rnk2 > 1   
  
;with rec1 as   
(  
select * ,ROW_NUMBER()   
over(partition by PatientName,DateOfBirth order by globalid desc,ssn desc )   
Rnk2   
from   
#compliancePatients   
)  
  
  
delete  
---select *   
from rec1 where Rnk2 > 1   
  
  
--delete c   
----select c.*   
--from #compliancePatients c   
--join   
--(  
--select ssn,DateOfBirth  
----,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,  
----sum(case when GlobalId='' then 1 else 0 end ) NGLID  
--from #compliancePatients  
--where ssn<>''  
--group by  ssn,DateOfBirth  
--having count(1)> 1 and sum(case when GlobalId<>'' then 1 else 0 end )=1  
--and sum(case when GlobalId='' then 1 else 0 end )=1  
--) res on res.ssn=c.SSN and res.DateOfBirth=c.DateOfBirth  
--where c.GlobalId=''  
----order by c.SSN,c.DateOfBirth,c.GlobalId  
  
  
--delete c   
----select c.*   
--from #compliancePatients c   
--join   
--(  
--select PatientName,DateOfBirth  
--,sum(case when GlobalId<>'' then 1 else 0 end ) GLID,  
--sum(case when GlobalId='' then 1 else 0 end ) NGLID  
--from #compliancePatients  
----where ssn=''   
--group by  PatientName,DateOfBirth  
--having count(1)> 1 and sum(case when GlobalId<>'' then 1 else 0 end )=1  
--and sum(case when GlobalId='' then 1 else 0 end )=1  
--) res on res.PatientName=c.PatientName and res.DateOfBirth=c.DateOfBirth  
--where c.GlobalId=''  
----order by c.SSN,c.DateOfBirth,c.GlobalId  
  
update P set MediAssist='Yes'  
--select p.*  
from #compliancePatients p  
join (select distinct GlobalId    
from pp_ods..rxqPatient with(nolock)  
where CustomField3 like '%MED%ASSIST%'  
and GlobalId<>''  
) a on p.GlobalId=a.GlobalId  
where p.GlobalId<>'' and MediAssist='NO'  
  
update p set MediAssist='Yes'  
--select p.*   
from #compliancePatients p  
join (select distinct SocialSecurityNumber,DateOfBirth   
from pp_ods..rxqPatient with(nolock)  
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber<>'' /*SSN Not blank*/  
and GlobalId=''  
--order by  SocialSecurityNumber   
) a on p.ssn=a.SocialSecurityNumber  
and p.DateOfBirth=a.DateOfBirth  
where p.GlobalId='' and  MediAssist='NO'  
  
update p set MediAssist='Yes'  
--select p.*   
from #compliancePatients p  
join (select distinct FirstName +' '+LastName as PatientName,DateOfBirth   
from pp_ods..rxqPatient with(nolock)  
where CustomField3 like '%MED%ASSIST%' and SocialSecurityNumber=''   
and GlobalId=''  
--order by  SocialSecurityNumber   
) a on p.PatientName=a.PatientName  
and p.DateOfBirth=a.DateOfBirth  
where p.GlobalId='' and  MediAssist='NO'  
  
  
--select p.*   
--from #compliancePatients p  
--where p.GlobalId=''   
  
--select  GlobalId,ssn,DateOfBirth  
--from #compliancePatients p  
--where p.GlobalId='' and ssn=''  
  
update p set p.MediAssist=c.MediAssist   
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()  
--select p.*   
from   
#compliancePatients c   
join MediTrackerDB..[PatientView] p on c.GlobalId=p.GlobalId and c.GlobalId<>''  
where  p.MediAssist <> c.MediAssist   
  
  
delete from   
#compliancePatients where GlobalId in (  
select [GlobalId] from MediTrackerDB..[PatientView] p  
where [GlobalId]<>''   
)  
  
update p set p.GlobalId=c.GlobalId   
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()  
,p.PatientIdentifier =c.GlobalId   
--select p.* ,c.globalid  
from   
#compliancePatients c   
join MediTrackerDB..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN  
where p.GlobalId='' and p.ssn<>'' and c.GlobalId<>''   
  
--select * from #compliancePatients where PatientName=  
--'ANNA STEPP'  
--select * from PatientView where PatientName=  
--'ANNA STEPP'  
  
update p set p.GlobalId=c.GlobalId , p.ssn=c.SSN  
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),  
p.PatientIdentifier=  
case when c.Globalid <> '' then  c.Globalid  
when  c.Globalid = ''  and c.ssn<>'' then c.SSN+replace(cast(c.DateOfBirth  as varchar(15)),'-','')    
when  c.Globalid = ''  and c.ssn=''   
then c.PatientName+replace(cast(c.DateOfBirth  as varchar(15)),'-','') end  
--select p.* ,c.globalid,c.ssn  
from   
#compliancePatients c   
join MediTrackerDB..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName  
where p.GlobalId='' and p.ssn='' and ( c.GlobalId<>'' or c.ssn<>'')  
  
  
update p set p.GlobalId=c.GlobalId   
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),  
p.PatientIdentifier= c.GlobalId  
--select p.* ,c.globalid,c.ssn  
from   
#compliancePatients c   
join MediTrackerDB..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName  
where p.GlobalId='' and p.ssn<>'' and ( c.GlobalId<>'' and c.ssn='')  
  
delete c from   
--select * from   
#compliancePatients c   
join MediTrackerDB..[PatientView] p on c.GlobalId=p.GlobalId and p.GlobalId <>''  
  
delete c from   
#compliancePatients c   
join MediTrackerDB..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN  
---and p.GlobalId='' and p.ssn<>''  
  
delete c from   
#compliancePatients c   
join MediTrackerDB..[PatientView] p on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName  
---and p.GlobalId='' and p.ssn=''   
  
delete c from   
#compliancePatients c where DateOfBirth is null  
  
Insert into MediTrackerDB..[PatientView]  
(  
    [GlobalId] ,  
 SSN ,  
 [PatientName],  
 [DateOfBirth] ,  
 [street] ,  
 [city] ,  
 [state] ,  
 [zip] ,  
 [Phone] ,  
 MediAssist ,  
 ActiveStatus ,  
 Queuename ,  
 RecordCreatedBy ,  
 RecordCreatedDate  ,  
 RecordModifiedBy ,  
 RecordModifiedDate,  
 PatientIdentifier,IsManualPull)  
  
select   
    [GlobalId] ,  
 SSN ,  
 [PatientName],  
 [DateOfBirth] ,  
 [street] ,  
 [city] ,  
 [state] ,  
 [zip] ,  
 [Phone] ,  
 MediAssist ,  
 'Active'ActiveStatus ,  
 Queuename ,  
 'SS_ETL_Job' CreatedBy ,  
 getdate() CreatedDate  ,  
 'SS_ETL_Job' ModifiedBy ,  
 getdate() ModifiedDate ,  
 PatientIdentifier, 0 as IsManualPull  
from #compliancePatients c   
order by [GlobalId] desc , ssn desc   
  
  
end  
  
GO
