USE [PP_ODS]
GO
/****** Object:  Table [dbo].[TimeSlotsReviewDetails_ProdBackup]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlotsReviewDetails_ProdBackup](
	[TSID] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [date] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
