USE [PP_ODS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProdAndProfit_Enhanced]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ProdAndProfit_Enhanced]
AS 
BEGIN

				IF OBJECT_ID(N'dbo.PP_rxqScriptTransaction_new', N'U') IS NOT NULL   
					Drop table PP_rxqScriptTransaction_new
				IF OBJECT_ID(N'dbo.PP_rxqDrug_new', N'U') IS NOT NULL   
				   Drop table PP_rxqDrug_new
				IF OBJECT_ID(N'dbo.PP_rxqScriptBase_new', N'U') IS NOT NULL   
				   Drop table PP_rxqScriptBase_new
				IF OBJECT_ID(N'dbo.PP_Pharmacy_new', N'U') IS NOT NULL   
				   Drop table PP_Pharmacy_new


SELECT ScriptNumber, Source_indicator, DrugId, DateDispensedSQL, RefillNumber,Copay,Cost, Fee,
RequestedACQ, RequestedAWP, LastModified, 
FORMAT([LastModified],'MM') as [Month], FORMAT([LastModified],'yyyy') as [Year],
CAST(ScriptNumber as nvarchar(max))+'_'+Source_indicator as ScriptNumber_SI,
FORMAT([DateDispensedSQL],'MM MMM')AS DD_Month,
Year([DateDispensedSQL])as DD_Year, DrugId+'_'+Source_indicator as DrugId_SI,
Format([DateDispensedSQL], 'yyyy'+'MM')+'_'+Source_Indicator as YM_SI, Total
into PP_rxqScriptTransaction_new FROM rxqScriptTransaction
where DateDispensedSQL >= DATEFROMPARTS(YEAR(GETDATE()) - 2, 1, 1) and DateDispensedSQL<>'9999-09-09'
--drop table PP_rxqScriptTransaction_new
--select * from rxqScriptTransaction
----select * from PP_rxqScriptTransaction_new

SELECT Is340B, DrugId, DrugId+'_'+source_indicator as DrugId_SI 
into PP_rxqDrug_new from rxqDrug

--select * from rxqDrug
--select * from SP_PP_rxqDrug

SELECT PatientId, PatientId+'_'+Source_Indicator as PatientId_SI, ScriptNumber, Source_Indicator, 
Cast(ScriptNumber as nvarchar(max))+'_'+Source_Indicator as ScriptNumber_SI  
into PP_rxqScriptBase_new from rxqScriptBase

--select * from SP_PP_rxqScriptBase

SELECT Number_of_Days_Open, [Year], [Month], CAST([Year] as nvarchar(10))+cast([Month]as nvarchar(10))+'_'+Pharmacy_Location as D_SI 
into PP_Pharmacy_new from Pharmacy

--select * from SP_PP_Pharmacy
--select avg(Number_of_Days_Open ) from Pharmacy where year=2021

End
---EXEC SP_ProdAndProfit_3years
GO
