USE [PP_ODS]
GO
/****** Object:  Table [dbo].[DuplicatePharmacyPatientinfo_test]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuplicatePharmacyPatientinfo_test](
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](100) NULL,
	[PatientName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[DisplayName] [varchar](200) NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleInitial] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[QueueName] [varchar](50) NULL,
	[PatientId] [varchar](50) NOT NULL,
	[CustomField3] [varchar](50) NULL,
	[isPPMarked] [int] NOT NULL,
	[Source_Indicator] [varchar](10) NOT NULL,
	[LastModified] [datetime] NULL,
	[Record_Updated_date] [datetime] NOT NULL,
	[InActive] [bit] NULL,
	[SSN_DOB] [varchar](8000) NULL,
	[Name_DOB] [varchar](8000) NULL,
	[PatientIdentifier] [varchar](200) NULL
) ON [PRIMARY]
GO
