USE [PP_ODS]
GO
/****** Object:  Table [dbo].[DispensedMedsDailyReport]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispensedMedsDailyReport](
	[DateDispensed] [varchar](10) NULL,
	[ScriptNumber] [varchar](100) NULL,
	[RefillNumber] [varchar](10) NULL,
	[CustomerFirstName] [varchar](200) NULL,
	[CustomerLastName] [varchar](200) NULL,
	[Pharmacy] [varchar](10) NULL,
	[CustomerDateOfBirth] [varchar](10) NULL,
	[VisitDate] [varchar](50) NULL,
	[PrescriberFirstName] [varchar](200) NULL,
	[PrescriberLastName] [varchar](200) NULL,
	[PPProvider] [varchar](50) NULL,
	[DateWritten] [varchar](10) NULL,
	[Drugname] [varchar](250) NULL,
	[NdcNumber] [varchar](50) NULL,
	[LoggedInUser] [varchar](50) NULL,
	[Is340B] [varchar](5) NULL,
	[QuantityDispensed] [varchar](50) NULL,
	[PrimaryInsuranceName] [varchar](100) NULL,
	[PrimaryInsuranceBIN] [varchar](50) NULL,
	[SecondaryInsuranceName] [varchar](100) NULL,
	[WorkFlowStatus] [varchar](50) NULL,
	[PosPickupDateTime] [varchar](10) NULL,
	[PickUpStatus] [varchar](20) NULL,
	[Notes] [varchar](max) NULL,
	[PatientId] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
