USE [PP_ODS]
GO
/****** Object:  Table [MATBackup].[PatientNotesHistory]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MATBackup].[PatientNotesHistory](
	[PNHID] [int] NULL,
	[PID] [int] NULL,
	[Notes] [varchar](2000) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[HistoryRecordCreatedBy] [varchar](50) NULL,
	[HistoryRecordCreatedDate] [datetime] NULL,
	[IsPinned] [int] NOT NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [MATBackup].[PatientNotesHistory] ADD  DEFAULT (getdate()) FOR [InsertedDateTime]
GO
