USE [PP_ODS]
GO
/****** Object:  Table [MATBackup].[PatientMedicationList]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MATBackup].[PatientMedicationList](
	[PMID] [int] NULL,
	[Globalid] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](100) NULL,
	[Drug_name] [varchar](200) NULL,
	[sigs] [varchar](2000) NULL,
	[QuantityDispensed] [decimal](9, 3) NULL,
	[Pharmacy] [varchar](100) NULL,
	[DateDispensedSQL] [date] NULL,
	[Sb_LastModified] [date] NULL,
	[ScriptNumber] [int] NULL,
	[cScriptTransactionId] [numeric](18, 0) NULL,
	[OnHold] [varchar](10) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](100) NULL,
	[DMLType] [varchar](10) NULL,
	[Source] [varchar](20) NULL,
	[IsAdded] [varchar](10) NULL,
	[PID] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Reviewed] [varchar](10) NOT NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [datetime] NULL,
	[PMRemarks] [varchar](100) NULL,
	[DateWritten] [date] NULL,
	[Prescriber] [varchar](200) NULL,
	[NdcNumber] [varchar](50) NULL,
	[RefillNumber] [int] NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [MATBackup].[PatientMedicationList] ADD  DEFAULT (getdate()) FOR [InsertedDateTime]
GO
