USE [PP_ODS]
GO
/****** Object:  Table [MATBackup].[ColorStatus]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MATBackup].[ColorStatus](
	[Id] [int] NULL,
	[Color] [varchar](20) NULL,
	[Status] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [MATBackup].[ColorStatus] ADD  DEFAULT (getdate()) FOR [InsertedDateTime]
GO
