USE [PP_ODS]
GO
/****** Object:  Table [MATBackup].[UserDetails]    Script Date: 7/27/2026 6:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MATBackup].[UserDetails](
	[ID] [int] NULL,
	[Name] [varchar](200) NULL,
	[EmailID] [varchar](200) NOT NULL,
	[PasswordHash] [binary](64) NOT NULL,
	[IsActive] [int] NULL,
	[Role] [varchar](50) NULL,
	[RoleDesc] [varchar](50) NULL,
	[Is_SSUser] [bit] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](100) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[DMLType] [varchar](20) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [MATBackup].[UserDetails] ADD  DEFAULT (getdate()) FOR [InsertedDateTime]
GO
