USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  View [dbo].[vw_PatientSnapshotInfo]    Script Date: 7/27/2026 3:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_PatientSnapshotInfo]                                    
as                                     
select v.GlobalId as PatientId,v.*,c.Color Workflowcolor,                     
case when                     
DATEDIFF(DAY, CAST(GETDATE() AS DATE), v.MedAssistExpiryDate) is null then 'N/A'                  
when                  
DATEDIFF(DAY, CAST(GETDATE() AS DATE), v.MedAssistExpiryDate)-1 < 0                     
then '0'                     
else                     
cast(DATEDIFF(DAY, CAST(GETDATE() AS DATE), v.MedAssistExpiryDate)-1 as varchar) end                    
AS DaysUntilExpiry,                    
m.ProviderName,                                  
m.NextAppointmentDate   ,p.Pharmacies  ,m.AthenaPrimaryPhone,  
isnull(m.AthenaPrimaryPhone ,coalesce(  
case when Phone='' then null else  Phone end,  
phone2))  PrimaryPhone  
, vt.VisitDate     
--select v.*    
from Patient v with(nolock)               
left join ColorStatus c on c.Status=v.WFStatus              
left join                                     
SnapshotAdditionalFields M with(nolock) on                                     
(                                                       
   (v.PID=m.pid  )               
  or              
  (v.PatientIdentifier=m.PATIENTID  )                                          
  or                                     
  (v.PatientIdentifier = m.Name_DOB)                                    
  or                                     
  (v.PatientIdentifier=m.SSN_DOB)                                    
)              
left join RXQPatientPharmacies p with(nolock) on p.PatientIdentifier=v.PatientIdentifier     
left join RXQVisitDates Vt with(nolock) on vt.PatientIdentifier=v.PatientIdentifier 
GO
