USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[SP_Patientmedication_ETL]    Script Date: 8/4/2026 5:01:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[SP_Patientmedication_ETL]                                    
as                                     
begin                                     
                                    
drop table if exists #Libertymedicinedetails_Total                                              
                                              
select                                              
DG.Name as Drug_name                                              
,P.patientid                                              
,(p.FirstName+' '+p.LastName) as Patientname_Liberty                                              
,p.DateOfBirth as DOB_Liberty                                              
---,p.Gender as Gender_Liberty                                       
,p.SocialSecurityNumber as SSN                                       
----, P.MedicareBeneficiaryId                                      
,P.globalid                                             
--,D.DoctorId as ProvideID                                              
---,(D.FirstName+' '+D.LastName) Providername                                              
,D.source_indicator as source_indicator                                              
--,MD.NDC_UPC_HRI as NDC_Number                                              
--,MD.GenericProductIdentifier as GenericProductIdentifier                                              
--,Md.GPIGenericName                                              
---,DG.NdcNumber                                              
--,DrugKey                                              
,cast (st.DateDispensedSQL as date)  DateDispensedSQL                                              
--,sb.RefillsAuthorized                                              
----,sb.FullDispenseQuantity                                              
,st.QuantityDispensed                                              
---,st.DaysSupply                                              
---,d.NPI                                              
---,st.RefillNumber                                              
----,sb.AuthorizedQuantity,sb.AvailableQuantity                                              
----,sb.RefillUntilDate,st.NextDispensedQuantity                                              
----,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B                                        
,st.ScriptNumber,sb.cScriptBaseId ,p.cQueueId,q.QueueName,                                      
ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId  ,                                      
---st.TimeStampAsOfDate,                                      
  st.LastModified st_LastModified,st.sigs,                                      
  ---st.IsValid,st.PromiseDateTime,                                      
  q.QueueName as st_queuename,                                      
  ---sb.LastRefillNumber,                                      
  ----sb.DateWrittenSQL,                                      
  sb.OnHold,sb.LastModified Sb_LastModified,st.cScriptTransactionId,                                      
  case when  OnHold='y' then cast(sb.LastModified as date)                                      
else cast(DateDispensedSQL as date) end as Deriveddatedispensedsql  ,                        
sb.datewrittensql                         
INTO #Libertymedicinedetails_Total                                              
From PP_ODS..rxqDoctor as D (nolock)                                              
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                              
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                              
--inner join #AllpatientsInfo PAI on  P.PatientId=PAI.PatientId and P.Source_Indicator=PAI.Source_Indicator                         
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                                
and SB.Source_Indicator=ST.Source_Indicator 
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=st.DrugId and DG.source_indicator=st.Source_Indicator                                                                                            
left join PP_ODS..rxqQueue q     (nolock)                                  
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator                                      
where                                               
 sb.LastModified >=cast(DATEADD(week, -1, GETDATE())  as date)                                    
 and OnHold='n'                    
                                     
 /*Releasing Hold */                                    
 update p set p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                                    
 p.DateDispensedSQL=t.DateDispensedSQL ,p.Sb_LastModified=t.Sb_LastModified,                                 
 p.OnHold='N'  ,p.QuantityDispensed=t.QuantityDispensed,p.PMRemarks='HoldRelease' ,                        
 p.DateWritten=t.DateWrittenSQL                        
 --select p.* ,    t.DateWrittenSQL                                
 from PatientMedicationList p                                     
 join                                     
 #Libertymedicinedetails_Total  t on t.ScriptNumber=p.ScriptNumber and t.cScriptTransactionId                                    
 =p.cScriptTransactionId                                    
where p.OnHold='Y' and t.OnHold='n'                                    
                                    
    
                                                             
end 
GO
