USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  View [dbo].[Vw_rxqPatient]    Script Date: 7/27/2026 3:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[Vw_rxqPatient]                    
as                    
                    
select           
 a.GlobalId          
,a.SSN          
,a.PatientName          
,a.DateOfBirth          
--,FORMAT(CONVERT(DATE, a.DateOfBirth), 'MM/dd/yyyy') DateOfBirth          
,a.street          
,a.city          
,a.state          
,a.zip          
,a.Phone   ,a.Phone2                
,a.RecordCreatedBy          
,a.RecordCreatedDate                  
,a.PatientIdentifier          
,a.DisplayName          
from                   
RXQPatients a with(nolock)                
left join                 
[Patient] p  with(nolock)              
on                
(                      
(p.GlobalId=a.GlobalId and p.GlobalId <>'' and a.GlobalId<>'')                
  or                      
  (                 
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''                      
and  a.SSN<>''                      
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth                      
  )                      
or                      
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )                      
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName                      
  )                      
)                  
where p.PID is null 
GO
