USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 7/27/2026 3:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DisplayName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Street] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Phone2] [varchar](50) NULL,
	[MedAssistExpiryDate] [varchar](10) NULL,
	[Remarks] [varchar](200) NULL,
	[ActiveStatus] [varchar](10) NULL,
	[WFStatus] [varchar](30) NULL,
	[Notes] [varchar](2000) NULL,
	[CCIQ] [varchar](10) NULL,
	[IsManualPull] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[Prev_DisplayName] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](50) NULL,
	[RecordModifiedDate] [datetime] NULL,
 CONSTRAINT [UQ_Patient_PatientIdentifier] UNIQUE NONCLUSTERED 
(
	[PatientIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT ('Active') FOR [ActiveStatus]
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [DF_Patient_CCIQ]  DEFAULT ('NO') FOR [CCIQ]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT ((0)) FOR [IsManualPull]
GO
