USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  View [dbo].[vw_calenderinfo]    Script Date: 7/27/2026 3:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_calenderinfo]                        
as                         
select v.DisplayName,v.PatientIdentifier,                
v.MedAssistExpiryDate,v.ActiveStatus,                        
 v.DateOfBirth,                       
m.Color Workflowcolor ,m.Status          
, 'blue'  Barcolor  ,v.CCIQ, v.PID       
--select *                         
from Patient v with(nolock)                        
left join                         
ColorStatus m  with(nolock) on m.Status=v.WFStatus
GO
