USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetPatientReviewDetails]    Script Date: 7/27/2026 3:38:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetPatientReviewDetails]                
    @PID VARCHAR(50)                
AS                
BEGIN                
    SET NOCOUNT ON;                
              
 declare @TotalCount int , @ReviewedCount int               
select @TotalCount =count(1)  ,               
@ReviewedCount=sum(case when Reviewed='Yes' then 1 else 0 end)                
from               
patientmedicationlist WITH (NOLOCK)              
where PID= @PID                         
group by PID              
              
            
      
 SELECT  top 1 PID, ReviewedBy, ReviewedDate ,@TotalCount TotalCount,              
 @ReviewedCount  ReviewedCount              
 FROM                
    (         
 SELECT   PID, ReviewedBy, ReviewedDate       
 FROM PatientMedReviewDetails WITH (NOLOCK)                
 WHERE PID = @PID      
       
 )   abc      
 order by ReviewedDate desc       
       
      
END; 
GO
