USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[SP_RXQVisitDates_ETL]    Script Date: 7/27/2026 3:38:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_RXQVisitDates_ETL]    
as     
begin    
    
drop table if exists #AllpatientsInfo                                                          
                                                          
select *,SSN+replace(DateOfBirth,'-','') SSN_DOB ,                                                  
PatientName+replace(DateOfBirth,'-','') Name_DOB                                                  
into #AllpatientsInfo                                                  
from                                                   
(                                                  
select GlobalId,                                                  
replace(                                                  
case when SocialSecurityNumber like '%000000%' then '' else SocialSecurityNumber end                                                  
,'         ','')                                                  
as SSN                                                          
,FirstName +' '+LastName as PatientName,DateOfBirth,                                              
--LastName+' '+ FirstName as DisplayName ,                                           
case when MiddleInitial<>'' then                                          
Lastname+','+FirstName+' '+ MiddleInitial                                           
else LastName+','+FirstName end as DisplayName,                                          
LastName,FirstName,MiddleInitial,    MiddleInitial as Max_MiddleInitial ,                                     
street,city ,state,zip ,Phone ,q.QueueName,p.PatientId,p.CustomField3,                                    
p.CustomField1,p.Source_Indicator                                              
,p.LastModified,p.Record_Updated_date  ,p.InActive      
from                                     
pp_ods..rxqPatient p with(nolock)                                         
left join pp_ods..rxqQueue q  with(nolock)                                                          
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator                                    
left join pp_ods..rxqPatient_DLT del with(nolock) on del.PatientId=p.PatientId                                    
and del.Source_Indicator=p.Source_Indicator                                    
where del.patientid is null                                     
)abc             
  
update #AllpatientsInfo set SSN='' where SSN='999999999'  
                           
drop table if exists #Distinctdetails                                                  
                                                   
select PatientName,DateOfBirth,max(GlobalId) GlobalId,max(ssn) ssn                                                  
into #Distinctdetails                                                  
from                                                   
(select distinct GlobalId,ssn,PatientName,DateOfBirth                                                  
from #AllpatientsInfo                                                   
)p                                                  
group by PatientName,DateOfBirth                                                  
                                                  
                                                                              
update p set p.GlobalId=d.GlobalId , p.ssn=d.ssn                                                  
--select d.GlobalId,d.ssn,p.*                                                  
from #AllpatientsInfo p                                                   
join                                                  
#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth                                                  
where  (p.GlobalId='' or p.ssn='')                                                  
and (d.GlobalId<>'' or d.ssn<>'')                                                  
                                                  
update p set p.GlobalId=r.GlobalId                                              
--select  r.* ,P.*                                    
from                                                   
(          
select  ssn,DateOfBirth ,max(GlobalId)   GlobalId                                              
from #AllpatientsInfo                                                 
where ssn<>'' and DateOfBirth is not null                                               
group by ssn,DateOfBirth                                              
having max(GlobalId) <>''                                              
)r                                            
join                                               
#AllpatientsInfo p on p.SSN=r.SSN and p.DateOfBirth=r.DateOfBirth                                              
where p.GlobalId=''                                               
                                                     
                               
update p set Max_MiddleInitial=res.MiddleInitial                                          
--select res.MiddleInitial,p.MiddleInitial,p.*                                     
from #AllpatientsInfo p                                           
join                                           
(                                          
select PatientName,DateOfBirth ,max(MiddleInitial) as MiddleInitial                                          
from #AllpatientsInfo                                          
where DateOfBirth is not null                                           
group by PatientName,DateOfBirth                                           
having max(MiddleInitial)  <> ''                                          
) res on res.PatientName=p.PatientName and res.DateOfBirth=p.DateOfBirth                   
where replace(p.MiddleInitial,' ','')=''                                      
                                    
alter table #AllpatientsInfo                                    
add PatientIdentifier varchar(200)                                    
                                    
                                    
update #AllpatientsInfo set PatientIdentifier=                                    
case when Globalid <> '' then  Globalid                                                        
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                                                          
when  Globalid = ''  and ssn=''                                                         
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                                     
                                          
alter table #AllpatientsInfo                                    
add VisitDate varchar(10)                                                                                      
           
update #AllpatientsInfo set VisitDate = TRY_CAST(CustomField1 as date)                      
          
drop table if exists #VisitDatePatients                             
                            
;With CTE as                                                           
(                                                          
SELECT *,                      
  ROW_NUMBER() OVER (                      
    PARTITION BY PatientIdentifier                       
    ORDER BY     VisitDate desc,                  
      patientname,                      
      CASE                       
        WHEN TRY_CAST(RTRIM(LTRIM(SSN)) AS INT) IS NOT NULL                      
          THEN RIGHT('000000000' + RTRIM(CAST(CAST(SSN AS INT) AS VARCHAR)), 9) -- zero-padded                      
        ELSE RTRIM(LTRIM(SSN))                      
      END DESC,                      
      street DESC                      
  ) AS Rnk_Pt                      
FROM #AllpatientsInfo a                                                                  
)                       
                            
select c.PatientIdentifier,c.DisplayName,c.GlobalId,c.SSN,c.DateOfBirth,c.PatientName,                            
c.LastName,c.FirstName,c.MiddleInitial,c.Source_Indicator  ,c.CustomField1 ,c.VisitDate                    
into #VisitDatePatients                            
from                             
cte c                                                    
where c.Rnk_Pt=1  and isnull(c.VisitDate,'1900-01-01') <> '1900-01-01'    
    
--select * ,getdate() RecordInsertedDate into RXQVisitDates    
--from #VisitDatePatients    
    
truncate table RXQVisitDates    
    
insert into RXQVisitDates    
(    
PatientIdentifier    
,DisplayName    
,GlobalId    
,SSN    
,DateOfBirth    
,PatientName    
,LastName    
,FirstName    
,MiddleInitial    
,Source_Indicator    
,CustomField1    
,VisitDate    
)    
    
select     
PatientIdentifier    
,DisplayName    
,GlobalId    
,SSN    
,DateOfBirth    
,PatientName    
,LastName    
,FirstName    
,MiddleInitial    
,Source_Indicator    
,CustomField1    
,VisitDate    
from #VisitDatePatients    
    
    
    
    
          
end
GO
