USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[UserDetails_20260203]    Script Date: 7/27/2026 3:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails_20260203](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[EmailID] [varchar](200) NOT NULL,
	[PasswordHash] [binary](64) NOT NULL,
	[IsActive] [int] NULL,
	[Role] [varchar](50) NULL,
	[RoleDesc] [varchar](50) NULL,
	[Is_SSUser] [bit] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](100) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[DMLType] [varchar](20) NULL
) ON [PRIMARY]
GO
