USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[Sp_LoadDrugPrescriberMaster]    Script Date: 7/27/2026 3:38:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Sp_LoadDrugPrescriberMaster]    
as     
begin    
    
    
select distinct name into #DistinctDrugDetails    
from pp_ods..rxqDrug with(nolock)    
where name <>''    
order by name    
    
    
update #DistinctDrugDetails set name=replace(name,'*','')    
    
update #DistinctDrugDetails set name=replace(name,'     ','')    
    
update #DistinctDrugDetails set name=replace(name,'     ','')    
    
update #DistinctDrugDetails set name=ltrim(rtrim(name))    
    
    
truncate table DrugMaster    
    
Insert into DrugMaster(DrugName)    
    
select distinct name    
from #DistinctDrugDetails    
where ISNUMERIC(replace(name,'-',''))=0    
and len(name) >5    
order by name      
    
    
    
truncate table PrescriberMaster    
    
insert into PrescriberMaster(Prescriber)    
    
select distinct    
replace(    
(            
CASE          WHEN CHARINDEX(',', D.LastName) > 0      
THEN LEFT(D.LastName, CHARINDEX(',', D.LastName) - 1)       
ELSE D.LastName     END     
/*added on 28th feb 2025  to restricted MD,APRN etc..s in lastname John,MD  */            
+','+            
D.FirstName            
),'.','') Prescriber      
from pp_ods..rxqDoctor d with(nolock)    
order by Prescriber    
    
    
    
end
GO
