USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PatientRefresh_ETL]    Script Date: 7/27/2026 3:38:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Sp_PatientRefresh_ETL]                      
as                       
begin                      
                      
drop table if exists #AllpatientsInfo                                                            
                                                            
select *,SSN+replace(DateOfBirth,'-','') SSN_DOB ,                                                    
PatientName+replace(DateOfBirth,'-','') Name_DOB                                                    
into #AllpatientsInfo                                                    
from                                                     
(                                                    
select GlobalId,                                                    
replace(                                                    
case when SocialSecurityNumber like '%000000%' then '' else SocialSecurityNumber end                                                    
,'         ','')                                                    
as SSN                                                            
,FirstName +' '+LastName as PatientName,DateOfBirth,                                                
--LastName+' '+ FirstName as DisplayName ,                                             
case when MiddleInitial<>'' then                                            
Lastname+','+FirstName+' '+ MiddleInitial                                             
else LastName+','+FirstName end as DisplayName,                                            
LastName,FirstName,MiddleInitial,    MiddleInitial as Max_MiddleInitial ,                                       
street,city ,state,zip ,Phone ,q.QueueName,p.PatientId,p.CustomField3                       
,case when   (p.CustomField3 like  '%MED%ASSIST%'   or p.comment like  '%MED%ASSIST%'   )                      
 then  'Med Assistance' else null end  as MedAssist                       
,p.comment,                                                
case when   (p.CustomField3 like  '%MED%ASSIST%'   or p.comment like  '%MED%ASSIST%'   )                      
 then  1 else 0 end IsMedAssistMarked,                      
 case when   (p.CustomField3 like  '%MED%ASSIST%'   )                      
 then  1 else 0 end IsCustomField3Med,                      
 case when   ( p.comment like  '%MED%ASSIST%'   )                      
 then  1 else 0 end IscommentMed,                      
 case when   ( p.comment like '%[0-9]%/[0-9]%/[0-9]%'   )                      
 then  1 else 0 end IscommentHasDt                      
,p.Source_Indicator                                                
,p.LastModified,p.Record_Updated_date  ,p.InActive  ,p.PrimaryAddressId,p.PatientPhone1Id,                            
p.PatientPhone2Id                            
from                                       
pp_ods..rxqPatient p with(nolock)                                           
left join pp_ods..rxqQueue q  with(nolock)                                                            
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator                                      
left join pp_ods..rxqPatient_DLT del with(nolock) on del.PatientId=p.PatientId                                      
and del.Source_Indicator=p.Source_Indicator                                      
where del.patientid is null                                       
)abc                                                    
        
update #AllpatientsInfo set SSN='' where SSN='999999999'     
                          
update a set a.Comment=r.Comment ,  MedAssist='Med Assistance'                                                          
--select a.Comment,r.Comment,MedAssist,CustomField3,a.*                                                             
from                                                             
#AllpatientsInfo a                                                            
join                                                             
(           
select distinct globalid,Comment from #AllpatientsInfo                                                            
where  ( CustomField3 like  '%MED%ASSIST%'   or Comment like  '%MED%ASSIST%'   )                      
and globalid<>''  and Comment <> ''                                                      
) r on r.globalid=a.globalid and a.globalid<>''                                               
where (  MedAssist is null  or  MedAssist not like  '%MED%ASSIST%' )                            
                                                                                   
update a set a.Comment=r.Comment ,  MedAssist='Med Assistance'                                                            
--select r.Comment,a.Comment,a.*  --distinct a.patientname                                                             
from                   
#AllpatientsInfo a                                                            
join                                                             
(                                                     
select distinct SSN,Comment,DateOfBirth from #AllpatientsInfo                              
where MedAssist like  '%MED%ASSIST%' and globalid='' and SSN<>''                        
and Comment <> ''                      
) r on r.SSN=a.SSN and r.DateOfBirth=a.DateOfBirth                                                              
and r.SSN<>'' and r.SSN not in (                                                            
'0000000  '                                                            
,'00000000 '                                                            
,'000000000')                                                            
where (  MedAssist is null  or  MedAssist not like  '%MED%ASSIST%' )                                 
and  a.globalid=''                                                            
--order by SSN,patientname                                      
                                                    
update a set a.Comment=r.Comment ,  MedAssist='Med Assistance'                                         
--select a.Comment,r.Comment,a.*  --distinct a.patientname                                                             
from                             
#AllpatientsInfo a                                                            
join                                                             
(                                          
select distinct PatientName,Comment,DateOfBirth from #AllpatientsInfo                                                            
where MedAssist like  '%MED%ASSIST%' and globalid='' and SSN='' and Comment <> ''                                                           
) r on r.PatientName=a.PatientName and r.DateOfBirth=a.DateOfBirth                                                              
where (  MedAssist is null  or  MedAssist not like  '%MED%ASSIST%' )                                 
and  a.globalid='' and a.SSN=''                                                            
                                                               
update a set a.Comment=p.Comment ,  MedAssist='Med Assistance'                                         
---select distinct a.GlobalId                                                            
--select p.Comment,a.Comment,a.*,p.*  --distinct a.patientname                                                 
from                                                               
#AllpatientsInfo a                                                       
join                                                             
(                                                            
select distinct GlobalId,SSN,DateOfBirth,PatientName ,Comment                                                           
from                                                            
#AllpatientsInfo  with(nolock)                                                             
where  MedAssist like  '%MED%ASSIST%'  and Comment <> ''                                
)p                                                            
on                                                            
(                                                                  
--(p.GlobalId=a.GlobalId and p.GlobalId <>'' and a.GlobalId<>'')                                                            
--  or                                                                  
  (                       
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''                                                                  
and  a.SSN<>''         
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth                                                     
  )                                                                  
or             
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )                                                                  
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName                                       
  )                                                                  
)                                                                  
where (  MedAssist is null  or  MedAssist not like  '%MED%ASSIST%' )                              
                                    
                                                                
 delete a from                                                      
--select * from                      
 #AllpatientsInfo a                                                            
where (  MedAssist is null  or  MedAssist not like  '%MED%ASSIST%' )                                               
                               
                         
--select * from                             
-- #AllpatientsInfo a                      
                                                   
                                                    
drop table if exists #Distinctdetails                                                    
                                                     
select PatientName,DateOfBirth,max(GlobalId) GlobalId,max(ssn) ssn                                                    
into #Distinctdetails                                                    
from                                                     
(select distinct GlobalId,ssn,PatientName,DateOfBirth                                                    
from #AllpatientsInfo                                                     
)p                                                    
group by PatientName,DateOfBirth                                                    
                                                    
                                                                                
update p set p.GlobalId=d.GlobalId , p.ssn=d.ssn                                                    
--select d.GlobalId,d.ssn,p.*                                                    
from #AllpatientsInfo p                                                     
join                                                    
#Distinctdetails d   on d.PatientName=p.PatientName and d.DateOfBirth=p.DateOfBirth                                                    
where  (p.GlobalId='' or p.ssn='')                                                    
and (d.GlobalId<>'' or d.ssn<>'')                                                    
                                                    
update p set p.GlobalId=r.GlobalId                                                
--select  r.* ,P.*                                      
from                                                     
(                                                
select  ssn,DateOfBirth ,max(GlobalId)   GlobalId                                                
from #AllpatientsInfo                                                   
where ssn<>'' and DateOfBirth is not null                                                 
group by ssn,DateOfBirth                                                
having max(GlobalId) <>''                                           
)r                                              
join                                                 
#AllpatientsInfo p on p.SSN=r.SSN and p.DateOfBirth=r.DateOfBirth                                                
where p.GlobalId=''                                                 
                   
                                 
update p set Max_MiddleInitial=res.MiddleInitial                                            
--select res.MiddleInitial,p.MiddleInitial,p.*                                       
from #AllpatientsInfo p                                             
join                                             
(                                            
select PatientName,DateOfBirth ,max(MiddleInitial) as MiddleInitial                                            
from #AllpatientsInfo                                            
where DateOfBirth is not null                                             
group by PatientName,DateOfBirth                                             
having max(MiddleInitial)  <> ''                                            
) res on res.PatientName=p.PatientName and res.DateOfBirth=p.DateOfBirth                     
where replace(p.MiddleInitial,' ','')=''                                        
                                      
alter table #AllpatientsInfo                                      
add PatientIdentifier varchar(200)                                      
                                      
                                      
update #AllpatientsInfo set PatientIdentifier=                                      
case when Globalid <> '' then  Globalid                                                          
when  Globalid = ''  and ssn<>'' then SSN+replace(cast(DateOfBirth  as varchar(15)),'-','')                                                            
when  Globalid = ''  and ssn=''                                                           
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                                       
                                            
                                                                                     
--select * , ROW_NUMBER() over(partition by                                                           
--PatientIdentifier order by a.IsMedAssistMarked desc,patientname ,                            
--isnull(try_cast(rtrim(ltrim(SSN)) as int), rtrim(ltrim(SSN))) desc                       
--,street desc ) Rnk_Pt                                                   
--from                                                           
--#AllpatientsInfo a              
            
alter table #AllpatientsInfo                        
add CommentDate varchar(20) , ExpiryDate date             
            
--Format : m/d/yy                         
                        
update c set CommentDate=SUBSTRING(Comment, PATINDEX('%[^0-9][0-9]/[0-9]/[0-9][0-9][^0-9]%',                        
' '+Comment+' '), 6)                        
--   SELECT CustomField3,Comment,                        
--SUBSTRING(Comment, PATINDEX('%[^0-9][0-9]/[0-9]/[0-9][0-9][^0-9]%',                        
--' '+Comment+' '), 6) CommentDate,*                        
FROM #AllpatientsInfo c                        
where comment like '%/%/%' and PATINDEX('%[^0-9][0-9]/[0-9]/[0-9][0-9][^0-9]%',                        
' '+Comment+' ') > 0                        
                        
--Format :m/dd/yy                        
update c set CommentDate=SUBSTRING(Comment, PATINDEX('%[^0-9][0-9]/[0-9][0-9]/[0-9][0-9][^0-9]%',                        
' '+Comment+' '), 7)                        
--   SELECT CustomField3,Comment,                        
--SUBSTRING(Comment, PATINDEX('%[^0-9][0-9]/[0-9][0-9]/[0-9][0-9][^0-9]%',                        
--' '+Comment+' '), 7) CommentDate,*                        
FROM #AllpatientsInfo c                        
where comment like '%/%/%' and PATINDEX('%[^0-9][0-9]/[0-9][0-9]/[0-9][0-9][^0-9]%',                        
' '+Comment+' ') > 0                           
                        
--Format :mm/d/yy                         
update c set CommentDate=SUBSTRING(Comment, PATINDEX('%[^0-9][0-9][0-9]/[0-9]/[0-9][0-9][^0-9]%',                        
' '+Comment+' '), 7)                        
--SELECT CustomField3,Comment,                        
--SUBSTRING(Comment, PATINDEX('%[^0-9][0-9][0-9]/[0-9]/[0-9][0-9][^0-9]%',             
--' '+Comment+' '), 7) CommentDate,*                        
FROM #AllpatientsInfo c                        
where comment like '%/%/%' and PATINDEX('%[^0-9][0-9][0-9]/[0-9]/[0-9][0-9][^0-9]%',                        
' '+Comment+' ') > 0                           
                         
--Format :mm/dd/yy                        
update c set CommentDate=SUBSTRING(Comment, PATINDEX('%[^0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9][^0-9]%',                        
' '+Comment+' '), 8)                        
--SELECT CustomField3,Comment,                        
--SUBSTRING(Comment, PATINDEX('%[^0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9][^0-9]%',                        
--' '+Comment+' '), 8) CommentDate,*                        
FROM #AllpatientsInfo c                        
where comment like '%/%/%' and PATINDEX('%[^0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9][^0-9]%',                        
' '+Comment+' ') > 0                           
                                                      
--Format :m/d/yyyy,                        
update c set CommentDate=SUBSTRING(Comment, PATINDEX('%[^0-9][0-9]/[0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
' '+Comment+' '), 8)                        
--SELECT CustomField3,Comment,                        
--SUBSTRING(Comment, PATINDEX('%[^0-9][0-9]/[0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
--' '+Comment+' '), 8) CommentDate,*                        
FROM #AllpatientsInfo c                        
where comment like '%/%/%' and PATINDEX('%[^0-9][0-9]/[0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
' '+Comment+' ') > 0                        
                        
                        
--Format :m/dd/yyyy                         
update c set CommentDate=SUBSTRING(Comment, PATINDEX('%[^0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9][^0-9]%',               
' '+Comment+' '), 9)                        
--SELECT CustomField3,Comment,                        
--SUBSTRING(Comment, PATINDEX('%[^0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
--' '+Comment+' '), 9) CommentDate,*                        
FROM #AllpatientsInfo c                        
where comment like '%/%/%' and PATINDEX('%[^0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
' '+Comment+' ') > 0                        
                        
                        
--Format :mm/d/yyyy                         
update c set CommentDate=SUBSTRING(Comment, PATINDEX('%[^0-9][0-9][0-9]/[0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
' '+Comment+' '), 9)                        
--SELECT CustomField3,Comment,                        
--SUBSTRING(Comment, PATINDEX('%[^0-9][0-9][0-9]/[0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
--' '+Comment+' '), 9) CommentDate,*                        
FROM #AllpatientsInfo c                        
where comment like '%/%/%' and PATINDEX('%[^0-9][0-9][0-9]/[0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                   
' '+Comment+' ') > 0                        
                        
--Format :mm/dd/yyyy                        
                        
update c set CommentDate=SUBSTRING(Comment, PATINDEX('%[^0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
' '+Comment+' '), 10)                        
--SELECT CustomField3,Comment,                        
--SUBSTRING(Comment, PATINDEX('%[^0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
--' '+Comment+' '), 10) CommentDate,*                        
FROM #AllpatientsInfo c                        
where comment like '%/%/%' and PATINDEX('%[^0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9][^0-9]%',                        
' '+Comment+' ') > 0                        
                        
                        
update #AllpatientsInfo set ExpiryDate = TRY_CAST(commentdate as date)                        
            
            
                                     
drop table if exists #MedAssistPatients                               
                              
;With CTE as                                                             
(                        
SELECT *,                        
  ROW_NUMBER() OVER (                        
    PARTITION BY PatientIdentifier                         
    ORDER BY     expirydate desc,                    
      a.IsMedAssistMarked DESC,iscommentHasDt DESC,                        
      patientname,                        
      CASE                         
        WHEN TRY_CAST(RTRIM(LTRIM(SSN)) AS INT) IS NOT NULL                        
          THEN RIGHT('000000000' + RTRIM(CAST(CAST(SSN AS INT) AS VARCHAR)), 9) -- zero-padded                        
        ELSE RTRIM(LTRIM(SSN))                        
      END DESC,                        
      street DESC                        
  ) AS Rnk_Pt                        
FROM #AllpatientsInfo a                                                                    
) ,addr as                              
(                              
select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                                             
    PatientIdentifier order by ad.lastmodified desc) Rnk_addr                              
 from #AllpatientsInfo a          
left join pp_ods..rxqAddress ad on ad.cAddressId= a.PrimaryAddressId                               
and ad.Source_Indicator=a.Source_Indicator                              
),                              
ph1  as                              
(select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                                             
    PatientIdentifier order by ad.lastmodified desc) Rnk_ph1                              
 from #AllpatientsInfo a                              
left join pp_ods..rxqPhoneNumber ad on ad.cPhoneNumberId= a.PatientPhone1Id                           
and ad.Source_Indicator=a.Source_Indicator)                              
,                              
ph2  as                              
(select ad.*,a.PatientIdentifier,ROW_NUMBER() over(partition by                                                             
    PatientIdentifier order by ad.lastmodified desc) Rnk_ph2                              
 from #AllpatientsInfo a                              
left join pp_ods..rxqPhoneNumber ad on ad.cPhoneNumberId= a.PatientPhone2Id                               
and ad.Source_Indicator=a.Source_Indicator)                              
                              
select c.PatientIdentifier,c.DisplayName,c.GlobalId,c.SSN,c.DateOfBirth,c.PatientName,                              
c.LastName,c.FirstName,c.MiddleInitial,c.QueueName,c.IsMedAssistMarked ,c.Comment,c.CustomField3                         
,c.MedAssist,c.Source_Indicator,                        
upper(addr.Street) Street,upper(addr.City) City                           
,upper(addr.State) State  ,addr.Zip,addr.ZipPlus,                        
--,cast('No' as varchar(3)) as MediAssist,                              
--addr.LastModified as LastModified_addr,                              
ph1.PhoneNumber PhoneNumber_ph1,                              
--,ph1.PhoneNumberType PhoneNumberType_ph1                              
--,ph1.LastModified LastModified_ph1,                              
ph2.PhoneNumber PhoneNumber_ph2                              
--,ph2.PhoneNumberType PhoneNumberType_ph2                              
--,ph2.LastModified LastModified_ph2 --,Rnk_addr,Rnk_ph1,Rnk_ph2                              
--,addr.Source_Indicator Source_Indicator_addr,ph1.Source_Indicator Source_Indicator_ph1                              
--,ph2.Source_Indicator Source_Indicator_ph2              
,CommentDate,ExpiryDate            
into #MedAssistPatients                              
from                               
cte c                               
left join addr on addr.PatientIdentifier =c.PatientIdentifier and addr.Rnk_addr=1                              
left join ph1 on ph1.PatientIdentifier =c.PatientIdentifier and ph1.Rnk_ph1=1                              
left join ph2 on ph2.PatientIdentifier =c.PatientIdentifier and ph2.Rnk_ph2=1                              
where c.Rnk_Pt=1             
            
                                      
                    
update p set p.ssn=c.ssn                                                           
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()                                                          
,Remarks='ssn update'                                                          
--select c.ssn,c.globalid,c.patientname,c.dateofbirth,p.*                                                           
from                                                           
#MedAssistPatients c                                    
join [Patient] p on c.GlobalId=p.GlobalId                                               
where  p.ssn='' and c.GlobalId<>'' and c.ssn<>''                     
                    
                    
update p set p.street=c.Street,p.city=c.City,p.state=c.State,p.zip=c.Zip,p.Phone=c.PhoneNumber_ph1,                          
p.Phone2=c.PhoneNumber_ph2   
--,p.RecordModifiedDate=getdate()                                                                     
,Remarks='PD update'   
--,p.RecordModifiedBy='SS_ETL_Job'                               
--select c.Street , c.City,c.State,c.Zip,c.PhoneNumber_ph1,c.PhoneNumber_ph2,                          
--p.street,p.city,p.state,p.zip,p.Phone,p.Phone2                          
from #MedAssistPatients c                           
join                          
[Patient] p                          
on c.GlobalId=p.GlobalId and p.GlobalId<>''                          
where CHECKSUM(c.Street , c.City,c.State,c.Zip,c.PhoneNumber_ph1,c.PhoneNumber_ph2)                           
<> CHECKSUM(p.street,p.city,p.state,p.zip,p.Phone,p.Phone2)                     
                    
                                                                                               
delete from                                                           
#MedAssistPatients where GlobalId in (                                                          
select [GlobalId] from [Patient] p                                                          
where [GlobalId]<>''              
)                         
                      
update p set p.GlobalId=c.GlobalId                                                           
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate()                                                          
--,p.PatientIdentifier =c.GlobalId                                       
,Remarks='GlobalId update'                            
--select p.* ,c.globalid                                                          
from                                                           
#MedAssistPatients c                                                           
join [Patient] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN                                                          
where p.GlobalId='' and p.ssn<>'' and c.GlobalId<>''                       
                     
                
update p set p.GlobalId=c.GlobalId , p.ssn=c.SSN                                                          
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                                                          
--p.PatientIdentifier=                                                          
--case when c.Globalid <> '' then  c.Globalid                                                          
--when  c.Globalid = ''  and c.ssn<>'' then c.SSN+replace(cast(c.DateOfBirth  as varchar(15)),'-','')                                                            
--when  c.Globalid = ''  and c.ssn=''                                                           
--then c.PatientName+replace(cast(c.DateOfBirth  as varchar(15)),'-','') end ,                                                 
Remarks='GlobalId_SSN update'                                                  
--select p.* ,c.globalid,c.ssn                                                          
from                                                           
#MedAssistPatients c                                                           
join [Patient] p on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName                                                        
where p.GlobalId='' and p.ssn='' and ( c.GlobalId<>'' or c.ssn<>'')                    
                    
                    
update p set p.GlobalId=c.GlobalId                                                           
,p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                                                          
--p.PatientIdentifier= c.GlobalId   ,                                      
Remarks='GlobalId update'                                           
--select p.* ,c.globalid,c.ssn                                                          
from                                                           
#MedAssistPatients c                                                           
join [Patient] p                             
on c.DateOfBirth=p.DateOfBirth and c.PatientName=p.PatientName                                                          
where p.GlobalId='' and p.ssn<>'' and ( c.GlobalId<>'' and c.ssn='')                     
                    
                    
update p set p.street=c.Street,p.city=c.City,p.state=c.State,p.zip=c.Zip,p.Phone=c.PhoneNumber_ph1,                          
p.Phone2=c.PhoneNumber_ph2 --,p.RecordModifiedDate=getdate()                                                                     
,Remarks='PD update'     
---,p.RecordModifiedBy='SS_ETL_Job'                            
--select c.Street , c.City,c.State,c.Zip,c.PhoneNumber_ph1,c.PhoneNumber_ph2                         
--,p.street,p.city,p.state,p.zip,p.Phone,p.Phone2                          
from #MedAssistPatients c                           
join                          
[Patient] p                           
on c.PatientIdentifier=p.PatientIdentifier                           
where CHECKSUM(c.Street , c.City,c.State,c.Zip,c.PhoneNumber_ph1,c.PhoneNumber_ph2)                           
<> CHECKSUM(p.street,p.city,p.state,p.zip,p.Phone,p.Phone2)                     
                    
delete c from                                                           
--select * from                                                           
#MedAssistPatients c                                                           
join [Patient] p on c.GlobalId=p.GlobalId and p.GlobalId <>''                                                          
                                                          
delete c from                                               
--select * from                                                   
#MedAssistPatients c                        
join [Patient] p on c.DateOfBirth=p.DateOfBirth and c.SSN=p.SSN                                                          
and  p.ssn<>''                                                          
                                    
delete c from                                                   
---select c.* from                                                   
#MedAssistPatients c                                                           
join [Patient] p on c.DateOfBirth=p.DateOfBirth                                                   
and c.PatientName=p.PatientName                                                     
---and p.GlobalId='' and p.ssn=''                                               
                                               
delete c from                      
---select c.* from                                                   
#MedAssistPatients c where DateOfBirth is null         
      
      
update v set Remarks='PatientIdentifier Update',                                      
PatientIdentifier=case when Globalid <> '' then  Globalid                                      
when  Globalid = ''  and ssn<>'' then ssn+replace(cast(DateOfBirth  as varchar(15)),'-','')                                        
when  Globalid = '' and ssn=''                                       
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                                      
--select *                                       
from Patient  v where Remarks                                      
in ('GlobalId update','GlobalId_SSN update')      
                    
                    
Insert into Patient                      
(                      
GlobalId                      
,SSN                      
,PatientName                      
,DisplayName                      
,DateOfBirth                      
,Street                      
,City                      
,State                      
,Zip                      
,Phone                      
,Phone2                      
,MedAssistExpiryDate                   
,WFStatus                  
,PatientIdentifier                      
,RecordCreatedBy                      
,RecordCreatedDate                      
,RecordModifiedBy                      
,RecordModifiedDate                      
)                      
                  
                  
                      
select                       
 m.GlobalId                      
,m.SSN                      
,m.PatientName                      
,m.DisplayName                      
,m.DateOfBirth                      
,m.Street                      
,m.City                      
,m.State                      
,m.Zip                      
,m.PhoneNumber_ph1  Phone                      
,m.PhoneNumber_ph2 Phone2                      
,m.ExpiryDate  MedAssistExpiryDate                    
,'Completed' WFStatus                  
,m.PatientIdentifier                      
,'SS_ETL_Job' as RecordCreatedBy                      
,getdate() as RecordCreatedDate                      
,'SS_ETL_Job' RecordModifiedBy                      
,getdate() as RecordModifiedDate                      
from #MedAssistPatients   m        
left join         
ExcludePatient  ep on ep.PatientIdentifier=m.PatientIdentifier        
where m.ExpiryDate is not null          
and ep.PatientIdentifier is null        
        
                      
end 
GO
