USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  Table [dbo].[PatientMedReviewHistory]    Script Date: 7/27/2026 3:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedReviewHistory](
	[Globalid] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](100) NULL,
	[PID] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [datetime] NULL,
	[Createddate] [datetime] NULL,
	[Updateddate] [datetime] NULL,
	[color] [varchar](50) NULL,
	[RevID] [int] NULL,
	[Updatedby] [varchar](100) NULL,
	[comments] [varchar](100) NULL
) ON [PRIMARY]
GO
