USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  View [report].[vw_ImportAllMedicines]    Script Date: 7/27/2026 3:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [report].[vw_ImportAllMedicines]
as
select                                               
 --c.[PatientName] ,                                                     
 --c.Globalid ,                                              
 --c.SSN ,  c.DateOfBirth,  
 pt.PID,
 c.[Drug_name] ,        
 c.[DateDispensedSQL] ,                                              
 c.[QuantityDispensed] ,                                            
 c.[Sigs],                                              
-- c.[OnHold] ,                                              
--c.[Sb_LastModified] ,                                              
 c.Pharmacy as Pharmacy
 --,c.ScriptNumber,c.cScriptTransactionId 
 ,c.PatientIdentifier ,                            
 case when p.cScriptTransactionId is null then 'N' else 'Y' end as IsExported ,        
 c.DateWritten              
 ,c.Prescriber    ,c.NdcNumber  
-- ,case when c.OnHold='Y' then c.DateWritten                   
--when c.OnHold='n' then c.DateDispensedSQL end  as DerivedDate  ,c.RefillNumber 
,    cast(c.ScriptNumber as varchar(50))+    
case when len(c.RefillNumber)=1 then '-0' else '-' end +    
cast(c.RefillNumber as varchar(5)) RX#    
from TotalLibertyMedicationList c  with(nolock) 
join Patient pt on pt.PatientIdentifier=c.PatientIdentifier
left join PatientMedicationList p with(nolock)                                             
on p.cScriptTransactionId=c.cScriptTransactionId                                              
and p.ScriptNumber=c.ScriptNumber                                                                                                                                  
--order by IsExported desc ,case when c.OnHold='Y' then c.DateWritten                   
--when c.OnHold='n' then c.DateDispensedSQL end desc   ,c.Drug_name asc     



GO
