USE [MedAssistTrackerDB_PROD]
GO
/****** Object:  View [report].[vw_PatientReviewDetails]    Script Date: 7/27/2026 3:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view  [report].[vw_PatientReviewDetails]
as
----Reviewed By and Reviewed Date 
SELECT PID, ReviewedBy, ReviewedDate
FROM PatientMedReviewDetails WITH (NOLOCK)
GO
