USE [PP_Landing]
GO
/****** Object:  Table [dbo].[ack_AllergenPatternCodes]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ack_AllergenPatternCodes](
	[AllergenPatternCode] [int] NOT NULL,
	[AllergenClassCode01] [int] NOT NULL,
	[AllergenClassCode02] [int] NOT NULL,
	[AllergenClassCode03] [int] NOT NULL,
	[AllergenClassCode04] [int] NOT NULL,
	[AllergenClassCode05] [int] NOT NULL,
	[AllergenClassCode06] [int] NOT NULL,
	[AllergenClassCode07] [int] NOT NULL,
	[AllergenClassCode08] [int] NOT NULL,
	[AllergenClassCode09] [int] NOT NULL,
	[AllergenClassCode10] [int] NOT NULL,
	[AllergenClassCode11] [int] NOT NULL,
	[AllergenClassCode12] [int] NOT NULL,
	[AllergenClassCode13] [int] NOT NULL,
	[AllergenClassCode14] [int] NOT NULL,
	[AllergenClassCode15] [int] NOT NULL,
	[AllergenClassCode16] [int] NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
