USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugHotList_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugHotList_poc](
	[id] [int] NOT NULL,
	[drug_key] [varchar](50) NOT NULL,
	[quantity] [decimal](9, 2) NOT NULL,
	[price] [decimal](9, 2) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
