USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqAddress_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqAddress_poc](
	[cAddressId] [int] NOT NULL,
	[LookUpId] [varchar](200) NULL,
	[AddressType] [int] NULL,
	[Street] [varchar](200) NULL,
	[City] [varchar](200) NULL,
	[State] [varchar](200) NULL,
	[Zip] [varchar](200) NULL,
	[ZipPlus] [varchar](200) NULL,
	[Suite] [varchar](200) NULL,
	[CountryCode] [varchar](200) NULL,
	[Notes] [varchar](200) NULL,
	[LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](50) NULL,
	[Record_created_date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
