USE [PP_Landing]
GO
/****** Object:  Table [dbo].[RxqAgencyNcpdpFormat_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RxqAgencyNcpdpFormat_poc](
	[AgencyCode] [varchar](50) NOT NULL,
	[RecordType] [char](1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[LastChangeDate] [datetime] NOT NULL,
	[VendorCertificationNumber] [varchar](50) NOT NULL,
	[TransactionHeaderB2Qualifier] [char](2) NOT NULL,
	[PS_PatientSegment] [bit] NOT NULL,
	[PS_IdQualifier] [char](2) NOT NULL,
	[PS_Id] [bit] NOT NULL,
	[PS_DateOfBirth] [bit] NOT NULL,
	[PS_Gender] [bit] NOT NULL,
	[PS_FirstName] [bit] NOT NULL,
	[PS_LastName] [bit] NOT NULL,
	[PS_Street] [bit] NOT NULL,
	[PS_City] [bit] NOT NULL,
	[PS_State] [bit] NOT NULL,
	[PS_Zip] [bit] NOT NULL,
	[PS_Phone] [bit] NOT NULL,
	[PS_Location] [bit] NOT NULL,
	[PS_EmployerId] [bit] NOT NULL,
	[PS_SmokerCode] [bit] NOT NULL,
	[PS_PregnancyIndicator] [bit] NOT NULL,
	[PS_EmailAddress] [bit] NOT NULL,
	[PS_Residence] [bit] NOT NULL,
	[IS_InsuranceSegment] [bit] NOT NULL,
	[IS_CardholderId] [bit] NOT NULL,
	[IS_CardholderFirstName] [bit] NOT NULL,
	[IS_CardholderLastName] [bit] NOT NULL,
	[IS_HomePlan] [bit] NOT NULL,
	[IS_PlanId] [bit] NOT NULL,
	[IS_EligibilityClarificationCode] [bit] NOT NULL,
	[IS_GroupId] [bit] NOT NULL,
	[IS_PersonCode] [bit] NOT NULL,
	[IS_PatientRelationshipCode] [bit] NOT NULL,
	[IS_OtherPayerBIN] [bit] NOT NULL,
	[IS_OtherPayerPCN] [bit] NOT NULL,
	[IS_OtherPayerCardholderId] [bit] NOT NULL,
	[IS_OtherPayerGroupId] [bit] NOT NULL,
	[IS_MedigapId] [bit] NOT NULL,
	[IS_MedicaidIndicator] [bit] NOT NULL,
	[IS_ProviderAcceptsAssignmentIndicator] [bit] NOT NULL,
	[IS_QualifiedFacility] [bit] NOT NULL,
	[IS_MedicaidId] [bit] NOT NULL,
	[IS_MedicaidAgencyNumber] [bit] NOT NULL,
	[CS_ClaimSegment] [bit] NOT NULL,
	[CS_ScriptNumberQualifier] [char](1) NOT NULL,
	[CS_ScriptNumber] [bit] NOT NULL,
	[CS_ProductIdQualifier] [char](2) NOT NULL,
	[CS_ProductId] [bit] NOT NULL,
	[CS_AssociatedScriptNumber] [bit] NOT NULL,
	[CS_AssociatedScriptDate] [bit] NOT NULL,
	[CS_ProcedureModifierCodeCount] [bit] NOT NULL,
	[CS_ProcedureModifierCode] [bit] NOT NULL,
	[CS_QuantityDispensed] [bit] NOT NULL,
	[CS_FillNumber] [bit] NOT NULL,
	[CS_DaysSupply] [bit] NOT NULL,
	[CS_CompoundCode] [bit] NOT NULL,
	[CS_DAWCode] [bit] NOT NULL,
	[CS_DateWritten] [bit] NOT NULL,
	[CS_RefillsAuthorized] [bit] NOT NULL,
	[CS_PrescriptionOriginCode] [bit] NOT NULL,
	[CS_SubmissionClarificationCodeCount] [bit] NOT NULL,
	[CS_SubmissionClarificationCode] [bit] NOT NULL,
	[CS_QuantityWritten] [bit] NOT NULL,
	[CS_OtherCoverageCode] [bit] NOT NULL,
	[CS_SpecialPackageIndicator] [bit] NOT NULL,
	[CS_OriginallyPrescribedProductIdQualifier] [char](2) NOT NULL,
	[CS_OriginallyPrescribedProductId] [bit] NOT NULL,
	[CS_OriginallyPrescribedQuantity] [bit] NOT NULL,
	[CS_AlternateId] [bit] NOT NULL,
	[CS_ScheduledPrescriptionIdNumber] [bit] NOT NULL,
	[CS_UnitOfMeasure] [bit] NOT NULL,
	[CS_LevelOfService] [bit] NOT NULL,
	[CS_PriorAuthorizationTypeCode] [bit] NOT NULL,
	[CS_PriorAuthorizationNumberSubmitted] [bit] NOT NULL,
	[CS_IntermediaryAuthorizationTypeId] [bit] NOT NULL,
	[CS_IntermediaryAuthorizationId] [bit] NOT NULL,
	[CS_DispensingStatus] [bit] NOT NULL,
	[CS_QuantityIntendedToBeDispensed] [bit] NOT NULL,
	[CS_DaysSupplyIntendedToBeDispensed] [bit] NOT NULL,
	[CS_DelayReasonCode] [bit] NOT NULL,
	[CS_TransactionReferenceNumber] [bit] NOT NULL,
	[CS_PatientAssignmentIndicator] [bit] NOT NULL,
	[CS_RouteOfAdministration] [bit] NOT NULL,
	[CS_CompoundType] [bit] NOT NULL,
	[CS_MedicaidSubrogationInternalNumber] [bit] NOT NULL,
	[CS_PharmacyServiceType] [bit] NOT NULL,
	[PPS_PharmacyProviderSegment] [bit] NOT NULL,
	[PPS_ProviderIdQualifier] [char](2) NOT NULL,
	[PPS_ProviderId] [bit] NOT NULL,
	[MdS_PrescriberSegment] [bit] NOT NULL,
	[MdS_PrescriberIdQualifier] [char](2) NOT NULL,
	[MdS_PrescriberId] [bit] NOT NULL,
	[MdS_PrescriberLastName] [bit] NOT NULL,
	[MdS_PrescriberPhone] [bit] NOT NULL,
	[MdS_PrimaryCareProviderIdQualifier] [char](2) NOT NULL,
	[MdS_PrimaryCareProviderId] [bit] NOT NULL,
	[MdS_PrimaryCareProviderLastName] [bit] NOT NULL,
	[MdS_PrescriberFirstName] [bit] NOT NULL,
	[MdS_PrescriberStreet] [bit] NOT NULL,
	[MdS_PrescriberCity] [bit] NOT NULL,
	[MdS_PrescriberState] [bit] NOT NULL,
	[MdS_PrescriberZip] [bit] NOT NULL,
	[COBS_CoordinationOfBenefitsSegment] [bit] NOT NULL,
	[COBS_OtherPaymentsCount] [bit] NOT NULL,
	[COBS_OtherPayerCoverageCode] [bit] NOT NULL,
	[COBS_OtherPayerIdQualifier] [char](2) NOT NULL,
	[COBS_OtherPayerId] [bit] NOT NULL,
	[COBS_OtherPayerDate] [bit] NOT NULL,
	[COBS_InternalControlNumber] [bit] NOT NULL,
	[COBS_OtherPayerAmountPaidCount] [bit] NOT NULL,
	[COBS_OtherPayerAmountPaidQualifier] [char](2) NOT NULL,
	[COBS_OtherPayerAmountPaid] [bit] NOT NULL,
	[COBS_OtherPayerRejectCount] [bit] NOT NULL,
	[COBS_OtherPayerRejectCode] [bit] NOT NULL,
	[COBS_OtherPayerCopayCount] [bit] NOT NULL,
	[COBS_OtherPayerCopayAmountQualifier] [char](2) NOT NULL,
	[COBS_OtherPayerCopayAmount] [bit] NOT NULL,
	[COBS_BenefitStageCount] [bit] NOT NULL,
	[COBS_BenefitStageQualifier] [char](2) NOT NULL,
	[COBS_BenefitStageAmount] [bit] NOT NULL,
	[WS_WorkersCompSegment] [bit] NOT NULL,
	[WS_DateOfInjury] [bit] NOT NULL,
	[WS_EmployerName] [bit] NOT NULL,
	[WS_EmployerStreet] [bit] NOT NULL,
	[WS_EmployerCity] [bit] NOT NULL,
	[WS_EmployerState] [bit] NOT NULL,
	[WS_EmployerZip] [bit] NOT NULL,
	[WS_EmployerPhone] [bit] NOT NULL,
	[WS_EmployerContact] [bit] NOT NULL,
	[WS_CarrierId] [bit] NOT NULL,
	[WS_ClaimId] [bit] NOT NULL,
	[WS_BillingEntityTypeIndicator] [bit] NOT NULL,
	[WS_PayToQualifier] [char](2) NOT NULL,
	[WS_PayToId] [bit] NOT NULL,
	[WS_PayToName] [bit] NOT NULL,
	[WS_PayToStreet] [bit] NOT NULL,
	[WS_PayToCity] [bit] NOT NULL,
	[WS_PayToState] [bit] NOT NULL,
	[WS_PayToZip] [bit] NOT NULL,
	[WS_GenericEquivalentProductIdQualifier] [char](2) NOT NULL,
	[WS_GenericEquivalentProductId] [bit] NOT NULL,
	[DS_DURPPSSegment] [bit] NOT NULL,
	[DS_DURCodeCounter] [bit] NOT NULL,
	[DS_ReasonForServiceCode] [bit] NOT NULL,
	[DS_ProfessionalServiceCode] [bit] NOT NULL,
	[DS_ResultOfServiceCode] [bit] NOT NULL,
	[DS_LevelOfEffort] [bit] NOT NULL,
	[DS_CoAgentIdQualifier] [char](2) NOT NULL,
	[DS_CoAgentId] [bit] NOT NULL,
	[PrS_PricingSegment] [bit] NOT NULL,
	[PrS_IngredientCost] [bit] NOT NULL,
	[PrS_DispensingFee] [bit] NOT NULL,
	[PrS_ProfessionalServiceFee] [bit] NOT NULL,
	[PrS_PatientPaidAmount] [bit] NOT NULL,
	[PrS_IncentiveAmount] [bit] NOT NULL,
	[PrS_OtherAmountClaimedCount] [bit] NOT NULL,
	[PrS_OtherAmountClaimedQualifier] [char](2) NOT NULL,
	[PrS_OtherAmountClaimed] [bit] NOT NULL,
	[PrS_FlatSalesTax] [bit] NOT NULL,
	[PrS_PercentageSalesTax] [bit] NOT NULL,
	[PrS_PercentageSalesTaxRate] [bit] NOT NULL,
	[PrS_PercentageSalesTaxBasis] [bit] NOT NULL,
	[PrS_UsualAndCustomary] [bit] NOT NULL,
	[PrS_GrossAmountDue] [bit] NOT NULL,
	[PrS_BasisOfCostDetermination] [bit] NOT NULL,
	[PrS_MedicaidPaidAmount] [bit] NOT NULL,
	[CpS_CouponSegment] [bit] NOT NULL,
	[CpS_CouponType] [bit] NOT NULL,
	[CpS_CouponNumber] [bit] NOT NULL,
	[CpS_CouponValueAmount] [bit] NOT NULL,
	[CmpS_CompoundSegment] [bit] NOT NULL,
	[CmpS_DosageFormDescriptionCode] [bit] NOT NULL,
	[CmpS_DispensingUnitFormIndicator] [bit] NOT NULL,
	[CmpS_IngredientComponentCount] [bit] NOT NULL,
	[CmpS_ProductIdQualifier] [char](2) NOT NULL,
	[CmpS_ProductId] [bit] NOT NULL,
	[CmpS_IngredientQuantity] [bit] NOT NULL,
	[CmpS_IngredientDrugCost] [bit] NOT NULL,
	[CmpS_IngredientBasisOfCost] [bit] NOT NULL,
	[CmpS_IngredientModifierCodeCount] [bit] NOT NULL,
	[CmpS_IngredientModifierCode] [bit] NOT NULL,
	[PAS_PriorAuthorizationSegment] [bit] NOT NULL,
	[PAS_RequestType] [bit] NOT NULL,
	[PAS_RequestPeriodBeginDate] [bit] NOT NULL,
	[PAS_RequestPeriodEndDate] [bit] NOT NULL,
	[PAS_BasisOfRequest] [bit] NOT NULL,
	[PAS_RepFirstName] [bit] NOT NULL,
	[PAS_RepLastName] [bit] NOT NULL,
	[PAS_RepStreet] [bit] NOT NULL,
	[PAS_RepCity] [bit] NOT NULL,
	[PAS_RepState] [bit] NOT NULL,
	[PAS_RepZip] [bit] NOT NULL,
	[PAS_PriorAuthNumberAssigned] [bit] NOT NULL,
	[PAS_AuthorizationNumber] [bit] NOT NULL,
	[PAS_AuthorizationSupportingDocumentation] [bit] NOT NULL,
	[ClS_ClinicalSegment] [bit] NOT NULL,
	[ClS_DiagnosisCodeCount] [bit] NOT NULL,
	[ClS_DiagnosisCodeQualifier] [char](2) NOT NULL,
	[ClS_DiagnosisCode] [bit] NOT NULL,
	[ClS_ClinicalInformationCounter] [bit] NOT NULL,
	[ClS_MeasurementDate] [bit] NOT NULL,
	[ClS_MeasurementTime] [bit] NOT NULL,
	[ClS_MeasurementDimension] [bit] NOT NULL,
	[ClS_MeasurementUnit] [bit] NOT NULL,
	[ClS_MeasurementValue] [bit] NOT NULL,
	[ADS_AdditionalDocumentationSegment] [bit] NOT NULL,
	[ADS_AdditionalDocumentationTypeId] [bit] NOT NULL,
	[ADS_RequestPeriodBeginDate] [bit] NOT NULL,
	[ADS_RequestPeriodRevisedDate] [bit] NOT NULL,
	[ADS_RequestStatus] [bit] NOT NULL,
	[ADS_LengthOfNeedQualifier] [char](1) NOT NULL,
	[ADS_LengthOfNeed] [bit] NOT NULL,
	[ADS_PrescriberDateSigned] [bit] NOT NULL,
	[ADS_SupportingDocumentation] [bit] NOT NULL,
	[ADS_QuestionNumberLetterCount] [bit] NOT NULL,
	[ADS_QuestionNumberLetter] [bit] NOT NULL,
	[ADS_QuestionPercentResponse] [bit] NOT NULL,
	[ADS_QuestionDateResponse] [bit] NOT NULL,
	[ADS_QuestionDollarAmountResponse] [bit] NOT NULL,
	[ADS_QuestionNumericResponse] [bit] NOT NULL,
	[ADS_QuestionAlphanumericResponse] [bit] NOT NULL,
	[FS_FacilitySegment] [bit] NOT NULL,
	[FS_FacilityId] [bit] NOT NULL,
	[FS_FacilityName] [bit] NOT NULL,
	[FS_FacilityStreet] [bit] NOT NULL,
	[FS_FacilityCity] [bit] NOT NULL,
	[FS_FacilityState] [bit] NOT NULL,
	[FS_FacilityZip] [bit] NOT NULL,
	[NS_NarrativeSegment] [bit] NOT NULL,
	[NS_NarrativeMessage] [bit] NOT NULL,
	[COBS_OCC08Override] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
