USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqRxAlert_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqRxAlert_poc](
	[id] [nvarchar](50) NOT NULL,
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL,
	[AlertType] [int] NULL,
	[PatientId] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[Sent] [bit] NULL,
	[SendAfter] [datetime] NULL,
	[StoreNumber] [varchar](3) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
