USE [PP_Landing]
GO
/****** Object:  Table [dbo].[FiveStar_RASA]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiveStar_RASA](
	[APCGCN] [nvarchar](10) NULL,
	[GCN] [nvarchar](20) NULL,
	[GPI] [nvarchar](20) NULL,
	[NDC] [nvarchar](20) NULL,
	[Brand_Drug_Name] [nvarchar](100) NULL,
	[Generic_Drug_Name] [nvarchar](100) NULL,
	[Route] [nvarchar](10) NULL,
	[Therapeutic_Category] [nvarchar](100) NULL,
	[Obsolete_Date] [nvarchar](10) NULL,
	[New_Update_Flag] [nvarchar](1) NULL,
	[Recycled_NDC_Flag] [nvarchar](1) NULL,
	[Aliskiren_Flag] [nvarchar](1) NULL,
	[Azilsartan_Flag] [nvarchar](1) NULL,
	[Benazepril_Flag] [nvarchar](1) NULL,
	[Candesartan_Flag] [nvarchar](1) NULL,
	[Captopril_Flag] [nvarchar](1) NULL,
	[Enalapril_Flag] [nvarchar](1) NULL,
	[Eprosartan_Flag] [nvarchar](1) NULL,
	[Fosinopril_Flag] [nvarchar](1) NULL,
	[Irbesartan_Flag] [nvarchar](1) NULL,
	[Lisinopril_Flag] [nvarchar](1) NULL,
	[Losartan_Flag] [nvarchar](1) NULL,
	[Moexipril_Flag] [nvarchar](1) NULL,
	[Olmesartan_Flag] [nvarchar](1) NULL,
	[Perindopril_Flag] [nvarchar](1) NULL,
	[Quinapril_Flag] [nvarchar](1) NULL,
	[Ramipril_Flag] [nvarchar](1) NULL,
	[Telmisartan_Flag] [nvarchar](1) NULL,
	[Trandolapril_Flag] [nvarchar](1) NULL,
	[Valsartan_Flag] [nvarchar](1) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
