USE [PP_Landing]
GO
/****** Object:  Table [dbo].[wl_GPI]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wl_GPI](
	[GPI] [char](14) NOT NULL,
	[PrioritySequence] [int] NOT NULL,
	[LabelCode] [char](6) NOT NULL,
	[Reserve1] [varchar](50) NOT NULL,
	[ActivityCode] [char](1) NOT NULL,
	[LastChangeYYYYMMDD] [char](8) NOT NULL,
	[Source_Indicator] [nvarchar](100) NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
