USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqProblemQueue]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqProblemQueue](
	[cProblemQueueId] [int] NOT NULL,
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL,
	[UserId] [nvarchar](50) NULL,
	[ProblemCategory] [varchar](100) NULL,
	[ProblemNotes] [varchar](max) NULL,
	[ProblemDate] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[eScriptId] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
