USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDUR]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDUR](
	[cDurID] [int] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[Ins_Type] [int] NOT NULL,
	[SequenceNumber] [int] NOT NULL,
	[ReasonForService] [varchar](500) NOT NULL,
	[ProfessionalServiceCode] [varchar](500) NULL,
	[ResultCode] [varchar](500) NULL,
	[LevelOfEffort] [varchar](500) NULL,
	[CoAgentQualifier] [varchar](500) NULL,
	[CoAgencyId] [varchar](50) NULL,
	[source_indicator] [nvarchar](100) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Recored_update_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
