USE [PP_Landing]
GO
/****** Object:  Table [dbo].[_ClinicalControl]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_ClinicalControl](
	[ProductName] [varchar](50) NOT NULL,
	[LastUpdateYYYYMMDDHHMMSS] [char](14) NOT NULL,
	[source_indicator] [nvarchar](100) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
