USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPatientRanking_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatientRanking_poc](
	[cPatientRankingId] [int] NOT NULL,
	[RankType] [int] NULL,
	[Rank] [int] NULL,
	[Name] [varchar](50) NULL,
	[Image] [int] NULL,
	[High] [int] NULL,
	[Low] [int] NULL,
	[LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
