USE [PP_Landing]
GO
/****** Object:  Table [dbo].[m25_MDDB_L]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m25_MDDB_L](
	[NDC_UPC_HRI] [char](11) NOT NULL,
	[IdNumberFormatCode] [char](1) NOT NULL,
	[RecordCode] [char](3) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Reserve1] [char](23) NOT NULL,
	[DosageForm] [char](4) NOT NULL,
	[PackageSize] [decimal](8, 3) NOT NULL,
	[PackageSizeUnitOfMeasure] [char](2) NOT NULL,
	[PackageQuantity] [int] NOT NULL,
	[RepackageCode] [char](1) NOT NULL,
	[TotalPackageQuantity] [decimal](12, 3) NOT NULL,
	[DESICode] [char](1) NOT NULL,
	[PackageDescription] [varchar](200) NOT NULL,
	[Reserve2] [char](6) NOT NULL,
	[NextSmallerNDCSuffixNumber] [char](2) NOT NULL,
	[NextLargerNDCSuffixNumber] [char](2) NOT NULL,
	[InnerpackCode] [char](1) NOT NULL,
	[ClinicPackCode] [char](1) NOT NULL,
	[LastChangeYYDDD] [char](5) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
