USE [PP_Landing]
GO
/****** Object:  Table [dbo].[ip2_Texts]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ip2_Texts](
	[TextId] [bigint] NOT NULL,
	[LineNumber] [int] NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Text] [varchar](200) NOT NULL,
	[Reserve1] [varchar](200) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
