USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqUserRoles]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqUserRoles](
	[cUserRolesId] [int] NULL,
	[RecordId] [varchar](50) NOT NULL,
	[UserRoleType] [varchar](50) NULL,
	[Initials] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[source_indicator] [varchar](10) NULL,
	[Record_created_date] [datetime] NULL
) ON [PRIMARY]
GO
