USE [PP_Landing]
GO
/****** Object:  Table [dbo].[ip2_UniqueDrugs]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ip2_UniqueDrugs](
	[UniqueDrugId] [bigint] NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[DosageFormId] [int] NOT NULL,
	[ExternalDrugId] [varchar](200) NOT NULL,
	[ManufacturerId] [bigint] NOT NULL,
	[Reserve1] [char](200) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
