USE [PP_Landing]
GO
/****** Object:  Table [dbo].[ack_AllergenClassCodes]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ack_AllergenClassCodes](
	[AllergenClassCode] [int] NOT NULL,
	[AllergenClassDescription] [varchar](200) NOT NULL,
	[CrossSensitivityCode1] [int] NOT NULL,
	[CrossSensitivityCode2] [int] NOT NULL,
	[CrossSensitivityCode3] [int] NOT NULL,
	[CrossSensitivityCode4] [int] NOT NULL,
	[CrossSensitivityCode5] [int] NOT NULL,
	[CrossSensitivityCode6] [int] NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
