USE [PP_Landing]
GO
/****** Object:  Table [dbo].[dc_SIG]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dc_SIG](
	[DirectionsForUseCode] [char](15) NOT NULL,
	[RecordType] [char](2) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[LastChangeYYYYMMDD] [char](8) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
