USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqTransfers_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqTransfers_poc](
	[TransferType] [varchar](50) NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[OriginalDate] [datetime] NULL,
	[LastDate] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[PharmacyId] [varchar](50) NULL,
	[TransferDate] [datetime] NULL,
	[Contact] [varchar](50) NULL,
	[Comments] [text] NULL,
	[RefillsAuth] [int] NULL,
	[RefillsRemain] [int] NULL,
	[OriginalRx] [varchar](50) NULL,
	[LastFill] [datetime] NULL,
	[FirstFill] [datetime] NULL,
	[Createdby] [varchar](256) NULL,
	[RphInitials] [varchar](50) NULL,
	[RecordNumber] [int] NOT NULL,
	[Quantity] [decimal](9, 3) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
