USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugInventoryLogMaster_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugInventoryLogMaster_poc](
	[id] [int] NOT NULL,
	[DrugInventoryId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NULL,
	[User] [varchar](50) NULL,
	[Operation] [int] NOT NULL,
	[ScriptId] [varchar](50) NULL,
	[PurchaseOrderId] [varchar](50) NULL,
	[Note] [varchar](512) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[StoreNumber] [varchar](50) NOT NULL,
	[cCategoryId] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
