USE [PP_Landing]
GO
/****** Object:  Table [dbo].[med_Name]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[med_Name](
	[DrugDescriptorIdentifier] [char](6) NOT NULL,
	[DrugName] [char](30) NOT NULL,
	[RouteOfAdministration] [char](2) NOT NULL,
	[DosageForm] [char](4) NOT NULL,
	[Strength] [char](15) NOT NULL,
	[StrengthUnitOfMeasure] [char](10) NOT NULL,
	[BioequivalenceCode] [char](1) NOT NULL,
	[ControlledSubstanceCode] [char](1) NOT NULL,
	[EfficacyCode] [char](1) NOT NULL,
	[LegendIndicatorCode] [char](1) NOT NULL,
	[GenericCode] [char](1) NOT NULL,
	[BrandNameCode] [char](1) NOT NULL,
	[NameSourceCode] [char](1) NOT NULL,
	[GenericProductIdentifier] [char](14) NOT NULL,
	[KnowledgeBaseDrugCode] [char](10) NOT NULL,
	[NewDrugDescriptorIdentifier] [char](6) NOT NULL,
	[ScreenableFlat] [char](1) NOT NULL,
	[KnowledgeBaseDrugCodeFlag] [char](1) NOT NULL,
	[Reserve1] [char](13) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[LastChangeDate] [char](8) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
