USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPhoneNumber]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPhoneNumber](
	[cPhoneNumberId] [int] NOT NULL,
	[LookUpId] [varchar](200) NULL,
	[PhoneNumberType] [int] NULL,
	[PhoneNumber] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](50) NULL,
	[Record_created_date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
