USE [PP_Landing]
GO
/****** Object:  Table [dbo].[CLAIM]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLAIM](
	[CONTEXTID] [numeric](12, 0) NULL,
	[CONTEXTNAME] [varchar](max) NULL,
	[CONTEXTPARENTCONTEXTID] [numeric](12, 0) NULL,
	[CLAIMID] [numeric](12, 0) NULL,
	[ORIGINALCLAIMID] [numeric](12, 0) NULL,
	[PATIENTID] [numeric](12, 0) NULL,
	[CLAIMPRIMARYPATIENTINSID] [numeric](12, 0) NULL,
	[CLAIMSECONDARYPATIENTINSID] [numeric](12, 0) NULL,
	[CLAIMSCHEDULINGPROVIDERID] [numeric](38, 0) NULL,
	[RENDERINGPROVIDERID] [numeric](12, 0) NULL,
	[SUPERVISINGPROVIDERID] [numeric](12, 0) NULL,
	[CLAIMAPPOINTMENTID] [numeric](12, 0) NULL,
	[PATIENTDEPARTMENTID] [numeric](12, 0) NULL,
	[SERVICEDEPARTMENTID] [numeric](12, 0) NULL,
	[CLAIMREFERRINGPROVIDERID] [numeric](12, 0) NULL,
	[CLAIMREFERRALAUTHID] [numeric](12, 0) NULL,
	[PATIENTROUNDINGLISTID] [numeric](12, 0) NULL,
	[PRIMARYCLAIMSTATUS] [varchar](max) NULL,
	[SECONDARYCLAIMSTATUS] [varchar](max) NULL,
	[PATIENTCLAIMSTATUS] [varchar](max) NULL,
	[PRIMARYOUTSTANDING] [numeric](12, 2) NULL,
	[SECONDARYOUTSTANDING] [numeric](12, 2) NULL,
	[PATIENTOUTSTANDING] [numeric](12, 2) NULL,
	[RELATEDTOEMPLOYMENTYN] [varchar](max) NULL,
	[RELATEDTOAUTOACCIDENTYN] [varchar](max) NULL,
	[MEDICAIDRESUBMISSIONCODE] [varchar](max) NULL,
	[PRIMARYCLAIMTYPE] [varchar](max) NULL,
	[SECONDARYCLAIMTYPE] [varchar](max) NULL,
	[CLAIMCREATEDDATETIME] [datetime2](7) NULL,
	[CREATEDBY] [varchar](max) NULL,
	[CLAIMSERVICEDATE] [date] NULL,
	[HOSPITALIZATIONFROMDATE] [date] NULL,
	[HOSPITALIZATIONTODATE] [date] NULL,
	[RESERVED19] [varchar](max) NULL,
	[PAYTOTAXID1] [varchar](max) NULL,
	[PAYTOTAXID2] [varchar](max) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
	[LASTMODIFIEDBY] [varchar](max) NULL,
	[ACCEPTASSIGNMENTYN1] [varchar](max) NULL,
	[ACCEPTASSIGNMENTYN2] [varchar](max) NULL,
	[ACCIDENTDATE] [datetime2](7) NULL,
	[ADDITIONALFREETEXT] [varchar](max) NULL,
	[ALTERNATIVEPAYMENTMODELID] [numeric](12, 0) NULL,
	[ANOTHERPARTYRESPONSIBLEYN] [varchar](max) NULL,
	[ASSIGNMENTOFBENEFITSFLAG] [varchar](max) NULL,
	[AUTOACCIDENTSTATE] [varchar](max) NULL,
	[CLAIMALARMELIGIBLEYN] [varchar](max) NULL,
	[CLAIMBATCHID] [numeric](12, 0) NULL,
	[CLAIMPATIENTINSURANCEPID] [numeric](12, 0) NULL,
	[CLAIMSUBMISSIONCATEGORYID1] [numeric](12, 0) NULL,
	[CLAIMSUBMISSIONCATEGORYID2] [numeric](12, 0) NULL,
	[CLAIMTYPE] [varchar](max) NULL,
	[COVERAGESCANYN] [varchar](max) NULL,
	[CURRENTILLNESSDATE] [datetime2](7) NULL,
	[DIAGNOSIS1] [varchar](max) NULL,
	[DIAGNOSIS2] [varchar](max) NULL,
	[DIAGNOSIS3] [varchar](max) NULL,
	[DIAGNOSIS4] [varchar](max) NULL,
	[DIAGNOSIS5] [varchar](max) NULL,
	[DIAGNOSIS6] [varchar](max) NULL,
	[DIAGNOSIS7] [varchar](max) NULL,
	[DIAGNOSIS8] [varchar](max) NULL,
	[EPAYMENTCONTRACTID] [numeric](12, 0) NULL,
	[FROMUNABLETOWORKDATE] [datetime2](7) NULL,
	[FULLYWORKEDREASONID1] [varchar](max) NULL,
	[FULLYWORKEDREASONID2] [varchar](max) NULL,
	[FULLYWORKEDREASONIDP] [varchar](max) NULL,
	[HEALTHCARECLAIMTYPEID1] [numeric](12, 0) NULL,
	[HEALTHCARECLAIMTYPEID2] [numeric](12, 0) NULL,
	[LASTACTION] [varchar](max) NULL,
	[LASTACTIONDATE] [datetime2](7) NULL,
	[LASTBILLEDDATE1] [datetime2](7) NULL,
	[LASTBILLEDDATE2] [datetime2](7) NULL,
	[LASTBILLEDDATEP] [datetime2](7) NULL,
	[LASTSCRUBDATE1] [datetime2](7) NULL,
	[LASTSCRUBDATE2] [datetime2](7) NULL,
	[LASTSCRUBDATEP] [datetime2](7) NULL,
	[MANUALDROPREASONID] [varchar](max) NULL,
	[MANUALDROPREASONID2] [varchar](max) NULL,
	[MANUALDROPYN] [varchar](max) NULL,
	[MANUALDROPYN2] [varchar](max) NULL,
	[MEDICAIDRESUBMISSIONORIGREFNO] [varchar](max) NULL,
	[MSPINSURANCETYPEID] [numeric](12, 0) NULL,
	[MSPINSURANCETYPESETYN] [varchar](max) NULL,
	[NODENIALMANAGEMENTYN] [varchar](max) NULL,
	[OTHERDIAGNOSES] [varchar](max) NULL,
	[PARENTCLAIMID] [numeric](12, 0) NULL,
	[PAYTONPI1] [varchar](max) NULL,
	[PAYTONPI2] [varchar](max) NULL,
	[PHYSICIANSIGNATUREDATE] [datetime2](7) NULL,
	[PQRIPARTICIPATION] [varchar](max) NULL,
	[PRIMARYBILLINGPROVIDERID] [numeric](12, 0) NULL,
	[PRINTZERODOLLARCHARGESYN1] [varchar](max) NULL,
	[RELATEDTOOTHERACCIDENTYN] [varchar](max) NULL,
	[RELEASEOFINFORMATIONYN1] [varchar](max) NULL,
	[RESERVED10D] [varchar](max) NULL,
	[RETROMEDICAIDENROLLMENTYN] [varchar](max) NULL,
	[RTAELIGIBLEYN1] [varchar](max) NULL,
	[SIGNATURESOURCECODE] [varchar](max) NULL,
	[SIMILARILLNESSDATE] [datetime2](7) NULL,
	[SLIDINGFEEPATIENTINSURANCEID] [numeric](12, 0) NULL,
	[STATUS1CLAIMNOTEID] [numeric](12, 0) NULL,
	[STATUS1LASTMODIFIED] [datetime2](7) NULL,
	[STATUS2CLAIMNOTEID] [numeric](12, 0) NULL,
	[STATUS2LASTMODIFIED] [datetime2](7) NULL,
	[STATUSPCLAIMNOTEID] [numeric](12, 0) NULL,
	[STATUSPLASTMODIFIED] [datetime2](7) NULL,
	[TOUNABLETOWORKDATE] [datetime2](7) NULL,
	[VISITBILLID] [numeric](12, 0) NULL,
	[VISITGROUPID] [numeric](12, 0) NULL,
	[LASTUPDATED] [datetime2](7) NULL,
	[Record_Created_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
