USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqAgencyStore_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqAgencyStore_poc](
	[StoreNumber] [varchar](50) NOT NULL,
	[AgencyCode] [varchar](50) NOT NULL,
	[StoreProviderId] [varchar](50) NOT NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
