USE [PP_Landing]
GO
/****** Object:  Table [dbo].[m25_MDDB_M]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m25_MDDB_M](
	[NDC_UPC_HRI] [char](11) NOT NULL,
	[IdNumberFormatCode] [char](1) NOT NULL,
	[RecordCode] [char](3) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[MetricStrength] [decimal](13, 5) NOT NULL,
	[StrengthUnitOfMeasure] [char](11) NOT NULL,
	[LimitedDistributionCode] [char](2) NOT NULL,
	[ExtendedAHFSTherapeuticClassCode] [bigint] NOT NULL,
	[InactiveYYYYMMDD] [char](8) NOT NULL,
	[Reserve] [char](37) NOT NULL,
	[LastChangeYYDDD] [char](5) NOT NULL,
	[Source_Indicator] [nvarchar](100) NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
