USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqOrder]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqOrder](
	[cOrderId] [int] NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateSent] [datetime] NULL,
	[DateConfirmed] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[DateLastChanged] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[VendorId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[FileName] [nvarchar](max) NULL,
	[IncludeRXQ] [bit] NULL,
	[IncludeBZQ] [bit] NULL,
	[ConfirmationFile] [nvarchar](max) NULL,
	[StoreNumber] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[DateReceived] [datetime] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
