USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqOrderDefaults]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqOrderDefaults](
	[IncludeRXQ] [bit] NULL,
	[IncludeBZQ] [bit] NULL,
	[CreateType] [int] NULL,
	[DrugScheduleOptions] [int] NULL,
	[SortOptions] [int] NULL,
	[VendorOptions] [int] NULL,
	[NextOrderNumber] [int] NULL,
	[OldPOQ] [bit] NULL,
	[id] [int] NOT NULL,
	[UsageDays] [int] NULL,
	[QuantityOnActiveOrders] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
