USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqOrderLine]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqOrderLine](
	[cOrderLineId] [int] NOT NULL,
	[Origin] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[RxqId] [nvarchar](50) NULL,
	[BzqId] [varchar](50) NULL,
	[Qty] [decimal](9, 3) NULL,
	[AllowSubstitution] [bit] NULL,
	[Description] [nvarchar](50) NULL,
	[OrderId] [int] NULL,
	[RequestedQty] [decimal](9, 3) NULL,
	[UpdatedQty] [decimal](9, 3) NULL,
	[Cost] [decimal](9, 2) NULL,
	[VendorName] [nvarchar](50) NULL,
	[VendorId] [int] NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[NDCUPC] [nvarchar](50) NULL,
	[LastChanged] [datetime] NULL,
	[ConfirmationNote] [nvarchar](max) NULL,
	[RequestedDescription] [nvarchar](50) NULL,
	[InventoryUpdated] [bit] NULL,
	[ConfirmationMode] [int] NULL,
	[source_indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
