USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqOrderConfirmation_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqOrderConfirmation_poc](
	[cOrderConfirmationId] [int] NOT NULL,
	[cOrderId] [int] NULL,
	[ConfirmationFile] [nvarchar](max) NULL,
	[ConfirmationFileType] [int] NULL,
	[ConfirmationFileName] [nvarchar](max) NULL,
	[DateReceived] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
