USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqUser_20260606]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqUser_20260606](
	[cUserId] [int] NOT NULL,
	[RecordId] [varchar](50) NOT NULL,
	[EncryptedPassword] [varchar](50) NULL,
	[LastLoginDate] [datetime] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[RphInitials] [varchar](50) NULL,
	[PrevEncryptedPassword1] [varchar](50) NULL,
	[PrevEncryptedPassword2] [varchar](50) NULL,
	[PrevEncryptedPassword3] [varchar](50) NULL,
	[PrevEncryptedPassword4] [varchar](50) NULL,
	[PasswordChanged] [date] NULL,
	[LockOut] [datetime] NULL,
	[LockOutCount] [int] NULL,
	[PasswordRequired] [varchar](50) NULL,
	[TimeOutMinutes] [int] NULL,
	[CashierInitials] [varchar](50) NULL,
	[MASTERRECORDID] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[PIN] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[MobilePhone] [varchar](50) NULL,
	[HomePhone] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[MyTheme] [varchar](50) NULL,
	[UserImage] [varbinary](max) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[ForcePasswordChange] [bit] NOT NULL,
	[WindowsAD] [varchar](256) NULL,
	[LoggableStores] [varchar](50) NULL,
	[PromptForClockIn] [bit] NULL,
	[LibertyId] [varchar](50) NULL,
	[NewUser] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
