USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqAuditTracking_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqAuditTracking_poc](
	[id] [int] NOT NULL,
	[itemId] [nvarchar](15) NULL,
	[originalValue] [nvarchar](max) NULL,
	[newValue] [nvarchar](max) NULL,
	[origin] [nvarchar](max) NULL,
	[dateChanged] [datetime] NULL,
	[trackingType] [int] NULL,
	[userInfo] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[originId] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
