USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugInventory]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugInventory](
	[cDrugInventoryId] [int] NOT NULL,
	[DrugInventoryKey] [varchar](50) NOT NULL,
	[QtyInStock] [decimal](12, 3) NULL,
	[ReorderPoint] [decimal](12, 3) NULL,
	[ReorderQty] [decimal](12, 3) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NOT NULL,
	[StoreNumber] [varchar](50) NOT NULL,
	[SnoozeOrder] [bit] NULL,
	[SnoozeUntil] [datetime] NULL,
	[InventoryType] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
