USE [PP_Landing]
GO
/****** Object:  Table [dbo].[im2_UniqueDrugImagesJournal]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[im2_UniqueDrugImagesJournal](
	[UniqueDrugId] [bigint] NOT NULL,
	[StartYYYYMMDD] [char](8) NOT NULL,
	[StopYYYYMMDD] [char](8) NOT NULL,
	[ImageId] [bigint] NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
