USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugCompoundIngredient]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugCompoundIngredient](
	[cDrugCompoundIngredientId] [int] NOT NULL,
	[ParentDrugKey] [varchar](50) NOT NULL,
	[MixtureSequence] [int] NOT NULL,
	[IngredientDrugKey] [varchar](50) NULL,
	[BasisOfCost] [varchar](50) NULL,
	[MetricDecimalQuantity] [float] NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[ActiveIngredient] [bit] NOT NULL,
	[ActiveIngredientRatio] [float] NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
