USE [PP_Landing]
GO
/****** Object:  Table [dbo].[SSISConfig_Bzq]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISConfig_Bzq](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[SourceServerName] [varchar](100) NULL,
	[SourceDBName] [varchar](100) NULL,
	[UserName] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[DWHServerName] [varchar](100) NULL,
	[DWHDBName] [varchar](100) NULL,
	[SourceIndicator] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Active] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SSISConfig_Bzq] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SSISConfig_Bzq] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
