USE [PP_Landing]
GO
/****** Object:  Table [dbo].[SSISTableConfig]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSISTableConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceTable] [varchar](100) NULL,
	[TargetTable] [varchar](100) NULL,
	[SourceColumn] [varchar](max) NULL,
	[TargetColumn] [varchar](max) NULL,
	[AdditionalColumn] [varchar](max) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Datefield] [varchar](50) NULL,
	[IsLoadedToLanding] [int] NULL,
	[IsLoadedToODS] [int] NULL,
	[IsActive] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Duration] [varchar](100) NULL,
	[Schema_Name] [varchar](30) NULL,
	[Group_No] [varchar](5) NULL,
	[AuditDateField] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
