USE [PP_Landing]
GO
/****** Object:  Table [dbo].[RxqLabType]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RxqLabType](
	[TypeId] [int] NOT NULL,
	[CatId] [int] NOT NULL,
	[LabName] [varchar](100) NULL,
	[UnitType] [varchar](50) NULL,
	[HighNormal] [decimal](18, 3) NULL,
	[LowNormal] [decimal](18, 3) NULL,
	[LoincCode] [varchar](50) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
