USE [PP_Landing]
GO
/****** Object:  Table [dbo].[ifc_filename]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ifc_filename](
	[xmlelementid] [int] NOT NULL,
	[xmlfilename] [varchar](255) NOT NULL,
	[xmlsystemname] [varchar](30) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
