USE [PP_Landing]
GO
/****** Object:  Table [dbo].[DatabaseConnectionFailures]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatabaseConnectionFailures](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SourceServerName] [varchar](255) NULL,
	[SourceDBName] [varchar](255) NULL,
	[SourceIndicator] [varchar](50) NULL,
	[ErrorMessage] [varchar](max) NULL,
	[FailureDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatabaseConnectionFailures] ADD  DEFAULT (getdate()) FOR [FailureDateTime]
GO
