USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqQueue_Backup]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqQueue_Backup](
	[cQueueId] [int] NULL,
	[QueueName] [varchar](50) NULL,
	[DisplayOrder] [int] NULL,
	[PriorityOrder] [int] NULL,
	[Color] [int] NULL,
	[Delivery] [bit] NOT NULL,
	[DeliveryCharge] [decimal](9, 2) NULL,
	[CustomerDefault] [bit] NOT NULL,
	[IsValid] [bit] NOT NULL,
	[Source_Indicator] [varchar](20) NULL,
	[Record_created_date] [datetime] NULL
) ON [PRIMARY]
GO
