USE [PP_Landing]
GO
/****** Object:  Table [dbo].[cml_ClinicalMasterLink]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cml_ClinicalMasterLink](
	[CountryCode] [char](2) NOT NULL,
	[DrugIdCode] [char](20) NOT NULL,
	[GPI] [varchar](50) NOT NULL,
	[KnowledgeBaseCode] [varchar](50) NOT NULL,
	[RouteAdministrationCode] [varchar](50) NOT NULL,
	[Reserve2] [varchar](50) NOT NULL,
	[AllergyPatternCode] [int] NOT NULL,
	[InactivationFlag] [varchar](50) NOT NULL,
	[LastChangeYYYYMMDD] [varchar](50) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
