USE [PP_Landing]
GO
/****** Object:  Table [dbo].[cc2_PatientConsultationMessages]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cc2_PatientConsultationMessages](
	[PatientConsultationMessageCode] [char](3) NOT NULL,
	[PatientMessage1] [varchar](200) NOT NULL,
	[PatientMessage2] [varchar](200) NOT NULL,
	[ProfessionalMessage1] [varchar](200) NOT NULL,
	[ProfessionalMessage2] [varchar](200) NOT NULL,
	[Reserve1] [char](100) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
