USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqOrderInvoice_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqOrderInvoice_poc](
	[cOrderInvoiceId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[VendorId] [int] NULL,
	[Amount] [decimal](12, 3) NULL,
	[InvoiceDate] [datetime] NULL,
	[InvoiceNumber] [varchar](50) NULL,
	[ReferenceNumber] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[source_indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
