USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPatient_Stage]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatient_Stage](
	[PatientId] [varchar](50) NOT NULL,
	[Source_Indicator] [varchar](100) NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
