USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugGenerics]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugGenerics](
	[cDrugGenericsId] [int] NOT NULL,
	[DrugKey] [varchar](50) NOT NULL,
	[GenericDrugKey1] [varchar](50) NULL,
	[GenericDrugKey2] [varchar](50) NULL,
	[GenericDrugKey3] [varchar](50) NULL,
	[GenericDrugKey4] [varchar](50) NULL,
	[GenericDrugNdc1] [varchar](50) NULL,
	[GenericDrugNdc2] [varchar](50) NULL,
	[GenericDrugNdc3] [varchar](50) NULL,
	[GenericDrugNdc4] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
