USE [PP_Landing]
GO
/****** Object:  Table [dbo].[_ClinicalSettings]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_ClinicalSettings](
	[SettingKey] [varchar](50) NOT NULL,
	[SettingValue] [varchar](2000) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
