USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqResubmit]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqResubmit](
	[cResubmitId] [int] NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[NursingHomeId] [varchar](50) NULL,
	[AgencyCode] [varchar](50) NOT NULL,
	[Version] [varchar](50) NOT NULL,
	[TransactionCode] [varchar](50) NOT NULL,
	[DateDispensed] [date] NOT NULL,
	[RejectCount_1] [int] NOT NULL,
	[RejectCode_1_1] [varchar](50) NULL,
	[RejectCode_1_2] [varchar](50) NULL,
	[RejectCode_1_3] [varchar](50) NULL,
	[RejectCode_1_4] [varchar](50) NULL,
	[RejectCode_1_5] [varchar](50) NULL,
	[RejectCode_1_6] [varchar](50) NULL,
	[RejectCode_1_7] [varchar](50) NULL,
	[RejectCode_1_8] [varchar](50) NULL,
	[RejectCode_1_9] [varchar](50) NULL,
	[RejectCode_1_10] [varchar](50) NULL,
	[RejectCode_1_11] [varchar](50) NULL,
	[RejectCode_1_12] [varchar](50) NULL,
	[RejectCode_1_13] [varchar](50) NULL,
	[RejectCode_1_14] [varchar](50) NULL,
	[RejectCode_1_15] [varchar](50) NULL,
	[RejectCode_1_16] [varchar](50) NULL,
	[RejectCode_1_17] [varchar](50) NULL,
	[RejectCode_1_18] [varchar](50) NULL,
	[RejectCode_1_19] [varchar](50) NULL,
	[RejectCode_1_20] [varchar](50) NULL,
	[Message_1] [varchar](80) NULL,
	[AdditionalMessage_1] [varchar](max) NULL,
	[DrugConflictCode_11] [varchar](50) NULL,
	[SeverityIndexCode_11] [varchar](50) NULL,
	[PharmacyIndicator_11] [varchar](50) NULL,
	[PreviousDateOfFill_11] [date] NULL,
	[PreviousFillQuantity_11] [int] NULL,
	[DatabaseIndicator_11] [varchar](50) NULL,
	[PrescriberIndicator_11] [varchar](50) NULL,
	[FreeText_11] [varchar](50) NULL,
	[DrugConflictCode_12] [varchar](50) NULL,
	[SeverityIndexCode_12] [varchar](50) NULL,
	[PharmacyIndicator_12] [varchar](50) NULL,
	[PreviousDateOfFill_12] [date] NULL,
	[PreviousFillQuantity_12] [int] NULL,
	[DatabaseIndicator_12] [varchar](50) NULL,
	[PrescriberIndicator_12] [varchar](50) NULL,
	[FreeText_12] [varchar](50) NULL,
	[DrugConflictCode_13] [varchar](50) NULL,
	[SeverityIndexCode_13] [varchar](50) NULL,
	[PharmacyIndicator_13] [varchar](50) NULL,
	[PreviousDateOfFill_13] [date] NULL,
	[PreviousFillQuantity_13] [int] NULL,
	[DatabaseIndicator_13] [varchar](50) NULL,
	[PrescriberIndicator_13] [varchar](50) NULL,
	[FreeText_13] [varchar](50) NULL,
	[RejectCount_2] [int] NULL,
	[RejectCode_2_1] [varchar](50) NULL,
	[RejectCode_2_2] [varchar](50) NULL,
	[RejectCode_2_3] [varchar](50) NULL,
	[RejectCode_2_4] [varchar](50) NULL,
	[RejectCode_2_5] [varchar](50) NULL,
	[RejectCode_2_6] [varchar](50) NULL,
	[RejectCode_2_7] [varchar](50) NULL,
	[RejectCode_2_8] [varchar](50) NULL,
	[RejectCode_2_9] [varchar](50) NULL,
	[RejectCode_2_10] [varchar](50) NULL,
	[RejectCode_2_11] [varchar](50) NULL,
	[RejectCode_2_12] [varchar](50) NULL,
	[RejectCode_2_13] [varchar](50) NULL,
	[RejectCode_2_14] [varchar](50) NULL,
	[RejectCode_2_15] [varchar](50) NULL,
	[RejectCode_2_16] [varchar](50) NULL,
	[RejectCode_2_17] [varchar](50) NULL,
	[RejectCode_2_18] [varchar](50) NULL,
	[RejectCode_2_19] [varchar](50) NULL,
	[RejectCode_2_20] [varchar](50) NULL,
	[Message_2] [varchar](80) NULL,
	[AdditionalMessage_2] [varchar](max) NULL,
	[DrugConflictCode_21] [varchar](50) NULL,
	[SeverityIndexCode_21] [varchar](50) NULL,
	[PharmacyIndicator_21] [varchar](50) NULL,
	[PreviousDateOfFill_21] [date] NULL,
	[PreviousFillQuantity_21] [int] NULL,
	[DatabaseIndicator_21] [varchar](50) NULL,
	[PrescriberIndicator_21] [varchar](50) NULL,
	[FreeText_21] [varchar](50) NULL,
	[DrugConflictCode_22] [varchar](50) NULL,
	[SeverityIndexCode_22] [varchar](50) NULL,
	[PharmacyIndicator_22] [varchar](50) NULL,
	[PreviousDateOfFill_22] [date] NULL,
	[PreviousFillQuantity_22] [int] NULL,
	[DatabaseIndicator_22] [varchar](50) NULL,
	[PrescriberIndicator_22] [varchar](50) NULL,
	[FreeText_22] [varchar](50) NULL,
	[DrugConflictCode_23] [varchar](50) NULL,
	[SeverityIndexCode_23] [varchar](50) NULL,
	[PharmacyIndicator_23] [varchar](50) NULL,
	[PreviousDateOfFill_23] [date] NULL,
	[PreviousFillQuantity_23] [int] NULL,
	[DatabaseIndicator_23] [varchar](50) NULL,
	[PrescriberIndicator_23] [varchar](50) NULL,
	[FreeText_23] [varchar](50) NULL,
	[RejectCount_3] [int] NULL,
	[RejectCode_3_1] [varchar](50) NULL,
	[RejectCode_3_2] [varchar](50) NULL,
	[RejectCode_3_3] [varchar](50) NULL,
	[RejectCode_3_4] [varchar](50) NULL,
	[RejectCode_3_5] [varchar](50) NULL,
	[RejectCode_3_6] [varchar](50) NULL,
	[RejectCode_3_7] [varchar](50) NULL,
	[RejectCode_3_8] [varchar](50) NULL,
	[RejectCode_3_9] [varchar](50) NULL,
	[RejectCode_3_10] [varchar](50) NULL,
	[RejectCode_3_11] [varchar](50) NULL,
	[RejectCode_3_12] [varchar](50) NULL,
	[RejectCode_3_13] [varchar](50) NULL,
	[RejectCode_3_14] [varchar](50) NULL,
	[RejectCode_3_15] [varchar](50) NULL,
	[RejectCode_3_16] [varchar](50) NULL,
	[RejectCode_3_17] [varchar](50) NULL,
	[RejectCode_3_18] [varchar](50) NULL,
	[RejectCode_3_19] [varchar](50) NULL,
	[RejectCode_3_20] [varchar](50) NULL,
	[Message_3] [varchar](80) NULL,
	[AdditionalMessage_3] [varchar](max) NULL,
	[DrugConflictCode_31] [varchar](50) NULL,
	[SeverityIndexCode_31] [varchar](50) NULL,
	[PharmacyIndicator_31] [varchar](50) NULL,
	[PreviousDateOfFill_31] [date] NULL,
	[PreviousFillQuantity_31] [int] NULL,
	[DatabaseIndicator_31] [varchar](50) NULL,
	[PrescriberIndicator_31] [varchar](50) NULL,
	[FreeText_31] [varchar](50) NULL,
	[DrugConflictCode_32] [varchar](50) NULL,
	[SeverityIndexCode_32] [varchar](50) NULL,
	[PharmacyIndicator_32] [varchar](50) NULL,
	[PreviousDateOfFill_32] [date] NULL,
	[PreviousFillQuantity_32] [int] NULL,
	[DatabaseIndicator_32] [varchar](50) NULL,
	[PrescriberIndicator_32] [varchar](50) NULL,
	[FreeText_32] [varchar](50) NULL,
	[DrugConflictCode_33] [varchar](50) NULL,
	[SeverityIndexCode_33] [varchar](50) NULL,
	[PharmacyIndicator_33] [varchar](50) NULL,
	[PreviousDateOfFill_33] [date] NULL,
	[PreviousFillQuantity_33] [int] NULL,
	[DatabaseIndicator_33] [varchar](50) NULL,
	[PrescriberIndicator_33] [varchar](50) NULL,
	[FreeText_33] [varchar](50) NULL,
	[RejectCount_4] [int] NULL,
	[RejectCode_4_1] [varchar](50) NULL,
	[RejectCode_4_2] [varchar](50) NULL,
	[RejectCode_4_3] [varchar](50) NULL,
	[RejectCode_4_4] [varchar](50) NULL,
	[RejectCode_4_5] [varchar](50) NULL,
	[RejectCode_4_6] [varchar](50) NULL,
	[RejectCode_4_7] [varchar](50) NULL,
	[RejectCode_4_8] [varchar](50) NULL,
	[RejectCode_4_9] [varchar](50) NULL,
	[RejectCode_4_10] [varchar](50) NULL,
	[RejectCode_4_11] [varchar](50) NULL,
	[RejectCode_4_12] [varchar](50) NULL,
	[RejectCode_4_13] [varchar](50) NULL,
	[RejectCode_4_14] [varchar](50) NULL,
	[RejectCode_4_15] [varchar](50) NULL,
	[RejectCode_4_16] [varchar](50) NULL,
	[RejectCode_4_17] [varchar](50) NULL,
	[RejectCode_4_18] [varchar](50) NULL,
	[RejectCode_4_19] [varchar](50) NULL,
	[RejectCode_4_20] [varchar](50) NULL,
	[Message_4] [varchar](80) NULL,
	[AdditionalMessage_4] [varchar](max) NULL,
	[DrugConflictCode_41] [varchar](50) NULL,
	[SeverityIndexCode_41] [varchar](50) NULL,
	[PharmacyIndicator_41] [varchar](50) NULL,
	[PreviousDateOfFill_41] [date] NULL,
	[PreviousFillQuantity_41] [int] NULL,
	[DatabaseIndicator_41] [varchar](50) NULL,
	[PrescriberIndicator_41] [varchar](50) NULL,
	[FreeText_41] [varchar](50) NULL,
	[DrugConflictCode_42] [varchar](50) NULL,
	[SeverityIndexCode_42] [varchar](50) NULL,
	[PharmacyIndicator_42] [varchar](50) NULL,
	[PreviousDateOfFill_42] [date] NULL,
	[PreviousFillQuantity_42] [int] NULL,
	[DatabaseIndicator_42] [varchar](50) NULL,
	[PrescriberIndicator_42] [varchar](50) NULL,
	[FreeText_42] [varchar](50) NULL,
	[DrugConflictCode_43] [varchar](50) NULL,
	[SeverityIndexCode_43] [varchar](50) NULL,
	[PharmacyIndicator_43] [varchar](50) NULL,
	[PreviousDateOfFill_43] [date] NULL,
	[PreviousFillQuantity_43] [int] NULL,
	[DatabaseIndicator_43] [varchar](50) NULL,
	[PrescriberIndicator_43] [varchar](50) NULL,
	[FreeText_43] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
