USE [PP_Landing]
GO
/****** Object:  Table [dbo].[FiveStar_Statins]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiveStar_Statins](
	[APCGCN] [nvarchar](10) NULL,
	[GCN] [nvarchar](20) NULL,
	[GPI] [nvarchar](20) NULL,
	[NDC] [nvarchar](20) NULL,
	[Brand_Drug_Name] [nvarchar](100) NULL,
	[Generic_Drug_Name] [nvarchar](100) NULL,
	[Route] [nvarchar](10) NULL,
	[Therapeutic_Category] [nvarchar](100) NULL,
	[Obsolete_Date] [nvarchar](10) NULL,
	[New_Update_Flag] [nvarchar](1) NULL,
	[Recycled_NDC_Flag] [nvarchar](1) NULL,
	[Lovastatin_Flag] [nvarchar](1) NULL,
	[Rosuvastatin_Flag] [nvarchar](1) NULL,
	[Fluvastatin_Flag] [nvarchar](1) NULL,
	[Atorvastatin_Flag] [nvarchar](1) NULL,
	[Pravastatin_Flag] [nvarchar](1) NULL,
	[Pitavastatin_Flag] [nvarchar](1) NULL,
	[Simvastatin_Flag] [nvarchar](1) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
