USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqOrderVendorSettings]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqOrderVendorSettings](
	[cOrderVendorSettingsId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ServerProtocol] [nvarchar](50) NULL,
	[ServerAddress] [nvarchar](max) NULL,
	[PortOverride] [int] NULL,
	[FileType] [nvarchar](50) NULL,
	[VendorNumber] [nvarchar](50) NULL,
	[CustomerNumber] [nvarchar](50) NULL,
	[CustomerRegion] [nvarchar](50) NULL,
	[ServerUsername] [nvarchar](50) NULL,
	[ServerPassword] [nvarchar](50) NULL,
	[VendorId] [int] NULL,
	[CheckForConfirmation] [bit] NULL,
	[CheckForOtherConfirmations] [bit] NULL,
	[DownloadConfirmationDirectory] [varchar](max) NULL,
	[ConfirmationSearchString] [nvarchar](50) NULL,
	[EDI855AcqDecimal] [int] NULL,
	[EDI855AcqSegment] [nvarchar](50) NULL,
	[EDI855AcqFieldNumber] [int] NULL,
	[EDI855AcqPackagePricing] [bit] NULL,
	[EDI855SegmentSeperator] [nvarchar](50) NULL,
	[EDI855FieldSeperator] [nvarchar](50) NULL,
	[EDI855ItemAckSegment] [nvarchar](50) NULL,
	[EDI855ItemAckFieldNumber] [int] NULL,
	[EDI855RequestedItemQtySegment] [nvarchar](50) NULL,
	[EDI855RequestedItemQtyFieldNumber] [int] NULL,
	[EDI855ItemQtySegment] [nvarchar](50) NULL,
	[EDI855ItemQtyFieldNumber] [int] NULL,
	[EDI855RequestedItemNumberSegment] [nvarchar](50) NULL,
	[EDI855RequestedItemNumberFieldNumber] [int] NULL,
	[EDI855ItemNumberSegment] [nvarchar](50) NULL,
	[EDI855ItemNumberFieldNumber] [int] NULL,
	[EDI855RequestedItemNDCUPCSegment] [nvarchar](50) NULL,
	[EDI855RequestedItemNDCUPCFieldNumber] [int] NULL,
	[EDI855ItemNDCUPCSegment] [nvarchar](50) NULL,
	[EDI855ItemNDCUPCFieldNumber] [int] NULL,
	[EDI855PONameSegment] [nvarchar](50) NULL,
	[EDI855PONameFieldNumber] [int] NULL,
	[UpdatePricesIfAvailable] [bit] NULL,
	[DeleteConfirmationFilesOnServer] [bit] NULL,
	[UploadOrderDirectory] [nvarchar](50) NULL,
	[OrderFileNameFormat] [nvarchar](50) NULL,
	[EDI850ISAFormatString] [nvarchar](max) NULL,
	[EDI850GSFormatString] [nvarchar](max) NULL,
	[EDI850STFormatString] [nvarchar](max) NULL,
	[EDI850BEGFormatString] [nvarchar](max) NULL,
	[EDI850N1FormatString] [nvarchar](max) NULL,
	[EDI850PO1FormatString] [nvarchar](max) NULL,
	[EDI850NoSubstitutionFormatString] [nvarchar](max) NULL,
	[EDI850CTTFormatString] [nvarchar](max) NULL,
	[EDI850SEFormatString] [nvarchar](max) NULL,
	[EDI850GEFormatString] [nvarchar](max) NULL,
	[EDI850IEAFormatString] [nvarchar](max) NULL,
	[Active] [bit] NULL,
	[EDI850FieldSeperator] [nvarchar](50) NULL,
	[EDI850SegmentSeperator] [nvarchar](50) NULL,
	[DefaultVendor] [bit] NULL,
	[ServerFTPSEncryptionType] [int] NULL,
	[FlatFileHeaderFormatString] [nvarchar](max) NULL,
	[FlatFileDetailFormatString] [nvarchar](max) NULL,
	[FlatFileFooterFormatString] [nvarchar](max) NULL,
	[CustomField1] [nvarchar](50) NULL,
	[CustomField2] [nvarchar](50) NULL,
	[OrderFileExtensionFormat] [nvarchar](50) NULL,
	[LocalDirectory] [nvarchar](max) NULL,
	[ServerDirectoryDelimeter] [nvarchar](50) NULL,
	[EDI855VerifyVendor] [bit] NULL,
	[EDI855VerifyVendorFieldNumber] [nvarchar](max) NULL,
	[EDI855VerifyVendorSegment] [nvarchar](max) NULL,
	[EDI855VerifyVendorValue] [nvarchar](max) NULL,
	[Store] [nvarchar](max) NULL,
	[Only340BDrugs] [bit] NULL,
	[OnlyNon340BDrugs] [bit] NULL,
	[AllowSubstitutionCode] [varchar](200) NULL,
	[DoNotAllowSubstitutionCode] [varchar](200) NULL,
	[EDI855AllowAnyVendorItemMatching] [bit] NULL,
	[EDI810AcqDecimal] [int] NULL,
	[EDI810AcqSegment] [nvarchar](50) NULL,
	[EDI810AcqFieldNumber] [int] NULL,
	[EDI810ItemQtyFieldNumber] [int] NULL,
	[EDI810ItemQtySegment] [nvarchar](50) NULL,
	[EDI810ItemNumberFieldNumber] [int] NULL,
	[EDI810ItemNumberSegment] [nvarchar](50) NULL,
	[EDI810ItemNDCUPCFieldNumber] [int] NULL,
	[EDI810ItemNDCUPCSegment] [nvarchar](50) NULL,
	[EDI810PONameFieldNumber] [int] NULL,
	[EDI810PONameSegment] [nvarchar](50) NULL,
	[EDI810SegmentSeperator] [nvarchar](50) NULL,
	[EDI810FieldSeperator] [nvarchar](50) NULL,
	[CheckForInvoice] [bit] NULL,
	[CheckForOtherInvoices] [bit] NULL,
	[DeleteInvoiceFilesOnServer] [bit] NULL,
	[UpdatePrices810] [bit] NULL,
	[EDI810AcqPackagePricing] [bit] NULL,
	[EDI810VerifyVendor] [bit] NULL,
	[EDI810AllowanyVendorItemMatching] [bit] NULL,
	[EDI810VerifyVendorFieldNumber] [nvarchar](max) NULL,
	[EDI810VerifyVendorSegment] [nvarchar](max) NULL,
	[EDI810VerifyVendorValue] [nvarchar](max) NULL,
	[DownloadInvoiceDirectory] [varchar](max) NULL,
	[InvoiceSearchString] [nvarchar](50) NULL,
	[EDI855IncludeInactiveDrugs] [bit] NULL,
	[EDI810IncludeInactiveDrugs] [bit] NULL,
	[ConfirmationMode] [int] NULL,
	[FileImportOption] [int] NULL,
	[BZQMode] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
