USE [PP_Landing]
GO
/****** Object:  Table [dbo].[RxqLabCategories]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RxqLabCategories](
	[CatId] [int] NOT NULL,
	[Category] [varchar](50) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
