USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqScheduleDrugReportHistory_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqScheduleDrugReportHistory_poc](
	[Id] [int] NOT NULL,
	[State] [varchar](50) NULL,
	[DateProcessed] [datetime] NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
	[Submitted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EntireFile] [nvarchar](max) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
