USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrug]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrug](
	[GID] [numeric](18, 0) NOT NULL,
	[DrugId] [varchar](50) NOT NULL,
	[NdcNumber] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Form] [varchar](50) NULL,
	[Schedule] [varchar](50) NULL,
	[Generic] [varchar](50) NULL,
	[OverTheCounter] [varchar](50) NULL,
	[StateCode] [varchar](50) NULL,
	[Reorder] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[ContainerCharge] [varchar](50) NULL,
	[SpecialSwitch] [varchar](50) NULL,
	[InventoryOption] [varchar](50) NULL,
	[DrugCode] [varchar](50) NULL,
	[Mixture] [varchar](50) NULL,
	[PriceBreak] [decimal](8, 3) NULL,
	[Alert1] [varchar](50) NULL,
	[Alert2] [varchar](50) NULL,
	[Alert3] [varchar](50) NULL,
	[Alert4] [varchar](50) NULL,
	[GenericSwitch] [varchar](50) NULL,
	[GenericPercent] [int] NULL,
	[ContainerQuantity] [decimal](18, 4) NULL,
	[ContainerAwpPrice] [decimal](18, 2) NULL,
	[ContainerAcqPriceDeprecated] [decimal](18, 2) NULL,
	[ContainerContractPrice] [decimal](18, 2) NULL,
	[UnitAwpPrice] [decimal](18, 4) NULL,
	[UnitAcqPrice] [decimal](18, 4) NULL,
	[UnitContractPrice] [decimal](18, 4) NULL,
	[LastPriceUpdate] [date] NULL,
	[PreviousPriceUpdate] [date] NULL,
	[LastDateDispensed] [date] NULL,
	[PriceFormula] [varchar](50) NULL,
	[MetricName] [varchar](50) NULL,
	[MetricUnit] [decimal](18, 5) NULL,
	[AwpPriceUpdateSwitch] [varchar](50) NULL,
	[AcqPriceUpdateSwitch] [varchar](50) NULL,
	[HotListQty] [decimal](18, 4) NULL,
	[HotListCost] [decimal](18, 2) NULL,
	[CompoundForm] [varchar](50) NULL,
	[CompoundUnit] [int] NULL,
	[CompoundAdministration] [int] NULL,
	[Name] [varchar](100) NULL,
	[Hcpcs] [varchar](50) NULL,
	[ProcedureModifierCode] [varchar](50) NULL,
	[TherapeuticNoHitOption] [varchar](50) NULL,
	[MonographNdcNumber] [varchar](50) NULL,
	[CompoundUpdateAWP] [varchar](50) NULL,
	[CompoundUpdateACQ] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[GenericLabelText] [varchar](50) NULL,
	[DoNotPrintMedGuide] [char](1) NULL,
	[QuickLookup] [varchar](50) NULL,
	[CustomField1] [varchar](50) NULL,
	[CustomField2] [varchar](50) NULL,
	[CustomField3] [varchar](50) NULL,
	[CustomField4] [varchar](50) NULL,
	[DefaultGeneric] [bit] NOT NULL,
	[ContainerWacPrice] [decimal](18, 2) NULL,
	[UnitWacPrice] [decimal](18, 4) NULL,
	[PreferredVendor] [varchar](50) NULL,
	[CompoundType] [char](2) NULL,
	[CompoundIngredientModifierCodes] [varchar](200) NULL,
	[RouteOfAdministration] [varchar](100) NULL,
	[Is340B] [bit] NOT NULL,
	[source_indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NULL,
	[SpecialtyDrug] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
