USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPatientAccountReceivableHistory]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatientAccountReceivableHistory](
	[cPatientAccountReceivableHistoryId] [int] NOT NULL,
	[AgingDate] [datetime] NOT NULL,
	[AccountId] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleInitial] [varchar](50) NULL,
	[AccountNumber] [varchar](50) NULL,
	[CreditLimit] [varchar](50) NULL,
	[FinanceChargeSwitch] [varchar](50) NULL,
	[FinanceChargePeriod] [varchar](50) NULL,
	[PrintCode] [varchar](50) NULL,
	[LastPaymentAmount] [varchar](50) NULL,
	[LastPaymentDate] [date] NULL,
	[ResponsibleIdentifier] [varchar](50) NULL,
	[YearToDateInterest] [varchar](50) NULL,
	[PreviousBalance] [varchar](50) NULL,
	[AmountDue] [varchar](50) NULL,
	[Over30Days] [varchar](50) NULL,
	[Over60Days] [varchar](50) NULL,
	[Over90Days] [varchar](50) NULL,
	[Over120Days] [varchar](50) NULL,
	[CurrentDebits] [varchar](50) NULL,
	[CurrentCredits] [varchar](50) NULL,
	[TotalBalance] [varchar](50) NULL,
	[YearToDateMedical] [varchar](50) NULL,
	[FinanceChargeFlag] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
