USE [PP_Landing]
GO
/****** Object:  Table [dbo].[cc2_DocumentationTypes]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cc2_DocumentationTypes](
	[DDICode] [int] NOT NULL,
	[DocumentationTypeCode] [char](2) NOT NULL,
	[Reserve1] [char](8) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
