USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqMedicareEligibility]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqMedicareEligibility](
	[cMedicareEligibilityId] [int] NOT NULL,
	[PatientId] [varchar](50) NOT NULL,
	[BIN] [varchar](50) NULL,
	[PCN] [varchar](50) NULL,
	[NABP] [varchar](50) NULL,
	[DateOfBirthYYYYMMDD] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[ZipCode] [varchar](50) NULL,
	[CardholderId] [varchar](50) NULL,
	[ResponseYYYYMMDD] [varchar](50) NULL,
	[ResponseHHMMSS] [varchar](50) NULL,
	[F4_504_Message] [varchar](200) NULL,
	[FQ_526_AddMessage] [varchar](200) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[PayerCount] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
