USE [PP_Landing]
GO
/****** Object:  Table [dbo].[Rx365PatientAppendix]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rx365PatientAppendix](
	[PatientId] [varchar](50) NOT NULL,
	[Rx365ID] [uniqueidentifier] NULL,
	[LastLogin] [datetime] NULL,
	[StoreNumber] [varchar](50) NULL,
	[Email] [varchar](500) NULL,
	[Source_Indicator] [varchar](50) NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_date] [datetime] NULL
) ON [PRIMARY]
GO
