USE [PP_Landing]
GO
/****** Object:  Table [dbo].[FiveStar_Diabetes]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiveStar_Diabetes](
	[APCGCN] [nvarchar](10) NULL,
	[GCN] [nvarchar](20) NULL,
	[GPI] [nvarchar](20) NULL,
	[NDC] [nvarchar](20) NULL,
	[Brand_Drug_Name] [nvarchar](100) NULL,
	[Generic_Drug_Name] [nvarchar](100) NULL,
	[Route] [nvarchar](20) NULL,
	[Therapeutic_Category] [nvarchar](100) NULL,
	[Obsolete_Date] [nvarchar](10) NULL,
	[New_Update_Flag] [nvarchar](1) NULL,
	[Recycled_NDC_Flag] [nvarchar](1) NULL,
	[Biguanide_Flag] [nvarchar](1) NULL,
	[SFU_Flag] [nvarchar](1) NULL,
	[TZD_Flag] [nvarchar](1) NULL,
	[DDPIV_Flag] [nvarchar](1) NULL,
	[Meglitinide_Flag] [nvarchar](1) NULL,
	[Albiglutide_Flag] [nvarchar](1) NULL,
	[Chlorpropamide_Flag] [nvarchar](1) NULL,
	[Dapagliflozin_Flag] [nvarchar](1) NULL,
	[Dulaglutide_Flag] [nvarchar](1) NULL,
	[Empagliflozin_Flag] [nvarchar](1) NULL,
	[Glimepiride_Flag] [nvarchar](1) NULL,
	[Glipizide_Flag] [nvarchar](1) NULL,
	[Glyburide_Flag] [nvarchar](1) NULL,
	[IncretinMimetic_Flag] [nvarchar](1) NULL,
	[Metformin_Flag] [nvarchar](1) NULL,
	[Pioglitazone_Flag] [nvarchar](1) NULL,
	[Rosiglitazone_Flag] [nvarchar](1) NULL,
	[Tolazamide_Flag] [nvarchar](1) NULL,
	[Tolbutamide_Flag] [nvarchar](1) NULL,
	[Alogliptin_Flag] [nvarchar](1) NULL,
	[Sitagliptin_Flag] [nvarchar](1) NULL,
	[Linagliptin_Flag] [nvarchar](1) NULL,
	[Saxagliptin_Flag] [nvarchar](1) NULL,
	[SGLT2Inhib_Flag] [nvarchar](1) NULL,
	[Exenatide_Flag] [nvarchar](1) NULL,
	[Liraglutide_Flag] [nvarchar](1) NULL,
	[Nateglinide_Flag] [nvarchar](1) NULL,
	[Repaglinide_Flag] [nvarchar](1) NULL,
	[Canagliflozin_Flag] [nvarchar](1) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
