USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugOptions_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugOptions_poc](
	[StoreNumber] [varchar](50) NOT NULL,
	[DrugId] [varchar](50) NOT NULL,
	[InActive] [bit] NOT NULL,
	[InAutoDispenser] [bit] NOT NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
