USE [PP_Landing]
GO
/****** Object:  Table [dbo].[m25_MDDB_TCRF]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m25_MDDB_TCRF](
	[TherapeuticClassificationCode] [char](10) NOT NULL,
	[Reserve1] [char](4) NOT NULL,
	[RecordTypeCode] [char](1) NOT NULL,
	[TC_GPIName] [varchar](60) NULL,
	[Reserve2] [varchar](19) NULL,
	[TransactionCode] [char](1) NULL,
	[LastChangeDateYYDDD] [char](5) NULL,
	[Source_Indicator] [nvarchar](100) NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
