USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqOrderInvoiceLine_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqOrderInvoiceLine_poc](
	[cOrderInvoiceLineId] [int] NOT NULL,
	[OrderInvoiceId] [int] NULL,
	[OrderLineId] [int] NULL,
	[Qty] [decimal](12, 3) NULL,
	[Status] [varchar](200) NULL,
	[InventoryUpdated] [bit] NULL,
	[LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
