USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPatient]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatient](
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleInitial] [varchar](50) NULL,
	[PatientId] [varchar](50) NOT NULL,
	[Street] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[ZipPlus] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [varchar](50) NULL,
	[SocialSecurityNumber] [varchar](50) NULL,
	[PriceFormula] [varchar](50) NULL,
	[Discount] [float] NULL,
	[ChildProofTop] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[ProfileFrequency] [varchar](50) NULL,
	[RxCountYearToDate] [int] NULL,
	[ChargeCode] [varchar](50) NULL,
	[StartDate] [date] NULL,
	[LastDateUsed] [date] NULL,
	[NursingHome] [varchar](50) NULL,
	[Comment] [nvarchar](max) NULL,
	[CrossCheckSwitch] [varchar](50) NULL,
	[DriversLicenseNumber] [varchar](50) NULL,
	[SmokerCode] [varchar](50) NULL,
	[PregnancyIndicator] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NULL,
	[HippaSwitch] [varchar](50) NULL,
	[HippaDate] [date] NULL,
	[OverTheCounterDiscount] [int] NULL,
	[AlternateStreet] [varchar](50) NULL,
	[AlternateCity] [varchar](50) NULL,
	[AlternateState] [varchar](50) NULL,
	[AlternateZip] [varchar](50) NULL,
	[AlternatePhone] [varchar](50) NULL,
	[Suite] [varchar](50) NULL,
	[CountryCode] [varchar](50) NULL,
	[DeliveryDefault] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[FacilityChargeAccountId] [varchar](50) NULL,
	[TextingOption] [char](1) NULL,
	[PhoneType] [char](2) NULL,
	[AlternatePhoneType] [char](2) NULL,
	[LastDatePOS] [date] NULL,
	[CustomField1] [varchar](50) NULL,
	[CustomField2] [varchar](50) NULL,
	[CustomField3] [varchar](50) NULL,
	[CustomField4] [varchar](50) NULL,
	[UnitDose] [bit] NULL,
	[GlobalId] [varchar](50) NULL,
	[PlaceOfService] [varchar](50) NULL,
	[PatientResidence] [varchar](50) NULL,
	[FacilityCharge] [bit] NULL,
	[AddressVerified] [date] NULL,
	[InActive] [bit] NULL,
	[cQueueId] [int] NULL,
	[HouseholdId] [varchar](50) NULL,
	[AccountId] [varchar](50) NULL,
	[Relation] [varchar](10) NULL,
	[OfficeUse] [bit] NULL,
	[PassportNumber] [varchar](50) NULL,
	[AutoFill] [bit] NULL,
	[RxLoyalty] [bit] NULL,
	[FacilityChargeOTCOnly] [bit] NULL,
	[SendRxAlertText] [bit] NULL,
	[SendRxAlertEmail] [bit] NULL,
	[SendRxAlertVoice] [bit] NULL,
	[RxAlertVoiceType] [varchar](50) NULL,
	[MedSyncStartDate1] [datetime] NULL,
	[MedSyncDays1] [int] NULL,
	[MedSyncStartDate2] [datetime] NULL,
	[MedSyncDays2] [int] NULL,
	[PrintMonograph] [bit] NULL,
	[MedicalConditionsSwitch] [bit] NULL,
	[DeceasedFlag] [bit] NULL,
	[DeceasedDate] [date] NULL,
	[HIC] [varchar](50) NULL,
	[Ranking] [varchar](50) NULL,
	[Is340B] [bit] NULL,
	[MedicareBeneficiaryId] [varchar](50) NULL,
	[DeliveryAddress] [bit] NULL,
	[SpeciesCode] [int] NULL,
	[VaccineRegistryConsent] [bit] NULL,
	[Breastfeeding] [bit] NULL,
	[Race] [varchar](50) NULL,
	[Ethnicity] [varchar](50) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL,
	[Weight] [int] NULL,
	[PrimaryAddressId] [int] NULL,
	[AlternateAddressId] [int] NULL,
	[BillingAddressId] [int] NULL,
	[ShippingAddressId] [int] NULL,
	[DeliveryAddressId] [int] NULL,
	[PatientPhone1Id] [int] NULL,
	[PatientPhone2Id] [int] NULL,
	[RxAlertVoicePhoneId] [int] NULL,
	[Rx365Id] [uniqueidentifier] NULL,
	[Rx365LastLogin] [datetime] NULL,
	[Rx365StoreNumber] [varchar](50) NULL,
	[Rx365Email] [varchar](500) NULL,
	[SupportedLanguageCode] [varchar](3) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
