USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqWorkflowLocation_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqWorkflowLocation_poc](
	[cWorkflowLocationId] [int] NOT NULL,
	[Location] [varchar](50) NULL,
	[ParentWorkflowLocationId] [int] NULL,
	[ShowInDropdown] [bit] NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
