USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqScheduleDrugReportLog_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqScheduleDrugReportLog_poc](
	[id] [nvarchar](50) NOT NULL,
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL,
	[SendDate] [datetime] NULL,
	[SendType] [int] NULL,
	[State] [nvarchar](50) NULL,
	[DateDispensed] [datetime] NULL,
	[HistoryId] [int] NULL,
	[ReportRecord] [nvarchar](max) NULL,
	[PartialFillNumber] [int] NULL,
	[source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
