USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPatientDisease]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatientDisease](
	[cPatientDiseaseId] [int] NOT NULL,
	[PatientId] [varchar](50) NOT NULL,
	[ICD9_CM_CODE] [varchar](50) NOT NULL,
	[DiseaseCode] [int] NULL,
	[DiseaseDescription] [varchar](500) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[CodeType] [varchar](5) NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
