USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqIcd9_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqIcd9_poc](
	[cIcd9Id] [int] NOT NULL,
	[Icd9Prefix] [varchar](50) NOT NULL,
	[Icd9Code] [varchar](50) NOT NULL,
	[DiseaseDescription] [varchar](50) NULL,
	[ActivityCode] [varchar](50) NULL,
	[LastChangeDateYYYYMMDD] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
