USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqScriptTransaction_DLT_LATEST]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqScriptTransaction_DLT_LATEST](
	[cScriptTransactionId] [numeric](18, 0) NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[RefillNumber] [int] NOT NULL,
	[Source_Indicator] [varchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY]
GO
