USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPatientMessage_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatientMessage_poc](
	[id] [varchar](50) NOT NULL,
	[MessageBody] [nvarchar](max) NULL,
	[MessageSubject] [varchar](255) NULL,
	[MessageCreatedOn] [datetime] NULL,
	[MessageSent] [bit] NULL,
	[MessageTo] [varchar](max) NULL,
	[MessageSuccess] [bit] NULL,
	[MessageType] [int] NULL,
	[PatientId] [varchar](50) NULL,
	[MessageResult] [varchar](max) NULL,
	[MessageReferenceNumber] [varchar](max) NULL,
	[SentBy] [varchar](50) NULL,
	[MessageRetryCount] [int] NULL,
	[AlertType] [int] NULL,
	[StoreNumber] [varchar](50) NULL,
	[MessageRead] [bit] NULL,
	[Outbound] [bit] NULL,
	[MessageFrom] [varchar](max) NULL,
	[EncodedMessageBody] [varchar](max) NULL,
	[HasAttachments] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
