USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqUser]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqUser](
	[cUserId] [int] NULL,
	[RecordId] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[RphInitials] [varchar](50) NULL,
	[MASTERRECORDID] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Email] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[LibertyId] [varchar](50) NULL,
	[NewUser] [bit] NULL,
	[source_indicator] [varchar](10) NULL,
	[Record_created_date] [datetime] NULL
) ON [PRIMARY]
GO
