USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqAccountReceivable]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqAccountReceivable](
	[cAccountReceivableId] [int] NOT NULL,
	[Partition] [varchar](50) NOT NULL,
	[ARBatch] [varchar](50) NOT NULL,
	[AccountId] [varchar](50) NOT NULL,
	[ARType] [int] NOT NULL,
	[RecordNumber] [int] NOT NULL,
	[PostDate] [date] NULL,
	[RecordStatus] [varchar](50) NULL,
	[ReferenceNumber] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[AppliedToDue] [float] NULL,
	[Amount] [float] NULL,
	[TaxAmount] [float] NULL,
	[TaxRateCode] [varchar](50) NULL,
	[StoreNumber] [varchar](50) NULL,
	[TaxFlag] [varchar](50) NULL,
	[RelStatus] [varchar](50) NULL,
	[Comment] [varchar](200) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ItemPatientId] [nvarchar](50) NULL,
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
