USE [PP_Landing]
GO
/****** Object:  Table [dbo].[wkh_country]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wkh_country](
	[countryguid] [int] NOT NULL,
	[iso3166] [varchar](2) NOT NULL,
	[Source_Indicator] [nvarchar](100) NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
