USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqUserDrugClass_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqUserDrugClass_poc](
	[cUserDrugClassId] [int] NULL,
	[DrugKey] [varchar](50) NOT NULL,
	[ClassIdCode] [varchar](50) NOT NULL,
	[DateAddedYYYYMMDD] [varchar](50) NULL,
	[TimeAddedHHMMSS] [varchar](50) NULL,
	[AddedByUser] [varchar](50) NULL,
	[FreeTextFld] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
