USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDoctor_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDoctor_poc](
	[cDoctorId] [int] NOT NULL,
	[DoctorId] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleInit] [varchar](50) NULL,
	[DeaNumber] [varchar](50) NULL,
	[StateNumber] [varchar](50) NULL,
	[HIN] [varchar](50) NULL,
	[UPIN] [varchar](50) NULL,
	[Other] [varchar](50) NULL,
	[Street] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[ZipPlus] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[AlternatePhone] [varchar](50) NULL,
	[NPI] [varchar](50) NULL,
	[LocationCode] [varchar](50) NULL,
	[DeaSuffix] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[Specialty] [varchar](50) NULL,
	[SubDrug] [varchar](50) NULL,
	[NewRx] [int] NULL,
	[RxCount] [int] NULL,
	[LastDate] [date] NULL,
	[Title] [varchar](50) NULL,
	[SPI] [varchar](50) NULL,
	[SureScriptServiceLevelCode] [int] NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[PhoneType] [char](2) NULL,
	[AlternatePhoneType] [char](2) NULL,
	[ClinicName] [varchar](50) NULL,
	[CustomField1] [varchar](50) NULL,
	[CustomField2] [varchar](50) NULL,
	[CustomField3] [varchar](50) NULL,
	[CustomField4] [varchar](50) NULL,
	[SupervisingPhysicianID] [varchar](50) NULL,
	[InActive] [bit] NULL,
	[Suite] [varchar](50) NULL,
	[Is340B] [bit] NULL,
	[XDeaNumber] [varchar](50) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
