USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqMedicareEligibilityPayers_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqMedicareEligibilityPayers_poc](
	[PatientId] [varchar](50) NULL,
	[CoverageType] [char](2) NOT NULL,
	[IdQualifier] [varchar](50) NULL,
	[Id] [varchar](50) NULL,
	[PCN] [varchar](50) NULL,
	[CardholderId] [varchar](50) NULL,
	[GroupId] [varchar](50) NULL,
	[PersonCode] [varchar](50) NULL,
	[HelpDeskNumber] [varchar](50) NULL,
	[PatientRelationshipCode] [varchar](50) NULL,
	[BenefitEffectiveYYYYMMDD] [varchar](50) NULL,
	[BenefitTerminationYYYYMMDD] [varchar](50) NULL,
	[cID] [int] NOT NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
