USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqScriptBase_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqScriptBase_poc](
	[cScriptBaseId] [numeric](18, 0) NOT NULL,
	[ScriptNumber] [int] NOT NULL,
	[LastRefillNumber] [int] NULL,
	[PatientId] [varchar](50) NULL,
	[DrugKey] [varchar](50) NULL,
	[DrugSchedule] [varchar](50) NULL,
	[DateWrittenSQL] [date] NULL,
	[DoctorId] [varchar](50) NULL,
	[FullDispenseQuantity] [decimal](9, 3) NULL,
	[AuthorizedQuantity] [decimal](12, 3) NULL,
	[AvailableQuantity] [decimal](12, 3) NULL,
	[RefillsAuthorized] [int] NULL,
	[NumberOfLabels] [int] NULL,
	[ScriptStatus] [int] NULL,
	[StoreNumber] [varchar](50) NULL,
	[CvtFrom] [int] NULL,
	[InjuryDate] [date] NULL,
	[OnHold] [varchar](50) NULL,
	[TransferSwitch] [varchar](50) NULL,
	[RefillUntilDate] [date] NULL,
	[EScriptTransactionId] [int] NULL,
	[UsersReference] [varchar](50) NULL,
	[CycleFill] [bit] NOT NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[OriginationDate] [date] NULL,
	[PetsName] [varchar](50) NULL,
	[PetsSpecies] [varchar](50) NULL,
	[OfficeUse] [bit] NULL,
	[AccuFloPriority] [varchar](50) NULL,
	[MedSyncCode] [int] NULL,
	[RxFromNumber] [int] NULL,
	[NewScriptNumber] [int] NULL,
	[AuthorizedBy] [varchar](50) NULL,
	[NewDateDone] [date] NULL,
	[PrescriptionOrigin] [varchar](50) NULL,
	[EffectiveDate] [date] NULL,
	[XDeaFlag] [int] NULL,
	[OpioidTreatmentType] [int] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
