USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugGPICategories_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugGPICategories_poc](
	[cDrugGPINotesID] [int] NOT NULL,
	[CategoryKey] [varchar](50) NOT NULL,
	[GPI] [varchar](50) NOT NULL,
	[GenericOrBrand] [char](1) NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
