USE [PP_Landing]
GO
/****** Object:  Table [dbo].[FiveStar_DiabetesApprTx_HTN]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiveStar_DiabetesApprTx_HTN](
	[APCGCN] [nvarchar](255) NULL,
	[GCN] [nvarchar](255) NULL,
	[GPI] [nvarchar](255) NULL,
	[NDC] [nvarchar](255) NULL,
	[Brand_Drug_Name] [nvarchar](255) NULL,
	[Generic_Drug_Name] [nvarchar](255) NULL,
	[Route] [nvarchar](255) NULL,
	[Therapeutic_Category] [nvarchar](255) NULL,
	[Obsolete_Date] [nvarchar](255) NULL,
	[New_Update_Flag] [nvarchar](255) NULL,
	[Recycled_NDC_Flag] [nvarchar](255) NULL,
	[APP-A_Flag] [nvarchar](255) NULL,
	[APP-B_Flag] [nvarchar](255) NULL,
	[APP-C_Flag] [nvarchar](255) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
