USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugBatch_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugBatch_poc](
	[BatchId] [nvarchar](50) NOT NULL,
	[DrugId] [nvarchar](50) NULL,
	[StoreNumber] [nvarchar](50) NULL,
	[LotNumber] [nvarchar](max) NULL,
	[ExpirationDate] [datetime] NULL,
	[QtyInStock] [decimal](12, 3) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastDateDispensed] [datetime] NULL,
	[AuditTracking] [nvarchar](max) NULL,
	[QtyOriginal] [decimal](9, 3) NULL,
	[source_indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
