USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPatientAccountReceivable]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatientAccountReceivable](
	[cPatientAccountReceivableId] [int] NOT NULL,
	[AccountId] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleInitial] [varchar](50) NULL,
	[AccountNumber] [int] NULL,
	[CreditLimit] [int] NULL,
	[FinanceChargeSwitch] [int] NULL,
	[FinanceChargePeriod] [varchar](50) NULL,
	[PrintCode] [varchar](50) NULL,
	[LastPaymentAmount] [float] NULL,
	[LastPaymentDate] [date] NULL,
	[ResponsibleIdentifier] [varchar](50) NULL,
	[YearToDateInterest] [float] NULL,
	[PreviousBalance] [float] NULL,
	[AmountDue] [float] NULL,
	[Over30Days] [float] NULL,
	[Over60Days] [float] NULL,
	[Over90Days] [float] NULL,
	[Over120Days] [float] NULL,
	[CurrentDebits] [float] NULL,
	[CurrentCredits] [float] NULL,
	[TotalBalance] [float] NULL,
	[YearToDateMedical] [float] NULL,
	[FinanceChargeFlag] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[IsValid] [bit] NULL,
	[ServiceChargeFlag] [varchar](50) NULL,
	[ServiceChargeAmount] [float] NULL,
	[OwnerPatientId] [varchar](50) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
