USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqRxAlertCustomSettings_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqRxAlertCustomSettings_poc](
	[CustomAlertTemplateId] [nvarchar](50) NOT NULL,
	[CustomAlertDescription] [nvarchar](max) NULL,
	[CustomAlertActivated] [bit] NULL,
	[CustomAlertEmailMessage] [nvarchar](max) NULL,
	[CustomAlertEmailSubject] [nvarchar](max) NULL,
	[CustomAlertTextMessage] [nvarchar](max) NULL,
	[CustomAlertVoiceMessage] [nvarchar](max) NULL,
	[CustomAlertTimeSpanValue] [bigint] NULL,
	[CustomAlertWorkflowAction] [nvarchar](50) NULL,
	[StoreNumber] [varchar](3) NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_Updated_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
