USE [PP_Landing]
GO
/****** Object:  Table [dbo].[m25_MDDB_R]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m25_MDDB_R](
	[NDC_UPC_HRI] [char](11) NOT NULL,
	[IdNumberFormatCode] [char](1) NOT NULL,
	[RecordCode] [char](3) NOT NULL,
	[TransactionCode] [char](1) NOT NULL,
	[AWPIndicatorCode] [char](1) NOT NULL,
	[AWPPackagePrice] [decimal](10, 2) NOT NULL,
	[AWPUnitPrice] [decimal](13, 5) NOT NULL,
	[EffectiveYYYYMMDD] [char](8) NOT NULL,
	[OlderAWPPackagePrice] [decimal](10, 2) NOT NULL,
	[OlderAWPUnitPrice] [decimal](13, 5) NOT NULL,
	[OlderAWPEffectiveYYYYMMDD] [char](8) NOT NULL,
	[Reserve1] [char](8) NOT NULL,
	[LastChangeYYDDD] [char](5) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
