USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqDrugItemNumber_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqDrugItemNumber_poc](
	[VendorId] [int] NOT NULL,
	[DrugKey] [varchar](50) NULL,
	[ItemNumber] [varchar](50) NULL,
	[VendorContainerACQ] [float] NULL,
	[VendorGeneric] [bit] NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Update_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
