USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqPatientAllergies_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqPatientAllergies_poc](
	[PatientId] [varchar](50) NOT NULL,
	[Allergy] [varchar](50) NOT NULL,
	[AllergyNotes] [varchar](1250) NULL,
	[AllergyDateAdded] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL,
	[Record_updated_Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
