USE [PP_Landing]
GO
/****** Object:  Table [dbo].[dc_GPI]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dc_GPI](
	[GenericProductIdentifier] [char](14) NOT NULL,
	[RecordType] [char](2) NOT NULL,
	[RecordSubtype] [char](2) NOT NULL,
	[AlternateStandardIndicator] [char](2) NOT NULL,
	[MinimumDailyDosageUnits] [decimal](12, 2) NOT NULL,
	[UsualDailyDosageUnits] [decimal](12, 2) NOT NULL,
	[MaximumDailyDosageUnits] [decimal](12, 2) NOT NULL,
	[MinimumDurationOfTherapy] [int] NOT NULL,
	[UsualDurationOfTherapy] [int] NOT NULL,
	[MaximumDurationOfTherapy] [int] NOT NULL,
	[DirectionsForUseCode] [varchar](50) NULL,
	[ReferenceCode] [varchar](50) NULL,
	[MinimumIndividualDose] [decimal](12, 2) NULL,
	[LastChangeYYYYMMDD] [varchar](50) NOT NULL,
	[Source_Indicator] [nvarchar](100) NOT NULL,
	[Record_Created_Date] [datetime] NOT NULL,
	[Record_Updated_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
