USE [PP_Landing]
GO
/****** Object:  Table [dbo].[rxqUnitDose_poc]    Script Date: 7/27/2026 6:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rxqUnitDose_poc](
	[ScriptNumber] [int] NOT NULL,
	[MorningQty] [nvarchar](50) NULL,
	[NoonQty] [nvarchar](50) NULL,
	[EveningQty] [nvarchar](50) NULL,
	[NightQty] [nvarchar](50) NULL,
	[MorningOverride] [nvarchar](50) NULL,
	[NoonOverride] [nvarchar](50) NULL,
	[EveningOverride] [nvarchar](50) NULL,
	[NightOverride] [nvarchar](50) NULL,
	[DispenseType] [int] NULL,
	[TimesQtysName] [nvarchar](50) NULL,
	[DaysInCycle] [int] NULL,
	[StartDate] [datetime] NULL,
	[MOTOverride] [nvarchar](max) NULL,
	[Source_Indicator] [nvarchar](max) NOT NULL,
	[Record_created_date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
