USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertUserRecordId_ETL]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[Sp_InsertUserRecordId_ETL] AS BEGIN  
  
 ;with MedTrkUsr as   
 (  
 select id,name,EmailID from UserDetails  
 where Is_SSUser=0 and IsActive=1  
 )  
 ,  
 rxqUser as  
 (  
 select *   
 from pp_ods..rxqUser   
 )  
 ,  
 NameMatchedUsers as  
 (  
 select id,Name,RecordId,EmailID  
 from   
 (  
 select   m.id,m.Name,r.RecordId,m.EmailID ,  
 ROW_NUMBER() over(partition by r.firstname,r.lastname  
 order by r.lastmodified desc)Rnk  
 from MedTrkUsr m  
 join rxqUser r   
 on  (r.FirstName+' '+r.LastName=m.Name)  
 )abc where Rnk=1  
  
 )   
 --select * from NameMatchedUsers  
 ,  
 EmailMatchedUser as ---exclude NameMatchedUsers  
 (  
 select  id,Name,RecordId,EmailID from   
 (  
 select distinct  m.id,m.Name,r.RecordId,m.EmailID,  
 ROW_NUMBER() over(partition by r.firstname,r.lastname  
 order by r.lastmodified desc)Rnk  
 from MedTrkUsr m  
 join rxqUser r   
 on  (r.Email=m.EmailID)  
 left join NameMatchedUsers n on n.ID =m.ID  
 where n.id is null   
 ) abc where Rnk=1  
 )  
 --select * from EmailMatchedUser  
  
 --select abc.RecordId,abc.FirstName,abc.LastName,LastModified,Title,RphInitials from   
 --(  
 --select r.* ,ROW_NUMBER() over(partition by firstname,lastname,recordid  
 --order by lastmodified desc)Rnk  
 --from pp_ods..rxqUser r  
 --join  
 --(  
 --select id,name,count(distinct RecordId) CNT  
 --from NameMatchedUsers  
 --group by id,Name  
 --having count(distinct RecordId) > 1  
 --) a on a.Name=r.FirstName+' '+r.LastName  
 --) abc   
 --where Rnk=1  
 --order by abc.FirstName,abc.LastModified desc  
  
 --select id from   
 --(  
 --select * from NameMatchedUsers  
 --union   
 --select * from EmailMatchedUser  
 --) a   
 --group by id   
 --having count(1)>1  
 --order by name  
  
 insert into [UserRecordIdMapping]([UserID],[Name],EmailID,RecordId,RoleDesc)  
  
 select u.id,u.Name,u.EmailID,a.RecordId,u.RoleDesc  
 from userdetails u   
  join  
 (  
 select * from NameMatchedUsers  
 union   
 select * from EmailMatchedUser  
 ) a  on a.id=u.id  
 left join UserRecordIdMapping uri on uri.EmailID=u.EmailID  
 where u.Is_SSUser=0 and u.IsActive=1 and a.RecordId is not null 
 and uri.EmailID is null  
 order by case when a.RecordId is null then 0 else 1  end  
 ,u.RoleDesc,u.Name  
  
END  
  
GO
