USE [MediTrackerDB_Test]
GO
/****** Object:  View [dbo].[vw_PatientSnapshotInfo_backup]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_PatientSnapshotInfo_backup]        
as         
select v.GlobalId as PatientId,v.*,        
m.ProviderName,      
m.NextAppointmentDate      
from PatientView v with(nolock)        
left join         
PP_Athena_ODS..MediTracker_PatientSnapshotInfo_test M with(nolock) on         
(         
   (v.PVID=m.pvid  )        
or        
  (v.PatientIdentifier=m.PATIENTID  )              
  or         
  (v.PatientIdentifier = m.Name_DOB)        
  or         
  (v.PatientIdentifier=m.SSN_DOB)        
) 
GO
