USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientReviewDetailsInsert]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PatientReviewDetailsInsert](@PatientIdentifier varchar(200)         
,@Role varchar(100)=null )                    
as                     
begin                     
                    
Declare @lv_PatientIdentifier varchar(200)=  @PatientIdentifier                    
                    
if not exists (select 1 from PatientMedReviewDetails p with(nolock)                    
where PatientIdentifier=@lv_PatientIdentifier)                    
begin                     
;with cte as                    
(                    
select p.*, ROW_NUMBER() over(partition by PatientIdentifier order by revieweddate desc) RNK                    
from PatientMedicationList p with(nolock)                    
where PatientIdentifier=@lv_PatientIdentifier and                     
IsPacked='yes' and Reviewed='yes'                    
and not exists                     
(select 1 from PatientMedicationList t with(nolock)                    
where IsPacked='yes'  and Reviewed='no'                    
and p.PatientIdentifier=t.PatientIdentifier                    
)                    
)                    
                    
insert into [dbo].PatientMedReviewDetails(                    
                       
 [Globalid] ,                    
 [SSN] ,                    
 [PatientName] ,                    
 [PatientIdentifier] ,                    
 [DateOfBirth] ,                    
 [ReviewedBy] ,                    
 [ReviewedDate] ,                    
 [Createddate],                    
 Updateddate ,                
 color  ,Updatedby   ,comments           
                     
)                     
                    
select                     
[Globalid] ,                    
 [SSN] ,                    
 [PatientName] ,                    
 [PatientIdentifier] ,                    
 [DateOfBirth] ,                    
 [ReviewedBy] ,                    
 cast([ReviewedDate] as date) [ReviewedDate] ,                    
 getdate() as [Createddate],                    
 getdate() as Updateddate ,                
 'green' as color  ,[ReviewedBy] as updatedby   ,'Medlist Reviewed' as comments            
 from cte where rnk=1               
-- /*Added to handle intern*/            
-- and [ReviewedBy] not in (select name             
--from UserDetails d where roledesc='Intern')            
 end                     
else                     
begin                     
                    
 ;with cte as                    
(                    
select p.*, ROW_NUMBER() over(partition by PatientIdentifier order by revieweddate desc) RNK                    
from PatientMedicationList p with(nolock)                    
where PatientIdentifier=@lv_PatientIdentifier and                     
IsPacked='yes' and Reviewed='yes'                    
and not exists                     
(select 1 from PatientMedicationList t with(nolock)                    
where IsPacked='yes'  and Reviewed='no'                    
and p.PatientIdentifier=t.PatientIdentifier                    
)                    
)                    
                    
update p set ReviewedBy=cte.ReviewedBy ,ReviewedDate=cast(cte.ReviewedDate as date)                  
,Updateddate=getdate()    ,color='green'  ,Updatedby =cte.ReviewedBy     
,comments  ='Medlist Reviewed'    
output deleted.[Globalid] ,                    
 deleted.[SSN] ,                    
 deleted.[PatientName] ,                    
 deleted.[PatientIdentifier] ,                    
 deleted.[DateOfBirth] ,                    
 deleted.[ReviewedBy] ,                    
 deleted.[ReviewedDate] ,                    
 deleted.[Createddate],                    
 deleted.Updateddate  ,                
 deleted.color,                
 deleted.RevID ,deleted.comments ,deleted.Updatedby              
 into PatientMedReviewHistory([Globalid] ,                    
 [SSN] ,                    
 [PatientName] ,                    
 [PatientIdentifier] ,                    
 [DateOfBirth] ,                    
 [ReviewedBy] ,                    
 [ReviewedDate] ,                    
  [Createddate],                    
 Updateddate,color,RevID,comments,Updatedby)                    
from cte                     
join PatientMedReviewDetails p on p.PatientIdentifier=cte.PatientIdentifier                    
and (   
(p.ReviewedBy<> cte.ReviewedBy) or (cast(p.ReviewedDate as date)<>                    
cast(cte.ReviewedDate as date)) or (p.color<> 'green')  
or (comments  <>'Medlist Reviewed')  
)                    
/*inorder to avoid same user ,same date,same color  review update multiple times*/                  
where rnk=1             
/*added to handle intern*/            
-- and cte.ReviewedBy not in (select name             
--from UserDetails d where roledesc='Intern')            
                    
 end                    
                    
end 
GO
