USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_MediTracker_PatientSnapshotInfo_ETL]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_MediTracker_PatientSnapshotInfo_ETL]                    
as                     
begin                    
            
drop table if exists #PatientNextAppointment                    
                      
;WITH CTE AS(                      
SELECT patientid,APPOINTMENTDATE,                    
appointmentid,                    
ROW_NUMBER() over (partition by patientid order by APPOINTMENTDATE ) RN                      
FROM PP_Athena_ODS.athenaone.appointment  with(nolock)                    
WHERE appointmentdate >= Convert(Date,GETDATE())                    
and APPOINTMENTSTATUS not like '%cancel%'and patientid is not null                       
)                      
                      
SELECT  * into #PatientNextAppointment                      
FROM CTE                       
WHERE RN=1                       
order by PATIENTID,APPOINTMENTDATE                    
                    
drop table if exists #PatientProviderinfo                    
                    
;with providerDetails as(                      
select CE.PATIENTID,PR.PROVIDERID,PR.PROVIDERFIRSTNAME,PR.PROVIDERLASTNAME                      
,ROW_NUMBER() Over (partition by CE.PATIENTID order by CE.ENCOUNTERDATE desc)Recent                      
from PP_Athena_ODS.ATHENAONE.PROVIDER PR (nolock)                      
inner join PP_Athena_ODS.ATHENAONE.ClinicalEncounter                     
CE (nolock) ON CE.PROVIDERID=PR.PROVIDERID                      
where ce.ENCOUNTERSTATUS ='closed'                     
)                      
                      
select * INTO #PatientProviderinfo                      
from providerDetails where recent=1                      
                    
drop table if exists #TempPatientinfo                    
                    
Select                       
P.PATIENTID                      
,P.DOB as Date_Of_Birth                      
,PATIENTSSN, FIRSTNAME,LASTNAME                    
INTO #TempPatientinfo                      
From PP_Athena_ODS.ATHENAONE.Patient as P (nolock)                      
where PATIENTID<>'0' and PATIENTID is not null                     
---select * from #PatientProviderinfo                    
                    
drop table if exists #MediTracker_PatientSnapshotInfo                    
                    
select cast(t.PATIENTID as varchar(100)) as PATIENTID,t.PATIENTSSN,t.Date_Of_Birth,                    
cast(t.FIRSTNAME as varchar(50))+' '+cast(t.LASTNAME as varchar(50)) as PatientName ,                     
cast(p.PROVIDERFIRSTNAME as varchar(50))+' '+cast(p.PROVIDERLASTNAME as varchar(50)) as ProviderName,                    
a.APPOINTMENTDATE as NextAppointmentDate,                    
t.PATIENTSSN+replace(cast(t.Date_Of_Birth  as varchar(15)),'-','')  SSN_DOB ,                    
 isnull(cast(t.FIRSTNAME as varchar(50)),'')+' '+                    
 isnull(cast(t.LASTNAME as varchar(50)),'')                     
 +replace(cast(t.Date_Of_Birth  as varchar(15)),'-','') Name_DOB,                    
getdate()Recordcreateddate                    
into #MediTracker_PatientSnapshotInfo                    
from #TempPatientinfo t                     
left join #PatientProviderinfo p on p.PATIENTID=t.PATIENTID                    
left join #PatientNextAppointment a on a.PATIENTID=t.PATIENTID                    
                    
 drop table if exists #Libertymedicinedetails                              
                              
select                              
(p.FirstName+' '+p.LastName) as Patientname_Liberty                              
,p.DateOfBirth as DOB_Liberty                         
,case when p.SocialSecurityNumber like '%000000%' then ''           
else p.SocialSecurityNumber end as SSN                    
,cast (P.globalid  as int) globalid                     
,p.PatientId                    
--,D.DoctorId as ProvideID                              
,(D.FirstName+' '+D.LastName) Providername                              
,D.source_indicator as source_indicator                              
,cast (st.DateDispensedSQL as date)  DateDispensedSQL                              
                              
INTO #Libertymedicinedetails           
From PP_ODS..rxqDoctor as D (nolock)                              
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                              
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator                              
left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber                              
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                              
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                
and SB.Source_Indicator=ST.Source_Indicator                              
where                                         
DateDispensedSQL<>'9999-09-09'                              
and                   DateDispensedSQL >=cast(DATEADD(MONTH, -6, GETDATE()) as date)                           
 order by PatientId                              
               
update #Libertymedicinedetails set SSN='' where SSN='999999999'			   
                    
--select * from                     
--(                    
--select * ,row_number() over(partition by globalid order by DateDispensedSQL desc) rnk                    
--from  #Libertymedicinedetails                    
--) abc                    
--where rnk=1                    
                    
/*Patients with no Provider information in Athena system and have globalids            
is updated with Liberty provider information              
*/            
update m set ProviderName=m.ProviderName                    
--select m.* ,abc.Providername                    
from                     
#MediTracker_PatientSnapshotInfo  m                     
join (                    
select * ,row_number() over(partition by globalid order by DateDispensedSQL desc) rnk                    
from  #Libertymedicinedetails                    
where globalid<>'0'  and globalid is not null and globalid<>''                    
) abc on abc.globalid=m.PATIENTID                    
 where m.ProviderName is null and rnk=1                    
                    
-- select m.*                     
--from                     
--#MediTracker_PatientSnapshotInfo  m                    
--where m.ProviderName is null                    
                    
drop table if exists #tempPatientView                   
select * into #tempPatientView                   
from PatientView                    
                    
---select * from  #tempPatientView                   
/*Patients with no Provider information in Athena system and have NO globalids            
is updated with Liberty provider information by matching with SSN,DOB and Patientname            
*/                    
;with cte as                     
(                    
select m.PatientId ,l.Providername ,                     
row_number() over(partition by m.PatientId order by l.DateDispensedSQL desc,l.Providername desc) rnk                    
from  #Libertymedicinedetails l                     
join #MediTracker_PatientSnapshotInfo m on                     
(                          
                          
  ( (l.GlobalId ='0' ) and l.ssn<>''                          
and  m.PATIENTSSN<>''                          
and l.ssn=m.PATIENTSSN and l.DOB_Liberty=m.Date_Of_Birth                          
  )                          
or                          
  ( (l.GlobalId ='0') and (l.ssn='' or  m.PATIENTSSN in ('','000000000','         ') )                          
and l.DOB_Liberty= m.Date_Of_Birth and (l.Patientname_Liberty) = m.PatientName                          
  )                          
)                    
where (l.globalid='0'  ) and m.ProviderName is null                     
 )                     
                    
 update m set ProviderName=cte.Providername                    
 --select m.* ,cte.Providername                    
 from cte                     
 join #MediTracker_PatientSnapshotInfo m on cte.PATIENTID=m.PATIENTID                    
 where rnk=1 and m.ProviderName is null                     
                    
 alter table #MediTracker_PatientSnapshotInfo                    
 add pvid int                     
                    
/*mapping pvid (unique id) of patient view to PatientSnapshotInfo*/            
 update m set pvid=v.PVID                    
--select m.*                    
from #tempPatientView v with(nolock)                    
 join                     
#MediTracker_PatientSnapshotInfo M with(nolock) on                    
(                          
  (cast(v.PatientIdentifier as varchar(100)) =cast(m.PATIENTID as varchar(100)) )                          
  or                     
  (v.PatientIdentifier = m.Name_DOB)                    
  or                     
  (v.PatientIdentifier=m.SSN_DOB)                    
)                    
              
--select * from #MediTracker_PatientSnapshotInfo M with(nolock)                    
                    
--select * from #tempPatientView             
            
/*Compliance Patients that are not part of athena system            
and have provider names in liberty system is fetched and added to             
PatientSnapshotInf            
*/                
            
;with cte as                     
(                    
select  v.globalid, v.ssn,v.dateofbirth,v.patientname ,l.providername,                    
getdate() recordcreateddate,v.pvid,                    
row_number() over(partition by v.PVID order by l.DateDispensedSQL desc,l.Providername desc) rnk                    
from #tempPatientView v with(nolock)                    
left join                     
#MediTracker_PatientSnapshotInfo M with(nolock) on                     
(                          
  m.pvid = v.PVID                    
)                    
left join #Libertymedicinedetails l on                     
(                      
  ( (l.GlobalId ='0' ) and l.ssn<>''                          
and  v.ssn<>''                          
and l.ssn=v.ssn and l.DOB_Liberty=v.DateOfBirth                          
  )                          
 or                     
  ( (l.GlobalId ='0') and (l.ssn='' or  v.SSN='' )                          
and l.DOB_Liberty= v.DateOfBirth and (l.Patientname_Liberty) = v.PatientName                          
  )                     
)                    
where m.ProviderName is null and m.PATIENTID is null                     
)                    
                    
insert into #MediTracker_PatientSnapshotInfo                    
(PATIENTID,PATIENTSSN,Date_Of_Birth,PatientName,ProviderName,Recordcreateddate,pvid)                    
select                     
globalid, ssn,dateofbirth,patientname ,providername,                    
 recordcreateddate,pvid                    
from cte where rnk=1                    
and providername is not null                     
                    
truncate table MediTracker_PatientSnapshotInfo                    
                    
insert into MediTracker_PatientSnapshotInfo                    
(                    
 [PATIENTID] ,                    
 [PATIENTSSN] ,                    
 [Date_Of_Birth] ,                    
 [PatientName] ,                    
 [ProviderName] ,                    
 [NextAppointmentDate] ,                    
 SSN_DOB ,                    
 Name_DOB ,                    
 Recordcreateddate ,                    
 pvid                     
)                     
                    
select [PATIENTID] ,                    
 [PATIENTSSN] ,                    
 [Date_Of_Birth] ,                    
 [PatientName] ,                    
 [ProviderName] ,                    
 [NextAppointmentDate] ,       SSN_DOB ,                    
 Name_DOB ,                    
 Recordcreateddate ,                    
 pvid                     
 from                    
#MediTracker_PatientSnapshotInfo                    
--select * from #Libertymedicinedetails where Patientname_Liberty='THOMAS WEST'                     
--and DOB_Liberty='1954-01-01'                    
                    
 end 
GO
