USE [MediTrackerDB_Test]
GO
/****** Object:  Table [dbo].[PatientMedTimeSlots_History]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedTimeSlots_History](
	[TimeSlotHisId] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlotId] [int] NULL,
	[TimeSlot1] [varchar](10) NULL,
	[TimeSlot2] [varchar](10) NULL,
	[TimeSlot3] [varchar](10) NULL,
	[TimeSlot4] [varchar](10) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[RecordModifiedBy] [varchar](200) NULL,
	[RecordModifiedDate] [datetime] NULL,
	[DMLType] [varchar](10) NULL,
	[HistoryCreatedDate] [datetime] NULL,
	[HistoryCreatedBy] [varchar](100) NULL,
	[TimeSlot0] [varchar](10) NULL
) ON [PRIMARY]
GO
