USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[Usp_LibertyMedicationList_CompPack_Get_backup_may6th]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*      
exec [dbo].[Usp_LibertyMedicationList_CompPack_Get_backup_may6th]      
'126384'     
*/      
CREATE procedure [dbo].[Usp_LibertyMedicationList_CompPack_Get_backup_may6th]         
(        
@PatientIdentifier varchar(200)      
)        
as        
begin          
select         
 c.[PatientName] ,               
 c.Globalid ,        
 c.SSN ,        
 c.[Drug_name] ,                
 c.[DateDispensedSQL] ,        
 c.[QuantityDispensed] ,      
 c.[Sigs],        
 c.[OnHold] ,        
 c.[Sb_LastModified] ,        
 c.PharmacyName as Pharmacy,c.ScriptNumber,c.cScriptTransactionId ,c.PatientIdentifier      
from [LibertyMedicationList_CompPack] c  with(nolock)         
left join PatientMedicationList p with(nolock)       
on p.cScriptTransactionId=c.cScriptTransactionId        
and p.ScriptNumber=c.ScriptNumber        
join PatientView v with(nolock) on              
isnull(v.LastPackDate ,'1900-01-01') <=  c.Sb_LastModified        
and   (c.PatientIdentifier=v.PatientIdentifier  )  
where  
 p.cScriptTransactionId is null  and c.PatientIdentifier=@PatientIdentifier       
order by  c.Globalid,c.SSN,c.Sb_LastModified desc,c.DateDispensedSQL desc,c.Drug_name         
   
    
end 
GO
