USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[Sp_AddScriptsToPortal]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
/*Source Table scripts*/
select * from AllRxqPatientsMedicineInfo

/*SP Logic */
DECLARE @PatientScripts dbo.PatientScripts, @IsSuccess BIT;
DEclare @user varchar(50) ='TestUser',@TargetPatientIdentifier varchar(300)='12345'

INSERT INTO @PatientScripts (ScriptNumber, RefillNumber)
VALUES 
(26789054, 0),
(24162571, 0),
(56209527,0)

Exec Sp_AddScriptsToPortal @PatientScripts,@TargetPatientIdentifier,@user,
 @IsSuccess = @IsSuccess OUTPUT;

SELECT @IsSuccess AS IsSuccessFlag;

/*Target Table */
select * from PatientMedicationList
where ScriptNumber in ('26789054','24162571','56209527')

*/
CREATE PROCEDURE [dbo].[Sp_AddScriptsToPortal]  
(@PatientScripts [PatientScripts] READONLY  
 ,@TargetPatientIdentifier varchar(300) ,
 @user varchar(50),
 @IsSuccess BIT OUTPUT
)
AS                      
BEGIN                     
                  
-- Declare a variable of your table type
--DECLARE @PatientScripts dbo.PatientScripts;
--DEclare @user varchar(50) ='TestUser',@TargetPatientIdentifier varchar(300)='12345'

-- Insert some test data
--INSERT INTO @PatientScripts (ScriptNumber, RefillNumber)
--VALUES 
--(56209527, 0),
--(26782544, 0)

---- Now pass it to your stored procedure
--EXEC dbo.usp_TestPatientScripts @PatientScripts;

Insert into PatientMedicationList
(
Globalid
,SSN
,PatientName
,Drug_name
,sigs
,QuantityDispensed
,Pharmacy
,DateDispensedSQL
,Sb_LastModified
,ScriptNumber
,cScriptTransactionId
,OnHold
,RecordCreatedDate
, RecordCreatedBy
, RecordModifiedDate
, RecordModifiedBy
, DMLType
, Source
, IsPacked
, PatientIdentifier
,DateOfBirth
,DateWritten
,Prescriber
,NdcNumber
,RefillNumber

)
         
select 		 
 r.Globalid
,r.SSN
,r.PatientName
,r.Drug_name
,r.sigs
,r.QuantityDispensed
,r.Pharmacy
,r.DateDispensedSQL
,r.Sb_LastModified
,r.ScriptNumber
,r.cScriptTransactionId
,r.OnHold
,getdate() RecordCreatedDate
,@user RecordCreatedBy
,getdate() RecordModifiedDate
,@user RecordModifiedBy
,'Insert' DMLType
,'RXQScreen' Source
,'No' IsPacked
,@TargetPatientIdentifier PatientIdentifier
,r.DateOfBirth
,r.DateWritten
,r.Prescriber
,r.NdcNumber
,r.RefillNumber
 from AllRxqPatientsMedicineInfo r  with(nolock)
 INNER JOIN @PatientScripts m                      
 ON r.RefillNumber = m.RefillNumber and r.ScriptNumber=m.ScriptNumber
 left join PatientMedicationList  p with(nolock) on p.ScriptNumber=r.ScriptNumber
 and p.RefillNumber=r.RefillNumber
 where p.ScriptNumber is null 

 IF @@ROWCOUNT > 0
        SET @IsSuccess = 1;
    ELSE
        SET @IsSuccess = 0;  
END              
              
            
        
        
      
      









GO
