USE [MediTrackerDB_Test]
GO
/****** Object:  Table [dbo].[TimeSlotsReviewDetails]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlotsReviewDetails](
	[TSID] [int] IDENTITY(1,1) NOT NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [date] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
