USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_Patientmedication_ETL]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[SP_Patientmedication_ETL]                            
as                             
begin                             
                            
drop table if exists #Libertymedicinedetails_Total                                      
                                      
select                                      
DG.Name as Drug_name                                      
,P.patientid                                      
,(p.FirstName+' '+p.LastName) as Patientname_Liberty                                      
,p.DateOfBirth as DOB_Liberty                                      
---,p.Gender as Gender_Liberty                               
,p.SocialSecurityNumber as SSN                               
----, P.MedicareBeneficiaryId                              
,P.globalid                                     
--,D.DoctorId as ProvideID                                      
---,(D.FirstName+' '+D.LastName) Providername                                      
,D.source_indicator as source_indicator                                      
--,MD.NDC_UPC_HRI as NDC_Number                                      
--,MD.GenericProductIdentifier as GenericProductIdentifier                                      
--,Md.GPIGenericName                                      
---,DG.NdcNumber                                      
--,DrugKey                                      
,cast (st.DateDispensedSQL as date)  DateDispensedSQL                                      
--,sb.RefillsAuthorized                                      
----,sb.FullDispenseQuantity                                      
,st.QuantityDispensed                                      
---,st.DaysSupply                                      
---,d.NPI                                      
---,st.RefillNumber                                      
----,sb.AuthorizedQuantity,sb.AvailableQuantity                                      
----,sb.RefillUntilDate,st.NextDispensedQuantity                                      
----,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B                                
,st.ScriptNumber,sb.cScriptBaseId ,p.cQueueId,q.QueueName,                              
ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId  ,                              
---st.TimeStampAsOfDate,                              
  st.LastModified st_LastModified,st.sigs,                              
  ---st.IsValid,st.PromiseDateTime,                              
  q.QueueName as st_queuename,                              
  ---sb.LastRefillNumber,                              
  ----sb.DateWrittenSQL,                              
  sb.OnHold,sb.LastModified Sb_LastModified,st.cScriptTransactionId,                              
  case when  OnHold='y' then cast(sb.LastModified as date)                              
else cast(DateDispensedSQL as date) end as Deriveddatedispensedsql  ,                
sb.datewrittensql                 
INTO #Libertymedicinedetails_Total                                      
From PP_ODS..rxqDoctor as D (nolock)                                      
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator                                      
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator                                      
--left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber                                      
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator                                      
--inner join #AllpatientsInfo PAI on  P.PatientId=PAI.PatientId and P.Source_Indicator=PAI.Source_Indicator                               
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber                                        
and SB.Source_Indicator=ST.Source_Indicator                 
left join PP_ODS..rxqQueue q     (nolock)                          
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator                              
where                                       
 sb.LastModified >=cast(DATEADD(week, -1, GETDATE())  as date)                            
 and OnHold='n'            
                             
 /*Releasing Hold */                            
 update p set p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                            
 p.DateDispensedSQL=t.DateDispensedSQL ,p.Sb_LastModified=t.Sb_LastModified,                         
 p.OnHold='N'  ,p.QuantityDispensed=t.QuantityDispensed,p.PMRemarks='HoldRelease' ,                
 p.DateWritten=t.DateWrittenSQL                
 --select p.*                             
 from PatientMedicationList p                             
 join                             
 #Libertymedicinedetails_Total  t on t.ScriptNumber=p.ScriptNumber and t.cScriptTransactionId                            
 =p.cScriptTransactionId                            
where p.OnHold='Y' and t.OnHold='n'                            
                            
drop table if exists #temp_PatientMedicationList                            
                            
select P.* ,pv.remarks , pv.Globalid as Globalid_pv ,pv.ssn as ssn_pv                            
into #temp_PatientMedicationList                            
--select P.* ,pv.remarks , pv.Globalid_pv ,pv.ssn_pv                            
from PatientMedicationList p with(nolock)                            
join PatientView pv  with(nolock) on pv.PatientIdentifier=p.PatientIdentifier                            
where pv.Remarks in ('GlobalId update','GlobalId_SSN update')                            
                            
                           
alter table #temp_PatientMedicationList                            
add PatientIdentifier_new varchar(200)                            
                            
                            
update #temp_PatientMedicationList set PatientIdentifier_new=Globalid_pv,                            
Globalid=Globalid_pv                            
where Remarks in ('GlobalId update')                            
                            
update #temp_PatientMedicationList set                            
PatientIdentifier_new=case when Globalid_pv <> '' then  Globalid_pv                            
when  Globalid_pv = ''  and ssn_pv<>'' then ssn_pv+replace(cast(DateOfBirth  as varchar(15)),'-','')                              
when  Globalid_pv = ''  and ssn_pv=''                             
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end,                            
Globalid=Globalid_pv,SSN=ssn_pv                             
where Remarks in ('GlobalId_SSN update')                            
                            
update p set ---p.RecordModifiedBy='SS_ETL_Job' ,p.RecordModifiedDate=getdate(),                            
PatientIdentifier =t.PatientIdentifier_new , Globalid=t.Globalid                     
,PMRemarks='PatientIdentifier Update'                           
, ssn=t.ssn                            
--select *                             
from #temp_PatientMedicationList t                            
join PatientMedicationList p on p.PMID=t.PMID                      
                    
drop table if exists #PatientView_Newinfo                      
                    
select  case when Globalid <> '' then  Globalid                            
when  Globalid = ''  and ssn<>'' then ssn+replace(cast(DateOfBirth  as varchar(15)),'-','')                              
when  Globalid = ''  and ssn=''                             
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                     
as NewPatientIdentifier ,PatientIdentifier                    
into #PatientView_Newinfo                    
--select *                             
from PatientView  v where Remarks                            
in ('GlobalId update','GlobalId_SSN update')                    
                    
update his set                     
PatientIdentifier=NewPatientIdentifier                    
--select   his.*                          
from PatientMedicationList_History his                          
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=his.PatientIdentifier                            
                     
update rev set                     
PatientIdentifier=NewPatientIdentifier                    
--select   pv.*                          
from PatientMedReviewHistory rev                          
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=rev.PatientIdentifier               
            
update rev set                     
PatientIdentifier=NewPatientIdentifier                    
--select   pv.*                          
from PatientMedReviewDetails rev                    
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=rev.PatientIdentifier             
                    
update notes set                     
PatientIdentifier=NewPatientIdentifier                    
--select   pv.*                          
from PatientView_NotesHistory notes                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=notes.PatientIdentifier               
        
update notes set                     
PatientIdentifier=NewPatientIdentifier                    
--select   pv.*                          
from TimeSlotsReviewDetails notes                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=notes.PatientIdentifier         
              
update notes set                     
PatientIdentifier=NewPatientIdentifier                    
--select   pv.*                          
from TimeSlotsReviewHistoryDetails notes                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=notes.PatientIdentifier        
        
update HMPPPhrmcy set                     
PatientIdentifier=NewPatientIdentifier                    
--select   NewPatientIdentifier,HMPPPhrmcy.*                          
from Displayname_HomePackPharmacies HMPPPhrmcy                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=HMPPPhrmcy.PatientIdentifier      
    
update ts set                     
PatientIdentifier=NewPatientIdentifier                    
--select   NewPatientIdentifier,HMPPPhrmcy.*                          
from PatientMedTimeSlots ts                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=ts.PatientIdentifier     
    
update sg set                     
PatientIdentifier=NewPatientIdentifier                    
--select   NewPatientIdentifier,HMPPPhrmcy.*                          
from PatientMedSigQuantity  sg                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=sg.PatientIdentifier     
    
update tsr set                     
PatientIdentifier=NewPatientIdentifier                    
--select   NewPatientIdentifier,HMPPPhrmcy.*                          
from TimeSlotsReviewDetails  tsr                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=tsr.PatientIdentifier     
    
update tsrh set                     
PatientIdentifier=NewPatientIdentifier                    
--select   NewPatientIdentifier,HMPPPhrmcy.*                          
from TimeSlotsReviewHistoryDetails  tsrh                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=tsrh.PatientIdentifier     

update pmsh set                     
PatientIdentifier=NewPatientIdentifier                    
--select   NewPatientIdentifier,HMPPPhrmcy.*                          
from PatientMedSigQuantity_History  pmsh                           
join #PatientView_Newinfo pv                      
on pv.PatientIdentifier=pmsh.PatientIdentifier   
                    
                            
update v set Remarks='PatientIdentifier Update',                            
PatientIdentifier=case when Globalid <> '' then  Globalid                            
when  Globalid = ''  and ssn<>'' then ssn+replace(cast(DateOfBirth  as varchar(15)),'-','')                              
when  Globalid = '' and ssn=''                             
then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                            
--select *                             
from PatientView  v where Remarks                            
in ('GlobalId update','GlobalId_SSN update')                            
                            
                            
--select * from PatientView where PatientName ='SANDY BUSH'                            
                            
--update PatientView  set PatientIdentifier=case when Globalid <> '' then  Globalid                            
--when  Globalid = ''  and ssn<>'' then ssn+replace(cast(DateOfBirth  as varchar(15)),'-','')                              
--when  Globalid = ''  and ssn=''                             
--then PatientName+replace(cast(DateOfBirth  as varchar(15)),'-','') end                            
--where PatientName ='SANDY BUSH'                      
                            
                            
                            
end 
GO
