USE [MediTrackerDB_Test]
GO
/****** Object:  Table [dbo].[users_prodbackup]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_prodbackup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Names] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
