USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_LibertyinfoPast6Months_ETL_backup]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_LibertyinfoPast6Months_ETL_backup] 
as  
begin  
/*Libery Insert*/          
drop table if exists #Libertymedicinedetails          
          
select          
DG.Name as Drug_name          
,P.patientid          
,(p.FirstName+' '+p.LastName) as Patientname_Liberty          
,p.DateOfBirth as DOB_Liberty          
,p.Gender as Gender_Liberty   
,p.SocialSecurityNumber as SSN , P.MedicareBeneficiaryId  
,cast (P.globalid  as int) globalid          
--,D.DoctorId as ProvideID          
,(D.FirstName+' '+D.LastName) Providername          
,D.source_indicator as source_indicator          
--,MD.NDC_UPC_HRI as NDC_Number          
,MD.GenericProductIdentifier as GenericProductIdentifier          
,Md.GPIGenericName          
,DG.NdcNumber          
--,DrugKey          
,cast (st.DateDispensedSQL as date)  DateDispensedSQL          
,sb.RefillsAuthorized          
,sb.FullDispenseQuantity          
,st.QuantityDispensed          
,st.DaysSupply          
,d.NPI          
,st.RefillNumber          
,sb.AuthorizedQuantity,sb.AvailableQuantity          
,sb.RefillUntilDate,st.NextDispensedQuantity          
,DG.Strength,DG.form,DG.Manufacturer,DG.MetricName,DG.MetricUnit ,DG.Is340B  ,  
st.ScriptNumber,sb.cScriptBaseId ,p.cQueueId,q.QueueName,  
ROW_NUMBER() over(order by P.patientid,cast (P.globalid  as int) ,DG.Name) RnkId  ,  
st.TimeStampAsOfDate,  
  st.LastModified st_LastModified,st.sigs,  
  st.IsValid,st.PromiseDateTime,q.QueueName as st_queuename,  
  sb.LastRefillNumber,  
  sb.DateWrittenSQL,sb.OnHold,sb.LastModified Sb_LastModified,st.cScriptTransactionId,  
  case when  OnHold='y' then cast(sb.LastModified as date)  
else cast(DateDispensedSQL as date) end as Deriveddatedispensedsql  
INTO #Libertymedicinedetails          
From PP_ODS..rxqDoctor as D (nolock)          
INNER JOIN PP_ODS..rxqScriptBase as SB (nolock) on D.DoctorId=SB.DoctorId and D.Source_Indicator=SB.Source_Indicator          
INNER JOIN PP_ODS..rxqDrug as DG (nolock) on DG.DrugId=SB.DrugKey and DG.source_indicator=SB.Source_Indicator          
left JOIN PP_ODS..m25_MDDB_G as MD (nolock) on MD.NDC_UPC_HRI=DG.NdcNumber          
INNER JOIN PP_ODS..rxqPatient as P (nolock) on P.PatientId=SB.PatientId and P.Source_Indicator=SB.Source_Indicator          
INNER JOIN PP_ODS..rxqScriptTransaction as ST (nolock) on SB.ScriptNumber=ST.ScriptNumber            
and SB.Source_Indicator=ST.Source_Indicator    
left join PP_ODS..rxqQueue q   
on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator  
where           
DateDispensedSQL >=DATEADD(MONTH, -6, GETDATE()) and sb.LastModified >=DATEADD(MONTH, -6, GETDATE())  
  
  
if exists(  
select  top 1 1   
from   
#Libertymedicinedetails l   
join PatientView p on   
(  
( p.GlobalId = l.globalid and p.GlobalId <>''   
and isnull(p.LastPackDate,'1900-01-01') <= Deriveddatedispensedsql  )  
OR   
(p.GlobalId ='' and p.ssn<>'' AND p.SSN = l.SSN and p.DateOfBirth=l.DOB_Liberty  
and isnull(p.LastPackDate,'1900-01-01') <= Deriveddatedispensedsql   
)  
or   
( p.GlobalId ='' and p.ssn='' and l.Patientname_Liberty =p.PatientName   
and p.DateOfBirth=l.DOB_Liberty  
and isnull(p.LastPackDate,'1900-01-01') <= Deriveddatedispensedsql   
)  
)  
)  
begin   
  
truncate table [dbo].[LibertyMedicationList_CompPack]  
  
insert into [dbo].[LibertyMedicationList_CompPack](  
 [PatientName] ,  
 DateOfBirth ,  
 Globalid ,  
 SSN ,  
 [Drug_name] ,  
 [patientid] ,  
 [DateDispensedSQL] ,  
 [QuantityDispensed] ,  
    [cScriptTransactionId] ,  
 ScriptNumber,  
 [Sigs],  
 [OnHold] ,  
 [Sb_LastModified] ,  
 PharmacyName ,  
 QueueName ,  
 RecordCreatedDate  ,  
 RecordUpdatedDate  )   
  
  
select Patientname_Liberty as PatientName,DOB_Liberty as DateOfBirth,  
l.Globalid,l.SSN,Drug_name,[patientid],DateDispensedSQL,QuantityDispensed,  
[cScriptTransactionId],ScriptNumber,  
Sigs,OnHold,Sb_LastModified,  
case when Source_Indicator='VB' then 'Vanceburg'        
when Source_Indicator='MV' then 'MaysVille'         
when Source_Indicator='TB' then 'Tollesboro'         
when Source_Indicator='CEN' then 'MaysvillePack'         
when Source_Indicator='SS' then 'SouthShore'         
when Source_Indicator='BC' then 'Augusta'         
when Source_Indicator='FB' then 'Flemingsburg'         
when Source_Indicator='ASH' then 'Ashland'         
when Source_Indicator='GR' then 'Grayson'   
when Source_Indicator='MH' then 'MoreHead'  
end as PharmacyName,p.QueueName, getdate() as RecordCreatedDate ,  
getdate() as RecordUpdatedDate  
from   
#Libertymedicinedetails l   
join PatientView p on   
(  
( p.GlobalId = l.globalid and p.GlobalId <>''   
and isnull(p.LastPackDate,'1900-01-01') <= Deriveddatedispensedsql  )  
OR   
(p.GlobalId ='' and p.ssn<>'' AND p.SSN = l.SSN and p.DateOfBirth=l.DOB_Liberty  
and isnull(p.LastPackDate,'1900-01-01') <= Deriveddatedispensedsql   
)  
or   
( p.GlobalId ='' and p.ssn='' and l.Patientname_Liberty =p.PatientName   
and p.DateOfBirth=l.DOB_Liberty  
and isnull(p.LastPackDate,'1900-01-01') <= Deriveddatedispensedsql   
)  
)  
order by Patientname_Liberty,DateDispensedSQL desc ,Sb_LastModified desc   
  
end   
  
update c set Globalid = ''   
from [LibertyMedicationList_CompPack] c  
where Globalid=0  
  
end
GO
