USE [MediTrackerDB_Test]
GO
/****** Object:  View [dbo].[Vw_rxqPatient_backup]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Vw_rxqPatient_backup]    
as    
    
with Cte as     
(    
select GlobalId,SocialSecurityNumber as SSN    
,FirstName +' '+LastName as PatientName,DateOfBirth,    
street,city ,state,zip ,Phone ,    
ROW_NUMBER() over(partition by     
case when Globalid <> '' then  Globalid    
when  Globalid = ''  and SocialSecurityNumber<>'' and    
SocialSecurityNumber not in (    
'0000000  '    
,'00000000 '    
,'000000000')    
then SocialSecurityNumber+replace(cast(DateOfBirth  as varchar(15)),'-','')      
when  Globalid = ''  and   
(SocialSecurityNumber=''   or  SocialSecurityNumber in (    
'0000000  '    
,'00000000 '    
,'000000000') )  
then FirstName +' '+LastName+replace(cast(DateOfBirth  as varchar(15)),'-','') end    
order by SocialSecurityNumber desc ,street desc )RNK,    
case when Globalid <> '' then  Globalid    
when  Globalid = ''  and SocialSecurityNumber<>''     
then SocialSecurityNumber+replace(cast(DateOfBirth  as varchar(15)),'-','')      
when  Globalid = ''  and SocialSecurityNumber=''     
then FirstName +' '+LastName+replace(cast(DateOfBirth  as varchar(15)),'-','') end    
as    
PatientIdentifier    
from pp_ods..rxqPatient p with(nolock)    
)    
    
select cte.GlobalId,cte.SSN,cte.PatientName,cte.DateOfBirth,    
cte.Street,cte.City,cte.State,cte.zip,cte.Phone,    
cte.PatientIdentifier    
from Cte    
left join PatientView p with(nolock) on     
(    
(p.GlobalId=cte.GlobalId and p.GlobalId<>'')    
or     
(cte.GlobalId='' and cte.SSN not in (    
'0000000  '    
,'00000000 '    
,'000000000')    
and cte.ssn=p.ssn and cte.DateOfBirth=p.DateOfBirth )    
or    
(cte.GlobalId='' and cte.ssn='' and cte.DateOfBirth=p.DateOfBirth     
and cte.PatientName=p.PatientName     
)    
)    
where RNK=1 and p.PVID is null 
GO
