USE [MediTrackerDB_Test]
GO
/****** Object:  View [dbo].[vw_calenderinfo]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_calenderinfo]      
as       
select v.DisplayName,v.PatientIdentifier,v.NextPackDate,m.ReviewedDate,v.ActiveStatus,      
v.HomePharmarcy,v.PackPharmarcy , v.DateOfBirth,     
case when m.ReviewedDate is null then 'red' else  m.color end
 as ColourIndicator      
--select *       
from PatientView v with(nolock)      
left join       
PatientMedReviewDetails m  with(nolock) on m.PatientIdentifier=v.PatientIdentifier
GO
