USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[Usp_LibertyMedicationList_CompPack_Get_backup]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*    
exec [dbo].[Usp_LibertyMedicationList_CompPack_Get]    
'126384','406259586','AARON GILBERT','1980-04-01'    
*/    
CREATE procedure [dbo].[Usp_LibertyMedicationList_CompPack_Get_backup]       
(      
@GlobalID  varchar(50),    
@SSN varchar(50),    
@PatientName varchar(100),    
@DateofBirth date     
)      
as      
begin       
    
if (@GlobalID<>'')    
begin     
    
select       
    c.[PatientName] ,      
 c.DateOfBirth ,      
 c.Globalid ,      
 c.SSN ,      
 c.[Drug_name] ,      
 c.[patientid] ,      
 c.[DateDispensedSQL] ,      
 c.[QuantityDispensed] ,    
 c.[Sigs],      
 c.[OnHold] ,      
 c.[Sb_LastModified] ,      
 c.PharmacyName ,c.ScriptNumber,c.cScriptTransactionId     
from [LibertyMedicationList_CompPack] c  with(nolock)       
left join PatientMedicationList p with(nolock)     
on p.cScriptTransactionId=c.cScriptTransactionId      
and p.ScriptNumber=c.ScriptNumber      
join PatientView v with(nolock) on      
v.GlobalId=c.globalid  and       
isnull(v.LastPackDate ,'1900-01-01') <=  c.Sb_LastModified      
where       
(c.globalid=@GlobalID  )      
and p.cScriptTransactionId is null       
order by  c.Globalid,c.SSN,c.Sb_LastModified desc,c.DateDispensedSQL desc,c.Drug_name       
end    
    
else if (@GlobalID='' and @SSN<>'')    
begin     
    
select       
    c.[PatientName] ,      
 c.DateOfBirth ,      
 c.Globalid ,      
 c.SSN ,      
 c.[Drug_name] ,      
 c.[patientid] ,      
 c.[DateDispensedSQL] ,      
 c.[QuantityDispensed] ,    
 c.[Sigs],      
 c.[OnHold] ,      
 c.[Sb_LastModified] ,      
 c.PharmacyName   ,c.ScriptNumber,c.cScriptTransactionId    
from [LibertyMedicationList_CompPack] c  with(nolock)       
left join PatientMedicationList p with(nolock)     
on p.cScriptTransactionId=c.cScriptTransactionId      
and p.ScriptNumber=c.ScriptNumber      
join PatientView v with(nolock) on      
v.SSN=c.SSN  and   v.DateOfBirth=c.DateOfBirth and     
isnull(v.LastPackDate ,'1900-01-01') <=  c.Sb_LastModified      
where       
(c.SSN=@SSN  )      
and p.cScriptTransactionId is null       
order by  c.Globalid,c.SSN,c.Sb_LastModified desc,c.DateDispensedSQL desc,c.Drug_name       
end    
    
else if (@GlobalID='' and @SSN='')    
begin     
    
select       
    c.[PatientName] ,      
 c.DateOfBirth ,      
 c.Globalid ,      
 c.SSN ,      
 c.[Drug_name] ,      
 c.[patientid] ,      
 c.[DateDispensedSQL] ,      
 c.[QuantityDispensed] ,    
 c.[Sigs],      
 c.[OnHold] ,      
 c.[Sb_LastModified] ,      
 c.PharmacyName    ,c.ScriptNumber,c.cScriptTransactionId   
from [LibertyMedicationList_CompPack] c  with(nolock)       
left join PatientMedicationList p with(nolock)     
on p.cScriptTransactionId=c.cScriptTransactionId      
and p.ScriptNumber=c.ScriptNumber      
join PatientView v with(nolock) on      
v.DateOfBirth=c.DateOfBirth and v.PatientName=c.PatientName and    
isnull(v.LastPackDate ,'1900-01-01') <=  c.Sb_LastModified    
where       
(c.PatientName=@PatientName and c.DateOfBirth=@DateofBirth  )      
and p.cScriptTransactionId is null       
order by  c.Globalid,c.SSN,c.Sb_LastModified desc,c.DateDispensedSQL desc,c.Drug_name    
end    
    
    
end    
GO
