USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAllRxqPatientsInfo]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* exec Sp_GetAllRxqPatientsInfo             
 @GlobalId  = null             
,@SocialSecurityNumber = null            
,@DateOfBirth = '1998'            
,@FirstName = null             
,@LastName = null             
,@Source_Indicator = null             
             
 */            
CREATE procedure [dbo].[Sp_GetAllRxqPatientsInfo]            
(            
@GlobalId  varchar(20)   = null            
,@SocialSecurityNumber  varchar(20)      = null         
,@DateOfBirth varchar(20)   = null           
,@FirstName varchar(250)   = null           
,@LastName varchar(250)    = null          
,@Source_Indicator varchar(10) = null      
)            
as             
begin             
           
SET NOCOUNT ON;     
            
select GlobalId,p.PatientId,SocialSecurityNumber,            
 CONVERT(VARCHAR(10), CONVERT(DATE, DateOfBirth, 120), 101)            
 DateOfBirth,FirstName,LastName
 ,cast(p.Source_Indicator as varchar(10))  Source_Indicator ,q.QueueName          
 from pp_ods..rxqPatient p with(nolock)            
 left join pp_ods..rxqPatient_DLT t with(nolock) on t.patientid=p.PatientId             
 and t.Source_Indicator = p.Source_Indicator          
 left join pp_ods..rxqQueue  q on q.cQueueId=p.cQueueId and q.Source_Indicator=p.Source_Indicator        
 where t.patientid is null             
 and (@GlobalId is null or GlobalId=@GlobalId)            
 and (@SocialSecurityNumber is null or SocialSecurityNumber=@SocialSecurityNumber)            
  and (@DateOfBirth is null or CONVERT(VARCHAR(10), CONVERT(DATE, DateOfBirth, 120), 101)        
  like '%'+@DateOfBirth+'%')            
   and (@FirstName is null or FirstName like '%'+@FirstName+'%')            
    and (@LastName is null or LastName like '%'+@LastName+'%')            
  and (@Source_Indicator is null or p.Source_Indicator=@Source_Indicator)            
  order by GlobalId,SocialSecurityNumber,            
 CONVERT(VARCHAR(10), CONVERT(DATE, DateOfBirth, 120), 101)            
 ,FirstName,LastName,p.Source_Indicator            
            
end      
    
GO
