USE [MediTrackerDB_Test]
GO
/****** Object:  Table [dbo].[TimeSlotsReviewHistoryDetails]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlotsReviewHistoryDetails](
	[TSHisID] [int] IDENTITY(1,1) NOT NULL,
	[TSID] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[ReviewedBy] [varchar](100) NULL,
	[ReviewedDate] [datetime] NULL,
	[RecordCreatedBy] [varchar](100) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[HistoryCreatedDate] [datetime] NULL,
	[HistoryCreatedBy] [varchar](100) NULL
) ON [PRIMARY]
GO
