USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetPatientMedSigQuantityDetails]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE procedure [dbo].[Sp_GetPatientMedSigQuantityDetails](@PatientIdentifier varchar(200))  
as   
begin  
  
select * from   
(  
  
SELECT  
                s.Quantity1,  
                s.Quantity2,  
                s.Quantity3,  
                s.Quantity4,  
				s.Quantity0, 
                m.Drug_name,  
                m.IsPacked,  
                m.sigs,  
                m.PatientIdentifier,  
                
  m.ReviewedDate,  
                m.ReviewedBy  
                ,m.PMID  
                ,m.NdcNumber  
                ,m.QuantityDispensed  
                ,m.Prescriber  
            FROM  
                PatientMedicationList m WITH (NOLOCK)  
              JOIN  
                PatientMedSigQuantity s WITH (NOLOCK)  
            ON  
                m.PatientIdentifier = s.PatientIdentifier and m.PMID = s.PMID  
    where s.PatientIdentifier=@PatientIdentifier  
  
union all   
  
SELECT  
                abc.Quantity1,  
        
          abc.Quantity2,  
                abc.Quantity3,  
                abc.Quantity4,  
				 abc.Quantity0, 
                m.Drug_name,  
                m.IsPacked,  
                m.sigs,  
                m.PatientIdentifier,  
                m.ReviewedDate,  
                m.ReviewedBy  
                ,m.PMID  
                ,m.NdcNumber  
                ,m.QuantityDispensed  
                ,m.Prescriber  
            FROM  
                PatientMedicationList m WITH (NOLOCK)  
              left JOIN  
                PatientMedSigQuantity s WITH (NOLOCK)  
            ON  
                m.PatientIdentifier = s.PatientIdentifier and m.PMID = s.PMID  
  
      left join   
            (  
            select drug_name,Quantity1,  
                Quantity2,  
                Quantity3,  
                Quantity4,PatientIdentifier,  Quantity0,
    ROW_NUMBER() over(partition by PatientIdentifier,drug_name   
            order by historycreateddate desc ) RNK  
            from PatientMedSigQuantity_History where DMLType='delete'  
   and PatientIdentifier=@PatientIdentifier  
            ) abc  on abc.rnk=1 and abc.PatientIdentifier=m.PatientIdentifier  
   and abc.Drug_name =REPLACE(m.drug_name, '  ', ' ')  
    where m.PatientIdentifier=@PatientIdentifier and s.PMID is null   
  
    ) a order by Drug_name asc   
  
    end  
  
GO
