USE [MediTrackerDB_Test]
GO
/****** Object:  UserDefinedTableType [dbo].[PatientMedSigQuantityUpdateType]    Script Date: 7/27/2026 6:30:28 AM ******/
CREATE TYPE [dbo].[PatientMedSigQuantityUpdateType] AS TABLE(
	[Quantity0] [decimal](10, 2) NULL,
	[Quantity1] [decimal](10, 2) NULL,
	[Quantity2] [decimal](10, 2) NULL,
	[Quantity3] [decimal](10, 2) NULL,
	[Quantity4] [decimal](10, 2) NULL,
	[PMID] [int] NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[Drug_name] [varchar](200) NULL
)
GO
