USE [MediTrackerDB_Test]
GO
/****** Object:  Table [dbo].[DrugMaster]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DrugName] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DrugMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
