USE [MediTrackerDB_Test]
GO
/****** Object:  UserDefinedTableType [dbo].[PatientScripts]    Script Date: 7/27/2026 6:30:28 AM ******/
CREATE TYPE [dbo].[PatientScripts] AS TABLE(
	[ScriptNumber] [int] NULL,
	[RefillNumber] [int] NULL
)
GO
