USE [MediTrackerDB_Test]
GO
/****** Object:  View [dbo].[Vw_rxqPatient]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Vw_rxqPatient]                
as                
                
select       
 a.GlobalId      
,a.SSN      
,a.PatientName      
,a.DateOfBirth      
--,FORMAT(CONVERT(DATE, a.DateOfBirth), 'MM/dd/yyyy') DateOfBirth      
,a.street      
,a.city      
,a.state      
,a.zip      
,a.Phone   ,a.Phone2   
,a.MediAssist      
,a.RecordCreatedBy      
,a.RecordCreatedDate      
,a.HomePharmarcy      
,a.PatientIdentifier      
,a.DisplayName      
from               
PatientView_AllPatients a with(nolock)            
left join             
[PatientView] p  with(nolock)          
on            
(                  
(p.GlobalId=a.GlobalId and p.GlobalId <>'' and a.GlobalId<>'')            
  or                  
  (             
  (p.GlobalId ='' or a.GlobalId='') and p.ssn<>''                  
and  a.SSN<>''                  
and p.ssn=a.SSN and p.DateOfBirth=a.DateOfBirth                  
  )                  
or                  
  ( (p.GlobalId ='' or a.GlobalId='') and (p.ssn='' or  a.SSN='' )                  
and p.DateOfBirth= a.DateOfBirth and (p.PatientName) = a.PatientName                  
  )                  
)              
where p.PVID is null 
GO
