USE [MediTrackerDB_Test]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PatientMedTimeSlots_Insert]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*            
EXEC Sp_PatientMedTimeSlots_Insert  '224400','2:00AM','10:00AM'            
,'4:00PM','8:00PM','saiabhilash'            
*/            
CREATE PROCEDURE [dbo].[Sp_PatientMedTimeSlots_Insert]            
(            
    @PatientIdentifier VARCHAR(200),            
    @TimeSlot1 VARCHAR(10),            
    @TimeSlot2 VARCHAR(10),            
    @TimeSlot3 VARCHAR(10),            
    @TimeSlot4 VARCHAR(10),   
	@TimeSlot0 VARCHAR(10), --- Added As per Lynn's Request on August 8th 2025
    @user VARCHAR(50)   ,@Role varchar(100)=null         
)            
AS            
BEGIN            
    SET NOCOUNT ON;            
                
    DECLARE @Rowcount INT        
 --,@roledesc varchar(20);          
          
 --select @roledesc = roledesc from UserDetails d  where name=@user          
            
    IF EXISTS (SELECT 1 FROM PatientMedTimeSlots WITH (NOLOCK)        
 WHERE PatientIdentifier = @PatientIdentifier)            
    BEGIN            
        -- Update existing record            
        UPDATE PatientMedTimeSlots            
        SET TimeSlot1 = @TimeSlot1,            
            TimeSlot2 = @TimeSlot2,            
            TimeSlot3 = @TimeSlot3,            
            TimeSlot4 = @TimeSlot4, 
			TimeSlot0 = @TimeSlot0,
            RecordModifiedDate = GETDATE(),            
            RecordModifiedBy = @user ,DMLType='Update'           
        WHERE PatientIdentifier = @PatientIdentifier;            
    END            
    ELSE            
    BEGIN            
        -- Insert new record            
        INSERT INTO PatientMedTimeSlots (TimeSlot1, TimeSlot2, TimeSlot3, TimeSlot4, TimeSlot0,PatientIdentifier, RecordCreatedBy, RecordCreatedDate, RecordModifiedBy, RecordModifiedDate,DMLType)            
        VALUES (@TimeSlot1, @TimeSlot2, @TimeSlot3, @TimeSlot4, @TimeSlot0,@PatientIdentifier, @user, GETDATE(), @user, GETDATE(),'Insert');            
    END            
                
    SET @Rowcount = @@ROWCOUNT;            
                
    IF (@Rowcount > 0 --and isnull(@roledesc,'Dummy') <>'Intern'        
 )            
    BEGIN            
        IF NOT EXISTS (SELECT 1 FROM TimeSlotsReviewDetails           
  WITH (NOLOCK) WHERE PatientIdentifier = @PatientIdentifier)            
        BEGIN            
            -- Insert into TimeSlotsReviewDetails if not exists            
            INSERT INTO TimeSlotsReviewDetails (PatientIdentifier, ReviewedBy,        
   ReviewedDate, RecordCreatedBy, RecordCreatedDate)            
            VALUES (@PatientIdentifier, @user, GETDATE(), @user, GETDATE());            
        END            
        ELSE            
        BEGIN            
            -- Update and insert into history if necessary            
            UPDATE TimeSlotsReviewDetails            
            SET ReviewedBy = @user, ReviewedDate = CAST(GETDATE() AS DATE)            
            OUTPUT deleted.[TSID], deleted.[PatientIdentifier], deleted.[ReviewedBy], deleted.[ReviewedDate], deleted.RecordCreatedBy, deleted.RecordCreatedDate, GETDATE(), @user            
            INTO TimeSlotsReviewHistoryDetails ([TSID], [PatientIdentifier], [ReviewedBy], [ReviewedDate], RecordCreatedBy, RecordCreatedDate, HistoryCreatedDate, HistoryCreatedBy)            
            WHERE PatientIdentifier = @PatientIdentifier            
            AND (            
                ReviewedBy <> @user            
                OR CAST(ReviewedDate AS DATE) <> CAST(GETDATE() AS DATE)            
            );            
        END            
    END            
END; 
GO
