USE [MediTrackerDB_Test]
GO
/****** Object:  Table [dbo].[PatientView_AllPatients]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientView_AllPatients](
	[PVAPID] [int] IDENTITY(1,1) NOT NULL,
	[GlobalId] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[MediAssist] [varchar](10) NULL,
	[RecordCreatedBy] [varchar](50) NULL,
	[RecordCreatedDate] [datetime] NULL,
	[HomePharmarcy] [nvarchar](50) NULL,
	[PatientIdentifier] [varchar](200) NULL,
	[DisplayName] [varchar](200) NULL,
	[Phone2] [varchar](50) NULL
) ON [PRIMARY]
GO
