USE [MediTrackerDB_Test]
GO
/****** Object:  View [Insights].[vw_GetPackMissedPatients]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [Insights].[vw_GetPackMissedPatients]  
as  
select pv.DisplayName,pv.NextPackDate,p.ReviewedDate LastReviewedDate
,p.ReviewedBy LastReviewedBy,pv.Notes  
,pv.PackPharmarcy  ,pv.PackPharmarcy as DisplayPackPharmarcy
from MediTrackerDB_PROD.report.vw_patientreviewdetails p   
join MediTrackerDB_PROD..PatientView pv on pv.PatientIdentifier =p.PatientIdentifier  
where ActiveStatus='active'  
--and ReviewedDate < cast(getdate() as date)   
and NextPackDate < cast(getdate() as date)  
  
union   
  
select pv.DisplayName,pv.NextPackDate,p.ReviewedDate,p.ReviewedBy,pv.Notes  
,'ALL'  as PackPharmarcy  ,pv.PackPharmarcy as DisplayPackPharmarcy
from MediTrackerDB_PROD.report.vw_patientreviewdetails p   
join MediTrackerDB_PROD..PatientView pv on pv.PatientIdentifier =p.PatientIdentifier  
where ActiveStatus='active'  
--and ReviewedDate < cast(getdate() as date)   
and NextPackDate < cast(getdate() as date)  
GO
