USE [MediTrackerDB_Test]
GO
/****** Object:  View [Insights].[vw_GetReviewedPatientsByRecordId]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [Insights].[vw_GetReviewedPatientsByRecordId]
as
select PackPharmarcy,recordid,YEAR(ReviewedDate) ReviewedYear
,DATENAME(MONTH,ReviewedDate) ReviewedMonth
,count(distinct PatientIdentifier) TotalReviewed
from pp_ods..vw_GetMedTrackerPatientsByUsers
group by PackPharmarcy,YEAR(ReviewedDate),DATENAME(MONTH,ReviewedDate),recordid
--order by PackPharmarcy,YEAR(ReviewedDate),DATENAME(MONTH,ReviewedDate),recordid

union 

select 'ALL' as PackPharmarcy,recordid,YEAR(ReviewedDate) ReviewedYear
,DATENAME(MONTH,ReviewedDate) ReviewedMonth
,count(distinct PatientIdentifier) TotalReviewed
from pp_ods..vw_GetMedTrackerPatientsByUsers
group by YEAR(ReviewedDate),DATENAME(MONTH,ReviewedDate),recordid

GO
