USE [MediTrackerDB_Test]
GO
/****** Object:  View [Insights].[vw_GetMedtrackerPatientCnt]    Script Date: 7/27/2026 6:30:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [Insights].[vw_GetMedtrackerPatientCnt]
as
select 'ALL' PackPharmarcy,
Count(distinct PackPharmarcy) PackPharmacies
,count(1) TotalPatients
,sum( case when ActiveStatus<>'active' then 1 else 0 end) InActivePatients
,sum( case when ActiveStatus='active' then 1 else 0 end) ActivePatients
,sum(case when ActiveStatus='active' and NextPackDate is not null 
and NextPackDate >= cast(getdate() as date)
then 1 else 0 end ) PackedPatients
,sum(case when ActiveStatus='active' and NextPackDate is not null 
and NextPackDate < cast(getdate() as date)
then 1 else 0 end ) PackMissedPatients
,sum(case when ActiveStatus='active' and NextPackDate is null 
then 1 else 0 end ) NotPackedPatients
from MediTrackerDB_PROD..vw_calenderinfo with(nolock)

union

select PackPharmarcy,
Count(distinct PackPharmarcy) PackPharmacies
,count(1) TotalPatients
,sum( case when ActiveStatus<>'active' then 1 else 0 end) InActivePatients
,sum( case when ActiveStatus='active' then 1 else 0 end) ActivePatients
,sum(case when ActiveStatus='active' and NextPackDate is not null 
and NextPackDate >= cast(getdate() as date)
then 1 else 0 end ) PackedPatients
,sum(case when ActiveStatus='active' and NextPackDate is not null 
and NextPackDate < cast(getdate() as date)
then 1 else 0 end ) PackMissedPatients
,sum(case when ActiveStatus='active' and NextPackDate is null 
then 1 else 0 end ) NotPackedPatients
from MediTrackerDB_PROD..vw_calenderinfo with(nolock)
group by PackPharmarcy

GO
